<ion-modal-view ng-controller="AddCourseController">
      <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title">Add a class</h1>
        <button ng-click="hideCourseModal()" class="button button-clear button-positive">Cancel</button>
      </ion-header-bar>
      <ion-content>
        <div class="add-class margin-top-20" ng-click="addUniversityModal.show()" ng-show="!user.university">
          <div style="color: rgba(0, 0, 0, 0.6); margin:10px 10px 10px 0px; font-size:16px; text-align:left"> First, tell us where you go to school.
          </div>
          <div class="add-item-box" ng-click="addCourseModal.show()"> 
            <div class="green-box"><span class="icon ion-plus"></span>
            </div>
            <div class="md-box">
              <div class="text">
                Select University
              </div>
            </div>
          </div>
        </div>
        <div class="list-class">
          <ul class="list">
            <li class="item bold" ng-repeat="course in matchingCourses" ng-click="courseSelected(course)">
              {{course.short_name}} <span class="gray">{{course.title}}</span>
            </li>
            <li class="item green" ng-show="user.university && false">
              Class not listed?</span>
            </li>
          </ul>
        
        </div>
      </ion-content>
      
      <ion-footer-bar class="bar-footer item-input-inset" keyboard-attach ng-show="user.university">
          
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>

              <input type="search" name="course-input" class="form-control"
                      fast-matcher
                      fast-matcher-source="courses"
                      fast-matcher-output="matchingCourses"
                      fast-matcher-properties="short_name, long_name"
                      fast-matcher-any-word="true"
                      fast-matcher-limit="10"
                      fast-matcher-preserve-order="true"
                      fast-matcher-case-insensitive="true"
                      placeholder="Search {{courses.length}} Available Courses"
                      ng-model="course_search_text"
                      ng-blur="setCourseFocus()"
              />
          </label>

          <button class="button button-clear button-positive" ng-show="course_search_text.length" ng-click="clearSearchInput()">
          Clear
          </button>  

      </ion-footer-bar>
  </ion-modal-view>
