<div class='relative' style='height:calc(100%); width:calc(100%);' eval-on-load="onLoad()" ng-class="{'overflow-inherit': !desktopMode && root.vars.showSidebarOneProjector}">
    <!-- @gabrielle, do not not remove  init-wp-parent -->
    <main id='home-splash' init-wp-parent class='splash-landing' bind-wp="s1_top">
        <!-- Sidebar -->
        <ion-pane id='cta-modal-sidebar' ng-if='sidebar.activate' class='full-xy hide-display cta-modal fixed top-0 left-0 high-z-index' ng-include="img_base + BASE + 'templates/splash/layout/splash.sidebar.html'"> </ion-pane>

        <!-- Mobile + desktop navs -->
        <div id='splash-desktop-nav' class='full-x' ng-if='nav.activate' ng-include="img_base + BASE + 'templates/splash/container/splash.nav.html'">
        </div>
        <!-- One page dropdown -->
        <div id='splash-one-page-pulldown' ng-if="activate.pulldown" class='relative full-xy high-z-index' ng-include="img_base + 'templates/splash/layout/splash.one.pulldown.html'">
        </div>

        <div id='cta-modal-powerups'  class='relative full-xy high-z-index' ng-include="img_base + 'templates/splash/layout/splash.powerups.html'">
        </div>

        <section id='splash-home' class='splash-hero' class-on-clear="null:inject.splash-hero-markers|clear" parallax-parent="p1" parallax-relative-input="false" parallax-clip-relative-input="false" parallax-calibration-threshold="100" parallax-calibration-delay="500" parallax-support-delay="500" parallax-calibrate-x="false" parallax-calibrate-y="true" parallax-invert-x="true" parallax-invert-y="true" parallax-limit-x="false" parallax-limit-y="false" parallax-scalar-x="5.0" parallax-scalar-y="5.0" parallax-friction-x="0.1" parallax-friction-y="0.1" parallax-origin-x="0.5" parallax-origin-y="0.5" style='z-index:10;'>


            <!-- Map Layout -->
            <div id='splash-map-layout' ng-if='activate.map' class='full-xy absolute left-0 top-0' ng-include="img_base + BASE + 'templates/splash/layout/splash.maps.html'">
            </div>

            <!-- Device container -->
            <div id='splash-device-container'  ng-include="img_base + BASE + 'templates/splash/container/splash.device.container.html'">
            </div>

            <!-- Madlib container -->
            <div id='splash-madlib-container' ng-include="img_base + BASE + 'templates/splash/container/splash.madlib.container.html'">
            </div>


            <!-- @gabrielle can we see if we can we fit this within the button container? -->
            <button ng-click='lockFilledBlanksAndgetUniversityPlaces(selectedUniversity)' class="button-find-guru splash-mobile-cta opacity-0 animated" class-on-click="a:inject.splash-device-button|bounceOutDown, a:inject.splash-mobile-cta|bounceOutDown, a:inject.coach-click|hide, a:inject.splash-hero-map|activate, a:inject.splash-hero-markers|a, a:inject.splash-device|a, a:inject.splash-device-search|activate, a:inject.coach-help-mobile|hide, a:inject.splash-adlib|a, a:inject.splash-adlib ul|clear, a:inject.splash-adlib|bounceOutUp:animOut, null:inject.splash-hero-progress|activate, null:inject.splash-hero-progress span|animate">Find My Guru</button>
            <!-- end Splash adlib-->


            <!--Resolve this?-->
            <div class="coach-scroll">
                <svg viewBox="0 0 656 256" class="opacity-0 animated">
                    <g fill="none">
                        <rect stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="16,14" x="3" y="3" width="650" height="54" rx="16"></rect>
                        <text font-family="Source Sans Pro" font-size="32" font-weight="normal" line-spacing="40" fill="#FFFFFF">
                            <tspan x="42.392" y="40">or scroll down to find uguru at your school!</tspan>
                        </text>
                        <path d="M331,58 L331,253.041016" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="16,14"></path>
                    </g>
                </svg>
            </div>


            <!--Progress component-->
            <div class="splash-hero-progress progress white opacity-0" activate-on-class="a" class-on-activate="active">
                <span style="width: 15%;"></span>
            </div>

        </section>
        <!--End scene #1 mad lib-->

        <section ng-if='project.activate' class='hide'ng-include="img_base + BASE + 'templates/splash/layout/projector.swiper.html'" id='splash-projector' init-wp="s2_50_top, s2_25_top, s2_top" wp-offset="50%, 25%, 1%">
        </section>

        <section ng-if='false' ng-if='layout.activate' ng-include="img_base + BASE + 'templates/splash/layout/splash.transition.layouts.html'" id='splash-transition-containers'>

        </section>

    </main>
</div>