<!--
    Purpose of this page: to select a card to charge or add a new one
-->
<section id="request-three" class="request-slide request-essay request-pledge relative">
	<header>
		<h1>Honor Pledge</h1>
	</header>
	<div class="request-content">
		<div>
			<ol>
				<li ng-repeat='_dict in honorPledgeArr'><span>{{_dict.content}}</span></li>
			</ol>
			<input type="text" value="{{user.name}}" />
			<label>{{user.name}}</label>
		</div>
    </div>
	
	<button ng-if='!desktopMode'>Next</button>
</section>