<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>What is Uguru?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>uGuru <strong> helps connect college students with peer tutors (Gurus)</strong> who have done well in the same classes in school.</p>
		<p>We have all experienced that helpless feeling when you are stuck in the library by yourself the night before exams because you can’t find help outside the classroom.</p>
		<p>Traditional tutoring is too expensive. Office hours are too packed. Why not make it easy for students to get help from each other?</p>
		<p><strong>So we created a platform to make peer-to-peer help available and affordable.</strong></p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>Who are you guys?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>We are a team of college students and graduates who are passionate about turning the unnecessary academic competition into collaborative learning opportunities, starting with Cal (Berkeley).</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>How is uGuru different comparing to traditional private tutoring?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>Traditional private tutoring costs anywhere from $30 to $60 per hour, and that is ridiculously expensive for poor college students living on top ramen. Since it’s students helping each other, sessions on uGuru are super affordable ($15/hr on average).</p>
		<p>uGuru also focuses on making urgent help available, especially when you are in a jam, and need to cram.</p>
		<p>Most importantly, students are getting help directly from peer tutors that have done well in the same exact courses at Cal, instead of random “experts” who are not familiar with the students particular course.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>Who can sign up as a Guru?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>Everyone can sign up as a Guru, but you will need to prove yourself before you can start charging your students. You will give free sessions until you receive an average rating of 4.5 stars. Most good Gurus can do that in one shot and become an official Guru.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>What is the time commitment as a Guru?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>No time commitment required at all! Signing up to be a guru makes it possible for you to receive work, but you are not obligated to take a job if it doesn’t fit your schedule or if you’re cramming for your own midterm. You set your own schedule based upon which sessions you choose to accept.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>Which classes are offered?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>The class selection is based upon what courses gurus have signed up to tutor. The larger the course, the more likely a guru has signed up to tutor that course. Currently, the largest selection of gurus are available for lower division courses and for writing help.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>Why should I choose uGuru over other resources available on campus ?
			</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>uGuru offers personal attention and time flexibility which are often not offered by other resources on campus. With uGuru, students wouldn’t have to worry about competing for the tutor’s time with other students.</p>
		<p>uGuru tutors are also available at times that are convenient to the student, whether that be on the weekends or late in the night right before a midterm. Overall, it’s easier, and faster.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>What’s the price generally?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>Prices vary, but usually around $15 per hour. You name your own price when you request help, and Gurus also get to reply with their ideal price. We also provide recommended rates depending on the time of the semester (ex: a higher offer helps you attract Gurus during finals season).</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>How do students and Gurus get matched up?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>Student sends out a Guru request for a class, specifying a preferred price, time, and location to meet.</p>
		<p>We pin all the Gurus who registered for the class with the request. Based on their availability, Gurus could ignore or accept the request, with the option of changing the price to how much they’d like to get paid.</p>
		<p>Student then choose from up to 3 Gurus based on their ratings, relevant attributes and experience.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>How do students and Gurus get matched up?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<ol>
			<li>
				Student sends out a Guru request for a class, specifying a preferred price, time, and location to meet.
			</li>
			<li>
				We pin all the Gurus who registered for the class with the request. Based on their availability, Gurus could ignore or accept the request, with the option of changing the price to how much they’d like to get paid.
			</li>
			<li>
				Student then choose from up to 3 Gurus based on their ratings, relevant attributes and experience.
			</li>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>How do students and Gurus get matched up?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>After each payment through the platform, students give the Guru a review and a rating, which will be appear on the Guru’s profile to help other students compare their options.</p>
		<p>Generally, Gurus with higher ratings and higher number of reviews are more popular and are compensated more per hour.</p>
	</dd>
</dl>
<dl class="pure-u-1">
	<dt>
		<a href="#">
			<span><h3>How does a student reconnect with the same Guru again?</h3></span>
			<span>{% include "web/components/nav/plus.svg" %}</span>
		</a>
	</dt>
	<dd>
		<p>Since our Gurus are awesome, it is common that students would like to have more sessions with the same Guru after the first time.</p>
		<p>You can re-request from the same Guru, and if the Guru doesn’t respond, the request gets sent to other available Gurus.</p>
	</dd>
</dl>
</div>