<ion-view>
	<main id='desktop-balance' class="sidebar-layout guru-mode desktop-mode" ng-if='desktopMode'>
		<header class="desktop-header">
			<a></a>
			<a class='cta-modal-close close-button desktop-header-next'>
				<svg viewBox="0 0 100 100">
					<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
				</svg>
			</a>
		</header>
		<div class="main" ng-controller='PaymentsController'>
			<ion-pane id='cta-modal-payments' class='full-xy hide-display cta-modal'>
				<div class='full-xy absolute top-0 left-0 guru-desktop-forms'>
					<div class="main flex-wrap-center" ng-include="img_base + BASE + 'templates/desktop.payment.forms.container.html'"></div>
				</div>
			</ion-pane>
			<div>
				<aside>
					<h2>Payment History</h2>
					<ul class="sidebar-layout-list">
						<li ng-repeat='transaction in user.guru_transactions'>
							<div>
								<h3>You cashed out <b>${{transaction.guru_amount}}</b> to <b>**{{transaction.card.card_last4}}</b></h3>
								<span>{{transaction.time.date}} {{transaction.time.month}} {{transaction.time.year}}</span>
							</div>
							<span>
								<span class="chip bg-charcoal uppercase" ng-if='transaction.transfer_status'>{{transaction.transfer_status}}</span>
							</span>
						</li>
					</ul>
				</aside>
				<div class="text-center">
					<div>
						<div>
							<h1>Current Balance</h1>
							<div id="balance-total">
								<span>${{user.balance || 0}}</span>
							</div>
							<h4 class='text-center' style='opacity:0.6'>Total Earned:<strong style='font-weight:900'>${{user.total_earned}}</strong></h4>
						</div>
						<div class="balance-cards">
							<h2>Choose Method to Cash Out</h2>
							<ul class="ugrid-3">
								<li name='cards' ng-repeat='card in user.transfer_cards' ng-if='card.is_transfer_card || card.is_bank_account'>
									<a class='credit-card-wrapper' ng-click='editPayment(card)'>
										<!-- BIND -->
										<div id="credit-card-visa" class="credit-card cf">
											<!-- BIND -->
											<span ng-if='(card.is_payment_card || card.is_transfer_card) && card.card_type' class="card-type" ng-include="img_base + BASE + 'templates/cards/{{card.card_type}}.html'"></span>
											<span ng-if='(card.is_payment_card || card.is_transfer_card) && !card.card_type' class="card-type">Debit Card</span>
											<span ng-if='card.is_bank_account' class="card-type bg-slate txt-smoke p05xy" style='font-size:16px;'>Bank Account</span>
											<div class="card-number">**** **** **** {{card.card_last4}}</div>
											<div class="card-name">{{user.name}}</div>
											<div class="valid">
												<div class="group">Valid<br/>Thru</div>
												<div class="expiry">**/**</div>
											</div>
										</div>
									</a>
									<div class='text-center' ng-if='card.is_default_transfer'>
										<h3 class='p10xy'>
											<strong class='uppercase txt-shamrock'>Default</strong>
										</h3>
									</div>
								</li>
								<li>
									<a id='cta-box-payments' class='cta-box'>
										<span>
											<svg viewBox="0 0 100 100">
												<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
											</svg>
											<span>Add New</span>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<button class="bg-moola" ng-click='cashoutUser()'>Cash Out</button>
				</div>
			</div>
		</div>
	</main>
</ion-view>