<!-- 1 -->
<!-- <ul ng-if='current_file.selected_variation.scene_states && current_file.selected_variation.scene_states.length && !settings.activated'>
	<li ng-repeat='scene_state in current_file.selected_variation.scene_states track by $index'><a ng-click='page.mode.scene.switchTo(current_file.selected_variation, $index)' ng-class="{'active': scene_state.active}">{{$index + 1}}</a></li>
</ul> -->


<!-- 2 -->
<!-- <nav class="build-aside-state"> -->

	<!-- <ul ng-repeat='scene_state in current_file.selected_variation.scene_states track by $index' ng-if="scene_state.active">
		<li>
			<div>
				<h2>State #{{$index + 1}}</h2>
				<h1 class='uppercase opacity-80'>{{scene_state.name}}</h1>
			</div>
		</li>
		<li>
			<div>
				<dropdown class='full-x' ng-model="page.dropdowns.modes"></dropdown>
			</div>
		</li>
	</ul> -->
<!-- </nav> -->

<!-- 3 -->
<!-- <li class="build-play-all">
	<a ng-click='playStates(current_file.variations[current_file.selectedIndex].components)' ng-include="img_base + BASE + 'templates/svg/main/play.html'"></a>
	<dropdown class="full-x" size="small" ng-if="page.dropdowns.templates" ng-model="page.dropdowns.templates"></dropdown>
</li>
<li><a class="bg bg-moxie" ng-include="img_base + BASE + 'templates/svg/main/save.html'" ng-click='saveCurrentStatesToLocalStorage()'></a></li>
<li><a ng-click='refreshAllComponents()' class="opacity-50" ng-include="img_base + BASE + 'templates/svg/main/switch.html'"></a></li> -->

