<a class='close-popup-link' id='confirm-phone-close-popup-link'>
    <svg viewBox="0 0 100 100">
	    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
	</svg>
</a>
<div class='uguru-popup-content'>
	<div class='guru-logo-container'>
		<div class='svg-logo-wrapper' ng-include="img_base + 'templates/green-guru-svg.html'"> </div>
	</div>
    <div class='content-wrapper'>
	    <div class="content-body">
	        <h2>Confirm Phone Number</h2>
			<input class="input-ghost-dark full-x m15top" type='tel' ng-model='popupInput.phoneConfirm' placeholder='510-121-1242' id='phone-number-input'/>
			<input class="input-ghost-dark full-x m15top" type="password" ng-model='popupInput.code' ng-show='user.phone_number_token' placeholder='confirm code' id='confirm-code-input'/>
	    </div>
	    <div class="content-footer">
			<button class='semibold bg-campus white-text submit' id='send-confirm-code'>
				 <span ng-if='popupInput.phoneConfirm && popupInput.code' >Verify</span>
				 <span ng-if='!user.phone_number_token' >Send Verification</span>
				 <span ng-if='user.phone_number_token && !popupInput.code' >Re-Verify</span>
			</button>
		</div>
    </div>
</div>