<ion-view>
    <ion-content class='full-xy relative'>
        <div class="full-xy flex-center bg-robin">
            <svg width="804px" height="418px" viewBox="0 0 804 418" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g fill="none" fill-rule="evenodd">
                    <!-- .mask is the path that needs to be modified for the inside to shrink or expand-->
                    <path d="M0,0 L804,0 L804,418 L0,418 L0,0 Z M217,41 L587,41 L587,351 L217,351 L217,41 Z" class="mask" fill="#8A9EA3"></path>
                    
                    <!-- this is .mask with the inside path at 50% width and height -->
                    <!-- <path d="M0,0 L804,0 L804,418 L0,418 L0,0 Z M310,119 L495,119 L495,274 L310,274 L310,119 Z" class="mask" fill="#8A9EA3"></path> -->
                    
                    <polygon class="apron-shadow" fill="#2B3234" opacity="0.5" points="9.5 404 794.5 404 794.5 418 9.5 418"></polygon>
                    <polygon class="apron-main" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="9.5 357.5 794.5 357.5 794.5 402.5 9.5 402.5 9.5 357.5"></polygon>
                    <path d="M201.5,32 L601.5,32 L601.5,357.5 L201.5,357.5 L201.5,32 L201.5,32 Z M217,41 L587,41 L587,351 L217,351 L217,41 Z" class="jam-main" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <polyline class="inner-highlight" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="217 41 587 41 587 351"></polyline>
                    <rect class="side-jam-left" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" x="16.5" y="32" width="185" height="325.5"></rect>
                    <polygon class="side-jam-right" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="786.5 32 601.5 32 601.5 357.5 786.5 357.5"></polygon>
                    <path d="M786.5,35 L786.5,354.5" class="window-inner-midtone" stroke="#696269" stroke-width="3" stroke-linecap="square" stroke-linejoin="round"></path>
                    <g class="curtain-left-container">
                        <polygon class="curtain-left" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="#F2BFC1" points="31.5 32 201.5 32 201.5 357.5 31.5 357.5"></polygon>
                        <g stroke="#696269" stroke-width="3" stroke-linecap="square" opacity="0.3">
                            <path d="M67,35 L67,354.5" class="drape-left-4"></path>
                            <path d="M104,35 L104,354.5" class="drape-left-3"></path>
                            <path d="M141,35 L141,354.5" class="drape-left-2"></path>
                            <path d="M178,35 L178,354.5" class="drape-left-1"></path>
                        </g>
                    </g>
                    <g class="curtain-right-container">
                        <polygon class="curtain-right" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="#F2BFC1" points="771.5 32 601.5 32 601.5 357.5 771.5 357.5"></polygon>
                        <g stroke="#696269" stroke-width="3" stroke-linecap="square" opacity="0.3">
                            <path d="M736,35 L736,354.5" class="drape-right-4"></path>
                            <path d="M699,35 L699,354.5" class="drape-right-3"></path>
                            <path d="M662,35 L662,354.5" class="drape-right-2"></path>
                            <path d="M625,35 L625,354.5" class="drape-right-1"></path>
                        </g>
                    </g>
                    <path d="M1.5,357.5 L802.5,357.5 L1.5,357.5 Z" class="stool" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <polygon class="casing-top-shadow" fill="#2B3234" opacity="0.5" points="802.5 32 802.5 62 1.5 62 1.5 32"></polygon>
                    <polygon class="casing-top-main" stroke="#2B3234" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="802.5 0.5 802.5 32 1.5 32 1.5 0.5 802.5 0.5"></polygon>
                    <path d="M1.5,1.5 L802.5,1.5 L1.5,1.5 Z" class="casing-top-border" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
        </div>
    </ion-content>
</ion-view>