<ion-view>
    <ion-content class='full-xy relative'>
        <div class="full-xy">
            <div class='full-x lyt-1-3-sidebar p15-grid' style="height: calc(100% - 130px)">
                <div class="flex-center">
                    <div class="relative" id='svg-wrapper'>
                        <svg width="300px" height="300px" viewBox="0 0 300 300" draw-shapes class='activate'>
                            <path d="M206.691406,88.125 C211.032198,63.4660978 181.92849,44.7800933 160,41.1796875 C119.824209,34.5832848 70.5706247,73.9198422 75.5195312,116.03125 C77.7427037,134.948747 124.364508,143.521528 135.546875,144.933594 C160.895622,148.134534 235.544598,140.738105 239.296875,181.246094 C240.094652,189.858558 239.5132,198.587099 238.558594,207.183594 C236.02008,230.043603 198.089492,246.515391 181.492188,253.871094 C168.909775,259.44745 155.997687,264.295975 142.957031,268.695312 C86.6178372,287.701651 73.4749199,261.009027 46.6132812,212.371094 C38.4640058,197.615333 40.0436766,198.576559 39.203125,183.46875" id="demo-trace" class="demo-path" stroke="#979797" stroke-width="15" fill="none" draw-duration="2s"></path>
                        </svg>

                        <svg width="15px" height="15px" class='absolute top-0 left-0'>
                            <rect trace-path="#demo-trace" trace-duration="10s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="demo-trace" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
                        </svg>
                    </div>
                </div>
                <aside>
                    <textarea class="full-xy radius-2 resize-none radius-2 p10y-p15x txt-18 bg-slate txt-white" ng-model='cssText'></textarea>
                </aside>
            </div>
            <div>
                <fieldset class="input-basic p15xy full-x bg-slate">
                    <input class="txt-center" type="text" ng-model='full_animation_string'>
                </fieldset>
                <button class='full-x bg-moxie' ng-click="playAnimation(full_animation_string);">{{buttonText}}!</button>
            </div>
        </div>
    </ion-content>
</ion-view>