<ion-view class='uguru-view guru-view settings-view'>
	<main id='desktop-settings' class="desktop-mode ng-class{'student-mode':!root.vars.guru_mode}" ng-show='isDesktopMode()'>
		<nav class='main-nav' ng-include="img_base + BASE + 'templates/desktop.nav.html'"></nav>
		<div class="main default">
			<h1>Settings</h1>
			<div class='relative'>
				<div>
					<h2>Profile Picture</h2>
					<ul>
						<li>
							<!-- <img id='desktop-settings-profile-img' ng-src="{{user.profile_url}}" id='guru-profile-img' width="100" height="100"/> -->
							<user-icon id='desktop-settings-profile-img' size="large"  url="user.profile_url"> </user-icon>

						</li>
						<li>
							<button ng-click="uploadDesktopPhoto()" class="btn-ghost-white">Upload New Photo</button>
						</li>
					</ul>
				</div>
				<div>
					<h2>Name</h2>
					<a name='edit-name' ng-click='launchEditStudentNamePopup($event)'>
						<div class="input-field">
							<input charsMode="caps" name='usr-name' class="validate" type="text" placeholder="{{user.name}}" ng-model='user.name' />
						</div>
					</a>
				</div>
				<div class="ugrid-2">
					<div>
						<h2>Email</h2>
						<a name='edit-email' ng-click='launchEditEmailPopup($event)'>
							<div class="input-field">
								<input name="email" class="validate" type='email' placeholder="username@school.edu" ng-model="user.email"/>
								<label for="email" data-error="Please use a valid email address">&nbsp;</label>
							</div>
						</a>
					</div>
					<div>
						<h2>Password</h2>
						<a name='edit-pwd' ng-click='launchEditPasswordPopup($event)'>
							<div class="input-field">
								<input class="validate" ng-model='user.password' type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"/>
							</div>
						</a>
					</div>
				</div>
				<div class="ugrid-2 p10y">
					<div class='desktop-notifications-grid-item'>
						<div>
							<h2>Text Notifications</h2>
							<p class="hide ng-class:{'show':user.phone_number}">
								<small>
									<a ng-click='confirmPhonePopup($event)'>{{user.phone_number}}
									<span class='hide uppercase txt-slate weight-900 ng-class:{"show":user.phone_number && !user.phone_number_confirmed}'>unconfirmed</span>
									</a>
								</small>
							</p>
							<p class="hide ng-class:{'show':!user.phone_number}">
								<small><a ng-click='confirmPhonePopup($event)'>+ Add Phone Number</a></small>
							</p>
						</div>
						<div>
							<a name='text-toogle' ng-click='toggleTextNotifications()'>
								<svg viewBox="0 0 100 100">
	                                <circle class='notifications-circle ng-class:{"active":user.text_notifications && user.phone_number_confirmed}' cx="50" cy="50" r="36"></circle>
	                                <path class='notifications-path' d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
	                            </svg>
							</a>
						</div>
					</div>
					<div class='desktop-notifications-grid-item'>
						<div>
							<h2>Email Notifications</h2>
							<p><small>{{user.email}}</small></p>
						</div>
						<div>
							<a name='email-toogle' ng-click='toggleEmailNotifications()'>
								<svg viewBox="0 0 100 100">
	                                <circle class='notifications-circle ng-class:{"active":user.email_notifications}' cx="50" cy="50" r="36"></circle>
	                                <path class='notifications-path ng-class:{"active":user.email_notifications}' d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
	                            </svg>
							</a>
						</div>
					</div>
				</div>
				<div ng-if='!root.vars.hs_mode'>
					<a name='edit-university' ng-click='openModal("university")'>
						<h2>University</h2>
						<div class="input-field">
							<input name='usr-university' type='text' placeholder="{{user.university.name}}" ng-model='user.university.title'/>
						</div>
					</a>
				</div>
				<div class="settings-save bottom-0">
					<a name="goBackHome" class="btn-ghost-white" ng-click='goBackHome()'>Go Back</a>
					<button name='save-setting'  class="btn-ghost-white" ng-click='saveSettings()'>Save All</button>
				</div>
			</div>
		</div>
	</main>
	<input type='file' id='file-input-web-sidebar' onchange="angular.element(this).scope().file_changed(this)" style='display:none'/>
</ion-view>
