<ion-view class="bg-smoke">
	<a id='guru-profile-cta-close' class='cta-modal-close close-button high-z-index' ng-click='!desktopMode && page.modals.team.hide()'>
        <svg viewBox="0 0 100 100">
            <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
        </svg>
    </a>
	<main id="team">
		<header class="no-graphic">
			<h1>Meet the Team</h1>
		</header>
		<section>
			<ul class="pf-card-group">
				<li>
					<a class="pf-card pf-card-tech">
						<span class="pf-hover">View Profile</span>
						<div class="pf-card-top">
							<ul>
								<li>Samir's Tech Zone</li>
								<li>
									<span></span>
								</li>
							</ul>
							<span class="user-icon" style="background-image: url(https://uguru.me/static/web/images/team/samir.png);"></span>
						</div>
						<div class="pf-card-main">
							<h1 class="verified">
								<span class="inline">Samir Makhani</span>
								<span class="inline">
									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
								</span>
							</h1>
							<h2 class="pf-school">UC Berkeley</h2>
							<h2 class="pf-school">Founder</h2>
							<p class="pf-quote">“Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus.“</p>
						</div>
					</a>
				</li>

				<li>
					<a class="pf-card pf-card-household">
						<span class="pf-hover">View Profile</span>
						<div class="pf-card-top">
							<ul>
								<li>Gabri's Clean Design</li>
								<li>
									<span></span>
								</li>
							</ul>
							<span class="user-icon" style="background-image: url(https://uguru.me/static/web/images/team/gabrielle.png);"></span>
						</div>
						<div class="pf-card-main">
							<h1 class="verified">
								<span class="inline">Gabrielle Wee</span>
								<span class="inline">
									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
								</span>
							</h1>
							<h2 class="pf-school">Ex'pression College</h2>
							<h2 class="pf-school">UI/UX Designer</h2>
							<p class="pf-quote">“Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus.“</p>
						</div>
					</a>
				</li>

				<li>
					<a class="pf-card pf-card-baking">
						<span class="pf-hover">View Profile</span>
						<div class="pf-card-top">
							<ul>
								<li>Jason's Quality Bakery</li>
								<li>
									<span></span>
								</li>
							</ul>
							<span class="user-icon" style="background-image: url(https://uguru.me/static/web/images/team/jason.png);"></span>
						</div>
						<div class="pf-card-main">
							<h1 class="verified">
								<span class="inline">Jason Huang</span>
								<span class="inline">
									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
								</span>
							</h1>
							<h2 class="pf-school">San Jose State University</h2>
							<h2 class="pf-school">Quality Assurance Engineer</h2>
							<p class="pf-quote">“Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus.“</p>
						</div>
					</a>
				</li>

				<li>
					<a class="pf-card pf-card-photography">
						<span class="pf-hover">View Profile</span>
						<div class="pf-card-top">
							<ul>
								<li>Jeselle's Design Shop</li>
								<li>
									<span></span>
								</li>
							</ul>
							<span class="user-icon" style="background-image: url(https://uguru.me/static/web/images/team/jeselle.png);"></span>
						</div>
						<div class="pf-card-main">
							<h1 class="verified">
								<span class="inline">Jeselle Obina</span>
								<span class="inline">
									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
								</span>
							</h1>
							<h2 class="pf-school">UIUC</h2>
							<h2 class="pf-school">Product &amp; Graphic Designer</h2>
							<p class="pf-quote">“Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus.“</p>
						</div>
					</a>
				</li>

				<li ng-if='false'>
					<a class="pf-card pf-card-academic">
						<span class="pf-hover">View Profile</span>
						<div class="pf-card-top">
							<ul>
								<li>Ben's Data Tutoring</li>
								<li>
									<span></span>
								</li>
							</ul>
							<span class="user-icon" style="background-image: url(https://uguru.me/static/web/images/team/ben.png);"></span>
						</div>
						<div class="pf-card-main">
							<h1 class="verified">
								<span class="inline">Ben Dalal</span>
								<span class="inline">
									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
								</span>
							</h1>
							<h2 class="pf-school">Berkeley City College</h2>
							<h2 class="pf-school">Data Scientist</h2>
							<p class="pf-quote">“Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus.“</p>
						</div>
					</a>
				</li>
			</ul>
		</section>
	</main>
</ion-view>