@import '../../../../shared/css/scss/partials/mixin';

.splash-landing {
	// overflow-x: hidden;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	background: $slate;
}

.splash-hero {
	@include flex;
	@include flex-center;
	@include flex-wrap;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.splash-group-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.splash-hero-skip {
	margin: 15px;
	@include round;
	background: rgba($slate, .5);
	button {
		// @include opacity(.5);
		@include rotate(-15);
		@include round;
		background: rgba(white, .6);
		width: 48px;
		height: 48px;
		font-size: 14px;
		border: 2px solid white;
		padding: 0!important;
		font-weight: 600;
		text-transform: uppercase;
		color: white!important;
		white-space: nowrap;
		&:hover, &:focus {
			background: rgba(mix($robin, white), .6);
		}
		&:active {
			background: rgba(mix($shamrock, white), .6);
		}
		@media screen and (min-height: 568px) {
			width: 64px;
			height: 64px;
			font-size: 20px;
		}
	}
}
