/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (min-device-height: 320px)
  and (max-device-height: 480px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/ {


    .ratings-modal .small-screen-extra-50-padding-top {
      padding-top:50px;
    }

    .small-screen-no-padding-top {
      padding-top:0px;
    }

    .onboarding-loading #_4 {
        top: 25.5%;
        left: 24%;
        height: 10.8%;
    }



    .ranking-img {
      /*position:fixed;*/
      width: 60%;
      left: 20%;
      top: 13.5%;
    }

    .ranking-text-container .font-300 {
      font-size:250%;
    }

    .ranking-text-container .th-text {
      right: 20%;
    }

    .ranking-text-container {
      padding:18% 20% 10% 20%;
      position:relative;

    }

    select.student-width {
      width:23.5% !important;
      padding:0.0em 0em 0em 0.1em;
      margin:0em 0.2em 0em 0.1em;
      line-height: 1.6em
    }

    select.professional-width {
      width:37% !important;
    }

    .onboarding-loading #_1 {
      top: 32%;
      right: 23%;
      height: 4.33%;
    }

    .popover {
      width: 80%!important;
      left:10% !important;
    }

    .popover-backdrop

      .title {
        font-size:150% !important;

      }

    .popover-backdrop

      p {
        font-size:90% !important;
        opacity:0.4;
      }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  and (orientation: portrait) {


    select.student-width {
      width:21.5% !important;
      text-indent:0px;
    }


    .platform-android select.student-width {
      width:23.5% !important;

    }

    select.professional-width {
      width:32% !important;
      margin-right:0.2em;
      margin-left:0.1em;
    }

    select.hs-student-width {
      width:28.5% !important;
      margin-right:0.2em;
      margin-left:0.1em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (min-device-height: 481px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/ {
    .onboarding-loading #_1 {
      top: 34.25%;
      right: 20%;
      height: 4.33%;
    }
    select.student-width {
      width:23.5% !important;
      padding:0.0em 0em 0em 0.1em;
      margin:0em 0.1em 0em 0.1em;
      line-height: 1.66em
    }
    .onboarding-loading #_4 {
      top: 28%;
      left: 22%;
      height: 10.8%;
    }

    .popover {
      width: 80%!important;
      left:10% !important;
    }

    .popover-backdrop

      .title {
        font-size:150% !important;

      }

    .popover-backdrop

      p {
        font-size:90% !important;
        opacity:0.4;
      }

    .popover-arrow {
      left:45%;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  and (orientation: portrait) {

    select.student-width {
      width:21.5% !important;
      margin-right:0.0em;
      margin-left:0em;
    }

    .platform-android select.student-width{
      width:24% !important;
    }

    .platform-android select.professional-width{
      width:34.5% !important;
    }

    .platform-android select.hs-student-width{
      width:31% !important;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 568px)
  and (max-device-width: 667px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/ {

    .onboarding-loading #_1 {
      top: 34.25%;
      right: 20%;
      height: 4.33%;
    }
    .onboarding-loading #_4 {
      top: 28%;
      left: 22%;
      height: 10.8%;
    }

    .student-width {
      width: 40%;
    }



    .popover {
      width: 80%!important;
      left:10% !important;
    }

    .popover-backdrop

      .title {
        font-size:150% !important;

      }

    .popover-backdrop

      p {
        font-size:90% !important;
        opacity:0.4;
      }

    .popover-arrow {
      left:45%;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  and (orientation: portrait) {

    select.student-width {
      width:21% !important;
      text-indent:0px;
      margin-right:0.2em;
    }


    .tip-of-day-container {
      padding:10% 0% 10% 0% !important;
    }


    select.professional-width {
      width:32% !important;
    }

    select.hs-student-width {
      width:28.5% !important;
      margin-right:0.1em;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 667px)
  and (max-device-width: 736px)
  /*and (-webkit-min-device-pixel-ratio: 3) */{

    .onboarding-loading #_1 {
      top: 34.25%;
      right: 20%;
      height: 4.33%;
    }
    .onboarding-loading #_4 {
      top: 28%;
      left: 22%;
      height: 10.8%;
    }



}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}



