@import 'partials/mixin';

/*---------- TABLE OF CONTENTS */
// BASE STYLES
	// → reset
	// → base
// LAYOUT
	// → flex
	// → grid
	// → layouts
	// → margin
	// → padding
	// → height
	// → width
	// → visibility
	// → opacity
	// → positioning
	// → z-index
	// → overflow
// TEXT
	// → styles
	// → weights
	// → sizes
// COLOR
	// → text
	// → background
	// → border
	// → stroke
	// → fill
// BORDERS & SVGS
	// → border widths
	// → svg sizes
	// → stroke widths


/*---------- BASE STYLES */
// reset
// html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
// *, *:before, *:after { box-sizing: border-box }
//
// // base
// body, html {
// 	height: 100%;
// }
// body {
// 	background: white;
// 	color: $wine;
// 	font-family: $font;
// 	text-rendering: optimizeLegibility;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-overflow-scrolling: touch;
// }
// a {
// 	cursor: pointer;
// }

#jeselle {
	/*---------- LAYOUT */
	// flex
	[class*="flex"] {
		@include flex;
		&[class*="-wrap"] {
			@include flex-wrap;
		}
		&[class*="-center"]:not([class*="-center-vertical"]) {
			@include flex-center;
		}
		&[class*="center-vertical"] {
			@include flex-center-vertical;
		}
		&[class*="-start"] {
			@include prefix(align-items, flex-start!important, webkit);
			@include prefix(align-content, flex-start!important, webkit);
		}
		&[class*="-end"] {
			@include prefix(align-items, flex-end!important, webkit);
			@include prefix(align-content, flex-end!important, webkit);
		}
		&[class*="-start-self"] {
			@include prefix(align-self, flex-start!important, webkit);
		}
		&[class*="-end-self"] {
			@include prefix(align-self, flex-end!important, webkit);
		}
		&[class*="-right"] {
			@include prefix(justify-content, flex-end!important, webkit);
		}
		&[class*="-left"] {
			@include prefix(justify-content, flex-start!important, webkit);
		}
		&[class*="-middle"] {
			@include prefix(justify-content, center!important, webkit);
		}
		&[class*="-space-between"] {
			@include prefix(justify-content, space-between!important, webkit);
		}
	}
	// layouts
	.lyt-1-3-header {
		> header {
			width: 100%;
			height: calc(100% / 3);
		}
		> *:not(header) {
			width: 100%;
			height: calc(100% / 3 * 2);
		}
	}
	.lyt-1-4-header {
		> header {
			width: 100%;
			height: 25%;
		}
		> *:not(header) {
			width: 100%;
			height: 75%;
		}
	}
	.lyt-1-3-sidebar {
		@include flex;
		> aside {
			width: calc(100% / 3);
			height: 100%;
		}
		> *:not(aside) {
			width: calc(100% / 3 * 2);
			height: 100%;
		}
	}
	.lyt-1-4-sidebar {
		@include flex;
		> aside {
			width: 25%;
			height: 100%;
		}
		> *:not(aside) {
			width: 75%;
			height: 100%;
		}
	}
	// grid
	[class*="grid-"] {
		@include listless;
		@include flex;
		@include flex-wrap;
		&[class*="grid-1"] {
			> * {
				width: 100%;
			}
		}
		&[class*="grid-2"] {
			> * {
				width: 50%;
			}
		}
		&[class*="grid-3"] {
			> * {
				width: calc(100% / 3);
			}
		}
		&[class*="grid-4"] {
			> * {
				width: 25%;
			}
		}
		&[class*="grid-5"] {
			> * {
				width: 20%;
			}
		}
		&[class*="grid-6"] {
			> * {
				width: calc(100% / 6);
			}
		}
		&[class*="grid-7"] {
			> * {
				width: calc(100% / 7);
			}
		}
		&[class*="grid-8"] {
			> * {
				width: calc(100% / 8);
			}
		}
		&[class*="grid-9"] {
			> * {
				width: calc(100% / 9);
			}
		}
		&[class*="grid-10"] {
			> * {
				width: 10%;
			}
		}
		&[class*="grid-11"] {
			> * {
				width: calc(100% / 11);
			}
		}
		&[class*="grid-12"] {
			> * {
				width: calc(100% / 12);
			}
		}
	}

	// margin
	[class*="margin-none"], [class*="m-none"] {
		margin: 0;
	}
	[class*="margin-auto"], [class*="m-auto"] {
		margin-left: auto;
		margin-right: auto;
	}
	[class*="x"] {
		&[class*="m03x"] {
			margin-left: 3px;
			margin-right: 3px;
		}
		&[class*="m06x"] {
			margin-left: 6px;
			margin-right: 6px;
		}
		&[class*="m09x"] {
			margin-left: 9px;
			margin-right: 9px;
		}
		&[class*="m12x"] {
			margin-left: 12px;
			margin-right: 12px;
		}
		&[class*="m24x"] {
			margin-left: 24px;
			margin-right: 24px;
		}
	}
	[class*="y"] {
		&[class*="m03y"] {
			margin-top: 3px;
			margin-bottom: 3px;
		}
		&[class*="m06y"] {
			margin-top: 6px;
			margin-bottom: 6px;
		}
		&[class*="m09y"] {
			margin-top: 9px;
			margin-bottom: 9px;
		}
		&[class*="m12y"] {
			margin-top: 12px;
			margin-bottom: 12px;
		}
		&[class*="m24y"] {
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}
	[class*="xy"] {
		&[class*="m03xy"] {
			margin: 3px;
		}
		&[class*="m06xy"] {
			margin: 6px;
		}
		&[class*="m09xy"] {
			margin: 9px;
		}
		&[class*="m12xy"] {
			margin: 12px;
		}
		&[class*="m24xy"] {
			margin: 24px;
		}
	}
	[class*="top"] {
		&[class*="m03top"] {
			margin-top: 3px;
		}
		&[class*="m06top"] {
			margin-top: 6px;
		}
		&[class*="m09top"] {
			margin-top: 9px;
		}
		&[class*="m12top"] {
			margin-top: 12px;
		}
		&[class*="m24top"] {
			margin-top: 24px;
		}
	}
	[class*="bottom"] {
		&[class*="m03bottom"] {
			margin-bottom: 3px;
		}
		&[class*="m06bottom"] {
			margin-bottom: 6px;
		}
		&[class*="m09bottom"] {
			margin-bottom: 9px;
		}
		&[class*="m12bottom"] {
			margin-bottom: 12px;
		}
		&[class*="m24bottom"] {
			margin-bottom: 24px;
		}
	}
	[class*="left"] {
		&[class*="m03left"] {
			margin-left: 3px;
		}
		&[class*="m06left"] {
			margin-left: 6px;
		}
		&[class*="m09left"] {
			margin-left: 9px;
		}
		&[class*="m12left"] {
			margin-left: 12px;
		}
		&[class*="m24left"] {
			margin-left: 24px;
		}
	}
	[class*="right"] {
		&[class*="m03right"] {
			margin-right: 3px;
		}
		&[class*="m06right"] {
			margin-right: 6px;
		}
		&[class*="m09right"] {
			margin-right: 9px;
		}
		&[class*="m12right"] {
			margin-right: 12px;
		}
		&[class*="m24right"] {
			margin-right: 24px;
		}
	}

	// padding
	.p12-grid {
		padding: 6px;
		> * {
			padding: 6px;
		}
	}
	[class*="padding-none"] {
		padding: 0;
	}
	[class*="x"] {
		&[class*="p03x"] {
			padding-left: 3px;
			padding-right: 3px;
		}
		&[class*="p06x"] {
			padding-left: 6px;
			padding-right: 6px;
		}
		&[class*="p09x"] {
			padding-left: 9px;
			padding-right: 9px;
		}
		&[class*="p12x"] {
			padding-left: 12px;
			padding-right: 12px;
		}
		&[class*="p24x"] {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	[class*="y"] {
		&[class*="p03y"] {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&[class*="p09y"] {
			padding-top: 6px;
			padding-bottom: 6px;
		}
		&[class*="p09y"] {
			padding-top: 9px;
			padding-bottom: 9px;
		}
		&[class*="p12y"] {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		&[class*="p24y"] {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
	[class*="xy"] {
		&[class*="p03xy"] {
			padding: 3px;
		}
		&[class*="p06xy"] {
			padding: 6px;
		}
		&[class*="p09xy"] {
			padding: 9px;
		}
		&[class*="p12xy"] {
			padding: 12px;
		}
		&[class*="p24xy"] {
			padding: 24px;
		}
	}
	[class*="top"] {
		&[class*="p03top"] {
			padding-top: 3px;
		}
		&[class*="p06top"] {
			padding-top: 6px;
		}
		&[class*="p09top"] {
			padding-top: 9px;
		}
		&[class*="p12top"] {
			padding-top: 12px;
		}
		&[class*="p24top"] {
			padding-top: 24px;
		}
	}
	[class*="bottom"] {
		&[class*="p03bottom"] {
			padding-bottom: 3px;
		}
		&[class*="p06bottom"] {
			padding-bottom: 6px;
		}
		&[class*="p09bottom"] {
			padding-bottom: 9px;
		}
		&[class*="p12bottom"] {
			padding-bottom: 12px;
		}
		&[class*="p24bottom"] {
			padding-bottom: 24px;
		}
	}
	[class*="left"] {
		&[class*="p03left"] {
			padding-left: 3px;
		}
		&[class*="p06left"] {
			padding-left: 6px;
		}
		&[class*="p09left"] {
			padding-left: 9px;
		}
		&[class*="p12left"] {
			padding-left: 12px;
		}
		&[class*="p24left"] {
			padding-left: 24px;
		}
	}
	[class*="right"] {
		&[class*="p03right"] {
			padding-right: 3px;
		}
		&[class*="p06right"] {
			padding-right: 6px;
		}
		&[class*="p09right"] {
			padding-right: 9px;
		}
		&[class*="p12right"] {
			padding-right: 12px;
		}
		&[class*="p24right"] {
			padding-right: 24px;
		}
	}

	// height
	.height-05 {
		height: 5px!important;
	}
	.height-10 {
		height: 10px!important;
	}
	.height-15 {
		height: 15px!important;
	}
	.height-24 {
		height: 24px!important;
	}
	.height-32 {
		height: 32px!important;
	}
	.height-36 {
		height: 36px!important;
	}
	.height-48 {
		height: 48px!important;
	}
	.height-64 {
		height: 64px!important;
	}
	.height-72 {
		height: 72px!important;
	}
	.height-84 {
		height: 84px!important;
	}
	.height-96 {
		height: 96px!important;
	}
	.height-128 {
		height: 128px!important;
	}

	.height-10p {
		height: 10%!important;
	}
	.height-25p {
		height: 25%!important;
	}
	.height-33p {
		height: calc(100% / 3)!important;
	}
	.height-50p {
		height: 50%!important;
	}
	.height-66p {
		height: calc(100% / 3 * 2)!important;
	}
	.height-75p {
		height: 75%!important;
	}

	// width
	.width-05 {
		width: 5px!important;
	}
	.width-10 {
		width: 10px!important;
	}
	.width-15 {
		width: 15px!important;
	}
	.width-24 {
		width: 24px!important;
	}
	.width-32 {
		width: 32px!important;
	}
	.width-36 {
		width: 36px!important;
	}
	.width-48 {
		width: 48px!important;
	}
	.width-64 {
		width: 64px!important;
	}
	.width-72 {
		width: 72px!important;
	}
	.width-84 {
		width: 84px!important;
	}
	.width-96 {
		width: 96px!important;
	}
	.width-128 {
		width: 128px!important;
	}

	.width-10p {
		width: 10%!important;
	}
	.width-25p {
		width: 25%!important;
	}
	.width-33p {
		width: calc(100% / 3)!important;
	}
	.width-50p {
		width: 50%!important;
	}
	.width-66p {
		width: calc(100% / 3 * 2)!important;
	}
	.width-75p {
		width: 75%!important;
	}

	// visibility
	.inline {
		display: inline!important;
	}
	.inline-block {
		display: inline-block!important;
	}
	.block, .show {
		display: block!important;
	}
	.hide {
		display: none!important;
	}
	.visible {
		visibility: visible!important;
	}
	.hidden {
		visibility: hidden!important;
	}

	// opacity
	.opacity-0, .transparent {
		@include opacity(0);
	}
	.opacity-10p {
		@include opacity(0.1);
	}
	.opacity-20p {
		@include opacity(0.2);
	}
	.opacity-25p {
		@include opacity(0.25);
	}
	.opacity-30p {
		@include opacity(0.3);
	}
	.opacity-40p {
		@include opacity(0.4);
	}
	.opacity-50p {
		@include opacity(0.5);
	}
	.opacity-60p {
		@include opacity(0.6);
	}
	.opacity-70p {
		@include opacity(0.7);
	}
	.opacity-75p {
		@include opacity(0.75);
	}
	.opacity-80p {
		@include opacity(0.8);
	}
	.opacity-90p {
		@include opacity(0.9);
	}
	.opacity-100p {
		@include opacity(1);
	}

	// positioning
	.absolute {
		position: absolute!important;
	}
	.relative {
		position: relative!important;
	}
	.fixed {
		position: fixed!important;
	}
	.top-0 {
		top: 0!important;
	}
	.bottom-0 {
		bottom: 0!important;
	}
	.left-0 {
		left: 0!important;
	}
	.right-0 {
		right: 0!important;
	}

	// z-index
	.z-index-0 {
		z-index: 0!important;
	}
	.z-index-1 {
		z-index: 1!important;
	}
	.z-index-2 {
		z-index: 2!important;
	}
	.z-index-3 {
		z-index: 3!important;
	}
	.z-index-4 {
		z-index: 4!important;
	}
	.z-index-5 {
		z-index: 5!important;
	}
	.z-index-6 {
		z-index: 6!important;
	}
	.z-index-7 {
		z-index: 7!important;
	}
	.z-index-8 {
		z-index: 8!important;
	}
	.z-index-9 {
		z-index: 9!important;
	}
	.z-index-10 {
		z-index: 10!important;
	}

	.z-index--1000 {
		z-index: -1000!important;
	}

	.z-index-99 {
		z-index: 99!important;
	}
	.z-index-100 {
		z-index: 100!important;
	}
	.z-index-999 {
		z-index: 999!important;
	}
	.z-index-1000 {
		z-index: 1000!important;
	}
	.z-index-1001 {
		z-index: 1001!important;
	}
	.z-index-2000 {
		z-index: 2000!important;
	}

	.z-index--2000 {
		z-index: -2000!important;
	}

	// overflow
	.overflow-hidden {
		overflow: hidden;
	}
	.overflow-auto {
		overflow: auto;
	}
	.overflow-x {
		overflow-x: auto;
	}
	.overflow-y {
		overflow-y: auto;
	}

	/*---------- TEXT */
	// styles
	.txt-left {
		text-align: left!important;
	}
	.txt-right {
		text-align: right!important;
	}
	.txt-center {
		text-align: center!important;
	}
	.space-1 {
		letter-spacing: 1px;
	}
	.space-2 {
		letter-spacing: 2px;
	}
	.space-3 {
		letter-spacing: 3px;
	}
	.lowercase {
		text-transform: lowercase!important;
	}
	.uppercase, .caps {
		text-transform: uppercase!important;
	}
	.lettercase {
		text-transform: capitalize!important;
	}

	// weights
	[class*="weight-"] {
		&[class*="100"] {
			font-weight: 100;
			* {
				font-weight: 100;
			}
		}
		&[class*="200"] {
			font-weight: 200;
			* {
				font-weight: 200;
			}
		}
		&[class*="300"] {
			font-weight: 300;
			* {
				font-weight: 300;
			}
		}
		&[class*="400"] {
			font-weight: 400;
			* {
				font-weight: 400;
			}
		}
		&[class*="500"] {
			font-weight: 500;
			* {
				font-weight: 500;
			}
		}
		&[class*="600"] {
			font-weight: 600;
			* {
				font-weight: 600;
			}
		}
		&[class*="700"] {
			font-weight: 700;
			* {
				font-weight: 700;
			}
		}
		&[class*="800"] {
			font-weight: 800;
			* {
				font-weight: 800;
			}
		}
		&[class*="900"] {
			font-weight: 900;
			* {
				font-weight: 900;
			}
		}
	}
	[class*="extralight"] {
		font-weight: 100;
		* {
			font-weight: 100;
		}
	}
	[class*="-light"],
	.light {
		font-weight: 200;
		* {
			font-weight: 200;
		}
	}
	[class*="book"] {
		font-weight: 300;
		* {
			font-weight: 300;
		}
	}
	[class*="regular"] {
		font-weight: 400;
		* {
			font-weight: 400;
		}
	}
	[class*="semibold"] {
		font-weight: 600;
		* {
			font-weight: 600;
		}
	}
	[class*="-bold"],
	.bold {
		font-weight: 700;
		* {
			font-weight: 700;
		}
	}
	[class*="extrabold"] {
		font-weight: 800;
		* {
			font-weight: 800;
		}
	}
	[class*="black"] {
		font-weight: 900;
		* {
			font-weight: 900;
		}
	}

	// sizes
	.txt-14 {
		font-size: 14px!important;
	}
	.txt-16 {
		font-size: 16px!important;
	}
	.txt-18 {
		font-size: 18px!important;
	}
	.txt-20 {
		font-size: 20px!important;
	}
	.txt-24 {
		font-size: 24px!important;
	}
	.txt-28 {
		font-size: 28px!important;
	}
	.txt-32 {
		font-size: 32px!important;
	}
	.txt-36 {
		font-size: 36px!important;
	}
	.txt-48 {
		font-size: 48px!important;
	}
	.txt-64 {
		font-size: 64px!important;
	}

	/*---------- COLOR */
	// text
	.txt-white {
		color: white;
	}
	.txt-wine {
		color: $wine;
	}
	.txt-rose {
		color: $rose;
	}
	.txt-ice {
		color: $ice;
	}
	.txt-grey {
		color: $grey;
	}
	.txt-lavendar {
		color: $lavendar;
	}
	.txt-midnight {
		color: $midnight;
	}
	.txt-slate {
		color: $slate;
	}

	// background
	.bg-transparent, [class*="bg-transparent"] {
		background: transparent!important;
	}
	[class*="bg-white"] {
		background: white;
		&[class*="bg-white-05p"] {
			background: rgba(white, .05);
		}
		&[class*="bg-white-10p"] {
			background: rgba(white, .1);
		}
		&[class*="bg-white-20p"] {
			background: rgba(white, .2);
		}
		&[class*="bg-white-25p"] {
			background: rgba(white, .25);
		}
		&[class*="bg-white-50p"] {
			background: rgba(white, .5);
		}
		&[class*="bg-white-75p"] {
			background: rgba(white, .75);
		}
		&[class*="bg-white-80p"] {
			background: rgba(white, .8);
		}
		&[class*="bg-white-90p"] {
			background: rgba(white, .9);
		}
	}
	[class*="bg-wine"] {
		background: $wine;
		&[class*="bg-wine-05p"] {
			background: rgba($wine, .05);
		}
		&[class*="bg-wine-10p"] {
			background: rgba($wine, .1);
		}
		&[class*="bg-wine-20p"] {
			background: rgba($wine, .2);
		}
		&[class*="bg-wine-25p"] {
			background: rgba($wine, .25);
		}
		&[class*="bg-wine-50p"] {
			background: rgba($wine, .5);
		}
		&[class*="bg-wine-75p"] {
			background: rgba($wine, .75);
		}
		&[class*="bg-wine-80p"] {
			background: rgba($wine, .8);
		}
		&[class*="bg-wine-90p"] {
			background: rgba($wine, .9);
		}
	}
	[class*="bg-rose"] {
		background: $rose;
		&[class*="-05p"] {
			background: rgba($rose, .05);
		}
		&[class*="bg-rose-10p"] {
			background: rgba($rose, .1);
		}
		&[class*="bg-rose-20p"] {
			background: rgba($rose, .2);
		}
		&[class*="bg-rose-25p"] {
			background: rgba($rose, .25);
		}
		&[class*="bg-rose-50p"] {
			background: rgba($rose, .5);
		}
		&[class*="bg-rose-75p"] {
			background: rgba($rose, .75);
		}
		&[class*="bg-rose-80p"] {
			background: rgba($rose, .8);
		}
		&[class*="bg-rose-90p"] {
			background: rgba($rose, .9);
		}
	}
	[class*="bg-ice"] {
		background: $ice;
		&[class*="bg-ice-05p"] {
			background: rgba($ice, .05);
		}
		&[class*="bg-ice-10p"] {
			background: rgba($ice, .1);
		}
		&[class*="bg-ice-20p"] {
			background: rgba($ice, .2);
		}
		&[class*="bg-ice-25p"] {
			background: rgba($ice, .25);
		}
		&[class*="bg-ice-50p"] {
			background: rgba($ice, .5);
		}
		&[class*="bg-ice-75p"] {
			background: rgba($ice, .75);
		}
		&[class*="bg-ice-80p"] {
			background: rgba($ice, .8);
		}
		&[class*="bg-ice-90p"] {
			background: rgba($ice, .9);
		}
	}
	[class*="bg-grey"] {
		background: $grey;
		&[class*="bg-grey-05p"] {
			background: rgba($grey, .05);
		}
		&[class*="bg-grey-10p"] {
			background: rgba($grey, .1);
		}
		&[class*="bg-grey-20p"] {
			background: rgba($grey, .2);
		}
		&[class*="bg-grey-25p"] {
			background: rgba($grey, .25);
		}
		&[class*="bg-grey-50p"] {
			background: rgba($grey, .5);
		}
		&[class*="bg-grey-75p"] {
			background: rgba($grey, .75);
		}
		&[class*="bg-grey-80p"] {
			background: rgba($grey, .8);
		}
		&[class*="bg-grey-90p"] {
			background: rgba($grey, .9);
		}
	}
	[class*="bg-lavendar"] {
		background: $lavendar;
		&[class*="bg-lavendar-05p"] {
			background: rgba($lavendar, .05);
		}
		&[class*="bg-lavendar-10p"] {
			background: rgba($lavendar, .1);
		}
		&[class*="bg-lavendar-20p"] {
			background: rgba($lavendar, .2);
		}
		&[class*="bg-lavendar-25p"] {
			background: rgba($lavendar, .25);
		}
		&[class*="bg-lavendar-50p"] {
			background: rgba($lavendar, .5);
		}
		&[class*="bg-lavendar-75p"] {
			background: rgba($lavendar, .75);
		}
		&[class*="bg-lavendar-80p"] {
			background: rgba($lavendar, .8);
		}
		&[class*="bg-lavendar-90p"] {
			background: rgba($lavendar, .9);
		}
	}
	[class*="bg-midnight"] {
		background: $midnight;
		&[class*="bg-midnight-05p"] {
			background: rgba($midnight, .05);
		}
		&[class*="bg-midnight-10p"] {
			background: rgba($midnight, .1);
		}
		&[class*="bg-midnight-20p"] {
			background: rgba($midnight, .2);
		}
		&[class*="bg-midnight-25p"] {
			background: rgba($midnight, .25);
		}
		&[class*="bg-midnight-50p"] {
			background: rgba($midnight, .5);
		}
		&[class*="bg-midnight-75p"] {
			background: rgba($midnight, .75);
		}
		&[class*="bg-midnight-80p"] {
			background: rgba($midnight, .8);
		}
		&[class*="bg-midnight-90p"] {
			background: rgba($midnight, .9);
		}
	}
	[class*="bg-slate"] {
		background: $slate;
		&[class*="bg-slate-05p"] {
			background: rgba($slate, .05);
		}
		&[class*="bg-slate-10p"] {
			background: rgba($slate, .1);
		}
		&[class*="bg-slate-20p"] {
			background: rgba($slate, .2);
		}
		&[class*="bg-slate-25p"] {
			background: rgba($slate, .25);
		}
		&[class*="bg-slate-50p"] {
			background: rgba($slate, .5);
		}
		&[class*="bg-slate-75p"] {
			background: rgba($slate, .75);
		}
		&[class*="bg-slate-80p"] {
			background: rgba($slate, .8);
		}
		&[class*="bg-slate-90p"] {
			background: rgba($slate, .9);
		}
	}

	// border
	.border-white {
		border-color: white;
	}
	.border-wine {
		border-color: $wine;
	}
	.border-rose {
		border-color: $rose;
	}
	.border-ice {
		border-color: $ice;
	}
	.border-grey {
		border-color: $grey;
	}
	.border-lavendar {
		border-color: $lavendar;
	}
	.border-midnight {
		border-color: $midnight;
	}
	.border-slate {
		border-color: $slate;
	}

	// stroke
	.svg-stroke-white {
		stroke: white;
	}
	.svg-stroke-wine {
		stroke: $wine;
	}
	.svg-stroke-rose {
		stroke: $rose;
	}
	.svg-stroke-ice {
		stroke: $ice;
	}
	.svg-stroke-grey {
		stroke: $grey;
	}
	.svg-stroke-lavendar {
		stroke: $lavendar;
	}
	.svg-stroke-midnight {
		stroke: $midnight;
	}
	.svg-stroke-slate {
		stroke: $slate;
	}

	// fill
	.fill-none {
		fill: none!important;
	}
	[class*="fill-white"] {
		fill: white;
		&[class*="fill-white-05p"] {
			fill: rgba(white, .05);
		}
		&[class*="fill-white-10p"] {
			fill: rgba(white, .1);
		}
		&[class*="fill-white-20p"] {
			fill: rgba(white, .2);
		}
		&[class*="fill-white-25p"] {
			fill: rgba(white, .25);
		}
		&[class*="fill-white-50p"] {
			fill: rgba(white, .5);
		}
		&[class*="fill-white-75p"] {
			fill: rgba(white, .75);
		}
		&[class*="fill-white-80p"] {
			fill: rgba(white, .8);
		}
		&[class*="fill-white-90p"] {
			fill: rgba(white, .9);
		}
	}
	[class*="fill-wine"] {
		fill: $wine;
		&[class*="fill-wine-05p"] {
			fill: rgba($wine, .05);
		}
		&[class*="fill-wine-10p"] {
			fill: rgba($wine, .1);
		}
		&[class*="fill-wine-20p"] {
			fill: rgba($wine, .2);
		}
		&[class*="fill-wine-25p"] {
			fill: rgba($wine, .25);
		}
		&[class*="fill-wine-50p"] {
			fill: rgba($wine, .5);
		}
		&[class*="fill-wine-75p"] {
			fill: rgba($wine, .75);
		}
		&[class*="fill-wine-80p"] {
			fill: rgba($wine, .8);
		}
		&[class*="fill-wine-90p"] {
			fill: rgba($wine, .9);
		}
	}
	[class*="fill-rose"] {
		fill: $rose;
		&[class*="-05p"] {
			fill: rgba($rose, .05);
		}
		&[class*="fill-rose-10p"] {
			fill: rgba($rose, .1);
		}
		&[class*="fill-rose-20p"] {
			fill: rgba($rose, .2);
		}
		&[class*="fill-rose-25p"] {
			fill: rgba($rose, .25);
		}
		&[class*="fill-rose-50p"] {
			fill: rgba($rose, .5);
		}
		&[class*="fill-rose-75p"] {
			fill: rgba($rose, .75);
		}
		&[class*="fill-rose-80p"] {
			fill: rgba($rose, .8);
		}
		&[class*="fill-rose-90p"] {
			fill: rgba($rose, .9);
		}
	}
	[class*="fill-ice"] {
		fill: $ice;
		&[class*="fill-ice-05p"] {
			fill: rgba($ice, .05);
		}
		&[class*="fill-ice-10p"] {
			fill: rgba($ice, .1);
		}
		&[class*="fill-ice-20p"] {
			fill: rgba($ice, .2);
		}
		&[class*="fill-ice-25p"] {
			fill: rgba($ice, .25);
		}
		&[class*="fill-ice-50p"] {
			fill: rgba($ice, .5);
		}
		&[class*="fill-ice-75p"] {
			fill: rgba($ice, .75);
		}
		&[class*="fill-ice-80p"] {
			fill: rgba($ice, .8);
		}
		&[class*="fill-ice-90p"] {
			fill: rgba($ice, .9);
		}
	}
	[class*="fill-grey"] {
		fill: $grey;
		&[class*="fill-grey-05p"] {
			fill: rgba($grey, .05);
		}
		&[class*="fill-grey-10p"] {
			fill: rgba($grey, .1);
		}
		&[class*="fill-grey-20p"] {
			fill: rgba($grey, .2);
		}
		&[class*="fill-grey-25p"] {
			fill: rgba($grey, .25);
		}
		&[class*="fill-grey-50p"] {
			fill: rgba($grey, .5);
		}
		&[class*="fill-grey-75p"] {
			fill: rgba($grey, .75);
		}
		&[class*="fill-grey-80p"] {
			fill: rgba($grey, .8);
		}
		&[class*="fill-grey-90p"] {
			fill: rgba($grey, .9);
		}
	}
	[class*="fill-lavendar"] {
		fill: $lavendar;
		&[class*="fill-lavendar-05p"] {
			fill: rgba($lavendar, .05);
		}
		&[class*="fill-lavendar-10p"] {
			fill: rgba($lavendar, .1);
		}
		&[class*="fill-lavendar-20p"] {
			fill: rgba($lavendar, .2);
		}
		&[class*="fill-lavendar-25p"] {
			fill: rgba($lavendar, .25);
		}
		&[class*="fill-lavendar-50p"] {
			fill: rgba($lavendar, .5);
		}
		&[class*="fill-lavendar-75p"] {
			fill: rgba($lavendar, .75);
		}
		&[class*="fill-lavendar-80p"] {
			fill: rgba($lavendar, .8);
		}
		&[class*="fill-lavendar-90p"] {
			fill: rgba($lavendar, .9);
		}
	}
	[class*="fill-midnight"] {
		fill: $midnight;
		&[class*="fill-midnight-05p"] {
			fill: rgba($midnight, .05);
		}
		&[class*="fill-midnight-10p"] {
			fill: rgba($midnight, .1);
		}
		&[class*="fill-midnight-20p"] {
			fill: rgba($midnight, .2);
		}
		&[class*="fill-midnight-25p"] {
			fill: rgba($midnight, .25);
		}
		&[class*="fill-midnight-50p"] {
			fill: rgba($midnight, .5);
		}
		&[class*="fill-midnight-75p"] {
			fill: rgba($midnight, .75);
		}
		&[class*="fill-midnight-80p"] {
			fill: rgba($midnight, .8);
		}
		&[class*="fill-midnight-90p"] {
			fill: rgba($midnight, .9);
		}
	}
	[class*="fill-slate"] {
		fill: $slate;
		&[class*="fill-slate-05p"] {
			fill: rgba($slate, .05);
		}
		&[class*="fill-slate-10p"] {
			fill: rgba($slate, .1);
		}
		&[class*="fill-slate-20p"] {
			fill: rgba($slate, .2);
		}
		&[class*="fill-slate-25p"] {
			fill: rgba($slate, .25);
		}
		&[class*="fill-slate-50p"] {
			fill: rgba($slate, .5);
		}
		&[class*="fill-slate-75p"] {
			fill: rgba($slate, .75);
		}
		&[class*="fill-slate-80p"] {
			fill: rgba($slate, .8);
		}
		&[class*="fill-slate-90p"] {
			fill: rgba($slate, .9);
		}
	}

	/*---------- BORDERS AND SVGS */
	// border widths
	.border-1 {
		border-width: 1px!important;
		border-style: solid;
	}
	.border-2 {
		border-width: 2px!important;
		border-style: solid;
	}
	.border-3 {
		border-width: 3px!important;
		border-style: solid;
	}
	.border-4 {
		border-width: 4px!important;
		border-style: solid;
	}
	.border-5 {
		border-width: 5px!important;
	}
	.border-10 {
		border-width: 10px!important;
		border-style: solid;
	}

	// svg sizes
	.svg-24 {
		svg {
			width: 24px;
			height: 24px;
		}
	}
	.svg-24-18 {
		@include flex;
		@include flex-center;
		width: 24px;
		height: 24px;
		svg {
			display: block;
			width: 18px;
			height: 18px;
		}
	}
	.svg-32 {
		svg {
			width: 32px;
			height: 32px;
		}
	}
	.svg-32-24 {
		@include flex;
		@include flex-center;
		width: 32px;
		height: 32px;
		svg {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
	.svg-36 {
		svg {
			width: 36px;
			height: 36px;
		}
	}
	.svg-36-24 {
		@include flex;
		@include flex-center;
		width: 36px;
		height: 36px;
		svg {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
	.svg-48 {
		svg {
			width: 48px;
			height: 48px;
		}
	}
	.svg-48-36 {
		@include flex;
		@include flex-center;
		width: 48px;
		height: 48px;
		svg {
			display: block;
			width: 36px;
			height: 36px;
		}
	}
	.svg-64 {
		svg {
			width: 64px;
			height: 64px;
		}
	}
	.svg-64-48 {
		@include flex;
		@include flex-center;
		width: 64px;
		height: 64px;
		svg {
			display: block;
			width: 48px;
			height: 48px;
		}
	}
	.svg-72 {
		svg {
			width: 72px;
			height: 72px;
		}
	}
	.svg-72-52 {
		@include flex;
		@include flex-center;
		width: 72px;
		height: 72px;
		svg {
			display: block;
			width: 52px;
			height: 52px;
		}
	}
	.svg-84 {
		svg {
			width: 84px;
			height: 84px;
		}
	}
	.svg-84-64 {
		@include flex;
		@include flex-center;
		width: 84px;
		height: 84px;
		svg {
			display: block;
			width: 64px;
			height: 64px;
		}
	}
	.svg-96 {
		svg {
			width: 96px;
			height: 96px;
		}
	}
	.svg-96-72 {
		@include flex;
		@include flex-center;
		width: 96px;
		height: 96px;
		svg {
			display: block;
			width: 72px;
			height: 72px;
		}
	}
	.svg-128 {
		svg {
			width: 128px;
			height: 128px;
		}
	}
	.svg-128-96 {
		@include flex;
		@include flex-center;
		width: 128px;
		height: 128px;
		svg {
			display: block;
			width: 96px;
			height: 96px;
		}
	}

	// stroke widths
	.svg-stroke-1 {
		* {
			stroke-width: 1px!important;
		}
	}
	.svg-stroke-2 {
		* {
			stroke-width: 2px!important;
		}
	}
	.svg-stroke-3 {
		* {
			stroke-width: 3px!important;
		}
	}
	.svg-stroke-4 {
		* {
			stroke-width: 4px!important;
		}
	}
	.svg-stroke-5 {
		* {
			stroke-width: 5px!important;
		}
	}
	.svg-stroke-6 {
		* {
			stroke-width: 6px!important;
		}
	}
	.svg-stroke-7 {
		* {
			stroke-width: 7px!important;
		}
	}
	.svg-stroke-8 {
		* {
			stroke-width: 8px!important;
		}
	}
	.svg-stroke-9 {
		* {
			stroke-width: 9px!important;
		}
	}
	.svg-stroke-10 {
		* {
			stroke-width: 10px!important;
		}
	}
}


.extra-transition-delay {
	-webkit-transition-delay: 1500ms !important;
	transition-delay:1500ms !important;
}