@keyframes adlib-translateUp {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, -102%, 0); } }
/* http://goo.gl/f5ncv8 */
@keyframes guru-rotateOut {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  3.04% {
    transform: matrix3d(1.107, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.56% {
    transform: matrix3d(1.148, 0, 0, 0, 0, 1.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.05% {
    transform: matrix3d(1.176, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.57% {
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.09% {
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.09% {
    transform: matrix3d(1.214, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.1% {
    transform: matrix3d(1.203, 0, 0, 0, 0, 1.203, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.11% {
    transform: matrix3d(1.199, 0, 0, 0, 0, 1.199, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.9% {
    transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% {
    transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.92% {
    transform: matrix3d(0.272, 0.764, 0, 0, -0.764, 0.272, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  42.58% {
    transform: matrix3d(-0.032, 0.708, 0, 0, -0.708, -0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.78% {
    transform: matrix3d(-0.338, 0.439, 0, 0, -0.439, -0.338, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.17% {
    transform: matrix3d(-0.387, 0.155, 0, 0, -0.155, -0.387, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.51% {
    transform: matrix3d(-0.254, -0.034, 0, 0, 0.034, -0.254, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.75% {
    transform: matrix3d(-0.241, -0.04, 0, 0, 0.04, -0.241, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.33% {
    transform: matrix3d(-0.136, -0.041, 0, 0, 0.041, -0.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.29% {
    transform: matrix3d(-0.111, -0.032, 0, 0, 0.032, -0.111, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.02% {
    transform: matrix3d(-0.052, -0.007, 0, 0, 0.007, -0.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57% {
    transform: matrix3d(-0.034, -0.002, 0, 0, 0.002, -0.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.52% {
    transform: matrix3d(-0.01, 0, 0, 0, 0, -0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.66% {
    transform: matrix3d(-0.008, 0, 0, 0, 0, -0.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.03% {
    transform: matrix3d(-0.002, 0, 0, 0, 0, -0.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.39% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0; } }
@keyframes eyebrows {
  0% {
    transform: translate3d(0, 0, 0) rotate -5deg; }
  100% {
    transform: translate3d(0, -30%, 0) rotate(5deg); } }
@keyframes no-transition {
  0%, 100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
/* http://goo.gl/MyNtGx */
@keyframes adlib-header-mobile-first-up {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50.398, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -86.101, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -103.123, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -107.147, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100.021, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -97.389, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -98.041, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -97.997, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -98, 0, 1); } }
/* http://goo.gl/yi0Bea */
@keyframes adlib-header-first-up {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -24.685, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -42.172, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50.509, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -52.48, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48.99, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -47.701, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48.02, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -47.999, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48, 0, 1);
    opacity: 0; } }
/* http://goo.gl/mCLfkb */
@keyframes adlib-header-mobile-up {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 98, 0, 1); }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 47.602, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 11.899, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.123, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.147, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.021, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.611, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.041, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.003, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
/* http://goo.gl/OXMjg1 */
@keyframes adlib-header-up {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48, 0, 1);
    opacity: 0; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.315, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.828, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.509, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.48, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.99, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.299, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.02, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/feiuxo */
@keyframes spread-out-tag-8 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -126, -150, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -61.202, -72.859, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -15.298, -18.212, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.587, 7.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.76, 14, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.599, 3.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.785, -0.935, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.052, 0.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, -0.004, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/W166WI */
@keyframes spread-in-tag-8 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -64.798, -77.141, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.702, -131.788, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -132.587, -157.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -137.76, -164, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -128.599, -153.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.215, -149.065, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -126.052, -150.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.997, -149.996, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -126, -150, 0, 1);
    opacity: 0; } }
/* http://goo.gl/VRGYTG */
@keyframes spread-out-tag-7 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 21.858, -72.859, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.464, -18.212, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.352, 7.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.2, 14, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.928, 3.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.28, -0.935, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.019, 0.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, -0.004, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/B560F6 */
@keyframes spread-in-tag-7 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 23.142, -77.141, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.536, -131.788, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 47.352, -157.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 49.2, -164, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45.928, -153.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 44.72, -149.065, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45.019, -150.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 44.999, -149.996, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
    opacity: 0; } }
/* http://goo.gl/gtk0hf */
@keyframes spread-out-tag-6 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 217, -150, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.403, -72.859, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 26.347, -18.212, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.344, 7.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.254, 14, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.476, 3.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.352, -0.935, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.09, 0.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.006, -0.004, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/6ePJvg */
@keyframes spread-in-tag-6 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 111.597, -77.141, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 190.653, -131.788, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 228.344, -157.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 237.254, -164, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 221.476, -153.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 215.648, -149.065, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 217.09, -150.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 216.994, -149.996, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 217, -150, 0, 1);
    opacity: 0; } }
/* http://goo.gl/mGDQl7 */
@keyframes spread-out-tag-5 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 389, -150, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 188.949, -72.859, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 47.23, -18.212, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.336, 7.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.307, 14, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.024, 3.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.424, -0.935, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.162, 0.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.011, -0.004, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/03KmzQ */
@keyframes spread-in-tag-5 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 200.051, -77.141, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 341.77, -131.788, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 409.336, -157.841, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 425.307, -164, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 397.024, -153.094, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 386.576, -149.065, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 389.162, -150.062, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 388.989, -149.996, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 389, -150, 0, 1);
    opacity: 0; } }
/* http://goo.gl/FmFXKT */
@keyframes spread-out-tag-4 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -504, -76, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -244.808, -36.915, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -61.193, -9.227, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 26.347, 3.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 47.041, 7.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.396, 1.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.14, -0.474, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.21, 0.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.014, -0.002, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/pGxq0U */
@keyframes spread-in-tag-4 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -259.192, -39.085, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -442.807, -66.773, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -530.347, -79.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -551.041, -83.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -514.396, -77.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500.86, -75.526, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -504.21, -76.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -503.986, -75.998, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -504, -76, 0, 1);
    opacity: 0; } }
/* http://goo.gl/h58USL */
@keyframes spread-out-tag-3 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -332, -76, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -161.262, -36.915, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -40.309, -9.227, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 17.356, 3.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.987, 7.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.848, 1.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.069, -0.474, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.138, 0.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.009, -0.002, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/LrUwP2 */
@keyframes spread-in-tag-3 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -170.738, -39.085, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -291.691, -66.773, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -349.356, -79.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -362.987, -83.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -338.848, -77.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -329.931, -75.526, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -332.138, -76.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -331.991, -75.998, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -332, -76, 0, 1);
    opacity: 0; } }
/* http://goo.gl/u15hGg */
@keyframes spread-out-tag-2 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -160, -76, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -77.717, -36.915, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.426, -9.227, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8.364, 3.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 14.934, 7.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.3, 1.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.997, -0.474, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.067, 0.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -0.002, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/xxbnM8 */
@keyframes spread-in-tag-2 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -82.283, -39.085, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -140.574, -66.773, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -168.364, -79.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -174.934, -83.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -163.3, -77.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -159.003, -75.526, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -160.067, -76.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -159.996, -75.998, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -160, -76, 0, 1);
    opacity: 0; } }
/* http://goo.gl/XceZoB */
@keyframes spread-out-tag-1 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, -76, 0, 1);
    opacity: 0; }
  1% {
    opacity: 0.5; }
  5% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.829, -36.915, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.457, -9.227, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.627, 3.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.12, 7.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.248, 1.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.075, -0.474, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.005, 0.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/yYAiWb */
@keyframes spread-in-tag-1 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.171, -39.085, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.543, -66.773, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.627, -79.973, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.12, -83.093, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.248, -77.568, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.925, -75.526, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.005, -76.032, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, -75.998, 0, 1); }
  50% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, -76, 0, 1);
    opacity: 0; } }
/* http://goo.gl/m1gH1l */
@keyframes spread-out-tag-mobile-left {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -130, -38, 0, 1);
    opacity: 0; }
  10% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -63.145, -18.458, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -15.784, -4.614, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.796, 1.987, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.133, 3.547, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.681, 0.784, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.81, -0.237, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.054, 0.016, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -0.001, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/cpi8fp */
@keyframes spread-out-tag-mobile-right {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 130, -38, 0, 1);
    opacity: 0; }
  10% {
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 63.145, -18.458, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.784, -4.614, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.796, 1.987, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -12.133, 3.547, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.681, 0.784, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.81, -0.237, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.054, 0.016, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, -0.001, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; } }
/* http://goo.gl/KG516l */
@keyframes spread-in-tag-mobile-left {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -66.855, -19.542, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.216, -33.386, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -136.796, -39.987, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -142.133, -41.547, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -132.681, -38.784, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.19, -37.763, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -130.054, -38.016, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -129.996, -37.999, 0, 1); }
  10% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -130, -38, 0, 1);
    opacity: 0; } }
/* http://goo.gl/SoQ1U9 */
@keyframes spread-in-tag-mobile-right {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1; }
  4.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 66.855, -19.542, 0, 1); }
  8.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 114.216, -33.386, 0, 1); }
  12.91% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 136.796, -39.987, 0, 1); }
  17.22% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 142.133, -41.547, 0, 1); }
  28.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 132.681, -38.784, 0, 1); }
  39.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 129.19, -37.763, 0, 1); }
  61.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 130.054, -38.016, 0, 1); }
  83.98% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 129.996, -37.999, 0, 1); }
  10% {
    opacity: 0; }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 130, -38, 0, 1);
    opacity: 0; } }
@keyframes adlib-header-stroke {
  0% {
    stroke-dashoffset: -701;
    stroke-dasharray: 701, 701; }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 16, 14; } }
/* http://goo.gl/4Umz4M */
@keyframes adlib-header-main-scaleUp {
  0% {
    transform: matrix3d(0.9, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    transform: matrix3d(0.945, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    transform: matrix3d(0.988, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes adlib-header-weight {
  0% {
    font-weight: 600; }
  100% {
    font-weight: 700; } }
@keyframes adlib-header-mobile-1-translate {
  0% {
    transform: translate3d(48px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes adlib-header-mobile-scale {
  0% {
    transform: scale(1.4);
    background: transparent; }
  100% {
    transform: scale(1);
    background: rgba(64, 72, 75, 0.5); } }
@keyframes adlib-header-mobile-3-translate {
  0% {
    transform: translate3d(-48px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes adlib-header-mobile-4-translate {
  0% {
    transform: scale(1.4) translate3d(-2px, 0, 0);
    background: transparent; }
  100% {
    transform: translate3d(0, 0, 0);
    background: rgba(64, 72, 75, 0.5); } }
@keyframes header-mobile-5-translate {
  0% {
    transform: translate3d(-23px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes adlib-header-1-translate {
  0% {
    transform: translate3d(40px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes adlib-header-scale {
  0% {
    transform: translate3d(0, 0, 0) scale(1.7);
    background: transparent; }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    background: rgba(64, 72, 75, 0.5); } }
@keyframes adlib-header-3-translate {
  0% {
    transform: translate3d(-40px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes adlib-header-4-translate {
  0% {
    transform: translate3d(-37.5px, 0, 0) scale(1.7);
    background: transparent; }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    background: rgba(64, 72, 75, 0.5); } }
@keyframes adlib-header-5-translate {
  0% {
    transform: translate3d(-35px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes coach-click-1 {
  0% {
    opacity: 1;
    stroke-dashoffset: 53; }
  15% {
    stroke-dashoffset: 50; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }
@keyframes coach-click-2 {
  0% {
    opacity: 1;
    stroke-dashoffset: 137; }
  15% {
    stroke-dashoffset: 120; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }
.splash-guru-head .coach-fill path.activate:nth-child(1), .splash-guru-head .coach-fill path.animate:nth-child(1) {
  animation: coach-click-2 200ms ease-in 4500ms 1 forwards; }
.splash-guru-head .coach-fill path.activate:nth-child(2), .splash-guru-head .coach-fill path.animate:nth-child(2) {
  animation: coach-click-1 200ms ease-in 4500ms 1 forwards; }

.splash-adlib h1 {
  animation-delay: 500ms; }
.splash-adlib ul li:nth-child(1) {
  animation-delay: 1000ms; }
.splash-adlib ul li:nth-child(2) {
  animation-delay: 1150ms; }
.splash-adlib ul li:nth-child(3) {
  animation-delay: 1300ms; }
.splash-adlib ul li:nth-child(4) {
  animation-delay: 1450ms; }
.splash-adlib ul li:nth-child(5) {
  animation-delay: 1600ms; }
.splash-adlib ul li:nth-child(6) {
  animation-delay: 1750ms; }
.splash-adlib ul li:nth-child(7) {
  animation-delay: 1900ms; }
.splash-adlib ul li:nth-child(8) {
  animation-delay: 2050ms; }

.adlib-header-container {
  position: relative;
  overflow: hidden;
  height: 98px;
  max-width: 500px;
  margin: 0 auto; }
  .adlib-header-container .adlib-header:first-child {
    position: relative; }
  .adlib-header-container .adlib-header:not(:first-child) {
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 98, 0, 1); }
  .adlib-header-container .adlib-header.active-adlib-header {
    animation: adlib-header-mobile-up 1000ms linear both; }
  .adlib-header-container .adlib-header.inactive-adlib-header {
    animation: adlib-header-mobile-first-up 1000ms linear 1850ms both !important; }

@media screen and (min-width: 768px) {
  .adlib-header-container {
    height: 48px;
    max-width: none; }
    .adlib-header-container .adlib-header:not(:first-child) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48, 0, 1); }
    .adlib-header-container .adlib-header.active-adlib-header {
      animation: adlib-header-up 1000ms linear both; }
    .adlib-header-container .adlib-header.inactive-adlib-header {
      animation: adlib-header-first-up 1000ms linear 1850ms both !important; } }
.tag-adlib rect.spread-out {
  stroke-dasharray: 701;
  stroke-dashoffset: -701;
  animation: adlib-header-stroke 750ms cubic-bezier(0.17, 0.67, 0.12, 1) 1000ms both; }

.adlib-header-container .adlib-header.active-adlib-header.spread-out * {
  transform-origin: center center; }
.adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib svg rect {
  stroke-dasharray: 701;
  stroke-dashoffset: -701;
  animation: adlib-header-stroke 750ms cubic-bezier(0.17, 0.67, 0.12, 1) 1000ms both; }
.adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib b {
  font-weight: 600;
  animation: adlib-header-weight 500ms ease-out 750ms both; }
.adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(1) {
  transform: translate3d(48px, 0, 0);
  animation: adlib-header-mobile-1-translate 500ms ease-out 750ms both; }
  @media screen and (min-width: 768px) {
    .adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(1) {
      transform: translate3d(40px, 0, 0);
      animation: adlib-header-1-translate 500ms ease-out 750ms both; } }
.adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib:nth-child(2) {
  background: transparent;
  transform: scale(1.4);
  animation: adlib-header-mobile-scale 500ms ease-out 750ms both; }
  @media screen and (min-width: 768px) {
    .adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib:nth-child(2) {
      transform: translate3d(0, 0, 0) scale(1.7);
      animation: adlib-header-scale 500ms ease-out 750ms both; } }
.adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(3) {
  transform: translate3d(-48px, 0, 0);
  animation: adlib-header-mobile-3-translate 500ms ease-out 750ms both; }
  @media screen and (min-width: 768px) {
    .adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(3) {
      transform: translate3d(-40px, 0, 0);
      animation: adlib-header-3-translate 500ms ease-out 750ms both; } }
.adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib:nth-child(4) {
  background: transparent;
  transform: scale(1.4) translate3d(-2px, 0, 0);
  animation: adlib-header-mobile-4-translate 500ms ease-out 750ms both; }
  @media screen and (min-width: 768px) {
    .adlib-header-container .adlib-header.active-adlib-header.spread-out a.tag-adlib:nth-child(4) {
      transform: translate3d(-37.5px, 0, 0) scale(1.7);
      animation: adlib-header-4-translate 500ms ease-out 750ms both; } }
.adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(5) {
  transform: translate3d(-23px, 0, 0);
  animation: adlib-header-mobile-5-translate 500ms ease-out 750ms both; }
  @media screen and (min-width: 768px) {
    .adlib-header-container .adlib-header.active-adlib-header.spread-out span:nth-child(5) {
      transform: translate3d(-35px, 0, 0);
      animation: adlib-header-5-translate 500ms ease-out 750ms both; } }

.adlib-tag.spread-out {
  opacity: 0; }
  .adlib-tag.spread-out:nth-child(1), .adlib-tag.spread-out:nth-child(2), .adlib-tag.spread-out:nth-child(3), .adlib-tag.spread-out:nth-child(4) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -130, -38, 0, 1); }
  .adlib-tag.spread-out:nth-child(5), .adlib-tag.spread-out:nth-child(6), .adlib-tag.spread-out:nth-child(7), .adlib-tag.spread-out:nth-child(8) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 130, -38, 0, 1); }
  .adlib-tag.spread-out:nth-child(1) {
    animation: spread-out-tag-mobile-left 1000ms linear 1500ms both; }
  .adlib-tag.spread-out:nth-child(2) {
    animation: spread-out-tag-mobile-left 1000ms linear 1550ms both; }
  .adlib-tag.spread-out:nth-child(3) {
    animation: spread-out-tag-mobile-left 1000ms linear 1600ms both; }
  .adlib-tag.spread-out:nth-child(4) {
    animation: spread-out-tag-mobile-left 1000ms linear 1650ms both; }
  .adlib-tag.spread-out:nth-child(5) {
    animation: spread-out-tag-mobile-right 1000ms linear 1500ms both; }
  .adlib-tag.spread-out:nth-child(6) {
    animation: spread-out-tag-mobile-right 1000ms linear 1550ms both; }
  .adlib-tag.spread-out:nth-child(7) {
    animation: spread-out-tag-mobile-right 1000ms linear 1600ms both; }
  .adlib-tag.spread-out:nth-child(8) {
    animation: spread-out-tag-mobile-right 1000ms linear 1650ms both; }
  @media screen and (min-width: 768px) {
    .adlib-tag.spread-out:nth-child(1) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, -76, 0, 1);
      animation: spread-out-tag-1 1000ms linear 1500ms both; }
    .adlib-tag.spread-out:nth-child(2) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -160, -76, 0, 1);
      animation: spread-out-tag-2 1000ms linear 1550ms both; }
    .adlib-tag.spread-out:nth-child(3) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -332, -76, 0, 1);
      animation: spread-out-tag-3 1000ms linear 1600ms both; }
    .adlib-tag.spread-out:nth-child(4) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -504, -76, 0, 1);
      animation: spread-out-tag-4 1000ms linear 1650ms both; }
    .adlib-tag.spread-out:nth-child(5) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 389, -150, 0, 1);
      animation: spread-out-tag-5 1000ms linear 1850ms both; }
    .adlib-tag.spread-out:nth-child(6) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 217, -150, 0, 1);
      animation: spread-out-tag-6 1000ms linear 1800ms both; }
    .adlib-tag.spread-out:nth-child(7) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
      animation: spread-out-tag-7 1000ms linear 1750ms both; }
    .adlib-tag.spread-out:nth-child(8) {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
      animation: spread-out-tag-8 1000ms linear 1700ms both; } }

.adlib-tag.spread-in .tag-adlib.active {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important; }
.adlib-tag.spread-in:nth-child(1) {
  animation: spread-in-tag-mobile-left 1000ms linear 650ms both; }
.adlib-tag.spread-in:nth-child(2) {
  animation: spread-in-tag-mobile-left 1000ms linear 600ms both; }
.adlib-tag.spread-in:nth-child(3) {
  animation: spread-in-tag-mobile-left 1000ms linear 550ms both; }
.adlib-tag.spread-in:nth-child(4) {
  animation: spread-in-tag-mobile-left 1000ms linear 500ms both; }
.adlib-tag.spread-in:nth-child(5) {
  animation: spread-in-tag-mobile-right 1000ms linear 650ms both; }
.adlib-tag.spread-in:nth-child(6) {
  animation: spread-in-tag-mobile-right 1000ms linear 600ms both; }
.adlib-tag.spread-in:nth-child(7) {
  animation: spread-in-tag-mobile-right 1000ms linear 550ms both; }
.adlib-tag.spread-in:nth-child(8) {
  animation: spread-in-tag-mobile-right 1000ms linear 500ms both; }
@media screen and (min-width: 768px) {
  .adlib-tag.spread-in:nth-child(1) {
    animation: spread-in-tag-1 1000ms linear 500ms both; }
  .adlib-tag.spread-in:nth-child(2) {
    animation: spread-in-tag-2 1000ms linear 550ms both; }
  .adlib-tag.spread-in:nth-child(3) {
    animation: spread-in-tag-3 1000ms linear 600ms both; }
  .adlib-tag.spread-in:nth-child(4) {
    animation: spread-in-tag-4 1000ms linear 650ms both; }
  .adlib-tag.spread-in:nth-child(5) {
    animation: spread-in-tag-5 1000ms linear 850ms both; }
  .adlib-tag.spread-in:nth-child(6) {
    animation: spread-in-tag-6 1000ms linear 800ms both; }
  .adlib-tag.spread-in:nth-child(7) {
    animation: spread-in-tag-7 1000ms linear 750ms both; }
  .adlib-tag.spread-in:nth-child(8) {
    animation: spread-in-tag-8 1000ms linear 700ms both; } }

.adlib-tag.click-two {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  .adlib-tag.click-two .tag-adlib.ghost.fadeOut {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation: fadeOut 1000ms ease-in-out 1850ms both; }
  .adlib-tag.click-two:nth-child(1) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-left 1000ms linear 650ms both; }
  .adlib-tag.click-two:nth-child(2) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-left 1000ms linear 600ms both; }
  .adlib-tag.click-two:nth-child(3) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-left 1000ms linear 550ms both; }
  .adlib-tag.click-two:nth-child(4) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-left 1000ms linear 500ms both; }
  .adlib-tag.click-two:nth-child(5) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-right 1000ms linear 650ms both; }
  .adlib-tag.click-two:nth-child(6) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-right 1000ms linear 600ms both; }
  .adlib-tag.click-two:nth-child(7) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-right 1000ms linear 550ms both; }
  .adlib-tag.click-two:nth-child(8) .tag-adlib:first-child:not(.active) {
    animation: spread-in-tag-mobile-right 1000ms linear 500ms both; }
  @media screen and (min-width: 768px) {
    .adlib-tag.click-two:nth-child(1) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-1 1000ms linear 500ms both; }
    .adlib-tag.click-two:nth-child(2) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-2 1000ms linear 550ms both; }
    .adlib-tag.click-two:nth-child(3) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-3 1000ms linear 600ms both; }
    .adlib-tag.click-two:nth-child(4) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-4 1000ms linear 650ms both; }
    .adlib-tag.click-two:nth-child(5) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-5 1000ms linear 850ms both; }
    .adlib-tag.click-two:nth-child(6) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-6 1000ms linear 800ms both; }
    .adlib-tag.click-two:nth-child(7) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-7 1000ms linear 750ms both; }
    .adlib-tag.click-two:nth-child(8) .tag-adlib:first-child:not(.active) {
      animation: spread-in-tag-8 1000ms linear 700ms both; } }

.splash-hero-guru.map-transition {
  animation: guru-rotateOut 1250ms linear 500ms both; }
  .splash-hero-guru.map-transition .guru-head-eyebrows {
    animation: eyebrows 150ms ease-in-out 250ms 6 alternate;
    transform-origin: center bottom; }

.splash-adlib.map-transition {
  animation: adlib-translateUp 500ms cubic-bezier(0.77, 0, 0.05, 1) both;
  animation: adlib-translateUp 500ms cubic-bezier(0.77, -0.22, 0.05, 1.27) both; }

.tag-adlib:not(.blank):not(.ghost) i {
  display: block;
  font-style: normal;
  transition: all 600ms cubic-bezier(0.77, 0, 0.05, 1);
  transition: all 600ms cubic-bezier(0.77, -0.22, 0.05, 1.27); }
.tag-adlib:not(.blank):not(.ghost):hover i {
  transform: scale(1.05) !important; }

.splash-hero-content {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%;
  margin-bottom: 75px; }
  .splash-hero-content.pane {
    background: #40484B;
    margin-bottom: 0;
    height: 100%; }
  .splash-hero-content.active {
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
    transform: translateY(-55%) scale(0.75); }
  .splash-hero-content .splash-adlib {
    width: 100%; }
    .splash-hero-content .splash-adlib h1 {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 600; }
      .splash-hero-content .splash-adlib h1 a {
        margin: 0 15px; }
    .splash-hero-content .splash-adlib .splash-mobile-cta {
      margin: 0 15px;
      background: #69B3A5;
      height: 54px;
      width: calc(100% - 30px);
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase; }
      .splash-hero-content .splash-adlib .splash-mobile-cta:not(.bounceInUp) {
        visibility: hidden; }
    .splash-hero-content .splash-adlib ul {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 15px auto;
      padding: 7.5px;
      width: 100%; }
      .splash-hero-content .splash-adlib ul.a li a {
        pointer-events: none !important; }
      .splash-hero-content .splash-adlib ul li {
        width: 143px;
        padding: 7.5px; }
        .splash-hero-content .splash-adlib ul li a[class*="translate-blank"] {
          animation: none !important; }

.splash-guru-head {
  width: 150px;
  position: relative; }
  .splash-guru-head > svg {
    position: absolute; }
  .splash-guru-head .coach-fill {
    top: 85px;
    right: -100px;
    width: 140px; }
    .splash-guru-head .coach-fill path.animate:nth-child(1), .splash-guru-head .coach-fill path.activate:nth-child(1) {
      stroke-dasharray: 137;
      stroke-dashoffset: 137;
      animation: coach-click-2 200ms ease-in 2500ms 1 forwards; }
    .splash-guru-head .coach-fill path.animate:nth-child(2), .splash-guru-head .coach-fill path.activate:nth-child(2) {
      stroke-dasharray: 53;
      stroke-dashoffset: 53;
      animation: coach-click-1 100ms ease-in 2700ms 1 forwards; }
    .splash-guru-head .coach-fill g g {
      animation-delay: 3000ms; }
  .splash-guru-head .coach-help.coach-help-desktop {
    display: none;
    top: -40px;
    left: -160px;
    width: 170px; }
  .splash-guru-head .coach-help.coach-help-mobile {
    top: -10px;
    left: -90px;
    width: 114.5px; }

@media screen and (max-width: 768px) {
  .splash-hero-content .splash-hero-guru {
    margin-bottom: 10px; }
  .splash-hero-content .splash-adlib {
    margin-top: -10px; }
    .splash-hero-content .splash-adlib h1 {
      line-height: 1.75; }
    .splash-hero-content .splash-adlib ul {
      margin: -10px 0 5px;
      flex-direction: column;
      height: 250px; } }
@media screen and (max-width: 414px) {
  .splash-hero-content .splash-guru-head .splash-logo-guru svg {
    transform: scale(0.8); } }
@media screen and (max-width: 360px) {
  .splash-hero-content {
    transform: scale(0.9); }
    .splash-hero-content .splash-adlib h1 {
      font-size: 24px; } }
@media screen and (max-width: 320px) {
  .splash-hero-device {
    transform: scale(0.8); }

  .splash-hero-content {
    transform: scale(0.7); }
    .splash-hero-content .splash-adlib h1 {
      line-height: 2 !important; } }
@media screen and (min-width: 768px) {
  .coach-help.coach-help-desktop {
    display: block !important; }
    .coach-help.coach-help-desktop.hide {
      display: none !important; }
  .coach-help.coach-help-mobile {
    display: none !important; }

  .splash-guru-head .coach-fill {
    top: 80px;
    right: -180px; }

  .splash-hero-content .splash-adlib h1 {
    font-size: 40px; }
  .splash-hero-content .splash-adlib .splash-mobile-cta {
    display: none; }
  .splash-hero-content .splash-adlib ul {
    max-width: calc(172px * 4 + 30px);
    padding: 15px;
    margin: 0 auto 15px; }
    .splash-hero-content .splash-adlib ul li {
      width: 25%;
      max-width: 172px;
      padding: 15px; }
      .splash-hero-content .splash-adlib ul li:nth-child(7), .splash-hero-content .splash-adlib ul li:nth-child(8) {
        display: block; } }
.splash-device {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  opacity: 0.1; }
  @media screen and (min-width: 768px) {
    .splash-device {
      display: block; } }
  .splash-device .splash-device-svg {
    transition: all 150ms ease-in-out; }
  .splash-device.splash-device-iphone {
    margin-left: -150px;
    margin-top: -306px; }
    .splash-device.splash-device-iphone svg {
      width: 100%;
      max-width: 320px; }
    .splash-device.splash-device-iphone .splash-device-content, .splash-device.splash-device-iphone .splash-device-profile {
      top: 12.6%;
      left: 7.3%;
      width: 85.4%;
      height: 75%; }
      .splash-device.splash-device-iphone .splash-device-content .coach-click, .splash-device.splash-device-iphone .splash-device-profile .coach-click {
        bottom: 65px !important;
        right: -90px !important; }

.splash-landing {
  background: #40484B;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=preapp.css.map */
