<ion-view id='splash-view' class='bg-charcoal' ng-controller='SplashController as splash'>
    <!-- <ion-content class='relative full-xy' > -->
        <main class='splash-landing' id="home-splash" eval-on-init="splash.activate()">
            <section id='splash-home' class='splash-hero'>

                <div ng-include src="root.base_url + 'preapp/templates/splash.nav.html'" include-replace>
                </div>

                <div ng-include src="root.base_url + 'preapp/templates/splash.sidebar.html'" include-replace>
                </div>


                <!-- device -->
                <div  ng-include src="root.base_url + 'preapp/templates/splash.device.html'" include-replace>
                </div>

                <!-- Madlib -->
                <div ng-include src="root.base_url + 'preapp/templates/splash.madlib.html'" include-replace>
                </div>

            </section>
        </main>
    <!-- </ion-content> -->
</ion-view>
