.pf-aside {
  transform-origin: right center; }

.pf-rest {
  transform-origin: center bottom; }

.pf-container {
  height: 100%;
  width: 100%;
  color: white; }
  .pf-container::-webkit-scrollbar {
    display: none; }
  .pf-container::-moz-scrollbar {
    display: none; }
  .pf-container .tab-bar.slide {
    width: 100%;
    overflow: auto; }
    @media screen and (max-width: 480px) {
      .pf-container .tab-bar.slide {
        -webkit-justify-content: flex-start;
        justify-content: flex-start; } }
    .pf-container .tab-bar.slide::-webkit-scrollbar {
      display: none; }
    .pf-container .tab-bar.slide::-moz-scrollbar {
      display: none; }
    .pf-container .tab-bar.slide > div {
      width: 100%;
      max-width: 660px;
      min-width: 480px; }
      .pf-container .tab-bar.slide > div a {
        width: 25%; }
        .pf-container .tab-bar.slide > div a:nth-child(1).active ~ hr {
          -webkit-transform: translateX(0) translateZ(0);
          -moz-transform: translateX(0) translateZ(0);
          -ms-transform: translateX(0) translateZ(0);
          -o-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(2).active ~ hr {
          -webkit-transform: translateX(100%) translateZ(0);
          -moz-transform: translateX(100%) translateZ(0);
          -ms-transform: translateX(100%) translateZ(0);
          -o-transform: translateX(100%) translateZ(0);
          transform: translateX(100%) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(3).active ~ hr {
          -webkit-transform: translateX(200%) translateZ(0);
          -moz-transform: translateX(200%) translateZ(0);
          -ms-transform: translateX(200%) translateZ(0);
          -o-transform: translateX(200%) translateZ(0);
          transform: translateX(200%) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(4).active ~ hr {
          -webkit-transform: translateX(300%) translateZ(0);
          -moz-transform: translateX(300%) translateZ(0);
          -ms-transform: translateX(300%) translateZ(0);
          -o-transform: translateX(300%) translateZ(0);
          transform: translateX(300%) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(1):hover ~ hr, .pf-container .tab-bar.slide > div a:nth-child(1):focus ~ hr {
          -webkit-transform: translateX(0) translateZ(0);
          -moz-transform: translateX(0) translateZ(0);
          -ms-transform: translateX(0) translateZ(0);
          -o-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(2):hover ~ hr, .pf-container .tab-bar.slide > div a:nth-child(2):focus ~ hr {
          -webkit-transform: translateX(100%) translateZ(0);
          -moz-transform: translateX(100%) translateZ(0);
          -ms-transform: translateX(100%) translateZ(0);
          -o-transform: translateX(100%) translateZ(0);
          transform: translateX(100%) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(3):hover ~ hr, .pf-container .tab-bar.slide > div a:nth-child(3):focus ~ hr {
          -webkit-transform: translateX(200%) translateZ(0);
          -moz-transform: translateX(200%) translateZ(0);
          -ms-transform: translateX(200%) translateZ(0);
          -o-transform: translateX(200%) translateZ(0);
          transform: translateX(200%) translateZ(0); }
        .pf-container .tab-bar.slide > div a:nth-child(4):hover ~ hr, .pf-container .tab-bar.slide > div a:nth-child(4):focus ~ hr {
          -webkit-transform: translateX(300%) translateZ(0);
          -moz-transform: translateX(300%) translateZ(0);
          -ms-transform: translateX(300%) translateZ(0);
          -o-transform: translateX(300%) translateZ(0);
          transform: translateX(300%) translateZ(0); }
      .pf-container .tab-bar.slide > div hr {
        width: 25%;
        border-top: 5px solid #81B566; }
  .pf-container .pf-aside {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    background: #637074;
    height: calc(100% / 3);
    text-align: center; }
    .pf-container .pf-aside .pf-aside-bg {
      filter: alpha(opacity=30);
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover; }
    .pf-container .pf-aside *:not([class*="aside-bg"]) {
      position: relative;
      z-index: 2; }
    .pf-container .pf-aside .pf-aside-widget {
      margin-top: 47px; }
      .pf-container .pf-aside .pf-aside-widget div:empty {
        position: absolute !important; }
    .pf-container .pf-aside .pf-aside-widget, .pf-container .pf-aside .pf-aside-desc {
      display: none; }
    .pf-container .pf-aside .pf-aside-desc {
      margin-top: 47px;
      width: 100%;
      max-width: 400px;
      background: rgba(99, 112, 116, 0.3);
      border: 2px solid white;
      border-radius: 2px;
      padding: 15px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2; }
      @media screen and (min-width: 1000px) {
        .pf-container .pf-aside .pf-aside-desc {
          width: calc(100% - 30px); } }
    .pf-container .pf-aside .pf-aside-mobile .pf-icon {
      width: 64px;
      height: 64px;
      border-width: 2px; }
    .pf-container .pf-aside .pf-aside-mobile .pf-name {
      width: 100%;
      font-size: 20px;
      font-weight: 600; }
    .pf-container .pf-aside .pf-aside-mobile .pf-school-name {
      margin-top: 0 !important;
      width: 100%;
      font-size: 16px;
      font-weight: 400; }
    .pf-container .pf-aside .pf-aside-mobile .pf-rating {
      margin-top: 5px; }
    .pf-container .pf-aside .pf-aside-mobile .pf-reviews {
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }
  .pf-container .pf-rest {
    height: calc(100% / 3 * 2); }
  .pf-container .pf-main {
    position: relative;
    background: #40484B;
    height: calc(100% - 60px); }
    .pf-container .pf-main > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto; }
      .pf-container .pf-main > div::-webkit-scrollbar {
        display: none; }
      .pf-container .pf-main > div::-moz-scrollbar {
        display: none; }
      .pf-container .pf-main > div:not(.active) {
        filter: alpha(opacity=0);
        opacity: 0;
        display: none;
        z-index: -1; }
      .pf-container .pf-main > div .pf-main-header {
        background: rgba(255, 255, 255, 0.1);
        padding: 15px;
        margin: 0 !important; }
        .pf-container .pf-main > div .pf-main-header h1 {
          font-size: 28px;
          font-weight: 600;
          text-align: center; }
        .pf-container .pf-main > div .pf-main-header p {
          margin: 0;
          padding: 0 15px;
          font-size: 16px;
          font-weight: 400;
          text-align: center; }
      .pf-container .pf-main > div .pf-main-subheader {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        position: relative;
        max-width: 845px;
        margin: 0 auto;
        padding: 15px; }
        .pf-container .pf-main > div .pf-main-subheader h2 {
          display: block;
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase; }
        .pf-container .pf-main > div .pf-main-subheader a {
          display: block;
          font-size: 16px;
          font-weight: 600; }
          .pf-container .pf-main > div .pf-main-subheader a span {
            filter: alpha(opacity=50);
            opacity: 0.5; }
          .pf-container .pf-main > div .pf-main-subheader a:hover span, .pf-container .pf-main > div .pf-main-subheader a:focus span {
            filter: alpha(opacity=75);
            opacity: 0.75; }
          .pf-container .pf-main > div .pf-main-subheader a:active span {
            filter: alpha(opacity=100);
            opacity: 1; }
        .pf-container .pf-main > div .pf-main-subheader hr {
          border-radius: 1000px;
          display: block;
          position: absolute;
          bottom: -1px;
          left: 15px;
          height: 2px;
          width: calc(100% - 30px);
          margin: 0;
          background: rgba(255, 255, 255, 0.2);
          border: 0 !important;
          transform-origin: left center; }
      .pf-container .pf-main > div .pf-items {
        list-style: none;
        margin: 0;
        padding: 0;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        max-width: 845px;
        margin: 0 auto;
        padding: 7.5px; }
        .pf-container .pf-main > div .pf-items > li {
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: center;
          align-content: center;
          -webkit-justify-content: center;
          justify-content: center;
          padding: 7.5px;
          width: 100%; }
          .pf-container .pf-main > div .pf-items > li .pf-tile, .pf-container .pf-main > div .pf-items > li .pf-cardlet {
            width: 100%;
            max-width: 400px; }
      .pf-container .pf-main > div.pf-about .pf-about-section {
        margin: 0 auto 15px;
        width: calc(100% - 30px);
        max-width: 815px; }
        .pf-container .pf-main > div.pf-about .pf-about-section:nth-child(2) {
          margin-top: 15px; }
        .pf-container .pf-main > div.pf-about .pf-about-section header {
          min-height: 0; }
          .pf-container .pf-main > div.pf-about .pf-about-section header h2 {
            background: #69B3A5;
            width: 100%;
            padding: 5px 0;
            border-radius: 2px 2px 0 0;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase; }
        .pf-container .pf-main > div.pf-about .pf-about-section .social-bar {
          padding: 0 !important; }
        .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) {
          padding: 15px;
          background: #637074;
          border-radius: 0 0 2px 2px; }
          .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) h1 {
            font-size: 24px;
            font-weight: 600;
            text-align: center; }
          .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) h2 {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto; }
          .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url {
            list-style: none;
            margin: 0;
            padding: 0;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center; }
            .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url li {
              padding: 0;
              background: none; }
              .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url li:first-child a {
                display: block;
                padding: 10px 15px;
                background: rgba(255, 255, 255, 0.1);
                font-size: 16px;
                font-weight: 600; }
              .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url li:last-child a {
                display: block;
                background: #69B3A5;
                padding: 0; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url li:last-child a svg {
                  display: block;
                  height: 40px;
                  width: 40px;
                  padding: 8px; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-url li:last-child a svg * {
                    fill: none;
                    stroke: white;
                    stroke-width: 6px;
                    stroke-linecap: round;
                    stroke-linejoin: round; }
          .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops {
            list-style: none;
            margin: 0;
            padding: 0;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -ms-flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            margin: -15px;
            padding: 7.5px; }
            .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li {
              width: 20%;
              padding: 7.5px; }
              .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a {
                display: block;
                border-radius: 2px; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a svg * {
                  fill: none;
                  stroke: white;
                  stroke-width: 2px;
                  stroke-linecap: round;
                  stroke-linejoin: round; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery {
                  background: #F04F54; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:focus {
                    background: #f8a7aa; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:focus svg * {
                      stroke: #984c50; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:active {
                    background: #984c50; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-delivery:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing {
                  background: #E5753C; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:focus {
                    background: #f2ba9e; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:focus svg * {
                      stroke: #935f44; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:active {
                    background: #935f44; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-freelancing:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking {
                  background: #F6C64E; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:focus {
                    background: #fbe3a7; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:focus svg * {
                      stroke: #9b874d; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:active {
                    background: #9b874d; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-baking:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography {
                  background: #81B566; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:focus {
                    background: #c0dab3; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:focus svg * {
                      stroke: #617f59; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:active {
                    background: #617f59; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-photography:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household {
                  background: #7872e3; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:focus {
                    background: #bcb9f1; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:focus svg * {
                      stroke: #5c5d97; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:active {
                    background: #5c5d97; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-household:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech {
                  background: #55A4B7; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:focus {
                    background: #aad2db; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:focus svg * {
                      stroke: #4b7681; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:active {
                    background: #4b7681; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-tech:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic {
                  background: #9A5BC5; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:focus {
                    background: #cdade2; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:focus svg * {
                      stroke: #6d5288; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:active {
                    background: #6d5288; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-athletic:active svg * {
                      stroke: white; }
                .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic {
                  background: #e6389b; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:hover, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:focus {
                    background: #f39ccd; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:hover svg *, .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:focus svg * {
                      stroke: #934073; }
                  .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:active {
                    background: #934073; }
                    .pf-container .pf-main > div.pf-about .pf-about-section > div:not(.social-bar) .pf-about-shops li a.pf-academic:active svg * {
                      stroke: white; }
      .pf-container .pf-main > div.pf-about .pf-wwf > div {
        padding: 0 !important; }
      .pf-container .pf-main > div.pf-about .pf-wwf h1 {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 7.5px; }
        .pf-container .pf-main > div.pf-about .pf-wwf h1 span {
          display: block;
          padding: 7.5px; }
        .pf-container .pf-main > div.pf-about .pf-wwf h1 ul {
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -ms-flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          padding: 0; }
          .pf-container .pf-main > div.pf-about .pf-wwf h1 ul li {
            padding: 7.5px; }
            .pf-container .pf-main > div.pf-about .pf-wwf h1 ul li span {
              display: block;
              margin: 0 auto;
              text-align: center; }
              .pf-container .pf-main > div.pf-about .pf-wwf h1 ul li span:first-child {
                border-radius: 1000px;
                background: rgba(255, 255, 255, 0.2);
                width: 64px;
                height: 64px;
                padding: 8px; }
                .pf-container .pf-main > div.pf-about .pf-wwf h1 ul li span:first-child svg * {
                  fill: none;
                  stroke: white;
                  stroke-width: 3px;
                  stroke-linecap: round;
                  stroke-linejoin: round; }
              .pf-container .pf-main > div.pf-about .pf-wwf h1 ul li span:last-child {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase; }
      .pf-container .pf-main > div.pf-about .pf-exp > div {
        padding: 0 !important; }
        .pf-container .pf-main > div.pf-about .pf-exp > div ul {
          position: relative;
          padding: 7.5px; }
          .pf-container .pf-main > div.pf-about .pf-exp > div ul:before {
            border-radius: 1000px;
            filter: alpha(opacity=50);
            opacity: 0.5;
            content: "";
            display: none;
            position: absolute;
            top: 15px;
            left: 100px;
            width: 5px;
            height: calc(100% - 30px);
            background: white; }
          .pf-container .pf-main > div.pf-about .pf-exp > div ul li {
            position: relative;
            padding: 7.5px; }
            .pf-container .pf-main > div.pf-about .pf-exp > div ul li:before {
              border-radius: 1000px;
              content: "";
              display: none;
              position: absolute;
              top: 30px;
              left: 87.5px;
              width: 15px;
              height: 15px;
              background: white; }
            .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div {
              -ms-box-orient: horizontal;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -moz-flex;
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: flex-start;
              align-items: flex-start;
              background: none;
              text-align: left;
              padding: 0 !important; }
              .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div .pf-exp-date {
                display: none;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                width: 120px;
                padding: 15px 0;
                line-height: 28px; }
              .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div {
                position: relative;
                width: 100%;
                background: #40484B;
                border-radius: 2px;
                padding: 15px; }
                .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div:after {
                  content: "";
                  display: none;
                  position: absolute;
                  top: 15px;
                  left: -30px;
                  width: 0;
                  height: 0;
                  border: 15px solid transparent;
                  border-right-color: #40484B; }
                .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div h1 {
                  text-align: left !important;
                  font-size: 20px !important;
                  padding-right: 100px; }
                .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div p {
                  margin: 5px 0 0;
                  font-size: 16px; }
                .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div .pf-exp-time {
                  position: absolute;
                  right: 0;
                  top: 10px;
                  background: #7c8a8f !important;
                  padding: 5px 10px 5px 0 !important;
                  height: 30px;
                  font-size: 14px;
                  font-weight: 600; }
                  .pf-container .pf-main > div.pf-about .pf-exp > div ul li > div > div .pf-exp-time:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -20px;
                    border: 15px solid #7c8a8f;
                    border-left-color: transparent !important;
                    border-left-width: 10px;
                    border-right-width: 10px; }
  .pf-container .pf-mobile-cta {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0; }

@media screen and (max-width: 768px) {
  .pf-container {
    overflow: auto;
    background: #40484B; }
    .pf-container .pf-aside .pf-aside-mobile .pf-name {
      margin-top: 5px; }
    .pf-container .pf-rest {
      height: auto; }
    .pf-container .pf-main > div {
      height: auto;
      overflow: visible;
      padding-bottom: 64px; }
    .pf-container .pf-main .pf-main-subheader {
      max-width: 430px; } }
@media screen and (min-width: 414px) and (min-height: 700px) {
  .pf-container:not(.mobile) .pf-aside .pf-aside-mobile .user-icon {
    width: 96px;
    height: 96px; } }
@media screen and (min-width: 768px) {
  .pf-container:not(.mobile) {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; }
    .pf-container:not(.mobile) .pf-mobile-cta {
      display: none; }
    .pf-container:not(.mobile) .pf-aside {
      height: 100%;
      width: calc(100% / 3);
      padding: 15px; }
      .pf-container:not(.mobile) .pf-aside .pf-aside-mobile {
        display: none; }
      .pf-container:not(.mobile) .pf-aside .pf-aside-desc, .pf-container:not(.mobile) .pf-aside .pf-aside-widget {
        display: block; }
    .pf-container:not(.mobile) .pf-rest {
      height: 100%;
      width: calc(100% / 3 * 2); }
    .pf-container:not(.mobile) .pf-portfolio-items {
      padding: 15px; }
      .pf-container:not(.mobile) .pf-portfolio-items li {
        width: calc(100% / 2) !important;
        padding: 15px;
        margin-bottom: 0 !important; }
    .pf-container:not(.mobile) .pf-main > div .pf-items li {
      width: 50%; }
    .pf-container:not(.mobile) .pf-main > div.pf-about .pf-about-links > div {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center; }
    .pf-container:not(.mobile) .pf-main > div.pf-about .pf-exp > div ul:before {
      display: block; }
    .pf-container:not(.mobile) .pf-main > div.pf-about .pf-exp > div ul li:before {
      display: block; }
    .pf-container:not(.mobile) .pf-main > div.pf-about .pf-exp > div ul li > div .pf-exp-date {
      display: block; }
    .pf-container:not(.mobile) .pf-main > div.pf-about .pf-exp > div ul li > div > div {
      width: calc(100% - 120px); }
      .pf-container:not(.mobile) .pf-main > div.pf-about .pf-exp > div ul li > div > div:after {
        display: block; } }



/*# sourceMappingURL=../compiled/_shared.css.map */
