<main-view class='full-xy block overflow-auto flex-wrap-center overflow-hidden no-scrollbar flex-wrap bg-smoke' u link-data access-code='71ab4' on-init='s:[init-view-one:depth(1>):0]' scrollable='main' id='main-top'>


    <view layer="3" absolute type='row' bg="smoke" width='100' height='100' align='center center' when-fade-out-loader="a:[slideOutDown-subtle:2000:linear:0:1:f,opacity:1:0:2000:linear:0:1:f]" u on-init='s:[fade-out-loader:public:2000]'>
        <item width='100' height='50' align='bottom center'>
            <graphic u init-with="p:[perspective-origin:50% 50%,p:opacity:0]" on-init="a:[slideInDown:2000:easeOutCirc:0:1:f, rotateY:-1080deg:0deg:2000:easeOutCirc:0:1:f, scale:0:1:2000:easeOutCirc:0:1:f]" height='25' width='25' class='flex-grow svg-stroke-5 stroke-cerise fill-cerise' height='50' url='shared/templates/components/nav/heart.tpl'>
            </graphic>

        </item>
    </view>

    <tabs layer='5' external  fixed init-with="p:[opacity:0]" u when-init-view-one="a:[fadeInDown:1250:easeOutCirc:500:1:f]" height='10'  import="shared/templates/components/nav/tabs.tpl"> </tabs>

    <view layer='4'   type='row' ng-class='{"bg-slate-20p":!vData.classes,  "bg-smoke": !vData.classes && index % 2 === 1}' bg="smoke" class='relative flex-vertical-center overflow-hidden' width='100' height='90' align='left bottom' u init-with="p:[opacity:0]" when-init-view-one="a:[fadeInUp:1250:easeOutCirc:500:1:f]"  relative>


        <item class='opacity-80p' width='100' height='90' u align-self="bottom" on-init='a:[translateX:-100%:100%:100000:linear:0:1:f]' absolute layer='-1' bg-url='https://s3-us-west-1.amazonaws.com/ui-coach/users/71ab4/files/banner1.jpg'> </item>
        <item width='100' opacity="80" height='100' u  on-init='a:[translateX:-100%:100%:100000:linear:0:1:f]' absolute layer='-1' bg-url='https://s3-us-west-1.amazonaws.com/ui-coach/users/71ab4/files/banner2.jpg'> </item>
        <!-- <item width='100' height='100' u on-init='a:[translateX:0%:300%:150000:linear:0:1:f]' absolute layer='-1' bg-url='https://s3-us-west-1.amazonaws.com/ui-coach/users/71ab4/files/banner3.jpg'> </item> -->


        <item align='center center' m-align='center bottom' height='90' class='overflow-hidden' m-height='33' m-width='100' m-align-self='bottom' width='50' bg='transparent' m-bg='charcoal-50p' init-after="init-view-one" u on-init='p:[opacity:1]' relative>
            <item width='100' m-width='100' height='100' m-height='100' align='left center'  bg="cerise-80p"  m-bg='cerise-50p' m-center  class='flex-wrap'>
                <item width='100' align='center bottom' height='60' relative>

                    <item width='100' align='center bottom' height='40' padding='20px'  relative>
                        <u-image round height='250' width='250' bg-src="https://s3-us-west-1.amazonaws.com/ui-coach/users/71ab4/files/web1.jpg"/>
                    </item>

                </item>
                <item height='40' width='100' align='center top' class='flex-wrap flex-center'>
                    <small class='full-width uppercase weight-600 opacity-80p m10y'>Ayy from the bayy</small>
                    <div  class='grid line-height-1-2 txt-charcoal txt-48 full-x'>
                        <txt font-size='48px' m-font-size='36px' class='txt-smoke txt-charcoal weight-500' type='fadeIn' delay="250ms" >Hello! I'm Tracie <span class='weight-500 opacity-75p txt-white'>&nbsp;&&nbsp;</span>
                        </txt>
                        <div  class='txt-smoke txt-charcoal weight-500 opacity-75p' type='fadeIn' delay="250ms">  I can help with
                            <br>
                        </div>
                        <div class='weight-900 p10y border-3-bottom txt-white border-solid opacity-1'> scheduling</div>
                        </div>


                    </div>
                </item>
                <item class='full-x'>

                </item>
            </item>

        </item>
        <item align='center center' m-align='center bottom' height='90' m-height='33' m-width='100' m-align-self='bottom' width='50' bg='transparent' m-bg='charcoal-50p' init-after="init-view-one" u on-init='p:[opacity:1]' relative>
        </item>
    </view>

    <view u init-with='p:[opacity:0]' on-init='p:[opacity:1]' height='auto' width='100' layer='4' relative  align='right center' m-align='center center' m-border='0' class='flex-wrap txt-charcoal' id='programs'>


            <item class='weight-700 bg-cerise-20p' height='15' width='100' align='center center' relative>
                <txt class='txt-48 txt-charcoal opacity-80p' width='100' height='100'>
                    Life Coaching Programs & Pricing
                </txt>
            </item>
            <item width='100' height='85'  align='center center' relative class='flex-vertical-center'>
                <item height='100' width='33.3' bg='cerise' relative align='center center'>
                    <item height='60' width='60' class='bg-white flex-wrap flex-wrap-center' align='center center' padding='10% 5%' relative>
                        <txt align-self='center center' class='weight-700 txt-charcoal' height='10%' width='100' font-size='24px'>Career Coaching</txt>
                        <graphic  width='25' height='25' stroke='white' fill='white'  url='shared/templates/components/nav/avatars/stock1.tpl'></graphic>
                        <txt padding='10px' align-self='center center' class='flex-grow weight-400 txt-16 txt-charcoal' width='100'>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </txt>
                        <txt padding='10px' align-self='center center flex-grow' class='weight-400 txt-16 txt-charcoal' width='100'>Career is simply dummy text of the printing and typesetting industry </txt>
                        <item width='100' align='center center' class='p20y' u on-click='send:[schedule-modal-requested:public]'>
                            <txt width='60' center letter-spacing="1px" class="txt-1 bg-cerise-50p border-radius-2 txt-white p20x p10y txt-charcoal weight-600 uppercase flex-grow text-center"> Learn More
                            </txt>
                        </item>
                    </item>

                </item>
                <item height='100' width='33.3' bg='cerise-20p' align='center center' relative class='flex-vertical-center'>
                    <item height='80' width='60' class='bg-smoke border-3 border-cerise flex-wrap flex-wrap-center' align='center center' relative>
                        <item height='20' class='bg-cerise' width='100' padding='5%'>
                        </item>
                        <item padding='10% 5%' width='100' align='center center' class='flex-wrap'>
                            <txt align-self='center center' class='weight-700 txt-charcoal' height='10%' width='100' font-size='24px'>Career Coaching</txt>
                            <graphic  width='25' height='25' stroke='white' fill='white'  url='shared/templates/components/nav/avatars/stock2.tpl'></graphic>
                            <txt padding='10px' align-self='center center' class='flex-grow weight-400 txt-16 txt-charcoal' width='100'>is simply dummy text of the printing and typesetting industry.</txt>
                            <txt padding='10px' align-self='center center flex-grow' class='weight-400 txt-16 txt-charcoal' width='100'>Career is simply dummy text of the printing and typesetting industry </txt>
                            <item width='100' align='center center' class='p20y'>
                                <txt width='60' center letter-spacing="1px" class="txt-1 bg-cerise-60p border-radius-2 txt-white p20x p10y txt-charcoal weight-600 uppercase flex-grow text-center"> Learn More
                                </txt>
                            </item>
                        </item>
                    </item>
                </item>
                <item height='100' width='33.3' bg='cerise' align='center center' relative class='flex-vertical-center'>

                        <item height='60' width='60' class='bg-white flex-wrap flex-wrap-center' align='center center' padding='10% 5%' relative>
                            <txt align-self='center center' class='weight-700 txt-charcoal' height='10%' width='100' font-size='24px'>Career Coaching</txt>
                            <graphic  width='25' height='25' stroke='white' fill='white'  url='shared/templates/components/nav/avatars/stock1.tpl'></graphic>
                            <txt padding='10px' align-self='center center' class='flex-grow weight-400 txt-16 txt-charcoal' width='100'>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </txt>
                            <txt padding='10px' align-self='center center flex-grow' class='weight-400 txt-16 txt-charcoal' width='100'>Career is simply dummy text of the printing and typesetting industry </txt>
                            <item width='100' align='center center' class='p20y' u on-click='send:[schedule-modal-requested:public]'>
                                <txt width='60' center letter-spacing="1px" class="txt-1 bg-cerise-50p border-radius-2 txt-white p20x p10y txt-charcoal weight-600 uppercase flex-grow text-center"> Learn More
                                </txt>
                            </item>
                        </item>
                </item>


            </item>
    </view>
    <view height='25'  width='100' id='free-workbook' align='center center' relative type='row' class='bg-cerise weight-600 txt-32' style='top:-10%'>
        <item class='full-x'>
            <txt class='center full-x'> Discover your strengths </txt>
        </item>
        <item class='full-x p20y' height='33' width='100' relative align='center center' margin="20px 0 0 0" class='flex-vertical-center'>
            <item width='25' height='auto' align-self="left center" padding='0 10px'>
                <u-input class='bg-transparent' placeholder='Your email here'></u-input>
            </item>
            <item width='25' height='auto' align-self="left center" padding='0 10px' margin="0 0 0 25px">
                <u-input style='width:33%;' class='bg-transparent' placeholder='placeholder'></u-input>
            </item>
            <item width='25' height='auto' align='center center' align-self="left center" padding='0 10px' margin="0 0 0 25px" class='border-white border-2 border-solid bg-charcoal-20p'>
                <button class='btn txt-white white btn-ghost-square' width='60' letter-spacing="1px" class="txt-1 bg-cerise border-radius-2 txt-white p10y uppercase">Free consultation</button>
            </item>

        </item>
    </view>
    <view u  init-with='p:[opacity:0]' on-init='p:[opacity:1]' height='auto' width='100' layer='4' relative  align='right center' m-align='center center' m-border='0' class='flex-wrap txt-charcoal' id='testimonials'>
                <txt width='100' m-height='15' m-padding='20px' align='center center' font-size='36px' class='flex-grow uppercase'>Testimonials</txt>
                <item height='auto' align='center center' ng-repeat='t in [{name:"Jane S."}, {name: "Asif D"}, {name: "Mary J"}, {name: "lil b."}]' class='flex-wrap full-x'>
                    <div id='about' class='full-x flex-wrap-center'>
                        <div class='p10y'>
                            <div class='round bg-slate-20p height-64 width-64'>
                                &nbsp;
                            </div>
                        </div>
                        <div class='full-x p05y txt-2 txt-slate txt-center uppercase weight-700'>{{t.name}}</div>
                        <txt class='p10y' width='100'  class='p20x flex-wrap' align='center center' font-size='14px' padding='5%'>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </txt>
                    </div>
                </item>
    </view>
    <view layer='4'  type='row' class='bg-charcoal' m-height='25' height='33' class='txt-cerise relative' width='100' height='100' align='center center' relative>
    </view>


    <!-- <view layer='4'  type='row' ng-class='{"bg-slate-20p":!vData.classes,  "bg-smoke": !vData.classes && index % 2 === 1}' bg="smoke" class='relative' width='100' height='100' align='center center' >

    </view> -->

    <view layer='4' id='my-story'  type='row' class='bg-charcoal' m-height='25' height='33' class='txt-cerise relative' width='100' height='100' align='center center' relative>
        <item align='center center' class='txt-48 full-y txt-cerise flex-wrap' desktop width='33' height='20' relative>

            <item width='100' align='center bottom' height='50' relative>
                <u-image round height='100' width='100' bg-src="https://s3-us-west-1.amazonaws.com/ui-coach/users/71ab4/files/web1.jpg"/>
            </item>
            <item width='100' align='center'>Tracy Picardo </item>

        </item>
        <item align='center center' desktop width='33' class='flex-wrap' relative>
            <txt width='100' font-size='32px' height='20' align-self='center top' class='uppercase opacity-80p txt-cerise' >Quick Links</txt>
            <item align-self='left center' padding='10px 15%' class='txt-left' width='100'>
                <txt margin='5px 0px' class='txt-left opacity-50p'>Success stories</txt>
                <txt margin='5px 0px'  class='txt-left opacity-50p'>life coaching</txt>
                <txt margin='5px 0px'  class='txt-left opacity-50p'>wife coaching</txt>
                <txt margin='5px 0px'  class='txt-left opacity-50p'>knife coaching</txt>
                <txt margin='5px 0px'  class='txt-left opacity-50p'>i coach all</txt>
            </item>

        </item>

        <item align='center center' m-width='100' class='flex-wrap flex-vertical-center' width='33' desktop relative >
            <txt height='20' class='uppercase opacity-80p txt-cerise' font-size='32px'>Connect With Me</txt>
            <item align='center center' margin='5%' height='15%' width='50%' relative>
                <graphic width='25' height='100' stroke='white' fill='white'  url='shared/templates/components/nav/social/facebook.tpl'></graphic>
                <graphic width='25' height='100' fill='white' stroke='white'  url='shared/templates/components/nav/social/instagram.tpl'></graphic>
                <graphic width='25%' stroke='white' height='100'  fill='white' url='shared/templates/components/nav/social/twitter.tpl'></graphic>
                <graphic width='25%' stroke='white' height='100' fill='white'  url='shared/templates/components/nav/social/linked_in.tpl'></graphic>
            </item>

        </item>
    </view>



    <modal name='leadgen' position='top' class='bg-charcoal-50p' bg='charcoal-80p' init-with='p:[opacity:0]' when-leadgen-modal-requested='a:[slideInDown-subtle:1000:linear:0:1:f]' when-leadgen-modal-close="a:[slideOutUp-subtle:1000:linear:0:1:f,z-index:100:-1:1000:easeOutQuint:250:1:f]" padding='10%' height='100%' width='100%' layer='4' type='row' align='center center'>
        <graphic u absolute  on-click='s:[leadgen-modal-close:public]' class="flex-grow svg-stroke-10 top-0 right-0 stroke-white round" init-with='p:[transform:rotate(45deg)]' margin='2.5%' url="shared/templates/components/nav/close.tpl"> </graphic>
        <item layer='-1' padding='10' bg-url='http://www.iheartmylife.com/wp-content/uploads/2016/08/about.jpg' height='100' width='100' align='center center'>
            <item class='bg-smoke' width='30' m-width='90' height='70' margin='5%'>
                <u-input type='light'> </u-input>
            </item>
        </item>
    </modal>
    <modal name='schedule' position='top' class='bg-charcoal-50p' bg='charcoal-80p' u init-with='p:[opacity:0]' when-schedule-modal-requested='a:[slideInDown-subtle:1000:linear:0:1:f]' when-schedule-modal-close="a:[slideOutUp-subtle:1000:linear:0:1:f,z-index:100:-1:1000:easeOutQuint:250:1:f]" padding='10%' height='100%' width='100%' layer='4' type='row' align='center center'>
        <graphic u absolute  on-click='s:[schedule-close:public]' class="flex-grow svg-stroke-10 top-0 right-0 stroke-white round" init-with='p:[transform:rotate(45deg)]' margin='2.5%' url="shared/templates/components/nav/close.tpl"> </graphic>
        <calendar>
        </calendar>
    </modal>

    <modal name='sidebar' m-width='80%' m-height='100%' right class='right-0 top-0 bg-charcoal-50p' bg='cerise-80p' init-with='p:[opacity:0]' when-sidebar-modal-requested='a:[slideInDown-subtle:1000:linear:0:1:f,z-index:10:100:50:linear:0:1:f]' when-sidebar-closed="a:[slideOutUp-subtle:1000:linear:0:1:f]" padding='10%' height='100%' width='33%' layer='4' type='row' align='center center'>
        <graphic layer='100' u absolute  on-click='s:[sidebar-closed:public]' class="flex-grow svg-stroke-10 top-0 right-0 stroke-white round" init-with='p:[transform:rotate(45deg)]' margin='2.5%' url="shared/templates/components/nav/close.tpl"> </graphic>
        <item class='center top' absolute height='80' width='100'>
            <ul class='full-x'>
                <li class='p20x p10y txt-32 txt-left full-x uppercase txt-white weight-700 m10y' ng-repeat='side_link in ["about", "program", "testimonials", "book now"]'>{{side_link}}</li>
            </ul>
        </item>


    </modal>

</main-view>
