@import '../mixin';

// copy url
.copy-url {
	@include flex;
	@include flex-center;
	width: 100%;
	max-width: 400px;
	input {
		@include flex;
		@include flex-center-vertical;
		width: 100%;
		padding: 10px 15px;
		font-size: 18px;
		height: 48px;
	}
	label {
		display: block;
		width: 48px;
		height: 48px;
		svg {
			width: 48px;
			height: 48px;
			background: $shamrock;
			padding: 6px;
			* {
				@include svg-stroke(white, 6);
			}
		}
	}
}

// fieldset
fieldset {
	@include flex;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	font-weight: 400!important;
	width: 100%;
	min-height: 30px;
	&.full-x {
		max-width: none;
	}
	* {
		transition: all 150ms ease-in-out;
		font-weight: 400!important;
		@include placeholder {
			transition: all 150ms ease-in-out;
		}
	}
}

// materialize and basic inputs
fieldset {
	input {
		display: block;
		width: 100%;
		font-size: 16px;
		@include placeholder {
			transition: all 150ms ease-in-out;
			font-weight: 400;
			font-size: 16px;
		}
	}
	&.input-basic {
		label:first-child {
			display: block;
			font-size: 14px;
			margin-bottom: 5px;
		}
		input {
			@include flex;
			@include flex-center-vertical;
			height: 36px;
			padding: 0 10px;
			border-radius: 2px;
			background: rgba(white, .8);
			@include placeholder {
				color: rgba($slate, .2);
			}
			&:hover, &:focus {
				background: white;
			}
			&:focus {
				@include placeholder {
					color: rgba($slate, .4);
				}
			}
			&.dark {
				background: rgba($slate, .8);
				color: white;
				@include placeholder {
					color: rgba(white, .2);
				}
				&:hover, &:focus {
					background: $slate;
				}
				&:focus {
					@include placeholder {
						color: rgba(white, .4);
					}
				}
			}
		}
		&.with-button {
			label {
				width: 100%;
			}
			div {
				@include flex;
				@include flex-center-vertical;
			}
			input {
				padding-right: 46px;
				+ div {
					@include opacity(0);
					position: absolute;
					right: 0;
					bottom: 0;
				}
				&:hover, &:focus {
					+ div {
						@include opacity(1);
					}
				}
			}
			a {
				@include flex;
				@include flex-center;
				margin: 0!important;
				width: 36px;
				height: 36px;
				svg {
					display: block;
					width: 24px;
					height: 24px;
					* {
						@include svg-stroke(white, 8);
					}
				}
				&:last-child {
					border-top-right-radius: 2px;
					border-bottom-right-radius: 2px;
				}
			}
		}
		&.two-buttons {
			input {
				padding-right: 82px;
			}
		}
		&.no-border {
			* {
				border-radius: 0!important;
			}
		}
	}
}

.input-border {
	position: relative;
	z-index: 9;
	background: none;
	border-bottom: 1px solid!important;
	width: 100%;
	padding: 10px 0;
	+ label:empty {
		@include prefix(transform, scaleX(0) translateZ(0), webkit moz ms o);
		@include prefix(transform-origin, 0% 50%, webkit moz ms o);
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 2px;
	}
	&:focus {
		+ label:empty {
			@include prefix(transform, scaleX(1) translateZ(0), webkit moz ms o);
		}
	}
	&.light {
		color: white;
		border-bottom-color: rgba(white, .2)!important;
		@include placeholder {
			color: rgba(white, .2);
		}
		&:focus {
			@include placeholder {
				color: white;
			}
		}
		+ label:empty {
			background: white;
		}
		&:hover, &:focus {
			border-bottom-color: rgba(white, .4)!important;
			@include placeholder {
				color: rgba(white, .4);
			}
		}
	}
	&.dark {
		color: $slate;
		border-bottom-color: rgba($slate, .2)!important;
		@include placeholder {
			color: rgba($slate, .2);
		}
		&:focus {
			@include placeholder {
				color: $slate;
			}
		}
		+ label:empty {
			background: $slate;
		}
		&:hover, &:focus {
			border-bottom-color: rgba($slate, .4)!important;
			@include placeholder {
				color: rgba($slate, .4);
			}
		}
	}
	&.bg-moxie {
		color: $moxie;
		&:focus {
			@include placeholder {
				color: $moxie;
			}
		}
		+ label:empty {
			background: $moxie;
		}
	}
	&.bg-crimson {
		color: $crimson;
		&:focus {
			@include placeholder {
				color: $crimson;
			}
		}
		+ label:empty {
			background: $crimson;
		}
	}
}

fieldset {
	&.with-icon {
		.input-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			svg {
				display: block;
				width: 100%;
				height: 100%;
				* {
					stroke-width: 6px;
					stroke-linecap: round;
					stroke-linejoin: round;
					fill: none;
				}
			}
		}
		input {
			margin-left: 34px;
			width: calc(100% - 34px);
			+ label {
				width: calc(100% - 34px)!important;
				left: 34px!important;
			}
			&.light {
				~ .input-icon {
					svg {
						* {
							stroke: rgba(white, .2);
						}
					}
				}
				&:hover {
					~ .input-icon {
						svg {
							* {
								stroke: rgba(white, .4);
							}
						}
					}
				}
				&:focus {
					~ .input-icon {
						svg {
							* {
								stroke: white;
							}
						}
					}
				}
			}
			&.dark {
				~ .input-icon {
					svg {
						* {
							stroke: rgba($slate, .2);
						}
					}
				}
				&:hover {
					~ .input-icon {
						svg {
							* {
								stroke: rgba($slate, .4);
							}
						}
					}
				}
				&:focus {
					~ .input-icon {
						svg {
							* {
								stroke: $slate;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 768px) {
		&.large {
			min-height: 64px;
			max-width: none;
			.input-border {
				font-size: 36px;
				border-bottom-width: 2px!important;
				@include placeholder {
					font-size: 36px;
				}
			}
			&.with-icon {
				.input-icon {
					width: 58px;
					height: 58px;
					svg {
						* {
							stroke-width: 4px;
						}
					}
				}
				input {
					margin-left: 68px;
					width: calc(100% - 68px);
					+ label {
						width: calc(100% - 68px)!important;
						left: 68px!important;
					}
				}
			}
		}
	}
}

// textarea
fieldset {
	textarea {
		resize: none;
		width: 100%;
		min-height: 75px;
		border-radius: 2px;
		font-size: 16px;
		padding: 10px 15px;
		background: $smoke;
		&:not(.no-border) {
			border: 2px solid lighten($slate, 15%);
			border-bottom-width: 5px;
		}
		@include placeholder {
			color: rgba($slate, .2);
		}
		&:hover, &:focus {
			background: white;
		}
		&:focus {
			border-color: $shamrock;
			&::selection {
				background: $slate;
				color: white;
			}
			&::-moz-selection {
				background: $slate;
				color: white;
			}
			@include placeholder {
				color: rgba($slate, .4);
			}
		}
	}
	&.with-button {
		position: relative;
		div {
			@include opacity(0);
			@include flex;
			position: absolute;
			bottom: 0;
			right: 0;
			span {
				@include flex;
				@include flex-center;
				@include opacity(.5);
				padding-right: 10px;
				color: $slate;
				font-size: 14px;
				text-align: center;
			}
			a {
				@include flex;
				@include flex-center;
				margin: 0!important;
				width: 24px;
				height: 24px;
				svg {
					display: block;
					width: 18px;
					height: 18px;
					* {
						@include svg-stroke(white, 12);
					}
				}
				&:first-child {
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
				}
				&:last-child {
					border-top-right-radius: 2px;
					border-bottom-right-radius: 2px;
				}
			}
		}
		textarea {
			height: 150px;
			padding-bottom: 34px;
			&:hover, &:focus {
				+ div {
					@include opacity(1);
				}
			}
		}
	}
	&.no-border {
		* {
			border-radius: 0!important;
		}
	}
}
