@import '../mixin';

// dashboard ticket
.ticket-slider-container {
	@include flex;
	@include flex-center;
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 500px;
}
.ticket-slider-inside {
	padding: 15px 0 15px 15px;
	height: 100%;
	width: 100%;
	position: relative;
	.ticket-slider-content {
		position: absolute;
		left: calc(10% + 7.5px);
		top: 10%;
		width: 80%;
		height: 80%;
		border-radius: 5px;
		text-align: center;
		.ticket-slider-content-inside {
			@include flex;
			@include flex-wrap;
			justify-content: center;
			padding: 15px;
			width: 100%;
			height: 100%;
			h1, h2 {
				align-self: flex-start;
				text-align: center;
				padding: 0;
				margin: 0!important;
			}
			h1 {
				font-size: 32px;
				font-weight: 900;
			}
			h2 {
				font-size: 20px;
				font-weight: 600;
			}
			.ticket-slider-guru-bar {
				@include flex;
				@include flex-center;
				align-self: center;
				padding: 0 7.5px;
				width: 100%;
				> li {
					padding: 0 7.5px;
					.pf-card-mini {
						background: $smoke;
						color: $slate;
						.user-icon {
							border-color: $smoke;
							width: 48px;
							height: 48px;
						}
						.pf-name {
							font-size: 14px;
							font-weight: 600;
						}
						.rating-stars {
							max-width: 70px;
						}
					}
				}
			}
			.ticket-slider-icon-bar {
				@include flex;
				@include flex-center;
				align-self: center;
				padding: 0 7.5px;
				> li {
					padding: 0 7.5px;
					span {
						display: block;
						width: 100%;
						font-size: 16px;
						font-weight: 600;
						line-height: 1.2;
						text-align: center;
						text-transform: uppercase;
						+ span {
							margin-top: 5px;
						}
					}
					svg {
						@include round;
						display: block;
						width: 100%;
						max-width: 90px;
						margin: 0 auto;
						padding: 5px;
						* {
							@include svg-stroke(white, 3);
						}
					}
					&.academic {
						svg {
							background: $cerise;
						}
					}
					&.baking {
						svg {
							background: $gold;
						}
					}
					&.photography {
						svg {
							background: $moola;
						}
					}
					&.household {
						svg {
							background: $cobalt;
						}
					}
					&.tech {
						svg {
							background: $azure;
						}
					}
				}
			}
			.ticket-slider-icon {
				align-self: center;
				display: block;
				margin: 0 auto;
				svg {
					display: block;
					margin: 0 auto;
					width: 100%;
					max-height: 150px;
				}
			}
			button {
				align-self: flex-end;
				display: inline-block;
				max-width: 75%;
			}
		}
	}
	.ticket-slider-bg {
		position: relative;
		width: 100%;
		height: 100%;
		div {
			margin: 0 auto;
			width: calc(100% - 10px);
			height: 100%;
		}
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100%;
			width: 20%;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.guru {
		.ticket-slider-content {
			border: 3px solid $shamrock;
			background: $slate;
			.ticket-slider-inside {
				.ticket-slider-icon {
					svg {
						*[stroke="#000000"] {
							stroke: white!important;
						}
					}
				}
			}
		}
		.ticket-slider-bg {
			div {
				background: url(../../img/ticket/center-guru.svg) repeat-x center center / contain,
							url(/static/remote/img/ticket/center-guru.svg) repeat-x center center / contain;
			}
			&:before {
				background: url(../../img/ticket/left-guru.svg) no-repeat center left / contain,
							url(/static/remote/img/ticket/left-guru.svg) no-repeat center left / contain;
			}
			&:after {
				background: url(../../img/ticket/right-guru.svg) no-repeat center right / contain,
							url(/static/remote/img/ticket/right-guru.svg) no-repeat center right / contain;
			}
		}
	}
	&.student {
		.ticket-slider-content {
			border: 3px solid #F1B99D;
			background: white;
			.ticket-slider-inside {
				.ticket-slider-icon {
					svg {
						*[stroke="#000000"] {
							stroke: $slate!important;
						}
					}
				}
			}
		}
		.ticket-slider-bg {
			div {
				background: url(../../img/ticket/center.svg) repeat-x center center / contain,
							url(/static/remote/img/ticket/center.svg) repeat-x center center / contain;
			}
			&:before {
				background: url(../../img/ticket/left.svg) no-repeat center left / contain,
							url(/static/remote/img/ticket/left.svg) no-repeat center left / contain;
			}
			&:after {
				background: url(../../img/ticket/right.svg) no-repeat center right / contain,
							url(/static/remote/img/ticket/right.svg) no-repeat center right / contain;
			}
		}
	}
}

/* ---------- MISC */
// ribbon edges
[class*="ribbon-"] {
	@include flex;
	@include flex-center;
	position: relative;
	font-weight: 600;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
	}
	&[class*="-left"] {
		padding-right: 15px;
		&:after {
			display: none;
		}
	}
	&[class*="-right"] {
		padding-left: 15px;
		&:before {
			display: none;
		}
	}
	&[class*="ribbon-32"] {
		height: 32px;
		font-size: 18px;
		&:before, &:after {
			border: 16px solid;
			border-left-width: 12px;
			border-right-width: 12px;
		}
		&:before {
			left: -24px;
		}
		&:after {
			right: -24px;
		}
	}
	&[class*="ribbon-48"] {
		height: 48px;
		font-size: 24px;
		&:before, &:after {
			border: 24px solid;
			border-left-width: 16px;
			border-right-width: 16px;
		}
		&:before {
			left: -32px;
		}
		&:after {
			right: -32px;
		}
	}
	&[class*="ribbon-64"] {
		height: 64px;
		font-size: 28px;
		&:before, &:after {
			border: 32px solid;
			border-left-width: 24px;
			border-right-width: 24px;
		}
		&:before {
			left: -48px;
		}
		&:after {
			right: -48px;
		}
	}
	&.bg-charcoal {
		&:before, &:after {
			border-color: $charcoal;
		}
	}
	&.bg-slate {
		&:before, &:after {
			border-color: $slate;
		}
	}
	&.bg-taupe {
		&:before, &:after {
			border-color: $taupe;
		}
	}
	&.bg-campus {
		&:before, &:after {
			border-color: $campus;
		}
	}
	&.bg-smoke {
		color: $slate;
		&:before, &:after {
			border-color: $smoke;
		}
	}
	&.bg-white {
		color: $slate;
		&:before, &:after {
			border-color: white;
		}
	}
	&.bg-shamrock {
		&:before, &:after {
			border-color: $shamrock;
		}
	}
	&.bg-robin {
		background: $robin;
		&:before, &:after {
			border-color: $robin;
		}
	}
	&.bg-lake {
		&:before, &:after {
			border-color: $lake;
		}
	}
	&.bg-moxie {
		&:before, &:after {
			border-color: $moxie;
		}
	}
	&.bg-crimson {
		&:before, &:after {
			border-color: $crimson;
		}
	}
	&.bg-auburn, &.bg-delivery {
		background: $auburn;
		&:before, &:after {
			border-color: $auburn;
		}
	}
	&.bg-orange, &.bg-freelancing {
		background: $orange;
		&:before, &:after {
			border-color: $orange;
		}
	}
	&.bg-gold, &.bg-baking {
		background: $gold;
		&:before, &:after {
			border-color: $gold;
		}
	}
	&.bg-moola, &.bg-photography {
		background: $moola;
		&:before, &:after {
			border-color: $moola;
		}
	}
	&.bg-azure, &.bg-tech {
		background: $azure;
		&:before, &:after {
			border-color: $azure;
		}
	}
	&.bg-cobalt, &.bg-household {
		background: $cobalt;
		&:before, &:after {
			border-color: $cobalt;
		}
	}
	&.bg-eggplant, &.bg-athletic {
		background: $eggplant;
		&:before, &:after {
			border-color: $eggplant;
		}
	}
	&.bg-cerise, &.bg-academic {
		background: $cerise;
		&:before, &:after {
			border-color: $cerise;
		}
	}
	&:before {
		border-left-color: transparent!important;
	}
	&:after {
		border-right-color: transparent!important;
	}
}

.svg-pennant {
	animation-duration: 500ms;
	height: 182px;
}

// projector slide
.projector-slide {
	position: relative;
	width: 90%!important;
	height: 80%;
	max-width: 900px;
	max-height: 600px;
	@media screen and (min-height: 900px) {
		max-width: 1080px;
		max-height: 720px;
	}
	.projector-top {
		position: absolute;
		top: .2%;
		left: .8%;
		width: 98.4%;
		height: 3.3%;
		border: 2px solid white;
		background: rgba($slate, .95);
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			border: 2px solid white;
			border-radius: 2px;
			top: -20%;
			width: 1%;
			min-width: 9px;
			height: 140%;
			background: $slate;
		}
		&:before {
			left: -1%;
		}
		&:after {
			right: -1%;
		}
	}
	.projector-line {
		position: absolute;
		left: 50%;
		margin-left: -1px;
		top: -196px;
	}
	.projector-content {
		position: absolute;
		top: 3.2%;
		left: 2%;
		width: 96%;
		height: 96.2%;
		border: 2px solid white;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background: rgba($slate, .95);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		.projector-guru {
			position: absolute;
			top: -75px;
			left: 50%;
			margin-left: -75px;
			width: 150px;
			height: 150px;
			.user-icon {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				margin-top: -48px;
				margin-left: -48px;
				width: 96px;
				height: 96px;
				border-width: 3px;
			}
			.guru-head {
				@include flex;
				@include flex-center;
				z-index: 2;
				position: absolute;
				left: 0;
				top: 0;
				@media screen and (max-width: 320px) {
					transform: scale(0.75);
				}
				.guru-head {
					transform: rotate(-7deg);
					transform-origin: center center
				}
			}
			.coach {
				transition: all 150ms ease-in-out;
				position: absolute;
				top: -30px;
				right: -90px;
				&:not(.active) {
					@include opacity(0);
				}
			}
		}
	}
	.projector-handle {
		transition: all 150ms ease-in-out;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -30.5px;
	}
}

// postits
.postit {
	position: relative;
	margin: auto;
	overflow: hidden;
	.square {
		display: block;
		width: 100%;
		height: auto;
		fill: none;
	}
	> div {
		@include flex;
		@include flex-center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border: 2px solid white;
		border-radius: 2px;
		background: rgba(lighten($slate, 5%), .9);
		padding: 15px;
		text-align: center;
		&:hover {
			span {
				svg {
					animation-name: opacity-scale;
					animation-iteration-count: infinite;
					* {
						animation-iteration-count: infinite;
					}
					path[opacity="0.5"]:not([stroke]), circle[opacity="0.5"] {
						animation-name: opacity-pulse;
					}
					path[opacity="0.5"][stroke], path.special[opacity="0.5"]:not([stroke]) {
						animation-name: opacity-pulse-stroke;
					}
				}
			}
		}
		span {
			@include round;
			display: block;
			position: relative;
			z-index: 9;
			margin: 0 auto;
			width: 96px;
			height: 96px;
			svg {
				animation-fill-mode: forwards;
				transition: all .3s ease-in-out;
				animation-duration: .9s;
				transform-origin: center center;
				display: block;
				width: 100%;
				height: 100%;
				* {
					animation-fill-mode: forwards;
					transition: all .3s ease-in-out;
					animation-duration: .9s;
					transform-origin: center center;
				}
				&.animate {
					animation-name: opacity-scale;
					animation-iteration-count: 1;
					* {
						animation-iteration-count: 1;
					}
					path[opacity="0.5"]:not([stroke]), circle[opacity="0.5"] {
						animation-name: opacity-pulse;
					}
					path[opacity="0.5"][stroke], path.special[opacity="0.5"]:not([stroke]) {
						animation-name: opacity-pulse-stroke;
					}
				}
			}
		}
		h1 {
			max-height: 24px!important;
			overflow: hidden!important;
			font-size: 20px;
			font-weight: 600;
		}
		p {
			max-height: 38px!important;
			overflow: hidden!important;
			margin: 5px 0;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
.tape {
	transition: all .3s ease-in-out;
	animation-fill-mode: forwards;
	animation-duration: .6s;
	animation-iteration-count: 1;
	transform-origin: center;
	display: block;
	position: absolute;
	z-index: 40;
	width: 30px;
	height: auto;
	path {
		fill: rgba(white, .4);
	}
}
