@import 'mixin';

#admin {
	tabs {
		width: 100%!important;
		height: 60px;
	}
	> header {
		@include flex;
		background: mix(mix($shamrock, $robin), $slate, 75%);
		width: 100%;
		height: 64px;
		.admin-logo {
			display: block;
			height: 100%;
			padding: 10px;
			svg {
				display: block;
				height: 100%;
				path {
					@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
					&:first-child {
						fill: rgba(white,.8);
					}
					&:last-child {
						fill: white;
					}
				}
				text {
					fill: white;
				}
			}
		}
	}
	> main {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		position: relative;
		width: 100%;
		height: calc(100% - 64px);
		background: $charcoal;
		color: white;
		> aside {
			@include flex;
			@include flex-wrap;
			@include flex-stretch;
			width: 20%;
			height: 100%;
			a {
				@include flex;
				@include flex-center;
				width: 100%;
			}
		}
		> div {
			@include flex;
			@include flex-wrap;
			@include flex-stretch;
			@include prefix(justify-content, center, webkit);
			position: relative;
			width: 80%;
			height: 100%;
			background: $smoke;
			> section {
				position: relative;
				width: 100%;
				height: 100%;
				color: $slate;
			}
		}
	}
	
	// content sections
	.tab-container {
		width: 100%;
		.tab-bar {
			background: transparent!important;
		}
	}
	.admin-content {
		height: calc(100% - 60px);
	}
	.admin-content-section {
		@include flex;
		width: 100%;
		height: 95%;
	}
	
	// assets
	.admin-assets {
		@include prefix(align-content, flex-start, webkit);
		@include flex-wrap;
		h1 {
			width: 100%;
			padding: 15px 15px 0px;
			font-size: 24px;
			font-weight: 600;
			color: $slate;
		}
		h2 {
			width: 100%;
			padding: 15px;
			font-size: 18px;
			font-weight: 600;
			color: $slate;
		}
		ul {
			@include flex;
			@include flex-wrap;
			@include prefix(align-content, flex-start, webkit);
			width: 100%;
			padding: 7.5px;
			li {
				width: calc(100% / 8);
				padding: 7.5px;
				span {
					@include flex;
					@include flex-center;
					svg {
						display: block;
						width: 100%;
						background: white;
					}
				}
			}
			&.large {
				li {
					width: calc(100% / 6);
				}
			}
			+ ul {
				margin-top: -4px;
			}
		}
	}
	
	// moodboard
	.admin-moodboard {
		> ul {
			@include flex;
			@include flex-wrap;
			li {
				width: 25%;
				height: 200px;
				div {
					position: relative;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center center;
					a {
						position: absolute;
						bottom: 15px;
						left: 15px;
						display: block;
						font-size: 18px;
						font-weight: 600;
						padding: 5px 10px;
						&.bg-robin {
							background: rgba($robin, .75);
							&:hover, &:focus {
								background: mix($robin, white);
								color: mix($robin, $slate);
							}
							&:active {
								background: mix($robin, $slate);
								color: white;
							}
						}
						&.bg-crimson {
							background: rgba($crimson, .75);
							&:hover, &:focus {
								background: mix($crimson, white);
								color: mix($crimson, $slate);
							}
							&:active {
								background: mix($crimson, $slate);
								color: white;
							}
						}
					}
				}
			}
		}
	}
	
	// colors
	.admin-colors {
		> ul {
			> li {
				> div {
					position: relative;
					&.bg-smoke, &.bg-white {
						color: $campus;
						div {
							input {
								background: $campus;
								color: white;
							}
						}
					}
					svg {
						display: block;
						width: 100%;
					}
					div {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						h1 {
							width: 100%;
							font-size: 20px;
							font-weight: 600;
							margin-bottom: 5px;
							text-align: center;
						}
						input {
							padding: 5px;
							font-size: 16px;
							font-weight: 600;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	// components
	.admin-components, .admin-containers {
		> h2 {
			font-weight: 600;
			padding: 15px 15px 0;
			width: 100%;
		}
		> p {
			font-size: 28px;
			font-weight: 400;
			margin: 0;
			padding: 5px 15px 15px;
		}
		> ul {
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			width: 100%;
			> li {
				width: 25%;
				padding: 7.5px;
				> div {
					> h1, > a {
						padding: 10px 15px;
						background: $shamrock;
						font-size: 20px;
						font-weight: 600;
						text-align: center;
						border-top-left-radius: 2px;
						border-top-right-radius: 2px;
						h1 {
							font-weight: 600;
						}
					}
					> a {
						&:hover, &:focus {
							background: mix($shamrock, white);
							color: mix($shamrock, $slate);
							+ div {
								border-color: mix($shamrock, white);
							}
						}
						&:active {
							background: mix($shamrock, $slate);
							color: white;
							+ div {
								border-color: mix($shamrock, $slate);
							}
						}
					}
					> h2 {
						padding: 10px 15px;
						background: mix($shamrock, white);
						color: mix($shamrock, $slate);
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
					}
					> div {
						@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
						overflow: hidden;
						background: rgba($charcoal, .8);
						position: relative;
						border: 2px solid $shamrock;
						border-top: 0;
						height: 200px;
						> * {
							@include center-xy;
						}
						&:empty {
							display: none;
						}
					}
				}
			}
		}
	}
	.admin-containers {
		> ul {
			> li {
				width: 50%;
				> div {
					> div {
						height: 400px;
					}
				}
			}
		}
	}
	
	// time states
	.admin-time-states {
		h2 {
			font-weight: 600;
			padding: 15px 15px 0;
		}
	}
	
	// action items
	.admin-action-items {
		h2 {
			font-weight: 600;
			padding: 15px 15px 0;
		}
		ul {
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			li {
				width: 50%;
				padding: 7.5px;
				.checkbox-container {
					@include prefix(justify-content, flex-start, webkit);
					background: $smoke;
					padding: 15px;
					label {
						color: $slate;
					}
				}
			}
		}
	}
	
	// details
	.admin-details {
		padding: 7.5px;
		> div {
			padding: 7.5px;
			> div {
				background: $smoke;
				border-radius: 2px;
				color: $slate;
				> h1 {
					font-size: 24px;
					font-weight: 600;
					padding: 15px 15px 0;
				}
				> div {
					padding: 15px;
					font-size: 18px;
					font-weight: 400;
				}
				> ul {
					font-size: 18px;
					font-weight: 400;
					padding: 7.5px;
					li {
						padding: 7.5px;
						div {
							padding: 15px;
							background: rgba($campus, .3);
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
	
	// ranking
	#cta-modal-selected-layout {
		.user-ranking {
			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 36px;
			}
		}
		#current-tabs {
			background: $robin;
			height: 60px;
			.tab-bar {
				background: $robin;
			}
		}
		#admin-ranking-container {
			@include prefix(justify-content, center, webkit);
			@include prefix(align-content, flex-start, webkit);
			@include prefix(align-items, flex-start, webkit);
		}
		#high-score, #next-steps {
			@include flex;
			@include flex-wrap;
			@include prefix(align-items, flex-start, webkit);
			position: relative;
			width: 100%;
			overflow: auto;
			li {
				.user-icon {
					width: 64px;
					height: 64px;
					border-width: 3px;
				}
			}
		}
		#high-score {
			li {
				> div:nth-child(1) {
					width: 64px;
				}
				> div:nth-child(2) {
					width: calc(90% - 64px);
				}
				> div:nth-child(3) {
					width: 10%;
				}
			}
		}
		.user-ranking-filler-svg {
			display: block;
			margin: 0 auto;
			width: 126px;
			height: 110px;
			margin-bottom: 15px;
		}
	}
}