@import 'mixin';

/* ---------- BUILDER */
#build {
	@include flex;
	height: 100%;
	> main {
		width: calc(100% / 3 * 2);
		height: 100%;
		background: $smoke;
		.build-main-top {
			@include flex;
			@include flex-center-vertical;
			@include prefix(justify-content, space-between, webkit);
			background: $campus;
			height: 64px;
			h1 {
				padding-left: 15px;
				font-size: 24px;
				font-weight: 600;
			}
			> div {
				@include flex;
				@include flex-center-vertical;
				height: 100%;
				> div {
					text-align: center;
					margin-right: 15px;
					h2 {
						width: 100%;
						font-size: 14px;
						font-weight: 600;
						margin-bottom: 5px;
					}
					.dropdown {
						> div {
							a {
								svg {
									background: $moxie;
								}
								&:hover, &:focus {
									svg {
										background: lighten($moxie, 10%);
									}
								}
								&:active {
									svg {
										background: darken($moxie, 10%);
									}
								}
							}
						}
						> ul {
							li {
								background: rgba(lighten($slate, 5%), .9);
								&:hover, &:focus {
									background: rgba(darken($moxie, 10%),.9);
								}
								&:active {
									background: rgba(lighten($moxie, 10%),.9);
								}
							}
						}
					}
				}
			}
			.build-main-settings {
				display: block;
				margin-right: 10px;
				svg {
					display: block;
					width: 36px;
					height: 36px;
					* {
						@include svg-stroke(white, 6);
					}
				}
			}
		}
		.build-player {
			height: calc(100% - 128px);
		}
		.build-main-bottom {
			@include flex;
			position: relative;
			height: 64px;
			background: white;
			.builder-search-results {
				position: absolute;
				top: -36px;
				left: 0;
				height: 36px;
				width: 100%;
				background: $campus;
				ul {
					@include flex;
					width: 100%;
					overflow: auto;
				}
			}
			label {
				@include flex;
				@include flex-center;
				width: 64px;
				height: 100%;
				background: $moxie;
				svg {
					display: block;
					width: 36px;
					height: 36px;
					* {
						@include svg-stroke(white, 6);
					}
				}
			}
			input {
				width: calc(100% - 64px);
				height: 100%;
				padding: 0 15px;
				font-size: 20px;
			}
		}
	}
	> aside {
		width: calc(100% / 3);
		height: 100%;
		.build-aside-top {
			height: 64px;
			background: lighten($slate, 15%);
			ul {
				@include flex;
				width: 100%;
				height: 100%;
				overflow: auto;
				li {
					position: relative;
					height: 100%;
					width: 64px;
					&:not(:last-child) {
						&:after {
							@include round;
							content: "";
							display: block;
							position: absolute;
							z-index: 10;
							top: 6px;
							right: -1px;
							height: calc(100% - 12px);
							width: 2px;
							background: mix(lighten($slate, 15%), white, 70%);
						}
					}
					a {
						@include flex;
						@include flex-center;
						width: 64px;
						height: 100%;
						font-size: 28px;
						font-weight: 600;
						&:hover, &:focus {
							background: mix($moxie, white);
							color: mix($moxie, $slate);
						}
						&:active {
							background: $moxie;
							color: white;
						}
					}
				}
			}
		}
		.build-element-list {
			height: calc(100% - 128px);
			overflow: auto;
		}
		.build-aside-bottom {
			height: 64px;
			background: lighten($slate, 15%);
			ul {
				@include flex;
				height: 100%;
				li {
					height: 100%;
					a {
						@include flex;
						@include flex-center;
						height: 100%;
						width: 64px;
						margin: 0 auto;
						svg {
							display: block;
							width: 48px;
							height: 48px;
							* {
								@include svg-stroke(white, 6);
							}
						}
						&:hover, &:focus {
							background: mix($moxie, white);
							svg {
								* {
									stroke: mix($moxie, $slate);
								}
							}
						}
						&:active {
							background: $moxie;
							svg {
								* {
									stroke: white;
								}
							}
						}
					}
					.build-add-element {
						background: $moxie;
						svg {
							width: 36px;
							height: 36px;
						}
						&:active {
							background: mix($moxie, $slate);
						}
					}
					&:not(:nth-child(3)) {
						width: 64px;
					}
					&:nth-child(2) {
						svg {
							@include prefix(transform, rotate(-90deg), webkit moz ms o);
						}
					}
					&:nth-child(3) {
						width: calc(100% - 192px);
					}
					&:nth-child(4) {
						svg {
							@include prefix(transform, rotate(90deg), webkit moz ms o);
						}
					}
				}
			}
		}
	}
}

/* ---------- DASHBOARD */

[class*="user-icon"] {
	&.jeselle {
		background-image: url('https://uguru.me/static/web/images/team/jeselle.png')!important;
	}
	&.gabrielle {
		background-image: url('https://uguru.me/static/web/images/team/gabrielle.png')!important;
	}
	&.samir {
		background-image: url('https://uguru.me/static/web/images/team/samir.png')!important;
	}
	&.jason {
		background-image: url('https://uguru.me/static/web/images/team/jason.png')!important;
	}
}

#admin {
	tabs {
		width: 100%!important;
		height: 60px;
	}
	> header {
		@include flex;
		background: mix(mix($shamrock, $robin), $slate, 40%);
		width: 100%;
		height: 64px;
		.admin-logo {
			display: block;
			height: 100%;
			padding: 10px;
			svg {
				display: block;
				height: 100%;
				path {
					@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
					&:first-child {
						fill: rgba(white,.8);
					}
					&:last-child {
						fill: white;
					}
				}
				text {
					fill: white;
				}
			}
		}
	}
	> main {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		position: relative;
		width: 100%;
		height: calc(100% - 64px);
		background: $charcoal;
		color: white;
		> aside {
			@include flex;
			@include flex-wrap;
			@include flex-stretch;
			width: 20%;
			height: 100%;
			a {
				@include flex;
				@include flex-center;
				width: 100%;
				font-weight: 600;
				&:nth-child(1) {
					color: $shamrock;
					&:hover, &:focus {
						color: white;
					}
					&:active {
						color: $shamrock;
					}
				}
				&:nth-child(2) {
					color: mix($shamrock, $robin);
					&:hover, &:focus {
						color: white;
					}
					&:active {
						color: mix($shamrock, $robin);
					}
				}
				&:nth-child(3) {
					color: mix($shamrock, $lake);
					&:hover, &:focus {
						color: white;
					}
					&:active {
						color: mix($shamrock, $lake);
					}
				}
				&:nth-child(4) {
					color: mix($shamrock, $cobalt);
					&:hover, &:focus {
						color: white;
					}
					&:active {
						color: mix($shamrock, $cobalt);
					}
				}
				&:nth-child(5) {
					color: mix($shamrock, $eggplant);
					&:hover, &:focus {
						color: white;
					}
					&:active {
						color: mix($shamrock, $eggplant);
					}
				}
				&.active {
					color: white;
					&:nth-child(1) {
						background: $shamrock;
						&:hover, &:focus {
							background: mix($shamrock, white);
							color: mix($shamrock, $slate);
						}
						&:active {
							background: mix($shamrock, $slate);
							color: white;
						}
					}
					&:nth-child(2) {
						background: mix($shamrock, $robin);
						&:hover, &:focus {
							background: mix(mix($shamrock, $robin), white);
							color: mix(mix($shamrock, $robin), $slate);
						}
						&:active {
							background: mix(mix($shamrock, $robin), $slate);
							color: white;
						}
					}
					&:nth-child(3) {
						background: mix($shamrock, $lake);
						&:hover, &:focus {
							background: mix(mix($shamrock, $lake), white);
							color: mix(mix($shamrock, $lake), $slate);
						}
						&:active {
							background: mix(mix($shamrock, $lake), $slate);
							color: white;
						}
					}
					&:nth-child(4) {
						background: mix($shamrock, $cobalt);
						&:hover, &:focus {
							background: mix(mix($shamrock, $cobalt), white);
							color: mix(mix($shamrock, $cobalt), $slate);
						}
						&:active {
							background: mix(mix($shamrock, $cobalt), $slate);
							color: white;
						}
					}
					&:nth-child(5) {
						background: mix($shamrock, $eggplant);
						&:hover, &:focus {
							background: mix(mix($shamrock, $eggplant), white);
							color: mix(mix($shamrock, $eggplant), $slate);
						}
						&:active {
							background: mix(mix($shamrock, $eggplant), $slate);
							color: white;
						}
					}
				}
			}
		}
		> div {
			@include flex;
			@include flex-wrap;
			@include flex-stretch;
			@include prefix(justify-content, center, webkit);
			position: relative;
			width: 80%;
			height: 100%;
			background: $smoke;
			> section {
				position: relative;
				width: 100%;
				height: 100%;
				color: $slate;
				&#admin-projects {
					.tab-container {
						background: mix($shamrock, $slate, 80%);
						.tab-bar.slide {
							> div {
								a {
									position: relative;
									> div:first-child {
										@include flex;
										@include flex-center;
										@include center-x;
										top: -16px;
										.user-icon-32 {
											&:nth-child(2), &:nth-child(3) {
												margin-left: -6px;
											}
										}
									}
								}
							}
						}
					}
				}
				&#admin-components {
					.tab-container {
						background: mix(mix($shamrock, $robin), $slate, 80%);
					}
				}
				&#admin-reference {
					.tab-container {
						background: mix(mix($shamrock, $lake), $slate, 80%);
					}
				}
				&#admin-moodboard {
					.tab-container {
						background: mix(mix($shamrock, $cobalt), $slate, 80%);
					}
				}
				&#admin-tools {
					.tab-container {
						background: mix(mix($shamrock, $eggplant), $slate, 80%);
					}
				}
			}
		}
	}
	
	// add or edit
	#admin-add-edit {
		> * {
			position: relative;
		}
		.admin-add-edit-submit {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.admin-add-edit-form {
			position: absolute;
			width: 100%;
			height: 100%;
			> ul {
				@include flex;
				@include flex-wrap;
				padding: 7.5px 7.5px 71.5px;
				height: 100%;
				overflow: auto;
				> li {
					padding: 7.5px;
					width: 50%;
					&.full-x {
						width: 100%;
					}
				}
			}
			label {
				display: block;
				color: white;
			}
			h1 {
				width: 100%;
				font-size: 24px;
				font-weight: 600;
			}
			h2 {
				@include opacity(.5);
				margin-top: 0!important;
				width: 100%;
				font-size: 18px;
				font-weight: 600;
			}
			input.full, textarea {
				width: 100%;
				padding: 10px 15px;
				background: rgba(white, .5);
				font-size: 16px;
				&:focus {
					background: white;
				}
				@include placeholder {
					color: white;
				}
				&:focus {
					@include placeholder {
						color: $taupe;
					}
				}
			}
			textarea {
				min-height: 200px;
				&[small] {
					min-height: 100px;
				}
			}
		}
	}
	
	// user stories 
	.admin-user-stories {
		ul {
			width: 100%;
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			li {
				width: 25%;
				height: 200px;
				padding: 7.5px;
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: relative;
					background: mix($shamrock, lighten($slate, 15%));
					padding: 15px;
					padding-top: 30px;
					width: 100%;
					height: 100%;
					text-align: center;
					h4 {
						@include flex;
						@include flex-center;
						@include round;
						@include center-x;
						top: 15px;
						width: 28px;
						height: 28px;
						font-size: 18px;
						font-weight: 900;
						background: white;
						color: mix($shamrock, lighten($slate, 15%));
					}
					h1 {
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
		}
	}
	
	// content sections
	.tab-container {
		width: 100%;
		.tab-bar {
			background: transparent!important;
		}
	}
	.admin-small-header {
		@include flex;
		@include flex-center;
		height: 5%;
		background: $slate;
		width: 100%;
		font-weight: 600;
		font-size: 16px;
		color: white;
	}
	.admin-content {
		height: calc(100% - 60px);
		position: relative;
		width: 100%;
		overflow: auto;
	}
	.admin-content-section {
		@include flex;
		width: 100%;
		height: 95%;
	}
	
	// assets
	.admin-assets {
		@include prefix(align-content, flex-start, webkit);
		@include flex-wrap;
		h1 {
			width: 100%;
			padding: 15px 15px 0px;
			font-size: 24px;
			font-weight: 600;
			color: $slate;
		}
		h2 {
			width: 100%;
			padding: 15px;
			font-size: 18px;
			font-weight: 600;
			color: $slate;
		}
		h1 + h2 {
			margin-top: 0!important;
			padding: 5px 15px 0;
		}
		ul {
			@include flex;
			@include flex-wrap;
			@include prefix(align-content, flex-start, webkit);
			width: 100%;
			padding: 7.5px;
			li {
				width: calc(100% / 8);
				padding: 7.5px;
				span, a {
					@include flex;
					@include flex-center;
					svg {
						display: block;
						width: 100%;
						background: white;
						border: 2px solid mix($shamrock, $robin);
						border-bottom-width: 0;
					}
					+ span, + a {
						background: mix($shamrock, $robin);
						padding: 5px 10px;
						color: white;
						font-size: 18px;
						font-weight: 600;
						text-transform: lowercase;
					}
				}
			}
			&.large {
				li {
					width: calc(100% / 6);
				}
			}
			+ ul {
				margin-top: -4px;
			}
		}
	}
	
	// code container
	.playground-code-container {
		@include flex;
		@include flex-center;
		width: 100%;
		max-width: 600px;
		padding: 7.5px;
		margin: 15px auto 0;
		li {
			width: 50%;
			padding: 7.5px;
		}
		textarea {
			background: rgba(white, .5);
			width: 100%;
			min-height: 200px;
			padding: 10px 15px;
			&:focus {
				background: white;
			}
		}
	}
	
	// moodboard
	.admin-moodboard {
		> ul {
			@include flex;
			@include flex-wrap;
			@include prefix(align-items, flex-start, webkit);
			@include prefix(align-content, flex-start, webkit);
			width: 100%;
			padding: 7.5px;
			li {
				width: 25%;
				height: 200px;
				padding: 7.5px;
				div {
					position: relative;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center center;
					border-radius: 2px;
					a {
						position: absolute;
						bottom: 15px;
						left: 15px;
						display: block;
						font-size: 18px;
						font-weight: 600;
						padding: 5px 10px;
						border-radius: 2px;
						background: rgba(mix($shamrock, $cobalt), .95);
						&:hover, &:focus {
							background: mix(mix($shamrock, $cobalt), white);
							color: mix(mix($shamrock, $cobalt), $slate);
						}
						&:active {
							background: mix(mix($shamrock, $cobalt), $slate);
							color: white;
						}
					}
				}
			}
		}
	}
	
	// colors
	.admin-colors {
		> ul {
			> li {
				> div {
					position: relative;
					&.bg-smoke, &.bg-white {
						color: $campus;
						div {
							input {
								background: $campus;
								color: white;
							}
						}
					}
					svg {
						display: block;
						width: 100%;
					}
					div {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						h1 {
							width: 100%;
							font-size: 20px;
							font-weight: 600;
							margin-bottom: 5px;
							text-align: center;
						}
						input {
							padding: 5px;
							font-size: 16px;
							font-weight: 600;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	// components
	.admin-components, .admin-containers, .admin-layouts, .admin-stories {
		> h2 {
			font-weight: 600;
			padding: 15px 15px 0;
			width: 100%;
		}
		> p {
			font-size: 28px;
			font-weight: 400;
			margin: 0;
			padding: 5px 15px 15px;
		}
		> ul {
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			width: 100%;
			> li {
				width: 25%;
				padding: 7.5px;
				> div {
					> h1, > a {
						padding: 10px 15px;
						background: mix($shamrock, $robin);
						font-size: 20px;
						font-weight: 600;
						text-align: center;
						border-top-left-radius: 2px;
						border-top-right-radius: 2px;
						h1 {
							font-weight: 600;
						}
					}
					> a {
						&:hover, &:focus {
							background: mix(mix($shamrock, $robin), white);
							color: mix(mix($shamrock, $robin), $slate);
							+ div {
								border-color: mix(mix($shamrock, $robin), white);
							}
						}
						&:active {
							background: mix(mix($shamrock, $robin), $slate);
							color: white;
							+ div {
								border-color: mix(mix($shamrock, $robin), $slate);
							}
						}
					}
					> h2 {
						padding: 10px 15px;
						background: mix(mix($shamrock, $robin), white);
						color: mix(mix($shamrock, $robin), $slate);
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
					}
					> div {
						@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
						overflow: hidden;
						background: rgba($charcoal, .8);
						position: relative;
						border: 2px solid mix($shamrock, $robin);
						border-top: 0;
						height: 200px;
						> * {
							@include center-xy;
						}
						&:empty {
							display: none;
						}
					}
				}
			}
		}
	}
	.admin-containers {
		> ul {
			> li {
				width: 50%;
				> div {
					> div {
						height: 400px;
					}
				}
			}
		}
	}
	.admin-layouts, .admin-stories {
		> ul {
			> li {
				width: 100%;
				> div {
					> div {
						height: 400px;
					}
				}
			}
		}
	}
	
	// time states
	.admin-time-states {
		h2 {
			font-weight: 600;
			padding: 15px 15px 0;
		}
	}
	
	// action items
	.admin-action-item-list {
		padding: 7.5px;
		> ul {
			width: 50%;
			&:only-child {
				width: 100%;
			}
			> li {
				width: 100%;
				padding: 7.5px;
				> a {
					@include flex;
					@include prefix(justify-content, space-between, webkit);
					background: white;
					color: lighten($slate, 15%);
					border: 2px solid $lake;
					border-radius: 2px;
					&:hover {
						color: $lake;
						background: mix($lake, white, 10%);
					}
					> div {
						@include flex;
						@include flex-center-vertical;
						&:first-child {
							> div {
								padding: 15px;
							}
						}
						&:last-child {
							@include flex;
							@include flex-center-vertical;
							> div {
								&:last-child {
									text-align: center;
									padding: 15px;
									padding-left: 0;
									width: 120px;
								}
							}
						}
					}
					* + * {
						margin-top: 0;
					}
					h1 {
						font-size: 28px;
						font-weight: 600;
					}
					h2 {
						margin-top: 5px!important;
						padding: 10px 15px;
						background: $lake;
						color: white;
						font-size: 18px;
						font-weight: 600;
					}
					h3 {
						font-size: 16px;
					}
					ul {
						@include flex;
						@include flex-wrap;
						padding: 12.5px;
						width: 83px;
						li {
							padding: 2.5px;
							span {
								border-color: lighten($slate, 15%);
								width: 24px!important;
								height: 24px!important;
							}
						}
					}
					.priority {
						display: block;
						text-align: center;
						margin-top: 5px!important;
						padding: 10px 15px;
						font-size: 18px;
						font-weight: 600;
						background: $lake;
						color: white;
					}
				}
				&.type-component {
					> a {
						h2 {
							background: mix($shamrock, $robin);
						}
					}
				}
				&.type-reference {
					> a {
						h2 {
							background: mix($shamrock, $lake);
						}
					}
				}
				&.type-moodboard {
					> a {
						h2 {
							background: mix($shamrock, $cobalt);
						}
					}
				}
				&.type-tools {
					> a {
						h2 {
							background: mix($shamrock, $eggplant);
						}
					}
				}
				&.type-prioritized {
					> a {
						border-color: $crimson;
						&:hover {
							color: $crimson;
							background: mix($crimson, white, 10%)
						}
						.priority {
							background: $crimson;
						}
					}
				}
				&.type-completed {
					> a {
						border-color: $moxie;
						&:hover {
							color: $moxie;
							background: mix($moxie, white, 10%)
						}
						.priority {
							background: $moxie;
						}
					}
				}
				&.type-future {
					> a {
						border-color: lighten($slate, 45%);
						> * {
							@include opacity(.5);
						}
						&:hover {
							color: lighten($slate, 45%);
							background: mix(lighten($slate, 45%), white, 10%)
						}
						.priority {
							background: lighten($slate, 45%);
						}
					}
				}
			}
		}
	}
	
	// action items per spec
	.admin-action-items {
		h2 {
			font-weight: 600;
			padding: 15px 15px 0;
		}
		ul {
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			li {
				width: 50%;
				padding: 7.5px;
				.checkbox-container {
					@include prefix(justify-content, flex-start, webkit);
					background: $smoke;
					padding: 15px;
					label {
						color: $slate;
					}
				}
			}
		}
	}
	
	// docs
	.admin-docs {
		ul {
			@include flex;
			@include flex-wrap;
			padding: 7.5px;
			width: 100%;
			li {
				padding: 7.5px;
			}
		}
	}
	
	// definition list
	.admin-definition-list {
		width: 100%;
		> div {
			background: white;
			h2 {
				padding: 10px 15px;
				width: 100%;
				background: mix($shamrock, $lake);
				color: white;
				font-size: 24px;
				font-weight: 600;
				text-align: center;
			}
		}
		dl {
			div {
				@include flex;
				@include flex-center;
				position: relative;
				padding: 7.5px;
				&[deprecate] {
					color: rgba(mix($shamrock, $lake), .3);
				}
				dt {
					width: calc(100% / 3);
					padding: 7.5px;
					font-size: 28px;
					font-weight: 600;
				}
				dd {
					width: calc(100% / 3 * 2);
					padding: 7.5px;
					font-size: 18px;
					font-weight: 400;
				}
				&:not(:last-child):after {
					@include round;
					content: "";
					display: block;
					position: absolute;
					bottom: -1px;
					left: 15px;
					width: calc(100% - 30px);
					height: 2px;
					background: rgba(mix($shamrock, $lake), .2);
				}
			}
		}
	}
	
	// details
	.admin-details {
		padding: 7.5px;
		> div {
			padding: 7.5px;
			> div {
				background: $smoke;
				border-radius: 2px;
				color: $slate;
				> h1 {
					font-size: 24px;
					font-weight: 600;
					padding: 15px 15px 0;
				}
				> div {
					padding: 15px;
					font-size: 18px;
					font-weight: 400;
				}
				> ul {
					font-size: 18px;
					font-weight: 400;
					padding: 7.5px;
					li {
						padding: 7.5px;
						div {
							padding: 15px;
							background: rgba($campus, .3);
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
	
	// ranking
	#cta-modal-selected-layout {
		.user-ranking {
			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 36px;
			}
		}
		#current-tabs {
			background: $robin;
			height: 60px;
			.tab-bar {
				background: $robin;
			}
		}
		#admin-ranking-container {
			@include prefix(justify-content, center, webkit);
			@include prefix(align-content, flex-start, webkit);
			@include prefix(align-items, flex-start, webkit);
		}
		#high-score, #next-steps {
			@include flex;
			@include flex-wrap;
			@include prefix(align-items, flex-start, webkit);
			position: relative;
			width: 100%;
			overflow: auto;
			li {
				.user-icon {
					width: 64px;
					height: 64px;
					border-width: 3px;
				}
			}
		}
		#high-score {
			li {
				> div:nth-child(1) {
					width: 64px;
				}
				> div:nth-child(2) {
					width: calc(90% - 64px);
				}
				> div:nth-child(3) {
					width: 10%;
				}
			}
		}
		.user-ranking-filler-svg {
			display: block;
			margin: 0 auto;
			width: 126px;
			height: 110px;
			margin-bottom: 15px;
		}
	}
}

.demo-scene {
	position: relative;
	width: 100%;
	> svg {
		display: block;
		width: 100%;
		height: auto;
	}
	svg {
		&.crimson {
			[stroke] {
				stroke: $crimson!important;
			}
			[fill*="#"] {
				fill: $crimson!important;
			}
		}
		&.moxie {
			[stroke] {
				stroke: $moxie!important;
			}
			[fill*="#"] {
				fill: $moxie!important;
			}
		}
		&.gold {
			[stroke] {
				stroke: $gold!important;
			}
			[fill*="#"] {
				fill: $gold!important;
			}
		}
	}
}