.admin-html h2 {
  width: 100%;
  padding: 15px 15px 5px;
  font-weight: 600;
  font-size: 24px;
}

.admin-html ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  padding: 7.5px;
  margin-top: -15px;
}

.admin-html ul:last-child {
  margin-bottom: 15px;
}

.admin-html ul.no-input li span {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 34px;
  font-family: "Source Code Pro", monospace !important;
  font-size: 14px;
  font-weight: 600;
}

.admin-html ul.border li span:not(.inside) {
  position: relative;
}

.admin-html ul.border li span:not(.inside) > input {
  position: relative;
  z-index: 10;
}

.admin-html ul.border li span:not(.inside) .inside {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

.admin-html ul li {
  padding: 7.5px;
}

.admin-html ul li > div:not(.size-auto) {
  position: relative;
  height: 120px;
  border-radius: 2px;
}

.admin-html ul li span:not(.inside) {
  display: block;
  padding: 5px 10px;
  color: #40484B;
  border-radius: 2px;
}

.admin-html ul li span:not(.inside):not([class*="bg-"]) {
  background: white;
}

.admin-html ul li span:not(.inside)[class*="flex"] {
  -ms-box-orient: horizontal !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -moz-flex !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.admin-html ul li span:not(.inside)[class*="bg-"] {
  color: white;
}

.admin-html ul li span:not(.inside)[class*="bg-"] input {
  color: white;
}

.admin-html ul li span:not(.inside).bg-smoke {
  border: 1px solid #d1d9db;
}

.admin-html ul li span:not(.inside):not([class*="weight-"]) {
  weight: 600;
}

.admin-html ul li span:not(.inside):not([class*="weight-"]) input {
  font-weight: 600;
}

.admin-html ul li input {
  background: none;
  font-family: "Source Code Pro", monospace !important;
  cursor: text;
}

.admin-definition-list dl div {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  padding: 7.5px;
}

.admin-definition-list dl div[deprecate] {
  color: rgba(93, 172, 193, 0.3);
}

.admin-definition-list dl div dt {
  width: calc(100% / 3);
  padding: 7.5px;
  font-size: 28px;
  font-weight: 600;
}

.admin-definition-list dl div dd {
  width: calc(100% / 3 * 2);
  padding: 7.5px;
  font-size: 18px;
  font-weight: 400;
}

.admin-definition-list dl div:not(:last-child):after {
  border-radius: 1000px;
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background: rgba(93, 172, 193, 0.2);
}

.preview-container {
  position: relative !important;
  overflow: hidden !important;
}

.preview-container .fixed {
  position: absolute !important;
}

/* ---------- KEYFRAMES */
#keys-keyframe-attr {
  height: calc(100% - 130px);
}

#keys-keyframe-attr.active {
  height: calc(100% - 80px - 125px);
}

#keyframe-pointer {
  width: 5px;
  height: 36px;
  top: -21px;
  margin-left: 5px;
}

#stage-container {
  position: relative !important;
}

#stage-container .fixed {
  position: absolute !important;
}

#stage-container > div {
  width: 100%;
  height: 100%;
}

#keys .aside-anim-element-item > * {
  position: relative !important;
  min-width: 100% !important;
  min-height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

#keys #stage-elem-clone-container {
  min-height: 200px;
}

#keys #stage-elem-clone-container > .absolute {
  position: relative !important;
}

#keys #import-button svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#keys #keys-aside-menu.tab-bar.slide > div {
  width: 100% !important;
}

#keys #keys-aside-menu.tab-bar.slide > div a, #keys #keys-aside-menu.tab-bar.slide > div hr {
  width: calc(100% / 3);
}

#keys #keys-aside-menu.tab-bar.slide a {
  font-size: 16px;
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(1).active ~ hr {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(2).active ~ hr {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(3).active ~ hr {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(4).active ~ hr {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(1):hover ~ hr, #keys #keys-aside-menu.tab-bar.slide a:nth-child(1):focus ~ hr {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(2):hover ~ hr, #keys #keys-aside-menu.tab-bar.slide a:nth-child(2):focus ~ hr {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(3):hover ~ hr, #keys #keys-aside-menu.tab-bar.slide a:nth-child(3):focus ~ hr {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}

#keys #keys-aside-menu.tab-bar.slide a:nth-child(4):hover ~ hr, #keys #keys-aside-menu.tab-bar.slide a:nth-child(4):focus ~ hr {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}

#keys #keys-toolbar a {
  color: white !important;
}

#keys #keys-toolbar a:hover, #keys #keys-toolbar a:focus {
  background: #43cb9d;
}

#keys #keys-toolbar a:active {
  background: #2BB3B8;
}

#keys #keys-toolbar a + div {
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1) !important;
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1) !important;
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1) !important;
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1) !important;
  transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1) !important;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27) !important;
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27) !important;
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27) !important;
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27) !important;
  transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27) !important;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1000;
}

#keys #keys-toolbar a + div:hover, #keys #keys-toolbar a + div.active {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  z-index: 100;
}

#keys #keys-toolbar a:hover + div, #keys #keys-toolbar a:focus + div, #keys #keys-toolbar a.active + div {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  z-index: 100;
}

#keys #keys-select-components li svg {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 2px;
}

#keys #keys-select-components li svg:first-child {
  background: black;
  margin-right: 7.5px;
}

#keys #keys-select-components li svg:last-child {
  margin-left: 7.5px;
  background: white;
}

#keys #keys-select-components li > a:hover, #keys #keys-select-components li > a:focus {
  background: rgba(255, 255, 255, 0.3);
}

#keys #keys-select-components li > a:active {
  background: rgba(255, 255, 255, 0.5);
}

#keys #keys-select-components li > a > div {
  position: relative;
  height: 115px;
}

#keys #keys-select-components li > a > div > * {
  min-width: none;
  min-height: none;
  max-height: 100px;
}

#keys .dropdown-container h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

#keys .dropdown-container .dropdown.small > div > span {
  width: 160px;
}

#keys input[type=number]::-webkit-inner-spin-button,
#keys input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#keys .size-150 {
  width: 150px !important;
  height: 150px !important;
}

.anim-timeline {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  height: calc(75px + 32px);
  background: #394043;
}

.anim-timeline .anim-player {
  position: relative;
  width: calc(100% - 15px);
}

.anim-timeline [class*="anim-bound"] {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  background: rgba(43, 50, 52, 0.5);
}

.anim-timeline [class*="anim-bound"].anim-bound-left {
  left: 0;
}

.anim-timeline [class*="anim-bound"].anim-bound-right {
  right: 0;
}

.anim-timeline [class*="anim-end"] {
  position: absolute;
  top: 0;
  z-index: 3;
  height: 100%;
  width: 2px;
  background: white;
  cursor: pointer;
}

.anim-timeline [class*="anim-end"]:before, .anim-timeline [class*="anim-end"]:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.anim-timeline [class*="anim-end"]:before {
  top: -15px;
  left: 50%;
  margin-left: -5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: white;
}

.anim-timeline [class*="anim-end"]:after {
  top: -8px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: white;
}

.anim-timeline [class*="anim-end"].anim-end-left {
  margin-left: -1px;
}

.anim-timeline [class*="anim-end"].anim-end-right {
  margin-right: -1px;
}

.anim-timeline ul.anim-label {
  width: 15px;
  font-size: 12px;
}

.anim-timeline ul.anim-label li {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 15px;
}

.anim-timeline ul.anim-label li:nth-child(1) {
  background: #984c50;
}

.anim-timeline ul.anim-label li:nth-child(2) {
  background: #935f44;
}

.anim-timeline ul.anim-label li:nth-child(3) {
  background: #9b874d;
}

.anim-timeline ul.anim-label li:nth-child(4) {
  background: #617f59;
}

.anim-timeline ul.anim-label li:nth-child(5) {
  background: #4b7681;
}

.anim-timeline ul.anim-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.anim-timeline ul.anim-border li:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.anim-timeline ul.anim-border li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.anim-timeline ul.anim-track {
  width: 100%;
}

.anim-timeline ul li {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 15px;
}

.anim-timeline ul li div {
  height: 100%;
  border-radius: 2px;
  border: 2px solid rgba(64, 72, 75, 0.1);
  cursor: pointer;
}

.anim-timeline ul li div.new {
  position: relative;
}

.anim-timeline ul li div.new:before, .anim-timeline ul li div.new:after {
  border-radius: 1000px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  height: 8px;
  width: 4px;
}

.anim-timeline ul li div.new:before {
  left: -3px;
}

.anim-timeline ul li div.new:after {
  right: -3px;
}

.anim-timeline ul li:nth-child(1) div {
  background: #F04F54;
}

.anim-timeline ul li:nth-child(1) div.new {
  background: rgba(240, 79, 84, 0.2);
  border-color: #F04F54;
}

.anim-timeline ul li:nth-child(1) div.new:before, .anim-timeline ul li:nth-child(1) div.new:after {
  background: #F04F54;
}

.anim-timeline ul li:nth-child(2) div {
  background: #E5753C;
}

.anim-timeline ul li:nth-child(2) div.new {
  background: rgba(229, 117, 60, 0.2);
  border-color: #E5753C;
}

.anim-timeline ul li:nth-child(2) div.new:before, .anim-timeline ul li:nth-child(2) div.new:after {
  background: #E5753C;
}

.anim-timeline ul li:nth-child(3) div {
  background: #F6C64E;
}

.anim-timeline ul li:nth-child(3) div.new {
  background: rgba(246, 198, 78, 0.2);
  border-color: #F6C64E;
}

.anim-timeline ul li:nth-child(3) div.new:before, .anim-timeline ul li:nth-child(3) div.new:after {
  background: #F6C64E;
}

.anim-timeline ul li:nth-child(4) div {
  background: #81B566;
}

.anim-timeline ul li:nth-child(4) div.new {
  background: rgba(129, 181, 102, 0.2);
  border-color: #81B566;
}

.anim-timeline ul li:nth-child(4) div.new:before, .anim-timeline ul li:nth-child(4) div.new:after {
  background: #81B566;
}

.anim-timeline ul li:nth-child(5) div {
  background: #55A4B7;
}

.anim-timeline ul li:nth-child(5) div.new {
  background: rgba(85, 164, 183, 0.2);
  border-color: #55A4B7;
}

.anim-timeline ul li:nth-child(5) div.new:before, .anim-timeline ul li:nth-child(5) div.new:after {
  background: #55A4B7;
}

.anim-timeline .anim-controls {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  background: #637074;
}

.anim-timeline .anim-controls > div {
  padding: 2px;
}

.anim-timeline .anim-controls > div button {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  padding: 0;
  font-size: 18px;
  line-height: 1;
}

.anim-timeline .anim-controls > div .checkbox-container span {
  width: 24px;
  height: 24px;
}

.anim-timeline .anim-controls > div .checkbox-container label {
  padding-left: 5px;
  font-size: 16px;
}

.anim-timeline .anim-controls > div .checkbox-container input:checked + span {
  background: #43cb9d;
}
