@import 'mixin';

@include keyframes(splash-scene-device) {
	0% {
		width: 28%;
	}
	50% {
		width: 64%;
	}
	100% {
		width: 100%;
	}
}
@include keyframes(splash-scene-adlib) {
	0% {
		width: 72%;
	}
	50% {
		width: 86%;
	}
	100% {
		width: 100%;
	}
}

@include keyframes(progress-bar) {
	0% {
		width: 15%;
	}
	80% {
		width: 90%;
	}
	95% {
		width: 95%;
	}
	100% {
		width: 100%;
	}
}

// postit exit
.animated.hinge-right {
	@include animation-duration(2s);
}
@include keyframes(hinge-right) {
	0% {
		@include transform-origin(top right);
		@include animation-timing-function(ease-in-out);
	}
	20%, 60% {
		@include transform(rotate3d(0, 0, 1, -80deg));
		@include transform-origin(top right);
		@include animation-timing-function(ease-in-out);
	}
	40%, 80% {
		@include transform(rotate3d(0, 0, 1, -60deg));
		@include transform-origin(top right);
		@include animation-timing-function(ease-in-out);
		@include opacity(1);
	}
	100% {
		@include transform(translate3d(0, 700px, 0));
		@include opacity(0);
	}
}
.hinge-right {
	@include animation-name(hinge-right);
}

// made with love
@include keyframes(pulse-heart) {
	0% {
		@include opacity(.9);
		@include transform(scale3d(1, 1, 1));
	}
	50% {
		@include opacity(1);
		@include transform(scale3d(1.3, 1.3, 1.3));
	}
	100% {
		@include opacity(.9);
		@include transform(scale3d(1, 1, 1));
	}
}

// become guru postits
@include keyframes(bounceInLeft-bg-1) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(7deg) translate3d(-3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(7deg) translate3d(25px, 0, 0));
	}
	75% {
		@include transform(rotate(7deg) translate3d(-10px, 5px, 0));
	}
	90% {
		@include transform(rotate(7deg) translate3d(5px, 10px, 0));
	}
	100% {
		@include transform(rotate(7deg) translate3d(0, 20px, 0));
	}
}
@include keyframes(bounceInRight-bg-2) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(1);
		@include transform(rotate(-7deg) translate3d(3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(-7deg) translate3d(-25px, 0, 0));
	}
	75% {
		@include transform(rotate(-7deg) translate3d(10px, 5, 0));
	}
	90% {
		@include transform(rotate(-7deg) translate3d(-5px, 15, 0));
	}
	100% {
		@include transform(rotate(-7deg) translate3d(-25px, 30px, 0));
	}
}
@include keyframes(bounceInUp-bg-3) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(5deg) translate3d(0, 3000px, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(5deg) translate3d(0, -20px, 0));
	}
	75% {
		@include transform(rotate(5deg) translate3d(5, 10px, 0));
	}
	90% {
		@include transform(rotate(5deg) translate3d(15, -5px, 0));
	}
	100% {
		@include transform(rotate(5deg) translate3d(30px, 20px, 0));
	}
}
@include keyframes(bounceInLeft-bg-4) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(20deg) translate3d(-3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(20deg) translate3d(25px, 0, 0));
	}
	75% {
		@include transform(translate3d(-10px, 0, 0));
	}
	90% {
		@include transform(rotate(20deg) translate3d(5px, -5px, 0));
	}
	100% {
		@include transform(rotate(20deg) translate3d(-10px, -10px, 0));
	}
}
@include keyframes(bounceInUp-bg-5) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(5deg) translate3d(0, 3000px, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(5deg) translate3d(0, -20px, 0));
	}
	75% {
		@include transform(rotate(5deg) translate3d(0, 10px, 0));
	}
	90% {
		@include transform(rotate(5deg) translate3d(0, -5px, 0));
	}
	100% {
		@include transform(rotate(5deg) translate3d(0, 0, 0));
	}
}
@include keyframes(bounceInRight-bg-6) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	from {
		@include opacity(0);
		@include transform(rotate(-2deg) translate3d(3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(-2deg) translate3d(-25px, 0, 0));
	}
	75% {
		@include transform(rotate(-2deg) translate3d(10px, 5px, 0));
	}
	90% {
		@include transform(rotate(-2deg) translate3d(-5px, 10px, 0));
	}
	100% {
		@include transform(rotate(-2deg) translate3d(-20px, 15px, 0));
	}
}

// how it works postits
@include keyframes(bounceInLeft-hiw-1) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(5deg) translate3d(-3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(5deg) translate3d(25px, 0, 0));
	}
	75% {
		@include transform(rotate(5deg) translate3d(-10px, 5px, 0));
	}
	90% {
		@include transform(rotate(5deg) translate3d(5px, 10px, 0));
	}
	100% {
		@include transform(rotate(5deg) translate3d(30px, 20px, 0));
	}
}
@include keyframes(bounceInDown-hiw-2) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(-7deg) translate3d(0, -3000px, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(-7deg) translate3d(0, 25px, 0));
	}
	75% {
		@include transform(rotate(-7deg) translate3d(-5px, -10px, 0));
	}
	90% {
		@include transform(rotate(-7deg) translate3d(-15px, 5px, 0));
	}
	100% {
		@include transform(rotate(-7deg) translate3d(-25px, 60px, 0));
	}
}
@include keyframes(bounceInRight-hiw-3) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(7deg) translate3d(3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(7deg) translate3d(-25px, 0, 0));
	}
	75% {
		@include transform(rotate(7deg) translate3d(10px, 5px, 0));
	}
	90% {
		@include transform(rotate(7deg) translate3d(-5px, 10px, 0));
	}
	100% {
		@include transform(rotate(7deg) translate3d(0, 20px, 0));
	}
}
@include keyframes(bounceInLeft-hiw-4) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(-2deg) translate3d(-3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(-2deg) translate3d(25px, 0, 0));
	}
	75% {
		@include transform(rotate(-2deg) translate3d(-10px, 5px, 0));
	}
	90% {
		@include transform(rotate(-2deg) translate3d(5px, 10px, 0));
	}
	100% {
		@include transform(rotate(-2deg) translate3d(-20px, 15px, 0));
	}
}
@include keyframes(bounceInUp-hiw-5) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(20deg) translate3d(0, 3000px, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(20deg) translate3d(0, -20px, 0));
	}
	75% {
		@include transform(rotate(20deg) translate3d(0, 10px, 0));
	}
	90% {
		@include transform(rotate(20deg) translate3d(-5px, -5px, 0));
	}
	100% {
		@include transform(rotate(20deg) translate3d(-10px, -10px, 0));
	}
}
@include keyframes(bounceInRight-hiw-6) {
	0%, 60%, 75%, 90%, 100% {
		@include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
	0% {
		@include opacity(0);
		@include transform(rotate(-5deg) translate3d(3000px, 0, 0));
	}
	60% {
		@include opacity(1);
		@include transform(rotate(-5deg) translate3d(-25px, 0, 0));
	}
	75% {
		@include transform(rotate(-5deg) translate3d(10px, 0, 0));
	}
	90% {
		@include transform(rotate(-5deg) translate3d(-5px, 0, 0));
	}
	100% {
		@include transform(rotate(-5deg) translate3d(0, 0, 0));
	}
}

// postits
@include keyframes(opacity-pulse) {
	0% {
		@include opacity(.5);
	}
	50% {
		@include opacity(.2);
	}
	100% {
		@include opacity(.5);
	}
}
@include keyframes(opacity-pulse-stroke) {
	0% {
		@include opacity(.5);
	}
	50% {
		@include opacity(.8);
	}
	100% {
		@include opacity(.5);
	}
}
@include keyframes(opacity-scale) {
	0% {
		@include scale(1);
	}
	50% {
		@include scale(1.05);
	}
	100% {
		@include scale(1);
	}
}
@include keyframes(tape-1) {
	0% {
		@include opacity(0);
		@include transform(rotate(30deg) scale(1.5));
	}
	100% {
		@include opacity(1);
		@include transform(rotate(45deg) scale(1));
	}
}
@include keyframes(tape-2) {
	0% {
		@include opacity(0);
		@include transform(rotate(-60deg) scale(1.5));
	}
	100% {
		@include opacity(1);
		@include transform(rotate(-45deg) scale(1));
	}
}
@include keyframes(tape-3) {
	0% {
		@include opacity(0);
		@include transform(rotate(-75deg) scale(1.5));
	}
	100% {
		@include opacity(1);
		@include transform(rotate(-90deg) scale(1));
	}
}
@include keyframes(tape-4) {
	0% {
		@include opacity(0);
		@include transform(rotate(60deg) scale(1.5));
	}
	100% {
		@include opacity(1);
		@include transform(rotate(45deg) scale(1));
	}
}

// toast
@include keyframes(toast-pop) {
	0% {
		@include opacity(0);
		@include translate-y(-10%);
	}
	80% {
		@include opacity(1);
		@include translate-y(5%);
	}
	100% {
		@include opacity(1);
		@include translate-y(0);
	}
}

// ???
@include keyframes(blink) {
	0% {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}

// no connection
@include keyframes(phone-rotate) {
	0% {
		@include rotate(90);
	}
	50% {
		@include rotate(0);
	}
	100% {
		@include rotate(0);
	}
}
@include keyframes(phone-hover) {
	0% {
		@include translate-y(0);
	}
	50% {
		@include translate-y(2px);
	}
	100% {
		@include translate-y(0);
	}
}
@include keyframes(shadow-hover) {
	0% {
		@include scale(0.9);
	}
	50% {
		@include scale(1);
	}
	100% {
		@include scale(0.9);
	}
}
@include keyframes(sweat-roll) {
	0% {
		@include translate-y(5px);
	}
	50% {
		@include translate-y(10px);
	}
	100% {
		@include translate-y(5px);
	}
}

// loaders
@include keyframes(checkmark-one) {
	0% {
		@include opacity(0);
		stroke-dashoffset: 20.8;
	}
	5% {
		@include opacity(1);
	}
	95% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@include keyframes(checkmark-two) {
	0% {
		@include opacity(0);
		stroke-dashoffset: 49.91;
	}
	5% {
		@include opacity(1);
	}
	95% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@include keyframes(checkmark-opacity) {
	0% {
		@include opacity(0);
	}
	1% {
		@include opacity(1);
	}
	98% {
		@include opacity(1);
	}
	100% {
		@include opacity(0);
	}
}

// tour guru
@include keyframes(tour-guru-eyes-center) {
	0% {
		@include opacity(1);
	}
	14% {
		@include opacity(1);
	}
	15% {
		@include opacity(0);
	}
	29% {
		@include opacity(0);
	}
	30% {
		@include opacity(1);
	}
	44% {
		@include opacity(1);
	}
	45% {
		@include opacity(0);
	}
	100% {
		@include opacity(0);
	}
}
@include keyframes(tour-guru-eyes-moon) {
	0% {
		@include opacity(0);
	}
	59% {
		@include opacity(0);
	}
	60% {
		@include opacity(1);
	}
	100% {
		@include opacity(1);
	}
}
@include keyframes(tour-guru-eyes-side) {
	0% {
		@include opacity(0);
	}
	14% {
		@include opacity(0);
	}
	15% {
		@include opacity(1);
	}
	29% {
		@include opacity(1);
	}
	30% {
		@include opacity(0);
	}
	100% {
		@include opacity(0);
	}
}
@include keyframes(tour-guru-eyes-up) {
	0% {
		@include opacity(0);
	}
	44% {
		@include opacity(0);
	}
	45% {
		@include opacity(1);
	}
	59% {
		@include opacity(1);
	}
	60% {
		@include opacity(0);
	}
	100% {
		@include opacity(0);
	}
}

// misc
@include keyframes(courses-pop) {
	0% {
		@include opacity(0);
		@include translate-y(-8%);
	}
	80% {
		@include opacity(1);
		@include translate-y(2%);
	}
	100% {
		@include opacity(1);
		@include translate-y(0);
	}
}
@include keyframes(url-pop) {
	0% {
		@include opacity(0);
		@include translate-y(50%);
	}
	90% {
		@include opacity(1);
		@include translate-y(-5%);
	}
	100% {
		@include opacity(1);
		@include translate-y(0);
	}
}