
$blue: #68A7CF;
$dark: #2B3233;
$orange: #FAB96C;
$green: #56CD9F;

.blue {
    color:#68A7CF;
}

.orange {
    color:#E37543
}

.green {
    color: #56CD9F;
}

.dark-bg {
    background-color:$dark !important;
}

.blue-bg {
    background-color:$blue;
}

p {
    white-space:normal;
}

.dark-bg-header {
    background-color:$dark;
    h1 {
        font-family: "OpenSans-Light";
        color:white;
    }
    .icon {
        font-family: "OpenSans-Light";
        font-size:1.5em;
    }
}

.dark-bg-header.mini-header {
    h1 {
        font-family: "OpenSans-Regular";
        font-size:0.9em;
    }
}

.guru-bg-img {
    max-width:33%;
    margin:0 auto;
}

.home-request-button {
    max-width:15%;
    margin:0 auto;
}

.light-font {
    font-family: "OpenSans-Light";
}

.content-header-text {
    font-size:1.15em;
}

.margin-top-half {
    margin-top:0.5em;
}

.request-form-tags-offset {
    // top:83px;
}

.home-request-tabs-top {
    line-height:44px;
    height:44px;
}

.uppercase {
    text-transform: capitalize;
}


.home-request-tabs-top
a.tab-item {
    text-transform: uppercase;
    font-size:80%;
    max-width:none;
    opacity:1;
}

.opacity-1-2 {
    opacity:0.65 !important;
}

.white-bg .tab-item,
.dark-bg .tab-item {
    padding-top:10px;
    img {
        height:20px;
        width:20px;
    }
}

.micro-text {
    font-size:75%;
    font-family:"OpenSans-Light";
}

.regular {
    font-family:"OpenSans-Regular";
}

.light {
    font-family:"OpenSans-Light";
}

.semibold {
    font-family:"OpenSans-SemiBold";
}

.blue-text {
    color: $blue;
}

.tabs {
    background-image:none;
}

p.standard
{
  font-family: "OpenSans-Light";
}

.white-bg {
    background-color:white;
}

.padding-bottom-2em {
    padding-bottom:2em;
}

.wrapper {
    padding:1em;
}

.padding-top-2em {
    padding-top:2em;
}

#request-button-text {
    margin-top:-1.5em;
}

.button.button-clear.button-header-link {
    color:white;
    opacity:1;
}

.button.button-clear.button-header-link.cancel-button {
    color:grey;
}

.button.button-clear.button-header-link.submit-button {
    color:$blue;
}

// .rounded-corners {
//     border-radius:1em;
// }


input.input-lg {
    font-size:1.5em;
    height:100%;
}




input.input-lg::-webkit-input-placeholder {
    line-height:1.5em;
}

input.input-lg:-moz-placeholder { /* Firefox 18- */
   line-height:1.5em;
}

input.input-lg::-moz-placeholder {  /* Firefox 19+ */
   line-height:1.5em;
}

input.input-lg:-ms-input-placeholder {
   line-height:1.5em;
}

.request-modal {
    .item-toggle .toggle {
      position: absolute;
      top: 6px;
      right: 13px;
      z-index: 3;
      line-height:1em;
    }

    .request-form-item {
        min-height:46px;
    }

    .item {
        padding: 12px 12px;
    }

    .input-lg {
        line-height:1.5em;
    }

    .course-input-item {
        padding: 16px;
    }

    .item p {
        opacity:0.5;
        margin:0px;
        margin-right: 0.5em;
    }
}

.course-input {
    margin-left: 2.25em;
}

.absolute-icon {
    position:absolute;
}

.ion-paperclip {
    height:inherit !important;
    top:12px !important;
    font-size:1em !important;
    opacity:0.5;
}

.no-padding-top {
    padding-top: 0px;
}

textarea {
    resize:none;
    width:100%;
}

.uppercase {
    text-transform:uppercase;
}

.course-divider {
    p {
        opacity: .8 !important;
        font-family: "OpenSans-Bold";
        font-size: 66%;
        text-align: center;
    }
}

.course-item {
    padding-right: 5% !important;
    font-size:87.5%;
    .course-name {
        font-family: "OpenSans-SemiBold";
        opacity:1.0 !important;
        text-transform: uppercase;
    }

    .course-title {
        font-family: "OpenSans-Regular";
        opacity:0.5;

    }
}

.location-modal {
    #location-input {
        padding: 6px 4px;
        width:93%;
    }

    .item.search-location {
        padding-left:12px;
    }
}

.search-location {
    border-style: none;
    border-width: none;
}



.location-modal {
    .list {
        padding-top:0px;
    }

    .item {
        padding: 8px 12px;
    }

    .item:nth-child(1) {
        border: 0px !important;
        input {
              width: 100%;
              padding: 5px 10px;
              margin-bottom: 2px;
              border-radius: 4px;
        }
    }

    .current-location-item {
          padding: 14px 14px 15px 45px;
    }

    p {
        line-height:1em;
    }

}

.nano-text {
    font-size:0.66em;
    opacity:0.8;
}

#location-filled-item, .major-item, .location-item {

    padding:8px 12px 6px 12px;
    p {
        line-height:1.0em;
        opacity:1.0;
        margin:0;
    }
}

.toggle input:checked+.track {
  border-color: #68A7CF;
  background-color: #68A7CF;
  opacity:1.0;
}

.toggle .track {
    background-color:black;
    opacity:0.3;
}

.inline {
    display:inline-block;
}

.item-right-text
{
  color:$blue !important;
  display: inline-block;
  float: right;
  font-size: 0.9em;
  font-family: "OpenSans-SemiBold";
  opacity:1.0 !important;
  margin:0px;
}

.scroll-availability-section {

    .length-hours,
    .length-minutes,
    .i-think-text {
      font-size: 1.25em;
      font-family: "OpenSans-Light";
      opacity: 0.7;
    }

    .length-hours,
    .length-minutes {
        color: $blue;
        font-family: "OpenSans-Regular";
    }

    .request-availability-container {
        position:absolute;
        top:0%;
        right:32%;
        // height:100%;
        // width:100%;
    }

    .availability-scroller {
        .pure-u-1 {
            font-family: "OpenSans-Light";
            padding:0.5em;
            padding-right: 2.0em;
            width: 150px;
            text-align: right;
        }
    }

    .length-minutes {
          position: absolute;
          top: 0%;
          left: 90%;
          width: 150px;
          opacity:1.0;
          z-index:100;
          .pure-u-1 {
            text-align:left
          }
    }

    .scroll-bar-indicator
    {
        display: none;
    }

}

.calendar-top-header {
    z-index: 11;
    border-bottom: 0px;
}


.title.micro-text.modal-header-text {
    font-size:93%;
    font-family: "OpenSans-Regular" !important;
}

.calendar-tab-item {
    font-size: 65% !important;
    color: rgba(255,255,255,0.6);
    padding-bottom:5px;
}
.calendar-tab-item.tab-item-active {
    border-bottom: 2px solid $blue;
    color:$blue;
}


.availability-modal {
    .home-request-tabs-top {
        // top:45px !important;
    }
    .calendar-date {
        line-height: 1.5em;
        margin-top:0px;
        .date {
            font-size:1.5em;
        }
    }

    .tab-nav {

        line-height: 30px;
        font-size: 0.85em;
        height: 30px;

    }

    .tabs.date-tabs-top {
        .tab-item {
            display: table-cell;
        padding: 5px 11px;
        }
    }

    .date-tabs-top {
        margin-top: 30px;
        // top:45px;
        border:0px;
        }

    // .wide-as-needed {
    //   overflow: scroll;
    //   white-space: nowrap;
    // }

}

.height-40 {
    height: 40%;
}

.height-20 {
    height:20%;
}

.no-margin {
    margin:0 auto !important;
}

.profile-img {
    &.sidebar-img {
        max-height:130px;
        border: 10px solid #FFF;
        -moz-border-radius: 70px 70px 70px 70px;
        border-radius: 70px 70px 70px 70px;
    }
}

.j-center {
    -webkit-justify-content: center;
    justify-content: center;
}


.side-menu-right {
    h1.header-text.user-name {
        margin: 0;
        padding-top:1em;
        padding-bottom:0.25em;
        padding-left:0em;
        padding-right:0em;
        font-size:1.25em !important;
    }

    .nano-text {
        font-size: 0.66em;
    }
    .item {
        padding: 10px 10px 10px 10px;
    }
}

.bold {
    font-family: "OpenSans-Bold";
}

p.blue {
    color:$blue;
}

p.black {
    color:black;
    opacity:0.8;
}

.balance-menu {
    p:nth-child(1) {

        color: black;
        opacity: 0.8;
        font-family: "OpenSans-SemiBold";
        font-size: 0.7em;
        font-weight: 400;

    }

    p:nth-child(2) {
        opacity: 1;
        font-family: "OpenSans-Regular";
        font-size: 0.7em;
        text-align:right;
        padding-left:3em;
    }
}

.button-full.button-black {
    background-color: black;
    color: white;
    font-family: OpenSans-Bold;
    line-height: 1.25;
    opacity: 0.8;
    padding: 0px;
    margin: 0px;
    min-height: 40px;
}

.black {
    opacity:0.8;
}

.grey {
    color:black;
    opacity:0.5;
}

input.dark-search {
    width:100%;
    border-radius:0.2em;
    background-color:rgba(255,255,255,0.4);
    padding-left: 0.6em;
    padding-bottom: 0.2em;
    color:white;
}

.padding-half {
    padding:0.5em;
}

.padding-horizontal-only {
    padding-top:1px;
    padding-bottom:1px;
}

.item-image {
    background-size:cover;
    height:120px;
}

.browse-card-link {
    padding-left: 64px;
    padding-top: 12px;
    margin-bottom: -5px !important;
    img {
        max-height:32px !important;
        max-width:32px !important;
    }
    .inner-card-content {
        p:nth-child(1) {
            font-size:1em;
            font-family: "OpenSans-Light";
        }
        p:nth-child(2) {
            font-size:0.66em;
            font-family: "OpenSans-SemiBold";
        }
    }
}

.no-horizontal-padding {
    padding-left:0px;
    padding-right:0px;
}

.no-margin-top {
    margin-top:0px;
}

.no-horizontal-margin {
    margin-left:0px;
    margin-right:0px;
}

.margin-top-10 {
    margin-top:10px;
}


.calendar-bg {
    background-color:#F0EFF5
}

.calendar-date-label {
    // padding: 0.3em;
  font-size: 0.6em;
  text-transform: uppercase !important;
  height:35px;
}

.calendar-date-row-wrapper {
    width:82.5%;
    // margin-top:5px;
}

.calendar-date-row {
    padding: 0;
    // border: 1px solid pink;
    font-size: 0.7em;
    height:35px;
    text-transform: uppercase !important;
    margin:0;
    padding:0;
    // line-height: 1.1607em;
    border-top: .11em solid rgba(0,0,0,0.2);
}

.calendar-hour-half-row {
    height:50%
}

.full-height {
    height:100%;
}

.calendar-date-label-text {
    position: absolute;
  top: -1em;
  left: 2.25em;
  opacity: 0.5;
  // font-size: 80%;
  height:35px;
}

.calendar-hour-half-row.border-top {
    border-top:1px solid rgba(0,0,0,0.1);
}

.add-more-courses-button-wrapper {
    margin-top:40%;
}

.courses .item-content {
    background-color:inherit;
}

.courses .add-more-courses-button-wrapper {
    img {
        height:80px;
    }

    #add-more-courses-text {
        margin-top:1em;
        font-family: "OpenSans-Semibold";
        font-size:65%;
    }


}

.courses {

    .add-course-item {
        border: 1px solid rgba(255,255,255,0.2);
        font-size:1.1em !important;
    }

    .list {
        font-size:1.1em;
    }
}

.button.button-clear.button-blue {
    color: $blue !important;
}

.description-wrapper {
    min-height: 75px;
}

.questions-modal
.description-wrapper-item
    {
        padding: 0.75em 1.25em;
        font-size: 0.85em;
    }

.description-modal {

    .description-wrapper-item
    {
        padding: 0.75em 1.25em;
        font-size: 0.85em;
    }

    .list {
        width:100%;
        border:0px !important;
    }

    .item.description-wrapper-item {
        border: 0px;
    }

    .bar.bar-footer {
        padding:0px;
    }

}

.icon-attach {
    opacity: 0.5;
    font-size: 1.5em !important;
    right:0.5em;
}

.action-sheet {
    button.action-sheet-option {
          font-family: "OpenSans-Regular";
          text-transform: capitalize;
          font-size: 0.85em;
          text-align: left;
          padding-left: 1em;
          color: rgba(0,0,0,0.6);
    }

    .action-sheet-group {
        border-radius:3px;
    }

    .action-sheet-cancel
    button{
        font-family: "OpenSans-SemiBold";
        text-transform: capitalize;
        font-size: 0.85em;
          text-align: center;
          padding-left: 1em;
          color: rgba(0,0,0,0.6);
    }

    button.activated, button.active, .action-sheet-group .button.active {
        font-family: "OpenSans-Bold";
        color: rgba(0,0,0,0.6) !important;
    }

    button:hover, button:focus {
        color:rgba(0,0,0,0.6) !important;
    }
}

.attach-img {
    background-size:cover;
    height:50px;
    width:50px;
}

.transparent-bg {
    background:transparent;
}

.attach-img-wrapper {
    position:relative;
    z-index:10;
}
.attach-icon {
    top: 11% !important;
    right: 22% !important;
    z-index:11;
    border: 0.33em solid $blue;
    background-color:white;
    border-radius:5em;
    font-size:0.45em !important;
    padding:3px 4px 2px 4px;
    margin:0px;
    line-height:0.6em;
    color:$blue;
    font-family: "OpenSans-Bold";
}

.tag-modal {
    .has-header {
        .item-input {
            padding-top: 2px;
            padding-bottom: 2px;
       }
       input {
        font-size: 0.8em;
       }
    }
    .tag-item {
        font-family: "OpenSans-SemiBold";
        font-size: 0.8em;
        padding: 8px 12px;
    }
}

.contacting-modal {
    .icon-row {

        width: 120%;
        overflow-x: visible;
        margin-left: -10%;

    }
    .active-request-card-item-wrapper {
        margin-bottom:1em;
    }

}

p.request-description {
        white-space:normal;
        font-weight: rgba(0,0,0,0.5);
        font-size:0.7em;
    }

.request-tag-status {
    font-size: 40%;
    font-family: "OpenSans-Bold";
    color: $orange;
    border: 1px solid $orange;
    padding: 3px 4px;
    position: absolute;
    line-height: 1em;
    border-radius: 2px;
    right:1%;
    margin-top:4%;
    opacity:1;
}

.request-tag-status-completed {
    font-size: 0.5em;
    font-family: "OpenSans-Bold";
    color: $blue;
    border: 1px solid $blue;
    padding: 3px 4px;
    position: absolute;
    line-height: 1em;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 10px;
    opacity:1;
}


.angular-google-map-container { height: 400px; }

.pac-container {
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-right:0 !important;
    margin-left:-0.9em !important;
    border:0 !important;
    margin-top:0.25em;
    outline:none;
    .pac-icon {
        display:none;
        width:0%;
    }

    .pac-item {
        @extend .nano-text;
        display:block;
        font-family: "OpenSans-Regular";
        line-height:1.75em;
        padding:8px 12px !important;
        margin:0;
        padding:0;
        opacity:1;
    }

    .pac-item-query {
        font-weight:400 !important;
        display:block;
        font-size:14px;
        opacity:0.7;
    }


}

.pac-container:after {  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

.draggable-event {
position: relative;
  width: 100%;
  margin-bottom: 50%;
  margin-top: -114%;
  opacity: 0.7;
  background-color: #ADCBE1;
  border-top: 2px solid #68A7CF;
  border-bottom: 2px solid #68A7CF;
  z-index: 1;
  height: 93px;
}

.drag-point {
    position:absolute;
    background-color:white;
    border-radius:50%;
    border: 2px solid $blue;
    padding:5%;
    // display:none;

    -webkit-box-shadow: inset 0px -1.5px 0.5px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0px -1.5px 0.5px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#drag-point-bottom {
    bottom:-1.2em;
    left:1em;
}
#drag-point-top {
    right:1em;
    top:-1.2em;
}

.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    // display: none;
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}

.activated.cancel-active,
.active.cancel-active {
    background-color:inherit;
    color:inherit;
}

.full-width {
    width:100%;
}

.tags-wrapper {
    margin-left:7% !important;
    opacity:1 !important;
    white-space:normal;
    padding-left:1em;
    .request-tag {
        font-family: "OpenSans-Regular";
        padding-right:1em;
        display:inline-block;
    }
}

.no-background-image {
    background-image:none;
}

.button-img {
    background-color: inherit;
    border: 0;
    img.custom-icon {
        max-width:18px;
    }
}

img.custom-icon {
        max-width:18px !important;
        max-height:18px;
}

img.custom-icon.chevron-filled-left,
img.custom-icon.chevron-filled-down, {
    height: 18px;
    top: 39%;
    right: 0.55em;
}

img.custom-icon.list-custom-icon, {
    margin-top:0.25em;
}

img.custom-icon.list-custom-icon.request-icon {
    margin-top: 0.33em;
    margin-right:0.1em;
}

.full-opacity {
    opacity:1;
}

.blue.blue-left-margin {
    font-family: "OpenSans-SemiBold";
    color:$blue;
}

.availability-modal {
.scroll {
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
    transform:translate3d(0px, 0px, 0px) scale(1);
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

}

.tag-input-wrapper {
    .item-input {
        padding: 11px 0px 7px 15px !important;
    }
}



.description-item {
    min-height:8em !important;
}

.course-input-item.active, .course-input-item.activated {
    background-color:white;
}



.item-options {
    background-color:#e42012;
    color:white;
}

.tag-input-wrapper .item-input {
  padding: 15px 0px 15px 15px !important;
}

.grey-text {
    color:grey;
}

#home-page {
    .active-request-card-item-wrapper:nth-child(1) {
        margin-top: -3px;
    }

    .active-request-card-item-wrapper {
        margin-bottom:1em;
    }
}

.request-card-item {
    p.course-text {
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: "OpenSans-Light";
        position:relative;
    }

    img {
        top:22px;
    }

    p.location-text {
        font-family: "OpenSans-SemiBold";
        margin-top:-0.5em;
        font-size:0.7em;
        color:black;
        opacity:0.7;
    }



}

.float-center {
    float:center !important;
}

.no-padding-bottom {
    padding-bottom:0px;
}

.white-space-normal {
    white-space:normal!important;
}

.inline {
    display:inline-block;
}

.relative {
    position:relative;
}

.no-padding-horizontal {
    padding-right:0px;
    padding-left:0px;
}

.empty-tags-placeholder {
    position: absolute;
    left: 3em;
}

.button.button-full.button-blue {
    border-color:$blue;
    font-family: "OpenSans-Light";
    text-transform: none;
    color:white;
}

.button.button-full.button-blue.active,
.button.button-full.button-blue.activated {
    background-color:$blue;
    opacity:0.7;
    color:white;
}

.price-choice {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.price-choice.active {
    background-color:$blue;
    color:white;
    border:1px solid $blue;
}

.padding-horizontal-2em {
    padding-right:2em;
    padding-left:2em;
}

.opacity-6-10 {
    opacity:0.6;
}

.transform-normal {
    text-transform:none;
}

.transform-capitalize {
    text-transform:capitalize;
}


#guru-tab-bar {
    border-top: 1px solid rgba(0,0,0,.1) !important;
    .tab-item img {
        color:black;
    }
}

h1,h2,h3,h4,h5,h6  {
    letter-spacing: normal;
    font-family:"OpenSans-Light";
}


#guru-home
h2 {
    font-size: 1.5em;
}

#guru-home,
#guru-questions {
    .scroll:nth-child(1) {
        height:100%;
    }
}

#guru-home {

    .tags-wrapper {
        padding-left:0px !important;
        margin-left:0px !important;
    }

    img.verb-img {
        max-width:35px !important;
        max-height:50px;
    }
}

.course-details img {
    margin-right: 0.33em;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 33px !important;
    right: 0px;
}

.home-card-profile {
    margin-top:-10%;
}

.visible-overflow {
    overflow:visible;
}

.padding-vertical-1em {
    padding-top:1em;
    padding-bottom:1em;
}

.card-item-left {
    padding-left:15% !important;
    min-height:52px !important;
    p {
        margin-bottom: 0px !important;
        font-family: "OpenSans-SemiBold";
        opacity:0.7;
    }
    img.icon {
        top:7px;
    }
    p.time-until {
        color:$orange;
        opacity:1;
    }
}

.item.button-only {
    padding:0.33em 1em;
}

.button.button-full.button-bright {
    background-color:#E3285D;
    border-color:#E3285D;
    color:white;
    font-size:80%;
    font-family: "OpenSans-SemiBold";
}

.button.button-full.button-dark {
    color:white;
    font-size:80%;
    font-family: "OpenSans-SemiBold";
}

.question-item {
    .tags-wrapper {
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    p.tags-wrapper {
        padding-left:0px;
        margin-left: 0px;
    }
}

.stack_circle {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top:16px;
  left: 16px;
}

h4.tap-to-reply-link {
    // font-size:0.9;
    // margin-top:0.5em;
    font-size: 1em;
    margin-top: 0.66em;
}

.side-menu-footer-bar {
    background-color:rgba(0,0,0,0.04);
    background-image: none;
    border-width: 0;
    line-height: 2em;
    height: 43px;
    color: rgba(0,0,0,0.4);
}

.guru-course-input-wrapper {
    padding-left:1em;
}

.button-full.button-blue.button-submit  {
    text-transform: uppercase;
    font-size:90%;
    color:white;
    font-family: "OpenSans-Bold";
}

.incoming-proposal .profile-img.sidebar-img {
    border: 3px solid white;
    margin-left: -8px;
    margin-right: -8px;

}

.proposal-card-request {

    .proposal-header {
        font-size:24px;
    }

    .course-header {
        font-size: 24px;
    }

    .tags-wrapper {
        margin-left:0px !important;
        padding-left:0px !important;
    }

    .guru-proposal-profile {
        margin-top:-15%;
    }

}

ion-list.list-inset.visible-overflow.proposal-card-request.disable-user-behavior {

    // margin:0 auto !important;
    float:center !important;
    // margin-top:5%;

}


.gm-style-cc { display:none; }

.no-border {
    border-width:0px !important;
    border-top:0px !important;
    border-bottom:0px !important;
}

.can-help-text {
    padding-left:3em;
}

.can-help-profile-img {
    max-height:60px !important;
    max-width:60px !important;
}

// .ion-star {
//     padding:0.25em;
//     padding-top:0.5em;
// }

.padding-top-half {
    padding-top:0.25em;
}

.guru-info-wrapper {
    color:white;
    h2 {
        font-size:1.5em;
        color:white;
        opacity:0.7;
    }
    p {
        color:white;
        opacity:0.7;
        font-size:70%;
    }
    margin-left:25%;
}

.student-session-course-name {
    font-size: 1.5em !important;
    line-height: 1.5em;
    font-family: OpenSans-Light;
    opacity: 0.8;
}

.pico-text {
    font-size:70% !important;
}

.padding-right-half {
    padding-right:0.5em;
}

.padding-top-half {
    padding-top:0.5em;
}

.guru-session-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    min-height:62px;
    button {

        margin-bottom:0;
        margin:0.5em !important;
    }

}

.opacity-65 {
    opacity:0.65;
}

#home-page .scroll {
    height:100%;
}

.timer-center {
    margin: 0 auto;
    max-width: 60%;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.1);
}

.in-session-person-background {
    text-align:left;
    border-width:0px;
}

.tabs.dark-bg {
    border-color: transparent;
}

// .platform-ios .side-menu-right .ios-status-bar-dark{
//     border-top:20px solid #2B3233;
// }

.character-count {
    bottom:0.5em;
    right:0.5em !important;
    color:black;
}

.red-text {
    color:red;
}

.sidebar-card-input {
    padding-left:2.25em !important;
    font-size: 1.25em !important;
    font-family: "OpenSans-SemiBold";
    padding-right:0px !important;
    color:rgba(0,0,0,0.6) !important;
    line-height:normal!important;
}

.sidebar-expiry-input {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 1.25em !important;
    line-height:normal!important;
}

.sidebar-mm-input, .sidebar-yy-input {
    font-size: 1.25em !important;
    font-family: "OpenSans-SemiBold";
    line-height:normal!important;
}

.fb-blue-bg {
    background-color:#4D689F !important;
    border-color: #4D689F !important;
}

.light-blue-bg {
    background-color:#68A7D0 !important;
    border-color:#68A7D0;
}

.button-footer {
    width:100% !important;
    font-family: OpenSans-Bold !important;
    font-size: 90% !important;
}

.button-footer.button.activated, button.active, .button.button-footer.active,
.button-footer.button:focus {
    color:white;
    opacity: 0.85;
}

.button-footer.button.activated, button.active, .button.button-footer.active,
.button-footer.button:focus, .button-footer.button:visited {
    color:white;
    opacity: 0.85;
}

// select
// .add-dotted-border {
//     border-bottom:2px dotted rgba(255,255,255,0.6);
//     font-size:120%;
// }

p.university-header {
    font-size:120%;
}

.university select, .guru-profile select {
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-bottom:2px dotted rgba(255,255,255,0.6) !important;
    font-size:100% !important;
    color:$blue !important;
    border-radius:0px;
    line-height:1.33em;
    font-family: "OpenSans-SemiBold";
}

.guru-profile select {
    border-width: 0px !important;
    color:transparent !important;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.student-width {
    width:25%;
    text-indent: 0.15em;
}

.professional-width, {
    width: 34%;
}

.platform-ios .professional-width,
.platform-android .professional-width {
    width:33%;
}

.hs-student-width {
    width:30%;
}

.platform-ios .hs-student-width,
.platform-android .hs-student-width {
    width:35%;
}

.university-label {
    background-color: transparent;
    border: 0px;
    color: white;
    margin: 1em 1.5em 0;
    border-bottom:2px solid rgba(255,255,255,0.5);
    box-shadow: 0px 7px 10px -5px black;

    input {
          background-color: transparent !important;
          color: white;
          padding: 0 0.5em;
          display: inline-block;
          font-family: "OpenSans-Regular";
          text-transform: capitalize;
          font-size: 110%;
          line-height: 110%;
    }
    .university-input-container {
        width:100%;
        margin-left: -0.8em;
        margin-bottom: -0.3em;
        position:relative;

    }
}

.fake-university-input {
    color: rgba(255,255,255,0.33);
    border: 0px;
    background-color:transparent;
    margin-left:2em;
    margin-right:2em;
    border-bottom: 2px solid;
    border-bottom:2px solid rgba(255,255,255,0.5);
    // box-shadow: 0px 7px 10px -5px black;
    position:relative;
    text-transform: uppercase;
    text-align:left;
    font-family: "OpenSans-Bold";
    line-height:1em;
    padding-bottom: 0.75em;
    .icon {
        display:inline-block;
        color: rgba(255,255,255,0.5);
        // position:absolute;
        left:0px;
        top:38%;
        font-size:1.3em;
    }
    p {
        font-size:1.1em;
        margin-left:-0.7em;
    }
}

.onboarding-search-icon {
    color: rgba(255,255,255,0.5);
    top:55%;
    font-size:1.8em;
}


.padding-half-horizontal {
    padding-right: 0.5em;
    padding-left:0.5em;
}

.bold {
    font-family: "OpenSans-Bold" !important;
}

.subdark-bg {
    background-color:#363B3D;
}

.no-box-shadow {
    box-shadow:none;
}


.university-list.active .university-list.activated {
    color: $blue;
}

.fake-university-input.active, .fake-university-input.activated {
    background-color:inherit;
    border-color:inherit;
    color:inherit;
}

.button-footer {
    // padding-bottom:0px !important;
    margin-bottom: 0px !important;
    bottom:0px !important;
}

.green-bg {
    background-color:#56CD9F !important;
}

.slider-pager .slider-pager-page.active {
    color:white;
}

// .slider-pager .slider-pager-page {
//     opacity:1;
// }

.opacity-1-4 {
    opacity:0.25 !important;
}

.opacity-1-3 {
    opacity:0.33 !important;
}

h1.onboarding-header-text {
    font-family: "OpenSans-Bold";
}

.onboarding-phone-wrapper, .onboarding-img-wrapper {
    padding-top:5%;
    img.phone-img {
        max-width:40%;
    }
}

.onboarding-phone-wrapper {
    height:100%;
}
.lefthand-img {
    max-width:20%;
    left:9%;
    top:30%;
    display:none;
}

.lefthand-img.absolute {
    position:absolute;
    display:block;
}

.phone-img {
    margin: 0 auto;
    left:30%;
    display:none;
}

.phone-img.absolute {
    // position:absolute;
    display:block;
}

.first-page-wrapper {
    height:60%;
    .pure-g {
        height:100%;
    }
}


.righthand-img {
    position:absolute;
    max-width:20%;
    right:9%;
    top:30%;
    display:none;
}

.righthand-img.absolute {
    position:absolute;
    display:block;
}

.bling-guru {
    max-width:90%;
}

.help-needed-card-img, .guru-profile-card-img {
    max-width:80%;
}

.chores-wrapper, .professional-wrapper, .skilled-wrapper,  .chores-wrapper, .labor-wrapper{
    margin-bottom:1em;
    .course-tag {
        font-size:70%;
    }
}

.chores-wrapper .course-tag {
    background-color: #9BE36E;

    &.selected {
        color: #9BE36E;
        background-color: white;
    }
}

.professional-wrapper .course-tag {

    &.selected {
        color: #E37543;
        background-color: white;
    }
}

.major-tag.selected {
    color: $orange;
    background-color:white;
}

.skilled-wrapper .course-tag {
    background-color: #D82187;

    &.selected {
        color: #D82187;
        background-color: white;
    }
}

.labor-wrapper .course-tag {
    background-color: #5DABF4;

    &.selected {
        color: #5DABF4;
        background-color: white;
    }
}

.font-1em {
    font-size:1em !important;
}

select.current-hourly-price {
     padding: 0.5em 3em;
     font-family: "OpenSans-SemiBold";
     opacity:0.8;
     color: $green;
}

.font-2em {
    font-size:2em;
}

.font-3em {
    font-size:2em;
}

.font-200 {
    font-size:200%;
}

.font-300 {
    font-size:300%;
}

.light-sans {
    font-family: "OpenSans-Light";
}

.ranking-text-container {
    padding:20% 20% 0% 20%;
    position:relative;
}

.letter-spacing-small {
    letter-spacing: 2px;
}

.th-text {
position: absolute;
  font-size: 45%;
  letter-spacing: 2px;
  font-family: OpenSans-SemiBold;
  opacity: 0.65;
  top: 14%;
  right: 15%;
}

.percentile-text {
    margin-top:0em;
}

.ranking-img {
    position:absolute;
    width: 67%;
    left: 16.6%;
    top: 12.5%;
}

#profile-tab-button {

    margin-top: -4px;
    padding-top:0px;
    opacity:0.3;

    .icon {
        font-size: 2.2em !important;
        margin-left:0.2em;
    }
}

.auto-margin {
    margin:auto;
}

.max-height-70 {
    max-height:70px;
}

.tag-icon-question-details {
    height: 22px !important;
    top: 1em !important;
}

.width-30 {
    width:30%;
}

.button.button-full.button-clear.cancel-clear-button {
    color:white !important;
    text-transform: uppercase !important;
}

.onboarding-search-item-label {
    border-bottom: 1px solid rgba(255,255,255,0.4) !important;
    padding: 1em;
    padding-top:0.6em !important;
}

.platform-ios .university-view-2 .pure-g {
    margin-top:30px;
}

.button-right {
    padding-left:100px !important;
}

.dont-modify-bounds {
    right:0px !important;
    left:0px !important;
}

.button-left {
    padding-right:100px !important;
}

.profile-img.sidebar-img.guru-profile-img {
    border-width:0px !important;
}

.guru-profile-img-wrapper {
    background-color: rgba(0,0,0,0.1);
}

#description-input::-webkit-input-placeholder {
    padding-left:0.5em;
}

#description-input:-moz-placeholder { /* Firefox 18- */
   padding-left:0.5em;
}

#description-input::-moz-placeholder {  /* Firefox 19+ */
   padding-left:0.5em;
}

#description-input:-ms-input-placeholder {
   padding-left:0.5em;
}

.guru-profile-slide-box .slider-pager {
    .slider-pager-page {
        color:rgba(0,0,0,0.1);
    }

    .slider-pager-page.active {
        color:white;
    }
}

#university-input, #major-input {
    padding: 0.5em !important;
    padding-left: 1em !important;
    font-size: 1.15em;
    line-height:1.3em !important;
    text-transform: capitalize;
}

.align-left-start {
    margin-left: -1.2em !important;
}

.major-item {
    padding:12px 12px !important;
    p {
        overflow:visible !important;
    }
}

.student-incoming-proposal .scroll {
    margin:1em 0 1em 0 !important;
    padding-bottom:5%;
}

.capitalized {
    text-transform: capitalize;
}

.button.button-clear.button-price-bubble {
    top: 21px;
    border: 0.175em solid #b2b2b2;
    border-radius: 50%;
    font-size: 70%;
    color: rgba(0,0,0,0.6);
    font-family: OpenSans-SemiBold;
}

.task-filter-item {
    width:54px;
    display:inline-block;
    opacity:1;
}

.task-tabs {
    border: 0px;
    padding:0.25;
    padding-left:0.66em;
    overflow: scroll;
    white-space: nowrap !important;
    justify-content:left;
    height:55px;
}

.price-bubble-lengthy {
    padding: 0.25em !important;
}

::-webkit-scrollbar {
    display: none;
}

.all-types-verb {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    padding: 0;
    height: 40px;
    top: 2px;
    span {
            position:absolute;
            line-height: 1.2em;
            text-transform: uppercase;
            font-family: OpenSans-Bold;
            top: 25%;
            left: 20%;
            font-size: 60%;
    }
}

.all-types-verb.inverted {
    background-color:transparent;
    color:white;
    border: 0.1em solid white;
    span {
        left:18%;
        top:23%;
    }
}

.task-filter-item img.padding-half {
    padding:0.33em;
}

.platform-ios .all-types-verb{
    top: -15px;
    // overflow:visible;
}

.platform-ios .task-filter-item:nth-child(1) {
    overflow:visible;
}

.jp-card .jp-card-front, .jp-card .jp-card-back,
.jp-card.jp-card-identified .jp-card-front {
  width:80% !important;
  margin: 0 auto !important;
  height:70% !important;
  top: 10% !important;
  left: 10% !important;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-number,
.jp-card.jp-card-identified .jp-card-front .jp-card-lower .jp-card-number,
 {
    font-size:18px;
    margin-bottom:15px;
}

.jp-card.jp-card-identified {
  box-shadow: none !important;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-name {
   font-size: 16px !important;
}

.jp-card .jp-card-front .jp-card-lower {
  bottom: 20px !important;
}

.platform-ios .tasks .has-header
{
    margin-top:25px !important;
}

.dirty-white-bg {
    background-color: rgba(0,0,0,0.04);
}

.guru-pending-proposal-card {
    padding-bottom:5%;
}

.card-font-xs {
    font-size: 70%;
}

.card-font-small {
    font-size: 85%;
}

.border-radius-circular-right {
    border-radius: 0px 50% 50% 0px;
}

.border-radius-circular-left {
    border-radius: 50% 0% 0% 50%;
}

li.item.item-avatar-left.message-item {
  margin-right: 10%;
  padding-left: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
}

li.item.item-avatar-right.message-item {
  margin-left: 10%;
  padding-right: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
}

li.item.item-avatar-left.message-item {
    min-height:55px;
    .text {
        background-color: rgba(0,0,0,0.04);
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.9);
        padding: 0.75em;
        border-radius: 4px;
        white-space: normal;
        text-align: left;
        top: 5px;
        font-size: 70%;
        line-height: 1.5em;
        font-family: OpenSans-Regular;
        min-height:40px;
    }

    img {
        top:0px;
    }
}

li.item.item-avatar-right.message-item {
    padding-right:10px;
    min-height:55px;
    .text {
        background-color: rgba(0,0,0,0.83);
        margin-bottom: 12px;
        color: white;
        padding: 0.75em;
        border-radius: 4px;
        white-space: normal;
        text-align: left;
        font-size: 70%;
        line-height: 1.5em;
        font-family: OpenSans-Regular;
        min-height:40px;
    }

}

.guru-bot-message {
    margin-bottom:1em;
    padding-bottom:0.25em;
    border-bottom: 2px solid rgba(0,0,0,0.05);
}

.text-time {
    margin-top: -1.25em;
    padding-left:0.2em;
    opacity:0.5;
    font-family: "OpenSans-SemiBold";
    font-weight: 400;
    text-transform:none;
    font-size:55%;
}

.button.button-full.end-session-button {
    margin: 0.5em auto !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 90%;
}

.button.button-positive.button-clear.button-search {
    color: #68A7CF;
    font-family: "OpenSans-SemiBold";
}

.ratings-profile-img {
    width:30%;
    margin:0 auto;
    border-radius:50%;
}

.ratings-border-bottom {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

button.button-full.ratings-footer-button {
  margin: 0;
  background-color: rgba(255,255,255,0.1);
  border: none;
  color: rgba(255,255,255,0.5);
  font-size: 80%;
  font-family: OpenSans-Bold;
}

.ratings-modal .pure-u-1-5.blue .icon {
    opacity:1;
}

.button.button-full.button-blue.button-bold {
    font-size: 80%;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
}

.padding-3-4em {
    padding:0.75em;
}

.settings-view-container h1.title.bold {
    font-size:0.75em;
    line-height:46px;
}

.light.regular-text {
    opacity:0.7;
    color:#000000;
}

.auto-marign {
    margin: 0 auto;
}

.course-tag.student-settings {
    font-size: 70%;
    padding: 3px 5px;
}

.settings-view-container .button.button-blue.blue-bg {
    border-color:$blue;
    font-family: "OpenSans-Light";
    padding:0em 2.5em;
    min-height:0px;
}

.button.button-blue.blue-bg.active, .button.button-blue.blue-bg.activated {
    opacity:0.6;
}

.opacity-4-5 {
    opacity:0.8;
}

.settings-view-container .item-toggle .toggle{
    top:5px;
}

.card-img {
    position:absolute;
}

.card-icons-right {
    position:absolute;
    right:-5%;
    top:50%;

    .ion-checkmark {
        font-size:120%;
        padding-right:1.5em;
    }

    .ion-chevron-right,
    .ion-plus {
        padding-right:0.5em;
        opacity:0.7;
    }
}

.support-img-container {
    img {
        max-height:35px;
        margin:0 auto;
    }

    .card-img-support {
        height:27px;
    }

    .card-img-confused {
        height:27px;
    }

    .other-img-support {
        height:40px;
        width:40px;
    }
}

.support-img-container.blue-bg {
    background-color: $blue !important;
}

.bg-edit-mode {
    background-color:#57CD9F;
}

.profile-banner-bg {
    background-size: cover;
    position:absolute;
    z-index:0;
    top:-5px;
    left:-5px;
    width:105%;
    height:100%;
    min-height:200px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity:0.8;
}

.guru-profile-img-wrapper {
    z-index:1;
    position:absolute !important;
    width:100%;
    height:100%;
    min-height:200px;
    // background-color:transparent;
    background-color:rgba(0,0,0,0.6);
}

.profile-15m-text {
    color:rgba(255,255,255,0.8);
    font-size:40%;
    text-transform:none;

}

.white-space-nowrap{
    white-space:nowrap;
}

.skill-tag {
    background-color: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.89);
  padding: 6px 10px;
  font-family: "OpenSans-Bold";
  font-size: 75% !important;
  white-space: normal;
  display: inline-block;
  margin: 4px;
  padding: 4px 12px;
}

.course-tag-profile {
    color: rgba(0,0,0,0.6);
  background-color: #9EA2A2;
  padding: 6px 10px;
  font-family: "OpenSans-Bold";
  font-size: 75% !important;
  white-space: normal;
  display: inline-block;
  margin: 4px;
  padding: 4px 12px;
}

.skill-tag-bg {
    background-color:#3F4647;
}

.left {
    text-align:left;
}

.verification-icons {
    position:absolute;
    right:0px;
    bottom:-8px;
    img {
        width:20px;
        height:auto;
        margin:1px 3px;
    }
}

.flex {
    display:flexbox;
    -webkit-display: flexbox;
}

.conversation-item {
    .container .pure-g {
        margin-bottom:5px;
    }

    .container {
        padding-left: 10px;
    }
    img {
        top:15% !important;
        max-height:60px !important;
        max-width:60px !important;
    }
}

.conversation-skill-tag {
      font-size: 70%;
  font-family: "OpenSans-SemiBold";
  border: 0px;
  padding: 6px 12px;
  position: absolute;
  line-height: 1em;
  border-radius: 1px;
  opacity: 1;
  background-color: #68A7CF;
  color: white;
  margin-left: 1.5em;
  text-transform: capitalize;
}

.cashout-content-wrapper {
    .scroll {
        height:100%;
    }
}

.max-height {
    max-height:100%;
}

.max-height-40 {
    max-height:40%;
}

.cashout-history-list {
    .card-icons-right {
        right:5%;
        top:25%;
    }
    p {
        font-size:60%;
    }
}

.cashout-status-tag {
  font-family: "OpenSans-SemiBold";
  font-size:60%;
  margin-left:0.5em;
  padding: 2px 8px;
  border-radius: 2px;
  opacity: 1;
  background-color: #68A7CF;
  color: white;
  text-transform: capitalize;
  border: 0.15em solid #68A7CF;
  background-color: white;
  color: #68A7CF;
  border-top: inherit;
  border-bottom: 0.15em solid #68A7CF !important;
  border-top: 0.15em solid #68A7CF !important;
  text-transform: uppercase;

  font-family: "OpenSans-SemiBold" !important;

  &.pending {
    border-color:red !important;
    color: red;
    opacity:0.6;
  }
}



.cashout-item {
    padding:12px 16px;
    overflow:visible;
}

.cashout-bg {
    background-color: #6B6F71;
}

.font-100 {
    font-size:100%;
}

.font-200 {
    font-size:200%;
}

.font-300 {
    font-size:300%;
}

.font-400 {
    font-size:400%;
}

.timer-icon-img {
    max-height:50px;
}

.timer-container {
    border: 4px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    margin: 0% 20%;
    padding: 23% 0%;
    font-size: 0.6em;

    .down-arrow {
        position: absolute;
        bottom: -80%;
        left: 30%;
        font-size: 50%;
        color: rgba(255,255,255,0.6);
    }

    .up-arrow {
        position: absolute;
        top:-80%;
        left: 30%;
        font-size: 50%;
        color: rgba(255,255,255,0.6);
    }
}


.black-text {
    color:black;
}

.opacity-3-5 {
    opacity:0.6;
}

.opacity-2-3 {
    opacity:0.66;
}

input.bill-student-input {
    margin-left:-2px;
    width:80%;
    display:inline-block;
    font-size:40px;
    line-height:49px;
    height:46px;
    vertical-align:top;
    color:$blue;
}

.ranking-container {
    border: 15px solid #68A7CF;
    border-left-color:rgba(255,255,255,0.89);
    border-radius: 50%;
    padding: 35% 0%;
    font-size: 0.6em;
    background-color: grey;
    width: 90%;
    left:5%;
    margin-top:-15%;
    text-align:center;
    h1 {
        color:white;
    }
    .text {
        margin: 0 auto;
        width: 100%;
        top: 40%;
        font-size: 20px;
        text-align: center;
        left: 5%;
    }
}

.ranking-box {
    padding-right: 2em;
    margin-top: -1.5em;
}

.payscale-box {
    padding-left:1.5em;
    margin-top: -1.5em;
}

.absolute {
    position:absolute;
}

.ranking-num {
    background-color: rgba(0,0,0,0.3) !important;
    padding-bottom: 0.5em;
    font-size:90%;
}

.university-banner-text span {
    background-color: rgba(0,0,0,0.4);
    padding:0.2em 0.6em;
    font-size:80%;
}

#guru-home .guru-profile-img-wrapper {
    background-color: transparent;
}

.ranking .ranking-container {
  border: 15px solid #68A7CF;
  border-left-color: rgba(255, 255, 255, 0.89);
  border-radius: 50%;
  padding: 33% 0%;
  font-size: 0.6em;
  background-color: grey;
  width: 90%;
  left: 5%;
  margin-top: -15%;
  text-align: center;
}

.padding-eight {
    padding:0.125em;
}

.course-tag.inverted {
    border: 1px solid #D97142;
    padding: 3px 20px !important;
    border-color: #D97142;
    background-color:transparent;
    color:#D97142;
    min-height:0px;
    line-height:19px;
    text-transform:uppercase;
}

.button.course-tag:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.course-tag.inverted.active, .course-tag.inverted.activated {
    background-color:#D97142;
    color:white;
}

.button.button-positive {
  background-color:$blue;
  border-color: $blue;
}

.white{
    color:white;
}

.extra .toggle.toggle-calm {
    top:12px;
}

.button.button-footer.light-blue-bg.active, .button.button-footer.light-blue-bg.activated, .button.button-footer.light-blue-bg:visited {
    opacity:0.5;
    color:white;
    border-color:$blue;
}

a.button-footer:visited, a.button-footer:hover {
    color:white;
}

.hide {
    display:none !important;
}

.show {
    display:block !important;
}

.show-inline {
    display:inline-block !important;
}

.light.blue {
    color:$blue;
}

.progressbar-text {
    color:#2B3233 !important;
    font-size:40px;
    opacity:0.9;
    font-family: "OpenSans-SemiBold";
}


.guru-ranking-progress-container {
    margin-top:-15%;
}

.light-border-bottom {
    border:1px solid #ccc;
}

.attribute-card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    .title-container {
        flex-grow:1;
        color: #fff;
        background-color:$blue;
    }
    .card-title {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            color: #000;
            display: block;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: stretch;
            -webkit-justify-content: stretch;
            -ms-flex-pack: stretch;
            justify-content: stretch;
            line-height: normal;
            padding: 16px;
            -webkit-perspective-origin: 165px 56px;
            perspective-origin: 165px 56px;
            -webkit-transform-origin: 165px 56px;
            -ms-transform-origin: 165px 56px;
            transform-origin: 165px 56px;
            box-sizing: border-box;
    }
    .card-body {
            color: rgba(0,0,0,.54);
            font-size: 13px;
            line-height: 18px;
            overflow: hidden;
            padding: 16px;
            width: 90%;
    }
}

.rating-num {
    font-size:80%;
    line-height:130%;
    opacity:0.5;
    margin-left:-0.2em;
}

.sidebar-img.guru-profile-img {
    max-height:100px;
}

.guru-profile-major-text {

    width: 100%;
    white-space: normal;
    padding: 0.25em 0.5em;
    font-size: 90%;

}

.no-margin-bottom {
    margin-bottom:0px;
}

.regular {
    font-family: "OpenSans-Regular";
}

.item.item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    left:initial;
    right: 8px;
    z-index: 3;
    margin-top: -25px;
}

.item.item-checkbox {
    padding-right: 60px;
    padding-left:60px;
    padding-bottom:1em;
    padding-top:1em;
}

.checkbox input:checked + .checkbox-icon:before, .checkbox input:checked:before {
    background: $blue;
    border-color: $blue;
}

.remote .remote-img {
    height:35% !important;
}

.font-18 {
    font-size:18px !important;
}

.white-text {
    color:white !important;
}

.guru-profile select, .guru-profile select option {
    background-color:transparent !important;
    color:$blue !important;
}

label.item-floating-label {
    letter-spacing: normal;
}

.credibility .micro-text {
    margin-top:-5px;
}

.credibility .item-avatar-left img {
    height: auto;
    border-radius: initial;
    width: 1.75em;
    top: 33%;
    opacity: 0.7;
}

.credibility .item-icon-right .ion-plus {
    top:35%;
    font-size:150%;
    opacity:0.8;
}

button.button.button-popup {
    padding:0 4px;
    font-size:85%;
}

.popup-open .popup {
    margin-bottom: 40%;
}

.guru-home-tip-slider .slider-pager {
    top:34%;
    .slider-pager-page {
        color:rgba(0,0,0,0.15);
        opacity:1;
    }
    .slider-pager-page.active {
        color:rgba(0,0,0,0.4);
    }
}

.th-text.absolute {
    font-size: 85%;
    letter-spacing: 0.083em;
    font-family: OpenSans-Bold;
    opacity: 0.44;
    top: 47%;
    left: 60%;
    text-transform: uppercase;
}

p.progressbar-text {
    left:47% !important;
    top:48% !important;
    opacity:0.75;
}

// .guru-profile-content .scroll {
//     height:100% !important;
// }
.platform-ios ion-content.guru-profile-content.white-bg.standard-bg.guru-profile-content.scroll-content.ionic-scroll.scroll-content-false.has-header {
    top:108px !important;
}

// .guru-profile .guru-profile-slide-box .slider-slides {
//     width:200% !important;
// }

.guru-profile-slide-box ion-slide {
    width:50% !important;
}

p.fake-placeholder-text {
    font-size: 1em;
    margin-left: -0.25em;
}

#support-input-fake:hover{
    outline:none;
}