/* ---------- STUDENT HOME */
#desktop-student-home {
  background: #F1F1F1;
  color: #40484B; }
  #desktop-student-home #top-bar {
    background: #50A5DD; }
    #desktop-student-home #top-bar div:nth-child(2) div {
      background: #50A5DD; }
    #desktop-student-home #top-bar div:nth-child(2) #top-menu-links {
      background: #50A5DD; }
      #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:hover span, #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:active span, #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:focus span {
        color: #50A5DD; }
      #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:hover svg, #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:active svg, #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li a:focus svg {
        stroke: #50A5DD; }
      #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li:last-child a span {
        color: #50A5DD; }
      #desktop-student-home #top-bar div:nth-child(2) #top-menu-links ul li:last-child a svg {
        stroke: #50A5DD; }
  #desktop-student-home .main .home-tabs {
    background: #6e8694; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content {
    border: 3px solid #F1B99D;
    background: white; }
    #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon svg *[stroke="#000000"] {
      stroke: #40484B !important; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket div {
    background: url(../../img/ticket/center.svg) repeat-x center center/contain, url(/static/remote/img/ticket/center.svg) repeat-x center center/contain; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:before {
    background: url(../../img/ticket/left.svg) no-repeat center left/contain, url(/static/remote/img/ticket/left.svg) no-repeat center left/contain; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:after {
    background: url(../../img/ticket/right.svg) no-repeat center right/contain, url(/static/remote/img/ticket/right.svg) no-repeat center right/contain; }
  #desktop-student-home .main .home-main .home-tiles-powerups {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 7.5px; }
    #desktop-student-home .main .home-main .home-tiles-powerups .home-tile {
      height: 25%;
      padding: 7.5px; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile .home-tile-inside {
        border-radius: 2px;
        height: 100%; }
        #desktop-student-home .main .home-main .home-tiles-powerups .home-tile .home-tile-inside > svg {
          height: 100%;
          width: auto; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.gpa .home-tile-inside {
        background: #559AB0; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.munchies .home-tile-inside {
        background: #F25A5B; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.sound .home-tile-inside {
        background: #9A5BC5; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.transit .home-tile-inside {
        background: #81B566; }
  #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside {
    background: #50A5DD; }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:hover, #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:focus {
      background: rgba(110, 134, 148, 0.5); }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:active {
      background: #6e8694; }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:not(:last-child):after {
      background: #a8d2ee; }

#desktop-courses.student-mode .input-field .prefix svg {
  stroke: #40484B; }
#desktop-courses.student-mode .input-field input {
  color: #40484B; }
#desktop-courses.student-mode .desktop-header a svg {
  stroke: #40484B !important; }
#desktop-courses.student-mode .desktop-search-header {
  color: #40484B; }
#desktop-courses.student-mode .desktop-card-list li a {
  background: rgba(64, 72, 75, 0.1);
  border-bottom: 10px solid rgba(255, 255, 255, 0.7); }
  #desktop-courses.student-mode .desktop-card-list li a:hover {
    background: #50A5DD; }
    #desktop-courses.student-mode .desktop-card-list li a:hover span {
      color: white; }
#desktop-courses.student-mode .desktop-card-list li a svg, #desktop-courses.student-mode .desktop-card-list li label svg {
  background: white; }
  #desktop-courses.student-mode .desktop-card-list li a svg path, #desktop-courses.student-mode .desktop-card-list li label svg path {
    stroke: #50A5DD; }
#desktop-courses.student-mode .desktop-card-list .selected a {
  background: #50A5DD;
  border-color: white; }
  #desktop-courses.student-mode .desktop-card-list .selected a span {
    color: white; }

/*# sourceMappingURL=desktop-student.css.map */
