@import 'mixin';

/* ---------- STUDENT HOME */
#desktop-student-home {
	background: $smoke;
	color: $slate;
	#top-bar {
		background: $lake;
		div:nth-child(2) {
			div {
				background: $lake;
			}
			#top-menu-links {
				background: $lake;
				ul {
					li {
						a {
							&:hover, &:active, &:focus {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
						&:last-child {
							a {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
					}
				}
			}
		}
	}
	.main {
		.home-tabs {
			background: lighten(mix($slate, $lake, 90%), 20%);
		}
		.home-main {
			.home-tiles-top {
				.home-tiles-daily {
					.home-ticket-content {
						border: 3px solid #F1B99D;
						background: white;
						.home-ticket-inside {
							.home-ticket-icon {
								svg {
									*[stroke="#000000"] {
										stroke: $slate!important;
									}
								}
							}
						}
					}
					.home-ticket {
						div {
							background: url(../../img/ticket/center.svg) repeat-x center center / contain,
										url(/static/remote/img/ticket/center.svg) repeat-x center center / contain;
						}
						&:before {
							background: url(../../img/ticket/left.svg) no-repeat center left / contain,
										url(/static/remote/img/ticket/left.svg) no-repeat center left / contain;
						}
						&:after {
							background: url(../../img/ticket/right.svg) no-repeat center right / contain,
										url(/static/remote/img/ticket/right.svg) no-repeat center right / contain;
						}
					}
				}
			}
			.home-tiles-powerups {
				@include flex-column;
				height: 100%;
				padding: 7.5px;
				.home-tile {
					height: 25%;
					padding: 7.5px;
					.home-tile-inside {
						border-radius: 2px;
						height: 100%;
						> svg {
							height: 100%;
							width: auto;
						}
					}
					&.gpa {
						.home-tile-inside {
							background: #559AB0;
						}
					}
					&.munchies {
						.home-tile-inside {
							background: #F25A5B;
						}
					}
					&.sound {
						.home-tile-inside {
							background: #9A5BC5;
						}
					}
					&.transit {
						.home-tile-inside {
							background: #81B566;
						}
					}
				}
			}
			.home-tiles-main {
				.home-tiles-main-inside {
					background: $lake;
					.home-tile {
						&:hover, &:focus {
							background: rgba(lighten(mix($slate, $lake, 90%), 20%), .5);
						}
						&:active {
							background: lighten(mix($slate, $lake, 90%), 20%);
						}
						&:not(:last-child) {
							&:after {
								background: mix($lake, white);
							}
						}
					}
				}
			}
		}
	}
}
#desktop-courses.student-mode {
	.input-field {
		.prefix {
			svg {
				stroke: $slate;
			}
		}
		input {
			color: $slate;
		}
	}
	.desktop-header {
		a {
			svg {
				stroke: $slate!important;
			}
		}
	}
	.desktop-search-header {
		color: $slate;
	}
	.desktop-card-list {
		li {
			a {
				background: rgba($slate,.1);
				border-bottom: 10px solid rgba(white,.7);
				&:hover {
					background: $lake;
					span {
						color: white;
					}
				}
			}
			a svg, label svg {
				background: white;
				path {
					stroke: $lake;
				}
			}
		}
		.selected {
			a {
				background: $lake;
				border-color: white;
				span {
					color: white;
				}
			}
		}
	}
}