@import 'mixin';

/* ---------- GURU HOME */
#cta-modal-signup {
	background: rgba($charcoal,.9) !important;
	top: 64px;
	height: calc(100% - 64px);
	.cta-modal-close {
		display: block;
	}
	header.desktop-header {
		display: block;
		top: 0;
		a.cta-modal-close {
			display: block;
			top: 0;
			margin: 15px;
			right: 0;
			position: absolute;
			width: auto !important;
		}
	}
	input {
		color: $charcoal !important;
	}
	#cta-footer-switch-link {
		display: block;
		bottom: 20%;
		text-align: center;
		left: 0;
	}
}
#desktop-guru-home {
	background: $slate;
	.main {
		.home-tabs {
			background: lighten(mix($slate, $shamrock, 90%), 10%);
		}
		.home-main {
			.home-tiles-top {
				.home-tiles-daily {
					width: calc(100% - 320px);
					padding-right: 15px;
					height: 100%;
					> div {
						background: $charcoal;
						h1 {
							color: $shamrock;
							text-align: center;
							&:after {
								background: rgba($shamrock, .3);
							}
						}
						.home-tiles-upcoming {
							@include flex;
							overflow-x: auto;
							padding: 7.5px;
							height: calc(100% - 63px);
							> li {
								width: 25%;
								height: 100%;
								min-width: 300px;
								padding: 7.5px;
								&:last-child {
									padding-right: 15px;
								}
								> div {
									background: lighten($slate, 5%);
									height: 100%;
									border: 2px solid $shamrock;
									border-radius: 2px;
									header {
										@include flex;
										@include flex-center;
										background: $shamrock;
										> span {
											display: block;
											margin-left: -14px;
										}
										svg {
											display: block;
											width: 50px;
											height: 50px;
											padding: 5px;
											* {
												@include svg-stroke(white, 4);
											}
										}
										h2 {
											font-size: 20px;
											font-weight: 600;
											text-align: center;
										}
									}
									> div {
										position: relative;
										@include flex;
										@include flex-wrap;
										position: relative;
										padding: 15px 15px 65px;
										height: calc(100% - 50px);
										font-size: 18px;
										font-weight: 400;
										line-height: 1.2;
										text-align: center;
										> div {
											width: 100%;
											padding: 15px;
										}
										ul {
											text-align: left;
											li {
												padding-bottom: 10px;
											}
										}
										h3 {
											width: 100%;
											font-size: 28px;
											font-weight: 600;
										}
										progress, .progress {
											@include round;
											overflow: hidden;
											margin: 15px 0;
											width: 100%;
											height: 15px;
											&::-webkit-progress-value, span {
												@include round;
											}
											&::-moz-progress-bar {
												@include round;
											}
										}
										button {
											@include center-x;
											bottom: 15px;
										}
									}
								}
								&.event-ranking {
									> div {
										> div {
											padding-bottom: 15px;
											svg {
												@include prefix(transform, scale(.75), webkit moz ms o);
												path {
													stroke-linecap: round;
												}
											}
											#percentile {
						                        @include center-xy;
						                        #percentile-ranking {
						                            position: relative;
						                            font-size: 64px;
						                            font-weight: 600;
						                            line-height: 1;
						                            &:after {
						                                content: "th";
						                                display: block;
						                                position: absolute;
						                                top: 5px;
						                                right: -5px;
						                                font-size: 16px;
						                                font-weight: 400;
						                                line-height: 28px;
						                                text-transform: uppercase;
						                            }
						                        }
						                        #percentile-label {
						                            font-size: 16px;
						                            font-weight: 400;
						                            letter-spacing: 1px;
						                            text-transform: uppercase;
						                        }
						                    }
										}
									}
								}
								&.event-guru {
									> div {
										> div {
											@include flex-center;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $shamrock;
												background: $shamrock;
											}
										}
									}
								}
								&.event-delivery {
									> div {
										border: 2px solid $auburn;
										header {
											background: $auburn;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $auburn;
												background: $auburn;
											}
										}
									}
								}
								&.event-freelancing {
									> div {
										border: 2px solid $orange;
										header {
											background: $orange;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $orange;
												background: $orange;
											}
										}
									}
								}
								&.event-baking {
									> div {
										border: 2px solid $gold;
										header {
											background: $gold;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $gold;
												background: $gold;
											}
										}
									}
								}
								&.event-photography {
									> div {
										border: 2px solid $moola;
										header {
											background: $moola;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $moola;
												background: $moola;
											}
										}
									}
								}
								&.event-tech {
									> div {
										border: 2px solid $azure;
										header {
											background: $azure;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $azure;
												background: $azure;
											}
										}
									}
								}
								&.event-household {
									> div {
										border: 2px solid $cobalt;
										header {
											background: $cobalt;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $cobalt;
												background: $cobalt;
											}
										}
									}
								}
								&.event-athletic {
									> div {
										border: 2px solid $eggplant;
										header {
											background: $eggplant;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $eggplant;
												background: $eggplant;
											}
										}
									}
								}
								&.event-academic {
									> div {
										border: 2px solid $cerise;
										header {
											background: $cerise;
										}
										.btn-ghost-shamrock {
											border-color: white;
											color: white;
											&:hover, &:focus {
												border-color: $cerise;
												background: $cerise;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.home-tiles-main {
				.home-tiles-main-inside {
					background: $shamrock;
					.home-tile {
						&:hover, &:focus {
							background: rgba(lighten(mix($slate, $shamrock, 90%), 10%), .5);
						}
						&:active {
							background: lighten(mix($slate, $shamrock, 90%), 10%);
						}
						&:not(:last-child) {
							&:after {
								background: mix($shamrock, white);
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- CREDIBILITY */
#desktop-credibility {
	#credit-complete {
		@include flex;
		@include flex-center;
		position: absolute;
		z-index: 99;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba($charcoal, .9);
		.credit-complete-inside {
			@include flex;
			-webkit-justify-content: center;
			justify-content: center;
		}
		aside {
			@include flex;
			@include flex-wrap;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			max-width: 200px;
			.icon {
				width: 100px;
				height: 100px;
				background: $moola;
				border-radius: 2px;
				svg {
					width: 100px;
					height: 100px;
					path {
						@include svg-stroke(white, 3);
					}
				}
			}
			.chip {
				@include flex;
				@include flex-center;
				max-width: 200px;
				height: 72px;
				line-height: 18px;
				text-align: center;
				svg {
					left: 75%;
				}
			}
			a {
				display: block;
				padding-top: 5px;
				font-size: 14px;
				font-weight: 600;
				text-align: center;
			}
		}
		main {
			margin-left: 60px;
			height: 200px;
			width: 800px;
			> div:first-child {
				@include flex;
				@include flex-center;
				width: 100%;
				h1, a {
					display: block;
					width: 50%;
				}
				h1 {
					padding-bottom: 5px;
					font-size: 32px;
					font-weight: 900;
				}
				a {
					text-align: right;
					svg {
						@include rotate(45);
						width: 32px;
						height: 32px;
						path {
							@include svg-stroke(white, 8);
						}
					}
				}
			}
			> div:last-child {
				@include flex;
				@include flex-center;
				width: 100%;
				height: calc(100% - 43px);
				background: white;
				color: rgba($taupe,.5);
				font-weight: 700;
				text-align: center;
				border: 5px dashed;
				svg {
					width: 100%;
					height: 40px;
					margin-bottom: 5px;
					path {
						@include svg-stroke(rgba($taupe,.5), 8);
					}
				}
			}
		}
	}
	.main {
		@include flex;
		@include flex-center;
		height: calc(100% - 128px);
		padding: 7.5px;
		ul {
			width: 100%;
			height: 100%;
			padding: 7.5px;
			li {
				padding: 7.5px;
				height: 50%;
				max-height: 325px;
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: relative;
					width: 100%;
					height: 100%;
					background: $taupe;
					border-radius: 2px;
					overflow: hidden;
					&::before {
						@include transition(.15s ease-in-out);
						@include opacity(0);
						content: "";
						display: block;
						position: absolute;
						z-index: 2;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 2px;
						background: white;
					}
					&:hover {
						&::before {
							@include opacity(.2);
						}
					}
					&::after {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 20px;
						background: $slate;
						border-radius: 0 0 2px 2px;
					}
					svg {
						width: 50%;
						height: 50%;
						path {
							@include svg-stroke(white, 3);
						}
					}
					span {
						display: block;
						position: absolute;
						bottom: 20px;
						left: 0;
						width: 100%;
						padding: 15px;
						font-weight: 600;
						text-align: center;
					}
				}
				&.complete {
					a::after {
						background: white;
					}
				}
				&#credit-grid-grades a {
					background: $moola;
				}
				&#credit-grid-fb a {
					background: $facebook;
				}
				&#credit-grid-phone a {
					background: $eggplant;
				}
				&#credit-grid-email a {
					background: $lake;
				}
				&#credit-grid-exp a {
					background: $shamrock;
				}
			}
		}
	}
}
@media screen and (min-width:960px) {
	#desktop-credibility {
		.main {
			ul {
				max-width: 975px;
			}
		}
	}
}
@media screen and (min-height:857px) {
	#desktop-credibility {
		.main {
			ul {
				height: auto;
				li {
					height: 310px;
				}
			}
		}
	}
}

/* ---------- GURU ONBOARDING */
.desktop-guru-onboarding {
	.main {
		.desktop-search-list {
			#guru-courses-user-profile {
				@include flex;
				justify-content: flex-start!important;
				-webkit-justify-content: flex-start !important;
				li.course-item.selected{
					width: 25%!important;
					display: block!important;
					a {
						height: 60px!important;
						max-height: 60px!important;
						span {
							font-size: 20px;
							text-align: center!important;
						}
					}
				}
			}
			.desktop-card-list {
				li {
					display: none;
					a {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						height: 84px;
						padding: 15px;
						border-bottom: 10px solid rgba(white,.5);
						font-size: 16px;
						font-weight: 600;
						line-height: 1.25;
						text-align: center;
						&:hover {
							background: lighten($slate, 15%);
						}
					}
					a > svg, label > svg, a .icon {
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						width: 40px!important;
						height: 40px;
						border-radius: 0 0 0 75%;
						padding: 5px 5px 10px 10px !important;
						background: white;
						path {
							@include svg-stroke(lighten($slate, 15%), 15);
						}
					}
					a {
						.icon {
							@include transition(.15s ease-in-out);
							@include opacity(0);
							svg {
								@include rotate(45);
							}
						}
						&:hover, &:focus {
							.icon {
								@include opacity(1);
							}
						}
					}
				}
				li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4),
				li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8) {
					display: block;
				}
				.selected {
					a {
						background: lighten($slate, 15%);
						border-color: white;
						&:hover, &:focus {
							background: $slate;
							svg {
								path {
									stroke: $slate;
								}
							}
						}
						&:active {
							background: rgba(white,.25);
							border-bottom: 10px solid rgba(white,.5);
						}
					}
				}
			}
		}
	}
}
@media screen and (min-height:750px) and (min-width: 820px) {
	.desktop-guru-onboarding {
		.main {
			.desktop-search-list {
				.desktop-card-list {
					li {
						a {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-height:750px) and (min-width: 1024px) {
	.desktop-guru-onboarding {
		.main {
			.desktop-search-list {
				.desktop-card-list {
					li {
						a {
							height: 100px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-height:952px) {
	.desktop-guru-onboarding {
		.main {
			.desktop-search-list {
				.desktop-card-list {
					li {
						a {
							height: 125px;
							font-size: 24px;
						}
						a svg, label svg {
							padding: 30px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-height:1000px) {
	.desktop-guru-onboarding {
		.main {
			.desktop-search-list {
				.desktop-card-list {
					li {
						a {
							height: 150px;
						}
					}
				}
			}
		}
	}
}

/* ---------- BECOME GURU ONBOARDING */
.guru-onboarding-header {
	position: relative;
	text-align: center;
	h1, h2 {
		position: relative;
		z-index: 10;
		font-weight: 600;
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		margin-top: 0;
		font-size: 28px;
	}
}
#desktop-guru-onboarding {
	@include flex;
	@include flex-center;
	&:before {
		@include opacity(.4);
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $slate;
	}
	.main {
		height: auto;
		.guru-onboarding-header {
			h1 {
				font-size: 72px;
			}
		}
		#guru-onboarding-grid {
			padding: 60px 15px 15px;
			max-width: 1020px;
			margin: auto;
			li {
				position: relative;
				padding: 15px;
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: relative;
					max-height: 270px;
					border-radius: 2px;
					&:after {
						@include transition(.15s ease-in-out);
						@include opacity(.8);
				        display: block;
				        content: "";
				        position: absolute;
				        top: 0;
				        left: 0;
				        width: 100%;
				        height: 100%;
					}
					&:hover, &:focus {
						&:after {
							@include opacity(1);
						}
					}
					&.complete {
						@include opacity(1);
						&:hover, &:focus {
							@include opacity(1);
						}
					}
					> span {
						display: block;
						position: relative;
				        z-index: 10;
						span {
							display: block;
						}
						span:first-child {
							svg {
								height: 175px;
								width: 100%;
								path {
									 @include svg-stroke(white, 2);
								}
							}
						}
						span:last-child {
							margin-top: -20px;
							padding-bottom: 15px;
							font-size: 20px;
							font-weight: 700;
							text-align: center;
						}
					}
				}
				&:nth-child(1) a {
					background: $moola;
					&:hover, &:focus {
						background: mix($moola, white, 20%);
						> span {
							color: $moola!important;
							span:first-child {
								svg {
									path {
										stroke: $moola!important;
									}
								}
							}
						}
					}
					&:active {
						background: white;
					}
				}
				&:nth-child(2) a {
					background: $shamrock;
					&:hover, &:focus {
						background: mix($shamrock, white, 20%);
						> span {
							color: $shamrock!important;
							span:first-child {
								svg {
									path {
										stroke: $shamrock!important;
									}
								}
							}
						}
					}
					&:active {
						background: white;
					}
				}
				&:nth-child(3) a {
					background: $azure;
					&:hover, &:focus {
						background: mix($azure, white, 20%);
						> span {
							color: $azure!important;
							span:first-child {
								svg {
									path {
										stroke: $azure!important;
									}
								}
							}
						}
					}
					&:active {
						background: white;
					}
				}
				&:nth-child(4) a {
					background: $lake;
					&:hover, &:focus {
						background: mix($lake, white, 20%);
						> span {
							color: $lake!important;
							span:first-child {
								svg {
									path {
										stroke: $lake!important;
									}
								}
							}
						}
					}
					&:active {
						background: white;
					}
				}
			}
		}
		#guru-onboarding-progress {
			padding-top: 30px;
			max-width: 960px;
			margin: auto;
			.progress {
				position: relative;
				overflow: visible;
				height: 10px;
				ul {
					@include center-y;
					@include flex;
					@include flex-center;
					left: 0;
					width: 100%;
					li {
						width: 33%;
						&:first-child {
							padding-right: 30px;
						}
						&:last-child {
							padding-left: 30px;
						}
						span {
							@include flex;
							@include flex-center;
							margin: 0 auto;
							width: 70px;
							height: 70px;
							background: white;
							font-size: 36px;
							font-weight: 900;
							border: 5px solid;
							svg {
								@include svg-stroke-width(15);
								width: 40px;
								height: 40px;
							}
							&:not(complete) {
								i {
									display: none;
								}
								b {
									display: block;
								}
							}
							&.complete {
								i {
									display: block;
								}
								b {
									display: none;
								}
							}
						}
						&:nth-child(1) span {
							color: $moola;
							border-color: $moola;
							svg {
								stroke: $moola;
							}
						}
						&:nth-child(2) span {
							color: $shamrock;
							border-color: $shamrock;
							svg {
								stroke: $shamrock;
							}
						}
						&:nth-child(3) span {
							color: $azure;
							border-color: $azure;
							svg {
								stroke: $azure;
							}
						}
						&:nth-child(4) span {
							color: $lake;
							border-color: $lake;
							svg {
								stroke: $lake;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:800px) {
	#desktop-guru-onboarding {
		.main {
			.header {
				h1 {
					font-size: 64px;
				}
				h2 {
					font-size: 28px;
				}
			}
		}
	}
}
@media screen and (min-width:980px) {
	#desktop-guru-onboarding {
		.main {
			#guru-onboarding-grid {
				li {
					a {
						> span {
							span:last-child {
								margin-top: -10px;
								padding-bottom: 30px;
								font-size: 28px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-height:850px) {
	#desktop-guru-onboarding {
		.main {
			#guru-onboarding-grid {
				margin-top: 60px;
				margin-bottom: 60px;
				li {
					a {
						height: 270px;
						> span {
							span:last-child {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}
#guru-onboarding-buttons {
	@include center-x;
	bottom: 15px;
	li {
		padding: 0 7.5px;
		button {
			display: inline-block!important;
			width: 200px!important;
			font-weight: 600;
		}
		&:first-child {
			text-align: right;
		}
	}
}

/* ---------- BILLING */
#desktop-billing {
	.main {
		@include flex;
		@include flex-center;
		padding: 0;
		> div {
			width: 100%;
			height: 100%;
			max-width: 1280px;
			max-height: 800px;
			padding: 15px;
			background: lighten($charcoal, 5%);
		}
		h1 {
			font-size: 48px;
			font-weight: 900;
		}
		#billing-container {
			max-width: 800px;
			margin: 15px auto 0;
			h2 {
				background: $shamrock;
				padding: 10px;
				font-size: 28px;
				font-weight: 600;
			}
			h3 {
				font-size: 28px;
				font-weight: 600;
				text-transform: uppercase;
			}
			> div {
				background: $slate;
			}
			> * {
				margin-bottom: 15px;
			}
			#billing-student {
				#select-student {
					display: none;
				}
				#select-skill {
					@include flex-center;
					max-width: 600px;
					margin: 0 auto;
					> li:nth-child(2) {
						font-size: 36px;
						font-weight: 600;
					}
				}
				ul {
					.user-icon {
						margin-top: 30px;
						margin-bottom: 15px;
						+ span {
							display: block;
							margin-bottom: 30px;
							font-weight: 600;
						}
					}
				}
			}
			#billing-details {
				> ul {
					padding: 7.5px;
					li {
						padding: 7.5px;
						&:first-child {
							h3 {
								@include flex;
								@include flex-center;
								height: 48px;
								background: lighten($slate, 10%);
								margin-bottom: 15px;
							}
							> ul {
								> li {
									&:nth-child(1), &:nth-child(3) {
										padding-right: 10px;
									}
									&:nth-child(2) {
										padding-right: 30px;
									}
								}
							}
						}
						&:last-child {
							> ul {
								&:nth-child(1) {
									padding-right: 10px;
								}
							}
							> .custom-dropdown {
								margin-bottom: 15px;
							}
						}
						.keep-it-free {
							@include flex;
							@include flex-center;
							height: 58px;
							padding-top: 5px;
							font-weight: 400;
						}
						> ul {
							@include flex;
							@include flex-center;
							padding-top: 5px;
							> li {
								font-weight: 600;
								input {
									font-size: 32px;
									font-weight: 700;
									text-align: center;
									max-width: 50px;
									background: lighten($slate, 10%);
									color: white;
									@include placeholder {
										color: rgba(white,.5);
									}
								}
								.custom-dropdown {
									span {
										width: 96px;
									}
								}
							}
						}
						.custom-dropdown {
							span {
								width: calc(100% - 48px);
							}
							ul {
								width: 100%;
								li {
									width: calc(100% - 48px);
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- REFERRALS */
#desktop-referrals {
	.main {
		aside {
			background: $shamrock;
			#referrals-stats {
				text-align: center;
				padding: 1px;
				li {
					padding: 1px;
					div {
						padding: 15px;
						background: rgba($charcoal,.6);
						h1 {
							font-size: 72px;
							font-weight: 900;
						}
						span {
							font-size: 18px;
							font-weight: 400;
							line-height: 1.2;
						}
					}
				}
				li:last-child {
					div {
						background: rgba(white,.6);
						color: $charcoal;
					}
				}
			}
			.sidebar-layout-list {
				height: calc(100% - 232px);
				margin-top: 15px;
			}
		}
		aside + div {
			input {
				@include flex;
				@include flex-center;
				background: rgba(white,.5);
				height: 84px;
				text-align: center;
				margin: 0 auto;
				font-size: 60px;
				font-weight: 600;
				&:hover {
					background: rgba(white,.8);
				}
				&:active, &:focus {
					background: white;
				}
			}
			h3 {
				font-size: 32px;
				font-weight: 700;
			}
			#referrals-share {
				width: 100%;
				ul {
					max-width: 700px;
					margin: 30px auto 0;
					li {
						svg {
							@include round;
							@include svg-stroke(white, 3);
							width: 100px;
							height: 100px;
							margin: 0 auto;
							padding: 12px;
						}
						&:nth-child(1) svg {
							background: $lake;
						}
						&:nth-child(2) svg {
							background: $eggplant;
						}
						&:nth-child(3) svg {
							background: $facebook;
						}
						&:nth-child(4) svg {
							background: $twitter;
						}
					}
				}
			}
		}
	}
}

/* ---------- RANKING */
#desktop-ranking,
#mobile-ranking {
	.main {
		aside {
			background: $shamrock;
			.sidebar-layout-list {
				li {
					div {
						width: calc(100% - 40px);
					}
					.chip {
						min-width: 40px;
					}
				}
			}
			.sidebar-lock {
				@include svg-stroke(white, 4);
				width: 100%;
				height: 80px;
				+ h2 {
					padding-top: 0!important;
				}
			}
			.disabled {
				@include opacity(.7);
				max-height: calc(100% - 317px);
				.chip {
					@include opacity(.7);
				}
			}
		}
		aside + div {
			padding: 15px;
			h1 {
				width: 100%;
			}
			#ranking-primary {
				@include flex;
				@include flex-center;
				width: 100%;
				padding: 15px;
				li {
					&:first-child, &:last-child {
						width: 30%;
						div {
							background: $slate;
							padding: 15px;
							h2 {
								font-size: 32px;
								font-weight: 700;
							}
							h3 {
								font-size: 22px;
								font-weight: 600;
							}
						}
					}
					&:nth-child(2) {
						width: 40%;
						padding: 0 30px;
						h3 {
							padding-top: 15px;
							font-weight: 700;
						}
						#guru-chart {
							position: relative;
							height: 100%;
							width: 100%;
							#guru-ranking-progress-bar {
								height: 100%;
							}
							svg {
								height: 100%;
								path {
									stroke-linecap: round;
								}
							}
							#percentile {
								@include center-xy;
								#percentile-ranking {
									position: relative;
									margin-top: -20px;
									font-size: 96px;
									font-weight: 600;
									line-height: 1;
									text-align: center;
									&::after {
										content: "th";
										display: block;
										position: absolute;
										top: 14px;
										right: -15px;
										font-size: 20px;
										font-weight: 600;
										line-height: 28px;
										text-transform: uppercase;
									}
								}
								#percentile-label {
									font-size: 20px;
									font-weight: 600;
									letter-spacing: 1px;
									line-height: 1.2;
									text-transform: uppercase;
								}
							}
						}
					}
				}
			}
			.ugrid-3 {
				width: 100%;
				li {
					padding: 15px;
				}
			}
			> div {
				width: 100%;
			}
			#ranking-secondary {
				li {
					> div {
						@include flex;
						@include flex-center-vertical;
						text-align: left;
						background: $shamrock;
						div {
							padding: 15px;
							width: calc(100% - 55px);
							font-size: 16px;
							font-weight: 600;
							h4 {
								font-size: 28px;
								font-weight: 900;
							}
						}
						svg {
							padding-right: 15px;
							width: 55px;
							height: 40px;
							stroke-linecap: round;
						}
					}
				}
			}
			#ranking-tertiary {
				li {
					> div {
						background: mix($shamrock, $slate, 20%);
						padding: 15px;
						span {
							display: block;
							font-size: 20px;
							font-weight: 600;
						}
						h4 {
							font-size: 28px;
							font-weight: 900;
						}
					}
				}
			}
		}
	}
}

.message-single.right .message-single-content {
	-moz-align-items:flex-end;
	-webkit-align-items:flex-end;
	align-items:flex-end;
	-moz-flex-direction:column !important;
	-webkit-flex-direction:column !important;
	flex-direction:column !important;
}