@import 'mixin';

/* ---------- STUDENT HOME */
#desktop-student-home {
	background: $smoke;
	color: $slate;
	#top-bar {
		background: $lake;
		div:nth-child(2) {
			div {
				background: $lake;
			}
			#top-menu-links {
				background: $lake;
				ul {
					li {
						a {
							&:hover, &:active, &:focus {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
						&:last-child {
							a {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
					}
				}
			}
		}
	}
	.main {
		@include flex;
		@include flex-center;
		padding: 0;
		a {
			color: $slate;
		}
		.student-home-greeting {
			@include flex;
			@include flex-center;
			width: calc(100% - 655px);
			height: 100%;
			padding-left: 15px;
			div {
				text-align: center;
				text-transform: uppercase;
				h1 {
					color: $lake;
					font-size: 40px;
					font-weight: 700;
				}
				.student-home-notifications {
					ul {
						@include flex;
						@include flex-center;
						width: 100%;
						margin-top: 10%;
						li {
							padding: 0 15px;
							a {
								@include flex;
								@include flex-center-vertical;
								span {
									display: block;
								}
								.notification-icon {
									position: relative;
									svg {
										@include transition(.15s ease-in-out);
										@include round;
										@include svg-stroke($smoke, 5);
										background: $slate;
										width: 64px;
										height: 64px;
										padding: 10px;
									}
									.notification-number {
										@include round;
										@include flex;
										@include flex-center;
										position: absolute;
										top: -15px;
										right: -15px;
										width: 40px;
										height: 40px;
										background: $lake;
										border: 3px solid $smoke;
										color: white;
										font-size: 18px;
										font-weight: 600;
									}
								}
								.notification-type {
									padding-left: 15px;
									font-weight: 600;
								}
							}
							a:hover, a:focus {
								.notification-icon svg {
									background: lighten($lake, 10%);
								}
							}
							a:active {
								.notification-icon svg {
									background: $lake;
								}
							}
						}
					}
				}
			}
		}
		.student-home-tiles {
			width: 655px;
			height: 100%;
			max-height: 660px;
			padding: 7.5px;
			> div {
				@include flex;
				@include flex-center;
				width: 100%;
				height: calc(100% / 3);
				text-align: center;
				.square {
					height: 100%;
					fill: none;
				}
				.square + div {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 5;
					h1, h2, h3 {
						color: white;
						font-weight: 700;
					}
					h1 {
						padding: 15px 0 0;
						font-size: 24px;
						text-transform: uppercase;
					}
					h2 {
						padding: 15px 0 0;
						font-size: 20px;
						text-transform: uppercase;
					}
					h3 {
						padding: 0 0 15px;
						font-size: 16px;
					}
					h1 + svg {
						@include svg-stroke(white, 3);
						height: calc(100% - 43px - 34px);
					}
					h2 + svg {
						@include svg-stroke(white, 3.5);
						height: calc(100% - 39px - 53px);
					}
				}
			}
			.home-tiles-quick, .home-tiles-request {
				height: 100%;
				width: calc(100% / 3 * 2);
				padding: 7.5px;
				> div {
					position: relative;
				}
			}
			.home-tiles-quick {
				> div {
					div {
						background: $lake;
					}
				}
			}
			.home-tiles-request {
				> div {
					div {
						background: darken($lake, 10%);
					}
				}
			}
			.home-tiles-become, .home-tiles-courses {
				height: 100%;
				width: calc(100% / 3);
				padding: 7.5px;
				> div {
					position: relative;
				}
			}
			.home-tiles-become {
				> div {
					div {
						background: desaturate(darken($lake, 20%), 10%);
					}
				}
			}
			.home-tiles-courses {
				> div {
					div {
						background: lighten($lake, 10%);
					}
				}
			}
			.home-tiles-apps {
				height: 100%;
				width: 100%;
				padding: 7.5px;
				> div {
					position: relative;
					div {
						background: darken(desaturate($lake, 50%), 20%);
					}
					ul {
						height: calc(100% - 39px - 34px);
						width: 100%;
						padding: 7.5px;
						li {
							padding: 7.5px;
							height: 100%;
							svg {
								display: block;
								margin: auto;
								height: 100%;
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}