@import 'mixin';

#cta-modal-powerups {
	#powerups-container {
		@include prefix(animation-duration, 250ms!important, webkit moz ms o);
		overflow: auto;
	}
	header {
		span {
			svg {
				circle {
					fill: $gold;
					stroke: $gold;
				}
				path {
					fill: white;
					stroke: white;
				}
			}
		}
		h1 {
			margin-top: -15px;
		}
	}
	ul {
		width: 100%;
		margin-top: -40px;
		li {
			width: 300px;
			padding-bottom: 35px;
			a {
				position: relative;
				&.fadeOut {
					@include prefix(animation-duration, 500ms!important, webkit moz ms o);
				}
				&:before {
					@include round;
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					margin-top: -26px;
					margin-left: -50px;
					width: 100px;
					height: 100px;
				}
				> div {
					z-index: 2;
					width: 100%;
					&:first-child {
						position: relative;
						height: 100%;
						max-width: 300px;
						max-height: 300px;
					}
					&.powerup-icon-tag {
						@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
						position: absolute;
						bottom: -35px;
					}
					[class*="container-outline-track"] {
						@include prefix(transform-origin, center, webkit moz ms o);
						@include prefix(transform, rotateY(180deg), webkit moz ms o);
						&.active {
							@include prefix(animation, powerup-loader 2000ms ease-in-out forwards, webkit moz ms o);
							stroke-dasharray: 378;
							stroke-dashoffset: 378;
						}
					}
				}
				&#powerup-gpa-container {
					&:before {
						background: mix(white, $gpa, 30%);
					}
				}
				&#powerup-munchies-container {
					&:before {
						background: mix(white, mix($auburn, $orange), 30%);
					}
				}
				&#powerup-sound-container {
					&:before {
						background: mix(white, mix($eggplant, $cobalt), 30%);
					}
				}
				&#powerup-transit-container {
					&:before {
						background: mix(white, mix($moxie, $moola), 30%);
					}
				}
				&.active {
					// svg {
					// 	@include prefix(animation, powerup-scaleUp-subtle 250ms cubic-bezier(.77,0,.05,1) 3500ms forwards, webkit moz ms o);
					// 	@include prefix(animation, powerup-scaleUp-subtle 250ms cubic-bezier(.77,-0.22,.05,1) 3500ms forwards, webkit moz ms o);
					// }
					&:before {
						@include prefix(animation, powerup-before-scaleUp 1000ms ease-in-out 3500ms forwards, webkit moz ms o);
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		header {
			h1 {
				font-size: 36px!important;
			}
		}
	}
	@media screen and (min-width: 768px) {
		ul {
			margin-top: 0;
		}
	}
	.hanger {
		opacity: 0;
	}
}

// GENERAL
.landing-container {
	overflow-x: hidden!important;
	.powerup-icon {
		width: 100%;
		height: 100%;
		max-width: 300px;
		max-height: 300px;
		.hanger {
			display: none!important;
		}
	}
	.landing-demo {
		position: relative;
		width: 318px;
		> svg:not(.coach) {
			width: 318px;
			stroke-width: 3px;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
		> div {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -136px;
			margin-top: -245.5px;
			width: 273.5px;
			height: 490px;
		}
	}
	@media screen and (max-width:768px) {
		.powerup-icon {
			margin-top: -50px;
		}
		h1.powerup-header {
			margin-top: 0;
			font-size: 28px!important;
		}
		h2.powerup-header {
			margin-top: 0;
			font-size: 20px!important;
		}
		.landing-demo {
			width: 200px;
			> svg:not(.coach) {
				width: 200px;
			}
			> div {
				margin-left: -86px;
				margin-top: -155px;
				width: 172px;
				height: 310px;
			}
			.coach {
				display: none;
			}
		}
	}
	.landing-content {
		margin-top: -120px;
		padding-top: 135px;
		@media screen and (max-width:768px) {
			h1 {
				font-size: 28px!important;
			}
		}
	}
	.landing-action {
		@media screen and (max-width:768px) {
			.ugrid-3 {
				li {
					width: 100%;
					.svg-128 {
						svg {
							width: 64px;
							height: 64px;
						}
						+ h2 {
							width: calc(100% - 64px)!important;
							margin-top: 0;
							padding-top: 0;
							text-align: left;
							font-size: 20px!important;
						}
					}
				}
			}
		}
	}
	&.landing-gpa {
		background: mix(white, $gpa, 30%);
		.landing-demo {
			> svg:not(.coach) {
				* {
					stroke: lighten($slate, 15%);
				}
				circle {
					fill: mix(mix(white, $gpa, 30%), lighten($slate, 15%), 40%);
				}
				rect {
					&:first-child {
						fill: mix(mix(white, $gpa, 30%), lighten($slate, 15%), 70%);
					}
					&:last-child {
						fill: white;
					}
				}
			}
		}
		.gpa-landing-hands {
			width: 2px;
    		margin-left: -1px;
    		left: 50%;
			svg {
				&:first-child {
					left: 80px;
				}
				&:last-child {
					right: 80px;
					@include prefix(backface-visibility, visible, webkit moz ms o);
					@include prefix(transform, rotateY(180deg), webkit moz ms o);
					@include prefix(transform-origin, center, webkit moz ms o);
				}
				@media screen and (max-width:768px) {
					&:first-child {
						max-height: 200px;
    					left: -200px;
					}
					&:last-child {
						max-height: 200px;
    					right: -200px;
					}
				}
				@media screen and (max-width:414px) {
					&:first-child, &:last-child {
						max-height: 100px;
						top: -250px;
						bottom: auto!important;
					}
					&:first-child {
						left: -360px;
					}
					&:last-child {
						right: -360px;
					}
				}
			}
		}
		.gpa-landing-preview {
			li {
				&:first-child, &:last-child {
					@include opacity(0.75);
					@include prefix(transition, all 600ms cubic-bezier(.77,0,.05,1)!important, webkit moz ms o);
					@include prefix(transition, all 600ms cubic-bezier(.77,-0.22,.05,1.27)!important, webkit moz ms o);
				}
				&:first-child {
					transform: translateX(100%);
				}
				&:last-child {
					transform: translateX(-100%);
				}
			}
			svg {
				width: calc(318px * 0.75);
				height: calc(651px * 0.75);
				@media screen and (max-width:768px) {
					width: calc(318px * 0.5);
					height: calc(651px * 0.5);
				}
				* {
					stroke: lighten($slate, 15%);
					stroke-width: 3px;
				}
				circle {
					fill: mix(mix(white, $gpa, 30%), lighten($slate, 15%), 40%);
				}
				rect {
					&:first-child {
						fill: mix(mix(white, $gpa, 30%), lighten($slate, 15%), 70%);
					}
					&:last-child {
						fill: white;
					}
				}
			}
		}
		.landing-action {
			background: mix(mix(white, $gpa, 30%), lighten($slate, 15%), 40%);
		}
	}
	&.landing-transit {
		background: mix(white, mix($moola, $moxie), 30%);
		.landing-demo {
			> svg:not(.coach) {
				* {
					stroke: lighten($slate, 15%);
				}
				circle {
					fill: mix(mix(white, mix($moola, $moxie), 30%), lighten($slate, 15%), 40%);
				}
				rect {
					&:first-child {
						fill: mix(mix(white, mix($moola, $moxie), 30%), lighten($slate, 15%), 70%);
					}
					&:last-child {
						fill: white;
					}
				}
			}
		}
	}
	&.landing-munchies {
		background: mix(white, mix($auburn, $orange), 30%);
		.landing-demo {
			> svg:not(.coach) {
				* {
					stroke: white;
				}
				circle {
					fill: mix(white, mix($auburn, $orange), 80%);
				}
				rect {
					&:first-child {
						fill: mix(white, mix($auburn, $orange), 50%);
					}
					&:last-child {
						fill: white;
					}
				}
			}
		}
		.landing-content {
			background: #a68787;
			.landing-color {
				background: #a68787;
			}
		}
	}
	&.landing-sound {
		background: mix(white, mix($cobalt, $eggplant), 30%);
		.landing-demo {
			> svg:not(.coach) {
				* {
					stroke: lighten($slate, 15%);
				}
				circle {
					fill: mix(mix(white, mix($cobalt, $eggplant), 30%), lighten($slate, 15%), 40%);
				}
				rect {
					&:first-child {
						fill: mix(mix(white, mix($cobalt, $eggplant), 30%), lighten($slate, 15%), 70%);
					}
					&:last-child {
						fill: white;
					}
				}
			}
		}
	}
}

#powerup-icons {
	li {
		.loader-powerup-gpa {
			.gpa-guru, .multiply, .plus, .minus, .equal, .divide {
				opacity: 0;
			}
		}
	}
	li.active {
		.loader-powerup-gpa {
			.gpa-guru, .multiply, .plus, .minus, .equal, .divide {
				opacity: 0;
			}
			* {
				transform-origin: center center;
			}
			.gpa-guru {
				animation: u-bounceIn-subtle 1000ms linear 0ms forwards;
			}
			.multiply {
				animation: u-bounceIn-subtle 865ms linear 500ms forwards;
			}
			.plus {
				 animation: u-bounceIn-subtle 865ms linear 950ms forwards;
			}
			.minus {
				animation: u-bounceIn-subtle 865ms linear 650ms forward;
			}
			.equal {
				animation: u-bounceIn-subtle 1000ms linear 1000ms forwards;
			}
			.divide {
				animation: u-bounceIn-subtle 500ms linear 1150ms forwards;
			}
			// .gpa-sign-divide {
			// 	animation: sign-divide-hover 3000ms ease-in-out 2 reverse forwards;
			// 	transform-origin: center center;
			// }
			// .gpa-btn-equal,
			// .gpa-btn-plus {
			// 	animation: btn-divide-hover 7500ms linear 2 reverse forwards;
			// 	transform-origin: center center!important;
			// }
			// .gpa-sign-equal,
			// .gpa-sign-plus {
			// 	animation: sign-equal-hover 2000ms ease-in-out 2 forwards;
			// 	transform-origin: center center!important;	
			// }
		}
	}
}
#powerup-gpa-container.active, #powerup-landing-icon.active {
	.loader-powerup-gpa {
		* {
			transform-origin: center center;
		}
		.multiply, .minus, .gpa-sign-divide, .gpa-btn-divide, .divide, .equal, .plus, .gpa-btn-equal, .gpa-btn-plus, .gpa-sign-equal, .gpa-sign-plus {
			opacity: 1!important;
		}
		.multiply {
			animation: bob-hover 1100ms ease-in-out 4 alternate forwards!important;
		}
		.minus {
			animation: bob-hover 1100ms ease-in-out 4 alternate forwards!important;
		}
		.gpa-sign-divide {
			animation: sign-divide-hover 2200ms ease-in-out 2 reverse forwards!important;
		}
		.gpa-btn-divide {
			animation: btn-divide-hover 2200ms linear 2 reverse forwards!important;
		}
		.divide {
			animation: bob-hover 1100ms ease-in-out 4 alternate forwards!important;
		}
		.equal, .plus {
			animation: equal-pulse 1100ms ease-in-out 4 alternate forwards!important;	
		}
		.gpa-btn-equal,
		.gpa-btn-plus {
			animation: btn-divide-hover 2200ms linear 2 reverse forwards!important;
		}
		.gpa-sign-equal,
		.gpa-sign-plus {
			animation: sign-equal-hover 2200ms ease-in-out 2 forwards!important;
		}
	}
}

#powerup-landing-icon {
	.gpa-guru-eyebrow-right {
		transform-origin: right top;
		&.wiggle {
			animation: wiggle-right 100ms ease alternate 6 forwards;
		}
	}
	.gpa-guru-eyebrow-left {
		transform-origin: left top;
		&.wiggle {
			animation: wiggle-left 100ms ease alternate 6 forwards;
		}
	}
}

@keyframes sign-equal-hover {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
@keyframes equal-pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes bob-hover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(20%);
	}
}

@keyframes sign-divide-hover {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(-180deg) scale(1.2);
	}
	100% {
		transform: rotate(-360deg) scale(1);
	}
}

@keyframes btn-divide-hover {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(0.8);
	}
	100% {
		transform: rotate(360deg) scale(1);
	}
}

/* http://goo.gl/os9zab */
@keyframes gpa-guru { 
  0% { transform: matrix3d(0.2, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 8, 0, 1); opacity: 0;}
	1% {opacity: 1;}
  3.4% { transform: matrix3d(0.452, 0, 0, 0, 0, 0.526, 0, 0, 0, 0, 1, 0, 0, 12.312, 0, 1); }
  4.3% { transform: matrix3d(0.527, 0, 0, 0, 0, 0.632, 0, 0, 0, 0, 1, 0, 0, 12.28, 0, 1); }
  4.7% { transform: matrix3d(0.56, 0, 0, 0, 0, 0.679, 0, 0, 0, 0, 1, 0, 0, 12.057, 0, 1); }
  6.81% { transform: matrix3d(0.727, 0, 0, 0, 0, 0.914, 0, 0, 0, 0, 1, 0, 0, 9.124, 0, 1); }
  8.61% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 5.232, 0, 1); }
  9.41% { transform: matrix3d(0.907, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 3.437, 0, 1); }
  10.21% { transform: matrix3d(0.953, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 0, 1.73, 0, 1); }
  12.91% { transform: matrix3d(1.076, 0, 0, 0, 0, 1.262, 0, 0, 0, 0, 1, 0, 0, -2.64, 0, 1); }
  13.61% { transform: matrix3d(1.098, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, -3.342, 0, 1); }
  14.11% { transform: matrix3d(1.113, 0, 0, 0, 0, 1.265, 0, 0, 0, 0, 1, 0, 0, -3.734, 0, 1); }
  17.22% { transform: matrix3d(1.164, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, -4.485, 0, 1); }
  17.52% { transform: matrix3d(1.166, 0, 0, 0, 0, 1.192, 0, 0, 0, 0, 1, 0, 0, -4.441, 0, 1); }
  18.72% { transform: matrix3d(1.17, 0, 0, 0, 0, 1.15, 0, 0, 0, 0, 1, 0, 0, -4.139, 0, 1); }
  21.32% { transform: matrix3d(1.157, 0, 0, 0, 0, 1.056, 0, 0, 0, 0, 1, 0, 0, -3.12, 0, 1); }
  24.32% { transform: matrix3d(1.12, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, -1.914, 0, 1); }
  25.23% { transform: matrix3d(1.107, 0, 0, 0, 0, 0.95, 0, 0, 0, 0, 1, 0, 0, -1.604, 0, 1); }
  28.33% { transform: matrix3d(1.06, 0, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, -0.758, 0, 1); }
  29.03% { transform: matrix3d(1.05, 0, 0, 0, 0, 0.917, 0, 0, 0, 0, 1, 0, 0, -0.611, 0, 1); }
  29.93% { transform: matrix3d(1.038, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, -0.444, 0, 1); }
  35.54% { transform: matrix3d(0.984, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0.157, 0, 1); }
  36.74% { transform: matrix3d(0.977, 0, 0, 0, 0, 0.983, 0, 0, 0, 0, 1, 0, 0, 0.207, 0, 1); }
  39.44% { transform: matrix3d(0.97, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0.251, 0, 1); }
  41.04% { transform: matrix3d(0.969, 0, 0, 0, 0, 1.018, 0, 0, 0, 0, 1, 0, 0, 0.243, 0, 1); }
  44.44% { transform: matrix3d(0.973, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0.183, 0, 1); }
  52.15% { transform: matrix3d(0.993, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0.032, 0, 1); }
  59.86% { transform: matrix3d(1.005, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, -0.015, 0, 1); }
  61.66% { transform: matrix3d(1.006, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, -0.017, 0, 1); }
  63.26% { transform: matrix3d(1.006, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, -0.016, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  83.98% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  90.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

/* http://goo.gl/vFhZC5 */
@keyframes divide-enter { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, -300, 0, 1); opacity: 0; }
  0.1% { opacity: 1; }
  2.43% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.618, -188.427, 0, 1); }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -102.752, -154.128, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100.499, -150.748, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -77.737, -116.606, 0, 1); }
  4.79% { transform: matrix3d(2.159, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -73.853, -110.78, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -58.876, -88.315, 0, 1); }
  7.15% { transform: matrix3d(2.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -39.29, -58.935, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.33, -54.495, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -35.245, -52.867, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -31.493, -47.239, 0, 1); }
  9.51% { transform: matrix3d(1.119, 0, 0, 0, 0, 1.281, 0, 0, 0, 0, 1, 0, -17.836, -26.755, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -14.488, -21.732, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -10.001, -15.002, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -4.364, -6.545, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0.577, 0.865, 0, 1); }
  14.23% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0.671, 1.007, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0.901, 1.352, 0, 1); }
  18.96% { transform: matrix3d(0.728, 0, 0, 0, 0, 1.382, 0, 0, 0, 0, 1, 0, 3.902, 5.853, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 3.814, 5.721, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 3.012, 4.517, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.118, 3.178, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0.708, 1.062, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0.685, 1.028, 0, 1); }
  32.84% { transform: matrix3d(1.018, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0.525, 0.787, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.133, 0.2, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.094, 0.141, 0, 1); }
  46.73% { transform: matrix3d(1.011, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, -0.03, -0.045, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -0.027, -0.041, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.004, -0.006, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

/* http://goo.gl/Ry4Z8F */
@keyframes equal-enter { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 200, 200, 0, 1); opacity: 0; }
  0.1% { opacity: 1; }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 95.297, 95.297, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 92.749, 92.749, 0, 1); }
  3.68% { transform: matrix3d(1.285, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 87.475, 87.475, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 66.938, 66.938, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45.66, 45.66, 0, 1); }
  7.29% { transform: matrix3d(2.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.422, 22.422, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20.957, 20.957, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 19.808, 19.808, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 15.877, 15.877, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -0.657, -0.657, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -4.411, -4.411, 0, 1); }
  10.97% { transform: matrix3d(0.803, 0, 0, 0, 0, 1.406, 0, 0, 0, 0, 1, 0, -4.879, -4.879, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -8.373, -8.373, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -10.389, -10.389, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -10.42, -10.42, 0, 1); }
  14.58% { transform: matrix3d(0.613, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, -10.428, -10.428, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, -5.952, -5.952, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, -3.046, -3.046, 0, 1); }
  24.51% { transform: matrix3d(0.894, 0, 0, 0, 0, 1.156, 0, 0, 0, 0, 1, 0, -1.989, -1.989, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -1.281, -1.281, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0.226, 0.226, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0.237, 0.237, 0, 1); }
  34.37% { transform: matrix3d(1.025, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0.321, 0.321, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.266, 0.266, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.24, 0.24, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.004, 0.004, 0, 1); }
  54.23% { transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.01, -0.01, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.005, -0.005, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

/* http://goo.gl/jhNMOV */
@keyframes minus-enter { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 502, 501, 0, 1); opacity: 0; }
  0.1% { opacity: 1; }
  2.29% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 300.739, 300.14, 0, 1); }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 230.654, 230.194, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 224.848, 224.401, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 167.634, 167.3, 0, 1); }
  4.58% { transform: matrix3d(2.063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 167.474, 167.141, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 122.37, 122.126, 0, 1); }
  6.87% { transform: matrix3d(2.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 85.123, 84.953, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 71.312, 71.17, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 68.953, 68.816, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 60.877, 60.755, 0, 1); }
  9.17% { transform: matrix3d(1.229, 0, 0, 0, 0, 1.242, 0, 0, 0, 0, 1, 0, 37.65, 37.575, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 26.077, 26.025, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 17.519, 17.485, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 7.304, 7.29, 0, 1); }
  13.75% { transform: matrix3d(0.615, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0.403, 0.402, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -0.905, -0.903, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -1.405, -1.402, 0, 1); }
  18.26% { transform: matrix3d(0.704, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, -5.289, -5.278, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, -4.931, -4.921, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, -3.52, -3.513, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -2.264, -2.259, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.623, -0.622, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.601, -0.599, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.097, -0.097, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.067, -0.067, 0, 1); }
  46.03% { transform: matrix3d(1.013, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0.016, 0.016, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.014, 0.014, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0.001, 0.001, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

/* http://goo.gl/t3uGwb */
@keyframes plus-enter { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -502, 500, 0, 1); opacity: 0; }
  0.1% { opacity: 1; }
  2.29% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300.739, 299.541, 0, 1); }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -230.654, 229.735, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -224.848, 223.953, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -167.634, 166.966, 0, 1); }
  4.58% { transform: matrix3d(2.063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -167.474, 166.807, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -122.37, 121.883, 0, 1); }
  6.87% { transform: matrix3d(2.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -85.123, 84.784, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -71.312, 71.028, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.953, 68.678, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -60.877, 60.634, 0, 1); }
  9.17% { transform: matrix3d(1.229, 0, 0, 0, 0, 1.242, 0, 0, 0, 0, 1, 0, -37.65, 37.5, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -26.077, 25.973, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -17.519, 17.45, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -7.304, 7.275, 0, 1); }
  13.75% { transform: matrix3d(0.615, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, -0.403, 0.401, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0.905, -0.901, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 1.405, -1.399, 0, 1); }
  18.26% { transform: matrix3d(0.704, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 5.289, -5.268, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 4.931, -4.911, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 3.52, -3.506, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 2.264, -2.255, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0.623, -0.621, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0.601, -0.598, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.097, -0.097, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.067, -0.067, 0, 1); }
  46.03% { transform: matrix3d(1.013, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, -0.016, 0.016, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -0.014, 0.014, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0.001, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

/* http://goo.gl/LXTZJn */
@keyframes multiply-enter { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 300, 0, 1); opacity: 0; }
  0.1% { opacity: 1; }
  2.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 135.218, 0, 1); }
  3.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 114.871, 0, 1); }
  3.47% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 110.596, 0, 1); }
  4.58% { transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 68.65, 0, 1); }
  5.69% { transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 36.551, 0, 1); }
  5.76% { transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 34.768, 0, 1); }
  7.41% { transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 3.804, 0, 1); }
  7.51% { transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 2.454, 0, 1); }
  7.88% { transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, -2.008, 0, 1); }
  8.68% { transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, -9.646, 0, 1); }
  10.03% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, -16.853, 0, 1); }
  10.85% { transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, -18.613, 0, 1); }
  11.53% { transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, -18.992, 0, 1); }
  12.22% { transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, -18.618, 0, 1); }
  14.18% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, -15.054, 0, 1); }
  14.37% { transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, -14.604, 0, 1); }
  19.23% { transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, -3.855, 0, 1); }
  20.01% { transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, -2.724, 0, 1); }
  23.05% { transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, -0.036, 0, 1); }
  25.75% { transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0.709, 0, 1); }
  26.94% { transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0.76, 0, 1); }
  31.58% { transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0.406, 0, 1); }
  31.73% { transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0.392, 0, 1); }
  37.32% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0.03, 0, 1); }
  38.15% { transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0.008, 0, 1); }
  42.35% { transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, -0.03, 0, 1); }
  48.9% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, -0.009, 0, 1); }
  57.77% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0.001, 0, 1); }
  60.47% { transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0.001, 0, 1); }
  69.36% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; } 
}

.powerup-title {
	overflow: hidden!important;
	.powerup-house {
		&.active {
			* {
				transition: all 1000ms ease-in-out;
				opacity: 0;
			}
		}
		.powerup-house-svg {
			display: block;
			width: 100%;
			max-width: 500px;
			height: auto;
			&.active {
				@include prefix(transform-origin, 50% 300px, webkit moz ms o);
				@include prefix(animation, powerup-house-scaleUp 3000ms ease-out forwards, webkit moz ms o);
			}
		}
	}
}

.powerup-back {
	span {
		svg {
			display: block;
			width: 28px;
			height: 28px;
			margin-right: 5px;
			* {
				stroke-width: 9px;
			}
		}
	}
}

[class*="powerup"] {
	.tour-guru {
		@include prefix(transform-origin, center center, webkit moz ms o);
		.translate {
			svg {
				@include prefix(transform-origin, left top, webkit moz ms o);
				@include prefix(transition, all 600ms cubic-bezier(.77,0,.05,1)!important, webkit moz ms o);
				@include prefix(transition, all 600ms cubic-bezier(.77,-0.22,.05,1.27)!important, webkit moz ms o);
				@include prefix(transform, scale(2), webkit moz ms o);
			}
		}
		svg:first-child {
			> g > ellipse {
				@include prefix(transform-origin, center center, webkit moz ms o);
			}
		}
		svg.absolute {
			transform-origin: bottom left;
		}
		&.on-enter {
			svg:first-child {
				> g > ellipse {
					animation: tour-shadow 500ms cubic-bezier(0,1.6,1,1.6) forwards;
				}
			}
			svg.absolute {
				animation: u-rotateScaleUpLeft 2000ms ease-in-out 2000ms forwards;
				opacity: 0;
			}
		}
		&.active {
			svg:first-child {
				display: block;
				> g > ellipse {
					@include prefix(animation, tour-guru-shadow-hover 1000ms linear infinite alternate, webkit moz ms o);
				}
				.guru-body {
					@include prefix(animation, tour-guru-hover 1000ms linear infinite alternate, webkit moz ms o);
				}
			}
		}
	}
}

.powerup-demographic {
	@include flex;
	@include flex-wrap;
	background: $smoke;
	.tour-guru {
		svg:first-child {
			height: 200px;
		}
		svg.absolute {
			@include prefix(animation, tour-guru-hover 1000ms linear infinite alternate, webkit moz ms o);
			top: 0;
			margin-left: -5px;
		}
	}
	.demo-grid {
		.demographic-z-index-1000 {
			z-index: 1000!important;
		}
		ul {
			@include flex;
			@include flex-center;
			@include flex-wrap;
			width: 100%;
			padding: 1px;
			li {
				transform-origin: center top;
				position: relative;
				height: 50%;
				width: 50%;
				font-weight: 600;
				padding: 1px;
				a {
					position: relative;
					width: 100%;
					height: 100%;
					border-radius: 2px;
					font-size: 28px;
					text-transform: lowercase;
					> svg {
						width: 100%;
					}
					> span {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						text-align: center;
						svg {
							width: 100px;
							height: 100px;
							* {
								@include svg-stroke(white, 3);
							}
						}
						span {
							display: block;
							margin-bottom: 15px;
							&:last-child {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width:768px) {
		@include prefix(justify-content, center, webkit);
		@include prefix(align-items, space-between, webkit);
		@include prefix(align-content, space-between, webkit);
	}
	@media screen and (max-width:768px) {
		.demo-header {
			height: 40%;
		}
		.demo-grid {
			height: 60%;
		}
		.tour-guru {
			margin-top: 15px;
			@include prefix(transform, scale(0.8), webkit moz ms o);
		}
		h1 {
			margin-top: -45px;
			margin-bottom: 30px;
		}
	}
	@media screen and (min-width:768px) {
		@include flex-center;
	}
	@media screen and (min-width:768px) {
		h1 {
			font-size: 48px;
		}
		.demo-grid {
			height: auto;
			margin: 0 auto;
			max-width: 1060px;
			ul {
				padding: 15px;
				li {
					padding: 15px;
					width: 25%;
					a {
						font-size: 36px;
					}
				}
			}
		}
	}
}

.powerup-welcome {
	.tour-guru {
		svg {
			height: 400px;
		}
	}
	button {
		width: auto;
		padding: 0 50px;
		background: none;
		border-radius: 2px;
		border: 3px solid white;
		&:hover, &:focus {
			background: white;
		}
		&:active {
			background: lighten($slate, 15%);
			border: lighten($slate, 15%);
		}
	}
}