#request {
  height: 100%;
}

#request > header {
  height: 65px;
}

#request > header .request-nav {
  width: 100%;
}

#request > header .request-nav > div {
  width: 100%;
}

#request > header .request-nav > div a {
  width: calc(100% / 6);
}

#request > header .request-nav > div > div {
  width: calc(100% / 6);
}

#request > header .request-nav > div a:nth-child(1).active ~ div:before {
  border-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(1).active ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(2).active ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(2).active ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(3).active ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(3).active ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(4).active ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(4).active ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(5).active ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(5).active ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(6).active ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(6).active ~ div:after {
  border-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(1):hover ~ div:before, #request > header .request-nav > div a:nth-child(1):focus ~ div:before {
  border-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(1):hover ~ div:after, #request > header .request-nav > div a:nth-child(1):focus ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(2):hover ~ div:before, #request > header .request-nav > div a:nth-child(2):focus ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(2):hover ~ div:after, #request > header .request-nav > div a:nth-child(2):focus ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(3):hover ~ div:before, #request > header .request-nav > div a:nth-child(3):focus ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(3):hover ~ div:after, #request > header .request-nav > div a:nth-child(3):focus ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(4):hover ~ div:before, #request > header .request-nav > div a:nth-child(4):focus ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(4):hover ~ div:after, #request > header .request-nav > div a:nth-child(4):focus ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(5):hover ~ div:before, #request > header .request-nav > div a:nth-child(5):focus ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(5):hover ~ div:after, #request > header .request-nav > div a:nth-child(5):focus ~ div:after {
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header .request-nav > div a:nth-child(6):hover ~ div:before, #request > header .request-nav > div a:nth-child(6):focus ~ div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div a:nth-child(6):hover ~ div:after, #request > header .request-nav > div a:nth-child(6):focus ~ div:after {
  border-color: #50A5DD;
}

#request > header .request-nav > div > div span {
  background: #50A5DD;
}

#request > header .request-nav > div > div:before {
  border-color: #50A5DD;
  border-left-color: #637074;
}

#request > header .request-nav > div > div:after {
  right: -15px;
  border-color: #637074;
  border-left-color: #50A5DD;
}

#request > header progress, #request > header .progress {
  margin: 0;
  vertical-align: top;
}

#request main {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: calc(100% - 65px);
  background: #F1F1F1;
}

#request main .request-slide {
  height: 100%;
  overflow: auto;
}

.angular-google-map,
.angular-google-map-container {
  height: calc(100%) !important;
  width: calc(100%) !important;
}

.map-box-container {
  height: 400px;
  position: relative;
}

.map-search {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.map-search input {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 10px 15px 10px 43px;
  font-size: 18px;
  color: #40484B;
  background: none;
  border: 0;
}

.map-search input:focus::-webkit-input-placeholder, .map-search input:hover::-webkit-input-placeholder {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #757575;
}

.map-search input:focus:-moz-placeholder, .map-search input:hover:-moz-placeholder {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #757575;
}

.map-search input:focus::-moz-placeholder, .map-search input:hover::-moz-placeholder {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #757575;
}

.map-search input:focus:-ms-input-placeholder, .map-search input:hover:-ms-input-placeholder {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #757575;
}

.map-search svg {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  fill: none;
  stroke: #bebebe;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  padding: 7px;
}

.map-search input:hover + svg {
  stroke: #b1b1b1;
}

.map-search input:focus + svg {
  stroke: #a4a4a4;
}

.map-results {
  overflow: auto;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 15px;
}

.map-results > li {
  padding: 15px 0;
  font-size: 16px;
  line-height: 1.2;
}

.map-results > li.has-image {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.map-results > li:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

.map-results > li .map-title {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.map-results > li .map-title h3 {
  width: calc(100% - 149px);
  font-size: 18px;
  font-weight: 600;
}

.map-results > li .map-title .map-rating {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: -3px;
  width: 149px;
}

.map-results > li .map-title .map-rating .rating-stars {
  margin: 0 3px !important;
}

.map-results > li .map-title .map-rating span {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #757575;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.map-results > li .map-address, .map-results > li .map-phone {
  display: block;
  color: #757575;
  font-size: 14px;
  font-weight: 600;
}

.map-box {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 385px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .map-box {
    max-width: 400px;
  }
}

.map-box .map-results {
  height: calc(100% - 43px);
}

.request-slide {
  width: 100%;
  text-align: center;
}

.request-slide header {
  padding: 15px;
  background: #2B3234;
}

.request-slide header h1 {
  padding: 0;
  font-size: 28px;
  font-weight: 600;
  text-transform: lowercase;
}

.request-slide header h2 {
  margin-top: 5px !important;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
}

.request-slide button.confirm {
  background: rgba(80, 165, 221, 0.95);
  color: white;
  font-weight: 600;
}

.request-slide.request-categories {
  position: relative;
}

.request-slide.request-categories .request-category, .request-slide.request-categories .request-subcategory {
  height: 100%;
  background: #F1F1F1;
}

.request-slide.request-categories .request-category ul {
  height: calc(100% - 87px);
}

.request-slide.request-categories .request-category ul li {
  height: calc(100% / 3);
}

.request-slide.request-categories .request-subcategory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.request-slide.request-categories .request-subcategory:not(.selected) {
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -10;
}

.request-slide.request-categories .request-subcategory.selected {
  z-index: 10;
}

.request-slide.request-categories .request-subcategory ul {
  -webkit-align-content: flex-start;
  align-content: flex-start;
  height: calc(100% - 87px - 64px);
}

.request-slide.request-categories .request-subcategory ul li {
  height: 20%;
}

.request-slide.request-categories .request-subcategory ul li a .card-icon {
  width: 75px;
  height: 75px;
}

.request-slide.request-categories .request-subcategory ul li a .card-icon svg * {
  stroke-width: 3px;
}

.request-slide.request-categories .request-subcategory ul li a .card-icon svg:not(.normalized) {
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.5);
}

.request-slide.request-categories .request-subcategory ul li a .card-icon svg:not(.normalized) * {
  filter: alpha(opacity=0);
  opacity: 0;
}

.request-slide.request-categories button.bg-delivery {
  background: #de4e53;
}

.request-slide.request-categories button.bg-delivery:hover, .request-slide.request-categories button.bg-delivery:focus {
  background: #f8a7aa;
  color: #984c50;
}

.request-slide.request-categories button.bg-delivery:active {
  background: #984c50;
  color: white;
}

.request-slide.request-categories button.bg-freelancing {
  background: #d5713e;
}

.request-slide.request-categories button.bg-freelancing:hover, .request-slide.request-categories button.bg-freelancing:focus {
  background: #f2ba9e;
  color: #935f44;
}

.request-slide.request-categories button.bg-freelancing:active {
  background: #935f44;
  color: white;
}

.request-slide.request-categories button.bg-baking {
  background: #e4b94e;
}

.request-slide.request-categories button.bg-baking:hover, .request-slide.request-categories button.bg-baking:focus {
  background: #fbe3a7;
  color: #9b874d;
}

.request-slide.request-categories button.bg-baking:active {
  background: #9b874d;
  color: white;
}

.request-slide.request-categories button.bg-photography {
  background: #7baa63;
}

.request-slide.request-categories button.bg-photography:hover, .request-slide.request-categories button.bg-photography:focus {
  background: #c0dab3;
  color: #617f59;
}

.request-slide.request-categories button.bg-photography:active {
  background: #617f59;
  color: white;
}

.request-slide.request-categories button.bg-tech {
  background: #539bac;
}

.request-slide.request-categories button.bg-tech:hover, .request-slide.request-categories button.bg-tech:focus {
  background: #aad2db;
  color: #4b7681;
}

.request-slide.request-categories button.bg-tech:active {
  background: #4b7681;
  color: white;
}

.request-slide.request-categories button.bg-household {
  background: #726ed4;
}

.request-slide.request-categories button.bg-household:hover, .request-slide.request-categories button.bg-household:focus {
  background: #bcb9f1;
  color: #5c5d97;
}

.request-slide.request-categories button.bg-household:active {
  background: #5c5d97;
  color: white;
}

.request-slide.request-categories button.bg-athletic {
  background: #9159b9;
}

.request-slide.request-categories button.bg-athletic:hover, .request-slide.request-categories button.bg-athletic:focus {
  background: #cdade2;
  color: #6d5288;
}

.request-slide.request-categories button.bg-athletic:active {
  background: #6d5288;
  color: white;
}

.request-slide.request-categories button.bg-academic {
  background: #d53a93;
}

.request-slide.request-categories button.bg-academic:hover, .request-slide.request-categories button.bg-academic:focus {
  background: #f39ccd;
  color: #934073;
}

.request-slide.request-categories button.bg-academic:active {
  background: #934073;
  color: white;
}

.request-slide.request-categories ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px solid #F1F1F1;
}

.request-slide.request-categories ul li {
  width: 50%;
  border: 1px solid #F1F1F1;
}

.request-slide.request-categories ul li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.request-slide.request-categories ul li a span {
  display: block;
  width: 100%;
}

.request-slide.request-categories ul li a .card-icon {
  width: 100px;
  height: 100px;
}

.request-slide.request-categories ul li a .card-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.request-slide.request-categories ul li a .card-icon svg * {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.request-slide.request-categories ul li a .card-label {
  font-size: 18px;
  font-weight: 600;
}

.request-slide.request-categories ul li a.bg-delivery {
  background: #F04F54;
}

.request-slide.request-categories ul li a.bg-delivery:hover, .request-slide.request-categories ul li a.bg-delivery:focus {
  background: #f8a7aa;
  color: #984c50;
}

.request-slide.request-categories ul li a.bg-delivery:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-delivery:focus .card-icon svg * {
  stroke: #984c50;
}

.request-slide.request-categories ul li a.bg-delivery:active {
  background: #984c50;
  color: white;
}

.request-slide.request-categories ul li a.bg-delivery:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-freelancing {
  background: #E5753C;
}

.request-slide.request-categories ul li a.bg-freelancing:hover, .request-slide.request-categories ul li a.bg-freelancing:focus {
  background: #f2ba9e;
  color: #935f44;
}

.request-slide.request-categories ul li a.bg-freelancing:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-freelancing:focus .card-icon svg * {
  stroke: #935f44;
}

.request-slide.request-categories ul li a.bg-freelancing:active {
  background: #935f44;
  color: white;
}

.request-slide.request-categories ul li a.bg-freelancing:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-baking {
  background: #F6C64E;
}

.request-slide.request-categories ul li a.bg-baking:hover, .request-slide.request-categories ul li a.bg-baking:focus {
  background: #fbe3a7;
  color: #9b874d;
}

.request-slide.request-categories ul li a.bg-baking:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-baking:focus .card-icon svg * {
  stroke: #9b874d;
}

.request-slide.request-categories ul li a.bg-baking:active {
  background: #9b874d;
  color: white;
}

.request-slide.request-categories ul li a.bg-baking:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-photography {
  background: #81B566;
}

.request-slide.request-categories ul li a.bg-photography:hover, .request-slide.request-categories ul li a.bg-photography:focus {
  background: #c0dab3;
  color: #617f59;
}

.request-slide.request-categories ul li a.bg-photography:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-photography:focus .card-icon svg * {
  stroke: #617f59;
}

.request-slide.request-categories ul li a.bg-photography:active {
  background: #617f59;
  color: white;
}

.request-slide.request-categories ul li a.bg-photography:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-tech {
  background: #55A4B7;
}

.request-slide.request-categories ul li a.bg-tech:hover, .request-slide.request-categories ul li a.bg-tech:focus {
  background: #aad2db;
  color: #4b7681;
}

.request-slide.request-categories ul li a.bg-tech:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-tech:focus .card-icon svg * {
  stroke: #4b7681;
}

.request-slide.request-categories ul li a.bg-tech:active {
  background: #4b7681;
  color: white;
}

.request-slide.request-categories ul li a.bg-tech:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-household {
  background: #7872e3;
}

.request-slide.request-categories ul li a.bg-household:hover, .request-slide.request-categories ul li a.bg-household:focus {
  background: #bcb9f1;
  color: #5c5d97;
}

.request-slide.request-categories ul li a.bg-household:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-household:focus .card-icon svg * {
  stroke: #5c5d97;
}

.request-slide.request-categories ul li a.bg-household:active {
  background: #5c5d97;
  color: white;
}

.request-slide.request-categories ul li a.bg-household:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-athletic {
  background: #9A5BC5;
}

.request-slide.request-categories ul li a.bg-athletic:hover, .request-slide.request-categories ul li a.bg-athletic:focus {
  background: #cdade2;
  color: #6d5288;
}

.request-slide.request-categories ul li a.bg-athletic:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-athletic:focus .card-icon svg * {
  stroke: #6d5288;
}

.request-slide.request-categories ul li a.bg-athletic:active {
  background: #6d5288;
  color: white;
}

.request-slide.request-categories ul li a.bg-athletic:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-academic {
  background: #e6389b;
}

.request-slide.request-categories ul li a.bg-academic:hover, .request-slide.request-categories ul li a.bg-academic:focus {
  background: #f39ccd;
  color: #934073;
}

.request-slide.request-categories ul li a.bg-academic:hover .card-icon svg *, .request-slide.request-categories ul li a.bg-academic:focus .card-icon svg * {
  stroke: #934073;
}

.request-slide.request-categories ul li a.bg-academic:active {
  background: #934073;
  color: white;
}

.request-slide.request-categories ul li a.bg-academic:active .card-icon svg * {
  stroke: white;
}

.request-slide.request-categories ul li a.bg-more {
  background: #a0a4a5;
  color: white;
}

.request-slide.request-details > div {
  padding-bottom: 64px;
}

.request-slide.request-details > div > div h1 {
  padding: 15px 15px 0;
  color: #40484B;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.request-slide.request-details > div > div.request-courses ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 14px;
  margin-top: -5px;
}

.request-slide.request-details > div > div.request-courses ul li {
  padding: 1px;
  width: calc(100% / 3);
}

.request-slide.request-details > div > div.request-courses ul li a {
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  background: #50A5DD;
  border-radius: 2px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid transparent;
}

.request-slide.request-details > div > div.request-courses ul li a:hover, .request-slide.request-details > div > div.request-courses ul li a:focus {
  background: #a8d2ee;
  color: #487794;
  border-bottom-color: rgba(85, 126, 120, 0.3);
}

.request-slide.request-details > div > div.request-courses ul li a:active {
  background: #487794;
  color: white;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.request-slide.request-details > div > div.request-desc textarea {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin: 10px 15px 15px;
  width: calc(100% - 30px);
  min-height: 100px;
  padding: 15px;
  resize: none;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #a5afb2;
  border-bottom-width: 5px;
  color: #40484B;
  font-size: 16px;
  font-weight: 400;
}

.request-slide.request-details > div > div.request-desc textarea::-webkit-input-placeholder {
  color: #89969b;
}

.request-slide.request-details > div > div.request-desc textarea:-moz-placeholder {
  color: #89969b;
}

.request-slide.request-details > div > div.request-desc textarea::-moz-placeholder {
  color: #89969b;
}

.request-slide.request-details > div > div.request-desc textarea:-ms-input-placeholder {
  color: #89969b;
}

.request-slide.request-details > div > div.request-desc textarea:hover {
  background: rgba(255, 255, 255, 0.7);
  border-color: #637074;
  color: #40484B;
}

.request-slide.request-details > div > div.request-desc textarea:focus, .request-slide.request-details > div > div.request-desc textarea.active {
  background: white;
  border-color: #50A5DD;
  color: #40484B;
}

.request-slide.request-details > div > div.request-attachments .attachment-list {
  position: relative;
  margin: 10px 15px;
  width: calc(100% - 30px);
  height: 180px;
  border: 2px dashed rgba(80, 165, 221, 0.5);
  border-radius: 5px;
}

.request-slide.request-details > div > div.request-attachments .attachment-list ul {
  height: 150px;
}

.request-slide.request-details > div > div.request-attachments .attachment-list progress {
  margin: 0 15px 15px;
  width: calc(100% - 30px);
}

.request-slide.request-details > div > div.request-attachments .attachment-list .instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #50A5DD;
  font-size: 16px;
  font-weight: 600;
  width: 180px;
  padding: 15px;
}

.request-slide.request-details > div > div.request-attachments .uploaded {
  display: block;
  width: 100%;
  padding: 0 15px 15px;
  color: #50A5DD;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.request-slide.request-details > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.request-slide.request-time > div {
  height: calc(100% - 87px - 64px);
}

.request-slide.request-time > div h1 {
  padding: 15px 15px 0;
  color: #40484B;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.request-slide.request-time .request-form {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px;
}

.request-slide.request-time .request-form h2 {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 15px;
  height: 48px;
  font-weight: 600;
  color: #40484B;
}

.request-slide.request-time .request-form .custom-dropdown {
  color: #40484B;
  margin-bottom: 15px;
}

.request-slide.request-time .request-form .custom-dropdown > div span {
  width: 84px;
  background: white;
  color: #40484B;
}

.request-slide.request-time .request-form .custom-dropdown > div a svg {
  background: #50A5DD;
}

.request-slide.request-time .request-form .custom-dropdown > div a:hover svg, .request-slide.request-time .request-form .custom-dropdown > div a:focus svg {
  background: #7bbbe5;
}

.request-slide.request-time .request-form .custom-dropdown > div a:active svg {
  background: #298ed1;
}

.request-slide.request-time .request-form .custom-dropdown > ul {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.request-slide.request-time .request-form .custom-dropdown > ul li {
  background: rgba(76, 85, 89, 0.98);
  font-weight: 600;
}

.request-slide.request-time .request-form .custom-dropdown > ul li:hover, .request-slide.request-time .request-form .custom-dropdown > ul li:focus {
  background: rgba(80, 165, 221, 0.98);
}

.request-slide.request-time .request-form .custom-dropdown > ul li:active {
  background: rgba(123, 187, 229, 0.98);
}

.request-slide.request-time .request-form .custom-dropdown.request-hours > ul li {
  width: 50%;
}

.request-slide.request-time .request-form .custom-dropdown.request-minutes > ul {
  left: calc(50% + 24px);
}

.request-slide.request-time .request-form .custom-dropdown.request-minutes > ul li {
  width: 100%;
}

.request-slide.request-time .request-when ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 14px 15px;
}

.request-slide.request-time .request-when ul li {
  width: calc(100% / 3);
  padding: 1px;
}

.request-slide.request-time .request-when ul li a {
  display: block;
  width: 100%;
  background: white;
  border: 2px solid #50A5DD;
  border-left-width: 5px;
  border-radius: 2px;
  padding: 10px 15px;
  color: #637074;
  font-weight: 600;
}

.request-slide.request-time .request-when ul li a span {
  display: block;
}

.request-slide.request-time .request-when ul li a span:first-child {
  font-size: 18px;
  color: #50A5DD;
}

.request-slide.request-time .request-when ul li a span:last-child {
  font-size: 14px;
}

.request-slide.request-time .request-when ul li a:hover, .request-slide.request-time .request-when ul li a:focus {
  background: #a8d2ee;
}

.request-slide.request-time .request-when ul li a:hover span:first-child, .request-slide.request-time .request-when ul li a:focus span:first-child {
  color: #487794;
}

.request-slide.request-time .request-when ul li a:hover span:last-child, .request-slide.request-time .request-when ul li a:focus span:last-child {
  color: #40484B;
}

.request-slide.request-time .request-when ul li a:active {
  background: #487794;
  border-color: #a8d2ee;
}

.request-slide.request-time .request-when ul li a:active span:first-child {
  color: #a8d2ee;
}

.request-slide.request-time .request-when ul li a:active span:last-child {
  color: white;
}

.request-slide.request-time .request-when ul li:last-child {
  width: 100%;
}

.request-slide.request-time .request-when ul li:last-child button {
  background: #50A5DD;
  border-radius: 2px;
  font-weight: 600;
}

.request-slide.request-time .request-when ul li:last-child button:hover, .request-slide.request-time .request-when ul li:last-child button:focus {
  background: #a8d2ee;
  color: #487794;
}

.request-slide.request-time .request-when ul li:last-child button:active {
  background: #487794;
  color: white;
}

.request-slide.request-time .request-when .checkbox-container {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 10px 15px 15px;
}

.request-slide.request-time .request-when .checkbox-container div span {
  background: rgba(64, 72, 75, 0.2);
}

.request-slide.request-time .request-when .checkbox-container div span svg {
  stroke: rgba(255, 255, 255, 0.4);
}

.request-slide.request-time .request-when .checkbox-container div input:checked + span {
  background: #50A5DD;
}

.request-slide.request-time .request-when .checkbox-container div input:checked + span svg {
  stroke: white;
}

.request-slide.request-time .request-when .checkbox-container label {
  color: #40484B;
}

.request-slide.request-map > div {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: calc(100% - 87px - 64px);
}

.request-slide.request-map > div .map-container {
  height: calc(100% - 63px);
}

.request-slide.request-map > div .input-field {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  background: white;
  width: 100%;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.request-slide.request-map > div .input-field input:focus {
  border-bottom: 1px solid #50A5DD;
  box-shadow: 0 1px 0 0 #50A5DD;
}

.request-slide.request-payment > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.request-slide.request-payment > div {
  height: calc(100% - 87px);
  padding-bottom: 64px;
}

.request-slide.request-payment > div .request-offer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1px;
}

.request-slide.request-payment > div .request-offer li {
  position: relative;
  padding: 1px;
  width: 25%;
}

.request-slide.request-payment > div .request-offer li a {
  position: relative;
  display: block;
  background: #50A5DD;
  border-radius: 2px;
}

.request-slide.request-payment > div .request-offer li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 600;
}

.request-slide.request-payment > div .request-offer li a .add {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 48px;
  height: 48px;
}

.request-slide.request-payment > div .request-offer li a .add * {
  fill: none;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.request-slide.request-payment > div .request-offer li input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 600;
  background: none;
  border: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.request-slide.request-payment > div .request-offer li input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.request-slide.request-payment > div .request-offer li input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.request-slide.request-payment > div .request-offer li input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.request-slide.request-payment > div .request-offer li input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.request-slide.request-payment > div .request-cards .request-wallet {
  position: relative;
}

.request-slide.request-payment > div .request-cards .request-wallet button {
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 28.5%;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 52px;
  border-radius: 2px;
  background: #F1F1F1;
  font-weight: 600;
  color: #E5753C;
}

.request-slide.request-payment > div .request-cards .wallet {
  padding: 14px 15px 15px;
  width: 100%;
}

.request-slide.request-payment > div .request-cards ul {
  padding: 7.5px;
}

.request-slide.request-payment > div .request-cards ul li {
  padding: 7.5px;
}

.request-slide.request-payment > div .request-cards ul li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #40484B;
  border-radius: 10px;
  padding: 10px 15px;
  height: 64px;
}

.request-slide.request-payment > div .request-cards ul li a span {
  font-size: 18px;
  font-weight: 600;
}

.request-slide.request-confirm header {
  background: #50A5DD;
}

.request-slide.request-confirm header svg {
  width: 120px;
}

.request-slide.request-confirm header h1 {
  text-transform: none;
}

.request-slide.request-confirm > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.request-slide.request-confirm > div {
  padding-bottom: 64px;
}

.request-slide.request-confirm > div > a {
  display: block;
}

.request-slide.request-confirm > div > a:hover, .request-slide.request-confirm > div > a:focus {
  background: rgba(80, 165, 221, 0.2);
}

.request-slide.request-confirm > div .confirm-course {
  padding: 15px;
  background: #40484B;
}

.request-slide.request-confirm > div .confirm-course h1 {
  font-size: 20px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-course h2 {
  filter: alpha(opacity=50);
  opacity: 0.5;
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-info h1, .request-slide.request-confirm > div .confirm-amount h1 {
  padding: 15px 15px 0;
  color: #50A5DD;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.request-slide.request-confirm > div .confirm-info p, .request-slide.request-confirm > div .confirm-amount p {
  padding: 5px 15px 15px;
  color: #40484B;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.request-slide.request-confirm > div .confirm-time {
  padding: 15px;
}

.request-slide.request-confirm > div .confirm-time .time-tile {
  border: 2px solid #50A5DD;
  border-left-width: 5px;
  border-radius: 2px;
  background: white;
  padding: 15px;
}

.request-slide.request-confirm > div .confirm-time .time-tile h1 {
  color: #50A5DD;
  font-size: 24px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-time .time-tile h2 {
  margin: 0 !important;
  color: #637074;
  font-size: 20px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-location {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px;
}

.request-slide.request-confirm > div .confirm-location svg {
  display: block;
  height: 80px;
  width: auto;
}

.request-slide.request-confirm > div .confirm-location .location-info {
  position: relative;
  background: #738f9f;
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 2px;
}

.request-slide.request-confirm > div .confirm-location .location-info:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  left: -30px;
  border: 15px solid transparent;
  border-right-color: #738f9f;
}

.request-slide.request-confirm > div .confirm-location .location-info h1 {
  font-size: 24px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-location .location-info p {
  font-size: 18px;
  font-weight: 400;
}

.request-slide.request-confirm > div .confirm-card {
  padding: 15px;
}

.request-slide.request-confirm > div .confirm-card .request-card {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #40484B;
  border-radius: 10px;
  padding: 10px 15px;
  height: 64px;
}

.request-slide.request-confirm > div .confirm-card .request-card span {
  font-size: 18px;
  font-weight: 600;
}

.request-slide.request-confirm > div .confirm-amount h3 {
  color: #40484B;
  font-size: 64px;
  font-weight: 900;
  padding-bottom: 15px;
}
