@import 'mixin';

// start samir css 11/9
.desktop-input-close-icon {
	position:absolute;
	right:10px;
	top:50%;
}

.desktop-login-view  {
	.desktop-input-close-icon {
		color:rgba($slate,0.2);
		top:30%;
	}
}
// End samir-css

.desktop-nav-back {
	svg {
		-webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

.desktop-mode {
	#desktop-student-home-map-container, #student-home-default-map-container {
			position: absolute !important;
			top: 0 !important;
			left: 0 !important;
			overflow: hidden !important;
			z-index: 0 !important;
			width: calc(100%) !important;
			height: calc(100% - 64px) !important;
		}
	.main {
		z-index:1 !important;
		background:transparent;
	}
}

//all component overrides
//@gabriellewee I injected desktop-view into body if desktop
.desktop-view {
	ion-modal-view {
		width: 100%;
    	height: calc(100% - 64px);
    	left: 0;
    	top: 64px;
	}
	.uguru-popup-content {
		width:33% !important;
	}
}

.desktop-view.platform-ios {
	ion-modal-view {
		top:84px;
		height: calc(100% - 84px);
		width:100%;
	}
	header, .header-nav {
		padding-top:0px !important;
	}
	.guru-desktop-credibility {
		padding-top:20px;
	}
	#top-menu-background-overlay {
	    top: 64px;
	    height: calc(100% - 84px) !important;
	}
}
//end component overrides

.desktop-guru-onboarding-view {
	.cta-modal.hide-display {
		@include opacity-important(0);
		display: none;
		z-index: 1000;
		&.show {
			@include opacity-important(1);
			display: block!important;
		}
	}
}

.desktop-guru-onboarding {
	.main.default {
		min-height: 50%;
	}
}
.photo-view .main {
	height: calc(100% - 140px);
}

.mode-links {
	background: rgba(white,.75);
	span {
		color: $gabrielle;
	}
	svg {
		stroke: $gabrielle!important;
	}
}

.progressbar-text {
	display: none!important;
}

#desktop-guru-home {
	.hide-display.cta-modal.pane {
		@include opacity-important(0);
		position: fixed;
		transition: 200ms ease;
		visibility: hidden;
		overflow: auto;
		z-index:-1;
		background: $charcoal;
		&.show {
			z-index: 1000;
			@include opacity-important(1);
			visibility: visible;
		}
	}
}

.desktop-guru-onboarding-view
.skill-item-content.hide-display {
	@include opacity(0);
	visibility: hidden;
	flex-direction: column;
	&.show {
		@include flex;
		@include opacity(1);
		visibility: visible;
		a {
			position: absolute;
			top: 10px;
			right: 10px;
			svg {
				@include rotate(45);
				height: 50px;
			}
		}
	}

}

.guru-message-container .cta-modal-close {
	z-index:1000;
	height:50px;
	width:50px;
}

#messenger-sidebar img{
	@include round;
	width: 50px;
	height: 50px;
}