@import 'mixin';

// start samir css 11/9
.desktop-input-close-icon {
	position: absolute;
	right: 10px;
	top: 50%;
}
.desktop-login-view {
	.desktop-input-close-icon {
		color: rgba($slate,.2);
		top: 30%;
	}
}

// End samir-css
.desktop-mode {
	#desktop-student-home-map-container,
	#student-home-default-map-container {
		position: absolute!important;
		top: 0!important;
		left: 0!important;
		overflow: hidden!important;
		z-index: 0!important;
		width: 100%!important;
		height: calc(100% - 64px)!important;
	}
	.main {
		z-index: 1!important;
		background: transparent;
	}
}

//all component overrides
//@gabriellewee I injected desktop-view into body if desktop
.desktop-view {
	ion-modal-view {
		width: 100%;
		height: calc(100% - 64px);
		left: 0;
		top: 64px;
	}
	.uguru-popup-content {
		width: 33%!important;
	}
}
.desktop-view.platform-ios {
	ion-modal-view {
		top: 84px;
		height: calc(100% - 84px);
		width: 100%;
	}
	header,
	.header-nav {
		padding-top: 0 !important;
	}
	.guru-desktop-credibility {
		padding-top: 20px;
	}
	#top-menu-background-overlay {
		top: 64px;
		height: calc(100% - 84px)!important;
	}
}

//end component overrides
.desktop-guru-onboarding-view {
	.cta-modal.hide-display {
		@include opacity-important(0);
		display: none;
		z-index: 1000;
		&.show {
			@include opacity-important(1);
			display: block!important;
		}
	}
}
.desktop-guru-onboarding {
	.main.default {
		min-height: 50%;
	}
}
.photo-view .main {
	height: calc(100% - 140px);
}
.mode-links {
	background: rgba(white,.75);
	span {
		color: $gabrielle;
	}
	svg {
		stroke: $gabrielle!important;
	}
}
.progressbar-text {
	display: none!important;
}
#desktop-guru-home {
	.hide-display.cta-modal.pane {
		@include opacity-important(0);
		position: fixed;
		transition: 200ms ease;
		visibility: hidden;
		overflow: auto;
		z-index: -1;
		background: $charcoal;
		&.show {
			z-index: 1000;
			@include opacity-important(1);
			visibility: visible;
		}
	}
}
.desktop-guru-onboarding-view .skill-item-content.hide-display {
	@include opacity(0);
	visibility: hidden;
	flex-direction: column;
	&.show {
		@include flex;
		@include opacity(1);
		visibility: visible;
		a {
			position: absolute;
			top: 10px;
			right: 10px;
			svg {
				@include rotate(45);
				height: 50px;
			}
		}
	}
}
.guru-message-container {
	.cta-modal-close {
		z-index: 1000;
		height: 50px;
		width: 50px;
	}
}
.credit-card-wrapper {
	.credit-card {
		position: relative;
		width: 100%;
		height: 100%;
		background: $charcoal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 15px;
		color: white;
		position: relative;
		.card-type {
			float: right;
			clear: both;
		}
		.card-number {
			font-family: OCR-A, monospace;
			font-size: 14px;
			text-align: left;
			color: $smoke;
			position: absolute;
			left: 10%;
			top: 50%;
		}
		.card-name {
			font-size: 10px;
			text-align: left;
			opacity: .75;
			color: white;
			line-height: 2;
			font-weight: 700;
			position: absolute;
			left: 10%;
			bottom: 12.5%;
		}
		img.card-chip {
			width: 30px;
			position: absolute;
			left: 20px;
			top: 20%;
		}
		.valid .group {
			position: absolute;
			width: 33% !important;
			bottom: 12.5%;
			right: 15%;
			font-size: 10px;
			opacity: .4;
			line-height: 10px;
		}
		.valid .expiry {
			position: absolute;
			width: 33% !important;
			bottom: 17.5%;
			right: -3%;
			font-size: 16px;
			opacity: .75;
			line-height: 10px;
			margin-top: 3px;
		}
	}
	.cf:before,
	.credit-card:before,
	.cf:after,
	.credit .credit-card:after {
		content: " ";
		display: table;
	}
}

// .guru-view-mobile .header-nav {
// 	h1.balance-header {
// 		padding-right: 15px !important;
// 	}
// 	svg.referral-icon {
// 		padding-left: 5px;
// 	}
// }
body.platform-ios {
	.mobile-referrals-modal a.header-close,
	.mobile-balance-modal a.header-close,
	.guru-view-mobile .header-nav {
		padding-top: 0 !important;
		h1.balance-header {
			padding-right: 15px !important;
			margin-top: 5px !important;
		}
		svg.referral-icon {
			padding: 0;
		}
	}
}
#cta-modal-payments {
	height: 100%;
	background: rgba(0,0,0,0.25) !important;
	input {
		color: $charcoal !important;
	}
	.close-button svg {
		stroke: $charcoal;
		width: 30px;
	}
}
.payments-modal input {
	background-color: $charcoal !important;
	background: $charcoal !important;
}
.desktop-input-close-icon {
	padding: 10px;
	margin: -10px;
}
#profile-footer-desc {
	font-size: 20px;
}
#settings-notifications-list {
	ion-item.active,
	ion-item:hover,
	ion-item:active,
	ion-item:focus {
		background: none;
		background-color: none;
	}
	.list-item-detail {
		padding-left: 5%;
	}
	.list-item-icon {
		svg:active,
		svg.active,
		svg.activated {
			opacity: .5;
		}
	}
	.list-item-icon svg {
		path.notifications-path {
			stroke: white;
			&.active {
				stroke: $slate;
				width: 5px;
				opacity: 1;
			}
		}
		circle.notifications-circle {
			fill: $slate;
			&.active {
				fill: white;
				opacity: 1;
			}
		}
	}
}
#public-profile-url {
	font-size: 14px;
	padding-bottom: 12.5%;
}
.dark-shamrock-bg {
	background-color: #3d796e !important;
}
.textarea-container {
	 ::-webkit-input-placeholder {
		color: white;
		font-weight: 500;
	}
	 :-moz-placeholder {
		/* Firefox 18- */
		color: red;
		font-weight: 500;
	}
	 ::-moz-placeholder {
		/* Firefox 19+ */
		color: red;
		font-weight: 500;
	}
	 :-ms-input-placeholder {
		color: red;
		font-weight: 500;
	}
}

// .desktop-mode #profile-code-list:after {
//     content: "tap to launch";
//     right: -108px;
//     padding: 10px 15px;
//     background: rgba(255, 255, 255, 0.9);
//     font-size: 14px;
//     font-weight: 600;
//     text-transform: uppercase;
//     color: #40484B;
// }
// .desktop-mode #profile-code-list:before {
//     content: "";
//     right: -20px;
//     width: 0;
//     height: 0;
//     border: 10px solid transparent;
//     border-right-color: rgba(255, 255, 255, 0.9);
// }
#cta-modal-support {
	top: 64px !important;
	h1 {
		background: none !important;
		padding: 20px 15px !important;
		margin-bottom: 0 !important;
		font-size: 48px !important;
		font-weight: 900 !important;
		letter-spacing: 0 !important;
		text-align: center !important;
		text-transform: none !important;
		color: white;
	}
	a.cta-modal-close {
		width: auto;
		position: absolute;
		height: 50px;
		width: 50px;
		right: 0;
		top: 0;
		margin: 20px;
	}
}
ion-pane #experience-modal #guru-experience-remove-button {
	bottom: 115px;
	position: absolute;
	z-index: 1000;
	width: 100%;
	left: 0;
}
ul.mobile-cards-container li {
	padding: 7.5px;
	a {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		width: 80%;
		left: 10%;
		margin: 0 auto;
		height: 150px;
		background: $slate;
		font-weight: 600;
		svg {
			@include svg-stroke(white, 4);
			width: 80px;
			height: 80px;
		}
		span {
			display: block;
			span {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
}


#mobile-guru-home header .text-center  {
	h2 {
		font-size:20px !important;
	}
}


body.platform-ios
#mobile-guru-home
{
	height: calc(100% - 20px)!important;
	margin-top: 20px;
}


.show-display {
	display:block !important;
}

#guru-profile-cta-close {

	z-index: 10;
	svg {
		stroke:white;
		height:30px;
		width:30px;
	}
}

.pf-edit-pf.pf-desktop-edit {
	z-index:1000;
}

.guru-cta-profile-container {
	width: 100%;
    position: absolute !important;
    height: 100%;
    display: block;
    right: 0;
    top: 60px;
    height: calc(100% - 138px);
}

.high-z-index {
	z-index: 1000;
}
.z-index-11 {
	z-index:11;
}

.height-100 {
	height:100px;
}

// #cta-modal-profile-pi-item {
// 	top:60px;
// 	z-index:1000;
// 	height:calc(100% - 140px);
// 	width:66% !important;
// }

.min-height-modal-desktop {
	min-height: 800px;
}


.hs-view {
	background: url(https://uguru.me/static/web/images/bg/hs-desk.png) no-repeat center center fixed !important;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;

	&#desktop-university {
		div.main.default {
			margin-top:20% !important;

			.university-content-header h1 {
				font-size:48px;
				margin-top:-7.5% !important;
			}
		}
	}
}


#label-course-input-1:hover {
	display:none;
}
#desktop-student-home {

	ion-pane.cta-modal {
		z-index:10;
		.desktop-header {
			z-index:10;
		}
		.request-form-container {
			#request-form-slide-box {
				top:4px;
			}
		}
	}
	.hide-display {
		display:none;
	}

}

#pf-shop-desc-backdrop {
	z-index:98;
	opacity:0.3;
	display:none;
}

.pf-tags {
	@include flex;
	@include flex-wrap;
	width: 100%;
	.chip {
		@include transition(.15s ease-in-out);
		@include flex;
		@include flex-center-vertical;
		background: lighten($slate, 10%);
		margin-right: 15px;
		border: 0;
		&:hover {
			background: lighten($slate, 15%);
		}
		svg {
			@include svg-stroke(white, 10);
			width: 12px;
			height: 12px;
			margin-right: 3px;
		}
		input {
			background: transparent;
			border: 0;
			color: white!important;
			@include placeholder {
				color: white!important;
			}
		}
	}
}
.pf-photo-list {
	width: 100%;
	overflow: auto;
	ul {
		@include flex;
		height: 100%;
		padding: 7.5px;
		li {
			padding: 7.5px;
			height: 100%;
			&:last-child {
				padding-right: 15px;
			}
			div {
				position: relative;
				width: 150px;
				height: 100%;
				background: $slate;
				border: 2px solid white;
				border-radius: 10px;
			}
			div.pf-upload-img {
				background-position: center center;
				background-size: cover;
			}
			div.pf-upload-img, div.pf-upload-file {
				a {
					svg {
						@include rotate(45);
						@include svg-stroke(white, 8);
						position: absolute;
						top: 5px;
						left: 5px;
						width: 25px;
						height: 25px;
					}
				}
			}
			div.pf-upload-file {
				border: 0;
				width: auto;
				background: none!important;
				svg.doc-outline {
					@include svg-stroke(white, 1.5);
					display: block;
					height: 100%;
					fill: $shamrock;
				}
				&.pf-upload-pdf {
					svg.doc-outline {
						height: 100%;
						fill: $auburn;
					}
				}
				&.pf-upload-doc {
					svg.doc-outline {
						height: 100%;
						fill: $lake;
					}
				}
				&.pf-upload-sheet {
					svg.doc-outline {
						height: 100%;
						fill: $moola;
					}
				}
				.doc-info {
					@include center-xy;
					width: 100%;
					padding: 30px 15px 15px;
					span {
						display: block;
						font-weight: 600;
					}
					.doc-name {
						font-size: 20px;
					}
					.doc-type {
						font-size: 16px;
					}
				}
			}
			div.pf-upload-add {
				position: relative;
				border-style: dashed;
				border: 0;
				background: none;
				width: auto;
				.square {
					height: 100%;
					fill: none;
				}
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					border: 2px dashed $shamrock;
					span {
						svg {
							@include svg-stroke($shamrock, 6);
							width: 100%;
							height: 30px;
						}
						span {
							display: block;
							font-size: 18px;
							font-weight: 600;
							color: $shamrock;
						}
					}
					&:hover, &:focus {
						background: white;
					}
					&:active, &.active {
						background: lighten($shamrock, 30%);
					}
				}
			}
		}
	}
}

.angular-google-map,
.angular-google-map-container {
	height:calc(100%) !important;
	width:calc(100%) !important;
}


#request-form-map-search {
	z-index:1000;
	width:400px;
}

.request-form-time {
	width: 100%;
	ul {
		@include flex;
		@include flex-center;
		color: $taupe;
		font-size: 24px;
		font-weight: 600;
		li {
			margin: 0 7.5px;
			&:nth-child(1),
			&:nth-child(2) {
				position: relative;
				span {
					@include flex;
					@include flex-center;
					padding: 15px;
					background: white;
					border-radius: 2px;
				}
				input {
					display: inline-block;
					text-align: right;
					background: white;
					border: 0;
					font-size: 24px;
					font-weight: 600;
					color: $taupe;
					@include placeholder {
						color: rgba($taupe,.5);
					}
				}
			}
			&:nth-child(1) {
				margin-right: 15px;
				&::after {
					@include center-y;
					right: -15px;
				}
				span {
					input {
						max-width: 20px;
					}
					&::after {
						content: "hr";
						display: inline-block;
						padding-left: 5px;
					}
				}
			}
			&:nth-child(2) {
				span {
					input {
						max-width: 30px;
					}
					&::after {
						content: "min";
						display: inline-block;
						padding-left: 5px;
					}
				}
			}
		}
	}
}

.request-urgency-check-container {

	@include flex-wrap;
	overflow: auto;
	padding: 15px!important;
	.request-urgency-check {
		@include flex;
		@include flex-center;
		margin-top: 0!important;
		div {
			position: relative;
			input {
				@include opacity(0);
				position: absolute;
				z-index: 12;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			span {
				display: block;
				width: 32px;
				height: 32px;
				border-radius: 3px;
				background: $slate;
				svg {
					@include svg-stroke(lighten($slate, 20%), 10);
					padding: 4px;
					width: 100%;
					height: 100%;
				}
			}
			input:checked + span {
				background: $shamrock;
				svg {
					stroke: white;
				}
			}
		}
		label {
			padding-left: 15px;
			color: white;
			font-size: 20px;
			font-weight: 600;
		}
	}

}

