@import 'mixin';
a.cta-modal-close svg {
	height:50px;
}

#profile-info {
	position:relative;
	ion-pane {
		position:absolute !important;
		top:0;
		left:0;
		width:100%;
		height:100%;
		font-size: 18px;
	}

	#profile-title {
		position:relative;
		a
		{
			margin:10px;
			top:inherit;
			bottom:0px !important;
			position:absolute;
		 	svg {
				height:50px;
			}
		}
	}

	#cta-modal-profile-contact > div:last-child {
		height:100%;
	}

	#cta-modal-profile-languages header {
		display:block !important;
	}
	.cta-modal {
		header {
			display:none;
		}
		#guru-contact-container {
			height:calc(100% - 80px) !important;
			#contact-type
			{
				height: calc(100% - 64px);
				padding:1px;
				ul#contact-type-list li {
					padding:0px;
					label {
						span {
							color:white;
						}
						svg {
							height:50px;
						}
					}
				}
			}
		}
	}
	#experience-modal {
		height:calc(100% - 80px) !important;
		bottom:0;
		top:80px;
		width:100%;
		div.main {
			@include flex-wrap;
			width:100%;
			div {
				width:100%
			}
		}
	}
	#cta-modal-profile-courses {
		#desktop-courses {
			#main-logo
			{
				display:none;
			}

			div.main.default
			{
				@include flex-center;
				@include flex-wrap;
			}
		}
		form {
			width: 100%!important;
		}
		#courses-list {
			li {
				border: 0!important;
			}
			li:nth-child(9),
			li:nth-child(10),
			li:nth-child(11),
			li:nth-child(12),
			li:nth-child(13),
			li:nth-child(14),
			li:nth-child(15),
			li:nth-child(16) {
				display:none !important;
			}
		}
	}
}

#desktop-guru-profile #profile #profile-info .profile-title h1 {
    background: none;
    padding: 10px 15px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
}