@import 'mixin';

/* ---------- PROFILE STYLES */
.pf-review-amt {
	display: block;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.pf-rating {
	@include flex;
	@include flex-center;
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
	li {
		width: 20%;
		svg {
			@include svg-stroke($gold, 7);
			polygon:nth-child(2) {
				@include opacity(0);
				stroke-width: 0;
				fill: $gold;
			}
		}
	}
	&[data-rating="1"] {
		li:nth-child(1) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"] {
			li:nth-child(2) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating="2"] {
		li:nth-child(1), li:nth-child(2) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"] {
			li:nth-child(3) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating="3"] {
		li:nth-child(1), li:nth-child(2), li:nth-child(3) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"] {
			li:nth-child(4) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating="4"] {
		li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"] {
			li:nth-child(5) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating="5"] {
		li {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
	}
}
.pf-header-bg {
	@include blur(50);
	position: absolute!important;
	top: -25%;
	left: -25%;
	width: 150%;
	height: 150%;
	background-position: center center;
	background-size: cover;
}
.pf-header-color {
	@include opacity(.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: desaturate(darken($shamrock, 20%), 10%);
}
.pf-type {
	header.third {
		position: relative;
		overflow: hidden;
		h1.pf-title {
			font-size: 28px!important;
			text-transform: none;
		}
		.pf-banner {
			display: none;
			position: absolute;
			top: 0;
			right: 15px;
			background: $shamrock;
			width: 50px;
			height: 50px;
			svg {
				position: absolute;
				top: 5px;
				padding: 5px;
				width: 50px;
				height: 50px;
				path {
					@include svg-stroke(white, 3);
				}
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -20px;
				left: 0;
				width: 0;
				height: 0;
				border: 25px solid $shamrock;
				border-top-width: 10px!important;
				border-bottom-width: 10px!important;
				border-bottom-color: transparent;
			}
		}
		.pf-header {
			width: 100%;
			text-align: center;
			h1 {
				padding: 5px 0 0;
				font-size: 24px!important;
				text-transform: none;
				&.verified span svg {
					margin-left: 8px;
					margin-top: 6px;
				    width: 24px;
				    height: 24px;
				}
			}
			.pf-school {
				margin: 0!important;
				font-size: 20px;
			}
			.user-icon {
				width: 72px;
				height: 72px;
				border-width: 3px;
			}
			.pf-rating {
				margin: 5px auto 0;
			}
			.pf-review-amt {
				margin-top: -5px;
				margin-bottom: 5px;
			}
			button {
				padding: 5px 30px;
			}
			.pf-header-desc {
				display: none;
				margin: 15px 25px 0;
				width: calc(100% - 50px);
				height: 124px;
				padding: 0 5px;
				resize: none;
				overflow: auto;
				background: rgba(white, .4);
				color: white;
				font-size: 20px;
				font-weight: 400;
				line-height: 1.2;
				text-align: center;
				&:focus {
					background: white;
					color: $charcoal;
				}
				&:disabled {
					background: none;
				}
			}
			.pf-url {
				display: none;
				@include flex-center;
				@include center-x;
				bottom: 30px;
				font-size: 18px;
				font-weight: 400;
				li {
					&:first-child {
						padding: 10px 15px;
						background: rgba(white,.7);
						text-transform: lowercase;
						a {
							color: $slate;
						}
					}
					input, span {
						color: $slate;
					}
					&:last-child {
						a {
							@include flex;
							@include flex-center;
							width: 40px;
							height: 40px;
							padding: 5px;
							background: white;
							svg {
								@include svg-stroke-width(5);
								stroke: $slate;
								width: 100%;
								height: 100%;
							}
							&:hover, &:focus {
								background: $slate;
								svg {
									stroke: white;
								}
							}
							&:active {
								background: $charcoal;
								svg {
									stroke: white;
								}
							}
						}
					}
				}
				&.pf-edit-url {
					li {
						&:first-child {
							@include flex;
							@include flex-center-vertical;
							padding: 0;
							height: 40px;
							input {
								@include transition(.15s ease-in-out);
								@include flex;
								@include flex-center-vertical;
								height: 100%;
								padding: 5px 0 5px 10px;
								border: 0;
								background: rgba(white,.6);
								font-size: 18px;
								text-transform: lowercase;
								&:hover, &:focus {
									background: white;
								}
							}
							span {
								@include flex;
								@include flex-center-vertical;
								height: 100%;
								padding: 5px 10px 5px 0;
							}
						}
					}
				}
			}
		}
		.pf-photo-list {
			margin-top: 30px;
			height: calc(100% - 80px);
			width: 100%;
			overflow: auto;
			ul {
				@include flex;
				height: 100%;
				padding: 7.5px;
				li {
					padding: 7.5px;
					height: 100%;
					&:last-child {
						padding-right: 15px;
					}
					div {
						position: relative;
						width: 150px;
						height: 100%;
						background: $slate;
						border: 2px solid white;
						border-radius: 10px;
					}
					div.pf-upload-img {
						background-position: center center;
						background-size: cover;
					}
					div.pf-upload-img, div.pf-upload-file {
						a {
							svg {
								@include rotate(45);
								@include svg-stroke(white, 8);
								position: absolute;
								top: 5px;
								left: 5px;
								width: 25px;
								height: 25px;
							}
						}
					}
					div.pf-upload-file {
						border: 0;
						width: auto;
						background: none!important;
						svg.doc-outline {
							@include svg-stroke(white, 1.5);
							height: 100%;
							fill: $shamrock;
						}
						&.pf-upload-pdf {
							svg.doc-outline {
								@include svg-stroke(white, 1.5);
								height: 100%;
								fill: $auburn;
							}
						}
						&.pf-upload-doc {
							svg.doc-outline {
								@include svg-stroke(white, 1.5);
								height: 100%;
								fill: $lake;
							}
						}
						&.pf-upload-sheet {
							svg.doc-outline {
								@include svg-stroke(white, 1.5);
								height: 100%;
								fill: $moola;
							}
						}
						.doc-info {
							@include center-xy;
							width: 100%;
							padding: 30px 15px 15px;
							span {
								display: block;
								font-weight: 600;
							}
							.doc-name {
								font-size: 20px;
							}
							.doc-type {
								font-size: 16px;
							}
						}
					}
					div.pf-upload-add {
						position: relative;
						border-style: dashed;
						border-color: $shamrock;
						background: none;
						width: auto;
						.square {
							height: 100%;
							fill: none;
						}
						a {
							@include flex;
							@include flex-wrap;
							@include flex-center;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							span {
								svg {
									@include svg-stroke($shamrock, 6);
									width: 100%;
									height: 30px;
								}
								span {
									display: block;
									font-size: 18px;
									font-weight: 600;
									color: $shamrock;
								}
							}
						}
					}
				}
			}
		}
	}
	.pf-item-header {
		@include flex;
		-webkit-align-items: flex-end;
		align-items: flex-end;
		-webkit-justify-content: center;
		justify-content: center;
		div {
			position: relative;
			width: 100%;
			text-align: left;
		}
	}
	.pf-price {
		@include center-y;
		background: $charcoal;
		font-size: 18px;
		font-weight: 600;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			border: 20px solid $charcoal;
			border-left-width: 10px!important;
			border-right-width: 10px!important;
		}
		&.pf-price-right {
			padding: 10px 15px 10px 0;
			right: 0;
			&:after {
				left: -20px;
				border-left-color: transparent!important;
			}
		}
		&.pf-price-left {
			padding: 10px 0 10px 15px;
			left: 0;
			&:after {
				right: -20px;
				border-right-color: transparent!important;
			}
		}
	}
	.pf-range {
		text-align: center;
		padding-top: 52px;
		input[type=range] {
			&::-webkit-slider-thumb {
				position: relative;
				border-radius: 0;
				margin-top: -64px;
				width: 36px;
				height: 36px;
				&:before {
					@include center-xy;
					content: "$5";
					font-size: 18px;
					font-weight: 600;
				}
				&:after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: -36px;
					width: 0;
					height: 0;
					border: 18px solid transparent;
					border-top-color: white;
				}
			}
			&[value="0"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "‹ 1";
					}
				}
			}
			&[value="5"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$5";
					}
				}
			}
			&[value="6"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$6";
					}
				}
			}
			&[value="7"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$7";
					}
				}
			}
			&[value="8"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$8";
					}
				}
			}
			&[value="9"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$9";
					}
				}
			}
			&[value="10"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$10";
					}
				}
			}
			&[value="11"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$11";
					}
				}
			}
			&[value="12"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$12";
					}
				}
			}
			&[value="13"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$13";
					}
				}
			}
			&[value="14"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$14";
					}
				}
			}
			&[value="15"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$15";
					}
				}
			}
			&[value="16"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$16";
					}
				}
			}
			&[value="17"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$17";
					}
				}
			}
			&[value="18"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$18";
					}
				}
			}
			&[value="19"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$19";
					}
				}
			}
			&[value="20"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$20";
					}
				}
			}
			&[value="21"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$21";
					}
				}
			}
			&[value="22"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$22";
					}
				}
			}
			&[value="23"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$23";
					}
				}
			}
			&[value="24"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$24";
					}
				}
			}
			&[value="25"] {
				&::-webkit-slider-thumb {
					&:before {
						content: "$25";
					}
				}
			}
			&::-webkit-slider-runnable-track {
				height: 5px;
			}
			&::-moz-range-track {
				height: 5px;
			}
			&::-ms-track {
				height: 5px;
			}
		}
		.ugrid-3 {
			margin: 5px 0 0;
			font-size: 16px;
			font-weight: 400;
			li {
				&:first-child {
					text-align: left;
				}
				&:last-child {
					text-align: right;
				}
			}
		}
	}
	.pf-shop-desc {
		padding: 15px;
		text-align: center;
		h1 {
			font-size: 32px;
			font-weight: 600;
		}
		p {
			margin-top: 5px;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.2;
		}
	}
	.pf-list {
		h1 {
			background: $shamrock;
			padding: 5px;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
		}
		.pf-list-desc {
			display: none;
			width: 100%;
			text-align: left;
			margin-top: 15px;
			font-size: 20px;
			font-weight: 400;
			&:empty {
				margin-top: 0;
			}
		}
		.pf-list-y {
			margin-top: 2px;
			> li {
				padding: 15px;
				background: $charcoal;
				font-size: 18px;
				font-weight: 600;
				[data-years]:not([data-years="1"]):after {
					content: "s";
				}
				&:not(:last-child) {
					margin-bottom: 2px;
				}
				ul {
					li:last-child {
						@include opacity(.5);
					}
				}
			}
		}
		.pf-list-x {
			margin-top: 2px;
			li {
				background: $charcoal;
				padding: 6.25px;
				svg {
					@include svg-stroke(white, 4);
					width: 100%;
					height: 50px;
				}
			}
			&.pf-attachments {
				padding: 7.5px;
				background: $charcoal;
				li {
					padding: 7.5px;
					a {
						@include flex;
						@include flex-wrap;
						padding: 10px 15px;
						background: $slate;
						h2, h3 {
							width: 50%;
							margin: 0;
						}
						h2 {
							font-size: 18px;
							font-weight: 600;
							text-align: left;
						}
						h3 {
							font-size: 18px;
							text-align: right;
						}
						p {
							font-size: 14px;
							line-height: 1.4!important;
							text-align: left;
						}
					}
				}
			}
		}
	}
	.pf-reviews {
		h2 {
			font-weight: 600;
		}
	}
	.pf-select {
		height: calc(100% / 3 * 2);
		padding: 7.5px;
		> li {
			padding: 7.5px;
			height: 25%;
			a {
				@include flex;
				@include flex-center;
				height: 100%;
				border-bottom: 10px solid rgba(white,.7);
				border-radius: 2px;
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
				&:not([class*="bg-"]) {
					background: $shamrock;
				}
			}
		}
	}
	.pf-checklist {
		height: calc(100% / 3 * 2 - 64px);
		overflow: auto;
		padding: 7.5px;
		> li:not(.pf-checklist-full) {
			padding: 7.5px;
			position: relative;
			height: 50%;
			.pf-edit-link {
				position: absolute;
			    top: 0;
			    left: 0;
			    padding: 15px;
			    font-size: 20px;
			    font-weight: 600;
			}
			input {
				@include opacity(0);
				position: absolute;
				z-index: 10;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			div {
				@include flex;
				position: relative;
				-webkit-align-items: flex-end;
				align-items: flex-end;
				-webkit-justify-content: center;
				justify-content: center;
				background: $charcoal;
				background-position: center center;
				background-size: cover;
				height: 100%;
				.pf-check {
					@include flex;
					@include flex-center;
					position: absolute;
					top: 0;
					right: 0;
					background: rgba(white,.4);
					border-radius: 0 0 0 75%;
					width: 40px;
					height: 40px;
					padding: 5px 5px 10px 10px;
					svg {
						@include svg-stroke(rgba(white,.5), 10);
						width: 100%;
						height: 100%;
					}
					&.pf-remove {
						background: white;
						svg {
							@include transition(.15s ease-in-out);
							position: absolute;
							top: 0;
							left: 0;
							stroke: $shamrock;
							&:first-child {
								padding: 5px 5px 10px 10px;
							}
							&:last-child {
								@include opacity(0);
								@include rotate(45);
								padding: 5px 5px 10px 5px;
							}
						}
						&:hover, &:focus {
							background: $shamrock;
							svg {
								stroke: white;
								&:first-child {
									@include opacity(0);
								}
								&:last-child {
									@include opacity(1);
								}
							}
						}
					}
				}
				.pf-check-label {
					display: block;
					width: 100%;
					background: $shamrock;
					padding: 15px;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
					.pf-rating {
						display: none;
						margin: 10px auto 0;
						max-width: 120px;
					}
					.pf-review-amt {
						display: none;
					}
				}
			}
			input:checked + div .pf-check {
				background: white;
				svg {
					stroke: $shamrock;
				}
			}
		}
		.pf-checklist-add {
			a {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				width: 100%;
				height: 100%;
				background: $shamrock;
				text-align: center;
				span {
					background: none!important;
					font-weight: 600;
					svg {
						@include svg-stroke(white, 3);
						display: block;
						margin: 0 auto;
						width: 100px;
						height: 100px;
					}
				}
				&:hover, &:focus {
					background: white;
					span {
						color: $shamrock;
						svg {
							stroke: $shamrock;
						}
					}
				}
				&:active, &.active {
					background: $shamrock;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
		.pf-checklist-full {
			display: none;
		}
	}
	.pf-tabs {
		background: $charcoal;
		ul {
			@include flex;
			padding: 0 7.5px;
			li {
				width: 100%;
				text-align: center;
				padding: 0 7.5px;
				a {
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					display: block;
					padding: 15px;
					font-size: 18px;
					font-weight: 600;
					text-transform: uppercase;
					&.active {
						border-bottom: 5px solid $shamrock;
					}
				}
			}
		}
	}
	.pf-tab-item {
		height: calc(100% / 3 * 2 - 60px);
		overflow: auto;
		&:not(.active) {
			display: none;
		}
	}
	.pf-tab-container {
		position: relative;
		height: calc(100% / 3 * 2);
		.pf-tab-item {
			height: calc(100% - 60px);
		}
	}
	&.pf-has-edit {
		.pf-tab-container {
			.pf-tab-item {
				padding-bottom: 75px;
			}
		}
	}
	.pf-links {
		@include flex;
		@include flex-center;
		@include flex-wrap;
		padding: 7.5px!important;
		li {
			padding: 7.5px;
			a {
				@include round;
				display: block;
				width: 48px;
				height: 48px;
				svg {
					width: 100%;
					height: 100%;
					padding: 6px;
					fill: white;
				}
				&.pf-link-add {
					background: $shamrock;
					svg {
						@include svg-stroke(white, 5);
					}
				}
			}
		}
	}
}

// EDIT
.pf-edit-pf {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.pf-desktop-edit {
	@include opacity(0);
	display: none;
	padding: 15px;
	background: rgba(lighten($slate, 10%), .9);
	text-align: center;
}
.pf-mobile-edit {
	button {
		background: rgba(lighten($slate, 10%), .9);
		font-weight: 600;
		&:hover, &:focus {
			@include opacity(1);
			background: rgba(lighten($slate, 20%), .9);
		}
		&:active, &.activated {
			background: rgba(lighten($slate, 10%), .9);
		}
	}
}
.pf-edit {
	background: lighten($charcoal, 2%);
	button {
		background: $shamrock;
		font-weight: 600;
		&:hover, &:focus {
			@include opacity(1);
			background: white!important;
			color: $shamrock;
		}
		&:active, &.activated {
			background: $shamrock!important;
			color: white;
		}
	}
	.main {
		height: calc(100% / 3 * 2 - 64px);
		overflow: auto;
		padding: 15px;
		.input-outline {
			@include transition(.15s ease-in-out);
			border-color: lighten($slate, 10%);
			background: lighten($slate, 5%);
			&:focus {
				border-color: lighten($slate, 20%);
				background: lighten($slate, 10%);
			}
		}
		.pf-title-edit.input-outline {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			font-weight: 600;
		}
		textarea.input-outline {
			width: 100%;
			resize: none;
			height: 176px;
			font-size: 20px;
			font-weight: 400;
		}
		> div {
			margin-top: 15px;
			h1 {
				font-size: 18px;
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
		.pf-tag-edit {
			@include flex;
			@include flex-wrap;
			.chip {
				@include transition(.15s ease-in-out);
				@include flex;
				@include flex-center-vertical;
				background: lighten($slate, 10%);
				margin-right: 15px;
				&:hover {
					background: lighten($slate, 15%);
				}
				svg {
					@include svg-stroke(white, 10);
					width: 12px;
					height: 12px;
					margin-right: 3px;
				}
				input {
					background: transparent;
					border: 0;
					color: white!important;
					@include placeholder {
						color: white!important;
					}
				}
			}
		}
		.pf-pricing {
			margin-top: 30px;
			background: lighten($slate, 5%);
			padding: 15px;
		}
	}
}
.pf-checklist-full {
	.pf-edit {
		header.third {
			height: 256px!important;
			h1 {
				font-size: 28px!important;
				text-transform: none!important;
			}
			.pf-photo-list {
				margin-top: 15px;
				height: calc(100% - 72px);
				li {
					div.pf-upload-file {
						svg.doc-outline {
							stroke-width: 1px!important;
						}
					}
				}
			}
		}
	}
}

// DESKTOP
@media screen and (min-width:768px) {
	.pf-desktop-edit {
		@include opacity(1);
		display: block;
	}
	.pf-mobile-edit {
		@include opacity(0);
		display: none;
	}
	.pf-type:not(.pf-modal) {
		.pf-links {
			li {
				padding: 7.5px 15px;
			}
		}
		&.pf-has-edit {
			.pf-tab-container {
				.pf-tab-item {
					padding-bottom: 98px;
				}
			}
		}
		> section {
			@include flex;
		}
		> section > header.third {
			width: calc(100% / 3);
			height: 100%;
			.pf-header-bg {
				@include blur(100);
			}
			.pf-header {
				h1 {
					font-size: 28px!important;
				}
				.pf-school {
					font-size: 24px!important;
				}
				.pf-rating {
					max-width: 150px;
					margin: 10px auto 0!important;
				}
				.pf-review-amt {
					font-size: 16px;
					margin-bottom: 15px;
				}
				button {
					padding: 10px 30px;
				}
				.pf-header-desc {
					display: block;
				}
				.pf-url {
					@include flex;
				}
			}
		}
		.pf-tabs {
			ul {
				max-width: 400px;
				margin: 0 auto;
			}
		}
		> section > .pf-tab-container {
			width: calc(100% / 3 * 2);
			height: 100%;
		}
	}
	.pf-modal {
		.pf-shop-item-header {
			h1 {
				font-size: 48px!important;
			}
		}
	}
	.pf-type {
		.chip {
		    height: 36px;
		    font-size: 16px;
		    line-height: 36px;
		    padding: 0 16px;
		    border-radius: 18px;
		}
		.pf-checklist {
			padding: 15px;
			> li:not(.pf-checklist-full) {
				padding: 15px;
				div {
					.pf-check-label {
						font-size: 24px;
						.pf-rating {
							@include flex;
						}
						.pf-review-amt {
							display: block;
						}
					}
				}
			}
			.pf-checklist-full.active:not(.pf-type-photo) {
				.pf-item-header {
					height: 256px!important;
				}
			}
			.pf-checklist-full.active {
				display: block;
				width: 100%!important;
				padding: 15px;
				.pf-item-header {
					background-color: $charcoal;
				}
				.pf-tab-container {
					height: auto;
				}
				.pf-attachments, .pf-tags, .pf-ingredients {
					h3 {
						font-size: 24px;
					}
				}
				.pf-attachments {
					ul {
						@include flex;
						@include flex-wrap;
						li {
							width: 50%;
						}
					}
					p {
						margin-top: 5px;
						font-size: 20px;
					}
				}
				.pf-reviews {
					background: rgba($charcoal, .5);
					h2 {
						font-size: 28px;
					}
					h4 {
						font-size: 24px;
    					line-height: 32px;
					}
					p {
						font-size: 20px;
					}
				}
			}
		}
		.pf-shop-desc {
			padding: 30px;
			h1 {
				font-size: 48px;
			}
			p {
				margin-top: 10px;
				font-size: 24px;
			}
			.p15top {
				padding-top: 30px!important;
			}
			.m10top {
				margin-top: 15px!important;
			}
			.pf-list {
				h1 {
					font-size: 18px;
				}
				.pf-list-desc {
					display: block;
				}
				.pf-list-y {
					> li {
						font-size: 24px;
					}
				}
				.pf-list-x {
					background: $charcoal;
					&:not(.pf-attachments) {
						@include flex-center;
						li {
							max-width: 150px;
							svg {
								height: 64px;
								&:last-child:not(:first-child) {
									@include rotate(45);
									display: none;
								}
							}
							a {
								&:hover, &:focus {
									svg {
										&:first-child:not(:last-child) {
											display: none;
										}
										&:last-child {
											display: block;
										}
									}
								}
							}
						}
					}
					&.pf-attachments {
						li {
							width: 50%;
						}
					}
				}
			}
			.pf-reviews {
				h2 {
					font-size: 28px!important;
				}
			}
		}
	}
}

// MODAL
.pf-modal {
	header.third.pf-item-header {
		.pf-header-bg {
			@include blur(0);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.pf-header-info {
			height: 70px;
			.pf-price {
				background: $shamrock;
				&:after {
					border-color: $shamrock;
				}
			}
			.pf-photo-nav {
				@include center-y;
				@include flex;
				@include flex-wrap;
				@include flex-center;
				right: 15px;
				height: 40px;
				width: 96px;
				> * {
					@include flex;
					@include flex-center;
				}
				span {
					width: 100%;
					font-size: 16px;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
				}
				ul {
					li {
						padding: 4px;
						a {
							@include round;
							display: block;
							width: 8px;
							height: 8px;
							background: white;
							&:not(.active) {
								@include opacity(.5);
							}
						}
					}
				}
			}
		}
	}
	.pf-tab-container {
		overflow: auto;
	}
	.pf-shop-item-header {
		position: relative;
		background: $shamrock;
		text-align: center;
		h1 {
			font-size: 32px;
			font-weight: 600;
		}
		&:not(:empty) {
			padding: 10px 15px;
		}
		.pf-rating {
			margin-top: 3px;
			max-width: 120px;
		}
		+ p {
			margin: 0;
			&:not(:empty) {
				padding: 15px;
			}
		}
	}
	p:empty + .pf-attachments {
		margin-top: 10px;
	}
	.pf-shop-item {
		background: $charcoal;
		padding: 0;
		.pf-attachments, .pf-tags, .pf-ingredients {
			padding: 0 15px 15px;
			text-align: left;
			h3 {
				font-size: 18px;
				font-weight: 700;
			}
		}
		.pf-tags {
			text-align: center;
		}
		// .pf-ingredients {
		// 	div {
		// 		font-size: 18px;
		// 		font-weight: 400;
		// 		line-height: 1.2;
		// 		span {
		// 			&:not(:last-child):after {
		// 				content: ",";
		// 			}
		// 		}
		// 	}
		// }
		.pf-ingredients {
			div {
				.chip {
					margin-top: 5px;
				}
			}
		}
		.pf-attachments {
			ul {
				margin: 0 -7.5px;
				li {
					padding: 15px 7.5px 0;
					> div {
						@include flex;
						padding: 15px;
						background: $slate;
						height: 105px;
						overflow: hidden;
						.pf-attach-icon {
							position: relative;
							display: block;
							width: 90px;
							.square {
								fill: none;
								height: 75px;
								width: 75px;
								+ svg {
									@include svg-stroke(white, 2);
									position: absolute;
									top: 0;
									left: 0;
									width: 75px;
									height: 75px;
								}
							}
							span {
								@include center-xy;
								padding-right: 15px;
								font-size: 24px;
								font-weight: 600;
								text-transform: uppercase;
							}
							&.pf-attach-pdf {
								.square + svg {
									fill: $cerise;
								}
							}
							&.pf-attach-doc {
								.square + svg {
									fill: $lake;
								}
							}
							&.pf-attach-img {
								.square + span {
									@include translate(0,0);
									top: 0;
									left: 0;
									display: block;
									width: calc(100% - 15px);
									height: 100%;
									background: $charcoal;
									border-radius: 7px;
									border: 2px solid white;
									background-position: center center;
									background-size: cover;
								}
							}
						}
						div {
							width: calc(100% - 90px);
							h4 {
								font-weight: 600;
							}
							p {
								margin-bottom: 0!important;
							}
						}
					}
				}
			}
		}
	}
	.pf-reviews {
		padding: 15px;
		background: $slate;
		text-align: center;
		> ul {
			> li {
				@include flex;
				margin-top: 15px;
				text-align: left;
				.user-icon {
					width: 48px;
					height: 48px;
					border-width: 2px;
				}
				div {
					@include flex;
					@include flex-wrap;
					@include flex-center-vertical;
					margin-top: -5px;
					width: calc(100% - 48px);
					padding-left: 15px;
					h4 {
						width: calc(100% - 100px);
						font-size: 18px;
						font-weight: 700;
						line-height: 22px;
					}
					p {
						font-size: 18px;
						font-weight: 400;
					}
				}
			}
		}
	}
}



/* ---------- PROFILE CARDS */
.pf-card-container {
	@include flex;
	@include flex-center;
	padding: 15px;
}
.pf-card {
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
	background: white;
	color: $slate;
	.pf-card-top {
		position: relative;
		background: $shamrock;
		height: 100px;
		ul {
			@include flex;
			@include flex-center-vertical;
			li {
				width: 50%;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				&:first-child {
					padding: 10px 15px;
					color: white;
				}
				&:last-child {
					@include flex;
					@include flex-right-center;
					> span {
						position: relative;
						background: white;
						padding: 10px 15px 10px 0;
						color: $shamrock;
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: -20px;
							width: 0;
							height: 0;
							border: 20px solid white;
							border-left-width: 10px!important;
							border-right-width: 10px!important;
							border-left-color: transparent;
						}
						span {
							&:after {
								content: "th";
							}
							&[data-rank="1"] {
								&:after {
									content: "st";
								}
							}
							&[data-rank="2"] {
								&:after {
									content: "nd";
								}
							}
							&[data-rank="3"] {
								&:after {
									content: "rd";
								}
							}
						}
					}
				}
			}
		}
		.user-icon {
			@include center-x;
			bottom: -84px;
			border-width: 5px;
		}
	}
	.pf-card-main {
		padding: 84px 15px 15px;
		text-align: center;
		h1 {
			padding-top: 5px;
			font-size: 28px;
			font-weight: 600;
			&.verified span svg {
				margin-left: 8px;
				margin-top: 6px;
				width: 24px;
				height: 24px;
			}
		}
		.pf-school {
			margin-top: 0;
			font-size: 20px;
			font-weight: 400;
		}
		.pf-rating {
			margin: 15px auto 0;
		}
		.pf-review-amt {
			display: block;
			margin-top: -3px;
		}
		.pf-card-thumbs {
			@include flex;
			margin: 7.5px -7.5px 0;
			li {
				padding: 7.5px 7.5px 0;
				width: calc(100% / 3);
				a {
					display: block;
					position: relative;
					span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: $shamrock;
						background-position: center center;
						background-size: cover;
					}
					svg {
						fill: none!important;
					}
				}
			}
		}
	}
}


// ACADEMIC
.pf-edit.pf-type-academic {
	button {
		background: $cerise;
		&:hover, &:focus {
			color: $cerise;
		}
		&:active, &.activated {
			background: $cerise!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $cerise;
						a {
							span {
								svg {
									stroke: $cerise;
								}
								span {
									color: $cerise;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-academic {
	.pf-card-top {
		background: $cerise;
		ul {
			li {
				&:last-child {
					> span {
						color: $cerise;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $cerise;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $cerise;
					}
				}
			}
		}
	}
}
.pf-type-academic {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $cerise;
					&:after {
						border-color: $cerise;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $cerise;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($cerise, 20%), 20%);
		}
		.pf-banner {
			background: $cerise;
			&:after {
				border: 25px solid $cerise;
				border-bottom-color: transparent;
			}
			&.pf-banner-academic {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($cerise, 20%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $cerise;
					}
					&:hover, &:focus {
						background: $cerise;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($cerise, 20%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $cerise;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $cerise;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $cerise;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $cerise;
						}
						&:hover, &:focus {
							background: $cerise;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $cerise;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $cerise;
			}
		}
		.pf-checklist-add {
			a {
				background: $cerise;
				&:hover, &:focus {
					background: white;
					span {
						color: $cerise;
						svg {
							stroke: $cerise;
						}
					}
				}
				&:active, &.active {
					background: $cerise;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// PHOTOGRAHPY
.pf-edit.pf-type-photo {
	button {
		background: $moola;
		&:hover, &:focus {
			color: $moola;
		}
		&:active, &.activated {
			background: $moola!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $moola;
						a {
							span {
								svg {
									stroke: $moola;
								}
								span {
									color: $moola;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-photo {
	.pf-card-top {
		background: $moola;
		ul {
			li {
				&:last-child {
					> span {
						color: $moola;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $moola;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $moola;
					}
				}
			}
		}
	}
}
.pf-type-photo {
	&.pf-modal {
		> section {
			overflow: auto;
			> header.third.pf-item-header {
				@include flex-wrap;
				height: auto!important;
				.pf-header-bg {
					height: auto;
					position: relative;
					top: auto;
					left: auto;
					width: 100%;
					img {
						display: block;
						width: 100%;
						max-width: 100%;
					}
					.pf-photo-desc {
						@include flex;
						@include flex-wrap;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 15px;
						background: rgba($charcoal,.8);
						color: white;
						font-size: 16px;
						font-weight: 400;
						line-height: 1.25;
						@media screen and (min-width:768px) {
							font-size: 20px;
						}
						&:not(.active) {
							@include opacity(0);
							display: none;
						}
						&.active + .pf-photo-info {
							@include opacity(0);
						}
						.pf-photo-tags {
							padding-top: 2px;
							font-size: 14px;
							ul {
								@include flex;
								@include flex-wrap;
								width: 100%;
								li {
									padding-right: 7px;
									a {
										@include opacity(.75);
										&.tag::before {
											content: "#";
										}
										&.location {
											@include flex;
											@include flex-center;
											padding-left: 7.5px;
											@media screen and (min-width:768px) {
												padding-left: 13.5px;
											}
											svg {
												width: 20px;
												height: 20px;
											}
										}
										&.active, &:active {
											@include opacity(1);
										}
									}
								}
							}
						}
					}
					button {
						@include flex;
						@include flex-center;
						position: absolute;
						display: block;
						bottom: 15px;
						right: 15px;
						width: 50px;
						height: 50px;
						padding: 0;
						svg {
							display: block;
							width: 50px;
							height: 50px;
							padding: 5px;
							path {
								@include svg-stroke-width(5);
							}
						}
					}
					.pf-photo-info {
						background: rgba($charcoal,.8);
						svg {
							path {
								stroke: white;
							}
						}
					}
					.pf-photo-img {
						background: rgba(white,.8);
						svg {
							path {
								stroke: $charcoal;
							}
						}
					}
				}
				.pf-header-thumbs {
					@include flex;
					background: $charcoal;
					width: 100%;
					height: 158px;
					padding: 7.5px;
					overflow: auto;
					@media screen and (max-height:568px) {
						height: 114px;
					}
					li {
						height: 100%;
						padding: 7.5px;
						&:last-child {
							padding-right: 15px;
						}
						a {
							height: 100%;
							img {
								display: block;
								max-height: 100%;
							}
						}
					}
				}
			}
			.pf-tab-container {
				height: auto;
				overflow: visible;
			}
		}
		.pf-shop-item-header {
			background: white;
			h1 {
				color: $slate;
			}
			.pf-price {
				background: $moola;
				&:after {
					border-color: $moola;
				}
			}
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($moola, 20%), 20%);
		}
		.pf-banner {
			background: $moola;
			&:after {
				border: 25px solid $moola;
				border-bottom-color: transparent;
			}
			&.pf-banner-photo {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($moola, 20%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $moola;
					}
					&:hover, &:focus {
						background: $moola;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($moola, 20%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $moola;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $moola;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $moola;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $slate;
						}
						&:hover, &:focus {
							background: $slate;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: white;
					color: $slate;
				}
			}
			input:checked + div .pf-check svg {
				stroke: white;
			}
		}
		.pf-checklist-add {
			a {
				background: $moola;
				&:hover, &:focus {
					background: white;
					span {
						color: $moola;
						svg {
							stroke: $moola;
						}
					}
				}
				&:active, &.active {
					background: $moola;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// BAKING
.pf-edit.pf-type-baking {
	button {
		background: $gold;
		&:hover, &:focus {
			color: $gold;
		}
		&:active, &.activated {
			background: $gold!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $gold;
						a {
							span {
								svg {
									stroke: $gold;
								}
								span {
									color: $gold;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-baking {
	.pf-card-top {
		background: $gold;
		ul {
			li {
				&:last-child {
					> span {
						color: $gold;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $gold;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $gold;
					}
				}
			}
		}
	}
}
.pf-type-baking {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $gold;
					&:after {
						border-color: $gold;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $gold;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($gold, 40%), 20%);
		}
		.pf-banner {
			background: $gold;
			&:after {
				border: 25px solid $gold;
				border-bottom-color: transparent;
			}
			&.pf-banner-baking {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($gold, 40%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $gold;
					}
					&:hover, &:focus {
						background: $gold;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($gold, 40%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $gold;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $gold;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $gold;
		}
	}
	.pf-rating:not(.default) {
		li {
			svg {
				@include svg-stroke(lighten($gold, 20%), 7);
				polygon:nth-child(2) {
					fill: lighten($gold, 20%);
				}
			}
		}
		&[data-rating="1"] {
			li:nth-child(1) {
				svg {
					polygon {
						fill: lighten($gold, 20%);
					}
				}
			}
		}
		&[data-rating="2"] {
			li:nth-child(1), li:nth-child(2) {
				svg {
					polygon {
						fill: lighten($gold, 20%);
					}
				}
			}
		}
		&[data-rating="3"] {
			li:nth-child(1), li:nth-child(2), li:nth-child(3) {
				svg {
					polygon {
						fill: lighten($gold, 20%);
					}
				}
			}
		}
		&[data-rating="4"] {
			li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
				svg {
					polygon {
						fill: lighten($gold, 20%);
					}
				}
			}
		}
		&[data-rating="5"] {
			li {
				svg {
					polygon {
						fill: lighten($gold, 20%);
					}
				}
			}
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $gold;
						}
						&:hover, &:focus {
							background: $gold;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $gold;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $gold;
			}
		}
		.pf-checklist-add {
			a {
				background: $gold;
				&:hover, &:focus {
					background: white;
					span {
						color: $gold;
						svg {
							stroke: $gold;
						}
					}
				}
				&:active, &.active {
					background: $gold;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// HOUSEHOLD
.pf-edit.pf-type-household {
	button {
		background: $cobalt;
		&:hover, &:focus {
			color: $cobalt;
		}
		&:active, &.activated {
			background: $cobalt!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $cobalt;
						a {
							span {
								svg {
									stroke: $cobalt;
								}
								span {
									color: $cobalt;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-household {
	.pf-card-top {
		background: $cobalt;
		ul {
			li {
				&:last-child {
					> span {
						color: $cobalt;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $cobalt;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $cobalt;
					}
				}
			}
		}
	}
}
.pf-type-household {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $cobalt;
					&:after {
						border-color: $cobalt;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $cobalt;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($cobalt, 30%), 20%);
		}
		.pf-banner {
			background: $cobalt;
			&:after {
				border: 25px solid $cobalt;
				border-bottom-color: transparent;
			}
			&.pf-banner-household {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color: desaturate(darken($cobalt, 30%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $cobalt;
					}
					&:hover, &:focus {
						background: $cobalt;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background: desaturate(darken($cobalt, 30%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $cobalt;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $cobalt;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $cobalt;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $cobalt;
						}
						&:hover, &:focus {
							background: $cobalt;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $cobalt;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $cobalt;
			}
		}
		.pf-checklist-add {
			a {
				background: $cobalt;
				&:hover, &:focus {
					background: white;
					span {
						color: $cobalt;
						svg {
							stroke: $cobalt;
						}
					}
				}
				&:active, &.active {
					background: $cobalt;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// DELIVERY
.pf-edit.pf-type-delivery {
	button {
		background: $auburn;
		&:hover, &:focus {
			color: $auburn;
		}
		&:active, &.activated {
			background: $auburn!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $auburn;
						a {
							span {
								svg {
									stroke: $auburn;
								}
								span {
									color: $auburn;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-delivery {
	.pf-card-top {
		background: $auburn;
		ul {
			li {
				&:last-child {
					> span {
						color: $auburn;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $auburn;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $auburn;
					}
				}
			}
		}
	}
}
.pf-type-delivery {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $auburn;
					&:after {
						border-color: $auburn;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $auburn;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($auburn, 30%), 20%);
		}
		.pf-banner {
			background: $auburn;
			&:after {
				border: 25px solid $auburn;
				border-bottom-color: transparent;
			}
			&.pf-banner-delivery {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($auburn, 30%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $auburn;
					}
					&:hover, &:focus {
						background: $auburn;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($auburn, 30%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $auburn;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $auburn;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $auburn;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $auburn;
						}
						&:hover, &:focus {
							background: $auburn;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $auburn;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $auburn;
			}
		}
		.pf-checklist-add {
			a {
				background: $auburn;
				&:hover, &:focus {
					background: white;
					span {
						color: $auburn;
						svg {
							stroke: $auburn;
						}
					}
				}
				&:active, &.active {
					background: $auburn;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// FREELANCING
.pf-edit.pf-type-freelancing {
	button {
		background: $orange;
		&:hover, &:focus {
			color: $orange;
		}
		&:active, &.activated {
			background: $orange!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $orange;
						a {
							span {
								svg {
									stroke: $orange;
								}
								span {
									color: $orange;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-freelancing {
	.pf-card-top {
		background: $orange;
		ul {
			li {
				&:last-child {
					> span {
						color: $orange;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $orange;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $orange;
					}
				}
			}
		}
	}
}
.pf-type-freelancing {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $orange;
					&:after {
						border-color: $orange;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $orange;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($orange, 20%), 20%);
		}
		.pf-banner {
			background: $orange;
			&:after {
				border: 25px solid $orange;
				border-bottom-color: transparent;
			}
			&.pf-banner-freelancing {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($orange, 20%), 20%)!important;
				}
				&:last-child a {
					svg {
						stroke: $orange;
					}
					&:hover, &:focus {
						background: $orange;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($orange, 20%), 20%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $orange;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $orange;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $orange;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $orange;
						}
						&:hover, &:focus {
							background: $orange;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $orange;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $orange;
			}
		}
		.pf-checklist-add {
			a {
				background: $orange;
				&:hover, &:focus {
					background: white;
					span {
						color: $orange;
						svg {
							stroke: $orange;
						}
					}
				}
				&:active, &.active {
					background: $orange;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// ATHLETIC
.pf-edit.pf-type-athletic {
	button {
		background: $eggplant;
		&:hover, &:focus {
			color: $eggplant;
		}
		&:active, &.activated {
			background: $eggplant!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $eggplant;
						a {
							span {
								svg {
									stroke: $eggplant;
								}
								span {
									color: $eggplant;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-athletic {
	.pf-card-top {
		background: $eggplant;
		ul {
			li {
				&:last-child {
					> span {
						color: $eggplant;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $eggplant;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $eggplant;
					}
				}
			}
		}
	}
}
.pf-type-athletic {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $eggplant;
					&:after {
						border-color: $eggplant;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $eggplant;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($eggplant, 20%), 10%);
		}
		.pf-banner {
			background: $eggplant;
			&:after {
				border: 25px solid $eggplant;
				border-bottom-color: transparent;
			}
			&.pf-banner-athletic {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($eggplant, 20%), 10%)!important;
				}
				&:last-child a {
					svg {
						stroke: $eggplant;
					}
					&:hover, &:focus {
						background: $eggplant;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($eggplant, 20%), 10%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $eggplant;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $eggplant;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $eggplant;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $eggplant;
						}
						&:hover, &:focus {
							background: $eggplant;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $eggplant;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $eggplant;
			}
		}
		.pf-checklist-add {
			a {
				background: $eggplant;
				&:hover, &:focus {
					background: white;
					span {
						color: $eggplant;
						svg {
							stroke: $eggplant;
						}
					}
				}
				&:active, &.active {
					background: $eggplant;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}

// TECH & IT
.pf-edit.pf-type-tech {
	button {
		background: $azure;
		&:hover, &:focus {
			color: $azure;
		}
		&:active, &.activated {
			background: $azure!important;
			color: white!important;
		}
	}
	header.third {
		.pf-photo-list {
			ul {
				li {
					div.pf-upload-add {
						border-color: $azure;
						a {
							span {
								svg {
									stroke: $azure;
								}
								span {
									color: $azure;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pf-card-tech {
	.pf-card-top {
		background: $azure;
		ul {
			li {
				&:last-child {
					> span {
						color: $azure;
					}
				}
			}
		}
	}
	.pf-card-main {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $azure;
					}
				}
			}
		}
		.pf-card-thumbs {
			li {
				a {
					span {
						background-color: $azure;
					}
				}
			}
		}
	}
}
.pf-type-tech {
	&.pf-modal {
		header.third.pf-item-header {
			.pf-header-info {
				.pf-price {
					background: $azure;
					&:after {
						border-color: $azure;
					}
				}
			}
		}
		.pf-shop-item-header {
			background: $azure;
		}
	}
	header.third {
		.pf-header-color {
			background: desaturate(darken($azure, 20%), 10%);
		}
		.pf-banner {
			background: $azure;
			&:after {
				border: 25px solid $azure;
				border-bottom-color: transparent;
			}
			&.pf-banner-tech {
				display: block;
			}
		}
		.pf-header .pf-url {
			li {
				&:first-child a, input, span {
					color:  desaturate(darken($azure, 20%), 10%)!important;
				}
				&:last-child a {
					svg {
						stroke: $azure;
					}
					&:hover, &:focus {
						background: $azure;
						svg {
							stroke: white;
						}
					}
					&:active, &.active {
						background:  desaturate(darken($azure, 20%), 10%)!important;
					}
				}
			}
		}
	}
	.pf-header {
		.verified {
			span {
				svg {
					path:first-child {
						fill: $azure;
					}
				}
			}
		}
	}
	.pf-tabs {
		ul {
			li {
				a {
					&.active {
						border-bottom: 5px solid $azure;
					}
				}
			}
		}
	}
	.pf-list {
		h1 {
			background: $azure;
		}
	}
	.pf-checklist {
		> li:not(.pf-checklist-full) {
			div {
				.pf-check {
					&.pf-remove {
						svg {
							stroke: $azure;
						}
						&:hover, &:focus {
							background: $azure;
							svg {
								stroke: white;
							}
						}
					}
				}
				.pf-check-label {
					background: $azure;
				}
			}
			input:checked + div .pf-check svg {
				stroke: $azure;
			}
		}
		.pf-checklist-add {
			a {
				background: $azure;
				&:hover, &:focus {
					background: white;
					span {
						color: $azure;
						svg {
							stroke: $azure;
						}
					}
				}
				&:active, &.active {
					background: $azure;
					span {
						color: white;
						svg {
							stroke: white;
						}
					}
				}
			}
		}
	}
}