a, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none; }

i {
  font-style: normal; }

body {
  margin: 0;
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 24px;
  font-weight: 200 !important;
  color: white;
  background: #2B3234;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  body > section, body > div, body > main {
    height: 100%; }

::-webkit-selection {
  background: rgba(255, 255, 255, 0.2); }

::-moz-selection {
  background: rgba(255, 255, 255, 0.2); }

::selection {
  background: rgba(255, 255, 255, 0.2); }

.uguru-view * {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important; }
.uguru-view #main-menu {
  position: fixed;
  bottom: 0;
  background: #2B3234;
  height: 64px;
  width: 100%; }
  .uguru-view #main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%; }
    .uguru-view #main-menu ul li {
      position: relative;
      width: 25%;
      height: 64px; }
      .uguru-view #main-menu ul li span {
        border-radius: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: block;
        width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.2); }
.uguru-view h1.verified span svg {
  display: inline !important;
  width: 20px;
  height: 20px; }
  .uguru-view h1.verified span svg path:first-child {
    fill: #50A5DD; }
.uguru-view .start#access {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #69B3A5;
  padding-bottom: 128px; }
  .uguru-view .start#access svg {
    max-width: 200px;
    height: auto; }
  .uguru-view .start#access #access-start {
    position: absolute;
    bottom: 0;
    left: 0; }
  .uguru-view .start#access p {
    margin: 15px 0;
    font-size: smaller; }
  .uguru-view .start#access button:active {
    background: rgba(43, 50, 52, 0.3); }
.uguru-view .start#how header {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 64px; }
  .uguru-view .start#how header h1 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; }
.uguru-view .start#how button {
  bottom: 0;
  background: rgba(255, 255, 255, 0.1); }
.uguru-view .start#how button:active {
  background: rgba(255, 255, 255, 0.4); }
.uguru-view .start#how #how-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 375px;
  overflow-y: hidden;
  overflow-x: auto; }
  .uguru-view .start#how #how-cards .how-card {
    box-sizing: border-box;
    width: 290px;
    height: 375px;
    min-width: -webkit-min-content; }
    .uguru-view .start#how #how-cards .how-card .how-card-media, .uguru-view .start#how #how-cards .how-card .how-card-desc {
      box-sizing: border-box;
      margin: 0 15px;
      width: 290px; }
    .uguru-view .start#how #how-cards .how-card .how-card-media {
      border-radius: 10px 10px 0 0;
      background: #40484B;
      height: 70%; }
    .uguru-view .start#how #how-cards .how-card .how-card-desc {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      padding: 15px;
      background: white;
      height: 30%;
      color: #2B3234; }
      .uguru-view .start#how #how-cards .how-card .how-card-desc p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center; }
    .uguru-view .start#how #how-cards .how-card:first-child .how-card-media, .uguru-view .start#how #how-cards .how-card:first-child .how-card-desc {
      margin-left: 30px; }
    .uguru-view .start#how #how-cards .how-card:last-child .how-card-media, .uguru-view .start#how #how-cards .how-card:last-child .how-card-desc {
      margin-right: 30px; }
    .uguru-view .start#how #how-cards .how-card:nth-child(1) .how-card-media {
      background: #DB1988; }
    .uguru-view .start#how #how-cards .how-card:nth-child(2) .how-card-media {
      background: #E5753C; }
    .uguru-view .start#how #how-cards .how-card:nth-child(3) .how-card-media {
      background: #F9D57B; }
    .uguru-view .start#how #how-cards .how-card:nth-child(4) .how-card-media {
      background: #81B566; }
    .uguru-view .start#how #how-cards .how-card:nth-child(5) .how-card-media {
      background: #69B3A5; }
    .uguru-view .start#how #how-cards .how-card:nth-child(6) .how-card-media {
      background: #50A5DD; }
    .uguru-view .start#how #how-cards .how-card:nth-child(7) .how-card-media {
      background: #9A5BC5; }
.uguru-view .onboarding progress, .uguru-view .onboarding .progress {
  position: absolute;
  top: 0;
  z-index: 9; }
  .uguru-view .onboarding progress span[data-value="2"], .uguru-view .onboarding .progress span[data-value="2"] {
    width: 2%; }
  .uguru-view .onboarding progress span[data-value="30"], .uguru-view .onboarding .progress span[data-value="30"] {
    width: 25%; }
  .uguru-view .onboarding progress span[data-value="50"], .uguru-view .onboarding .progress span[data-value="50"] {
    width: 40%; }
  .uguru-view .onboarding progress span[data-value="80"], .uguru-view .onboarding .progress span[data-value="80"] {
    width: 80%; }
  .uguru-view .onboarding progress span[data-value="85"], .uguru-view .onboarding .progress span[data-value="85"] {
    width: 85%; }
  .uguru-view .onboarding progress span[data-value="95"], .uguru-view .onboarding .progress span[data-value="95"] {
    width: 95%; }
  .uguru-view .onboarding progress span[data-value="99"], .uguru-view .onboarding .progress span[data-value="99"] {
    width: 86%; }
.uguru-view .onboarding header .onboarding-prop {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .uguru-view .onboarding header .onboarding-prop h5 {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px; }
.uguru-view .onboarding header .onboarding-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 24px;
  text-align: center;
  text-transform: none;
  line-height: 1.25; }
.uguru-view .onboarding .onboarding-list {
  height: calc(100% / 3 * 2);
  overflow: auto; }
.uguru-view .onboarding#demographic header:before {
  background: url(../images/school.jpg) no-repeat center center/cover; }
.uguru-view .onboarding#demographic header h1 {
  font-size: 24px; }
.uguru-view .onboarding#demographic #demographic-grid > ul > li:not(.active) {
  filter: alpha(opacity=30);
  opacity: 0.3; }
.uguru-view .onboarding#demographic #demographic-grid ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%; }
  .uguru-view .onboarding#demographic #demographic-grid ul li {
    position: relative;
    height: 50%;
    font-weight: 600; }
    .uguru-view .onboarding#demographic #demographic-grid ul li a {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      background: none; }
      .uguru-view .onboarding#demographic #demographic-grid ul li a .demographic-icon span {
        border-radius: 1000px;
        display: block;
        margin: 0 auto 10px;
        width: 60px;
        height: 60px;
        background: rgba(255, 255, 255, 0.4); }
    .uguru-view .onboarding#demographic #demographic-grid ul li a:active, .uguru-view .onboarding#demographic #demographic-grid ul li a:focus, .uguru-view .onboarding#demographic #demographic-grid ul li a:hover {
      background: none; }
    .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup {
      border-radius: 0px;
      position: relative;
      background: white;
      padding: 0;
      margin-top: 30px;
      position: absolute;
      z-index: 9;
      bottom: -100%;
      background: white;
      height: 100%;
      width: 200%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup:before {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        display: block;
        position: absolute;
        top: -29px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom: 15px solid white; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li a {
        border: 1px solid; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(1) {
        padding: 5px 0 0 5px; }
        .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(1) a {
          border-top: 0;
          border-left: 0; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(2) {
        padding: 5px 5px 0 0; }
        .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(2) a {
          border-top: 0;
          border-right: 0; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(3) {
        padding: 0 0 5px 5px; }
        .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(3) a {
          border-bottom: 0;
          border-left: 0; }
      .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(4) {
        padding: 0 5px 5px 0; }
        .uguru-view .onboarding#demographic #demographic-grid ul li .demographic-popup ul li:nth-child(4) a {
          border-bottom: 0;
          border-right: 0; }
    .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup {
      left: 0; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup:before {
        left: 25%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup li a {
        color: #8A9EA3;
        border-color: rgba(138, 158, 163, 0.1); }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup li a:active, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup li a:focus, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-campus .demographic-popup li a:hover {
        background: rgba(138, 158, 163, 0.05); }
    .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup {
      left: -100%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup:before {
        left: 75%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup li a {
        color: #69B3A5;
        border-color: rgba(105, 179, 165, 0.1); }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup li a:active, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup li a:focus, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-shamrock .demographic-popup li a:hover {
        background: rgba(105, 179, 165, 0.05); }
    .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup {
      left: 0; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup:before {
        left: 25%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup li a {
        color: #55A4B7;
        border-color: rgba(85, 164, 183, 0.1); }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup li a:active, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup li a:focus, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-azure .demographic-popup li a:hover {
        background: rgba(85, 164, 183, 0.05); }
    .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup {
      left: -100%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup:before {
        left: 75%; }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup li a {
        color: #50A5DD;
        border-color: rgba(80, 165, 221, 0.1); }
      .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup li a:active, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup li a:focus, .uguru-view .onboarding#demographic #demographic-grid ul li.bg-lake .demographic-popup li a:hover {
        background: rgba(80, 165, 221, 0.05); }
.uguru-view .onboarding#start {
  background: #40484B; }
  .uguru-view .onboarding#start #start-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 64px;
    color: #69B3A5;
    font-size: 28px;
    text-align: center; }
.uguru-view .onboarding#photo #photo-container #profile-icon {
  position: relative;
  height: calc(100% / 2);
  text-align: center; }
  .uguru-view .onboarding#photo #photo-container #profile-icon h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .uguru-view .onboarding#photo #photo-container #profile-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-width: 150px;
    max-height: 150px; }
.uguru-view .onboarding#account #account-form {
  box-sizing: border-box;
  padding: 15px; }
  .uguru-view .onboarding#account #account-form input {
    margin: 30px 0 15px;
    font-size: 20px; }
  .uguru-view .onboarding#account #account-form #tos {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase; }
  .uguru-view .onboarding#account #account-form #tos:active, .uguru-view .onboarding#account #account-form #tos:focus {
    color: #69B3A5; }
  .uguru-view .onboarding#account #account-form #social-login {
    margin-top: 50px; }
.uguru-view .onboarding#skill header:before {
  background: url(../../img/onboarding/skills.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/skills.jpg) center/cover no-repeat; }
.uguru-view .onboarding#skill #skills-list ul {
  padding: 0 1px 1px;
  height: 100%; }
  .uguru-view .onboarding#skill #skills-list ul li {
    height: 25%;
    padding: 1px; }
    .uguru-view .onboarding#skill #skills-list ul li a {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      height: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center; }
      .uguru-view .onboarding#skill #skills-list ul li a .skill-icon {
        border-radius: 1000px;
        display: block;
        width: 50px;
        height: 50px;
        margin-top: 5px;
        background: white; }
      .uguru-view .onboarding#skill #skills-list ul li a .skill-label {
        margin-top: -30px;
        display: block;
        width: 100%; }
  .uguru-view .onboarding#skill #skills-list ul .active a {
    background: #81B566; }
.uguru-view .onboarding#skill-list header svg {
  left: auto;
  right: 15px; }
.uguru-view .onboarding#skill-list #onboarding-skill {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .uguru-view .onboarding#skill-list #onboarding-skill .onboarding-prop {
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .uguru-view .onboarding#skill-list #onboarding-skill h1 {
    padding: 10px 0 0;
    text-align: center; }
.uguru-view .onboarding#skill-list .onboarding-list {
  margin-top: -30px;
  height: calc(100% / 3 * 2 + 30px);
  overflow: none !important; }
  .uguru-view .onboarding#skill-list .onboarding-list > div {
    border-radius: 0px;
    position: relative;
    background: white;
    padding: 0;
    margin-top: 30px;
    background: #F1F1F1;
    height: calc(100% - 30px); }
    .uguru-view .onboarding#skill-list .onboarding-list > div:before {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      display: block;
      position: absolute;
      top: -29px;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-bottom: 15px solid white; }
    .uguru-view .onboarding#skill-list .onboarding-list > div ul {
      height: 100%;
      overflow: auto; }
      .uguru-view .onboarding#skill-list .onboarding-list > div ul li > span input:checked + span {
        background-color: #F9D57B; }
.uguru-view .onboarding#course header:before {
  background: url(../../img/onboarding/courses.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/courses.jpg) center/cover no-repeat; }
.uguru-view .onboarding#course #courses-list ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 1px; }
  .uguru-view .onboarding#course #courses-list ul li {
    position: relative;
    width: 50%;
    border: 1px solid transparent; }
    .uguru-view .onboarding#course #courses-list ul li label {
      display: block;
      width: 100%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center; }
    .uguru-view .onboarding#course #courses-list ul li input {
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      margin: 0;
      -webkit-appearance: none;
      width: 100%;
      height: 44px;
      cursor: pointer; }
    .uguru-view .onboarding#course #courses-list ul li input:checked + label {
      background: #55A4B7; }
.uguru-view .onboarding#school header:before {
  background: url(../../img/onboarding/school.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/school.jpg) center/cover no-repeat; }
.uguru-view .onboarding#school #school-list ul li a {
  font-weight: 300; }
  .uguru-view .onboarding#school #school-list ul li a .school-icon img {
    padding: 10px; }
  .uguru-view .onboarding#school #school-list ul li a .school-name b, .uguru-view .onboarding#school #school-list ul li a .school-name i {
    display: block;
    width: 100%;
    line-height: 1.2; }
  .uguru-view .onboarding#school #school-list ul li a .school-name b {
    font-weight: 400; }
  .uguru-view .onboarding#school #school-list ul li a .school-name i {
    font-size: 16px;
    font-style: normal;
    font-weight: 300; }
.uguru-view .onboarding#school #school-list ul li a:active, .uguru-view .onboarding#school #school-list ul li a:focus, .uguru-view .onboarding#school #school-list ul li a:hover {
  background: rgba(255, 255, 255, 0.2); }
.uguru-view .onboarding#major header:before {
  background: url(../../img/onboarding/major.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/major.jpg) center/cover no-repeat; }
.uguru-view .onboarding#major #major-list ul li a {
  margin-bottom: 1px;
  font-weight: 300; }
.uguru-view .onboarding#major #major-list ul li a:active, .uguru-view .onboarding#major #major-list ul li a:focus, .uguru-view .onboarding#major #major-list ul li a:hover {
  background: rgba(255, 255, 255, 0.2); }
.uguru-view .onboarding#major #major-list ul .major-business a {
  border-color: #50A5DD; }
.uguru-view .onboarding#major #major-list ul .major-arts a {
  border-color: #81B566; }
.uguru-view .onboarding#major #major-list ul .major-science a {
  border-color: #F9D57B; }
.uguru-view .onboarding#major #major-list ul .major-math a {
  border-color: #DB1988; }
.uguru-view .request#request-empty #request-content {
  height: calc(100% - 50px - 64px); }
.uguru-view .request#request-empty #request-message {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #40484B; }
  .uguru-view .request#request-empty #request-message > div > div svg {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-height: 150px; }
  .uguru-view .request#request-empty #request-message > div h2 {
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: center; }
  .uguru-view .request#request-empty #request-message #request-button {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white; }
    .uguru-view .request#request-empty #request-message #request-button span {
      border-radius: 1000px;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      background: #69B3A5; }
      .uguru-view .request#request-empty #request-message #request-button span svg {
        width: 25px;
        height: 25px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    .uguru-view .request#request-empty #request-message #request-button b {
      display: block;
      width: 100%;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase; }
.uguru-view .request#request header:before {
  background: url(../images/school.jpg) no-repeat center center/cover; }
.uguru-view .request#request header .request-header h1 {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 24px; }
.uguru-view .request#request header .request-header .request-icon {
  border-radius: 1000px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: #69B3A5;
  margin: 0 auto; }
  .uguru-view .request#request header .request-header .request-icon svg {
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
.uguru-view .request#request #request-content {
  height: calc(100% / 3 * 2); }
.uguru-view .request#request #request-list {
  height: calc(100% - 64px);
  overflow: auto; }
  .uguru-view .request#request #request-list li {
    padding: 15px;
    border-bottom: 1px solid #2B3234; }
    .uguru-view .request#request #request-list li .request-info {
      width: 100%; }
      .uguru-view .request#request #request-list li .request-info h3 {
        font-size: 24px;
        font-weight: 600; }
      .uguru-view .request#request #request-list li .request-info .request-loc {
        display: block;
        font-size: 16px;
        font-weight: 400; }
    .uguru-view .request#request #request-list li .request-icon div {
      border-radius: 1000px;
      width: 50px;
      height: 50px;
      background: #8A9EA3; }
.uguru-view .request #request-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .uguru-view .request #request-tabs ul li {
    width: 50%; }
    .uguru-view .request #request-tabs ul li a {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      color: white;
      padding: 10px;
      height: 64px; }
    .uguru-view .request #request-tabs ul li.active a {
      background: #40484B; }
    .uguru-view .request #request-tabs ul li h3 {
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase; }
    .uguru-view .request #request-tabs ul li span {
      border-radius: 1000px;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      background: white;
      width: 20px;
      height: 20px;
      margin-bottom: 3px;
      color: #2B3234;
      font-size: 12px;
      line-height: 20px; }
.uguru-view #credibility #credit-slider {
  position: relative;
  height: 195px; }
  .uguru-view #credibility #credit-slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .uguru-view #credibility #credit-slider ul li {
      width: 25%;
      font-size: 20px;
      font-weight: 400;
      text-align: center; }
      .uguru-view #credibility #credit-slider ul li a {
        display: block;
        padding-bottom: 15px;
        border-bottom: 5px solid transparent;
        color: white; }
        .uguru-view #credibility #credit-slider ul li a .credit-icon {
          border-radius: 1000px;
          display: block;
          margin: 0 auto 15px;
          width: 50px;
          height: 50px;
          background: white; }
      .uguru-view #credibility #credit-slider ul li a:active, .uguru-view #credibility #credit-slider ul li a:focus, .uguru-view #credibility #credit-slider ul li a:hover {
        border-color: #DB1988;
        color: #DB1988; }
        .uguru-view #credibility #credit-slider ul li a:active .credit-icon, .uguru-view #credibility #credit-slider ul li a:focus .credit-icon, .uguru-view #credibility #credit-slider ul li a:hover .credit-icon {
          background: #DB1988; }
    .uguru-view #credibility #credit-slider ul .active a {
      border-color: #69B3A5;
      color: #69B3A5; }
      .uguru-view #credibility #credit-slider ul .active a .credit-icon {
        background: #69B3A5; }
.uguru-view #credibility #credit-content {
  position: relative;
  background: #40484B;
  height: calc(100% / 3 * 2);
  padding: 15px;
  text-align: center; }
  .uguru-view #credibility #credit-content h1 {
    font-size: 24px;
    text-transform: uppercase; }
  .uguru-view #credibility #credit-content p {
    margin: 15px 0; }
  .uguru-view #credibility #credit-content #credit-facebook {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px 15px 64px; }
    .uguru-view #credibility #credit-content #credit-facebook button {
      background: #3b5998; }
.uguru-view #profile {
  font-size: 18px; }
  .uguru-view #profile #profile-fixed {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 64px;
    padding: 13px 0;
    background: rgba(64, 72, 75, 0.95); }
    .uguru-view #profile #profile-fixed #profile-fixed-inside {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-icon {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center; }
        .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-icon img {
          border-radius: 1000px;
          width: 35px;
          height: 35px;
          border: 3px solid rgba(255, 255, 255, 0.5); }
      .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-name {
        padding-left: 10px; }
        .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-name h1 {
          font-size: 24px;
          line-height: 1;
          text-transform: uppercase; }
          .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-name h1.verified svg {
            width: 16px;
            height: 16px; }
        .uguru-view #profile #profile-fixed #profile-fixed-inside #profile-fixed-name p {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1; }
  .uguru-view #profile #profile-desc {
    padding: 15px 0 0; }
    .uguru-view #profile #profile-desc #profile-icon {
      border-radius: 1000px;
      display: block; }
      .uguru-view #profile #profile-desc #profile-icon img {
        border-radius: 1000px;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 120px;
        padding: 5px;
        background: rgba(255, 255, 255, 0.5); }
      .uguru-view #profile #profile-desc #profile-icon svg {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px; }
    .uguru-view #profile #profile-desc #profile-list {
      text-align: center; }
      .uguru-view #profile #profile-desc #profile-list ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .uguru-view #profile #profile-desc #profile-list ul #profile-name h1 {
          margin-top: 10px;
          padding: 0 10px 3px;
          line-height: 1;
          text-transform: uppercase;
          font-size: 28px;
          color: white; }
          .uguru-view #profile #profile-desc #profile-list ul #profile-name h1 span:last-child svg {
            display: none; }
        .uguru-view #profile #profile-desc #profile-list ul #profile-school {
          font-size: 24px;
          font-weight: 400; }
    .uguru-view #profile #profile-desc #profile-bars #profile-rating {
      list-style: none;
      margin: 0;
      padding: 0;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: 75px;
      padding: 20px;
      margin: 15px 0;
      background: rgba(255, 255, 255, 0.1);
      font-size: 24px; }
      .uguru-view #profile #profile-desc #profile-bars #profile-rating li {
        width: 100%;
        text-align: center; }
  .uguru-view #profile #profile-info {
    margin-top: -15px; }
    .uguru-view #profile #profile-info .profile-inside {
      padding-bottom: 64px;
      overflow: auto; }
      .uguru-view #profile #profile-info .profile-inside h1 {
        background: rgba(255, 255, 255, 0.05);
        color: white; }
      .uguru-view #profile #profile-info .profile-inside #profile-courses ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: center; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li {
          padding: 10px 15px;
          width: 50%;
          font-weight: 600; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(1) {
          background: #50A5DD; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(2) {
          background: #F9D57B; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(3) {
          background: #55A4B7; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(4) {
          background: #E5753C; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(5) {
          background: #69B3A5; }
        .uguru-view #profile #profile-info .profile-inside #profile-courses ul li:nth-child(6) {
          background: #DB1988; }
      .uguru-view #profile #profile-info .profile-inside h1 {
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: white; }
      .uguru-view #profile #profile-info .profile-inside #profile-other > div {
        background: #2B3234; }
        .uguru-view #profile #profile-info .profile-inside #profile-other > div div {
          background: rgba(255, 255, 255, 0.1); }
          .uguru-view #profile #profile-info .profile-inside #profile-other > div div ul {
            list-style: none;
            margin: 0;
            padding: 0;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -ms-flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            text-align: center; }
            .uguru-view #profile #profile-info .profile-inside #profile-other > div div ul li {
              padding: 10px 15px;
              width: 50%;
              font-weight: 600; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-major div ul li, .uguru-view #profile #profile-info .profile-inside #profile-other #profile-job div ul li {
        width: 100%;
        font-weight: 200; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-skills div ul li:nth-child(1) {
        background: #50A5DD; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-skills div ul li:nth-child(2) {
        background: #69B3A5; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-skills div ul li:nth-child(3) {
        background: #55A4B7; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-skills div ul li:nth-child(4) {
        background: #81B566; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-languages div ul li:nth-child(1) {
        background: #DB1988; }
      .uguru-view #profile #profile-info .profile-inside #profile-other #profile-languages div ul li:nth-child(2) {
        background: #E5753C; }
@media screen and (max-width: 320px) {
  .uguru-view body, .uguru-view input, .uguru-view button {
    font-size: 20px; }
  .uguru-view .onboarding-message, .uguru-view .request-info h3 {
    font-size: 20px !important; }
  .uguru-view #start-container {
    font-size: 24px !important; }
  .uguru-view #request-message h2, .uguru-view #skills-list a {
    font-size: 16px !important; }
    .uguru-view #request-message h2 i, .uguru-view #skills-list a i {
      display: none; }
  .uguru-view #request-button span b {
    font-size: 18px !important; }
  .uguru-view #skills-list .skill-icon {
    margin-bottom: 10px;
    width: 40px !important;
    height: 40px !important; }
  .uguru-view .input-search-ghost input {
    font-size: 18px; }
  .uguru-view .input-search-ghost:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    background: url(../../img/svg/search.svg) no-repeat center center/cover, url(/static/remote/img/svg/search.svg) center/cover no-repeat;
    width: 14px;
    height: 14px; }
  .uguru-view .header-nav a svg {
    height: 20px !important;
    width: auto !important; }
  .uguru-view .header-nav a h1 {
    font-size: 18px !important;
    font-weight: 400 !important;
    padding: 15px 36px !important; }
  .uguru-view #loading svg {
    max-width: 200px; }
  .uguru-view #account-form {
    padding-top: 0 !important; }
    .uguru-view #account-form input {
      margin-top: 20px !important;
      font-size: 18px !important; } }

.side-menu-profile {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: calc(100% / 11 * 5);
  font-weight: 400;
  line-height: 1.25;
  text-align: center; }
  .side-menu-profile ul {
    position: relative;
    z-index: 9; }
  .side-menu-profile .side-menu-icon {
    position: relative;
    margin-bottom: 10px; }
    .side-menu-profile .side-menu-icon span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: 600; }
  .side-menu-profile .side-menu-name, .side-menu-profile .side-menu-university {
    font-weight: 700;
    text-transform: uppercase; }
  .side-menu-profile .side-menu-year {
    font-size: 20px; }
  .side-menu-profile:after {
    filter: alpha(opacity=30);
    opacity: 0.3;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/onboarding/school.jpg) repeat center center/cover; }

.side-menu-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% / 11 * 6);
  background: #40484B; }
  .side-menu-list .list-item {
    height: 64px;
    font-weight: 600;
    text-transform: uppercase; }
    .side-menu-list .list-item:hover {
      cursor: pointer; }
    .side-menu-list .list-item:active {
      background: #69B3A5; }
    .side-menu-list .list-item .list-item-icon {
      height: 64px;
      width: 64px; }
      .side-menu-list .list-item .list-item-icon svg {
        padding: 15px; }
    .side-menu-list .list-item .list-item-detail {
      padding: 0 15px 0 5px; }

#guru-home header:before {
  background: url(../../img/onboarding/school.jpg) no-repeat center center/cover; }
#guru-home #guru-ranking {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  width: 100%;
  height: calc(100% - 50px);
  padding: 0 30px; }
  #guru-home #guru-ranking #guru-chart {
    position: relative;
    width: 130px; }
    #guru-home #guru-ranking #guru-chart #percentile {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: -5px; }
      #guru-home #guru-ranking #guru-chart #percentile #percentile-ranking {
        position: relative;
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
        padding-left: 5px; }
        #guru-home #guru-ranking #guru-chart #percentile #percentile-ranking:after {
          content: "th";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase; }
      #guru-home #guru-ranking #guru-chart #percentile #percentile-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 15px;
        text-transform: uppercase; }
  #guru-home #guru-ranking #guru-stats {
    padding-left: 30px;
    width: calc(100% - 130px); }
    #guru-home #guru-ranking #guru-stats h2 {
      margin: 0 0 5px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase; }
    #guru-home #guru-ranking #guru-stats progress, #guru-home #guru-ranking #guru-stats .progress {
      vertical-align: top;
      width: 100%; }

.tip-container p {
  font-size: 18px; }

.tabs {
  border: 0; }

/*# sourceMappingURL=style.css.map */
