@import 'mixin';

/* ---------- DEFAULT STYLES */
a, a:hover, a:active, a:visited {
	color: white;
	text-decoration:none;
}
i {
	font-style: normal;
}
body {
	margin: 0;
	font-family: $font;
	font-size: 24px;
	font-weight: 200!important;
	color: white;
	background: $charcoal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	> section, > div, > main {
		height: 100%;
	}
}
::-webkit-selection {
	background: rgba(white,.2);
}
::-moz-selection {
	background: rgba(white,.2);
}
::selection {
	background: rgba(white,.2);
}

body.platform-ios {
	ul li {
		&.active, &.activated {
			background: rgba(white,.2);
		}
		::selection {
			 background: rgba(255, 255, 255, 0.1);
		}
		a.active, a.activated {
			background: rgba(white,.2);
		}
		a:hover, .list .list-item a:hover {
			 background: rgba(255, 255, 255, 0.1);
		}
	}
}


section {
	height: 100%;
}
.view-container {
	position: inherit;
}



/* ---------- MISCELLANEOUS */
.uguru-view {
	* {
		font-family: $font!important;
	}
	h1.verified {
		span {
			svg {
				display: inline!important;
				width: 20px;
				height: 20px;
				path:first-child {
					fill: $lake;
				}
			}
		}
	}
	.request {
		&#request {
			header {
				&:before {
					background: url(../images/schools.jpg) no-repeat center center / cover;
				}
				.request-header {
					h1 {
						padding-top: 20px;
						width: 100%;
						text-align: center;
						font-size: 24px;
					}
					.request-icon {
						@include round;
						@include flex;
						@include flex-center;
						width: 80px;
						height: 80px;
						background: $shamrock;
						margin: 0 auto;
						svg {
							@include reset-pos;
							@include rotate(45);
							width: 30px;
							height: 30px;
						}
					}
				}
			}
			#request-content {
				height: calc(100% / 3 * 2);
			}
			#request-list {
				height: calc(100% - 64px);
				overflow: auto;
				li {
					padding: 15px;
					border-bottom: 1px solid $charcoal;
					.request-info {
						width: 100%;
						h3 {
							font-size: 24px;
							font-weight: 600;
						}
						.request-loc {
							display: block;
							font-size: 16px;
							font-weight: 400;
						}
					}
					.request-icon {
						div {
							@include round;
							width: 50px;
							height: 50px;
							background: $campus;
						}
					}
				}
			}
		}
		#request-tabs {
			ul {
				@include listless;
				@include flex;
				@include flex-center;
				li {
					width: 50%;
					a {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						width: 100%;
						color: white;
						padding: 10px;
						height: 64px;
					}
					&.active {
						a {
							background: $slate;
						}
					}
					h3 {
						width: 100%;
						font-size: 18px;
						font-weight: 600;
						text-align: center;
						text-transform: uppercase;
					}
					span {
						@include round;
						@include flex;
						@include flex-center;
						background: white;
						width: 20px;
						height: 20px;
						margin-bottom: 3px;
						color: $charcoal;
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
		}
	}
	@media screen and (max-width:320px) {
		body, input, button {
			font-size: 20px;
		}
		#start-container {
			font-size: 24px!important;
		}
		#skills-list a {
			font-size: 16px!important;
		}
		#request-button span b {
			font-size: 18px!important;
		}
		#skills-list .skill-icon {
			margin-bottom: 10px;
			width: 40px!important;
			height: 40px!important;
		}
		.input-search-ghost {
			input {
				font-size: 18px;
			}
			&:before {
				@include center-y;
				display: block;
				background: url(../../img/svg/search.svg) no-repeat center center/cover,
								url(/static/remote/img/svg/search.svg) center/cover no-repeat;
				width: 14px;
				height: 14px;
			}
		}
		.header-nav a {
			h1 {
				font-size: 18px!important;
				font-weight: 400!important;
			}
		}
		#loading svg {
			max-width: 200px;
		}
	}
}



/* ---------- MODALS & POPUPS */
// POPUP
.close-popup-link {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 30px;
	height: 30px;
	svg {
		@include rotate(45);
		path {
			stroke-width: 5px;
		}
	}
}
.uguru-popup {
	@include opacity(0);
	@include flex;
	@include flex-center;
	@include transition(250ms ease);
	position: fixed;
	z-index: 100;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($charcoal, .9);
	pointer-events: none;
	.uguru-popup-content {
		@include transition(250ms ease);
		position: relative;
		margin: 0 15px;
		z-index: 2;
		width: 100%;
		background: white;
		border-radius: 5px;
		color: $slate;
		.guru-logo-container {
			@include flex;
			@include flex-center;
			position: absolute;
			top: -60px;
			z-index: 5;
			width: 100%;
			height: auto;
			margin: 0 auto;
			.svg-logo-wrapper {
				@include round;
				width: 120px;
				height: 120px;
				background: white;
				svg {
					@include round;
					display: block;
					max-width: 120px;
					max-height: 120px;
					padding: 20px;
					z-index: 3;
					border: 3px solid white;
				}
			}
			.svg-logo-wrapper:not(.tour-guru) {
				svg {
					background: $shamrock;
					path {
						fill: white;
					}
				}
			}
			.tour-guru {
				svg {
					background: rgba($shamrock,.3);
					padding: 15px;
					*[fill="#1D0E02"] {
						fill: $charcoal!important;
					}
				}
			}
		}
		.content-wrapper {
			position: relative;
			padding: 70px 0 0;
			text-align: center;
			.content-body {
				@include flex;
				@include flex-wrap;
				padding: 0 15px 15px;
				h2 {
					@include opacity(.9);
					width: 100%;
					margin-bottom: 10px;
					color: $slate;
					font-weight: 700;
					font-size: 20px;
					text-align: center;
					text-transform: uppercase;
				}
				p {
					@include opacity(.8);
					color: $charcoal;
					font-weight: 400;
					font-size: 16px;
					margin: 0 auto;
				}
			}
			.content-footer {
				height: 64px;
				button {
					background: $shamrock!important;
					border-radius: 0 0 5px 5px;
					position: absolute;
				    width: 100%;
				    left: 0;
				    bottom: 0;
				}
			}
		}
	}
	&.show {
		@include opacity(1);
		@include flex;
		visibility: visible;
		pointer-events: auto;
	}
	input {
		font-size: 16px;
		text-align: center;
		width: calc(100% - 30px);
	}
}
.guru-mode {
	background: rgba(white, .9);
	.close-popup-link {
		svg {
			path {
				stroke: $charcoal;
			}
		}
	}
	.uguru-popup-content {
		background: $slate;
		color: white;
		.guru-logo-container {
			.svg-logo-wrapper {
				background: $slate;
				svg {
					border: 3px solid $slate;
				}
			}
			.tour-guru {
				svg {
					background: white;
				}
			}
		}
		.content-wrapper {
			.content-body {
				h2, p {
					color: white;
				}
			}
		}
	}
}
#confirm-phone-uguru-popup {
	.svg-logo-wrapper svg, button {
		background: $eggplant!important;
	}
}
#confirm-email-uguru-popup {
	.svg-logo-wrapper svg, button {
		background: $lake!important;
	}
}

// MODAL STYLES
.terms-modal, .faq-modal, .support-modal {
	header {
		h1 {
			color: white;
		}
	}
	ion-content {
		height: calc(100% - 50px);
		margin-top: 50px;
	}
}

// SKILLS MODAL
.category-skills-modal {
	top: calc(100% / 3);
	overflow: visible;
	.onboarding-list {
		margin-top: -30px;
		height: calc(100% / 3 * 2 + 30px);
		overflow: none!important;
		> div {
			@include tri-down(15, white, 0, 0);
			background: $smoke;
			height: calc(100% - 30px);
			ul {
				height: 100%;
				overflow: auto;
			}
		}
	}
}

// EXPERIENCE MODAL
#experience-modal {
	position: absolute;
	top: 0;
	.main {
		height: calc(100% - 50px - 64px);
		.ugrid-3 {
			margin-top: -10px;
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: 400;
			li {
				padding: 0 15px;
			}
			li:nth-child(2) {
				text-align: center;
			}
			li:nth-child(3) {
				text-align: right;
			}
		}
		#exp-input {
			height: calc(100% - 194px);
		}
		textarea {
			font-size: 18px;
			height: 100%;
			resize:none;
		}
	}
}
@media screen and (min-width:375px) {
	#experience-modal {
		.main {
			textarea {
				font-size: 20px;
				height: 100%;
			}
		}
	}
}

// ACCOUNT MODAL
.signup-modal {
	h1 + h1 {
		margin-top: 0;
	}
	#account-form {
		height: calc(100% - 50px);
		padding: 15px;
		input {
			margin: 30px 0 15px;
			font-size: 20px;
		}
		#tos {
			display: block;
			color: white;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 1;
			text-align: center;
			text-transform: uppercase;
			opacity: 0.6;
		}
		#tos:active, #tos:focus {
			color: $shamrock;
		}
		#social-login {
			margin-top: 30px;
			margin-bottom:20px;
		}
	}
}

@media screen and (max-width:320px) {
	#account-form {
		padding-top: 0!important;
		input {
			margin-top: 20px!important;
			font-size: 18px!important;
		}
	}
}

// TERMS & PRIVACY MODAL
.terms-modal {
	color: $charcoal;
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
		line-height: 1.25;
	}
    p, ol, ul {
        font-size: 14px;
        margin: 10px 0px;
        line-height: 1.25;
    }
    h4 + p {
	    margin-top: 5px;
    }
    ol {
	    padding-left: 15px;
	    list-style: decimal;
    }
	ion-content {
		div {
			padding-bottom: 15px!important;
			&:last-child {
				padding-bottom: 0!important;
			}
		}
	}
}

// FAQ MODAL
.faq-modal {
    header.bg-charcoal {
        z-index: 1000!important;
    }
    iframe {
        min-height: 100%;
        width: 100%;
        header#top {
            display: none!important;
        }
    }
}

// UNIVERSITY MODAL
.university-modal {
	.onboarding-search {
		input {
			width: calc(100% - 25px);
		}
	}
}

// REQUESTS MODAL
.request-modal {
	// CATEGORIES
	#request-categories {
		@include flex;
		@include flex-wrap;
		height: calc(100% - 50px);
		li {
			position: relative;
			width: 50%;
			height: 25%;
			&:first-child {
				width: 100%;
			}
			.select-category {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				width: 100%;
				height: 100%;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				> span {
					span {
						display: block;
						text-align: center;
						&:first-child {
							margin: -15px auto 0;
							width: 60px;
							height: 60px;
							svg {
								path {
									stroke: white;
									stroke-width: 2.5px;
									stroke-linecap: round;
									stroke-linejoin: round;
								}
							}
						}
						@media screen and (min-height:568px) {
							&:first-child {
								width: 75px;
								height: 75px;
							}
						}
						&:last-child {
							margin: 10px auto 0;
						}
					}
				}
			}
			.follow-category {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 34px;
				height: 34px;
				border-bottom-left-radius: 1000px;
				svg {
					display: block;
					position: absolute;
					top: 4px;
					right: 4px;
					width: 20px;
					height: 20px;
					path {
						stroke: white;
						stroke-width: 9px;
						stroke-linecap: round;
						stroke-linejoin: round;
					}
				}
			}
		}
	}
	// SUBCATEGORIES
	#request-subcategories {
		@include flex;
		@include flex-wrap;
		height: calc(100% - 50px);
		.request-category {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			height: calc(100% / 3);
			width: 100%;
			font-size: 20px;
			> span {
				span {
					display: block;
					text-align: center;
					&:nth-child(1) {
						margin: -15px auto 0;
						width: 50px;
						height: 50px;
						svg {
							path {
								stroke: white;
								stroke-width: 2.5px;
								stroke-linecap: round;
								stroke-linejoin: round;
							}
						}
					}
					@media screen and (min-height:568px) {
						&:nth-child(1) {
							width: 60px;
							height: 60px;
						}
					}
					&:nth-child(2) {
						margin: 10px auto 0;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
				p {
					margin: 5px 0 0;
					padding: 0 15px;
					font-weight: 400;
					font-size: 14px;
					text-align: center;
				}
			}
		}
		.request-subcategories {
			height: calc(100% / 3 * 2);
			width: 100%;
			overflow: auto;
			li {
				position: relative;
				height: 40%;
				width: 100%;
				padding: 15px 15px 0;
				&:nth-child(1) {
					.select-subcategory {
						background: url(../../img/subcategories/session.png) center center / cover,
									url(/static/remote/img/subcategories/session.png) center center / cover;
					}
				}
				&:nth-child(2) {
					.select-subcategory {
						background: url(../../img/subcategories/question.png) center center / cover,
									url(/static/remote/img/subcategories/question.png) center center / cover;
					}
				}
				&:nth-child(3) {
					.select-subcategory {
						background: url(../../img/subcategories/homework.png) center center / cover,
									url(/static/remote/img/subcategories/homework.png) center center / cover;
					}
				}
				&:nth-child(4) {
					padding-bottom: 15px;
					.select-subcategory {
						background: url(../../img/subcategories/study.png) center center / cover,
									url(/static/remote/img/subcategories/study.png) center center / cover;
					}
				}
				.select-subcategory {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					width: 100%;
					height: 100%;
					> span {
						display: block;
						font-size: 20px;
						font-weight: 600;
						text-align: center;
					}
				}
				.follow-subcategory {
					display: block;
					position: absolute;
					top: 15px;
					right: 15px;
					width: 34px;
					height: 34px;
					border-bottom-left-radius: 1000px;
					background: rgba(white,.2);
					svg {
						display: block;
						position: absolute;
						top: 4px;
						right: 4px;
						width: 20px;
						height: 20px;
						path {
							stroke: white;
							stroke-width: 9px;
							stroke-linecap: round;
							stroke-linejoin: round;
						}
					}
				}
			}
		}
	}
	// FORM
	.request-content {
		height: calc(100% - 50px);
		padding-bottom: 64px;
		overflow: auto;
		font-weight: 300;
		input:not([type="text"]) {
			cursor: pointer;
		}
		input[type="text"], textarea {
			@include appearance;
			display: block;
			border-radius: 0;
			background: white;
			width: 100%;
			border: 2px solid $smoke;
			border-top: 0;
			border-bottom: 0;
			color: $slate;
			font-size: 18px;
			font-weight: 300;
			&::-ms-expand {
			    display: none;
			}
			&::-webkit-input-placeholder {
				font-weight: 300!important;
				color: rgba($slate, .5);
			}
			&:-moz-placeholder {
				font-weight: 300!important;
				color: rgba($slate, .5);
			}
			&::-moz-placeholder {
				font-weight: 300!important;
				color: rgba($slate, .5);
			}
			&:-ms-input-placeholder {
				font-weight: 300!important;
				color: rgba($slate, .5);
			}
			&:focus {
				&::-webkit-input-placeholder {
					color: $slate;
				}
				&:-moz-placeholder {
					color: $slate;
				}
				&::-moz-placeholder {
					color: $slate;
				}
				&:-ms-input-placeholder {
					color: $slate;
				}
			}
		}
		.request-course {
			input {
				font-size: 24px;
				font-weight: 600;
			}
		}
		.request-loc {
			ul {
				border-left: 1px solid $smoke;
				border-right: 1px solid $smoke;
				li {
					position: relative;
					border-left: 1px solid $smoke;
					border-right: 1px solid $smoke;
					input[type="radio"] {
						@include opacity(0);
						position: absolute;
						z-index: 9;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 0;
					}
					div {
						width: 100%;
					}
					label {
						display: block;
						width: 100%;
						line-height: 46px;
					}
					input:not(:checked) + label {
						color: rgba($slate, .5);
						background: white;
						font-weight: 400;
					}
					input:checked + label {
						background: $lake;
						color: white;
						font-weight: 600;
					}
				}
			}
			.request-address {
				position: relative;
				padding: 15px;
				border: 2px solid $smoke;
				border-bottom: 0;
				&:after {
					@include center-xy;
					@include opacity(.15);
					-webkit-filter: grayscale(1);
					filter: grayscale(1);
					content: "";
					display: block;
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					width: 200%;
					height: 200%;
					background: url(../../img/map.png) center center / cover,
								url(/static/remote/img/map.png) center center / cover;
				}
				> span {
					display: block;
					width: 100%;
					border: 0;
					font-size: 18px;
					font-weight: 600;
					line-height: 1.2;
					text-align: center;
				}
				.request-address-icon {
					margin-top: -6px;
					height: 40px;
					svg {
						width: auto;
						height: 100%;
						path {
							fill: none;
							stroke: $lake;
							stroke-width: 5px;
							stroke-linecap: round;
							stroke-linejoin: round;
						}
					}
				}
			}
		}
		.request-time {
			.request-time-urgent {
				li {
					border-left: 2px solid $smoke;
					border-right: 2px solid $smoke;
					> span {
						border-bottom: 2px solid $smoke;
						height: 48px;
						label {
							width: calc(100% - 46px);
							padding: 0 15px;
							font-weight: 600;
						}
						input + span {
							width: 46px;
							height: 46px;
							background-size: 30px 30px;
						}
						input:not(:checked) + span {
							background-color: #f8f8f8;
						}
					}
				}
			}
			.request-time-needed, .request-time-avail {
				border-left: 2px solid $smoke;
				border-right: 2px solid $smoke;
				h2 {
					font-weight: 600;
				}
			}
			.request-time-needed {
				ul {
					border-top: 1px solid $smoke;
					border-bottom: 1px solid $smoke;
					li {
						position: relative;
						border: 1px solid $smoke;
						&:first-child {
							border-left: 0;
						}
						&:last-child {
							border-right: 0;
						}
						input {
							@include opacity(0);
							position: absolute;
							z-index: 9;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-radius: 0!important;
						}
						div {
							padding: 5px 0;
							font-size: 12px;
							font-weight: 600;
							line-height: 1.2;
							text-align: center;
							text-transform: uppercase;
							h1 {
								font-size: 24px;
								font-weight: 400;
							}
						}
						input:not(:checked) + div {
							color: rgba($slate, .5);
						}
						input:checked + div {
							background: $lake;
							color: white;
							font-weight: 700;
							h1 {
								font-weight: 600;
							}
						}
					}
				}
			}
		}
		.request-desc {
			textarea {
				font-weight: 600;
				border-bottom: 2px solid $smoke;
				height: 150px;
				width: 100%;
			}
		}
		.picker {
			border-top: 2px solid $smoke;
		}
	}
}

// AVAILABILITY MODAL
.availability-modal {
	background: $slate;
	section {
		height: calc(100% - 50px);
		> div {
			height: 100%;
			width: 100%;
			&:after {
				content: "";
				position: fixed;
				z-index: 10;
				border-right: 2px solid rgba(white,.1);
				left: 0;
				top: 50px;
				width: calc(10% + 6px);
				height: 35px;
				background: $slate;
			}
		}
	}
	.avail-times {
		position: fixed;
		z-index: 9;
		width: calc(10% + 6px);
		height: calc(100% - 50px);
		padding-top: 36px;
		overflow-y: auto;
		ul {
			display: table;
			width: 100%;
			height: calc(100% / 12);
			li {
				display: table-cell;
				border: 1px solid rgba(white,.1);
				border-right: 2px solid rgba(white,.1);
				background: $slate;
				border-left: 0;
				font-size: 12px;
				width: 100%;
				height: 100%;
				span {
					@include flex;
					@include flex-center;
					width: 100%;
					height: 100%;
					text-align: right;
					background: rgba(white,.05);
				}
			}
		}
		ul:last-child {
			li {
				border-bottom: 2px solid rgba(white,.1);
			}
		}
	}
	.avail-days {
		position: fixed;
		z-index: 9;
		padding-left: calc(10% + 5px);
		width: 100%;
		height: 37px;
		background: $slate;
		overflow-x: auto;
		border-bottom: 2px solid rgba(white,.1);
		ul {
			display: table;
			height: 37px;
			li {
				display: table-cell;
				width: 100%;
				height: 100%;
				border-left: 1px solid rgba(white,.1);
				border-right: 1px solid rgba(white,.1);
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				span {
					@include flex;
					@include flex-center;
					width: 80px;
					height: 100%;
					text-align: center;
					background: rgba(white,.05);
				}
			}
			li:last-child {
				border-right: 2px solid rgba(white,.1);
			}
		}
	}
	.avail-hours {
		position: fixed;
		margin-left: calc(10% + 5px);
		height: calc(100% - 50px);
		padding-top: 36px;
		width: calc(90% - 5px);
		overflow-x: auto;
		ul {
			display: table;
			height: calc(100% / 12);
			li {
				display: table-cell;
				position: relative;
				border: 1px solid rgba(white,.1);
				width: 100%;
				height: 100%;
				input {
					@include opacity(0);
					border-radius: 0;
					position: absolute;
					z-index: 11;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
				input:checked + span {
					background: $campus;
				}
				span {
					@include flex;
					@include flex-center;
					text-align: center;
					width: 80px;
					height: 100%;
				}
			}
			li:last-child {
				border-right: 2px solid rgba(white,.1);
			}
		}
		ul:last-child {
			li {
				border-bottom: 2px solid rgba(white,.1);
			}
		}
	}
}

@media screen and (min-width:375px) {
	.request-modal {
		.request-content {
			.request-time {
				.request-time-needed {
					ul {
						li {
							div {
								padding: 10px 0;
							}
						}
					}
				}
			}
		}
	}
}


/* ---------- SIDEBAR & MENUS */
// SIDEBAR
#side-menu-left-overlay.active {
	background: rgba($charcoal, .8);
	width: 20%;
	height: 100%;
	z-index: 20;
	position: absolute;
	right: 0;
}
.side-menu-list {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 20;
	.list {
		height: 100%;
	}
	.list-item {
		height: 64px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		.list-item-icon {
			height: 64px;
			width: 64px;
			img {
				@include round;
				width: 34px;
				height: 34px;
			}
			svg {
				padding: 15px;
				width: auto;
				path, circle {
					stroke-width: 4px;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
				circle {
					stroke-dasharray: 3px, 10px;
				}
			}
		}
		.list-item-detail {
			padding: 0;
		}
	}
	.list-item-profile {
		@include flex-wrap;
		@include flex-center;
		height: calc(100% - 384px);
		.list-item-detail {
			span {
				display: block;
			}
			.student-profile-name {
				font-weight: 700;
				padding-bottom: 2px;
			}
			.student-profile-school {
				line-height: 1.2;
			}
			span:first-child {
				font-size: 20px!important;
			}
			span:last-child {
				font-size: 14px!important;
			}
			h3 {
				font-size: 16px!important;
				line-height: 1.2;
			}
		}
	}
	.list-item-agenda {
		display: none;
	}
}
@media screen and (min-height:540px) {
	.side-menu-list {
		.list-item-profile {
			height: 84px;
		}
		.list-item-agenda {
			@include flex;
			position: relative;
			height: calc(100% - 384px - 84px);
			text-transform: none;
			&:before {
				@include opacity(.3);
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../../img/schools.jpg) center center / cover;
			}
		}
	}
}

// SIDEBAR GURU MODE
.guru-mode {
	.list {
		background: $slate;
	}
	.list-item {
		&.active, &.activated {
			background: $campus;
		}
		.list-item-icon {
			svg {
				path, circle {
					stroke: #fff;
				}
			}
		}
	}
	.list-item-profile {
		background: rgba($campus, .75);
	}
	.list-item-agenda {
		background: white;
		color: $charcoal;
		&.active, &.activated {
			background: rgba(white, .9);
		}
	}
	.list-item-mode {
		background: rgba($campus, .75);
	}
}

// SIDEBAR STUDENT MODE
.student-mode {
	.list {
		background: white;
	}
	.list-item {
		color: $slate;
		.list-item-icon {
			svg {
				path {
					stroke: $slate;
				}
			}
		}
		&.activated, &.active {
			background: rgba($lake, .75);
			color: white;
			svg {
				path {
					stroke: white;
				}
			}
		}
	}
	.list-item-profile {
		background: $lake;
		color: white;
		.list-item-icon {
			svg {
				circle {
					stroke: white;
				}
			}
		}
	}
	.list-item-agenda {
		background: $slate;
		color: white;
		&:active, &:hover {
			background: rgba($slate, .9);
		}
	}
	.list-item-mode {
		background: $lake;
		color: white;
		.list-item-icon {
			svg {
				path {
					stroke: white;
				}
			}
		}
	}
}

// ACTION SHEET
.action-sheet-wrapper.action-sheet-up {
	background: white;
	.action-sheet-title {
		@include flex;
		@include flex-center;
		padding: 0 10px;
		font-size: inherit;
		height: 50px;
		span {
			color: $lake;
			font-size: 18px;
			text-transform: none!important;
		}
	}
	.action-sheet-group {
		margin: 0!important;
		button, div {
			border: 0!important;
			border-bottom: 1px solid $smoke!important;
		}
		button {
			padding: 0 10px;
			height: 50px;
			color: $slate;
			font-size: 16px;
			font-weight: 600;
		}
		button:active {
			background: $smoke;
		}
		&:last-child {
			> *:last-child {
				border-bottom: 0!important;
			}
		}
	}
}

// TAB BAR
.tabs {
	border: 0;
	height: 50px;
	line-height: 50px;
	svg {
		width: 100%;
		height: 100%;
		padding: 8px;
		fill: none;
		fill-rule: evenodd;
		stroke: white;
		stroke-width: 4px;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
	&.guru-tabs {
		svg {
			stroke: white;
		}
	}
	&.student-tabs {
		svg {
			stroke: $slate;
		}
	}
}



/* ---------- SETTING UP APP */
// ACCESS
.access-view {
	background: $shamrock;
	#access-data {
		height: calc(100% - 64px);
	}
	#access-logo {
		@include flex;
		@include flex-wrap;
		@include flex-bottom;
		height: calc(100% - 127px);
		svg {
			display: block;
			max-height: 60%;
		}
		#access-title {
			width: 100%;
			h1 {
				text-align: center;
				font-size: 48px;
				font-weight: 900;
				letter-spacing: 1px;
			}
		}
	}
	#access-code {
		@include flex;
		@include flex-center;
	}
	#access-start {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	p {
		margin: 0 0 15px;
		font-size: smaller;
	}
	button:active {
		background: rgba($charcoal,.3);
	}
}

// HOW IT WORKS
.how-it-works-view {
	background: $charcoal;
	height: 100%;
	header {
		padding-top: 20px;
		height: 50px;
	}
	.header-up {
		display: block;
		margin: 0 auto;
		height: 50px;
		svg {
			height: 100%;
			fill: none;
			stroke: white;
			stroke-width: 6px;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}
	button {
		bottom: 0;
		background: rgba(white,.1);
	}
	button:active {
		background: rgba(white,.4);
	}
	#how-cards-container {
		height: calc(100% - 50px - 64px);
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		.breadcrumbs {
			position: fixed;
			width: 100%;
			margin-top: 10%;
		}
	}
	#how-cards {
		@include listless;
		@include flex;
		padding-top: 15%;
		box-sizing: content-box;
		height: 70%;
		width: 600%;
		.how-card {
			width: 100%;
			height: 100%;
			.how-card-media, .how-card-desc {
				margin: 0 30px;
				width: calc(100% - 60px);
			}
			.how-card-media {
				position: relative;
				border-radius: 10px 10px 0 0;
				height: 70%;
				h1 {
					text-align: center;
					font-size: 20px;
					font-weight: 600;
					line-height: 50px;
				}
				div {
					@include flex;
					@include flex-center;
					position: absolute;
					width: 100%;
					height: calc(100% - 50px);
					padding: 15px;
					svg {
						height: 100%;
						width: auto;
					}
					&.bottom-0 {
						padding-bottom: 25px;
					}
					&.top-0 {
						padding-top: 25px;
					}
				}
			}
			.how-card-desc {
				@include flex;
				@include flex-center;
				border-radius: 0 0 10px 10px;
				padding: 15px;
				background: white;
				height: 30%;
				color: $charcoal;
				p {
					margin: 0;
					font-size: 16px;
					font-weight: 400;
					text-align: center;
				}
			}
		}
	}
}

// UNIVERSITY
.university-view {
	background: $charcoal;
	header {
		&:before {
			background: url(../../img/onboarding/schools.jpg) no-repeat center center/cover,
						url(/static/remote/img/onboarding/schools.jpg) center/cover no-repeat;
		}
		.geolocation-icon {
			margin-top: 3px;
		}
		.side-icon {
			@include opacity(1);
			@include center-y;
			right: 12px;
			z-index: 0;
			.ion-navigate {
				@include opacity(.6);
			}
			.ion-navigate.active,
			.ion-navigate.activated,
			.ion-navigate.location-active {
				@include opacity(1);
				color: $cerise;
			}
		}
	}
	#school-list, #school-list-modal {
		ul {
			li {
				a {
					font-weight: 300;
					.school-icon {
						img {
							@include round;
							border: 0!important;
							margin: 10px;
							width: 44px;
							height: 44px;
							background: white;
						}
					}
					.school-name {
						display: block;
						width: calc(100% - 69px);
						padding-right: 5px;
						b, i {
							display: block;
							width: 100%;
							line-height: 1.2;
						}
						b {
							font-size: 20px;
							font-weight: 400;
						}
						i {
							font-size: 16px;
							font-style: normal;
							font-weight: 300;
						}
						.school-title {
							display: block;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						.school-city {
							text-transform: capitalize;
						}
						.school-state {
							text-transform: uppercase;
						}
						.school-distance {
							float: right;
						    bottom: 0;
						    font-size:12px;
						    padding-top: 5px;
						    font-weight: 500;
						}
					}
				}
				#{$links} {
					&.active, &.activated {
						background: rgba(white,.2);
					}
				}
			}
		}
	}
}

// STUDENT HOME
.home-view {
	background: white;
	#student-home {
		header {
			background: rgba(white, .75);
			color: $slate;
			svg {
				path {
					stroke: $slate!important;
				}
			}
		}
		#student-home-map-container {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			z-index: -1;
			width: 100%;
			height: 100%;
			div {
				top: -10%;
				left: -10%;
				width: 120%!important;
				height: 120%!important;
				.student-home-map-label {
					display: none!important;
				}
			}
		}
		#home-content {
			@include center-xy;
			@include flex;
			@include flex-wrap;
			@include flex-center;
			z-index: 2;
			height: calc(100% - 150px);
			div {
				width: 100%;
				button {
					@include round;
					display: block;
					margin: 0 auto;
					width: 150px;
					height: 150px;
					font-weight: 600;
					line-height: 1.2;
					text-transform: uppercase;
				}
			}
		}
	}
}



/* ---------- GURU ONBOARDING */
// ONBOARDING
.onboarding {
	.onboarding-search {
		input {
			width: calc(100% - 25px);
		}
	}
	progress, .progress {
		position: absolute;
		top: 0;
		z-index: 9;
		span[data-value="2"] {
			width: 2%;
		}
		span[data-value="30"] {
			width: 25%;
		}
		span[data-value="50"] {
			width: 40%;
		}
		span[data-value="80"] {
			width: 80%;
		}
		span[data-value="85"] {
			width: 85%;
		}
		span[data-value="95"] {
			width: 95%;
		}
		span[data-value="99"] {
			width: 86%;
		}
	}
	header {
		h1:not(header .header-nav a h1) {
			text-align: center;
		}
	}
	.onboarding-list {
		height: calc(100% / 3 * 2);
		overflow: auto;
	}
	&#demographic {
		header {
			&:before {
				background: url(../images/schools.jpg) no-repeat center center / cover;
			}
			h1 {
				font-size: 24px;
			}
		}
		#demographic-grid {
			> ul {
				> li:not(.active) {
					@include opacity(.3);
				}
			}
			ul {
				@include flex;
				@include flex-center;
				@include flex-wrap;
				height: 100%;
				li {
					position: relative;
					height: 50%;
					font-weight: 600;
					a {
						@include flex;
						@include flex-center;
						@include flex-wrap;
						width: 100%;
						height: 100%;
						background: none;
						.demographic-icon {
							span {
								@include round;
								display: block;
								margin: 0 auto 10px;
								width: 60px;
								height: 60px;
								background: rgba(white,.4);
							}
						}
					}
					#{$links} {
						background: none;
					}
					.demographic-popup {
						@include tri-down(15, white, 0, 0);
						position: absolute;
						z-index: 9;
						bottom: -100%;
						background: white;
						height: 100%;
						width: 200%;
						ul {
							li {
								a {
									border: 1px solid;
								}
							}
							li:nth-child(1) {
								padding: 5px 0 0 5px;
								a {
									border-top: 0;
									border-left: 0;
								}
							}
							li:nth-child(2) {
								padding: 5px 5px 0 0;
								a {
									border-top: 0;
									border-right: 0;
								}
							}
							li:nth-child(3) {
								padding: 0 0 5px 5px;
								a {
									border-bottom: 0;
									border-left: 0;
								}
							}
							li:nth-child(4) {
								padding: 0 5px 5px 0;
								a {
									border-bottom: 0;
									border-right: 0;
								}
							}

						}
					}
					&.bg-campus {
						.demographic-popup {
							left: 0;
							&:before {
								left: 25%;
							}
							li {
								a {
									color: $campus;
									border-color: rgba($campus, .1);
								}
								#{$links} {
									background: rgba($campus, .05);
								}
							}
						}
					}
					&.bg-shamrock {
						.demographic-popup {
							left: -100%;
							&:before {
								left: 75%;
							}
							li {
								a {
									color: $shamrock;
									border-color: rgba($shamrock, .1);
								}
								#{$links} {
									background: rgba($shamrock, .05);
								}
							}
						}
					}
					&.bg-azure {
						.demographic-popup {
							left: 0;
							&:before {
								left: 25%;
							}
							li {
								a {
									color: $azure;
									border-color: rgba($azure, .1);
								}
								#{$links} {
									background: rgba($azure, .05);
								}
							}
						}
					}
					&.bg-lake {
						.demographic-popup {
							left: -100%;
							&:before {
								left: 75%;
							}
							li {
								a {
									color: $lake;
									border-color: rgba($lake, .1);
								}
								#{$links} {
									background: rgba($lake, .05);
								}
							}
						}
					}
				}
			}
		}
	}
	&#start {
		background: $slate;
		#start-container {
			@include center-y;
			padding-bottom: 64px;
			color: $shamrock;
			font-size: 28px;
			text-align: center;
		}
	}
}

// MAJOR
.major-view, .language-view {
	background: $charcoal;
	header {
		&:before {
			background: url(../../img/onboarding/major.jpg) no-repeat center center/cover,
						url(/static/remote/img/onboarding/major.jpg) center/cover no-repeat;
		}
	}
	#major-list, #language-list {
		ul {
			margin-top: 1px;
			li {
				a {
					border-color: $campus;
					margin-bottom: 1px;
					font-weight: 400;
					font-size: 20px;
					line-height: 1.2;
				}
				#{$links} {
					&.active, &.activated {
						background: rgba(white,.2);
					}
				}
				&.selected  {
					position: relative;
					a {
						border-color: white!important;
						color: inherit!important;
						font-weight: 600;
						background: $campus;
					}
					svg {
						@include center-y;
						right: 0;
						width: 64px;
						height: 64px;
						padding: 20px;
					}
				}
			}
		}
	}
}

// COURSES
.courses-view {
	background: $charcoal;
	header {
		&:before {
			background: url(../../img/onboarding/courses.jpg) no-repeat center center/cover,
						url(/static/remote/img/onboarding/courses.jpg) center/cover no-repeat;
		}
	}
	#courses-list {
		ul {
			margin: 1px 1px 0;
			li {
				position: relative;
				border: 1px solid transparent;
				label {
					display: block;
					width: 100%;
					padding: 15px 20px;
					background: rgba(white,.1);
					border-color: $campus;
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					text-align: left;
					span {
						display: block;
						width: 100%;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						&:first-child {
							font-size: 14px;
							line-height: 1.2;
						}
					}
				}
				input {
					@include opacity(0);
					position: absolute;
					z-index: 99;
					top: 0;
					left: 0;
					margin: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
				input:checked + label {
					background: $campus;
					border-color: white!important;
					color: inherit!important;
					font-weight: 600;
				}
			}
		}
	}
}

// SKILLS
.skills-view {
	background: $charcoal;
	header {
		&:before {
			background: url(../../img/onboarding/skills.jpg) no-repeat center center/cover,
						url(/static/remote/img/onboarding/skills.jpg) center/cover no-repeat;
		}
	}
	#skills-list {
		ul {
			padding: 1px;
			height: 100%;
			li {
				height: 25%;
				border: 1px solid $charcoal;
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: relative;
					margin-bottom: 0;
					background-color: rgba($charcoal,.5);
					height: 100%;
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					text-align: center;
					div {
						position: relative;
						z-index: 9;
					}
					.skill-label {
						display: block;
						width: 100%;
						font-weight: 600;
						line-height: 1.25;
					}
					.skill-count {
						display: block;
						font-size: 12px;
						line-height: 1.25;
						text-transform: uppercase;
					}
				}
			}
			[class*="bg-"]:after {
				@include opacity(.7);
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
			.bg-cerise.important:after {
				background: $cerise;
			}
			.bg-orange.important:after {
				background: $orange;
			}
			.bg-gold.important:after {
				background: $gold;
			}
			.bg-moola.important:after {
				background: $moola;
			}
			.bg-shamrock.important:after {
				background: $shamrock;
			}
			.bg-azure.important:after {
				background: $azure;
			}
			.bg-lake.important:after {
				background: $lake;
			}
			.bg-eggplant.important:after {
				background: $eggplant;
			}
		}
	}
}

// PHOTO
.photo-view {
	background: $charcoal;
	h1.text-center {
		line-height: 1.2!important;
	}
	#photo-list {
		position: absolute;
		bottom: 0;
		padding: 1px;
		p {
			font-size: 14px;
			text-align: center;
			font-weight: 400;
			opacity: 0.5;
		}
		li {
			padding: 1px;
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	#photo-container {
		#profile-icon {
			position: relative;
			height: 75%;
			text-align: center;
			h1 {
				@include center-xy;
				z-index: 9;
				margin: 0;
				border: 0;
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
			}
			svg, img {
				@include round;
				@include center-xy;
				@include opacity(.5);
				width: 80%;
				height: 80%;
				max-width: 150px;
				max-height: 150px;
			}
		}
	}
}



/* ---------- GURU PROFILE */
// GURU PROFILE
.guru-profile-view {
	font-size: 18px;
	#profile {
		overflow-y: scroll;
		height: calc(100% - 50px);
	}
	#btn-edit-profile, #btn-save-profile {
		bottom: 50px!important;
		width: 100%;
	}
	#btn-save-profile button {
		width: 100%;
	}
	.round {
		@include round;
		@include flex;
		@include flex-center;
		margin: 5px auto;
		width: auto;
		height: auto;
		padding: 5px 10px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 18px;
		background: $campus;
		svg {
			width: 19px;
			height: 18px;
			padding-right: 5px;
			path {
				stroke: white;
				stroke-width: 10;
				stroke-linecap: round;
				stroke-linejoin: round;
				fill: none;
			}
		}
		span {
			line-height: 18px;
		}
	}
	#profile-fixed {
		position: fixed;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 64px;
		padding: 13px 0;
		background: rgba($slate,.95);
		#profile-fixed-inside {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			#profile-fixed-icon {
				@include flex;
				@include flex-center;
				img {
					@include round;
					width: 35px;
					height: 35px;
					border: 3px solid rgba(white,.5);
				}
			}
			#profile-fixed-name {
				padding-left: 10px;
				h1 {
					font-size: 24px;
					line-height: 1;
					text-transform: uppercase;
					&.verified {
						svg {
							width: 16px;
							height: 16px;
						}
					}
				}
				p {
					margin: 0;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
				}
			}
		}
	}
	#profile-desc {
		padding: 15px 0;
		#profile-icon {
			@include round;
			display: block;
			img {
				@include round;
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 100px;
				padding: 5px;
				background: rgba(white, .5);
			}
			a {
				position: relative;
				display: block;
				img {
					@include opacity(.5);
				}
				h1 {
					@include center-xy;
					width: 100px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
		#profile-list {
			text-align: center;
			ul {
				@include listless;
				#profile-name {
					h1 {
						margin-top: 10px;
						padding: 0 10px 3px;
						color: white;
						font-size: 28px;
						font-weight: 600;
						line-height: 1;
						text-transform: uppercase;
						span:last-child {
							svg {
								display: none;
							}
						}
					}
				}
				#profile-school {
					margin-bottom: 3px;
					font-size: 20px;
					font-weight: 400;
				}
				#profile-loc {
					font-size: 16px;
					#profile-loc-city:not(:empty):after {
						content: ", "
					}
				}
			}
		}
		#profile-bars {
			#profile-rating {
				@include listless;
				@include flex;
				@include flex-center;
				width: 100%;
				height: 75px;
				padding: 20px;
				margin: 15px 0;
				background: rgba(white, .1);
				font-size: 24px;
				li {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	#profile-info {
		.profile-inside {
			padding-bottom: 64px;
			h1 {
				background: rgba(white,.05);
				color: white;
			}
			li {
				position: relative;
				a {
					position: absolute;
					right: 0;
					top: 0;
					svg {
						@include rotate(45);
						width: 35px;
						height: 40px;
						padding: 10px;
						stroke: white;
						stroke-width: 10;
						stroke-linecap: round;
						stroke-linejoin: round;
					}
				}
			}
			#profile-courses {
				ul.courses {
					@include listless;
					@include flex;
					@include flex-wrap;
					text-align: center;
					li {
						padding: 10px 15px;
						width: 50%;
						font-weight: 600;
						position:relative;
					}
					li:nth-child(1){
						background: $lake;
					}
					li:nth-child(2){
						background: $gold;
					}
					li:nth-child(3){
						background: $azure;
					}
					li:nth-child(4){
						background: $orange;
					}
					li:nth-child(5){
						background: $shamrock;
					}
					li:nth-child(6){
						background: $cerise;
					}
				}
				ul.default {
					@include listless;
					@include flex;
					@include flex-wrap;
					text-align: center;
					li {
						padding: 10px 15px;
						width: 100%;
						font-weight: 600;
					}
				}
			}
			h1 {
				padding: 10px;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 2px;
				text-align: center;
				text-transform: uppercase;
				color: white;
			}
			#profile-other {
				> div {
					background: $charcoal;
					div {
						ul {
							@include listless;
							@include flex;
							@include flex-wrap;
							text-align: center;
							li {
								padding: 10px 15px;
								width: 50%;
								font-weight: 600;
							}
						}
					}
				}
				#profile-major, #profile-job {
					div {
						ul.majors {
							li {
								position: relative;
								width: 100%;
								font-weight: 200;
								border-bottom: 1px solid rgba(white, .1);
								&:last-child {
									border-bottom: 0;
								}
							}
						}
						ul.default {
							@include listless;
							@include flex;
							@include flex-wrap;
							text-align: center;
							li {
								padding: 10px 15px;
								width: 100%;
								font-weight: 600;
							}
						}
					}
				}
				#profile-skills {
					div {
						ul.skills {
							li {
								position:relative;
							}
							li:nth-child(1){
								background: $lake;
							}
							li:nth-child(2){
								background: $shamrock;
							}
							li:nth-child(3){
								background: $azure;
							}
							li:nth-child(4){
								background: $moola;
							}
						}
						ul.default {
							@include listless;
							@include flex;
							@include flex-wrap;
							text-align: center;
							li {
								padding: 10px 15px;
								width: 100%;
								font-weight: 600;
							}
						}
					}
				}
				#profile-languages {
					div {
						ul.languages {
							li {
								position:relative;
							}
							li:nth-child(1){
								background: $gold;
							}
							li:nth-child(2){
								background: $orange;
							}
						}
						ul.default {
							@include listless;
							@include flex;
							@include flex-wrap;
							text-align: center;
							li {
								padding: 10px 15px;
								width: 100%;
								font-weight: 600;
							}
						}
					}
				}
				.empty {
					li {
						width: 100%;
						font-weight: 300;
						text-align: center;
					}
				}
			}
		}
	}
}



/* ---------- CREDIBILITY & RANKING */
// CREDIBILITY
.credibility-view {
	header {
		position: relative;
	}
	#credit-slider {
		position: absolute;
		bottom: 0;
		height: calc(100% - 50px);
		width: 100%;
		ul {
			@include listless;
			@include flex;
			position: absolute;
			bottom: 0;
			width: 100%;
			overflow-x: auto;
			li {
				font-size: 14px;
				font-weight: 400;
				width: 100%;
				text-align: center;
				a {
					display: block;
					width: 92px;
					padding-bottom: 10px;
					border-bottom: 5px solid transparent;
					color: white;
					.credit-label {
						font-weight: 400;
					}
					.credit-icon {
						@include round;
						@include flex;
						@include flex-center;
						@include flex-wrap;
						margin: 0 auto 10px;
						width: 50px;
						height: 50px;
						background: $slate;
						svg {
							stroke-linejoin: round;
							stroke-linecap: round;
							stroke-width: 4px;
							stroke: white;
							fill-rule: even-odd;
							fill: none;
							width: 100%;
							height: 100%;
							padding: 8px;
						}
					}
				}
				#{$links} {
					border-bottom: 5px solid $cerise;
					color: $cerise;
					.credit-icon {
						background: $cerise;
					}
				}
			}
			.active {
				&#credit-exp {
					a {
						border-bottom: 5px solid $shamrock;
						color: $shamrock;
						.credit-icon {
							background: $shamrock;
						}
					}
				}
				&#credit-grades {
					a {
						border-bottom: 5px solid $moola;
						color: $moola;
						.credit-icon {
							background: $moola;
						}
					}
				}
				&#credit-fb {
					a {
						border-bottom: 5px solid $facebook-light;
						color: $facebook-light;
						.credit-icon {
							background: $facebook-light;
						}
					}
				}
				&#credit-phone {
					a {
						border-bottom: 5px solid $eggplant;
						color: $eggplant;
						.credit-icon {
							background: $eggplant;
						}
					}
				}
				&#credit-email {
					a {
						border-bottom: 5px solid $lake;
						color: $lake;
						.credit-icon {
							background: $lake;
						}
					}
				}
			}
			#credit-exp {
				#{$links} {
					border-bottom: 5px solid $shamrock;
					color: $shamrock;
					.credit-icon {
						background: $shamrock;
					}
				}
			}
			#credit-grades {
				#{$links} {
					border-bottom: 5px solid $moola;
					color: $moola;
					.credit-icon {
						background: $moola;
					}
				}
			}
			#credit-fb {
				#{$links} {
					border-bottom: 5px solid $facebook-light;
					color: $facebook-light;
					.credit-icon {
						background: $facebook-light;
					}
				}
			}
			#credit-phone {
				#{$links} {
					border-bottom: 5px solid $eggplant;
					color: $eggplant;
					.credit-icon {
						background: $eggplant;
					}
				}
			}
			#credit-email {
				#{$links} {
					border-bottom: 5px solid $lake;
					color: $lake;
					.credit-icon {
						background: $lake;
					}
				}
			}
		}
	}
	#credibility-content-wrapper {
		position: relative;
		background: $slate;
		height: calc(100% / 3 * 2);
		text-align: center;
		.credit-content-slide {
			display: none;
			width: 100%;
			height: 100%;
			&.active {
				display: block;
			}
			> div {
				height: 100%;
				.credit-body {
					height: calc(100% - 34px - 64px - 50px);
					&:not(ul) {
						@include flex;
						@include flex-center;
						@include flex-wrap;
					}
					p {
						margin: 0;
						padding: 15px;
						font-size: 20px;
					}
					li {
						display: block;
						text-align: left;
						height: 65px;
						a {
							.list-item-detail {
								h2 {
									font-size: 20px;
									font-weight: 600;
								}
								span {
									display: block;
									font-size: 16px;
									font-weight: 400;
								}
							}
							svg {
								fill: none;
								padding: 15px;
								stroke-width: 3px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:375px) {
	.credibility-view {
		#credit-slider {
			ul {
				li {
					font-size: 16px;
					a {
						width: 108px;
						.credit-icon {
							width: 60px;
							height: 60px;
						}
					}
				}
			}
		}
		#credibility-content-wrapper {
			.credit-content-slide  {
				> div {
					.credit-body {
						p {
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:414px) {
	.credibility-view {
		#credit-slider {
			ul {
				li {
					font-size: 18px;
					a {
						display: block;
						width: 118px;
						.credit-icon {
							width: 70px;
							height: 70px;
						}
					}
				}
			}
		}
	}
}

// GURU RANKING
.guru-view {
	header {
		&:before {
			background: url(../../img/onboarding/schools.jpg) no-repeat center center / cover;
		}
	}
	#guru-ranking {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		position: relative;
		z-index: 9;
		width: 100%;
		height: calc(100% - 20px);
		margin-top: -20px;
		padding: 0 30px;
		> div {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			-webkit-transform: scale(.8);
			-moz-transform: scale(.8);
			-ms-transform: scale(.8);
			-o-transform: scale(.8);
			transform: scale(.8);
		}
		.progressbar-text {
			display: none;
		}
		svg {
			@include round;
			* {
				stroke-linecap: round;
			}
		}
		#guru-chart {
			position: relative;
			width: 130px;
			#percentile {
				@include center-xy;
				#percentile-ranking {
					position: relative;
					font-size: 44px;
					font-weight: 600;
					line-height: 1;
					text-align: center;

					&:after {
						content: "th";
						display: block;
						position: absolute;
						top: -1px;
						right: -1px;
						font-size: 12px;
						font-weight: 400;
						line-height: 28px;
						text-transform: uppercase;
					}
				}
				#percentile-label {
					font-size: 12px;
					font-weight: 400;
					letter-spacing: 1px;
					line-height: 15px;
					text-transform: uppercase;
				}
			}
		}
		#guru-stats {
			padding-left: 30px;
			width: calc(100% - 130px);
			h2 {
				margin: 0 0 5px;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
			}
			.stats-bar {
				line-height: 10px;
				font-size: 10px;
				height: 10px;
				margin-bottom: 7px;
				svg {
					height: 10px;
				}
			}
		}
	}
	.tip-container {
		h2 {
			font-size: 22px;
		}
		p {
			margin-top: 10px;
			font-size: 18px;
		}
	}
}
@media screen and (min-height:540px) {
	.guru-view {
		#guru-ranking {
			> div {
				-webkit-transform: none;
				-moz-transform: none;
				-ms-transform: none;
				-o-transform: none;
				transform: none;
			}
			#guru-stats {
				.stats-bar {
					margin-bottom: 9px;
				}
			}
		}
	}
}
@media screen and (min-width:414px) {
	.guru-view {
		#guru-ranking {
			> div {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
}






/* ---------- SAMIR */
.smaller-list-font {
	font-size: 85%;
}

.slider-pager {
	display: none;
}

.content {
	height: 100%;
	&.footer-exists {
		padding-bottom: 64px;
	}
}

/**Hide intercom shit**/
#intercom-launcher {
	display:none !important;
}

.intercom-parent-container {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	margin-top: -54px;
}

.stats-small {
	font-size: 12px;
	font-weight: 700;
	margin: 0.66em;
	text-transform: uppercase;
}

.stats-large {
	font-size: 36px;
	font-weight: 700;
}

.uguru-view.faq-modal {
    background-color:whitesmoke !important;
    z-index: 1000;
    header {
        overflow:hidden;
    }
    background-color:white;
    .ion-chevron-down {
        position:absolute;
        top:10px;
        left:10px;
    }
}

/*Resume samir hacks*/
.major-input-close {
	position: absolute;
    right: 10px;
    top: 34%;
}