@import 'mixin';

a, a:hover, a:active, a:visited {
	color: white;
	text-decoration:none;
}
i {
	font-style: normal;
}
body {
	margin: 0;
	font-family: $font;
	font-size: 24px;
	font-weight: 200!important;
	color: white;
	background: $charcoal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	> section, > div, > main {
		height: 100%;
	}
}
::-webkit-selection {
    background: rgba(white,.2);
}
::-moz-selection {
    background: rgba(white,.2);
}
::selection {
    background: rgba(white,.2);
}

.uguru-view {
	* {
		font-family: $font!important;
	}
	#main-menu {
		position: fixed;
		bottom: 0;
		background: $charcoal;
		height: 64px;
		width: 100%;
		ul {
			@include listless;
			@include flex;
			@include flex-wrap;
			@include flex-center;
			width: 100%;
			li {
				position: relative;
				width: 25%;
				height: 64px;
				span {
					@include round;
					@include center-xy;
					display: block;
					width: 32px;
					height: 32px;
					background: rgba(white,.2);
				}
			}
		}
	}

	h1.verified {
		span {
			svg {
				display: inline!important;
				width: 20px;
				height: 20px;
				path:first-child {
					fill: $lake;
				}
			}
		}
	}

	.start {
		&#access {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			background: $shamrock;
			padding-bottom: 128px;
			svg {
				max-width: 200px;
				height: auto;
			}
			#access-start {
				position: absolute;
				bottom: 0;
				left: 0;
			}
			p {
				margin: 15px 0;
				font-size: smaller;
			}
			button:active {
				background: rgba($charcoal,.3);
			}
		}
		&#how {
			header {
				@include flex;
				@include flex-center;
				height: 64px;
				h1 {
					font-size: 32px;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
			button {
				bottom: 0;
				background: rgba(white,.1);
			}
			button:active {
				background: rgba(white,.4);
			}
			#how-cards {
				@include listless;
				@include center-xy;
				@include flex;
				height: 375px;
				overflow-y: hidden;
				overflow-x: auto;
				.how-card {
					box-sizing: border-box;
					width: 290px;
					height: 375px;
					min-width: -webkit-min-content;
					.how-card-media, .how-card-desc {
						box-sizing: border-box;
						margin: 0 15px;
						width: 290px;
					}
					.how-card-media {
						border-radius: 10px 10px 0 0;
						background: $slate;
						height: 70%;
					}
					.how-card-desc {
						@include flex;
						@include flex-center;
						border-radius: 0 0 10px 10px;
						padding: 15px;
						background: white;
						height: 30%;
						color: $charcoal;
						p {
							margin: 0;
							font-size: 16px;
							font-weight: 400;
							text-align: center;
						}
					}
					&:first-child {
						.how-card-media, .how-card-desc {
							margin-left: 30px;
						}
					}
					&:last-child {
						.how-card-media, .how-card-desc {
							margin-right: 30px;
						}
					}
					&:nth-child(1) {
						.how-card-media {
							background: $cerise;
						}
					}
					&:nth-child(2) {
						.how-card-media {
							background: $orange;
						}
					}
					&:nth-child(3) {
						.how-card-media {
							background: $gold;
						}
					}
					&:nth-child(4) {
						.how-card-media {
							background: $moola;
						}
					}
					&:nth-child(5) {
						.how-card-media {
							background: $shamrock;
						}
					}
					&:nth-child(6) {
						.how-card-media {
							background: $lake;
						}
					}
					&:nth-child(7) {
						.how-card-media {
							background: $eggplant;
						}
					}
				}
			}
		}
	}

	progress, .progress {
		position: absolute;
		top: 0;
		z-index: 9;
		span[data-value="2"] {
			width: 2%;
		}
		span[data-value="30"] {
			width: 25%;
		}
		span[data-value="50"] {
			width: 40%;
		}
		span[data-value="80"] {
			width: 80%;
		}
		span[data-value="85"] {
			width: 85%;
		}
		span[data-value="95"] {
			width: 95%;
		}
		span[data-value="99"] {
			width: 86%;
		}
	}

	.onboarding {
		header {
			.onboarding-prop {
				@include center-xy;
				h5 {
					color: white;
					font-weight: 400;
					text-transform: uppercase;
					margin: 5px;
				}
			}
			.onboarding-message {
				@include center-xy;
				width: 100%;
				font-size: 24px;
				text-align: center;
				text-transform: none;
				line-height: 1.25;
			}
		}
		.onboarding-list {
			height: calc(100% / 3 * 2);
			overflow: auto;
		}
		&#demographic {
			header {
				&:before {
					background: url(../images/school.jpg) no-repeat center center / cover;
				}
				h1 {
					font-size: 24px;
				}
			}
			#demographic-grid {
				> ul {
					> li:not(.active) {
						@include opacity(.3);
					}
				}
				ul {
					@include flex;
					@include flex-center;
					@include flex-wrap;
					height: 100%;
					li {
						position: relative;
						height: 50%;
						font-weight: 600;
						a {
							@include flex;
							@include flex-center;
							@include flex-wrap;
							width: 100%;
							height: 100%;
							background: none;
							.demographic-icon {
								span {
									@include round;
									display: block;
									margin: 0 auto 10px;
									width: 60px;
									height: 60px;
									background: rgba(white,.4);
								}
							}
						}
						#{$links} {
							background: none;
						}
						.demographic-popup {
							@include tri-down(15, white, 0, 0);
							position: absolute;
							z-index: 9;
							bottom: -100%;
							background: white;
							height: 100%;
							width: 200%;
							ul {
								li {
									a {
										border: 1px solid;
									}
								}
								li:nth-child(1) {
									padding: 5px 0 0 5px;
									a {
										border-top: 0;
										border-left: 0;
									}
								}
								li:nth-child(2) {
									padding: 5px 5px 0 0;
									a {
										border-top: 0;
										border-right: 0;
									}
								}
								li:nth-child(3) {
									padding: 0 0 5px 5px;
									a {
										border-bottom: 0;
										border-left: 0;
									}
								}
								li:nth-child(4) {
									padding: 0 5px 5px 0;
									a {
										border-bottom: 0;
										border-right: 0;
									}
								}

							}
						}
						&.bg-campus {
							.demographic-popup {
								left: 0;
								&:before {
									left: 25%;
								}
								li {
									a {
										color: $campus;
										border-color: rgba($campus, .1);
									}
									#{$links} {
										background: rgba($campus, .05);
									}
								}
							}
						}
						&.bg-shamrock {
							.demographic-popup {
								left: -100%;
								&:before {
									left: 75%;
								}
								li {
									a {
										color: $shamrock;
										border-color: rgba($shamrock, .1);
									}
									#{$links} {
										background: rgba($shamrock, .05);
									}
								}
							}
						}
						&.bg-azure {
							.demographic-popup {
								left: 0;
								&:before {
									left: 25%;
								}
								li {
									a {
										color: $azure;
										border-color: rgba($azure, .1);
									}
									#{$links} {
										background: rgba($azure, .05);
									}
								}
							}
						}
						&.bg-lake {
							.demographic-popup {
								left: -100%;
								&:before {
									left: 75%;
								}
								li {
									a {
										color: $lake;
										border-color: rgba($lake, .1);
									}
									#{$links} {
										background: rgba($lake, .05);
									}
								}
							}
						}
					}
				}
			}
		}
		&#start {
			background: $slate;
			#start-container {
				@include center-y;
				padding-bottom: 64px;
				color: $shamrock;
				font-size: 28px;
				text-align: center;
			}
		}
		&#availability {
		}
		&#photo {
			#photo-container {
				#profile-icon {
					position: relative;
					height: calc(100% / 2);
					text-align: center;
					h1 {
						@include center-xy;
						font-size: 24px;
						font-weight: 700;
						text-transform: uppercase;
					}
					svg {
						@include center-xy;
						width: 80%;
						height: 80%;
						max-width: 150px;
						max-height: 150px;
					}
				}
			}
		}
		&#account {
			#account-form {
				box-sizing: border-box;
				padding: 15px;
				input {
					margin: 30px 0 15px;
					font-size: 20px;
				}
				#tos {
					display: block;
					color: white;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 1px;
					line-height: 1;
					text-align: center;
					text-transform: uppercase;
				}
				#tos:active, #tos:focus {
					color: $shamrock;
				}
				#social-login {
					margin-top: 50px;
				}
			}
		}
		&#skill {
			header {
				&:before {
					background: url(../../img/onboarding/skills.jpg) no-repeat center center/cover
								;
				}
			}
			#skills-list {
				ul {
					padding: 0 1px 1px;
					height: 100%;
					li {
						height: 25%;
						padding: 1px;
						a {
							@include flex;
							@include flex-wrap;
							@include flex-center;
							background-color: rgba(0,0,0,0.5);
							box-sizing: border-box;
							height: 100%;
							font-size: 18px;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
							.skill-icon {
								@include round;
								display: block;
								width: 50px;
								height: 50px;
								margin-top: 5px;
								background: white;
							}
							.skill-label {
								margin-top: -30px;
								display: block;
								width: 100%;
							}
						}
					}
					.active {
						a {
							background: $moola;
						}
					}
				}
			}
		}
		&#skill-list {
			header {
				svg {
					left: auto;
					right: 15px;
				}
			}
			#onboarding-skill {
				@include center-xy;
				.onboarding-prop {
					@include reset-pos;
				}
				h1 {
					padding: 10px 0 0;
					text-align: center;
				}
			}
			.onboarding-list {
				margin-top: -30px;
				height: calc(100% / 3 * 2 + 30px);
				overflow: none!important;
				> div {
					@include tri-down(15, white, 0, 0);
					background: $smoke;
					height: calc(100% - 30px);
					ul {
						height: 100%;
						overflow: auto;
						li {
							> span {
								input:checked + span {
								    background-color: $gold;
								}
							}
						}
					}
				}
			}
		}
		&#course {
			header {
				&:before {
					background: url(../../img/onboarding/courses.jpg) no-repeat center center/cover,
								url(/static/remote/img/onboarding/courses.jpg) center/cover no-repeat;
				}
			}
			#courses-list {
				ul {
					@include flex;
					@include flex-wrap;
					margin: 0 1px;
					li {
						position: relative;
						width: 50%;
						border: 1px solid transparent;
						label {
							display: block;
							width: 100%;
							padding: 10px;
							background: rgba(white,.1);
							font-size: 18px;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
						}
						input {
							@include opacity(0);
							position: absolute;
							z-index: 99;
							top: 0;
							left: 0;
							margin: 0;
							-webkit-appearance: none;
							width: 100%;
							height: 44px;
							cursor: pointer;
						}
						input:checked + label {
							background: $azure;
						}
					}
				}
			}
		}
		&#school {
			header {
				&:before {
					background: url(../../img/onboarding/school.jpg) no-repeat center center/cover,
								url(/static/remote/img/onboarding/school.jpg) center/cover no-repeat;
				}
			}
			#school-list {
				ul {
					li {
						a {
							font-weight: 300;
							.school-icon {
								img {
									padding: 10px;
								}
							}
							.school-name {
								b, i {
									display: block;
									width: 100%;
									line-height: 1.2;
								}
								b {
									font-weight: 400;
								}
								i {
									font-size: 16px;
									font-style: normal;
									font-weight: 300;
								}
							}
						}
						#{$links} {
							background: rgba(white,.2);
						}
					}
				}
			}
		}
		&#major {
			header {
				&:before {
					background: url(../../img/onboarding/major.jpg) no-repeat center center/cover,
								url(/static/remote/img/onboarding/major.jpg) center/cover no-repeat;
				}
			}
			#major-list {
				ul {
					li {
						a {
							margin-bottom: 1px;
							font-weight: 300;
						}
						#{$links} {
							background: rgba(white,.2);
						}
					}
					.major-business {
						a {
							border-color: $lake;
						}
					}
					.major-arts {
						a {
							border-color: $moola;
						}
					}
					.major-science {
						a {
							border-color: $gold;
						}
					}
					.major-math {
						a {
							border-color: $cerise;
						}
					}
				}
			}
		}
	}

	.request {
		&#request-empty {
			#request-content {
				height: calc(100% - 50px - 64px);
			}
			#request-message {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				padding: 15px;
				width: 100%;
				height: 100%;
				background: $slate;
				> div {
					> svg {
						display: block;
						margin: 0 auto;
						width: 50%;
						max-height: 150px;
					}
					h2 {
						width: 100%;
						margin: 30px 0;
						font-size: 20px;
						font-weight: 400;
						text-align: center;
					}
				}
				#request-button {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					color: white;
					span {
						@include round;
						@include flex;
						@include flex-center;
						width: 70px;
						height: 70px;
						background: $shamrock;
						svg {
							width: 25px;
							height: 25px;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}
					b {
						display: block;
						width: 100%;
						margin-top: 5px;
						font-size: 24px;
						font-weight: 600;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
		}
		&#request {
			header {
				&:before {
					background: url(../images/school.jpg) no-repeat center center / cover;
				}
				.request-header {
					h1 {
						padding-top: 20px;
						width: 100%;
						text-align: center;
						font-size: 24px;
					}
					.request-icon {
						@include round;
						@include flex;
						@include flex-center;
						width: 80px;
						height: 80px;
						background: $shamrock;
						margin: 0 auto;
						svg {
							@include reset-pos;
							width: 30px;
							height: 30px;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}
				}
			}
			#request-content {
				height: calc(100% / 3 * 2);
			}
			#request-list {
				height: calc(100% - 64px);
				overflow: auto;
				li {
					padding: 15px;
					border-bottom: 1px solid $charcoal;
					.request-info {
						width: 100%;
						h3 {
							font-size: 24px;
							font-weight: 600;
						}
						.request-loc {
							display: block;
							font-size: 16px;
							font-weight: 400;
						}
					}
					.request-icon {
						div {
							@include round;
							width: 50px;
							height: 50px;
							background: $campus;
						}
					}
				}
			}
		}
		#request-tabs {
			ul {
				@include listless;
				@include flex;
				@include flex-center;
				li {
					width: 50%;
					a {
						@include flex;
						@include flex-wrap;
						@include flex-center;
						width: 100%;
						color: white;
						padding: 10px;
						height: 64px;
					}
					&.active {
						a {
							background: $slate;
						}
					}
					h3 {
						width: 100%;
						font-size: 18px;
						font-weight: 600;
						text-align: center;
						text-transform: uppercase;
					}
					span {
						@include round;
						@include flex;
						@include flex-center;
						background: white;
						width: 20px;
						height: 20px;
						margin-bottom: 3px;
						color: $charcoal;
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
		}
	}

	#credibility {
		#credit-slider {
			position: relative;
			height: 195px;
			ul {
				@include listless;
				@include flex;
				@include flex-wrap;
				@include flex-center;
				position: absolute;
				bottom: 0;
				width: 100%;
				li {
					width: 25%;
					font-size: 20px;
					font-weight: 400;
					text-align: center;
					a {
						display: block;
						padding-bottom: 15px;
						border-bottom: 5px solid transparent;
						color: white;
						.credit-icon {
							@include round;
							display: block;
							margin: 0 auto 15px;
							width: 50px;
							height: 50px;
							background: white;
						}
					}
					#{$links} {
						border-color: $cerise;
						color: $cerise;
						.credit-icon {
							background: $cerise;
						}
					}
				}
				.active {
					a {
						border-color: $shamrock;
						color: $shamrock;
						.credit-icon {
							background: $shamrock;
						}
					}
				}
			}
		}
		#credit-content {
			position: relative;
			background: $slate;
			height: calc(100% / 3 * 2);
			padding: 15px;
			text-align: center;
			h1 {
				font-size: 24px;
				text-transform: uppercase;
			}
			p {
				margin: 15px 0;
			}
			#credit-facebook {
				@include center-xy;
				width: 100%;
				padding: 15px 15px 64px;
				button {
					background: #3b5998;
				}
			}
		}
	}

	#profile {
		font-size: 18px;
		#profile-fixed {
			position: fixed;
			top: 0;
			z-index: 9;
			width: 100%;
			height: 64px;
			padding: 13px 0;
			background: rgba($slate,.95);
			#profile-fixed-inside {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				#profile-fixed-icon {
					@include flex;
					@include flex-center;
					img {
						@include round;
						width: 35px;
						height: 35px;
						border: 3px solid rgba(white,.5);
					}
				}
				#profile-fixed-name {
					padding-left: 10px;
					h1 {
						font-size: 24px;
						line-height: 1;
						text-transform: uppercase;
						&.verified {
							svg {
								width: 16px;
								height: 16px;
							}
						}
					}
					p {
						margin: 0;
						font-size: 14px;
						font-weight: 400;
						line-height: 1;
					}
				}
			}
		}
		#profile-desc {
			padding: 15px 0 0;
			#profile-icon {
				@include round;
				display: block;
				img {
					@include round;
					display: block;
					margin: 0 auto;
					width: 100%;
					max-width: 120px;
					padding: 5px;
					background: rgba(white, .5);
				}
				svg {
					display: block;
					margin: 0 auto;
					width: 120px;
					height: 120px;
				}
			}
			#profile-list {
				text-align: center;
				ul {
					@include listless;
					#profile-name {
						h1 {
							margin-top: 10px;
							padding: 0 10px 3px;
							line-height: 1;
							text-transform: uppercase;
							font-size: 28px;
							color: white;
							span:last-child {
								svg {
									display: none;
								}
							}
						}
					}
					#profile-school {
						font-size: 24px;
						font-weight: 400;
					}
				}
			}
			#profile-bars {
				#profile-rating {
					@include listless;
					@include flex;
					@include flex-center;
					width: 100%;
					height: 75px;
					padding: 20px;
					margin: 15px 0;
					background: rgba(white, .1);
					font-size: 24px;
					li {
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		#profile-info {
			margin-top: -15px;
			.profile-inside {
				padding-bottom: 64px;
				overflow: auto;
				h1 {
					background: rgba(white,.05);
					color: white;
				}
				#profile-courses {
					ul {
						@include listless;
						@include flex;
						@include flex-wrap;
						text-align: center;
						li {
							padding: 10px 15px;
							width: 50%;
							font-weight: 600;
						}
						li:nth-child(1){
							background: $lake;
						}
						li:nth-child(2){
							background: $gold;
						}
						li:nth-child(3){
							background: $azure;
						}
						li:nth-child(4){
							background: $orange;
						}
						li:nth-child(5){
							background: $shamrock;
						}
						li:nth-child(6){
							background: $cerise;
						}
					}
				}
				h1 {
					padding: 10px;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 2px;
					text-align: center;
					text-transform: uppercase;
					color: white;
				}
				#profile-other {
					> div {
						background: $charcoal;
						div {
							background: rgba(255,255,255,.1);
							ul {
								@include listless;
								@include flex;
								@include flex-wrap;
								text-align: center;
								li {
									padding: 10px 15px;
									width: 50%;
									font-weight: 600;
								}
							}
						}
					}
					#profile-major, #profile-job {
						div {
							ul {
								li {
									width: 100%;
									font-weight: 200;
								}
							}
						}
					}
					#profile-skills {
						div {
							ul {
								li:nth-child(1){
									background: $lake;
								}
								li:nth-child(2){
									background: $shamrock;
								}
								li:nth-child(3){
									background: $azure;
								}
								li:nth-child(4){
									background: $moola;
								}
							}
						}
					}
					#profile-languages {
						div {
							ul {
								li:nth-child(1){
									background: $cerise;
								}
								li:nth-child(2){
									background: $orange;
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width:320px) {
		body, input, button {
			font-size: 20px;
		}
		.onboarding-message, .request-info h3 {
			font-size: 20px!important;
		}
		#start-container {
			font-size: 24px!important;
		}
		#request-message h2, #skills-list a {
			font-size: 16px!important;
			i {
				display: none;
			}
		}
		#request-button span b {
			font-size: 18px!important;
		}
		#skills-list .skill-icon {
			margin-bottom: 10px;
			width: 40px!important;
			height: 40px!important;
		}
		.input-search-ghost {
			input {
				font-size: 18px;
			}
			&:before {
				@include center-y;
				display: block;
				content: url("../svg/search.svg");
				width: 14px;
				height: 14px;
			}
		}
		.header-nav a {
			svg {
				height: 20px!important;
				width: auto!important;
			}
			h1 {
				font-size: 18px!important;
				font-weight: 400!important;
				padding: 15px 36px!important;
			}
		}
		#loading svg {
			max-width: 200px;
		}
		#account-form {
			padding-top: 0!important;
			input {
				margin-top: 20px!important;
				font-size: 18px!important;
			}
		}
	}
}

.side-menu-profile {
	@include flex;
	@include flex-center;
	position: absolute;
	width: 100%;
	height: calc(100% - 320px);
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	ul {
		position: relative;
		z-index: 9;
	}
	.side-menu-icon {
		position: relative;
		margin-bottom: 10px;
		span {
			@include center-xy;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.side-menu-name {
		font-weight: 600;
		text-transform: uppercase;
	}
	.side-menu-year {
		font-size: 20px;
	}
	&:after {
		@include opacity(.3);
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../../img/onboarding/school.jpg) repeat center center / cover;
	}
}
.side-menu-list {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $slate;
	.list-item {
		height: 64px;
		font-weight: 600;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
		&:active {
			background: $shamrock;
		}
		.list-item-icon {
			height: 64px;
			width: 64px;
			svg {
				padding: 10px;
			}
		}
		.list-item-detail {
			padding: 0 15px 0 5px;
		}
	}
}