.onboarding header {
    position: relative;
    height: calc(100% / 3);
    box-sizing: border-box;
}

.university-view {
    background: #2B3234;
}







header a.geolocation-icon {
    position:absolute;
    z-index:0;
    height: 20px;
    position: absolute;
    bottom: 28%;
    right: 5%;
    opacity: 0.5;
    .ion-navigate {
        color:white !important;
        opacity:0.6;
        // position: absolute;
        top:0px !important;
        right: 3px !important;
        font-size: 100% !important;
    }
}

header .ion-navigate.active,
header .ion-navigate.activated, {
    color:white !important;
    opacity:1;
    position: absolute;
    top:3px !important;
    right: 3px !important;
    font-size: 100% !important;
}



.onboarding header .header-nav
{
    .header-nav-back
    {
        position:relative;
        svg {
            top:50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 15px;
        }
    }
}

.list-item-border a {
    border-width: 5px!important;
}

.school-name b {
    font-size:20px;
}

.onboarding#school #school-list ul li a {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 1px;
    font-weight: 300;
    height: 64px;
}

.onboarding#school #school-list ul li a .school-icon img {
    display: block;
    margin: 0 auto;
    max-height: 64px;
    padding: 10px;
}

.list-item.school-harvard {
    position:relative;
}

.uguru-view .onboarding#school #school-list ul li a
    {
        .school-name {
            -webkit-justify-content: left;
            justify-content: left;
            width:100%;
            padding-left:20px;
            b:before {
                white-space:nowrap;
                text-overflow: ellipsis;
            }

            .mileage-text {
                position: absolute;
                right: 20px;
                font-size: 12px;
                bottom: 13px;
                font-weight: 600;
                opacity: 0.7;
            }

            .university-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
                width: 75%;
                display: block;
            }
        }
        .school-icon {
        padding:8px 0px 5px 10px ;
        // border-radius:50%;
        img {
            border-width:0px !important;
            border-color:white !important;
            background-color:white;
            padding:0px;
            max-height:50px;
            // width:100%;
            height:auto;
            border-radius:50%;
        }
    }
}

section#school header {
    width:100%
}

.input-search-ghost input {
    display: inline-block;
}
.onboarding-prop {
    position:absolute;
    top: 45% !important;
    h2 {
        font-size:20px !important;
        text-transform: uppercase;
        font-weight: 500 !important;
        letter-spacing:0.15em;
    }
    width:100%;
    text-align: center;
}


.input-search-ghost input {
    padding-left:30px;
}

.university-city {
    text-transform:capitalize;
}