[class*="letter-55"] {
  stroke-dasharray: 55;
  animation: letter-55 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-fadeIn 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
  [class*="letter-55"][class*="reverse"] {
    animation: letter-55 1000ms cubic-bezier(0, 0.09, 0, 1) reverse both, letter-fadeOut 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

[class*="letter-42"] {
  stroke-dasharray: 42;
  animation: letter-42 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-fadeIn 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
  [class*="letter-42"][class*="reverse"] {
    animation: letter-42 1000ms cubic-bezier(0, 0.09, 0, 1) reverse both, letter-fadeOut 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

[class*="letter-14"] {
  stroke-dasharray: 14;
  animation: letter-14 500ms cubic-bezier(0, 0.09, 0, 1) both, letter-fadeIn 500ms cubic-bezier(0, 0.09, 0, 1) both; }
  [class*="letter-14"][class*="reverse"] {
    animation: letter-14 500ms cubic-bezier(0, 0.09, 0, 1) reverse both, letter-fadeOut 500ms cubic-bezier(0, 0.09, 0, 1) both; }

[class*="letter-52"] {
  stroke-dasharray: 52;
  animation: letter-52 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-fadeIn 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
  [class*="letter-52"][class*="reverse"] {
    animation: letter-52 1000ms cubic-bezier(0, 0.09, 0, 1) reverse both, letter-fadeOut 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

.m-1-mask-anim {
  animation: letter-m-1-mask 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

.m-2-mask-anim {
  animation: letter-m-2-mask 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

/*---------- DEFAULT */
.letter-e .letter-color-e-1,
.letter-e .letter-white-e-1 {
  stroke-dasharray: 42.5; }
.letter-e .letter-color-e-2,
.letter-e .letter-white-e-2 {
  stroke-dasharray: 23; }
.letter-e .letter-color-e-3,
.letter-e .letter-white-e-3,
.letter-e .letter-color-e-4,
.letter-e .letter-white-e-4 {
  stroke-dasharray: 28.5; }

.letter-n .letter-color-n-1,
.letter-n .letter-white-n-1 {
  stroke-dasharray: 70.0; }
.letter-n .letter-color-n-2,
.letter-n .letter-white-n-2,
.letter-n .letter-color-n-3,
.letter-n .letter-white-n-3 {
  stroke-dasharray: 42; }

.letter-s .letter-white-s,
.letter-s .letter-color-s {
  stroke-dasharray: 131; }

.letter-t .letter-color-t-1,
.letter-t .letter-white-t-1 {
  stroke-dasharray: 35; }
.letter-t .letter-color-t-2,
.letter-t .letter-white-t-2 {
  stroke-dasharray: 28.5; }

.letter-u .letter-white-u-1,
.letter-u .letter-color-u-1,
.letter-u .letter-white-u-2,
.letter-u .letter-color-u-2 {
  stroke-dasharray: 54.5; }

.letter-y .letter-color-y-1,
.letter-y .letter-white-y-1 {
  stroke-dasharray: 41.7; }
.letter-y .letter-color-y-2,
.letter-y .letter-white-y-2 {
  stroke-dasharray: 42.7; }
.letter-y .letter-color-y-3,
.letter-y .letter-white-y-3 {
  stroke-dasharray: 11; }

/*---------- ON ENTER */
.letter-e .enter-state.letter-white-e-1 {
  stroke-dashoffset: 42.5;
  animation: letter-e-1 750ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 750ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-e .enter-state.letter-white-e-2 {
  stroke-dashoffset: 23;
  animation: letter-e-2 300ms cubic-bezier(0, 0.09, 0, 1) 300ms both, letter-opacity 300ms cubic-bezier(0, 0.09, 0, 1) 300ms both; }
.letter-e .enter-state.letter-white-e-3,
.letter-e .enter-state.letter-white-e-4 {
  stroke-dashoffset: 28.5;
  animation: letter-28-5 500ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 500ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-e .enter-state.letter-white-e-3 {
  animation-delay: 150ms; }
.letter-e .enter-state.letter-white-e-4 {
  animation-delay: 450ms; }

.letter-n .enter-state.letter-white-n-1 {
  stroke-dashoffset: 70.0;
  animation: letter-n-1 500ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 500ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-n .enter-state.letter-white-n-2,
.letter-n .enter-state.letter-white-n-3 {
  stroke-dashoffset: 42;
  animation: letter-42 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-n .enter-state.letter-white-n-2 {
  animation-delay: 250ms; }
.letter-n .enter-state.letter-white-n-3 {
  animation-delay: 350ms; }

.letter-s .enter-state.letter-white-s {
  stroke-dashoffset: 131;
  animation: letter-s 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

.letter-t .enter-state.letter-white-t-1 {
  stroke-dashoffset: 35;
  animation: letter-t 750ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 750ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-t .enter-state.letter-white-t-2 {
  stroke-dashoffset: 28.5;
  animation: letter-28-5 500ms cubic-bezier(0, 0.09, 0, 1) 500ms both, letter-opacity 500ms cubic-bezier(0, 0.09, 0, 1) 500ms both; }

.letter-u .enter-state.letter-white-u-2,
.letter-u .enter-state.letter-white-u-1 {
  animation: letter-55 750ms cubic-bezier(0, 0.09, 0, 1) 300ms both, letter-opacity 750ms cubic-bezier(0, 0.09, 0, 1) 300ms both;
  stroke-dashoffset: 54.5; }

.letter-y .enter-state.letter-white-y-1 {
  stroke-dashoffset: 41.7;
  animation: letter-y-1 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-y .enter-state.letter-white-y-2 {
  stroke-dashoffset: 42.7;
  animation: letter-y-2 1000ms cubic-bezier(0, 0.09, 0, 1) both, letter-opacity 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-y .enter-state.letter-white-y-3 {
  stroke-dashoffset: 11;
  animation: letter-y-3 1000ms cubic-bezier(0, 0.09, 0, 1) 1250ms both, letter-opacity 1000ms cubic-bezier(0, 0.09, 0, 1) 1250ms both; }
.letter-y .enter-state.letter-y-1-mask {
  transform: translate(3.5px, 16.5px);
  animation: letter-y-1-mask 1000ms cubic-bezier(0, 0.09, 0, 1) both; }
.letter-y .enter-state.letter-y-2-mask {
  transform: translate(42.2217px, 16.5px);
  animation: letter-y-2-mask 1000ms cubic-bezier(0, 0.09, 0, 1) both; }

/*---------- ON EXIT */
@keyframes letter-fadeIn {
  0% {
    opacity: 0; }
  1%, 100% {
    opacity: 1; } }
@keyframes letter-fadeOut {
  0%, 99% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes letter-42 {
  0% {
    stroke-dashoffset: 42; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-50 {
  0% {
    stroke-dashoffset: 50; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-55 {
  0% {
    stroke-dashoffset: 55; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-65 {
  0% {
    stroke-dashoffset: 65; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-u {
  0% {
    stroke-dashoffset: 54.5; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-s {
  0% {
    stroke-dashoffset: 131; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-14 {
  0% {
    stroke-dashoffset: 14; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-52 {
  0% {
    stroke-dashoffset: 52; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-e-1 {
  0% {
    stroke-dashoffset: 42.5; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-e-2 {
  0% {
    stroke-dashoffset: 23; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-28-5 {
  0% {
    stroke-dashoffset: 28.5; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-n-1 {
  0% {
    stroke-dashoffset: 70.0; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-t {
  0% {
    stroke-dashoffset: 35; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-y-1 {
  0% {
    stroke-dashoffset: 41.7; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-y-2 {
  0% {
    stroke-dashoffset: 42.7; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-y-3 {
  0% {
    stroke-dashoffset: 11; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes letter-y-1-mask {
  0% {
    transform: translate(3.5px, 16.5px); }
  1.66667% {
    transform: translate(3.86033px, 17.0952px); }
  3.33333% {
    transform: translate(4.22067px, 17.6904px); }
  5% {
    transform: translate(4.58101px, 18.2856px); }
  6.66667% {
    transform: translate(4.94134px, 18.8808px); }
  8.33333% {
    transform: translate(5.30168px, 19.476px); }
  10% {
    transform: translate(5.66201px, 20.0712px); }
  11.6667% {
    transform: translate(6.02235px, 20.6664px); }
  13.3333% {
    transform: translate(6.38268px, 21.2616px); }
  15% {
    transform: translate(6.74302px, 21.8568px); }
  16.6667% {
    transform: translate(7.10335px, 22.452px); }
  18.3333% {
    transform: translate(7.46369px, 23.0472px); }
  20% {
    transform: translate(7.82402px, 23.6424px); }
  21.6667% {
    transform: translate(8.18436px, 24.2376px); }
  23.3333% {
    transform: translate(8.54469px, 24.8328px); }
  25% {
    transform: translate(8.90503px, 25.428px); }
  26.6667% {
    transform: translate(9.26537px, 26.0232px); }
  28.3333% {
    transform: translate(9.6257px, 26.6184px); }
  30% {
    transform: translate(9.98603px, 27.2136px); }
  31.6667% {
    transform: translate(10.3464px, 27.8088px); }
  33.3333% {
    transform: translate(10.7067px, 28.404px); }
  35% {
    transform: translate(11.067px, 28.9992px); }
  36.6667% {
    transform: translate(11.4274px, 29.5944px); }
  38.3333% {
    transform: translate(11.7877px, 30.1896px); }
  40% {
    transform: translate(12.148px, 30.7848px); }
  41.6667% {
    transform: translate(12.5084px, 31.38px); }
  43.3333% {
    transform: translate(12.8687px, 31.9752px); }
  45% {
    transform: translate(13.2291px, 32.5704px); }
  46.6667% {
    transform: translate(13.5894px, 33.1656px); }
  48.3333% {
    transform: translate(13.9497px, 33.7608px); }
  50% {
    transform: translate(14.3101px, 34.356px); }
  51.6667% {
    transform: translate(14.6704px, 34.9512px); }
  53.3333% {
    transform: translate(15.0307px, 35.5464px); }
  55% {
    transform: translate(15.3911px, 36.1416px); }
  56.6667% {
    transform: translate(15.7514px, 36.7367px); }
  58.3333% {
    transform: translate(16.1117px, 37.3319px); }
  60% {
    transform: translate(16.4721px, 37.9271px); }
  61.6667% {
    transform: translate(16.8324px, 38.5223px); }
  63.3333% {
    transform: translate(17.1927px, 39.1175px); }
  65% {
    transform: translate(17.5531px, 39.7127px); }
  66.6667% {
    transform: translate(17.9134px, 40.3079px); }
  68.3333% {
    transform: translate(18.2737px, 40.9031px); }
  70% {
    transform: translate(18.6341px, 41.4983px); }
  71.6667% {
    transform: translate(18.9944px, 42.0935px); }
  73.3333% {
    transform: translate(19.3548px, 42.6887px); }
  75% {
    transform: translate(19.7151px, 43.2839px); }
  76.6667% {
    transform: translate(20.0754px, 43.8791px); }
  78.3333% {
    transform: translate(20.4358px, 44.4743px); }
  80% {
    transform: translate(20.7961px, 45.0695px); }
  81.6667% {
    transform: translate(21.1564px, 45.6647px); }
  83.3333% {
    transform: translate(21.5168px, 46.2599px); }
  85% {
    transform: translate(21.8771px, 46.8551px); }
  86.6667% {
    transform: translate(22.2374px, 47.4503px); }
  88.3333% {
    transform: translate(22.5978px, 48.0455px); }
  90% {
    transform: translate(22.9581px, 48.6407px); }
  91.6667% {
    transform: translate(23.3184px, 49.2359px); }
  93.3333% {
    transform: translate(23.6788px, 49.8311px); }
  95% {
    transform: translate(24.0391px, 50.4263px); }
  96.6667% {
    transform: translate(24.3994px, 51.0215px); }
  98.3333%, 100% {
    transform: translate(24.7598px, 51.6167px); } }
@keyframes letter-y-2-mask {
  0% {
    transform: translate(42.2217px, 16.5px); }
  1.66667% {
    transform: translate(41.8431px, 17.102px); }
  3.33333% {
    transform: translate(41.4646px, 17.704px); }
  5% {
    transform: translate(41.0861px, 18.306px); }
  6.66667% {
    transform: translate(40.7076px, 18.9079px); }
  8.33333% {
    transform: translate(40.329px, 19.5099px); }
  10% {
    transform: translate(39.9505px, 20.1119px); }
  11.6667% {
    transform: translate(39.572px, 20.7139px); }
  13.3333% {
    transform: translate(39.1934px, 21.3159px); }
  15% {
    transform: translate(38.8149px, 21.9179px); }
  16.6667% {
    transform: translate(38.4364px, 22.5199px); }
  18.3333% {
    transform: translate(38.0578px, 23.1218px); }
  20% {
    transform: translate(37.6793px, 23.7238px); }
  21.6667% {
    transform: translate(37.3008px, 24.3258px); }
  23.3333% {
    transform: translate(36.9222px, 24.9278px); }
  25% {
    transform: translate(36.5437px, 25.5298px); }
  26.6667% {
    transform: translate(36.1652px, 26.1318px); }
  28.3333% {
    transform: translate(35.7866px, 26.7338px); }
  30% {
    transform: translate(35.4081px, 27.3357px); }
  31.6667% {
    transform: translate(35.0296px, 27.9377px); }
  33.3333% {
    transform: translate(34.651px, 28.5397px); }
  35% {
    transform: translate(34.2725px, 29.1417px); }
  36.6667% {
    transform: translate(33.894px, 29.7437px); }
  38.3333% {
    transform: translate(33.5154px, 30.3457px); }
  40% {
    transform: translate(33.1369px, 30.9477px); }
  41.6667% {
    transform: translate(32.7584px, 31.5496px); }
  43.3333% {
    transform: translate(32.3799px, 32.1516px); }
  45% {
    transform: translate(32.0013px, 32.7536px); }
  46.6667% {
    transform: translate(31.6228px, 33.3556px); }
  48.3333% {
    transform: translate(31.2443px, 33.9576px); }
  50% {
    transform: translate(30.8657px, 34.5596px); }
  51.6667% {
    transform: translate(30.4872px, 35.1616px); }
  53.3333% {
    transform: translate(30.1087px, 35.7635px); }
  55% {
    transform: translate(29.7301px, 36.3655px); }
  56.6667% {
    transform: translate(29.3516px, 36.9675px); }
  58.3333% {
    transform: translate(28.9731px, 37.5695px); }
  60% {
    transform: translate(28.5945px, 38.1715px); }
  61.6667% {
    transform: translate(28.216px, 38.7735px); }
  63.3333% {
    transform: translate(27.8375px, 39.3755px); }
  65% {
    transform: translate(27.4589px, 39.9774px); }
  66.6667% {
    transform: translate(27.0804px, 40.5794px); }
  68.3333% {
    transform: translate(26.7019px, 41.1814px); }
  70% {
    transform: translate(26.3233px, 41.7834px); }
  71.6667% {
    transform: translate(25.9448px, 42.3854px); }
  73.3333% {
    transform: translate(25.5663px, 42.9874px); }
  75% {
    transform: translate(25.1877px, 43.5894px); }
  76.6667% {
    transform: translate(24.8092px, 44.1913px); }
  78.3333% {
    transform: translate(24.4307px, 44.7933px); }
  80% {
    transform: translate(24.0521px, 45.3953px); }
  81.6667% {
    transform: translate(23.6736px, 45.9973px); }
  83.3333% {
    transform: translate(23.2951px, 46.5993px); }
  85% {
    transform: translate(22.9166px, 47.2013px); }
  86.6667% {
    transform: translate(22.538px, 47.8033px); }
  88.3333% {
    transform: translate(22.1595px, 48.4052px); }
  90% {
    transform: translate(21.781px, 49.0072px); }
  91.6667% {
    transform: translate(21.4024px, 49.6092px); }
  93.3333% {
    transform: translate(21.0239px, 50.2112px); }
  95% {
    transform: translate(20.6454px, 50.8132px); }
  96.6667% {
    transform: translate(20.2668px, 51.4152px); }
  98.3333%, 100% {
    transform: translate(19.8883px, 52.0172px); } }
@keyframes letter-m-1-mask {
  0% {
    transform: translate(23.5px, 62.6709px); }
  1.66667% {
    transform: translate(23.105px, 61.8424px); }
  3.33333% {
    transform: translate(22.71px, 61.0139px); }
  5% {
    transform: translate(22.315px, 60.1854px); }
  6.66667% {
    transform: translate(21.9201px, 59.3569px); }
  8.33333% {
    transform: translate(21.5251px, 58.5284px); }
  10% {
    transform: translate(21.1301px, 57.6999px); }
  11.6667% {
    transform: translate(20.7351px, 56.8714px); }
  13.3333% {
    transform: translate(20.3401px, 56.0429px); }
  15% {
    transform: translate(19.9451px, 55.2144px); }
  16.6667% {
    transform: translate(19.5501px, 54.3859px); }
  18.3333% {
    transform: translate(19.1551px, 53.5574px); }
  20% {
    transform: translate(18.7602px, 52.7289px); }
  21.6667% {
    transform: translate(18.3652px, 51.9004px); }
  23.3333% {
    transform: translate(17.9702px, 51.0719px); }
  25% {
    transform: translate(17.5752px, 50.2434px); }
  26.6667% {
    transform: translate(17.1802px, 49.4149px); }
  28.3333% {
    transform: translate(16.7852px, 48.5864px); }
  30% {
    transform: translate(16.3902px, 47.7579px); }
  31.6667% {
    transform: translate(15.9952px, 46.9294px); }
  33.3333% {
    transform: translate(15.6003px, 46.1009px); }
  35% {
    transform: translate(15.2053px, 45.2724px); }
  36.6667% {
    transform: translate(14.8103px, 44.4439px); }
  38.3333% {
    transform: translate(14.4153px, 43.6154px); }
  40% {
    transform: translate(14.0203px, 42.7869px); }
  41.6667% {
    transform: translate(13.6253px, 41.9584px); }
  43.3333% {
    transform: translate(13.2303px, 41.1299px); }
  45% {
    transform: translate(12.8354px, 40.3014px); }
  46.6667% {
    transform: translate(12.4404px, 39.4729px); }
  48.3333% {
    transform: translate(12.0454px, 38.6444px); }
  50% {
    transform: translate(11.6504px, 37.8159px); }
  51.6667% {
    transform: translate(11.2554px, 36.9874px); }
  53.3333% {
    transform: translate(10.8604px, 36.1589px); }
  55% {
    transform: translate(10.4654px, 35.3304px); }
  56.6667% {
    transform: translate(10.0704px, 34.5019px); }
  58.3333% {
    transform: translate(9.67546px, 33.6734px); }
  60% {
    transform: translate(9.28047px, 32.8449px); }
  61.6667% {
    transform: translate(8.88548px, 32.0164px); }
  63.3333% {
    transform: translate(8.4905px, 31.1879px); }
  65% {
    transform: translate(8.09551px, 30.3594px); }
  66.6667% {
    transform: translate(7.70052px, 29.5309px); }
  68.3333% {
    transform: translate(7.30553px, 28.7024px); }
  70% {
    transform: translate(6.91055px, 27.8739px); }
  71.6667% {
    transform: translate(6.51556px, 27.0454px); }
  73.3333% {
    transform: translate(6.12057px, 26.2169px); }
  75% {
    transform: translate(5.72559px, 25.3884px); }
  76.6667% {
    transform: translate(5.3306px, 24.5599px); }
  78.3333% {
    transform: translate(4.93561px, 23.7314px); }
  80% {
    transform: translate(4.54063px, 22.9029px); }
  81.6667% {
    transform: translate(4.14564px, 22.0744px); }
  83.3333% {
    transform: translate(3.75065px, 21.2459px); }
  85% {
    transform: translate(3.35567px, 20.4174px); }
  86.6667% {
    transform: translate(2.96068px, 19.5889px); }
  88.3333% {
    transform: translate(2.56569px, 18.7604px); }
  90% {
    transform: translate(2.1707px, 17.9319px); }
  91.6667% {
    transform: translate(1.77572px, 17.1034px); }
  93.3333% {
    transform: translate(1.38073px, 16.2749px); }
  95% {
    transform: translate(0.98574px, 15.4464px); }
  96.6667% {
    transform: translate(0.59076px, 14.6179px); }
  98.3333%, 100% {
    transform: translate(0.19577px, 13.7894px); } }
@keyframes letter-m-2-mask {
  0% {
    transform: translate(24.5229px, 62.6709px); }
  1.66667% {
    transform: translate(24.9317px, 61.8499px); }
  3.33333% {
    transform: translate(25.3405px, 61.0289px); }
  5% {
    transform: translate(25.7493px, 60.2078px); }
  6.66667% {
    transform: translate(26.1581px, 59.3868px); }
  8.33333% {
    transform: translate(26.5669px, 58.5658px); }
  10% {
    transform: translate(26.9757px, 57.7448px); }
  11.6667% {
    transform: translate(27.3845px, 56.9238px); }
  13.3333% {
    transform: translate(27.7933px, 56.1027px); }
  15% {
    transform: translate(28.202px, 55.2817px); }
  16.6667% {
    transform: translate(28.6108px, 54.4607px); }
  18.3333% {
    transform: translate(29.0196px, 53.6397px); }
  20% {
    transform: translate(29.4284px, 52.8187px); }
  21.6667% {
    transform: translate(29.8372px, 51.9976px); }
  23.3333% {
    transform: translate(30.246px, 51.1766px); }
  25% {
    transform: translate(30.6548px, 50.3556px); }
  26.6667% {
    transform: translate(31.0636px, 49.5346px); }
  28.3333% {
    transform: translate(31.4724px, 48.7136px); }
  30% {
    transform: translate(31.8811px, 47.8925px); }
  31.6667% {
    transform: translate(32.2899px, 47.0715px); }
  33.3333% {
    transform: translate(32.6987px, 46.2505px); }
  35% {
    transform: translate(33.1075px, 45.4295px); }
  36.6667% {
    transform: translate(33.5163px, 44.6084px); }
  38.3333% {
    transform: translate(33.9251px, 43.7874px); }
  40% {
    transform: translate(34.3339px, 42.9664px); }
  41.6667% {
    transform: translate(34.7427px, 42.1454px); }
  43.3333% {
    transform: translate(35.1515px, 41.3244px); }
  45% {
    transform: translate(35.5603px, 40.5033px); }
  46.6667% {
    transform: translate(35.969px, 39.6823px); }
  48.3333% {
    transform: translate(36.3778px, 38.8613px); }
  50% {
    transform: translate(36.7866px, 38.0403px); }
  51.6667% {
    transform: translate(37.1954px, 37.2193px); }
  53.3333% {
    transform: translate(37.6042px, 36.3982px); }
  55% {
    transform: translate(38.013px, 35.5772px); }
  56.6667% {
    transform: translate(38.4218px, 34.7562px); }
  58.3333% {
    transform: translate(38.8306px, 33.9352px); }
  60% {
    transform: translate(39.2394px, 33.1142px); }
  61.6667% {
    transform: translate(39.6481px, 32.2931px); }
  63.3333% {
    transform: translate(40.0569px, 31.4721px); }
  65% {
    transform: translate(40.4657px, 30.6511px); }
  66.6667% {
    transform: translate(40.8745px, 29.8301px); }
  68.3333% {
    transform: translate(41.2833px, 29.0091px); }
  70% {
    transform: translate(41.6921px, 28.188px); }
  71.6667% {
    transform: translate(42.1009px, 27.367px); }
  73.3333% {
    transform: translate(42.5097px, 26.546px); }
  75% {
    transform: translate(42.9185px, 25.725px); }
  76.6667% {
    transform: translate(43.3272px, 24.904px); }
  78.3333% {
    transform: translate(43.736px, 24.0829px); }
  80% {
    transform: translate(44.1448px, 23.2619px); }
  81.6667% {
    transform: translate(44.5536px, 22.4409px); }
  83.3333% {
    transform: translate(44.9624px, 21.6199px); }
  85% {
    transform: translate(45.3712px, 20.7989px); }
  86.6667% {
    transform: translate(45.78px, 19.9778px); }
  88.3333% {
    transform: translate(46.1888px, 19.1568px); }
  90% {
    transform: translate(46.5976px, 18.3358px); }
  91.6667% {
    transform: translate(47.0063px, 17.5148px); }
  93.3333% {
    transform: translate(47.4151px, 16.6937px); }
  95% {
    transform: translate(47.8239px, 15.8727px); }
  96.6667% {
    transform: translate(48.2327px, 15.0517px); }
  98.3333%, 100% {
    transform: translate(48.6415px, 14.2307px); } }
@keyframes letter-a-1-mask {
  0% {
    transform: translate(22px, 20px); }
  1.66667% {
    transform: translate(21.6px, 21px); }
  3.33333% {
    transform: translate(21.2px, 22px); }
  5% {
    transform: translate(20.8px, 23px); }
  6.66667% {
    transform: translate(20.4px, 24px); }
  8.33333% {
    transform: translate(20px, 25px); }
  10% {
    transform: translate(19.6px, 26px); }
  11.6667% {
    transform: translate(19.2px, 27px); }
  13.3333% {
    transform: translate(18.8px, 28px); }
  15% {
    transform: translate(18.4px, 29px); }
  16.6667% {
    transform: translate(18px, 30px); }
  18.3333% {
    transform: translate(17.6px, 31px); }
  20% {
    transform: translate(17.2px, 32px); }
  21.6667% {
    transform: translate(16.8px, 33px); }
  23.3333% {
    transform: translate(16.4px, 34px); }
  25% {
    transform: translate(16px, 35px); }
  26.6667% {
    transform: translate(15.6px, 36px); }
  28.3333% {
    transform: translate(15.2px, 37px); }
  30% {
    transform: translate(14.8px, 38px); }
  31.6667% {
    transform: translate(14.4px, 39px); }
  33.3333% {
    transform: translate(14px, 40px); }
  35% {
    transform: translate(13.6px, 41px); }
  36.6667% {
    transform: translate(13.2px, 42px); }
  38.3333% {
    transform: translate(12.8px, 43px); }
  40% {
    transform: translate(12.4px, 44px); }
  41.6667% {
    transform: translate(12px, 45px); }
  43.3333% {
    transform: translate(11.6px, 46px); }
  45% {
    transform: translate(11.2px, 47px); }
  46.6667% {
    transform: translate(10.8px, 48px); }
  48.3333% {
    transform: translate(10.4px, 49px); }
  50% {
    transform: translate(10px, 50px); }
  51.6667% {
    transform: translate(9.6px, 51px); }
  53.3333% {
    transform: translate(9.2px, 52px); }
  55% {
    transform: translate(8.8px, 53px); }
  56.6667% {
    transform: translate(8.4px, 54px); }
  58.3333% {
    transform: translate(8px, 55px); }
  60% {
    transform: translate(7.6px, 56px); }
  61.6667% {
    transform: translate(7.2px, 57px); }
  63.3333% {
    transform: translate(6.8px, 58px); }
  65% {
    transform: translate(6.4px, 59px); }
  66.6667% {
    transform: translate(6px, 60px); }
  68.3333% {
    transform: translate(5.6px, 61px); }
  70% {
    transform: translate(5.2px, 62px); }
  71.6667% {
    transform: translate(4.8px, 63px); }
  73.3333% {
    transform: translate(4.4px, 64px); }
  75% {
    transform: translate(4px, 65px); }
  76.6667% {
    transform: translate(3.6px, 66px); }
  78.3333% {
    transform: translate(3.2px, 67px); }
  80% {
    transform: translate(2.8px, 68px); }
  81.6667% {
    transform: translate(2.4px, 69px); }
  83.3333% {
    transform: translate(2px, 70px); }
  85% {
    transform: translate(1.6px, 71px); }
  86.6667% {
    transform: translate(1.2px, 72px); }
  88.3333% {
    transform: translate(0.8px, 73px); }
  90% {
    transform: translate(0.4px, 74px); }
  91.6667% {
    transform: translate(0px, 75px); }
  93.3333% {
    transform: translate(-0.4px, 76px); }
  95% {
    transform: translate(-0.8px, 77px); }
  96.6667% {
    transform: translate(-1.2px, 78px); }
  98.3333%, 100% {
    transform: translate(-1.6px, 79px); } }
@keyframes letter-a-2-mask {
  0% {
    transform: translate(25.0176px, 20.5px); }
  1.66667% {
    transform: translate(25.4173px, 21.5083px); }
  3.33333% {
    transform: translate(25.817px, 22.5167px); }
  5% {
    transform: translate(26.2167px, 23.525px); }
  6.66667% {
    transform: translate(26.6164px, 24.5333px); }
  8.33333% {
    transform: translate(27.0161px, 25.5417px); }
  10% {
    transform: translate(27.4158px, 26.55px); }
  11.6667% {
    transform: translate(27.8155px, 27.5583px); }
  13.3333% {
    transform: translate(28.2152px, 28.5667px); }
  15% {
    transform: translate(28.6149px, 29.575px); }
  16.6667% {
    transform: translate(29.0146px, 30.5833px); }
  18.3333% {
    transform: translate(29.4144px, 31.5917px); }
  20% {
    transform: translate(29.8141px, 32.6px); }
  21.6667% {
    transform: translate(30.2138px, 33.6083px); }
  23.3333% {
    transform: translate(30.6135px, 34.6167px); }
  25% {
    transform: translate(31.0132px, 35.625px); }
  26.6667% {
    transform: translate(31.4129px, 36.6333px); }
  28.3333% {
    transform: translate(31.8126px, 37.6417px); }
  30% {
    transform: translate(32.2123px, 38.65px); }
  31.6667% {
    transform: translate(32.612px, 39.6583px); }
  33.3333% {
    transform: translate(33.0117px, 40.6667px); }
  35% {
    transform: translate(33.4114px, 41.675px); }
  36.6667% {
    transform: translate(33.8111px, 42.6833px); }
  38.3333% {
    transform: translate(34.2108px, 43.6917px); }
  40% {
    transform: translate(34.6105px, 44.7px); }
  41.6667% {
    transform: translate(35.0103px, 45.7083px); }
  43.3333% {
    transform: translate(35.41px, 46.7167px); }
  45% {
    transform: translate(35.8097px, 47.725px); }
  46.6667% {
    transform: translate(36.2094px, 48.7333px); }
  48.3333% {
    transform: translate(36.6091px, 49.7417px); }
  50% {
    transform: translate(37.0088px, 50.75px); }
  51.6667% {
    transform: translate(37.4085px, 51.7583px); }
  53.3333% {
    transform: translate(37.8082px, 52.7667px); }
  55% {
    transform: translate(38.2079px, 53.775px); }
  56.6667% {
    transform: translate(38.6076px, 54.7833px); }
  58.3333% {
    transform: translate(39.0073px, 55.7917px); }
  60% {
    transform: translate(39.407px, 56.8px); }
  61.6667% {
    transform: translate(39.8067px, 57.8083px); }
  63.3333% {
    transform: translate(40.2064px, 58.8167px); }
  65% {
    transform: translate(40.6062px, 59.825px); }
  66.6667% {
    transform: translate(41.0059px, 60.8333px); }
  68.3333% {
    transform: translate(41.4056px, 61.8417px); }
  70% {
    transform: translate(41.8053px, 62.85px); }
  71.6667% {
    transform: translate(42.205px, 63.8583px); }
  73.3333% {
    transform: translate(42.6047px, 64.8667px); }
  75% {
    transform: translate(43.0044px, 65.875px); }
  76.6667% {
    transform: translate(43.4041px, 66.8833px); }
  78.3333% {
    transform: translate(43.8038px, 67.8917px); }
  80% {
    transform: translate(44.2035px, 68.9px); }
  81.6667% {
    transform: translate(44.6032px, 69.9083px); }
  83.3333% {
    transform: translate(45.0029px, 70.9167px); }
  85% {
    transform: translate(45.4026px, 71.925px); }
  86.6667% {
    transform: translate(45.8023px, 72.9333px); }
  88.3333% {
    transform: translate(46.202px, 73.9417px); }
  90% {
    transform: translate(46.6018px, 74.95px); }
  91.6667% {
    transform: translate(47.0015px, 75.9583px); }
  93.3333% {
    transform: translate(47.4012px, 76.9667px); }
  95% {
    transform: translate(47.8009px, 77.975px); }
  96.6667% {
    transform: translate(48.2006px, 78.9833px); }
  98.3333%, 100% {
    transform: translate(48.6003px, 79.9917px); } }
#jeselle-view {
  z-index: 1000000; }

#jeselle {
  background: white;
  color: #4D496A;
  font-family: "proxima-nova", "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif !important;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  line-height: 1; }
  #jeselle div, #jeselle span, #jeselle applet, #jeselle object, #jeselle iframe, #jeselle h1, #jeselle h2, #jeselle h3, #jeselle h4, #jeselle h5, #jeselle h6, #jeselle p, #jeselle blockquote, #jeselle pre, #jeselle a, #jeselle abbr, #jeselle acronym, #jeselle address, #jeselle big, #jeselle cite, #jeselle code, #jeselle del, #jeselle dfn, #jeselle em, #jeselle img, #jeselle ins, #jeselle kbd, #jeselle q, #jeselle s, #jeselle samp, #jeselle small, #jeselle strike, #jeselle strong, #jeselle sub, #jeselle sup, #jeselle tt, #jeselle var, #jeselle b, #jeselle u, #jeselle i, #jeselle center, #jeselle dl, #jeselle dt, #jeselle dd, #jeselle ol, #jeselle ul, #jeselle li, #jeselle fieldset, #jeselle form, #jeselle label, #jeselle legend, #jeselle table, #jeselle caption, #jeselle tbody, #jeselle tfoot, #jeselle thead, #jeselle tr, #jeselle th, #jeselle td, #jeselle article, #jeselle aside, #jeselle canvas, #jeselle details, #jeselle embed, #jeselle figure, #jeselle figcaption, #jeselle footer, #jeselle header, #jeselle hgroup, #jeselle menu, #jeselle nav, #jeselle output, #jeselle ruby, #jeselle section, #jeselle summary, #jeselle time, #jeselle mark, #jeselle audio, #jeselle video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0; }
  #jeselle article, #jeselle aside, #jeselle details, #jeselle figcaption, #jeselle figure, #jeselle footer, #jeselle header, #jeselle hgroup, #jeselle menu, #jeselle nav, #jeselle section {
    display: block; }
  #jeselle blockquote, #jeselle q {
    quotes: none; }
  #jeselle blockquote:before, #jeselle blockquote:after, #jeselle q:before, #jeselle q:after {
    content: none; }
  #jeselle table {
    border-collapse: collapse;
    border-spacing: 0; }
  #jeselle a {
    cursor: pointer; }
  #jeselle *, #jeselle *:before, #jeselle *:after {
    box-sizing: border-box; }
  #jeselle * {
    backface-visibility: visible !important; }
  #jeselle::-webkit-scrollbar {
    display: none; }
  #jeselle::-moz-scrollbar {
    display: none; }
  #jeselle #top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 24px; }
    #jeselle #top .top-home {
      display: block;
      width: 48px;
      height: 48px; }
      #jeselle #top .top-home svg {
        display: block;
        width: 100%;
        height: auto; }
        #jeselle #top .top-home svg * {
          stroke-width: 8px !important; }
    #jeselle #top .top-projects {
      position: relative;
      display: block;
      height: 48px;
      width: 160px;
      color: #4D496A;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px; }
      #jeselle #top .top-projects span, #jeselle #top .top-projects:before {
        transition: all 150ms ease-out;
        border: 3px solid #4D496A;
        width: 100%;
        height: 100%; }
      #jeselle #top .top-projects span {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 2;
        background: white; }
      #jeselle #top .top-projects:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        background: #d7d4d8; }
      #jeselle #top .top-projects:hover:before, #jeselle #top .top-projects:focus:before {
        transform: translate3d(6px, 6px, 0); }
      #jeselle #top .top-projects:active {
        color: white; }
        #jeselle #top .top-projects:active span {
          background: #4D496A; }
  #jeselle .project {
    width: 100%;
    height: 100%; }
    #jeselle .project header {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 24px;
      text-align: center; }
      #jeselle .project header div {
        position: relative;
        width: 100%; }
      #jeselle .project header h1, #jeselle .project header h2 {
        color: white;
        transition: all 150ms ease-out;
        line-height: 1.2;
        width: 100%; }
      #jeselle .project header h1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 36px;
        font-family: "lulu-clean", "Lulo Clean"; }
        #jeselle .project header h1 span {
          display: block;
          position: relative; }
        #jeselle .project header h1 svg {
          height: 36px;
          width: auto; }
        #jeselle .project header h1 div {
          width: auto !important; }
      #jeselle .project header h2 {
        opacity: 0;
        position: absolute;
        left: 0;
        font-size: 18px;
        font-weight: 700; }
    #jeselle .project main {
      padding: 12px;
      width: 100%;
      overflow-x: hidden;
      background: white; }
      #jeselle .project main .project-info {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 6px; }
        #jeselle .project main .project-info > li {
          padding: 6px; }
          #jeselle .project main .project-info > li > div {
            border: 6px solid #BEB9C0; }
            #jeselle .project main .project-info > li > div:not(:last-child) {
              margin-bottom: 12px; }
            #jeselle .project main .project-info > li > div h1 {
              display: flex;
              align-items: center;
              align-content: center;
              font-size: 28px;
              font-weight: 900;
              border: 12px solid white;
              padding: 12px;
              background: #9DA5BA;
              color: white; }
              #jeselle .project main .project-info > li > div h1 span {
                display: block;
                margin-left: 12px;
                font-size: 20px;
                font-weight: 600; }
            #jeselle .project main .project-info > li > div a {
              color: #aeafbd; }
              #jeselle .project main .project-info > li > div a:hover, #jeselle .project main .project-info > li > div a:focus {
                color: #757792; }
              #jeselle .project main .project-info > li > div a:active {
                color: #929db1; }
            #jeselle .project main .project-info > li > div ul {
              list-style: none;
              margin: 0;
              padding: 0;
              margin-top: -12px;
              padding: 6px; }
              #jeselle .project main .project-info > li > div ul li {
                padding: 6px; }
                #jeselle .project main .project-info > li > div ul li strong {
                  font-weight: 600; }
            #jeselle .project main .project-info > li > div div {
              margin-top: -12px;
              padding: 6px; }
              #jeselle .project main .project-info > li > div div p {
                padding: 6px;
                line-height: 1.2; }
          #jeselle .project main .project-info > li.project-branding > div {
            border-color: #9DA5BA; }
            #jeselle .project main .project-info > li.project-branding > div > svg {
              display: block;
              width: 100%;
              height: auto; }
            #jeselle .project main .project-info > li.project-branding > div > a {
              display: block;
              width: 100%;
              padding: 12px;
              border-top: 6px solid #9DA5BA;
              font-size: 18px;
              font-weight: 800;
              text-align: center; }
              #jeselle .project main .project-info > li.project-branding > div > a:hover, #jeselle .project main .project-info > li.project-branding > div > a:focus {
                background: rgba(190, 185, 192, 0.5); }
              #jeselle .project main .project-info > li.project-branding > div > a:active {
                background: #9DA5BA;
                color: white; }
        #jeselle .project main .project-info.mobile {
          display: block; }
          #jeselle .project main .project-info.mobile > li > div h1 {
            justify-content: center;
            margin: 0 -30px;
            text-align: center; }
        #jeselle .project main .project-info.desktop {
          display: none; }
          #jeselle .project main .project-info.desktop > li {
            width: calc(100% / 3); }
            #jeselle .project main .project-info.desktop > li.project-details > div h1 {
              margin-left: -36px;
              width: calc(100% + $padding*3);
              text-align: right; }
            #jeselle .project main .project-info.desktop > li.project-work > div h1 {
              margin-right: -36px;
              width: calc(100% + $padding*3); }
      #jeselle .project main .project-desc {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 12px; }
        #jeselle .project main .project-desc p {
          padding: 6px 12px;
          font-size: 18px;
          line-height: 1.2; }
          #jeselle .project main .project-desc p img {
            display: block;
            max-width: 100%;
            border: 6px solid #9DA5BA; }
    #jeselle .project footer {
      padding: 24px 12px;
      text-align: center;
      background: #9da5bb;
      background: -moz-linear-gradient(top, #9da5bb 0%, #ecaca4 100%);
      background: -webkit-linear-gradient(top, #9da5bb 0%, #ecaca4 100%);
      background: linear-gradient(to bottom, #9da5bb 0%, #ecaca4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da5bb', endColorstr='#ecaca4',GradientType=0 ); }
      #jeselle .project footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 6px; }
        #jeselle .project footer ul li {
          padding: 6px; }
          #jeselle .project footer ul li a {
            border-radius: 1000px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background: #757792; }
            #jeselle .project footer ul li a svg {
              display: block;
              width: 36px;
              height: 36px;
              fill: white; }
            #jeselle .project footer ul li a:hover, #jeselle .project footer ul li a:focus {
              background: #4D496A; }
            #jeselle .project footer ul li a:active {
              background: rgba(255, 255, 255, 0.5); }
              #jeselle .project footer ul li a:active svg {
                fill: #4D496A; }
      #jeselle .project footer h1 {
        padding: 24px;
        font-family: "lulu-clean", "Lulo Clean";
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1.2; }
      #jeselle .project footer div {
        color: white;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2; }
  #jeselle #home {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #jeselle #home .home-container {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 24px; }
      #jeselle #home .home-container .home-coach {
        position: absolute;
        bottom: 24px;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: white; }
      #jeselle #home .home-container .home-thumbs {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        -webkit-perspective: 1000;
        perspective: 1000; }
        #jeselle #home .home-container .home-thumbs > li {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transform-origin: center center;
          transition: all 150ms ease-out;
          backface-visibility: visible !important; }
          #jeselle #home .home-container .home-thumbs > li:not(:first-child) {
            transform: translate3d(100%, 0, 0); }
          #jeselle #home .home-container .home-thumbs > li:after {
            content: "";
            display: block;
            position: absolute;
            border: 6px solid white; }
          #jeselle #home .home-container .home-thumbs > li .home-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10; }
          #jeselle #home .home-container .home-thumbs > li .cascade-title {
            display: none;
            position: absolute;
            align-items: center;
            align-content: center;
            justify-content: center;
            top: 50%;
            right: calc(25% - 32px);
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: 600;
            text-shadow: 0 0 10px rgba(65, 61, 68, 0.25); }
            #jeselle #home .home-container .home-thumbs > li .cascade-title span {
              transform: rotate(-90deg); }
          #jeselle #home .home-container .home-thumbs > li .project {
            transition: all 150ms ease-out;
            overflow: hidden; }
            #jeselle #home .home-container .home-thumbs > li .project header h1 {
              margin: 0 auto;
              text-align: center;
              width: 50%; }
          #jeselle #home .home-container .home-thumbs > li.project-active {
            transform: translate3d(0, 0, 0); }
            #jeselle #home .home-container .home-thumbs > li.project-active .home-link {
              z-index: -10; }
            #jeselle #home .home-container .home-thumbs > li.project-active:after {
              opacity: 0; }
            #jeselle #home .home-container .home-thumbs > li.project-active .project {
              overflow: auto; }
              #jeselle #home .home-container .home-thumbs > li.project-active .project header h1 {
                width: 100%; }
              #jeselle #home .home-container .home-thumbs > li.project-active .project header h2 {
                opacity: 1;
                transition-delay: 150ms; }
          #jeselle #home .home-container .home-thumbs > li.project-inactive {
            opacity: 0; }
        #jeselle #home .home-container .home-thumbs.cascade > li {
          -webkit-transition: -webkit-transform 150ms ease-out, -webkit-clip-path 150ms ease-out 300ms;
          transition: transform 150ms ease-out, -webkit-clip-path 150ms ease-out 300ms, clip-path 150ms ease-out 300ms; }
          #jeselle #home .home-container .home-thumbs.cascade > li:after {
            transition-delay: 300ms; }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(1) {
            transform: translate3d(-125px, 0, -5px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(2) {
            transform: translate3d(0, 0, -105px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(3) {
            transform: translate3d(125px, 0, -205px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(4) {
            transform: translate3d(250px, 0, -305px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(5) {
            transform: translate3d(375px, 0, -405px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(6) {
            transform: translate3d(500px, 0, -505px); }
          #jeselle #home .home-container .home-thumbs.cascade > li:nth-child(7) {
            transform: translate3d(625px, 0, -605px); }
          #jeselle #home .home-container .home-thumbs.cascade > li .cascade-title {
            display: flex;
            z-index: 100;
            transition: all 150ms ease-out; }
          #jeselle #home .home-container .home-thumbs.cascade > li .project {
            -webkit-transition: all 150ms ease-out 300ms;
            transition: all 150ms ease-out 300ms; }
            #jeselle #home .home-container .home-thumbs.cascade > li .project header h1 {
              opacity: 0; }
            #jeselle #home .home-container .home-thumbs.cascade > li .project header h1, #jeselle #home .home-container .home-thumbs.cascade > li .project header h2 {
              transition-delay: 450ms; }
          #jeselle #home .home-container .home-thumbs.cascade > li.project-active {
            z-index: 1000;
            transform: translate3d(0, 0, 0); }
            #jeselle #home .home-container .home-thumbs.cascade > li.project-active .cascade-title {
              opacity: 0;
              z-index: -100; }
            #jeselle #home .home-container .home-thumbs.cascade > li.project-active .project header h1 {
              opacity: 1; }
  #jeselle .has-cascade {
    overflow: hidden; }
  @media all and (orientation: portrait) {
    #jeselle #home .home-container .home-thumbs > li {
      -webkit-clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
      clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
      -webkit-clip-path: inset(15% 5% 15% 5%);
      clip-path: inset(15% 5% 15% 5%); }
      #jeselle #home .home-container .home-thumbs > li .project {
        -webkit-clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
        clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
        -webkit-clip-path: inset(15% 5% 15% 5%);
        clip-path: inset(15% 5% 15% 5%); }
      #jeselle #home .home-container .home-thumbs > li:after {
        width: 90%;
        height: 70%;
        left: 5%;
        top: 15%; }
      #jeselle #home .home-container .home-thumbs > li .home-link {
        width: 90%;
        height: 70%;
        left: 5%;
        top: 15%; }
      #jeselle #home .home-container .home-thumbs > li.project-active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0); }
        #jeselle #home .home-container .home-thumbs > li.project-active .project {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0); } }
  @media all and (orientation: landscape) {
    #jeselle #home .home-container .home-thumbs > li {
      -webkit-clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
      clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
      -webkit-clip-path: inset(25% 25% 25% 25%);
      clip-path: inset(25% 25% 25% 25%); }
      #jeselle #home .home-container .home-thumbs > li .project {
        -webkit-clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
        clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
        -webkit-clip-path: inset(25% 25% 25% 25%);
        clip-path: inset(25% 25% 25% 25%); }
      #jeselle #home .home-container .home-thumbs > li:after {
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%; }
      #jeselle #home .home-container .home-thumbs > li .home-link {
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%; }
      #jeselle #home .home-container .home-thumbs > li.project-active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0); }
        #jeselle #home .home-container .home-thumbs > li.project-active .project {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0); } }
  @media only screen and (min-width: 768px) {
    #jeselle #home .home-container .home-coach {
      bottom: 48px; }
    #jeselle .project header h1 {
      font-size: 72px; }
      #jeselle .project header h1 svg {
        height: 72px; }
    #jeselle .project header h2 {
      font-size: 28px; }
    #jeselle .project main .project-info.mobile {
      display: none; }
    #jeselle .project main .project-info.desktop {
      display: flex; } }

/*# sourceMappingURL=style.css.map */
