@import '../mixin';

// default
.bg {
	svg {
		* {
			stroke: white;
		}
	}
}
button {
	cursor: pointer;
	width: 100%;
	height: 64px;
	border: 0;
	// color: white;
	font-size: 24px;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
	// background: $shamrock;
	// svg {
	// 	* {
	// 		stroke: white;
	// 	}
	// }
	&.normal {
		width: auto;
	}
	&.width-300 {
		width: 300px;
	}
	&.width-400 {
		width: 400px;
	}
	&.height-54 {
		height: 54px
	}
	&.height-48 {
		height: 48px
	}
	&.height-36 {
		height: 36px
	}
	// &:hover, &:focus {
	// 	background: mix($shamrock, white);
	// 	color: mix($shamrock, $slate);
	// 	svg {
	// 		* {
	// 			stroke: mix($shamrock, $slate);
	// 		}
	// 	}
	// }
	// &:active {
	// 	background: mix($shamrock, $slate);
	// 	color: white;
	// 	svg {
	// 		* {
	// 			stroke: white;
	// 		}
	// 	}
	// }
}
button.disabled {
	@include opacity(.7);
}
.bg, button {
	&.bg-charcoal {
		background: $charcoal;
		&.reverse {
			background: white;
			color: $charcoal;
			svg {
				* {
					stroke: $charcoal;
				}
			}
		}
		&:hover, &:focus {
			background: mix($charcoal, white);
			color: $charcoal;
			svg {
				* {
					stroke: $charcoal;
				}
			}
		}
		&:active {
			background: mix($charcoal, white, 75%);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-slate {
		background: $slate;
		&.reverse {
			background: white;
			color: $slate;
			svg {
				* {
					stroke: $slate;
				}
			}
		}
		&:hover, &:focus {
			background: mix($slate, white);
			color: $slate;
			svg {
				* {
					stroke: $slate;
				}
			}
		}
		&:active {
			background: mix($slate, white, 75%);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-light-slate {
		background: $light-slate;
		&.reverse {
			background: white;
			color: $light-slate;
			svg {
				* {
					stroke: $light-slate;
				}
			}
		}
		&:hover, &:focus {
			background: mix($light-slate, white);
			color: $light-slate;
			svg {
				* {
					stroke: $light-slate;
				}
			}
		}
		&:active {
			background: mix($light-slate, white, 75%);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-taupe {
		background: $taupe;
		&.reverse {
			background: white;
			color: $taupe;
			svg {
				* {
					stroke: $taupe;
				}
			}
		}
		&:hover, &:focus {
			background: mix($taupe, white);
			color: $taupe;
			svg {
				* {
					stroke: $taupe;
				}
			}
		}
		&:active {
			background: mix($taupe, white, 75%);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-campus {
		background: $campus;
		&.reverse {
			background: white;
			color: $campus;
			svg {
				* {
					stroke: $campus;
				}
			}
		}
		&:hover, &:focus {
			background: mix($campus, white);
			color: mix($campus, $slate);
			svg {
				* {
					stroke: mix($campus, $slate);
				}
			}
		}
		&:active {
			background: mix($campus, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-rocket {
		background: $rocket;
		&.reverse {
			background: white;
			color: $rocket;
			svg {
				* {
					stroke: $rocket;
				}
			}
		}
		&:hover, &:focus {
			background: mix($rocket, white);
			color: mix($rocket, $slate);
			svg {
				* {
					stroke: mix($rocket, $slate);
				}
			}
		}
		&:active {
			background: mix($rocket, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-shamrock {
		background: $shamrock;
		&.reverse {
			background: white;
			color: $shamrock;
			svg {
				* {
					stroke: $shamrock;
				}
			}
		}
		&:hover, &:focus {
			background: mix($shamrock, white);
			color: mix($shamrock, $slate);
			svg {
				* {
					stroke: mix($shamrock, $slate);
				}
			}
		}
		&:active {
			background: mix($shamrock, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-robin {
		background: $robin;
		&.reverse {
			background: white;
			color: $robin;
			svg {
				* {
					stroke: $robin;
				}
			}
		}
		&:hover, &:focus {
			background: mix($robin, white);
			color: mix($robin, $slate);
			svg {
				* {
					stroke: mix($robin, $slate);
				}
			}
		}
		&:active {
			background: mix($robin, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-lake {
		background: $lake;
		&.reverse {
			background: white;
			color: $lake;
			svg {
				* {
					stroke: $lake;
				}
			}
		}
		&:hover, &:focus {
			background: mix($lake, white);
			color: mix($lake, $slate);
			svg {
				* {
					stroke: mix($lake, $slate);
				}
			}
		}
		&:active {
			background: mix($lake, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-moxie {
		background: $moxie;
		&.reverse {
			background: white;
			color: $moxie;
			svg {
				* {
					stroke: $moxie;
				}
			}
		}
		&:hover, &:focus {
			background: mix($moxie, white);
			color: mix($moxie, $slate);
			svg {
				* {
					stroke: mix($moxie, $slate);
				}
			}
		}
		&:active {
			background: mix($moxie, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-crimson {
		background: $crimson;
		&.reverse {
			background: white;
			color: $crimson;
			svg {
				* {
					stroke: $crimson;
				}
			}
		}
		&:hover, &:focus {
			background: mix($crimson, white);
			color: mix($crimson, $slate);
			svg {
				* {
					stroke: mix($crimson, $slate);
				}
			}
		}
		&:active {
			background: mix($crimson, $slate);
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
	}
	&.bg-auburn, &.bg-delivery {
		background: $auburn;
		&.reverse {
			background: white;
			color: $auburn;
		}
		&:hover, &:focus {
			background: mix($auburn, white);
			color: mix($auburn, $slate);
		}
		&:active {
			background: mix($auburn, $slate);
			color: white;
		}
	}
	&.bg-orange, &.bg-freelancing {
		background: $orange;
		&.reverse {
			background: white;
			color: $orange;
		}
		&:hover, &:focus {
			background: mix($orange, white);
			color: mix($orange, $slate);
		}
		&:active {
			background: mix($orange, $slate);
			color: white;
		}
	}
	&.bg-gold, &.bg-baking {
		background: $gold;
		&.reverse {
			background: white;
			color: $gold;
		}
		&:hover, &:focus {
			background: mix($gold, white);
			color: mix($gold, $slate);
		}
		&:active {
			background: mix($gold, $slate);
			color: white;
		}
	}
	&.bg-moola, &.bg-photography {
		background: $moola;
		&.reverse {
			background: white;
			color: $moola;
		}
		&:hover, &:focus {
			background: mix($moola, white);
			color: mix($moola, $slate);
		}
		&:active {
			background: mix($moola, $slate);
			color: white;
		}
	}
	&.bg-azure, &.bg-tech {
		background: $azure;
		&.reverse {
			background: white;
			color: $azure;
		}
		&:hover, &:focus {
			background: mix($azure, white);
			color: mix($azure, $slate);
		}
		&:active {
			background: mix($azure, $slate);
			color: white;
		}
	}
	&.bg-cobalt, &.bg-household {
		background: $cobalt;
		&.reverse {
			background: white;
			color: $cobalt;
		}
		&:hover, &:focus {
			background: mix($cobalt, white);
			color: mix($cobalt, $slate);
		}
		&:active {
			background: mix($cobalt, $slate);
			color: white;
		}
	}
	&.bg-eggplant, &.bg-athletic {
		background: $eggplant;
		&.reverse {
			background: white;
			color: $eggplant;
		}
		&:hover, &:focus {
			background: mix($eggplant, white);
			color: mix($eggplant, $slate);
		}
		&:active {
			background: mix($eggplant, $slate);
			color: white;
		}
	}
	&.bg-cerise, &.bg-academic {
		background: $cerise;
		&.reverse {
			background: white;
			color: $cerise;
		}
		&:hover, &:focus {
			background: mix($cerise, white);
			color: mix($cerise, $slate);
		}
		&:active {
			background: mix($cerise, $slate);
			color: white;
		}
	}
	&.bg-fb {
		background: $facebook;
		&.reverse {
			background: white;
			color: $facebook;
		}
		&:hover, &:focus {
			background: mix($facebook, white);
			color: mix($facebook, $slate);
		}
		&:active {
			background: mix($facebook, $slate);
			color: white;
		}
	}
}

.btn-default {
	position: relative;
	overflow: hidden;
	span {
		display: block;
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
			position: absolute;
			background: $shamrock;
		}
		&:nth-child(1) {
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transform-origin: right center;
			transform: scaleX(0);
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			width: 2px;
			height: 100%;
			transform-origin: center bottom;
			transform: scaleY(0);
		}
		&:nth-child(3) {
			bottom: 0;
			right: 0;
			width: 100%;
			height: 2px;
			transform-origin: left center;
			transform: scaleX(0);
		}
		&:nth-child(4) {
			bottom: 0;
			left: 0;
			width: 2px;
			height: 100%;
			transform-origin: center top;
			transform: scaleY(0);
		}
		&:nth-child(5) {
			transition: transform 250ms ease-in-out, opacity 50ms ease 260ms;
			position: absolute;
			top: 50%;
			margin-top: -5px;
			left: 50%;
			margin-left: -5px;
			width: 10px;
			height: 10px;
			border-radius: 1000px;
			background: mix($slate, $shamrock);
			transform-origin: center center;
			transform: scale(0) translateZ(0);
		}
		&:nth-child(6) {
			position: relative;
			z-index: 10;
		}
	}
	&:active {
		transition: background 10ms ease 250ms, color 250ms ease-in-out;
		span {
			&:nth-child(5) {
				transform: scale(50) translateZ(0);
				opacity: 0;
			}
		}
	}
	&.radius-2 {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				border-radius: 1000px;
			}
		}
	}
	&.bg-charcoal {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $charcoal;
			}
			&:nth-child(5) {
				background: mix($charcoal, white, 75%);
			}
		}
	}
	&.bg-slate {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $slate;
			}
			&:nth-child(5) {
				background: mix($slate, white, 75%);
			}
		}
	}
	&.bg-taupe {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $taupe;
			}
			&:nth-child(5) {
				background: mix($taupe, white, 75%);
			}
		}
	}
	&.bg-campus {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $campus;
			}
			&:nth-child(5) {
				background: mix($slate, $campus);
			}
		}
	}
	&.bg-rocket {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $rocket;
			}
			&:nth-child(5) {
				background: mix($slate, $rocket);
			}
		}
	}
	&.bg-shamrock {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $shamrock;
			}
			&:nth-child(5) {
				background: mix($slate, $shamrock);
			}
		}
	}
	&.bg-robin {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $robin;
			}
			&:nth-child(5) {
				background: mix($slate, $robin);
			}
		}
	}
	&.bg-lake {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $lake;
			}
			&:nth-child(5) {
				background: mix($slate, $lake);
			}
		}
	}
	&.bg-moxie {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $moxie;
			}
			&:nth-child(5) {
				background: mix($slate, $moxie);
			}
		}
	}
	&.bg-crimson {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $crimson;
			}
			&:nth-child(5) {
				background: mix($slate, $crimson);
			}
		}
	}
	&.bg-auburn, &.bg-delivery {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $auburn;
			}
			&:nth-child(5) {
				background: mix($slate, $auburn);
			}
		}
	}
	&.bg-orange, &.bg-freelancing {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $orange;
			}
			&:nth-child(5) {
				background: mix($slate, $orange);
			}
		}
	}
	&.bg-gold, &.bg-baking {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $gold;
			}
			&:nth-child(5) {
				background: mix($slate, $gold);
			}
		}
	}
	&.bg-moola, &.bg-photography {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $moola;
			}
			&:nth-child(5) {
				background: mix($slate, $moola);
			}
		}
	}
	&.bg-azure, &.bg-tech {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $azure;
			}
			&:nth-child(5) {
				background: mix($slate, $azure);
			}
		}
	}
	&.bg-cobalt, &.bg-household {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $cobalt;
			}
			&:nth-child(5) {
				background: mix($slate, $cobalt);
			}
		}
	}
	&.bg-eggplant, &.bg-athletic {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $eggplant;
			}
			&:nth-child(5) {
				background: mix($slate, $eggplant);
			}
		}
	}
	&.bg-cerise, &.bg-academic {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $cerise;
			}
			&:nth-child(5) {
				background: mix($slate, $cerise);
			}
		}
	}
	&.bg-fb {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: $facebook;
			}
			&:nth-child(5) {
				background: mix($slate, $facebook);
			}
		}
	}
	&.reverse {
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				background: white!important;
			}
		}
	}
}

// round ghost buttons
.btn-ghost-round, .btn-ghost {
	@include round;
	width: auto;
	height: auto;
	background: transparent;
	padding: 10px 30px;
	border: 2px solid;
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	&.opacity-50p {
		&:hover, &:focus {
			opacity: 1!important;
		}
	}
	&:hover, &:focus {
		background: white;
		color: $charcoal;
	}
	&:active {
		border-color: $light-slate;
		background: $light-slate;
		color: white;
	}
	&.bg-charcoal {
		color: $charcoal;
		border-color: $charcoal;
		&:hover, &:focus {
			border-color: $charcoal;
			background: $charcoal;
			color: white;
		}
		&:active {
			border-color: mix($charcoal, white);
			background: mix($charcoal, white);
			color: $charcoal;
		}
	}
	&.bg-slate {
		color: $slate;
		border-color: $slate;
		&:hover, &:focus {
			border-color: $slate;
			background: $slate;
			color: white;
		}
		&:active {
			border-color: mix($slate, white);
			background: mix($slate, white);
			color: $slate;
		}
	}
	&.bg-taupe {
		color: $taupe;
		border-color: $taupe;
		&:hover, &:focus {
			border-color: $taupe;
			background: $taupe;
			color: white;
		}
		&:active {
			border-color: mix($taupe, white);
			background: mix($taupe, white);
			color: $taupe;
		}
	}
	&.bg-campus {
		color: $campus;
		border-color: $campus;
		&:hover, &:focus {
			border-color: $campus;
			background: $campus;
			color: white;
		}
		&:active {
			border-color: mix($campus, white);
			background: mix($campus, white);
			color: mix($campus, $slate);
		}
	}
	&.bg-smoke {
		color: $smoke;
		border-color: $smoke;
		&:hover, &:focus {
			border-color: $smoke;
			background: $smoke;
			color: white;
		}
		&:active {
			border-color: $light-slate;
			background: $light-slate;
			color: white;
		}
	}
	&.bg-white {
		color: white;
		border-color: white;
		&:hover, &:focus {
			border-color: white;
			background: white;
			color: $charcoal;
		}
		&:active {
			border-color: $light-slate;
			background: $light-slate;
			color: white;
		}
	}
	&.bg-rocket {
		color: $rocket;
		border-color: $rocket;
		&:hover, &:focus {
			border-color: $rocket;
			background: $rocket;
			color: white;
		}
		&:active {
			border-color: mix($rocket, white);
			background: mix($rocket, white);
			color: mix($rocket, $slate);
		}
	}
	&.bg-shamrock {
		color: $shamrock;
		border-color: $shamrock;
		&:hover, &:focus {
			border-color: $shamrock;
			background: $shamrock;
			color: white;
		}
		&:active {
			border-color: mix($shamrock, white);
			background: mix($shamrock, white);
			color: mix($shamrock, $slate);
		}
	}
	&.bg-robin {
		color: $robin;
		border-color: $robin;
		&:hover, &:focus {
			border-color: $robin;
			background: $robin;
			color: white;
		}
		&:active {
			border-color: mix($robin, white);
			background: mix($robin, white);
			color: mix($robin, $slate);
		}
	}
	&.bg-lake {
		color: $lake;
		border-color: $lake;
		&:hover, &:focus {
			border-color: $lake;
			background: $lake;
			color: white;
		}
		&:active {
			border-color: mix($lake, white);
			background: mix($lake, white);
			color: mix($lake, $slate);
		}
	}
	&.bg-moxie {
		color: $moxie;
		border-color: $moxie;
		&:hover, &:focus {
			border-color: $moxie;
			background: $moxie;
			color: white;
		}
		&:active {
			border-color: mix($moxie, white);
			background: mix($moxie, white);
			color: mix($moxie, $slate);
		}
	}
	&.bg-crimson {
		color: $crimson;
		border-color: $crimson;
		&:hover, &:focus {
			border-color: $crimson;
			background: $crimson;
			color: white;
		}
		&:active {
			border-color: mix($crimson, white);
			background: mix($crimson, white);
			color: mix($crimson, $slate);
		}
	}
	&.bg-auburn, &.bg-delivery {
		color: $auburn;
		border-color: $auburn;
		&:hover, &:focus {
			border-color: $auburn;
			background: $auburn;
			color: white;
		}
		&:active {
			border-color: mix($auburn, white);
			background: mix($auburn, white);
			color: mix($auburn, $slate);
		}
	}
	&.bg-orange, &.bg-freelancing {
		color: $orange;
		border-color: $orange;
		&:hover, &:focus {
			border-color: $orange;
			background: $orange;
			color: white;
		}
		&:active {
			border-color: mix($orange, white);
			background: mix($orange, white);
			color: mix($orange, $slate);
		}
	}
	&.bg-gold, &.bg-baking {
		color: $gold;
		border-color: $gold;
		&:hover, &:focus {
			border-color: $gold;
			background: $gold;
			color: white;
		}
		&:active {
			border-color: mix($gold, white);
			background: mix($gold, white);
			color: mix($gold, $slate);
		}
	}
	&.bg-moola, &.bg-photography {
		color: $moola;
		border-color: $moola;
		&:hover, &:focus {
			border-color: $moola;
			background: $moola;
			color: white;
		}
		&:active {
			border-color: mix($moola, white);
			background: mix($moola, white);
			color: mix($moola, $slate);
		}
	}
	&.bg-azure, &.bg-tech {
		color: $azure;
		border-color: $azure;
		&:hover, &:focus {
			border-color: $azure;
			background: $azure;
			color: white;
		}
		&:active {
			border-color: mix($azure, white);
			background: mix($azure, white);
			color: mix($azure, $slate);
		}
	}
	&.bg-cobalt, &.bg-household {
		color: $cobalt;
		border-color: $cobalt;
		&:hover, &:focus {
			border-color: $cobalt;
			background: $cobalt;
			color: white;
		}
		&:active {
			border-color: mix($cobalt, white);
			background: mix($cobalt, white);
			color: mix($cobalt, $slate);
		}
	}
	&.bg-eggplant, &.bg-athletic {
		color: $eggplant;
		border-color: $eggplant;
		&:hover, &:focus {
			border-color: $eggplant;
			background: $eggplant;
			color: white;
		}
		&:active {
			border-color: mix($eggplant, white);
			background: mix($eggplant, white);
			color: mix($eggplant, $slate);
		}
	}
	&.bg-cerise, &.bg-academic {
		color: $cerise;
		border-color: $cerise;
		&:hover, &:focus {
			border-color: $cerise;
			background: $cerise;
			color: white;
		}
		&:active {
			border-color: mix($cerise, white);
			background: mix($cerise, white);
			color: mix($cerise, $slate);
		}
	}
	&.bg-fb {
		color: $facebook;
		border-color: $facebook;
		&:hover, &:focus {
			border-color: $facebook;
			background: $facebook;
			color: white;
		}
		&:active {
			border-color: mix($facebook, white);
			background: mix($facebook, white);
			color: mix($facebook, $slate);
		}
	}
}

// square ghost buttons
.btn-ghost-square {
	position: relative;
	background: none;
	height: auto;
	width: auto;
	border-radius: 2px;
	padding: 14px 24px;
	border: 0;
	overflow: hidden;
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	span {
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
			position: absolute;
			background: white;
			border-radius: 1000px;
			transition: none;
		}
		&:nth-child(1) {
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transform-origin: left center;
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			width: 2px;
			height: 100%;
			transform-origin: center top;
		}
		&:nth-child(3) {
			bottom: 0;
			right: 0;
			width: 100%;
			height: 2px;
			transform-origin: right center;
		}
		&:nth-child(4) {
			bottom: 0;
			left: 0;
			width: 2px;
			height: 100%;
			transform-origin: center bottom;
		}
		&:nth-child(5) {
			position: absolute;
			top: 50%;
			margin-top: -5px;
			left: 50%;
			margin-left: -5px;
			width: 10px;
			height: 10px;
			border-radius: 1000px;
			background: $light-slate;
			transform-origin: center center;
			transform: scale(0) translateZ(0);
			transition: transform 250ms ease-in-out, opacity 50ms ease 260ms;
		}
		&:nth-child(6) {
			position: relative;
			z-index: 10;
		}
	}
	&:hover, &:focus {
		background: white;
		color: $charcoal;
		span {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				opacity: 0;
			}
		}
	}
	&:active {
		background: $light-slate;
		transition: background 10ms ease 250ms, color 250ms ease-in-out;
		span {
			&:nth-child(5) {
				transform: scale(100) translateZ(0);
				opacity: 0;
			}
		}
	}
}

// split buttons
[class*="btn-split"] {
	@include flex;
	@include flex-center;
	padding: 0;
	width: auto;
	height: auto;
	background: none;
	&:hover, &:focus, &:active {
		background: none;
	}
	> span {
		@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
		display: block;
		background: $charcoal;
		padding: 15px;
		color: white;
		font-size: 20px;
		&:first-child {
			padding-left: 30px;
			border-radius: 1000px 0 0 1000px;
			margin-right: 1px;
			font-weight: 600;
			transform-origin: right center;
		}
		&:last-child {
			padding-right: 30px;
			border-radius: 0 1000px 1000px 0;
			margin-left: 1px;
			font-weight: 900;
			transform-origin: left center;
		}
	}
	&:hover, &:focus {
		> span {
			background: white;
			color: $slate;
		}
	}
	&:active {
		> span {
			background: $slate;
			color: white;
		}
	}
	&.btn-split-charcoal {
		> span {
			background: $charcoal;
			color: white;
		}
		&:hover, &:focus {
			> span {
				background: white;
				color: $slate;
			}
		}
		&:active {
			> span {
				background: $slate;
				color: white;
			}
		}
	}
	&.btn-split-slate {
		> span {
			background: $slate;
			color: white;
		}
		&:hover, &:focus {
			> span {
				background: white;
				color: $slate;
			}
		}
		&:active {
			> span {
				background: $light-slate;
				color: white;
			}
		}
	}
	&.btn-split-white {
		> span {
			background: white;
			color: $slate;
		}
		&:hover, &:focus {
			> span {
				background: $slate;
				color: white;
			}
		}
		&:active {
			> span {
				background: $light-slate;
				color: white;
			}
		}
	}
	&.hvr-rocket {
		&:active {
			> span {
				background: $rocket;
				color: white;
			}
		}
	}
	&.hvr-shamrock {
		&:active {
			> span {
				background: $shamrock;
				color: white;
			}
		}
	}
	&.hvr-robin {
		&:active {
			> span {
				background: $robin;
				color: white;
			}
		}
	}
	&.hvr-lake {
		&:active {
			> span {
				background: $lake;
				color: white;
			}
		}
	}
	&.hvr-moxie {
		&:active {
			> span {
				background: $moxie;
				color: white;
			}
		}
	}
	&.hvr-crimson {
		&:active {
			> span {
				background: $crimson;
				color: white;
			}
		}
	}
	&.hvr-auburn {
		&:active {
			> span {
				background: $auburn;
				color: white;
			}
		}
	}
	&.hvr-orange {
		&:active {
			> span {
				background: $orange;
				color: white;
			}
		}
	}
	&.hvr-gold {
		&:active {
			> span {
				background: $gold;
				color: white;
			}
		}
	}
	&.hvr-moola {
		&:active {
			> span {
				background: $moola;
				color: white;
			}
		}
	}
	&.hvr-azure {
		&:active {
			> span {
				background: $azure;
				color: white;
			}
		}
	}
	&.hvr-cobalt {
		&:active {
			> span {
				background: $cobalt;
				color: white;
			}
		}
	}
	&.hvr-eggplant {
		&:active {
			> span {
				background: $eggplant;
				color: white;
			}
		}
	}
	&.hvr-cerise {
		&:active {
			> span {
				background: $cerise;
				color: white;
			}
		}
	}
}
