@import '../mixin';

/* ---------- ATTACHMENT LISTS */
.attach-list {
	ul {
		@include flex;
		@include flex-wrap;
		padding: 7.5px;
		li {
			padding: 7.5px;
			> a, > span {
				position: relative;
				@include flex;
				@include flex-center-vertical;
				border-radius: 2px;
				padding: 5px 10px 5px 5px;
				span {
					display: block;
					&:nth-child(1) {
						width: 36px;
						height: 36px;
						border-radius: 2px;
						span {
							width: 28px;
							height: 26px;
							margin: 5px 4px;
							border: 1px solid white;
							background-position: center center;
							background-size: cover;
						}
						svg {
							display: block;
							width: 36px;
							height: 36px;
						}
					}
					&:nth-child(2) {
						margin-left: 5px;
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
			div:empty {
				position: absolute;
				border-radius: 2px;
				z-index: 1;
				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 100%;
					height: 2px;
					transform-origin: left center;
				}
				&:nth-child(2) {
					top: 0;
					right: 0;
					width: 2px;
					height: 100%;
					transform-origin: center top;
				}
				&:nth-child(3) {
					bottom: 0;
					right: 0;
					width: 100%;
					height: 2px;
					transform-origin: right center;
				}
				&:nth-child(4) {
					bottom: 0;
					left: 0;
					width: 2px;
					height: 100%;
					transform-origin: center bottom;
				}
				&:nth-child(5) {
					border-radius: 2px 2px 0 0;
					z-index: 2;
					top: 0;
					left: 0;
					width: 100%;
					height: 4px;
					transform-origin: left center;
				}
			}
		}
	}
	&.large {
		ul {
			padding: 15px 15px 0;
			li {
				padding: 0 0 15px;
				> a, > span {
					@include flex-wrap;
					width: 64px;
					padding: 0;
					span {
						&:nth-child(1) {
							position: relative;
							width: 64px;
							height: 64px;
							svg {
								width: 100%;
								height: auto;
							}
						}
						&:nth-child(2) {
							width: 100%;
							margin-left: 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
	&.no-padding {
		ul {
			li {
				> a, > span {
					padding: 0;
				}
			}
		}
	}
	&.student {
		ul {
			li {
				> a, > span {
					background: $smoke;
					color: $slate;
				}
				> a {
					&:hover, &:focus {
						background: lighten($slate, 15%);
						color: white;
					}
					&:active {
						background: $lake;
					}
					div:empty {
						background: $smoke;
						&:nth-child(5) {
							background: $lake;
						}
					}
				}
			}
		}
	}
	&.guru {
		ul {
			li {
				> a, > span {
					background: lighten($slate, 15%);
					color: white;
				}
				> a {
					&:hover, &:focus {
						background: lighten($slate, 5%);
						color: white;
					}
					&:active {
						background: $shamrock;
					}
					div:empty {
						background: lighten($slate, 15%);
						&:nth-child(5) {
							background: $shamrock;
						}
					}
				}
			}
		}
	}
}

// [deprecate]
.attachment-list {
	width: 100%;
	min-height: 100px;
	overflow: auto;
	text-align: center!important;
	&.min-height {
		height: 150px;
	}
	ul {
		@include listless;
		@include flex;
		height: 100%;
		padding: 7.5px;
		&:not(:empty) {
			background: $smoke;
			position: relative;
			z-index: 10;
		}
		li {
			padding: 7.5px;
			height: 100%;
			&:last-child {
				padding-right: 15px;
			}
			div:not(.not) {
				width: 150px;
				background: $slate;
				border: 2px solid white;
			}
			div, img {
				position: relative;
				height: 100%;
				border-radius: 10px;
			}
			img {
				max-height: 100%;
				width: auto;
			}
			img:before, .details {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($slate, .6);
				border: 2px solid white;
				border-radius: 10px;
				span {
					display: block;
					width: 100%;
					font-size: 14px;
					font-weight: 600;
					&:first-child {
						font-size: 18px;
					}
					&.u-file-name {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					&.u-file-error:not(:empty) {
						@include flex;
						@include flex-center;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba($crimson, .95);
						border-radius: 8px;
						font-size: 18px;
					}
				}
			}
			img:not([src]) {
				display: none;
				+ .details {
					position: static;
					top: auto;
					left: auto;
					width: 120px;
					background: $lake;
				}
			}
			.dz-remove {
				display: none !important;
			}
			div[data-dz-uploadprogress] {
				@include round;
				position: absolute;
				background: white;
				height: 5px;
				bottom: 15px;
				left: 15px;
				max-width: calc(100% - 30px);
			}
			a[data-dz-remove], a:not(.doc-info) {
				display: block;
				position: absolute;
				z-index: 3;
				top: 5px;
				left: 5px;
				width: 25px;
				height: 25px;
				svg {
					@include rotate(45);
					@include svg-stroke(white, 8);
					width: 25px;
					height: 25px;
				}
			}
			.doc-info {
				@include center-xy;
				display: block;
				width: 100%;
				padding: 30px 15px 15px;
				span {
					display: block;
					font-weight: 600;
				}
				.doc-name {
					font-size: 20px;
				}
				.doc-type {
					font-size: 16px;
				}
			}
			.attach-upload-img {
				background-position: center center;
				background-size: cover;
				.doc-info {
					@include opacity(0);
					@include transition(.15s ease-in-out);
					@include flex;
					@include flex-wrap;
					@include flex-center;
					z-index: 2;
					width: 100%;
					height: 100%;
					border-radius: 8px;
					background: rgba($slate, .95);
					color: white!important;
					&:hover,
					&:focus {
						@include opacity(1);
					}
					svg {
						@include rotate(45);
						@include svg-stroke(white, 8);
						position: absolute;
						top: 5px;
						right: 5px;
						width: 25px;
						height: 25px;
					}
				}
			}
			.attach-upload-file {
				border: 0;
				width: auto;
				background: none!important;
				svg.doc-outline {
					@include svg-stroke(white, 1.5);
					display: block;
					height: 100%;
					fill: $shamrock;
				}
				&.attach-upload-pdf {
					svg.doc-outline {
						height: 100%;
						fill: $auburn;
					}
				}
				&.attach-upload-doc {
					svg.doc-outline {
						height: 100%;
						fill: $lake;
					}
				}
				&.attach-upload-xls {
					svg.doc-outline {
						height: 100%;
						fill: $moola;
					}
				}
			}
			.attach-upload-add {
				position: relative;
				border-style: dashed;
				border: 0;
				background: none;
				width: auto;
				.square {
					height: 100%;
					fill: none;
				}
				a {
					@include flex;
					@include flex-wrap;
					@include flex-center;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					border: 2px dashed $shamrock;
					span {
						svg {
							@include svg-stroke($shamrock, 6);
							width: 100%;
							height: 30px;
						}
						span {
							display: block;
							font-size: 18px;
							font-weight: 600;
							color: $shamrock;
						}
					}
					&:hover,
					&:focus {
						background: white;
					}
					&:active,
					&.active {
						background: lighten($shamrock, 30%);
					}
				}
			}
		}
	}
}

/* ---------- NUMBERED LISTS */
.numbered-list {
	padding: 7.5px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	counter-reset: li;
	> li {
		@include flex;
		@include flex-wrap;
		padding: 7.5px;
		&:before {
			@include flex;
			@include flex-center;
			width: 48px;
			height: 48px;
			content: counter(li);
			counter-increment: li;
			background: $lake;
			color: white;
			border-radius: 2px;
			font-size: 24px;
			font-weight: 600;
			text-align: center;
		}
		> div {
			@include flex;
			@include flex-center-vertical;
			width: calc(100% - 48px);
			padding-left: 15px;
		}
	}
	&.m {
		> li {
			&:before {
				width: 64px;
				height: 64px;
				font-size: 28px;
			}
			> div {
				width: calc(100% - 64px);
			}
		}
	}
	&.l {
		> li {
			&:before {
				width: 96px;
				height: 96px;
				font-size: 48px;
			}
			> div {
				width: calc(100% - 96px);
			}
		}
	}
	&.xl {
		> li {
			&:before {
				width: 128px;
				height: 128px;
				font-size: 64px;
			}
			> div {
				width: calc(100% - 128px);
			}
		}
	}
	&.charcoal{
		> li {
			&:before {
				background: $charcoal;
			}
			> div {
				color: $slate;
			}
		}
	}
	&.slate {
		> li {
			&:before {
				background: $slate;
			}
			> div {
				color: $slate;
			}
		}
	}
	&.taupe {
		> li {
			&:before {
				background: $taupe;
			}
		}
	}
	&.rocket {
		> li {
			&:before {
				background: $rocket;
			}
		}
	}
	&.shamrock {
		> li {
			&:before {
				background: $shamrock;
			}
		}
	}
	&.lake {
		> li {
			&:before {
				background: $lake;
			}
		}
	}
	&.robin {
		> li {
			&:before {
				background: $robin;
			}
		}
	}
	&.moxie {
		> li {
			&:before {
				background: $moxie;
			}
		}
	}
	&.crimson {
		> li {
			&:before {
				background: $crimson;
			}
		}
	}
	&.delivery, &.auburn {
		> li {
			&:before {
				background: $auburn;
			}
		}
	}
	&.freelancing, &.orange {
		> li {
			&:before {
				background: $orange;
			}
		}
	}
	&.baking, &.gold {
		> li {
			&:before {
				background: $gold;
			}
		}
	}
	&.photography, &.moola {
		> li {
			&:before {
				background: $moola;
			}
		}
	}
	&.tech, &.azure {
		> li {
			&:before {
				background: $azure;
			}
		}
	}
	&.household, &.cobalt {
		> li {
			&:before {
				background: $cobalt;
			}
		}
	}
}

/* ---------- SIDEBAR LISTS */
.sidebar-link-bg {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: -5px;
	width: 10px;
	height: 10px;
	border-radius: 1000px;
	transform-origin: center center;
}

.sidebar-list {
	width: 100%;
}

.sidebar-list-header {
	padding: 15px;
	h2 {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
	}
}

.sidebar-list-dividers {
	padding: 7.5px;
	li {
		position: relative;
		padding: 15px 7.5px;
		&:first-child {
			padding: 7.5px 7.5px 15px;
		}
		&:last-child {
			padding: 15px 7.5px 7.5px;
			hr {
				display: none;
			}
		}
		&:not(:last-child) {
			hr {
				position: absolute;
				bottom: -1px;
				left: 7.5px;
				width: calc(100% - 15px);
				height: 2px;
				border-radius: 2px;
				background: rgba(white, .5);
				border: 0;
				margin: 0;
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.sidebar-list {
		width: calc(100% / 3);
		height: 100%;
	}
}

.course-list {
	ul {
		padding: 1px;
		li {
			padding: 1px;
		}
	}
}
.course-list-item {
	display: block;
	position: relative;
	padding: 15px;
	background: rgba(white, .1);
	overflow: hidden;
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
	h2 {
		margin: 0!important;
		font-size: 18px;
		font-weight: 600;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.border {
		opacity: 0.5;
		transition: all 150ms ease-in-out
	}
	div:empty {
		position: absolute;
		background: white;
		border-radius: 1000px;
		&:nth-child(1) {
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transform-origin: right center;
			// transform: scaleX(0);
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			width: 2px;
			height: 100%;
			transform-origin: center bottom;
			// transform: scaleY(0);
		}
		&:nth-child(3) {
			bottom: 0;
			right: 0;
			width: 100%;
			height: 2px;
			transform-origin: left center;
			// transform: scaleX(0);
		}
		&:nth-child(4) {
			bottom: 0;
			left: 0;
			width: 5px;
			height: 100%;
			transform-origin: center top;
			// transform: scaleY(0);
		}
	}
	&:hover {
		.border {
			opacity: 1;
		}
	}
}

// /* ---------- DESKTOP COURSE LISTS */
// .course-list, .course-none {
// 	@include transition(.3s ease-in-out);
// 	position: absolute;
// 	width: 100%;
// 	background: rgba(lighten($charcoal, 2%),.95);
// 	&.hide {
// 		@include flex-important;
// 		// @include opacity(0);
// 		@include translate-y(-10%);
// 		z-index: -10;
// 	}
// 	&.show {
// 		@include flex-important;
// 		@include opacity(1);
// 		@include translate-y(0);
// 		@include animation-name(courses-pop);
// 		@include animation-duration(.4s);
// 		@include animation-iteration-count(1);
// 		z-index: 10;
// 	}
// }
// .course-none {
// 	@include flex;
// 	@include flex-center;
// 	z-index: 90;
// 	padding: 15px;
// 	font-weight: 600;
// }
// .course-list, .course-list ul {
// 	@include flex;
// 	@include flex-center;
// 	@include flex-wrap;
// 	z-index: 100;
// 	font-weight: 600;
// }
// .course-list {
// 	padding: 7.5px;
// 	li {
// 		width: 100%;
// 		overflow: hidden;
// 		padding: 7.5px;
// 		a {
// 			@include flex;
// 			@include flex-center-vertical;
// 			display: block;
// 			padding: 10px 15px;
// 			background: lighten($slate, 20%);
// 			&:hover,
// 			&:focus {
// 				background: $shamrock;
// 			}
// 			&:active {
// 				background: lighten($slate, 10%);
// 			}
// 			span {
// 				display: block;
// 				line-height: 1.2;
// 			}
// 			.course-name {
// 				font-size: 16px;
// 				text-transform: uppercase;
// 			}
// 			.course-title {
// 				max-height: 48px;
// 				overflow: hidden;
// 				font-size: 20px;
// 				font-weight: 700;
// 			}
// 		}
// 	}
// }
// @media screen and (min-width: 768px) {
// 	.course-list {
// 		li {
// 			width: calc(100% / 3);
// 			height: 102px;
// 			a {
// 				height: 87px;
// 			}
// 		}
// 	}
// }
