@import '../mixin';

/* ---------- TAGS */
.chip {
	display: inline-block;
	position: relative;
	height: 32px;
	font-size: 13px;
	font-weight: 600;
	color: white;
	line-height: 32px;
	padding: 0 12px;
	border-radius: 16px;
	img {
		padding: 2px;
		border-radius: 50%;
	}
	img, .user-icon-32 {
		float: left;
		height: 28px!important;
		width: 28px!important;
		margin: 2px 8px 2px -10px;
		border: 0!important;
	}
}
input.chip:hover {
	cursor: text;
}

a.chip, input.chip {
	transform-origin: center center;
	transition: all 150ms ease-in;
	&:hover, &:focus {
		transform: translateZ(20px);
		transition: all 600ms cubic-bezier(.6,0,.1,2);
	}
	&:active {
		transform: translateZ(-20px);
		transition: all 150ms ease-in;
	}
}

/* ---------- ADLIB TAGS */
.tag-adlib-container {
	position: relative;
}
.tag-adlib {
	@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
	@include flex;
	@include flex-center;
	position: relative;
	width: 96px;
	height: 28px;
	font-size: 16px;
	padding: 0;
	border-radius: 8px;
	font-weight: 600;
	background: rgba($slate, .5);
	@media screen and (min-width: 320px) {
		width: 130px;
		height: 38px;
		font-size: 20px;
	}
	svg {
		@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&.desktop {
			display: none;
		}
		* {
			@include svg-stroke(white, 4);
		}
	}
	&.blank, &.ghost {
		stroke-dasharray: 16, 14;
	}
	&.ghost {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: none!important;
		svg {
			@include opacity-important(.2);
		}
		&:not(.active-ghost) {
			@include opacity(0);
		}
	}
	&:not(.blank) {
		&:hover, &:focus, &.active {
			background: $shamrock;
			svg {
				@include opacity(0);
			}
		}
		&:active {
			background: mix($shamrock, white);
			color: mix($shamrock, $slate);
		}
		&.active {
			&:hover, &:focus {
				background: mix($shamrock, white);
				color: mix($shamrock, $slate);
			}
			&:active {
				background: mix($shamrock, $slate);
				color: white;
			}
		}
		+ .ghost {
			svg {
				* {
					fill: rgba($shamrock, .3);
				}
			}
		}
		&.tag-campus {
			&:hover, &:focus, &.active {
				background: $campus;
			}
			&:active {
				background: mix($campus, white);
				color: mix($campus, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($campus, white);
					color: mix($campus, $slate);
				}
				&:active {
					background: mix($campus, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($campus, .3);
					}
				}
			}
		}
		&.tag-shamrock {
			&:hover, &:focus, &.active {
				background: $shamrock;
			}
			&:active {
				background: mix($shamrock, white);
				color: mix($shamrock, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($shamrock, white);
					color: mix($shamrock, $slate);
				}
				&:active {
					background: mix($shamrock, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($shamrock, .3);
					}
				}
			}
		}
		&.tag-robin {
			&:hover, &:focus, &.active {
				background: $robin;
			}
			&:active {
				background: mix($robin, white);
				color: mix($shamrock, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($robin, white);
					color: mix($robin, $slate);
				}
				&:active {
					background: mix($robin, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($robin, .3);
					}
				}
			}
		}
		&.tag-lake {
			&:hover, &:focus, &.active {
				background: $lake;
			}
			&:active {
				background: mix($lake, white);
				color: mix($lake, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($lake, white);
					color: mix($lake, $slate);
				}
				&:active {
					background: mix($lake, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($lake, .3);
					}
				}
			}
		}
		&.tag-moxie {
			&:hover, &:focus, &.active {
				background: $moxie;
			}
			&:active {
				background: mix($moxie, white);
				color: mix($moxie, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($moxie, white);
					color: mix($moxie, $slate);
				}
				&:active {
					background: mix($moxie, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($moxie, .3);
					}
				}
			}
		}
		&.tag-crimson {
			&:hover, &:focus, &.active {
				background: $crimson;
			}
			&:active {
				background: mix($crimson, white);
				color: mix($crimson, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($crimson, white);
					color: mix($crimson, $slate);
				}
				&:active {
					background: mix($crimson, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($crimson, .3);
					}
				}
			}
		}
		&.tag-auburn, &.tag-delivery {
			&:hover, &:focus, &.active {
				background: $auburn;
			}
			&:active {
				background: mix($auburn, white);
				color: mix($auburn, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($auburn, white);
					color: mix($auburn, $slate);
				}
				&:active {
					background: mix($auburn, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($auburn, .3);
					}
				}
			}
		}
		&.tag-orange, &.tag-freelancing {
			&:hover, &:focus, &.active {
				background: $orange;
			}
			&:active {
				background: mix($orange, white);
				color: mix($orange, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($orange, white);
					color: mix($orange, $slate);
				}
				&:active {
					background: mix($orange, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($orange, .3);
					}
				}
			}
		}
		&.tag-gold, &.tag-baking {
			&:hover, &:focus, &.active {
				background: $gold;
			}
			&:active {
				background: mix($gold, white);
				color: mix($gold, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($gold, white);
					color: mix($gold, $slate);
				}
				&:active {
					background: mix($gold, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($gold, .3);
					}
				}
			}
		}
		&.tag-moola, &.tag-photography {
			&:hover, &:focus, &.active {
				background: $moola;
			}
			&:active {
				background: mix($moola, white);
				color: mix($moola, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($moola, white);
					color: mix($moola, $slate);
				}
				&:active {
					background: mix($moola, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($moola, .3);
					}
				}
			}
		}
		&.tag-azure, &.tag-tech {
			&:hover, &:focus, &.active {
				background: $azure;
			}
			&:active {
				background: mix($azure, white);
				color: mix($azure, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($azure, white);
					color: mix($azure, $slate);
				}
				&:active {
					background: mix($azure, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($azure, .3);
					}
				}
			}
		}
		&.tag-cobalt, &.tag-household {
			&:hover, &:focus, &.active {
				background: $cobalt;
			}
			&:active {
				background: mix($cobalt, white);
				color: mix($cobalt, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($cobalt, white);
					color: mix($cobalt, $slate);
				}
				&:active {
					background: mix($cobalt, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($cobalt, .3);
					}
				}
			}
		}
		&.tag-eggplant, &.tag-athletic {
			&:hover, &:focus, &.active {
				background: $eggplant;
			}
			&:active {
				background: mix($eggplant, white);
				color: mix($eggplant, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($eggplant, white);
					color: mix($eggplant, $slate);
				}
				&:active {
					background: mix($eggplant, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($eggplant, .3);
					}
				}
			}
		}
		&.tag-cerise, &.tag-academic {
			&:hover, &:focus, &.active {
				background: $cerise;
			}
			&:active {
				background: mix($cerise, white);
				color: mix($cerise, $slate);
			}
			&.active {
				&:hover, &:focus {
					background: mix($cerise, white);
					color: mix($cerise, $slate);
				}
				&:active {
					background: mix($cerise, $slate);
					color: white;
				}
			}
			+ .ghost {
				svg {
					* {
						fill: rgba($cerise, .3);
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.tag-adlib {
		width: 142px;
		height: 44px;
		font-size: 24px;
		svg {
			&.mobile {
				display: none;
			}
			&.desktop {
				display: block;
			}
		}
	}
}

/* ---------- TAG LISTS */
.tag-list, .pf-tags {
	@include flex;
	@include flex-wrap;
	width: 100%;
	text-align: center;
	.chip {
		@include transition(.15s ease-in-out);
		@include flex;
		@include flex-center-vertical;
		margin-right: 15px;
		border: 0;
		color: white!important;
		&:not([class*="bg"]) {
			background: lighten($slate, 10%);
		}
		svg {
			@include svg-stroke(white, 10);
			width: 12px;
			height: 12px;
			margin-right: 3px;
		}
		input {
			background: transparent;
			border: 0;
			color: white!important;
			@include placeholder {
				color: white!important;
			}
		}
	}
	a.chip:hover {
		background: $light-slate;
	}
	ul {
		@include flex;
		@include flex-wrap;
		width: 100%;
		padding: 10px 10px 5px;
		li {
			padding: 0 5px 10px;
			.chip {
				margin-right: 0;
			}
		}
	}
	.error {
		display: block;
		width: 100%;
		padding: 0 15px 15px;
		color: $crimson;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
	}
}
