<svg class="letter-e" viewBox="0 0 45 100">
    <g fill="none" fill-rule="evenodd">
        <path d="M8.5,72 L8.5,29.5" class="letter-color-e-1" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8.5,51 L31.5,51" class="letter-color-e-2" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M37,29 L8.5,29" class="letter-color-e-3" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M37,71 L8.5,71" class="letter-color-e-4" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8.5,72 L8.5,29.5" class="letter-white-e-1" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8.5,51 L31.5,51" class="letter-white-e-2" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M37,29 L8.5,29" class="letter-white-e-3" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M37,71 L8.5,71" class="letter-white-e-4" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M-28,0 L72,0 L72,100 L-28,100 L-28,0 L-28,0 L-28,0 Z M1,78.16 L44.128,78.16 L44.128,64.264 L15.4,64.264 L15.4,57.064 L39.016,57.064 L39.016,44.032 L15.4,44.032 L15.4,35.968 L44.128,35.968 L44.128,22 L1,22 L1,78.16 L1,78.16 L1,78.16 Z" class="letter-mask-e" fill="#D8D8D8"></path>
    </g>
</svg>
