<ion-view view-title="Signup">
  <ion-nav-buttons side="secondary">
    <button ng-click="startAnimation()" class="button button-clear button-positive">Start</button>
  </ion-nav-buttons>
  <ion-content scroll="false">
  <div class="animation4">
    <div class="animation-box center">
        <article>
          <canvas id="canvas" height="200" width="200"></canvas>
        </article>
        <div class="leaf"></div>
        <div class="stem"></div>
      <button ng-click="startAnimation()" class="button button-green-outline button-full">
        Get start
      </button>
      <button ng-click="endAnimation()" class="button button-green-outline button-full">
        Go back
      </button>
    </div>
  </div>
  

  </ion-content>
</ion-view>
