<style>
    /* GURU ONBOARDING */
    /* @samir - color won't bind, put $slate as a placeholder, pls fix */
    /* {{university.school_color_dark}} */
    /* #023360 */
    #desktop-guru-onboarding {
        background: {{university.school_color_dark}} url("https://farm8.staticflickr.com/7318/9357094656_965041bc2b_k.jpg") center center / cover!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:after {
        background: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a {
        background: none!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:hover:after,
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:focus:after {
        background: white!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span span:first-child svg path {
        stroke: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span {
        color: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span {
        border-color: #023360!important;
        color: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span svg {
        stroke: #023360!important;
    }
    
    #desktop-courses, #desktop-skills, .subcategory {
        background: #023360!important;
    }
    
    /* COURSES */
    #desktop-courses .main .desktop-search-list .desktop-card-list li a svg path {
        stroke: #023360!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list li a:hover,
    #desktop-courses .main .desktop-search-list .desktop-card-list li a:focus,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a {
        background: #023360!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:hover,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:focus {
        background: #40484B!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:hover svg path,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:focus svg path {
        stroke: #40484B!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:active {
        background: rgba(255,255,255,.25)!important;
        border-bottom: 10px solid rgba(255,255,255,.5)!important;
    }
</style>