    <div class='guru-logo-container'>
        <div class='svg-logo-wrapper' ng-include="img_base + 'templates/green-guru-svg.html'"> </div>
    </div>
    <a class='close-popup-link' id='edit-name-close-popup-link'>
        <i class='icon ion-close-round'> </i>
    </a>
    <div class='uguru-popup-content'>
        <div class='content-wrapper'>
            <h2> Edit Your Name</h2>
            <p> Trolling is not encouraged </p>
            <input type='text' id='user-edit-name-input'></input>
            <button class='bg-cerise white-text' id='edit-name-save-popup-link'>Save</button>
        </div>
    </div>