<!-- data model
selected university

-->
<section id="request-one" class="request-slide request-essay">
	<header>
		<h1>Confirm my request</h1>
	</header>
	<div class="request-content relative">
		<div id="request-search">
			<form>
				<h1 class="request-step small selected">
					<b>Selected School</b>
				</h1>
				<div class="input-field">
					<i class="material-icons prefix">
						<svg viewBox="0 0 100 100">
						    <path d="M43,27 L43,59 M27,43 L59,43 M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
						</svg>
					</i>
					<input ng-disabled="request.selected_university" id='request-search-input' name='request-search-input' autocomplete="off" type="text" fast-matcher fast-matcher-source="user.universities" fast-matcher-output="search_text.matching" fast-matcher-properties="short_name, name, variations"
					ng-disabled="!user.universities|| !user.universities.length" ng-model="search_text.university" />
					<label for="request-search-input">
						<span class='hide ng-class:{"show":!request.selected_university}'>choose one of {{user.universities.length}} added universities</span>
						<span class='hide selected-school ng-class:{"show":request.selected_university}'>{{request.selected_university.name}}</span>
					</label>
					<a ng-click='jumpToSlide(1, "request-university");' class="side-icon desktop-input-close-icon hide ng-class:{'show':request.selected_university || (search_text.university && search_text.university.length)}">
						<i class="icon ion-close-circled txt-white"></i>
					</a>
				</div>
			</form>
			<div class='request-type'>
				<h1 class="request-step small selected">
					<b>Selected Help Type</b>
				</h1>
				<ul class="ugrid-1">
					<li>
						<div class="radio-container">
							<div>
								<input type="radio" id="checkbox-container-selected" name="checkbox-container-selected" checked disabled/>
								<span>
									<svg viewBox="0 0 100 100">
										<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
									</svg>
								</span>
							</div>
							<label for="checkbox-container-selected">1:1 with a {{request.selected_university.name || request.selected_university.short_name}} guru</label>
						</div>
					</li>
				</ul>
			</div>
			<div class="request-desc">
				<h1 class="request-step small selected">
					<b>Request Description</b>
				</h1>
				<textarea class="input-outline active" rows="4" ng-model='request.info.description' value="{{request.info.description}}" disabled></textarea>
				<div class='tag-list'>
					<span class="chip tag-selected" ng-repeat="tag in request.info.tags">{{tag.name}}</span>
				</div>
				<div class='attachment-list'>
					<ul>
						<li ng-repeat='file in user.hs_files.slice(0, 5)'>
							<div class="attach-upload-file attach-upload-{{file.type}}" ng-if='file.type !== "img"'>
								<svg class="doc-outline" viewBox="0 0 75 75" fill="{{file.university.school_color_one}}" style="fill: {{file.university.school_color_one}}!important;">
									<path d="M6.50001634,1.5 C3.73858357,1.5 1.5,3.73376942 1.5,6.50573628 L1.5,68.4942637 C1.5,71.2588555 3.73376942,73.5 6.50573628,73.5 L68.4942637,73.5 C71.2588555,73.5 73.5,71.2643283 73.5,68.5001225 L73.5,21.0605722 C73.5,19.9548035 72.8472697,18.4334881 72.0608909,17.6806226 L56.5991089,2.87777827 C55.8043109,2.11685234 54.2734003,1.5 53.1543987,1.5 L6.50001634,1.5 Z M55.5992131,2.46 C55.5992131,2.46 55.5992131,2.90396713 55.5992131,3.46092472 L55.5992131,14.0558242 C55.5992131,16.818671 57.8364841,19.0584009 60.6045233,19.0584009 L72.9848101,19.0584009"></path>
								</svg>
								<a>
									<svg viewBox="0 0 100 100">
										<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
									</svg>
								</a>
								<span class="doc-info">
									<span class="doc-name">{{file.name}}</span>
									<span class="doc-type">{{file.type.toUpperCase()}}</span>
								</span>
							</div>

							<div ng-if='file.type === "img"' class="attach-upload-img" style="background-image: url({{img_base}}./img/stock/photography/5.jpg);">
								<a>
									<svg viewBox="0 0 100 100">
										<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
									</svg>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="request-payment">
				<h1 class="request-step small selected">
					<b>Selected Payment Card</b>
				</h1>
				<div>
					<div class="credit-card">
						<svg class="rect" viewBox="0 0 300 150">
							<rect x="0" y="0" width="300" height="150" fill="none"></rect>
						</svg>
						<div class="credit-card-info">
							<div>
								<span class="credit-card-type">Visa</span>
								<span class="credit-card-number">**** **** **** 4242</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="request-total">
				<h1 class="request-step small selected">
					<b>Estimated Total</b>
				</h1>
				<div>
					<h1>$50</h1>
					<h3>Don't worry, we won't charge you until after the session is completed.</h3>
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h3>
				</div>
			</div>
			<button ng-if='desktopMode' ng-click='showComingSoon()'>Complete</button>
		</div>
	</div>
	<button ng-if='!desktopMode'>Next</button>
</section>