<section id="course" class="onboarding charcoal-bg">
      <header class="third flex-center" ng-if='!guruCoursesModal.isShown();'>
            <h1 class="text-center">Add Courses</h1>
            <div class="header-nav">
                <a class="header-nav-back" ng-click='previousSlide()'>
                    <svg viewBox="0 0 100 100">
						<path d="M68,86 L32,50 L68,14"></path>
					</svg>
                    <h1>Majors</h1>
                </a>
                <a class="header-nav-next" ng-click='nextSlide()'>
                    <h1>Photo</h1>
                    <svg viewBox="0 0 100 100">
						<path d="M32,86 L68,50 L32,14"></path>
					</svg>
                </a>
            </div>
            <div class="onboarding-search input-search-ghost absolute center-x bottom-0 full-x p10xy">
				<input type="search" placeholder="My courses are..."
                    ng-model="course_search_text"
                    ng-keyup="query(course_search_text)"
                    >
			</div>
      </header>
      <header ng-if='guruCoursesModal.isShown();' class='third flex-center'>
        <h1 class="text-center">Add Courses</h1>
        <a class="header-nav-back left-0 absolute p10xy top-0" ng-click='guruCoursesModal.hide()'>
          <i class='icon ion-chevron-down'> </i>
        </a>
         <div class="absolute bottom-0 full-x left-0 input-search-ghost">
            <div>
              <input type="search" placeholder="My courses are..."
                ng-model="course_search_text"
                ng-keyup="query(course_search_text)"
                >
            </div>
          </div>
      </header>
      <div id="courses-list" class="onboarding-list" buffered-scroll='increaseLimit()' ng-init='limit = 20'>
        <ul class='list'>
          <li ng-show='course_search_text.length === 0 || user.guru_courses.length == 0' ng-repeat='course in user.guru_courses' ng-click='removeGuruCourseAndUpdate(course, $index)'>
              <input type="checkbox" checked>
              <label>{{course.name}}</label>
          </li>
          <li ng-repeat='course in courses | limitTo: limit' ng-click='addSelectedGuruCourse(course, course_search_text, $index)'>
              <input type="checkbox">
              <label>{{course.name}}</label>
          </li>
        </ul>
      </div>
    </section>
