<section id="experience-modal" class='full-xy bg-charcoal'>
	<header>
		<div class='header-nav'>
			<a class="header-close cta-modal-close" ng-click="guruExperiencesModal.hide()">
				<svg viewBox="0 0 100 100">
					<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
				</svg>
			</a>
		</div>
		<h1 class="text-center">Guru Experience</h1>
	</header>
	<div class='main'>
		<div class='p15xy bg-campus-50p'>
			<input class='input-outline full-x' id='experience-name-input' type="text" ng-model='experience.name' placeholder="Role Title"></input>
		</div>
		<div class='exp-years bg-charcoal'>
			<label>
				<h1 class="section-header">Years of Experience</h1>
			</label>
			<!-- BIND -->
			<!-- change input value from 0-10 -->
			<input type="range" class='full-x' name="volume" min="0" max="10" value="5" ng-model='experience.years'>
			<ul class="ugrid-3 exp-years-label">
				<li>&lsaquo; 1</li>
				<li>5</li>
				<li>10 +</li>
			</ul>
		</div>
		<div id="exp-input" class='p15xy bg-campus-50p ng-class:{"removable":experience.id}'>
			<textarea class='input-outline full-x' placeholder='Role Description' ng-model='experience.description'>{{experience.description}}</textarea>
		</div>
		<button class='bg-slate semibold' ng-if="experience && experience.id" ng-click='removeGuruExperience(experience, experience_index)'>Remove</button>


	</div>
	<button class='bg-campus semibold' ng-if=" !(experience && experience.id)" ng-click='saveGuruExperience()'>Save</button>
	<button class='bg-campus semibold' ng-if="experience && experience.id" ng-click='saveGuruExperience()'>Update</button>

</section>