<section class='full-xy bg-charcoal mobile-mode mobile-referrals-modal'>
	<header class="bg-slate flex-center-wrap">
		<h1 class='bg-charcoal full-x text-center'>Referrals</h1>
	    <div class="header-nav full-x">
			<a class="header-close cta-modal-close" ng-click="referralsModal.hide()">
				<svg viewBox="0 0 100 100">
					<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
				</svg>
			</a>
		</div>
	</header>
	<div class="referral-code">
		<h1 class="section-header-dark">Your Referral Code</h1>
		<div>
			<h1 class="text-center">
				{{user.referral_code}}
			</h1>
		</div>
	</div>
	<div class='main bg-shamrock'>
		<h1 class='section-header-dark'>Your Referral Progress</h1>
		<div>
			<ul id='referrals-stats' class="text-center earnings-text bg-shamrock ugrid-2">
				<li>
					<div>
						<h1>{{user.first_degree_referrals}}</h1>
						<span>1st Degree<br/>Referrals</span>
					</div>
				</li>
				<li>
					<div>
						<h1>{{user.second_degree_referrals}}</h1>
						<span>2nd Degree<br/>Referrals</span>
					</div>
				</li>
	    	</ul>
	    	<ul class="sidebar-layout-list">
				<li ng-repeat='referred_user in user.referrals'>
					<span class="user-icon" style="background-image: url({{referred_user.receiver.profile_url}});"></span>
					<div>
						<h3>You referred <b>{{referred_user.receiver.name}}</b>.</h3>
						<span>Since then, {{referred_user.receiver.name}} referred <b>{{referred_user.receiver.first_degree_referrals}} others</b>.</span>
					</div>
				</li>
				<li ng-if='!user.referrals || !user.referrals.length'>
					<span class="user-icon" style="background-image: url({{user.profile_url}});"></span>
					<div>
						<span><strong><small>THIS IS AN EXAMPLE</small></strong></span>
						<h3>You referred <b>Jon Smith</b>.</h3>
						<span>He referred <b class='white white-text'>4 others</b>.</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>