<!--1. Read all @gabrielle comments-->
<!--2. Please create fixed support icon && I can link it-->
<!--3. Please format the pricing with the template content (for context)-->

<!-- <ion-view ngfx-speed="fast" ngfx-flip-out-y="!page.status.showLoader" ng-include="img_base + BASE + 'templates/page.loader.html'" class='full-xy high-z-index fixed' ng-controller="PageLoadingController"> </ion-view> -->


<!-- <ion-content on-scroll='checkPosition()' scroll-event-interval="5" zooming="false"> -->
	<ion-view class='bg-smoke'>
		<main id='home-splash' class='splash-landing hs-view full-xy'>
            <!-- START Home Page CTAs -->

            <aside id='cta-modal-sidebar' class='splash-sidebar hide ng-class:{"show":page.sidebar.show, "fx-bounce-left fx-duration-100": page.sidebar.show && desktopMode, "fx-zoom-down fx-duration-700":!desktopMode && page.sidebar.show}'  ng-include="img_base + BASE + 'templates/one.university.sidebar.html'"> </aside>

            <ion-pane id='cta-modal-{{category.hex_color}}' ng-repeat='category in categories' ng-if='category.is_active' class='full-xy hide-display cta-modal bg-{{category.hex_color}} fixed top-0 left-0 high-z-index' ng-include="img_base + BASE + 'templates/profile.public.html'"> </ion-pane>

            <ion-pane id='cta-modal-pricing' class='full-xy hide-display cta-modal bg-smoke fixed top-0 left-0 high-z-index' ng-include="img_base + BASE + 'templates/pricing.html'"> </ion-pane>

            <ion-pane id='cta-modal-team' class='full-xy hide-display cta-modal bg-smoke fixed top-0 left-0 high-z-index' ng-include="img_base + BASE + 'templates/team.html'"> </ion-pane>

            <ion-pane id='cta-modal-apply' class='full-xy hide-display cta-modal bg-smoke fixed top-0 left-0 high-z-index' ng-include="img_base + BASE + 'templates/apply.html'"> </ion-pane>

            <ion-pane id='cta-modal-FAQ' class='full-xy hide-display cta-modal bg-smoke fixed top-0 left-0 high-z-index' >
                <a id='guru-profile-cta-close' style='z-index:1000' class='cta-modal-close bg-white close-button high-z-index dark-modal-close full-x p20xy flex-right-center'>
                    <svg viewBox="0 0 100 100" class='m10xy' style='stroke:black;'>
                        <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                    </svg>
                </a>
                <iframe class='absolute top-0 left-0 full-xy' src="https://uguru.me/faq/"> </iframe>
            </ion-pane>

            <!-- END Home Page CTAS -->

			<header class='splash-toast hide ng-class:{"show":becomeGuruHeaderActive}'>
				<div>
					<h1>Help {{university.short_name}} students ace courses like <u>CS10</u>, <u>CS61C</u>
					<span class='weight-900'> &amp; earn side cash</span>!</h1>
				</div>
				<button ng-click='goToUniversity()'>Become a college Guru</button>
				<a class="header-close" ng-click='becomeGuruHeaderActive = false;'>
					<svg viewBox="0 0 100 100">
						<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</a>
			</header>

			<header class='splash-header ng-class:{"active": becomeGuruHeaderActive, "bg-university":page.header.showSolidNav}'>
                <a class="splash-logo" ng-click='scrollToSection("#essay-header")' ng-include="img_base + 'templates/svg/logo-title.html'"></a>
                <a class="splash-burger" ng-click="toggleSidebar()">
                    <svg viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M31,35.5 L69,35.5"></path>
                        <path d="M31,50.5 L69,50.5"></path>
                        <path d="M31,65.5 L69,65.5"></path>
                    </svg>
                </a>

				<a ng-click='scrollToSection("#splash-university")'>University</a>
                <a ng-click='scrollToSection("#how-it-works")'>How It Works</a>
                <a ng-click='scrollToSection("#splash-browse")'>Browse</a>
                <a ng-click='scrollToSection("#become-guru")'>Become a Guru</a>
                <a class="active txt-university" ng-click='goToSignup()'>Login</a>

				<div id='essay-home-backdrop' class="hide fixed left-0 top-0 full-xy bg-charcoal ng-class:{'show':page.modals.backdrop.active}">
					<a class='close-popup-link close-guru-ranking-modal-link close-become-guru-header' ng-click='page.modals.backdrop.active = false;'>
						<svg viewBox="0 0 100 100">
							<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</a>
				</div>
			</header>

            <section id='splash-home' class='splash-hero relative ng-class:{"active": becomeGuruHeaderActive}' style="background-image: url('{{img_base}}./img/main-bg-cambridge.jpg');">
                <a id="splash-footer-support" class="splash-footer-link">
					<span ng-include="img_base + 'templates/svg/support.html'"></span>
                	<svg class="splash-footer-icon" viewBox="0 0 100 100">
                		<path d="M30,24.8677175 C31.8923771,21.0254081 34.4778855,18.8636487 37.7985936,16.9181834 C41.1193017,14.9727181 44.7586089,14 48.7166246,14 C54.6871906,14 59.802346,16.1299172 64.0622442,20.3898154 C68.3221425,24.6497136 70.4520596,29.664243 70.4520596,35.433554 C70.4520596,41.202865 68.5904785,46.1503104 64.8672604,50.2760386 C61.1440422,54.4017668 54.4442042,56.7664779 49.0103183,57.370243 L49.0103183,68.1373335 C49.0103183,68.8081837 49.015108,70.6862599 49.015108,70.6862599 M49.0289795,82.817968 L49.0289795,83.8786453" ></path>
                	</svg>
                </a>
                <div>
                    <h1 id='main-text'>
                        <span class='weight-400'>Last-second dirt-cheap</span>
                        <span class='weight-900'>
                            <span class='typed-writer-container weight-900'>
                                <span id='university-typed-writer' class="weight-900"> </span>
                            </span>
                        </span>
						<span class='weight-400'>powered&nbsp;by your&nbsp;classmates</span>
                    </h1>
                </div>
				<footer>
					<svg viewBox="0 0 1280 284">
					    <defs>
					        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="gradient">
					            <stop stop-color="#40484B" stop-opacity="0.4" offset="0%"></stop>
					            <stop stop-color="#40484B" offset="100%"></stop>
					        </linearGradient>
					    </defs>
					    <g fill="url(#gradient)">
					        <path d="M0,0 C0,0 352.296875,89.21875 640,89.21875 C927.703125,89.21875 1280,0 1280,0 L1280,284 L0,284 L0,0 Z"></path>
					    </g>
					</svg>
					<div class="border"></div>
					<div class="footer-content">
						<ul>
							<li class="active">
								<h2>Open 24/7</h2>
								<p>Create an academic shop for<br/>course-related skills</p>
							</li>
							<li>
								<h2>Trusted</h2>
								<p>Create an academic shop for<br/>course-related skills</p>
							</li>
							<li>
								<h2>No BS</h2>
								<p>Create an academic shop for<br/>course-related skills</p>
							</li>
						</ul>
					</div>
				</footer>
            </section>

			<section id='splash-university' class='splash-school-search'>
                <header>
                    <h1>Find Your University</h1>
                </header>
                <div class="main" ng-controller="AddUniversityCtrl">
                    <div>
                        <div>
							<form>
	                            <div class="input-field large">
	                                <i class="material-icons prefix">
	                                    <svg viewBox="0 0 100 100">
	                                        <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
	                                    </svg>
	                                </i>
	                                <input id='request-search-input' name='request-search-input' autocomplete="off" type="text" fast-matcher fast-matcher-source="universities" fast-matcher-output="search_text.matching" fast-matcher-properties="short_name, full_name, variations"  ng-model="search_text.university"/>
	                                <label for="request-search-input">
	                                    <span ng-show='universities.length'>search {{universities.length}} supported schools</span>
	                                </label>
	                                <a class="side-icon desktop-input-close-icon activated" ng-click="search_text.university = '';" ng-if="search_text.university.trim().length > 0">
	                                    <i class="icon ion-close-circled txt-white"></i>
	                                </a>
	                            </div>
	                        </form>
						</div>

                        <ul class="splash-school-desktop">
                            <li ng-repeat='university in universities | filter:search_text.university:strict | limitTo: 15 track by $index'>
								<div class="fx-fade-down fx-dur-500 fx-ease-back school-card">
									<svg class="rect" viewBox="0 0 300 200">
										<rect x="0" y="0" width="300" height="200" fill="none"></rect>
									</svg>
									<input type="checkbox"/>
									<div class="school-card-inside">
										<div class="school-card-top" style="background-color: {{university.school_color_one}};">
											<span class="school-card-icon" style="background-image: url({{university.svg_url || university.seal_url || university.logo_url}}); border-color: {{university.school_color_one}};">
												<span class="school-card-icon-bg" style="background-color: {{university.school_color_one}};"></span>
												<span class="school-card-state" ng-include="img_base + 'templates/svg/main/check.html'"></span>
												<span class="school-card-state" ng-include="img_base + 'templates/svg/main/plus.html'"></span>
											</span>
										</div>
										<div class="school-card-main no-footer">
											<div class="school-card-map"></div>
											<div class="school-card-color" style="background-color: {{university.school_color_one}};"></div>
											<div class="school-card-info" style="color: {{university.school_color_one}};">
												<h1 style="color: {{university.school_color_one}};">{{university.short_name || university.name}}</h1>
												<h1>{{university.short_name || university.name}}</h1>
												<h2 style="color: {{university.school_color_one}};"><span>{{university.city}}</span>,&nbsp;<span>{{university.state}}</span></h2>
											</div>
										</div>
									</div>
								</div>
                            </li>
                        </ul>
						<ul class="splash-school-mobile">
							<li ng-repeat='university in universities | filter:search_text.university:strict | limitTo: 15 track by $index'>
								<a style="border-color: {{university.school_color_dark}}; color: {{university.school_color_dark}}" ng-click='addUniversityStudentCourse(course, $index)'>
        							<div>
                                        <span class="school-name">{{university.short_name || university.name}}</span>
                                    </div>
									<span class="splash-school-mobile-bg" style="background: {{university.school_color_dark}}!important;"></span>
        						</a>
							</li>
						</ul>
                    </div>
                    <div style='height: 600px!important' class='splash-map'>
                        <ui-gmap-google-map style='height: 600px' class='full-x relative' center="map.center" events="map.events" control="map.control" zoom="map.zoom" pan="false" options="map.options">
                            <ui-gmap-markers
                            models="map.university.markers"
                            coords="'self'"
                            control="map.university.control"
                            click="'map.university.showInfoWindow'"
                            ></ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                    <div class="splash-map-stats">
                        <div>
                            <h1>By the numbers </h1>
                        </div>
                        <ul>
                            <li>
                                <h4>Supported Universities</h4>
                                <h2 id='num-university-counter'>0</h2>
                            </li>
                            <li>
                                <h4>Available Courses</h4>
                                <h2 id='num-course-counter'>0</h2>
                            </li>
                            <li>
                                <h4>Student Gurus</h4>
                                <h2 id='num-guru-counter'>0</h2>
                            </li>
                        </ul>
                    </div>
                </div>
                <footer>
                    <div class="border"></div>
                </footer>
            </section>

			<section id='how-it-works' class="splash-postit">
                <header>
                    <h1 class="txt-university">{{how_it_works.header}}</h1>
                </header>
                <div class='main'>
                    <ul ng-if='!desktopMode'>
                        <li ng-repeat="hiw_item in how_it_works.top_half" ng-click='peelCard($event, hiw_item, "hiw")' class='ng-class:{"hide": hiw_item.hide}'>
                            <div class='peel' id='hiw-item-{{$index}}'>
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
                                <div class='peel-back bg-university'></div>
                                <div class='peel-bottom bg-university'></div>
								<div class="peel-top">
                                    <div class='postit'>
                                        <div>
                                            <div>
												<span ng-include="img_base + 'templates/svg/' + hiw_item.icon_src"></span>
	                                            <h1 ng-bind-html="hiw_item.header"></h1>
	                                            <p ng-bind-html="hiw_item.content"></p>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="hiw_item in how_it_works.bottom_half" ng-click='peelCard($event, hiw_item, "hiw")' class='ng-class:{"hide": hiw_item.hide}'>
                            <div class='peel' id='hiw-item-{{3 + $index}}'>
                                <div class="peel-top">
                                    <div class='postit absolute full-xy'>
                                        <svg class="square" viewBox="0 0 100 100">
                                            <rect x="0" y="0" width="100" height="100"></rect>
                                        </svg>
                                        <div>
                                            <div>
												<span ng-include="img_base + 'templates/svg/' + hiw_item.icon_src"></span>
	                                            <h1 ng-bind-html="hiw_item.header"></h1>
	                                            <p ng-bind-html="hiw_item.content"></p>
											</div>
                                        </div>
                                    </div>
                                </div>
                                <div class='peel-back bg-university'></div>
                                <div class='peel-bottom bg-university'></div>
                            </div>
                        </li>
						<svg class="square" viewBox="0 0 100 100">
							<rect x="0" y="0" width="100" height="100"></rect>
						</svg>
                    </ul>
                    <ul ng-if='desktopMode'>
                        <li ng-repeat="hiw_item in how_it_works.top_half">
                            <div class="postit">
                                <svg class="square" viewBox="0 0 100 100">
                                    <rect x="0" y="0" width="100" height="100"></rect>
                                </svg>
                                <div>
                                    <div>
										<span ng-include="img_base + 'templates/svg/' + hiw_item.icon_src"></span>
	                                    <h1 ng-bind-html="hiw_item.header"></h1>
	                                    <p ng-bind-html="hiw_item.content"></p>
									</div>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="hiw_item in how_it_works.bottom_half">
                            <div class="postit">
                                <svg class="square" viewBox="0 0 100 100">
                                    <rect x="0" y="0" width="100" height="100"></rect>
                                </svg>
                                <div>
                                    <div>
										<span ng-include="img_base + 'templates/svg/' + hiw_item.icon_src"></span>
	                                    <h1 ng-bind-html="hiw_item.header"></h1>
	                                    <p ng-bind-html="hiw_item.content"></p>
									</div>
                                </div>
                            </div>
                        </li>
                    </ul>
					<button ng-click='scrollToSection("#university-splash")' class="bg-university">Join Your University</button>
                </div>
				<footer>
					<div class="border"></div>
				</footer>
            </section>

            <section class='splash-categories' id='splash-browse'>
                <div class="tab-bar splash-bar bg-university">
                    <ul>
                        <li>
                            <a ng-click='activeTabIndex = 0' class="ng-class:{'active':activeTabIndex===0}">
								<div>
									<span>Student-Run</span>
									<span>Shops</span>
								</div>
							</a>
                        </li>
                        <li>
                            <a ng-click='activeTabIndex = 1;' class="ng-class:{'active':activeTabIndex===1}">
								<div>
									<span>Guru</span>
									<span>Profiles</span>
								</div>
							</a>
                        </li>
                    </ul>
                </div>
				<div id="splash-categories" class="main ng-class:{'active':activeTabIndex===0}" ng-controller="CategoriesController">
                    <div>
                        <div>
                            <h1>Guru Categories</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h2>
                        </div>
						<div>
                            <ul class='category-card-list'>
                    			<li ng-repeat='category in categories' ng-if='category.is_active' ng-click='showDesktopSubcategories(category)' >
                					<div style='background-image :url({{categories_img_base + category.background_url}})'>
                	    				<a class='bg-{{category.hex_color}}' ng-click='launchCategoryModal(category)'>
                                            <div>
												<span class="card-icon" ng-include="img_base + 'templates/svg/' + category.hex_color + '.html'"></span>
	                	                        <span class="card-label">{{category.name}}</span>
											</div>
                	                    </a>
                					</div>
                    			</li>
                                <li>
                                    <div style='background-image :url({{categories_img_base + categories[0].background_url}})'>
                                        <span class='bg-more' ng-click='launchCategoryModal(category)'>
                                            <div>
												<span class="card-icon" ng-include="img_base + 'templates/svg/main/plus-circle.html'"></span>
	                                            <span class="card-label">More Coming Soon!</span>
											</div>
                                        </span>
                                    </div>
                                </li>
								<li class="card-button">
									<button ng-click='goToSignup()'>Start Your Shop</button>
								</li>
                			</ul>
                            <div class='subcategory-card-list sub-{{category.hex_color}} ng-class:{"selected":category.id == active_category.id, "not-selected": active_category.id && active_category.id !== category.id }' ng-repeat='category in categories'>
                    			<ul class="category-card-list">
                    				<li ng-repeat='subcategory in category.subcategories'>
                                        <div class="bg-{{category.hex_color}}">
                                            <span class='bg-{{category.hex_color}}'>
												<div>
													<span class="card-icon" ng-include="img_base + 'templates/svg/main/plus-circle.html'"></span>
	                                                <span class="card-label txt-slate">{{subcategory.name}}</span>
												</div>
                        					</span>
											<span class="card-price bg-{{category.hex_color}}">Free - $10/hr Avg</span>
                                        </div>
                    				</li>
									<li></li><li></li><li></li><li></li>
                    			</ul>
                    			<button ng-click='hideCategorySkillsModal()'>Back</button>
                        	</div>
                        </div>
                    </div>
				</div>
                <div id="splash-gurus" class="main ng-class:{'active':activeTabIndex===1}">
                    <div>
                        <h1><span>Browse Sample</span> Guru Profiles</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h2>
                        <div>
                            <ul class="pf-card-group-mobile">
                                <li ng-repeat='category in categories' ng-if='category.is_active'>
                                    <a class="pf-card-mini large pf-card-mini-{{category.hex_color}}" id='cta-box-{{category.hex_color}}'>
                                        <div class="pf-card-mini-banner"></div>
                                        <span class="user-icon" style="background-image: url({{sampleMiniProfilesDict[category.hex_color].profile_url}});"></span>
                                        <span class="pf-card-link" ng-include="img_base + 'templates/svg/main/external.html'"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="pf-card-group">
                                <li ng-repeat='category in categories' ng-if='category.is_active'>
                					<a class="pf-card pf-card-{{category.hex_color}} bg-{{category.hex_color}}" id='cta-box-{{category.hex_color}}'>
                						<span class="pf-hover">View Profile</span>
                						<div class="pf-card-top">
                							<ul>
                								<li>{{category.hex_color}}</li>
                								<li>
                									<span>{{sampleMiniProfilesDict[category.hex_color].percentile}}&nbsp;percentile</span>
                								</li>
                							</ul>
                							<span class="user-icon" style="background-image: url({{sampleMiniProfilesDict[category.hex_color].profile_url}});"></span>
                						</div>
                						<div class="pf-card-main">
                							<h1 class="verified">
                								<span class="inline">{{sampleMiniProfilesDict[category.hex_color].name}}</span>
                								<span class="inline">
                									<span ng-include="img_base + 'templates/credibility.verified.svg.html'"> </span>
                								</span>
                							</h1>
                							<h2 class="pf-school">{{sampleMiniProfilesDict[category.hex_color].university_name}}</h2>
                                            <ul class="pf-rating" data-rating="{{sampleMiniProfilesDict[category.hex_color].rating.whole_stars}}" data-half="{{sampleMiniProfilesDict[category.hex_color].rating.has_half_star}}" ng-include="img_base + 'templates/svg/rating.html'"></ul>
                                			<span class="pf-review-amt">{{sampleMiniProfilesDict[category.hex_color].rating.count}} Reviews</span>
                						</div>
                					</a>
                				</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<footer>
					<div class="border"></div>
				</footer>
			</section>

            <section id='become-guru' class="splash-postit">
                <header>
                    <h1>{{become_guru.header}}</h1>
                </header>
                <div class='main bg-charcoal'>
                    <ul ng-if='!desktopMode'>
                        <li ng-repeat="bg_item in become_guru.top_half" ng-click='peelCard($event, bg_item, "bg")' class='ng-class:{"hide":bg_item.hide}'>
							<!-- @samir -->
							<!-- .active -->
                            <div class='peel' id='bg-item-{{$index}}'>
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
                                <div class='peel-back'></div>
                                <div class='peel-bottom'></div>
								<div class="peel-top">
                                    <div class='postit'>
                                        <div>
                                            <div>
                                                <span ng-include="img_base + 'templates/svg/' + hiw_item.icon_src"></span>
                                                <h1 ng-bind-html="bg_item.header"></h1>
                                                <p ng-bind-html="bg_item.content"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="bg_item in become_guru.bottom_half" ng-click='peelCard($event, bg_item, "bg")' class='ng-class:{"hide":bg_item.hide}'>
                            <div class='peel' id='bg-item-{{3 + $index}}'>
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
                                <div class='peel-back'></div>
                                <div class='peel-bottom'></div>
								<div class="peel-top">
                                    <div class='postit'>
                                        <div>
                                            <div>
                                                <span ng-include="img_base + 'templates/svg/' + bg_item.icon_src"></span>
                                                <h1 ng-bind-html="bg_item.header"></h1>
                                                <p ng-bind-html="bg_item.content"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
						<svg class="square" viewBox="0 0 100 100">
							<rect x="0" y="0" width="100" height="100"></rect>
						</svg>
                    </ul>
                    <ul class="desktop-postit-list" ng-if='desktopMode'>
                        <li ng-repeat="bg_item in become_guru.top_half">
                            <div class="postit">
                                <svg class="square" viewBox="0 0 100 100">
    							    <rect x="0" y="0" width="100" height="100"></rect>
    							</svg>
                                <div>
                                    <div>
										<span ng-include="img_base + 'templates/svg/' + bg_item.icon_src"></span>
	                                    <h1 ng-bind-html="bg_item.header"></h1>
	                                    <p ng-bind-html="bg_item.content"></p>
									</div>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="bg_item in become_guru.bottom_half" >
                            <div class="postit">
                                <svg class="square" viewBox="0 0 100 100">
    							    <rect x="0" y="0" width="100" height="100"></rect>
    							</svg>
                                <div>
                                    <div>
										<span ng-include="img_base + 'templates/svg/' + bg_item.icon_src"></span>
	                                    <h1 ng-bind-html="bg_item.header"></h1>
	                                    <p ng-bind-html="bg_item.content"></p>
									</div>
                                </div>
                            </div>
                        </li>
                    </ul>
					<button ng-click='goToBecomeGuru()' class='capitalize'>Become a University Guru</button>
                </div>
				<footer>
					<div class="border"></div>
				</footer>
            </section>

			<section id="splash-start">
				<div>
					<h1>We can't wait to see you do your thing.</h1>
					<h2>Get started earning cash by helping your campus today.</h2>
					<ul>
						<li><button class="btn-ghost-white" ng-click='goToSignup()'>Find Your University</button></li>
					</ul>
				</div>
			</section>
		</main>
		<!-- </ion-content> -->
        <div id='last-div-main' onload="lastDivLoaded()"> </div>
	</ion-view>
	<!-- </ion-scroll> -->
<!-- </ion-content> -->