<ion-view>
<ion-content class='bg-cerise relative'>
    <main class='absolute full-xy flex-wrap-center' timer timer-auto="6s">
        <div class='bg-white' style='height:50%; width:50%;'>
            <img timer-child class='bg-cerise full-xy bg-azure'> </img>
            <img timer-child class='bg-azure full-xy bg-azure'> </img>
            <img timer-child class='bg-charcoal full-xy bg-azure'> </img>
            <img timer-child class='bg-slate full-xy bg-azure'> </img>
            <img timer-child class='bg-campus full-xy bg-azure'> </img>
            <img timer-child class='bg-shamrock full-xy bg-azure'> </img>
        </div>
    </main>
</ion-content>
</ion-view>