<ion-view>
<ion-content class='bg-cerise relative'>
    <main class='absolute full-xy flex-wrap-center' timer timer-auto="2s">
        <div class='bg-white relative' style='height:50%; width:50%;'>
            <div timer-child timer-class="opacity-1" class='bg-cerise absolute top-0 full-xy bg-azure'> &nbsp;</div>
            <div timer-child timer-class="opacity-1" class='bg-azure absolute top-0 full-xy bg-azure'> &nbsp;</div>
            <div timer-child timer-class="opacity-1" class='bg-charcoal top-0  full-xy bg-azure'> &nbsp;</div>
            <div timer-child timer-class="opacity-1" class='bg-slate top-0 full-xy bg-azure'> &nbsp;</div>
            <div timer-child timer-class="opacity-1" class='bg-campus top- 0full-xy bg-azure'> &nbsp;</div>
            <div timer-child timer-class="opacity-1" class='bg-shamrock full-xy bg-azure'> &nbsp;</div>
        </div>
    </main>
    <div dev-tool class='bg-white fixed bottom-0 right-0 txt-charcoal txt-7 flex-wrap-center' style='width:10%; height:10% !important;'>
    </div>
</ion-content>
</ion-view>