 <ion-view hide-nav-bar='true' class='subdark-bg' cache-view='false'>

    <ion-content class='white-text subdark-bg university-view-2' scroll='false' style='top:0px; bottom:10%;' ng-controller='AddMajorController' >
      <div class='pure-g'>
        <div class="list pure-u-1">
          <label class="item item-input bg-transparent university-label no-margin no-border no-box-shadow view-2">
                  <i class='icon ion-search onboarding-search-icon' ng-hide="search_text.length > 0"></i>
                      <input id='major-input' type="text" class='ng-class:{"align-left-start":search_text.length > 0}'
                        fast-matcher
                        fast-matcher-source="majors"
                        fast-matcher-output="matchingMajors"
                        fast-matcher-properties="name"
                        fast-matcher-any-word="true"
                        fast-matcher-limit="10"
                        fast-matcher-preserve-order="true"
                        fast-matcher-case-insensitive="true"
                        placeholder="Search Available Majors"
                        ng-model="search_text"
                </label>
              </div>
            </div>
            <ion-list ng-show='search_text.length > 0'>
                <ion-item class='item-button-right request-form-item major-item' ng-repeat="major in matchingMajors" ng-click="majorSelected(major, $event, $index)">
                            <p class='semibold'>{{major.name}}
                            </p>
                </ion-item>
            </ion-list>


            <div class='pure-g-c flex-column flex-space-between' ng-show='!search_text || search_text.length === 0'>

              <div class='flex-item-c center j-end' ng-show='user.majors.length > 0'>
                <div class='pure-g'>

                  <div class='pure-u-1 padding-half'>
                    <p class='uppercase opacity-1-2 micro-text bold sans-bold grey'> <strong class='white-text'> My Majors </strong> <br>
                    </p>
                    <div class='micro-text regular padding-half white' style='opacity:0.7'>(Tap & Hold to Remove)</div>
                  </div>
                </div>

                <div class='pure-g'>

                  <div class='pure-u-1'>
                    <a class='course-tag major-tag white-bg orange' on-double-tap="removeMajor(user_major)" style='font-size:80%;' ng-repeat="user_major in user.majors">{{user_major.name}} &nbsp; &nbsp; <i class='icon ion-checkmark'></i></a>
                  </div>
                </div>

              </div>

              <div class='flex-item-c center'>
              </div>

              <div class='flex-item-c center j-start'>

                <div class='pure-g'>

                 <!--  <div class='pure-u-1 padding-1em'>
                    <p class='uppercase sans-bold bold micro-text opacity-1-2'>
                      Tap Any Popular Major
                    </p>
                  </div>
                  <div class='pure-u-1' style='padding-bottom:2.5em;'>
                    <a class='course-tag major-tag' ng-click='majorSelected(popular_major, $event, $index)' style='font-size:70%;' ng-repeat='popular_major in static.popular_majors.slice(0,10)'>{{popular_major.name}}</a>
                  </div> -->


                </div>
              </div>

              <div class='flex-item-c j-start'>

              </div>
            </div>
        </ion-content>


</ion-view>