<section can-swipe-back='false'id="major" class="onboarding charcoal-bg full-xy">
    <header class="third flex-center-wrap" ng-if='!guruMajorModal.isShown() && !(profile && profile.edit_mode);'>
        <h1 class="text-center">Select your major</h1>
        <div class="header-nav">
            <a class="header-nav-back" ng-click='goBackToStudentHome()'>
                <svg viewBox="0 0 100 100">
                            <path d="M68,86 L32,50 L68,14"></path>
                         </svg>
                <h1>Home</h1>
            </a>
            <a class="header-nav-next" ng-click='nextSlide()'>
                <h1>Courses</h1>
                <svg viewBox="0 0 100 100">
                    <path d="M32,86 L68,50 L32,14"></path>
                </svg>
            </a>
        </div>
        <div class="onboarding-search input-search-ghost absolute center-x bottom-0 full-x p10xy">
            <input type="search" id='major-input-1' class='' placeholder="My major is..." ng-model="search_text.major" ng-keyup="query(search_text)" />
            <a ng-click='clearSearchInput();' class="major-input-close side-icon">
                <i class='icon ion-close-circled'> </i>
            </a>
        </div>
    </header>

    <header ng-if='guruMajorModal.isShown();' class='third flex-center-wrap'>
        <h1 class="text-center">Edit Majors</h1>
        <a class="header-nav-back left-0 absolute p10xy top-0" ng-click='guruMajorModal.hide()'>
            <i class='icon ion-chevron-down'> </i>
        </a>
          <div class="onboarding-search input-search-ghost absolute center-x bottom-0 full-x p10xy">
            <input type="search" placeholder="My major is..."
            ng-model="search_text.major"
            />
          </div>
      </header>
      <div id="major-list" buffered-scroll='increaseLimit()' class="onboarding-list" >
        <ul class="list list-item-border no-icon">

          <li ng-if="majorInput.value.length === 0 && user.majors.length > 0" class="major-item selected" bind-input-list='search_text.major' ng-repeat='major in user.majors'>


                <a ng-click='removeMajor(major, $index)'>{{major.name || major.title || major.abbr || major.code}}</a>

                <svg viewBox="0 0 100 100">
                    <path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353" stroke="#ffffff" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                </svg>
            </li>
            <li class="major-item major-business"  ng-repeat='major in majors | limitTo: limit'>
                <a ng-click='majorSelected(major, $index)'>
                {{major.name ||major.code ||major.title || major.abbr || major.title}}</a>
            </li>
        </ul>
      </div>
    </section>

