<ion-view class='bottom-0 guru-message-container'>
	<main id='desktop-messaging' class="desktop-mode" ng-if='isDesktopMode()'>
		<a class='cta-modal-close absolute right-0 top-0'>
			<svg viewBox="0 0 100 100" class='svg-close' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</a>
		<!-- <nav class='main-nav' ng-include="img_base + BASE + 'templates/desktop.nav.html'"></nav> -->
		<div class="main absolute bottom-0">
			<div id="messenger">
				<div id="messenger-sidebar">
					<h1>Guru Talk</h1>
				<ul>

						<li ng-repeat='relationship in user.student_relationships'>
							<a>
								<span class="messenger-icon"><img ng-src='{{relationship.student.profile_url}}'></span>
								<span class="messenger-label">{{relationship.student.name}}</span>
							</a>
						</li>
					</ul>
					<div id="messenger-sidebar-search">
						<label for="messenger-sidebar-search">
							<svg viewBox="0 0 100 100">
								<path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
							</svg>
						</label>
						<input name="messenger-sidebar-search" placeholder="Filter"/>
					</div>
				</div>
				<div id="messenger-content">
					<div class="messenger-header">
						<h1>{{user.student_relationships[0].student.name}}</h1>
						<div id="message-search">
							<input placeholder="Search"/>
							<a>
								<svg viewBox="0 0 100 100">
								    <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
								</svg>
							</a>
						</div>
						<nav id="message-nav">
							<a>
								<svg viewBox="0 0 100 100">
							        <circle cx="50" cy="80.5" r="6"></circle>
							        <circle cx="50" cy="20.5" r="6"></circle>
							        <circle cx="50" cy="51" r="6"></circle>
								</svg>
							</a>
							<div>
								<ul>
									<li>
										<a>View Profile</a>
									</li>
									<li>
										<a>Favorite</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
					<div id="message-container">
						<div id="messages">
							<div class="message-single message-status left center">
								<div class='message-single-icon' ng-include="img_base + 'templates/green-guru-svg.html'"> </div>
								<div class="message-single-content">
									<div class="message-single-info"></div>
									<div class="message-single-status">
										This is the beginning of your message thread with Delivery Guru.
									</div>
								</div>
							</div>

							<div class="message-single left">
								<div class='message-single-icon'>
									<img ng-if='user.profile_url' ng-src='{{user.profile_url}}'/>
								</div>
								<div class="message-single-content">
									<div class="message-single-info">
										<span>Delivery Guru</span>
										<span>4:12 PM</span>
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</div>
								</div>
							</div>

							<div class="message-single right">
								<div class="message-single-content">
									<div class="message-single-info">
										<span>Me</span>
										<span>4:12 PM</span>
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
								<div class='message-single-icon'>
									<img ng-if='user.profile_url' ng-src='{{user.profile_url}}'/>
								</div>
							</div>

							<div class="message-single left">
								<div class='message-single-icon'>
									<img ng-if='user.profile_url' ng-src='{{user.profile_url}}'/>
								</div>
								<div class="message-single-content">
									<div class="message-single-info">
										<span>Delivery Guru</span>
										<span>4:12 PM</span>
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</div>
									<div class="message-single-message">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</div>
								</div>
							</div>
						</div>
						<div id="message-box">
							<a>
								<svg viewBox="0 0 100 100">
								    <path d="M23.9602215,14 C18.4593164,14 14,18.4585633 14,23.9588015 L14,76.0411985 C14,81.5417132 18.4592951,86 23.9602215,86 L76.0397785,86 C81.5406836,86 86,81.5414367 86,76.0411985 L86,23.9588015 C86,18.4582868 81.5407049,14 76.0397785,14 L23.9602215,14 L23.9602215,14 Z M68,50 C68,40.0588745 59.9411255,32 50,32 C40.0588745,32 32,40.0588745 32,50 C32,59.9411255 40.0588745,68 50,68 C59.9411255,68 68,59.9411255 68,50 Z"></path>
								</svg>
							</a>
							<input placeholder="Message"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</ion-view>