<style>
    /* GURU ONBOARDING */
    /* @samir - color won't bind, put $slate as a placeholder, pls fix */
    /* {{university.school_color_dark}} */
    /* #023360 */
    #desktop-guru-onboarding {
        background: {{university.school_color_dark}} url("https://farm8.staticflickr.com/7318/9357094656_965041bc2b_k.jpg") center center / cover!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:after {
        background: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a {
        background: none!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:hover:after,
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:focus:after {
        background: white!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span span:first-child svg path {
        stroke: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span {
        color: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span {
        border-color: #023360!important;
        color: #023360!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span svg {
        stroke: #023360!important;
    }
    
    /* FIXED FOOTER ICONS */
    #university-splash .backpack .backpack-color, .support .support-color {
        fill: {{university.school_color_light}}!important;
    }
    #university-splash .support .support-headphones-color {
        fill: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-footer-link .splash-footer-icon {
        stroke: {{university.school_color_dark}}!important;
        color: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-footer-link:hover .splash-footer-icon, .splash-footer-link:focus .splash-footer-icon {
        background: {{university.school_color_dark}}!important;
        stroke: {{university.school_color_light}}!important;
        color: {{university.school_color_light}}!important;
    }
    #university-splash .splash-footer-link:active .splash-footer-icon {
        background: white!important;
        stroke: {{university.school_color_dark}}!important;
        color: {{university.school_color_dark}}!important;
    }

    /* BUTTONS */
    #university-splash button.bg-university:hover, button.bg-university:focus {
        background: white!important;
        color: {{university.school_color_dark}}!important;
    }
    #university-splash button.bg-university:active {
        background: {{university.school_color_dark}}!important;
        color: white!important;
    }

    /* SPLASH SIDEBAR */
    #university-splash .splash-sidebar > header {
        background: #637074!important;
    }
    @media screen and (min-width: 768px) {
        #university-splash .splash-sidebar > header {
            background: none!important;
        }
    }
    #university-splash .splash-sidebar .splash-sidebar-desktop li a:hover, .splash-sidebar .splash-sidebar-desktop li a:focus {
        color: {{university.school_color_dark}}!important;
    }
    #university-splash  .splash-sidebar .splash-sidebar-desktop li a:active {
        background: {{university.school_color_dark}}!important;
        color: white!important;
    }
    #university-splash .splash-sidebar-school-links li a {
        background: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-sidebar-school-links li a:hover, .splash-sidebar-school-links li a:focus {
        background: white!important;
        color: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-sidebar-school-links li a:active, .splash-sidebar-school-links li a:focus {
        background: #637074!important;
        color: white;
    }

    /* SPLASH HERO */
    #university-splash .splash-hero {
        background: {{university.school_color_dark}} url("{{university.banner_url}}") center center / cover!important;
    }
    #university-splash h1.bg-university-50p:before {
        background-color: {{university.school_color_dark}} !important;
    }
    #university-splash .typed-writer-container {
        border-bottom-color: {{university.school_color_light}}!important;
    }
    #university-splash .splash-hero > footer svg stop {
        stop-color: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-hero > footer .border:before {
        border-top-color: {{university.school_color_dark}}!important;
    }

    /* SPLASH CATEGORIES */
    #university-splash .border-university {
        color: {{university.school_color_dark}}!important;
        border-color: {{university.school_color_dark}}!important;
    }
    #university-splash .border-university:hover, .border-university:focus {
        background: {{university.school_color_dark}}!important;
        color: white!important;
        border-color: white!important;
    }
    #university-splash .border-university:active {
        background: white!important;
        color: {{university.school_color_dark}}!important;
        border-color: {{university.school_color_dark}}!important;
    }

    /* SPLASH POSTITS */
    #university-splash .splash-postit#how-it-works > footer .border {
        background: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-postit#how-it-works .peel-back-shadow {
        background-color: {{university.school_color_dark}} !important;
    }
    #university-splash #how-it-works .postit > div:before, #how-it-works .postit > span:before {
        background: {{university.school_color_dark}}!important;
    }
    #university-splash #how-it-works .postit > span:after {
        border-top-color: {{university.school_color_dark}}!important;
        border-left-color: {{university.school_color_dark}}!important;
    }
    #university-splash #how-it-works .postit > div span svg circle, #how-it-works .postit > div span svg path {
        stroke: {{university.school_color_dark}}!important;
    }
    #university-splash #how-it-works .postit > div span svg *[opacity="0.5"] {
        fill: {{university.school_color_dark}}!important;
    }

    /* MISC */
    #university-splash .bg-university, #university-splash .splash-header:before {
        background: {{university.school_color_dark}}!important;
        color: white!important;
    }
    #university-splash .splash-toast {
        color: {{university.school_color_dark}}!important;
    }
    #university-splash .splash-toast a svg path {
        stroke: {{university.school_color_dark}}!important;
    }
    #university-splash .txt-university, .splash-bar a.active, #university-splash > header .highlight:hover, #university-splash > header .highlight:focus  {
        color: {{university.school_color_dark}} !important;
    }
</style>