<div class='ugrid-{{3}} full-xy absolute' >
    <div class='full-y bg-charcoal relative'>
        <main id='desktop-billing' class="desktop-mode" ng-if='isDesktopMode()'>
            <header class="desktop-header">
                <a></a>
                <a style='z-index:100000' class='cta-modal-close close-button desktop-header-next' ng-click='page.showSidebar=false;'>
                    <svg viewBox="0 0 100 100">
                        <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                    </svg>
                </a>
            </header>
        </main>
    </div>
</div>