<main id="pricing">
	<a id='guru-profile-cta-close' class='cta-modal-close close-button high-z-index'>
        <svg viewBox="0 0 100 100">
            <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
        </svg>
    </a>
    <header>
		<h1>We looked at other pricing models...</h1>
		<!-- <ul class="pricing-other">
			<li>
				<div>
					<h3>Avg Fees</h3>
					<h1>25%</h1>
				</div>
			</li>
			<li>
				<div>
					<h3>Hourly Average</h3>
					<h1>$60</h1>
				</div>
			</li>
		</ul> -->
        <ul class="pricing-uguru">
			<li>
				<div>
					<h3>Our Fees</h3>
					<h2 id='our-fees'>40%</h2>
                    <span>Our Fees = no fees.</span>
                    <svg viewBox="0 0 150 200" preserveAspectRatio="none">
                        <path d="M0,0 L150,0 L150,50 L0,150 L0,0 Z"></path>
                    </svg>
				</div>
			</li>
			<li>
				<div>
					<h3>Our Students Pay</h3>
					<h2 id='students-pay'>$90/hr</h2>
					<span>on average</span>
                    <svg viewBox="0 0 150 200" preserveAspectRatio="none">
                        <path d="M0,0 L150,0 L150,50 L0,150 L0,0 Z"></path>
                    </svg>
				</div>
			</li>
            <li>
				<div>
					<h3>Our Gurus Charge</h3>
					<h2 id='guru-charge'>$100/hr</span></h2>
					<span>$10-$40. Their choice.</span>
                    <svg viewBox="0 0 150 200" preserveAspectRatio="none">
                        <path d="M0,0 L150,0 L150,50 L0,150 L0,0 Z"></path>
                    </svg>
				</div>
			</li>
		</ul>
	</header>
	<div>
		<dl>
			<dt>Tutors can set their own prices.</dt>
			<dd>Their maximum increases as they build repertoire. Suspendisse rutrum odio mi, et pretium.</dd>
		</dl>
        <dl>
			<dt>Tutors can set their own prices.</dt>
			<dd>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</dd>
		</dl>
        <dl>
			<dt>Tutors can set their own prices.</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</dd>
		</dl>
	</div>
</main>