<ion-view ng-controller='AvailabilityController'>
	<header class="desktop-header">
		<a></a>
		<a class='cta-modal-close desktop-header-next desktop-header-close'>
			<svg viewBox="0 0 100 100">
				<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
			</svg>
		</a>
	</header>
	<section>
		 <div class='calendar relative'>
	        <div class='calendar-container absolute top-0 left-0 full-xy'>
	            <div class='full-x p20xy uppercase bg-azure weight-600'>
	                {{requestForm.calendar[0].monthLong}}
	            </div>
	            <div class='week-view' style='padding-bottom:40px;'>
	                <div class='ugrid-7 full-x'>
	                    <div ng-repeat='day in ::requestForm.calendar' class='one-day p20x bg-charcoal full-y'>
	                        <div class='one-day-header full-x p05xy bg-slate-50p txt-smoke weight-600 full-x'>
	                            {{::day.dayLong}}, {{::day.monthShort}} {{::day.date}}
	                        </div>
	                        <div class='one-day-container full-xy'>
	                            <span ng-repeat='hour in ::day.hours' class='hour flex-wrap-center full-xy relative' style="min-height:50px;" ng-class="{'bg-smoke txt-slate': hour.already_past}">
	                               
	                                <span ng-if='hour.start_suffix !== hour.end_suffix' class='hour-range full-xy absolute top-0 left-0'>
	                                    {{hour.formatted_start_hour + hour.start_suffix + '-' + hour.formatted_end_hour + hour.end_suffix}}
	                                </span>
	                                
	                                <span ng-if='hour.start_suffix === hour.end_suffix' class='hour-range full-xy absolute top-0 left-0'>
	                                    {{hour.formatted_start_hour + '-' + hour.formatted_end_hour + hour.end_suffix}}
	                                </span>
	                                
	                                <div class='full-xy absolute top-0 left-0 high-z-index flex-wrap'>
	                                    <a class='full-x weight-400 hour-interval txt-charcoal' ng-class="{'bg-shamrock':interval.selected && !interval.already_past}" ng-repeat='interval in ::hour.intervals' ng-click='requestForm.select_calendar(interval, requestForm)' ng-if='!hour.already_past'>
	                                        {{ hour.formatted_start_hour + ':' + interval.formatted_start_minute + '-' + ((!$index &&hour.formatted_start_hour) ||($index && hour.formatted_end_hour)) + ':' + interval.formatted_end_minute}}
	                                    </a>
	                                </div>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section> 
</ion-view>