<section id="request-cta-categories" class="request-slide full-xy text-center splash-categories">

	<div id="splash-categories" class="full-xy main active" ng-controller="CategoriesController" anim-on-show="active" anim-on-show-parent>
				<div class='full-y p15x20y flex-wrap-center'>
					<div class='p15x p20y'>
						<h1 class="splash-categories-header opacity-0"
							anim-on-show-child
							anim-on-show-class="lightSpeedIn"
							anim-on-show-delay="250">

							Select a category for your request

						</h1>

						<h2 class="splash-categories-subheader opacity-0"

							anim-on-show-child
							anim-on-show-class="lightSpeedIn"
							anim-on-show-delay="500">
							Don't worry! You can always create another one or change it later into the form
						</h2>

					</div>
					<div>
						<ul class='category-card-list'>
							<li ng-repeat='category in ::categories' ng-if='category.is_active' ng-click='showDesktopSubcategories(category)'>
								<div style='background-image: url({{categories_img_base + category.background_url}})'>
									<a class='bg-{{category.hex_color}}' ng-click='launchCategoryModal(category)'>
										<div>
											<span class="card-icon" ng-include="img_base + 'templates/svg/' + category.hex_color + '.html'"></span>
											<span class="card-label">{{::category.name}}</span>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div style='background-image :url({{categories_img_base + categories[0].background_url}})'>
									<span class='bg-more' ng-click='launchCategoryModal(category)'>
                                        <div>
											<span class="card-icon" ng-include="::img_base + 'templates/svg/main/plus-circle.html'"></span>
											<span class="card-label">More Coming Soon!</span>
										</div>
									</span>
								</div>
							</li>
							<li class="card-button opacity-0">
								<button ng-click='goToSignup()'>Start Your Shop</button>
							</li>
						</ul>
						<div class='subcategory-card-list sub-{{::category.hex_color}} ng-class:{"selected":category.id == active_category.id, "not-selected": active_category.id && active_category.id !== category.id }' ng-repeat='category in ::categories'>
							<ul class="category-card-list">
								<li ng-repeat='subcategory in ::category.subcategories'>
									<div class="bg-{{::category.hex_color}}">
										<span class='bg-{{::category.hex_color}}'>
											<div>
												<span class="card-icon" ng-include="::img_base + subcategory.icon_url"></span>
												<span class="card-label txt-slate">{{::subcategory.name}}</span>
											</div>
										</span>
										<span class="card-price bg-{{::category.hex_color}}">Free - $10/hr Avg</span>
									</div>
								</li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<button ng-click='hideCategorySkillsModal()'>Back</button>
						</div>
					</div>
				</div>
			</div>
</section>