<section id="request-cta-calendar" class="request-slide text-center flex-wrap-center relative full-xy">
    <div class="time-estimate-container">
        <div class='full-x ugrid-3 p20xy'>
            <div> </div>
            <div class='relative'>
                <div class='full-x ugrid-4'>
                    <h2 class='text-right p10x p05y'>I think I will need&nbsp;&nbsp;</h2>
                    <div class="custom-dropdown request-hours">
                        <div>
                            <span>{{request.user.time_estimate.hours}}</span>
                            <a ng-click='page.dropdowns.hour = !page.dropdowns.hour'>
                                <svg viewBox="0 0 100 100">
                                    <path d="M14,32 L50,68 L86,32"></path>
                                </svg>
                            </a>
                        </div>
                        <ul class="ng-class:{'active':page.dropdowns.hour}">
                            <li ng-repeat="_ in maxHourArr" tabindex ng-click="setHourDropdownValue($index + 1)">{{$index + 1}}</li>
                        </ul>
                        <div class="dropdown-overlay hide ng-class:{'show':page.dropdowns.hour}"></div>
                    </div>
                    <h2 class='p15xy'>&nbsp;&nbsp;hr and&nbsp;&nbsp;</h2>
                    <div class="custom-dropdown request-minutes">
                        <div>
                            <span>{{request.user.time_estimate.minutes}}</span>
                            <a ng-click='page.dropdowns.minutes = !page.dropdowns.minutes'>
                                <svg viewBox="0 0 100 100">
                                    <path d="M14,32 L50,68 L86,32"></path>
                                </svg>
                            </a>
                        </div>
                        <ul class="ng-class:{'active':page.dropdowns.minutes}">
                            <li tabindex ng-click='setMinDropdownValue(15)'>15</li>
                            <li tabindex ng-click='setMinDropdownValue(30)'>30</li>
                            <li tabindex ng-click='setMinDropdownValue(45)'>45</li>
                        </ul>
                        <div class="dropdown-overlay" ng-click='page.dropdowns.minutes = !page.dropdowns.minutes'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='calendar relative'>
        <div class='calendar-container absolute top-0 left-0 full-xy'>
            <div class='full-x p20xy uppercase bg-azure weight-600'>
                {{requestForm.calendar[0].monthLong}}
            </div>
            <div class='week-view'>
                <div class='ugrid-7 full-x'>
                    <div ng-repeat='day in requestForm.calendar' class='one-day p20x bg-charcoal full-y'>
                        <div class='one-day-header full-x p05xy'>
                            {{day.dayLong}}
                        </div>
                        <div class='one-day-container full-xy'>
                            <span ng-repeat='hour in day.hours' class='hour full-x'>
                                <span ng-if='hour.start_suffix !== hour.end_suffix'>
                                    {{hour.formatted_start_hour + hour.start_suffix + '-' + hour.formatted_end_hour + hour.
                                    end_suffix}}
                                </span>
                                <span ng-if='hour.start_suffix === hour.end_suffix'>
                                    {{hour.formatted_start_hour + '-' + hour.formatted_end_hour + hour.end_suffix}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>