<section id="request-three" class="request-confirm request-slide">
    <header>
		<h1>Confirm my request</h1>
	</header>
	<div class="request-content relative">
		<div>
			<div>
				<a class="request-edit">Edit</a>
				<h1 class="request-step small selected">
					<b>Selected School</b>
				</h1>
				<div class="request-selection">
					<h1>{{request.selected_university.name || 'UC Berkeley'}}</h1>
				</div>
			</div>
		</div>
		<div>
			<div>
				<a class="request-edit">Edit</a>
				<h1 class="request-step small selected">
					<b>Selected Help Type</b>
				</h1>
				<div class="request-seletion">
					<h1>1:1 with a {{request.selected_university.name || request.selected_university.short_name}} guru</h1>
				</div>
			</div>
		</div>
		<div>
			<div>
				<a class="request-edit">Edit</a>
				<h1 class="request-step small selected">
					<b>Request Description</b>
				</h1>
				<div class="request-selection">
					<p class="input-outline active" ng-model='request.info.description'>{{request.info.description || 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.'}}</p>
					<div class='tag-list'>
                        <span class="tag-list-label">Tags:</span>
						<span class="chip tag-selected" ng-repeat="tag in request.info.tags | limitTo: 3">{{tag.name}}</span>
                        <span class="chip tag-more">+ 10 more</span>
					</div>
                    <div class='tag-list'>
                        <span class="tag-list-label">Attachments:</span>
                        <span class="chip tag-pdf">file.pdf</span>
                        <span class="chip tag-img">file.jpg</span>
                        <span class="chip tag-doc">file.doc</span>
                        <span class="chip tag-more">+ 10 more</span>
					</div>
				</div>
			</div>
		</div>
        <div>
			<div>
				<a class="request-edit">Edit</a>
				<h1 class="request-step small selected">
					<b>When and Where</b>
				</h1>
                <div class="request-selection">
                    <div class="request-edit-cal">
                        <div class="request-edit-cal-item">
                            <h2>Wed, Jan 25</h2>
                            <span>4pm-6pm</span>
                        </div>
                        <div class="request-edit-cal-item">
                            <h2>Sun, Jan 23</h2>
                            <span>4-6pm, 10pm-12am</span>
                        </div>
                        <div class="request-edit-cal-item">
                            <h2>Mon, Jan 24</h2>
                            <span>4pm-6pm</span>
                        </div>
                        <div class="request-edit-cal-item">
                            <h3>+ 4</h3>
                        </div>
                    </div>
                    <h1>Philz Coffee</h1>
                    <h2>Hours: 9am-11pm</h2>
                    <span>1600 Shattuck Avenue #100, Berkeley</span>
                </div>
            </div>
        </div>
		<div>
			<div>
				<a class="request-edit">Edit</a>
				<h1 class="request-step small selected">
					<b>Preferred Payment</b>
				</h1>
				<div class="request-selection">
					<a class='credit-card-wrapper'>
                        <div id="credit-card-visa" class="credit-card cf relative">
                            <span class="card-type absolute left-0 top-0 m20xy" ng-include="img_base + BASE + 'templates/cards/visa.html'"></span>
                            <span class="text-right absolute top-0 right-0 m20x-m15y card-type txt-slate weight-700 uppercase">
                                <span class='padding-none txt-smoke'>DEFAULT</span>
                                <span class='padding-none'>Debit Card</span>
                            </span>
                            <div class="card-number">**** **** **** 4242</div>
                            <div class="card-name">{{user.name}}</div>
                            <div class="valid">
                                <div class="group">Valid
                                    <br/>Thru</div>
                                <div class="expiry">**/**</div>
                            </div>
                        </div>
                    </a>
				</div>
            </div>
        </div>
        <div>
            <div>
				<h1 class="request-step small selected">
					<b>Estimated Total</b>
				</h1>
				<div class="request-selection">
					<h1 class="estimated-total">$50</h1>
				</div>
                <button class="request-edit">Edit</button>
			</div>
		</div>
		<div class="request-notes">
			<div>
				<h3>Don't worry, we won't charge you until after the session is completed.</h3>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h3>
			</div>
		</div>
	</div>
</section>