
<style>

    .u-timeline-list {
        left:10%;
    }
    .u-timeline-list  li{
        height:200px;
    }
</style>
<main id="discover" ng-controller="TimelineController" class='full-xy'>
	<header class='fourth bg-shamrock flex-wrap-center'>
        <h1 class='txt-smoke full-x'>Uguru Timeline</h1>
        <h4 class='weight-700 uppercase full-x p20xy text-center'> Our recent journey to simplify your life </h4>
	</header>

    <section class='relative full-xy'>
        <ul class='flex-wrap u-timeline-list'>
            <li class='milestone-item bg-azul relative full-x flex-wrap-center'>
                <div class='full-x metadata'>
                    <ul class='ugrid-3'>
                        <li class='bg-cerise weight-700'>
                            Dec 15, 2015
                        </li>
                        <li class='txt-charcoal'>
                            Samir M.
                        </li>
                        <li class='txt-smoke bg-charcoal'>
                            milestone achieved
                        </li>>
                    </ul>
                </div>
                <div class='full-x'>
                    <p class='text-left'>Gurus can now set up their essay portfolios to help students last-second with college apps.</p>
                </div>
            </li>
        </ul>
    </section>

</main>
