<ion-view>
	<main id="validate" class="guru validate full-xy lyt-1-3-sidebar relative">
		<aside class="guru sidebar-list lyt-1-4-header">
			<header class="flex-center">
				<h1 class="txt-36 semibold lettercase txt-center line-height-1-2">Ways to Super<br/>Guru Stardom</h1>
			</header>
			<ul>
				<li class="fourth relative complete">
					<a class="full-xy p30xy flex-center-vertical">
						<h2 class="txt-28 semibold p15right">Profile Setup</h2>
						<span class="block svg-white svg-stroke-4 svg-72" ng-include="img_base + BASE + 'templates/svg/main/check-circle.html'"></span>
					</a>
				</li>
				<li class="fourth relative">
					<a class="full-xy p30xy flex-center-vertical">
						<h2 class="txt-28 semibold p15right">Build Credibility</h2>
						<span class="block svg-white svg-stroke-4 svg-72" ng-include="img_base + BASE + 'templates/svg/main/shield-star.html'"></span>
					</a>
				</li>
				<li class="fourth relative">
					<a class="full-xy p30xy flex-center-vertical">
						<h2 class="txt-28 semibold p15right">University Email</h2>
						<span class="block svg-white svg-stroke-4 svg-72" ng-include="img_base + BASE + 'templates/svg/main/email.html'"></span>
					</a>
				</li>
				<li class="fourth relative">
					<a class="full-xy p30xy flex-center-vertical">
						<h2 class="txt-28 semibold p15right">Request Referral</h2>
						<span class="block svg-white svg-stroke-4 svg-72" ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
					</a>
				</li>
			</ul>
		</aside>
		<div class="section-3 p15xy absolute top-0 right-0">
			<header class="text-center p15xy">
				<h1 class="padding-none-impt txt-48 semibold lettercase">Validate School Email</h1>
				<h2 class="txt-28 semibold p15right">Mauris non tempor quam, et lacinia sapien. Mauris accumsan.</h2>
			</header>
			<div class="p15xy">
				<form class="flex-wrap-center">
					<fieldset class="guru p30xy full-x radius-2">
						<label for="school-email" class="block semibold txt-24 p10bottom">Email</label>
						<input type="email" class="block full-x p15x-p10y txt-20 radius-2" id="school-email" placeholder="email@domain.com"/>
					</fieldset>
					<button class="bg-shamrock radius-2 normal p30x-m30top">Confirm</button>
				</form>
			</div>
		</div>
	</main>
</ion-view>