<style>
  svg {
    background: #fff;
  }
  .node {
    stroke-width: 0;
    fill-opacity: 0.4;
  }
  .node text {
    text-anchor: middle;
    alignment-baseline: middle;
    fill-opacity: 1;
  }
  .link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-linecap: round;
  }
</style>

<!-- <ion-view class="uguru-view admin-view"> -->

	<a class="header-nav-back" ng-click='goBack()'>
	    <svg width="12px" height="23px" viewBox="0 0 12 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	        <path d="M2.4,11.1 L11.7,1.7 C12.1,1.3 12.1,0.7 11.7,0.3 C11.3,-0.1 10.7,-0.1 10.3,0.3 L0.3,10.4 C0.1,10.6 -7.10542736e-15,10.8 -7.10542736e-15,11.1 C-7.10542736e-15,11.4 0.1,11.6 0.3,11.8 L10.3,21.9 C10.7,22.3 11.3,22.3 11.7,21.9 C12.1,21.5 12.1,20.9 11.7,20.5 L2.4,11.1 L2.4,11.1 Z" fill="#FFFFFF"></path>
	    </svg>
	    <h1>&nbsp;</h1>
	</a>

	<h1>Admin Dashboard</h1>

	<div class="mixpanel-platform-body" id="admin-body">

		    <div class="mixpanel-platform-section">
		      <div id="eventSelect"></div>
		    </div>

		    <div class="pie">
		    </div>


	</div>
<!-- 
</ion-view> -->