.chalkboard-onboarding .chalkboard-onboarding-header {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  min-height: 50px; }
  .chalkboard-onboarding .chalkboard-onboarding-header h1 {
    font-size: 20px;
    font-weight: 700; }
  .chalkboard-onboarding .chalkboard-onboarding-header .chalkboard-onboarding-back {
    position: absolute;
    top: 4px;
    left: 4px; }
  .chalkboard-onboarding .chalkboard-onboarding-header .chalkboard-onboarding-next {
    position: absolute;
    top: 4px;
    right: 4px; }

@media screen and (min-width: 768px) {
  .chalkboard-onboarding .chalkboard-content {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .chalkboard-onboarding .chalkboard-onboarding-header h1 {
    font-size: 48px; } }
.chalkboard-onboarding-search {
  width: 100%;
  max-width: 492px; }
  .chalkboard-onboarding-search > form {
    padding: 0 15px; }
  .chalkboard-onboarding-search > ul {
    padding: 7.5px; }
    .chalkboard-onboarding-search > ul > li {
      padding: 7.5px; }
    .chalkboard-onboarding-search > ul.mobile {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }
      .chalkboard-onboarding-search > ul.mobile > li {
        display: none;
        width: 50%;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center; }
        .chalkboard-onboarding-search > ul.mobile > li:nth-child(1), .chalkboard-onboarding-search > ul.mobile > li:nth-child(2), .chalkboard-onboarding-search > ul.mobile > li:nth-child(3), .chalkboard-onboarding-search > ul.mobile > li:nth-child(4) {
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex; }
    .chalkboard-onboarding-search > ul.desktop, .chalkboard-onboarding-search > ul.large {
      display: none;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }

@media screen and (max-height: 540px) {
  .chalkboard-onboarding-search .course-card.short {
    width: 100%; }
    .chalkboard-onboarding-search .course-card.short > svg {
      display: none; }
    .chalkboard-onboarding-search .course-card.short .course-card-inside {
      position: static;
      width: 100%;
      height: auto;
      background: white;
      padding-right: 47px; }
      .chalkboard-onboarding-search .course-card.short .course-card-inside h1 {
        display: none; }
      .chalkboard-onboarding-search .course-card.short .course-card-inside h2 {
        margin-bottom: 0;
        font-size: 14px; } }
@media screen and (min-height: 540px) {
  .chalkboard-onboarding-search > ul.mobile > li {
    width: 100%; } }
@media screen and (min-height: 660px) {
  .chalkboard-onboarding-search > ul.mobile > li {
    -ms-box-orient: horizontal !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: flex !important; } }
@media screen and (min-width: 385px) and (min-height: 650px) {
  .chalkboard-onboarding-search > ul.large {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; }
  .chalkboard-onboarding-search > ul.mobile, .chalkboard-onboarding-search > ul.desktop {
    display: none; } }
@media screen and (min-width: 768px) {
  .chalkboard-onboarding-search > ul.desktop {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; }
  .chalkboard-onboarding-search > ul.mobile, .chalkboard-onboarding-search > ul.large {
    display: none; } }
@media screen and (min-width: 768px) and (min-height: 900px) {
  .chalkboard-onboarding-search {
    max-width: 780px; }
    .chalkboard-onboarding-search .course-card.mini > svg {
      width: auto;
      max-width: none;
      height: auto; }
    .chalkboard-onboarding-search .course-card.mini .course-card-border {
      height: 5px; }
    .chalkboard-onboarding-search .course-card.mini .course-card-inside h2 {
      font-size: 14px;
      margin-bottom: 5px; }
    .chalkboard-onboarding-search .course-card.mini .course-card-inside h1 {
      font-size: 24px; } }
.chalkboard-skill-grid {
  width: 100%;
  max-width: 492px; }
  .chalkboard-skill-grid > ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 7.5px; }
    .chalkboard-skill-grid > ul > li {
      padding: 7.5px; }

@media screen and (min-width: 768px) and (min-height: 900px) {
  .chalkboard-skill-grid {
    max-width: 780px; } }

/*# sourceMappingURL=onboarding.css.map */
