<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title_text %}{% endblock %}</title>

    <link rel="shortcut icon" href="/static/gabrielle/images/favicon.ico">
    <link rel="stylesheet" href="/static/gabrielle/css/base-min.css"/>
    <link rel="stylesheet" href="/static/gabrielle/css/grids-min.css"/>
    <link rel="stylesheet" href="/static/gabrielle/css/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/static/gabrielle/css/style.css"/>
    <script src="/static/gabrielle/js/modernizr.js"></script>
    {% block header_scripts %}
    {% endblock %}
</head>
<body>
{% include 'gabrielle/layout/menu.html' %}

{% block content %}
{% endblock %}
<!-- {% include 'web/components/analytics-tools.html'%} -->
<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Source Sans Pro:200,300,400,600,700,900']
    }
  });
</script>
<script src="/static/gabrielle/js/jquery.min.js"></script>
<script src="/static/gabrielle/js/plugins.js"></script>
<script src="/static/gabrielle/js/main.js"></script>

{% block footer_scripts %}
{% endblock %}
</body>
</html>

