<div id="start-modal" class='relative'>
    <div class='modal-loading hide absolute full-width-height' id='modal-loader-container'>
        <div class='svg-container'>
            {% include 'gabrielle/components/svg-loader.svg'%}
        </div>
    </div>
    <div class='pure-g text-center hide absolute full-width-height' id='modal-content-submit'>
        <div class='pure-u-1 white-text' style='padding-top:17.5%'>
            <p>
                <strong>You're all set!</strong>
            </p>
        </div>
        <div class='pure-u-1 white-text'>
            <h1>
                <a id='home-modal-submit-close-link' href='#'> Close </a>
            </h1>
        </div>
    </div>
    <div class='pure-g text-center active' id='modal-content'>
        <div class='pure-u-1'>
            <h1>Choose a platform to download</h1>
        </div>
        <div class='pure-u-1'>
            <h1>Send download link to email</h1>
            <input type='email' id='home-modal-email-input' placeholder="enter your email address"/>
        </div>
        <div class='pure-u-1'>
            <h1>Send app link to phone</h1>
            <input type='tel' placeholder="(415) 122 - 1211" id='home-modal-phone-input'/>
        </div>
        <div class='pure-u-1 text-center relative full-width-height'>
            <div class='absolute pure-u-1-2' style='bottom:5%; left:25%;'>
                <div class='container'>
                    <a id='home-modal-send-text' href='javascript:void(0)'>
                        <strong> text </strong>
                    </a>
                    <a id='home-modal-send-email' href='javascript:void(0)'>
                    | <strong> email </strong>
                    </a>
                    <a id='home-modal-close-link' href='javascript:void(0)'>
                    | close
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>