<div class="landing-transit landing-container full-xy p15xy overflow-auto txt-center">
	<div id="transit-landing-icon" class="powerup-icon margin-auto" ng-include="img_base + 'templates/elements/assets/powerups/transit-card.tpl'"></div>
	<h1 class="txt-48 black m15top">Transit Guru</h1>
	<h2 class="txt-28 semibold margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
	<div class="landing-demo m30top relative z-index-2">
		<svg viewBox="0 0 318 651">
			<rect x="1.5" y="1.5" width="315" height="648" rx="40"></rect>
			<circle cx="158.5" cy="610.5" r="25"></circle>
			<rect x="21.5" y="79.5" width="276" height="493"></rect>
		</svg>
		<div>

		</div>
	</div>
	<div class="landing-content bg-white max-800 relative z-index-1 p15xy radius-4">
		<h1 class="txt-slate txt-36 semibold">Preview the App</h1>
	</div>
</div>