<module name='First Time Experience' columns="workflow,status,progress" progress="0000" dimensions="1111" active="{{ms.activeModule.activePerson || 'SM'}}">

    <!-- @jeselle, @gabrielle-->
    <user-workflow priority="5" name='Powerups View' default-filters="SM:[func:false|type:func], JH:[func:true|type:func], GW:[type:gesture], JO:[type:gesture]"  url='/#/dev/splash/powerups/' priority="10">
        <user-stories>
            <story type="func, transition" desc="user enters power-ups screen & learns details">
                <ui-stream desc='powerups transition in'>
                    <ui-state type="gesture" desc="User clicks powerup icon" func="true">
                    </ui-state>
                    <ui-state type="gesture, transition" desc="Full view transition from [splash madlib]" func="true">
                    </ui-state>
                    <ui-state type="gesture, transition" desc="Once view transition is complete, initiate the on enter of the powerup cards" func="true">
                    </ui-state>
                    <!-- add more here, any sequential animations should be a state. Sequential, as in, when one enters, it has an agenda to achieve XYZ in orderly fashion. -->
                </ui-stream>
                <ui-stream desc='User hovers over one powerup'>
                    <ui-state> </ui-state>
                </ui-stream>
                <ui-stream desc='Given that user has just hovered over one, they hover-off (mouse-leave) and then hover over another one'>
                    <ui-state> </ui-state>
                </ui-stream>
                <ui-stream desc='Hover-off #2, go back to number one (mouse-leave + hover-on #1) and then click'>
                </ui-stream>
            </story>
            <story type="func, transition" desc="user transitions from/to power-ups page from/to a specific power-up">
                <ui-stream desc='States relevant to transition from hover => view-transition from powerups into specific'>
                </ui-stream>
                <ui-stream desc='User enters back by closing out of a specific powerups page'>
                </ui-stream>
            </story>

    </user-workflow>

    <user-workflow name='Splash Madlib' default-filters="SM:[func:false|type:func], JH:[func:true|type:func], GW:[type:gesture], JO:[type:gesture]"  url='/#/dev/splash/madlib/' priority="10">
        <user-stories>
            <story type="gesture" desc="User enters splash madlib" func='true' tested='false' cp='false' responsive='false'>
                <ui-stream desc="Page transitions into guru phase">
                    <ui-state name="Warp zooms out" desc="Warp zooms out" func="false" cp='true' >
                        <bug type='functional' open by="Samir" description="Very slow"/>
                    </ui-state>
					<ui-state name="Guru head crashes in" desc="Guru head crashes against the screen, then bounces back and readjusts itself"></ui-state>
                    <ui-state name="Title animates in" desc="Warp zooms out" func="false">
						<bug type="functional" open by="Gabrielle" description="Madlib header letters overlap with each other on smallest screen size, needs tiny mobile attr." platform="mobile"></bug>
                    </ui-state>
					<ui-state name="Tags animate in" desc="Tags fall in from the warp in a random, staggered manner, then readjust themselves"></ui-state>
                </ui-stream>
            </story>
            <story type="gesture, func" desc="User selects/deselects splash tag" func='true' tested='false' cp='false' responsive='false'>
				<ui-stream name="User selects/deselects one tag for the first time">
					<ui-state name="User selects one splash tag" desc="" func="true">
						<bug type="functional" open by="Gabrielle" description="Tags need .active added when selected and removed when deselected - if added currently, tags are selected properly but don’t translate back when another tag is clicked." platform=""/>
						<bug type="functional" open by="Gabrielle" description="Row 2 Tag 3 doesn't move back into place after being deselected." platform=""/>
					</ui-state>
					<ui-state name="User selects two different splash tags from two different rows"></ui-state>
					<ui-state name="User selects a splash tag whose row already has a splash tag"></ui-state>
				</ui-stream>
                <ui-stream name="User selects/deselects one tag, another already exists">
                </ui-stream>
            </story>
        </user-stories>
    </user-workflow>

    <user-workflow name='Splash Nav & Utilities' url='/#/dev/splash/nav/' priority="13">
        <user-stories>
            <story name="On enter splash">
				<ui-stream name="Navigation animates in">
					<ui-state name="Uguru logo animates in" desc="Logo jellyIn; label scaleInX"></ui-state>
					<ui-state name="Category dropdown animates in" desc="drawIn"></ui-state>
					<ui-state name="@ sign animates in" desc="drawIn"></ui-state>
					<ui-state name="School dropdown animates in" desc="drawIn"></ui-state>
					<ui-state name="Powerup link animates in" desc="drawIn"></ui-state>
					<ui-state name="Sidebar link animates in" desc="drawIn"></ui-state>
					<ui-state name="Pennant animates in" desc="rotateIn"></ui-state>
					<ui-state name="Skip button animates in" desc="rollIn"></ui-state>
				</ui-stream>
            </story>

            <story name="Select category" priority="GW:1">
                <ui-stream name="Desktop user selects a category" priority="GW:1">
					<ui-state name="Mouse enter dropdown" desc="User's mouse enters the dropdown space and the guru's hair changes color if different from the current" func="false" priority="GW:1">
						<bug type="static" open by="Gabrielle" flag="[Jeselle, Gabrielle]" description="Hair needs to be diluted version of category colors" platform="all" time="15" reference="true" reference-name="Guru hair color" priority="GW:2"/>
						<bug type="functional" open by="Gabrielle" flag="[Samir, Gabrielle]" description="Variable for category name only works once, i.e. guru-fill-^name outputs guru-fill-academic but afterwards keeps outputting guru-fill-^name" platform="all" time="15" reference="true" reference-name="Category name variable" priority="GW:1"/>
					</ui-state>

					<ui-state name="Mouse over dropdown" desc="Staggered opacity drop starting from the category dropdown" priority="GW:2">
						<bug type="animation" open by="Gabrielle" flag="[Gabrielle]" description="Hover needs to be put back in" platform="desktop" time="25" reference="true" reference-name="Staggered opacity"/>
					</ui-state>

					<ui-state name="Click on dropdown" desc="Staggered opacity drop if not already triggered; dropdown options slideInDown; guru head tilts" priority="GW:3">
						<bug type="functional" open by="Gabrielle" flag="[Samir]" description="Would prefer to have the option to stagger color.tpl options" url="http://codepen.io/teamuguru/pen/e1d55abb071ad8db0845cefd76f7c48f"/>
					</ui-state>

					<ui-state name="Mouse enter dropdown option" desc="Guru hair changes to category color" priority="GW:4">
						<bug reference-from="Guru hair color"/>
						<bug reference-from="Category name variable"/>
						<bug type="animation" open by="Gabrielle" flag="[Gabrielle]" description="Remove opacity mouseover example from color.tpl" time="5" priority="GW:3"/>
					</ui-state>

					<ui-state name="Click on dropdown option" desc="Dropdown closes; guru switches out, tags switch out" priority="SM:1">
						<bug type="functional" open by="Gabrielle" flag="[Samir]" description="Tags flicker when switching categories - appear and then re-animate in" platform="all"/>
					</ui-state>

                    <ui-state name="Close dropdown" desc="Dropdown closes" priority="SM:2">
						<bug type="animation" open by="Gabrielle" flag="[Samir, Gabrielle]" description="Mouse-leave doesn't work" platform="desktop" reference="true" reference-name="Dropdown mouse-leave"/>
                        <bug type="functional" open by="Samir" flag="[Samir]" name="Close dropdown when click outside of it" platform="desktop" reference="true" reference-name="Outside dropdown click"/>
                    </ui-state>
                </ui-stream>

				<ui-stream name="Mobile user selects a category">
					<ui-state name="Click on dropdown" desc="Dropdown options bounceIn-subtle staggered"></ui-state>

					<ui-state name="Click on dropdown option" desc="Dropdown closes; guru switches out, tags switch out">
						<bug type="functional" open by="Gabrielle" flag="[Samir]" description="Mobile switcher does not work as expected - the onExit animates out all at the same time, then the selected university/category reappears and animates out again. In Jeselle's version, the previous selection was prioritized with the delay over the current selection." platform="mobile" reference="true" reference-name="Mobile switch exit"/>
					</ui-state>

                    <ui-state name="Close dropdown" desc="Dropdown closes" priority="SM:2">
						<bug reference-from="Mobile switch exit"/>
                    </ui-state>
				</ui-stream>
            </story>

            <story name="Change university" priority="GW:2">
				<ui-stream name="Desktop user selects a university" priority="GW:1">
					<ui-state name="Mouse enter dropdown" desc="User's mouse enters the dropdown space and the guru's hair changes color if different from the current" func="false" priority="GW:1">
						<bug type="static" open by="Gabrielle" flag="[Jeselle, Gabrielle]" description="Hair needs to be diluted version of category colors" platform="all" time="15" reference="true" reference-name="Guru hair color"  priority="GW:2"/>
						<bug type="functional" open by="Gabrielle" flag="[Samir, Gabrielle]" description="Variable for category name only works once, i.e. guru-fill-^name outputs guru-fill-academic but afterwards keeps outputting guru-fill-^name" platform="all" time="15" reference="true" reference-name="Category name variable" priority="GW:1"/>
					</ui-state>

					<ui-state name="Mouse over dropdown" desc="Staggered opacity drop starting from the category dropdown" priority="GW:2">
						<bug reference-from="Staggered opacity"/>
					</ui-state>

					<ui-state name="Click on dropdown" desc="Staggered opacity drop if not already triggered; dropdown options slideInDown; phone transitions in">
						<bug type="functional" open by="Gabrielle" description="Search link needs to be separated from both the mobile and desktop dropdowns" platform=""/>
					</ui-state>

					<ui-state name="Mouse enter dropdown option" desc="Device and pennant change to school color"></ui-state>

					<ui-state name="Click on dropdown option" desc="Dropdown closes; pennant changes name"></ui-state>

                    <ui-state name="Close dropdown" desc="Dropdown closes" priority="SM:2">
						<bug reference-from="Dropdown mouse-leave"/>
                        <bug reference-name="Outside dropdown click"/>
                    </ui-state>
				</ui-stream>

				<ui-stream name="Mobile user selects a university">
					<ui-state name="Click on dropdown" desc="Dropdown options bounceIn-subtle staggered"></ui-state>

					<ui-state name="Click on dropdown option" desc="Dropdown closes; guru switches out, tags switch out">
						<bug reference-from="Mobile switch exit"/>
					</ui-state>

                    <ui-state name="Close dropdown" desc="Dropdown closes" priority="SM:2">
						<bug reference-from="Mobile switch exit"/>
                    </ui-state>
				</ui-stream>
            </story>
        </user-stories>
    </user>

    <user-workflow name='Splash Sidebar' priority="14" url='/#/dev/splash/sidebar/'>
        <setup type="base">
        </setup>
        <user-stories>
            <story type="transition" desc="Sidebar opens" platforms="[desktop, mobile]">
                <ui-stream desc="User opens sidebar" type="desktop">
					<ui-state name="Elements transition in" desc="Links rotate in from opposite angles; close button drawIn"></ui-state>
                    <ui-state name="Sidebar icon mouse-enter" type="gesture" gesture="hover"></ui-state>
                    <ui-state name="Link mouse-enter"></ui-state>
					<ui-state name="Link mouse-leave"></ui-state>
					<ui-state name="Link click"></ui-state>
					<ui-state name="Modal opens"></ui-state>
                    <!-- <ui-state gesture='click'></ui-state>
                    <ui-state type="transition" name="sidebar"></ui-state> -->
                </ui-stream>
            </story>
        </user-stories>
    </user-workflow>

	<user-workflow name="Powerups" url='/#/dev/splash/powerups/'>
		<setup type="base">
        </setup>
        <user-stories>
			<story name="Powerups activate">
				<ui-stream desc="User activates powerups">
					<ui-state name="Mouse enter powerups link"></ui-state>
					<ui-state name="Mouse leave powerups link"></ui-state>
					<ui-state name="Click powerups link"></ui-state>
					<ui-state name="Powerup tiles transition in"></ui-state>
				</ui-stream>
			</story>
		</user-stories>
	</user-workflow>

	<user-workflow name="University Search" url='/#/dev/splash/university-search/'>
		<setup type="base">
        </setup>
        <user-stories>
			<story name="Search activates">
				<ui-stream desc="University projector loads">
					<ui-state name="Projector animates in" desc="slideInDown"></ui-state>
					<ui-state name="Loader animates in"></ui-state>
					<ui-state name="Loader completes and exits"></ui-state>
				</ui-stream>
				<ui-stream desc="University search transitions in">
				</ui-stream>
			</story>
		</user-stories>
	</user-workflow>

    <user-workflow name='Splash Device' priority="15"></user-workflow>
    <user-workflow name='Splash Map' priority="16"></user-workflow>
    <user-workflow name='Splash Tour' priority="17"></user-workflow>
    <user-workflow name='Milestones' priority="1000">
        <user-stories>
            <story name="Final spec: Write out all workflow->stories->streams" desc="Workflow -> see all "></story>
            <story name="Resize/clean up active vs inactive" desc="Workflow -> see all "></story>
            <story name="Calendar Dates" desc="Apply"></story>
            <story name="Calculate Module workflow/story/stream completion" desc="Apply"></story>
            <story name="Admin setup">
                <ui-stream name="Filter related" desc="Some area where one can set the default filters/sort/show/hide preferences on a workflow bases on refresh">
                    <ui-state></ui-state>
                </ui-stream>
                <ui-stream name="References" desc="re-using by referencing it">
                </ui-stream>
                <ui-stream name="Pipelines for [states, streams] to be resolved" desc="re-using by referencing it">
                </ui-stream>
                <ui-stream name="Visual progress indiciation" desc="re-using by referencing it">
                </ui-stream>
            </story>
        </user-stories>
    </user-workflow>

    <user-workflow name='Base Components' priority="50">
        <user-stories>
            <story name="Base Components" desc="base html components have been 100% created" tested='false' func='false' cp="false" response="false">
            </story>
            <story name="MVP Spec" desc="base html components have been 100% created" tested='false' func='false' cp="false" response="false">
            </story>
            <story name="HiFi Specs" desc="base html components have been 100% created" tested='false' func='false' cp="false" response="false">
            </story>
        </user-stories>
    </user-workflow>

    <user-workflow name='Animation Stuff' priority="11">
        <user-stories>
            <story name="Directives">
            </story>
            <story name="Inspect Animation">
            </story>
            <story name="Toolbar">
            </story>
        </user-stories>
    </user-workflow>
</module>
