
// Colors
// -------------------------------

$white:                           rgba(255,255,255,1);
$light-black:                     rgba(43,50,52,1);
$gray-9:                          rgba(0,0,0,0.9);
$gray-8:                          rgba(0,0,0,0.8);
$gray-7:                          rgba(0,0,0,0.7);
$gray-6:                          rgba(0,0,0,0.6);
$gray-5:                          rgba(0,0,0,0.5);
$gray-4:                          rgba(0,0,0,0.4);
$gray-3:                          rgba(0,0,0,0.3);
$gray-2:                          rgba(0,0,0,0.2);
$gray-1:                          rgba(0,0,0,0.1);
$green:                           rgba(105,179,165,1);
$orange:                          rgba(219,113,59,1);


// Base
// -------------------------------

$bold-font:                       "OpenSans-Bold" !default;
$semibold-font:                   "OpenSans-Semibold" !default;
$reg-font:                        "OpenSans-Regular" !default;
$light-font:                        "OpenSans-Light" !default;
