@import 'mixin';

.guru-head {
	position: relative;
	.guru-head-switcher {
		position: absolute;
		top: 50%;
		margin-top: -100px;
		left: 50%;
		margin-left: -100px;
		width: 200px;
		height: 200px;
	}
}

.guru-head-switcher {
	width: 200px;
	height: 200px;
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
	* {
		transform-origin: center center;
	}
}

//KEYFRAMES
@keyframes flicker {
	0% {opacity:0;}
	9% {opacity:0;}
	10% {opacity:.5;}
	13% {opacity:0;}
	20% {opacity:.5;}
	25% {opacity:1;}
}

/* http://goo.gl/mpxIzR */
@keyframes jelly-flash {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.1% { transform: matrix3d(1.122, 0.527, 0, 0, -0.485, 1.22, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { transform: matrix3d(1.068, 0.833, 0, 0, -0.754, 1.181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.1% { transform: matrix3d(0.973, 1.056, 0, 0, -0.951, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(0.948, 1.101, 0, 0, -0.991, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.31% { transform: matrix3d(0.637, 1.412, 0, 0, -1.293, 0.696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.21% { transform: matrix3d(0.334, 1.495, 0, 0, -1.421, 0.351, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(0.277, 1.492, 0, 0, -1.432, 0.288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.51% { transform: matrix3d(0.053, 1.412, 0, 0, -1.435, 0.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { transform: matrix3d(-0.024, 1.351, 0, 0, -1.416, -0.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(-0.113, 1.239, 0, 0, -1.37, -0.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.51% { transform: matrix3d(-0.164, 1.122, 0, 0, -1.311, -0.14, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.71% { transform: matrix3d(-0.167, 1.108, 0, 0, -1.304, -0.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { transform: matrix3d(-0.179, 0.962, 0, 0, -1.211, -0.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(-0.162, 0.893, 0, 0, -1.153, -0.126, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.72% { transform: matrix3d(-0.136, 0.85, 0, 0, -1.098, -0.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.02% { transform: matrix3d(-0.098, 0.834, 0, 0, -1.038, -0.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.03% { transform: matrix3d(-0.044, 0.88, 0, 0, -0.967, -0.04, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.23% { transform: matrix3d(-0.042, 0.884, 0, 0, -0.964, -0.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { transform: matrix3d(-0.031, 0.906, 0, 0, -0.952, -0.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.33% { transform: matrix3d(-0.009, 0.966, 0, 0, -0.934, -0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% { transform: matrix3d(0, 0.998, 0, 0, -0.931, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.006, 1.027, 0, 0, -0.935, 0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { transform: matrix3d(0.009, 1.046, 0, 0, -0.952, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.64% { transform: matrix3d(0.009, 1.046, 0, 0, -0.953, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.75% { transform: matrix3d(0.006, 1.022, 0, 0, -0.984, 0.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.36% { transform: matrix3d(0, 0.987, 0, 0, -1.01, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.26% { transform: matrix3d(0, 0.988, 0, 0, -1.01, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { transform: matrix3d(-0.001, 0.993, 0, 0, -1.009, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.07% { transform: matrix3d(0, 1.004, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.28% { transform: matrix3d(0, 1, 0, 0, -0.998, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { transform: matrix3d(0, 1, 0, 0, -0.998, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.69% { transform: matrix3d(0, 0.999, 0, 0, -0.999, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/* http://goo.gl/cGp6jv */
@keyframes scale-jelly {
  0% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity:0;}
  1% {opacity:1;}
  2.1% { transform: matrix3d(0.845, 0, 0, 0, 0, 0.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { transform: matrix3d(0.861, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.1% { transform: matrix3d(0.872, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.31% { transform: matrix3d(0.888, 0, 0, 0, 0, 0.915, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.21% { transform: matrix3d(0.892, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.51% { transform: matrix3d(0.887, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.87, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.51% { transform: matrix3d(0.864, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.71% { transform: matrix3d(0.863, 0, 0, 0, 0, 0.824, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(0.833, 0, 0, 0, 0, 0.78, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.72% { transform: matrix3d(0.821, 0, 0, 0, 0, 0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.02% { transform: matrix3d(0.809, 0, 0, 0, 0, 0.768, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.03% { transform: matrix3d(0.794, 0, 0, 0, 0, 0.776, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.23% { transform: matrix3d(0.793, 0, 0, 0, 0, 0.777, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.33% { transform: matrix3d(0.787, 0, 0, 0, 0, 0.793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% { transform: matrix3d(0.786, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.787, 0, 0, 0, 0, 0.805, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.64% { transform: matrix3d(0.791, 0, 0, 0, 0, 0.809, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.75% { transform: matrix3d(0.797, 0, 0, 0, 0, 0.804, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.36% { transform: matrix3d(0.802, 0, 0, 0, 0, 0.797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.26% { transform: matrix3d(0.802, 0, 0, 0, 0, 0.798, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.07% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.801, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.28% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.69% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity:1;}
}

@keyframes prop-hover {
    0% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(-3px)
    }
}

/* http://goo.gl/zuWAa0 */
@keyframes hat-down {
  0% { transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1); opacity:1;}
  3.4% { transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, -41.2, 0, 1); }
  4.3% { transform: matrix3d(0.704, 0, 0, 0, 0, 0.77, 0, 0, 0, 0, 1, 0, 0, -37.402, 0, 1); }
  4.7% { transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, -35.475, 0, 1); }
  6.81% { transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, -23.612, 0, 1); }
  8.61% { transform: matrix3d(0.91, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, -12.728, 0, 1); }
  9.41% { transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, -8.21, 0, 1); }
  10.21% { transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, -4.077, 0, 1); }
  12.91% { transform: matrix3d(1.047, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 6.085, 0, 1); }
  13.61% { transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 7.696, 0, 1); }
  14.11% { transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 8.603, 0, 1); }
  17.22% { transform: matrix3d(1.103, 0, 0, 0, 0, 1.126, 0, 0, 0, 0, 1, 0, 0, 10.507, 0, 1); }
  17.52% { transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 10.432, 0, 1); }
  18.72% { transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 9.843, 0, 1); }
  21.32% { transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 7.646, 0, 1); }
  24.32% { transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 4.843, 0, 1); }
  25.23% { transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 4.088, 0, 1); }
  28.33% { transform: matrix3d(1.038, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 1.957, 0, 1); }
  29.03% { transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 1.58, 0, 1); }
  29.93% { transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 1.147, 0, 1); }
  35.54% { transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, -0.396, 0, 1); }
  36.74% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, -0.522, 0, 1); }
  39.44% { transform: matrix3d(0.981, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, -0.626, 0, 1); }
  41.04% { transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, -0.605, 0, 1); }
  44.44% { transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, -0.453, 0, 1); }
  52.15% { transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, -0.081, 0, 1); }
  59.86% { transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0.039, 0, 1); }
  61.66% { transform: matrix3d(1.004, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0.041, 0, 1); }
  63.26% { transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0.04, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0.004, 0, 1); }
  83.98% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  90.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1;}
}

/* http://goo.gl/oS2Shf */
@keyframes prop-down {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -150, 0, 1); opacity: 1;}
  2.2% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -90.167, 0, 1); }
  4.3% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.73, 0, 1); }
  6.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.868, 0, 1); }
  8.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 61.075, 0, 1); }
  11.01% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.48, 0, 1); }
  13.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 11.282, 0, 1); }
  15.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.155, 0, 1); }
  18.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -23.787, 0, 1); }
  23.02% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.939, 0, 1); }
  27.73% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.266, 0, 1); }
  37.24% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.609, 0, 1); }
  46.75% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.406, 0, 1); }
  56.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.547, 0, 1); }
  65.87% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.213, 0, 1); }
  75.38% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.083, 0, 1); }
  84.88% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.032, 0, 1); }
  94.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.013, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1;}
}
