.star-animate {
	animation: fadeInFill 12000ms ease-in-out infinite forwards;
}
@for $i from 1 through 183 {
	.star-#{$i} {
		animation-delay: #{($i*5)}ms;
	}
}

@keyframes hiw-hour-hand {
	0% { transform: rotateZ(0deg) }
	8.33% { transform: rotateZ(30deg) }
	16.66% { transform: rotateZ(60deg) }
	24.99% { transform: rotateZ(90deg) }
	33.32% { transform: rotateZ(120deg) }
	41.65% { transform: rotateZ(150deg) }
	49.98% { transform: rotateZ(180deg) }
	58.31% { transform: rotateZ(210deg) }
	66.64% { transform: rotateZ(240deg) }
	74.97% { transform: rotateZ(270deg) }
	83.3% { transform: rotateZ(300deg) }
	91.63% { transform: rotateZ(330deg) }
	100% { transform: rotateZ(360deg) }
}

@keyframes hiw-minute-hand {
	0% { transform: rotateZ(0deg) }
	100% { transform: rotateZ(360deg) }
}

/* http://goo.gl/8Wzkzj */
@keyframes hiw-clouds {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  0.36% { transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.72% { transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
  1.08% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.43% { transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.36% { transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.29% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.73% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.83% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.19% { transform: matrix3d(0.486, 0, 0, 0, 0, 0.486, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.55% { transform: matrix3d(0.121, 0, 0, 0, 0, 0.121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
  21.91% { transform: matrix3d(-0.052, 0, 0, 0, 0, -0.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.27% { transform: matrix3d(-0.093, 0, 0, 0, 0, -0.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.19% { transform: matrix3d(-0.021, 0, 0, 0, 0, -0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.12% { transform: matrix3d(0.006, 0, 0, 0, 0, 0.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
  25.97% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.83% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.17% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.57% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.67% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.03% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.38% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.74% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.1% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.03% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.95% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.81% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.67% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes fadeInFill {
	0%, 8.33%, 16.66%, 24.99%, 33.32%, 41.65%, 49.98% {
		stroke-opacity: 0;
		fill-opacity: 0;
	}
	58.31%, 66.64%, 74.97% {
		stroke-opacity: 1;
		fill-opacity: 1;
	}
	83.3%, 91.63%, 100% {
		stroke-opacity: 0;
		fill-opacity: 0;
	}
}

@keyframes hiw-sun-rotate {
	0% { transform: rotate(20deg); opacity: 1; }
	8.33%, 16.66% { opacity: 1; }
	24.99%, 33.32%, 41.65%, 49.98%, 58.31%, 66.64%, 74.97%, 83.3% { opacity: 0; }
	91.63% { opacity: 1; }
	100% { transform: rotate(380deg); opacity: 1; }
}

@keyframes hiw-moon-rotate {
	0% { transform: rotate(40deg); opacity: 0; }
	8.33%, 16.66%, 24.99%, 33.32%, 41.65% { opacity: 0; }
	49.98%, 58.31%, 66.64%, 74.97%, 83.3% { opacity: 1; }
	91.63% { opacity: 0; }
	100% { transform: rotate(420deg); opacity: 0; }
}

@keyframes hiw-day-shift {
	0%, 8.33%, 16.66% {
		opacity: 1;
	}
	24.99%, 33.32%, 41.65%, 49.98%, 58.31%, 66.64%, 74.97%, 83.3%, 91.63% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hiw-night-shift {
	0%, 8.33%, 16.66%, 24.99%, 33.32%, 41.65%, 49.98% {
		opacity: 0;
	}
	58.31%, 66.64%, 74.97% {
		opacity: 1;
	}
	83.3%, 91.63%, 100% {
		opacity: 0;
	}
}

@keyframes hiw-evening-shift {
	0%, 8.33%, 16.66% {
		opacity: 0;
	}
	24.99%, 33.32%, 41.65%, 49.98%, 58.31%, 66.64%, 74.97% {
		opacity: 1;
	}
	83.3%, 91.63%, 100% {
		opacity: 0;
	}
}

@keyframes hiw-light-shift {
	0%, 8.33%, 16.66%, 24.99%, 33.32%, 41.65%, 49.98% {
		opacity: 1;
	}
	58.31%, 66.64%, 74.97% {
		opacity: 0;
	}
	83.3%, 91.63%, 100% {
		opacity: 1;
	}
}

@keyframes hiw-night-shift-map {
	0%, 8.33%, 16.66%, 24.99%, 33.32%, 41.65%, 49.98% {
		opacity: 0;
	}
	58.31%, 66.64%, 74.97% {
		opacity: 0.75;
	}
	83.3%, 91.63%, 100% {
		opacity: 0;
	}
}

@keyframes hiw-sunset-shift {
	0%, 8.33%, 16.66% {
		opacity: 0;
	}
	24.99%, 33.32%, 41.65%, 49.98% {
		opacity: 1;
	}
	58.31%, 66.64%, 74.97%, 83.3%, 91.63%, 100% {
		opacity: 0;
	}
}

@keyframes hiw-sunrise-shift {
	0%, 8.33%, 16.66%, 24.99%, 33.32%, 41.65%, 49.98%, 58.31%, 66.64%, 74.97% {
		opacity: 0;
	}
	83.3%, 91.63% ,100% {
		opacity: 1;
	}
}
