
.guru-profile-view {
    h1.verified {
        font-weight:700 !important;
    }
    li {
        line-height:1.25em;
    }
    #btn-edit-profile {
        bottom:49px !important;
        background:rgba(105, 179, 165, 1) !important;
    }
    #btn-edit-profile.active,
    #btn-edit-profile.activated {
        opacity:1;
        background:rgba(105, 179, 165, 1);
    }
    #profile {
        overflow-y:scroll;
        padding-bottom:49px;
    }
}

#guru-profile-img {
    height:100px;
    width:100px;
    max-height:100px;
    max-width:100px;
}