<ion-view view-title="Signup">
  <ion-nav-buttons side="secondary">
    <button ng-click="startAnimation()" class="button button-clear button-positive">Start</button>
  </ion-nav-buttons>
  <ion-content>
  <div class="animation3">
    <div class="animation-box center">
      <p>heartbeat</p>
      <button ng-click="startAnimation()" class="button button-green-outline button-full">
        Get start
      </button>
      <button ng-click="endAnimation()" class="button button-green-outline button-full">
        Go back
      </button>
    </div>
  </div>
  

  </ion-content>
</ion-view>
