
<!-- how can i change background color??
how can i cahnge box size?
how can i show view title? -->

<ion-view view-title="Find A Guru">
  <ion-content>  
    <div class="success">
      <div class='row absolute absolute-center bottom-40-percent'> 
        <div class="col col-offset-25 col-50 padding" style="padding:1.5em">
          <img src='./img/uguru-06.png' class='inherit-width'>
        </div>
      </div>
      <div class='row absolute absolute-center bottom-35-percent'> 
        <div class="col col-offset-25 col-50 padding center" style="padding:1.5em">
          <div class="message">Success!</div>
        </div>
      </div>
      <div class='row absolute absolute-center bottom-30-percent'> 
        <div class="col col-offset-25 col-50 padding center">
          <div class="message">Payment method added!</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
