<ion-view view-title="Guru Book">
<div class="bar bar-subheader">
  <div class="row center">
    <div class="col border-bottom">ALL CLASSES</div>
    <div class="col">BIO101</div>
    <div class="col">CHEM101</div>
    <div class="col">HIST302</div>
  </div>
</div>


  <ion-nav-buttons side="secondary">
      <button ng-click="submitSupport()" ng-disabled="!support.message" class="button button-clear button-positive">save</button>
  </ion-nav-buttons>
<ion-content>
  <div class="guru-book margin-top-40">
    <li class="item padding-6-15">
      <div class="icon"><img src='./img/shun.png' class='width'></div>
      <div class="box-2 margin-top">
        <div class="box-3">
          <span class="name">Shun Kurosaki
          </span>
          <div class="stars">
            <span class="icon ion-star"></span>
            <span class="icon ion-star"></span>
            <span class="icon ion-star"></span>
            <span class="icon ion-star"></span>
            <span class="icon ion-star"></span>
          </div>
        </div>
      </div>
    </li>
  </div>
</ion-content>
  <div class="bar bar-footer uguru-footer">
    <div class="row">
      <div class="col center border-bottom"><img src='./img/glass.png' class='width'></div>
      <div class="col center"><img src='./img/book.png' class='width'></div>
      <div class="col center"><img src='./img/setting.png' class='width'></div>
    </div>
  </div>
</ion-view>
