<ion-view view-title="Find A Guru">
  <ion-content>  
    <div class="success">
      <div class='row'> 
        <div class="width margin-auto center">
          <img src='./img/uguru-06.png' class='inherit-width'>
        </div>
      </div>
      <div class='row absolute bottom-35-percent'> 
        <div class="width margin-auto center">
          <div class="message">Contacting your Guru</div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar style="height: auto; background-color:#f2f2f2; margin-bottom: 40px;" class="extra-padding-sides">
    <button ui-sref="^.sandbox" style="height:4em"class="button button-positive button-full button-outline">cancel request </button>
  </ion-footer-bar>
  <div class="bar bar-footer uguru-footer">
    <div class="row">
      <div class="col center border-bottom"><img src='./img/glass.png' class='width'></div>
      <div class="col center"><img src='./img/book.png' class='width'></div>
      <div class="col center"><img src='./img/setting.png' class='width'></div>
    </div>
  </div>
</ion-view>