<div>
	<header class='bg-robin txt-center flex-center'>
		<h1 class="txt-white weight-700 txt-28">Test Platforms</h1>
		<a class='svg-white svg-36 svg-stroke-8 absolute top-0 right-0 close-icon m10xy' ng-if='!isEditMode' ng-click="closePlatform()">
			<svg viewBox="0 0 100 100">
				<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
			</svg>
		</a>
	</header>
	<ul class="full-xy ugrid-6 relative flex-wrap-center flex-stretch">
		<li class='full-x mtop20 p20xy' style='width:calc(100%/6) !important;' ng-repeat="platform in tests">
		    <div class="checkbox-container {{platform.test_status || 'unsure'}}" style='width: auto !important;'>
		        <div class='relative full-x text-center flex-wrap-center'>
		             <input ng-model="platform.passed" ng-change="updateSubStateElement($index, selected_test_scene, platform, platform.passed, filename)" type="checkbox" id="checkbox-item"/>
		            <span>

		                <svg viewBox="0 0 100 100" ng-if="!platform.passed">
		                    <path d="M14,50 L86,50"></path>
		                </svg>
		                <svg viewBox="0 0 100 100" ng-if="platform.passed">
		                    <path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
		                </svg>
		            </span>
		            <div class='text-5 txt-white full-x uppercase weight-600 p05xy' style='font-size:14px; margin-left:-7px;'>
		                {{platform.platform}}<br>{{platform.screen_size}}<br>{{platform.passed}}
		            </div>
		            <div class='opacity-50 full-x uppercase weight-600 p05xy' style='font-size:10px; margin-left:-7px;'>
		                status: {{platform.test_client}}
		            </div>
		        </div>
		    </div>
		</li>
	</ul>
</div>