.uguru-view.how-it-works-view header {
  position: relative; }
  .uguru-view.how-it-works-view header h1 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: white; }
  .uguru-view.how-it-works-view header .left-buttons {
    position: absolute;
    left: 5%;
    top: 20px;
    opacity: 0.3; }
    .uguru-view.how-it-works-view header .left-buttons a {
      color: white; }

#access.start.full-xy.flex-start {
  -o-align-items: flex-start;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.uguru-view .start#access svg.max-width-100 {
  height: 200px;
  max-width: 100px;
  margin-top: 15%; }

#access .keyboard-button {
  margin-bottom: 30px;
  color: #69B3A5;
  background: #F1F1F1 !important; }
