.major-view {
    background: #2B3234;
    .onboarding-prop {
        top:45% !important;
    }
    #major-list {
          li.major-business {
            line-height:1.2em;
            &.selected  {
                position:relative;
                i.icon {
                    position:absolute;
                    top:30%;
                    right:3%;
                }
            }
          }
    }
}