$charcoal: #2B3234;
.terms-modal, .faq-modal {
    color: $charcoal;
    p {
        font-size: 13px;
        margin: 10px 0px;
    }

    .header-nav {
        position:relative;
        a {
            display:inline-block;
            position:absolute;
            left:15px;
            top:15px;
        }
    }
    .has-header {
        top:54px;
    }
}