<view link-data="ui/templates/samples/visualizer/viz.json" render-after-ext-scripts row class="docs" type='row' bg="stone" width="100" height="100" let="content=data.content">

    <div column wrap height='100' top='0' absolute width='100' scroll-x class='bg-azure'>
        <div grow='9' column x='center' y='center' relative>

            <h1 bg="charcoal" z="1" f-s="32px" class='uppercase'>
                {{content.track.title}}
            </h1>
            <img z="0" stretch width='100' ng-src="{{content.track.artwork_url}}" absolute grow='1'/>
        </div>
        <div grow='1' class='bg-white' z="10" bg="transparent" scroll-x row>
            <viz-bar class='border-1 bg-charcoal' stretch width='10px' list-data="samples=content.viz.samples" list-item="sample">
            </viz-bar>
        </div>

    </div>
</view>