<view link-data="ui/templates/samples/visualizer/viz.json" render-after-ext-scripts width="100" height="100" let="content=data.content">
	<div width="100" height="100">
		<hr relative z="100" m="0" width="100%" height="5px" bg="sienna" border="0"/>
	    <div height='calc(100% - 5px)' width='100' bg="charcoal">
			<div x-start y-end abs z="0" top="0" left="0" width="100" height="100" scroll-x hide-y
				u init-with="p:[tr:translateX(0%)]">
				<div absolute top="0" left="0" width='100' height='100' z='0' bg-image="content.track.artwork_url|top left|cover|repeat"> </div>
                <!-- on-init="a:[translateX:0%:-100%:6000:linear:0:1:f]" -->
				<!-- <img absolute top="0" left="0" z="0" width='100' ng-src="{{content.track.artwork_url}}"/> -->
	            <div relative z="1" p-left="100px">
					<div row y-end relative>
						<viz-bar bg="white" width='2px' rad="4px" m-x="1px" list-data="samples=content.viz.samples.slice(0,500)" list-item="sample" class="overflow-hidden"></viz-bar>
						<div abs bottom="0" left="0" bg="charcoal" flex p="2px 5px" f-s="14px" rad="2px">
							<span>0:00</span>
							<span>&nbsp;|&nbsp;</span>
							<!-- <span opacity="0.5" class="opacity-50p">{{content.track.duration%60000}}:{{}}</span> -->
                            <span u
                                on-init="a:[counter:0:100:{{content.track.duration}}:easeOutCirc:0:1:f]">
                            </span>
							<!-- {{content.track.duration}} -->
						</div>
					</div>
					<div row y-start u init-with="p:[tro:top left, tr:scaleY(0.5), op:0.3]">
						<viz-bar bg="white" width='2px' rad="4px" m-x="1px" list-data="samples=content.viz.samples.slice(0, 500)" list-item="sample" class="overflow-hidden"></viz-bar>
					</div>
				</div>
	        </div>

	        <ul relative z="1" p="10px">
				<li p="5px">
					<h2 bg="charcoal" z="1" f-s="18px" rad="2px" p="2px 5px" class='inline-block'>
		                {{content.track.publisher_metadata.artist}}
		            </h2>
				</li>
	            <li p="5px">
					<h1 bg="charcoal" z="1" f-s="28px" rad="2px" p="2px 5px" class='inline-block'>
		                {{content.track.title}}
		            </h1>
				</li>
	        </ul>
	    </div>
	</div>
</view>
