<view link-data="ui/templates/samples/visualizer/viz.sm.json"  render-after-ext-scripts width="100" height="100" let="content=data.content" >




    <div width="100" height="100" y-center scroll-x  left='0'
        x='end'>

        <viz-bar u-list="sample in data.content.viz.samples.slice(0, 100)" sample="sample"> </viz-bar>



        <div width="25%" column x='end' height="5px" bg="sienna" u init-with="p:[transform:scaleX(4),tro:100% 0]" on-init="a:[scaleX:4:1:250:easeOutBounce:0:1:f]">
            <hr  z="100" m="0"  abs width='100'  border="0"/>
        </div>


    </div>
</view>
