@import '../mixin';

.svg-logo {
	display: block!important;
	height: 100%;
	max-height: 42px;
	width: 100%;
	max-width: 109px;
	svg {
		display: block;
		height: 100%;
		path {
			@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
			&:first-child {
				fill: rgba(white,.8);
			}
			&:last-child {
				fill: white;
			}
		}
		text {
			fill: white;
		}
	}
	&:hover, &:focus {
		background: none!important;
		svg {
			path {
				&:first-child {
					fill: white;
				}
				&:last-child {
					fill: rgba(white,.8);
				}
			}
			text {
				fill: $smoke;
			}
		}
	}
}

.icon-round-stroke {
	@include flex;
	@include flex-center;
	width: 42px;
	height: 42px;
	position: relative;
	&:before {
		transform: scale(0);
		transform-origin: center center;
		transition: all 300ms cubic-bezier(.77,0,.05,1);
		transition: all 300ms cubic-bezier(.77,0,.05,1.27);
		@include round;
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
		width: 30px;
		height: 30px;
		background: white;
	}
	* {
		transform-origin: center center;
	}
	svg {
		transition: all 300ms cubic-bezier(.77,0,.05,1);
		transition: all 300ms cubic-bezier(.77,0,.05,1.27);
		height: 100%;
		width: auto;
		position: relative;
		z-index: 10;
		g, circle, path {
			transition: all 300ms cubic-bezier(.77,0,.05,1);
			transition: all 300ms cubic-bezier(.77,0,.05,1.27);
			@include svg-stroke(white, 4);
		}
		g:not(.path) > path, .path {
			transform: rotate(0deg);
		}
	}
	&:hover, &:focus {
		background: none;
		svg {
			g:not(.path) > path, .path {
				transform: rotate(180deg);
			}
			path {
				stroke: $slate;
			}
		}
		&:before {
			transform: scale(1);
		}
	}
	&:active {
		&:before {
			background: lighten($slate, 15%);
		}
		svg {
			circle {
				stroke: lighten($slate, 15%);
			}
			path {
				stroke: white;
			}
		}
	}
	&.close {
		svg {
			transform: rotate(225deg);
		}
		&:hover, &:focus {
			svg {
				transform: rotate(45deg);
			}
		}
	}
}
