@import '../mixin';

// images
.figure-image {
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: 2px;
	overflow: hidden;
	img {
		display: block;
		max-width: 100%;
	}
	.figure-loading {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: lighten($slate, 55%);
		border-radius: 2px;
		svg {
			display: block;
			width: 100px;
			height: 100px;
			.photo {
				rect {
					transform-origin: center center;
					transform: rotate(180deg);
					stroke-dasharray: 280;
				}
				circle {
					stroke-dasharray: 37.7;
				}
				path {
					stroke-dasharray: 157.8;
				}
				&:nth-child(1) {
					stroke-opacity: 0.25;
				}
			}
			.broken {
				path {
					opacity: 0;
					&:nth-child(1) {
						stroke-dasharray: 109.8;
					}
					&:nth-child(2) {
						stroke-dasharray: 109.8;
					}
					&:nth-child(3) {
						stroke-dasharray: 117.8;
					}
					&:nth-child(4) {
						stroke-dasharray: 117.8;
					}
				}
			}
		}
	}
}

// dashboard ticket
.ticket-slider-container {
	@include flex;
	@include flex-center;
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 500px;
}
.ticket-slider-inside {
	padding: 15px 0 15px 15px;
	height: 100%;
	width: 100%;
	position: relative;
	.ticket-slider-content {
		position: absolute;
		left: calc(10% + 7.5px);
		top: 10%;
		width: 80%;
		height: 80%;
		border-radius: 5px;
		text-align: center;
		.ticket-slider-content-inside {
			@include flex;
			@include flex-wrap;
			justify-content: center;
			padding: 15px;
			width: 100%;
			height: 100%;
			h1, h2 {
				align-self: flex-start;
				text-align: center;
				padding: 0;
				margin: 0!important;
			}
			h1 {
				font-size: 32px;
				font-weight: 900;
			}
			h2 {
				font-size: 20px;
				font-weight: 600;
			}
			.ticket-slider-guru-bar {
				@include flex;
				@include flex-center;
				align-self: center;
				padding: 0 7.5px;
				width: 100%;
				> li {
					padding: 0 7.5px;
					.pf-card-mini {
						background: $smoke;
						color: $slate;
						.user-icon {
							border-color: $smoke;
							width: 48px;
							height: 48px;
						}
						.pf-name {
							font-size: 14px;
							font-weight: 600;
						}
						.rating-stars {
							max-width: 70px;
						}
					}
				}
			}
			.ticket-slider-icon-bar {
				@include flex;
				@include flex-center;
				align-self: center;
				padding: 0 7.5px;
				> li {
					padding: 0 7.5px;
					span {
						display: block;
						width: 100%;
						font-size: 16px;
						font-weight: 600;
						line-height: 1.2;
						text-align: center;
						text-transform: uppercase;
						+ span {
							margin-top: 5px;
						}
					}
					svg {
						@include round;
						display: block;
						width: 100%;
						max-width: 90px;
						margin: 0 auto;
						padding: 5px;
						* {
							@include svg-stroke(white, 3);
						}
					}
					&.academic {
						svg {
							background: $cerise;
						}
					}
					&.baking {
						svg {
							background: $gold;
						}
					}
					&.photography {
						svg {
							background: $moola;
						}
					}
					&.household {
						svg {
							background: $cobalt;
						}
					}
					&.tech {
						svg {
							background: $azure;
						}
					}
				}
			}
			.ticket-slider-icon {
				align-self: center;
				display: block;
				margin: 0 auto;
				svg {
					display: block;
					margin: 0 auto;
					width: 100%;
					max-height: 150px;
				}
			}
			button {
				align-self: flex-end;
				display: inline-block;
				max-width: 75%;
			}
		}
	}
	.ticket-slider-bg {
		position: relative;
		width: 100%;
		height: 100%;
		div {
			margin: 0 auto;
			width: calc(100% - 10px);
			height: 100%;
		}
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100%;
			width: 20%;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.guru {
		.ticket-slider-content {
			border: 3px solid $shamrock;
			background: $slate;
			.ticket-slider-inside {
				.ticket-slider-icon {
					svg {
						*[stroke="#000000"] {
							stroke: white!important;
						}
					}
				}
			}
		}
		.ticket-slider-bg {
			div {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="-10" y="0" width="56" height="409" fill="#4C6866"></rect><path d="M-10,2 L46,2" stroke="#69B3A5" stroke-width="4" stroke-linejoin="round"></path><path d="M-10,407 L46,407" stroke="#69B3A5" stroke-width="4" stroke-linejoin="round"></path></svg>') repeat-x center center / contain;
			}
			&:before {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="0" y="0" width="34" height="409" fill="#40484b"></rect><path d="M36,407 L3.99412338,407 C2.89279945,407 2,406.108128 2,405.000234 L2,396.990533 C8.29898987,397 13,393.19442 13,388.5 C13,383.80558 7.79898987,379.939941 2,379.939941 C2,379.939941 2,359.990533 2,359.990533 C8.29898987,360 13,356.19442 13,351.5 C13,346.80558 8.29898987,343 2,343 C2,343 2,322.990533 2,322.990533 C8.29898987,323 13,319.19442 13,314.5 C13,309.80558 8.29898987,306 2,306 C2,306 2,285.990533 2,285.990533 C8.29898987,286 13,282.19442 13,277.5 C13,272.80558 8.29898987,269 2,269 C2,269 2,253.974615 2,253.974615 C20.8892618,245.26673 34,226.164453 34,204 C34,181.835547 20.8892618,162.73327 2,154.025385 L2,139.990533 C8.29898987,140 13,136.19442 13,131.5 C13,126.80558 8.29898987,123 2,123 C2,123 2,102.990533 2,102.990533 C8.29898987,103 13,99.1944204 13,94.5 C13,89.8055796 8.29898987,86 2,86 C2,86 2,65.9905325 2,65.9905325 C8.29898987,66 13,62.1944204 13,57.5 C13,52.8055796 8.29898987,49 2,49 C2,49 2,28.9905325 2,28.9905325 C8.29898987,29 13,25.1944204 13,20.5 C13,15.8055796 8.29898987,12 2,12 C2,12 2,3.99976626 2,3.99976626 C2,2.89532585 2.8859604,2 3.99412338,2 L36,2" stroke-width="4" stroke="#69B3A5" fill="#4C6866"></path></svg>') no-repeat center left / contain;
			}
			&:after {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="2" y="0" width="34" height="409" fill="#40484b"></rect><path d="M-4.78479478e-10,407 L32.0058766,407 C33.1072005,407 34,406.108128 34,405.000234 L34,396.990533 C27.7010101,397 23,393.19442 23,388.5 C23,383.80558 28.2010101,379.939941 34,379.939941 C34,379.939941 34,359.990533 34,359.990533 C27.7010101,360 23,356.19442 23,351.5 C23,346.80558 27.7010101,343 34,343 C34,343 34,322.990533 34,322.990533 C27.7010101,323 23,319.19442 23,314.5 C23,309.80558 27.7010101,306 34,306 C34,306 34,285.990533 34,285.990533 C27.7010101,286 23,282.19442 23,277.5 C23,272.80558 27.7010101,269 34,269 C34,269 34,253.974615 34,253.974615 C15.1107382,245.26673 2,226.164453 2,204 C2,181.835547 15.1107382,162.73327 34,154.025385 L34,139.990533 C27.7010101,140 23,136.19442 23,131.5 C23,126.80558 27.7010101,123 34,123 C34,123 34,102.990533 34,102.990533 C27.7010101,103 23,99.1944204 23,94.5 C23,89.8055796 27.7010101,86 34,86 C34,86 34,65.9905325 34,65.9905325 C27.7010101,66 23,62.1944204 23,57.5 C23,52.8055796 27.7010101,49 34,49 C34,49 34,28.9905325 34,28.9905325 C27.7010101,29 23,25.1944204 23,20.5 C23,15.8055796 27.7010101,12 34,12 C34,12 34,3.99976626 34,3.99976626 C34,2.89532585 33.1140396,2 32.0058766,2 L-4.78479478e-10,2" stroke-width="4" stroke="#69B3A5" fill="#4C6866"></path></svg>') no-repeat center right / contain;
			}
		}
	}
	&.student {
		.ticket-slider-content {
			border: 3px solid #F1B99D;
			background: white;
			.ticket-slider-inside {
				.ticket-slider-icon {
					svg {
						*[stroke="#000000"] {
							stroke: $slate!important;
						}
					}
				}
			}
		}
		.ticket-slider-bg {
			div {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="-10" y="0" width="56" height="409" fill="#FEF9F7"></rect> <path d="M-10,2 L46,2" stroke="#F1B99D" stroke-width="4" stroke-linejoin="round"></path> <path d="M-10,407 L46,407" stroke="#F1B99D" stroke-width="4" stroke-linejoin="round"></path></svg>') repeat-x center center / contain;
			}
			&:before {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="0" y="0" width="34" height="409" fill="#f1f1f1"></rect><path d="M36,407 L3.99412338,407 C2.89279945,407 2,406.108128 2,405.000234 L2,396.990533 C8.29898987,397 13,393.19442 13,388.5 C13,383.80558 7.79898987,379.939941 2,379.939941 C2,379.939941 2,359.990533 2,359.990533 C8.29898987,360 13,356.19442 13,351.5 C13,346.80558 8.29898987,343 2,343 C2,343 2,322.990533 2,322.990533 C8.29898987,323 13,319.19442 13,314.5 C13,309.80558 8.29898987,306 2,306 C2,306 2,285.990533 2,285.990533 C8.29898987,286 13,282.19442 13,277.5 C13,272.80558 8.29898987,269 2,269 C2,269 2,253.974615 2,253.974615 C20.8892618,245.26673 34,226.164453 34,204 C34,181.835547 20.8892618,162.73327 2,154.025385 L2,139.990533 C8.29898987,140 13,136.19442 13,131.5 C13,126.80558 8.29898987,123 2,123 C2,123 2,102.990533 2,102.990533 C8.29898987,103 13,99.1944204 13,94.5 C13,89.8055796 8.29898987,86 2,86 C2,86 2,65.9905325 2,65.9905325 C8.29898987,66 13,62.1944204 13,57.5 C13,52.8055796 8.29898987,49 2,49 C2,49 2,28.9905325 2,28.9905325 C8.29898987,29 13,25.1944204 13,20.5 C13,15.8055796 8.29898987,12 2,12 C2,12 2,3.99976626 2,3.99976626 C2,2.89532585 2.8859604,2 3.99412338,2 L36,2" stroke-width="4" stroke="#F1B99D" fill="#FEF9F7"></path></svg>') no-repeat center left / contain;
			}
			&:after {
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 36 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="2" y="0" width="34" height="409" fill="#f1f1f1"></rect><path d="M-4.78479478e-10,407 L32.0058766,407 C33.1072005,407 34,406.108128 34,405.000234 L34,396.990533 C27.7010101,397 23,393.19442 23,388.5 C23,383.80558 28.2010101,379.939941 34,379.939941 C34,379.939941 34,359.990533 34,359.990533 C27.7010101,360 23,356.19442 23,351.5 C23,346.80558 27.7010101,343 34,343 C34,343 34,322.990533 34,322.990533 C27.7010101,323 23,319.19442 23,314.5 C23,309.80558 27.7010101,306 34,306 C34,306 34,285.990533 34,285.990533 C27.7010101,286 23,282.19442 23,277.5 C23,272.80558 27.7010101,269 34,269 C34,269 34,253.974615 34,253.974615 C15.1107382,245.26673 2,226.164453 2,204 C2,181.835547 15.1107382,162.73327 34,154.025385 L34,139.990533 C27.7010101,140 23,136.19442 23,131.5 C23,126.80558 27.7010101,123 34,123 C34,123 34,102.990533 34,102.990533 C27.7010101,103 23,99.1944204 23,94.5 C23,89.8055796 27.7010101,86 34,86 C34,86 34,65.9905325 34,65.9905325 C27.7010101,66 23,62.1944204 23,57.5 C23,52.8055796 27.7010101,49 34,49 C34,49 34,28.9905325 34,28.9905325 C27.7010101,29 23,25.1944204 23,20.5 C23,15.8055796 27.7010101,12 34,12 C34,12 34,3.99976626 34,3.99976626 C34,2.89532585 33.1140396,2 32.0058766,2 L-4.78479478e-10,2" stroke-width="4" stroke="#F1B99D" fill="#FEF9F7"></path></svg>') no-repeat center right / contain;
			}
		}
	}
}

// banner-fold
.banner-fold {
	@include flex;
	align-items: flex-start;
	align-content: flex-start;
	> svg {
		width: 85px;
		height: 99px;
	}
	div {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		height: 84px;
		padding: 0 15px;
		h1 {
			font-size: 24px;
			font-weight: 600;
		}
	}
}

// verified
.verified {
	@include flex;
	@include flex-center;
	span {
		svg {
			display: inline-block!important;
			margin-left: 5px;
			width: 20px;
			height: 20px;
			path:first-child {
				fill: $lake;
			}
		}
	}
}

// wallet
.wallet-container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 260px;
	max-height: 195px;
	.wallet {
		width: 100%;
		height: 100%;
	}
	div {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		height: 100%;
		width: 230px;
		h1 {
			font-size: 28px;
			font-weight: 600;
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
		}
		button {
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			height: 52px;
			border-radius: 2px;
			background: white;
			font-size: 18px;
			color: $moxie;
			&:hover, &:focus {
				background: $taupe;
				color: white;
			}
			&:active {
				background: #A09684;
			}
		}
	}
}

/* ---------- MISC */
// ribbon edges
[class*="ribbon-"] {
	@include flex;
	@include flex-center;
	position: relative;
	font-weight: 600;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
	}
	&[class*="-left"] {
		padding-right: 15px;
		&:after {
			display: none;
		}
	}
	&[class*="-right"] {
		padding-left: 15px;
		&:before {
			display: none;
		}
	}
	&[class*="ribbon-32"] {
		height: 32px;
		font-size: 18px;
		&:before, &:after {
			border: 16px solid;
			border-left-width: 12px;
			border-right-width: 12px;
		}
		&:before {
			left: -24px;
		}
		&:after {
			right: -24px;
		}
	}
	&[class*="ribbon-48"] {
		height: 48px;
		font-size: 24px;
		&:before, &:after {
			border: 24px solid;
			border-left-width: 16px;
			border-right-width: 16px;
		}
		&:before {
			left: -32px;
		}
		&:after {
			right: -32px;
		}
	}
	&[class*="ribbon-64"] {
		height: 64px;
		font-size: 28px;
		&:before, &:after {
			border: 32px solid;
			border-left-width: 24px;
			border-right-width: 24px;
		}
		&:before {
			left: -48px;
		}
		&:after {
			right: -48px;
		}
	}
	&.bg-charcoal {
		&:before, &:after {
			border-color: $charcoal;
		}
	}
	&.bg-slate {
		&:before, &:after {
			border-color: $slate;
		}
	}
	&.bg-taupe {
		&:before, &:after {
			border-color: $taupe;
		}
	}
	&.bg-campus {
		&:before, &:after {
			border-color: $campus;
		}
	}
	&.bg-smoke {
		color: $slate;
		&:before, &:after {
			border-color: $smoke;
		}
	}
	&.bg-white {
		color: $slate;
		&:before, &:after {
			border-color: white;
		}
	}
	&.bg-shamrock {
		&:before, &:after {
			border-color: $shamrock;
		}
	}
	&.bg-robin {
		background: $robin;
		&:before, &:after {
			border-color: $robin;
		}
	}
	&.bg-lake {
		&:before, &:after {
			border-color: $lake;
		}
	}
	&.bg-moxie {
		&:before, &:after {
			border-color: $moxie;
		}
	}
	&.bg-crimson {
		&:before, &:after {
			border-color: $crimson;
		}
	}
	&.bg-auburn, &.bg-delivery {
		background: $auburn;
		&:before, &:after {
			border-color: $auburn;
		}
	}
	&.bg-orange, &.bg-freelancing {
		background: $orange;
		&:before, &:after {
			border-color: $orange;
		}
	}
	&.bg-gold, &.bg-baking {
		background: $gold;
		&:before, &:after {
			border-color: $gold;
		}
	}
	&.bg-moola, &.bg-photography {
		background: $moola;
		&:before, &:after {
			border-color: $moola;
		}
	}
	&.bg-azure, &.bg-tech {
		background: $azure;
		&:before, &:after {
			border-color: $azure;
		}
	}
	&.bg-cobalt, &.bg-household {
		background: $cobalt;
		&:before, &:after {
			border-color: $cobalt;
		}
	}
	&.bg-eggplant, &.bg-athletic {
		background: $eggplant;
		&:before, &:after {
			border-color: $eggplant;
		}
	}
	&.bg-cerise, &.bg-academic {
		background: $cerise;
		&:before, &:after {
			border-color: $cerise;
		}
	}
	&:before {
		border-left-color: transparent!important;
	}
	&:after {
		border-right-color: transparent!important;
	}
}

.svg-pennant {
	animation-duration: 500ms;
	height: 182px;
}

// projector slide
.projector-slide {
	position: relative;
	width: 90%!important;
	height: 80%;
	max-width: 900px;
	max-height: 600px;
	@media screen and (min-height: 900px) {
		max-width: 1080px;
		max-height: 720px;
	}
	.projector-top {
		position: absolute;
		top: .2%;
		left: .8%;
		width: 98.4%;
		height: 3.3%;
		border: 2px solid white;
		background: rgba($slate, .95);
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			border: 2px solid white;
			border-radius: 2px;
			top: -20%;
			width: 1%;
			min-width: 9px;
			height: 140%;
			background: $slate;
		}
		&:before {
			left: -1%;
		}
		&:after {
			right: -1%;
		}
	}
	.projector-line {
		position: absolute;
		left: 50%;
		margin-left: -1px;
		top: -196px;
	}
	.projector-content {
		position: absolute;
		top: 3.2%;
		left: 2%;
		width: 96%;
		height: 96.2%;
		border: 2px solid white;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background: rgba($slate, .95);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		.projector-guru {
			position: absolute;
			top: -75px;
			left: 50%;
			margin-left: -75px;
			width: 150px;
			height: 150px;
			.user-icon {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				margin-top: -48px;
				margin-left: -48px;
				width: 96px;
				height: 96px;
				border-width: 3px;
			}
			.guru-head {
				@include flex;
				@include flex-center;
				z-index: 2;
				position: absolute;
				left: 0;
				top: 0;
				@media screen and (max-width: 320px) {
					transform: scale(0.75);
				}
				.guru-head {
					transform: rotate(-7deg);
					transform-origin: center center
				}
			}
			.coach {
				transition: all 150ms ease-in-out;
				position: absolute;
				top: -30px;
				right: -90px;
				&:not(.active) {
					@include opacity(0);
				}
			}
		}
	}
	.projector-handle {
		transition: all 150ms ease-in-out;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -30.5px;
	}
}

// postits
.postit {
	position: relative;
	margin: auto;
	overflow: hidden;
	.square {
		display: block;
		width: 100%;
		height: auto;
		fill: none;
	}
	> div {
		@include flex;
		@include flex-center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border: 2px solid white;
		border-radius: 2px;
		background: rgba(lighten($slate, 5%), .9);
		padding: 15px;
		text-align: center;
		&:hover {
			span {
				svg {
					animation-name: opacity-scale;
					animation-iteration-count: infinite;
					* {
						animation-iteration-count: infinite;
					}
					path[opacity="0.5"]:not([stroke]), circle[opacity="0.5"] {
						animation-name: opacity-pulse;
					}
					path[opacity="0.5"][stroke], path.special[opacity="0.5"]:not([stroke]) {
						animation-name: opacity-pulse-stroke;
					}
				}
			}
		}
		span {
			@include round;
			display: block;
			position: relative;
			z-index: 9;
			margin: 0 auto;
			width: 96px;
			height: 96px;
			svg {
				animation-fill-mode: forwards;
				transition: all .3s ease-in-out;
				animation-duration: .9s;
				transform-origin: center center;
				display: block;
				width: 100%;
				height: 100%;
				* {
					animation-fill-mode: forwards;
					transition: all .3s ease-in-out;
					animation-duration: .9s;
					transform-origin: center center;
				}
				&.animate {
					animation-name: opacity-scale;
					animation-iteration-count: 1;
					* {
						animation-iteration-count: 1;
					}
					path[opacity="0.5"]:not([stroke]), circle[opacity="0.5"] {
						animation-name: opacity-pulse;
					}
					path[opacity="0.5"][stroke], path.special[opacity="0.5"]:not([stroke]) {
						animation-name: opacity-pulse-stroke;
					}
				}
			}
		}
		h1 {
			max-height: 24px!important;
			overflow: hidden!important;
			font-size: 20px;
			font-weight: 600;
		}
		p {
			max-height: 38px!important;
			overflow: hidden!important;
			margin: 5px 0;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
.tape {
	transition: all .3s ease-in-out;
	animation-fill-mode: forwards;
	animation-duration: .6s;
	animation-iteration-count: 1;
	transform-origin: center;
	display: block;
	position: absolute;
	z-index: 40;
	width: 30px;
	height: auto;
	path {
		fill: rgba(white, .4);
	}
}
