@import 'mixin';

.playing-card-stack-enter {
	animation: playing-card-stack-enter 2000ms linear forwards;
}

.playing-card-stack-rotate {
	animation: playing-card-stack-rotate 2000ms linear forwards;
}

.playing-card-drop {
	animation: playing-card-drop 2000ms linear forwards;
}

.playing-card-rotate {
	animation: playing-card-rotate 200ms linear forwards;
}

@keyframes playing-card-rotate {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  33.3333% { transform: rotateX(45.9deg) rotateY(2.55deg); }
  66.6667% { transform: rotateX(75.6deg) rotateY(4.2deg); }
  100% { transform: rotateX(90deg) rotateY(5deg); }
}

@keyframes playing-card-drop {
  0% { transform: translate3d(0px, 0px, 0px); }
  6.25% { transform: translate3d(0px, 34.92px, 0px); }
  12.5% { transform: translate3d(0px, 67.68px, 0px); }
  18.75% { transform: translate3d(0px, 98.28px, 0px); }
  25% { transform: translate3d(0px, 126.72px, 0px); }
  31.25% { transform: translate3d(0px, 153px, 0px); }
  37.5% { transform: translate3d(0px, 177.12px, 0px); }
  43.75% { transform: translate3d(0px, 199.08px, 0px); }
  50% { transform: translate3d(0px, 218.88px, 0px); }
  56.25% { transform: translate3d(0px, 236.52px, 0px); }
  62.5% { transform: translate3d(0px, 252px, 0px); }
  68.75% { transform: translate3d(0px, 265.32px, 0px); }
  75% { transform: translate3d(0px, 276.48px, 0px); }
  81.25% { transform: translate3d(0px, 285.48px, 0px); }
  87.5% { transform: translate3d(0px, 292.32px, 0px); }
  93.75% { transform: translate3d(0px, 297px, 0px); }
  100% { transform: translate3d(0px, 300px, 0px); }
}

@keyframes playing-card-stack-enter {
  0% { transform: translate3d(-600px, -300px, 0px); }
  6.25% { transform: translate3d(-530.16px, -300px, 0px); }
  12.5% { transform: translate3d(-464.64px, -300px, 0px); }
  18.75% { transform: translate3d(-403.44px, -300px, 0px); }
  25% { transform: translate3d(-346.56px, -300px, 0px); }
  31.25% { transform: translate3d(-294px, -300px, 0px); }
  37.5% { transform: translate3d(-245.76px, -300px, 0px); }
  43.75% { transform: translate3d(-201.84px, -300px, 0px); }
  50% { transform: translate3d(-162.24px, -300px, 0px); }
  56.25% { transform: translate3d(-126.96px, -300px, 0px); }
  62.5% { transform: translate3d(-96px, -300px, 0px); }
  68.75% { transform: translate3d(-69.36px, -300px, 0px); }
  75% { transform: translate3d(-47.04px, -300px, 0px); }
  81.25% { transform: translate3d(-29.04px, -300px, 0px); }
  87.5% { transform: translate3d(-15.36px, -300px, 0px); }
  93.75% { transform: translate3d(-6px, -300px, 0px); }
  100% { transform: translate3d(-0.96px, -300px, 0px); }
}

@keyframes playing-card-stack-rotate {
  0% { transform: rotateY(-180deg); }
  6.25% { transform: rotateY(-168.36deg); }
  12.5% { transform: rotateY(-157.44deg); }
  18.75% { transform: rotateY(-147.24deg); }
  25% { transform: rotateY(-137.76deg); }
  31.25% { transform: rotateY(-129deg); }
  37.5% { transform: rotateY(-120.96deg); }
  43.75% { transform: rotateY(-113.64deg); }
  50% { transform: rotateY(-107.04deg); }
  56.25% { transform: rotateY(-101.16deg); }
  62.5% { transform: rotateY(-96deg); }
  68.75% { transform: rotateY(-91.56deg); }
  75% { transform: rotateY(-87.84deg); }
  81.25% { transform: rotateY(-84.84deg); }
  87.5% { transform: rotateY(-82.56deg); }
  93.75% { transform: rotateY(-81deg); }
  100% { transform: rotateY(-80deg); }
}

.playing-card-container {
	position: relative;
	width: 125px;
	height: 175px;
	transform-origin: center center;
	transform-style: preserve-3d;
	.playing-card {
		position: absolute;
		top: 0;
		left: 0;
		&:nth-child(odd) {
			background: $smoke;
		}
	}
}
.playing-card {
	width: 125px;
	height: 175px;
	transform-origin: center center;
	transform-style: preserve-3d;
	* {
		transform-origin: center center;
		transform-style: preserve-3d;
	}
	> div {
		width: 100%;
		height: 100%;
		background: white;
		border-radius: 10px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
.play-heart {
	.diamond, .spade, .club {
		display: none;
	}
	text {
		fill: $auburn;
	}
}
.play-diamond {
	.heart, .spade, .club {
		display: none;
	}
	text {
		fill: $auburn;
	}
}
.play-spade {
	.diamond, .heart, .club {
		display: none;
	}
	text {
		fill: $slate;
	}
}
.play-club {
	.diamond, .spade, .heart {
		display: none;
	}
	text {
		fill: $slate;
	}
}
