@import '../../../../../shared/css/scss/partials/mixin';
@import 'responsive';

.adlib-header-container {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	.adlib-header {
		position: relative;
		* {
			transform-origin: center center;
		}
	}
}

.tag-adlib:not(.blank):not(.ghost) {
	i {
		display: block;
		font-style: normal;
		transition: all 600ms cubic-bezier(.77,0,.05,1);
		transition: all 600ms cubic-bezier(.77,-0.22,.05,1.27);
	}
	&:hover {
		i {
			transform: scale(1.05)!important;
		}
	}
}

.splash-hero-content {
	@include flex;
	@include flex-wrap;
	@include flex-center;
	position: relative;
	z-index: 3;
	width: 100%;
	&.pane {
		background: $slate;
		margin-bottom: 0;
		height: 100%;
	}
	&.active {
		transition-duration: 1000ms;
		transition-timing-function: ease-in-out;
		transition-delay: 200ms;
		transform: translateY(-55%) scale(.75);
	}
	.splash-adlib {
		width: 100%;
		h1 {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			font-size: 28px;
			font-weight: 600;
			a {
				margin: 0 15px;
			}
		}
		.splash-mobile-cta {
			margin: 0 15px;
			background: $shamrock;
			height: 54px;
			width: calc(100% - 30px);
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			&:not(.bounceInUp) {
				visibility: hidden;
			}
		}
		ul {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			margin: 15px auto;
			padding: 7.5px;
			width: 100%;
			li {
				width: 143px;
				padding: 7.5px;
				@media screen and (max-width: 320px) {
					width: 111px;
				}
				@media screen and (max-height: 568px) {
					&:nth-child(4), &:nth-child(8) {
						display: none;
					}
				}
				a[class*="translate-blank"] {
					animation: none!important;
				}
			}
		}
	}
}

.splash-guru-head {
	width: 150px;
	position: relative;
	> svg {
		position: absolute;
	}
	.splash-hero-guru {
		position: relative;
		width: 150px;
		height: 150px;
		.guru-head-switcher {
			position: absolute;
			top: 50%;
			margin-top: -100px;
			left: 50%;
			margin-left: -100px;
			width: 200px;
			height: 200px;
		}
	}
	.coach-help {
		&.coach-help-desktop {
			display: none;
			top: -40px;
			left: -160px;
			width: 170px;
		}
		&.coach-help-mobile {
			top: -10px;
			left: -90px;
			width: 114.5px;
		}
	}
}

.coach-fill {
	top: 115px;
	right: -100px;
	width: 140px;
	path {
		&:nth-child(1) {
			stroke-dasharray: 137;
		}
		&:nth-child(2) {
			stroke-dasharray: 53;
		}
	}
}

@media screen and (max-width: 768px) {
	.splash-hero-content {
		.splash-adlib {
			h1 {
				line-height: 2;
			}
			ul {
				margin: -10px 0 5px;
				flex-direction: column;
				height: 250px;
			}
		}
	}
}

@media screen and (max-height: 736px) and (max-width: 414px) {
	.coach-fill {
		top: 85px;
		right: -80px;
		width: 105px;
	}
	.splash-guru-head {
		margin-top: 20px;
		margin-bottom: 10px;
		width: 120px;
		.splash-hero-guru {
			width: 120px;
			height: 120px;
			.guru-head-switcher {
				margin-top: -80px;
				margin-left: -80px;
				width: 160px;
				height: 160px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.splash-hero-content {
		.splash-adlib {
			ul {
				height: 200px;
			}
		}
	}
}
@media screen and (max-height: 568px) {
	.coach-fill {
		top: 75px;
	}
	.splash-hero-content {
		margin-top: -20px;
		.splash-guru-head {
			margin-top: 0;
			margin-bottom: -5px;
		}
		.splash-adlib {
			ul {
				height: 150px;
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.splash-hero-content {
		.splash-adlib {
			h1 {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.splash-hero-content {
		.splash-adlib h1 {
			line-height: 1.75!important;
		}
	}
}
