@import '../../../../../shared/css/scss/partials/mixin';
@import 'responsive';

// animation
.splash-adlib {
	ul {
		li {
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					animation-delay: #{850ms + $i*150ms};
				}
			}
		}
	}
}

.tag-adlib rect.spread-out {
	stroke-dasharray: 701;
	stroke-dashoffset: -701;
	animation: adlib-header-stroke 750ms cubic-bezier(.17,.67,.12,1) 1000ms both;
}

.adlib-tag.spread-out {
	&:nth-child(1) {
		animation: spread-out-tag-mobile-left 1000ms linear 1500ms 1 both;
	}
	&:nth-child(2) {
		animation: spread-out-tag-mobile-left 1000ms linear 1550ms 1 both;
	}
	&:nth-child(3) {
		animation: spread-out-tag-mobile-left 1000ms linear 1600ms 1 both;
	}
	&:nth-child(4) {
		animation: spread-out-tag-mobile-left 1000ms linear 1650ms 1 both;
	}
	&:nth-child(5) {
		animation: spread-out-tag-mobile-right 1000ms linear 1500ms 1 both;
	}
	&:nth-child(6) {
		animation: spread-out-tag-mobile-right 1000ms linear 1550ms 1 both;
	}
	&:nth-child(7) {
		animation: spread-out-tag-mobile-right 1000ms linear 1600ms 1 both;
	}
	&:nth-child(8) {
		animation: spread-out-tag-mobile-right 1000ms linear 1650ms 1 both;
	}
}
.adlib-tag.spread-in {
	.tag-adlib.active {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)!important;
	}
	&:nth-child(1) {
		animation: spread-in-tag-mobile-left 1000ms linear 650ms both;
	}
	&:nth-child(2) {
		animation: spread-in-tag-mobile-left 1000ms linear 600ms both;
	}
	&:nth-child(3) {
		animation: spread-in-tag-mobile-left 1000ms linear 550ms both;
	}
	&:nth-child(4) {
		animation: spread-in-tag-mobile-left 1000ms linear 500ms both;
	}
	&:nth-child(5) {
		animation: spread-in-tag-mobile-right 1000ms linear 650ms both;
	}
	&:nth-child(6) {
		animation: spread-in-tag-mobile-right 1000ms linear 600ms both;
	}
	&:nth-child(7) {
		animation: spread-in-tag-mobile-right 1000ms linear 550ms both;
	}
	&:nth-child(8) {
		animation: spread-in-tag-mobile-right 1000ms linear 500ms both;
	}
}

.adlib-tag.click-two {
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	.tag-adlib.ghost.fadeOut {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		animation: fadeOut 1000ms ease-in-out 1850ms both;
	}
	&:nth-child(1) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-left 1000ms linear 650ms both;
		}
	}
	&:nth-child(2) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-left 1000ms linear 600ms both;
		}
	}
	&:nth-child(3) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-left 1000ms linear 550ms both;
		}
	}
	&:nth-child(4) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-left 1000ms linear 500ms both;
		}
	}
	&:nth-child(5) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-right 1000ms linear 650ms both;
		}
	}
	&:nth-child(6) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-right 1000ms linear 600ms both;
		}
	}
	&:nth-child(7) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-right 1000ms linear 550ms both;
		}
	}
	&:nth-child(8) {
		.tag-adlib:first-child:not(.active) {
			animation: spread-in-tag-mobile-right 1000ms linear 500ms both;
		}
	}
}

.splash-hero-guru.map-transition {
	animation: guru-rotateOut 1250ms linear 500ms both;
	.guru-head-eyebrows {
		animation: eyebrows 150ms ease-in-out 250ms 6 alternate;
		transform-origin: center bottom;
	}
}

.splash-adlib.map-transition {
	animation: adlib-translateUp 500ms cubic-bezier(.77,0,.05,1) both;
	animation: adlib-translateUp 500ms cubic-bezier(.77,-0.22,.05,1.27) both;
}

// static
.adlib-header-container {
	position: relative;
	overflow: hidden;
	height: 98px;
	max-width: 500px;
	margin: 0 auto;
	.adlib-header {
		position: relative;
		* {
			transform-origin: center center;
		}
	}
}
.tag-adlib:not(.blank):not(.ghost) {
	i {
		display: block;
		font-style: normal;
		transition: all 600ms cubic-bezier(.77,0,.05,1);
		transition: all 600ms cubic-bezier(.77,-0.22,.05,1.27);
	}
	&:hover {
		i {
			transform: scale(1.05)!important;
		}
	}
}

.splash-hero-content {
	@include flex;
	@include flex-wrap;
	@include flex-center;
	position: relative;
	z-index: 3;
	width: 100%;
	margin-bottom: 75px;
	&.pane {
		background: $slate;
		margin-bottom: 0;
		height: 100%;
	}
	&.active {
		transition-duration: 1000ms;
		transition-timing-function: ease-in-out;
		transition-delay: 200ms;
		transform: translateY(-55%) scale(.75);
	}
	.splash-adlib {
		width: 100%;
		h1 {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			font-size: 28px;
			font-weight: 600;
			a {
				margin: 0 15px;
			}
		}
		.splash-mobile-cta {
			margin: 0 15px;
			background: $shamrock;
			height: 54px;
			width: calc(100% - 30px);
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			&:not(.bounceInUp) {
				visibility: hidden;
			}
		}
		ul {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			margin: 15px auto;
			padding: 7.5px;
			width: 100%;
			&.a {
				li {
					a {
						pointer-events: none!important;
					}
				}
			}
			li {
				width: 143px;
				padding: 7.5px;
				a[class*="translate-blank"] {
					animation: none!important;
				}
			}
		}
	}
}

.splash-guru-head {
	width: 150px;
	position: relative;
	> svg {
		position: absolute;
	}
	.coach-help {
		&.coach-help-desktop {
			display: none;
			top: -40px;
			left: -160px;
			width: 170px;
		}
		&.coach-help-mobile {
			top: -10px;
			left: -90px;
			width: 114.5px;
		}
	}
}

.coach-fill {
	top: 85px;
	right: -100px;
	width: 140px;
	path {
		&:nth-child(1) {
			stroke-dasharray: 137;
		}
		&:nth-child(2) {
			stroke-dasharray: 53;
		}
	}
}

@media screen and (max-width: 768px) {
	.splash-hero-content {
		.splash-hero-guru {
			margin-bottom: 10px;
		}
		.splash-adlib {
			margin-top: -10px;
			h1 {
				line-height: 1.75;
			}
			ul {
				margin: -10px 0 5px;
				flex-direction: column;
				height: 250px;
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.splash-hero-content {
		.splash-guru-head {
			.splash-logo-guru {
				svg {
					transform: scale(.8);
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.splash-hero-content {
		transform: scale(.9);
		.splash-adlib {
			h1 {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.splash-hero-device {
		transform: scale(.8);
	}
	.splash-hero-content {
		transform: scale(.7);
		.splash-adlib h1 {
			line-height: 2!important;
		}
	}
}
