{% extends 'web/base.html' %}

{% block main_header %}
<header id='header-bar' class="bar bar-nav no-border-bottom login-header">
  <a class="icon icon-left pull-left" href='/m/settings/' data-transition='slide-out'></a>
  <h1 class="title">Account Details</h1>
</header>
{% endblock %}

{% block main_content %}

<div class="content should-hide-message-bar should-hide-tab-bar">
    <form class="input-group" id="signup-form">
        <div class='input-row'>
            <label>Full Name</label>
            <input type="text" id="name-field" value='{{user.name}}'placeholder="First name"></input>
        </div>
        <div class='input-row'>
            <label>Email</label>
            <input type="email" id="email-field" value='{{user.email}}' placeholder="Your School Email"></input>
        </div>
        <div class='input-row'>
            <label>Phone Number</label>
            <input type="text" id="phone-field" value='{{user.phone_number}}'placeholder="Phone Number">{{user.phone_number}}</input>
        </div>
    </form>
    <a class="btn btn-positive btn-block" data-user-id='{{user.id}}'data-transition='slide-in' href="#" id="account-details-link">Save</a>
    <script>

    $(document).ready(function() {

        $('#account-details-link').click(function(){

            var user_id = ($('#account-details-link').data().userId).toString();

            payload = JSON.stringify({
                account_details: true,
                name     : $('#signup-form #name-field').val(),
                email    : $('#signup-form #email-field').val(),
                phone_number : $('#signup-form #phone-field').val()
            });

            $.ajax({
                url: '/api/v1/users/' + user_id,
                type: 'PUT',
                contentType: 'application/json',
                data: payload,
                success: function(request){
                    window.PUSH({
                        transition : "slide-out",
                        url : "/m/settings/"
                    });
                },
                error: function (request) {
                    alert(request.responseJSON['errors']);
                }
            });
        });
    });
</script>
</div>

{% endblock %}
