{% extends 'web/base.html' %}
{% from 'web/macros/modals.html' import add_card_modal %}
{% set is_student = (user.id == request_dict['student']['server_id'])%}
{% set is_guru = not is_student %}

{% block main_header %}
    <header class="bar bar-nav">
        <h1 class="title">Confirm</h1>
        <a class="icon icon-left-nav pull-left" href="/m/home/" data-transition="slide-out"></a>    
    </header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-tab-bar should-hide-message-bar">
    <ul class='table-view'>
        {% if not user.customer_id %}
          <li class='table-view-cell'>
              Add Payment Method
              <a href='/m/add_payment/{{request_dict["server_id"]}}'class='btn btn-primary'>Add Card</a>
              <p> 100% Satisfaction Guranteed </p>
          </li>
        {% else %}
          <li class='table-view-cell'>
              Edit Payment
              <a href='/m/add_payment/{{request_dict["server_id"]}}' class='btn btn-link'>Edit</a>
              <p> Card **{{user.customer_last4}}</p>
          </li>
        {% endif %}
      </ul>
      {% if user.customer_id %}
        <a id='student-accept-guru-link' class='btn btn-positive btn-block'> Confirm </a>
      {% else %}
        <button class='btn btn-negative btn-block' disable> Confirm </button>
      {% endif %}
</div>
<script>
  $(document).ready(function() {
    $('#student-accept-guru-link').on('click touchstart', function() {
          
          url_components = window.location.pathname.split( '/' );
          request_id = url_components[url_components.length - 2];

          payload = JSON.stringify({
              action:'student-accept',
          });

          $.ajax({
              url: '/api/v1/requests/' + request_id,
              type: 'PUT',
              contentType: 'application/json',
              data: payload,
              success: function(request){
                  window.PUSH({
                      transition : "fade",
                      url : "/m/home/"
                  });
              },
              error: function (request) {
                  alert(request.responseJSON['errors']);
              }
          });
    });
  });
</script>
{% endblock %}
