{% extends 'web/base.html' %}

{% block main_header %}
    <header class="bar bar-nav">
    </header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-tab-bar should-hide-message-bar">  
    <ul class="table-view">
      <li class="table-view-cell media ignore-table-view-margin center">
        <br>
        <br>
        <h2 class='center'>
            Sorry! 
            <br>
            <br>
            :(
            <br>
            <br>
        <h2> 
            
        <h4>We don't have tutors for this subject</h4>
      </li>
    </ul>
    <a class='btn btn-positive btn-block' href='/m/home/' data-transition='fade'> 
        Back to Home
    </a>
</div>
{% endblock %}
