{% extends 'web/base.html' %}

{% block main_header %}

<header class="bar bar-nav"> 
  <a class="icon icon-left pull-left" href='/m/guru/' data-transition='slide-out'></a>
    <h1 class="title">Cancel {{request_dict['skill_name']}} Request</h1>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">
    <div class='content-padded'></h6>
        <form>
          <textarea id='guru-reject-description' placeholder='Please tell us why! Replying will increase your response rate!'rows="5"></textarea>
          <a data-request-id='{{request_dict["server_id"]}}' data-tutor-id='{{user.id}}' class='btn btn-positive btn-block guru-cancel-link' href='#'>
            Submit 
          </a>
        </form>
    </div>
</div>
<script>
    $('a.guru-cancel-link').click(function() {
        var request_id = ($(this).data().requestId).toString();
        var tutor_id = ($(this).data().tutorId).toString();
        
        payload = JSON.stringify({
            action:'guru-cancel',
            description:$('#guru-reject-description').val(),
            tutor_server_id: tutor_id
        });

        $.ajax({
            url: '/api/v1/requests/' + request_id,
            type: 'PUT',
            contentType: 'application/json',
            data: payload,
            success: function(request){
                window.PUSH({
                    transition : "fade",
                    url : "/m/guru/"
                });
            },
            error: function (request) {
                alert(request.responseJSON['errors']);
            }
        });
    });
</script>
{% endblock %}
