{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
  <h1 class="title">My Requests</h1>
  <a class="icon icon-left-nav pull-left" href="/m/guru/" data-transition='slide-out'></a>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-tab-bar should-hide-message-bar">
  <ul class="table-view">
    {% for _request in user.get_accepted_requests() %}
    {% set request_dict = _request.get_return_dict() %}
    <li class="table-view-cell media">
        <a class="navigate-right">
            <img class="media-object pull-left table-view-face" src="{{request_dict['student']['profile_url']}}">
            <div class="media-body">
                CS10 Session
                <p>Waiting for {{request_dict['student']['name']}} to accept</p>
            </div>
        </a>
    </li>
    {% endfor %}
  </ul>

</div><!-- /.content -->
{% endblock %}
