{% extends 'web/base.html' %}
{% from 'web/macros/request.html' import request_details_guru_waiting, guru_scheduled_session %}
{% set guru_accepted_requests = user.get_accepted_requests() %}
{% set guru_incoming_requests = user.get_guru_requests() %}
{% set scheduled_sessions = user.get_scheduled_sessions_guru() %}



{% block main_header %}
<header class="bar bar-nav">
  <a class='btn btn-link' id='profile-title-bar-icon' data-transition='fade'href='/profile/{{user.id}}'>
    <div id='guru-profile-photo' class="media-object pull-left table-view-mini-face profile-title-icon" style='background-image:url("{{user.profile_url}}")'></div>
  </a>
  <h1 class="title uguru-logo">uguru</h1>
  <a class='btn btn-link pull-right'>Help</a>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar">
  <div class='logo-container center content-padded'>
    {% if not guru_accepted_requests and not scheduled_sessions %}
      <img class="media-object guru-photo" src="/static/img/guru-new.svg">
    {% endif %}
  </div>


  <!-- guru scheduled sessions -->
  {% for _request in scheduled_sessions %}

    {{guru_scheduled_session(_request, request.MOBILE)}}

  {% endfor %}


  <!-- guru accepted sessions -->
  {% for _request in guru_accepted_requests %}

    {% set request_dict = _request.get_return_dict() %}
    {{request_details_guru_waiting(request_dict)}}

  {% endfor %}


  <!-- guru incoming requests -->
  {% if guru_incoming_requests %}
  <ul class="table-view">    
    <li class="table-view-cell">
      <a class="navigate-right" href='/m/guru/requests/' data-transition='slide-in'>
        Incoming Requests
        <span class="badge badge-negative">{{guru_incoming_requests|length}}</span>
      </a>
    </li>
  </ul>
  {% endif %}
  {% if not guru_requests and not scheduled_sessions %}
  <ul class="table-view">    
    <li class="table-view-cell">
      <a class="navigate-right" data-transition='slide-in'>
        Guru Getting-Started Guide
      </a>
    </li>
  </ul>
  {% endif %}
  {% if user.balance %}
  <ul class='table-view'>
    <li class="table-view-cell">
      <a class='navigate-right' {% if user.recipient_id %} href='/cash_out/'
      {% else %} href='/add_cash_card/home/' {% endif %} data-transition='slide-in'
      >
      Your balance: <strong> ${{user.balance}} </strong>
       <button class='btn btn-link'> Cash out  </button>
      </a>
    </li>
  </ul>
  {% endif %}
  <!-- Add flashed content -->
  {% include 'web/snippets/flash_alerts.html' %}

</div><!-- /.content -->

<script>
  $(document).ready(function() {
    $('.guru-confirm-session').on('click touchstart', function() {

        var request_id = ($(this).data().requestId).toString();
        var num_hours = parseInt($('#confirm-hours-' + request_id).val(), 10);
        var num_minutes = parseInt($('#confirm-minutes-' + request_id).val(), 10);

        payload = JSON.stringify({
            action:'guru-confirm',
            minutes: num_minutes,
            hours: num_hours
        });

        console.log(payload);
        
        $.ajax({
            url: '/api/v1/requests/' + request_id,
            type: 'PUT',
            contentType: 'application/json',
            data: payload,
            success: function(request){
                window.PUSH({
                    transition : "fade",
                    url : "/m/guru/"
                });
            },
            error: function (request) {
                alert(request.responseJSON['errors']);
            }
        });
    });

  });
</script>

{% endblock %}
