{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
    <a class="btn btn-link pull-right" data-transition='slide-in' href="#" id="login-link">
        <strong>Submit</strong>
    </a>
    <h1 class="title">uGuru Login</h1>
</header>
{% endblock %}

{% block main_content %}
<div class="content">

    <form class="input-group" id="login-form">
        <input type="email" id="email-field" placeholder="Your School Email"></input>
        <input type="password" id="password-field" placeholder="Password"></input>
    </form>

</div>

{{show_components(show_request_modal=True, show_tab_bar=True, student_mode=True, page_name='login')}}
{% endblock %}