{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
    <a class="btn btn-link pull-right" data-transition='slide-in' href="#" id="login-link">
        <strong>Submit</strong>
    </a>
    <h1 class="title">uGuru Login</h1>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">
    <h6>
        <div class='center'>
            <img src="/static/img/guru-new.svg"></img>
        </div>
    </h6>
    <form class="input-group" id="login-form" >
        <div class='input-row'>
            <label>EMAIL</label>
            <input type="email" id="email-field" placeholder="your email"></input>
        </div>
        <div class='input-row'>
            <label>PASSWORD</label>
            <input type="password" id="password-field" placeholder="Password"></input>
        </div>
    </form>
    
    <ul class='table-view'>
        <li class='table-view-cell'>
            <a class='navigate-right' href='/m/signup/' data-transition='slide-in'>
                Create an Account
            </a>
        </li>
    </ul>
    
    <a data-transition='fade' href="/m/signup/">
        <button class="btn btn-positive btn-block sign-up">Sign up</button>
    </a>
    <button class="btn btn-positive btn-block login" id="login-link">Log in</button>

</div>
{% endblock %}