{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
  <a class="icon icon-left pull-left" href="/home/" data-transition='slide-out'></a>
  <h1 class="title">Find a Guru</h1>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">
  <ul class='table-view'>
    <li class="table-view-cell ignore-table-view-margin">
      <input id='request-course' type="text" placeholder="Enter Course" />
      <textarea id='request-description' style="margin-bottom:0px;text-color:#c0c0c0;" placeholder='What do you need help with?'></textarea>
      <input id='request-phone-number' style="margin-top:0px;margin-bottom:0px;" type="text" placeholder="Your phone number" />
    </li>
    <li class="table-view-cell ignore-table-view-margin">
      <div class="media-body">
        <div class="segmented-control">
          <a class="control-item" id="request-location-in-person">In Person</a>
          <a class="control-item active" id="request-location-online">Online</a>
        </div>
      </div>
      <input id='request-location' style="margin-top:10px;margin-bottom:0px;display:none;" type="text" placeholder="Select a location" />
    </li>
    <li class="table-view-cell">
      <div id='asap-toggle' class="toggle active">
        <div class="toggle-handle"></div>
      </div>
      <p>ASAP!</p>
    </li>
    <li class="table-view-cell ignore-table-view-margin" id="request-time-selection-cell" style="display:none;">
      <input id='request-datetime' style="margin-top:0px;margin-bottom:0px;" type="text" placeholder="Choose a date and time" />
    </li>

    <li class="table-view-cell ignore-table-view-margin">
      <p style="margin-bottom:10px;">Session Length (estimated)</p>
      <div class="segmented-control" id="request-time-estimate-button-group">
        <a class="control-item" id="time-segment-1" href="#"> 15m </a>
        <a class="control-item active" id="time-segment-2" href="#"> 30m </a>
        <a class="control-item" id="time-segment-3" href="#"> 1hr </a>
        <a class="control-item" id="time-segment-4" href="#"> 2hr + </a>
      </div>
    </li>

    <li class="table-view-cell ignore-table-view-margin center">
      <span style="font-size:30;color:#ffffff;" id="request-estimated-cost">$10</span>
      <br>
      <span style="color:#c0c0c0;">estimated cost</span>
    </li>
  </ul>
  <a class="btn btn-positive btn-block" id="submit-button" href="#">
    Submit 
  </a>
  <a class="btn btn-positive btn-block" style="display:none;background-color:#3EB9BB;" id="confirm-button" href="#">
    Confirm
  </a>
</div>
{% endblock %}
