{% extends 'web/base.html' %}

{% from 'web/macros/request.html' import request_details_student, student_reject_modal, student_accept_modal, cancel_request_modal,
request_details_guru %}

{% block main_header %}
    <header class="bar bar-nav">
        <h1 class="title">{{request_dict['skill_name']}}</h1>
        <a class='icon icon-left' href='/m/guru/requests/' data-transition='slide-out'>
        </a>
    </header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-tab-bar should-hide-message-bar">
    

        {{request_details_guru(request_dict)}}


    </div>

{% endblock %}
