{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
    <a class="btn btn-link pull-right" data-transition='slide-in' href="#" id="signup-link">
        <strong>Submit</strong>
    </a>

    <a class="icon icon-left pull-left" data-transition='slide-in' href="/m/login/" id="signup-link">
    
    </a>

    <h1 class="title">uGuru Signup</h1>
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">
    <form class="input-group" id="signup-form">
        <div class='input-row'>
            <label>First</label>
            <input type="text" id="name-field" placeholder="your first name"></input>
        </div>
        <div class='input-row'>
            <label>Last</label>
            <input type="email" id="name-field-last" placeholder="your last name"></input>
        </div>
        <div class='input-row'>
            <label>Email</label>
            <input type="email" id="email-field" placeholder="Your School Email"></input>
        </div>
        <div class='input-row'>
            <label>Password</label>
            <input type="password" id="password-field" placeholder="Password"></input>
        </div>
    </form>
    <button class="btn btn-positive btn-block">How it Works</button>
</div>

{% endblock %}
