{% extends 'web/base.html' %}
{% set payment_details_dict = rating.get_payment_details_dict() %}

{% block main_header %}
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">

    <div class="rating-title">
        <p>Session Complete!</p>
    </div>
    <h6 class='center'>
            {{rating.time_created}}
    </h6>
    <div class="rating-price">
        <p><span style='font-weight:100'>$</span>27</p>
    </div>
    <div class="border-frame">
      <div class="border-line">
        <span class="border-content2">
            RATE YOUR GURU
        </span>
      </div>
    </div>
    <div class="rating-container">
        <img class="media-object rating-face pull-left" src="/static/img/face1.png">
        <div class="rating-container-texts">
            <div class="rating-name">
                <p>Bonnie Fisher</p>
            </div>
            <div class="rating-course">
                <p>BIO101</p>
            </div>
        </div>
    </div>
    <div class="border-frame">
      <div class="border-line">
      </div>
    </div>
    <div class="rating-container-starts">
        <ul class="table-ul">
          <li><span class="icon icon-star guru-rating-star black"></span></li>
          <li><span class="icon icon-star guru-rating-star black"></span></li>
          <li><span class="icon icon-star guru-rating-star black"></span></li>
          <li><span class="icon icon-star guru-rating-star black"></span></li>
          <li><span class="icon icon-star guru-rating-star black"></span></li>
        </ul>
</div>
{% endblock %}