{% extends 'web/components/base.html' %}

{% block header_scripts %}
    <link rel="stylesheet" href="/static/css/web/sidebar.css">
{% endblock %}

{% block content %}


{% include 'web/components/header.html' %}

<div class="pure-g university">
    <div class="pure-u-1">
        aww yeah. uguru is now available at {{university["local_name"]}}
    </div>
</div>

<div class="splash-container university">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-3 get-a-tutor flex-container">
                <div class="padding-1em">
                    <h2>
                        Get a tutor, <br>
                        Ace the course.
                    </h2>
                    <a href="#get-started-university" class="go-to-call-action">
                        <button href="get-started-university"class="button-positive pure-button flex-item">Get Started</button>
                    </a>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-3 university-banner flex-container">
                <img class="banner-school-specific" src="/static/img/guru-school-banner-beige.svg"/>
                <div class="banner-school-content-container flex-container">
                    <img src="/static/img/guru-logo-school-banner-01.svg"/>
                    <h2> uguru </h2>
                    <h4> {{university["name"]}} </h4>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-3 be-a-tutor flex-container">
                <div class="padding-1em">
                    <h2>
                        Make money <br>
                        tutoring today
                    </h2>
                    <a href="#get-started-university" class="go-to-call-action">
                        <button class="button-positive pure-button flex-item">Become a Guru</button>
                    </a>
                </div>
            </div>
        </div>
</div>

    <div class="content stat-container-wrapper">
        <div class="stat-container">
            <div class="stats pure-g">
                <div class="pure-u-1-2 stat pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-4">
                    <div class="padding-1em inner-stat flex-container">
                        <img class="pure-img" src="/static/img/campus-stat.svg"/>
                        </img>
                        <h2>{{university["stats"]["population"]}}</h2>
                        <p>Campus Students</p>
                    </div>
                </div>
                <div class="pure-u-1-2 stat pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-4">
                    <div class="padding-1em inner-stat">
                        <img class="pure-img" src="/static/img/dept-stat.svg"/>
                        <h2>{{university["stats"]["departments"]}}</h2>
                        <p>Supported Departments</p>
                    </div>
                </div>
                <div class="pure-u-1-2 stat pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-4">

                    <div class="padding-1em inner-stat">
                        <img class="pure-img" src="/static/img/courses-stat.svg"/>
                        <h2>{{university["stats"]["courses"]}}</h2>
                        <p>Supported Courses</p>
                    </div>

                </div>
                <div class="pure-u-1-2 stat pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-4">

                    <div class="padding-1em inner-stat">
                        <img class="pure-img" src="/static/img/star-stat.svg"/>
                        <h2><h2>{{university["stats"]["rating"]}}</h2></h2>
                        <p>Average Guru Rating</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="student-value-prop content">
        <div class="pure-g row-1">
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 flex-container" id="student-value-prop-1">
                <div class="flex-item hide-mobile">

                </div>
                <div class="flex-item padding-1em pure-img-container">
                    <h2>
                        Affordable academic help <br>
                        at your fingertips
                    </h2>
                    <h5>
                        Sessions with your perfect tutor from $3 a minute
                    </h5>
                    <img src="/static/img/phone1.png"/ class="pure-img">
                </div>
                <div class="flex-item pure-u-0">
                </div>
                <div class="flex-item pure-u-0">
                </div>
                <div class="flex-item pure-u-0">
                </div>
                <div class="flex-item pure-u-0 hide-mobile">
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 flex-container" id="student-value-prop-2">
                <div class="flex-item">

                </div>
                <div class="flex-item padding-1em pure-img-container">
                    <h2>
                        Uguru is open 24/7
                    </h2>
                    <h5>
                        No more last second freakouts the night before. <br>
                        Book a Guru this minute, or some time later this week.
                    </h5>
                    <img src="/static/img/phone2.png" class="pure-img"/>
                </div>
                <div class="flex-item pure-u-0">
                </div>
                <div class="flex-item pure-u-0">
                </div>
                <div class="flex-item pure-u-0">
                </div>
            </div>
        </div>
    </div>
    <div class="student-value-prop content">
        <div class="pure-g row-2">
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 flex-container" id="student-value-prop-3">
                <div class="flex-item padding-1em">
                    <h2>
                        Your Guru has aced <br> the same exact class
                    </h2>
                    <h5>
                        Maybe even had the same professor
                    </h5>
                    <img src="/static/img/phone3.png" class="pure-img"/>
                </div>
                <div class="flex-item padding-1em pure-u-0">
                </div>
                <div class="flex-item padding-1em pure-u-0">
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 flex-container" id="student-value-prop-4">

                <div class="flex-item padding-1em">
                    <h2>
                        Safe and cashless checkout.
                    </h2>
                    <h5>
                        Finish your session and get back to <br>
                        your life, not the ATM.
                    </h5>
                    <img src="/static/img/phone4.png" class="pure-img">
                </div>

                <div class="flex-item padding-1em pure-u-0">
                </div>
                <div class="flex-item padding-1em pure-u-0">
                </div>

            </div>
        </div>
    </div>

    <div class="content popular-course-wrapper">


            <div class="banner pure-g university-popular-courses">

                <div class="pure-u-1">
                    <div class="padding-1em">
                        <h4> most requested courses this week at UVA </h4>
                    </div>
                </div>

            </div>

            <div class="pure-g course-row">


                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][0]}}</h4>
                    </div>
                </div>

                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][1]}}</h4>
                    </div>
                </div>

                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][2]}}</h4>
                    </div>
                </div>

                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][3]}}</h4>
                    </div>
                </div>

                <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][4]}}</h4>
                    </div>
                </div>

                <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][5]}}</h4>
                    </div>
                </div>

            </div>

            <div class="pure-g course-row-2">
                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][6]}}</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][7]}}</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][8]}}</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][9]}}</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][10]}}</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-6 popular-course">
                    <div class="padding-1em flex-container-center">
                        <h4>{{university["popular_courses"][11]}}</h4>
                    </div>
                </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g available-now-banner" id="get-started-university">
            <div class="pure-u-1 flex-container-center">
                <div class="flex-item">
                    <h1 class="flex-item" id="get-started-now-header">Check your university to get in on this</h1>
                    <p> Get in on this before things get too busy </p>
                    <div class="text-input-container pure-g">
                        <div class="pure-u-1">
                            <input class="padding-1em text-box" id="university-email-input" placeholder="enter @{{university['edu']}}">
                            </input>
                            <div class="padding-1em text-box-submit" id="submit-university-email">
                                Submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g available-now-banner" id="post-started-university">
            <div class="pure-u-1 flex-container-center">
                <div class="flex-item">
                    <h1 class="flex-item" id="get-started-now-header">Awesome! You're one of the first.</h1>
                    <p> We'll keep you in the loop. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="content">

        <div class="pure-g testimonials">

            <div class="pure-u-1 pure-u-md-1-2">

            </div>

            <div class="pure-u-1 pure-u-md-1-2">

            </div>

        </div>

    </div> -->
    <!-- {% include 'web/components/footer.html' %} -->
{% endblock %}

{% block footer_scripts %}
    <script src="/static/js/web/sidebar.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/js/web/university.js"></script>
{% endblock %}