<ion-view title="Your {{session.course.short_name}} Session">
  <ion-content class="padding">
    <div class="container" style="position:absolute; width:100%; margin-top:90%;">
      <button class="button button-full button-positive" >
          Start Timer
      </button>
      <button class="button button-full button-positive button-outline" >
          Reset Timer
      </button>
      <button class="button button-full button-disabled button-outline">
          Submit Time
      </button>
    </div>
  </ion-content>
</ion-view>