
<nav id="top-bar">
	<div>
		<a id="top-logo">
			<span>GPA Guru</span>
			<svg viewBox="0 0 100 100">
				<path d="M14,32 L50,68 L86,32"></path>
			</svg>
		</a>
		<a id="top-request" thr-click="openModal('course')">
			<svg viewBox="0 0 100 100">
			    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
			</svg>
		</a>
		<nav id="top-menu-links" class="active">
			<ul>
				<li tabindex ng-click="openModal('university')">
					<span>Edit University</span>
				</li>
				<li tabindex>
					<span>Default Units</span>
					<input type="number" placeholder="4"/>
				</li>
				<li tabindex>
					<span>Section</span>
					<input type="number" placeholder="2"/>
				</li>
				<li tabindex ng-click='clearStorage()'>
					<span>Clear Courses</span>
				</li>
			</ul>
		</nav>
	</div>
</nav>