@import '../mixin';

/* ---------- SIDEBAR LISTS */
.sidebar-list {
	width: 100%;
}

.sidebar-list-header {
	padding: 15px;
	h2 {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
	}
}

.sidebar-list-dividers {
	padding: 7.5px;
	li {
		position: relative;
		padding: 15px 7.5px;
		&:first-child {
			padding: 7.5px 7.5px 15px;
		}
		&:last-child {
			padding: 15px 7.5px 7.5px;
			hr {
				display: none;
			}
		}
		&:not(:last-child) {
			hr {
				position: absolute;
				bottom: -1px;
				left: 7.5px;
				width: calc(100% - 15px);
				height: 2px;
				border-radius: 2px;
				background: rgba(white, .5);
				border: 0;
				margin: 0;
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.sidebar-list {
		width: calc(100% / 3);
		height: 100%;
	}
}
