<div class='full-xy bg-moola txt-smoke txt-48 absolute left-0 flex-wrap-center' init-with="p:[opacity:0, top:-100%]" on-enter="p:[transition:all 1000ms ease, top:0, opacity:1, z-index:10000]" when-transit-triggered="trigger:[on-enter]" when-close-transit="p:[opacity:0, top:-100%, z-index:default:delay-1000]">
    Transit Page
    <div class="splash-hero-skip absolute bottom-0 right-0 z-index-999"
        init-with="p:[op:0, tro:center center, tr:translateX(100%) rotate(180deg), t:all 1000ms cubic-bezier(.04#.75#.77#1.32)]"
        when-powerups-init="t-enter"
        on-enter="p:[op:1, tr:translateX(0) rotate(0)]:delay-3000">
       <button on-click="s:[close-transit:public]">Back</button>
    </div>
</div>