<div class='full-xy absolute left-0 right-0 flex-center'>
<div class='full-x'>
    <svg viewBox="0 0 100 100">
        <rect fill="white" width="100" height="100"> </rect>
    </svg>
    <svg viewBox="0 0 100 100">
        <rect fill="pink" width="100" height="100"> </rect>
    </svg>
</div>
<!--     <ul class='relative full-xy flex-wrap-center top-0 left-0'>
        <li>
            <svg viewBox="0 0 100 100">
                <rect fill="white" width="100" height="100"> </rect>
            </svg>
        </li>
        <li>
            <svg viewBox="0 0 100 100">
                <rect fill="pink" width="100" height="100"> </rect>
            </svg>
        </li>
        <li viewBox="0 0 100 100">
            <rect fill="pink" width="100" height="100"> </rect>
        </li>
    </ul> -->
</div>
