<div class="sidebar-scale" init-with="p:[tr:scale(0), op:1, display:block, background:#ffffff]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[tr:scale(1000), background:#40484b, op:1, display:block, t:all 1000ms ease-out] | t:[on-exit]" on-exit="p:[tr:scale(0):delay-2000, background:#ffffff:delay-2000, op:0:delay-500, display:none:delay-2000, t:all 500ms ease-out]"></div>
<div ng-controller="SplashSidebarController as sidebar" id="splash-sidebar" init-with="p:[op:0]" when-sidebar-icon-clicked="p:[op:1:delay-500]" when-sidebar-close-clicked="p:[op:0]">
	<!-- on-init="t:[on-enter]" -->
    <!-- <custom-states when="faq-clicked, pricing-clicked"></custom-states> -->
    <aside class="splash-sidebar-full overflow-auto no-scrollbar">
        <!-- class-on-activate="fadeIn:anim, null:inject.splash-sidebar-menu|activate, null:inject.splash-sidebar-links a[class-on-activate]|activate" class-on-clear="fadeOut:animOut" -->
        <nav class="splash-sidebar-menu">
            <!-- class-on-activate="bounceInLeft:anim" class-on-clear="bounceOutLeft:animOut" -->
            <div>
                <header>
                    <a class="splash-logo svg-logo" ng-include="root.base_url + 'shared/templates/components/svg/logo/college.html'"></a>
                    <!-- ng-click='page.sidebar.toggle()' -->
                    <!-- <a class="icon-round-stroke close" ng-click="sidebar.close()" ng-include="root.base_url + 'shared/templates/components/svg/main/plus-circle.html'"></a> -->
                    <a class="icon-round-stroke close" on-click="s:[sidebar-close-clicked:public]">
						<svg viewBox="0 0 100 100">
							<circle cx="50" cy="50" r="36" init-with="p:[stroke-dasharray:226.2, stroke-dashoffset:226.2]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[stroke-dashoffset:0:delay-3500]"></circle>
							<g>
					            <path d="M50,32 L50,68" init-with="p:[stroke-dasharray:36, stroke-dashoffset:36]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[stroke-dashoffset:0:delay-3550]"></path>
					            <path d="M32,50 L68,50" init-with="p:[stroke-dasharray:36, stroke-dashoffset:36]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[stroke-dashoffset:0:delay-3600]"></path>
							</g>
						</svg>
					</a>

                    <!-- ng-click='hideSideBar()' -->
                </header>
                <ul class="splash-sidebar-links">
                    <li init-with="p:[tr:rotateX(90deg) translateZ(0), op:0]" when-sidebar-icon-clicked="p:[op:1:delay-2000, tr:rotateX(0) translateZ(0):delay-2000, t:transform 250ms ease-out]">
                        <a on-click="s:[faq-clicked:public]">
                            <span init-default on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 150ms cubic-bezier(.5#0#1#.75)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>FAQ</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-faq-clicked="p:[tr:scale(100) translateZ(0), op:1, t:transform 300ms ease-out] | s:[faq-link-exit:public]" when-faq-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                    <li init-with="p:[tr:rotateX(-90deg) translateZ(0), op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:1:delay-2250, tr:rotateX(0) translateZ(0):delay-2250, t:transform 250ms ease-out]">
                        <a on-click="s:[pricing-clicked:public]">
                            <span on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 300ms cubic-bezier(.5#0#.4#1.25)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>Pricing</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-pricing-clicked="p:[tr:scale(100) translateZ(0), op:1, t:transform 300ms ease-out] | s:[pricing-link-exit]" when-pricing-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                    <li init-with="p:[tr:rotateX(90deg) translateZ(0), op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:1:delay-2500, tr:rotateX(0) translateZ(0):delay-2500, t:transform 250ms ease-out]">
                        <a on-click="s:[about-clicked:public]">
                            <span on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 300ms cubic-bezier(.5#0#.4#1.25)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>Support</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-about-clicked="p:[tr:scale(100) translateZ(0), op:1, t:translate 300ms ease-out] | s:[about-link-exit:public]" when-about-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                    <li init-with="p:[tr:rotateX(-90deg) translateZ(0), op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:1:delay-2750, tr:rotateX(0) translateZ(0):delay-2750, t:transform 250ms ease-out]">
                        <a on-click="s:[team-clicked:public]">
                            <span on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 300ms cubic-bezier(.5#0#.4#1.25)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>Team</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-team-clicked="p:[tr:scale(100) translateZ(0), op:1, t:translate 300ms ease-out] | s:[team-link-exit]" when-team-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                    <li init-with="p:[tr:rotateX(90deg) translateZ(0), op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:1:delay-3000, tr:rotateX(0) translateZ(0):delay-3000, t:transform 250ms ease-out]">
                        <a on-click="s:[login-clicked:public]">
                            <span on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 300ms cubic-bezier(.5#0#.4#1.25)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>Login</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-login-clicked="p:[tr:scale(100) translateZ(0), op:1, t:translate 300ms ease-out] | s:[when-login-clicked:public]" when-login-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                    <li ng-if="false">
                        <a on-click="s:[logout-clicked:public]">
                            <span on-mouse-enter="p:[tr:translate3d(5px#0#0), t:all 300ms cubic-bezier(.5#0#.4#1.25)]" on-mouse-leave="p:[tr:translate3d(0#0#0)]">
								<span>Logout</span>
								<span init-with="p:[tr:scale(0) translateZ(0), op:1]" when-logout-clicked="p:[tr:scale(100) translateZ(0), op:1, t:translate 300ms ease-out] | s:[when-login-link-exit]" when-login-link-exit="p:[tr:scale(0) translateZ(0):delay-450, op:0:delay-150]"></span>
							</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="student-card margin-auto" init-with="p:[op:0, tr:rotateX(90deg) translateZ(0), transform-origin:center top, t:transform 250ms ease-out]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:1:delay-3250, tr:rotateX(0) translateZ(0)]:delay-3250">
                    <!-- ng-if='user && user.name' -->
                    <svg viewBox="0 0 240 160">
                        <rect x="0" y="0" width="300" height="175" fill="none"></rect>
                    </svg>
                    <div class="school-id-inside">
						<div class="school-id-bg" style="background: #003262" init-with="p:[op:1]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="p:[op:0]:delay-4000"></div>
                        <div class="school-id-top" style="background: #003262" init-with="p:[op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="anim:[fadeIn:set:(animation-duration:250ms#animation-timing-function:ease-out#animation-delay:3750ms):in]">
                            <span class="user-icon" style="border-color: #003262">
                                <svg viewBox="0 0 100 100">
        							<circle fill="#B8B8BF" cx="50" cy="50" r="50"></circle>
        							<path d="M50,100 C64.0354871,100 76.7202586,94.2168993 85.8014664,84.903546 C84.3573333,71.9293333 76.6973333,61.0293333 65.5093333,55.8933333 C69.9226667,51.7493333 72.6986667,45.8826667 72.6986667,39.3653333 C72.6986667,26.8493333 62.516,16.6666667 50,16.6666667 C37.484,16.6666667 27.3013333,26.8493333 27.3013333,39.3653333 C27.3013333,45.8826667 30.0773333,51.7493333 34.4906667,55.8933333 C23.3026667,61.0293333 15.7036269,71.9488808 14.2036269,84.9035475 C23.2844841,94.2190612 35.9671367,100 50,100 Z" fill="#EBEBEF"></path>
        						</svg>
                            </span>
                        </div>
                        <div class="school-id-bottom" init-with="p:[op:0]" when-sidebar-icon-clicked="t:[on-enter]" on-enter="anim:[fadeIn:set:(animation-duration:250ms#animation-timing-function:ease-out#animation-delay:3750ms):in]">
                            <div>
                                <h1 style="color: #003262">Gabrielle Wee</h1>
                                <h2 style="color: #003262">UC Berkeley</h2>
                                <h2 style="color: #003262">gabrielle@berkeley.edu</h2>
                            </div>
                            <h3><span style="color: #003262">SELECTED COURSES</span></h3>
                        </div>
                    </div>
                </div>

                <div>
					<button class="btn-ghost-white">Get Started</button>
	                <!-- activate-on-class="a" class-on-activate="bounceIn:anim" class-on-activate-delay="700" class-on-click="null:inject.splash-sidebar-full|clear, null:inject.splash-sidebar-menu|clear" ng-click='sidebarGetStarted()' ng-if='!user || !user.id' -->
	                <!-- <button class="btn-ghost-white">Go to Dashboard</button> -->
	                <!-- activate-on-class="a" class-on-activate="bounceIn:anim" class-on-activate-delay="700" class-on-click="null:inject.splash-sidebar-full|clear, null:inject.splash-sidebar-menu|clear" ng-click='goToStudentMode()' ng-if='user && user.id' -->
				</div>

                <!-- <ul class="splash-sidebar-platforms" ng-if='false'>
                    <li>
                        <a class="" activate-on-class="a" class-on-activate="bounceIn:anim" class-on-activate-delay="1100" ng-include="root.base_url + 'shared/templates/components/svg/main/mobile.html'"></a>
                    </li>
                    <li>
                        <a class="" activate-on-class="a" class-on-activate="bounceIn:anim" class-on-activate-delay="1200" ng-include="root.base_url + 'shared/templates/components/svg/main/desktop.html'"></a>
                    </li>
                </ul> -->
            </div>
        </nav>

        <section class="splash-sidebar-content">
            <div class="splash-sidebar-empty"></div>
                <div ng-include src="root.base_url + 'preapp/templates/sidebar/faq.html'" include-replace>
                </div>
                <div ng-include src="root.base_url + 'preapp/templates/sidebar/pricing.html'" include-replace>
                </div>
                <div ng-include src="root.base_url + 'preapp/templates/sidebar/team.html'" include-replace>
                </div>
                <div ng-include src="root.base_url + 'preapp/templates/sidebar/about.html'" include-replace>
                </div>
            <!-- class-on-activate="show-sidebar-cta:unique:keep" -->
            <!-- <ion-pane id='cta-modal-FAQ' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal opacity-0' ng-include="::img_base + BASE + 'templates/faq.html'" class-on-activate="show-sidebar-cta:unique:keep, bounceInLeft:anim, null:inject#faq|activate" class-on-clear="bounceOutLeft:animOut"> </ion-pane>

            <ion-pane id='cta-modal-pricing' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal opacity-0' ng-include="::img_base + BASE + 'templates/pricing.html'" class-on-activate="show-sidebar-cta:unique:keep, bounceInLeft:anim, null:inject#pricing|activate" class-on-clear="bounceOutLeft:animOut"> </ion-pane>

            <ion-pane id='cta-modal-intercom' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal' class-on-activate="show-sidebar-cta:unique:keep, bounceInLeft:anim" class-on-clear="bounceOutLeft:animOut" ng-controller='AccountPageController'> </ion-pane>

            <ion-pane id='cta-modal-team' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal' ng-include="::img_base + BASE + 'templates/team.html'" class-on-activate="show-sidebar-cta:unique:keep, bounceInLeft:anim, null:inject#team|activate" class-on-clear="bounceOutLeft:animOut"> </ion-pane>

            <ion-pane id='cta-modal-account' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal' ng-include="::img_base + BASE + 'templates/desktop.login.html'" ng-controller='AccountPageController'> </ion-pane>

            <ion-pane id='cta-modal-become-guru' ng-if='desktopMode' class='full-xy hide-display cta-modal absolute top-0 left-0 sidebar-modal' ng-if='user.university && user.university.id' ng-include="::img_base + BASE + 'templates/desktop.guru.onboarding.html'" ng-controller='DesktopBecomeGuruController'> </ion-pane> -->
        </section>
    </aside>
</div>
