<svg width="213px" height="81px" viewBox="0 0 213 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
		<rect x="16.5" y="16.5" width="48" height="48"></rect>
		<circle cx="108.5" cy="40.5" r="24"
			u init-with="p:[tr:translateX(-140%)]"
			when-shapes-slide="a:[translateX:140%:0%:250:easeOutCubic:0:1:f]"></circle>
		<polygon points="172.5 16.5 196.5 64.5 148.5 64.5"
			u init-with="p:[tr:translateX(-280%)]"
			when-shapes-slide="a:[translateX:-280%:0%:250:easeOutCubic:0:1:f]"></polygon>
    </g>
</svg>
