$smoke: #F1F1F1;
$shamrock: #69B3A5;
.uguru-view {
    &.access-view {

        // input#access-code-bar {
        //     line-height:normal;
        //     height:inherit;
        //     color:white !important;
        //     text-shadow: 0px 0px 0px #000 !important;
        //     -webkit-text-fill-color: transparent !important;
        // }
        // input::-webkit-input-placeholder {
        //     color: none !important;
        //     text-shadow: none !important;
        //     -webkit-text-fill-color: initial !important;
        // }
    }

    &.how-it-works-view {
        header {

            position:relative;

            h1 {
                font-size: 32px;
                font-weight: 600;
                text-transform: uppercase;
                color:white;
            }

            .left-buttons {
                position: absolute;
                left: 5%;
                top: 20px;
                opacity: 0.3;
                a {
                    color:white;
                }
            }
        }
    }
}

#access.start.full-xy.flex-start {
    -o-align-items: flex-start;
    -moz-align-items:flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.uguru-view .start#access svg.max-width-100 {
    height: 200px;
    max-width:100px;
    margin-top:15%;
}

#access .keyboard-button {
    margin-bottom:30px;
    color:$shamrock;
    background:$smoke !important;
}