<ion-modal-view ng-controller="RatingsController">
  <ion-content class="background-black-9" >
    <div class="complete">
      <div class="complete-box center">
        <div class="message">
          Session<br>Completed!
        </div>
        <div class="horizon">
          <span class="box">
            or try facebook
          </span>
        </div>
        <div class="money">
          <span class="bucks">$</span>27
        </div>
        <div class="horizon">
          <span class="box">
            Rate your guru
          </span>
        </div>
        <div class="item padding-6-92">
          <div class="icon"><img src='./img/shun.png' class='width'></div>
          <div class="box-2 margin-top">
            <div class="name">Shun Kurosaki</div>
            <div class="course-name">BIO 101</div>
          </div>
        </div>
        <div class="horizon">
        </div>
        <div class="row center">
          <div class="col"><span ng-click="starClicked($event)" value="1" class="icon ion-star ion-star-rating" id="starOne"></span></div>
          <div class="col"><span ng-click="starClicked($event)" value="2"  class="icon ion-star ion-star-rating" id="starTwo"></span></div>
          <div class="col"><span ng-click="starClicked($event)" value="3"  class="icon ion-star ion-star-rating" id="starThree"></span></div>
          <div class="col"><span ng-click="starClicked($event)" value="4"  class="icon ion-star ion-star-rating" id="starFour"></span></div>
          <div class="col"><span ng-click="starClicked($event)" value="5" class="icon ion-star ion-star-rating" id="starFive"></span></div>
        </div>
      </div>

      <div class="container padding" ng-show="starsSelected">
        <button class="button button-full button-positive" ng-click="submitRating()" style="height:2.5em">
          Submit
        </button>
        <button class="button button-full button-positive button-outline" style="height:2.5em">
          Contact Support
        </button>
      </div>

    </ion-content>


</ion-modal-view>