 <ion-modal-view ng-controller="SignupController">
      <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title" ng-show="!loginMode">Create Account</h1>
        <h1 class="title" ng-show="loginMode">Login</h1>
        <button ng-click="closeSignupModal()" class="button button-clear button-positive">Cancel</button>
      </ion-header-bar>
      <ion-content>

        <div class="account">
          <div class="account-box center">
            <div class="list margin-bottom-10" ng-show="loginMode">
              <label class="item item-input" id="input_email_login">
                <div class="tag">email</div><input type="text" name="login-email" ng-model="signupForm.email" placeholder="peter.parker@berkeley.edu">
              </label>
              <label class="item item-input" id="input_password_login">
                <div class="tag">password</div><input type="password" name="login-password" ng-model="signupForm.password" placeholder="at least 6 characters">
              </label>
            </div>
            <div class="list margin-bottom-10" ng-show="!loginMode">
              <label class="item item-input" id="input_first">
                <div class="tag">First</div><input name="signup-first-name" type="text" ng-model="signupForm.first_name" placeholder="your first name">
              </label>
              <label class="item item-input" id="input_last">
                <div class="tag">last</div><input name="signup-last-name" type="text" ng-model="signupForm.last_name" placeholder="your last name">
              </label>
              <label class="item item-input" id="input_email">
                <div class="tag">email</div><input type="text" name="signup-email" ng-model="signupForm.email" placeholder="peter.parker@berkeley.edu">
              </label>
            </div>
            <div class="list" ng-show="!loginMode">
              <label class="item item-input" id="input_password">
                <div class="tag">password</div><input type="password" name="signup-password" ng-model="signupForm.password" placeholder="at least 6 characters">
              </label>
            </div>
            <button ng-show="!loginMode" ng-click="completeSignup()"class="button button-green-outline button-full">
              join uguru
            </button>
            <button ng-show="loginMode" ng-click="loginUser()"class="button button-green-outline button-full">
              Login
            </button>
            <div class="horizon">
              <span class="box">
                or try facebook
              </span>
            </div>
            <div class="message">
              Uguru will NEVER post to your Facebook.
            </div>
            <button ng-click="signupFacebook()" class="button facebook-button button-full icon-left ion-social-facebook">
              Connect With Facebook
            </button>
            <button ng-click="toggleLoginMode()" ng-show="!loginMode" class="button button-full button-outlined button-disabled">
              Login
            </button>
            <button ng-click="toggleLoginMode()" ng-show="loginMode" class="button button-full button-outlined button-disabled">
              Create an Account
            </button>
          </div>
        </div>
      </ion-content>
  </ion-modal-view>