<section ngfx-shake="invalidSlideOne" ngfx-speed="slow" id="request-one" class="request-slide request-essay-form request-essay ng-class:{'infinite':invalidSlideOne}">
	<header>
		<h1>How can we help you achieve your college goals?</h1>
	</header>
	<div class="request-content relative">
		<div id="request-search" class="ng-class:{'active': newRequest.active_step === 1 || newRequest.university, 'small': newRequest.university}" ng-controller='EssayStudentUniversityController'>
			<form>
				<h1 class="request-step ng-class:{'small': newRequest.university}">
					<b>
						Step
						<span>1</span>
						<svg viewBox="0 0 100 100">
						    <path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
						</svg>
						<strong>&nbsp;&nbsp;Select a school</strong>
					</b>
				</h1>
				<div class='input-field-container'>
					<div class="input-field">
						<i class="material-icons prefix">
							<svg viewBox="0 0 100 100" class="hide ng-class:{'show': !newRequest.university}">
							    <path d="M43,27 L43,59 M27,43 L59,43 M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
							</svg>
							<svg viewBox="0 0 100 100" class='checkmark-input hide ng-class:{"show": newRequest.university}'>
							    <path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
							</svg>
						</i>
						<input ng-disabled="request.selected_university" id='request-search-input' name='request-search-input' autocomplete="off" type="text" fast-matcher fast-matcher-source="user.universities" fast-matcher-output="search_text.matching" ng-focus="focusInput()" ng-blur="blurInput()" fast-matcher-properties="short_name, name, variations"
						ng-disabled="!user.universities || !user.universities.length" ng-model="search_text.university" />
						<label for="request-search-input">
							<span class='hide ng-class:{"show":!newRequest.university}'>choose one of {{user.universities.length}} added universities</span>
						</label>
						<a class="side-icon desktop-input-close-icon hide ng-class:{'show':search_text.university.length || newRequest.university.id}" ng-click="clearUniversityInput()">
							<i class="icon ion-close-circled txt-white"></i>
						</a>
					</div>
				</div>
			</form>
			<div class='course-none hide ng-class:{"show": search_text.university.length && !user.universities.length}'>
				No results, try again?
			</div>
			<div id='desktop-request-form-course-list' class="course-list hide ng-class:{'show': universityInputFocused && newRequest.active_step === 1}">
				<ul>
					<li class="hide ng-class:{'show':search_text.university.length}" ng-repeat='university in user.universities | filter:search_text.university:strict | limitTo: 9 track by university.id' ng-click='selectRequestSlideOneUniversity(university)'>
						<a>
							<span class="course-name">{{university.short_name || university.name}}</span>
						</a>
					</li>
					<li class="hide ng-class:{'show':!search_text.university.length}" ng-repeat='university in user.universities | limitTo: 9 track by university.id' ng-click='selectRequestSlideOneUniversity(university)'>
						<a>
							<span class="course-name">{{university.short_name || university.name}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="request-type ng-class:{'active': newRequest.active_step === 2 || newRequest.type, 'small': newRequest.type}">
			<h1 class="request-step ng-class:{'small': newRequest.type}">
				<a ng-click='newRequest.active_step = 2;' class='txt-white'>
					<b>
						Step
						<span>2</span>
						<svg viewBox="0 0 100 100">
							<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
						</svg>
						<strong>&nbsp;&nbsp;Choose what kind of help you need</strong>
					</b>
				</a>
			</h1>
			<ul>
				<li>
					<div class="radio-container">
						<div>
							<input type="radio" id="checkbox-container-1" name="checkbox-container" value='QA' ng-change='newRequest.active_step = 3;' ng-model='newRequest.type' />
							<span>
								<svg viewBox="0 0 100 100">
									<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
								</svg>
							</span>
						</div>
						<label for="checkbox-container-1">1:1 with a {{request.selected_university.name || request.selected_university.short_name}} guru</label>
					</div>
				</li>
				<li>
					<div class="radio-container">
						<div>
							<input type="radio" id="checkbox-container-2" name="checkbox-container" value='Essay' ng-change='newRequest.active_step = 3;' ng-model='newRequest.type' />
							<span>
								<svg viewBox="0 0 100 100">
									<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
								</svg>
							</span>
						</div>
						<label for="checkbox-container-2">Detailed essay feedback</label>
					</div>
				</li>
				<li>
					<div class="radio-container">
						<div>
							<input type="radio" id="checkbox-container-3" name="checkbox-container" value='Quick' ng-change='newRequest.active_step = 3;' ng-model='newRequest.type' />
							<span>
								<svg viewBox="0 0 100 100">
									<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
								</svg>
							</span>
						</div>
						<label for="checkbox-container-3">Quick question (&gt;10m)</label>
					</div>
				</li>
			</ul>
		</div>

		<div class="request-desc ng-class:{'active': newRequest.active_step === 3}">
			<h1 class="request-step">
				<a ng-click='newRequest.active_step = 3;' class='txt-white'>
					<b>
						Step
						<span>3</span>
						<svg viewBox="0 0 100 100">
							<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
						</svg>
						<strong>&nbsp;&nbsp;Describe your situation</strong>
					</b>
				</a>
			</h1>
			<div>
				<textarea class="input-outline" rows="4" ng-model='newRequest.info.description' placeholder="Please provide as much detail as possible"></textarea>
				<div class='tag-list'>
					<a class="chip tag-selected" ng-click='removeTagFromRequest($index, tag)' ng-repeat="tag in newRequest.info.tags">
						<span>&times;&nbsp;&nbsp;</span>
						<span>{{tag.name}}</span>
					</a>
					<input class='chip tag-add' ng-model='newRequest.info.empty_tag.name' ng-blur='addRequestTagAndInitEmpty($event, "blur")' ng-keyup="$event.keyCode == 13 && addRequestTagAndInitEmpty($event)" placeholder="+&nbsp;&nbsp;add a tag" size="{{newRequest.info.empty_tag.name.length || 10}}">
				</div>
				<div class='attachment-list'>
					<ul>
						<li ng-repeat='file in user.hs_files | orderBy:"id"'>
							<div class="attach-upload-file attach-upload-{{file.type}}" ng-if='file.type !== "img"'>
								<svg class="doc-outline" viewBox="0 0 75 75" fill="{{file.university.school_color_one}}" style="fill: {{file.university.school_color_one}}!important;">
									<path d="M6.50001634,1.5 C3.73858357,1.5 1.5,3.73376942 1.5,6.50573628 L1.5,68.4942637 C1.5,71.2588555 3.73376942,73.5 6.50573628,73.5 L68.4942637,73.5 C71.2588555,73.5 73.5,71.2643283 73.5,68.5001225 L73.5,21.0605722 C73.5,19.9548035 72.8472697,18.4334881 72.0608909,17.6806226 L56.5991089,2.87777827 C55.8043109,2.11685234 54.2734003,1.5 53.1543987,1.5 L6.50001634,1.5 Z M55.5992131,2.46 C55.5992131,2.46 55.5992131,2.90396713 55.5992131,3.46092472 L55.5992131,14.0558242 C55.5992131,16.818671 57.8364841,19.0584009 60.6045233,19.0584009 L72.9848101,19.0584009"></path>
								</svg>
		                        <a href='{{file.url || "#"}}' target='_blank'>
									<svg viewBox="0 0 100 100">
										<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
									</svg>
								</a>
		                        <a href='{{file.url || "#"}}' target='_blank'>
									<svg viewBox="0 0 100 100">
		                                <path d="M27,38 L51,14 L75,38 M51.5,14 L51.5,86"></path>
									</svg>
								</a>
								<span class="doc-info">
									<span class="doc-name">{{file.name}}</span>
									<span class="doc-type">{{file.type.toUpperCase()}}</span>
								</span>
							</div>

							<div ng-if='file.type === "img"' class="attach-upload-img" style="background-image: url( {{file.url || img_base + '/img/stock/photography/5.jpg'}});">
								<a href='{{file.url || "#"}}' target='_blank'>
									<svg viewBox="0 0 100 100">
										<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
									</svg>
								</a>
		                        <a class="doc-info" href='{{file.url || "#"}}' target='_blank'>
		                            <svg viewBox="0 0 100 100">
										<path d="M27,38 L51,14 L75,38 M51.5,14 L51.5,86"></path>
									</svg>
		                            <span>
		                                <span class="doc-name">{{file.name}}</span>
		                                <span class="doc-type">{{file.type.toUpperCase()}}</span>
		                            </span>
		                        </a>
							</div>
						</li>

						<li>
							<div class="attach-upload-add">
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
								<a>
									<span>
										<svg viewBox="0 0 100 100">
											<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
										</svg>
										<span>Add File</span>
									</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="request-payment ng-class:{'active': newRequest.active_step === 4}">
			<h1 class="request-step">
				<a ng-click='newRequest.active_step = 4;'>
					<b>
						Step
						<span>4</span>
						<svg viewBox="0 0 100 100">
							<path d="M14,54.2352941 L35.1764706,75.4117647 L86,24.5882353"></path>
						</svg>
						<strong>&nbsp;&nbsp;Choose your payment card</strong>
					</b>
				</a>
			</h1>
			<div ng-controller='PaymentsController'>
				<div>
					<h4>Choose from your cards</h4>
					<ul class="ugrid-3">
						<li>
							<a class='credit-card-wrapper' ng-click='editPayment(card)'>
								<div id="credit-card-visa" class="credit-card cf relative">
									<span class="card-type absolute left-0 top-0 m15xy" ng-include="img_base + BASE + 'templates/cards/'+ 'visa' +'.html'"></span>
									<span class="text-right absolute top-0 right-0 m15x m15y card-type txt-slate weight-700 uppercase">
										<span class='txt-smoke' style='padding:0;'>DEFAULT</span>
										<span style='padding:0;' class='no-padding-y'>Debit Card</span>
									</span>
									<div class="card-number">**** **** **** 1234</div>
									<div class="card-name">{{user.name}}</div>
									<div class="valid">
										<div class="group">Valid
											<br/>Thru</div>
										<div class="expiry">**/**</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a class='credit-card-wrapper' ng-click='editPayment(card)'>
								<div id="credit-card-visa" class="credit-card cf relative">
									<span class="card-type absolute left-0 top-0 m15xy" ng-include="img_base + BASE + 'templates/cards/'+ 'visa' +'.html'"></span>
									<span class="text-right absolute top-0 right-0 m15x m15y card-type txt-slate weight-700 uppercase">
										<span class='txt-smoke' style='padding:0;'>DEFAULT</span>
										<span style='padding:0;' class='no-padding-y'>Debit Card</span>
									</span>
									<div class="card-number">**** **** **** 1234</div>
									<div class="card-name">{{user.name}}</div>
									<div class="valid">
										<div class="group">Valid
											<br/>Thru</div>
										<div class="expiry">**/**</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a class='credit-card-wrapper' ng-click='editPayment(card)'>
								<div id="credit-card-visa" class="credit-card cf relative">
									<span class="card-type absolute left-0 top-0 m15xy" ng-include="img_base + BASE + 'templates/cards/'+ 'visa' +'.html'"></span>
									<span class="text-right absolute top-0 right-0 m15x m15y card-type txt-slate weight-700 uppercase">
										<span class='txt-smoke' style='padding:0;'>DEFAULT</span>
										<span style='padding:0;' class='no-padding-y'>Debit Card</span>
									</span>
									<div class="card-number">**** **** **** 1234</div>
									<div class="card-name">{{user.name}}</div>
									<div class="valid">
										<div class="group">Valid
											<br/>Thru</div>
										<div class="expiry">**/**</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>

				<div>
					<h4>or Add A Card</h4>
					<ul class="ugrid-2">
						<li>
							<a class='credit-card-wrapper'>
								<div id="credit-card-visa" class="credit-card cf relative">
									<span class="card-type absolute left-0 top-0 m15xy" ng-include="img_base + BASE + 'templates/cards/visa.html'"></span>
									<span class="text-right absolute top-0 right-0 m15x m15y card-type txt-slate weight-700 uppercase">
										<span class='txt-smoke' style='padding:0;'>DEFAULT</span>
										<span style='padding:0;' class='no-padding-y'>Debit Card</span>
									</span>
									<div class="card-number">**** **** **** 4242</div>
									<div class="card-name">{{user.name}}</div>
									<div class="valid">
										<div class="group">Valid
											<br/>Thru</div>
										<div class="expiry">**/**</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<form>
								<div class="input-field relative">
									<input ng-model='root.vars.cardForm.number' ng-disabled='root.vars.cardForm.view_only' autocomplete="off" id="card-number" type="tel" class="validate" />
									<label for="email" class="ng-class:{'active':root.vars.cardForm.number.length}">Card Number</label>
									<a ng-show="root.vars.cardForm.number.length" ng-click='root.vars.cardForm.number = "";' class="desktop-input-close-icon side-icon">
										<i class='icon ion-close-circled'> </i>
									</a>
								</div>
								<ul class="ugrid-2">
									<li>
										<div class="input-field">
											<input autocomplete="off" ng-disabled='root.vars.cardForm.view_only' ng-model='root.vars.cardForm.exp' id="exp-date" type="tel" class="validate" />
											<label for="password" class="ng-class:{'active':root.vars.cardForm.exp.length}">Expiration Date</label>
											<a ng-show="root.vars.cardForm.exp.length" ng-click='root.vars.cardForm.exp = "";' class="desktop-input-close-icon side-icon">
												<i class='icon ion-close-circled'> </i>
											</a>
										</div>
									</li>
									<li>
										<div class="input-field">
											<input autocomplete="off" ng-disabled='root.vars.cardForm.view_only' id="cvv-number" type="tel" class="validate" value="123" />
											<label for="password" class="active">CVV</label>
											<a class="desktop-input-close-icon side-icon">
												<i class='icon ion-close-circled'> </i>
											</a>
										</div>
									</li>
								</ul>
								<div class="desktop-login-buttons">
									<button class="bg-moola caps hide ng-class:{'show':!root.vars.cardForm.view_only}" ng-click='savePayment()'>Add Card</button>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button ng-click='validateRequestFormSlideOne()'>Next</button>
</section>