<div class='modal'>
	<ion-modal-view>
		<section id="school" class="onboarding">
			<header class="third flex-center">
				<h1>Find Your Campus</h1>
				<div class="header-nav">
					<a class="header-nav-back" ng-click='goBackToStudentEssayHome()'>
						<svg viewBox="0 0 100 100">
							<path d="M68,86 L32,50 L68,14"></path>
						</svg>
						<h1>&nbsp;</h1>
					</a>
					<a class="header-nav-next" ng-click='goToEssaySignup()'>
						<h1>Next</h1>
					</a>
				</div>
				<div class="onboarding-search absolute center-x bottom-0 full-x">
					<div class="input-field">
						<i class="material-icons prefix">
							<svg viewBox="0 0 100 100">
							    <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
							</svg>
						</i>
						<input id="university-input" type="text" fast-matcher fast-matcher-source="universities" fast-matcher-output="search_text.matching" fast-matcher-properties="short_name, name, variations, city, state" ng-disabled="!universities || !universities.length"
						ng-model="search_text.university" />

						<label class="ng-class:{'hide': search_text.university.length}" for="university-input">search for your university</label>
						<a ng-click='toggleLocationIconAppearance()' class='side-icon geolocation-icon' ng-if='search_text.university.length === 0'>
							<i class='icon ion-navigate ng-class:{"location-active":location.settings.isActive}'></i>
						</a>
						<a class='side-icon desktop-input-close-icon' ng-click='resetUniversities()' ng-if='search_text.university.trim().length > 0'>
							<i class='icon ion-close-circled text-white'></i>
						</a>
					</div>
				</div>
			</header>
			<div>
				<!-- <div id="school-list" bind-list='universities' source='universitiesSorted' buffered-scroll='increaseLimit()' class="onboarding-list"> -->
				<ul class='list school-card-container'>
					<li class="list-item" ng-repeat='university in universities | filter:search_text.university:strict |limitTo: 10 track by university.id'>
						<div class="school-card">
							<svg class="rect" viewBox="0 0 300 175">
								<rect x="0" y="0" width="300" height="175" fill="none"></rect>
							</svg>
							<input type="checkbox" thr-click='universitySelected(university)' />
							<div class="school-card-inside">
								<div class="school-card-top" style="background-color: {{university.school_color_one}};">
									<span class="school-card-icon" style="background-image: url({{university.svg_url || university.seal_url || university.logo_url}}); background-color: {{university.school_color_one}}; border-color: {{university.school_color_one}};">
										<span class="school-card-icon-bg" style="background-color: {{university.school_color_one}};"></span>
										<span class="school-card-state" ng-include="img_base + 'templates/svg/main/check.html'"></span>
										<span class="school-card-state" ng-include="img_base + 'templates/svg/main/plus.html'"></span>
									</span>
								</div>
								<div class="school-card-main">
									<div class="school-card-map">
										<img src="https://maps.googleapis.com/maps/api/staticmap?center=({{university.latitude}},%20{{university.longitude}})&parameters&size=800x800&zoom=14" />
									</div>
									<div class="school-card-color" style="background-color: {{university.school_color_one}};"></div>
									<div class="school-card-info" style="color: {{university.school_color_one}};">
										<h1 style="color: {{university.school_color_one}};">{{university.short_name || user.university.name}}</h1>
										<h2 style="color: {{university.school_color_one}};">{{university.city}}, {{university.state}}</h2>
									</div>
									<ul class="school-card-footer">
										<li>
											<span ng-include="img_base + 'templates/svg/main/user.html'"></span>
											<span>43</span>
										</li>
										<li>
											<span ng-include="img_base + 'templates/svg/main/calendar.html'"></span>
											<span>1/1/16</span>
										</li>
										<li>
											<span ng-include="img_base + 'templates/svg/main/attach.html'"></span>
											<span>7</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</ion-modal-view>
</div>