<!-- @jeselle comment out when working on warp letters -->
<!-- <div class="warp-object"
	ng-include="'preapp/templates/loaders/props/components/warp-objects.html'"
	init-with="p:[width:240px, height:150px, top:calc(50% - 75px), left:calc(50% - 120px), tr:translateZ(-2000px) rotateZ(15deg) rotateY(40deg) translateX(0px) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(15deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(15deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-1040">
</div>

<div class="warp-object"
	ng-include="'preapp/templates/loaders/props/components/category-card.html'"
	init-with="p:[width:240px, height:150px, top:calc(50% - 75px), left:calc(50% - 120px), tr:translateZ(-2000px) rotateZ(135deg) rotateY(40deg) translateX(0px) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(135deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(135deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-3000">
</div>

<div class="warp-object width-128 height-128 absolute"
	ng-include="'preapp/templates/loaders/props/components/profile-thumb.html'"
	init-with="p:[top:calc(50% - 64px), left:calc(50% - 64px), tr:translateZ(-2000px) rotateZ(90deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(90deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(90deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-3270">
</div>

<div class="warp-object"
	ng-include="'preapp/templates/loaders/props/components/student-card.html'"
	init-with="p:[width:240px, height:150px, top:calc(50% - 75px), left:calc(50% - 120px), tr:translateZ(-2000px) rotateZ(45deg) rotateY(40deg) translateX(0px) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(45deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(45deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-4060">
</div>

<div class="warp-object"
	ng-include="'preapp/templates/loaders/props/components/pricing-tile.html'"
	init-with="p:[width:240px, height:288px, top:calc(50% - 144px), left:calc(50% - 120px), tr:translateZ(-2000px) rotateZ(320deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(320deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(320deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-3010">
</div>

<div class="warp-object"
	ng-include="'preapp/templates/loaders/props/components/credit-card.html'"
	init-with="p:[width:240px, height:150px, top:calc(50% - 75px), left:calc(50% - 120px), tr:translateZ(-2000px) rotateZ(180deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(180deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(180deg) rotateY(40deg) translateX(-1500px) scale(1):500:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-2420">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/gabri.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(192deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(192deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(192deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-1805">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/jeselle.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(103deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(103deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(103deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-2044">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/musician.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(275deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(275deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(275deg) rotateY(40deg) translateX(-1500px) scale(1):7000:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-3047">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/fans.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(352deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(26deg) rotateY(352deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(352deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-2743">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/b-dress.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(304deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(304deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(304deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-1249">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/bald.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(18deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(18deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(18deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-3045">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/blond.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(204deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(204deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(204deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-2004">
</div>

<div class="warp-object warp-person"
	ng-include="'preapp/templates/loaders/props/people/chubby.html'"
	init-with="p:[tr:translateZ(-2000px) rotateZ(199deg) rotateY(40deg) scale(0.25)]"
	when-portal-complete="p:[transform:translateZ(-1000px) rotateZ(199deg) rotateY(40deg) translateX(0px) scale(0.25):translateZ(0px) rotateZ(199deg) rotateY(40deg) translateX(-1500px) scale(1):700:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]:delay-1056">
</div>


<div class="warp-vehicle truck-vehicle"
	ng-include="'preapp/templates/loaders/props/truck.html'"
	init-with="p:[transform:rotate(-45deg) translateX(-500px)]"
	when-portal-complete="p:[transform:translateZ(0px) rotate(-45deg) translateX(-500px) scale(1):translateZ(-1000px) rotate(-45deg) translateX(-50px) scale(0):750:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+500]">
</div>

<div class="warp-vehicle pew-vehicle"
	ng-include="'preapp/templates/loaders/props/pew.html'"
	init-with="p:[transform:rotate(50deg) translateX(500px)]"
	when-portal-complete="p:[transform:translateZ(0px) rotate(50deg) translateX(500px) scale(1):translateZ(-1000px) rotate(40deg) translateX(50px) scale(0):950:easeOutCirc easeOutCirc easeOutCirc easeOutCirc easeOutCirc:^:200+700]">
</div>

<div class="warp-vehicle rocket-vehicle"
	ng-include="'preapp/templates/loaders/props/rocket.html'"
	init-with="p:[transform:translateX(300px) translateY(-200px) rotate(-120deg)]"
	when-portal-complete="p:[transform:translateZ(0px) translateX(300px) translateY(-200px) rotate(-120deg) scale(1):translateZ(-1000px) translateX(0px) translateY(0px) rotate(-120deg) scale(0):1250:easeOutCirc easeOutCirc easeOutExpo easeOutCirc easeOutCirc:^:200+900]">
</div> -->

<!-- @jesaelle ng-if="false" to hide -->
<div class="warp-letters">
	<div style="font-size: 60px; font-weight: 900"
		on-init="send:[letter-open:public]">
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center,transform:translateZ(0px) rotate(-33deg) translateX(-180px) translateY(-239px)]">W</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-33deg) translateX(-180px) translateY(-239px):translateZ(0px) rotate(-33deg) translateX(-180px) translateY(-239px):500:easeInSine easeInSine easeInSine easeInSine]" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(-30deg) translateX(-151px) translateY(-230px)]">e</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-30deg) translateX(-151px) translateY(-230px):translateZ(0px) rotate(-30deg) translateX(-151px) translateY(-230px):500:easeInSine easeInSine easeInSine easeInSine]:delay-100" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(-21deg) translateX(-160px) translateY(-205px)]">l</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-21deg) translateX(-160px) translateY(-205px):translateZ(0px) rotate(-21deg) translateX(-160px) translateY(-205px):500:easeInSine easeInSine easeInSine easeInSine]:delay-200" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(-16deg) translateX(-151px) translateY(-194px)]">c</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-23deg) translateX(-129px) translateY(-208px):translateZ(0px) rotate(-23deg) translateX(-129px) translateY(-208px):500:easeInSine easeInSine easeInSine easeInSine]:delay-300" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(-7deg) translateX(-146px) translateY(-172px)]">o</l>
			<!--when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-12deg) translateX(-133px) translateY(-184px):translateZ(0px) rotate(-12deg) translateX(-133px) translateY(-184px):500:easeInSine easeInSine easeInSine easeInSine]:delay-400"  -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(-4deg) translateX(-112px) translateY(-168px)]">m</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-12deg) translateX(-133px) translateY(-184px):translateZ(0px) rotate(-8deg) translateX(-99px) translateY(-175px):500:easeInSine easeInSine easeInSine easeInSine]:delay-500" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(0deg) translateX(-81px) translateY(-160px)]">e</l>
			<!-- when-letter-open="p:[opacity:0:1:250:easeInSine, transform:translateZ(-4000px) rotate(-12deg) translateX(-133px) translateY(-184px):translateZ(0px) rotate(0deg) translateX(-81px) translateY(-160px):500:easeInSine easeInSine easeInSine easeInSine]:delay-600" -->
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(9deg) translateX(-57px) translateY(-152px)]">T</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, tr:translateZ(0px) rotate(11deg) translateX(-29px) translateY(-149px)]">o</l>
	</div>
	<div style="font-size: 140px; font-weight: 900">
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(-5deg) translateX(-68px) translateY(-38px)]">U</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(0deg) translateX(0px) translateY(-36px)]">.</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(-5deg) translateX(59px) translateY(-38px)]">g</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(-5deg) translateX(137px) translateY(-38px)]">u</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(-5deg) translateX(204px) translateY(-39px)]">r</l>
		<l type="warp"
			init-with="p:[top:calc(50% - 36px), left:calc(50% - 36px), tro:center center, transform:translateZ(0px) rotate(-4deg) translateX(272px) translateY(-43px)]">u</l>
	</div>
</div>
