.guru-home .tabs .tab-item .icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-1.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }
.guru-home .tabs .tab-item .icon.request-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-3.svg');
  background-size: contain;
  position: absolute;
  width: 100%;
  font-weight: bold; }
.guru-home .tabs .tab-item .icon.settings-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-2.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }

.student-home .tabs .tab-item .icon.session-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.session-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-1.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }
.student-home .tabs .tab-item .icon.request-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.request-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-3.svg');
  background-size: contain;
  position: absolute;
  width: 100%;
  font-weight: bold; }
.student-home .tabs .tab-item .icon.settings-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.settings-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-2.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }

  .onboarding-loading #desk {
    bottom: 8%;
    position: absolute;
    height: 64.3%;
    left: 8.5%;
    width: 83%;
  }

  .typewriter-text {
    padding: 12% 30% 10% 10%;
    line-height: 1.5em;
    position: absolute;
    letter-spacing: 0.5px;
  }