{% extends 'web/base.html' %}

{% block main_header %}
<header class="bar bar-nav">
  <a class="icon icon-left pull-left" href='/m/settings/' data-transition='slide-out'></a>
    {% if not reset_flag %}
    <h1 class="title">Change Password</h1>
    {% else %}
    <h1 class="title">Reset Password</h1>
    {% endif %}
</header>
{% endblock %}

{% block main_content %}
<div class="content should-hide-message-bar should-hide-tab-bar">
    <form id='pwd-form' class="input-group" id="signup-form">
        {% if not reset_flag %}
        <div class='input-row'>
                <label>Old</label>
                <input type="password" id="old-password" placeholder="your current password"></input>
        </div>
        {% endif %}
        <div class='input-row'>
            <label>New</label>
            <input type="password" id="new-password" placeholder="your new password"></input>
        </div>
        <div class='input-row'>
            <label>Confirm</label>
            <input type="password" id="confirm-password" placeholder="confirm password"></input>
        </div>
    </form>
    <a class='btn btn-block btn-positive' data-user-id='{{user.id}}'id='submit-password-link'>Save</a>


    <script>
      $('#submit-password-link').on('click', function() {

        var user_id = ($('#submit-password-link').data().userId).toString();

        // user is changing their password via settings
        {% if not reset_flag %}
            if (! ($('#old-password').val() && $('#new-password').val()
                && $('#confirm-password').val())) {
                alert('Please fill in all details!');
            }

            payload = JSON.stringify({
                action:  'change-password',
                old_pwd:  $('#old-password').val(),
                new_pwd:  $('#new-password').val(),
                confirm_pwd:  $('#confirm-password').val()
            });

        // user is changing their password via the email
        {% else %}
            if (!($('#new-password').val()
                && $('#confirm-password').val())) {
                alert('Please fill in all details!');
            }
            
            payload = JSON.stringify({
                action:  'reset-password',
                new_pwd:  $('#new-password').val(),
                confirm_pwd:  $('#confirm-password').val()
            });

        {% endif %}

        
        $.ajax({
            url: '/api/v1/users/' + user_id,
            type: 'PUT',
            contentType: 'application/json',
            data: payload,
            success: function(request){
                
                {% if not reset_flag %}
                window.PUSH({
                    transition : "slide-out",
                    url : "/m/settings/"
                });

                {% else %}

                window.PUSH({
                    transition : "fade",
                    url : "/m/home/"
                });

                {% endif %}
            },
            error: function (request) {
                alert(request.responseJSON['errors']);
            }
        });
    });
    </script>
</div>
{% endblock %}
