
<main id="timeline" class='full-xy'>
    <div class='full-x'>
        <div class="timeline-header p15xy text-center bg-shamrock">
            <div>
                <h1 style='font-size:48px;'>Sp16 Universities</h1>
                <h2 style='font-size:36px;'><u class='weight-900'>{{alreadyStartedUniversities.length}}</u> already started</h2>
            </div>
        </div>
       <!-- 1 -->
        <h1 class='text-center uppercase weight-900 full-x p20top m20top hide ng-class:{"show":page.active.progress_percent}'> {{page.active.progress}} items completed</h1>
        <ul class='text-center flex-wrap full-x'>
            <li ng-repeat='uni_group in universityDistArr' class='full-x weight-500 p15xy'>
                <h1><span class='weight-700'>{{uni_group.length}} started </span> on {{uni_group[0].sp16_utc_date.split("00:00")[0]}}</h1>
                <div class='ugrid p15xy align-left text-left' ng-repeat='uni in uni_group'>
                    <span class='university-title border bg-cerise txt-smoke p05xy' style='width:40px!important;'>
                        #{{uni.us_news_ranking}}
                        <span ng-if='uni.us_news_ranking.length === 2'>&nbsp;&nbsp;</span>
                        <span ng-if='uni.us_news_ranking.length === 1'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    <span class='relative university-school-color p05xy txt-smoke bg-shamrock' ng-show='uni.svg_url' ng-click="fieldPromptAndUpdate('School SVG Url', uni.svg_url, uni)" style='height:39px !important; width:110px !important;'>
                        <img style='margin-bottom:-10px; max-width:110px;; max-height:39px !important;' src='{{uni.svg_url}}' class='full-y'/>
                    </span>
                    <span  class='relative university-school-color p05xy txt-smoke bg-auburn' ng-show='!uni.svg_url' ng-click="fieldPromptAndUpdate('School SVG Url', uni.svg_url, uni)" style='height:39px !important; width:110px !important;'>
                            !SVG URL
                    </span>
                    <span class='university-school-color p05x txt-smoke ng-class{:"bg-auburn": !uni.school_color_dark || uni.school_color_dark === "#40484B"}' style='background-color:{{uni.school_color_dark}}; border:5px solid black;' ng-click="fieldPromptAndUpdate('School Color Dark', uni.school_color_dark, uni)">
                        {{uni.school_color_dark || 'MISSING'}}
                    </span>
                    <span class='university-school-color p05x txt-charcoal ng-class{:"bg-auburn": !uni.school_color_light || uni.school_color_light === "#757575"' style='background-color:{{uni.school_color_light}}; border:5px solid black;' ng-click="fieldPromptAndUpdate('School Color Light', uni.school_color_light, uni)">
                        {{uni.school_color_light || 'MISSING'}}
                    </span>
                    <span class='university-title border bg-slate txt-smoke p05xy'>
                        <a ng-click="fieldPromptAndUpdate('Name', uni.name, uni)"> {{uni.name}} </a>
                        <a href='/#/university/{{uni.id}}' target='_blank'><i class='icon ion-arrow-resize'></i></a>
                    </span>
                    <span class='university-title bg-auburn relative' ng-click="fieldPromptAndUpdate('Short Name', uni.short_name, uni)">
                        <small class='absolute'> </small>
                        <span ng-if='uni.short_name' class='p05xy bg-shamrock'>
                            &nbsp;&nbsp;&nbsp;{{uni.short_name}}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span ng-if='!uni.short_name' class='p05xy bg-auburn'>
                            {{uni.website || '!SHORT'}}
                        </span>
                    </span>
                    <span class='university-title bg-auburn relative' ng-click="fieldPromptAndUpdate('Casual Name', uni.casual_name, uni)">
                        <small class='absolute'> </small>
                        <span ng-if='uni.school_casual_name' class='p05y bg-shamrock'>
                            &nbsp;&nbsp;&nbsp;{{uni.school_casual_name}}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span ng-if='!uni.school_casual_name' class='p05y bg-auburn'>
                            !CASUAL
                        </span>
                    </span>
                    <span class='university-title bg-auburn relative' ng-click="fieldPromptAndUpdate('Mascot Name', uni.school_mascot_name, uni)">
                        <small class='absolute'> </small>
                        <span ng-if='uni.school_mascot_name' class='p05y bg-shamrock'>
                            &nbsp;&nbsp;&nbsp;{{uni.school_mascot_name}}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span ng-if='!uni.school_mascot_name' class='p05y bg-auburn'>
                            &nbsp;!MASCOT
                        </span>
                    </span>
                    <span class='university-title bg-auburn relative' ng-click="fieldPromptAndUpdate('School Tiny Name', uni.school_tiny_name, uni)">
                        <small class='absolute'> </small>
                        <span ng-if='uni.school_tiny_name' class='p05y bg-shamrock'>
                            &nbsp;&nbsp;&nbsp;{{uni.school_tiny_name}}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span ng-if='!uni.school_tiny_name' class='p05y bg-auburn'>
                            &nbsp;!TINY NAME
                        </span>
                    </span>
                    <span class='university-title bg-charcoal relative'>
                        <span class='p05xy bg-charcoal'>
                            {{uni.num_popular_courses}}/{{uni.num_courses}} popular
                        </span>
                    </span>
                    <span class='university-title bg-charcoal relative' ng-click="fieldPromptAndUpdate('Banner Url', uni.banner_url, uni)">
                        <span class='p05xy bg-shamrock' ng-if='uni.banner_url_confirmed'>
                            Banner URL Confirmed <i class='icon ion-checkmark'> </i>
                        </span>
                        <span class='p05xy bg-auburn' ng-if='!uni.banner_url_confirmed'>
                            Banner URL NOT Confirmed &nbsp;&nbsp;<i class='icon ion-close'> &nbsp;&nbsp;</i>
                        </span>
                    </span>
                </div>
            </li>
            <li class="post post-{{event.category}}" ng-repeat='event in timeline.threads_detailed[page.active.thread].todo' tabindex>
                <!-- <span class="post-icon">
                    <span ng-include="img_base + 'templates/svg/timeline/' + event.category + '.html'"></span>
                    <span>{{event.formatted_category || event.category}}</span>
                </span> -->
                <article class="post-content">
                    <header>
                        <a class="txt-white" ng-bind-html="($index + 1)  + ' ' + event.title"></a>
                    </header>
                    <section ng-if="event.description.length">{{event.description}}</section>
                    <aside class="post-attach" ng-if="event.attachment.url.length">
                        <ul>
                            <li>
                                <div class="post-upload-file post-upload-pdf">
                                    <svg class="doc-outline" viewBox="0 0 75 75">
                                        <path d="M6.50001634,1.5 C3.73858357,1.5 1.5,3.73376942 1.5,6.50573628 L1.5,68.4942637 C1.5,71.2588555 3.73376942,73.5 6.50573628,73.5 L68.4942637,73.5 C71.2588555,73.5 73.5,71.2643283 73.5,68.5001225 L73.5,21.0605722 C73.5,19.9548035 72.8472697,18.4334881 72.0608909,17.6806226 L56.5991089,2.87777827 C55.8043109,2.11685234 54.2734003,1.5 53.1543987,1.5 L6.50001634,1.5 Z M55.5992131,2.46 C55.5992131,2.46 55.5992131,2.90396713 55.5992131,3.46092472 L55.5992131,14.0558242 C55.5992131,16.818671 57.8364841,19.0584009 60.6045233,19.0584009 L72.9848101,19.0584009"></path>
                                    </svg>
                                    <span class="doc-info">
                                        <span class="doc-name">{{event.attachment.title}}.{{event.attachment.extension}}</span>
                                        <span class="doc-type">{{event.attachment.extension}}</span>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="post-upload-file post-upload-img" style="background-image: url({{img_base}}./img/sample/1.jpeg)"></div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="post-tags">
                        <a class="chip txt-white bg-shamrock" ng-click='tag.complete = !tag.complete' ng-if='tag.complete' ng-repeat='tag in event.checklist'>{{tag.item}}&nbsp;&nbsp;<i class='icon ion-checkmark'></i> </a>
                        <a class="chip txt-white bg-slate" ng-click='tag.complete = !tag.complete' ng-if='!tag.complete' ng-repeat='tag in event.checklist'>{{tag.item}}</a>
                    </aside>
                    <footer>
                        <ul>
                            <li><span style="background-image: url({{event.announcer.profile_url}});"></span></li>
                            <li>
                                <a>{{event.assignee.name}}</a>
                                <span>{{event.formatted_time}}</span>
                            </li>
                        </ul>
                    </footer>
                </article>
                <!--
                    {{event.announcer.role}}
                    <span ng-repeat="attachment in event.attachments">{{attachment}}</span>
                -->

            </li>
            <div></div>
        </ul>
        <!-- <div class='p15x bg-cerise full-x flex-wrap flex-center'>
            <div class='full-x'>
                <h1 class='weight-900'> Missing Components</h1>
                <ol>
                    <li>Main page</li>
                    <li>Timelne + versioning + personal progress</li>
                    <li>Milestones (timeline progress)</li>
                    <li>All components</li>
                    <li>Glossary</li>
                    <li>Tutorial</li>
                    <li>Calendar</li>
                    <li>Categories</li>
                    <li>Universities</li>
                    <li>Upcoming</li>
                    <li>Quick links</li>
                </ol>
            </div>
            <div class='full-x'>
                <h1 class='weight-900'> To refactor functionally</h1>
                <ol>
                    <li>Calendar</li>
                    <li>UI library -> Admin</li>
                    <li>UI library -> Admin</li>
                </ol>
            </div>
        </div> -->
    </div>
    </div>

</main>
