<svg class="letter-p" viewBox="0 0 49 100">
    <defs>
        <clipPath id="letter-p-clip">
            <path d="M1,78.16 L15.4,78.16 L15.4,65.416 L25.768,65.416 C40.672,65.416 47.8,55.408 47.8,43.528 C47.8,32.224 40.672,22 25.768,22 L1,22 L1,78.16 L1,78.16 Z M24.976,35.104 C31.024,35.104 33.256,39.136 33.256,43.6 C33.256,48.568 31.024,52.312 24.976,52.312 L15.4,52.312 L15.4,35.104 L24.976,35.104 L24.976,35.104 L24.976,35.104 L24.976,35.104 Z" class="letter-mask-p" fill="#D8D8D8"></path>
        </clipPath>
    </defs>
    <g fill="none" fill-rule="evenodd" stroke-linecap="square" stroke-linejoin="bevel" stroke-width="15" clip-path="url(#letter-p-clip)">
        <g stroke="#F25A5B">
            <path d="M1,28 C1,28 7.94462211,28 16.4936657,28 L25.5063343,28 C34.0632496,28 41,34.9377042 41,43.5 L41,43.5 C41,52.0604136 34.0681042,59 25.499658,59 L15.500342,59" class="letter-color-p-1"></path>
            <path d="M8.5,29.5 L8.5,71.5" class="letter-color-p-2"></path>
        </g>
        <g stroke="#FFFFFF">
            <g draw-shapes>
                <path d="M1,28 C1,28 7.94462211,28 16.4936657,28 L25.5063343,28 C34.0632496,28 41,34.9377042 41,43.5 L41,43.5 C41,52.0604136 34.0681042,59 25.499658,59 L15.500342,59" class="letter-white-p-1" id="letter-white-p-1" draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M8.5,29.5 L8.5,71.5" class="letter-white-p-2" id="letter-white-p-2" draw-duration="1s"></path>
            </g>
        </g>
    </g>
</svg>

<svg width="15px" height="15px" class="absolute top-0 left-0">
    <rect class="trace-activate" trace-path="#letter-white-p-2" trace-parent="#letter-p-clip" trace-duration="1s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-p-2" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center"></rect>
    <rect class="trace-activate" trace-path="#letter-white-p-1" trace-parent="#letter-p-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-p-1" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center"></rect>
</svg>
