<svg class="projector-line top" width="2px" height="196px" viewBox="0 0 4 392">
    <path d="M2,2 L2,392" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" opacity="0.6" stroke-linejoin="round" stroke-dasharray="16,14"></path>
</svg>
<a id='desktop-projector-up-link' class-on-activate="fadeInDown:anim" class-on-activate-delay="600" class-on-clear="fadeOutUp:animOut" ng-click='scrollToSection("#home-splash")'>
    <svg class="projector-handle active" ng-class="{'show': projectorPullActivated}" ng-show='projectorPullActivated' width="61px" height="24px" viewBox="0 0 122 48">
        <path d="M116.813759,2 L119.407837,16.1511345 C121.400182,27.0197169 114.265024,37.7105153 103.431627,39.9081948 C103.431627,39.9081948 77.5373297,46 60.9999232,46 C44.4625167,46 18.5495835,39.9045365 18.5495835,39.9045365 C7.74411375,37.6544772 0.597741646,27.0302069 2.59200971,16.1511345 L5.18608711,2" fill="none" stroke-width="4" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
</a>
<div class="projector-top"></div>
<div id="splash-access" class="projector-content" ng-include="img_base + BASE + 'templates/splash.access.html'">
</div>