/*-- GALLERY NAVIGATION */
.ui-gallery-nav {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7.5px; }
  .ui-gallery-nav > * {
    padding: 7.5px; }

.ui-gallery-menu-icon {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 1000px;
  margin-left: 15px;
  border: 2px solid transparent;
  transition: border 300ms ease-in-out, background 300ms ease-in-out; }
  .ui-gallery-menu-icon svg {
    width: 24px;
    height: 24px; }
    .ui-gallery-menu-icon svg * {
      fill: none;
      stroke: rgba(64, 72, 75, 0.5);
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: stroke 300ms ease-in-out; }
  .ui-gallery-menu-icon:hover, .ui-gallery-menu-icon:focus {
    background: rgba(64, 72, 75, 0.5);
    border-color: rgba(64, 72, 75, 0.5); }
    .ui-gallery-menu-icon:hover svg *, .ui-gallery-menu-icon:focus svg * {
      stroke: white; }
  .ui-gallery-menu-icon:active {
    background: #9cbdbe;
    border-color: #76a3ab; }
    .ui-gallery-menu-icon:active svg * {
      stroke: white; }

.ui-gallery-filter-header {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 36px;
  font-size: 24px;
  font-weight: 600; }

.ui-gallery-filter-bar {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px; }
  .ui-gallery-filter-bar ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 7.5px; }
    .ui-gallery-filter-bar ul li {
      padding: 7.5px; }

.ui-gallery-filter-btn {
  display: block;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 36px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 2px;
  background: #fadab0;
  transition: all 300ms ease-in-out; }
  .ui-gallery-filter-btn:hover, .ui-gallery-filter-btn:focus {
    border-color: rgba(43, 50, 52, 0.25);
    background: rgba(43, 50, 52, 0.25);
    color: white; }
  .ui-gallery-filter-btn.selected, .ui-gallery-filter-btn:active {
    background: #9cbdbe;
    border-color: #76a3ab; }

.ui-gallery-likes {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-bottom-left-radius: 2px; }
  .ui-gallery-likes svg {
    width: 24px;
    height: 24px; }
    .ui-gallery-likes svg * {
      stroke: #e28797;
      stroke-width: 6px; }
  .ui-gallery-likes:hover, .ui-gallery-likes:focus {
    background: white; }
    .ui-gallery-likes:hover svg *, .ui-gallery-likes:focus svg * {
      fill: rgba(226, 135, 151, 0.5) !important; }
  .ui-gallery-likes:active svg *, .ui-gallery-likes.liked svg * {
    fill: #e28797 !important; }

.ui-gallery-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #555f7b; }

.ui-gallery-menu-grid {
  padding: 80px 15px 15px;
  width: 100%;
  height: 100%; }
  .ui-gallery-menu-grid ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .ui-gallery-menu-grid ul .ui-gallery-menu-border {
      position: absolute;
      z-index: 5;
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background: white; }
    .ui-gallery-menu-grid ul .ui-gallery-menu-item-border {
      position: absolute;
      z-index: 5;
      top: 0;
      right: -1px;
      height: 100%;
      width: 2px;
      background: white;
      border-radius: 4px; }
    .ui-gallery-menu-grid ul .ui-gallery-menu-item {
      position: relative;
      width: 100%;
      height: 100%; }
      @media screen and (orientation: landscape) {
        .ui-gallery-menu-grid ul .ui-gallery-menu-item {
          width: calc(100% / 3);
          height: 50%; } }
      @media screen and (orientation: portrait) {
        .ui-gallery-menu-grid ul .ui-gallery-menu-item {
          width: 50%;
          height: calc(100% / 3); } }
      .ui-gallery-menu-grid ul .ui-gallery-menu-item:nth-of-type(3n) .ui-gallery-menu-item-border {
        display: none; }
      .ui-gallery-menu-grid ul .ui-gallery-menu-item a {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%; }
        .ui-gallery-menu-grid ul .ui-gallery-menu-item a div:first-child:empty {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(64, 72, 75, 0.2); }
        .ui-gallery-menu-grid ul .ui-gallery-menu-item a h1 {
          position: relative;
          z-index: 2;
          font-size: 48px;
          font-weight: 900; }

/*-- GALLERY */
.ui-gallery-main {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 930px;
  margin: 0 auto;
  padding: 7.5px; }
  .ui-gallery-main > * {
    padding: 7.5px; }

.ui-gallery-item {
  position: relative;
  width: 100%; }
  .ui-gallery-item > div {
    position: relative;
    z-index: 1;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: border 300ms ease-in-out; }
    .ui-gallery-item > div > figure {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0;
      padding: 15px;
      background: rgba(255, 255, 255, 0.25);
      transition: background 300ms ease-in-out; }
    .ui-gallery-item > div > aside {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: space-between;
      border-top: 2px solid rgba(255, 255, 255, 0.5);
      transition: border 300ms ease-in-out, background 300ms ease-in-out; }
      .ui-gallery-item > div > aside h2 {
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        transition: color 300ms ease-in-out; }
      .ui-gallery-item > div > aside ul {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 7.5px; }
        .ui-gallery-item > div > aside ul li {
          padding: 7.5px; }
  .ui-gallery-item > a:first-child:empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    .ui-gallery-item > a:first-child:empty:hover + div, .ui-gallery-item > a:first-child:empty:focus + div {
      border-color: rgba(43, 50, 52, 0.5); }
      .ui-gallery-item > a:first-child:empty:hover + div > figure, .ui-gallery-item > a:first-child:empty:focus + div > figure {
        background: rgba(43, 50, 52, 0.25); }
      .ui-gallery-item > a:first-child:empty:hover + div > aside, .ui-gallery-item > a:first-child:empty:focus + div > aside {
        border-color: rgba(43, 50, 52, 0.5);
        background: rgba(255, 255, 255, 0.25); }
        .ui-gallery-item > a:first-child:empty:hover + div > aside h2, .ui-gallery-item > a:first-child:empty:focus + div > aside h2 {
          color: rgba(43, 50, 52, 0.5); }
  .ui-gallery-item .ui-gallery-likes {
    z-index: 3; }

/*-- GALLERY ITEM MODAL */
.ui-gallery-single-main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 80px 0 50px;
  overflow: auto; }
  .ui-gallery-single-main::-webkit-scrollbar {
    display: none; }
  .ui-gallery-single-main::-moz-scrollbar {
    display: none; }
  .ui-gallery-single-main > article {
    max-width: 830px;
    margin: 0 auto; }
    .ui-gallery-single-main > article > div:first-child {
      padding: 15px 15px 0;
      position: relative; }
      .ui-gallery-single-main > article > div:first-child .ui-gallery-likes {
        top: 17px !important;
        right: 17px !important; }
      .ui-gallery-single-main > article > div:first-child > figure {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 30px 15px;
        border: 2px solid rgba(255, 255, 255, 0.8);
        border-bottom: 0;
        border-radius: 2px 2px 0 0;
        background: rgba(43, 50, 52, 0.25); }
        .ui-gallery-single-main > article > div:first-child > figure .fixed {
          position: absolute !important; }

.ui-gallery-single-desc {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: stretch;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 2px 2px;
  color: #40484B; }
  .ui-gallery-single-desc header a, .ui-gallery-single-desc aside a {
    font-weight: 700;
    color: #555f7b; }
    .ui-gallery-single-desc header a:hover, .ui-gallery-single-desc header a:focus, .ui-gallery-single-desc aside a:hover, .ui-gallery-single-desc aside a:focus {
      color: #76a3ab; }
    .ui-gallery-single-desc header a:active, .ui-gallery-single-desc aside a:active {
      color: #668193; }
  .ui-gallery-single-desc header {
    width: 40%; }
    .ui-gallery-single-desc header h1 {
      padding: 15px 15px 0;
      font-size: 36px;
      font-weight: 900; }
    .ui-gallery-single-desc header h4 {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-align-content: center;
      align-content: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 15px;
      font-size: 18px;
      font-weight: 600; }
    .ui-gallery-single-desc header .user-icon-24 {
      margin-left: 10px; }
  .ui-gallery-single-desc aside {
    width: 60%;
    font-size: 18px;
    font-weight: 600; }
    .ui-gallery-single-desc aside p {
      padding: 15px 15px 0; }
  .ui-gallery-single-desc footer {
    width: 100%; }
    .ui-gallery-single-desc footer ul {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 7.5px; }
      .ui-gallery-single-desc footer ul li {
        padding: 7.5px; }

.ui-gallery-single-info {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 7.5px; }
  .ui-gallery-single-info > * {
    padding: 7.5px; }

.ui-gallery-related > div, .ui-gallery-styles > div {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px; }
  .ui-gallery-related > div > h2, .ui-gallery-styles > div > h2 {
    padding: 15px 15px 0;
    color: #555f7b;
    font-size: 28px;
    font-weight: 600;
    line-height: 1; }

.ui-gallery-related {
  width: calc(100% / 3 * 2); }

.ui-gallery-styles {
  width: calc(100% / 3);
  color: #40484B; }
  .ui-gallery-styles h3 {
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #40484B;
    font-size: 16px;
    font-weight: 600; }
    .ui-gallery-styles h3 span {
      font-weight: 700; }
  .ui-gallery-styles > div > ul {
    padding: 7.5px; }
    .ui-gallery-styles > div > ul > li {
      padding: 7.5px; }

.ui-gallery-padding > div {
  position: relative;
  margin-bottom: 15px; }
  .ui-gallery-padding > div svg {
    display: block;
    width: 100%;
    height: auto; }
  .ui-gallery-padding > div span {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 1; }
    .ui-gallery-padding > div span:first-child {
      top: 0;
      left: 0;
      width: 100%; }
    .ui-gallery-padding > div span:last-child {
      top: 0;
      right: 0;
      height: 100%; }
  .ui-gallery-padding > div .margin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 2px dotted; }
  .ui-gallery-padding > div .normal {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 2px solid; }
  .ui-gallery-padding > div .padding {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 2px dashed; }

.ui-gallery-stroke-width svg {
  margin-left: -15px; }

.ui-gallery-icon ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 7.5px;
  margin: -15px -15px 0;
  overflow: hidden; }
  .ui-gallery-icon ul li {
    padding: 7.5px; }
    .ui-gallery-icon ul li:not(:first-child) svg {
      opacity: 0.25;
      background: rgba(255, 255, 255, 0.5); }
.ui-gallery-icon svg {
  display: block;
  width: 72px;
  height: 72px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px; }
  .ui-gallery-icon svg * {
    stroke: #40484B; }

.ui-gallery-fonts h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1; }

.ui-gallery-colors ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 7.5px;
  margin: -15px -15px 0; }
  .ui-gallery-colors ul li {
    padding: 7.5px; }
    .ui-gallery-colors ul li div {
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      border: 2px solid white; }

.ui-gallery-single-footer {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .ui-gallery-single-footer ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    padding: 1px; }
    .ui-gallery-single-footer ul li {
      padding: 1px; }
      .ui-gallery-single-footer ul li a {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: white;
        border: 2px solid transparent;
        border-radius: 2px;
        transition: border 300ms ease-in-out, background 300ms ease-in-out; }
        .ui-gallery-single-footer ul li a svg {
          width: 24px;
          height: 24px; }
          .ui-gallery-single-footer ul li a svg * {
            fill: none;
            stroke: #9cbdbe;
            stroke-width: 6px;
            stroke-linecap: round;
            stroke-linejoin: round; }
        .ui-gallery-single-footer ul li a:hover, .ui-gallery-single-footer ul li a:focus {
          background: rgba(64, 72, 75, 0.5);
          border-color: rgba(64, 72, 75, 0.5); }
          .ui-gallery-single-footer ul li a:hover svg *, .ui-gallery-single-footer ul li a:focus svg * {
            stroke: white; }
        .ui-gallery-single-footer ul li a:active {
          background: #9cbdbe;
          border-color: #76a3ab; }
          .ui-gallery-single-footer ul li a:active svg * {
            stroke: white; }
      .ui-gallery-single-footer ul li.double a {
        height: 23px; }
        .ui-gallery-single-footer ul li.double a:first-child {
          margin-bottom: 2px; }
      .ui-gallery-single-footer ul li:first-child a svg {
        width: 36px;
        height: 36px; }
        .ui-gallery-single-footer ul li:first-child a svg * {
          stroke-width: 4px; }

/*-- STYLES */
.txt-aero {
  color: #9cbdbe !important; }

.txt-copper {
  color: #975357 !important; }

.txt-sienna {
  color: #ee7361 !important; }

.txt-cream {
  color: #fadab0 !important; }

.txt-olive {
  color: #98855d !important; }

.txt-neptune {
  color: #76a3ab !important; }

.txt-stone {
  color: #555f7b !important; }

.txt-cosmic {
  color: #6d4266 !important; }

.txt-rose {
  color: #e28797 !important; }

[class*="bg-aero"] {
  background: #9cbdbe;
  color: white; }
  [class*="bg-aero"][class*="-05p"] {
    background: rgba(156, 189, 190, 0.05); }
  [class*="bg-aero"][class*="-10p"] {
    background: rgba(156, 189, 190, 0.1); }
  [class*="bg-aero"][class*="-20p"] {
    background: rgba(156, 189, 190, 0.2); }
  [class*="bg-aero"][class*="-25p"] {
    background: rgba(156, 189, 190, 0.25); }
  [class*="bg-aero"][class*="-50p"] {
    background: rgba(156, 189, 190, 0.5); }
  [class*="bg-aero"][class*="-75p"] {
    background: rgba(156, 189, 190, 0.75); }
  [class*="bg-aero"][class*="-80p"] {
    background: rgba(156, 189, 190, 0.8); }
  [class*="bg-aero"][class*="-90p"] {
    background: rgba(156, 189, 190, 0.9); }

[class*="bg-copper"] {
  background: #975357;
  color: white; }
  [class*="bg-copper"][class*="-05p"] {
    background: rgba(151, 83, 87, 0.05); }
  [class*="bg-copper"][class*="-10p"] {
    background: rgba(151, 83, 87, 0.1); }
  [class*="bg-copper"][class*="-20p"] {
    background: rgba(151, 83, 87, 0.2); }
  [class*="bg-copper"][class*="-25p"] {
    background: rgba(151, 83, 87, 0.25); }
  [class*="bg-copper"][class*="-50p"] {
    background: rgba(151, 83, 87, 0.5); }
  [class*="bg-copper"][class*="-75p"] {
    background: rgba(151, 83, 87, 0.75); }
  [class*="bg-copper"][class*="-80p"] {
    background: rgba(151, 83, 87, 0.8); }
  [class*="bg-copper"][class*="-90p"] {
    background: rgba(151, 83, 87, 0.9); }

[class*="bg-sienna"] {
  background: #ee7361;
  color: white; }
  [class*="bg-sienna"][class*="-05p"] {
    background: rgba(238, 115, 97, 0.05); }
  [class*="bg-sienna"][class*="-10p"] {
    background: rgba(238, 115, 97, 0.1); }
  [class*="bg-sienna"][class*="-20p"] {
    background: rgba(238, 115, 97, 0.2); }
  [class*="bg-sienna"][class*="-25p"] {
    background: rgba(238, 115, 97, 0.25); }
  [class*="bg-sienna"][class*="-50p"] {
    background: rgba(238, 115, 97, 0.5); }
  [class*="bg-sienna"][class*="-75p"] {
    background: rgba(238, 115, 97, 0.75); }
  [class*="bg-sienna"][class*="-80p"] {
    background: rgba(238, 115, 97, 0.8); }
  [class*="bg-sienna"][class*="-90p"] {
    background: rgba(238, 115, 97, 0.9); }

[class*="bg-cream"] {
  background: #fadab0;
  color: white; }
  [class*="bg-cream"][class*="-05p"] {
    background: rgba(250, 218, 176, 0.05); }
  [class*="bg-cream"][class*="-10p"] {
    background: rgba(250, 218, 176, 0.1); }
  [class*="bg-cream"][class*="-20p"] {
    background: rgba(250, 218, 176, 0.2); }
  [class*="bg-cream"][class*="-25p"] {
    background: rgba(250, 218, 176, 0.25); }
  [class*="bg-cream"][class*="-50p"] {
    background: rgba(250, 218, 176, 0.5); }
  [class*="bg-cream"][class*="-75p"] {
    background: rgba(250, 218, 176, 0.75); }
  [class*="bg-cream"][class*="-80p"] {
    background: rgba(250, 218, 176, 0.8); }
  [class*="bg-cream"][class*="-90p"] {
    background: rgba(250, 218, 176, 0.9); }

[class*="bg-olive"] {
  background: #98855d;
  color: white; }
  [class*="bg-olive"][class*="-05p"] {
    background: rgba(152, 133, 93, 0.05); }
  [class*="bg-olive"][class*="-10p"] {
    background: rgba(152, 133, 93, 0.1); }
  [class*="bg-olive"][class*="-20p"] {
    background: rgba(152, 133, 93, 0.2); }
  [class*="bg-olive"][class*="-25p"] {
    background: rgba(152, 133, 93, 0.25); }
  [class*="bg-olive"][class*="-50p"] {
    background: rgba(152, 133, 93, 0.5); }
  [class*="bg-olive"][class*="-75p"] {
    background: rgba(152, 133, 93, 0.75); }
  [class*="bg-olive"][class*="-80p"] {
    background: rgba(152, 133, 93, 0.8); }
  [class*="bg-olive"][class*="-90p"] {
    background: rgba(152, 133, 93, 0.9); }

[class*="bg-neptune"] {
  background: #76a3ab;
  color: white; }
  [class*="bg-neptune"][class*="-05p"] {
    background: rgba(118, 163, 171, 0.05); }
  [class*="bg-neptune"][class*="-10p"] {
    background: rgba(118, 163, 171, 0.1); }
  [class*="bg-neptune"][class*="-20p"] {
    background: rgba(118, 163, 171, 0.2); }
  [class*="bg-neptune"][class*="-25p"] {
    background: rgba(118, 163, 171, 0.25); }
  [class*="bg-neptune"][class*="-50p"] {
    background: rgba(118, 163, 171, 0.5); }
  [class*="bg-neptune"][class*="-75p"] {
    background: rgba(118, 163, 171, 0.75); }
  [class*="bg-neptune"][class*="-80p"] {
    background: rgba(118, 163, 171, 0.8); }
  [class*="bg-neptune"][class*="-90p"] {
    background: rgba(118, 163, 171, 0.9); }

[class*="bg-stone"] {
  background: #555f7b;
  color: white; }
  [class*="bg-stone"][class*="-05p"] {
    background: rgba(85, 95, 123, 0.05); }
  [class*="bg-stone"][class*="-10p"] {
    background: rgba(85, 95, 123, 0.1); }
  [class*="bg-stone"][class*="-20p"] {
    background: rgba(85, 95, 123, 0.2); }
  [class*="bg-stone"][class*="-25p"] {
    background: rgba(85, 95, 123, 0.25); }
  [class*="bg-stone"][class*="-50p"] {
    background: rgba(85, 95, 123, 0.5); }
  [class*="bg-stone"][class*="-75p"] {
    background: rgba(85, 95, 123, 0.75); }
  [class*="bg-stone"][class*="-80p"] {
    background: rgba(85, 95, 123, 0.8); }
  [class*="bg-stone"][class*="-90p"] {
    background: rgba(85, 95, 123, 0.9); }

[class*="bg-cosmic"] {
  background: #6d4266;
  color: white; }
  [class*="bg-cosmic"][class*="-05p"] {
    background: rgba(109, 66, 102, 0.05); }
  [class*="bg-cosmic"][class*="-10p"] {
    background: rgba(109, 66, 102, 0.1); }
  [class*="bg-cosmic"][class*="-20p"] {
    background: rgba(109, 66, 102, 0.2); }
  [class*="bg-cosmic"][class*="-25p"] {
    background: rgba(109, 66, 102, 0.25); }
  [class*="bg-cosmic"][class*="-50p"] {
    background: rgba(109, 66, 102, 0.5); }
  [class*="bg-cosmic"][class*="-75p"] {
    background: rgba(109, 66, 102, 0.75); }
  [class*="bg-cosmic"][class*="-80p"] {
    background: rgba(109, 66, 102, 0.8); }
  [class*="bg-cosmic"][class*="-90p"] {
    background: rgba(109, 66, 102, 0.9); }

[class*="bg-rose"] {
  background: #e28797;
  color: white; }
  [class*="bg-rose"][class*="-05p"] {
    background: rgba(226, 135, 151, 0.05); }
  [class*="bg-rose"][class*="-10p"] {
    background: rgba(226, 135, 151, 0.1); }
  [class*="bg-rose"][class*="-20p"] {
    background: rgba(226, 135, 151, 0.2); }
  [class*="bg-rose"][class*="-25p"] {
    background: rgba(226, 135, 151, 0.25); }
  [class*="bg-rose"][class*="-50p"] {
    background: rgba(226, 135, 151, 0.5); }
  [class*="bg-rose"][class*="-75p"] {
    background: rgba(226, 135, 151, 0.75); }
  [class*="bg-rose"][class*="-80p"] {
    background: rgba(226, 135, 151, 0.8); }
  [class*="bg-rose"][class*="-90p"] {
    background: rgba(226, 135, 151, 0.9); }

.bg.bg-aero, button.bg-aero {
  background: #9cbdbe; }
  .bg.bg-aero.reverse, button.bg-aero.reverse {
    background: white;
    color: #9cbdbe; }
    .bg.bg-aero.reverse svg *, button.bg-aero.reverse svg * {
      stroke: #9cbdbe; }
  .bg.bg-aero:hover, .bg.bg-aero:focus, button.bg-aero:hover, button.bg-aero:focus {
    background: #cededf;
    color: #6e8385; }
    .bg.bg-aero:hover svg *, .bg.bg-aero:focus svg *, button.bg-aero:hover svg *, button.bg-aero:focus svg * {
      stroke: #6e8385; }
  .bg.bg-aero:active, button.bg-aero:active {
    background: #6e8385;
    color: white; }
    .bg.bg-aero:active svg *, button.bg-aero:active svg * {
      stroke: white; }
.bg.bg-copper, button.bg-copper {
  background: #975357; }
  .bg.bg-copper.reverse, button.bg-copper.reverse {
    background: white;
    color: #975357; }
  .bg.bg-copper:hover, .bg.bg-copper:focus, button.bg-copper:hover, button.bg-copper:focus {
    background: #cba9ab;
    color: #6c4e51; }
  .bg.bg-copper:active, button.bg-copper:active {
    background: #6c4e51;
    color: white; }
.bg.bg-sienna, button.bg-sienna {
  background: #ee7361; }
  .bg.bg-sienna.reverse, button.bg-sienna.reverse {
    background: white;
    color: #ee7361; }
  .bg.bg-sienna:hover, .bg.bg-sienna:focus, button.bg-sienna:hover, button.bg-sienna:focus {
    background: #f7b9b0;
    color: #975e56; }
  .bg.bg-sienna:active, button.bg-sienna:active {
    background: #975e56;
    color: white; }
.bg.bg-cream, button.bg-cream {
  background: #fadab0; }
  .bg.bg-cream.reverse, button.bg-cream.reverse {
    background: white;
    color: #fadab0; }
  .bg.bg-cream:hover, .bg.bg-cream:focus, button.bg-cream:hover, button.bg-cream:focus {
    background: #fdedd8;
    color: #9d917e; }
  .bg.bg-cream:active, button.bg-cream:active {
    background: #9d917e;
    color: white; }
.bg.bg-olive, button.bg-olive {
  background: #98855d; }
  .bg.bg-olive.reverse, button.bg-olive.reverse {
    background: white;
    color: #98855d; }
  .bg.bg-olive:hover, .bg.bg-olive:focus, button.bg-olive:hover, button.bg-olive:focus {
    background: #ccc2ae;
    color: #6c6754; }
  .bg.bg-olive:active, button.bg-olive:active {
    background: #6c6754;
    color: white; }
.bg.bg-neptune, button.bg-neptune {
  background: #76a3ab; }
  .bg.bg-neptune.reverse, button.bg-neptune.reverse {
    background: white;
    color: #76a3ab; }
  .bg.bg-neptune:hover, .bg.bg-neptune:focus, button.bg-neptune:hover, button.bg-neptune:focus {
    background: #bbd1d5;
    color: #5b767b; }
  .bg.bg-neptune:active, button.bg-neptune:active {
    background: #5b767b;
    color: white; }
.bg.bg-stone, button.bg-stone {
  background: #555f7b; }
  .bg.bg-stone.reverse, button.bg-stone.reverse {
    background: white;
    color: #555f7b; }
  .bg.bg-stone:hover, .bg.bg-stone:focus, button.bg-stone:hover, button.bg-stone:focus {
    background: #aaafbd;
    color: #4b5463; }
  .bg.bg-stone:active, button.bg-stone:active {
    background: #4b5463;
    color: white; }
.bg.bg-cosmic, button.bg-cosmic {
  background: #6d4266; }
  .bg.bg-cosmic.reverse, button.bg-cosmic.reverse {
    background: white;
    color: #6d4266; }
  .bg.bg-cosmic:hover, .bg.bg-cosmic:focus, button.bg-cosmic:hover, button.bg-cosmic:focus {
    background: #b6a1b3;
    color: #574559; }
  .bg.bg-cosmic:active, button.bg-cosmic:active {
    background: #574559;
    color: white; }
.bg.bg-rose, button.bg-rose {
  background: #e28797; }
  .bg.bg-rose.reverse, button.bg-rose.reverse {
    background: white;
    color: #e28797; }
  .bg.bg-rose:hover, .bg.bg-rose:focus, button.bg-rose:hover, button.bg-rose:focus {
    background: #f1c3cb;
    color: #916871; }
  .bg.bg-rose:active, button.bg-rose:active {
    background: #916871;
    color: white; }

.stroke-aero * {
  stroke: #9cbdbe !important; }

.stroke-copper * {
  stroke: #975357 !important; }

.stroke-sienna * {
  stroke: #ee7361 !important; }

.stroke-cream * {
  stroke: #fadab0 !important; }

.stroke-olive * {
  stroke: #98855d !important; }

.stroke-neptune * {
  stroke: #76a3ab !important; }

.stroke-stone * {
  stroke: #555f7b !important; }

.stroke-cosmic * {
  stroke: #6d4266 !important; }

.stroke-rose * {
  stroke: #e28797 !important; }

.border-aero {
  border-color: #9cbdbe !important; }

.border-copper {
  border-color: #975357 !important; }

.border-sienna {
  border-color: #ee7361 !important; }

.border-cream {
  border-color: #fadab0 !important; }

.border-olive {
  border-color: #98855d !important; }

.border-neptune {
  border-color: #76a3ab !important; }

.border-stone {
  border-color: #555f7b !important; }

.border-cosmic {
  border-color: #6d4266 !important; }

.border-rose {
  border-color: #e28797 !important; }

/*# sourceMappingURL=style.css.map */
