@import 'mixin';

/* ---------- DEFAULT STYLES */
a, a:hover, a:active, a:visited {
	color: white;
	text-decoration:none;
}
i {
	font-style: normal;
}
body {
	margin: 0;
	font-family: $font;
	font-size: 24px;
	font-weight: 200!important;
	color: white;
	background: $auburn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	> section, > div, > main {
		height: 100%;
	}
}
::-webkit-selection {
	background: rgba(white,.2);
}
::-moz-selection {
	background: rgba(white,.2);
}
::selection {
	background: rgba(white,.2);
}

body.platform-ios {
	ul li {
		&.active, &.activated {
			background: rgba(white,.2);
		}
		::selection {
			 background: rgba(255, 255, 255, 0.1);
		}
		a.active, a.activated {
			background: rgba(white,.2);
		}
		a:hover, .list .list-item a:hover {
			 background: rgba(255, 255, 255, 0.1);
		}
	}
}


section, main {
	height: 100%;
}
main, #top-bar, .desktop-only, .desktop-search {
	display: none;
}
@media screen and (min-width:700px) and (min-height:575px) {
	main, .desktop-only, .desktop-search {
		@include flex;
	}
	#top-bar {
		display: block;
	}
	main + section, .mobile-only {
		display: none!important;
	}
}
.view-container {
	position: inherit;
}

/* ---------- MISCELLANEOUS */
.uguru-view {
	* {
		font-family: $font!important;
	}
	@media screen and (max-width:320px) {
		body {
			font-size: 20px;
		}
		#start-container {
			font-size: 24px!important;
		}
		#skills-list.onboarding-list a {
			font-size: 16px!important;
		}
		#skills-list.onboarding-list  .skill-icon {
			margin-bottom: 10px;
			width: 40px!important;
			height: 40px!important;
		}
		.input-search-ghost {
			input {
				font-size: 18px;
			}
			&::before {
				@include center-y;
				display: block;
				background: url(../../img/svg/search.svg) no-repeat center center/cover,
							url(/static/remote/img/svg/search.svg) center/cover no-repeat;
				width: 14px;
				height: 14px;
			}
		}
		#loading svg {
			max-width: 200px;
		}
	}
}



/* ---------- MODALS & POPUPS */
// POPUP
.close-popup-link {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 30px;
	height: 30px;
	svg {
		@include rotate(45);
		path {
			stroke-width: 5px;
		}
	}
}
.uguru-popup {
	@include opacity(0);
	@include flex;
	@include flex-center;
	@include transition(250ms ease);
	position: fixed;
	z-index: 100;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($charcoal, .9);
	pointer-events: none;
	.uguru-popup-content {
		@include transition(250ms ease);
		position: relative;
		margin: 0 15px;
		z-index: 2;
		width: 100%;
		background: white;
		border-radius: 5px;
		color: $slate;
		.guru-logo-container {
			@include flex;
			@include flex-center;
			position: absolute;
			top: -60px;
			z-index: 5;
			width: 100%;
			height: auto;
			margin: 0 auto;
			.svg-logo-wrapper {
				@include round;
				width: 120px;
				height: 120px;
				background: white;
				svg {
					@include round;
					display: block;
					max-width: 120px;
					max-height: 120px;
					padding: 20px;
					z-index: 3;
					border: 3px solid white;
				}
			}
			.svg-logo-wrapper:not(.tour-guru) {
				svg {
					background: $shamrock;
					path {
						fill: white;
					}
				}
			}
			.tour-guru {
				svg {
					background: rgba($shamrock,.3);
					padding: 15px;
					*[fill="#1D0E02"] {
						fill: $charcoal!important;
					}
				}
			}
		}
		.content-wrapper {
			position: relative;
			padding: 70px 0 0;
			text-align: center;
			.content-body {
				@include flex;
				@include flex-wrap;
				padding: 0 15px 15px;
				#guru-ranking-popup-progress-bar {
					position: relative;
					width: 150px;
					height: 150px;
					margin: 0 auto 10px;
					svg {
						path {
							stroke-linecap: round!important;
						}
					}
					.progressbar-text {
						display: none;
					}
					#popup-percentile {
						@include center-xy;
						#popup-percentile-ranking {
							position: relative;
							font-size: 44px;
							font-weight: 600;
							line-height: 1;
							text-align: center;
							&::after {
								content: "th";
								display: block;
								position: absolute;
								top: -1px;
								right: -1px;
								font-size: 12px;
								font-weight: 400;
								line-height: 28px;
								text-transform: uppercase;
							}
						}
						#popup-percentile-label {
							font-size: 12px;
							font-weight: 400;
							letter-spacing: 1px;
							line-height: 15px;
							text-transform: uppercase;
						}
					}
				}
				h2 {
					@include opacity(.9);
					width: 100%;
					margin-bottom: 10px;
					color: $slate;
					font-weight: 700;
					font-size: 20px;
					text-align: center;
					text-transform: uppercase;
				}
				p {
					@include opacity(.8);
					color: $charcoal;
					font-weight: 400;
					font-size: 16px;
					margin: 0 auto;
				}
			}
			.content-footer {
				height: 64px;
				button {
					background: $shamrock!important;
					border-radius: 0 0 5px 5px;
					position: absolute;
				    width: 100%;
				    left: 0;
				    bottom: 0;
				}
			}
		}
	}
	&.show {
		@include opacity(1);
		@include flex;
		visibility: visible;
		pointer-events: auto;
	}
	input {
		font-size: 16px;
		text-align: center;
		width: calc(100% - 30px);
	}
}
.guru-mode {
	background: rgba(white, .9);
	.close-popup-link {
		svg {
			path {
				stroke: $charcoal;
			}
		}
	}
	.uguru-popup-content {
		background: $slate;
		color: white;
		.guru-logo-container {
			.svg-logo-wrapper {
				background: $slate;
				svg {
					border: 3px solid $slate;
				}
			}
			.tour-guru {
				svg {
					background: white;
				}
			}
		}
		.content-wrapper {
			.content-body {
				h2, p {
					color: white;
				}
			}
		}
	}
}

@media screen and (min-width:700px) and (min-height:575px) {
	.modal {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

/* ---------- SIDEBAR & MENUS */
// SIDEBAR
nick-side-menu {
	@include transition(.15s ease-in-out);
	@include opacity(0);
	@include translate-x(-100%);
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	max-width: 300px;
	height: calc(100% - 50px);
	background: white;
	z-index: 12;
	&.nick-active {
		@include opacity(1);
		@include translate-x(0);
	}
	ul {
		@include flex-column;
		padding: 0 15px;
		li {
			position: relative;
			height: 64px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			border-bottom: 1px solid $auburn;
			a {
				@include flex;
				@include flex-center;
				// position: absolute;
				// top: 0;
				// left: -15px;
				// width: calc(100% + 30px);
				width: 100%;
				height: 100%;
				color: $taupe;
				&:hover, &:focus {
					background: rgba($auburn,.1);
					color: $auburn;
				}
				&:active {
					background: rgba($auburn,.5);
					color: white;
				}
			}
		}
	}
}
.nick-overlay {
	@include opacity(0);
	@include translate-x(-100%);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	margin-top: 50px;
	background: rgba($taupe,.9);
	&.nick-overlay-active {
		@include opacity(1);
		@include translate-x(0);
	}
}

// UNIVERSITY
.input-field {
	svg {
		path {
			stroke: $auburn;
		}
	}
}
.university-view {
	background: white;
	header:not(.desktop-header).third:not(.flex-center-wrap), header {
		background: lighten($auburn, 40%);
		svg {
			path {
				stroke: $auburn!important;
			}
		}
		&::before {
			@include opacity(.1);
			background: url(../../img/hall.jpg) no-repeat center center / cover;
		}
		h1 {
			font-size: 28px!important;
			text-transform: lowercase;
			color: $auburn;
		}
		// .geolocation-icon {
		// 	margin-top: 3px;
		// 	// To add hella space to tap it (it's responsive & equalizes)
		// 	padding: 30px;
    	// 	margin-right: -30px;
		// }
		.side-icon {
			color: $auburn;
		}
		.onboarding-search {
			&::before {
				display: none;
			}
			.input-field {
				margin-top: 0;
				*, *:focus {
					color: $auburn!important;
					border-color: $auburn!important;
					outline-color: $auburn!important;
				}
				input {
					margin: 0;
				}
			}
		}
	}
	#school-list.onboarding-list, #school-list-modal {
		ul {
			li {
				margin-left: 1px;
				margin-right: 1px;
				width: calc(100% - 2px);
				&:first-child {
					margin-top: 1px;
				}
				a {
					background: $smoke;
					color: $taupe;
					font-weight: 300;
					border: 0;
					.school-icon {
						img {
							@include round;
							border: 0!important;
							margin: 10px;
							width: 44px;
							height: 44px;
							background: white;
						}
					}
					.school-name {
						display: block;
						width: calc(100% - 69px);
						padding-right: 5px;
						b, i {
							display: block;
							width: 100%;
							line-height: 1.2;
						}
						b {
							font-size: 20px;
							font-weight: 400;
						}
						i {
							font-size: 16px;
							font-style: normal;
							font-weight: 300;
						}
						.school-title {
							display: block;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						.school-city {
							text-transform: capitalize;
						}
						.school-state {
							text-transform: uppercase;
						}
						.school-distance {
							float: right;
						    bottom: 0;
						    font-size:12px;
						    padding-top: 5px;
						    font-weight: 500;
						}
					}
				}
				a:hover {
					background: $auburn;
					color: white;
				}
				a:focus, a:active, a.active, a.activated {
					background: rgba($auburn, .2);
					color: $auburn;
				}
			}
		}
	}
}


/* ---------- GURU ONBOARDING */
// ONBOARDING
.onboarding {
	header {
		h1:not(header .header-nav a h1) {
			text-align: center;
		}
	}
	.onboarding-list {
		height: calc(100% / 3 * 2);
		overflow: auto;
	}
}


/* ---------- TITLE */
.title-view {
	img {
		display: block;
		width: 100%;
		max-width: 414px;
		margin: 0 auto;
	}
	ul {
		@include center-x;
		bottom: 30px;
		width: 100%;
		max-width: 414px;
		padding: 0 15px;
		li {
			padding: 0 15px;
			button:hover {
				background: rgba(white,.8);
			}
			button:active, button:focus {
				background: rgba(white,.4);
			}
		}
	}
	@media screen and (min-width:400px) and (min-height:700px) {
		h1 {
			font-size: 32px!important;
		}
	}
	@media screen and (min-width:800px) and (min-height:700px) {
		h1 {
			font-size: 48px!important;
		}
	}
}


/* ---------- RESTAURANT MODAL */
#restaurant {
	header {
		background: rgba(white,.8);
		h1 {
			color: $auburn;
			font-size: 32px;
			.restaurant-rating {
				@include flex-center;
				margin-top: 10px;
			}
		}
		svg {
			path {
				stroke: $auburn!important;
			}
		}
	}
	.restaurant-info {
		height: calc(100% / 2 * 3 + 1px);
		background: $auburn;
		nav {
			height: 60px;
			background: lighten($auburn, 10%);
			ul {
				@include flex;
				height: 100%;
				li {
					@include flex;
					@include flex-center;
					width: 20%;
					height: 100%;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					&.active {
						border-bottom-color: white;
					}
					svg {
						height: 100%;
						padding: 5px;
						path {
							@include svg-stroke(white, 4);
						}
					}
					span {
						font-size: 16px;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}
		}
		#restaurant-details {
			height: calc(100% - 60px);
			padding: 15px;
			> li:not(#restaurant-menu) {
				background: white;
				color: $auburn;
				font-weight: 600;
				text-align: center;
				.section-header {
					background: lighten($auburn, 20%);
				}
				div {
					padding: 15px;
				}
			}
			#restaurant-menu {
				ul {
					li {
						@include flex;
						width: 100%;
						background: rgba(white,.9);
						margin-bottom: 15px;
						svg {
							width: 80px;
							height: 80px;
							background: white;
							path {
								@include svg-stroke($auburn, 3);
							}
						}
						div {
							@include flex;
							@include flex-center-vertical;
							width: calc(100% - 80px);
							padding: 15px;
							color: $taupe;
							.menu-name {
								width: calc(100% - 50px);
								font-size: 24px;
								font-weight: 600;
							}
							.menu-price {
								width: 50px;
								font-size: 20px;
								font-weight: 400;
								&::before {
									content: "$";
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- HOME */
#food-home {
	#top-bar {
		@include transition(.15s ease-in-out);
	}
	#top-bar:not(.active) {
		@include opacity(0);
		background-color: transparent!important;
	}
	> header {
		@include transition(.15s ease-in-out);
		background: $auburn;
		&:not(.active) {
			@include opacity(0);
			background-color: transparent!important;
			+ #map_canvas_home {
				height: 100%;
				margin-top: -50px;
			}
		}
		h1:not(.active) {
			@include opacity(0);
			z-index: -10;
		}
		.search-field {
			@include center-xy;
			z-index: 999;
			margin: 0;
			width: calc(100% - 100px);
			max-width: 500px;
			* {
				color: $auburn!important;
				border-color: $auburn!important;
				outline-color: $auburn!important;
			}
			input {
				@include transition(.15s ease-in-out);
				@include opacity(1);
				margin: 0;
				height: 50px;
				padding: 0 15px;
				width: 100%;
				font-size: 18px;
				line-height: 50px;
				@include placeholder {
					color: $auburn;
				}
			}
			input:not(.active) {
				@include opacity(0);
				z-index: -10;
			}
		}
		#filter-button {
		}
	}
	#map_canvas_home {
		height: 100%;
		width: 150%;
		margin-left: -25%;
		#home-container {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 50%;
			overflow-y: auto;
		}
	}
	#home-grub {
		background: $auburn;
		height: 100%;
		.grub-list {
			padding: 7.5px;
			height: 100%;
			overflow: auto;
			background: $auburn;
			.grub-item {
				padding: 7.5px;
				> div {
					padding: 15px;
					background: white;
					color: $taupe;
					.restaurant-info {
						h3 {
							margin: 0;
							font-weight: 900;
						}
						span {
							text-align: right;
						}
					}
					.restaurant-rating {
						margin-top: 3px;
					}
				}
			}
		}
	}
}
.filter-button {
	position: absolute;
	z-index: 12;
	width: 100%;
	text-align: center;
	background: lighten($auburn, 10%);
	min-height: 30px;
	font-size: 16px;
	font-weight: 600;
	text-align: center!important;
	text-transform: lowercase;
	svg {
		position: absolute;
		top: 0;
		height: 30px;
		width: 30px;
		padding: 5px 0;
		path {
			@include svg-stroke(white, 8);
		}
		&.filter-icon {
			left: 7.5px;
		}
		&.down-icon {
			right: 7.5px;
		}
	}
	.filter-final {
		@include center-x;
		padding: 5px;
	}
	.filter-list-container {
		@include opacity(1);
		@include transition(.15s ease-in-out);
		max-height: 50%;
		padding-top: 30px;
		.filter-container {
			padding: 7.5px;
			.chip {
				margin: 7.5px;
				font-size: 14px;
				line-height: 28px;
				svg {
					@include rotate(45);
					padding: 5px;
					width: 32px;
					height: 32px;
				}
			}
			&#filter-current {
				.chip {
					background: white;
					border: 2px solid white;
					color: $auburn;
					path {
						@include svg-stroke($auburn, 8);
					}
				}
			}
			&#filter-trending {
				h2 {
					color: white;
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 15px;
				}
				.chip {
					border: 2px solid white;
					path {
						@include svg-stroke(white, 8);
					}
				}
			}
		}
	}
	.filter-list-container:not(.active) {
		@include opacity(0);
		max-height: 0;
		overflow: hidden;
	}
}
.restaurant-rating {
	@include flex;
	@include flex-wrap;
	margin-left: -2.5px;
	span {
		display: none;
		margin-left: 2.5px;
		width: 100%;
		font-size: 14px;
		font-weight: 600;
	}
	svg {
		@include svg-stroke($auburn, 4);
		width: 20px;
		height: 20px;
	}
	&[data-rating="0"] {
		span {
			display: block;
		}
		svg {
			display: none;
		}
	}
	&[data-rating="1"] {
		svg {
			&:nth-child(1) {
				fill: $auburn!important;
			}
		}
	}
	&[data-rating="2"] {
		svg {
			&:nth-child(1), &:nth-child(2) {
				fill: $auburn!important;
			}
		}
	}
	&[data-rating="3"] {
		svg {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				fill: $auburn!important;
			}
		}
	}
	&[data-rating="4"] {
		svg {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				fill: $auburn!important;
			}
		}
	}
	&[data-rating="5"] {
		svg {
			fill: $auburn!important;
		}
	}
}
@media screen and (min-width:414px) {
	#food-home {
		#home-grub {
			.grub-list {
				.grub-item {
					> div {
						.restaurant-info {
							@include flex;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:700px) and (min-height:575px) {
	#food-home {
		#map_canvas_home {
			#home-container {
				@include transition(.15s ease-in-out);
				top: auto;
				bottom: 15px;
				left: auto;
				right: 15px;
				width: 30%;
				min-width: 400px;
				overflow: visible;
				&:not(.active) {
					@include opacity(0);
					background-color: transparent!important;
				}
				.filter-button {
					bottom: 100%;
					left: 0;
					background: rgba(lighten($auburn, 10%), .9);
				}
			}
		}
	}
}


/* ---------- DEMOGRAPHIC */
#demographic {
	background: $smoke;
	header {
		background: lighten($auburn, 40%);
		&::before {
			@include opacity(.1);
			background: url(../../img/hall.jpg) no-repeat center center / cover;
		}
		h1 {
			font-size: 28px!important;
			text-transform: lowercase;
			color: $auburn;
		}
	}
	#demo-grid {
		ul {
			@include flex;
			@include flex-center;
			@include flex-wrap;
			height: 100%;
			li {
				position: relative;
				height: 50%;
				font-weight: 600;
				a {
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					background: none;
					svg {
						width: 100%;
					}
					span {
						@include center-xy;
						width: 100%;
						text-align: center;
					}
				}
				&.demo-hs a {
					background: lighten($auburn, 25%);
				}
				&.demo-college a {
					background: $auburn;
				}
				&.demo-alum a {
					background: lighten($auburn, 10%);
				}
				&.demo-parent a {
					background: darken($auburn, 20%);
				}
				a:hover {
					background: lighten($auburn, 37%)!important;
					color: $auburn!important;
				}
				a:active, a:focus {
					background: white!important;
					color: $auburn!important;
				}
			}
		}
	}
	@media screen and (min-width:700px) and (min-height:575px) {
		header {
			display: block;
			height: calc(100% - 445px);
			background: none;
			h1 {
				@include flex;
				@include flex-center;
				padding: 0;
				width: 100%;
				height: 50%;
			}
			&:before {
				display: none;
			}
		}
		#demo-grid {
			@include center-xy;
			height: auto;
			width: 490px;
			height: 490px;
			ul {
				padding: 15px;
				li {
					height: 230px;
					width: 230px;
					padding: 15px;
				}
			}
		}
	}
	@media screen and (min-width:960px) {
		header {
			height: calc(100% - 230px);
			h1 {
				font-size: 48px!important;
			}
		}
		#demo-grid {
			width: 100%;
		}
	}
}


#intercom-container {
	display:none !important;
}

