{% extends 'gabrielle/layout/base.html' %}

{% block title_text %}
Uguru Home
{% endblock %}
{% block header_scripts %}
<link rel="stylesheet" href="/static/gabrielle/css/style.css"/>
{% endblock %}

{% block logo %}
	<img id="top-mobile-logo" src="/static/gabrielle/svg/logo-white.svg" alt="uguru"/>
	{% include "gabrielle/components/logo-banner.svg" %}
	<img id="top-school-logo" src="/static/gabrielle/svg/logo-shamrock.svg" alt="uguru"/>
{% endblock %}
{% block content %}
<nav id="slide-breadcrumbs">
	<ul>
		<li>
			<a class="active" href="#search" data-number="0"></a>
		</li>
		<li>
			<a href="#earn" data-number="1"></a>
		</li>
		<li>
			<a href="#work" data-number="2"></a>
		</li>
		<li>
			<a href="#why" data-number="3"></a>
		</li>
		<li>
			<a href="#info" data-number="4"></a>
		</li>
	</ul>
</nav>
<div id="mobile-start">
	<div id="mobile-inside">
		<img src="/static/gabrielle/svg/logo-white.svg" alt="uguru"/>
		<p>To earn an A, swipe away!<em>To the right, to the right.</em></p>
	</div>
</div>
<div id="banner"></div>

<section id="main">
	<div id="search">
		<div id="search-box">
			<p>Peers helping peers for free, barter, or side cash.</p>
			<div id="search-container">
				<input id="search-bar" class="typeahead" type="text" placeholder="Search for your university"/>
				<ul id="search-results">
					<li id="search-harvard">
						<div>
							<img src="/static/gabrielle/images/school/harvard.svg" alt=""/>
						</div>
						<div>
							<h2>Harvard University</h2>
							<p>Cambridge, MA, USA</p>
						</div>
					</li>
					<li id="search-stanford">
						<div>
							<img src="/static/gabrielle/images/school/stanford.svg" alt=""/>
						</div>
						<div>
							<h2>Stanford University</h2>
							<p>Stanford, CA, USA</p>
						</div>
					</li>
					<li id="search-cambridge">
						<div>
							<img src="/static/gabrielle/images/school/cambridge.svg" alt=""/>
						</div>
						<div>
							<h2>University of Cambridge</h2>
							<p>Cambridge, UK</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- SAMIR -
			There's a problem with the banner - it's too big for the school popup,
			but when I scroll down on the school popup, the width changes
			Ask for explanation if needed (JS needs to change)
		-->
		<div class="search-results">
			<header class="search-results-top text-center">
				<p class="search-results-header"><small>Uguru is now at</small></p>
				<h1 id="search-school-name">School Name</h1>
				<button class="btn-round btn-ghost">Become a Guru</button>
			</header>
			<footer class="search-results-bottom">
				<div class="search-results-map text-center uppercase">
					<!-- SAMIR -
						The background for .search-results-map should be either a static or dynamic map of where gurus are located
					-->
					<div class="search-results-gurus">
						<h2>
							<b id="search-guru-number">340</b>
							<span>gurus</span>
						</h2>
					</div>
				</div>
				<div class="search-results-courses">
					<ul class="text-center">
						<!-- SAMIR -
							Colored either
								(1)	Randomly based on color scheme or
								(2)	Based on colors we choose to represent broad categories i.e. math, science, etc
						-->
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>CALC 312</li>
						<li>and more</li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
	<div id="earn" class="slide" data-number="1">
		<div class="inside">
			<div class="inside-text">
				<h2>Earn sidecash doing literally anything that you're good at.</h2>
				<ul id="earn-categories-desktop">
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-academic" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/academic.svg" %}
								<h3>Academic Courses</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Tutor peers</li>
									<li>Answer questions online</li>
									<li>Create free content</li>
									<li>Form study groups</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-consulting" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/consulting.svg" %}
								<h3>Consulting<span> &amp; Freelancing</span></h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Design &amp programming</li>
									<li>Interview help</li>
									<li>Resume editing</li>
									<li>Skill building</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-baking" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/baking.svg" %}
								<h3>Baking</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Brownies</li>
									<li>Cupcakes</li>
									<li>Caramel flan</li>
									<li>Anything delicious</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-photography" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/photography.svg" %}
								<h3>Photography</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Graduation photos</li>
									<li>Professional headshots</li>
									<li>Athletic &amp; action images</li>
									<li>Outdoor scenery</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-household" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/household.svg" %}
								<h3>Household</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Laundry</li>
									<li>Vacuuming &amp; cleaning</li>
									<li>Furniture assembly</li>
									<li>Dishes</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-technology" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/technology.svg" %}
								<h3>Technology &amp; IT</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Phone repair</li>
									<li>Computer repair</li>
									<li>WiFi setup</li>
									<li>Virus removal</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-sports" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/sports.svg" %}
								<h3>Sports &amp; Muscle</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Moving help</li>
									<li>Furniture assembly</li>
									<li>Personal trainer</li>
									<li>Triathalon</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="earn-category">
						<div class="earn-category-inside">
							<div id="earn-category-delivery" class="earn-category-front front">
								<div class="earn-category-overlay"></div>
								{% include "gabrielle/components/category/delivery.svg" %}
								<h3><span>On-demand </span>Delivery</h3>
							</div>
							<div class="earn-category-back back">
								<ul>
									<li>Food delivery</li>
									<li>Car borrow</li>
									<li>Truck borrow</li>
									<li>Ridesharing</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="work" class="slide" data-number="2">
		<div class="inside">
			<div class="inside-text">
				<div class="inside-prop"></div>
				<h2>Greater pay &amp; rewards for helping students.</h2>
			</div>
			<div id="work-inside">
				<div id="work-infograph">
					<div></div>
				</div>
				<div id="work-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="why" class="slide" data-number="3">
		<div class="inside">
			<div class="inside-text">
				<div class="inside-prop"></div>
				<h2>Why Uguru?</h2>
			</div>
			<div id="why-inside">
				<div class="app-phone">
					<div class="app-wf">
						<div class="app-wf-top"><div></div></div>
						<div class="app-wf-scr"></div>
						<div class="app-wf-bot"><div></div></div>
					</div>
				</div>
				<div id="why-text">
					<div>
						<h3>Always make more $$ than before.</h3>
						<p>Good reviews increase your hourly rate to more than $40/hr. Good work = great earnings.</p>
					</div>
					<div hidden>
						<h3>24/7 flexibility.</h3>
						<p>Work whenever you feel like it. Early mornings, 2am, or Saturdays only.</p>
					</div>
					<div hidden>
						<h3>Remote friendly.</h3>
						<p>Skype, FaceTime and work-from-home, all the time with options like video chat and online paid Q&amp;A</p>
					</div>
					<div hidden>
						<h3>Zero transaction fees, always.</h3>
						<p>Earnings go to straight to your bank. Watch numbers rise and leave Mom surprised.</p>
					</div>
					<div hidden>
						<h3>Customizable profile.</h3>
						<p>Change color themes and skills; leverage your Guru code to have your friends spread the word.</p>
					</div>
					<div hidden>
						<h3>Cross-platform.</h3>
						<p>We support all popular browsers, mobile platforms, and even watches*!</p>
						<p><small>Currently in beta.</small></p>
					</div>
					<div hidden>
						<h3>You’re the boss.</h3>
						<p>Unless you fire yourself, of course. Turn Guru mode on/off anytime, like during your midterms.</p>
					</div>
					<div hidden>
						<h3>Add unlimited schools and courses.</h3>
						<p>The more you add, the higher chance you have of increasing your incoming requests.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="start" class="slide" data-number="4">
		<div class="inside">
			<div class="inside-text">
				<div class="inside-prop"></div>
				<h2>Next Steps</h2>
				<ol>
					<li>Choose a platform.</li>
					<li>Add skills &amp; a profile.</li>
					<li>Earn $$ by accepting requests.</li>
				</ol>

				<h2>Or, enter your email &amp; university to stay in touch.</h2>
				<input hidden placeholder="enter your email address"/>
				<button hidden class="btn-round btn-ghost">Subscribe</button>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer_scripts %}
<!-- start Samir's scripts -->
<script src="/static/js/web/lib/typeahead.min.js"></script>
<script src="/static/js/web/lib/fastmatcher.js"></script>

<script src="/static/js/web/lib/handlebars.js"></script>

<script src="/static/gabrielle/js/lib/jquery.flip.min.js"></script>
<script src="/static/gabrielle/js/lib/phonenumber.js"></script>
<script>
	$(".earn-category").flip({
	  axis: 'y',
	  trigger: 'hover'
	});
	var all_universities;

	var matcher;

	$(document).ready(function() {
	    universities_arr = readAndParseJSON('/static/data/universities_web3.json');
	    matcher = initMatcher(universities_arr);
	    initTypeahead(matcher, universities_arr);
	});

	function readAndParseJSON(file) {
	    var request = new XMLHttpRequest();
	    request.open('GET', file, false);
	    request.send(null);
	    if (request.status == 200)
	        universities_arr = JSON.parse(request.responseText);
	    return universities_arr;
	}

	var initMatcher = function(arr) {
	    var matcher = new FastMatcher(arr, {
	        // the property, or array of properties, to base matches on
	        selector: 'title',

	        // duh, what do you think this does?
	        caseInsensitive: true,

	        // return matches in their original order
	        preserveOrder: false,

	        // whether to match against any word (not just first) for each string
	        anyWord: true,

	        // how many matches to find at a time
	        limit: 5
	    });
	    return matcher;
	}

	{% raw %}
	var initTypeahead = function(matcher, source) {

	    $('.typeahead').typeahead({
	        minLength: 1,
	        highlight: true,
	        hint: true
	    }, {
	        displayKey: 'title',
	        source: function(q, cb) {
	            cb(matcher.getMatches(q))
	        },
	        templates: {
	            //if no results show
	            empty: [
	                '<div class="tt-suggestion">',
	                '<a href="http://goo.gl/forms/UQ7WcYl3sb" class="university-link" target="_blank"><div><img src="/static/gabrielle/svg/logo-shamrock.svg"/></div><div><h2><span class="title">No results found (yet!)</span> Click to Bring Uguru to Your University / School</h2></div></a>',
	                '</div>'
	            ].join('\n'),
	            suggestion: Handlebars.compile("<div><img src='{{thumbnail.source}}' alt=''/></div><div><h2>{{title}}</h2><p>{{city}}, {{state}}, USA</p></div>")
	        }
	    }).on('typeahead:selected', function(event, suggested, dataset_name) {
	        console.log('yo')
	            //make it wobble
	    }).on('typeahead:cursorchanged', function(event, suggested, dataset_name) {
	        $('.tt-suggestion').css('background-color', 'white');
	        var suggestedTypeaheadListItem = document.querySelectorAll('.tt-suggestion.tt-cursor')[dataset_name];
	        suggestedTypeaheadListItem.style.backgroundColor = 'rgba(0,0,0,0.1)';
	        // event.target.style.backgroundColor = 'rgba(0,0,0,0.1)';
	    });
	};

	{% endraw %}
</script>
{% endblock %}