<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>uguru.me</title>

	<link rel="shortcut icon" href="/static/gabrielle/images/favicon.ico">
	<link rel="stylesheet" href="/static/gabrielle/css/base-min.css"/>
	<link rel="stylesheet" href="/static/gabrielle/css/grids-min.css"/>
	<link rel="stylesheet" href="/static/gabrielle/css/grids-responsive-min.css"/>
	<link rel="stylesheet" href="/static/gabrielle/css/style.css"/>

	<script src="/static/gabrielle/js/modernizr.js"></script>
	<style>
	 .twitter-typeahead {
	 	width:100%;
	 }
	 .tt-dropdown-menu {
	  border: 2px solid #3D9988;
	  background-color: white;
	  width: 100%;
	  color: rgba(0, 0, 0, 0.5);
	  font-family: "OpenSans-Regular"; }

	.tt-suggestion {
	  position: relative;
	  z-index: 20;
	  padding: 0em 1.5em;
	  text-align: left;
	  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
	  .tt-suggestion .title {
	    font-size: 120%;
	    display: block;
	    margin-bottom: 0.25em;
	    color: rgba(0, 0, 0, 0.8);
	    width: 80%;
	    overflow: ellipsis; }
	  .tt-suggestion a {
	    text-decoration: none;
	    color: inherit; }
	  .tt-suggestion img {
	    position: absolute;
	    right: 1em;
	    top: 0.75em;
	    max-height: 50px; }
	  .tt-suggestion p {
	    padding: 0.75em;
	    margin: 0; }

	.tt-suggestion.tt-cursor {
	  background-color: #3D9988;
	  margin-top: 0px;
	  padding-top: 0px;
	  color: white;
	  font-family: "OpenSans-Semibold"; }
	  .tt-suggestion.tt-cursor .title {
	    color: white; }
	</style>
</head>
<body>
	<div id="mobile-start">
		<div id="mobile-inside">
			<img src="/static/gabrielle/svg/logo-shamrock.svg" alt="uguru"/>
			<p>For an easy A, swipe away!<em>To the right, to the right.</em></p>
		</div>
	</div>
	<div id="banner"></div>
	<header id="top">
		<nav id="top-menu">
			<ul>
				<li><a id="top-link-menu" class="btn-round btn-ghost" href="#"><span>Menu</span></a></li>
				<li>
					<a id="top-logo" href="/">
						<svg id="top-school-banner" width="200px" height="291px" viewBox="0 0 200 291" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					        <g id="content">
					            <path d="M0,272.209991 L100,232.899994 L200,272.209991 L200,290.208092 L100,250.901734 L0,290.208092 L0,272.209991 Z" id="border-outer" fill="#69B3A5"></path>
					            <path d="M0,268.209991 L100,228.899994 L200,268.209991 L200,283.208092 L100,243.899994 L0,283.209991 L0,268.209991 Z" id="border-inner" fill="#363C3E"></path>
					            <path d="M0,0 L200,0 L200,268.208092 L100,228.899994 L0,268.209991 L0,0 Z" fill="#FFFFFF"></path>
					        </g>
						</svg>
						<img id="top-school-logo" src="/static/gabrielle/svg/logo-shamrock.svg" alt="uguru"/>
					</a>
				</li>
				<li><a id="top-link-login" class="btn-round btn-ghost" href="#"><span>Log In</span></a></li>
			</ul>
		</nav>
	</header>
	<nav id="slide-breadcrumbs">
		<ul>
			<li>
				<a class="active" href="#search" data-number="0"></a>
			</li>
			<li>
				<a href="#values" data-number="1"></a>
			</li>
			<li>
				<a href="#earn" data-number="2"></a>
			</li>
			<li>
				<a href="#adapt" data-number="3"></a>
			</li>
			<li>
				<a href="#rewards" data-number="4"></a>
			</li>
			<li>
				<a href="#info" data-number="5"></a>
			</li>
		</ul>
	</nav>
	<section id="main">

	<div id="search">
		<div id="search-box">
			<p>Peers helping peers for free, barter, or side cash.</p>
			<div id="search-container">
				<input id="search-bar" class='typeahead' type="text" placeholder="Search for your university"/>
				<ul id="search-results">
					<li id="search-harvard">
						<div>
							<img src="/static/gabrielle/images/school/harvard.svg" alt=""/>
						</div>
						<div>
							<h2>Harvard University</h2>
							<p>Cambridge, MA, USA</p>
						</div>
					</li>
					<li id="search-stanford">
						<div>
							<img src="/static/gabrielle/images/school/stanford.svg" alt=""/>
						</div>
						<div>
							<h2>Stanford University</h2>
							<p>Stanford, CA, USA</p>
						</div>
					</li>
					<li id="search-cambridge">
						<div>
							<img src="/static/gabrielle/images/school/cambridge.svg" alt=""/>
						</div>
						<div>
							<h2>University of Cambridge</h2>
							<p>Cambridge, UK</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="search-results-harvard" class="search-results">
			<p class="search-results-header"><small>Uguru is now at</small></p>
			<h1>Harvard University</h1>
			<ul>
				<li class="search-results-student">
					<h3>Get a tutor,<br/>ace the course</h3>
					<button class="btn-round">Get started</button>
				</li>
				<li class="search-results-start">
					<p><small>Classes start</small></p>
					<h2>Aug 01</h2>
				</li>
				<li class="search-results-guru">
					<h3>Make money<br/>tutoring today</h3>
					<button class="btn-round">Become a Guru</button>
				</li>
			</ul>
		</div>
		<div id="search-results-stanford" class="search-results">
			<p class="search-results-header"><small>Uguru is now at</small></p>
			<h1>Stanford University</h1>
			<ul>
				<li class="search-results-student">
					<h3>Get a tutor,<br/>ace the course</h3>
					<button class="btn-round">Get started</button>
				</li>
				<li class="search-results-start">
					<p><small>Classes start</small></p>
					<h2>Aug 01</h2>
				</li>
				<li class="search-results-guru">
					<h3>Make money<br/>tutoring today</h3>
					<button class="btn-round">Become a Guru</button>
				</li>
			</ul>
		</div>
		<div id="search-results-cambridge" class="search-results">
			<p class="search-results-header"><small>Uguru is now at</small></p>
			<h1>Cambridge University</h1>
			<ul>
				<li class="search-results-student">
					<h3>Get a tutor,<br/>ace the course</h3>
					<button class="btn-round">Get started</button>
				</li>
				<li class="search-results-start">
					<p><small>Classes start</small></p>
					<h2>Aug 01</h2>
				</li>
				<li class="search-results-guru">
					<h3>Make money<br/>tutoring today</h3>
					<button class="btn-round">Become a Guru</button>
				</li>
			</ul>
		</div>
	</div>
	<div id="values" class="slide" data-number="1">
		<div class="inside">
			<div class="inside-text">
				<h1>uguru</h1>
				<p>Literally make $$$ on anything that you're good at</p>
				<ul id="values-steps">
					<li>
						<p><button disabled class="value-number">1</button></p>
						<p><span>Get our app</span> on all major platforms</p>
					</li>
					<li>
						<p><button disabled class="value-number">2</button></p>
						<p><span>Add your skills</span> and we’ll promote you</p>
					</li>
					<li>
						<p><button disabled class="value-number">3</button></p>
						<p><span>Make $$$</span> easier than ever before</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="earn" class="slide" data-number="2">
		<div class="inside">
			<div class="app-phone">
				<div class="app-wf">
					<div class="app-wf-top"><div></div></div>
					<div class="app-wf-scr">
						<img src="/static/gabrielle/images/mock/open.png" alt=""/>
					</div>
					<div class="app-wf-bot"><div></div></div>
				</div>
			</div>
			<div id="earn-text" class="inside-text">
				<div class="inside-prop"></div>
				<h2>Make more moolah than <br/>any part-time job.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<div id="adapt" class="slide" data-number="3">
		<div class="inside">
			<div class="app-phone">
				<div class="app-wf">
					<div class="app-wf-top"><div></div></div>
					<div class="app-wf-scr">
						<img src="/static/gabrielle/images/mock/open.png" alt=""/>
					</div>
					<div class="app-wf-bot"><div></div></div>
				</div>
			</div>
			<div id="adapt-text" class="inside-text">
				<div class="inside-prop"></div>
				<h2>Flexible where you are, <br/>whenever you are.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<div id="rewards" class="slide" data-number="4">
		<div class="inside">
			<div class="app-phone">
				<div class="app-wf">
					<div class="app-wf-top"><div></div></div>
					<div class="app-wf-scr">
						<img src="/static/gabrielle/images/mock/open.png" alt=""/>
					</div>
					<div class="app-wf-bot"><div></div></div>
				</div>
			</div>
			<div id="adapt-text" class="inside-text">
				<div class="inside-prop"></div>
				<h2>Win great rewards <br/>and work your way up.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<div id="info" class="slide" data-number="5">
		<div class="inside">
			<div class="inside-text">
				<div id="info-sub">
					<div class="inside-prop"></div>
					<h2>Get Info</h2>
					<input placeholder="enter your email address"/>
					<button class="btn-round">Subscribe</button>
				</div>
				<div id="info-download">
					<h2>Download</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>
	</div>

	</section>


		<!-- Start gabrielle Scripts -->
		<script src="/static/gabrielle/js/jquery.min.js"></script>
		<script src="/static/gabrielle/js/plugins.js"></script>
		<script src="/static/gabrielle/js/main.js"></script>
		<!-- End gabrielle Scripts -->

		<!-- start Samir's scripts -->
		<script src="/static/js/web/lib/typeahead.min.js"></script>
	    <script src="/static/js/web/lib/fastmatcher.js"></script>

	    <script src="/static/js/web/lib/handlebars.js"></script>
	    <script>

			    var all_universities;

		        var matcher;

		        $(document).ready(function() {
		            universities_arr = readAndParseJSON('/static/data/universities_web3.json');
		            matcher = initMatcher(universities_arr);
		            initTypeahead(matcher, universities_arr);
		        });

		        function readAndParseJSON(file) {
		            var request = new XMLHttpRequest();
		            request.open('GET', file, false);
		            request.send(null);
		            if (request.status == 200)
		                universities_arr = JSON.parse(request.responseText);
		                return universities_arr;
		        }

		        var initMatcher = function(arr) {
		            var matcher = new FastMatcher(arr, {
		              // the property, or array of properties, to base matches on
		              selector: 'title',

		              // duh, what do you think this does?
		              caseInsensitive: true,

		              // return matches in their original order
		              preserveOrder: false,

		              // whether to match against any word (not just first) for each string
		              anyWord: true,

		              // how many matches to find at a time
		              limit: 5
		            });
		            return matcher;
		        }

		        {% raw %}
		            var initTypeahead = function(matcher, source) {

		                $('.typeahead').typeahead({
		                    minLength: 1,
		                    highlight:true,
		                    hint:true
		                }, {
		                    displayKey: 'title',
		                    source: function(q, cb) {cb(matcher.getMatches(q))},
		                    templates: {
		                    //if no results show
		                    empty: [
		                      '<div class="tt-suggestion">',

		                      '<a href="http://goo.gl/forms/UQ7WcYl3sb" class="university-link" target="_blank"><p><span class="title">No results found (yet!) </span> Click to Bring Uguru to Your University / School<img class="pure-img" src="/static/img/guru-logo-red.svg"/></p></a>',
		                      '</div>'
		                    ].join('\n'),
		                    	suggestion: Handlebars.compile("<li><div><img src='{{thumbnail.source}}' alt=''/></div/div><div><h2>{{title}}</h2><p>{{city}}, {{state}}, USA</p></div></li>")
		                    }
		                }).on('typeahead:selected', function(event, suggested, dataset_name){
		                	console.log('yo')
		                //make it wobble
		                }).on('typeahead:cursorchanged', function(event, suggested, dataset_name) {
		                    $('.tt-suggestion.tt-cursor img').addClass('animated wobble');
		                });
		            };


            {% endraw %}
        </script>
	    <!-- end Samir's scripts -->
</body>
</html>