{% extends 'gabrielle/layout/base.html' %}
{% block pagetype %}page-eggplant{% endblock %}
{% block header_scripts %}
<link rel="stylesheet" href="/static/gabrielle/css/page.css"/>
{% endblock %}

{% block content %}
<div id="manifest" class="main pure-g">
    <header class="pure-u-1">
	    <h4 class="text-center">UGURU</h4>
	    <h1 class="text-center">Manifesto</h1>
	</header>
	<div class="pure-u-1">
		<h2>For students by students.</h2>
		<p>An entire platform devoted meet the on-demand needs of college students. Why struggle when there is someone footsteps away who’s mastered the exact skillset you need to learn?</p>
		<p>We understand the needs of our students - in fact, our entire team is composed of part-time students and recent graduates! Learn more about us here.</p>

		<h2>No student left behind.</h2>
		<p>Private tutoring is expensive and we aim to provide solutions that makes on-demand academic support available & affordable to all demographics.</p>
		<p>By allowing barter and eliminating transaction fees entirely, we are extremely determined to find a way to grow without ridiculous pricing.</p>

		<h2>Your data is yours, and no one else's.</h2>
		<p>We will never sell your data to third-party platforms. </p>
		<p>If a third party is interested in accessing your data (i.e. recruiters, survey platforms), we plan to ask your permission first, and share the love ($$) with you each time.</p>

		<h2>Find your inner guru.</h2>
		<p>Everyone is born with talents, and there is absolutely someone around you who could use it. Our platform inherently promotes knowledge exchange, skill-set barter, and much more. </p>

		<h2>Your money is no good here.</h2>
		<p>We are convinced that we can find a way to keeping our core services & transactions free. Any new changes to pricing, we’ll let you know first and keep things 100% transparent.</p>

		<h2>Join Us! Help make college even more awesome.</h2>
		<p>Become a guru, setup your profile, and help your fellow peers excel in school.</p>
	</div>
</div>
{% endblock %}