@import 'mixin';

$wine: #4D496A;
$rose: #ECACA4;
$ice: #D6F0F8;
$grey: #BEB9C0;
$lavendar: #9DA5BA;
$midnight: #17324A;

$padding: 12px;

$proxima: "proxima-nova", "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif!important;
$lulo: "lulu-clean", "Lulo Clean";

#jeselle {
	background: white;
	color: $wine;
	font-family: $proxima;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	line-height: 1;
	div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
	a {
		cursor: pointer;
	}
	*, *:before, *:after { box-sizing: border-box }
	* {
		backface-visibility: visible!important;
	}
	#top {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		padding: $padding*2;
		.top-home {
			display: block;
			width: 48px;
			height: 48px;
			svg {
				display: block;
				width: 100%;
				height: auto;
				* {
					stroke-width: 8px!important;
				}
			}
		}
		.top-projects {
			position: relative;
			display: block;
			height: 48px;
			width: 160px;
			color: $wine;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 2px;
			span, &:before {
				transition: all 150ms ease-out;
				border: $padding/4 solid $wine;
				width: 100%;
				height: 100%;
			}
			span {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				text-align: center;
				position: relative;
				z-index: 2;
				background: white;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				background: lighten($grey, 10%);
			}
			&:hover, &:focus {
				&:before {
					transform: translate3d(6px, 6px, 0);
				}
			}
			&:active {
				color: white;
				span {
					background: $wine;
				}
			}
		}
	}

	.project {
		width: 100%;
		height: 100%;
		header {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			flex-flow: row wrap;
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: $padding*2;
			text-align: center;
			div {
				position: relative;
				width: 100%;
			}
			h1, h2 {
				color: white;
				transition: all 150ms ease-out;
				line-height: 1.2;
				width: 100%;
			}
			h1 {
				font-size: 36px;
				font-family: $lulo;
			}
			h2 {
				opacity: 0;
				position: absolute;
				left: 0;
				font-size: 18px;
				font-weight: 700;
			}
		}
		main {
			padding: $padding;
			width: 100%;
			overflow-x: hidden;
			background: white;
			.project-info {
				@include listless;
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				padding: $padding/2;
				> li {
					padding: $padding/2;
					> div {
						border: $padding/2 solid $grey;
						&:not(:last-child) {
							margin-bottom: $padding;
						}
						h1 {
							display: flex;
							align-items: center;
							align-content: center;
							font-size: 28px;
							font-weight: 900;
							border: $padding solid white;
							padding: $padding;
							background: $lavendar;
							color: white;
							span {
								display: block;
								margin-left: $padding;
								font-size: 20px;
								font-weight: 600;
							}
						}
						a {
							color: mix($grey, $lavendar);
							&:hover, &:focus {
								color: mix($lavendar, $wine);
							}
							&:active {
								color: mix($ice, $wine);
							}
						}
						ul {
							@include listless;
							margin-top: -$padding;
							padding: $padding/2;
							li {
								padding: $padding/2;
								strong {
									font-weight: 600;
								}
							}
						}
						div {
							margin-top: -$padding;
							padding: $padding/2;
							p {
								padding: $padding/2;
								line-height: 1.2;
							}
						}
					}
					&.project-branding {
						> div {
							border-color: $lavendar;
							> svg {
								display: block;
								width: 100%;
								height: auto;
							}
							> a {
								display: block;
								width: 100%;
								padding: $padding;
								border-top: $padding/2 solid $lavendar;
								font-size: 18px;
								font-weight: 800;
								text-align: center;
								&:hover, &:focus {
									background: rgba($grey, .5);
								}
								&:active {
									background: $lavendar;
									color: white;
								}
							}
						}
					}
				}
				&.mobile {
					display: block;
					> li {
						> div {
							h1 {
								justify-content: center;
								margin: 0 (-$padding*2.5);
								text-align: center;
							}
						}
					}
				}
				&.desktop {
					display: none;
					> li {
						width: calc(100% / 3);
						&.project-details {
							> div {
								h1 {
									margin-left: -$padding*3;
									width: calc(100% + $padding*3);
									text-align: right;
								}
							}
						}
						&.project-work {
							> div {
								h1 {
									margin-right: -$padding*3;
									width: calc(100% + $padding*3);
								}
							}
						}
					}
				}
			}
			.project-desc {
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				padding: $padding;
				p {
					padding: ($padding/2) $padding;
					font-size: 18px;
					line-height: 1.2;
					img {
						display: block;
						max-width: 100%;
						border: $padding/2 solid $lavendar;
					}
				}
			}
		}
		footer {
			padding: ($padding*2) $padding;
			text-align: center;
			background: rgb(157,165,187);
			background: -moz-linear-gradient(top,  rgba(157,165,187,1) 0%, rgba(236,172,164,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(157,165,187,1) 0%,rgba(236,172,164,1) 100%);
			background: linear-gradient(to bottom,  rgba(157,165,187,1) 0%,rgba(236,172,164,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da5bb', endColorstr='#ecaca4',GradientType=0 );
			ul {
				@include listless;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				padding: $padding/2;
				li {
					padding: $padding/2;
					a {
						@include round;
						display: flex;
						align-items: center;
						align-content: center;
						justify-content: center;
						width: 48px;
						height: 48px;
						background: mix($wine, $lavendar);
						svg {
							display: block;
							width: 36px;
							height: 36px;
							fill: white;
						}
						&:hover, &:focus {
							background: $wine;
						}
						&:active {
							background: rgba(white, .5);
							svg {
								fill: $wine;
							}
						}
					}
				}
			}
			h1 {
				padding: $padding*2;
				font-family: $lulo;
				font-size: 40px;
				text-transform: uppercase;
				line-height: 1.2;
			}
			div {
				color: white;
				font-size: 20px;
				font-weight: 600;
				line-height: 1.2;
			}
		}
	}

	#home {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.home-container {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: $padding*2;
			.home-coach {
				position: absolute;
				bottom: $padding*2;
				left: 50%;
				margin-left: -100px;
				width: 200px;
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				color: white;
			}
			.home-thumbs {
				@include listless;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				width: 100%;
				height: 100%;
				transform-style: preserve-3d;
				-webkit-perspective: 1000;
				perspective: 1000;
				> li {
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					align-content: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					transform-style: preserve-3d;
					transform-origin: center center;
					transition: all 150ms ease-out;
					backface-visibility: visible!important;
					&:not(:first-child) {
						transform: translate3d(100%,0,0);
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						border: $padding/2 solid white;
					}
					.home-link {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
					}
					.cascade-title {
						display: none;
						position: absolute;
						align-items: center;
						align-content: center;
						justify-content: center;
						top: 50%;
						right: calc(25% - 32px);
						text-align: center;
						color: white;
						font-size: 24px;
						font-weight: 600;
						text-shadow: 0 0 10px rgba($slate, 0.25);
						span {
							transform: rotate(-90deg);
						}
					}
					.project {
						transition: all 150ms ease-out;
						overflow: hidden;
						header {
							h1 {
								margin: 0 auto;
								text-align: center;
								width: 50%;
							}
						}
					}
					&.active {
						transform: translate3d(0,0,0);
						.home-link {
							z-index: -10;
						}
						&:after {
							opacity: 0;
						}
						.project {
							overflow: auto;
							header {
								h1 {
									width: 100%;
								}
								h2 {
									opacity: 1;
									transition-delay: 150ms;
								}
							}
						}
					}
					&.inactive {
						opacity: 0;
					}
				}
				&.cascade {
					> li {
						-webkit-transition: -webkit-transform 150ms ease-out, -webkit-clip-path 150ms ease-out 300ms;
						transition: transform 150ms ease-out, -webkit-clip-path 150ms ease-out 300ms, clip-path 150ms ease-out 300ms;
						&:after {
							transition-delay: 300ms;
						}
						&:nth-child(1) {
							transform: translate3d(-125px,0,0);
						}
						&:nth-child(2) {
							transform: translate3d(0,0,-100px);
						}
						&:nth-child(3) {
							transform: translate3d(125px,0,-200px);
						}
						&:nth-child(4) {
							transform: translate3d(250px,0,-300px);
						}
						&:nth-child(5) {
							transform: translate3d(375px,0,-400px);
						}
						&:nth-child(6) {
							transform: translate3d(500px,0,-500px);
						}
						&:nth-child(7) {
							transform: translate3d(625px,0,-600px);
						}
						.cascade-title {
							display: flex;
							z-index: 100;
							transition: all 150ms ease-out;
						}
						.project {
							-webkit-transition: all 150ms ease-out 300ms;
							transition: all 150ms ease-out 300ms;
							header {
								h1 {
									opacity: 0;
								}
								h1, h2 {
									transition-delay: 450ms;
								}
							}
						}
						&.active {
							z-index: 1000;
							transform: translate3d(0,0,0);
							.cascade-title {
								opacity: 0;
								z-index: -100;
							}
							.project {
								header {
									h1 {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.has-cascade {
		overflow: hidden;
	}
	
	@media all and (orientation:portrait) {
		#home {
			.home-container {
				.home-thumbs {
					> li {
						-webkit-clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
						clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
						-webkit-clip-path: inset(15% 5% 15% 5%);
						clip-path: inset(15% 5% 15% 5%);
						.project {
							-webkit-clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
							clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
							-webkit-clip-path: inset(15% 5% 15% 5%);
							clip-path: inset(15% 5% 15% 5%);
						}
						&:after {
							width: 90%;
							height: 70%;
							left: 5%;
							top: 15%;
						}
						.home-link {
							width: 90%;
							height: 70%;
							left: 5%;
							top: 15%;
						}
						&.active {
							-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							-webkit-clip-path: inset(0 0 0 0);
							clip-path: inset(0 0 0 0);
							.project {
								-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
								clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
								-webkit-clip-path: inset(0 0 0 0);
								clip-path: inset(0 0 0 0);
							}
						}
					}
				}
			}
		}
	}

	@media all and (orientation:landscape) {
		#home {
			.home-container {
				.home-thumbs {
					> li {
						-webkit-clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
						clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
						-webkit-clip-path: inset(25% 25% 25% 25%);
						clip-path: inset(25% 25% 25% 25%);
						.project {
							-webkit-clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
							clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
							-webkit-clip-path: inset(25% 25% 25% 25%);
							clip-path: inset(25% 25% 25% 25%);
						}
						&:after {
							width: 50%;
							height: 50%;
							left: 25%;
							top: 25%;
						}
						.home-link {
							width: 50%;
							height: 50%;
							left: 25%;
							top: 25%;
						}
						&.active {
							-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							-webkit-clip-path: inset(0 0 0 0);
							clip-path: inset(0 0 0 0);
							.project {
								-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
								clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
								-webkit-clip-path: inset(0 0 0 0);
								clip-path: inset(0 0 0 0);
							}
						}
					}
				}
			}
		}
	}

	@media only screen and (min-width: 768px) {
		#home {
			.home-container {
				.home-coach {
					bottom: $padding*4;
				}
			}
		}
		.project {
			header {
				h1 {
					font-size: 72px;
				}
				h2 {
					font-size: 28px;
				}
			}
			main {
				.project-info {
					&.mobile {
						display: none;
					}
					&.desktop {
						display: flex;
					}
				}
			}
		}
	}
}