<ion-view id='jeselle-view'>
    <ion-content id="jeselle">
        <header id="jeselle-top">
    		<a class="jeselle-top-home" href="/">
    			<svg viewBox="0 0 350 350">
    				<g stroke="#15324B" stroke-width="5" fill="none" fill-rule="evenodd">
    					<circle class="jeselle-bg" fill="#15324B" cx="175" cy="175" r="155"></circle>
    					<g class="jeselle-venn">
    						<ellipse class="jeselle-plurple" stroke-linecap="round" stroke-linejoin="round" fill="#9DA5BB" cx="175.5" cy="237.75" rx="92.5" ry="92.25"></ellipse>
    						<ellipse class="jeselle-pank" stroke-linecap="round" stroke-linejoin="round" fill="#ECACA4" cx="175.5" cy="112.25" rx="92.5" ry="92.25"></ellipse>
    					</g>
    					<g class="jeselle-eye">
    						<path d="M243.304063,175 C226.411935,156.854266 202.285526,145.5 175.5,145.5 C148.714474,145.5 124.588065,156.854266 107.695937,175 C124.588065,193.145734 148.714474,204.5 175.5,204.5 C202.285526,204.5 226.411935,193.145734 243.304063,175 L243.304063,175 Z" class="jeselle-slit" stroke-linecap="round" stroke-linejoin="round" fill="#D6F0F8"></path>
    						<g class="jeselle-ball">
    							<ellipse class="jeselle-pupil" stroke-linecap="round" stroke-linejoin="round" fill="#9DA5BB" cx="186.780488" cy="175.5" rx="27.0731707" ry="27"></ellipse>
    							<ellipse class="jeselle-iris" stroke-linecap="round" stroke-linejoin="round" fill="#ECACA4" cx="201.570461" cy="164.75" rx="8.27235772" ry="8.25"></ellipse>
    						</g>
    					</g>
    				</g>
    			</svg>
    		</a>
    		<a class="jeselle-top-projects"><span>Projects</span></a>
    	</header>
        <main id="jeselle-home">
    		<div class="jeselle-home-container" style="background: #BEB9C0;">
    			<div class="jeselle-home-border"></div>
    			<ul class="jeselle-home-thumbs">
    				<li id="project-one">
    					<a class="jeselle-home-link jeselle-active" ng-click='pauseTimer()' class-on-click="null:inject#jeselle-project-one|jeselle-active"></a>
    					<article class="jeselle-project">
    						<header style="background-image: url('http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg');">
    							<div>
    								<h1>Project Title</h1>
    								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h2>
    							</div>
    						</header>
    						<main>
    							<ul class="jeselle-project-info jeselle-desktop">
    								<li class="jeselle-project-details">
    									<div>
    										<h1>Role</h1>
    										<ul>
    											<li>Graphic Designer</li>
    											<li>Product Designer</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Team</h1>
    										<ul>
    											<li><strong><a>Gabrielle Wee:</a></strong> <span>UI Developer</span></li>
    											<li><strong><a>Jason Huang:</a></strong> <span>QA Engineer</span></li>
    											<li><strong><a>Samir Makhani:</a></strong> <span>Developer</span></li>
    										</ul>
    									</div>
    									<div>
    										<h1>Status: <span>Ongoing</span></h1>
    									</div>
    								</li>
    								<li class="jeselle-project-branding">
    									<div>
    										<svg viewBox="0 0 300 400">
    											<rect fill="#17324A" x="0" y="0" width="300" height="400"></rect>
    										</svg>
    										<a>uguru.me</a>
    									</div>
    								</li>
    								<li class="jeselle-project-work">
    									<div>
    										<h1>Tools</h1>
    										<ul>
    											<li>Sketch 3</li>
    											<li>Adobe Illustrator CC</li>
    											<li>Atom</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Deliverables</h1>
    										<div>
    											<p>Deliverables included working from a spec to create graphics, animations, and other stuff. Jeselle, for the life of me, I can't think of how to phrase what you do, so here's a paragraph to show how long a potential deliverable thing will be. And another sentence because widow words.</p>
    										</div>
    									</div>
    								</li>
    							</ul>
    							<ul class="jeselle-project-info jeselle-mobile">
    								<li class="jeselle-project-branding">
    									<div>
    										<svg viewBox="0 0 300 400">
    											<rect fill="#17324A" x="0" y="0" width="300" height="400"></rect>
    										</svg>
    										<a>uguru.me</a>
    									</div>
    								</li>
    								<li class="jeselle-project-details">
    									<div>
    										<h1>Role</h1>
    										<ul>
    											<li>Graphic Designer</li>
    											<li>Product Designer</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Team</h1>
    										<ul>
    											<li><strong><a>Gabrielle Wee:</a></strong> <span>UI Developer</span></li>
    											<li><strong><a>Jason Huang:</a></strong> <span>QA Engineer</span></li>
    											<li><strong><a>Samir Makhani:</a></strong> <span>Developer</span></li>
    										</ul>
    									</div>
    								</li>
    								<li class="jeselle-project-work">
    									<div>
    										<h1>Tools</h1>
    										<ul>
    											<li>Sketch 3</li>
    											<li>Adobe Illustrator CC</li>
    											<li>Atom</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Deliverables</h1>
    										<div>
    											<p>Deliverables included working from a spec to create graphics, animations, and other stuff. Jeselle, for the life of me, I can't think of how to phrase what you do, so here's a paragraph to show how long a potential deliverable thing will be. And another sentence because widow words.</p>
    										</div>
    									</div>
    									<div>
    										<h1>Status: <span>Ongoing</span></h1>
    									</div>
    								</li>
    							</ul>
    							<div class="jeselle-project-desc">
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    							</div>
    						</main>
    						<footer>

    						</footer>
    					</article>
    				</li>
    				<li style="transform: translate3d(100%, 0, 0);">
    					<a class="jeselle-home-link"></a>
    					<article class="jeselle-project">
    						<header style="background-image: url('http://widewallpaper.info/wp-content/uploads/2016/02/Hipster-Wallpaper-04.jpg');">
    							<div>
    								<h1>Project Title</h1>
    								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h2>
    							</div>
    						</header>
    						<main>
    							<ul class="jeselle-project-info desktop">
    								<li class="jeselle-project-details">
    									<div>
    										<h1>Role</h1>
    										<ul>
    											<li>Graphic Designer</li>
    											<li>Product Designer</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Team</h1>
    										<ul>
    											<li><strong><a>Gabrielle Wee:</a></strong> <span>UI Developer</span></li>
    											<li><strong><a>Jason Huang:</a></strong> <span>QA Engineer</span></li>
    											<li><strong><a>Samir Makhani:</a></strong> <span>Developer</span></li>
    										</ul>
    									</div>
    									<div>
    										<h1>Status: <span>Ongoing</span></h1>
    									</div>
    								</li>
    								<li class="jeselle-project-branding">
    									<div>
    										<svg viewBox="0 0 300 400">
    											<rect fill="#17324A" x="0" y="0" width="300" height="400"></rect>
    										</svg>
    										<a>uguru.me</a>
    									</div>
    								</li>
    								<li class="jeselle-project-work">
    									<div>
    										<h1>Tools</h1>
    										<ul>
    											<li>Sketch 3</li>
    											<li>Adobe Illustrator CC</li>
    											<li>Atom</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Deliverables</h1>
    										<div>
    											<p>Deliverables included working from a spec to create graphics, animations, and other stuff. Jeselle, for the life of me, I can't think of how to phrase what you do, so here's a paragraph to show how long a potential deliverable thing will be. And another sentence because widow words.</p>
    										</div>
    									</div>
    								</li>
    							</ul>
    							<ul class="jeselle-project-info mobile">
    								<li class="jeselle-project-branding">
    									<div>
    										<svg viewBox="0 0 300 400">
    											<rect fill="#17324A" x="0" y="0" width="300" height="400"></rect>
    										</svg>
    										<a>uguru.me</a>
    									</div>
    								</li>
    								<li class="jeselle-project-details">
    									<div>
    										<h1>Role</h1>
    										<ul>
    											<li>Graphic Designer</li>
    											<li>Product Designer</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Team</h1>
    										<ul>
    											<li><strong><a>Gabrielle Wee:</a></strong> <span>UI Developer</span></li>
    											<li><strong><a>Jason Huang:</a></strong> <span>QA Engineer</span></li>
    											<li><strong><a>Samir Makhani:</a></strong> <span>Developer</span></li>
    										</ul>
    									</div>
    								</li>
    								<li class="jeselle-project-work">
    									<div>
    										<h1>Tools</h1>
    										<ul>
    											<li>Sketch 3</li>
    											<li>Adobe Illustrator CC</li>
    											<li>Atom</li>
    										</ul>
    									</div>
    									<div>
    										<h1>Deliverables</h1>
    										<div>
    											<p>Deliverables included working from a spec to create graphics, animations, and other stuff. Jeselle, for the life of me, I can't think of how to phrase what you do, so here's a paragraph to show how long a potential deliverable thing will be. And another sentence because widow words.</p>
    										</div>
    									</div>
    									<div>
    										<h1>Status: <span>Ongoing</span></h1>
    									</div>
    								</li>
    							</ul>
    							<div class="jeselle-project-desc">
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    								<p>
    									<img src="http://cdn.paper4pc.com/images/hipster-wallpaper-18.jpg"/>
    								</p>
    							</div>
    						</main>
    						<footer>

    						</footer>
    					</article>
    				</li>
    			</ul>
    			<div class="jeselle-home-coach">Scroll To Navigate</div>
    		</div>
    	</main>
    </ion-content>

</ion-view>