<ion-view view-title="Signup">
  <ion-nav-buttons side="secondary">
    <button ng-click="startAnimation()" class="button button-clear button-positive">Start</button>
  </ion-nav-buttons>
  <ion-content>
  <div class="animation1">
    <div class="animation-box center">
      <div class="sq">
        <div class="clip">
          <span class="circle"></span>
        </div>
        <div class="caption">
              <h2 class="title">Kickstarter</h2>
            <h3 class="subtitle">Python back-end development</h3>
        </div>
      </div>
      <button ng-click="startAnimation()" class="button button-green-outline button-full">
        Get start
      </button>
      <button ng-click="endAnimation()" class="button button-green-outline button-full">
        Go back
      </button>
    </div>
  </div>
  

  </ion-content>
</ion-view>
