{% macro profile_photo_html_li(user) -%}

  <li class="table-view-cell media">
    <div class="media-body">
      My Photo

      {% if user.profile_url %}
      <img id='profile-photo' src='{{user.profile_url}}' class="media-object pull-right table-view-mini-face"/>
      {% else %}
      <img id='profile-photo' class="media-object pull-right table-view-mini-face hidden"/>
      {% endif %}
    </div>
    <a id='upload-photo-link' class="btn btn-link">
      {% if user.profile_url %} edit {% else %} upload {% endif %}
    </a>
    <input id='upload-photo' style='display:none;' type='file'/>
  </li>
  
{%- endmacro %}

{% macro profile_edit_courses_li(user) -%}
<li class='table-view-cell overflow-visible'>
      Add courses
      <input id='become-guru-course-input' type="text" placeholder="CS10" class='no-bottom-margin' />
      <a id='add-course-btn' style='top:65px;' class="btn btn-primary pull-right">Add</a>
</li>
<li class="table-view-cell media ignore-table-view-margin {% if not user.skills %}hidden{% endif %}" id='add-courses-container'>

  {% for skill in user.skills %}

    <span href="#" class="course-tag">
        
        {{skill.get_short_name()}}
        &nbsp;&nbsp;&nbsp;
        <a class="remove-course"href="#">x</a>

    </span>

  {% endfor %}
</li>
{%- endmacro %}

{% macro profile_introduction_li(user) -%}
<li class='table-view-cell ignore-table-view-margin'>
      Introduction
      <textarea data-user-id='{{user.id}}' id='tutor-introduction' placeholder='Include a short introduction of yourself!'rows="5">{{user.tutor_introduction}}</textarea>
</li>
{% endmacro -%}

{% macro profile_photo_js(user) -%}

<script>
    $('#upload-photo-link').on('click', function(e) {
      e.preventDefault();
      $('#upload-photo').trigger('click');
    });

    $('#submit-guru-application').on('click', function(){
        var user_id = ($('#submit-guru-application').data().userId).toString();
        
        payload = JSON.stringify({
            action: 'become-guru',
            tutor_introduction:$('#tutor-introduction').val()
        });

        $.ajax({
            url: '/api/v1/users/' + user_id,
            type: 'PUT',
            contentType: 'application/json',
            data: payload,
            success: function(request){
                window.PUSH({
                    transition : "fade",
                    url : "/m/guru/"
                });
            },
            error: function (request) {
                alert(request.responseJSON['errors']);
            }
        });

      });

    $('#upload-photo:hidden').change(function(){
      var file = this.files[0];
      //TODO Cam: Can we validate this properly?
      if (file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/gif' && file.type != 'image/jpeg' ) {
        alert("File doesnt match png, jpg, or gif");
      } else {
        readURL(this);
        var formData = new FormData();
        formData.append('file', file);
        $.ajax({
          url:'/update-profile/',
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false
        });
      }
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#upload-photo-link').text('edit');
          $('#profile-photo').show();
          console.log(e.target.result);
          $('#profile-photo').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
    
{%- endmacro %}