{% macro request_details_student(request_dict) -%}
    <ul class="table-view table-view-scheduled">    
        <li class='table-view-cell'>
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          <p class='red-text'>
            WAITING FOR TUTORS
          </p>
          <p class='grey-text'>
            Tonight at 8pm
          </p>
        </li>
        <li class='table-view-cell'>
            Location: 
            <p>
              {{request_dict['location']}}
            </p>
        </li>
        <li class='table-view-cell'>
          Description
          <p>
            {{request_dict['description'][0:100]}}...
          </p>
          <a class='btn btn-outlined' href='#cancelModal'>
            Cancel Request
          </a>
        </li>
      </ul>
{%-endmacro %}

{% macro request_details_guru(request_dict) -%}
    <ul class="table-view table-view-scheduled">    
        <li class='table-view-cell'>
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          <p class='grey-text'>
            Tonight at 8pm, or remotely via Skype. 
          </p>
        </li>
        <li class='table-view-cell'>
            Location: 
            <p>
              {{request_dict['location']}}
            </p>
        </li>
        <li class='table-view-cell'>
          Description
          <p>
            {{request_dict['description']}}
          </p>
        </li>
    </ul>
    <a class='btn btn-positive btn-block accept' data-transition='slide-in' href='/guru/accept_request/{{request_dict["server_id"]}}/'> 
          Accept
    </a>
    <a class='btn btn-negative btn-block decline' data-transition='slide-in' href='/guru/cancel_request/{{request_dict["server_id"]}}/'>
          Reject
    </a>
{%-endmacro %}

{% macro student_reject_modal(request_dict) -%}
<div id="student-reject-tutor-modal" class="modal">
        <header class="bar bar-nav">
          <a class="btn btn-link pull-left" href="#student-reject-tutor-modal">Cancel</a>
          <h1 class="title">Reject {{request_dict['interested_tutors'][0]['name']}}</h1>
        </header>

        <div class="content">
          <div class='content-padded'>
            <form>
              <textarea id='student-reject-guru-description' placeholder='Please tell us why, and we will try out best to send another Guru your way for this request.' rows="5"></textarea>
              <a class='btn btn-positive btn-block' href='#' id='student-reject-guru-link'>
                Submit 
              </a>
            </form>
          </div>
        </div>
</div>
  
{%- endmacro %}

{% macro cancel_request_modal(request_dict)-%}

<div id="cancelModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#cancelModal"></a>
    <h1 class="title">Cancel {{request_dict['skill_name']}} Request</h1>
  </header>

  <div class="content">
    <div class='content-padded'></h6>
      <form>
        <textarea id='cancel-request-description' placeholder='Please tell us why! Help us make your future experience be the best as possible.'rows="5"></textarea>
        <a class='btn btn-positive btn-block' data-request-id='{{request_dict["server_id"]}}' href='#' id='cancel-link'> 
          Submit 
        </a>
      </form>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro guru_request_reject(request_dict)-%}
      <div class='content-padded'></h6>
        <form>
          <textarea id='guru-reject-description' placeholder='Please tell us more! Replying will increase your response rate!'rows="5"></textarea>
          <a class='btn btn-positive btn-block guru-reject-link' href='#'>
            Submit 
          </a>
        </form>
      </div>
{%- endmacro %}

{% macro guru_accept_request(request_dict)-%}
      <div class='content-padded'></h6>
        <form>
          <textarea id='guru-accept-description' placeholder='Please assure the student that you are the best fit!'rows="5"></textarea>
          <a class='btn btn-positive btn-block' id='guru-accept-link' href='#'>
            Submit 
          </a>
        </form>
      </div>
{%- endmacro %}