{% macro request_details_student(request_dict, available_guru=False) -%}
    <ul class="table-view table-view-scheduled relative" style="position:relative;">    
        <a style='top:10px; right:10px; position:absolute; z-index:100; color:grey;' class='icon icon-close absolute' href='/m/cancel_request/{{request_dict["server_id"]}}' data-transition='slide-in'>
        </a>
        <li class='table-view-cell'>
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          {% if not available_guru %}
          <p class='red-text'>
            WAITING FOR TUTORS
          </p>
          <p class='grey-text'>
            {{request_dict['start_time']}} for {{request_dict['time_estimate']}}
          </p>
          {% else %}
          <p class='red-text'>
            TUTOR IS AVAILABLE
          </p>
          {% endif %}
        </li>
        {% if not available_guru %}
        <li class='table-view-cell'>
            Location: 
            <p>
              {{request_dict['location']}}
            </p>
        </li>
        <li class='table-view-cell'>
          Description
          <p>
            {{request_dict['description'][0:100]}}...
          </p>
        </li>
        {% endif %}
    </ul>
    {% if available_guru %}
      {{student_has_incoming_guru(request_dict)}}
    {% endif %}

{%-endmacro %}

{% macro student_has_incoming_guru(request_dict) -%}
  {% set guru = request_dict.get('interested_tutors')[0]%}
    <ul class='table-view'>
      <li class="table-view-cell media">
            <a class="navigate-right" href="/m/p/{{guru['server_id']}}/" data-transition='slide-in'>
                <img class="media-object pull-left table-view-face" src="{{guru['profile_url']}}">
                <div class="media-body">
                    {{guru['name']}} can help!
                </div>
                <button class="btn btn-link">Profile</button>
            </a>
      </li>
    </ul>

    <a style='z-index:50;'class='btn btn-negative btn-block decline' data-transition='slide-in' href='/m/reject_guru/{{request_dict["server_id"]}}/'> 
          Reject
    </a>
    <a style='z-index:50;' class='btn btn-positive btn-block accept' data-tutor-id='{{guru["server_id"]}}'  href='/m/confirm_request/{{request_dict["server_id"]}}' data-transition='slide-in'> 
          Accept 
    </a>
    
{%- endmacro %}

{% macro request_details_guru(request_dict) -%}
    <ul class="table-view">
      <li style='background-color:red;'class='table-view-cell ignore-table-view-margin center'>
        <span class='font-20'id='countdown'></span><br>
        <span class='font-12'>left to accept request</span>
      </li>
    </ul>
    <ul class="table-view table-view-scheduled">    
        <li class='table-view-cell media'>
          <img class="media-object pull-left table-view-medium-face" src="{{request_dict['student']['profile_url']}}">
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          <p class='error-text'>
            {{request_dict['student']['name']}} needs help {{request_dict['start_time']}} for {{request_dict['time_estimate']}}
          </p>
        </li>
        <li class='table-view-cell'>
          Details
          <p>
            {{request_dict['description']}}
          </p>
        </li>
        <li class='table-view-cell'>
            Location
            <p>
              {{request_dict['location']}}
            </p>
        </li>
        <li class='table-view-cell '>
          Pricing
          <p>
            <span class='white-text'>$16/hr</span>
          </p>
        </li>
    </ul>
    <a class='btn btn-positive btn-block accept' data-transition='slide-in' href='/m/guru/accept_request/{{request_dict["server_id"]}}/'> 
          Accept
    </a>
    <a class='btn btn-negative btn-block decline' data-transition='slide-in' href='/m/guru/reject_request/{{request_dict["server_id"]}}/'>
          Reject
    </a>
{%-endmacro %}

{% macro request_details_guru_waiting(request_dict) -%}
  <ul class="table-view table-view-scheduled" style="position:relative;">    
        <a style='top:10px; right:10px; position:absolute; z-index:100; color:grey;' class='icon icon-close'href='/m/guru/cancel_request/{{request_dict["server_id"]}}/' data-transition='slide-in'>
      </a>
      <li class='table-view-cell'>
        <img class="media-object media pull-left table-view-medium-face" src="{{request_dict['student']['profile_url']}}">
        <h2>{{request_dict['skill_name']}}
          <span class='grey-text'>Session</span>
        </h2>
        <p class='error-text'> 
          WAITING FOR STUDENT
        </p>
      </li>
      <li class='table-view-cell'>
          Time & Location: 
          <p class='grey-text'>
            <p class='grey-text'>
              {{request_dict['start_time']}} for {{request_dict['time_estimate']}}
            </p>
          </p>
      </li>
      <li class='table-view-cell'>
        Description
        <p>
          {{request_dict['description']}}
        </p>
      </li>
  </ul>
{%-endmacro %}

{% macro guru_request_reject(request_dict)-%}
      <div class='content-padded'></h6>
        <form>
          <textarea id='guru-reject-description' placeholder='Please tell us more! Replying will increase your response rate!'rows="5"></textarea>
          <a class='btn btn-positive btn-block guru-reject-link' href='#'>
            Submit 
          </a>
        </form>
      </div>
{%- endmacro %}

{% macro guru_accept_request(request_dict)-%}
      <div class='content-padded'></h6>
        <form>
          <textarea id='guru-accept-description' placeholder='Please assure the student that you are the best fit!'rows="5"></textarea>
          <a class='btn btn-positive btn-block' id='guru-accept-link' href='#'>
            Submit 
          </a>
        </form>
      </div>
{%- endmacro %}

{% macro guru_scheduled_session(_request, is_mobile) -%}

      {% set request_dict = _request.get_return_dict() %}
      <ul class="table-view table-view-scheduled">    
        <li class='table-view-cell'>
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          <p class='red-text'>
            {{request_dict['start_time']}} for {{request_dict['time_estimate']}}
          </p>
        </li>
        <li class="table-view-cell media">
                <div class="media-object pull-left table-view-face" style='background-image: url("{{request_dict['connected_tutor']['profile_url']}}")'></div>
                <div class="media-body">
                  {{request_dict['student']['name']}}
                </div>
        </li>
        <li class='table-view-cell'>
          <li class='table-view-cell'>
          Location: {{request_dict['location']}}
            <a class='btn btn-outline' href='/m/guru/conversation/{{request_dict["conversation"]["server_id"]}}' data-transition='slide-out'> Message {{request_dict['student']['name']}}
            </a>
        </li>
        <li class='table-view-cell'>
          $4 for every 15 minutes 
            <a class='btn btn-primary' href='/m/guru/confirm/{{request_dict["server_id"]}}' data-transition='slide-out'> Start Session
            </a>
        </li>
      </ul>

      {% if is_mobile %}
        {{guru_confirm_session(_request, is_mobile)}}
      {% endif %}

{%- endmacro %}

{% macro student_scheduled_session(_request) -%}
    {% set request_dict = _request.get_return_dict() %}
      <ul class="table-view table-view-scheduled">    
        <li class='table-view-cell'>
          <h1>{{request_dict['skill_name']}} 
            <span class='grey-text'>Session</span>
          </h1>
          <span class='red-text'>
            {{request_dict['start_time']}} for {{request_dict['time_estimate']}}
          </span>
        </li>
        <li class="table-view-cell media">
          <a class='navigate-right' href='/m/p/{{request_dict["connected_tutor"]["server_id"]}}' data-transition='slide-out'>
                <img class="media-object pull-left table-view-face" src="{{request_dict['connected_tutor']['profile_url']}}">
                <div class="media-body">
                  {{request_dict['connected_tutor']['name']}}
                    <p>
                        <span class="icon icon-star-filled profile-star black"></span>
                        <span class="icon icon-star-filled profile-star black"></span> 
                        <span class="icon icon-star-filled profile-star black"></span> 
                        <span class="icon icon-star-filled profile-star black"></span> 
                        <span class="icon icon-star-filled profile-star black"></span> 
                    </p>
                </div>
          </a>
        </li>
        <li class='table-view-cell'>
          Location: {{request_dict['location']}}
        </li>
        <li class='table-view-cell'>
          $5 for every 15 minutes
          <a class='btn btn-primary' href='/m/conversation/{{request_dict["conversation"]["server_id"]}}' data-transition='slide-in'> Message Guru </a>
        </li>
      </ul>
{%- endmacro %}

{% macro guru_confirm_session(_request, is_mobile) -%}
  {% if is_mobile %}
  <div id="guru-start-session-{{_request.id}}" class="modal">
  {% endif %}
    <header class="bar bar-nav">
          <h1 class="title">Confirm Session</h1>
          <a href='#guru-start-session-{{_request.id}}'class='icon icon-close pull-right'></a>
    </header>

    <div class="content should-hide-message-bar should-hide-tab-bar">
          <ul class='table-view'>
            <li class='table-view-cell'>
              Next Steps
              <p>
                <br>
                1. Start a timer when you meet your student. 
                <br>
                2. Enter the time for the session.
                <br>
                3. Confirm, and get paid immediately.
              </p>
            </li>
          </ul>
    </div>
    <div class="bar bar-footer-secondary auto-height">
      <form class="input-group" >
            <div class='input-row'>
                <label>Hours</label>
                  <input type="number" id="confirm-hours-{{_request.id}}" placeholder="Enter hours"></input>
            </div>
            <div class='input-row'>
                <label>Minutes</label>
                <input type="number" id="confirm-minutes-{{_request.id}}" placeholder="Enter minutes"></input>
            </div>
      </form>
    </div>
    <div class="bar bar-footer">
      <a data-request-id='{{_request.id}}' class="btn btn-positive btn-block guru-confirm-session">Confirm and Get Paid!</a>
    </div>
  {% if is_mobile %}
  </div>
  {% endif %}
{%- endmacro %}
