.university.splash-container {
  top: 80px; }

.popular-department-wrapper {
  margin-top: 80px; }

h4.uguru-intro {
  margin: 0px;
  margin-top: -1em !important;
  margin-bottom: 1em !important;
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 50%;
  color: #3D9988 !important; }

h4.uguru-university-name {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 75%;
  margin-top: 0em !important; }

.university-logo {
  margin-top: 0.25em;
  max-width: 100px;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  min-height: 50px;
  height: auto; }

.banner-school-content-container {
  height: 200px; }

.university.splash-container .flex-container .banner-school-content-container h4, .university.splash-container .flex-container-center .banner-school-content-container h4, .university.splash-container .popular-course-wrapper .banner .banner-school-content-container h4, .popular-course-wrapper .university.splash-container .banner .banner-school-content-container h4, .university.splash-container #mobile-university .call-to-action-button .banner-school-content-container h4, #mobile-university .university.splash-container .call-to-action-button .banner-school-content-container h4, .university.splash-container #mobile-university .flex-item:nth-child(1) .banner-school-content-container h4, #mobile-university .university.splash-container .flex-item:nth-child(1) .banner-school-content-container h4, .university.splash-container #mobile-university .flex-item:nth-child(2) .banner-school-content-container h4, #mobile-university .university.splash-container .flex-item:nth-child(2) .banner-school-content-container h4, .university.splash-container .app-icons-stacked .banner-school-content-container h4, .university.splash-container .header .menu-left .banner-school-content-container h4, .header .university.splash-container .menu-left .banner-school-content-container h4, .university.splash-container .header .pure-g .buttons-right .banner-school-content-container h4, .header .pure-g .university.splash-container .buttons-right .banner-school-content-container h4, .university.splash-container .student-value-prop.content .pure-g .pure-u-1 .banner-school-content-container h4, .student-value-prop.content .pure-g .university.splash-container .pure-u-1 .banner-school-content-container h4, .university.splash-container .content .stats.pure-g .pure-u-1-2.stat .inner-stat .banner-school-content-container h4, .content .stats.pure-g .pure-u-1-2.stat .university.splash-container .inner-stat .banner-school-content-container h4 {
  width: 170px; }

@media screen and (max-width: 35.4em) {
  .university.splash-container {
    height: 200px; }
    .university.splash-container .padding-1em {
      padding: 0px; }

  .get-a-tutor {
    display: none !important; }

  .be-a-tutor {
    display: none !important; }

  .banner-school-specific {
    height: 150px !important; }

  .uguru-intro {
    display: none; }

  .banner-school-content-container {
    margin-top: -42.5% !important; }
    .banner-school-content-container img {
      height: auto !important;
      width: 50px;
      min-height: 0px !important; }

  a.apple-link {
    margin-top: 0px !important;
    position: absolute; }

  .uguru-university-name {
    font-size: 50% !important;
    width: 100px !important; }

  .popular-department-wrapper {
    margin-top: 0px; }

  a.android-link {
    margin-top: 0px !important;
    position: absolute; }

  .app-icons-stacked img {
    width: 72.5px;
    height: 22.25px; }

  .app-icons-stacked .apple-link {
    margin-top: 3em;
    top: 40%;
    left: 5%; }

  .app-icons-stacked .android-link {
    top: 40%;
    right: 5%;
    padding-top: 0px; }

  .available-now-banner {
    padding: 0em !important; }
    .available-now-banner .app-icons-horizontal {
      display: none; }
    .available-now-banner h1 {
      font-size: 1.5em; } }
.app-icons-stacked .apple-link {
  margin-top: 0em !important; }

.flip-container {
  perspective: 1000; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 320px;
  height: 100px; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg); }

.university-banner-wrapper {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  position: relative; }

.university-logo.animated.tada {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2; }

#background-banner-one,
#background-banner-two,
#background-banner-three {
  position: absolute;
  height: 225px;
  width: 100%;
  left: 0%;
  z-index: 0; }

.university-banner-wrapper {
  height: 225px;
  width: 100%; }

#background-banner-three {
  top: 11%;
  height: 220px; }
  #background-banner-three polygon {
    fill: #3D9988;
    z-index: 0; }

#background-banner-two {
  top: 0%; }
  #background-banner-two polygon {
    fill: #F5F4F0;
    z-index: 0;
    width: 101%; }

#background-banner-one {
  height: 220px;
  top: 6.0%; }
  #background-banner-one polygon {
    fill: black;
    z-index: 0; }

.uguru-intro, .uguru-university-name {
  z-index: 20; }

.banner-school-content-container {
  margin-top: 5% !important; }

.app-icons-stacked {
  margin-top: 1em; }

/*# sourceMappingURL=university.home.css.map */
