@import '../../../../../shared/css/scss/partials/mixin';

.splash-hero-content:not(.mobile) {
	@media screen and (min-width: 768px) {
		.coach-help {
			&.coach-help-desktop {
				display: block!important;
				&.hide {
					display: none!important;
				}
			}
			&.coach-help-mobile {
				display: none!important;
			}
		}
		.splash-guru-head {
			.coach-fill {
				top: 80px;
				right: -180px;
			}
		}
		.splash-adlib {
			h1 {
				font-size: 40px;
			}
			.splash-mobile-cta {
				display: none;
			}
			ul {
				max-width: calc(172px * 4 + 30px);
				padding: 15px;
				margin: 0 auto 15px;
				li {
					width: 25%;
					max-width: 172px;
					padding: 15px;
					&:nth-child(7), &:nth-child(8) {
						display: block;
					}
				}
			}
		}
		.adlib-header-container {
			height: 48px;
			max-width: none;
			.adlib-header {
				&:not(:first-child) {
					transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48, 0, 1);
				}
				&.active-adlib-header {
					animation: adlib-header-up 1000ms linear both;
				}
				&.inactive-adlib-header {
					animation: adlib-header-first-up 1000ms linear 1850ms both!important;
				}
			}
		}

		.adlib-header-container .adlib-header.active-adlib-header.spread-out {
			span:nth-child(1) {
				transform: translate3d(40px,0,0);
				animation: adlib-header-1-translate 500ms ease-out 750ms both;
			}
			a.tag-adlib:nth-child(2) {
				transform: translate3d(0,0,0) scale(1.7);
				animation: adlib-header-scale 500ms ease-out 750ms both;
			}
			span:nth-child(3) {
				transform: translate3d(-40px,0,0);
				animation: adlib-header-3-translate 500ms ease-out 750ms both;
			}
			a.tag-adlib:nth-child(4) {
				transform: translate3d(-37.5px,0,0) scale(1.7);
				animation: adlib-header-4-translate 500ms ease-out 750ms both;
			}
			span:nth-child(5) {
				transform: translate3d(-35px,0,0);
				animation: adlib-header-5-translate 500ms ease-out 750ms both;
			}
		}
		.adlib-tag.spread-out {
			&:nth-child(1) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12, -76, 0, 1);
				animation: spread-out-tag-1 1000ms linear 1500ms both;
			}
			&:nth-child(2) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -160, -76, 0, 1);
				animation: spread-out-tag-2 1000ms linear 1550ms both;
			}
			&:nth-child(3) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -332, -76, 0, 1);
				animation: spread-out-tag-3 1000ms linear 1600ms both;
			}
			&:nth-child(4) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -504, -76, 0, 1);
				animation: spread-out-tag-4 1000ms linear 1650ms both;
			}
			&:nth-child(5) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 389, -150, 0, 1);
				animation: spread-out-tag-5 1000ms linear 1850ms both;
			}
			&:nth-child(6) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 217, -150, 0, 1);
				animation: spread-out-tag-6 1000ms linear 1800ms both;
			}
			&:nth-child(7) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
				animation: spread-out-tag-7 1000ms linear 1750ms both;
			}
			&:nth-child(8) {
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45, -150, 0, 1);
				animation: spread-out-tag-8 1000ms linear 1700ms both;
			}
		}
		.adlib-tag.spread-in {
			&:nth-child(1) {
				animation: spread-in-tag-1 1000ms linear 500ms both;
			}
			&:nth-child(2) {
				animation: spread-in-tag-2 1000ms linear 550ms both;
			}
			&:nth-child(3) {
				animation: spread-in-tag-3 1000ms linear 600ms both;
			}
			&:nth-child(4) {
				animation: spread-in-tag-4 1000ms linear 650ms both;
			}
			&:nth-child(5) {
				animation: spread-in-tag-5 1000ms linear 850ms both;
			}
			&:nth-child(6) {
				animation: spread-in-tag-6 1000ms linear 800ms both;
			}
			&:nth-child(7) {
				animation: spread-in-tag-7 1000ms linear 750ms both;
			}
			&:nth-child(8) {
				animation: spread-in-tag-8 1000ms linear 700ms both;
			}
		}
		.adlib-tag.click-two {
			&:nth-child(1) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-1 1000ms linear 500ms both;
				}
			}
			&:nth-child(2) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-2 1000ms linear 550ms both;
				}
			}
			&:nth-child(3) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-3 1000ms linear 600ms both;
				}
			}
			&:nth-child(4) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-4 1000ms linear 650ms both;
				}
			}
			&:nth-child(5) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-5 1000ms linear 850ms both;
				}
			}
			&:nth-child(6) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-6 1000ms linear 800ms both;
				}
			}
			&:nth-child(7) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-7 1000ms linear 750ms both;
				}
			}
			&:nth-child(8) {
				.tag-adlib:first-child:not(.active) {
					animation: spread-in-tag-8 1000ms linear 700ms both;
				}
			}
		}
	}
}


.splash-hero-content.mobile {
	.tag-adlib {
		width: 130px;
		height: 38px;
		font-size: 20px;
		svg.desktop {
		    display: none;
		}
		svg.mobile {
		    display: block;
		}
	}
	&.max-768 {
		.splash-hero-guru {
			margin-bottom: 10px;
		}
		.splash-adlib {
			margin-top: -10px;
			h1 {
				line-height: 1.75;
			}
			ul {
				margin: -10px 0 5px;
				flex-direction: column;
				height: 250px;
			}
		}
	}

	&.max-414 {
		.splash-guru-head {
			.splash-logo-guru {
				svg {
					transform: scale(.8);
				}
			}
		}
	}

	&.max-360 {
		transform: scale(.9);
		.splash-adlib {
			h1 {
				font-size: 24px;
			}
		}
	}

	&.max-320 {
		transform: scale(.7);
		.splash-adlib h1 {
			line-height: 2!important;
		}
	}

	// 320px
	// .splash-hero-device {
	// 	transform: scale(.8);
	// }
}
