<ion-content class='full-height' scroll='false'>
	<section id="route" class="onboarding full-xy" ng-model='selected'>
		<header class="third flex-center-wrap">
			<div class="header-nav">
			<h1 class='active route-title bg-moola txt-white'>{{selected.provider}} {{selected.route}}</h1>
				<a class="header-close" ng-click="closeModal('route')">
					<svg viewBox="0 0 100 100">
						<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
					</svg>
				</a>
			</div>

		</header>
		<div class="route-info">
			

			<ul id="route-details">
				<li class="direction-item" ng-repeat="directions in selected"></li>
			</ul>
		</div>
	</section>
</ion-content>