<ion-view view-title="Signup">
  <ion-nav-buttons side="secondary">
      <button ng-click="submitSupport()" ng-disabled="!support.message" class="button button-clear button-positive">cancel</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="account">
      <div class="account-box center">
        <div class="list margin-bottom-10">
          <label class="item item-input">
            <div class="tag">First</div><input type="text" placeholder="your first name">
          </label>
          <label class="item item-input">
            <div class="tag">last</div><input type="text" placeholder="your last name">
          </label>
          <label class="item item-input">
            <div class="tag">email</div><input type="text" placeholder="peter.parker@berkeley.edu">
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <div class="tag">password</div><input type="text" placeholder="at least 6 characters">
          </label>
        </div>
        <button ui-sref="^.sandbox4" class="button button-green-outline button-full">
          join uguru
        </button>
        <div class="horizon">
          <span class="box">
            or try facebook
          </span>
        </div>
        <button class="button facebook-button button-full icon-left ion-social-facebook">
          Connect With Facebook
        </button>
        <div class="message">
          Uguru will NEVER post to your Facebook.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>