<!-- 

<div id="banner"></div>
<section id="main">
    <ul class='carousel'> -->

<li id="earn" class="slide" data-number="1">
    <div class="inside">
        <div class="inside-text">
            <h2><span>Earn sidecash doing literally anything that you're good at.</span></h2>
            
<!-- this is for mobile, fill in later -->
           <!--  <ul id="earn-categories-mobile">
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/academic-small.svg" %}
                        <h3>Academic</h3>
                    </div></div>
                    <ul class="back">
                        <li>Tutor peers</li>
                        <li>Answer questions</li>
                        <li>Create free content</li>
                        <li>Form study groups</li>
                    </ul>
                </li>
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/consulting-small.svg" %}
                        <h3>Consulting</h3>
                    </div></div>
                    <ul class="back">
                        <li>Design &amp; coding</li>
                        <li>Interview help</li>
                        <li>Resume editing</li>
                        <li>Skill building</li>
                    </ul>
                </li>
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/baking-small.svg" %}
                        <h3>Baking</h3>
                    </div></div>
                    <ul class="back">
                        <li>Brownies</li>
                        <li>Cupcakes</li>
                        <li>Caramel flan</li>
                        <li>Anything delicious</li>
                    </ul>
                </li>
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/photography-small.svg" %}
                        <h3>Photography</h3>
                    </div></div>
                    <ul class="back">
                        <li>Graduation</li>
                        <li>Headshots</li>
                        <li>Athletic</li>
                        <li>Outdoor</li>
                    </ul>
                </li>
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/household-small.svg" %}
                        <h3>Household</h3>
                    </div></div>
                    <ul class="back">
                        <li>Laundry</li>
                        <li>Vacuuming</li>
                        <li>Furniture</li>
                        <li>Dishes</li>
                    </ul>
                </li>
                <li class="earn-category-mobile">
                    <div class="front"><div>
                        {% include "web/components/category/technology-small.svg" %}
                        <h3>Technology</h3>
                    </div></div>
                    <ul class="back">
                        <li>Phone repair</li>
                        <li>Computer repair</li>
                        <li>WiFi setup</li>
                        <li>Virus removal</li>
                    </ul>
                </li>
                <li class="earn-category-mobile list-bottom">
                    <div class="front"><div>
                        {% include "web/components/category/sports-small.svg" %}
                        <h3>Muscle</h3>
                    </div></div>
                    <ul class="back">
                        <li>Moving help</li>
                        <li>Furniture</li>
                        <li>Personal trainer</li>
                        <li>Triathalon</li>
                    </ul>
                </li>
                <li class="earn-category-mobile list-bottom">
                    <div class="front"><div>
                        {% include "web/components/category/delivery-small.svg" %}
                        <h3>Delivery</h3>
                    </div></div>
                    <ul class="back">
                        <li>Food delivery</li>
                        <li>Car borrow</li>
                        <li>Truck borrow</li>
                        <li>Ridesharing</li>
                    </ul>
                </li>
                <li id="and-more" class="earn-category-mobile">
                    <div><div class="link-start">
                        <h3>and more!</h3>
                    </div></div>
                </li>
            </ul> -->


<!-- THIS IS FOR DESKTOP -->
            <ul id="earn-categories-desktop">
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-academic" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>

                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-academic" style="backface-visibility: hidden;">
                                <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
                                <path fill="#FFFFFF" class="icon" d="svg/category/academic.svg" style="backface-visibility: hidden;"/>
                            </svg>
                            <h3>Academic Courses</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Tutor peers</li>
                                <li>Answer questions online</li>
                                <li>Create free content</li>
                                <li>Form study groups</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-consulting" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                            
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-consulting" style="backface-visibility: hidden;">
                                    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
                                    <path fill="#FFFFFF" class="icon" d="svg/category/consulting.svg" style="backface-visibility: hidden;"/>
                                </svg>

                            <h3>Consulting<span> &amp; Freelancing</span></h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Design &amp; programming</li>
                                <li>Interview help</li>
                                <li>Resume editing</li>
                                <li>Skill building</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-baking" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-baking" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/baking.svg" style="backface-visibility: hidden;"/>
</svg>
                            <h3>Baking</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Brownies</li>
                                <li>Cupcakes</li>
                                <li>Caramel flan</li>
                                <li>Anything delicious</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-photography" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-photography" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/photography.svg" fill-rule="evenodd" style="backface-visibility: hidden;"/>
</svg>
                            <h3>Photography</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Graduation photos</li>
                                <li>Professional headshots</li>
                                <li>Athletic &amp; action images</li>
                                <li>Outdoor scenery</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-household" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-household" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/household.svg" style="backface-visibility: hidden;"/>
</svg>
                            <h3>Household</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Laundry</li>
                                <li>Vacuuming &amp; cleaning</li>
                                <li>Furniture assembly</li>
                                <li>Dishes</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-technology" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-technology" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/technology" style="backface-visibility: hidden;"/>
</svg>
                            <h3>Technology &amp; IT</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Phone repair</li>
                                <li>Computer repair</li>
                                <li>WiFi setup</li>
                                <li>Virus removal</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-sports" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-sports" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/sports" style="backface-visibility: hidden;"/>
</svg>
                            <h3>Sports &amp; Muscle</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Moving help</li>
                                <li>Furniture assembly</li>
                                <li>Personal trainer</li>
                                <li>Triathalon</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="earn-category">
                    <div class="earn-category-inside">
                        <div id="earn-category-delivery" class="earn-category-front front">
                            <div class="earn-category-overlay"></div>
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 250 250" height="250px" width="250px" class="category-sports" style="backface-visibility: hidden;">
    <circle fill="#000000" r="125" cy="125" cx="125" class="background" style="backface-visibility: hidden;"/>
    <path fill="#FFFFFF" class="icon" d="svg/category/delivery.svg" style="backface-visibility: hidden;"/>
</svg>
                            <h3><span>On-demand </span>Delivery</h3>
                        </div>
                        <div class="earn-category-back back">
                            <ul>
                                <li>Food delivery</li>
                                <li>Car borrow</li>
                                <li>Truck borrow</li>
                                <li>Ridesharing</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="cta-desktop">
        <button class="btn-round">Be one of the first!</button>
    </div>
</li>
<!-- 
</ul>
</section>
 -->