<div class='absolute top-0 left-0 full-xy bg-charcoal' data="animations" ng-controller='AdminAnimationController as aa'>
    <div class='flex-wrap-center full-x text-center bg-azure-20p full-x relative'>
        <div class='bg-azure-50p full-x'>
            <h1 class='txt-64 uppercase p15y black'>
                {{animations.title}}
            </h1>
        </div>

        <div class='bg-azure-20p full-x'>
            <h1 class='txt-32 p15y semibold'> {{animations.description}}</h1>
        </div>
    </div>
    <div class='flex-vertical-center relative full-x' style='height:calc(100% - 174px)'>
        <div class='p15-grid flex-start flex-stretch relative full-xy flex-wrap-center' ng-if='aa.animShortcuts.length'>
            <h4 class='txt-24 uppercase weight-700 txt-azure txt-center full-x p10y border-2-bottom border-slate'> Shortcuts </h4>
            <div class='relative'>
                <ul class='txt-24 uppercase weight-500 txt-azure flex-wrap flex-vertical-center overflow-y no-scrollbar flex-start' ng-repeat='shortcut in aa.animShortcuts'>
                    <li  class='full-x flex-stretch m05y weight-900 txt-white flex-wrap' >
                        <div class='full-x'>
                            {{shortcut.name}}
                        </div>
                        <div class='full-x p15-grid flex-vertical-center relative txt-3 weight-500 txt-azure text-left' style='padding-left:10%;' ng-repeat='(key, value) in shortcut.values' class='full-x' ng-click='aa.launchWindow(key, value, shortcut.name)'>
                            {{$index + 1}}. {{key}}
                        </div>
                    </li>
                    <!-- <li ng-if='aa.clickableKeys.indexOf(key) === 0' class='full-x m05y txt-left' ng-repeat='custom_anim in aa.customAnimations track by $index' ng-click='aa.launchWindow(custom_anim)'>
                        {{custom_anim}}
                    </li>
                    <li ng-if='aa.clickableKeys.indexOf(key) === 1' class='full-x m05y txt-left' ng-repeat='prop_anim in aa.animatableProps track by $index' ng-click='aa.launchWindow(prop_anim)'>
                        {{prop_anim}}
                    </li> -->
                </ul>
            </div>
        </div>
        <div class='p15-grid flex-start flex-stretch relative full-xy flex-wrap-center' ng-repeat='(key, value) in animations.sections track by $index' ng-if='aa.hiddenKeys.indexOf(key) === -1'>
            <h4 class='txt-24 uppercase weight-700 txt-azure txt-center full-x p10y border-2-bottom border-slate'> {{key}} </h4>
            <div class='relative'>
                <ul class='txt-24 full-y uppercase weight-500 txt-azure flex-wrap flex-vertical-center overflow-y no-scrollbar flex-start'>
                    <li ng-if='aa.clickableKeys.indexOf(key) === -1' ng-repeat='item in value.all' class='full-x flex-stretch m05y' ng-if='value.all.length'>
                        {{item}}
                    </li>
                    <li ng-if='aa.clickableKeys.indexOf(key) === 0' class='full-x m05y txt-left' ng-repeat='custom_anim in aa.customAnimations track by $index' ng-click='aa.launchWindow(custom_anim)'>
                        {{custom_anim}}
                    </li>
                    <li ng-if='aa.clickableKeys.indexOf(key) === 1' class='full-x m05y txt-left' ng-repeat='prop_anim in aa.animatableProps track by $index' ng-click='aa.launchWindow(prop_anim)'>
                        {{prop_anim}}
                    </li>
                </ul>
            </div>
        </div>
    <div>
</div>
