/* ---------- MOBILE */
.nav-icon-burger {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 42px;
  height: 42px; }
  .nav-icon-burger svg {
    display: block; }
    .nav-icon-burger svg * {
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -ms-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
      fill: none;
      stroke: white;
      stroke-width: 4px;
      stroke-linecap: round;
      stroke-linejoin: round; }
  .nav-icon-burger:hover svg circle {
    fill: white !important; }
  .nav-icon-burger:hover svg path {
    stroke: #40484B !important; }

.mobile-home .toggle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  top: 10px; }
  .mobile-home .toggle label {
    width: auto; }
  .mobile-home .toggle input:checked + label svg:first-child {
    -webkit-transform: translateX(55px);
    -moz-transform: translateX(55px);
    -ms-transform: translateX(55px);
    -o-transform: translateX(55px);
    transform: translateX(55px); }
.mobile-home .nav-icon-burger {
  z-index: 99; }
.mobile-home .home-ticket-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; }
  .mobile-home .home-ticket-content .home-ticket-inside {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 100%; }
    .mobile-home .home-ticket-content .home-ticket-inside h1, .mobile-home .home-ticket-content .home-ticket-inside h2 {
      text-align: center;
      padding: 0;
      margin: 0 !important; }
    .mobile-home .home-ticket-content .home-ticket-inside h1 {
      padding-top: 15px;
      font-size: 24px;
      font-weight: 600; }
    .mobile-home .home-ticket-content .home-ticket-inside h2 {
      font-size: 18px;
      font-weight: 600; }
    .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 7.5px;
      width: 100%; }
      .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li {
        padding: 7.5px; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini {
          background: #F1F1F1;
          color: #40484B; }
          .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .user-icon {
            border-color: #F1F1F1;
            width: 48px;
            height: 48px; }
          .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .pf-name {
            font-size: 14px;
            font-weight: 600; }
          .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .rating-stars {
            max-width: 70px; }
    .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 7.5px; }
      .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li {
        padding: 7.5px; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li span {
          display: block;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
          text-transform: uppercase; }
          .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li span + span {
            margin-top: 5px; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li svg {
          border-radius: 1000px;
          display: block;
          width: 100%;
          max-width: 90px;
          margin: 0 auto;
          padding: 5px; }
          .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li svg * {
            fill: none;
            stroke: white;
            stroke-width: 3px;
            stroke-linecap: round;
            stroke-linejoin: round; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.academic svg {
          background: #e6389b; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.baking svg {
          background: #F6C64E; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.photography svg {
          background: #81B566; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.household svg {
          background: #7872e3; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.tech svg {
          background: #55A4B7; }
    .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon {
      display: block;
      margin: 0 auto; }
      .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon svg {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-height: 150px; }
        .mobile-home .home-ticket-content .home-ticket-inside .home-ticket-icon svg *[stroke="#000000"] {
          stroke: white !important; }
.mobile-home .home-top {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 50%; }
  .mobile-home .home-top > h1 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 42px;
    font-size: 20px;
    font-weight: 600; }
.mobile-home .home-tabs ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }
  .mobile-home .home-tabs ul li {
    position: relative;
    width: 100%; }
    .mobile-home .home-tabs ul li:not(:last-child):after {
      filter: alpha(opacity=40);
      opacity: 0.4;
      border-radius: 1000px;
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      right: -1px;
      width: 2px;
      height: 40px; }
    .mobile-home .home-tabs ul li a {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      height: 60px;
      padding-top: 15px;
      font-weight: 600;
      font-size: 18px; }
      .mobile-home .home-tabs ul li a .notification {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        margin-left: -18px;
        top: -16px;
        background: #43cb9d;
        color: white;
        width: 36px;
        height: 32px;
        border-radius: 2px; }
        .mobile-home .home-tabs ul li a .notification:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -12px;
          left: 50%;
          margin-left: -6px;
          height: 0;
          width: 0;
          border: 6px solid transparent;
          border-top-color: #43cb9d; }
      .mobile-home .home-tabs ul li a:hover .notification, .mobile-home .home-tabs ul li a:focus .notification {
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out; }
        .mobile-home .home-tabs ul li a:hover .notification:after, .mobile-home .home-tabs ul li a:focus .notification:after {
          -webkit-transition: all 150ms ease-in-out;
          -moz-transition: all 150ms ease-in-out;
          -ms-transition: all 150ms ease-in-out;
          -o-transition: all 150ms ease-in-out;
          transition: all 150ms ease-in-out; }
.mobile-home .home-links {
  height: calc(50% - 60px); }
  .mobile-home .home-links ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    height: 100%; }
    .mobile-home .home-links ul:after {
      border-radius: 1000px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 15px;
      width: calc(100% - 30px);
      height: 2px; }
    .mobile-home .home-links ul li {
      position: relative;
      height: 50%; }
      .mobile-home .home-links ul li a {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        text-align: center; }
        .mobile-home .home-links ul li a span {
          display: block;
          width: 100%; }
          .mobile-home .home-links ul li a span svg {
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 60px; }
            .mobile-home .home-links ul li a span svg * {
              fill: none;
              stroke: white;
              stroke-width: 3px;
              stroke-linecap: round;
              stroke-linejoin: round; }
              .mobile-home .home-links ul li a span svg *:not(.line) {
                fill: rgba(255, 255, 255, 0.3) !important; }

#mobile-guru-home .home-top {
  background: #5b6f70; }
#mobile-guru-home .home-tabs {
  background: #40484B; }
  #mobile-guru-home .home-tabs ul li {
    min-width: calc(100% / 3); }
    #mobile-guru-home .home-tabs ul li:not(:last-child):after {
      background: #69B3A5; }
    #mobile-guru-home .home-tabs ul li a {
      color: white; }
      #mobile-guru-home .home-tabs ul li a:hover, #mobile-guru-home .home-tabs ul li a:focus {
        color: #6f7d82; }
        #mobile-guru-home .home-tabs ul li a:hover .notification, #mobile-guru-home .home-tabs ul li a:focus .notification {
          background: #40484B; }
          #mobile-guru-home .home-tabs ul li a:hover .notification:after, #mobile-guru-home .home-tabs ul li a:focus .notification:after {
            border-top-color: #40484B; }
#mobile-guru-home .home-links {
  background: #69B3A5; }
  #mobile-guru-home .home-links ul:after {
    background: #b4d9d2; }
  #mobile-guru-home .home-links ul li {
    width: 50%; }
    #mobile-guru-home .home-links ul li:nth-child(1):after {
      content: "";
      position: absolute;
      top: 15px;
      right: -1px;
      height: calc(100% - 15px);
      width: 2px;
      background: #b4d9d2;
      border-top-left-radius: 1000px;
      border-top-right-radius: 1000px; }
    #mobile-guru-home .home-links ul li:nth-child(3):after {
      content: "";
      position: absolute;
      bottom: 15px;
      right: -1px;
      height: calc(100% - 15px);
      width: 2px;
      background: #b4d9d2;
      border-bottom-left-radius: 1000px;
      border-bottom-right-radius: 1000px; }
    #mobile-guru-home .home-links ul li a:hover, #mobile-guru-home .home-links ul li a:focus {
      background: rgba(91, 111, 112, 0.5); }
    #mobile-guru-home .home-links ul li a:active {
      background: #5b6f70; }
    #mobile-guru-home .home-links ul li a span:first-child {
      position: relative;
      display: block; }
      #mobile-guru-home .home-links ul li a span:first-child > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: block;
        font-size: 20px;
        font-weight: 600;
        text-align: center; }

#mobile-student-home {
  background: #F1F1F1; }
  #mobile-student-home .home-top {
    background: #6e8694; }
    #mobile-student-home .home-top .home-top-guru {
      position: relative;
      height: 100%;
      padding: 30px 15px; }
      #mobile-student-home .home-top .home-top-guru svg {
        display: block;
        height: 100%; }
        #mobile-student-home .home-top .home-top-guru svg + div {
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -ms-flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: center;
          align-content: center;
          -webkit-justify-content: center;
          justify-content: center;
          position: absolute;
          left: 18.5%;
          width: 62%;
          height: 36%;
          padding: 10px;
          bottom: 30px;
          color: #40484B; }
          #mobile-student-home .home-top .home-top-guru svg + div h1 {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 600; }
          #mobile-student-home .home-top .home-top-guru svg + div p {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2; }
  #mobile-student-home .home-tabs ul li {
    min-width: calc(100% / 3); }
    #mobile-student-home .home-tabs ul li:not(:last-child):after {
      background: #50A5DD; }
    #mobile-student-home .home-tabs ul li a {
      color: #50A5DD; }
      #mobile-student-home .home-tabs ul li a:hover, #mobile-student-home .home-tabs ul li a:focus {
        color: #6f7d82; }
        #mobile-student-home .home-tabs ul li a:hover .notification, #mobile-student-home .home-tabs ul li a:focus .notification {
          background: #40484B; }
          #mobile-student-home .home-tabs ul li a:hover .notification:after, #mobile-student-home .home-tabs ul li a:focus .notification:after {
            border-top-color: #40484B; }
  #mobile-student-home .home-links {
    background: #50A5DD; }
    #mobile-student-home .home-links ul:after {
      background: #a8d2ee; }
    #mobile-student-home .home-links ul li {
      width: calc(100% / 3); }
      #mobile-student-home .home-links ul li:nth-child(1):after, #mobile-student-home .home-links ul li:nth-child(2):after {
        content: "";
        position: absolute;
        top: 15px;
        right: -1px;
        height: calc(100% - 15px);
        width: 2px;
        background: #a8d2ee;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px; }
      #mobile-student-home .home-links ul li:nth-child(4):after, #mobile-student-home .home-links ul li:nth-child(5):after {
        content: "";
        position: absolute;
        bottom: 15px;
        right: -1px;
        height: calc(100% - 15px);
        width: 2px;
        background: #a8d2ee;
        border-bottom-left-radius: 1000px;
        border-bottom-right-radius: 1000px; }
      #mobile-student-home .home-links ul li a:hover, #mobile-student-home .home-links ul li a:focus {
        background: rgba(110, 134, 148, 0.5); }
      #mobile-student-home .home-links ul li a:active {
        background: #6e8694; }

/* ---------- DESKTOP */
.desktop-home .main {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  padding: 0; }
  .desktop-home .main .home-tabs {
    width: 100%;
    height: 60px; }
    .desktop-home .main .home-tabs ul {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%; }
      .desktop-home .main .home-tabs ul li {
        position: relative; }
        .desktop-home .main .home-tabs ul li:not(:last-child):after {
          filter: alpha(opacity=40);
          opacity: 0.4;
          border-radius: 1000px;
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          right: -1px;
          width: 2px;
          height: 40px;
          background: white; }
        .desktop-home .main .home-tabs ul li a {
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: center;
          align-content: center;
          -webkit-justify-content: center;
          justify-content: center;
          position: relative;
          height: 60px;
          padding: 0 15px;
          color: white;
          font-weight: 600;
          font-size: 18px; }
          .desktop-home .main .home-tabs ul li a .notification {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            position: relative;
            background: #43cb9d;
            color: white;
            width: 36px;
            height: 32px;
            border-radius: 2px; }
            .desktop-home .main .home-tabs ul li a .notification:after {
              content: "";
              display: block;
              position: absolute;
              right: -12px;
              top: 50%;
              margin-top: -6px;
              height: 0;
              width: 0;
              border: 6px solid transparent;
              border-left-color: #43cb9d; }
          .desktop-home .main .home-tabs ul li a span:not(.notification) {
            margin-left: 15px; }
          .desktop-home .main .home-tabs ul li a:hover .notification, .desktop-home .main .home-tabs ul li a:focus .notification {
            -webkit-transition: all 150ms ease-in-out;
            -moz-transition: all 150ms ease-in-out;
            -ms-transition: all 150ms ease-in-out;
            -o-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
            background: #40484B; }
            .desktop-home .main .home-tabs ul li a:hover .notification:after, .desktop-home .main .home-tabs ul li a:focus .notification:after {
              -webkit-transition: all 150ms ease-in-out;
              -moz-transition: all 150ms ease-in-out;
              -ms-transition: all 150ms ease-in-out;
              -o-transition: all 150ms ease-in-out;
              transition: all 150ms ease-in-out;
              border-left-color: #40484B; }
  .desktop-home .main .home-main {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    height: calc(100% - 60px);
    max-height: 650px; }
    .desktop-home .main .home-main .home-tiles-top {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: calc(100% / 3 * 2); }
      .desktop-home .main .home-main .home-tiles-top .home-tiles-guru {
        height: 100%;
        padding: 15px 0; }
        .desktop-home .main .home-main .home-tiles-top .home-tiles-guru svg {
          display: block;
          height: 100%;
          width: auto;
          max-width: 320px; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-guru svg > g > ellipse {
            -webkit-animation: tour-guru-shadow-hover 1000ms linear infinite alternate;
            -moz-animation: tour-guru-shadow-hover 1000ms linear infinite alternate;
            -ms-animation: tour-guru-shadow-hover 1000ms linear infinite alternate;
            -o-animation: tour-guru-shadow-hover 1000ms linear infinite alternate;
            animation: tour-guru-shadow-hover 1000ms linear infinite alternate;
            -webkit-transform-origin: center center;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            transform-origin: center center; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-guru svg .guru-body {
            -webkit-animation: tour-guru-hover 1000ms linear infinite alternate;
            -moz-animation: tour-guru-hover 1000ms linear infinite alternate;
            -ms-animation: tour-guru-hover 1000ms linear infinite alternate;
            -o-animation: tour-guru-hover 1000ms linear infinite alternate;
            animation: tour-guru-hover 1000ms linear infinite alternate; }
      .desktop-home .main .home-main .home-tiles-top .home-tiles-daily {
        padding: 15px 0 15px 15px;
        height: 100%;
        width: 100%;
        position: relative; }
        .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content {
          position: absolute;
          left: calc(10% + 7.5px);
          top: 10%;
          width: 80%;
          height: 80%;
          border-radius: 5px;
          text-align: center; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -ms-flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            justify-content: center;
            padding: 15px;
            width: 100%;
            height: 100%; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside h1, .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside h2 {
              -webkit-align-self: flex-start;
              align-self: flex-start;
              text-align: center;
              padding: 0;
              margin: 0 !important; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside h1 {
              font-size: 32px;
              font-weight: 900; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside h2 {
              font-size: 20px;
              font-weight: 600; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar {
              -webkit-align-self: center;
              align-self: center;
              -ms-box-orient: horizontal;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -moz-flex;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              align-items: center;
              -webkit-align-content: center;
              align-content: center;
              -webkit-justify-content: center;
              justify-content: center;
              padding: 0 7.5px;
              width: 100%; }
              .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li {
                padding: 0 7.5px; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini {
                  background: #F1F1F1;
                  color: #40484B; }
                  .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .user-icon {
                    border-color: #F1F1F1;
                    width: 48px;
                    height: 48px; }
                  .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .pf-name {
                    font-size: 14px;
                    font-weight: 600; }
                  .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-guru-bar > li .pf-card-mini .rating-stars {
                    max-width: 70px; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar {
              -webkit-align-self: center;
              align-self: center;
              -ms-box-orient: horizontal;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -moz-flex;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              align-items: center;
              -webkit-align-content: center;
              align-content: center;
              -webkit-justify-content: center;
              justify-content: center;
              padding: 0 7.5px; }
              .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li {
                padding: 0 7.5px; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li span {
                  display: block;
                  width: 100%;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 1.2;
                  text-align: center;
                  text-transform: uppercase; }
                  .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li span + span {
                    margin-top: 5px; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li svg {
                  border-radius: 1000px;
                  display: block;
                  width: 100%;
                  max-width: 90px;
                  margin: 0 auto;
                  padding: 5px; }
                  .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li svg * {
                    fill: none;
                    stroke: white;
                    stroke-width: 3px;
                    stroke-linecap: round;
                    stroke-linejoin: round; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.academic svg {
                  background: #e6389b; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.baking svg {
                  background: #F6C64E; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.photography svg {
                  background: #81B566; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.household svg {
                  background: #7872e3; }
                .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon-bar > li.tech svg {
                  background: #55A4B7; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon {
              -webkit-align-self: center;
              align-self: center;
              display: block;
              margin: 0 auto; }
              .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon svg {
                display: block;
                margin: 0 auto;
                width: 100%;
                max-height: 150px; }
            .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside button {
              -webkit-align-self: flex-end;
              align-self: flex-end;
              display: inline-block;
              max-width: 75%; }
        .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket {
          position: relative;
          width: 100%;
          height: 100%; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket div {
            margin: 0 auto;
            width: calc(100% - 10px);
            height: 100%; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:before, .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100%;
            width: 20%; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:before {
            left: 0; }
          .desktop-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:after {
            right: 0; }
    .desktop-home .main .home-main .home-tiles-container {
      padding: 7.5px; }
      .desktop-home .main .home-main .home-tiles-container .home-tile {
        display: block; }
    .desktop-home .main .home-main .home-tiles-main {
      width: 100%;
      height: calc(100% / 3);
      padding: 0 15px 15px; }
      .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        border-radius: 2px;
        height: 100%; }
        .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile {
          position: relative;
          width: 25%;
          height: 100%;
          padding: 15px; }
          .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:not(:last-child):after {
            border-radius: 1000px;
            content: "";
            position: absolute;
            z-index: 10;
            top: 15px;
            right: -1px;
            height: calc(100% - 30px);
            width: 2px; }
          .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 100%; }
            .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div {
              width: 100%;
              padding-bottom: 5px; }
              .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div > span {
                position: relative;
                display: block; }
                .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div > span > span {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  display: block;
                  font-size: 28px;
                  font-weight: 600;
                  text-align: center; }
              .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div h1 {
                width: 100%;
                color: white;
                font-size: 24px;
                font-weight: 600;
                text-align: center; }
                .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div h1 span:not([data-courses="1"]) b {
                  font-weight: 600; }
                  .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div h1 span:not([data-courses="1"]) b:after {
                    content: "s"; }
              .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div h2 {
                filter: alpha(opacity=50);
                opacity: 0.5;
                margin-top: 0 !important;
                width: 100%;
                color: white;
                font-size: 16px;
                font-weight: 600;
                text-align: center; }
              .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div svg {
                display: block;
                margin: 0 auto;
                height: 80px;
                width: 80px; }
                .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div svg * {
                  fill: none;
                  stroke: white;
                  stroke-width: 3px;
                  stroke-linecap: round;
                  stroke-linejoin: round; }
                  .desktop-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile .home-tile-inside div svg *:not(.line) {
                    fill: rgba(255, 255, 255, 0.3) !important; }

#cta-modal-signup {
  background: rgba(43, 50, 52, 0.9) !important;
  top: 64px;
  height: calc(100% - 64px); }
  #cta-modal-signup .cta-modal-close {
    display: block; }
  #cta-modal-signup header.desktop-header {
    display: block;
    top: 0; }
    #cta-modal-signup header.desktop-header a.cta-modal-close {
      display: block;
      top: 0;
      margin: 15px;
      right: 0;
      position: absolute;
      width: auto !important; }
  #cta-modal-signup input {
    color: #2B3234 !important; }
  #cta-modal-signup #cta-footer-switch-link {
    display: block;
    bottom: 20%;
    text-align: center;
    left: 0; }

#desktop-guru-home {
  background: #40484B; }
  #desktop-guru-home .main .home-tabs {
    background: #5b6f70; }
  #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily {
    width: calc(100% - 320px);
    height: 100%; }
    #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content {
      border: 3px solid #69B3A5;
      background: #40484B; }
      #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon svg *[stroke="#000000"] {
        stroke: white !important; }
    #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket div {
      background: url(../../img/ticket/center-guru.svg) repeat-x center center/contain, url(/static/remote/img/ticket/center-guru.svg) repeat-x center center/contain; }
    #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:before {
      background: url(../../img/ticket/left-guru.svg) no-repeat center left/contain, url(/static/remote/img/ticket/left-guru.svg) no-repeat center left/contain; }
    #desktop-guru-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:after {
      background: url(../../img/ticket/right-guru.svg) no-repeat center right/contain, url(/static/remote/img/ticket/right-guru.svg) no-repeat center right/contain; }
  #desktop-guru-home .main .home-main .home-tiles-main .home-tiles-main-inside {
    background: #69B3A5; }
    #desktop-guru-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:hover, #desktop-guru-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:focus {
      background: rgba(91, 111, 112, 0.5); }
    #desktop-guru-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:active {
      background: #5b6f70; }
    #desktop-guru-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:not(:last-child):after {
      background: #b4d9d2; }

#desktop-student-home {
  background: #F1F1F1;
  color: #40484B; }
  #desktop-student-home .main .home-tabs {
    background: #6e8694; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content {
    border: 3px solid #F1B99D;
    background: white; }
    #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket-content .home-ticket-inside .home-ticket-icon svg *[stroke="#000000"] {
      stroke: #40484B !important; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket div {
    background: url(../../img/ticket/center.svg) repeat-x center center/contain, url(/static/remote/img/ticket/center.svg) repeat-x center center/contain; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:before {
    background: url(../../img/ticket/left.svg) no-repeat center left/contain, url(/static/remote/img/ticket/left.svg) no-repeat center left/contain; }
  #desktop-student-home .main .home-main .home-tiles-top .home-tiles-daily .home-ticket:after {
    background: url(../../img/ticket/right.svg) no-repeat center right/contain, url(/static/remote/img/ticket/right.svg) no-repeat center right/contain; }
  #desktop-student-home .main .home-main .home-tiles-powerups {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 7.5px; }
    #desktop-student-home .main .home-main .home-tiles-powerups .home-tile {
      height: 25%;
      padding: 7.5px; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile .home-tile-inside {
        border-radius: 2px;
        height: 100%; }
        #desktop-student-home .main .home-main .home-tiles-powerups .home-tile .home-tile-inside > svg {
          height: 100%;
          width: auto; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.gpa .home-tile-inside {
        background: #559AB0; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.munchies .home-tile-inside {
        background: #F25A5B; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.sound .home-tile-inside {
        background: #9A5BC5; }
      #desktop-student-home .main .home-main .home-tiles-powerups .home-tile.transit .home-tile-inside {
        background: #81B566; }
  #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside {
    background: #50A5DD; }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:hover, #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:focus {
      background: rgba(110, 134, 148, 0.5); }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:active {
      background: #6e8694; }
    #desktop-student-home .main .home-main .home-tiles-main .home-tiles-main-inside .home-tile:not(:last-child):after {
      background: #a8d2ee; }

/*# sourceMappingURL=home.css.map */
