/* ---------- SETTING UP APP */
.access-view {
  background: #69B3A5;
}

.access-view input {
  cursor: text;
}

.access-view #access-data {
  height: calc(100% - 64px);
}

.access-view #access-logo {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  height: 70%;
}

.access-view #access-logo svg {
  display: block;
  max-height: 70%;
}

.access-view #access-code {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.access-view #access-start {
  position: absolute;
  bottom: 0;
  left: 0;
}

.access-view p {
  margin: 0 0 15px;
  font-size: smaller;
}

.access-view button:active {
  background: rgba(43, 50, 52, 0.7);
}

.how-it-works-view {
  background: #2B3234;
  height: 100%;
}

.how-it-works-view header {
  padding-top: 20px;
  height: 50px;
}

.how-it-works-view .header-up {
  display: block;
  margin: 0 auto;
  height: 50px;
}

.how-it-works-view .header-up svg {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 100%;
}

.how-it-works-view button {
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
}

.how-it-works-view button:active {
  background: rgba(255, 255, 255, 0.4);
}

.how-it-works-view #how-cards-container {
  height: calc(100% - 50px - 64px);
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.how-it-works-view #how-cards-container .breadcrumbs {
  position: fixed;
  width: 100%;
  margin-top: 10%;
}

.how-it-works-view #how-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding-top: 15%;
  box-sizing: content-box;
  height: 70%;
  width: 600%;
}

.how-it-works-view #how-cards .how-card {
  width: 100%;
  height: 100%;
}

.how-it-works-view #how-cards .how-card .how-card-media, .how-it-works-view #how-cards .how-card .how-card-desc {
  margin: 0 30px;
  width: calc(100% - 60px);
}

.how-it-works-view #how-cards .how-card .how-card-media {
  position: relative;
  border-radius: 10px 10px 0 0;
  height: 70%;
}

.how-it-works-view #how-cards .how-card .how-card-media h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}

.how-it-works-view #how-cards .how-card .how-card-media div {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  padding: 15px;
}

.how-it-works-view #how-cards .how-card .how-card-media div svg {
  height: 100%;
  width: auto;
}

.how-it-works-view #how-cards .how-card .how-card-media div.bottom-0 {
  padding-bottom: 25px;
}

.how-it-works-view #how-cards .how-card .how-card-media div.top-0 {
  padding-top: 25px;
}

.how-it-works-view #how-cards .how-card .how-card-desc {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  background: white;
  height: 30%;
  color: #2B3234;
}

.how-it-works-view #how-cards .how-card .how-card-desc p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.onboarding-search .prefix {
  top: 4px;
}

.onboarding-search .prefix svg {
  fill: none;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.university-view {
  background: #2B3234;
}

.university-view header.third::before {
  background: url(../../img/onboarding/schools.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/schools.jpg) no-repeat center center/cover;
}

.university-view header.third > h1 {
  font-size: 28px !important;
  text-transform: lowercase;
  padding-bottom: 30px;
}

.university-view header.third .onboarding-search input, .university-view header.third .onboarding-search label {
  color: white !important;
  border-color: white !important;
}

.university-view header.third .geolocation-icon {
  position: absolute;
  top: -25px;
  right: -20px;
  padding: 30px;
}

.university-view #school-list.onboarding-list ul li a, .university-view #school-list-modal ul li a {
  font-weight: 300;
}

.university-view #school-list.onboarding-list ul li a .school-icon img, .university-view #school-list-modal ul li a .school-icon img {
  border-radius: 1000px;
  border: 0 !important;
  margin: 10px;
  width: 44px;
  height: 44px;
  background: white;
}

.university-view #school-list.onboarding-list ul li a .school-name, .university-view #school-list-modal ul li a .school-name {
  display: block;
  width: calc(100% - 69px);
  padding-right: 5px;
}

.university-view #school-list.onboarding-list ul li a .school-name b, .university-view #school-list.onboarding-list ul li a .school-name i, .university-view #school-list-modal ul li a .school-name b, .university-view #school-list-modal ul li a .school-name i {
  display: block;
  width: 100%;
  line-height: 1.2;
}

.university-view #school-list.onboarding-list ul li a .school-name b, .university-view #school-list-modal ul li a .school-name b {
  font-size: 20px;
  font-weight: 400;
}

.university-view #school-list.onboarding-list ul li a .school-name i, .university-view #school-list-modal ul li a .school-name i {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.university-view #school-list.onboarding-list ul li a .school-name .school-title, .university-view #school-list-modal ul li a .school-name .school-title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.university-view #school-list.onboarding-list ul li a .school-name .school-city, .university-view #school-list-modal ul li a .school-name .school-city {
  text-transform: capitalize;
}

.university-view #school-list.onboarding-list ul li a .school-name .school-state, .university-view #school-list-modal ul li a .school-name .school-state {
  text-transform: uppercase;
}

.university-view #school-list.onboarding-list ul li a .school-name .school-distance, .university-view #school-list-modal ul li a .school-name .school-distance {
  float: right;
  bottom: 0;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 500;
}

.university-view #school-list.onboarding-list ul li a:active, .university-view #school-list.onboarding-list ul li a.active, .university-view #school-list.onboarding-list ul li a.activated, .university-view #school-list-modal ul li a:active, .university-view #school-list-modal ul li a.active, .university-view #school-list-modal ul li a.activated {
  background: rgba(255, 255, 255, 0.2);
}

/* ---------- GURU ONBOARDING */
.onboarding-steps {
  position: fixed;
  z-index: 50;
  top: calc(100% / 3 - 5px);
  left: 0;
  width: 100%;
  height: 5px;
}

.onboarding-steps progress {
  display: block;
  border-radius: 0 !important;
  vertical-align: 0;
  margin: 0;
}

.onboarding progress, .onboarding .progress {
  position: absolute;
  top: 0;
  z-index: 9;
}

.onboarding progress span[data-value="2"], .onboarding .progress span[data-value="2"] {
  width: 2%;
}

.onboarding progress span[data-value="30"], .onboarding .progress span[data-value="30"] {
  width: 25%;
}

.onboarding progress span[data-value="50"], .onboarding .progress span[data-value="50"] {
  width: 40%;
}

.onboarding progress span[data-value="80"], .onboarding .progress span[data-value="80"] {
  width: 80%;
}

.onboarding progress span[data-value="85"], .onboarding .progress span[data-value="85"] {
  width: 85%;
}

.onboarding progress span[data-value="95"], .onboarding .progress span[data-value="95"] {
  width: 95%;
}

.onboarding progress span[data-value="99"], .onboarding .progress span[data-value="99"] {
  width: 86%;
}

.onboarding header h1:not(header .header-nav a h1) {
  text-align: center;
}

.onboarding .onboarding-list {
  height: calc(100% / 3 * 2);
  overflow: auto;
}

.onboarding#start {
  background: #40484B;
}

.onboarding#start #start-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-bottom: 64px;
  color: #69B3A5;
  font-size: 28px;
  text-align: center;
}

.major-view, .language-view {
  background: #2B3234;
}

.major-view header.third::before, .language-view header.third::before {
  background: url(../../img/onboarding/major.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/major.jpg) no-repeat center center/cover;
}

.major-view header.third > h1, .language-view header.third > h1 {
  font-size: 28px !important;
  text-transform: lowercase;
}

.major-view #major-list.onboarding-list ul, .major-view #language-list ul, .language-view #major-list.onboarding-list ul, .language-view #language-list ul {
  margin-top: 1px;
}

.major-view #major-list.onboarding-list ul li a, .major-view #language-list ul li a, .language-view #major-list.onboarding-list ul li a, .language-view #language-list ul li a {
  border-color: #8A9EA3;
  margin-bottom: 2px;
  padding: 0 40px 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.major-view #major-list.onboarding-list ul li a:active.active, .major-view #major-list.onboarding-list ul li a:active.activated, .major-view #major-list.onboarding-list ul li a:focus.active, .major-view #major-list.onboarding-list ul li a:focus.activated, .major-view #major-list.onboarding-list ul li a:hover.active, .major-view #major-list.onboarding-list ul li a:hover.activated, .major-view #language-list ul li a:active.active, .major-view #language-list ul li a:active.activated, .major-view #language-list ul li a:focus.active, .major-view #language-list ul li a:focus.activated, .major-view #language-list ul li a:hover.active, .major-view #language-list ul li a:hover.activated, .language-view #major-list.onboarding-list ul li a:active.active, .language-view #major-list.onboarding-list ul li a:active.activated, .language-view #major-list.onboarding-list ul li a:focus.active, .language-view #major-list.onboarding-list ul li a:focus.activated, .language-view #major-list.onboarding-list ul li a:hover.active, .language-view #major-list.onboarding-list ul li a:hover.activated, .language-view #language-list ul li a:active.active, .language-view #language-list ul li a:active.activated, .language-view #language-list ul li a:focus.active, .language-view #language-list ul li a:focus.activated, .language-view #language-list ul li a:hover.active, .language-view #language-list ul li a:hover.activated {
  background: rgba(255, 255, 255, 0.2);
}

.major-view #major-list.onboarding-list ul li.selected, .major-view #language-list ul li.selected, .language-view #major-list.onboarding-list ul li.selected, .language-view #language-list ul li.selected {
  position: relative;
}

.major-view #major-list.onboarding-list ul li.selected a, .major-view #language-list ul li.selected a, .language-view #major-list.onboarding-list ul li.selected a, .language-view #language-list ul li.selected a {
  border-color: white !important;
  color: inherit !important;
  font-weight: 600;
  background: #8A9EA3;
}

.major-view #major-list.onboarding-list ul li.selected svg, .major-view #language-list ul li.selected svg, .language-view #major-list.onboarding-list ul li.selected svg, .language-view #language-list ul li.selected svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 64px;
  height: 64px;
  padding: 20px;
}

.courses-view header.third::before {
  background: url(../../img/onboarding/courses.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/courses.jpg) no-repeat center center/cover;
}

.courses-view header.third div:not(.header-nav) h1 {
  font-size: 28px !important;
  text-transform: lowercase;
  padding-bottom: 5px;
}

.courses-view header.third div:not(.header-nav) h1 + h2 {
  margin-top: 0;
  font-size: 20px;
  padding: 0 15px 30px;
}

.courses-view header.third .onboarding-search input {
  width: calc(100% - 48px - 15px);
}

.courses-view header.third .onboarding-search input, .courses-view header.third .onboarding-search label {
  color: white !important;
  border-color: white !important;
}

@media screen and (max-height: 568px) {
  .courses-view header.third div:not(.header-nav) h1 {
    padding-bottom: 30px;
  }
  .courses-view header.third div:not(.header-nav) h1 + h2 {
    display: none;
  }
}

.courses-view #courses-list.onboarding-list ul {
  margin: 1px 1px 0;
}

.courses-view #courses-list.onboarding-list ul li {
  position: relative;
  border: 1px solid transparent;
}

.courses-view #courses-list.onboarding-list ul li label {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.courses-view #courses-list.onboarding-list ul li label span {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.courses-view #courses-list.onboarding-list ul li label span:first-child:not(:only-child) {
  font-size: 14px;
  line-height: 1.2;
}

.courses-view #courses-list.onboarding-list ul li input {
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.courses-view #courses-list.onboarding-list ul li input:checked + label {
  color: inherit !important;
  font-weight: 600;
}

.courses-view #courses-list.onboarding-list ul li input:checked:active + label {
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.courses-view:not(.student-courses-view) #course {
  background: #2B3234;
}

.courses-view:not(.student-courses-view) #courses-list.onboarding-list ul li label {
  background: rgba(255, 255, 255, 0.1);
  border-color: #8A9EA3;
}

.courses-view:not(.student-courses-view) #courses-list.onboarding-list ul li input:checked + label {
  background: #8A9EA3;
  border-color: white !important;
}

.courses-view:not(.student-courses-view) #courses-list.onboarding-list ul li input:active + label {
  background: rgba(255, 255, 255, 0.2);
}

.courses-view:not(.student-courses-view) #courses-list.onboarding-list ul li input:checked:active + label {
  background: #8A9EA3;
}

.skills-view {
  background: #2B3234;
}

.skills-view header.third::before {
  background: url(../../img/onboarding/skills.jpg) no-repeat center center/cover, url(/static/remote/img/onboarding/skills.jpg) no-repeat center center/cover;
}

.skills-view header.third div:not(.header-nav) h1 {
  font-size: 28px !important;
  text-transform: lowercase;
  padding-bottom: 5px;
}

.skills-view header.third div:not(.header-nav) h1 + h2 {
  margin-top: 0;
  font-size: 20px;
  padding: 0 15px 15px;
}

@media screen and (max-height: 568px) {
  .skills-view header.third div:not(.header-nav) h1 {
    padding-bottom: 15px;
  }
  .skills-view header.third div:not(.header-nav) h1 + h2 {
    display: none;
  }
}

.skills-view #skills-list.onboarding-list ul {
  padding: 1px;
  height: 100%;
}

.skills-view #skills-list.onboarding-list ul li {
  height: 25%;
  border: 1px solid #2B3234;
}

.skills-view #skills-list.onboarding-list ul li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
  background-color: rgba(43, 50, 52, 0.5);
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.skills-view #skills-list.onboarding-list ul li a .skill-label {
  position: relative;
  z-index: 9;
  display: block;
  width: 100%;
  font-weight: 600;
  line-height: 1.25;
}

.skills-view #skills-list.onboarding-list ul li a .skill-count {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  background: white;
  border-radius: 0 0 0 75%;
  width: 28px;
  height: 28px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-weight: 600;
  font-size: 18px;
}

.skills-view #skills-list.onboarding-list ul [class*="skill-item-bg-"]::after {
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-delivery.important .skill-count {
  color: #F04F54 !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-delivery.important::after {
  background: #F04F54;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-freelancing.important .skill-count {
  color: #E5753C !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-freelancing.important::after {
  background: #E5753C;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-baking.important .skill-count {
  color: #F6C64E !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-baking.important::after {
  background: #F6C64E;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-photography.important .skill-count {
  color: #81B566 !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-photography.important::after {
  background: #81B566;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-tech.important .skill-count {
  color: #55A4B7 !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-tech.important::after {
  background: #55A4B7;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-household.important .skill-count {
  color: #7872e3 !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-household.important::after {
  background: #7872e3;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-athetic.important .skill-count {
  color: #9A5BC5 !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-athetic.important::after {
  background: #9A5BC5;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-academic.important .skill-count {
  color: #e6389b !important;
}

.skills-view #skills-list.onboarding-list ul .skill-item-bg-academic.important::after {
  background: #e6389b;
}

.photo-view {
  background: #2B3234;
}

.photo-view header.third h1.text-center {
  line-height: 1.2 !important;
}

.photo-view header.third div:not(.header-nav) h1 {
  font-size: 28px !important;
  text-transform: lowercase;
  padding-bottom: 5px;
}

.photo-view header.third div:not(.header-nav) h1 + h2 {
  margin-top: 0;
  font-size: 20px;
  padding: 0 15px 15px;
}

@media screen and (max-height: 568px) {
  .photo-view header.third div:not(.header-nav) h1 {
    padding-bottom: 15px;
  }
  .photo-view header.third div:not(.header-nav) h1 + h2 {
    display: none;
  }
}

.photo-view #photo-list {
  position: absolute;
  bottom: 0;
  padding: 1px;
}

.photo-view #photo-list p {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  opacity: 0.5;
}

.photo-view #photo-list li {
  padding: 1px;
}

.photo-view #photo-list li img {
  display: block;
  max-width: 100%;
}

.photo-view #photo-container #profile-icon {
  position: relative;
  height: 75%;
  text-align: center;
}

.photo-view #photo-container #profile-icon a.active, .photo-view #photo-container #profile-icon a.activated, .photo-view #photo-container #profile-icon a:active {
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.photo-view #photo-container #profile-icon h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  margin: 0;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo-view #photo-container #profile-icon span {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
}

.photo-view #photo-container #profile-icon span, .photo-view #photo-container #profile-icon img {
  border: 5px solid white;
}

.photo-view #photo-container #profile-icon svg, .photo-view #photo-container #profile-icon img {
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: alpha(opacity=50);
  opacity: 0.5;
  width: 80%;
  height: 80%;
  max-width: 150px;
  max-height: 150px;
}

/* ---------- GURU ONBOARDING */
.desktop-guru-onboarding .main .desktop-search-list #guru-courses-user-profile {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
}

.desktop-guru-onboarding .main .desktop-search-list #guru-courses-user-profile li.course-item.selected {
  width: 25% !important;
  display: block !important;
}

.desktop-guru-onboarding .main .desktop-search-list #guru-courses-user-profile li.course-item.selected a {
  height: 60px !important;
  max-height: 60px !important;
}

.desktop-guru-onboarding .main .desktop-search-list #guru-courses-user-profile li.course-item.selected a span {
  font-size: 20px;
  text-align: center !important;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li {
  display: none;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 84px;
  padding: 15px;
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a:hover {
  background: #637074;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a > svg, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li label > svg, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a .icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px !important;
  height: 40px;
  border-radius: 0 0 0 75%;
  padding: 5px 5px 10px 10px !important;
  background: white;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a > svg path, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li label > svg path, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a .icon path {
  fill: none;
  stroke: #637074;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a .icon {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  filter: alpha(opacity=0);
  opacity: 0;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a .icon svg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a:hover .icon, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a:focus .icon {
  filter: alpha(opacity=100);
  opacity: 1;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(1), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(2), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(3), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(4),
.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(5), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(6), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(7), .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li:nth-child(8) {
  display: block;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a {
  background: #637074;
  border-color: white;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a:hover, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a:focus {
  background: #40484B;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a:hover svg path, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a:focus svg path {
  stroke: #40484B;
}

.desktop-guru-onboarding .main .desktop-search-list .desktop-card-list .selected a:active {
  background: rgba(255, 255, 255, 0.25);
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-height: 750px) and (min-width: 820px) {
  .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a {
    font-size: 20px;
  }
}

@media screen and (min-height: 750px) and (min-width: 1024px) {
  .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a {
    height: 100px;
  }
}

@media screen and (min-height: 952px) {
  .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a {
    height: 125px;
    font-size: 24px;
  }
  .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a svg, .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li label svg {
    padding: 30px;
  }
}

@media screen and (min-height: 1000px) {
  .desktop-guru-onboarding .main .desktop-search-list .desktop-card-list li a {
    height: 150px;
  }
}

/* ---------- BECOME GURU ONBOARDING */
.guru-onboarding-header {
  position: relative;
  text-align: center;
}

.guru-onboarding-header h1, .guru-onboarding-header h2 {
  position: relative;
  z-index: 10;
  font-weight: 600;
}

.guru-onboarding-header h1 {
  font-size: 48px;
}

.guru-onboarding-header h2 {
  margin-top: 0;
  font-size: 28px;
}

#desktop-guru-onboarding {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#desktop-guru-onboarding:before {
  filter: alpha(opacity=40);
  opacity: 0.4;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #40484B;
}

#desktop-guru-onboarding .main {
  height: auto;
}

#desktop-guru-onboarding .main .guru-onboarding-header h1 {
  font-size: 72px;
}

#desktop-guru-onboarding .main #guru-onboarding-grid {
  padding: 60px 15px 15px;
  max-width: 1020px;
  margin: auto;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li {
  position: relative;
  padding: 15px;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  max-height: 270px;
  border-radius: 2px;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a:after {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  filter: alpha(opacity=80);
  opacity: 0.8;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a:hover:after, #desktop-guru-onboarding .main #guru-onboarding-grid li a:focus:after {
  filter: alpha(opacity=100);
  opacity: 1;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a.complete {
  filter: alpha(opacity=100);
  opacity: 1;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a.complete:hover, #desktop-guru-onboarding .main #guru-onboarding-grid li a.complete:focus {
  filter: alpha(opacity=100);
  opacity: 1;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a > span {
  display: block;
  position: relative;
  z-index: 10;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a > span span {
  display: block;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a > span span:first-child svg {
  height: 175px;
  width: 100%;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a > span span:first-child svg path {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li a > span span:last-child {
  margin-top: -20px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a {
  background: #81B566;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus {
  background: #e6f0e0;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span {
  color: #81B566 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span span:first-child svg path, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span span:first-child svg path {
  stroke: #81B566 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:active {
  background: white;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a {
  background: #69B3A5;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus {
  background: #e1f0ed;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span {
  color: #69B3A5 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span span:first-child svg path, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span span:first-child svg path {
  stroke: #69B3A5 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:active {
  background: white;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a {
  background: #55A4B7;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus {
  background: #ddedf1;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span {
  color: #55A4B7 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span span:first-child svg path, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span span:first-child svg path {
  stroke: #55A4B7 !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:active {
  background: white;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a {
  background: #50A5DD;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:hover, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:focus {
  background: #dcedf8;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:hover > span, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:focus > span {
  color: #50A5DD !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:hover > span span:first-child svg path, #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:focus > span span:first-child svg path {
  stroke: #50A5DD !important;
}

#desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(4) a:active {
  background: white;
}

#desktop-guru-onboarding .main #guru-onboarding-progress {
  padding-top: 30px;
  max-width: 960px;
  margin: auto;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress {
  position: relative;
  overflow: visible;
  height: 10px;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  width: 100%;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li {
  width: 33%;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:first-child {
  padding-right: 30px;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:last-child {
  padding-left: 30px;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: white;
  font-size: 36px;
  font-weight: 900;
  border: 5px solid;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span svg {
  fill: none;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 40px;
  height: 40px;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span:not(complete) i {
  display: none;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span:not(complete) b {
  display: block;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span.complete i {
  display: block;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li span.complete b {
  display: none;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span {
  color: #81B566;
  border-color: #81B566;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span svg {
  stroke: #81B566;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span {
  color: #69B3A5;
  border-color: #69B3A5;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span svg {
  stroke: #69B3A5;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span {
  color: #55A4B7;
  border-color: #55A4B7;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span svg {
  stroke: #55A4B7;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(4) span {
  color: #50A5DD;
  border-color: #50A5DD;
}

#desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(4) span svg {
  stroke: #50A5DD;
}

@media screen and (min-width: 800px) {
  #desktop-guru-onboarding .main .header h1 {
    font-size: 64px;
  }
  #desktop-guru-onboarding .main .header h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 980px) {
  #desktop-guru-onboarding .main #guru-onboarding-grid li a > span span:last-child {
    margin-top: -10px;
    padding-bottom: 30px;
    font-size: 28px;
  }
}

@media screen and (min-height: 850px) {
  #desktop-guru-onboarding .main #guru-onboarding-grid {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #desktop-guru-onboarding .main #guru-onboarding-grid li a {
    height: 270px;
  }
  #desktop-guru-onboarding .main #guru-onboarding-grid li a > span span:last-child {
    margin-top: 0;
  }
}

#guru-onboarding-buttons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 15px;
}

#guru-onboarding-buttons li {
  padding: 0 7.5px;
}

#guru-onboarding-buttons li button {
  display: inline-block !important;
  width: 200px !important;
  font-weight: 600;
}

#guru-onboarding-buttons li:first-child {
  text-align: right;
}
