.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.margin-30-x {
  margin-left: 30px;
  margin-right: 30px; }

.margin-30-y {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-30-xy {
  margin: 30px; }

.margin-30-top {
  margin-top: 30px; }

.margin-30-bottom {
  padding-bottom: 30px; }

.margin-30-left {
  padding-left: 30px; }

.margin-30-right {
  padding-right: 30px; }

.margin-20-x {
  margin-left: 20px;
  margin-right: 20px; }

.margin-20-y {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-20-xy {
  margin: 20px; }

.margin-20-top {
  margin-top: 20px; }

.margin-20-bottom {
  padding-bottom: 20px; }

.margin-20-left {
  padding-left: 20px; }

.margin-20-right {
  padding-right: 20px; }

.margin-15-x {
  margin-left: 15px;
  margin-right: 15px; }

.margin-15-y {
  margin-top: 15px;
  margin-bottom: 15px; }

.margin-15-xy {
  margin: 15px; }

.margin-15-top {
  margin-top: 15px; }

.margin-15-bottom {
  padding-bottom: 15px; }

.margin-15-left {
  padding-left: 15px; }

.margin-15-right {
  padding-right: 15px; }

.padding-30-x {
  padding-left: 30px;
  padding-right: 30px; }

.padding-30-y {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-30-xy {
  padding: 30px; }

.padding-30-top {
  padding-top: 30px; }

.padding-30-bottom {
  padding-bottom: 30px; }

.padding-30-left {
  padding-left: 30px; }

.padding-30-right {
  padding-right: 30px; }

.padding-20-x {
  padding-left: 20px;
  padding-right: 20px; }

.padding-20-y {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-20-xy {
  padding: 20px; }

.padding-20-top {
  padding-top: 20px; }

.padding-20-bottom {
  padding-bottom: 20px; }

.padding-20-left {
  padding-left: 20px; }

.padding-20-right {
  padding-right: 20px; }

.padding-15-x {
  padding-left: 15px;
  padding-right: 15px; }

.padding-15-y {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-15-xy {
  padding: 15px; }

.padding-15-top {
  padding-top: 15px; }

.padding-15-bottom {
  padding-bottom: 15px; }

.padding-15-left {
  padding-left: 15px; }

.padding-15-right {
  padding-right: 15px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.space-1 {
  letter-spacing: 1px; }

.space-2 {
  letter-spacing: 2px; }

.space-3 {
  letter-spacing: 3px; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.lettercase {
  text-transform: capitalize; }

.bg-white {
  background: white; }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-75 {
  background: rgba(255, 255, 255, 0.75); }

.bg-slate {
  background: #40484B; }

.bg-shamrock {
  background: #69B3A5; }

.bg-moola {
  background: #81B566; }

.bg-cerise {
  background: #DB1988; }

.hide {
  display: none; }

.full-width-height {
  height: 100%;
  width: 100%; }

.absolute {
  position: absolute; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

.padding-1em {
  padding: 1em; }

.padding-2em {
  padding: 2em; }

.padding-top-2em {
  padding-top: 2em; }

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

*:focus {
  outline: none; }

body, html {
  height: 100%; }

body {
  margin: 0;
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: 200 !important;
  color: white;
  background: #40484B;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  color: #69B3A5;
  text-decoration: none; }

a:active, a:focus, a:hover {
  color: #C56E9C; }

button {
  -webkit-appearance: none;
  width: 100%;
  height: 64px;
  border: 0;
  color: white;
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  cursor: pointer; }

.btn-caps {
  text-transform: uppercase; }

.btn-fixed {
  position: fixed; }

.btn-bold {
  font-weight: 700; }

.gpa-sc {
  position: relative;
  height: 100%; }
  .gpa-sc header {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 64px;
    background: #2B3234; }
    .gpa-sc header h1 {
      font-size: 24px; }
    .gpa-sc header ul {
      list-style: none;
      margin: 0;
      padding: 0;
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%; }
      .gpa-sc header ul li:first-child, .gpa-sc header ul li:last-child {
        width: 25%; }
      .gpa-sc header ul li:nth-child(2) {
        width: 50%; }
      .gpa-sc header ul li:last-child {
        text-align: right; }
    .gpa-sc header a {
      color: white; }
  .gpa-sc .add-btn {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    border: 2px solid white; }
    .gpa-sc .add-btn svg {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

#home-sc .gpa-sc-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 1.5; }

#home-sc .guru svg {
  max-height: 200px; }

.edit-sc .add-sc-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .edit-sc .add-sc-list > li {
    position: relative;
    border-bottom: 1px solid #2B3234;
    font-weight: 300;
    height: 64px;
    box-sizing: border-box; }
    .edit-sc .add-sc-list > li input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background: none;
      border: 0;
      color: white;
      font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600; }
      .edit-sc .add-sc-list > li input::-ms-expand {
        display: none; }
      .edit-sc .add-sc-list > li input::-webkit-input-placeholder {
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 0.5); }
      .edit-sc .add-sc-list > li input:-moz-placeholder {
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 0.5); }
      .edit-sc .add-sc-list > li input::-moz-placeholder {
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 0.5); }
      .edit-sc .add-sc-list > li input:-ms-input-placeholder {
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 0.5); }
      .edit-sc .add-sc-list > li input:focus::-webkit-input-placeholder {
        color: white; }
      .edit-sc .add-sc-list > li input:focus:-moz-placeholder {
        color: white; }
      .edit-sc .add-sc-list > li input:focus::-moz-placeholder {
        color: white; }
      .edit-sc .add-sc-list > li input:focus:-ms-input-placeholder {
        color: white; }
    .edit-sc .add-sc-list > li select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 72px;
      height: 64px;
      box-sizing: border-box;
      padding-left: 10px;
      margin-right: 10px;
      border: 0;
      background: url("/static/svg/arrow-down.svg") no-repeat right center;
      font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 32px;
      color: white; }
      .edit-sc .add-sc-list > li select::-ms-expand {
        display: none; }

.edit-sc button {
  background: #DB1988; }

#gpa-sc ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#gpa-sc .gpa-total {
  position: relative;
  background: #69B3A5;
  padding: 50px 15px; }
  #gpa-sc .gpa-total h1 {
    padding: 10px 0;
    font-size: 96px;
    font-weight: 600;
    line-height: 1; }
  #gpa-sc .gpa-total ul li:nth-child(1) {
    font-weight: 400; }
  #gpa-sc .gpa-total ul li:nth-child(3) {
    font-size: smaller;
    font-style: italic; }
  #gpa-sc .gpa-total .add-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
    border: 0;
    background: #2B3234; }

#gpa-sc .course-total ul {
  height: 400px;
  overflow: auto;
  border-top: 1px solid #2B3234; }
  #gpa-sc .course-total ul li a {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
    height: 64px;
    border-bottom: 1px solid #2B3234;
    color: white; }
    #gpa-sc .course-total ul li a h2 {
      width: 100%;
      font-size: 24px;
      font-weight: 400; }
    #gpa-sc .course-total ul li a span {
      display: block;
      width: 64px;
      font-weight: 600; }

.add-course-gpa-modal-body {
    margin: 0;
    font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 200 !important;
    color: white;
    background: #40484B;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.gpa-header {
  height:64px;
  padding: 0.5em 0;
  border-bottom: 0px;
}

.gpa-header h1.title {
    top: 15%;
    font-weight: 700;
    font-size: 120%;
    text-transform: capitalize;
}

.gpa-modal .gpa-modal-body,
.gpa-page .gpa-page-body {
  top:64px;
}
.gpa-page-body {
  background-color:#40484B;
}

.gpa-page-body h2,
.gpa-page-body #gpa-total-number h1 {
  color:white;
  font-weight:700!important;
  text-transform: capitalize;
}

.gpa-modal .button-left, .button-right {
  color: white !important;
}

.gpa-modal .buttons.buttons-right {
  top: 17%;
}

#add-sc input {
  line-height:normal;
}
#add-sc #add-sc-list li label{
  font-size:24px;
}

li.modal-add-course-option label{
  font-size:24px;
  font-weight:400;
}

li.modal-add-course-option select {
  font-size:24px !important;
}

button.button.button-full.remove-button {
    color: #fff;
    background: #DB1988;
    border-color: #DB1988;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
    margin:0;
}

button.button.button-full.remove-button.active,
button.button.button-full.remove-button.activated, {
  background-color:white !important;
  color:#DB1988 !important;
}

#course-modal-input {
  text-transform: uppercase;
  font-weight:700 !important;
}

.gpa-page ion-scroll {
  overflow:scroll;
}

html,
body,
ion-content,
 {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 24px;
  font-weight: 200 !important;
  color: white;
}

label {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
  letter-spacing:0em;
}

::-webkit-input-placeholder {
   font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
   text-transform: capitalize !important;
   font-weight:600 !important;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
   text-transform: capitalize !important;
   font-weight:600 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
   text-transform: capitalize !important;
   font-weight:600 !important;
}

:-ms-input-placeholder {
   font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
   text-transform: capitalize !important;
   font-weight:600 !important;
}

.gpa-page .gpa-header {
  text-transform: uppercase;
}

.home-sc-message {
  color:white;
}