
<nav id="top-bar" class="active">
	<div>
		<div>
			<a id="top-logo" thr-click="openDropdown()">
				<span>Grub Guru</span>
				<svg viewBox="0 0 100 100">
					<path d="M14,32 L50,68 L86,32"></path>
				</svg>
			</a>
			<div id="top-search">
				<input type="text" name='desktop-search-input' id='desktop-search-input' ng-model='search_text.grub' placeholder='search for grub!' />
			</div>
			<a id="top-request" thr-click="openSearch()">
				<svg viewBox="0 0 100 100">
					<path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
				</svg>
			</a>
		</div>
		<nav id="top-menu-links" class="">
			<ul>
				<li tabindex ng-click="openModal('university')">
					<span>Edit University</span>
				</li>
				<li tabindex ng-click="selectSettingsOption('locationToggle')">
					<span>Location</span>
				</li>
				<li tabindex ng-click="selectSettingsOption('openSupport')">
					<span>Support</span>
				</li>
				<li tabindex ng-click="selectSettingsOption('clearSettings')">
					<span>Clear Settings</span>
				</li>
			</ul>
		</nav>
	</div>
</nav>