 <ion-view hide-nav-bar='true' class='subdark-bg' cache-view='false' >
  <ion-content class='white-text subdark-bg university-view-2' scroll='false' style='top:0px; bottom:10%;' ng-controller='CoursesController' on-swipe-right="swipeRightGoBack()">
      <div class='pure-g'>
        <div class="list pure-u-1">
          <label class="item item-input bg-transparent university-label no-margin no-border no-box-shadow view-2">
                  <i class='icon ion-search onboarding-search-icon' ng-hide="search_text.length > 0"></i>
                      <input id='guru-course-input' type="text" class='ng-class:{"align-left-start":search_text.length > 0}'
                        fast-matcher
                        fast-matcher-source="courses"
                        fast-matcher-output="matchingCourses"
                        fast-matcher-properties="short_name, title"
                        fast-matcher-any-word="true"
                        fast-matcher-limit="10"
                        fast-matcher-preserve-order="true"
                        fast-matcher-case-insensitive="true"
                        placeholder="Search Available Courses"
                        ng-model = "search_text"
                      />
                  </span>
                </label>
              </div>
            </div>

            <ion-list ng-show='search_text.length > 0'>
              <ion-scroll>
                <ion-item class='item-button-right request-form-item course-item major-item' ng-repeat='course in matchingCourses' ng-click='addSelectedGuruCourse(course, course_search_text)'>
                  <p class='semibold'> {{course.short_name}} <span class='course-title'> {{course.title}} </span> </p>
                </ion-item>
              </ion-scroll>
            </ion-list>

            <!-- <ion-list ng-show='search_text.length === 0'>

              <ion-item class='item-button-right request-form-item padding-half' ng-repeat='course in user.guru_courses' ng-click='addSelectedGuruCourse(course, course_search_text)' style='padding-right:3em;'>
                <p> <strong>{{course.short_name}} </strong> <span class='course-title'> {{course.title}} </span> </p>
                 <button class='button button-clear' ng-click='success.show(0, 2000, "Coming Soon!")' style='margin-right: -8px;'>
                    <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon' style='margin-top:-0.3em;' src='{{img_base}}./img/icons/close_icon.svg'>
                  </button>
              </ion-item>

            </ion-list> -->

            <div class='pure-g-c flex-column flex-space-between' ng-show='!search_text || search_text.length === 0'>

              <div class='flex-item-c center j-end' ng-show='user.guru_courses.length > 0'>
                <div class='pure-g'>

                  <div class='pure-u-1'>
                    <p class='uppercase opacity-1-2 micro-text bold sans-bold'> <strong> My Courses </strong> <br>
                    </p>
                    <div class='micro-text regular' style='opacity:1'>(Double tap to Remove)</div>
                  </div>
                </div>

                <div class='pure-g'>

                  <div class='pure-u-1'>
                    <a class='course-tag major-tag white-bg orange' on-double-tap="removeGuruCourseAndUpdate(guru_course, $index)" style='font-size:80%;' ng-repeat="guru_course in user.guru_courses track by $index">{{guru_course.short_name}} &nbsp; &nbsp; <i class='icon ion-checkmark'></i></a>
                  </div>
                </div>

              </div>

              <div class='flex-item-c center'>
              </div>
              <div class='flex-item-c center j-start'>

                <div class='pure-g'>

                  <div class='pure-u-1 padding-1em'>
                    <p class='uppercase sans-bold bold micro-text opacity-1-2'>
                      Tap Any Popular Course
                    </p>
                  </div>
                  <div class='pure-u-1'>
                    <a class='course-tag popular-course-tag' ng-click='addSelectedGuruCourse(popular_course, course_search_text, $index)' style='font-size:60%;' ng-repeat='popular_course in static.popular_courses'>{{popular_course.short_name}}</a>
                  </div>


                </div>
              </div>

              <div class='flex-item-c j-start'>

              </div>
            </div>
        </ion-content>


</ion-view>