<ion-view class='uguru-view guru-view settings-view'>
	<main id='desktop-general' class="general-muted desktop-mode" ng-show='isDesktopMode()'>
		<nav class='main-nav' ng-include="img_base + BASE + 'templates/desktop.nav.html'"></nav>
		<div class="main">
			<div>
				<span id="general-top" ng-include="img_base + BASE + 'templates/svg/main-logo-static.html'"></span>
				<h1>General</h1>
				<ol class="general-list">
					<li>
						<div>
							<h3>Subtitle Text. Something Catchy.</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</p>
						</div>
					</li>
					<li>
						<div>
							<h3>Subtitle Text. Something Catchy.</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</p>
						</div>
					</li>
					<li>
						<div>
							<h3>Subtitle Text. Something Catchy.</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
							</p>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</main>
	<section id="mobile-general" ng-if='!desktopMode'>
		<h1>Header Text</h1>
		<ol class="general-list">
			<li>
				<span class="general-list-icon" ng-include="img_base + BASE + 'templates/svg/main-logo-static.html'"></span>
				<div>
					<h3>Subtitle Text. Something Catchy.</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
					</p>
				</div>
				<ul class="general-breadcrumbs">
					<li><a class="active"></a></li>
					<li><a></a></li>
					<li><a></a></li>
				</ul>
			</li>
			<li>
				<span class="general-list-icon" ng-include="img_base + BASE + 'templates/svg/main-logo-static.html'"></span>
				<div>
					<h3>Subtitle Text. Something Catchy.</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
					</p>
				</div>
				<ul class="general-breadcrumbs">
					<li><a></a></li>
					<li><a class="active"></a></li>
					<li><a></a></li>
				</ul>
			</li>
			<li>
				<span class="general-list-icon" ng-include="img_base + BASE + 'templates/svg/main-logo-static.html'"></span>
				<div>
					<h3>Subtitle Text. Something Catchy.</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
					</p>
				</div>
				<ul class="general-breadcrumbs">
					<li><a></a></li>
					<li><a></a></li>
					<li><a class="active"></a></li>
				</ul>
			</li>
		</ol>
		<button class="btn-ghost-white">Okay, got it!</button>
	</section>
</ion-view>