<ion-view hide-nav-bar='true' class='remote'>
   <div class="bar bar-header dark-bg-header mini-header uppercase relative" style='width:auto;'>
      <div class="buttons">
      <button class="button button-clear button-header-link cancel-button button-left" ng-click='backToGuruRemoteProfile()'>Back</button>
      </div>
      <h1 class="title bold">Communication Methods</h1>
      <div class='buttons'>
        <button style='padding-top:0.1em;'class="button button-clear button-header-link submit-button button-right " id='done-button' ng-click='backToGuruRemoteProfile(true)'>Save</button>
      </div>
  </div>
<ion-content class='dark-bg has-header' scroll='false'>
    <ul class="list">

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/skype.svg'/>
          <p class='font-18'> Skype </p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.skype_friendly' ng-change="skypeFriendlyChanged()">
         </label>
      </li>
      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/facetime.svg'/>
          <p class='font-18'> FaceTime</p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.facetime_friendly' ng-change="facetimeFriendlyChanged()">
         </label>
      </li>

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/hangouts.svg'/>
          <p class='font-18'> Hangouts</p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.hangouts_friendly' ng-change="hangoutsFriendlyChanged()">
         </label>
      </li>

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/instant_chat.svg'/>
          <p class='font-18'> Instant Chat</p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.messenger_friendly' ng-change="messengerFriendlyChanged()">
         </label>
      </li>

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/phone.svg'/>
          <p class='font-18'> Phone SVG</p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.phone_friendly' ng-change="phoneFriendlyChanged()">
         </label>
      </li>

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/text.svg'/>
          <p class='font-18'> Texting / iMessage</p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.text_friendly' ng-change="textFriendlyChanged()">
         </label>
      </li>

      <li class="item item-checkbox item-avatar-left">
         <img class='pure-img opacity-4-5 remote-img' ng-src='{{img_base}}./img/remote/email.svg'/>
          <p class='font-18'> Email </p>
         <label class="checkbox">
           <input type="checkbox" ng-model='user.email_friendly' ng-change="emailFriendlyChanged()">
         </label>
      </li>

  </ul>

</ion-content>


</ion-view>
