<ion-modal-view>

  <ion-header-bar align-title="center" class='dark-bg-header calendar-top-header mini-header' hide-nav-bar='true'>
    <div class="buttons">
      <button class="button button-clear button-header-link" ng-click='guruExperiencesModal.hide();'>Cancel</button>
    </div>
    <h1 class="title micro-text modal-header-text" style='padding-left:5px;'>Add an Experience</h1>
      <a class="button button-clear button-blue button-header-link" ng-click='saveGuruExperience()'>
        Save
      </a>
  </ion-header-bar>

  <ion-content scroll='false' class='dark-bg'>
    <div class='pure-g-c flex-column flex-space-between'>
      <div class='flex-item-c pure-g j-start'>
        <div class='pure-u-1 full-width'>
          <ion-list class='standard-bg flex-item-c pure-g j-start bg-transparent'>
            <label class="item item-input item-floating-label">
              <span class="input-label white-text opacity-3-5">Role Title</span>
              <input style='font-size:120%;' id='experience-name-input' type="text" ng-model='experience.name' placeholder="Role Title" class='white-text'>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label white-text opacity-3-5">Years of Experience - <strong>{{experience.years}} year<span ng-show='experience.years && experience.years > 1'>s</span></strong></span>
              <div class="item range range-positive dark-bg white-text" style='border-width:0px;'>
                0
                <input type="range" name="volume" min="0" max="10" value="5" ng-model='experience.years' class='dark-bg'>
                10
              </div>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label white-text opacity-3-5">Short Description</span>
              <input style='font-size:120%;' class='white-text' type="text" ng-model='experience.description' placeholder="Short description">
            </label>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>