@keyframes coach-click-1 {
	0% {
		opacity: 1;
		stroke-dashoffset: 53;
	}
	15% {
		stroke-dashoffset: 50;
	}
	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}
@keyframes coach-click-2 {
	0% {
		opacity: 1;
		stroke-dashoffset: 137;
	}
	15% {
		stroke-dashoffset: 120;
	}
	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}