@import '../../../shared/css/scss/partials/mixin';

.loader-portal-container {
    &.photo {
		background: mix($moola, white, 50%);
		.logo {
			svg {
				path {
					fill: $moola;
				}
			}
		}
        &.active {
            .guru.photo {
                > div {
                    animation: l-move-up 1000ms linear 1500ms forwards, l-head-hover 1000ms linear 2500ms 5 forwards;
                }
                .body {
                    animation: l-move-down 1000ms linear 6000ms forwards;
                    .guru-mouth-shing {
                        animation: smile-shing 250ms cubic-bezier(0,.47,.35,1) 5500ms forwards;
                    }
                    .guru-mouth-final {
                        animation: fadeOut 250ms cubic-bezier(0,.47,.35,1) 5500ms forwards;
                    }
                    .guru-thumb-left {
                        animation: photo-thumb 1000ms ease-out 5750ms forwards;
                    }
                    .guru-fold-left {
                        animation: photo-guru-fold 1000ms ease-out 5750ms forwards;
                    }
                    .photo-guru-face {
                        animation: photo-guru-face 500ms ease-out 4800ms forwards;
                    }
                    .arm-forward-right {
                        animation: photo-arm-right 500ms ease-out 4800ms forwards;
                    }
                    .arm-forward-left {
                        animation: photo-thumb 700ms linear 5000ms reverse forwards;
                    }
                }
                .polaroid {
                    .polaroid-top-container, .polaroid-bottom {
                    	animation: l-move-down 1000ms linear 6000ms forwards;
                    }
                    .polaroid-instant-container {
                    	animation: l-move-down 1000ms linear 7000ms forwards;
                    }
                    .polaroid-top {
                        .polaroid-aperture {
                            animation: l-photo-aperture-scale 100ms ease-out 2800ms forwards;
                        }
                        .polaroid-glass {
                            animation: l-photo-glass-color 50ms ease-out 2950ms forwards, l-photo-glass-color 50ms ease-out 3000ms reverse forwards;
                        }
                        .polaroid-stars {
                            animation: photo-bounceInSmall 250ms ease-in-out 2900ms forwards;
                        }
                    }
                    .polaroid-instant {
                        animation: instant-angle-out 1000ms ease-out 3050ms forwards, instant-angle-down 1000ms ease-out 4100ms forwards;
                    }
                    .instant {
                        animation: instant-angle 500ms ease-out 3000ms forwards, instant-angle-fix 500ms ease-out 4100ms forwards;
                    }
                    .instant-ground {
                        animation: fadeIn 300ms ease-in-out 4600ms forwards;
                    }
                    .instant-mountain {
                        animation: photo-bounceInUp 600ms ease-in-out 4800ms forwards;
                    }
                    .instant-sun, .instant-cloud {
                        animation: photo-bounceInDown 600ms ease-in-out 4800ms forwards;
                    }
                }
            }
        }
	}
}

.guru.photo {
    left: calc(50% - 93px);
    bottom: 45px;
    width: 184px;
    height: 206px;
    > div {
        width: 100%;
        height: 100%;
    }
    .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .guru-mouth-shing {
            opacity: 0;
            transform-origin: right top;
        }
        .guru-thumb-left {
            transform-origin: center bottom;
        }
        .guru-fold-left {
            transform-origin: left center;
            opacity: 0;
        }
        .photo-guru-face {
            transform-origin: center bottom;
        }
        .arm-forward-right {
            transform-origin: right bottom;
        }
        .arm-forward-left {
            transform-origin: 42% 90%;
        }
    }
    .polaroid {
        position: absolute;
        top: 57px;
        left: 44px;
        width: 50px;
        height: 50px;
        svg {
            position: absolute;
        }
        .polaroid-top {
            z-index: 3;
            transform: translateZ(200px);
            .polaroid-aperture {
                transform-origin: center center;
                transform: translateZ(0);
            }
            .polaroid-stars {
                transform-origin: center center;
                transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            }
        }
        .polaroid-bottom {
            z-index: 1;
        }
        .polaroid-instant {
            position: absolute;
            z-index: 2;
            transform: translateZ(0);
        }
        .instant {
            transform-origin: center center;
            transform: translate3d(0,0,0) scale(0);
        }
        .instant-ground {
            opacity: 0;
        }
        .instant-mountain, .instant-sun,.instant-cloud {
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform-origin: center center;
        }
    }
}

/* http://goo.gl/pMw2ed */
@keyframes photo-guru-fold {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
	1% { opacity: 1; }
	4.3% { transform: matrix3d(0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.61% { transform: matrix3d(0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.91% { transform: matrix3d(1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.22% { transform: matrix3d(1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.44% { transform: matrix3d(0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1;}
}

@keyframes photo-thumb-opacity {
	0% { opacity: 0; }
	1%, 100% { opacity: 0; }
}

/* http://goo.gl/gF3ZIx */
@keyframes photo-thumb {
	0% { transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.3% { transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.61% { transform: matrix3d(0.982, -0.19, 0, 0, 0.19, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.91% { transform: matrix3d(0.997, 0.082, 0, 0, -0.082, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.22% { transform: matrix3d(0.989, 0.146, 0, 0, -0.146, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(0.999, 0.032, 0, 0, -0.032, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.44% { transform: matrix3d(1, -0.01, 0, 0, 0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.66% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes smile-shing {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes photo-arm-right {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-33deg); }
}

@keyframes camera-down {
	0% { transform: translate3d(0,0,0); }
	100% { transform: translate3d(0,12%,0); }
}

@keyframes photo-guru-face {
	0% { transform: rotate(0deg) translate3d(0,0,0); }
	100% { transform: rotate(10deg) translate3d(0,5px,0); }
}

/* http://goo.gl/wBxlGx */
@keyframes instant-angle-down {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
	3.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.676, 46.866, 0, 1); }
	6.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.421, 63.475, 0, 1); }
	9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 15.422, 73.979, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 17.242, 80.347, 0, 1); }
	18.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 19.041, 86.644, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 19.685, 88.898, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 19.975, 89.911, 0, 1); }
	49.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 90, 0, 1); }
	50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 90, 0, 1); }
	52.35% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 76.509, 0, 1); }
	54.7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 63.496, 0, 1); }
	57.06% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 55.773, 0, 1); }
	59.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 53.637, 0, 1); }
	62.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 55.484, 0, 1); }
	64.96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 58.572, 0, 1); }
	67.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 60.617, 0, 1); }
	70.52% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 61.175, 0, 1); }
	76.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 60.264, 0, 1); }
	81.63% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 59.783, 0, 1); }
	92.74% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 60.04, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 20, 60, 0, 1); }
}

/* http://goo.gl/zmyqlk */
@keyframes instant-angle-out {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.994, 0, 1); }
	9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.669, 0, 1); }
	14.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.818, 0, 1); }
	18.72% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 24.242, 0, 1); }
	24.32% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.011, 0, 1); }
	29.93% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.952, 0, 1); }
	35.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.589, 0, 1); }
	41.04% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.216, 0, 1); }
	52.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.824, 0, 1); }
	63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.145, 0, 1); }
	85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.973, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
}

@keyframes instant-angle {
	0% { transform: translate3d(0,0,0) scaleY(0) scaleX(0.6) rotateX(-60deg); }
	100% { transform: translate3d(0,0,100px) scaleY(0.6) scaleX(0.6) rotateX(-60deg); }
}

@keyframes instant-angle-fix {
	0% { transform: translate3d(0,0,100px) scaleY(0.6) scaleX(0.6) rotateX(-60deg); }
	50% { transform: translate3d(0,0,200px) scaleY(0.8) scaleX(0.8) rotateX(30deg); }
	100% { transform: translate3d(0,0,100px) scaleY(1.5) scaleX(1.5) rotateX(0deg); }
}

@keyframes l-photo-aperture-scale {
	0% { transform: translateZ(0); }
	100% { transform: scale(1.2) rotate(60deg) translateZ(0); }
}

@keyframes l-photo-glass-color {
	0% { fill: #CEE6F5; }
	100% { fill: mix($gold, white); }
}

/* http://goo.gl/9oG4vN */
@keyframes photo-bounceInUp {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
	0.1% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { transform: matrix3d(0.268, 0, 0, 0, 0, 0.222, 0, 0, 0, 0, 1, 0, 0, 28.291, 0, 1); }
	3.5% { transform: matrix3d(0.28, 0, 0, 0, 0, 0.232, 0, 0, 0, 0, 1, 0, 0, 29.095, 0, 1); }
	4.7% { transform: matrix3d(0.434, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 37.812, 0, 1); }
	6.81% { transform: matrix3d(0.741, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 46.862, 0, 1); }
	6.91% { transform: matrix3d(0.756, 0, 0, 0, 0, 0.637, 0, 0, 0, 0, 1, 0, 0, 47.054, 0, 1); }
	9.41% { transform: matrix3d(1.1, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 45.003, 0, 1); }
	10.21% { transform: matrix3d(1.191, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 42.028, 0, 1); }
	10.31% { transform: matrix3d(1.201, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 41.599, 0, 1); }
	13.61% { transform: matrix3d(1.414, 0, 0, 0, 0, 1.31, 0, 0, 0, 0, 1, 0, 0, 23.993, 0, 1); }
	13.71% { transform: matrix3d(1.417, 0, 0, 0, 0, 1.314, 0, 0, 0, 0, 1, 0, 0, 23.439, 0, 1); }
	14.11% { transform: matrix3d(1.424, 0, 0, 0, 0, 1.33, 0, 0, 0, 0, 1, 0, 0, 21.255, 0, 1); }
	17.52% { transform: matrix3d(1.368, 0, 0, 0, 0, 1.352, 0, 0, 0, 0, 1, 0, 0, 6.205, 0, 1); }
	18.72% { transform: matrix3d(1.313, 0, 0, 0, 0, 1.326, 0, 0, 0, 0, 1, 0, 0, 2.725, 0, 1); }
	20.52% { transform: matrix3d(1.218, 0, 0, 0, 0, 1.267, 0, 0, 0, 0, 1, 0, 0, -0.851, 0, 1); }
	21.32% { transform: matrix3d(1.174, 0, 0, 0, 0, 1.238, 0, 0, 0, 0, 1, 0, 0, -1.91, 0, 1); }
	24.32% { transform: matrix3d(1.033, 0, 0, 0, 0, 1.128, 0, 0, 0, 0, 1, 0, 0, -3.883, 0, 1); }
	25.23% { transform: matrix3d(1, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, -4.059, 0, 1); }
	27.33% { transform: matrix3d(0.947, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, -4.065, 0, 1); }
	29.03% { transform: matrix3d(0.925, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, -3.825, 0, 1); }
	29.93% { transform: matrix3d(0.92, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, -3.652, 0, 1); }
	35.54% { transform: matrix3d(0.952, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, -2.381, 0, 1); }
	36.74% { transform: matrix3d(0.965, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, -2.119, 0, 1); }
	41.04% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, -1.306, 0, 1); }
	44.44% { transform: matrix3d(1.014, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, -0.822, 0, 1); }
	47.35% { transform: matrix3d(1.014, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, -0.518, 0, 1); }
	52.15% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, -0.2, 0, 1); }
	59.86% { transform: matrix3d(0.993, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
	63.26% { transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.023, 0, 1); }
	67.37% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0.03, 0, 1); }
	75.28% { transform: matrix3d(1.004, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.019, 0, 1); }
	85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.005, 0, 1); }
	90.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/* http://goo.gl/115Nvj */
@keyframes photo-bounceInDown {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
	0.1% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { transform: matrix3d(0.268, 0, 0, 0, 0, 0.222, 0, 0, 0, 0, 1, 0, 0, -28.291, 0, 1); }
	3.5% { transform: matrix3d(0.28, 0, 0, 0, 0, 0.232, 0, 0, 0, 0, 1, 0, 0, -29.095, 0, 1); }
	4.7% { transform: matrix3d(0.434, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, -37.812, 0, 1); }
	6.81% { transform: matrix3d(0.741, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, -46.862, 0, 1); }
	6.91% { transform: matrix3d(0.756, 0, 0, 0, 0, 0.637, 0, 0, 0, 0, 1, 0, 0, -47.054, 0, 1); }
	9.41% { transform: matrix3d(1.1, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, -45.003, 0, 1); }
	10.21% { transform: matrix3d(1.191, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, -42.028, 0, 1); }
	10.31% { transform: matrix3d(1.201, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, -41.599, 0, 1); }
	13.61% { transform: matrix3d(1.414, 0, 0, 0, 0, 1.31, 0, 0, 0, 0, 1, 0, 0, -23.993, 0, 1); }
	13.71% { transform: matrix3d(1.417, 0, 0, 0, 0, 1.314, 0, 0, 0, 0, 1, 0, 0, -23.439, 0, 1); }
	14.11% { transform: matrix3d(1.424, 0, 0, 0, 0, 1.33, 0, 0, 0, 0, 1, 0, 0, -21.255, 0, 1); }
	17.52% { transform: matrix3d(1.368, 0, 0, 0, 0, 1.352, 0, 0, 0, 0, 1, 0, 0, -6.205, 0, 1); }
	18.72% { transform: matrix3d(1.313, 0, 0, 0, 0, 1.326, 0, 0, 0, 0, 1, 0, 0, -2.725, 0, 1); }
	20.52% { transform: matrix3d(1.218, 0, 0, 0, 0, 1.267, 0, 0, 0, 0, 1, 0, 0, 0.851, 0, 1); }
	21.32% { transform: matrix3d(1.174, 0, 0, 0, 0, 1.238, 0, 0, 0, 0, 1, 0, 0, 1.91, 0, 1); }
	24.32% { transform: matrix3d(1.033, 0, 0, 0, 0, 1.128, 0, 0, 0, 0, 1, 0, 0, 3.883, 0, 1); }
	25.23% { transform: matrix3d(1, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 4.059, 0, 1); }
	27.33% { transform: matrix3d(0.947, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 4.065, 0, 1); }
	29.03% { transform: matrix3d(0.925, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 3.825, 0, 1); }
	29.93% { transform: matrix3d(0.92, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 3.652, 0, 1); }
	35.54% { transform: matrix3d(0.952, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 2.381, 0, 1); }
	36.74% { transform: matrix3d(0.965, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 2.119, 0, 1); }
	41.04% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 1.306, 0, 1); }
	44.44% { transform: matrix3d(1.014, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0.822, 0, 1); }
	47.35% { transform: matrix3d(1.014, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0.518, 0, 1); }
	52.15% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0.2, 0, 1); }
	59.86% { transform: matrix3d(0.993, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1); }
	63.26% { transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, -0.023, 0, 1); }
	67.37% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, -0.03, 0, 1); }
	75.28% { transform: matrix3d(1.004, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, -0.019, 0, 1); }
	85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, -0.005, 0, 1); }
	90.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes photo-bounceInSmall {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
	0.1% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	7.61% { transform: matrix3d(0.412, 0, 0, 0, 0, 0.412, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	11.41% { transform: matrix3d(0.641, 0, 0, 0, 0, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	15.12% { transform: matrix3d(0.829, 0, 0, 0, 0, 0.829, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.92% { transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	22.72% { transform: matrix3d(1.057, 0, 0, 0, 0, 1.057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	30.23% { transform: matrix3d(1.111, 0, 0, 0, 0, 1.111, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50.25% { transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.27% { transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
