@import '../../../../shared/css/scss/partials/mixin';

.splash-landing {
	background: $slate;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100px;
}

.splash-hero {
	@include flex;
	@include flex-center;
	@include flex-wrap;
	height: 100%;
	overflow: hidden;
	position: relative;
	background: $slate;
	text-align: center;
}
