@import '../../../../shared/css/scss/partials/mixin';

.splash-landing {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
}

.splash-hero {
	@include flex;
	@include flex-center;
	@include flex-wrap;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.splash-hero-skip {
	margin: 15px;
	@include round;
	background: rgba($slate, .5);
	button {
		// @include opacity(.5);
		@include rotate(-15);
		@include round;
		background: rgba(white, .6);
		width: 64px;
		height: 64px;
		border: 2px solid white;
		padding: 0!important;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		color: white!important;
		white-space: nowrap;
		&:hover, &:focus {
			background: rgba(mix($robin, white), .6);
		}
		&:active {
			background: rgba(mix($shamrock, white), .6);
		}
	}
}

.opacity-0-impt {
	opacity: 0 !important;
}
.opacity-1-impt {
	opacity: 1 !important;
}
.opacity-1 {
	opacity:1;
}
