{% extends 'web/layout/base.html' %}

{% block title_text %}
Uguru Home
{% endblock %}
{% block header_scripts %}
<link rel="stylesheet" href="/static/web/css/style.css"/>
{% endblock %}

{% block logo %}
    <img id="top-mobile-logo" src="/static/web/svg/logo-white.svg" alt="uguru"/>
    {% include "web/components/logo-banner.svg" %}
    <img id="top-school-logo" src="/static/web/svg/logo-shamrock.svg" alt="uguru"/>
{% endblock %}
{% block content %}

<div id="mobile-start">
    <!-- Mobile Version-->
</div>
<div id="banner"></div>


<section id="main full-xy">

    <!-- GABRIELLE: either add to style or create cta.scss (your call)-->
    <style>
        /*REMOVE THIS*/
        .cta-box {
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:200px;
            width:200px;
            background-color:black;
        }
        /*END MUST REMOVE*/
        .cta-modal.full.show {
            opacity:1;
            visibility: visible;
        }

        .cta-modal.full {
            height:100%;
            width:100%;
            z-index:1000;
            position:absolute;
            opacity:0;
            visibility: hidden;
            background-color: black;
        }
        .white {
            color:white;
        }
        .cta-modal a.cta-modal-close {
            position:absolute;
            bottom:0;
            padding:20px;
            right:0;
        }
    </style>


    <!-- Demo Version-->
    <a class='cta-box'>
    </a>
    <div  class='cta-modal full'>
        <a class='cta-modal-close white'>
            Close button
        </a>
    </div>
    <!-- End Demo -->
</section>
{% endblock %}

{% block footer_scripts %}
{% include 'web/pages/js/index.js' %}
{% include 'web/snippets/search.js' %}
{% include 'web/snippets/u.cta.js' %}
<!-- //Rules
    // Each box must have class ='cta-box'
    // Each modal must have class ='cta-modal'
    // Each modal close link must have class ='cta-modal-close' -->
{% endblock %}
