@import 'partials/mixin';
@import 'partials/components/buttons';
@import 'partials/components/input';
@import 'partials/components/dropdowns';
@import 'partials/components/cards';
@import 'partials/components/tags';
@import 'partials/components/forms';
@import 'partials/components/bars';
@import 'partials/components/notifications';
@import 'partials/components/svg';
@import 'partials/components/visual';
@import 'partials/components/base';
@import 'partials/guru-head';

// calendar
@import 'partials/components/calendar';
@import 'partials/components/calendar/popup';
@import 'partials/components/calendar/search';
@import 'partials/components/calendar/calendar';
@import 'partials/components/calendar/monthly';
@import 'partials/components/calendar/weekly';

// verified
.verified {
	@include flex;
	@include flex-center;
	span {
		svg {
			display: inline-block!important;
			margin-left: 5px;
			width: 20px;
			height: 20px;
			path:first-child {
				fill: $lake;
			}
		}
	}
}

/* ---------- NUMBERED LISTS */
.numbered-list {
	padding: 7.5px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	counter-reset: li;
	> li {
		@include flex;
		@include flex-wrap;
		padding: 7.5px;
		&:before {
			@include flex;
			@include flex-center;
			width: 40px;
			height: 40px;
			content: counter(li);
			counter-increment: li;
			background: $lake;
			color: white;
			border-radius: 2px;
			font-weight: 600;
			text-align: center;
		}
		> div {
			@include flex;
			@include flex-center-vertical;
			width: calc(100% - 40px);
			padding-left: 15px;
		}
	}
}

/* ---------- USER ICONS */
[class*="user-icon"] {
	@include round;
	display: block;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-color: #E3E3E3;
	border-style: solid;
	border-color: white;
}
.user-icon {
	width: 128px;
	height: 128px;
	border-width: 5px;
}
.user-icon-96 {
	width: 96px;
	height: 96px;
	border-width: 4px;
}
.user-icon-84 {
	width: 84px;
	height: 84px;
	border-width: 3px;
}
.user-icon-72 {
	width: 72px;
	height: 72px;
	border-width: 3px;
}
.user-icon-64 {
	width: 64px;
	height: 64px;
	border-width: 3px;
}
.user-icon-48 {
	width: 48px;
	height: 48px;
	border-width: 3px;
}
.user-icon-36 {
	width: 36px;
	height: 36px;
	border-width: 2px;
}
.user-icon-32 {
	width: 32px;
	height: 32px;
	border-width: 2px;
}
.user-icon-28 {
	width: 28px;
	height: 28px;
	border-width: 2px;
}
.user-icon-24 {
	width: 24px;
	height: 24px;
	border-width: 2px;
}
.user-icon-container {
	display: block;
	position: relative;
	.user-icon {
		@include opacity(.5);
	}
	.user-icon-edit {
		@include center-xy;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&.border-charcoal {
		[class*="user-icon"] {
			border-color: $charcoal!important;
		}
	}
	&.border-slate {
		[class*="user-icon"] {
			border-color: $slate!important;
		}
	}
	&.border-taupe {
		[class*="user-icon"] {
			border-color: $taupe!important;
		}
	}
	&.border-campus {
		[class*="user-icon"] {
			border-color: $campus!important;
		}
	}
	&.border-smoke {
		[class*="user-icon"] {
			border-color: $smoke!important;
		}
	}
	&.border-white {
		[class*="user-icon"] {
			border-color: white!important;
		}
	}
	&.border-rocket {
		[class*="user-icon"] {
			border-color: $rocket!important;
		}
	}
	&.border-shamrock {
		[class*="user-icon"] {
			border-color: $shamrock!important;
		}
	}
	&.border-robin {
		[class*="user-icon"] {
			border-color: $robin!important;
		}
	}
	&.border-lake {
		[class*="user-icon"] {
			border-color: $lake!important;
		}
	}
	&.border-moxie {
		[class*="user-icon"] {
			border-color: $moxie!important;
		}
	}
	&.border-crimson {
		[class*="user-icon"] {
			border-color: $crimson!important;
		}
	}
	&.border-auburn,
	&.border-delivery {
		[class*="user-icon"] {
			border-color: $auburn!important;
		}
	}
	&.border-freelacing,
	&.border-orange {
		[class*="user-icon"] {
			border-color: $orange!important;
		}
	}
	&.border-baking,
	&.border-gold {
		[class*="user-icon"] {
			border-color: $gold!important;
		}
	}
	&.border-moola,
	&.border-photography {
		[class*="user-icon"] {
			border-color: $moola!important;
		}
	}
	&.border-azure,
	&.border-tech {
		[class*="user-icon"] {
			border-color: $azure!important;
		}
	}
	&.border-cobalt,
	&.border-household {
		[class*="user-icon"] {
			border-color: $cobalt!important;
		}
	}
	&.border-athletic,
	&.border-eggplant {
		[class*="user-icon"] {
			border-color: $eggplant!important;
		}
	}
	&.border-academic,
	&.border-cerise {
		[class*="user-icon"] {
			border-color: $cerise!important;
		}
	}
}

/* ---------- RATING */
.rating-stars, .pf-rating {
	@include listless;
	@include flex;
	@include flex-center;
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
	li {
		width: 20%;
		svg {
			@include svg-stroke($gold, 7);
			display: block;
			polygon:nth-child(2) {
				@include opacity(0);
				stroke-width: 0;
				fill: $gold;
			}
		}
	}
	&[data-rating*="1"] {
		li:nth-child(1) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"],
		&[data-rating*="."] {
			li:nth-child(2) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating*="2"] {
		li:nth-child(1),
		li:nth-child(2) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"],
		&[data-rating*="."] {
			li:nth-child(3) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating*="3"] {
		li:nth-child(1),
		li:nth-child(2),
		li:nth-child(3) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"],
		&[data-rating*="."] {
			li:nth-child(4) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating*="4"] {
		li:nth-child(1),
		li:nth-child(2),
		li:nth-child(3),
		li:nth-child(4) {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
		&[data-half="true"],
		&[data-rating*="."] {
			li:nth-child(5) {
				svg {
					polygon:nth-child(2) {
						@include opacity(1);
					}
				}
			}
		}
	}
	&[data-rating*="5"] {
		li {
			svg {
				polygon {
					fill: $gold;
				}
			}
		}
	}
}

/* ---------- DESKTOP COURSE LISTS */
.course-list, .course-none {
	@include transition(.3s ease-in-out);
	position: absolute;
	width: 100%;
	background: rgba(lighten($charcoal, 2%),.95);
	&.hide {
		@include flex-important;
		// @include opacity(0);
		@include translate-y(-10%);
		z-index: -10;
	}
	&.show {
		@include flex-important;
		@include opacity(1);
		@include translate-y(0);
		@include animation-name(courses-pop);
		@include animation-duration(.4s);
		@include animation-iteration-count(1);
		z-index: 10;
	}
}
.course-none {
	@include flex;
	@include flex-center;
	z-index: 90;
	padding: 15px;
	font-weight: 600;
}
.course-list, .course-list ul {
	@include flex;
	@include flex-center;
	@include flex-wrap;
	z-index: 100;
	font-weight: 600;
}
.course-list {
	padding: 7.5px;
	li {
		width: 100%;
		overflow: hidden;
		padding: 7.5px;
		a {
			@include flex;
			@include flex-center-vertical;
			display: block;
			padding: 10px 15px;
			background: lighten($slate, 20%);
			&:hover,
			&:focus {
				background: $shamrock;
			}
			&:active {
				background: lighten($slate, 10%);
			}
			span {
				display: block;
				line-height: 1.2;
			}
			.course-name {
				font-size: 16px;
				text-transform: uppercase;
			}
			.course-title {
				max-height: 48px;
				overflow: hidden;
				font-size: 20px;
				font-weight: 700;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.course-list {
		li {
			width: calc(100% / 3);
			height: 102px;
			a {
				height: 87px;
			}
		}
	}
}
