@import 'partials/pf/shared';
@import 'partials/pf/animation';
@import 'partials/pf/delivery';
@import 'partials/pf/freelancing';
@import 'partials/pf/baking';
@import 'partials/pf/photography';
@import 'partials/pf/tech';
@import 'partials/pf/household';
@import 'partials/pf/athletic';
@import 'partials/pf/academic';
