@import 'mixin';

.chip {
	display: inline-block;
	position: relative;
	height: 32px;
	font-size: 13px;
	font-weight: 600;
	color: white;
	line-height: 32px;
	padding: 0 12px;
	border-radius: 16px;
	img {
		float: left;
		margin: 0 8px 0 -12px;
		padding: 2px;
		height: 32px;
		width: 32px;
		border-radius: 50%;
	}
	&[class*="arrow"] {
		border-radius: 2px;
		svg {
			position: absolute;
			width: 20px;
			height: 10px;
		}
		&.arrow-up {
			margin-top: 20px;
			svg {
				@include center-x;
				top: -10px;
			}
		}
		&.arrow-down {
			margin-bottom: 20px;
			svg {
                position: absolute;
				left: 50%;
				transform: translateX(-50%) rotate(180deg);
				transform-origin: center center;
				bottom: -10px;
			}
		}
		&.arrow-left {
			margin-left: 20px;
			svg {
                position: absolute;
                top: 50%;
				transform: translateY(-50%) rotate(-90deg);
				transform-origin: center center;
				left: -15px;
			}
		}
		&.arrow-right {
			margin-right: 20px;
			svg {
                position: absolute;
                top: 50%;
				transform: translateY(-50%) rotate(90deg);
				transform-origin: center center;
				right: -15px;
			}
		}
		&[class*="bg-white"] {
			svg {
				fill: white;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba(white, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba(white, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba(white, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba(white, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba(white, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba(white, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba(white, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba(white, .9);
				}
			}
		}
		&[class*="bg-charcoal"] {
			svg {
				fill: $charcoal;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($charcoal, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($charcoal, .1);
				}
			}
			&[class*="-20p"] {
				fill {
					fill: rgba($charcoal, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($charcoal, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($charcoal, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($charcoal, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($charcoal, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($charcoal, .9);
				}
			}
		}
		&[class*="bg-slate"] {
			svg {
				fill: $slate;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($slate, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($slate, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($slate, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($slate, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($slate, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($slate, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($slate, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($slate, .9);
				}
			}
		}
		&[class*="bg-taupe"] {
			svg {
				fill: $taupe;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($taupe, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($taupe, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($taupe, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($taupe, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					svg: rgba($taupe, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($taupe, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($taupe, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($taupe, .9);
				}
			}
		}
		&[class*="bg-smoke"] {
			svg {
				fill: $smoke;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($smoke, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($smoke, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($smoke, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($smoke, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($smoke, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($smoke, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($smoke, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($smoke, .9);
				}
			}
		}
		&[class*="bg-campus"] {
			svg {
				fill: $campus;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($campus, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($campus, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($campus, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($campus, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($campus, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($campus, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($campus, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($campus, .9);
				}
			}
		}
		&[class*="bg-cerise"] {
			svg {
				fill: $cerise;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($cerise, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($cerise, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($cerise, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($cerise, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($cerise, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($cerise, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($cerise, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($cerise, .9);
				}
			}
		}
		&[class*="bg-orange"] {
			svg {
				fill: $orange;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($orange, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($orange, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($orange, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($orange, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($orange, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($orange, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($orange, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($orange, .9);
				}
			}
		}
		&[class*="bg-gold"] {
			svg {
				fill: $gold;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($gold, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($gold, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($gold, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($gold, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($gold, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($gold, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($gold, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($gold, .9);
				}
			}
		}
		&[class*="bg-moola"] {
			svg {
				fill: $moola;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($moola, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($moola, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($moola, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($moola, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($moola, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($moola, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($moola, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($moola, .9);
				}
			}
		}
		&[class*="bg-shamrock"] {
			svg {
				fill: $shamrock;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($shamrock, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($shamrock, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($shamrock, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($shamrock, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($shamrock, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($shamrock, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($shamrock, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($shamrock, .9);
				}
			}
		}
		&[class*="bg-azure"] {
			svg {
				fill: $azure;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($azure, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($azure, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($azure, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($azure, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($azure, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($azure, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($azure, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($azure, .9);
				}
			}
		}
		&[class*="bg-lake"] {
			svg {
				fill: $lake;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($lake, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($lake, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($lake, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($lake, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($lake, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($lake, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($lake, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($lake, .9);
				}
			}
		}
		&[class*="bg-eggplant"] {
			svg {
				fill: $eggplant;
			}
			&[class*="-05p"] {
				svg {
					fill: rgba($eggplant, .05);
				}
			}
			&[class*="-10p"] {
				svg {
					fill: rgba($eggplant, .1);
				}
			}
			&[class*="-20p"] {
				svg {
					fill: rgba($eggplant, .2);
				}
			}
			&[class*="-25p"] {
				svg {
					fill: rgba($eggplant, .25);
				}
			}
			&[class*="-50p"] {
				svg {
					fill: rgba($eggplant, .5);
				}
			}
			&[class*="-75p"] {
				svg {
					fill: rgba($eggplant, .75);
				}
			}
			&[class*="-80p"] {
				svg {
					fill: rgba($eggplant, .8);
				}
			}
			&[class*="-90p"] {
				svg {
					fill: rgba($eggplant, .9);
				}
			}
		}
	}
}
