<div id='swiper-gallery-tab' ng-class="{'hide':singleProjectorActivate || showSidebarOneProjector || root.vars.showSidebarOneProjector}" class="swiper-container swiper-front-gallery-thumbs tab-bar slide" activate-on-class="a" class-on-activate="active:keep, null:inject.slideshow-thumb-1|activate, null:inject.slideshow-thumb-2|activate, null:inject.slideshow-thumb-3|activate"  ng-show='!page.swipers.galleryIndex'>
            <div class="swiper-wrapper swiper-gallery-wrapper" class-on-clear="bounceOutDown:animOut" class-on-activate="bounceInUp:anim">
                <a class="swiper-slide third" ng-click='page.swipers.main.slideTo(0)' ng-class="{'active':!page.swipers.main.activeIndex}">How It<br/>Works</a>
                <a class="swiper-slide third" ng-click='page.swipers.main.slideTo(1)' ng-class="{'active':page.swipers.main.activeIndex === 1}">Become<br/>A Guru</a>
                <a class="swiper-slide third" ng-click='page.swipers.main.slideTo(2)' ng-class="{'active':page.swipers.main.activeIndex === 2}">Get<br/>Started</a>
                <hr/>

            </div>
        </div>

        <div id='swiper-gallery-nav' class="swiper-container swiper-front-gallery-thumbs high-z-index high-index-z" style='z-index:100000'>
            <div id='getting-started-progress' class="progress height-10 white-round opacity-0" class-on-activate="slideInLeft:anim" ng-if='page.swipers.galleryIndex' class-on-clear="bounceOutDown:animOut">
                <span style="width: {{page.progress.getting_started}}%;"></span>
            </div>
            <div class="swiper-wrapper swiper-gallery-wrapper" >
                <div class="swiper-slide slideshow-thumb-1 opacity-0 invisible" ng-class="{'hide': page.swipers.galleryIndex}" class-on-clear="bounceOutDown:animOut" class-on-activate="bounceInUp:anim">
                    <a class="progress-step">
                        <h1 ng-class="{'opacity-50': page.swipers.main.activeIndex}">How It Works</h1>
                    </a>
                </div>
                <div class="swiper-slide slideshow-thumb-2 opacity-0 invisible" ng-class="{'hide': page.swipers.galleryIndex}" class-on-clear="bounceOutDown:animOut" class-on-activate="bounceInUp:anim">
                    <a class="progress-step">
                        <h1  ng-class="{'opacity-50': page.swipers.main.activeIndex !== 1}" >Become a Guru</h1>
                    </a>
                </div>
                <div class="swiper-slide slideshow-thumb-3 opacity-0" ng-class="{'progress-active':page.swipers.galleryIndex, 'slideshow-thumb-getting-started': page.swipers.main.activeIndex >= 2, 'complete': user.demographic && user.demographic.selected}"  class-on-clear="bounceOutDown:animOut" class-on-activate="bounceInUp:anim" class-on-activate-delay="500">
                    <a class="onboarding-step active" ng-if='page.swipers.galleryIndex' ng-click='page.swipers.main.slideTo(2)'>
                        <span class="onboarding-icon" ng-include="::img_base + BASE + 'templates/svg/splash/demographic.html'"></span>
                        <svg class="onboarding-status" viewBox="0 0 160 160">
                             <g fill="none" stroke-width="20" stroke-linecap="round" stroke-linejoin="round">
                                  <circle class="bg" stroke="#606669" cx="80" cy="80" r="70"></circle>
                                  <path d="M10,80 C10,118.659932 41.3400675,150 80,150 C118.659932,150 150,118.659932 150,80" class="bottom" stroke="#FFFFFF"></path>
                                  <path d="M10,80 C10,41.3400675 41.3400675,10 80,10 C118.659932,10 150,41.3400675 150,80" class="top" stroke="#FFFFFF"></path>
                             </g>
                        </svg>
                        <h1>Demographic</h1>
                    </a>
                </div>
                <div class="swiper-slide slideshow-thumb-4 slideshow-thumb-getting-started opacity-0" ng-class="{'complete': user && user.university && user.university.id}" class-on-clear="bounceOutDown:animOut" class-on-activate="bounceInUp:anim" class-on-activate-delay="600" >
                    <a class="onboarding-step active" ng-if='page.swipers.galleryIndex' ng-click='page.swipers.main.slideTo(3)'>
                        <span class="onboarding-icon" ng-include="::img_base + BASE + 'templates/svg/splash/university.html'"></span>
                        <svg class="onboarding-status" viewBox="0 0 160 160">
                             <g fill="none" stroke-width="20" stroke-linecap="round" stroke-linejoin="round">
                                  <circle class="bg" stroke="#606669" cx="80" cy="80" r="70"></circle>
                                  <path d="M10,80 C10,118.659932 41.3400675,150 80,150 C118.659932,150 150,118.659932 150,80" class="bottom" stroke="#FFFFFF"></path>
                                  <path d="M10,80 C10,41.3400675 41.3400675,10 80,10 C118.659932,10 150,41.3400675 150,80" class="top" stroke="#FFFFFF"></path>
                             </g>
                        </svg>
                        <h1>University</h1>
                    </a>
                </div>
                <div class="swiper-slide slideshow-thumb-5 slideshow-thumb-getting-started opacity-0" class-on-clear="bounceOutDown:animOut" activate-on-class="a" class-on-activate="bounceInUp:anim" class-on-activate-delay="700" ng-class="{'complete': user && user.id}">
                    <a class="onboarding-step" ng-if='page.swipers.galleryIndex' ng-click='page.swipers.main.slideTo(4)'>
                        <span class="onboarding-icon" ng-include="::img_base + BASE + 'templates/svg/splash/account.html'"></span>
                        <svg class="onboarding-status" viewBox="0 0 160 160">
                             <g fill="none" stroke-width="20" stroke-linecap="round" stroke-linejoin="round">
                                  <circle class="bg" stroke="#606669" cx="80" cy="80" r="70"></circle>
                                  <path d="M10,80 C10,118.659932 41.3400675,150 80,150 C118.659932,150 150,118.659932 150,80" class="bottom" stroke="#FFFFFF"></path>
                                  <path d="M10,80 C10,41.3400675 41.3400675,10 80,10 C118.659932,10 150,41.3400675 150,80" class="top" stroke="#FFFFFF"></path>
                             </g>
                        </svg>
                        <h1>Sign Up</h1>
                    </a>
                </div>
                <div class="swiper-slide slideshow-thumb-6 slideshow-thumb-getting-started opacity-0" class-on-clear="bounceOutDown:animOut" activate-on-class="a" class-on-activate="bounceInUp:anim" class-on-activate-delay="800" ng-class="{'complete': user && user.student_courses.length}">
                     <a class="onboarding-step" ng-if='page.swipers.galleryIndex' ng-click='page.swipers.main.slideTo(5)'>
                        <span class="onboarding-icon" ng-include="::img_base + BASE + 'templates/svg/splash/courses.html'"></span>
                        <svg class="onboarding-status" viewBox="0 0 160 160">
                             <g fill="none" stroke-width="20" stroke-linecap="round" stroke-linejoin="round">
                                  <circle class="bg" stroke="#606669" cx="80" cy="80" r="70"></circle>
                                  <path d="M10,80 C10,118.659932 41.3400675,150 80,150 C118.659932,150 150,118.659932 150,80" class="bottom" stroke="#FFFFFF"></path>
                                  <path d="M10,80 C10,41.3400675 41.3400675,10 80,10 C118.659932,10 150,41.3400675 150,80" class="top" stroke="#FFFFFF"></path>
                             </g>
                        </svg>
                        <h1>Courses</h1>
                    </a>
                </div>
                 <div class="swiper-slide slideshow-thumb-7 slideshow-thumb-getting-started opacity-0" class-on-clear="bounceOutDown:animOut" activate-on-class="a" class-on-activate="bounceInUp:anim" class-on-activate-delay="900" ng-class="{'complete': user && user.access_code}">
                    <a class="onboarding-step" ng-if='page.swipers.galleryIndex' ng-click='page.swipers.main.slideTo(6)'>
                        <span class="onboarding-icon" ng-include="::img_base + BASE + 'templates/svg/splash/promo.html'"></span>
                        <svg class="onboarding-status" viewBox="0 0 160 160">
                             <g fill="none" stroke-width="20" stroke-linecap="round" stroke-linejoin="round">
                                  <circle class="bg" stroke="#606669" cx="80" cy="80" r="70"></circle>
                                  <path d="M10,80 C10,118.659932 41.3400675,150 80,150 C118.659932,150 150,118.659932 150,80" class="bottom" stroke="#FFFFFF"></path>
                                  <path d="M10,80 C10,41.3400675 41.3400675,10 80,10 C118.659932,10 150,41.3400675 150,80" class="top" stroke="#FFFFFF"></path>
                             </g>
                        </svg>
                        <h1>Access</h1>
                    </a>
                </div>
            </div>