@import '../mixin';

.pf-bounceUp {
	animation: pf-bounceUp 2000ms linear forwards;
}
.pf-scaleInY {
	animation: pf-scaleInY 1500ms linear forwards;
}
.pf-bounceUp-small {
	animation: pf-bounceUp-small 1000ms linear forwards;
}
.pf-scaleInLeft {
	animation: pf-scaleInLeft 1000ms linear forwards;
}
.pf-slideUp-fadeIn {
	animation: pf-slideUp-fadeIn 1000ms linear forwards;
}
.pf-slideDown-fadeOut {
	animation: pf-slideDown-fadeOut 1000ms linear forwards;
}
.pf-slideLeft-scaleIn {
	transform-origin: top left;
	animation: pf-slideLeft-scaleIn 1000ms linear forwards;
}
.pf-bounceIn {
	transform-origin: center center;
	animation: pf-bounceIn 1000ms linear forwards;
}
.pf-bounceIn-rotate {
	transform-origin: center center;
	animation: pf-bounceIn-rotate 1000ms linear forwards;
}
.pf-fadeInDown {
	animation: pf-fadeInDown 1000ms cubic-bezier(0,.5,.5,1) forwards;
}

@keyframes pf-fadeInDown {
	0% { transform: translateY(-100%); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

/* http://goo.gl/jy0IFR */
@keyframes pf-bounceIn-rotate {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
	3.2% { transform: matrix3d(0.187, -0.265, 0, 0, 0.265, 0.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.3% { transform: matrix3d(0.296, -0.283, 0, 0, 0.283, 0.296, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.31% { transform: matrix3d(0.483, -0.238, 0, 0, 0.238, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.61% { transform: matrix3d(0.641, -0.124, 0, 0, 0.124, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.51% { transform: matrix3d(0.785, 0.053, 0, 0, -0.053, 0.785, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.91% { transform: matrix3d(0.794, 0.065, 0, 0, -0.065, 0.794, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.22% { transform: matrix3d(0.872, 0.129, 0, 0, -0.129, 0.872, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.82% { transform: matrix3d(0.894, 0.127, 0, 0, -0.127, 0.894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.03% { transform: matrix3d(0.954, 0.066, 0, 0, -0.066, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(0.971, 0.031, 0, 0, -0.031, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	37.54% { transform: matrix3d(0.991, -0.009, 0, 0, 0.009, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.44% { transform: matrix3d(0.993, -0.01, 0, 0, 0.01, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { opacity: 1; }
	50.05% { transform: matrix3d(0.998, -0.002, 0, 0, 0.002, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.66% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/3Eysna */
@keyframes pf-bounceIn {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
	4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { opacity: 1; }
	52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/p2xRFr */
@keyframes pf-slideLeft-scaleIn {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); opacity: 0; }
	3.2% { transform: matrix3d(0.324, 0, 0, 0, 0, 0.324, 0, 0, 0, 0, 1, 0, -33.805, 0, 0, 1); }
	6.31% { transform: matrix3d(0.538, 0, 0, 0, 0, 0.538, 0, 0, 0, 0, 1, 0, -23.081, 0, 0, 1); }
	12.51% { transform: matrix3d(0.786, 0, 0, 0, 0, 0.786, 0, 0, 0, 0, 1, 0, -10.682, 0, 0, 1); }
	18.82% { transform: matrix3d(0.903, 0, 0, 0, 0, 0.903, 0, 0, 0, 0, 1, 0, -4.833, 0, 0, 1); }
	25.03% { transform: matrix3d(0.956, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, -2.192, 0, 0, 1); }
	37.54% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -0.43, 0, 0, 1); }
	50% { opacity: 1; }
	50.05% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, -0.08, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/dg2cTD */
@keyframes pf-slideUp-fadeIn {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); opacity: 0; }
	3.2% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 202.83, 0, 1); }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 138.485, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 64.092, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 29, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.15, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.577, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.477, 0, 1); }
	75% { opacity: 1; }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/Zjl68p */
@keyframes pf-slideDown-fadeOut {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	3.2% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 97.17, 0, 1); opacity: 0; }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 161.515, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 235.908, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 271, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 286.85, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 297.423, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 299.523, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); opacity: 0; }
}

/* http://goo.gl/obTAYC */
@keyframes pf-scaleInLeft {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1); opacity: 0; }
	3.2% { transform: matrix3d(0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 67.61, 0, 1); opacity: 1; }
	4.3% { transform: matrix3d(0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 59.064, 0, 1); }
	6.31% { transform: matrix3d(0.709, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 46.162, 0, 1); }
	8.61% { transform: matrix3d(0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 34.725, 0, 1); }
	12.51% { transform: matrix3d(1.043, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.364, 0, 1); }
	12.91% { transform: matrix3d(1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.321, 0, 1); }
	17.22% { transform: matrix3d(1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 11.835, 0, 1); }
	18.82% { transform: matrix3d(1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.667, 0, 1); }
	25.03% { transform: matrix3d(1.044, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.383, 0, 1); }
	28.33% { transform: matrix3d(1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.864, 0, 1); }
	37.54% { transform: matrix3d(0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.859, 0, 1); }
	39.44% { transform: matrix3d(0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.668, 0, 1); }
	50.05% { transform: matrix3d(0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.159, 0, 1); }
	61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.031, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/0vUesj */
@keyframes pf-bounceUp-small {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1); opacity: 0; }
	3.2% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 67.61, 0, 1); opacity: 1; }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 46.162, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.364, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.667, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.383, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.859, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.159, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/3BQk3l */
@keyframes pf-bounceUp {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 1000, 0, 1); opacity: 1; }
	4.3% { transform: matrix3d(1, 0, 0, 0, 0, 0.64, 0, 0, 0, 0, 1, 0, 0, 485.73, 0, 1); }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 0.692, 0, 0, 0, 0, 1, 0, 0, 291.425, 0, 1); }
	8.61% { transform: matrix3d(1, 0, 0, 0, 0, 0.742, 0, 0, 0, 0, 1, 0, 0, 121.414, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 0.811, 0, 0, 0, 0, 1, 0, 0, -42.875, 0, 1); }
	12.91% { transform: matrix3d(1, 0, 0, 0, 0, 0.816, 0, 0, 0, 0, 1, 0, 0, -52.277, 0, 1); }
	17.22% { transform: matrix3d(1, 0, 0, 0, 0, 0.87, 0, 0, 0, 0, 1, 0, 0, -93.335, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 0.886, 0, 0, 0, 0, 1, 0, 0, -89.578, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 0.931, 0, 0, 0, 0, 1, 0, 0, -43.775, 0, 1); }
	28.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, -20.626, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 0.976, 0, 0, 0, 0, 1, 0, 0, 5.788, 0, 1); }
	39.44% { transform: matrix3d(1, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 6.231, 0, 1); }
	50% { opacity: 1; }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 1.581, 0, 1); }
	61.66% { transform: matrix3d(1, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, -0.416, 0, 1); }
	75.08% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, -0.04, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.028, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/6Lgt2u */
@keyframes pf-scaleInY {
	0% { transform: matrix3d(0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
	5.31% { transform: matrix3d(0.781, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.51% { transform: matrix3d(0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	15.82% { transform: matrix3d(1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.02% { transform: matrix3d(1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25% { opacity: 1; }
	35.34% { transform: matrix3d(1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	49.55% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	78.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

// academic
@keyframes pf-ac-exit-rotate {
	0% { transform: rotateX(0deg) rotateY(0deg) translateY(0); opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; transform: rotateX(-45deg) rotateY(30deg) translateY(-300px); }
}

@keyframes pf-ac-enter-rotate {
	0% { opacity: 0; transform: rotateX(-30deg) rotateY(30deg) translateY(300px); }
	50% { opacity: 1; }
	100% { transform: rotateX(0deg) rotateY(0deg) translateY(0); opacity: 1; }
}

@keyframes pf-ac-fadeInRight {
	0% { transform: translateX(50%); opacity: 0; }
	25% { opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes pf-ac-fadeInDown {
	0% { transform: translateY(-80%); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes pf-ac-scaleInX {
	0% { transform: scaleX(0); opacity: 1; }
	100% { transform: scaleX(1); opacity: 1; }
}

@keyframes pf-ac-scaleInY {
	0% { transform: scaleY(0); opacity: 1; }
	100% { transform: scaleY(1); opacity: 1; }
}

// tech
.pf-tc-enter-y {
	animation: pf-tc-grow-y 500ms cubic-bezier(0,.66,.47,1.09) forwards;
}
.pf-tc-enter-y-300 {
	animation: pf-tc-grow-y 300ms cubic-bezier(0,.66,.47,1.09) forwards;
}
.pf-tc-enter-x {
	animation: pf-tc-grow-x 500ms cubic-bezier(0,.66,.47,1.09) forwards;
}

.pf-tc-exit-y {
	animation: pf-tc-shrink-y 500ms cubic-bezier(0,.54,.5,1) both;
}
.pf-tc-exit-y-300 {
	animation: pf-tc-shrink-y 300ms cubic-bezier(0,.54,.5,1) both;
}
.pf-tc-exit-x {
	animation: pf-tc-shrink-x 500ms cubic-bezier(0,.54,.5,1) both;
}

.pf-tc-OutUp {
	animation: pf-tc-OutUp 500ms cubic-bezier(.33,-0.54,1,1.68) both;
}

@keyframes pf-tc-OutUp  {
	0% { transform: translateY(0) scale(1); opacity: 1; }
	99% { opacity: 1; }
	100% { transform: translateY(-300px) scale(0); opacity: 0; }
}
@keyframes pf-tc-InUp  {
	0% { transform: translateY(300px) scale(1.1); opacity: 0; }
	1% { opacity: 1; }
	100% { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes pf-tc-shrink-x {
	0% { transform: scaleX(1); opacity: 1; }
	99.99% { opacity: 1; }
	100% { transform: scaleX(0); opacity:0; }
}
@keyframes pf-tc-shrink-y {
	0% { transform: scaleY(1); opacity: 1;}
	99.99% { opacity: 1; }
	100% { transform: scaleY(0); opacity: 0; }
}

@keyframes pf-tc-grow-x {
	0% {transform: scaleX(0); opacity: 1;}
	100% {transform: scaleX(1); opacity: 1;}
}
@keyframes pf-tc-grow-y {
	0% { transform: scaleY(0); opacity: 1; }
	100% { transform: scaleY(1); opacity: 1; }
}
