@import '../mixin';

.pf-container.pf-freelancing {
    .verified {
        span svg {
            path:first-child {
                fill: $orange;
            }
        }
    }
    .tab-bar {
        &.slide {
            > div {
                a {
                    &:nth-child(1) {
                        &.active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(2) {
                        &.active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(3) {
                        &.active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(4) {
                        &.active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }

                    &:nth-child(1) {
                        &:hover, &:focus {
                            ~ hr {
                                border-color: rgba(mix($orange, white), .7);
                            }
                        }
                        &:active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(2) {
                        &:hover, &:focus {
                            ~ hr {
                                border-color: rgba(mix($orange, white), .7);
                            }
                        }
                        &:active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(3) {
                        &:hover, &:focus {
                            ~ hr {
                                border-color: rgba(mix($orange, white), .7);
                            }
                        }
                        &:active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                    &:nth-child(4) {
                        &:hover, &:focus {
                            ~ hr {
                                border-color: rgba(mix($orange, white), .7);
                            }
                        }
                        &:active {
                            ~ hr {
                                border-color: mix($orange, white);
                            }
                        }
                    }
                }
            }
        }
    }
    .pf-main {
        > div {
            .pf-main-subheader {
                &:after {
                    background: rgba($orange, .2);
                }
            }
            &.pf-about {
                .pf-about-section {
                    header {
                        h2 {
                            background: $orange;
                        }
                    }
                    .pf-url {
                        li {
                            &:last-child {
                                a {
                                    background: $orange!important;
                                    &:hover, &:focus {
                                        background: mix($orange, white)!important;
                                        svg {
                                            * {
                                                stroke: mix($orange, $slate);
                                            }
                                        }
                                    }
                                    &:active {
                                        background: mix($orange, $slate)!important;
                                        svg {
                                            * {
                                                stroke: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pf-mobile-cta {
        background: rgba($orange, .95);
        &:hover, &:focus {
            background: mix($orange, white);
            color: mix($orange, $slate);
        }
        &:active {
            background: mix($orange, $slate);
            color: white;
        }
    }
}
