<ion-view id='splash-powerups' ng-controller="SplashPowerupsController as powerups"
	init-with="prop:[op:0, z-index:-1, t:all 1000ms ease-in-out]"
	when-powerups-clicked="prop:[op:1:delay-250, z-index:1000] | send:[powerups-init:public]:delay-3000"
	when-close-powerups="prop:[op:0, z-index:-1:delay-250]">
    <div id='powerups' class="full-xy bg-slate">
        <!-- class-on-activate="fadeIn:anim" --->
        <header class="flex-center-wrap p15xy relative z-index-0">
            <!-- class-on-clear="fadeOut:animOut" -->
            <span id="powerup-all-icon" class="svg-128" ng-include="root.base_url + 'shared/templates/components/svg/main/lightning-circle.html'"></span>
            <h1 class="txt-48 semibold full-x txt-center">Powerups</h1>
        </header>
        <div class="flex-center-wrap z-index-2">
            <ul class="powerup-icons flex-center-wrap">
                <li init-with="p-op"
					when-powerups-init="anim:[bounceIn-subtle:set:(dur:1000ms#func:linear):in] | send:[powerup-icon-gpa-init]">
                    <a id="powerup-gpa-container" class="block relative high-z-index">
                        <div id="powerup-gpa-icon" class="block loader-powerup-gpa" ng-include="root.base_url + 'preapp/templates/components/powerups/gpa-card.html'"></div>
                        <div id="powerup-gpa-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold">Lorem Ipsum</div>
                        <!-- class-on-activate="slideInUp-subtle" class-on-activate-delay="250" -->
                    </a>
                </li>
                <li>
                    <!-- class-on-activate="bounceIn-subtle" class-on-activate-delay="1500" -->
                    <a id="powerup-munchies-container" class="block relative">
                        <div id="powerup-munchies-icon" class="block loader-powerup-munchies" ng-include="root.base_url + 'preapp/templates/components/powerups/munchies-card.html'"></div>
                        <div id="powerup-munchies-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold">Lorem Ipsum</div>
                        <!-- class-on-activate="slideInUp-subtle" class-on-activate-delay="250" -->
                    </a>
                </li>
                <li>
                    <!-- class-on-activate=-bounceIn-subtle, null:inject#powerup-sound-label|activate" class-on-activate-delay="2000" -->
                    <a id="powerup-sound-container" class="block relative">
                        <div id="powerup-sound-icon" class="block loader-powerup-sound" ng-include="root.base_url + 'preapp/templates/components/powerups/sound-card.html'"></div>
                        <div id="powerup-sound-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold">Lorem Ipsum</div>
                        <!-- class-on-activate="u-powerup-label-slideInUp" class-on-activate-delay="250" -->
                    </a>
                </li>
                <li>
                    <!-- class-on-activate="u-bounceIn-subtle, null:inject#powerup-transit-label|activate" class-on-activate-delay="2500" -->
                    <a id="powerup-transit-container" class="block relative">
                        <div id="powerup-transit-icon" class="block loader-powerup-transit" ng-include="root.base_url + 'preapp/templates/components/powerups/transit-card.html'"></div>
                        <div id="powerup-transit-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold">Lorem Ipsum</div>
                        <!-- class-on-activate="u-powerup-label-slideInUp" class-on-activate-delay="250" -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="splash-hero-skip absolute bottom-0 right-0">
       <button on-click="send:[close-powerups]">Back</button>
    </div>
</ion-view>
