<!-- @gabrielle, @jeselle, hacked this line below
    on-init='t:[on-enter] | s:[powerups-clicked]'
-->
<div class="powerups-scale"
	init-with="p:[tr:scale(0), t:all 1000ms ease-out, op:1, display:block, background:#F6C64E]"
	when-powerups-clicked="t-enter"
	on-enter="p:[tr:scale(1000)] | t:[on-exit]"
	on-exit="p:[op:0:delay-750, t:all 500ms ease-out, display:none:delay-2000]"></div>
<ion-view id='splash-powerups' ng-controller="SplashPowerupsController as powerups"
	init-with="p:[op:0, z-index:-1, t:all 750ms ease-in-out]"
	when-powerups-clicked="p:[op:1:delay-50, z-index:1000] | s:[powerups-init:public]:delay-3000"
	when-close-powerups="p:[op:0, z-index:-1:delay-250]">
	<div class="absolute top-0 left-0 full-xy"
		init-with="p:[z-index:999]"
		when-powerups-clicked="p:[z-index:-1, display:none]:delay-5750"></div>
    <div id='powerups' class="full-xy bg-slate">
        <header class="flex-center-wrap p15xy relative z-index-0">
            <span id="powerup-all-icon" class="svg-128" ng-include="root.base_url + 'shared/templates/components/svg/main/lightning-circle.html'"></span>
            <h1 class="txt-48 semibold full-x txt-center"
				init-with="p-op"
				when-powerups-init="a:[slideInUp-subtle:set:(dur:1000ms#func:linear):in]">Powerups</h1>
        </header>
        <div class="flex-center-wrap z-index-2">
            <ul class="powerup-icons flex-center-wrap">
                <li init-with="p-op"
					when-powerups-init="a:[bounceIn-subtle:set:(dur:1000ms#func:linear):in:delay-1000] | s:[powerup-icon-gpa-init:public:delay-1000]">
                    <a id="powerup-gpa-container" class="block relative high-z-index"
						init-default
						on-mouse-enter="s:[gpa-mouse-enter:public]"
						on-click="s:[gpa-on-click:public, gpa-mouse-enter:public]"
						on-mouse-leave="s:[gpa-mouse-leave:public]"
						when-gpa-on-click="p:[tr:translate3d(150%#21.5%#0)]">
						<span class="powerups-bg"
							init-with="p:[tro:center center, tr:scale(0), t:all 1000ms ease-out, op:1]"
							when-gpa-on-click="t-enter"
							on-enter="p:[tr:scale(100)] | t:[on-exit]"
							on-exit="p:[op:0:delay-1000, t:all 1000ms ease-out, display:none:delay-2000]"></span>
                        <div id="powerup-gpa-icon" class="block loader-powerup-gpa" ng-include="root.base_url + 'preapp/templates/components/powerups/gpa-card.html'"></div>
                        <div id="powerup-gpa-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold"
							init-with="p-op"
							when-powerup-icon-gpa-init="a:[slideInUp-subtle:set:(dur:1000ms#func:linear):in:delay-250]"
							when-gpa-on-click="a:[slideOutDown-subtle:set:(dur:1000ms#func:linear):out]">Lorem Ipsum</div>
                    </a>
                </li>
                <li init-with="p-op"
					when-powerups-init="a:[bounceIn-subtle:set:(dur:1000ms#func:linear):in:delay-1500] | s:[powerup-icon-munchies-init:public:delay-1500]"
					when-gpa-on-click="a:[slideOutRight:set:(dur:1000ms#func:ease-in-out):out:delay-500]">
                    <a id="powerup-munchies-container" class="block relative"
						init-default
						on-mouse-enter="s:[munchies-mouse-enter:public]"
						on-click="s:[munchies-on-click:public, munchies-mouse-enter:public]"
						on-mouse-leave="s:[munchies-mouse-leave:public]">
						<span class="powerups-bg"></span>
                        <div id="powerup-munchies-icon" class="block loader-powerup-munchies" ng-include="root.base_url + 'preapp/templates/components/powerups/munchies-card.html'"></div>
                        <div id="powerup-munchies-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold"
							init-with="p-op"
							when-powerup-icon-munchies-init="a:[slideInUp-subtle:set:(dur:1000ms#func:linear):in:delay-250]">Lorem Ipsum</div>
                    </a>
                </li>
                <li init-with="p-op"
					when-powerups-init="a:[bounceIn-subtle:set:(dur:1000ms#func:linear):in:delay-1750] | s:[powerup-icon-sound-init:public:delay-1750]"
					when-gpa-on-click="a:[slideOutRight:set:(dur:1000ms#func:ease-in-out):out:delay-500]">
                    <a id="powerup-sound-container" class="block relative"
						init-default
						on-mouse-enter="s:[sound-mouse-enter:public]"
						on-click="s:[sound-on-click:public, sound-mouse-enter:public]"
						on-mouse-leave="s:[sound-mouse-leave:public]">
						<span class="powerups-bg"></span>
                        <div id="powerup-sound-icon" class="block loader-powerup-sound" ng-include="root.base_url + 'preapp/templates/components/powerups/sound-card.html'"></div>
                        <div id="powerup-sound-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold"
							init-with="p-op"
							when-powerup-icon-sound-init="a:[slideInUp-subtle:set:(dur:1000ms#func:linear):in:delay-250]">Lorem Ipsum</div>
                    </a>
                </li>
                <li init-with="p-op"
					when-powerups-init="a:[bounceIn-subtle:set:(dur:1000ms#func:linear):in:delay-2000] | s:[powerup-icon-transit-init:public:delay-2000]"
					when-gpa-on-click="a:[slideOutRight:set:(dur:1000ms#func:ease-in-out):out:delay-500]">
                    <a id="powerup-transit-container" class="block relative"
						init-default
						on-mouse-enter="s:[transit-mouse-enter:public]"
						on-click="s:[transit-on-click:public, transit-mouse-enter:public]"
						on-mouse-leave="s:[transit-mouse-leave:public]">
						<span class="powerups-bg"></span>
                        <div id="powerup-transit-icon" class="block loader-powerup-transit" ng-include="root.base_url + 'preapp/templates/components/powerups/transit-card.html'"></div>
                        <div id="powerup-transit-label" class="powerup-icon-tag block lowercase txt-center txt-28 semibold"
							init-with="p-op"
							when-powerup-icon-transit-init="a:[slideInUp-subtle:set:(dur:1000ms#func:linear):in:delay-250]">Lorem Ipsum</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="splash-hero-skip absolute bottom-0 right-0 z-index-999"
		init-with="p:[op:0, tro:center center, tr:translateX(100%) rotate(180deg), t:all 1000ms cubic-bezier(.04#.75#.77#1.32)]"
		when-powerups-init="t-enter"
		on-enter="p:[op:1, tr:translateX(0) rotate(0)]:delay-3000">
       <button on-click="s:[close-powerups]">Back</button>
    </div>

    <div init-later when-gpa-on-click="t:[init-with]" init-with="s:[gpa-triggered:public:delay-250]" ng-include src="root.base_url + 'preapp/templates/powerups/gpa.html'"></div>
    <div init-later when-munchies-on-click="t:[init-with]" init-with="s:[munchies-triggered:public:delay-250]" ng-include src="root.base_url + 'preapp/templates/powerups/munchies.html'"></div>
    <div init-later when-sound-on-click="t:[init-with]" init-with="s:[sound-triggered:public:delay-250]" ng-include src="root.base_url + 'preapp/templates/powerups/sound.html'"></div>
    <div init-later when-transit-on-click="t:[init-with]" init-with="s:[transit-triggered:public:delay-250]" ng-include src="root.base_url + 'preapp/templates/powerups/transit.html'"></div>
    <!-- <div init-later when-gpa-on-click="trigger:[init-with:self]" init-with="p:[opacity:0]" ng-include src="root.base_url + 'preapp/templates/powerups/gpa.html'" include-replace> -->
    </div>
</ion-view>
