@import '../../mixin';

.calendar-container {
	.cal-add {
		@include flex;
		@include flex-center;
		position: absolute;
		top: 0;
		left: 0;
		width: 64px;
		height: 64px;
		a {
			@include flex;
			@include flex-center;
			@include round;
			width: 34px;
			height: 34px;
			background: white;
			svg {
				display: block;
				width: 24px;
				height: 24px;
				* {
					@include svg-stroke(rgba($light-slate, .5), 8);
				}
			}
		}
	}
	.cal-search {
		@include flex;
		@include flex-center;
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;
		height: 64px;
		padding: 0 15px 0 0;
		background: $shamrock;
		transform: translateX(100%) translateX(-49px) translateZ(0);
		transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
		transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
		@media screen and (max-width: 768px) {
			padding: 0 15px;
		}
		> div {
			position: relative;
			height: calc(100% - 30px);
			width: 100%;
			div {
				@include round;
				transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
				transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
				position: absolute;
				top: 0;
				left: 0;
				width: 34px;
				height: 100%;
				background: white;
			}
		}
		input {
			@include round;
			transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
			transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
			position: relative;
			z-index: 5;
			height: 100%;
			width: calc(100% - 34px - 15px);
			padding-left: 34px;
			padding-right: 15px;
			background: none;
			font-size: 18px;
			box-sizing: border-box;
			@include placeholder {
				opacity: 0;
			}
		}
		label {
			@include flex;
			@include flex-center;
			position: absolute;
			z-index: 6;
			top: 0;
			left: 0;
			height: 100%;
			width: 34px;
			cursor: pointer;
			svg {
				display: block;
				width: 24px;
				height: 24px;
				* {
					@include svg-stroke(rgba($light-slate, .5), 8);
				}
			}
		}
		&.active {
			transform: translateX(0) translateZ(0);
			> div {
				div {
					width: 100%;
				}
			}
			input {
				@include placeholder {
					opacity: 1;
				}
			}
		}
	}
	.calendar-week {
		transition: width 300ms cubic-bezier(0.77, 0, 0.05, 1);
		transition: width 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
	}
	.cal-filters {
		transition: transform 300ms cubic-bezier(0.77, 0, 0.05, 1);
		transition: transform 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
		background: $slate;
	}
	&.student {
		.cal-search {
			background: $lake;
		}
		.cal-filters {
			background: $smoke;
		}
	}
	&:not(.has-filters) {
		.cal-filters {
			transform: translateX(100%);
			opacity: 0;
		}
	}
	&.has-filters {
		overflow: hidden;
		height: 100%;
		.calendar-week {
			height: 100%;
			.cal-week {
				height: 100%;
				> div {
					height: 100%;
				}
			}
			.cal-day-container {
				height: calc(100% - 64px);
				width: 75%;
				overflow: auto;
				&::-webkit-scrollbar {
					display: none;
				}
				&::-moz-scrollbar {
					display: none;
				}
			}
		}
		@media screen and (max-width: 768px) {
			.calendar-week {
				width: 100%!important;
			}
		}
	}
}

.cal-filters {
	position: absolute;
	top: 64px;
	right: 0;
	height: calc(100% - 64px);
	width: 25%;
	overflow: auto;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
	.tag-list {
		width: 100%;
		overflow: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		&::-moz-scrollbar {
			display: none;
		}
		ul {
			@include prefix(flex-flow, nowrap row, webkit);
			padding: 7.5px;
			li {
				padding: 7.5px;
			}
		}
	}
	.cal-results {
		height: calc(100% - 62px);
		overflow: auto;
		ul {
			padding-top: 0;
			li:first-child {
				padding-top: 0;
			}
		}
	}
}
.student + .cal-filters {
	header {
		background: $lake;
	}
}
