<svg class="letter-m" viewBox="0 0 63 100">
    <defs>
        <clipPath id="letter-m-clip">
            <polygon class="letter-mask-m" fill="#D8D8D8" points="15.328 78.16 15.328 51.736 26.992 76 36.424 76 48.088 51.736 48.088 78.16 62.416 78.16 62.416 22 47.944 22 31.672 57.496 15.472 22 1 22 1 78.16 15.328 78.16"></polygon>
        </clipPath>
    </defs>
    <g fill="none" fill-rule="evenodd" stroke-linecap="square" stroke-linejoin="bevel" stroke-width="15" clip-path="url(#letter-m-clip)">
        <g stroke="#F25A5B">
            <path d="M31,70.1708984 L7.30078125,20.4609375" class="letter-color-m-1"></path>
            <path d="M32.0229492,70.1708984 L56.550293,20.909668" class="letter-color-m-2"></path>
            <path d="M8,29.3839286 L8,71.3839286" class="letter-color-m-3"></path>
            <path d="M55.5,29.3839286 L55.5,71.3839286" class="letter-color-m-4"></path>
        </g>
        <g stroke="#FFFFFF">
            <g draw-shapes>
                <path d="M31,70.1708984 L7.30078125,20.4609375"
                    class="letter-white-m-1" id="letter-white-m-1"
                    draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M32.0229492,70.1708984 L56.550293,20.909668"
                    class="letter-white-m-2" id="letter-white-m-2"
                    draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M8,29.3839286 L8,71.3839286"
                    class="letter-white-m-3" id="letter-white-m-3"
                    draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M55.5,29.3839286 L55.5,71.3839286"
                    class="letter-white-m-4" id="letter-white-m-4"
                    draw-duration="2s"></path>
            </g>
        </g>
    </g>
</svg>

<svg width="15px" height="15px" class='absolute top-0 left-0'>
    <rect trace-path="#letter-white-m-4" trace-parent="#letter-m-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-m-4" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
    <rect trace-path="#letter-white-m-3" trace-parent="#letter-m-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-m-3" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
    <rect class='' on-activate="trace-activate:delay-1000" trace-rotate="false" trace-path="#letter-white-m-2" trace-parent="#letter-m-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-m-2" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
    <rect class='' on-activate="trace-activate:delay-2000" trace-rotate="false" trace-path="#letter-white-m-1" trace-parent="#letter-m-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-m-1" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
</svg>
