<svg class="letter-n" viewBox="0 0 55 100">
    <defs>
        <clipPath id="letter-n-clip">
            <polygon class="letter-mask-n" fill="#D8D8D8" points="16.4 78.16 16.4 46.84 41.456 78.16 53.624 78.16 53.624 22 39.296 22 39.296 53.392 14.24 22 2 22 2 78.16"></polygon>
        </clipPath>
    </defs>
    <g fill="none" fill-rule="evenodd" stroke-linecap="square" stroke-linejoin="bevel" stroke-width="15" clip-path="url(#letter-n-clip)">
        <g stroke="#F25A5B">
            <path d="M5.1015625,21.7675781 L48.5644531,76.609375" class="letter-color-n-1"></path>
            <path d="M46.5,29.3839286 L46.5,71.3839286" class="letter-color-n-2"></path>
            <path d="M9.5,71.3839286 L9.5,29.3839286" class="letter-color-n-3"></path>
        </g>
        <g stroke="#FFFFFF">
            <g draw-shapes>
                <path d="M5.1015625,21.7675781 L48.5644531,76.609375"
                    class="letter-white-n-1" id="letter-white-n-1"
                    draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M46.5,29.3839286 L46.5,71.3839286"
                    class="letter-white-n-2" id="letter-white-n-2"
                    draw-duration="2s"></path>
            </g>
            <g draw-shapes>
                <path d="M9.5,71.3839286 L9.5,29.3839286"
                    class="letter-white-n-3" id="letter-white-n-3"
                    draw-duration="2s"></path>
            </g>
        </g>
    </g>
</svg>

<svg width="15px" height="15px" class='absolute top-0 left-0'>
    <rect trace-path="#letter-white-n-3" trace-parent="#letter-n-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-n-3" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
    <rect trace-path="#letter-white-n-2" trace-parent="#letter-n-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-n-2" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
    <rect class='' on-activate="trace-activate:delay-1000" trace-rotate="false" trace-path="#letter-white-n-1" trace-parent="#letter-n-clip" trace-duration="2s" trace-direction="normal" trace-iter-count="1" trace-time-func="linear" trace-anim-name="letter-white-n-1" draw-ignore x="0" y="0" width="15" height="15" fill="red" style="transform-origin: center center;"></rect>
</svg>
