<svg class="letter-n" viewBox="0 0 55 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" fill-rule="evenodd">
      <path d="M5.1015625,21.7675781 L48.5644531,76.609375" class="letter-color-n-1" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
      <path d="M46.5,29.3839286 L46.5,71.3839286" class="letter-color-n-2" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
      <path d="M9.5,71.3839286 L9.5,29.3839286" class="letter-color-n-3" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
      <path d="M5.1015625,21.7675781 L48.5644531,76.609375" class="letter-white-n-1" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
      <path d="M46.5,29.3839286 L46.5,71.3839286" class="letter-white-n-2" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
      <path d="M9.5,71.3839286 L9.5,29.3839286" class="letter-white-n-3" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
      <path d="M-23,0 L77,0 L77,100 L-23,100 L-23,0 L-23,0 Z M16.4,78.16 L16.4,46.84 L41.456,78.16 L53.624,78.16 L53.624,22 L39.296,22 L39.296,53.392 L14.24,22 L2,22 L2,78.16 L16.4,78.16 L16.4,78.16 Z" class="letter-mask-n" fill="#D8D8D8"></path>
    </g>
</svg>
