<svg class="letter-i" viewBox="0 0 16 100">
    <g fill="none" fill-rule="evenodd">
        <path d="M8,28.75 L8,42.75" class="letter-color-i-1" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8,71.75 L8,57.75" class="letter-color-i-2" stroke="#F25A5B" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8,28.75 L8,42.75" class="letter-white-i-1" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M8,71.75 L8,57.75" class="letter-white-i-2" stroke="#FFFFFF" stroke-width="15" stroke-linecap="square"></path>
        <path d="M-42,0 L58,0 L58,100 L-42,100 L-42,0 L-42,0 L-42,0 Z M1,22 L1,78.16 L15.4,78.16 L15.4,22 L1,22 L1,22 L1,22 Z" class="letter-mask-i" fill="#D8D8D8"></path>
    </g>
</svg>
