<!-- Transition #1-->
    <div id="next-steps-container" class="active" ng-if='false'>
        <div id="next-steps">
            <div class="next-device">
                <svg class="splash-device-svg" viewBox="0 0 319 652">
                    <path d="M2,42.0005693 C2,19.9088649 19.9096817,2 41.9948462,2 L277.005154,2 C299.093697,2 317,19.9012788 317,42.0005693 L317,609.999431 C317,632.091135 299.090318,650 277.005154,650 L41.9948462,650 C19.9063026,650 2,632.098721 2,609.999431 L2,42.0005693 Z M22,80 L298,80 L298,573 L22,573 L22,80 Z" fill="none" fill-rule="evenodd" stroke="#F0E0D0" stroke-width="3"></path>
                    <circle stroke="#F0E0D0" stroke-width="3" fill="none" cx="159" cy="611" r="25"></circle>
                </svg>
            </div>
            <div class="next-content">
                <div class="next-guru">
                    <div class="splash-logo-guru" ng-include="img_base + 'templates/svg/guru-head.html'"></div>
                    <svg class="coach-next-steps" width="114px" height="98px" viewBox="0 0 228 196">
                         <path d="M48.386161,159.590945 C48.3861609,159.590943 47.5065944,177.922187 23.5796634,188.938294 C63.1658208,201.858782 77.415256,186.935364 86.5812235,178.667782 C146.539697,198.23757 207.421447,176.150125 222.564419,129.334091 C237.707391,82.518058 201.37725,28.7017162 141.418777,9.13192771 C81.4603034,-10.4378608 20.578553,11.6495847 5.43558085,58.4656181 C-6.12740226,94.2137525 12.3218247,134.043527 48.386161,159.590945 L48.386161,159.590945 L48.386161,159.590945 Z" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" opacity="0.9" fill="#40484B"></path>
                         <text transform="translate(113.612466, 96.294134) rotate(20.000000) translate(-113.612466, -96.294134) " font-family="Source Sans Pro" font-size="40" font-weight="normal" line-spacing="40" fill="#FFFFFF">
                              <tspan x="35.612466" y="95.2941336">so what’s</tspan>
                              <tspan x="69.112466" y="135.294134">next?</tspan>
                         </text>
                    </svg>
                </div>
                <ol>
                    <li class="active"><span>Explore by changing categories or universities</span></li>
                    <li><span>Learn more</span></li>
                    <li><span>Start your profile</span></li>
                    <li><span>Try those madlibs again</span></li>
                    <li><span>Refresh that craziness</span></li>
                </ol>
            </div>
        </div>
</div>

<!-- Transition #2 getting started to student dashboard -->
<div class="onboarding-success mo-js-wrapper opacity-0" >
    <div class="mojs-wrapper" mo-js>
        <a mo-js-child></a>
        <div class="guru" ng-include="img_base + 'templates/svg/guru-success.html'"></div>
    </div>
    <h1>Congrats!</h1>
    <h2>Your Account is Ready</h2>
    <button class="btn-ghost-white">Take Me to My Dashboard</button>
</div>
<!-- end transition #2 -->

<!-- Transition #3 Made with Love-->
<footer id="made-with-love" ng-if='false'>
        <div class="mt-footer-bg"></div>
        <div class="mt-footer-mid-back"></div>
        <div class="mt-footer-mid-front"></div>
        <div class="mt-footer-fg"></div>
        <div>
            <ul>
                <li>proudly made&nbsp;with</li>
                <li>
                    <span>
                        <svg viewBox="0 0 100 100">
                            <path d="M30.5307935,20.4928007 C26.3063917,20.4928007 22.0809823,22.1374151 18.849194,25.3409869 C12.383602,31.8055712 12.383602,42.2385939 18.849194,48.6749618 L27.2425724,57.0663247 L49.4146352,79.2948203 C49.7270313,79.5779923 50.2661665,79.5779923 50.5493385,79.2948203 L72.7788419,57.065317 L81.1712125,48.673954 C87.6095958,42.2375862 87.6095958,31.8045635 81.1712125,25.3399792 C74.707636,18.9046191 64.301822,18.9046191 57.83623,25.3399792 L50.0102033,33.1932146 L42.1841765,25.3399792 C38.9523883,22.1374151 34.756203,20.4928007 30.5307935,20.4928007 L30.5307935,20.4928007 L30.5307935,20.4928007 Z"></path>
                        </svg>
                    </span>
                </li>
                <li>by college students</li>
            </ul>
        </div>
    </footer>

<!-- Transition #4 Wanna see something cool? -->
<div>
    <div class="splash-projector-guru splash-logo-guru" activate-on-class="a" class-on-activate="bounceOut:animOut" ng-include="img_base + 'templates/svg/guru-head.html'"></div>
    <div class="splash-projector-message desktop" activate-on-class="a" class-on-activate="bounceOut:animOut" class-on-activate-delay="250">
        <svg viewBox="0 0 1304 354">
            <path d="M2,39.9999987 C2,35.5817214 5.58280463,32 10.0088717,32 L622,32 L652,2 L682,32 L1293.99113,32 C1298.41431,32 1302,35.5800296 1302,39.9999987 L1302,344.000001 C1302,348.418279 1298.41351,352 1293.99365,352 L10.0063476,352 C5.58456393,352 2,348.41997 2,344.000001 L2,39.9999987 Z" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill-opacity="0.5" fill="#40484B"></path>
            <text font-family="Source Sans Pro" font-size="96" font-weight="600" line-spacing="126" fill="#FFFFFF" text-anchor="middle">
                <tspan x="652" y="163">Wanna see something cool?</tspan>
                <tspan x="652" y="289">Check it out.</tspan>
            </text>
        </svg>
    </div>
    <!-- Mobile version -->
    <div class="splash-projector-message mobile" activate-on-class="a" class-on-activate="bounceOut:animOut" class-on-activate-delay="250">
        <svg viewBox="0 0 694 201">
            <path d="M2,161.001505 C2,165.418952 5.57826352,169 10.0035603,169 L317,169 L347,199 L377,169 L683.99644,169 C688.416684,169 692,165.415269 692,161.001505 L692,9.99849542 C692,5.58104838 688.411289,2 683.99733,2 L10.0026704,2 C5.58291758,2 2,5.58473072 2,9.99849542 L2,161.001505 L2,161.001505 Z" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill-opacity="0.5" fill="#40484B"></path>
            <text font-family="Source Sans Pro" font-size="48" font-weight="600" line-spacing="64" fill="#FFFFFF" text-anchor="middle">
                <tspan x="347" y="68">Wanna see something cool?</tspan>
                <tspan x="347" y="132">Check it out.</tspan>
            </text>
        </svg>
    </div>
    <!-- End mobile version -->
</div>
<!-- end -->

<!-- Transition #5: Projector Pulldown -->
    <div id='projector-pull-down-container' ng-if='false'>
        <a name="back-to-scene-one" id='splash-up-link' class="splash-up-circle"  class-on-clear="fadeOutUp:animOut, opacity-0" class-on-activate="fadeInDown:anim" class-on-activate-delay="1250" ng-show='projectorPullActivated || singleProjectorActivated' ng-click='closeSingleProjector()' ng-include="img_base + 'templates/svg/main/up-circle.html'"></a>
        <a class="splash-up-circle" ng-if='page.swipers.main.slides.length <= 1' ng-click='closeSingleProjector()' ng-include="img_base + 'templates/svg/main/up-circle.html'"></a>
        <div class="projector-trigger animated opacity-0 activate" activate-on-class="a" class-on-activate="bounceOutDown:animOut" class-on-activate-delay="750" >
            <a id="projector-pull" ng-click='activateProjectorPull();' class-on-click="a:inject.header-swipers|a, a:inject.projector-trigger|a, a:inject.splash-projector-message.desktop|a, a:inject.splash-projector-message.mobile|a, a:inject.splash-projector-guru|a, a:inject.splash-projector-footer.center|a, a:inject.splash-projector-footer.right|a" class-on-activate="a:inject.header-swipers|a, a:inject.projector-trigger|a, a:inject.splash-projector-message.desktop|a, a:inject.splash-projector-message.mobile|a, a:inject.splash-projector-guru|a, a:inject.splash-projector-footer.center|a, a:inject.splash-projector-footer.right|a">
                <svg width="28px" height="224px" viewBox="0 0 56 448">
                    <g stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M28,2 L28,392" fill="none" stroke-width="4" stroke-dasharray="16,14" opacity="0.6"></path>
                        <path d="M28,444 C41.254834,444 52,433.254834 52,420 C52,406.745166 41.254834,396 28,396 C14.745166,396 4,406.745166 4,420 C4,433.254834 14.745166,444 28,444 Z" stroke-opacity="0.6" stroke-width="8" fill="#FFFFFF"></path>
                    </g>
                </svg>
            </a>
            <svg class="coach-projector" viewBox="0 0 205 72">
                <path d="M126.402476,34.2902799 C126.402476,34.2902799 41.4492178,1.17968707 3.56286124,62.6500409 M29.8097207,61.5428392 L3.63890408,62.9143936 L2.26734969,36.7435769" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                <text transform="translate(171.576620, 28.576620) rotate(7.000000) translate(-171.576620, -28.576620)" font-family="Source Sans Pro" font-size="40" font-weight="normal" line-spacing="40" fill="#FFFFFF">
                    <tspan x="139.17662" y="27.5766198">pull</tspan>
                    <tspan x="139.07662" y="67.5766198">me!</tspan>
                </text>
            </svg>
        </div>

</div>