<ion-view ng-controller="DevToolsController as bldr">
    <div id="build">
        <main ng-class="{'full-x': settings.hideUIEditor }">
            <nav class="build-main-top">
                <div class='relative left-0 top-0 full-y' style='margin-left:15px;max-height:50px; max-width:50px;'>
                    <user-icon class='p20xy' style='height:50px; width:50px;' url="user.profile_url"> </user-icon>
                </div>
                <div class='absolute left-0' style='margin-left:70px;'>
                    <h1>{{user.name.split(' ')[0]}}'s Animation</h1>
                </div>
                <div>
                    <div ng-if="false">
						<h2>Drag</h2>
						<div class="toggle small">
							<input type="checkbox" checked />
							<label>
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
								<svg class="square" viewBox="0 0 100 100">
									<rect x="0" y="0" width="100" height="100"></rect>
								</svg>
							</label>
						</div>
					</div>
                    <dropdown ng-model="page.dropdowns.fileOptions"></dropdown>
                    <div>
                        <h2>Scene</h2>
                        <dropdown ng-if="page.dropdowns.templates" ng-model="page.dropdowns.templates"></dropdown>
                    </div>
                    <dropdown ng-model="page.dropdowns.screenSizeOptions"></dropdown>
                    <a ng-click='settings.activated = !settings.activated;' class="build-main-settings" ng-include="img_base + BASE + 'templates/svg/main/settings.html'"></a>
                </div>
            </nav>

            <div class="build-player bg-charcoal">
                <!-- <div class='build-player-container'>
                    <h1 class='uppercase weight-700 txt-charcoal'>
                        Loading ....
                    </h1>
                </div> -->
            </div>

            <nav class="build-main-bottom" ng-if="false">
                <div class="build-search-results active">
                    <ul>
                        <li ng-repeat="component in page.components">


                            <span class='weight-700'>
                                MY ACTION ITEMS
                            </span>
                            <a>#{{component.ref}}</a>

                        </li>
                        <li><a>{{component.ref}}</a></li>
                        <li><a>checkbox</a></li>
                        <li><a>profile card</a></li>
                        <li><a>dropdown</a></li>
                        <li><a>tile group</a></li>
                        <li><a>checkbox</a></li>
                        <li><a>profile card</a></li>
                        <li><a>dropdown</a></li>
                        <li><a>tile group</a></li>
                        <li><a>checkbox</a></li>
                        <li><a>profile card</a></li>
                        <li><a>dropdown</a></li>
                        <li><a>tile group</a></li>
                        <li><a>checkbox</a></li>
                        <li><a>profile card</a></li>
                    </ul>
                </div>
                <label for="build-search" ng-include="img_base + BASE + 'templates/svg/main/search.html'"></label>
                <input id="build-search" type="text" placeholder="Add component"/>
            </nav>
        </main>
        <aside class='settings relative' ng-if='settings.activated'>
            <div class='absolute full-xy bg-charcoal'>
                <ul class='bg-shamrock weight-700 txt-center flex-wrap-center'>
                    <li class='full-x p20xy txt-7'><a ng-click="clearCache()">Settings</a></li>
                </ul>
                <ul class='full-x flex-wrap-center ugrid'>

                    <li class='full-x p20xy'><a ng-click="clearCache()">Clear Cache</a></li>
                    <li class='full-x p20xy'><a ng-click="settings.hideUIEditor = !settings.hideUIEditor">Toggle UI Builder</a></li>
                </ul>
            </div>
        </aside>
        <aside ng-if='!settings.activated && !settings.hideUIEditor'>
            <nav class="build-aside-top">
                <ul ng-if='current_states && current_states.states.length && !settings.activated'>
                    <li ng-click='swapInteractiveState($index)' ng-class="{'bg-shamrock': $index === current_states.selectedIndex}" ng-repeat='interactive_state in current_states.states'><a>{{$index + 1}}</a></li>
                </ul>
            </nav>

            <div class='build-element-list animation'>
                <div class='fixed bg-slate-90p top-0 right-0 expanded flex-wrap-center flex-stretch' ng-show="selectPropertyActivated">
                    <a class='absolute weight-700 high-index-z bg-charcoal txt-5 p20xy txt-white right-0 m10xy top-0' ng-click='toggleClassProperties()'>Close</a>
                    <ul class="flex-wrap-start p15-grid full-x bg-charcoal-50p">
                        <li class='flex-wrap-center full-x p20xy txt-7 txt-white text-center'>
                            Common CSS Properties
                        </li>
                        <li ng-repeat='property in properties.common_css_styles |limitTo:100 track by $index'>
                            <button ng-click='component_selected.confirmPropertyField(component_selected, time_state_selected, property, "css_text")' class='txt-1 bg-moxie normal height-36 radius-2'>{{property}}</button>
                        </li>
                    </ul>
                    <ul class="flex-wrap-start p15-grid full-x">
                        <li class='flex-wrap-center full-x p20xy txt-7 txt-white text-center'>
                            Supported Animation Classes
                        </li>
                        <li ng-repeat='property in properties.supported_animations | limitTo:100 track by $index'>
                            <button ng-click='component_selected.confirmPropertyField(component_selected, time_state_selected, property, "css_animation" )' class='txt-1 bg-moxie normal height-36 radius-2'>{{property}}</button>
                        </li>
                    </ul>
                    <ul class="flex-wrap-start p15-grid full-x bg-charcoal-50p">
                        <li class='flex-wrap-center full-x p20xy txt-7 txt-white text-center'>
                            Supported Regular CSS Classes
                        </li>
                        <li ng-repeat='property in properties.supported_classes | limitTo:100 track by $index'>
                            <button ng-click='component_selected.confirmPropertyField(component_selected, time_state_selected, property, "css_class")' class='txt-1 bg-moxie normal height-36 radius-2'>{{property}}</button>
                        </li>
                    </ul>
                </div>
                <ul ng-repeat='current_state in current_states.states' ng-show="current_states.selectedIndex === $index" style='padding:0px;'>
                    <li class='ugrid-2 full-x flex-wrap'>
                        <div style='width:50%;' class='p20x text-left uppercase bg-moxie txt-white weight-600'>State #{{current_states.selectedIndex + 1}}:{{current_states.states[current_states.selectedIndex].name}}</div>
                        <div class='relative' style='width:50%;'>
                            <dropdown class='absolute full-xy text-center right-0 top-0' ng-model="page.dropdowns.filterOptions"></dropdown>
                        </div>
                    </li>
                    <li ng-if='current_state.gestures && current_state.gestures.length'>
                        <div class='full-x txt-center uppercase bg-moxie-50p p15x txt-white weight-600'>State gestures: {{current_state.gestures}}</div>
                    </li>

                    <!--Timeline-->

                    <li class='bg-smoke 15xy' ng-repeat='time_state in current_state.timeline' ng-if='!page.dropdowns.filterOptions.selectedIndex'>
                        <span>{{$index + 1}}</span>
                        <div class='relative'>
                            <h1><a ng-click='editTimeStateTime(time_state)'> <span class="lowercase weight-900"> t = {{ time_state.time || time_state.components[0].time_states[0].time}}<span class='weight-300' ng-if='time_state.time !== "init" && time_state.time !== "new"'>ms</span></span></a></h1>
                            <a ng-click='time_state.collapsed = !time_state.collapsed' ng-class="{'collapse': !component.collapsed}" ng-include="img_base + BASE + 'templates/svg/main/down.html'"></a>
                            <a class='relative full-y bg-charcoal bg-charcoal-50p txt-5' ng-click='removeTimeState($index)'>x</a>
                        </div>
                        <div class="relative bg-charcoal ugrid-3" ng-show='!time_state.collapsed'>
                            <!-- <h1 class='p20xy full-x txt-3 uppercase weight-400'> # Components: {{time_state.components.length}}  </h1> -->
                            <ul class='time-state-component-bar p20xy bg-charcoal' style='max-height:100px;'>

                            </ul>
                            <ul class="ugrid-2 build-css-header" ng-show='!component.collapsed'>
                                <li>Property</li>
                                <li>Value</li>
                            </ul>
                            <ul class='full-x'>
                                <li ng-repeat='component in time_state.components' class='full-x'>
                                    <ul class="build-css-list full-x" ng-show='!component.collapsed' >
                                        <li class='ugrid-2 init full-x relative' ng-if='component.init_time_state && component.init_time_state.time < 0'>
                                            <div style='width:50%;' class='relative flex-wrap flex-wrap-center'>
                                                <div class='full-x p10x m05y bg-slate p05y lowercase weight-600 text-center' ng-repeat='property in component.init_time_state.properties'>{{property.name}}</div>
                                            </div>
                                            <div class='relative' style="width:50%;">
                                                <div class='full-x relative' ng-repeat='property in component.init_time_state.properties'>
                                                    <input class="radius-2 m05top" style='width:80%' placeholder="value" ng-model="property.value"/>
                                                    <a class='absolute right-0 top-0 txt-5 p10xy' style='width:15%;' class='relative' ng-click='component.removePropertyField(component, component.init_time_state, $index)'>&times;</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-if='component.time_states && component.time_states.length' ng-repeat='nested_time_state in component.time_states track by $index' ng-if='nested_time_state === time_state'>
                                            <div>

                                                <span class="radius-2" ng-repeat='property in time_state.properties' ng-if='property.type === "css_text"'>
                                                    {{property.name}}
                                                    <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                                </span>
                                                <span ng-repeat='property in time_state.properties' class="build-class radius-2" ng-if='property.type === "css_class"'>
                                                    .{{property.name}}
                                                    <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                                </span>
                                                <span ng-repeat='property in time_state.properties' class="build-class radius-2" ng-if='property.type === "css_animation"'>
                                                    {{property.name}}
                                                    <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="radius-2" ng-repeat='property in time_state.properties' ng-if='property.type === "css_text"'>{{property.value}}</span>
                                                <span ng-repeat='property in time_state.properties' class="radius-2 opacity-50" ng-if='property.type === "css_class"'>{{property.value}}</span>
                                                <dropdown ng-if='property.type === "css_animation"' ng-repeat="property in time_state.properties" ng-model="property.value"> </dropdown>
                                            </div>
                                            <div>
                                                <a ng-repeat='property in time_state.properties' ng-click='component.removePropertyField(component, time_state, $index, $parent.$index)'>&times;</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="radius-2" ng-repeat='property in component.empty_time_state.properties'>{{property.name || 'sample property'}}</span>
                                                <button class="bg-campus" ng-click='component.addPropertyField(component, component.empty_time_state)'>+ Add</button>
                                            </div>
                                            <div class='empty-state-values'>
                                                <span class='relative' ng-repeat='property in component.empty_time_state.properties' class='radius-2 bg-charcoal'>
                                                    <input ng-keyup="($event.keyCode === 13 || $event.keyCode === 9) && inputAddSaveProperty($event.keyCode, component)" class="radius-2 {{component.selector}}-empty-input {{component.selector}}-empty-input-{{$index}} absolute full-xy top-0 left-0" placeholder="value plz" ng-model="property.value" ng-if='property.type === "css_text"'/>
                                                    <span ng-if='property.type === "css_class"'> NA </span>
                                                    <dropdown ng-model="property.value" ng-if='property.type === "css_animation"'> </dropdown>
                                                </span>
                                            </div>
                                            <div>
                                                <a  ng-click='component.removePropertyField(component, component.empty_time_state, $index, $parent.$index, true)' ng-repeat='property in component.empty_time_state.properties'>&times;</a>
                                            </div>
                                            <div class="full-x">
                                                <button class='bg-moxie height-36 txt-20 radius-2' ng-click='component.addTimeState(component, component.empty_time_state)'>Save and add another</button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <a ng-if='!time_state.expand' class='txt-1 high-z-index absolute bottom-0 left-0 m05xy weight-300 opacity-50' ng-click='time_state.expand = true;'>Expand</a>
                            <a ng-if='time_state.expand' class='txt-1 high-z-index absolute bottom-0 left-0 m05xy weight-300 opacity-50' ng-click='time_state.expand = false;'>Reduce</a>
                            <a ng-click='playOneTime(time_state)' class='high-z-index m05xy right-0 bottom-0 absolute'>&rtrif;</a>
                        </div>
                    </li>

                    <!--end timeline-->

                    <li class='15xy' ng-repeat='component in current_state.components' ng-if='page.dropdowns.filterOptions.selectedIndex'>
                        <span>{{$index + 1}}</span>
                        <div class='relative'>
							<h1><span class="lowercase">{{ component._id || component._class || component.name}}</span></h1>
                             <!-- &rarr; <span class="opacity-50">{{component.selector}}</span> -->
                             <!-- Activate component vars-->
                            <span class='build-activate txt-1' style='max-width:50px; height:100% bg-cerise'>
                                Component
                            </span>

                             <a class="build-activate opacity-50" ng-click='component.active = !component.active' ng-if='!component.active'>off</a>
                             <a class="build-activate" ng-click='component.active = !component.active' ng-if='component.active'>on</a>
                            <!-- Collapse component vars-->
                            <a ng-click='component.collapsed = !component.collapsed' ng-class="{'collapse': !component.collapsed}" ng-include="img_base + BASE + 'templates/svg/main/down.html'"></a>
						</div>
                        <div class="relative" ng-show='!component.collapsed' ng-class="{'opacity-50': !component.active}">
                            <div class='component-inject overflow-hidden' ng-class="{'height-300': component.expand}"></div>
                            <a ng-if='!component.expand' class='txt-1 high-z-index absolute bottom-0 left-0 m05xy weight-300 opacity-50' ng-click='component.expand = true;'>Expand</a>
                            <a ng-if='component.expand' class='txt-1 high-z-index absolute bottom-0 left-0 m05xy weight-300 opacity-50' ng-click='component.expand = false;'>Reduce</a>
                            <a ng-click='playOneComponent(component)' class='high-z-index m05xy right-0 bottom-0 absolute'>&rtrif;</a>
                        </div>
                        <ul class="build-css-header" ng-show='!component.collapsed' ng-class="{'opacity-50': !component.active}">
                            <li>Time</li>
                            <li>Property</li>
                            <li>Value</li>
                        </ul>
                        <ul class="build-css-list" ng-show='!component.collapsed' ng-class="{'opacity-50': !component.active}">
                            <li class='init' ng-if='component.init_time_state && component.init_time_state.time < 0'>
                                <div class='relative ugrid-2'>
                                    <span class="radius-2-left">@T</span><span class="radius-2-right">INIT</span>
                                </div>
                                <div>
                                    <span ng-repeat='property in component.init_time_state.properties'>{{property.name}}</span>
                                </div>
                                <div class='flex-wrap relative flex-start'>
                                    <input class="radius-2" ng-repeat='property in component.init_time_state.properties' placeholder="value" ng-model="property.value"/>
                                </div>
                                <div>
                                    <a ng-repeat='property in component.init_time_state.properties' ng-click='component.removePropertyField(component, component.init_time_state, $index)'>&times;</a>
                                </div>
                            </li>
                            <li ng-if='component.time_states && component.time_states.length' ng-repeat='time_state in component.time_states track by $index'>
                                <div><span class="radius-2-left">@T</span><span class="radius-2-right">{{time_state.time}}</span></div>
                                <div>

                                    <span class="radius-2" ng-repeat='property in time_state.properties' ng-if='property.type === "css_text"'>
                                        {{property.name}}
                                        <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                    </span>
                                    <span ng-repeat='property in time_state.properties' class="build-class radius-2" ng-if='property.type === "css_class"'>
                                        .{{property.name}}
                                        <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                    </span>
                                    <span ng-repeat='property in time_state.properties' class="build-class radius-2" ng-if='property.type === "css_animation"'>
                                        {{property.name}}
                                        <span class='opacity-50'> &nbsp;&nbsp;&nbsp;[{{property.type.replace('css_','')}}] </span>
                                    </span>
                                </div>
                                <div>
                                    <span class="radius-2" ng-repeat='property in time_state.properties' ng-if='property.type === "css_text"'>{{property.value}}</span>
                                    <span ng-repeat='property in time_state.properties' class="radius-2 opacity-50" ng-if='property.type === "css_class"'>{{property.value}}</span>
                                    <dropdown ng-if='property.type === "css_animation"' ng-repeat="property in time_state.properties" ng-model="property.value"> </dropdown>
                                </div>
                                <div>
                                    <a ng-repeat='property in time_state.properties' ng-click='component.removePropertyField(component, time_state, $index, $parent.$index)'>&times;</a>
                                </div>
                            </li>
                            <li>
                                <div><span class="radius-2-left">@T</span><input class="radius-2-right" type="tel" ng-model="component.empty_time_state.time" placeholder="time"/></div>
                                <div>
                                    <span class="radius-2" ng-repeat='property in component.empty_time_state.properties'>{{property.name || 'sample property'}}</span>
                                    <button class="bg-campus" ng-click='component.addPropertyField(component, component.empty_time_state)'>+ Add</button>
                                </div>
                                <div class='empty-state-values'>
                                    <span class='relative' ng-repeat='property in component.empty_time_state.properties' class='radius-2 bg-charcoal'>
                                        <input ng-keyup="($event.keyCode === 13 || $event.keyCode === 9) && inputAddSaveProperty($event.keyCode, component)" class="radius-2 {{component.selector}}-empty-input {{component.selector}}-empty-input-{{$index}} absolute full-xy top-0 left-0" placeholder="value plz" ng-model="property.value" ng-if='property.type === "css_text"'/>
                                        <span ng-if='property.type === "css_class"'> NA </span>
                                        <dropdown ng-model="property.value" ng-if='property.type === "css_animation"'> </dropdown>
                                    </span>





                                </div>
                                <div>
                                    <a  ng-click='component.removePropertyField(component, component.empty_time_state, $index, $parent.$index, true)' ng-repeat='property in component.empty_time_state.properties'>&times;</a>
                                </div>
                                <div class="full-x">
                                    <button class='bg-moxie height-36 txt-20 radius-2' ng-click='component.addTimeState(component, component.empty_time_state)'>Save and add another</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <nav class="build-aside-bottom">
                <ul>
                    <li><a class="build-add-element" ng-hide-"!page.toggles.add_component" ng-include="img_base + BASE + 'templates/svg/main/plus.html'" ng-click="addNewTimeState()"></a></li>
                    <li><a ng-include="img_base + BASE + 'templates/svg/main/arrow.html'"></a></li>
                    <li><a ng-click='playStateComponents(current_states.states[current_states.selectedIndex].components)' ng-include="img_base + BASE + 'templates/svg/main/play.html'"></a></li>
                    <li><a ng-include="img_base + BASE + 'templates/svg/main/arrow.html'"></a></li>
                    <li><a class="bg bg-moxie" ng-include="img_base + BASE + 'templates/svg/main/save.html'" ng-click='saveCurrentStatesToLocalStorage()'></a></li>
                    <li><a ng-click='refreshAllComponents()' class="opacity-50" ng-include="img_base + BASE + 'templates/svg/main/switch.html'"></a></li>
                </ul>
            </nav>
        </aside>
    </div>
</ion-view>