<ion-modal-view ng-controller="RatingsController" hide-nav-bar ='true' class='ratings-modal ratings-background'>
  <ion-content class='white-text' scroll='false' style='margin-top:20px;'>
      <ion-scroll style='height:100%;'>
      <div class='pure-g-c flex-column flex-space-between'>
        <div class='padding-2em flex-item-c j-start center'>
          <h1 class='sans-bold center'>
            Session<br>Completed!
          </h1>
          <p>
            {{pending_rating.transaction.time_created}}
          </p>
        </div>
        <div class='padding-2em flex-item-c center'>
          <div class='pure-u-1'>
              <h1 style='font-size:400%' class='white-text'><span class="bucks sans-light">$</span><span class='sans-bold'>{{pending_rating.session.guru.current_hourly * (pending_rating.session.hours + (pending_rating.session.minutes / 60.0))}</span>
              </h1>
          </div>
        </div>
        <div class='padding-2em pure-g center'>
          <div class='pure-u-1'>
            <div class='pure-g'>
              <div class='pure-u-1-8'>
              </div>
              <div class='pure-u-3-4 margin-1em'>

                <div class='item item-avatar-left transparent-background no-border white-text align-left'>
                  <img src='{{pending_rating.request.student.profile_url}}' class='pure-img'/>
                  <span class='sans-regular'>
                    {{pending_rating.guru.name.split(" ")[0]}}
                  </span>
                  <p>{{pending_rating.request.course.short_name}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class='pure-u-1'>
            <div class='pure-g'>
              <div class="pure-u-1-5"><span ng-click="starClicked($event)" value="1" class="icon ion-star ion-star-rating" id="starOne"></span></div>
              <div class="pure-u-1-5"><span ng-click="starClicked($event)" value="2"  class="icon ion-star ion-star-rating" id="starTwo"></span></div>
              <div class="pure-u-1-5"><span ng-click="starClicked($event)" value="3"  class="icon ion-star ion-star-rating" id="starThree"></span></div>
              <div class="pure-u-1-5"><span ng-click="starClicked($event)" value="4"  class="icon ion-star ion-star-rating" id="starFour"></span></div>
              <div class="pure-u-1-5"><span ng-click="starClicked($event)" value="5" class="icon ion-star ion-star-rating" id="starFive"></span></div>
            </div>
          </div>
          <div class='pure-u-1' ng-show='!starsSelected'> </div>
          <div class='pure-u-1'>
            <button class='button button-full button-positive-outline' style='width:100%;' ng-show='!starsSelected'>
              Submit
            </button>

            <button class='button button-full button-blue' style='width:100%;'  ng-click='submitRatingToServer()' ng-show='starsSelected'>
              Submit
            </button>

          </div>
        </div>
      </div>
    </ion-scroll>
    </ion-content>


</ion-modal-view>