<ion-modal-view class='uguru-view bg-white'>
    <section id="skill-list" class="onboarding" on-drag-down="onDragDown()" on-swipe-down="onSwipeDown()">
        <header class="header-back">
            <div class="header-nav">
				<a class="header-down">
					<svg viewBox="0 0 100 100">
						<path d="M14,32 L50,68 L86,32"></path>
					</svg>
				</a>
            </div>
            <h1 class="text-center">Baking</h1>
        </header>
        <div id="skills-list" class="onboarding-list">
            <div>
                <ion-scroll>
                    <ul>
                        <li>
                            <span>
                                <label>Brownies</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Cupcakes</label>
                                <input type="checkbox" checked/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Macarons</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li class="active">
                            <span>
                                <label>Flourless Cake</label>
                                <input type="checkbox" checked/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Bread</label>
                                <input type="checkbox" checked/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Scones</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Nutella Buns</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Muffins</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Pie</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label>Creme Caramel</label>
                                <input type="checkbox"/><span></span>
                            </span>
                        </li>
                    </ul>
                </ion-scroll>
            </div>
        </div>
    </section>
</ion-modal-view>