<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="static/images/favicon.ico">
	<link rel="stylesheet" href="static/css/style.css">

	<title>GPA Guru</title>

</head>
<body>

<div id="edit-sc" class="gpa-sc edit-sc">
	<header class="header-btn">
		<ul>
			<li class="padding-15-left">
				<a href="gpa.html">Cancel</a>
			</li>
			<li>
				<h1 class="text-center">Edit a course</h1>
			</li>
			<li class="padding-15-right">
				<a href="gpa.html">Save</a>
			</li>
		</ul>
	</header>
	<div class="gpa-sc-content">
		<ul class="add-sc-list">
			<!-- Values and selected options should have the information already -->
			<li class="padding-15-xy">
				<input type="text" placeholder="Enter a Course" value="CS 61A"/>
			</li>
			<li class="padding-15-xy">
				<select class="text-center">
					<option selected>A</option>
					<option>B</option>
					<option>C</option>
					<option>D</option>
					<option>F</option>
				</select>
				<label>Select a grade</label>
			</li>
			<li class="padding-15-xy">
				<select class="text-center">
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<label>Number of credits</label>
			</li>
		</ul>
	</div>
	<button class="btn-bold">Remove Course</button>
</div>

</body>
</html>