/*Components setup */

body {
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

p {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:1.00em;
  color:#484748;
}

input {
  outline:none;
}

h1, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

.left {
  text-align:left;
}

.mobile-dropdown {
  display:none;
}

.right {
  text-align:right;
}

#powered-by-cal {
  margin-left:-7px;
}

.blue-btn {
  padding:8px 20px;
  background-color:#27ACE3;
  color:white;
  border-color:#27ACE3;
}

.blue-btn.clickable {
  border-bottom:4px solid #227489;
}

.blue-btn-extra {
  padding:8px 50px;
}

.blue-btn-full {
  padding:8px auto;
  width:100%;
  display:block;
  text-align:center;
}

.large-blue-btn {
  padding:12px 30px;
  background-color:#27ACE3;
  color:white;
  border-color:#27ACE3;
  font-size:1.25em;
}

.tutor-exp-tag {
  background-color:#5EBB47;
  padding:5px 16px;
  color:white;
  margin-right:5px;
}

.tutor-app-course-tag {
  background-color:#5EBB47;
  padding:5px 16px;
  color:white;;
  margin-right:5px; 
  margin-bottom:10px;
  display:inline-block;
}

.tutor-profile-course-tag {
  background-color:#5EBB47;
  padding:5px 16px;
  color:white;;
  margin-right:5px; 
  margin-top:10px;
  display:inline-block;
}

.tutor-profile-course-tag a {
  color:white;
}


.large-fb-blue-btn {
  padding:12px 30px;
  background-color:#3b5998;
  border-color:#3b5998;
  color:white;
  font-size:1.25em;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
  outline:none;
}

.text-banner {
  background-color:#27ACE3;
  font-size:80px;
  color:white;
  padding:35px;
  text-align:center;
  position:relative;
}

.become-guru-nav {
  position:relative;
}

.navbar-app {
  padding-left:60px;
}

#request-form {
  display:none;
}

.footer {
  background-color:#27ACE3;
  font-size:16px;
  color:white;
  padding:15px;
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:100;
}

.noti_bubble {
  position: absolute;
  top: 45px;
  right: 0px;
  padding: 1px 8px 1px 8px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 0.6em;
  border-radius: 50px;
  /*box-shadow: 2px 2px 2px gray;*/
}

.noti_bubble.message {
  font-size:14px;
  top:10px;
  right:10px;
}

#activity #request-skill {
  width:100%;
}

#tutor-request .twitter-typeahead {
  display:block !important;
}

.bold {
  font-weight:bold;
}

.italic {
  font-style:italic;
}

.notification {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  padding: 12px 20px 4px 6px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  background-color: #ffffff;
  text-align: left;
  white-space: wrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-bottom: 1px solid grey;
  position:relative;
}

a .notification:hover {
  text-decoration:none !important;
}

.notification-time {
  position:absolute;
  top:17px;
  right:10px;
}

.notification-title {
  position:absolute;
  top:15px;
  left:80px;
}

.notification-subtitle {
  position:absolute;
  bottom:15px;
  left:80px;
}

.notification-expire {
  position:absolute;
  bottom:10px;
  right:10px;
}

.notification h5 {
  color:#484748;
}

.login-input-container {
  margin:10px 60px;
  text-align:left;
  font-weight:normal;
}

.password-input-container {
  margin:10px 60px;
  text-align:left;
  font-weight:normal;
}

.login-input-container label {
  font-weight:normal;
  color: #484748;
}

.password-input-container label {
  font-weight:normal;
  color: #484748;
}

.reg-text {
  color:#484748 !important;
}

.login-input-container input {
  border-color:grey;
}

input {
  border:1px solid black;
  border-radius:1px;
}

.user-photo {
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  width:70px;
  height:70px;
  border-radius:16px;
}

#request-form .navbar-default .navbar-nav > li > a {
  color: #484748;
  padding-top: 30px;
}

#tutor-application-form .navbar-default .navbar-nav > li > a {
  color: #484748;
  padding-top: 30px;
}

.new-notification {
  margin-top:20px;
  display:block;
  height:80px;
  position:relative;
  border-bottom:1px solid #484748;
}

#forgot-password-modal-container {
  display:none;
}

.notification-picture {
  position:absolute;
  left:10px;
  top:10px;
}

.notification-content {
  padding-left:80px;
  padding-top:1px;
  position:relative;
}

.notification-picture img {
  height:60px;
  width:60px;
  border-radius:4px;
}

.new-notification.unread {
  background-color:#BDE5F6;
  box-shadow: 3px 3px 1px #888888;
}

#message-list {
  padding:60px;
}

#main-banner-header {
  font-size:36px;
}

.navbar-default.navbar-main {
  color:black!important;
}

/*Bootstrap Overrides*/
.navbar-default {
  background-color:transparent;
  border-color:transparent;
  color:white !important;
}

.navbar-default.navbar-black {
  background-color:#424341;
  margin-bottom:0px;
  border-radius:0px !important;
}

.dropdown-menu {
  width:100%;
  color:#484747;
}

.dropdown-menu.settings-dropdown {
  min-width:120px;
}

#settings-nav {
  outline:none;
}

.settings-container, .profile-container {
  padding:40px;
  color:#484747;
}

.settings-container h1 {
  text-align:center;
}

.dropdown-menu.settings-dropdown {
  margin-top:2px !important;
  border:2px solid #27ACE3;
}

.settings-dropdown li a:hover {
  background-color:#27ACE3;
  color:white;
}

.settings-dropdown li {
  padding:0px!important;
}

.reset-password-btn {
  position: absolute;
  right: 0px;
  top: 6px;
}

/*Placeholder align to right*/
#tutor-app-school-email::-webkit-input-placeholder { 
  text-align:right; 
}

#tutor-app-school-email::-moz-placeholder#tutor-app-school-email { 
  text-align:right; 
}

.caret {
  border-top:11px solid #484748;
  border-right:11px solid transparent;
  border-left:11px solid transparent;
}
.dropdown .btn.btn-default.dropdown-toggle {
  width: 100%;
  text-align: right;
  border-color: #484748;
  border-radius: 0px
}
.modal-content {
  border:2px solid #27ACE3;
}

.navbar-default .container-fluid {
  padding:0px 30px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top:33px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.background-grey {
  background-color:#424341;;
}

.navbar-main {
  border-bottom:2px solid #27ACE3;
}

.navbar-photo {
  border-radius:8px;
  height:50px;
  margin-top:-10px;
}

.standard-input {
  border:1px solid #484748;
  border-radius:1px;
}

.standard-input.no-border {
  border:0px;
  border-radius:1px; 
}

.standard-input.grey-border {
  border:1px solid grey;
  border-radius:1px; 
}

.standard-textarea {
  border:1px solid #484748;
  border-radius:1px; 
}

.extra-detail-container {
  margin-top:100px;
  padding-left:40px;
  width:250px;
}

.request-textarea {
  height:80px!important;
}

.guru-app-textarea {
  height:120px!important;
}

.guru-request-reply-textarea {
  height:80px !important;
}

.extra-detail-tutor-pic {
  border-radius:4px;
  margin-right:5px;
  height:50px;
  margin-bottom:5px;
}

.tutor-app-photo-container {
  position:relative;
}

.tutor-details-request {
  height:160px;
}

.pointer {
  cursor:pointer;
}

.request-details-attribute-container {
  position:relative;
  height:200px;
}

.tutor-app-photo-container img {
  border-radius:8px;
}

#request-details-photo {
  border-radius:16px;
}

.photo-upload-btn {
  position:absolute;
  left:90px;
  top:43px;
}

.guru-profile-attributes {
  position:absolute;
  left:180px;
  top:0px;
}

#courses-tutor-input {
  width:100%;
  display:inline-block;
}

#courses-profile-input {
  display:inline-block;
}

.guru-form-course-container .twitter-typeahead {
  top:-14px;
}

.guru-profile-course-container {
  top:0px;
  position:relative;
}

.guru-profile-course-container .twitter-typeahead {
  width:80%;
}

.remove-skill-tutor-app {
  color:white;
  text-decoration:none;
}

.remove-skill-tutor-app:hover {
  text-decoration:none;
  color:white;
}

.message-sender, .message-receiver {
  position:relative;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:10px;
}

#upload-photo {
  display:none;
}

.underline {
  text-decoration: underline;
}



.message-sender-name {
  left:30px;
  bottom:-18px;
  position:absolute;
  font-size:12px;
}

.message-receiver-name {
  right:42px;
  bottom:-18px;
  position:absolute;
  font-size:12px;
}

.message-sender-pic {
  border-radius:4px;
  height:50px;
  width:50px;
  position:absolute;
  left:25px;
  top:5px;
}

.message-send-box {
  padding:20px 5px 20px 0px;
  border-top:1px solid #484747;
}

.message-send-btn {
  height:30px;
  margin-left:15px;
}

.margin-left {
  margin-left:5px;
}

.message-send-box-container {
  padding:10px;
}

.message-send-box input {
  padding:5px;
  width:90%;
}

.message-receiver-pic {
  border-radius:4px;
  height:50px;
  width:50px;
  position:absolute;
  right:25px;
  top:5px;
}

.message-sender-content-container {
  margin-left:120px;
  margin-right:80px;
  text-align:left;
}

.message-receiver-content-container {
  margin-right:120px;
  margin-left:80px;
  text-align:right;
}

.message-sender-timestamp {
  bottom:0px;
  right:25px;
  position:absolute;
}

.message-receiver-timestamp {
  bottom:0px;
  left:25px;
  position:absolute;
}

#add-course-btn-span {
  position:absolute;
  /*top:5px;*/
  font-size:30px;
}

.guru-form-course-container {
  position:relative;
}

textarea {
  resize:none;
}

#credit-modal .modal-dialog {
  margin-top:25%;
}

.navbar-right-main li {
  padding:0px 10px;
}

.navbar-right-main .glyphicon {
  font-size:20px;
}

.navbar-right {
  position:relative;
}

.request-container, .guru-app-container {
  padding:15px 15px 70px 15px;
}

#request-calendar-toggle:hover {
  text-decoration:none;
}

#edit-price-container {
  display:none;
}

.request-form-container, .guru-app-form-container, .notification-container {
  padding:0px 25px;
}

.request-form-container label{
  font-weight:normal;
  margin-top:12px;
  color:#484748;
}

#request-main-slider, #edit-price-slider {
  margin-top:15px;
  display:inline-block;
  width:80%;
}

#request-main-slider-val, #edit-price-slider-val {
  padding-left:15px;
}

.no-margin {
  margin:0;
}

.blue-text {
  color:#2CAEE1;
}

.red-text {
  color:red;
}

.black-text {
  color:black;
}

.white-text {
  color:white;
}

#profile-dropdown-selected {
  text-align:left;
  position:absolute;
  left:10px;
}

.green-text {
  color:green;
}

.normal-text {
  font-weight:normal;
}

.thin-text {
  font-weight:100;
}

.calendar-img {
  margin-bottom:7px;
}
.green-text {
  color:#5EBB47
}

#upload-photo-saved {
  position: absolute;
  top: 20px;
  left: 110px;
  display:none;
}

.margin-top-5 {
  margin-top:5px;
}

.margin-top-10 {
  margin-top:10px;
}

.margin-top-15 {
  margin-top:15px;
}

.margin-top-20 {
  margin-top:20px;
}

.margin-top-30 {
  margin-top:30px;
}

.margin-top-40 {
  margin-top:40px;
}

.margin-top-60 {
  margin-top:60px;
}

.margin-bottom-10 {
  margin-bottom:15px;
}

.margin-bottom-15 {
  margin-bottom:15px;
}

.margin-bottom-20 {
  margin-bottom:20px;
}

.margin-bottom-30 {
  margin-bottom:30px;
}

.margin-bottom-5 {
  margin-bottom:5px;
}

.width-100 {
  width:100%;
}

.font-30 {
  font-size:30px !important;
}

.font-40 {
  font-size:40px;
}

.font-60 {
  font-size:60px;
}

.font-80 {
  font-size:80px;
}

.font-32 {
  font-size:32px;
}

.font-10 {
  font-size:10px;
}

.font-24 {
  font-size:24px;
}

.font-22 {
  font-size:22px;
}

.font-20 {
  font-size:20px;
}

.font-18 {
  font-size:18px;
}

.font-14 {
  font-size:14px;
}

.font-12 {
  font-size:12px;
}

.font-11 {
  font-size:11px;
}

.font-18 {
  font-size:18px;
}

.font-8 {
  font-size:8px;
}

.font-16 {
  font-size:16px;
}

.year-dropdown-select {
  position:absolute;
  left:12px;
}

#profile .dropdown-toggle {
  position:relative;
}

#profile .dropdown-toggle:hover {
  color:#484748;
}

.padding-bottom-12 {
  padding-bottom:12px !important;
}

.padding-right-20 {
  padding-right:40px !important;
}

.btn-default {
  color:#484748;
  text-align:left;
}

.padding-horizontal-20 {
  padding-left:20px;
  padding-right:20px;
}

.inline {
  display:inline-block;
}

.block {
  display:block;
}

.align-left {
  text-align:left;
}

.align-right {
  text-align:right;
}

.powered-by-stripe-settings {
  right:0;
  top:7px;
}

#credit-modal .powered-by-stripe-settings {
  top:30px;  
  right:55px;
}

#submit-credit-card-modal span{
  width:93%;
  margin: 0 auto;
}

.relative {
  position:relative;
}

.absolute {
  position: absolute;
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}


.align-left {
  text-align:left;
}
.exp-date-month {
  width:35%;
  padding:8px 12px;
}

#credit-modal .exp-date-month {
  width:50%;
}

#exp-date-year {
  margin-left:10px;
  margin-right:35px;
  width:30%;
}

/*Home page css */

#home {
  background-color:white;
}

#banner {
  position:relative;
}

#parent-banner {
  position:relative;
}

#tutor-banner-background {
  position:absolute;
  bottom:0px;
  height:125px;
  background-color:#27ACE3;
  opacity:0.66;
  color:white;
  width:100%;
}

#tutor-banner-content {
  z-index:1;
  position:absolute;
  bottom:0px;
  height:125px;
  color:white;
  width:100%;
}

.width-30 {
  min-width:30px !important;
}

.calendar-modal {
     display:none;
     position: absolute;
     left: 0px;
     /*top: 20%;*/
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     color:grey;
}
.calendar-modal #calendar-container {
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.calendar-time-row {
    font-size:3px;
}

.calendar-time-td {
    line-height:0.5 !important; 
    font-size:12px !important; 
    padding:5px 0px !important; 
    width:60px;
}

td.time-slot {
    cursor:pointer;
}

td.time-slot:hover {
    background-color:#000;
}

.td-selected {
    background-color:green !important;
    border:1px green solid;
} 

.td-selected.half-table-bordered {
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.td-preselected {
    background-color:#dff0d8!important;
    border:1px #dff0d8 solid;
} 

.td-preselected.half-table-bordered  {
  border-left: 1px solid #dff0d8;
  border-right: 1px solid #dff0d8;
}

td.time-slot {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

#calendar-btns {
    float:right;
    padding-right:15px;
}

.padding-30 {
  padding-right:30px;
  padding-left:30px;
}

.saved-text {
  color: #57ad5c;
  display:none;
}

#request-avail-ok {
    display:none;
    color:green;
}

#request-avail-remove {
    display:none;
    color:red;
}

#select-calendar-slot-alert {
    display:none;
    color:red;
    text-align:center;
}

#request-form-options {
  display:inline-block;
}

.center {
    text-align:center;
}

.calendar-alert {
    text-align:center;
    color:red;
    display:none;
}

.format-textarea {
  border: 2px solid #40bfec;
  width:100%;
  border-radius:12px;
  padding:5px;
  color:grey;
}

.how-it-works-header {
  color:white;
}

.skill-tag {
  background-color:#0081be;
  border-radius: 7px;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:15px;
  padding-left:20px;
  margin:10px 5px 5px 0px;
  display:inline-block;
  font-size:12px;
  color:white;
}

.debit-payment-errors {
  color:red;
  text-align:center;
}

.testimonial-section {
  padding:25px 40px;
  font-size:1.15em;
  text-align:center;
}

#package-header {
  font-size:30px;
}

.hiw-section {
  padding:30px;
  font-size:1.25em;
  text-align:center;
}

.white-text {
  color:white;
}

.logo-text {
  font-family: 'Grand Hotel', cursive;
  font-size:40px;
}

.never-post {
  color:grey;
  margin:10px auto;
  font-size:12px;
}

.grey-text {
  color:grey;
}

.light-grey-text {
  color:#a8a8a8;
}

.border-bottom-grey {
  border-bottom:1px solid #a8a8a8 !important;
}

.modal-close-button {
  top:10px;
  right:10px;
  position:absolute;
}

h1.extra-margin-bottom {
  margin-bottom:25px;
}

.login-btn-container {
  text-align:center;
  margin-top:35px;
}

h1.extra-extra-margin-top {
  margin-top:45px;
}

.or-text {
  margin:20px auto;
}

.guarantee-text-container {
  padding-left:15%;
  padding-right:15%;
  font-size:1.5em;
}

.guarantee-container {
  padding:30px;
}

.start-convo-container {
  padding:10px 10px 10px 10px;
  border-bottom:1px solid #484748;
}

a:hover {
  text-decoration: none
}

.dark-grey-text {
  color:#484748;
}

.signup-container {
  padding:80px;
}

.signup-container.parents {
  padding:40px 80px;
}

#guru-banner-header {
  font-size:60px; 
  font-weight:normal
}

#guru-banner-subheader {
  font-size:32px;
}

.footer-link {
  padding-left:20px;
  padding-right:20px;
  display:inline;
}

.footer-link a {
  color:white;
}

#main-container h3{
  font-weight:100; 
  margin-top:25px;
  font-family: 'Roboto', sans-serif;
}

.login-padding {
  padding:8px 33px;
}

.signup-padding {
  padding:8px 60px;
}

/* webkit solution */
#login-email::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
#login-email input:-moz-placeholder { text-align:right; }

#main-container input {
  margin-top:20px;
  background-color:white !important;
  padding:5px 20px;
}

.how-it-works-text-banner {
    display:none;
  }

#main-container h1 {
  margin-top:45px;
  font-family: "Roboto", sans-serif;
  font-weight:400;
}

.navbar-collapse li {
  border-bottom: 0px solid transparent !important;
  }

.tutor-preview {
  position:relative;
  padding:15px 10px 20px 10px;
}

.tutor-preview-img {
  position: absolute;
  left:0;
  border-radius:15px;
}

.tutor-preview-content {
  padding-left:90px;
}

.star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
}

.half-table-bordered {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top:0px !important;
}

.no-bottom-border {
  border-bottom:0px !important;
}

input#credit-card-num, input#debit-card-num-settings, input#credit-card-num-modal,
input#credit-card-num-parent-modal, input.credit-card-num-modal {
  background: url('/static/img/card.png') no-repeat;
  background-size: 32px 24px;
  background-position:95% ;
}

input#credit-card-num.visa, input#debit-card-num-settings.visa, input#credit-card-num-modal.visa,
input#credit-card-num-parent-modal.visa, input.credit-card-num-modal.visa {
  background-image: url('/static/img/visa.png');
}

input#credit-card-num.mastercard, input#debit-card-num-settings.mastercard, input#credit-card-num-modal.mastercard,
input#credit-card-num-modal.mastercard,
input#credit-card-num-parent-modal.mastercard, input.credit-card-num-modal.mastercard {
  background-image: url('/static/img/mastercard.png');
}
 
input#credit-card-num.discover, input#debit-card-num-settings.discover, input#credit-card-num-modal.discover,
input#credit-card-num-parent-modal.discover, input.credit-card-num-modal.discover {
  background-image: url('/static/img/discover.png');
}
 
input#credit-card-num.amex, input#debit-card-num-settings.amex, input#credit-card-num-modal.amex,
input#credit-card-num-parent-modal.amex, input.credit-card-num-modal.amex {
  background-image: url('/static/img/amex.png');
}
.star-icon.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}
.star-icon.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}

.star-icon-feed {
    color: #ddd;
    font-size: 1em;
    position: relative;
}
.star-icon-feed.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}
.star-icon-feed.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon-feed {
    font-size: 50px;
    line-height: 34px;
  }
}


.tutor-preview-content p {
  color:white;
}

.tutor-preview-content-major {
  display:block;
}

.tutor-preview-content-tags {
  display:inline-block;
}

.tutor-preview-content-description {
  margin-top:5px;
  font-size:12px;
}

#alert-fields-student-signup, #alert-fields-student-signup-top {
  color:red;
  text-align:center;
  display:none;
}

#alert-fields-login, #alert-fields-login-2, #tutor-app-alert {
  color:red;
  text-align:center;
  display:none;
  padding:20px;
  font-weight:bold;
}


#student-next-link:hover {
  text-decoration: none;
}

#tutor-next-link:hover {
  text-decoration: none;
}

.tutor-preview-next {
  position:relative;
}

#load-next-tutors-bar {
  position:absolute;
  height:125px;
  width:20px;
  right:0;
  background-color:#27ACE3;
}

#load-next-tutors-pointer {
  position:absolute;
  right:0;
  top:55px;
  font-size:20px;
}

#load-next-tutor-photo {
  position:absolute;
  right:23px;
  border-radius:10px;
  top:15px;
  height:90px;
}

#pencil-banner {
  position:absolute;
  left:150px;
  bottom:0px;
}

.calendar-table-head {
  font-size:10px;
  width:15px !important;
  padding-right:15px !important;
  padding-left:15px !important;
}

#base-referral-btn {
  border: 1px solid #27ACE3; 
  margin-top:-10px; 
  padding:4px 12px; 
  border-radius:8px;
  box-shadow:1px 1px 1px grey;
}

#shield-banner {
  position:absolute;
  left:180px;
  bottom:0px;
}

#guru-banner {
  position:absolute;
  left:180px;
  ;bottom:0px;
}

#home-course-submit-btn {
  margin-left:10px;
  top:20px;
  position:absolute;
}

.tt-dropdown-menu {
  background-color: white;
  /*margin-left:5%;*/
  width:100%;
  border:1px solid;
  border-color: white;
  color:rgb(0, 159, 225);
}

.tt-suggestion p {
    text-align:left;
    margin:0;
    color:grey;
    font-size:16px;
    font-weight:100;
    padding-left:20px;
    padding-bottom:5px;
}

.no-padding {
  padding:0px !important;
}

.tt-suggestion:focus p, .tt-suggestion:hover p{
  background-color:rgb(0, 159, 225);
  color:white !important; 
}

.tt-suggestion.tt-cursor {
  background-color:rgb(0, 159, 225)!important;
}

.tt-suggestion.tt-cursor p {
  color:white!important;  
}

.search-class-container {
  position:relative;
}

.password-text-change-container {
  position:relative;
}

.change-password-form label {
  text-align:left !important;
}

.change-password-form .col-sm-10 {
  padding-left:0px;
  padding-right:30px;
}

.change-password-form {
  margin-top:25px;
}

.tutor-preview-content-major p{
  padding:0px;
  margin:5px 0px 0px 0px;
}

.super-success {
  background-color:#69bf69;
}

.padding-right-0 {
  padding-right:0px !important;
}

.padding-left-0 {
  padding-left:0px !important;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 6px;
line-height: 1.428571429;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.session-confirmation-container {
  border: 1px solid grey;
  border-radius:16px;
  padding:20px 40px;
  margin:0px 20%;
}


.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

[id^="checkbox-1-"] + label {
  background-color: #FFF;
  border: 1px solid #C1CACA;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

[id^="checkbox-1-"] + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

[id^="checkbox-1-"]:checked + label {
  background-color: #ECF2F7;
  border: 1px solid #92A1AC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #243441;
}

[id^="checkbox-1-"]:checked + label:after {
  content: '\2715';
  position: absolute;
  top: 0px;
  left: 0px;
  color: #758794;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  padding: 1px 0 0 0;
  vertical-align: text-top;
}

#checkbox-1-2 + label {
  width: 10px;
  height: 10px;
}

#checkbox-1-3 + label {
  width: 20px;
  height: 20px;
}

#checkbox-1-2 + label:after {
  left: 0px;
  padding: 6px 0 0 0;
}

#checkbox-1-3 + label:after {
  top: -6px;
  left: 0px;
  padding: 17px 0 0 0;
}

.ios-check-label {
  height:33px !important;
  width:55px !important;
}

