body {
    position:relative;
}

#main-container {
    height:100%;
    background: url('/static/img/guru_home_bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.device {
    position: relative;
    display: block;
    width: 395px;
    height: 813px;
    margin: auto auto;
    font-family: "Helvetica Neue",sans-serif;
    background-image: url(/static/img/device-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 300%;
    -webkit-transition: background-image .1s linear;
    -moz-transition: background-image .1s linear;
    transition: background-image .1s linear;
}

.device .device-content {
    position: relative;
    width: 321px;
    height: 569px;
    top:117px;
    left:37px;
    overflow: hidden;
    font-size: 17px;
    line-height: 21px;
    background-color: #fff;
}

.device .bar, .device .content, .device .modal {
    position:absolute;
}

.platform-ios .device {
    background-position: -395px 0;
}

.desktop-home-header-text {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 240px;
    line-height:1.15;
}

.left-container {
    margin-left:8%;
}

.desktop-home-subheader-text {
    line-height: 1.5;
    margin-top:-2%;
}

.home-btn {
    font-size:16px;
    padding:15px 30px;
    border-radius: 40px;
}

.btn.btn-positive.btn-block.sign-up, .btn.btn-positive.btn-block.login {
    color: #69B3A5;
    background-color: #fff;
    border: 2px solid #69B3A5;
}



