input {
  outline:none;
}

body, html {
    height:100%;
    font-family:'Roboto Condensed',sans-serif; 
    color:white; 
    /*background-color:#00a9e5;*/
    font-size:1em;
}

body #main, body #how-it-works {
  background-color:#00a9e5;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Roboto Condensed',sans-serif; 
}

.home-btn {
  font-family:'Roboto',sans-serif; 
  padding: 12px 12px;
  border: 2px solid white;
  border-radius: 9px;
  text-align:center;
  font-size:0.8em;
  width:150px;
  font-weight: 100;
}

#home-logo-img {
  height:95px;
}

#how-it-works-header h1 {
  color:white;
  margin: 20px 0 0 35px;
  font-weight:700;
}

#how-it-works-main {
  margin:0px
}

#login-text {
  font-family:'Roboto',sans-serif; 
  font-weight:100;
  font-size:0.75em;
  margin-top:85px;
  margin-bottom:0;
}

#how-it-works-text {
  position:absolute;
  bottom:0;
  /*left:0;
  right:0;*/
  margin-left:auto;
  margin-right:auto;
}

#scroll-back-home {
  position:absolute;
  bottom:0.5%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  font-family:'Roboto Condensed',sans-serif; 
  text-align:center;
  font-size:0.5em;
}

#how-it-works-main h3.step-header  {
  color:white;
  font-family:inherit;
  font-weight:500;
  /*margin-bottom:0px;*/
}

#the-result h3{
  color:white;
  font-family:inherit;
  font-weight:500;
}

.one-step p, #the-result p {
  font-size:0.5em;
  font-weight:100;
}

.one-step {
  margin-bottom:30px;
}

@media only screen and (max-width: 768px) {
  #scroll-back-home {
    display:none;
  }

  #how-it-works-img {
    margin-right:40px;
    margin-bottom:40px;
    width:100%;
   }

   #how-it-works-image {
    /*margin:0!important;*/
    margin-left:10px !important;
   }

   #how-it-works-header {
    text-align:center;
   }

   #how-it-works-header h1 {
    font-size:1.5em;
    margin:0 20px;
    margin-top:10px;
   }

   #how-it-works-main h3.step-header  {
    font-size:1.25em;
    color:white;
    font-family:inherit;
    font-weight:500;
    /*margin-bottom:0px;*/
  }

  #the-result h3{
    font-size:1.25em;
    color:white;
    font-family:inherit;
    font-weight:500;
  }

  .one-step p, #the-result p {
    font-size:0.7em;
    font-weight:100;
  }

  .one-step {
   margin-bottom:15px;
  }
}

@media only screen and (min-width: 768px) {

   body #main
   { 
    font-size: 1.5em; 
   }
   #home-logo-text {
    font-size:4em;
    margin-top:-1em;
  }
  .home-btn {
      padding: 12px 12px;
      border: 1px solid white;
      border-radius: 9px;
      text-align:center;
      font-size:0.65em;
      width:200px;
      font-family:'Roboto',sans-serif; 
      font-weight: 100;
   }
   #home-logo-img {
    height:125px;
   }
   #login-text {
    font-size:0.5em;
    margin-top:110px;
   }

   #how-it-works-text, #scroll-back-home {
    font-size:0.7em;
   }

   #how-it-works-img {
    margin-top:40px;
    width:350px;
   }

   #how-it-works-header h1 {
    margin:0 15px;
    margin-top:10px;
   }

   .one-step p, #the-result p {
    font-size:0.85em;
    font-weight:100;
  }

}

@media only screen and (min-width: 992px) {

   body #main { font-size: 2em; }
   #home-logo-text {
    font-size:5em;
    margin-top:-1.33em;
   }
   .home-btn {
      padding: 12px 12px;
      border: 1px solid white;
      border-radius: 9px;
      text-align:center;
      font-size:0.6em;
      width:275px;
      font-family:'Roboto',sans-serif; 
      font-weight: 100;
   }

   #home-logo-img {
    height:150px;
   }

   #login-text {
    font-size:0.6em;
    margin-top:125px;
   }

   #how-it-works-text, #scroll-back-home {
    font-size:0.5em;
   }

   #how-it-works-img {
    width:95%;
    margin-top:5%;
   }

  .one-step p, #the-result p {
    font-size:0.85em;
    font-weight:100;
  }

}

@media only screen and (min-width: 1200px) and (min-height:700px) {
  #how-it-works-img {
    width:100%;
    margin-top:-25px;
   } 
   #how-it-works-header {
    margin-top:5%;
    margin-bottom:20px;
  }
  #scroll-back-home {
    font-size:1.3em;
    bottom:2%;
  }
  #how-it-works-text {
    font-size:25px;
  }
}

@media only screen and (min-width: 1200px) and (min-height:850px) {

   body #main { font-size: 2.5em; }
   #home-logo-text {
    font-size:5em;
    margin-top:-1.33em;
   }
   .home-btn {
      padding: 12px 12px;
      border: 1px solid white;
      border-radius: 9px;
      text-align:center;
      font-size:0.6em;
      width:275px;
      font-family:'Roboto',sans-serif; 
      font-weight: 100;
   }

   #home-logo-img {
    height:200px;
   }

   #login-text {
    font-size:0.6em;
    margin-top:125px;
   }

   #how-it-works-text, #scroll-back-home {
    font-size:0.7em;
   }

   #how-it-works-img {
    margin-top:-25px;
    width:100%;
   }

  .one-step p, #the-result p {
    font-size:1.3em;
    font-weight:100;
    margin-top:20px;
  }

  #scroll-back-home {
    font-size:1.3em;
    bottom:2%;
  }

  #how-it-works-header {
    margin-top:5%;
    margin-bottom:20px;
  }

  .one-step h3, #the-result h3 {
    font-size:2em;
  }

  #how-it-works-header h1 {
    font-size:3em;
  }

}

input:focus, textarea:focus {
  outline:none;
}

.home-btn:hover {
  background-color:white;
}

#home-logo-text {
 font-size:1.75em;
 font-weight:200;
 margin-top:-0.6em;
 margin-bottom:0.75em;
}

.logo-text {
    font-family:'grand hotel', cursive;
    color:#fff;
}

#main {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    text-align:center;
}

#home {
  height:100%;
  position:relative;
}

#how-it-works {
  height:100%;
  position:relative;
  font-family:'Roboto',sans-serif; 
  color:white;
}

#student-signup-btn, #tutor-signup-btn {
  color:white;
  text-decoration: none
}

#student-signup-btn:hover, #tutor-signup-btn:hover {
  color:#00a9e5;
  text-decoration: none
}

#login-page{
  height:100%;
  width:100%;
}

#tutor-signup {
  height:100%;
  width:100%; 
}

#student-signup {
  height:100%;
  width:100%;  
}

#tutor-signup-next {
  height:100%;
  width:100%;  
}

#student-request-fields {
  height:100%;
  width:100%;
  color:#00a9e5;   
  font-size:16px;
}

/*div.main {
    text-align:center;
    position: absolute;
    margin: auto;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}*/


.welcome {
   /*width: 50%;
   height: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: 25%;
   margin-top: 50%;*/
}

#welcome_text{
    font-size:1.5em;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-top: 20px;
  /*font-size: 16px;*/
  font-weight: normal;
  line-height: 1.428571429;
  background-color: #00a9e5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  border-radius: 12px;
}

.btn-lg {
  padding: 15px 30px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 12px;
}

.btn-sm {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 12px;   
}

#logo {
  display:none;
}

#home-button-group button {    
    margin:10px;
    padding: 15px 60px;
}

#home-button-group button:hover {
    background: white;
    color: #00a9e5;
}

#login-text a {
  color:white;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    margin:-5px auto 0 auto;
    border-top: 0.6em solid #fff;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    margin:-5px auto 0 auto;
    border-bottom: 0.6em solid #fff;
}

.page-title {
  color:#0097db;
  background-color:#0081be;
  width:100%;
  height:40px;
  color:#ffffff;
  font-size:20px;
  text-align:center;
  padding-top:2px;
}

.btn-accept {
  display:inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  background-color:#69bf69;
  width:50%;
  height:50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 0px;
}

.tutor-submit-next {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.428571429;
  background-color:#69bf69;
  height:50px;
  text-align:center;
  color:white;
  padding-top:1%;
}

.btn-reject {
  display:inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  background-color:#ef5b40;
  width:50%;
  height:50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 0px;
}

.notification {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  background-color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #40bfec;
  border-radius: 12px;
}

.navbar {
  background-color:#00a9e5;
  background-image: none;
  border: none;
  border-radius: 0px;
  width:100%;
  padding-bottom:20px;
  margin-bottom:0px;
}

.navbar-header {
  margin-top: 10px;
  margin-bottom: 20px;
  float:left;
}

.navbar-brand {
  color:#ffffff;
}

.navbar-brand:hover {
  color:#e3f2fc;
}

#back-carot {
  padding-bottom:-5px;
}

#logo-text {
  font-family: 'grand hotel', cursive; 
  margin-left:5px; 
  font-size: 50px
}

.main-font {
  font-family:'Roboto',sans-serif; 
}

#login-fields {
  color:#00a9e5;
  margin: auto;
  padding-top:5%;
  padding-bottom:1%;
}

#tutor-signup-fields{
  height:70%;
  color:#00a9e5;
  margin: auto;
  margin-top:20px;
}
#tutor-add-course-fields {
  color:#00a9e5;
  margin: auto;
  padding-top:2.5%; 
}

.input-signup {
  border: 2px solid #40bfec;
  width:170px;
  height:40px;
  border-radius: 12px;
  padding-left:12px;
  text-align: left;
  white-space: nowrap;
  color:#40bfec;
  width:100%;
}

#submit-login {
  background-color: #00a9e5;
  text-align:center;
  font-size:24px;
  font-weight:100;
  width:95%;
  float:center;
}

#tutor-submit-next {
  height:15%;
  background-color: rgb(136, 190, 110);
  text-align:center;
  font-size:24px;
  font-weight:100;
  padding-top:7%;
}

#login-submit-link{
  color:white;
  text-decoration: none;
}

#tutor-next-link{
  color:white;
  text-decoration: none;
}
#tutor-register{
  color:white;
  text-decoration: none;
}
.row.row-skills {
  margin: 0;
}

.add-skills {
  border: 1.5px solid #40bfec;
  width:100%;
  font-size:24px;
  border-radius: 12px;
  padding-left:12px;
  text-align: left;
  white-space: nowrap;
  color:#40bfec;
}

.btn-add {
  background-color:#69bf69;
  border-radius: 50%;
  -webkit-border-radius:50%;
  width:30px;
  height:30px;
  color:white;
  font-weight:700;
  margin-top:5px;
  margin-left:-5px;
}

.btn-remove {
  background-color:#ef5b40;
  border-radius: 50%;
  width:30px;
  height:30px;
  color:white;
  text-align: center;
  font-size:35px;
  font-weight:700;
  float:left;
}

.skill-name {
  padding-top:7px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.5em;
  font-size:24px;
  color:grey;
/*  float:right;*/
  margin-left:auto;
  margin-right:auto;
/*  padding-right:10px;*/
}


a.boxclose{
    float:right;
    margin-top:5px;
    margin-right:5px;
    width:30px;
     height:30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid red;
    border-radius: 30px;
    background: red;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "-";
}

.tt-dropdown-menu {
  background-color: white;
  margin-left:5%;
  width:90%;
  border:1px solid;
  border-color: #66cbef;
  color:rgb(0, 159, 225);
}

.tt-suggestion p {
    text-align:left;
    margin:0;
    color:rgb(0, 159, 225);;
    font-size:16px;
    font-weight:100;
    padding-left:10px;
    padding-bottom:5px;
}

.tt-suggestion:focus p, .tt-suggestion:hover p{
  background-color:rgb(0, 159, 225);
  color:white !important; 
}

.tt-suggestion.tt-cursor {
  background-color:rgb(0, 159, 225)!important;
}

.tt-suggestion.tt-cursor p {
  color:white!important;  
}


#student-next-link, #student-register {
  text-decoration:none;
  color:white;
}
.bio {
  border: 1px solid grey;
  width:100%;
  height:180px;
  padding: 20px 30px 20px 30px;
  border-radius: 15px;
  text-align: left;
  white-space:normal;
  color:#40bfec;
}

.btn-group {
  position:relative
  display:inline-block;
  vertical-align:middle;
}

.btn-group>.btn-default {
  position:relative;
  float:left;
}

.btn-group>.btn-default:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group>.btn-default:first-child {
  margin-left 0;
}

.caret {
  margin-left:0;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color:#000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn-default {
  color:#ccc;
  background-color:#fff;
  border-color:#ccc;
  display:inline-block;
  margin-bottom:0;
  font-weight:400;
  vertical-align:middle
  cursor:pointer;
  background-image:none;
  border: 1px solid;
  white-space:nowrap;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  border-radius:4px;
}

.form-group {
  margin-bottom:10px;
  margin-top:5px;
}

.twitter-typeahead {
  display:block !important;
}

#my-skills, #example-skills {
  display:block;
  color:grey;
}

#register-skills {
  color:white;
  font-size:16px;
}

#example-skills {
  margin-top:0px;
  font-size:14px;
}

.skill-tag {
  background-color:#0081be;
  border-radius: 7px;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:15px;
  padding-left:20px;
  margin:10px 5px 5px 0px;
  display:inline-block;
  font-size:12px;
}

.example-tag {
  background-color:#EFF6FC;
  color:#0081be;
  border-radius: 7px;
  text-align:center;
  font-size:12px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:8px;
  padding-left:8px;
  margin:10px 5px 5px 0px;
  display:inline-block; 
}

a.example-skill-link {
  text-decoration: none;
}

.skill-tag-remove {
  font-size:12px;
  color:white;
}

#frequency-btn-group, #urgency-btn-group {
  color:white;
}

.btn-options {
  display: inline-block;
  margin:5px 5px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #ffffff;
  color: rgb(0, 159, 225);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgb(0, 159, 225);
  border-radius: 12px;
  width:90px;
  font-weight:strong;
}

.btn-options a {
  text-decoration:none;
  color:rgb(0, 159, 225);
}

.btn-options:hover a {
  text-decoration:none;
  color:white;
}

.btn-options.active, .btn-options.active a {
  color:white;
  background-color:rgb(0, 159, 225);
}

.btn-options:hover {
  color:white;
  background-color:rgb(0, 159, 225);
}

.btn-xs {
  font-size:14px;
  padding:2px 2px;
}

textarea#student-signup-description {
  border:1px solid rgb(0, 159, 225); 
  border-radius:15px;
}

label {
  font-weight:normal;
}
#login-link {
  text-decoration:none;
}

#how-it-works-link {
  text-decoration:none;
  color:white;
}

a:hover {
  text-decoration: none;
}

#how-it-works-link p {
  color:white; 
}

#time-estimate-slider {
  margin: 10px auto 5px auto;
  width: 96%;
  float: right
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}

#other-examples{
  color:grey;
  font-size:14px;
  padding-left:5px;
}