$logo-font:'Grand Hotel', cursive;

.bar.bar-nav {
  -webkit-transform: translateZ(10px);
}

a{
    color:inherit;
}

header {

  .uguru-logo {
    font-family: $logo-font;
    font-size:24px;
  }  

}

.relative {
  position:relative;
}

.fb-icon {
  font-size: 27px;
  position: absolute;
  left: 7%;
  top: 20%;
  font-weight: 700;
}

#message-contents {
  width:78%
}

//Margin stuff

.no-bottom-margin {
  margin-bottom:0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.margin-top-10 {
  margin-top:10px;
}

.margin-top-20 {
  margin-top:20px;
}


//font-stuff
.font-16 { 
  font-size:16px;
}

.font-12 {
  font-size:12px;
}

.profile-title-icon {
  top:10px;
  position:absolute;
  background-color:white;
}

.message-face, .table-view-face {
  width: 42px;
  height: 42px;
  border-radius:20px;
  border:2px solid white;
}

.table-view-large-face {
  height:65px;
  border-radius:50px;
  border:2px solid white;
}

.table-view-mini-face {
  width: 24px;
  height: 24px;
  border-radius:20px;
  border:1px solid white;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 50% 50%;

}

.guru-photo {
  height:120px;
}

.logo-container {
  margin-top:15%;
  margin-bottom: 15%;
}

.table-view-cell-photo {
  height:20px;
}

.red-text {
  color:red;
}

.grey-text {
  color:#8f8f94;
}


.bar {
  display:block;
}

.center {
  text-align:center;
}

.table-view-cell-profile-photo {
  height:25px; 
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.toggle.toggle-inline {
  display:inline-block;
}

.table-view-cell.message-cell, .table-view-cell.request-cell, .ignore-table-view-margin {
  padding:10px 15px 10px 15px;
}

.table-view-cell .icon {
  color: #007aff;
}

.icon.profile-star {
  font-size:14px;
}

.padding-top-5 {
  padding-top:5px
}

.bold {
  font-weight: bold;
}

.no-border-top {
  border-top:0;
}

.black {
    color:black;
}

input#card-num, input#debit-card-num {
  background: url('/static/img/card.png') no-repeat;
  background-size: 32px 24px;
  background-position:95% ;
}

input#card-num.visa, input#debit-card-num.visa {
  background-image: url('/static/img/visa.png');
}

input#card-num.mastercard, 
input#debit-card-num.mastercard {
  background-image: url('/static/img/mastercard.png'); 
}

input#card-num.discover,
input#debit-card-num.discover {
  background-image: url('/static/img/discover.png'); 
}

input#card-num.amex,
input#debit-card-num.amex {
  background-image: url('/static/img/amex.png'); 
}

.table-view.no-margin {
  margin-top:0px !important;
}

.auto-height {
  height:auto;
}

.hidden {
  display:none;
}

// Request Form Shit, more shit should be moved here and it shouldnt be so general... TODO
input {
  color:#000000;
}

.white-text {
  color:#fff;
}

.no-border-bottom {
  border-bottom:0px;
}

textarea {
  color:#000000; 
}

.tt-hint {
  text-align: left !important;
}

//error message css
.error-div {
  font-size:0.8em;
  margin:15px 5px 15px 5px;
  display:none;
}

.request-guru-btn {
  position:absolute;
  bottom: 65px;
  margin-left: 3% !important;
}

//Homepage CSS
.home-guru {
  height:200px;
}

#uguru-home-text {
  font-size:44px;
  margin-top: -4%;
}

.home-guru-container {
  margin-top:25%
}

.home-guru-btn-container {
  bottom:2%;
  position:absolute;
  width:100%;
}

.attach-bottom {
  position:relative;
  margin-bottom:0px;
}

//ratchet overrides

.overflow-visible {
  overflow:visible !important;  
}

//typeahead overlap
.tt-suggestion.tt-cursor {
  background-color:white;
}

.tt-suggestion.tt-cursor p {
  color: #343d3e;
}

.tt-suggestion p {
  font-size:20px;
}

.tt-suggestion {
  padding: 5px 15px;
  border-bottom: 1px solid white;
}

.twitter-typeahead, .tt-dropdown-menu {
  width:100%;
  background-color: #636c6d;
}

//typeahead custom
#become-guru-course-input {
  vertical-align: none;
}


//Request form css

.typeahead.selected-course {
  background: url('/static/img/ok.png') no-repeat;
  background-size: 24px 24px;
  background-position:95%;
  background-color:white;
}
  
.course-tag, .year-tag {
  margin:6px 4px;
  padding:5px 10px;
  color:white;
  border: 1px solid white;
  border-radius: 2px;
  display:inline-block;
  font-size:12px;
}


.year-tag.active {
  color:white;
  background-color:#CC792B;
  border-color:#CC792B !important;
}

.year-tag.move-right.active {
  color:white;
  background-color:#CC792B;
  border-color:#CC792B !important;
  position: absolute;
  top: 6px;
  right: 60px;
}

.btn-positive.active, .btn-positive:active {
  color: #fff;
  background-color: #69B3A5;
  border: 0px;
}