$logo-font:'Grand Hotel', cursive;

.bar.bar-nav {
  -webkit-transform: translateZ(10px);
}

header {

  .uguru-logo {
    font-family: $logo-font;
    font-size:24px;
  }  

}

#message-contents {
  width:78%
}

.profile-title-icon {
  top:10px;
  position:absolute;
}

.message-face, .table-view-face {
  width: 42px;
  height: 42px;
  border-radius:20px;
  border:2px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.table-view-mini-face {
  width: 24px;
  height: 24px;
  border-radius:20px;
  border:1px solid white;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 50% 50%;

}

.guru-photo {
  height:120px;
}

.logo-container {
  margin-top:15%;
  margin-bottom: 15%;
}

.table-view-cell-photo {
  height:20px;
}

.red-text {
  color:red;
}

.grey-text {
  color:#8f8f94;
}

.bar {
  display:block;
}

.center {
  text-align:center;
}

.table-view-cell-profile-photo {
  height:25px; 
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.toggle.toggle-inline {
  display:inline-block;
}

.table-view-cell.message-cell, .table-view-cell.request-cell, .ignore-table-view-margin {
  padding:10px 15px 10px 15px;
}

.table-view-cell .icon {
  color: #007aff;
}

.icon.profile-star {
  font-size:14px;
}

.padding-top-5 {
  padding-top:5px
}

.bold {
  font-weight: bold;
}

.no-border-top {
  border-top:0;
}

.black {
    color:black;
}

input#card-num {
  background: url('/static/img/card.png') no-repeat;
  background-size: 32px 24px;
  background-position:95% ;
}

input#card-num.visa {
  background-image: url('/static/img/visa.png');
}

input#credit-card-num.mastercard {
  background-image: url('/static/img/mastercard.png'); 
}

input#credit-card-num.discover {
  background-image: url('/static/img/discover.png'); 
}

input#credit-card-num.amex {
  background-image: url('/static/img/discover.png'); 
}

.table-view.no-margin {
  margin-top:0px !important;
}

.auto-height {
  height:auto;
}

.hidden {
  display:none;
}

// Request Form Shit, more shit should be moved here and it shouldnt be so general... TODO
input {
  color:#000000;
}

.white-text {
  color:#fff;
}

.no-border-bottom {
  border-bottom:0px;
}

textarea {
  color:#000000; 
}

//typeahead overrides
.twitter-typeahead, .tt-dropdown-menu {
  width:100%;
  background-color: #636c6d;
  font-size:14px !important;
}

.tt-hint {
  text-align: left !important;
}

//Homepage CSS
.home-guru {
  height:200px;
}

#uguru-home-text {
  font-size:44px;
  margin-top: -4%;
}

.home-guru-container {
  margin-top:25%
}

.home-guru-btn-container {
  bottom:2%;
  position:absolute;
  width:100%;
}

