<view link-data="ui/templates/samples/soundcloud/app.json" render-after-ext-scripts let="content=data.content"
	row class="docs" type='row' bg="stone" width="100" height="100">
    <!-- <div>
        {{content.sc.collection[0].track}}
    </div> -->

	<replace with="ui/templates/samples/soundcloud/vibes-elements.tpl"></replace>
	<vibes-data></vibes-data>
	<vibes-menu
		u on-init="p:[tr:scale(0)]"
		when-switch-vibes="a:[scale:0:1:450:easeOutBack:0:1:f]"></vibes-menu>

    <inspect-data data/>
</view>
