<ion-modal-view ng-controller="GuruIntroController">

    <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title">Add a class</h1>
        <button ng-click="submitGuruBio()" class="button button-clear button-positive">Save</button>
    </ion-header-bar>

  <ion-content style="background-color: #363C3E !important" scroll="false">

    <div class="list">
      <div class="item item-thumbnail-left bio-list-item first-item-bio">
        <img ng-hide="user.profile_url"ng-src="{{user.profile_url}}||" style="max-width:65px; max-height:65px; margin:5px; border-radius:4px;">
        <div class="white-bio-name-text" ng-show="user.name">{{user.name}}
          <span class="guru-tag">Guru</span>
        </div>
        <p class="grey-bio-major-text" ng-show="user.majors.length > 0">
          <b>
            {{user.university.title}}
          </b>
          ({{user.majors[0].name}} major)
        </p>
      </div>

      <div class="item bio-list-item" style="border:0px; border-top:1px solid rgba(255,255,255, 0.1); padding:10%; border-top: 1px solid rgba(255,255,255, 0.1); padding: 20% 10%;" ng-hide="user.guru_introduction">
        <p class="center" style="color:rgba(255, 255, 255, 0.8); line-height: 1.4em; font-size:100%">
          <span style="white-space:normal">
            What should a student know about you?
          </span>
          <!-- <span ng-show="user.guru_introduction" style="color:rgba(255, 255, 255, 0.8); line-height: 1.4em; font-size:100%; white-space:normal">
            {{user.guru_introduction}}
          </span> -->
        </p>
      </div>

      <div class="item" style="background-color: #363C3E !important; width:100%; border:0px; border-top: 1px solid rgba(255,255,255, 0.1);">
        <textarea name="bio-input" style="resize:none;width:100%; padding:40px; color:rgba(255, 255, 255, 0.8); line-height: 1.4em; font-size:100%; white-space:normal; background-color: #363C3E !important;"  placeholder="Got a perfect score on the final?" name="prefix" ng-model="user.guru_introduction" ng-blur="setFocus(user.guru_introduction)"></textarea>
      </div>



    </div>

</ion-modal-view>
