<!-- Dropdown overlays -->
<a ng-if='page.dropdowns.university.active' class='bg-transparent absolute full-xy top-0 left-0 z-index-5' id='splash-nav-bg-overlay' ng-click='page.dropdowns.closeAll()'> </a>
<!-- End Dropdown overlays-->

<!-- Desktop Nav-->
<header class='splash-header fixed top-0 left-0 z-index-999' id='home-nav-header'>
<!-- <header class='splash-header fixed top-0 left-0 high-z-index magictime opacity-0' id='home-nav-header' class-on-load="vanishIn:anim"> -->
    <a class="splash-logo opacity-0"
        ng-click='scrollToSection("#splash-home")'
        ng-include="img_base + BASE + 'templates/svg/logo-subtitle.html'"
        class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="0"
        class-on-clear="fadeOutUp:animOut"
        class-on-activate="fadeInDown:anim"></a>
    <div class="right">
        <div class="splash-hero-nav desktop m15right"
            class-on-activate="u-slideInDown:anim">
            <div class="splash-hero-nav-container">
                <div id="dropdown-categories" class="dropdown-color opacity-0" class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="150">
                    <a name='category' class="bg-{{selectedCategory.hex_color}}" ng-click='page.dropdowns.category.toggle()' ng-class="{'active':page.dropdowns.category.active}">
            			<span>
                            <span>{{selectedCategory.name}}</span>
                            <span>{{selectedCategory.name}}</span>
                        </span>
            			<svg viewBox="0 0 100 100">
            				<path d="M14,32 L50,68 L86,32"></path>
            			</svg>
            		</a>
                    <div class="visible matrix-0" ng-class="{'u-scaleInDown':page.dropdowns.category.active}">
                        <svg viewBox="0 0 396 38">
    						<path d="M2,36 L2,34 C2,32.8954305 2.8931253,32 4.0093292,32 L168,32 L198,2 L228,32 L391.990671,32 C393.100393,32 394,32.8877296 394,34 L394,36" fill="none" stroke-width="4" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></path>
    					</svg>
                        <ul>
                            <li ng-repeat='category in categories' ng-if='category.id !== selectedCategory.id'>
                                <a class="bg-{{category.hex_color}}" ng-click='demoSwitchCategory(category, selectedUniversity)'>
                                    <span>
                                        <span>{{category.name}}</span>
                                        <span>{{category.name}}</span>
                                    </span>
                                </a>
                                <svg class="arrow" viewBox="0 0 60 30">
                                    <path d="M4,26 L30,0 L56,26"></path>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="opacity-0" class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="300">@</h2>
                <div id='dropdown-university' class="dropdown-color opacity-0" class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="450">
                    <a class="color" name='university' ng-click="page.dropdowns.university.toggle()" ng-class="{'active':page.dropdowns.university.active}">
                        <div class="dropdown-color-bg" style='background-color: {{selectedUniversity.school_color_dark}}'></div>
                        <span>
                            <span>{{selectedUniversity.short_name || selectedUniversity.name}}</span>
                            <span>{{selectedUniversity.short_name || selectedUniversity.name}}</span>
                        </span>
            			<svg viewBox="0 0 100 100">
            				<path d="M14,32 L50,68 L86,32"></path>
            			</svg>
            		</a>
                    <div class="visible matrix-0" ng-class="{'u-scaleInDown':page.dropdowns.university.active}">
                        <svg viewBox="0 0 396 38">
    						<path d="M2,36 L2,34 C2,32.8954305 2.8931253,32 4.0093292,32 L168,32 L198,2 L228,32 L391.990671,32 C393.100393,32 394,32.8877296 394,34 L394,36" fill="none" stroke-width="4" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"></path>
    					</svg>
                        <ul>
                            <li ng-repeat='university in featured_universities' ng-if='selectedUniversity.id !== university.id'>
                                <a class="color" ng-click='refreshUniversityState(university)'>
                                    <div class="dropdown-color-bg" style='background-color: {{university.school_color_dark}}'></div>
                                    <span>
                                        <span>{{university.short_name || university.name}}</span>
                                        <span>{{university.short_name || university.name}}</span>
                                    </span>
                                </a>
                                <svg class="arrow" viewBox="0 0 60 30">
                                    <path d="M4,26 L30,0 L56,26" fill="{{university.school_color_dark}}"></path>
                                </svg>
                            </li>
                            <li>
                                <a class="bg-charcoal relative" ng-click="activateUniversitySearch()" class-on-click="null:inject.splash-school-loader-counter|activate, null:inject.splash-school-loader-container|activate, null:inject.adlib-tag|clear">
                                    <span class="dropdown-color-icon" ng-include="img_base + 'templates/svg/main/search.html'"></span>
                                    <span class="p10right"><span>Find Your College</span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="splash-hero-nav mobile opacity-0"
            class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="450"
            class-on-clear="fadeOutUp:animOut"
            class-on-activate="fadeInDown:anim">
            <div class="splash-hero-nav-container">
                <a class-on-click="a:inject.splash-hero-nav-schools|a" ng-click='page.dropdowns.university.toggle()'>
                    <span style='background-color: {{selectedUniversity.school_color_dark}}'></span>
                    <span>@ {{selectedUniversity.school_tiny_name}}</span>
                    <svg viewBox="0 0 100 100">
                        <path d="M14,32 L50,68 L86,32"></path>
                    </svg>
                </a>
            </div>
        </div>
        <a id='cta-box-powerups' class="splash-burger opacity-0"
            ng-click='activatePowerups()'
            class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="600"
            class-on-click="powerup-activated, null:inject#cta-box-powerups svg|activate, null:inject#cta-modal-powerups|activate"
            class-on-activate="powerup-activated" class-on-activate-delay="500">
            <div class="full-xy flex-center relative" translate-on-click scale-x-on-click="3.0476" scale-y-on-click="3.0476" translate-x-offset="42" translate-y-offset="42" translate-to-elem="#powerup-all-icon" ng-include="img_base + 'templates/svg/main/lightning-circle.html'"></div>
        </a>
        <a name='sidebar' id='cta-box-sidebar' class="splash-burger opacity-0"
            ng-click='initCTASplash()'
            ng-include="img_base + 'templates/svg/main/menu-circle.html'"
            class-on-load="show-opacity-impt, u-slideInDown" class-on-load-delay="750"></a>
    </div>
</header>

 <!--Mobile Nav-->
 <div id="splash-hero-nav-mobile" ng-class="{'visible z-index-999':page.dropdowns.university.active, 'invisible': !page.dropdowns.university.active}">
    <div class="splash-hero-nav-category">
        <h1>Category</h1>
        <ul>
            <li ng-repeat='category in categories'>
                <a class="bg-{{category.hex_color}}" ng-click='demoSwitchCategory(category, selectedUniversity)' ng-class="{'active':category.id == selectedCategory.id}">
                    <span ng-include="img_base + 'templates/svg/main/check.html'"></span>
                    <span>{{category.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="splash-hero-nav-school" id='dropdown-university'>
        <h1>University</h1>
        <ul>
            <li ng-repeat='university in featured_universities'>
                <a ng-click='refreshUniversityState(university)' ng-class="{'active':university.id == selectedUniversity.id}" style="border-color: {{university.school_color_dark}}">
                    <span style="background: {{university.school_color_dark}}"></span>
                    <span>{{university.short_name || university.name}}</span>
                    <span ng-include="img_base + 'templates/svg/main/check.html'"></span>
                </a>
            </li>
            <li>
                <a class="bg-find" ng-click="activateUniversitySearch()"
                    class-on-click="null:inject.splash-projector-bg|activate, null:inject.splash-projector-bg|activate">
                    <span></span>
                    <span>Find your College</span>
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Mobile Nav-->