.copy-url {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  max-width: 400px; }
  .copy-url input {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    height: 48px; }
  .copy-url label {
    display: block;
    width: 48px;
    height: 48px; }
    .copy-url label svg {
      width: 48px;
      height: 48px;
      background: #69B3A5;
      padding: 6px; }
      .copy-url label svg * {
        fill: none;
        stroke: white;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round; }

fieldset {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-weight: 400 !important;
  width: 100%;
  min-height: 30px; }
  fieldset.full-x {
    max-width: none; }
  fieldset * {
    transition: all 150ms ease-in-out;
    font-weight: 400 !important; }
    fieldset *::-webkit-input-placeholder {
      transition: all 150ms ease-in-out; }
    fieldset *:-moz-placeholder {
      transition: all 150ms ease-in-out; }
    fieldset *::-moz-placeholder {
      transition: all 150ms ease-in-out; }
    fieldset *:-ms-input-placeholder {
      transition: all 150ms ease-in-out; }

fieldset input {
  display: block;
  width: 100%;
  font-size: 16px; }
  fieldset input::-webkit-input-placeholder {
    transition: all 150ms ease-in-out;
    font-weight: 400;
    font-size: 16px; }
  fieldset input:-moz-placeholder {
    transition: all 150ms ease-in-out;
    font-weight: 400;
    font-size: 16px; }
  fieldset input::-moz-placeholder {
    transition: all 150ms ease-in-out;
    font-weight: 400;
    font-size: 16px; }
  fieldset input:-ms-input-placeholder {
    transition: all 150ms ease-in-out;
    font-weight: 400;
    font-size: 16px; }
fieldset.input-basic label:first-child {
  display: block;
  font-size: 14px;
  margin-bottom: 5px; }
fieldset.input-basic input {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 36px;
  padding: 0 10px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.8); }
  fieldset.input-basic input::-webkit-input-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset.input-basic input:-moz-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset.input-basic input::-moz-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset.input-basic input:-ms-input-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset.input-basic input:hover, fieldset.input-basic input:focus {
    background: white; }
  fieldset.input-basic input:focus::-webkit-input-placeholder {
    color: rgba(64, 72, 75, 0.4); }
  fieldset.input-basic input:focus:-moz-placeholder {
    color: rgba(64, 72, 75, 0.4); }
  fieldset.input-basic input:focus::-moz-placeholder {
    color: rgba(64, 72, 75, 0.4); }
  fieldset.input-basic input:focus:-ms-input-placeholder {
    color: rgba(64, 72, 75, 0.4); }
  fieldset.input-basic input.dark {
    background: rgba(64, 72, 75, 0.8);
    color: white; }
    fieldset.input-basic input.dark::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    fieldset.input-basic input.dark:-moz-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    fieldset.input-basic input.dark::-moz-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    fieldset.input-basic input.dark:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    fieldset.input-basic input.dark:hover, fieldset.input-basic input.dark:focus {
      background: #40484B; }
    fieldset.input-basic input.dark:focus::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4); }
    fieldset.input-basic input.dark:focus:-moz-placeholder {
      color: rgba(255, 255, 255, 0.4); }
    fieldset.input-basic input.dark:focus::-moz-placeholder {
      color: rgba(255, 255, 255, 0.4); }
    fieldset.input-basic input.dark:focus:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4); }
fieldset.input-basic.with-button label {
  width: 100%; }
fieldset.input-basic.with-button div {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center; }
fieldset.input-basic.with-button input {
  padding-right: 46px; }
  fieldset.input-basic.with-button input + div {
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0; }
  fieldset.input-basic.with-button input:hover + div, fieldset.input-basic.with-button input:focus + div {
    filter: alpha(opacity=100);
    opacity: 1; }
fieldset.input-basic.with-button a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 !important;
  width: 36px;
  height: 36px; }
  fieldset.input-basic.with-button a svg {
    display: block;
    width: 24px;
    height: 24px; }
    fieldset.input-basic.with-button a svg * {
      fill: none;
      stroke: white;
      stroke-width: 8px;
      stroke-linecap: round;
      stroke-linejoin: round; }
  fieldset.input-basic.with-button a:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
fieldset.input-basic.two-buttons input {
  padding-right: 82px; }
fieldset.input-basic.no-border * {
  border-radius: 0 !important; }

input.input-border {
  position: relative;
  z-index: 9;
  background: none;
  border-bottom: 1px solid !important;
  width: 100%;
  padding: 10px 0; }
  input.input-border + label:empty {
    -webkit-transform: scaleX(0) translateZ(0);
    -moz-transform: scaleX(0) translateZ(0);
    -ms-transform: scaleX(0) translateZ(0);
    -o-transform: scaleX(0) translateZ(0);
    transform: scaleX(0) translateZ(0);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 2px; }
  input.input-border:focus + label:empty {
    -webkit-transform: scaleX(1) translateZ(0);
    -moz-transform: scaleX(1) translateZ(0);
    -ms-transform: scaleX(1) translateZ(0);
    -o-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0); }
  input.input-border.light {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.2) !important; }
    input.input-border.light::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    input.input-border.light:-moz-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    input.input-border.light::-moz-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    input.input-border.light:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    input.input-border.light:focus::-webkit-input-placeholder {
      color: white; }
    input.input-border.light:focus:-moz-placeholder {
      color: white; }
    input.input-border.light:focus::-moz-placeholder {
      color: white; }
    input.input-border.light:focus:-ms-input-placeholder {
      color: white; }
    input.input-border.light + label:empty {
      background: white; }
    input.input-border.light:hover, input.input-border.light:focus {
      border-bottom-color: rgba(255, 255, 255, 0.4) !important; }
      input.input-border.light:hover::-webkit-input-placeholder, input.input-border.light:focus::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      input.input-border.light:hover:-moz-placeholder, input.input-border.light:focus:-moz-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      input.input-border.light:hover::-moz-placeholder, input.input-border.light:focus::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      input.input-border.light:hover:-ms-input-placeholder, input.input-border.light:focus:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
  input.input-border.dark {
    color: #40484B;
    border-bottom-color: rgba(64, 72, 75, 0.2) !important; }
    input.input-border.dark::-webkit-input-placeholder {
      color: rgba(64, 72, 75, 0.2); }
    input.input-border.dark:-moz-placeholder {
      color: rgba(64, 72, 75, 0.2); }
    input.input-border.dark::-moz-placeholder {
      color: rgba(64, 72, 75, 0.2); }
    input.input-border.dark:-ms-input-placeholder {
      color: rgba(64, 72, 75, 0.2); }
    input.input-border.dark:focus::-webkit-input-placeholder {
      color: #40484B; }
    input.input-border.dark:focus:-moz-placeholder {
      color: #40484B; }
    input.input-border.dark:focus::-moz-placeholder {
      color: #40484B; }
    input.input-border.dark:focus:-ms-input-placeholder {
      color: #40484B; }
    input.input-border.dark + label:empty {
      background: #40484B; }
    input.input-border.dark:hover, input.input-border.dark:focus {
      border-bottom-color: rgba(64, 72, 75, 0.4) !important; }
      input.input-border.dark:hover::-webkit-input-placeholder, input.input-border.dark:focus::-webkit-input-placeholder {
        color: rgba(64, 72, 75, 0.4); }
      input.input-border.dark:hover:-moz-placeholder, input.input-border.dark:focus:-moz-placeholder {
        color: rgba(64, 72, 75, 0.4); }
      input.input-border.dark:hover::-moz-placeholder, input.input-border.dark:focus::-moz-placeholder {
        color: rgba(64, 72, 75, 0.4); }
      input.input-border.dark:hover:-ms-input-placeholder, input.input-border.dark:focus:-ms-input-placeholder {
        color: rgba(64, 72, 75, 0.4); }
  input.input-border.bg-moxie {
    color: #43cb9d; }
    input.input-border.bg-moxie:focus::-webkit-input-placeholder {
      color: #43cb9d; }
    input.input-border.bg-moxie:focus:-moz-placeholder {
      color: #43cb9d; }
    input.input-border.bg-moxie:focus::-moz-placeholder {
      color: #43cb9d; }
    input.input-border.bg-moxie:focus:-ms-input-placeholder {
      color: #43cb9d; }
    input.input-border.bg-moxie + label:empty {
      background: #43cb9d; }
  input.input-border.bg-crimson {
    color: #d3242c; }
    input.input-border.bg-crimson:focus::-webkit-input-placeholder {
      color: #d3242c; }
    input.input-border.bg-crimson:focus:-moz-placeholder {
      color: #d3242c; }
    input.input-border.bg-crimson:focus::-moz-placeholder {
      color: #d3242c; }
    input.input-border.bg-crimson:focus:-ms-input-placeholder {
      color: #d3242c; }
    input.input-border.bg-crimson + label:empty {
      background: #d3242c; }

fieldset.with-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px; }
  fieldset.with-icon .input-icon svg {
    display: block;
    width: 100%;
    height: 100%; }
    fieldset.with-icon .input-icon svg * {
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none; }
fieldset.with-icon input {
  margin-left: 34px;
  width: calc(100% - 34px); }
  fieldset.with-icon input + label {
    width: calc(100% - 34px) !important;
    left: 34px !important; }
  fieldset.with-icon input.light ~ .input-icon svg * {
    stroke: rgba(255, 255, 255, 0.2); }
  fieldset.with-icon input.light:hover ~ .input-icon svg * {
    stroke: rgba(255, 255, 255, 0.4); }
  fieldset.with-icon input.light:focus ~ .input-icon svg * {
    stroke: white; }
  fieldset.with-icon input.dark ~ .input-icon svg * {
    stroke: rgba(64, 72, 75, 0.2); }
  fieldset.with-icon input.dark:hover ~ .input-icon svg * {
    stroke: rgba(64, 72, 75, 0.4); }
  fieldset.with-icon input.dark:focus ~ .input-icon svg * {
    stroke: #40484B; }
@media screen and (min-width: 768px) {
  fieldset.large {
    min-height: 64px;
    max-width: none; }
    fieldset.large .input-border {
      font-size: 36px;
      border-bottom-width: 2px !important; }
      fieldset.large .input-border::-webkit-input-placeholder {
        font-size: 36px; }
      fieldset.large .input-border:-moz-placeholder {
        font-size: 36px; }
      fieldset.large .input-border::-moz-placeholder {
        font-size: 36px; }
      fieldset.large .input-border:-ms-input-placeholder {
        font-size: 36px; }
    fieldset.large.with-icon .input-icon {
      width: 58px;
      height: 58px; }
      fieldset.large.with-icon .input-icon svg * {
        stroke-width: 4px; }
    fieldset.large.with-icon input {
      margin-left: 68px;
      width: calc(100% - 68px); }
      fieldset.large.with-icon input + label {
        width: calc(100% - 68px) !important;
        left: 68px !important; } }

div.input-border {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 400px;
  min-height: 50px; }
  div.input-border * {
    transition: all 150ms ease-in-out; }
  div.input-border input.input-border {
    display: block;
    font-size: 16px;
    position: relative;
    z-index: 9;
    background: none;
    width: calc(100% - 52px);
    padding: 15px 0 15px 52px;
    transition: all 300ms linear;
    border: none !important;
    font-weight: 600; }
    div.input-border input.input-border::-webkit-input-placeholder {
      transition: all 150ms ease-in-out;
      font-weight: 400;
      font-size: 16px; }
    div.input-border input.input-border:-moz-placeholder {
      transition: all 150ms ease-in-out;
      font-weight: 400;
      font-size: 16px; }
    div.input-border input.input-border::-moz-placeholder {
      transition: all 150ms ease-in-out;
      font-weight: 400;
      font-size: 16px; }
    div.input-border input.input-border:-ms-input-placeholder {
      transition: all 150ms ease-in-out;
      font-weight: 400;
      font-size: 16px; }
    div.input-border input.input-border:focus::selection {
      background: white;
      color: #40484B; }
    div.input-border input.input-border:focus::-moz-selection {
      background: white;
      color: #40484B; }
    div.input-border input.input-border.light {
      color: white; }
      div.input-border input.input-border.light::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      div.input-border input.input-border.light:-moz-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      div.input-border input.input-border.light::-moz-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      div.input-border input.input-border.light:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      div.input-border input.input-border.light:focus::-webkit-input-placeholder {
        color: white; }
      div.input-border input.input-border.light:focus:-moz-placeholder {
        color: white; }
      div.input-border input.input-border.light:focus::-moz-placeholder {
        color: white; }
      div.input-border input.input-border.light:focus:-ms-input-placeholder {
        color: white; }
    div.input-border input.input-border + label:not(:empty) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      div.input-border input.input-border + label:not(:empty):before, div.input-border input.input-border + label:not(:empty):after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1000px;
        transform-origin: left center;
        transition: all 300ms ease-in-out; }
      div.input-border input.input-border + label:not(:empty):before {
        background: white;
        transform: scaleX(0); }
      div.input-border input.input-border + label:not(:empty) .input-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        z-index: 3;
        top: 13px;
        left: 13px; }
        div.input-border input.input-border + label:not(:empty) .input-icon * {
          stroke-width: 8px;
          stroke: #637074; }
        div.input-border input.input-border + label:not(:empty) .input-icon .template {
          stroke-dasharray: 220.3; }
        div.input-border input.input-border + label:not(:empty) .input-icon .success-1 {
          stroke-dasharray: 19.8;
          opacity: 0; }
        div.input-border input.input-border + label:not(:empty) .input-icon .success-2 {
          stroke-dasharray: 50.2;
          opacity: 0; }
        div.input-border input.input-border + label:not(:empty) .input-icon .error-1, div.input-border input.input-border + label:not(:empty) .input-icon .error-2 {
          stroke: #d3242c;
          stroke-dasharray: 39.6;
          opacity: 0; }
        div.input-border input.input-border + label:not(:empty) .input-icon .email {
          transform-origin: center center;
          stroke-dasharray: 365.6; }
        div.input-border input.input-border + label:not(:empty) .input-icon .name {
          transform-origin: center center;
          stroke-dasharray: 365.6; }
        div.input-border input.input-border + label:not(:empty) .input-icon.email-icon .name {
          opacity: 0; }
        div.input-border input.input-border + label:not(:empty) .input-icon.name-icon .email {
          opacity: 0; }
      div.input-border input.input-border + label:not(:empty) > span {
        position: absolute;
        top: 15px;
        display: block;
        font-size: 16px;
        transition: all 250ms ease-out 300ms;
        padding-left: 52px;
        padding-right: 52px; }
      div.input-border input.input-border + label:not(:empty) .input {
        z-index: 5;
        display: flex; }
        div.input-border input.input-border + label:not(:empty) .input span {
          display: block;
          position: relative; }
          div.input-border input.input-border + label:not(:empty) .input span:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -15px;
            left: -1px;
            width: calc(100% + 2px);
            height: 2px;
            border-radius: 1000px;
            background: white; }
        div.input-border input.input-border + label:not(:empty) .input span:last-child {
          margin-left: 2px; }
          div.input-border input.input-border + label:not(:empty) .input span:last-child:after {
            display: none !important; }
      div.input-border input.input-border + label:not(:empty) a {
        transition: all 150ms ease-in-out;
        transform-origin: center center;
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        z-index: 4;
        top: 13px;
        right: 13px;
        cursor: pointer;
        opacity: 0.75; }
        div.input-border input.input-border + label:not(:empty) a svg {
          transform-origin: center center;
          transform: rotate(45deg);
          display: block;
          width: 100%;
          height: 100%; }
          div.input-border input.input-border + label:not(:empty) a svg * {
            stroke-width: 8px; }
          div.input-border input.input-border + label:not(:empty) a svg circle {
            stroke: white;
            fill: white; }
          div.input-border input.input-border + label:not(:empty) a svg path {
            stroke: #40484B; }
        div.input-border input.input-border + label:not(:empty) a:hover, div.input-border input.input-border + label:not(:empty) a:focus {
          opacity: 1 !important; }
        div.input-border input.input-border + label:not(:empty) a:active svg circle {
          fill: rgba(255, 255, 255, 0.2); }
        div.input-border input.input-border + label:not(:empty) a:active svg path {
          stroke: white; }
      div.input-border input.input-border + label:not(:empty) > div {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        transform: rotateX(90deg);
        transition: all 300ms linear;
        transform-origin: center bottom;
        opacity: 0; }
        div.input-border input.input-border + label:not(:empty) > div > div, div.input-border input.input-border + label:not(:empty) > div > div div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div div:nth-child(2) {
          position: absolute; }
        div.input-border input.input-border + label:not(:empty) > div > div div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div div:nth-child(2) {
          border-radius: 1000px;
          content: "";
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transform: scaleX(0);
          background: white; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(1) {
          top: 0;
          left: 0;
          width: 100%;
          height: 2px; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(1) div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div:nth-child(1) div:nth-child(2) {
          transform-origin: right center;
          transition: all 300ms ease-in-out 750ms; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(2) {
          top: 0;
          right: 0;
          width: 2px;
          height: 100%; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(2) div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div:nth-child(2) div:nth-child(2) {
          transform-origin: center bottom;
          transition: all 100ms ease-in-out 650ms; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(3) {
          bottom: 0;
          right: 0;
          width: 100%;
          height: 2px; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(3) div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div:nth-child(3) div:nth-child(2) {
          transform-origin: left center;
          transition: all 300ms ease-in-out 500ms; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(4) {
          bottom: 0;
          left: 0;
          width: 2px;
          height: 100%; }
        div.input-border input.input-border + label:not(:empty) > div > div:nth-child(4) div:nth-child(1), div.input-border input.input-border + label:not(:empty) > div > div:nth-child(4) div:nth-child(2) {
          transform-origin: center top;
          transition: all 100ms ease-in-out 400ms; }
    div.input-border input.input-border:focus + label:not(:empty) .label {
      transform: translateY(-36px);
      font-size: 12px; }
    div.input-border input.input-border:focus + label:not(:empty) .input-icon * {
      stroke: white; }
    div.input-border input.input-border:focus + label:not(:empty) > div {
      transform: rotateX(0);
      opacity: 1; }
      div.input-border input.input-border:focus + label:not(:empty) > div > div div:nth-child(2), div.input-border input.input-border:focus + label:not(:empty) > div > div div:nth-child(2) {
        opacity: 1;
        transform: scaleX(1); }

fieldset.search-bar {
  border-radius: 1000px;
  height: 48px;
  background: white;
  overflow: hidden;
  position: relative; }
  fieldset.search-bar div {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  fieldset.search-bar label {
    position: relative;
    z-index: 10;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 48px;
    height: 48px; }
    fieldset.search-bar label svg {
      width: 24px;
      height: 24px; }
      fieldset.search-bar label svg * {
        fill: none;
        stroke: rgba(64, 72, 75, 0.5);
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round; }
  fieldset.search-bar input {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: calc(100% - 48px);
    height: 48px;
    padding-right: 15px;
    background: none; }

.number-input {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 48px; }
  .number-input div {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 2px;
    background: #637074; }
    .number-input div input {
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 2px;
      font-size: 28px;
      font-weight: 900 !important;
      text-align: center;
      color: white;
      transition: all 150ms ease-out; }
      .number-input div input:focus {
        background: rgba(255, 255, 255, 0.2); }
  .number-input label {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600 !important; }

fieldset textarea {
  resize: none;
  width: 100%;
  min-height: 75px;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
  background: #F1F1F1; }
  fieldset textarea:not(.no-border) {
    border: 2px solid #637074;
    border-bottom-width: 5px; }
  fieldset textarea::-webkit-input-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset textarea:-moz-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset textarea::-moz-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset textarea:-ms-input-placeholder {
    color: rgba(64, 72, 75, 0.2); }
  fieldset textarea:hover, fieldset textarea:focus {
    background: white; }
  fieldset textarea:focus {
    border-color: #69B3A5; }
    fieldset textarea:focus::selection {
      background: #40484B;
      color: white; }
    fieldset textarea:focus::-moz-selection {
      background: #40484B;
      color: white; }
    fieldset textarea:focus::-webkit-input-placeholder {
      color: rgba(64, 72, 75, 0.4); }
    fieldset textarea:focus:-moz-placeholder {
      color: rgba(64, 72, 75, 0.4); }
    fieldset textarea:focus::-moz-placeholder {
      color: rgba(64, 72, 75, 0.4); }
    fieldset textarea:focus:-ms-input-placeholder {
      color: rgba(64, 72, 75, 0.4); }
fieldset.with-button {
  position: relative; }
  fieldset.with-button div {
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0; }
    fieldset.with-button div span {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      filter: alpha(opacity=50);
      opacity: 0.5;
      padding-right: 10px;
      color: #40484B;
      font-size: 14px;
      text-align: center; }
    fieldset.with-button div a {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0 !important;
      width: 24px;
      height: 24px; }
      fieldset.with-button div a svg {
        display: block;
        width: 18px;
        height: 18px; }
        fieldset.with-button div a svg * {
          fill: none;
          stroke: white;
          stroke-width: 12px;
          stroke-linecap: round;
          stroke-linejoin: round; }
      fieldset.with-button div a:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      fieldset.with-button div a:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
  fieldset.with-button textarea {
    height: 150px;
    padding-bottom: 34px; }
    fieldset.with-button textarea:hover + div, fieldset.with-button textarea:focus + div {
      filter: alpha(opacity=100);
      opacity: 1; }
fieldset.no-border * {
  border-radius: 0 !important; }



/*# sourceMappingURL=../compiled/_input.css.map */
