.svg-logo {
  display: block !important;
  height: 100%;
  max-height: 42px;
  width: 100%;
  max-width: 109px; }
  .svg-logo svg {
    display: block;
    height: 100%; }
    .svg-logo svg path {
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -ms-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
      .svg-logo svg path:first-child {
        fill: rgba(255, 255, 255, 0.8); }
      .svg-logo svg path:last-child {
        fill: white; }
    .svg-logo svg text {
      fill: white; }
  .svg-logo:hover, .svg-logo:focus {
    background: none !important; }
    .svg-logo:hover svg path:first-child, .svg-logo:focus svg path:first-child {
      fill: white; }
    .svg-logo:hover svg path:last-child, .svg-logo:focus svg path:last-child {
      fill: rgba(255, 255, 255, 0.8); }
    .svg-logo:hover svg text, .svg-logo:focus svg text {
      fill: #F1F1F1; }

.icon-round-stroke {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  position: relative; }
  .icon-round-stroke:before {
    transform: scale(0);
    transform-origin: center center;
    transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27);
    border-radius: 1000px;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: white; }
  .icon-round-stroke * {
    transform-origin: center center; }
  .icon-round-stroke svg {
    transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27);
    height: 100%;
    width: auto;
    position: relative;
    z-index: 10; }
    .icon-round-stroke svg g, .icon-round-stroke svg circle, .icon-round-stroke svg path {
      transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
      transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1.27);
      fill: none;
      stroke: white;
      stroke-width: 4px;
      stroke-linecap: round;
      stroke-linejoin: round; }
    .icon-round-stroke svg g:not(.path) > path, .icon-round-stroke svg .path {
      transform: rotate(0deg); }
  .icon-round-stroke:hover, .icon-round-stroke:focus {
    background: none; }
    .icon-round-stroke:hover svg g:not(.path) > path, .icon-round-stroke:hover svg .path, .icon-round-stroke:focus svg g:not(.path) > path, .icon-round-stroke:focus svg .path {
      transform: rotate(180deg); }
    .icon-round-stroke:hover svg path, .icon-round-stroke:focus svg path {
      stroke: #40484B; }
    .icon-round-stroke:hover:before, .icon-round-stroke:focus:before {
      transform: scale(1); }
  .icon-round-stroke.no-rotate:hover svg g:not(.path) > path, .icon-round-stroke.no-rotate:hover svg .path, .icon-round-stroke.no-rotate:focus svg g:not(.path) > path, .icon-round-stroke.no-rotate:focus svg .path {
    transform: rotate(0deg); }
  .icon-round-stroke:active:before {
    background: #637074; }
  .icon-round-stroke:active svg circle {
    stroke: #637074; }
  .icon-round-stroke:active svg path {
    stroke: white; }
  .icon-round-stroke.close svg {
    transform: rotate(225deg); }
  .icon-round-stroke.close:hover svg, .icon-round-stroke.close:focus svg {
    transform: rotate(45deg); }



/*# sourceMappingURL=../compiled/_svg.css.map */
