@import '../../sass/mixin';

/* ---------- HOME */
.gpa-view {
	background: $gpa!important;
}
#gpa-home {
	background: $smoke;
	#top-bar {
		display: none!important;
		background: $gpa!important;
		@media screen and (min-width:768px) {
			display: block!important;
		}
		div:nth-child(2) {
			div {
				background: $gpa!important;
			}
			#top-logo {
		    	width: calc(100% - 212px + 64px - 15px)!important;
			}
		}
		#top-settings {
			margin-left: 15px;
		}
		#top-menu-links {
			background: mix($gpa, white, 80%);
			ul {
				li {
					position: relative;
					a {
						span {
							width: 100%;
						}
						&.active {
							svg {
								circle {
									stroke: $gpa;
									fill: $gpa;
								}
								path {
									stroke: white;
								}
							}
						}
					}
					input {
						@include flex;
						@include flex-center;
						position: absolute;
					    top: 7px;
					    right: 7px;
					    width: 36px;
					    height: 36px;
						border-radius: 2px;
						font-size: 20px;
						font-weight: 600;
						text-align: center;
						color: lighten($slate, 15%);
						@include placeholder {
							color: rgba(lighten($slate, 15%), 0.5);
						}
						&::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
 							@include appearance;
  							margin: 0;
						}
						&.long {
							width: 72px;
							font-size: 18px;
						}
					}
					a {
						&:hover, &:active, &:focus {
							background: white;
							span {
								color: $gpa;
							}
							svg {
								stroke: $gpa;
							}
						}
					}
				}
			}
		}
	}
	header.mobile-only {
		background: $gpa;
	}
}
#home-container {
	height: calc(100% - 50px);
	#home-gpa {
		h1, h2 {
			color: $gpa;
		}
	}
	.gpa-container {
		@include flex;
		@include flex-center;
		@include flex-wrap;
		height: 40%;
		.gpa {
			font-size: 128px;
			font-weight: 600;
			line-height: 1;
		}
		h2 {
			font-weight: 600;
		}
		#semester-slider.tab-bar {
			display: none;
			background: lighten($slate, 15%);
			width: 100%;
			height: 90px;
			a {
				height: 90px;
				font-size: 20px;
				line-height: 1.2;
				svg {
					display: block;
					width: 48px;
					height: 48px;
					* {
						@include svg-stroke(white, 6);
					}
				}
				&.semester-slider-nav {
					width: 90px;
				}
				&:not(.semester-slider-active) {
					@include opacity(0.5);
					&:hover, &:focus {
						@include opacity(1);
					}
				}
				&:not(.semester-slider-nav) {
					&:nth-child(1) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(0);
								border-color: white;
							}
						}
					}
					&:nth-child(2) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(165px);
								border-color: white;
							}
						}
					}
					&:nth-child(3) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(330px);
								border-color: white;
							}
						}
					}
					&:nth-child(4) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(495px);
								border-color: white;
							}
						}
					}
					&:nth-child(5) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(660px);
								border-color: white;
							}
						}
					}
					&:nth-child(6) {
						&.semester-slider-active, &.active {
							~ hr {
								@include translate-x(825px);
								border-color: white;
							}
						}
					}

					&:nth-child(1) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(0);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
					&:nth-child(2) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(165px);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
					&:nth-child(3) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(330px);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
					&:nth-child(4) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(495px);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
					&:nth-child(5) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(660px);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
					&:nth-child(6) {
						&:hover, &:focus {
							~ hr {
								@include translate-x(825px);
								border-color: rgba(white, .7);
							}
						}
						&:active {
							~ hr {
								border-color: white;
							}
						}
					}
				}
			}
		}
	}
	#home-courses {
		width: 100%;
		height: 60%;
		background: mix($gpa, white, 70%);
		overflow: auto;
		#home-add {
			height: 100%;
			@include flex;
			@include flex-wrap;
			@include flex-center;
			button {
				@include round;
				@include flex;
				@include flex-center;
				margin: 0 auto;
				width: 100px;
				height: 100px;
				padding: 10px;
				background: white;
				svg {
					display: block;
					width: 72px;
					height: 72px;
					* {
						@include svg-stroke($gpa, 6);
					}
				}
				&:hover {
					background: $gpa;
					svg {
						* {
							stroke: white;
						}
					}
				}
				&:active {
					background: mix($gpa, lighten($slate, 15%));
				}
			}
			span {
				display: block;
				margin: 30px auto 0;
				width: 100%;
				color: white;
				font-size: 36px;
				font-weight: 600;
			}
		}
		.semester-list {
			@include flex;
			@include flex-wrap;
			@include prefix(justify-content, center, webkit);
			width: 100%;
			max-width: 1030px;
			margin: 0 auto;
			padding: 1px;
			.semester-item {
				width: 100%;
				padding: 1px;
			}
		}
	}
}
.semester-item {
	> div {
		@include flex;
		@include flex-center-vertical;
		@include prefix(justify-content, space-between, webkit);
		padding: 15px;
		background: rgba(lighten($slate, 15%), .75);
		border-radius: 2px;
		h1 {
			font-size: 32px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.semester-item-course {
			text-align: left;
			width: calc(100% - 64px);
			padding-right: 15px;
			h3 {
				margin: 0;
				font-size: 20px;
				font-weight: 600;
			}
		}
		.semester-item-grade {
			position: relative;
			background: white;
			border-radius: 2px;
			padding: 5px;
			color: $gpa;
			height: 64px;
			width: 64px;
			> svg {
				display: block;
				width: 100%;
			}
			> div {
				@include flex;
				@include flex-wrap;
				@include flex-center;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			h2 {
				width: 100%;
				font-size: 28px;
				font-weight: 900;
			}
			span {
				width: 100%;
				display: block;
				margin-top: -5px;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
	&.semester-overall-item {
		> div {
			background: white;
			color: $gpa;
			.semester-item-course {
				h3 {
					color: mix(white, $gpa, 30%);
				}
			}
			.semester-item-grade {
				background: $gpa;
				color: white;
				width: 88px;
			}
		}
	}
}
@media screen and (min-width:768px) and (min-height:575px) {
	#home-container {
		height: calc(100% - 64px);
		#home-gpa {
			height: 50%;
			> div {
				@include flex;
				@include flex-center;
				@include flex-wrap;
				height: calc(100% - 90px);
			}
			.gpa {
				width: 100%;
				font-size: 160px!important;
			}
			#semester-slider {
				@include flex;
			}
		}
		#home-courses {
			height: 50%;
			.semester-list {
				height: 100%;
				padding: 7.5px;
				.semester-item {
					width: calc(100% / 3);
					padding: 7.5px;
				}
			}
		}
	}
}

/* ---------- GRADE MODAL */
#powerup-gpa-add {
	background: mix($gpa, white, 70%)!important;
}
.add-modal {
	section {
		header {
			height: calc(100% / 6);
		}
	}
	button {
		position: absolute;
		bottom: 0;
		left: 0;
		background: white;
		color: $gpa;
		font-weight: 900;
		text-transform: lowercase;
		border-radius: 2px;
		&:hover, &:focus {
			background: $gpa;
			color: white;
		}
		&:active {
			background: rgba(white, .5);
			color: white;
		}
	}
	.onboarding-search-container {
		background: mix($gpa, white, 70%);
		ul {
			@include flex;
			@include flex-wrap;
			@include prefix(justify-content, center, webkit);
			@include prefix(align-content, flex-start, webkit);
			padding: 7.5px;
			width: 100%;
			max-width: 830px;
			margin: 0 auto;
			li {
				padding: 7.5px;
				width: 50%;
				.course-card {
					h2 {
						color: $gpa;
					}
					h1 {
						color: lighten($slate, 15%);
					}
					.course-card-hover, .course-card-border {
						background: $gpa;
					}
				}
			}
		}
	}
	.onboarding-search {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 15px;
		&::before {
			display: none;
		}
		.input-field {
			* {
				color: white!important;
				border-color: white!important;
				outline-color: white!important;
			}
			input {
				padding-right: 20px;
			}
		}
		&#course-selected {
			.input-field {
				input, input::-webkit-placeholder {
					font-weight: 900!important;
				}
			}
		}
	}
}
#grade-options {
	@include flex;
	width: 100%;
	padding: 15px 7.5px;
	li {
		position: relative;
		margin: 0 7.5px;
		width: 20%;
		svg {
			position: relative;
			z-index: -1;
			display: block;
			width: 100%;
			height: 100%;
		}
		input {
			@include opacity(0);
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		label {
			@include flex;
			@include flex-center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
			border-radius: 2px;
			color: $gpa;
			font-size: 24px;
			font-weight: 600;
		}
		input {
			&:hover, &:focus {
				+ label {
					background: rgba(white,.5);
					color: white;
				}
			}
			&:checked {
				+ label {
					background: $gpa;
					color: white;
				}
			}
		}
	}
}
.course-input-form {
	padding: 0 15px;
	li {
		@include flex;
		@include flex-center-vertical;
		@include prefix(justify-content, space-between, webkit);
		width: 100%;
		padding: 15px;
		margin-bottom: 15px;
		background: rgba(lighten($slate, 15%),.75);
		border-radius: 2px;
		h1 {
			font-size: 28px;
			font-weight: 600;
			text-transform: lowercase;
		}
		input {
			background: white;
			border-radius: 2px;
			padding: 10px 15px;
			font-size: 24px;
			font-weight: 900;
			text-align: center;
			width: 128px;
			color: lighten($slate, 15%);
			@include placeholder {
				color: rgba(lighten($slate, 15%),.5);
			}
			&::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
				@include appearance;
				margin: 0;
			}
		}
	}
}
@media screen and (max-width:768px) {
	.add-modal {
		section {
			.onboarding-search-container {
				ul {
					li {
						.course-card {
							svg {
								display: none!important;
							}
							.course-card-inside {
								background: rgba(white, .5);
								position: relative!important;
								top: auto!important;
								left: auto!important;
								h1 {
									font-size: 20px!important;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:768px) and (min-height:575px) {
	.add-modal {
		section {
			position: static;
			max-width: 830px;
			margin: 0 auto;
			button {
				position: static;
				margin: 0 15px;
				width: calc(100% - 30px)!important;
			}
			header {
				max-width: 830px;
				height: 156px!important;
				h1 {
					display: none;
				}
				.header-nav {
					top: 15px;
					height: 36px!important;
					.header-close {
						height: 36px!important;
						svg {
							width: 36px!important;
							height: 36px!important;
						}
					}
				}
				.onboarding-search {
					&::before {
						display: none;
					}
					.input-field {
						* {
							color: white!important;
							border-color: white!important;
							outline-color: white!important;
						}
						input {
							height: 64px;
							width: 100%;
						}
						input, label {
							font-size: 36px;
						}
						label {
							top: 6px;
						}
						label.active {
							font-size: 24px;
						}
					}
				}
			}
			.onboarding-search-container {
				margin-top: -15px;
				ul {
					li {
						width: auto;
					}
				}
			}
			#grade-options {
				margin-top: -15px;
				label {
					font-size: 64px;
					font-weight: 900!important;
				}
			}
		}
	}
}

#powerup-gpa-title {
	background: mix(white, $gpa, 30%)!important;
	.powerup-title-inside {
		background: rgba(#637074, 0);
		&.bg-switch {
			background: rgba(#637074, 0.5);
		}
	}
}

/* ---------- DEMOGRAPHIC */
#powerup-gpa-demographic {
	.powerup-back {
		span {
			color: $gpa;
			svg {
				* {
					stroke: $gpa;
				}
			}
		}
		&:hover, &:focus {
			span {
				color: mix(white, $gpa, 30%);
				svg {
					* {
						stroke: mix(white, $gpa, 30%);
					}
				}
			}
		}
		&:active {
			span {
				color: lighten($slate, 15%);
				svg {
					* {
						stroke: lighten($slate, 15%);
					}
				}
			}
		}
	}
	.demo-grid {
		ul {
			li {
				a {
					background: mix(white, $gpa, 30%);
					border: 3px solid mix(white, $gpa, 30%);
					&.active, &:hover, &:focus {
						background: white;
						color: $gpa;
						> span {
							svg {
								* {
									stroke: $gpa;
								}
							}
						}
					}
					&:active {
						background: $gpa;
						border-color: $gpa;
						color: white;
						> span {
							svg {
								* {
									stroke: white;
								}
							}
						}
					}
				}
			}
		}
	}
	h1 {
		color: $gpa!important;
	}
}

#powerup-gpa-welcome {
	background: $smoke;
	> div {
		background: mix(white, $gpa, 30%);
	}
	.powerup-back {
		span {
			color: white;
			svg {
				* {
					stroke: white;
				}
			}
		}
		&:hover, &:focus {
			span {
				color: mix(white, $gpa, 60%);
				svg {
					* {
						stroke: mix(white, $gpa, 60%);
					}
				}
			}
		}
		&:active {
			span {
				color: lighten($slate, 15%);
				svg {
					* {
						stroke: lighten($slate, 15%);
					}
				}
			}
		}
	}
	button {
		&:hover, &:focus {
			color: $gpa;
		}
		&:active {
			color: white;
		}
	}
}