$charcoal: #2B3234;
.terms-modal, .faq-modal, .signup-modal,
.support-modal {
    color: $charcoal;
    p {
        font-size: 13px;
        margin: 10px 0px;
    }

    .header-nav {
        position:relative;
        a {
            display: inline-block;
            position: absolute;
            left: 15px;
            top: 7px;
            opacity: 0.7;
            font-size: 20px;
            }
    }
    .has-header {
        top:54px;
    }
}

.signup-modal {
    .header-nav a {
        top:10px;
        opacity:0.5;
    }
    .onboarding#account #account-form input {
        margin: 30px 0 15px;
        font-size: 20px;
        &.name-input {
            text-transform: capitalize;
        }
    }


    // #account-form input {
    //     margin-top: 20px !important;
    //     font-size: 18px !important;
    // }

    .input-ghost {
        box-sizing: border-box !important;
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0;
        padding-bottom: 5px;
        background: none;
        color: white !important;
    }
}

.category-skills-modal {
    top:33% !important;
    overflow: visible;
    #skills-list.onboarding-list > div ul li > span input:checked + span {
        background-color: #F9D57B;
    }

    .checklist li > span input:checked + span {
        background: url(../../../img/svg/check.svg) center center no-repeat;
    }

    .onboarding#skill-list .onboarding-list > div:before {
        position: absolute !important;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        display: block;
        top: -29px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom: 15px solid white;
    }
}

.faq-modal {
    header.bg-charcoal {
        z-index:1000 !important;
        h1.onboarding-message.text-center {
            width: 50%;
            margin: 0 auto;
        }
    }
    iframe {
        min-height: 150%;
        top: 0;
        position: static;
        margin-top: -2%;
        width: 100%;
        header#top {
            display:none !important;
        }
    }

    .has-header.full-height {
        top:0;
        z-index:0;
    }


}

.terms-modal, .support-modal {
    header .header-nav {
        .ion-chevron-down {
            position:absolute;
            top:10px;
            left:0px;
        }
    }
}

.university-modal  {
    a.header-nav-back {
        position: absolute;
        top: 14px;
        left: 20px;
        .ion-chevron-down {
            position: absolute;
            top: 0;
        }
    }

    .list-item.school-harvard {
        overflow: auto !important;
        overflow-y: hidden !important;
    }

    .school-name {
        overflow-x: hidden;
        padding-right: 20px;
        b {
            font-size:22px;
            font-weight:700;
            display:block;
            white-space:nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        i {
            font-size:13px;
            font-weight: 400;
        }
    }


    header {
        a .ion-close-circled {
                right: 15px;
                top: -31px;
                font-size: 18px;
                opacity: 0.7;
        }
    }

    .list-item.school-harvard .school-icon {
        img  {
                border: 2px solid #ee7f2d;
                border-radius: 50%;
                margin: 0 10px;
                max-height: 50px;
        }
    }
}