<ion-view view-title="Share and earn points">
  
    <ion-header-bar class="bar-dark bar-subheader padding black-subheader" style="padding-left:16px; padding-right:16px;">
        <p class="center" style="color:white; margin-bottom: 3px; font-size: 16px; margin-top: -3px;"> 
            Your referral code is <strong style="color: rgba(105, 179, 165, 1);">{{user.name.split(" ")[0]+user.id}}</strong>
<!--             <div class="subheader-text center">Tap here to copy link</div> -->
        </p>
    </ion-header-bar>

  <ion-content scroll="false" style="background-color: rgba(0,0,0,0.04);">
    <div class="list list-inset transparent-background" style="margin-top:20px">
        <a ng-click="shareOnFacebook()" class="item item-icon-right share-list-item-text">
            Share on Facebook
              <i class="icon ion-social-facebook" style="color:#38548C;"></i>
        </a>
        <a ng-click="shareOnTwitter()" class="item item-icon-right share-list-item-text">
            Share on Twitter
              <i class="icon ion-social-twitter" style="color:#38548C;"></i>
        </a>
        <a ng-click="shareOnWhatsApp()" class="item item-icon-right share-list-item-text">
            Share on Whatsapp
            <img src="img/icons/whatsapp.svg"class="icon whatsapp-icon"/>
        </a>
        <a ng-click="shareViaSms()" class="item item-icon-right share-list-item-text">
            Send a Text Message
            <img src="img/icons/text_msg.svg"class="icon whatsapp-icon"/>
        </a>
        <a ng-click="shareViaEmail();"class="item item-icon-right share-list-item-text">
            Send an Email
            <img src="img/icons/gmail.png"class="icon whatsapp-icon"/>
        </a>
    </div>
  </ion-content> 
</ion-view>