<ion-nav-view id='root-nav' animation="slide-left-right">
    <!-- Warnings: be careful with spaces, those are treated like characters
            i.e. opacity: 0 !== opacity:0
            (when it comes to shortcuts)
    -->
    <custom-shortcuts>
    <!-- check splash.nav.html for shortcut examples -->
        <!-- for prop, send, anim trigger-->
        <arg-shortcut replace="prop" with="p"/>
        <arg-shortcut replace="trigger" with="t"/>
        <arg-shortcut replace="prop" with="set"/>

        <!-- For css properties only -->
        <prop-shortcut replace="opacity" with="op"/>
        <prop-shortcut replace="transition" with="t"/>

        <!--Most general-->

        <!-- Since p->prop is defined already (since rendered top-to-bottom), this would work too:

        <command-shortcut replace="p:[op:0, z-index:-1000]" with="backstage"/>
         -->
        <cmd-shortcut replace="prop:[op:0, z-index:-1000]" with="backstage"/>
    </custom-shortcuts>
</ion-nav-view>

