==== Powerups: GPA =====
- Calculate filters, progress, on the milestones
- Plan Bare minimum MVP views/components via milestones + mvp syntax


==== Powerups: Munchies =====
- Calculate filters, progress, on the milestones
- Plan Bare minimum MVP views/components via milestones + mvp syntax

==== Powerups: Helicopters =====
- Calculate filters, progress, on the milestones
- Plan Bare minimum MVP views/components via milestones + mvp syntax


==== Powerups: Focus ====


==== Powerups: Textbook Share ===
- Parents

==== Powerups: Timer
- Parents

