<ion-view>
    <div class="splash-logo-guru guru-head" ng-include="root.base_url + 'shared/templates/components/svg/guru-head.html'"></div>
    <!--Signup mode-->
    <div  class="splash-content splash-signup-content ng-class:{'active':!page.account.loginMode && !page.account.forgotPassword}">

        <button id='signup-mode-login-btn' class-on-activate="tada:anim" class="btn-splash-login btn-ghost-white" ng-click='page.account.loginMode = true'>Login</button>
        <div class="splash-signup-inside full-x">
            <div class="school-id-card">
                <svg viewBox="0 0 240 160">
                    <rect x="0" y="0" width="300" height="175" fill="none"></rect>
                </svg>
                <div class="school-id-inside">
                    <div class="school-id-top" style="background: {{selectedUniversity.school_color_dark}};">
                        <span class="user-icon" style="background-color:transparent; border-color: {{selectedUniversity.school_color_dark}}; background-image: url({{user.profile_url || 'https://uguru.me/static/remote/img/avatar.svg'}});"></span>
                    </div>
                    <div class="school-id-bottom">
                        <div>
                            <h1 class='lettercase' style="color: {{selectedUniversity.school_color_dark}};">{{ user.name || 'Student Name'}}</h1>
                            <h2 style="color: {{selectedUniversity.school_color_dark}};">{{selectedUniversity.school_tiny_name || selectedUniversity.short_name || selectedUniversity.name}} {{(user.demographic && user.demographic.name) || 'Freshman'}}</h2>
                            <h2 style="color: {{selectedUniversity.school_color_dark}};">{{user.email || 'username@school.edu' }}</h2>
                        </div>
                        <h3 ng-if='user.student_courses && user.student_courses.length'><span style="color: {{selectedUniversity.school_color_dark}};">SELECTED COURSES</span></h3>
                    </div>
                </div>
            </div>
            <div class="splash-signup-form">
                <div name="name" class="input-field active">
                    <input type="text" placeholder="what's your name?" ng-focus="onSignupFormFocus('name', signupForm.name, signupForm)" ng-blur="updateUserIdCard('name', signupForm.full_name, signupForm)" ng-model='signupForm.full_name' autocomplete="off" ng-keyup="($event.keyCode == 13 || $event.keyCode == 9) && updateUserIdCard('name', signupForm.full_name, signupForm)" />
                    <small class='form-error absolute txt-shamrock weight-400' ng-if='signupForm.focusedInput === "name" && signupForm.activateErrorMsg && signupForm.activateErrorMsg.length'>{{signupForm.activateErrorMsg}}</small>
                    <a ng-if='!signupForm.activateErrorName && signupForm.focusedInput === "name"' class="active" ng-click='signupForm.full_name = "";'>
                        <svg class="clear" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                    <a class='active'  ng-if='!signupForm.activateErrorName && signupForm.validateName'>
                        <svg class="verified" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                        </svg>
                    </a>
                    <a ng-if='signupForm.activateErrorName' class='active' ng-click='signupForm.full_name = "";'>
                        <svg class="error" viewBox="0 0 100 100" >
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                </div>
                <div name="email" class="input-field" ng-class="{ 'active' : signupForm.activateEmail}"  style='margin-top:100px;'>
                    <input type="email" ng-focus="onSignupFormFocus('email', signupForm.email, signupForm)" ng-blur="updateUserIdCard('email', signupForm.email, signupForm)" placeholder="what's your email?" ng-model='signupForm.email' autocomplete="off" ng-keyup="($event.keyCode == 13 || $event.keyCode == 9) && updateUserIdCard('email', signupForm.email, signupForm)" />
                    <small class='form-error absolute txt-shamrock weight-400' ng-if='signupForm.focusedInput === "email" && signupForm.activateErrorMsg && signupForm.activateErrorMsg.length'>{{signupForm.activateErrorMsg}}</small>
                    <a ng-if='signupForm.focusedInput === "email"' class="active" ng-click='signupForm.email = "";'>
                        <svg class="clear" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                    <a ng-if='!signupForm.activateErrorEmail && signupForm.validateEmail' class='active'>
                        <svg class="verified" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                        </svg>
                    </a>
                    <a ng-if='signupForm.activateErrorEmail' class='active' ng-click='signupForm.email = "";'>
                        <svg class="error" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                </div>
                <div name="password" class="input-field" ng-class="{'active': signupForm.activatePassword}" style='margin-top:200px;'>
                    <input type="password" ng-blur="updateUserIdCard('password', signupForm.password, signupForm)"  ng-focus="onSignupFormFocus('password', signupForm.password, signupForm)" placeholder="enter a password" autocomplete="off" ng-keyup="(($event.keyCode == 13 || $event.keyCode == 9) && signupOnEnter()) || (signupForm.password.length > 5 && updateUserIdCard('password', signupForm.password, signupForm))" ng-model='signupForm.password'/>
                    <small class='form-error absolute txt-shamrock weight-400' ng-if='signupForm.focusedInput === "password" && signupForm.activateErrorMsg && signupForm.activateErrorMsg.length'>{{signupForm.activateErrorMsg}}</small>
                    <a class='active' ng-if='signupForm.focusedInput === "password"' ng-click='signupForm.password = "";'>
                        <svg class="clear" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                    <a ng-if='!signupForm.activateErrorPassword && signupForm.validatePassword' class='active'>
                        <svg class="verified" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                        </svg>
                    </a>
                    <a ng-if='signupForm.activateErrorPassword' class='active' ng-click='signupForm.password = "";'>
                        <svg class="error" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="36"></circle>
                            <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <ul class="splash-signup-buttons">
                <li><button ng-click="switchToLogin()">Switch<br/>to Login</button></li>
                <li><button ng-click='connectWithFacebook()'>Login with<br/>Facebook</button></li>
            </ul>
            <div class='ugrid-2 flex-wrap-center full-x absolute bottom-0 flex-wrap-center p20xy left-0 invisible' ng-class="{'visible animated bounceInUp': signupForm.validatePassword && signupForm.validateEmail && signupForm.validateName}">
                <button style='width:50% !important' ng-click='completeSignup()' class="p10y p05x mright05 btn-login-login btn-ghost-white caps">Continue with Email</button>
                <button style='width:50% !important' ng-click='connectWithFacebook()' class="p10y p05x mleft05 btn-login-fb btn-ghost-white caps">Continue with Facebook</button>
            </div>
        </div>
    </div>
    <!-- Login Mode -->
    <div class="splash-content splash-login-content ng-class:{'active':page.account.loginMode && !page.account.forgotPassword}">
        <button class="btn-splash-login btn-ghost-white" ng-click='switchToSignup()'>Signup</button>
        <div class="splash-login-inside">
            <div class="input-field">
                <input type="email" placeholder="what's your email?" ng-model='signupForm.email' autocomplete="off"/>
                <a>
                    <svg class="clear" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
                <a>
                    <svg class="verified" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                    </svg>
                </a>
                <a>
                    <svg class="error" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
            </div>
            <div class="input-field">
                <input type="password" ng-model="signupForm.password" ng-keyup="$event.keyCode == 13 && loginUser()" placeholder="enter secure password"/>
                <a>
                    <svg class="clear" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
                <a>
                    <svg class="verified" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                    </svg>
                </a>
                <a>
                    <svg class="error" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
            </div>
            <ul class="splash-signup-buttons">
                <li class="login"><button ng-click='loginUser()'>Login</button></li>
                <li><button ng-click='connectWithFacebook()'>Login with<br/>Facebook</button></li>
                <li><button>Switch<br/>to Signup</button></li>
                <li><button ng-click="switchToForgotPassword()">Forgot your password?</button></li>
            </ul>
            <div class="login-buttons">
                <button ng-click='connectWithFacebook()' class="btn-login-fb btn-ghost-white">Login with Facebook</button>
                <button ng-click='loginUser()' class="btn-login-login btn-ghost-white">Login</button>
                <button ng-click="switchToForgotPassword();" class="btn-forgot-pw btn-ghost-white">Forgot your<br/>password?</button>
            </div>
        </div>
    </div>
    <!-- Forgot password mode -->
    <div class="splash-content splash-forgot-pw-content splash-login-content ng-class:{'active':page.account.forgotPassword}">
        <button class="btn-splash-login btn-ghost-white" style='left:15px; right:none;'ng-click='switchToSignup()'>Signup</button>
        <button class="btn-splash-login btn-ghost-white" ng-click='switchToLogin()'>Login</button>
        <div class="splash-login-inside">
            <div class="input-field">
                <input type="email" placeholder="what's your email?" ng-model='signupForm.email' autocomplete="off"/>
                <a>
                    <svg class="clear" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
                <a>
                    <svg class="verified" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M31,52.6470588 L42.1764706,63.8235294 L69,37"></path>
                    </svg>
                </a>
                <a>
                    <svg class="error" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="36"></circle>
                        <path d="M50,50 L50,31.5643475 L50,50 L31.5643475,50 L50,50 Z M50,50 L50,68.4356525 L50,50 L68.4356525,50 L50,50 Z"></path>
                    </svg>
                </a>
            </div>
            <div class="login-buttons">
                <button ng-click='attemptToResetPassword()' class="btn-login-login btn-ghost-white">Submit</button>
                <button ng-click='switchToLogin()' class="btn-forgot-pw btn-ghost-white">Cancel</button>
            </div>
        </div>
    </div>
</ion-view>
