.guru-home .tabs .tab-item .icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/sessions-tab.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }
.guru-home .tabs .tab-item .icon.request-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/request-tab.svg');
  background-size: contain;
  position: absolute;
  width: 100%;
  font-weight: bold; }
.guru-home .tabs .tab-item .icon.settings-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/settings-tab.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }

.student-home .tabs .tab-item .icon.session-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.session-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-1.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }
.student-home .tabs .tab-item .icon.request-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.request-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-3.svg');
  background-size: contain;
  position: absolute;
  width: 100%;
  font-weight: bold; }
.student-home .tabs .tab-item .icon.settings-icon, .bottom-tabs.tabs-positive .tabs .tab-item .icon.settings-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/tabs-icon-2.svg');
  background-size: contain;
  position: absolute;
  width: 100%; }



  /*.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top:0px;
  }

  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height:44px;
  }

  .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top:44px;
  }*/

  .icon.guru-profile-icon
{
  background-repeat: no-repeat;
  background-position: 50%;
  height: 15px;
  background-image: url('/static/remote/img/guru-profile.svg');
  background-size:contain;
  position: absolute;
  width: 100%;
}