@import '../../../../shared/css/scss/partials/mixin';

.splash-device {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    @media screen and (min-width: 768px) {
        display: block;
    }
    .splash-device-svg {
        transition: all 150ms ease-in-out;
    }
    &.splash-device-iphone {
        margin-left: -150px;
        margin-top: -306px;
        .splash-device-svg {
            @include flex;
			transition: all 150ms ease-in-out;
			width: 100%;
			.iphone-left, .iphone-right {
				display: block;
				height: 100%;
                max-height: 655.09px;
				width: 50%;
				max-width: 160px;
			}
			.sheen {
				display: block;
				height: 100%;
				width: 275px;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -137.5px;
				margin-top: -246.5px;
				path {
					transform: translate3d(-10px,-10px,0);
					opacity: 0.5;
				}
			}
		}
        .splash-device-content, .splash-device-profile {
            top: 12.6%;
            left: 7.3%;
            width: 85.4%;
            height: 75%;
            .coach-click {
                bottom: 65px!important;
                right: -90px!important;
            }
        }
    }
}

.splash-device-content {
    @include flex;
    @include flex-wrap;
    position: absolute;
    .splash-device-search {
        @include center-xy;
        width: 100%;
        height: 100%;
        .splash-device-found {
            margin-bottom: 10px;
            // &.active {
            // 	@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
            // 	@include prefix(transform, translateY(100%), webkit moz ms o);
            // }
        }
        .splash-device-search-inside {
            @include flex;
            @include flex-wrap;
            @include flex-center;
            height: 100%;
        }
        .echo-loader-small {
        	* {
        		transform-origin: center center;
        	}
        	.echo-loader-echo {
        		// animation: ping 1500ms ease-in-out infinite, echo-loader-main 5s ease-in-out forwards;
        	}
        	.echo-loader-main {
                transform: rotateY(180deg);
        		// stroke-dasharray: 346;
        		// animation: echo-loader-main-small 5s ease-in-out forwards;
        	}
        }
        ul {
            @include flex;
            @include flex-wrap;
            &.splash-device-search-gurus {
                li {
                    @include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
                    @include flex;
                    @include flex-center;
                    width: calc(100% / 3);
                    padding: 8px 0;
                    div {
                        @include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
                        &.splash-marker-guru-first {
                            @include prefix(transition-delay, 4500ms, webkit moz ms o);
                            @include opacity-important(0);
                        }
                        &.splash-marker-guru-active {
                            @include opacity(0);
                        }
                    }
                    .marker-guru {
                        @include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
                        @include round;
                        @include flex;
                        @include flex-center-vertical;
                        position: relative;
                        height: 30px;
                        width: 74px;
                        padding-left: 28px;
                        border: 2px solid white;
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 1;
                        text-align: center;
                        &.bg-academic {
                            background: rgba($auburn, .3);
                            &:hover, &:focus {
                                background: $auburn;
                            }
                        }
                        &.bg-freelancing {
                            background: rgba($orange, .3);
                            &:hover, &:focus {
                                background: $orange;
                            }
                        }
                        &.bg-baking {
                            background: rgba($gold, .3);
                            &:hover, &:focus {
                                background: $gold;
                            }
                        }
                        &.bg-photography {
                            background: rgba($moola, .3);
                            &:hover, &:focus {
                                background: $moola;
                            }
                        }
                        &.bg-tech {
                            background: rgba($azure, .3);
                            &:hover, &:focus {
                                background: $azure;
                            }
                        }
                        &.bg-household {
                            background: rgba($cobalt, .3);
                            &:hover, &:focus {
                                background: $cobalt;
                            }
                        }
                        &.bg-athletic {
                            background: rgba($eggplant, .3);
                            &:hover, &:focus {
                                background: $eggplant;
                            }
                        }
                        &.bg-academic {
                            background: rgba($cerise, .3);
                            &:hover, &:focus {
                                background: $cerise;
                            }
                        }
                        .user-icon {
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            width: 30px;
                            height: 30px;
                            border-width: 2px;
                        }
                        .marker-guru-course {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                // li {
                // 	width: calc(100% / 3);
                // 	.user-icon {
                // 		@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
                // 		width: 64px;
                // 		height: 64px;
                // 		border-width: 2px;
                // 		background-color: $shamrock;
                // 	}
                // }
            }
            &.splash-device-search-courses {
                margin-top: -15px;
                li {
                    width: 50%;
                    span {
                        @include flex;
                        @include flex-center;
                        @include round;
                        width: 100%;
                        max-width: 105px;
                        margin: 0 auto;
                        height: 36px;
                        border: 2px solid white;
                        font-size: 18px;
                        font-weight: 600;
                        &.bg-delivery {
                            background: rgba($auburn, .25);
                        }
                        &.bg-freelancing {
                            background: rgba($orange, .25);
                        }
                        &.bg-baking {
                            background: rgba($gold, .25);
                        }
                        &.bg-photography {
                            background: rgba($moola, .25);
                        }
                        &.bg-tech {
                            background: rgba($azure, .25);
                        }
                        &.bg-household {
                            background: rgba($cobalt, .25);
                        }
                        &.bg-athletic {
                            background: rgba($eggplant, .25);
                        }
                        &.bg-academic {
                            background: rgba($cerise, .25);
                        }
                    }
                }
            }
        }
    }
    .splash-device-button {
        @include prefix(align-self, flex-end, webkit);
        width: 100%;
    }
    button {
        width: 100%;
        height: 54px;
        font-weight: 600;
        text-transform: uppercase;
        &.opacity-0 {
            visibility: hidden;
            &:hover, &:focus {
                @include opacity-important(0);
            }
        }
        &.animated {
            @include prefix(animation-delay, 1000ms, webkit moz ms o);
        }
    }
}

.iphone-device {
    animation: device-rotate-in 750ms cubic-bezier(.2,.79,.11,1.97) 1000ms forwards;
    transform-origin: center center;
    transform: rotate(30deg);
}

.iphone-left {
    animation: left-device-slide-in 750ms cubic-bezier(.2,.79,.11,1.97) 1000ms forwards;
    stroke-opacity: 0;
    opacity: 0.2;
    transform-style: preserve-3d;
}

.iphone-right {
    animation: right-device-slide-in  750ms cubic-bezier(.2,.79,.11,1.97) 1000ms forwards;
    opacity: 0.2;
    stroke-opacity: 0;
    transform-style: preserve-3d;
}


.default-color {
    opacity: 0;
}

.screen-left,
.screen-right {
    animation: device-screen 750ms cubic-bezier(.89,.01,1,.12) 2050ms forwards;
    stroke-dasharray: 789;
    stroke-dashoffset: 789;
}

.backing-left,
.backing-right {
    animation: backing 750ms cubic-bezier(.89,.01,1,.12) 1900ms forwards;
    stroke-dasharray: 929;
    stroke-dashoffset: 929;
}

.home-btn-left,
.home-btn-right {
    animation: home-btn 750ms cubic-bezier(.89,.01,1,.12) 2150ms forwards;
    stroke-dasharray: 79;
    stroke-dashoffset: 79;
}

.sheen path{
    animation: sheen 200ms cubic-bezier(.6,.19,1,.61) 4000ms forwards;
    transform-origin: center center;
}

.u-scaleIn-bounceDown {
    animation: u-scaleIn-bounceDown 1000ms ease-out both;
}

/* http://goo.gl/5IAZLh */
@keyframes u-scaleIn-bounceDown {
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
    2.1% { transform: matrix3d(0.26, 0, 0, 0, 0, 0.26, 0, 0, 0, 0, 1, 0, 0, -44.509, 0, 1); }
    4.1% { transform: matrix3d(0.493, 0, 0, 0, 0, 0.493, 0, 0, 0, 0, 1, 0, 0, -72.206, 0, 1); }
    4.3% { transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, -74.248, 0, 1); }
    8.21% { transform: matrix3d(0.853, 0, 0, 0, 0, 0.853, 0, 0, 0, 0, 1, 0, 0, -91.965, 0, 1); }
    8.61% { transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, -91.781, 0, 1); }
    11.41% { transform: matrix3d(1.011, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, -83.235, 0, 1); }
    12.91% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, -74.858, 0, 1); }
    14.51% { transform: matrix3d(1.079, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, -64.253, 0, 1); }
    17.22% { transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, -44.824, 0, 1); }
    20.72% { transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, -21.211, 0, 1); }
    27.03% { transform: matrix3d(1.029, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 6.461, 0, 1); }
    28.33% { transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 9.434, 0, 1); }
    33.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.755, 0, 1); }
    39.44% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 9.688, 0, 1); }
    45.75% { transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 3.15, 0, 1); }
    58.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.057, 0, 1); }
    61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.834, 0, 1); }
    83.28% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.308, 0, 1); }
    83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.306, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/cZwvpL */
@keyframes u-scaleIn-bounceUp {
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
    2.1% { transform: matrix3d(0.26, 0, 0, 0, 0, 0.26, 0, 0, 0, 0, 1, 0, 0, 44.509, 0, 1); }
    4.1% { transform: matrix3d(0.493, 0, 0, 0, 0, 0.493, 0, 0, 0, 0, 1, 0, 0, 72.206, 0, 1); }
    4.3% { transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 74.248, 0, 1); }
    8.21% { transform: matrix3d(0.853, 0, 0, 0, 0, 0.853, 0, 0, 0, 0, 1, 0, 0, 91.965, 0, 1); }
    8.61% { transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 91.781, 0, 1); }
    11.41% { transform: matrix3d(1.011, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 83.235, 0, 1); }
    12.91% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 74.858, 0, 1); }
    14.51% { transform: matrix3d(1.079, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 64.253, 0, 1); }
    17.22% { transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 44.824, 0, 1); }
    20.72% { transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, 21.211, 0, 1); }
    27.03% { transform: matrix3d(1.029, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, -6.461, 0, 1); }
    28.33% { transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, -9.434, 0, 1); }
    33.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.755, 0, 1); }
    39.44% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, -9.688, 0, 1); }
    45.75% { transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, -3.15, 0, 1); }
    58.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.057, 0, 1); }
    61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.834, 0, 1); }
    83.28% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.308, 0, 1); }
    83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.306, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

@keyframes sheen {
    0% {
        transform: translate3d(-10px,-10px,0);
    }
    100% {
        transform: translate3d(625px,1018px,0);
    }
}

@keyframes home-btn {
    0% {
        stroke-dashoffset: 79;
        opacity: 1;
        stroke-opacity:1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke-opacity:1;
    }
}

@keyframes backing {
    0% {
        stroke-dashoffset: 929;
        opacity: 1;
        stroke-opacity:1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke-opacity:1;
    }
}

@keyframes device-screen {
    0% {
        stroke-dashoffset: 789;
        opacity: 1;
        stroke-opacity:1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke-opacity:1;
    }
}

@keyframes device-color {
    0% { fill: #2b2324; }
    50% { fill: #003057; }
    100% { fill: #2b2324; }
}

@keyframes right-device-slide-in {
    0% {transform: translate3d(0,-30%,0);}
    100% {transform: translate3d(0,0,0);}
}

@keyframes left-device-slide-in {
    0% {transform: translate3d(0,30%,0);}
    100% {transform: translate3d(0,0,0);}
}

@keyframes device-rotate-in {
    0% {transform: rotateZ(30deg) rotateY(-90deg); opacity:1; }
    100% {transform: rotate(0deg); opacity:1;}
}



.coach-click {
    display: block;
    position: absolute;
    width: 106px;
    path {
        &:nth-child(1) {
            stroke-dasharray: 137;
            stroke-dashoffset: 137;
        }
        &:nth-child(2) {
            stroke-dasharray: 53;
            stroke-dashoffset: 53;
        }
        &.animate {
            &:nth-child(1) {
                @include prefix(animation, coach-click-2 200ms ease-in 1500ms 1 forwards, webkit moz ms o);
            }
            &:nth-child(2) {
                @include prefix(animation, coach-click-1 100ms ease-in 1700ms 1 forwards, webkit moz ms o);
            }
        }
    }
    g g {
        @include prefix(animation-delay, 2000ms, webkit moz ms o);
    }
}
