    <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title">Guru Mode</h1>
    </ion-header-bar>

    <ion-content class="background-black-8">
      <div class="your-session">
        <div class="guru-img center">
          <img src='./img/uguru-03.png' class="guru-icon">
        </div>
        <div class="guru-message center">
          Sit tight, relax for a bit.<br>
          Uguru will notify you as soon as<br>
          a student needs your helps.
        </div>
        <div class="guru-mode center">
          Guru Mode is <span class="positive">ON</span>
        </div>
        <ul class="list">
          <li class="item guru-list">
            Guru Mode
          </li>
          <ion-toggle class="guru-list"
                    ng-model="user.guru_discoverability"
                    ng-checked="true"
                    ng-change="guruDiscoverabilityChange()">
          Guru Discoverability
        </ion-toggle>
        </ul>
      </div>
    </ion-content>