    <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title">Guru Book</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <div class="row center">
        <div class="col border-bottom">ALL CLASSES</div>
        <div class="col" ng-repeat="course in user.student_courses" >{{course.short_name}}</div>
      </div>
    </div>

    <ion-content ng-show="user.gurus && user.gurus.length > 0">
      <div class="guru-book margin-top-40">
        <li class="item padding-6-15">
          <div class="icon"><img src='./img/shun.png' class='width'></div>
          <div class="box-2 margin-top">
            <div class="box-3">
              <span class="name">Shun Kurosaki
              </span>
              <div class="stars">
                <span class="icon ion-star"></span>
                <span class="icon ion-star"></span>
                <span class="icon ion-star"></span>
                <span class="icon ion-star"></span>
                <span class="icon ion-star"></span>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ion-content>
    <ion-content ng-show="!user.gurus">
        <div class="no-session margin-150-10 center">
          <h2>No Gurus Yet.</h2>
          <div class="gray">Request help to be matched with a Guru</div>
          <div class="green" ng-click="addCourseModal.show()">+Request Help</div>
        </div>
    </ion-content>