  <ion-view title="Notification Settings">
    <ion-content>
        
        <ion-toggle ng-repeat="item in settingsList"
                    ng-model="item.checked" 
                    ng-checked="item.checked"
                    ng-change="item.changed(item.checked)">
          {{ item.text }}
        </ion-toggle>

    </ion-content>
  </ion-view>
  <!-- <div class="bar bar-footer uguru-footer">
    <div class="row">
      <div class="col center"><img src='./img/glass.png' class='width'></div>
      <div class="col center"><img src='./img/book.png' class='width'></div>
      <div class="col center border-bottom"><img src='./img/setting.png' class='width'></div>
    </div>
  </div> -->