<ion-view title="Your {{session.course.short_name}} Session">
  <ion-content class="background-black" style="background-color:black; opacity:0.8">
    <div class="oh relative">
      <div class="md-box-1 center">
        <div class="sm-box-1">
          Woohoo!
        </div>
        <div class="sm-box-2">
          {{session.request.guru.name.split(" ")[0]}} is <br> on the way!
        </div>
      </div>
      <div class="row bottom center">
        <div class="col">
          <div class="font-size-16"><span class="icon ion-navigate"></span>{{session.address}}</div>
        </div>
      </div>
      <hr>
      <ul class="list">
        <li class="item padding-10-14">
          <div class="icon"><img src='./img/shun.png' class='width'></div>
          <div class="box">
            <div class="name">{{session.request.guru.name.split(" ")[0]}}
              <span class="profile" style="font-size:14px !important;" ng-click="goToGuruProfile(session.request.guru)" >view profile</span>
            </div>
            <div class="stars" ng-show="guru.guru_avg_rating">
                <span class="icon ion-star" ng-repeat="i in getNumber(session.request.guru.guru_avg_rating) track by $index"></span>
              </div>
              <div class="stars" ng-show="!session.request.guru.guru_avg_rating">
                First Time Guru
            </div>
          </div>
        </li>
        <li class="item padding-10-14 border-bottom-2">
          Just <span class="bold-font">$5</span> for every <span class="bold-font">15 Minutes</span>
        </li>
        <li class="item padding-0-4">
          <button class="button button-full button-positive" ng-click="goToSessionMessages(session)">
            Message {{session.guru.short_name}}
          </button>
          <button class="button button-full button-positive button-outline" ng-click="ratingModal.show()">
            End Session
          </button>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>