    <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 id="settings-header" class="title">Settings</h1>
    </ion-header-bar>
    <ion-content>
      <div class="setting">
        <div class="space-1 center" ng-show="false">
          <div class="item">
            <div class="icon"><img src='./img/shun.png' class='width'></div>
            <div class="box-2 margin-top">
              <div class="name">Shun Kurosaki</div>
              <div class="course-name">BIO 101</div>
            </div>
          </div>
          <hr>
          <div class="message">
            sed ut perspiciatis unde omnis iste<br>
            natus error sit boluptatem accusantium<br>
            doloremque landantium. totam<br>
            rem aperiam.
          </div>
        </div>          

        <div class="space-2">
          <ul class="list">
            <li class="item padding-2-14 center">
              <div class="sessions">
                <div class="row">
                  <div class="col col-50">
                    <div class="number">{{user.student_sessions.length}}</div>
                    <div class="detail">sessions</div>
                  </div>
                  <div class="col col-50">
                    <div class="number">{{user.student_courses.length}}</div>
                    <div class="detail">classes</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="item padding-10-14">
              <div class="courses">
                <span class="bold-font classes">CLASSES</span>
                <span class="bold-font sm-box-orange" ng-repeat="course in user.student_courses">{{course.short_name}}</span>
                <span class="bold-font sm-box-green" ng-click="addCourseModal.show();">ADD A CLASS</span>
              </div>
            </li>
            <a class="item gray" ui-sref="^.settings-profile">
              Edit my profile & classes
            </a>
            <div class="item item-divider">
              PRIVACY SETTINGS
            </div>
            <a class="item gray" href="#" ui-sref="^.settings-notifications">
              Notification Settings
            </a>
            <div class="item item-divider">
              PAYMENT SETTINGS
            </div>
            <a class="item gray" ui-sref="^.settings-card">
              Credit Cards
            </a>
            <a class="item gray" ui-sref="^.settings-transactions">
              Transaction History
            </a>
            <div class="item item-divider">
              ACCOUNT SETTINGS
            </div>
            <a class="item gray" href="#" ng-click="showComingSoon()">
              Logout
            </a>
            <a class="item gray" href="#" ng-click="showComingSoon()">
              Delete Account
            </a>
            
            <div class="item item-divider">
              DEV SETTINGS
            </div>
            <a class="item gray" ng-click="clearCache()">
              Clear Cache
            </a>
            <a class="item gray" ng-click="showPopupDev()">
              Show Popup (Shun)
            </a>
            <a class="item gray" ng-click="showPopoverDev()">
              Show Popover (Shun)
            </a>
            <a class="item gray" ng-click="ratingModal.show()">
              Show Ratings Modal (Shun)
            </a>
            <a class="item gray" ui-sref="^.animations">
              Animation List
            </a>
          </ul>
          </ul>
        </div>
    </div>
  </ion-content>
  <!-- <div class="bar bar-footer uguru-footer">
    <div class="row">
      <div class="col center"><img src='./img/glass.png' class='width'></div>
      <div class="col center"><img src='./img/book.png' class='width'></div>
      <div class="col center border-bottom"><img src='./img/setting.png' class='width'></div>
    </div>
  </div> -->