{% extends 'new_admin/base.html' %}

{% block header_scripts %}
<link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <!-- ion slider Nice -->
    <link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.skinNice.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            View {{user.name}}'s profile<br>
            <small>This is where we can stalk users & make sure they are getting the best experience</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/new_admin/"><i class="fa fa-envelope"></i> Home </a></li>
            <li><a href="#"></a>users</li>
            <li class="active">{{user.name.split(' ')[0]|title}}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">


        <div class='row'>
          <div class="col-xs-12">
              <!-- small box -->
              <div class="small-box bg-olive">
                <div class="inner center" style='text-align:center'>
                  <img style = 'display:inline-block' class='img-circle' height="100" width="100" src='{{user.profile_url}}'></img>
                  <h3>{{user.name}}</h3>
                  <p><strong>{{user.email}}</strong></p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bar"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-down"></i>
                </a>
              </div>
            </div>
        </div>


        <div class="row">


                  {% for request in user.requests %}


                        <div class="row" style='padding:1em;'>
                          <div class="col-xs-12">

                              <ul class="timeline">

                                <!-- timeline time label -->
                                {% if not request.guru%}
                                <li class="time-label">
                                    <span class="bg-red">
                                        NOT MATCHED
                                    </span>
                                </li>
                                {% endif %}
                                <!-- /.timeline-label -->

                                <li>
                                  <i class="fa fa-camera bg-purple"></i>
                                  <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i></span>
                                    <div class="timeline-header">Description</div>
                                    <div class="timeline-body">
                                      {{request.description}}
                                    </div>
                                  </div>
                                </li>

                                <li>
                                  <i class="fa fa-paperclip bg-olive"></i>
                                  <div class="timeline-item">
                                    <div class="timeline-header"><a href="#">{{request.student.name}}</a> attached {{request.files|length}} files</div>
                                    <div class="timeline-body">
                                      {% for file in request.files %}
                                      <img src="{{file.url}}" alt="..." class="margin" height="100" width="150">
                                      {% endfor %}
                                    </div>
                                  </div>
                                </li>

                                <li>
                                  <i class="fa fa-clock-o bg-gray"></i>
                                  <div class='timeline-item'>
                                    <div class='timeline-header'>
                                      <strong>
                                      {{request.time_created.strftime('%I:%M %p, %a %b %d')}}
                                      </strong>
                                    </div>
                                    <div class='timeline-body'>
                                      {{request.student.name.split(' ')[0]|title}} created the request
                                    </div>
                                  </div>
                                </li>

                            </ul>
                          </div>
                        </div>


                  {% endfor %}
              </div>

          </div>


{% endblock %}

{% block footer_scripts %}
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/timepicker/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="/static/js/new_admin/mandrill.js" type="text/javascript"></script>

v{% endblock %}