{% extends 'new_admin/base.html' %}

{% block header_scripts %}
<link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <!-- ion slider Nice -->
    <link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.skinNice.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
 <!-- Content Wrapper. Contains page content -->

      <div class="content-wrapper" style="min-height: 918px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Devices
            <small>All devices on our platform</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-bar-chart-o"></i> Home</a></li>
            <li>Stats</li>
            <li class="active">Devices</li>
          </ol>
        </section>


        <section class="content">


          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{test_devices|length}}</h3>
                  <p># Test Devices</p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-6 col-md-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{regular_devices|length}}</h3>
                  <p># Regular Devices</p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
              </div>
            </div><!-- ./col -->
          </div>

          <div class='row'>
            <div class='col-md-6'>
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Test Device Details</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th style='text-align:center;'>ID</th>
                          <th style='text-align:center;'>Recent</th>
                          <th style='text-align:center;'>User</th>
                          <th style='text-align:center;'>Info</th>
                          <th style='text-align:center;'>Network</th>
                          <th style='text-align:center;'>Body/Device</th>
                          <th style='text-align:center;'>Push?</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for device in test_devices %}
                        <tr>
                          <td style='text-align:center;'>{{device.id}}</td>
                          <td style='text-align:center;'>{{device.last_accessed.strftime('%b %d')}}</td>
                          <td style='text-align:center;'>
                            {% if device.user %}
                              <a href="/admin/users/{{device.user.id}}" target='_blank'> {{device.user.name.split(' ')[0]}} </a>
                            {% else %}
                              NA
                            {% endif %}
                          </td>
                          <td style='text-align:center;'>
                            {% if device.platform == 'iOS'%}
                              <i class="fa fa-apple"></i>

                            {% elif device.platform|lower == 'android'%}
                              <i class="fa fa-android"></i>
                              {% elif device.platform|lower == 'windows'%}
                            {% else %}
                              {{device.platform}}
                            {% endif %}
                            v{{device.version}}
                          </td>
                          <td style='text-align:center'><span class="label label-success">{{device.network_speed}}</span></td>
                          <td style='text-align:center;'>
                            {% if device.body_load_time %} {{device.body_load_time}}s {% else %} NA {% endif %} /
                            {% if device.device_load_time %} {{device.device_load_time}}s {% else %} NA {% endif %}
                          </td>
                          <td style='text-align:center'>
                            {% if device.push_notif %}
                            Test
                            {% else %}
                            -
                            {% endif %}
                          </td>
                        {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
              </div>
            </div>
            <div class='col-md-6'>
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Regular Device Details (most recent 50)</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th style='text-align:center;'>ID</th>
                          <th style='text-align:center;'>Recent</th>
                          <th style='text-align:center;'>User</th>
                          <th style='text-align:center;'>Info</th>
                          <th style='text-align:center;'>Network</th>
                          <th style='text-align:center;'>Body/Device</th>
                          <th style='text-align:center;'>Push?</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for device in regular_devices[:50] %}
                        <tr>
                          <td style='text-align:center;'>{{device.id}}</td>
                          <td style='text-align:center;'>{{device.last_accessed.strftime('%b %d')}}</td>
                          <td style='text-align:center;'>
                            {% if device.user and device.user.id %}
                              <a href="/admin/users/{{device.user.id}}" target='_blank'>
                                {% if device.user.name %}
                                  {{device.user.name.split(' ')[0]}} </a>
                                {% else %}
                                  -
                                {% endif %}
                            {% else %}
                              NA
                            {% endif %}
                          </td>
                          <td style='text-align:center;'>
                            {% if device.platform == 'iOS'%}
                              <i class="fa fa-apple"></i>

                            {% elif device.platform|lower == 'android'%}
                              <i class="fa fa-android"></i>
                              {% elif device.platform|lower == 'windows'%}
                            {% else %}
                              {{device.platform}}
                            {% endif %}
                            v{{device.version}}
                          </td>
                          <td style='text-align:center'><span class="label label-success">{{device.network_speed}}</span></td>
                          <td style='text-align:center;'>
                            {% if device.body_load_time %} {{device.body_load_time}}s {% else %} NA {% endif %} /
                            {% if device.device_load_time %} {{device.device_load_time}}s {% else %} NA {% endif %}
                          </td>
                          <td style='text-align:center'>
                            {% if device.push_notif %} Yes {% else %} No {% endif %}
                          </td>
                        {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
              </div>
            </div>
          </div>

        </section>

      </div>

{% endblock %}

{% block footer_scripts %}
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/timepicker/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="/static/js/new_admin/mandrill.js" type="text/javascript"></script>

{% endblock %}