{% extends 'admin/base.html' %}

{% block header_scripts %}
<link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <!-- ion slider Nice -->
    <link href="/static/new_admin/plugins/ionslider/ion.rangeSlider.skinNice.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/static/new_admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
 <!-- Content Wrapper. Contains page content -->

      <div class="content-wrapper" style="min-height: 918px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <small>September Milestones</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-bar-chart-o"></i> Home</a></li>
            <li>Milestones</li>
            <li class="active">September</li>
          </ol>
        </section>


        <section class="content">

          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h2 class="box-title"><strong>Daily Milestones</strong></h2>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Date</th>
                      <th>Goal</th>
                      <th>Progress</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>Monday</td>
                      <td>Milestones Tracking on Dashboard</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-green">100%</span></td>
                    </tr>
                    <tr>
                      <td>Tuesday</td>
                      <td>Mobile App Shipped</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-warning" style="width: 90%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">90%</span></td>
                    </tr>
                    <tr>
                      <td>Wednesday</td>
                      <td>Emails Sent</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger"style="width: 50%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-red">50%</span></td>
                    </tr>
                    <tr>
                      <td>Thursday</td>
                      <td>Students can request help</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-warning"style="width: 80%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">80%</span></td>
                    </tr>
                    <tr>
                      <td>Friday</td>
                      <td>Uguru App Store</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger"style="width: 40%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-red">40%</span></td>
                    </tr>
                  </tbody></table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>

        <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h2 class="box-title"><strong>Cumulative Weekly Milestones</strong></h2>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Milestone</th>
                      <th>Number</th>
                      <th>Progress</th>
                      <th>%</th>
                    </tr>
                    <tr>
                      <td>50 Universities' Emails Processed</td>
                      <td> {{stats['completed_emails']}}/50
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-warning" style="width: {{stats['completed_emails'] * 2}}%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">{{stats['completed_emails'] * 2}}%</span></td>
                    </tr>
                    <tr>
                      <td>University Data Complete</td>
                      <td>

                        {{stats['pending_data']}}/{{stats['completed_data'] }}

                      </td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-warning" style="width: {{stats['pending_data'] /2}}%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">{{stats['pending_data'] / 2}}%</span></td>
                    </tr>
                    <tr>
                      <td>200+ Banners Processed</td>
                      <td>200/200</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-green">100%</span></td>
                    </tr>
                  </tbody></table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
        </div>

        </section>

      </div>

{% endblock %}

{% block footer_scripts %}
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/static/new_admin/plugins/timepicker/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="/static/js/new_admin/mandrill.js" type="text/javascript"></script>
<script>
  var saveUniversityPhotoToDatabase = function(university_id , university_src) {
    if (confirm('Set this as the main banner photo for this universitiy?')) {
      BASE_URL = "/api/admin/";
      auth_token = "9c1185a5c5e9fc54612808977ee8f548b2258d31";
      $.ajax({
        url: BASE_URL + auth_token + "/universities/" +  university_id.toString(),
        method: 'PUT',
        dataType: 'json',
        contentType:'application/json',
        data: JSON.stringify({'university_banner': university_src}),
        success: function(resp){
          alert("Check yo phone");
        },
        error: function(err){
          alert("Error tell Samir!");
          console.log(err);
        }
      });
    }
  }
</script>

{% endblock %}