<view width="100" height="100" wrap y-start class="gradient-sienna-stone" link-data="ui/templates/samples/kicks/kicks.json" render-after-ext-scripts>
	{{data.content.shoes}}
	<!-- link-data="ui/templates/samples/kicks/kicks.json" render-after-ext-scripts -->
	<!-- let="content=data.content" -->
	<!-- {{popular_shoes}} -->
	<inspect-data/>
	<header x-center y-center width="100" p="12px 12px 0">
		<h1 f-s="32px" f-w="900" letter-spacing="2px" caps class="caps">Release Dates</h1>
	</header>
	<ul wrap y-start width="100" p="6px">
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<!-- <rating-stars custom></rating-stars> -->
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
		<li p="6px" width="20%">
			<div bg="white" rad="2px" hide-x hide-y>
				<h1 p="6px 6px 0" f-s="16px" f-w="600" color="taupe" caps letter-spacing="2px" t-a="center" class="caps txt-taupe txt-center">Sneaker</h1>
				<figure>
					<div width="100" height="200px"></div>
				</figure>
				<hr m="0" border="0" bg="sienna" width="100" height="5px"/>
			</div>
		</li>
	</ul>
</view>
