{% extends "admin/base.html" %}
{% block content %}

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">

				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="index.html">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">Email</a></li>
				</ul>

				<div class="row-fluid">
					<div class="box span12">
						<div class="box-header">
							<h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Current Progress of Email Campaigns</h2>
						</div>
						<div id="emailProgressBar" class="box-content">

						</div>
					</div>
				</div>

			</div><!--/.fluid-container-->

{% endblock %}

{% block footer_scripts %}
	<script src="/static/admin/js/uguru.admin.emails.js"></script>
{% endblock %}