{% extends 'admin/base.html' %}

{% block header_scripts %}
<link href="/static/admin/plugins/ionslider/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <!-- ion slider Nice -->
    <link href="/static/admin/plugins/ionslider/ion.rangeSlider.skinNice.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
 <!-- Content Wrapper. Contains page content -->

      <div class="content-wrapper" style="min-height: 918px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{university.name}}
            <small>How many we have left to polish</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-bar-chart-o"></i> Home</a></li>
            <li>Stats</li>
            <li class="active">Devices</li>
          </ol>
        </section>


        <section class="content">

          <div class='row'>
            <img src='{{university.banner_url}}' style="height:350px; width:100%; padding:20px;">
          </div>
          <div class="row">
            <div class="col-md-4">
              <!-- small box -->
              <div class="small-box bg-olive">
                <div class="inner">
                  <h3>{{university.num_courses}}</h3>
                  <p># of courses </p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-md-4">
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{university.num_depts}}</h3>
                  <p># Departments</p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-gray">
                <div class="inner">
                  <h3>{{university.us_news_ranking}}</h3>
                  <p># Ranked</p>
                </div>
                <div class="icon">
                  <i class="ion ion-document"></i>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Students @ {{university.name}}</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th >Student Name</th>
                          <th style='text-align:center;'>Student Email</th>
                          <th >Balance</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for student in s_balances %}
                        <tr>
                          <td>
                            {{student.name}}
                          </td>
                          <td><img src='{{university.logo_url}}' height="30" width="30"> &nbsp; &nbsp;&nbsp; &nbsp;{{student.email}}&nbsp;&nbsp;
                            <a href='#' target='_blank'><span style='opacity:0.5' class='glyphicon glyphicon-new-window'> </span> </a>
                          </td>
                          <td>{{student.total_earned}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
              </div>
            </div>
            <div class='col-md-6'>
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Universities Left</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
              </div>
            </div>
          </div>

        </section>

      </div>

{% endblock %}

{% block footer_scripts %}
<script src="/static/admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/admin/plugins/ionslider/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/admin/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/static/admin/plugins/timepicker/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="/static/js/admin/mandrill.js" type="text/javascript"></script>
<script>
  var testDevicePushToken = function(device_id) {
    BASE_URL = "/api/admin/";
    auth_token = "fe78e1c1cddfe4b132c7963136243aa51ac5609fb17839bf65a446d6";

    $.ajax({
      url: BASE_URL + auth_token + "/devices/" + device_id.toString() + '/push_test' ,
      type: 'POST',
      dataType: 'json',
      data: {},
      success: function(resp){
        alert("Check yo phone");
      },
      error: function(err){
        alert("Error tell Samir!");
        console.log(err);
      }
    });
  }
</script>

{% endblock %}