{% extends 'base.html' %}

{% block header %}
    <link href="/static/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<ul style="margin:auto;float:center" class="nav nav-tabs">
  <li><a href="/new-admin/">Today</a></li>
  <li class='active'><a href="/admin/stats/"> Stats </a></li>
  <li><a href="/admin/tutors/">Tutors</a></li>
  <li><a href="/new-admin/students/">Students</a></li>
  <li><a href="/admin/courses/">Courses</a></li>
  <li><a href="/admin/requests/">Requests</a></li>
  <li><a href="/admin/conversations/">Conversations</a></li>
  <!-- <li><a href="#notifications" data-toggle="tab">Notifications</a></li> -->
  <li><a href="/admin/payments/"> Payments</a></li>
  <li><a href="/admin/ratings/"> Ratings</a></li>
  <li><a href="/admin/bank-transfers/" data-toggle="tab"> Bank Transfers</a></li>
  <li><a href="/admin/texts/" data-toggle="tab"> Texts </a></li>
  <li><a href="/admin/parents/" data-toggle="tab"> Parents </a></li>
  <li><a href="/admin/unsubscribes/"> Unsubscribes </a></li>
</ul>

      <div class="container">
          <div style="margin:20px; text-align:center" class="row font-24 bold margin-bottom-20">
              Higher Level Statistics
          </div>
          <div class="row">
              <table class="table table-striped">
                  <tr class='success bold'> 
                    <td> Total Revenue </td>
                    <td> 
                      ${{'%.4g' % (fall_request_revenue + fall_package_revenue + fall_free_tutor_request_revenue + fall_recurring_payment_revenue)|float}}
                    </td>
                  </tr>
                  <tr> 
                      <td>  Request Revenue </td>
                      <td>  ${{'%.4g' % fall_request_revenue}} </td>
                  </tr>
                  <tr> 
                      <td>  Free Tutor Request Revenue </td>
                      <td>  ${{'%.4g' % fall_free_tutor_request_revenue}} </td>
                  </tr>
                  <tr>
                      <td>  Package Revenue </td>
                      <td>  ${{'%.4g' % fall_package_revenue}} </td>
                  </tr>
                  <tr>
                      <td>  Recurring Payment Revenue </td>
                      <td>  ${{'%.4g' %  fall_recurring_payment_revenue}} </td>
                  </tr
              </table>
          </div>
          <div class="row">
              <table class="table table-striped">
                  <tr class='success bold'> 
                    <td> Total Users </td>
                    <td> 
                      {{total_user_signups}}
                    </td>
                  </tr>
                  <tr> 
                      <td>  Organic User Signups </td>
                      <td>  {{organic_user_signups}} </td>
                  </tr>
                  <tr> 
                      <td>  Mass Email User Signups </td>
                      <td>  {{mass_email_user_signups}} </td>
                  </tr>
                  <tr>
                      <td>  Campaign/Referral/Sproul/Other </td>
                      <td>  {{referral_user_signups}} </td>
                  </tr>
              </table>
          </div>
        </div>




{% endblock %}

{% block footer_scripts %}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.js"></script>
{% endblock %}