<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/admin/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/static/css/admin/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/static/css/admin/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="/static/img/admin/favicon.ico">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/admin/form/"><span>uguru</span></a>	
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" id="admin-dropdown-link" data-toggle="dropdown" href="javascript:void(0);">
								<i class="halflings-icon white user"></i> Admin
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<li><a href="/login/"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full" style="position:inherit;">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/admin/form/"><i class="icon-edit"></i><span class="hidden-tablet"> Send a campaign</span></a></li>
						<li class="active"><a href="/admin/campaigns/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Campaign Stats</span></a></li>
						<li><a href="/admin/api/"><i class="icon-cloud"></i><span class="hidden-tablet"> API</span></a></li>
						<li><a href="/admin/development/"><i class="icon-wrench"></i><span class="hidden-tablet"> Development</span></a></li>
					</ul>
				</div>

			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/admin/form/">Home</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-bar-chart"></i>
					<a href="/admin/campaigns/">Campaign Stats</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-envelope-alt"></i>
					<a href="/admin/campaigns/{{name}}">{{name}}</a>
				</li>
			</ul>

			<div class="row-fluid sortable">
				<div class="box span12" id="campaign-step-one-border">
					<div class="box-header" id="campaign-step-one-background" data-original-title>
						<h2>Campaign API</h2>
						<i class="icon-ok-circle" style="display:none; float:right; color:white;" id="campaign-step-one-icon"></i>
					</div>
					<div class="box-content">
						<div id="campaign-step-one-alert" class="alert alert-error" style="display:none;">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Oh snap!</strong> 
							<span class="alert-body"> Enter alert message here </span>
						</div>

						<div class="row-fluid">
							<div class="span12">

								<table name="uniStatTable"class="table table-bordered table-striped table-condensed">
									  <thead>
										  <tr>
											  <th>Route</th>
											  <th>Description</th>
											  <th>Parameters</th>
											  <th>Return JSON</th>
										  </tr>
									  </thead>   
									  <tbody>
										
										<tr>
											<td><strong>POST</strong>
												&nbsp;
												&nbsp;
												/api/admin/send/</td>
											<td>Send an email</td>
										</tr>
										<tr>
											<td><strong>POST</strong>
												&nbsp;
												&nbsp;
												/api/admin/send/</td>
											<td>Send an email</td>
										</tr>
										<tr>
											<td>
											<strong>GET</strong>
												&nbsp;
												&nbsp;
												/api/admin/mandrill/templates/</td>
											<td>Get list of all updated templates</td>
											
										</tr>
									  </tbody>
								 </table>
							</div>
						</div>
						<button id="campaign-step-one-validate" class="btn btn-primary">Validate</button>
						<button id="campaign-step-one-edit" class="btn btn-primary" style="display:none; background-color:#65C939; border-color:#65C939;">Edit</button>
					</div>
				</div><!--/span-->

			</div><!--/row-->

			<div class="row-fluid sortable">
				<div class="box span12" id="campaign-step-one-border">
					<div class="box-header" id="campaign-step-one-background" data-original-title>
						<h2>Universities API</h2>
						<i class="icon-ok-circle" style="display:none; float:right; color:white;" id="campaign-step-one-icon"></i>
					</div>
					<div class="box-content">
						<div id="campaign-step-one-alert" class="alert alert-error" style="display:none;">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Oh snap!</strong> 
							<span class="alert-body"> Enter alert message here </span>
						</div>

						<div class="row-fluid">
							<div class="span12">

								<table name="uniStatTable"class="table table-bordered table-striped table-condensed">
									  <thead>
										  <tr>
											  <th>Route</th>
											  <th>Description</th>
											  <th>Parameters</th>
											  <th>Return JSON</th>
										  </tr>
									  </thead>   
									  <tbody>
										
										<tr>
											<td><strong>GET</strong>
												&nbsp;
												&nbsp;
												/api/admin/universities/</td>
											<td>Returns higher level university info</td>
											<td>None</td>
											<td>
												<table class="table table-condensed">
													<tr>
														<td> 
															'name':
														</td>
														<td>
															'Berkeley'
														</td>
													</tr>
													<tr>
														<td> 
															'emails_sent'
														</td>
														<td>
															1000
														</td>
													</tr>
													<tr>
														<td> 
															'total_emails'
														</td>
														<td>
															10000
														</td>
													</tr>

												</table>
											</td>
										</tr>
									  </tbody>
								 </table>
							</div>
						</div>
						<button id="campaign-step-one-validate" class="btn btn-primary">Validate</button>
						<button id="campaign-step-one-edit" class="btn btn-primary" style="display:none; background-color:#65C939; border-color:#65C939;">Edit</button>
					</div>
				</div><!--/span-->

			</div><!--/row-->
		

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<footer style="bottom:0px; position:absolute; width:100%;">

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	
	
		<script src="/static/js/admin/jquery.ui.touch-punch.js"></script>
	
		<script src="/static/js/admin/modernizr.js"></script>
	
		<script src="/static/js/admin/bootstrap.min.js"></script>
	
		<script src="/static/js/admin/jquery.cookie.js"></script>
	
		<script src='/static/js/admin/fullcalendar.min.js'></script>
	
		<script src='/static/js/admin/jquery.dataTables.min.js'></script>

		<script src="/static/js/admin/excanvas.js"></script>
	<script src="/static/js/admin/jquery.flot.js"></script>
	<script src="/static/js/admin/jquery.flot.pie.js"></script>
	<script src="/static/js/admin/jquery.flot.stack.js"></script>
	<script src="/static/js/admin/jquery.flot.resize.min.js"></script>
	
		<script src="/static/js/admin/jquery.chosen.min.js"></script>
	
		
	
		<script src="/static/js/admin/jquery.noty.js"></script>
	
	
		<script src="/static/js/admin/jquery.raty.min.js"></script>
	
		<script src="/static/js/admin/jquery.iphone.toggle.js"></script>
	
		<script src="/static/js/admin/jquery.uploadify-3.1.min.js"></script>
	
		<script src="/static/js/admin/jquery.gritter.min.js"></script>
	
		<script src="/static/js/admin/jquery.imagesloaded.js"></script>
	
		<script src="/static/js/admin/jquery.masonry.min.js"></script>
	
		<script src="/static/js/admin/jquery.knob.modified.js"></script>
	
		<script src="/static/js/admin/jquery.sparkline.min.js"></script>
	
		<script src="/static/js/admin/counter.js"></script>
	
		<script src="/static/js/admin/retina.js"></script>

		<script src="/static/js/admin.campaign.js"></script>

	<!-- end: JavaScript-->
	
</body>
</html>
