@import '../../../../../shared/css/scss/partials/mixin';

.projector-access-heart {
	display: none;
	width: 100%;
	height: 103px;
	svg {
		display: block;
		margin: 0 auto;
		height: 100%;
	}
}

.projector-access-content {
	width: 100%;
	max-width: 600px;
	> div {
		@include flex;
		@include flex-wrap;
		@include flex-center;
		padding: 15px;
	}
	> ul {
		@include flex;
		@include flex-center;
		padding: 7.5px;
		li {
			padding: 7.5px;
		}
	}
	fieldset {
		position: relative;
		height: 64px;
		width: 100%;
		margin-top: 15px;
		> div {
			> div {
				transition: all 300ms ease-out;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				div {
					opacity: 0.25;
					width: 100%;
					height: 100%;
				}
			}
			span:empty {
				display: block;
				position: absolute;
				border-radius: 2px;
				background: white;
				z-index: 1;
				&:nth-child(1), &:nth-child(5) {
					top: 0;
					left: 0;
					width: 100%;
					height: 2px;
					transform-origin: left center;
				}
				&:nth-child(2), &:nth-child(6) {
					top: 0;
					right: 0;
					width: 2px;
					height: 100%;
					transform-origin: center top;
				}
				&:nth-child(3), &:nth-child(7) {
					bottom: 0;
					right: 0;
					width: 100%;
					height: 2px;
					transform-origin: right center;
				}
				&:nth-child(4), &:nth-child(8) {
					bottom: 0;
					left: 0;
					width: 2px;
					height: 100%;
					transform-origin: center bottom;
				}
				&:nth-child(5), &:nth-child(7) {
					transform: scaleX(0);
					transition: all 300ms ease-out;
				}
				&:nth-child(6), &:nth-child(8) {
					transform: scaleY(0);
					transition: all 150ms ease-out;
				}
				&:nth-child(5) {
					transition-delay: 600ms;
				}
				&:nth-child(6) {
					transition-delay: 450ms;
				}
				&:nth-child(7) {
					transition-delay: 150ms;
				}
				&:nth-child(8) {
					transition-delay: 0;
				}
			}
		}
		input {
			@include flex;
			@include flex-center-vertical;
			position: relative;
			z-index: 2;
			font-family: $monospace;
			background: none;
			height: 64px;
			font-size: 28px;
			font-weight: 700;
			padding-left: 15px;
			padding-right: 15px;
			line-height: 1;
			color: white;
			text-align: center;
			@include placeholder {
				font-family: $font;
				font-size: 28px;
				font-weight: 700;
			}
			&:hover {
				+ div {
					> div {
						opacity: 1;
					}
				}
			}
			&:focus {
				+ div {
					> div {
						opacity: 1;
					}
					span:empty {
						transform: none;
						&:nth-child(5) {
							transition-delay: 0ms;
						}
						&:nth-child(6) {
							transition-delay: 300ms;
						}
						&:nth-child(7) {
							transition-delay: 450ms;
						}
						&:nth-child(8) {
							transition-delay: 650ms;
						}
					}
				}
			}
		}
	}
}

.projector-access {
	.desktop {
		display: none;
	}
}

@media screen and (min-height: 480px) {
	.projector-access-heart {
		display: block;
	}
}

@media screen and (min-width: 520px) {
	.projector-access-content {
		fieldset {
			height: 72px;
			max-width: 400px;
			input {
				height: 72px;
				font-size: 48px;
				font-weight: 700;
				@include placeholder {
					font-size: 48px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.projector-access {
		.desktop {
			@include flex;
		}
		.mobile {
			display: none;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 900px) {
	.projector-access-heart {
		height: 155px;
		svg {
			* {
				stroke-width: 2px;
			}
		}
	}
	.projector-access-content {
		max-width: 780px;
		fieldset {
			max-width: 500px;
			height: 84px;
			input {
				height: 84px;
			}
		}
	}
}
