@import '../../../../../shared/css/scss/partials/mixin';

.echo-loader {
	* {
		transform-origin: center center;
	}
	.echo-loader-echo {
		// animation: ping 1500ms ease-in-out infinite, echo-loader-main 5s ease-in-out forwards;
	}
	.echo-loader-main {
		transform: rotateY(180deg);
		// stroke-dasharray: 629;
		// animation: echo-loader-main 5s ease-in-out forwards;
	}
}

.projector-school-search-guru {
	left: -40px;
    bottom: -20px;
	.coach-support {
		position: absolute;
		top: -30px;
    	right: -90px;
	}
}

.projector-school-search {
	overflow: hidden!important;
	.projector-map {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		height: calc(100% - 36px);
		width: calc(100%);
	}
	.projector-school-search-form {
		display: none;
		background: -moz-linear-gradient(top, rgba($slate,1) 0%, rgba($slate,1) 25%, rgba($slate,0) 100%);
		background: -webkit-linear-gradient(top, rgba($slate,1) 0%, rgba($slate,1) 25%, rgba($slate,0) 100%);
		background: linear-gradient(to bottom,  rgba($slate,1) 0%, rgba($slate,1) 25%, rgba($slate,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$slate', endColorstr='#0040484b',GradientType=0 );
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		.projector-school-desktop {
			@include flex;
			@include flex-wrap;
			@include flex-center;
			width: 100%;
			max-width: 930px;
			margin: -15px auto 0;
			padding: 7.5px;
			li {
				width: 20%;
				padding: 7.5px;
				.university-card {
					transform-origin: center top;
					.rect {
						width: 100%;
						height: auto;
					}
					.school-card-inside {
						.school-card-top {
							.school-card-icon {
								width: 40px;
								height: 40px;
								margin-left: -20px;
								.school-card-state svg {
									padding: 10px;
								}
								@media screen and (max-width: 900px) {
									width: 32px;
									height: 32px;
									margin-left: -16px;
								}
							}
						}
						.school-card-main {
							.school-card-info {
								h1 {
									padding-top: 5px;
									font-size: 16px;
									font-weight: 700;
								}
								h2 {
									font-size: 12px;
									@media screen and (max-width: 900px) {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
		.projector-school-results {
			padding: 15px;
			li {
				width: 25%;
				padding: 15px;
			}
		}
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		h1 {
			text-align: center;
			width: 100%;
			text-transform: none;
			span {
				display: block;
				&:nth-child(1) {
					@include flex;
					@include flex-center;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 90px;
					font-weight: 900;
					text-transform: uppercase;
					opacity: 0.05;
				}
				&:nth-child(2) {
					margin-top: -5px;
					font-size: 36px;
					text-transform: uppercase;
					font-weight: 900;
				}
				&:nth-child(3) {
					margin-top: -5px;
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.projector-school-search {
		.projector-zoom {
			display: none;
		}
		> header {
			display: none!important;
		}
		.projector-school-search-form {
			display: block;
		}
	}
}

/* http://goo.gl/jCZtTL */
@keyframes projectorInDown {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1); opacity: 0; }
    4.5% { transform: matrix3d(1, 0, 0, 0, 0, 0.646, 0, 0, 0, 0, 1, 0, 0, -33.243, 0, 1); }
    6.31% { transform: matrix3d(1, 0, 0, 0, 0, 0.692, 0, 0, 0, 0, 1, 0, 0, -23.282, 0, 1); }
    9.01% { transform: matrix3d(1, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, -9.006, 0, 1); }
    12.51% { transform: matrix3d(1, 0, 0, 0, 0, 0.811, 0, 0, 0, 0, 1, 0, 0, 4.622, 0, 1); }
    13.51% { transform: matrix3d(1, 0, 0, 0, 0, 0.825, 0, 0, 0, 0, 1, 0, 0, 7.212, 0, 1); }
    17.92% { transform: matrix3d(1, 0, 0, 0, 0, 0.877, 0, 0, 0, 0, 1, 0, 0, 12.209, 0, 1); }
    18.82% { transform: matrix3d(1, 0, 0, 0, 0, 0.886, 0, 0, 0, 0, 1, 0, 0, 12.183, 0, 1); opacity: 1; }
    25.03% { transform: matrix3d(1, 0, 0, 0, 0, 0.931, 0, 0, 0, 0, 1, 0, 0, 7.211, 0, 1); }
    29.03% { transform: matrix3d(1, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 3.069, 0, 1); }
    34.63% { transform: matrix3d(1, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, -0.575, 0, 1); }
    37.54% { transform: matrix3d(1, 0, 0, 0, 0, 0.976, 0, 0, 0, 0, 1, 0, 0, -1.33, 0, 1); }
    40.14% { transform: matrix3d(1, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, -1.513, 0, 1); }
    50.05% { transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, -0.491, 0, 1); }
    62.36% { transform: matrix3d(1, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0.171, 0, 1); }
    75.08% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.022, 0, 1); }
    84.68% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.019, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/auuhcg */
@keyframes projectorIn {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 0; }
	4.7% { transform: matrix3d(1, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(1, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(1, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(1, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	24.32% { transform: matrix3d(1, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(1, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(1, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(1, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(1, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

/* http://goo.gl/rOvdIb */
@keyframes guru-proj-enter {
	0% { transform: matrix3d(2, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 250, 0, 1); opacity:1;}
	3.4% { transform: matrix3d(1.684, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 224.129, 0, 1); }
	3.5% { transform: matrix3d(1.674, 0, 0, 0, 0, 0.711, 0, 0, 0, 0, 1, 0, 0, 223.229, 0, 1); }
	4.7% { transform: matrix3d(1.55, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 210.212, 0, 1); }
	6.81% { transform: matrix3d(1.341, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 177.713, 0, 1); }
	6.91% { transform: matrix3d(1.331, 0, 0, 0, 0, 0.953, 0, 0, 0, 0, 1, 0, 0, 175.912, 0, 1); }
	9.41% { transform: matrix3d(1.117, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 127.349, 0, 1); }
	10.21% { transform: matrix3d(1.058, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 111.594, 0, 1); }
	10.31% { transform: matrix3d(1.052, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 109.655, 0, 1); }
	13.61% { transform: matrix3d(0.877, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 53.407, 0, 1); }
	13.71% { transform: matrix3d(0.873, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 52.001, 0, 1); }
	14.11% { transform: matrix3d(0.859, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 46.574, 0, 1); }
	17.52% { transform: matrix3d(0.792, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 12.843, 0, 1); }
	18.72% { transform: matrix3d(0.788, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 5.619, 0, 1); }
	20.52% { transform: matrix3d(0.796, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, -1.766, 0, 1); }
	21.32% { transform: matrix3d(0.804, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, -3.993, 0, 1); }
	24.32% { transform: matrix3d(0.849, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, -8.437, 0, 1); }
	25.23% { transform: matrix3d(0.866, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, -8.949, 0, 1); }
	27.33% { transform: matrix3d(0.906, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, -9.289, 0, 1); }
	29.03% { transform: matrix3d(0.937, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, -8.997, 0, 1); }
	29.93% { transform: matrix3d(0.952, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, -8.715, 0, 1); }
	35.54% { transform: matrix3d(1.021, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, -6.077, 0, 1); }
	36.74% { transform: matrix3d(1.028, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, -5.453, 0, 1); }
	41.04% { transform: matrix3d(1.039, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, -3.399, 0, 1); }
	44.44% { transform: matrix3d(1.034, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, -2.128, 0, 1); }
	47.35% { transform: matrix3d(1.025, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, -1.329, 0, 1); }
	52.15% { transform: matrix3d(1.009, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, -0.505, 0, 1); }
	59.86% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, -0.004, 0, 1); }
	63.26% { transform: matrix3d(0.993, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0.057, 0, 1); }
	67.37% { transform: matrix3d(0.994, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.075, 0, 1); }
	75.28% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0.049, 0, 1); }
	85.49% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.014, 0, 1); }
	90.69% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity:1;}
}
