<div class="splash-device splash-device-iphone"
    activate-on-class="a" class-on-activate="active:inject.splash-device-search-inside|a, b:inject.splash-device-svg|a" class-on-activate-delay="4000"
    translate-on-class-delay="500" translate-on-class="translate-device"
    class-on-clear="null:inject.splash-device-search-inside|clear, null:inject:splash-device-svg|clear">
    <!-- parallax-parent-ref="p1" parallax-child="0.2" -->
    <!-- parallax-absolute parallax-50 -->
    <svg class="splash-device-svg opacity-0" class-on-load="animate" class-on-load-delay="1000" class-on-activate="active:keep" viewBox="0 0 318 651">
        <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#F0E0D0" stroke-width="3">
            <circle cx="158.5" cy="610.5" r="25" class="null" class-on-load="activate" class-on-load-delay="3500"></circle>
            <rect x="1.5" y="1.5" width="315" height="648" rx="40" class="null" class-on-load="activate" class-on-load-delay="3000ms"></rect>
            <rect x="21.5" y="79.5" width="276" height="493" class="null" class-on-load="activate" class-on-load-delay="3000"></rect>
        </g>
    </svg>
    <!-- <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#F0E0D0" stroke-width="3">
        <circle cx="158.5" cy="610.5" r="25" class="null" class-on-load="activate" class-on-load-delay="3500"></circle>
        <rect class="rotated" x="1.5" y="1.5" width="315" height="648" rx="40" class="null" class-on-load="activate" class-on-load-delay="3000ms"
        draw draw-duration="800ms"  draw-delay="6000ms"></rect>
        <rect x="21.5" y="79.5" width="276" height="493" class="null" class-on-load="activate" class-on-load-delay="3000"
        draw draw-duration="1000ms" draw-delay="6000ms"></rect>
    </g> -->
    <div class="splash-device-profile opacity-0" activate-on-class="a" class-on-activate="fadeIn:anim, high-z-index:keep" ng-include="img_base + 'templates/profile.public.photo.html'"></div>
    <div class="splash-device-content" activate-on-class="a" class-on-activate="fadeOut:animOut">
        <div class="splash-device-search" class-on-activate="fadeIn:anim" class-on-activate-delay="6000" class-on-clear="slideOutDown:animOut" class-on-clear-delay="1500">
            <div class="splash-device-search-inside opacity-0" activate-on-class="a" class-on-activate="bounceInUp:anim, null:inject.splash-device-adlib|a, null:inject.splash-device-search-inside h1.device-counter|activate, null:inject.splash-device-search-inside p|a, null:inject.splash-device-search-gurus li|a, null:inject.splash-device-search-courses li|a, null:inject.splash-device-found|a, null:inject.map-guru-icon|a" class-on-clear="null:inject.splash-device-adlib|clear, null:inject.splash-device-search-inside p|clear, null:inject.splash-device-search-gurus li|clear, null:inject.splash-device-search-courses li|clear, null:inject.splash-device-found|a, null:inject.map-guru-icon|clear">
                <!-- null:inject.splash-device-search-gurus .marker-guru|activate -->
                <div class="splash-device-found" activate-on-class="a" class-on-activate="active:keep" class-on-activate-delay="4000" class-on-clear="fadeOut:animOut" class-on-clear-delay="1500">
                    <h1 class="opacity-0 device-counter" class-on-activate="bounceIn:anim" counter init-on-class="counter:activate" counter-max="{{selectedUniversity.map.markers.length || 6}}" counter-min="1" counter-duration="{{(selectedUniversity.map.markers.length * 1.15) || 7}}" counter-delay="4000"></h1>
                    <p class="opacity-0" activate-on-class="a" class-on-activate="bounceInUp:anim" class-on-clear="fadeOutDown:animOut" class-on-clear-delay="500">Gurus Found</p>
                </div>
                <ul class="splash-device-search-gurus">
                    <li class="opacity-0" activate-on-class="a"  class-on-activate="bounceIn:anim:inject#map-icon-{{$index+1}}-translate a|activate" class-on-activate-delay="{{$index * 1000 + 4000 }}" ng-repeat="marker in selectedUniversity.map.markers" class-on-clear="fadeOutDown:animOut", class-on-clear-delay="{{$index * 100}}">
                        <div id="map-icon-{{$index + 1}}-translate">
                            <a class="marker-guru bg-{{selectedCategory.hex_color}}" translate-on-class-delay="{{(selectedUniversity.map.markers.length * 1000 * 0.6) || 1000}}" activate-on-class-delay="5500" translate-to-elem="#map-icon-{{$index + 1}}" translate-on-class="translate-device-guru-profile">
                                <span class="user-icon" style="background-image: url('{{marker.guru.profile_url}}')"></span>
                                <user-icon size="64" url="marker.guru.profile_url"> </user-icon>

                                <span class="marker-guru-course">{{marker.guru.subcategory}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <svg class="coach-click opacity-0 parallax-auto" parallax-parent-ref="p1" parallax-child="0.2" viewBox="0 0 212 75">
            <g fill="none">
                <path class="opacity-0 coach-click-path-1" d="M126.402476,42.2902799 C126.402476,42.2902799 41.4492178,9.17968707 3.56286124,70.6500409" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                <path class="opacity-0 coach-click-path-2" d="M29.8097207,69.5428392 L3.63890408,70.9143936 L2.26734969,44.7435769" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                <g class="opacity-0 animated">
                    <text transform="translate(172.576620, 31.576620) rotate(7) translate(-172.576620, -31.576620)" font-family="Source Sans Pro" font-size="40" font-weight="normal" line-spacing="40" fill="#FFFFFF">
                        <tspan x="134.07662" y="30.5766198">click</tspan>
                        <tspan x="135.91662" y="70.5766198"> me!</tspan>
                    </text>
                </g>
            </g>
        </svg>
        <div class="splash-device-button animated relative">
            <button id='desktop-find-guru-button-disabled' ng-click='shakeElemIfChildIsDisabled()' style='height:54px; width:100%' class='absolute high-z-index bg-transparent top-0 left-0 hide'> &nbsp;&nbsp; </button>
            <button id='desktop-find-guru-button' ng-click='lockFilledBlanksAndgetUniversityPlaces(selectedUniversity)' class="button-find-guru splash-desktop-cta opacity-0 animated" class-on-click="null:inject.splash-device-button|bounceOutDown, null:inject.splash-mobile-cta|bounceOutDown, null:inject.coach-click|hide, a:inject.splash-device-search|activate, null:inject.splash-hero-map|opacity-50, null:inject.splash-hero-markers|a, null:inject.splash-device|a, null:inject.coach-help|hide, null:inject.splash-hero-content|a, null:inject.splash-adlib ul|clear, null:inject.splash-logo-guru|a" class-on-activate="null:inject.splash-device-button|bounceOutDown, null:inject.splash-mobile-cta|bounceOutDown, null:inject.coach-click|hide, null:inject.splash-hero-map|opacity-50, null:inject.splash-hero-markers|a, null:inject.splash-device|a, null:inject.coach-help|hide, null:inject.splash-hero-content|a, null:inject.splash-adlib ul|clear, null:inject.splash-logo-guru|a">Find My Guru</button>
        </div>
    </div>
</div>