<ion-pane id='cta-modal-action-platforms' class='absolute full-xy hide-display cta-modal bg-charcoal z-index-10 hide' ng-include="root.base_url + 'admin/templates/bugs.states.html'"></ion-pane>
<header class="bg-slate flex-wrap-center full-x relative">
    <h1 class='full-x bg-cobalt-25p txt-18 p15xy txt-center'>Action Items</h1>
</header>
<div class="overflow-auto no-scrollbar" style="height: calc(100% - 48px)">
    <div class="flex-center-vertical-space-between bg-charcoal-50p">
        <div class="relative p15xy full-x">
            <fieldset class="with-icon">
                <input class="input-border light" ng-model="search.text" type="text" placeholder="Search actions">
                <label></label>
                <span class="input-icon">
                    <svg viewBox="0 0 100 100">
                        <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
                    </svg>
                </span>
                <a class="absolute top-0 right-0 flex-center z-index-100" style="height: 24px;" ng-click='search.text = "";'>
                    <i class='icon ion-close-circled text-white'></i>
                </a>
            </fieldset>
        </div>
        <div class="relative bg-shamrock-10p">
            <ul class="flex p15-grid flex-center-vertical">
                <!-- <li>
                    <a ng-click='search.text = user.first_name'><user-icon url="user.profile_url"> </user-icon> </a>
                </li> -->
                <li ng-repeat='member in team_members'>
                    <button class="txt-18 semibold height-36 bg-shamrock radius-2" ng-click='search.text = member.first_name'>
                        {{member.name}}
                        <!-- <user-icon url="member.profile_url"> </user-icon> -->
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <ul class="p15-grid">
        <li ng-repeat='task in admin_tasks' class='bg-slate' ng-if='user.name === "Samir Makhani"'>
            <div class="radius-2 flex-start flex-stretch flex-wrap-center ugrid-2 relative" ng-class="{'bg-auburn-50p': task.priority === 1, 'bg-gold-50p': task.priority === 2, 'bg-charcoal-50p': task.priority > 2 || !task.priority}">
                <div style='width:5% !important;' class='full-y flex-wrap-center absolute left-0 p10xy'>
                    <user-icon url="user.profile_url"> </user-icon>
                </div>
                <div class='flex-wrap-center full-x flex-stretch ugrid-2' style='padding-left:5% !important;'>
                    <span style='width:30%;'><h2 class="p15xy txt-18 text-left semibold">{{task.title}}</h2></span>
                    <div style='width:70%;' class='txt-1 flex-wrap-center text-left'>{{task.description}}</div>
                </div>
            </div>
        </li>
        <li ng-repeat='flow in user_workflows | filter:search.text:strict' ng-if='flow.ready'>
            <div class="bg-white-10p radius-2 flex-space-between-center-vertical">
                <h2 class="p15xy txt-18 semibold">{{flow.id}}. {{flow.title}}</h2>
                <ul class="flex p15-grid">
                    <li ng-repeat='member in flow.members | filter:member.value'>
                        <div class="user-icon-container" ng-class='{"border-auburn": member.priority, "border-shamrock": member.complete,"border-gold": !member.complete && !member.priority }'>
                            <user-icon url="member.profile_url" size="36"> </user-icon>
                        </div>
                    </li>
                    <li ng-if='flow.states && flow.states.length' class='flex-wrap-center' ng-if='false'>
                        <div class='flex-wrap-center'>
                            <div class='txt-1 txt-smoke text-center uppercase full-x weight-700 opacity-50'>
                                Functional
                            </div>
                            <div class='txt-5 weight-600'>
                                {{flow.stateAnalysis.functional||0}}/{{flow.states.length}}
                            </div>
                        </div>
                        <div class='flex-wrap-center'>
                            <div class='txt-1 text-center txt-smoke uppercase full-x weight-700 opacity-50'>
                                Animated
                            </div>
                            <div class='txt-5 weight-600'>
                                {{flow.stateAnalysis.animated || 0}}/{{flow.states.length}}
                            </div>
                        </div>
                        <div class='flex-wrap-center'>
                            <div class='txt-1 text-center uppercase txt-smoke full-x weight-700 opacity-50'>
                                Tested
                            </div>
                            <div class='txt-5 weight-600'>
                                {{flow.stateAnalysis.tested || 0}}/{{flow.states.length}}
                            </div>
                        </div>
                    </li>
                    <li ng-if='flow.status && !flow.status.css'>
                        <button class="bg-auburn height-36 txt-18 radius-2" ng-click='flow.routes.staging.launch()'>CSS/HTML refactoring</button>
                    </li>
                    <li >
                        <button class="bg-moxie height-36 txt-18 radius-2" ng-click='flow.routes.staging.launch()'>Master</button>
                    </li>
                    <li ng-if='root.local'>
                        <button class="bg-robin height-36 txt-18 radius-2" ng-click='flow.routes.local.launch()'>Local</button>
                    </li>
                    <li ng-if='false'>
                        <form action="http://codepen.io/pen/define" method="POST" target="_blank" ng-if='flow.codepenData.html && flow.codepenData.html.length'>
                          <input class='opacity-0 invisible' type="hidden" name="data" value='{{flow.codepenData}}'>
                          <input class="bg-azure height-36 txt-18 radius-2 semibold p15x"  id='codepen-input' type="submit" value="Codepen">
                        </form>
                        <button ng-click='flow.routes.codepen.launch(flow, $event)' ng-if='!flow.codepenData.html.length' class="bg-azure height-36 txt-18 radius-2 semibold p15x">Codepen</button>
                    </li>
                    <li ng-if='false'>
                        <button class="bg-lake height-36 txt-18 radius-2" ng-click='flow.spec.launch()'>Spec</button>
                    </li>
                    <li >
                        <span class="round flex-center width-36 height-36 txt-14 border-moxie border-3 semibold" ng-click='flow.spec.progress'>78%</span>
                    </li>
                    <li>
                        <span class="round flex-center width-36 height-36 txt-14 border-moxie border-3 semibold" ng-click='openPlatform(flow.id,"manualState")' ng-if='bugReport' >{{calState(flow.id,"manualState")}}%</span>
                        <span class="round flex-center width-36 height-36 txt-14 border-moxie border-3 semibold" ng-if='!bugReport' >Load</span>
                    </li>

                    <li>
                        <span class="round flex-center width-36 height-36 txt-14 border-auburn border-3 semibold" ng-click='openPlatform(flow.id,"states")' ng-if='bugReport' >{{calState(flow.id,"states")}}%</span>
                        <span class="round flex-center width-36 height-36 txt-14 border-auburn border-3 semibold" ng-if='!bugReport' >Load</span>
                    </li>

                    <li ng-if='false'>
                        <span class="round flex-center width-36 height-36 txt-14 border-auburn border-3 semibold" ng-click='flow.bugs.launchBugTab()'>{{getBug(flow.bugs.bugID)}}</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
