<div class='absolute top-0 left-0 full-xy overflow-auto no-scrollbar' ng-controller='AdminMilestoneController as ms'>
	<header class='relative full-x text-center flex-wrap flex-stretch p20xy m20xy' style='min-height:30%'>
		<h1 class='txt-5 uppercase weight-600 flex-wrap flex-center'>
			{{ms.activeModule.name}} <br> Milestones
		</h1>
		<!-- <div class='full-x flex-stretch ugrid-{{ms.types.length}} p20xy p15-grid flex-center flex-wrap-center'>
			<a class='bg-charcoal border-1 border-slate weight-400 p15-grid flex-wrap-center'
			ng-repeat="type in ms.types"
			ng-class="{'border-smoke border-dashed txt-white weight-600 bg-moxie-50p': $index === ms.typeIndex}"
			ng-click="ms.typeIndex = $index"
			style='width:33%;'>
				{{type}}
			</a>
		</div> -->
		<div class='toolbar full-x absolute p15-grid ugrid-5 flex-wrap-center bottom-0 left-0 flex-center'>
			<div ng-click='ms.toggleAll(ms.modules[0])'>Off</div>
			<div ng-repeat= 'initial in ms.modules[0].teamArr' ng-class="{'border-1-bottom border-smoke':ms.modules[0].activePerson === initial}" ng-click='ms.setActivePerson(initial)'>{{initial}}</div>
			<!-- <div class='border-1-bottom border-smoke' ng-click='ms.setActivePerson(person)'>{{ms.modules[0].activePerson}}</div> -->
		</div>
	</header>
	<main class='full-x flex-center flex-stretch flex-wrap bg-slate'>
		<section ng-repeat='module in ms.modules' ng-init="m = module">
			<ul class='full-x flex-wrap flex-stretch flex-start'>
				<li class='weight-700 txt-white p20xy bg-charcoal-50p border-1-bottom border-dashed border-smoke full-x ugrid-{{ms.activeModule.columns.length}} text-center flex-stretch'>
					<div ng-repeat='c_name in m.columns' class='txt-5 uppercase opacity-50'>{{c_name}}</div>
				</li>
				<li ng-repeat="workflow in ms.activeModule.workflows track by $index" ng-class="{'bg-charcoal-50p': $index % 2 === 1}" class='p15-grid full-x ugrid-{{ms.activeModule.columns.length}} flex-stretch txt-left flex-vertical-center flex-center txt-4'>
					<ul  class='full-x flex-wrap flex-stretch flex-center ugrid-{{ms.activeModule.columns.length}} text-center'>
						<li ng-click='workflow.active = !workflow.active'>
							<h1 class='txt-5 txt-smoke uppercase'> <a ng-click="ms.open(workflow.url)"><span class='opacity-50 weight-100'>#{{workflow.pID}} &nbsp;</span>{{workflow.name}} </a></h1>
						</li>
						<li class='flex-wrap-center relative ugrid-5'>
							<div class='txt-1 weight-600' ng-repeat='_filter in workflow.filter.options' ng-click='workflow.filter.activeIndex = $index'>
								<span ng-class='{"border-1-bottom border-dashed border-azure": workflow.filter.activeIndex === $index}'>{{_filter}}</span>
							</div>
						</li>
						<li>

						</li>
						<li>
							TBI
							<!-- <li class='relative'>
							<div class='txt-3 txt-left full-x' ng-repeat='item in milestone.items'>
								<div class='block p10y weight-700'>
									<div>
										<span class='weight-300'>{{$index + 1 + '.'}}</span>
										<span>
										{{item}} &nbsp;<span style='opacity:0.5'> {{(((item.length - $index)/item.length) *100).toFixed(0)}}%</span>
										</span>
									</div>
								</div>
								<div class='absolute bg-moxie p05xy block' style='width:{{((item.length - $index)/item.length) *100}}%;'></div></div>
							</li>-->
						</li>
					</ul>
					<div class='full-x p15-grid bg-cerise' ng-if='workflow.active || (ms.activeFilter && workflow[ms.activeFilter].length)'>
						<ul class='full-x flex-wrap flex-stretch flex-start' ng-init="activeFilter = workflow.filter.options[workflow.filter.activeIndex]">
							<li class='full-x p15-grid txt-3 txt-white txt-center weight-700 ugrid-6'>
								<div ng-if='!ms.activeFilter' ng-repeat='column in workflow["columns"][activeFilter]'>
									{{column}}
								</div>
								<div ng-if='ms.activeFilter' ng-repeat='column in workflow["columns"][ms.activeFilter]'>
									{{ms.activeFilterFormatted}} {{column}}
								</div>
							</li>
							<li class='weight-500 txt-white p20xy bg-charcoal-50p border-1-bottom border-dashed border-smoke full-x text-center flex-stretch' ng-if='ms.activeFilter' ng-repeat='item in workflow[ms.activeFilter] track by $index'>
								<div class='ugrid-6 p05-grid txt-3 full-x'>
									<div>
										#{{item.id}}
									</div>
									<div>
										{{item.name}}
									</div>
									<div>
										{{item.desc}}
									</div>
									<div>
										{{item.platform}}
									</div>
									<div>
										{{item.tested}}
									</div>
									<div>
										{{item.by}}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</section>
		<div ng-include='root.base_url + "admin/templates/spec/modules/pre_app.html"'> </div> </div>
	</main>
</ion-view>
<!-- ugh actions -->
<action-item items="[cross platform, testing]" group="testing" priority="1" tested="true" time="10hr" phase="1" type="ugh" />
<action-item items="[profiles, courses, categories, university]" group="sneak-preview" priority="1" tested="true" time="5hr" phase="1" type="ugh" />
<action-item items="[sidemenu functionality, pricing content, how it works, about]" group="sidebar" priority="1" tested="true" time="5hr" phase="1" type="ugh" />
<action-item items="[data mining, refresh course data, semest start/end dates]" group="data stuff" priority="1" tested="true" time="10hr" phase="1" type="ugh" />
<action-item items="[accounts, access codes, login/logout, db-linking]" group="server related" priority="1" tested="true" time="10hr" phase="1" type="ugh" />
<action-item items="[madlib-interactions, device, map, transition]" group="splash info" priority="1" tested="true" time="1hr" phase="1" type="ugh" />
<action-item items="[madlib-interactions, device, map, transition]" group="splash info" priority="1" tested="true" time="1hr" phase="1" type="ugh" />

<!--
	ideal
	<module name='First Time Experience' progress="0000" dimensions="1111">
		<user-workflow name='Splash Madlib'/>
			<base-setup directives="switch, transform">
				- apply default active/inactive for [on-init, init-default, on-enter]
				- map func-story to auto-inherit dimensions
				- default progress to zero
			</base-setup>
			<user-stories>
				<func-story "Switches has data ">
				<func-story "All elements rendered with no blips">
					<ui-story desc="splash enters"/>
				<func-story desc="user clicks splash" test-vars="row one, row two" dimensions="0111"/>
					<ui-states>
					</ui-states>
				</func-story>
				<func-story desc="selected + deselect to reset" />
					<ui-state stage="hi-fi" >
				</func-story>
				<func-story desc="user clicks [r1, i0] + boot previous" dimensions="0111" vars="r1:[0], r2: [0,3] />
				<func-story desc="user clicks [r1, i0], blank is filled" dimensions="0111" vars="r1:[0], r2: [0,3] />
				<func-story desc="category is changed, switch" dimensions="0111"/>
				<func-story desc="university is changed, switch efficiently" dimensions="0111"/>
				<func-story desc="both are filled, activate map, device, self-transition out" dimensions="0111"/>
				<func-story desc="both are filled, one is deselected, dispatch events" dimensions="0111"/>
				<func-story desc="device is activated" dimensions="0111"/>
				<func-story desc="map is activated" dimensions="0111"/>

			</user-stories>
			<post-func>
				<func-item type="urgent" todo="modularize switch code to auto initialize"]/>
				<func-item todo="[reformat syntax switches -> switchset]/>
				<func-item type="spec" desc="spec out hifi ui-states"/>
				<func-item type="generate tests" desc="generate tests"/>
				<func-item type="directive" desc="cleanup all console.logs"/>
				<abstract-spec desc="syntax-only directive feature"/>
				<func-item type="reflection" desc="marking a directive, setting one that's still clearly incomplete, but has some of it 100% functioning"/>
				<func-item type="reflection" desc="create integration queue"/>
		</user-workflows>

		<user-workflow name='Splash Device'/>
		<user-workflow name='Splash Map'/>
		<user-workflow name='Splash Tour'/>
		<user-workflow name='Splash University'/>
		<user-workflow name='Splash Categories'/>
	</module>
-->
<!--
	To turn into syntax-only, not implemented directive, but still has docs
	<elem attr="transform[to:(#selector::mid::near), in:, tween:()]"
-->

<!-- To turn into syntax [pre-app only]-->
<!--
	1. Format [dimensions[0000], progress[0000], relevant phase[0000], date[horizontal], transclude functions, items[action-streams/components]]
	2. Progress pipeline, action-item -> module, stream-> user-story, action stream
	3. add to current spec & compile the attr data
	4. wrap functions into ui-optimal fashion
	5. bind
	6. Complete with formatted data below
	=====
	Func Spec: [getting started, login/logout/accounts, map, server-side communication, fake data spec, analytics/user-data, animation framework]
	Milestone -> components [Profile Cards, University Card, FAQ item, Base Item]
	Element Components: [base, profiles, cards, loaders]
	Data: [Fake data service, get fall start dates] later: mine chegg properly
	Anim: [multi-animation, hover, move]
	Refactor: [Go over their code, Code cleanup]
	Modules: [Getting Started, Next Steps, Analytics, Object Tracking, Theme/Tour Guiding, placeholders]
	Static Specs: [faq, team, about, pricing, how it works]
	Spec + View: [] in-active state
-->
<!-- Phase 2:
	Become a Guru
	Apps
-->


<!-- 	<base-setup directives="switch, transform">
		- apply default active/inactive for [on-init, init-default, on-enter]
		- map func-story to auto-inherit dimensions
		- default progress to zero
	</base-setup>
	<user-stories>
		<func-story "Switches has data ">
		<func-story "All elements rendered with no blips">
			<ui-story desc="splash enters"/>
		<func-story desc="user clicks splash" test-vars="row one, row two" dimensions="0111"/>
			<ui-states>
			</ui-states> -->
<module/>

<!-- eh actions todo streams-->
<action-item items="[tag-hover:inactive, tag-hover:active, tag-hover-click:active, tag-hover-click:inactive, tag-transition-madlib-blank:after]" group="splash:madlib" priority="1" tested="true" time="10hr" phase="1" type="eh" />