.calendar-month {
  width: 100%;
  background: #F1F1F1; }
  .calendar-month h1 {
    color: white; }
  .calendar-month .cal-day-container {
    height: 100%; }
    .calendar-month .cal-day-container > ul {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 100%; }
      .calendar-month .cal-day-container > ul li {
        width: calc(100% / 7);
        padding: 1px; }
        .calendar-month .cal-day-container > ul li > div {
          position: relative;
          border-radius: 2px;
          height: 100%;
          padding: 5px; }
      .calendar-month .cal-day-container > ul.cal-labels {
        height: 48px;
        padding: 1px 1px 0; }
        .calendar-month .cal-day-container > ul.cal-labels li {
          height: 100%; }
          .calendar-month .cal-day-container > ul.cal-labels li > div {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            width: 100%;
            background: #96cac0;
            font-size: 24px;
            font-weight: 600; }
      .calendar-month .cal-day-container > ul.cal-days {
        padding: 0 1px 1px;
        height: 100%; }
        .calendar-month .cal-day-container > ul.cal-days li {
          height: calc(100% / 6); }
          .calendar-month .cal-day-container > ul.cal-days li > div {
            background: white; }

.cal-day-date {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 36px;
  height: 36px;
  color: #637074;
  font-size: 16px;
  font-weight: 600; }
  .cal-day-date > div {
    transform-origin: center center;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .cal-day-date > div div:empty {
      position: absolute;
      background: #69B3A5;
      border-radius: 2px; }
      .cal-day-date > div div:empty:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transform-origin: right center; }
      .cal-day-date > div div:empty:nth-child(2) {
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        transform-origin: center bottom; }
      .cal-day-date > div div:empty:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        transform-origin: left center; }
      .cal-day-date > div div:empty:nth-child(4) {
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        transform-origin: center top; }

.cal-month-tile {
  position: relative;
  border-radius: 2px;
  background: white;
  color: #637074;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 5px 5px 8px;
  margin-bottom: 5px; }
  .cal-month-tile div:empty {
    position: absolute;
    background: #69B3A5;
    border-radius: 2px; }
    .cal-month-tile div:empty:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform-origin: right center; }
    .cal-month-tile div:empty:nth-child(2) {
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      transform-origin: center bottom; }
    .cal-month-tile div:empty:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      transform-origin: left center; }
    .cal-month-tile div:empty:nth-child(4) {
      bottom: 0;
      left: 0;
      width: 5px;
      height: 100%;
      transform-origin: center top; }
  .cal-month-tile.bg-slate div:empty {
    background: #40484B; }
  .cal-month-tile.bg-taupe div:empty {
    background: #757575; }
  .cal-month-tile.bg-campus div:empty {
    background: #8A9EA3; }
  .cal-month-tile.bg-shamrock div:empty {
    background: #69B3A5; }
  .cal-month-tile.bg-robin div:empty {
    background: #2BB3B8; }
  .cal-month-tile.bg-lake div:empty {
    background: #50A5DD; }
  .cal-month-tile.bg-moxie div:empty {
    background: #43cb9d; }
  .cal-month-tile.bg-crimson div:empty {
    background: #d3242c; }
  .cal-month-tile.bg-auburn div:empty, .cal-month-tile.bg-delivery div:empty {
    background: #F04F54; }
  .cal-month-tile.bg-orange div:empty, .cal-month-tile.bg-freelancing div:empty {
    background: #E5753C; }
  .cal-month-tile.bg-gold div:empty, .cal-month-tile.bg-baking div:empty {
    background: #F6C64E; }
  .cal-month-tile.bg-moola div:empty, .cal-month-tile.bg-photography div:empty {
    background: #81B566; }
  .cal-month-tile.bg-azure div:empty, .cal-month-tile.bg-tech div:empty {
    background: #55A4B7; }
  .cal-month-tile.bg-cobalt div:empty, .cal-month-tile.bg-household div:empty {
    background: #7872e3; }
  .cal-month-tile.bg-eggplant div:empty, .cal-month-tile.bg-athletic div:empty {
    background: #9A5BC5; }
  .cal-month-tile.bg-cerise div:empty, .cal-month-tile.bg-academic div:empty {
    background: #e6389b; }



/*# sourceMappingURL=../compiled/_monthly.css.map */
