.calendar-container .cal-add {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px; }
  .calendar-container .cal-add a {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 1000px;
    width: 34px;
    height: 34px;
    background: white; }
    .calendar-container .cal-add a svg {
      display: block;
      width: 24px;
      height: 24px; }
      .calendar-container .cal-add a svg * {
        fill: none;
        stroke: rgba(99, 112, 116, 0.5);
        stroke-width: 8px;
        stroke-linecap: round;
        stroke-linejoin: round; }
.calendar-container .cal-search {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 64px;
  padding: 0 15px 0 0;
  background: #69B3A5;
  transform: translateX(100%) translateX(-49px) translateZ(0);
  transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
  transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27); }
  @media screen and (max-width: 768px) {
    .calendar-container .cal-search {
      padding: 0 15px; } }
  .calendar-container .cal-search > div {
    position: relative;
    height: calc(100% - 30px);
    width: 100%; }
    .calendar-container .cal-search > div div {
      border-radius: 1000px;
      transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
      transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 100%;
      background: white; }
  .calendar-container .cal-search input {
    border-radius: 1000px;
    transition: all 300ms cubic-bezier(0.77, 0, 0.05, 1);
    transition: all 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
    position: relative;
    z-index: 5;
    height: 100%;
    width: calc(100% - 34px - 15px);
    padding-left: 34px;
    padding-right: 15px;
    background: none;
    font-size: 18px;
    box-sizing: border-box; }
    .calendar-container .cal-search input::-webkit-input-placeholder {
      opacity: 0; }
    .calendar-container .cal-search input:-moz-placeholder {
      opacity: 0; }
    .calendar-container .cal-search input::-moz-placeholder {
      opacity: 0; }
    .calendar-container .cal-search input:-ms-input-placeholder {
      opacity: 0; }
  .calendar-container .cal-search label {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    height: 100%;
    width: 34px;
    cursor: pointer; }
    .calendar-container .cal-search label svg {
      display: block;
      width: 24px;
      height: 24px; }
      .calendar-container .cal-search label svg * {
        fill: none;
        stroke: rgba(99, 112, 116, 0.5);
        stroke-width: 8px;
        stroke-linecap: round;
        stroke-linejoin: round; }
  .calendar-container .cal-search.active {
    transform: translateX(0) translateZ(0); }
    .calendar-container .cal-search.active > div div {
      width: 100%; }
    .calendar-container .cal-search.active input::-webkit-input-placeholder {
      opacity: 1; }
    .calendar-container .cal-search.active input:-moz-placeholder {
      opacity: 1; }
    .calendar-container .cal-search.active input::-moz-placeholder {
      opacity: 1; }
    .calendar-container .cal-search.active input:-ms-input-placeholder {
      opacity: 1; }
.calendar-container .calendar-week {
  transition: width 300ms cubic-bezier(0.77, 0, 0.05, 1);
  transition: width 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27); }
.calendar-container .cal-filters {
  transition: transform 300ms cubic-bezier(0.77, 0, 0.05, 1);
  transition: transform 300ms cubic-bezier(0.77, -0.22, 0.05, 1.27);
  background: #40484B; }
.calendar-container.student .cal-search {
  background: #50A5DD; }
.calendar-container.student .cal-filters {
  background: #F1F1F1; }
.calendar-container:not(.has-filters) .cal-filters {
  transform: translateX(100%);
  opacity: 0; }
.calendar-container.has-filters {
  overflow: hidden;
  height: 100%; }
  .calendar-container.has-filters .calendar-week {
    height: 100%; }
    .calendar-container.has-filters .calendar-week .cal-week {
      height: 100%; }
      .calendar-container.has-filters .calendar-week .cal-week > div {
        height: 100%; }
    .calendar-container.has-filters .calendar-week .cal-day-container {
      height: calc(100% - 64px);
      width: 75%;
      overflow: auto; }
      .calendar-container.has-filters .calendar-week .cal-day-container::-webkit-scrollbar {
        display: none; }
      .calendar-container.has-filters .calendar-week .cal-day-container::-moz-scrollbar {
        display: none; }
  @media screen and (max-width: 768px) {
    .calendar-container.has-filters .calendar-week {
      width: 100% !important; } }

.cal-filters {
  position: absolute;
  top: 64px;
  right: 0;
  height: calc(100% - 64px);
  width: 25%;
  overflow: auto; }
  @media screen and (max-width: 768px) {
    .cal-filters {
      width: 100%; } }
  .cal-filters .tag-list {
    width: 100%;
    overflow: auto; }
    .cal-filters .tag-list::-webkit-scrollbar {
      display: none; }
    .cal-filters .tag-list::-moz-scrollbar {
      display: none; }
    .cal-filters .tag-list ul {
      -webkit-flex-flow: nowrap row;
      flex-flow: nowrap row;
      padding: 7.5px; }
      .cal-filters .tag-list ul li {
        padding: 7.5px; }
  .cal-filters .cal-results {
    height: calc(100% - 62px);
    overflow: auto; }
    .cal-filters .cal-results ul {
      padding-top: 0; }
      .cal-filters .cal-results ul li:first-child {
        padding-top: 0; }

.student + .cal-filters header {
  background: #50A5DD; }



/*# sourceMappingURL=../compiled/_search.css.map */
