@import 'mixin';

#top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	#top-logo {
		position: relative;
		display: block;
		margin: -10px auto 0;
		text-align: center;
		svg {
			@include transition-type(width, .15s ease-in);
			display: block;
			margin: 10px auto;
			width: 100%;
			height: 100%;
		}
	}
	#top-menu {
		position: relative;
		z-index: 99999;
		padding: 10px;
		box-sizing: border-box;
		ul {
			@include listless;
			display: table;
			width: 100%;
			li {
				display: table-cell;
				vertical-align: top;
				width: 33.33333%;
				&:last-child {
					text-align: right;
				}
			}
		}
	}
}
#desktop-start-link, #desktop-chat-link {
	display: none;
}

#overlay {
	* {
		box-sizing: border-box;
	}
	@include opacity(0);
	position: fixed;
	//z-index: 999999;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($charcoal, .3);
	&.active {
		@include opacity(1);
		z-index: 999999;
	}
}

#start-modal {
	@include opacity(0);
	@include center-xy;
	position: fixed;
	display: none;
	/*visibility: hidden !important;*/
	z-index: 1000001;
	background: white;
	width: 100%;
	height: 100%;
	max-width: 852px;
	overflow: hidden;
	&.show {
	    visibility:  visible;
	    opacity: 1;
	}
	&.active {
	    display: block;
	}
	h1 {
		background: $shamrock;
		color: white;
		padding: 10px;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
	}
	header {
		position: relative;
		a {
			@include center-y;
			right: 10px;
			color: white;
			font-size: 30px;
		}
	}
	.start-modal-platforms {
		@include listless;
		@include flex;
		&#start-modal-platforms-mobile {
			@include flex-wrap;
			li {
				box-sizing: border-box;
				width: 33.3333%;
				padding: 20px;
				svg {
					display: block;
					margin: 0 auto;
					box-sizing: border-box;
					width: 100%;
					height: 100%;
					max-width: 80px;
					max-height: 80px;
				}
				a {
					color: $charcoal;
					span {
						display: none;
					}
					svg {
						path {
							@include transition(.15s ease-in);
						}
					}
				}
				#{$links} {
					color: $shamrock;
					svg {
						path {
							fill: $shamrock;
						}
					}
				}
			}
		}
		&#start-modal-platforms-wear {
			li {
				box-sizing: border-box;
				padding: 20px;
				svg {
					display: block;
					box-sizing: border-box;
					width: 100%;
					height: auto;
					max-height: 30px;
				}
			}
		}
	}
	input {
		-webkit-appearance: none;
		border: 0;
		box-shadow: none;
		background: #eee;
		padding: 10px;
	}
	input:focus {
		background: $smoke;
	}
	.start-modal-link {
		@include flex;
		@include flex-wrap;
		width: 100%;
		box-sizing: border-box;
		input, button {
			box-sizing: border-box;
			width: 100%;
		}
	}
	&.active {
		@include opacity(1);
	}
}
#side-menu {
	@include transition(.15s ease-in);
	@include opacity(0);
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 100%;
	background: rgba($slate,.8);
	&.active {
		@include opacity(1);
	}
	ul {
		@include listless;
	}
	.top-link-menu {
		margin: 10px 10px 20px;
	}
	.top-link-close {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		color: white;
		font-size: 40px;
		font-weight: 400;
		line-height: 1;
	}
	#side-menu-links {
		li {
			a {
				display: block;
				padding: 15px 10px;
				border-right: 4px solid rgba($slate,0);
				color: white;
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;
				cursor: pointer;
			}
			#{$links} {
				background: rgba(white, .1);
				border-right-color: $taupe;
			}
			#link-home:active, #link-home:focus, #link-home:hover {
				border-right-color: $shamrock;
			}
			#link-search:active, #link-search:focus, #link-search:hover {
				border-right-color: $azure;
			}
			#link-earn:active, #link-earn:focus, #link-earn:hover {
				border-right-color: $charcoal;
			}
			#link-work:active, #link-work:focus, #link-work:hover {
				border-right-color: $slate;
			}
			#link-why:active, #link-why:focus, #link-why:hover {
				border-right-color: $campus;
			}
			#link-start:active, #link-start:focus, #link-start:hover {
				border-right-color: $shamrock;
			}
			#link-faq:active, #link-faq:focus, #link-faq:hover {
				border-right-color: $lake;
			}
			#link-manifest:active, #link-manifest:focus, #link-manifest:hover {
				border-right-color: $eggplant;
			}
			#link-team:active, #link-team:focus, #link-team:hover {
				border-right-color: $cerise;
			}
			#link-support:active, #link-support:focus, #link-support:hover {
				border-right-color: $orange;
			}
			ul {
				li {
					a {
						padding: 10px 5px 10px 20px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:35.5em) {
	#desktop-start-link, #desktop-chat-link {
		display: inline-block;
	}
	#mobile-start-link, #mobile-chat-link {
		display: none;
	}
	#start-modal {
		height: auto!important;
		border-radius: 10px;
		.start-modal-platforms {
			&#start-modal-platforms-mobile {
				li {
					svg {
						max-width: 100px;
						max-height: 100px;
					}
					a {
						span {
							display: block;
							margin-top: 15px;
							font-weight: 400;
							line-height: 1.2;
							h3 {
								text-transform: uppercase;
							}
							small {
								display: block;
								margin-top: 5px;
								font-size: 14px;
							}
						}
					}
				}
			}
			&#start-modal-platforms-wear {
				display: none;
			}
		}
		.start-modal-link {
			input {
				width: 66.6666%;
			}
			input:hover, input:focus {
				font-size: 200%;
			}
			button {
				width: 33.3333%;
			}
		}
	}
}

#footer {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 9999999999;
}

@media screen and (min-width:48em) {
	#start-modal {
		.start-modal-platforms {
			&#start-modal-platforms-mobile {
				li {
					svg {
						max-width: 120px;
						max-height: 120px;
					}
				}
			}
			&#start-modal-platforms-wear {
				li {
					svg {
						max-height: 60px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:84em) {
	#start-modal {
		.start-modal-platforms {
			&#start-modal-platforms-mobile {
				li {
					svg {
						max-width: 150px;
						max-height: 150px;
					}
				}
			}
			&#start-modal-platforms-wear {
				li {
					svg {
						max-height: 100px;
					}
				}
			}
		}
	}
}

.front, .back {
    height: 100%;
    width: auto;
}

#modal-loader-container.active {
    display: block;
}

#modal-content,
#modal-content-submit {
    display: none;
}

#modal-content.active,
#modal-content-submit.active {
    display: block;
}

#start-modal .svg-container {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    margin-top: 20%;
}

.front, .back {
    height: 100%;
    width: auto;
}

.intercom-sheet-header-minimize-button {
    display: none !important;
}

#modal-loader-container.active {
    display: block;
}

#modal-content,
#modal-content-submit {
    display: none;
}

#modal-content.active,
#modal-content-submit.active {
    display: block;
}

#start-modal .svg-container {
    margin:  0 auto;
    text-align:  center;
    height:  100%;
    margin-top:  20%;
}


.intercom-launcher-button, .intercom-launcher-preview, .intercom-sheet-header-minimize-button {
	display: none!important;
}

.intercom-reset div, .intercom-reset span, .intercom-reset applet, .intercom-reset object, .intercom-reset iframe, .intercom-reset h1, .intercom-reset h2, .intercom-reset h3, .intercom-reset h4, .intercom-reset h5, .intercom-reset h6, .intercom-reset p, .intercom-reset blockquote, .intercom-reset pre, .intercom-reset a, .intercom-reset abbr, .intercom-reset acronym, .intercom-reset address, .intercom-reset big, .intercom-reset cite, .intercom-reset code, .intercom-reset del, .intercom-reset dfn, .intercom-reset em, .intercom-reset img, .intercom-reset ins, .intercom-reset kbd, .intercom-reset q, .intercom-reset s, .intercom-reset samp, .intercom-reset small, .intercom-reset strike, .intercom-reset strong, .intercom-reset sub, .intercom-reset sup, .intercom-reset tt, .intercom-reset var, .intercom-reset b, .intercom-reset u, .intercom-reset i, .intercom-reset center, .intercom-reset dl, .intercom-reset dt, .intercom-reset dd, .intercom-reset ol, .intercom-reset ul, .intercom-reset li, .intercom-reset fieldset, .intercom-reset form, .intercom-reset div.form, .intercom-reset label, .intercom-reset legend, .intercom-reset table, .intercom-reset caption, .intercom-reset tbody, .intercom-reset tfoot, .intercom-reset thead, .intercom-reset tr, .intercom-reset th, .intercom-reset td, .intercom-reset article, .intercom-reset aside, .intercom-reset canvas, .intercom-reset details, .intercom-reset figcaption, .intercom-reset figure, .intercom-reset footer, .intercom-reset header, .intercom-reset hgroup, .intercom-reset menu, .intercom-reset nav, .intercom-reset section, .intercom-reset summary, .intercom-reset time, .intercom-reset mark, .intercom-reset audio, .intercom-reset video, .intercom-reset button, .intercom-reset textarea, .intercom-reset input, .intercom-reset input[type] {
	font-family: $font!important;
}

::-webkit-input-placeholder {
   font-family: $font!important;
}
:-moz-placeholder {
   font-family: $font!important;
}
::-moz-placeholder {
   font-family: $font!important;
}
:-ms-input-placeholder {
   font-family: $font!important;
}
* {
	box-shadow: none!important;
}