::-webkit-input-placeholder {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important !important; }

:-moz-placeholder {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important !important; }

::-moz-placeholder {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important !important; }

:-ms-input-placeholder {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important !important; }

* {
  box-shadow: none !important; }

#top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%; }
  #top #top-logo {
    position: relative;
    display: block;
    margin: -10px auto 0;
    text-align: center; }
    #top #top-logo svg {
      -webkit-transition: width 0.15s ease-in;
      -o-transition: width 0.15s ease-in;
      -ms-transition: width 0.15s ease-in;
      -moz-transition: width 0.15s ease-in;
      transition: width 0.15s ease-in;
      display: block;
      margin: 10px auto;
      width: 100%;
      height: 100%; }
  #top #top-menu {
    position: relative;
    z-index: 99999;
    padding: 10px;
    box-sizing: border-box; }
    #top #top-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      width: 100%; }
      #top #top-menu ul li {
        display: table-cell;
        vertical-align: top;
        width: 33.33333%; }
        #top #top-menu ul li:last-child {
          text-align: right; }

#desktop-start-link, #desktop-chat-link {
  display: none; }

#full-overlay {
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 50, 52, 0.5); }
  #full-overlay.active {
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 20; }
  #full-overlay.animated.fadeIn, #full-overlay.animated.fadeOut {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s; }

#start-modal {
  filter: alpha(opacity=100);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000001;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #start-modal.show {
    visibility: visible;
    opacity: 1; }
  #start-modal.active {
    display: block; }
  #start-modal header h1 {
    padding: 10px; }
  #start-modal h1 {
    background: #69B3A5;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase; }
  #start-modal header {
    position: relative; }
    #start-modal header #home-modal-close-link {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 10px;
      color: white;
      font-size: 30px; }
  #start-modal .start-modal-platforms {
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    #start-modal .start-modal-platforms#start-modal-platforms-mobile {
      -ms-flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      height: calc(60% - 38px);
      text-align: center !important; }
      #start-modal .start-modal-platforms#start-modal-platforms-mobile li {
        box-sizing: border-box;
        width: 33.3333%;
        padding: 20px; }
        #start-modal .start-modal-platforms#start-modal-platforms-mobile li svg {
          display: block;
          margin: 0 auto;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          max-width: 80px;
          max-height: 80px; }
        #start-modal .start-modal-platforms#start-modal-platforms-mobile li a {
          color: #2B3234; }
          #start-modal .start-modal-platforms#start-modal-platforms-mobile li a span {
            display: none; }
          #start-modal .start-modal-platforms#start-modal-platforms-mobile li a svg path {
            -webkit-transition: all 0.15s ease-in;
            -o-transition: all 0.15s ease-in;
            -ms-transition: all 0.15s ease-in;
            -moz-transition: all 0.15s ease-in;
            transition: all 0.15s ease-in; }
        #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:active, #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:focus, #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:hover {
          color: #69B3A5; }
          #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:active svg path, #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:focus svg path, #start-modal .start-modal-platforms#start-modal-platforms-mobile li a:hover svg path {
            fill: #69B3A5; }
    #start-modal .start-modal-platforms#start-modal-platforms-wear li {
      box-sizing: border-box;
      padding: 20px; }
      #start-modal .start-modal-platforms#start-modal-platforms-wear li svg {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        max-height: 30px; }
  #start-modal input {
    -webkit-appearance: none;
    border: 0;
    box-shadow: none;
    padding: 10px; }
  #start-modal .start-modal-link {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box; }
    #start-modal .start-modal-link input, #start-modal .start-modal-link button {
      box-sizing: border-box;
      width: 100%; }
  #start-modal.active {
    filter: alpha(opacity=100);
    opacity: 1; }

#side-menu-wrapper {
  filter: alpha(opacity=0);
  opacity: 0;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%; }
  #side-menu-wrapper.active {
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 999999999999; }

#side-menu {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  display: block !important;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(64, 72, 75, 0.8); }
  #side-menu.animated.slideInLeft, #side-menu.animated.slideOutLeft {
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s; }
  #side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #side-menu .top-link-menu {
    margin: 10px 10px 20px; }
  #side-menu .top-link-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 1; }
  #side-menu #side-menu-links {
    height: calc(100% - 150px); }
    #side-menu #side-menu-links li a {
      display: block;
      padding: 15px 10px;
      border-right: 4px solid rgba(64, 72, 75, 0);
      color: white;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer; }
    #side-menu #side-menu-links li a:active, #side-menu #side-menu-links li a:focus, #side-menu #side-menu-links li a:hover {
      background: rgba(255, 255, 255, 0.1);
      border-right-color: #757575; }
    #side-menu #side-menu-links li #link-home:active, #side-menu #side-menu-links li #link-home:focus, #side-menu #side-menu-links li #link-home:hover {
      border-right-color: #69B3A5; }
    #side-menu #side-menu-links li #link-search:active, #side-menu #side-menu-links li #link-search:focus, #side-menu #side-menu-links li #link-search:hover {
      border-right-color: #55A4B7; }
    #side-menu #side-menu-links li #link-earn:active, #side-menu #side-menu-links li #link-earn:focus, #side-menu #side-menu-links li #link-earn:hover {
      border-right-color: #2B3234; }
    #side-menu #side-menu-links li #link-work:active, #side-menu #side-menu-links li #link-work:focus, #side-menu #side-menu-links li #link-work:hover {
      border-right-color: #40484B; }
    #side-menu #side-menu-links li #link-why:active, #side-menu #side-menu-links li #link-why:focus, #side-menu #side-menu-links li #link-why:hover {
      border-right-color: #8A9EA3; }
    #side-menu #side-menu-links li #link-start:active, #side-menu #side-menu-links li #link-start:focus, #side-menu #side-menu-links li #link-start:hover {
      border-right-color: #69B3A5; }
    #side-menu #side-menu-links li #link-faq:active, #side-menu #side-menu-links li #link-faq:focus, #side-menu #side-menu-links li #link-faq:hover {
      border-right-color: #50A5DD; }
    #side-menu #side-menu-links li #link-manifest:active, #side-menu #side-menu-links li #link-manifest:focus, #side-menu #side-menu-links li #link-manifest:hover {
      border-right-color: #9A5BC5; }
    #side-menu #side-menu-links li #link-team:active, #side-menu #side-menu-links li #link-team:focus, #side-menu #side-menu-links li #link-team:hover {
      border-right-color: #DB1988; }
    #side-menu #side-menu-links li #link-support:active, #side-menu #side-menu-links li #link-support:focus, #side-menu #side-menu-links li #link-support:hover {
      border-right-color: #E5753C; }
    #side-menu #side-menu-links li ul li a {
      padding: 10px 5px 10px 20px;
      font-size: 14px; }

@media screen and (min-width: 35.5em) {
  #desktop-start-link, #desktop-chat-link {
    display: inline-block; }

  #mobile-start-link, #mobile-chat-link {
    display: none; }

  #side-menu {
    max-width: 300px; }

  #start-modal {
    position: relative;
    border-radius: 10px; }
    #start-modal .start-modal-platforms#start-modal-platforms-mobile li svg {
      max-width: 100px;
      max-height: 100px; }
    #start-modal .start-modal-platforms#start-modal-platforms-mobile li a span {
      display: block;
      margin-top: 15px;
      font-weight: 400;
      line-height: 1.2; }
      #start-modal .start-modal-platforms#start-modal-platforms-mobile li a span h3 {
        text-transform: uppercase; }
      #start-modal .start-modal-platforms#start-modal-platforms-mobile li a span small {
        display: block;
        margin-top: 5px;
        font-size: 14px; }
    #start-modal .start-modal-platforms#start-modal-platforms-wear {
      display: none; } }
#footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999999999; }

@media screen and (min-width: 48em) {
  #start-modal .start-modal-platforms#start-modal-platforms-mobile li svg {
    max-width: 120px;
    max-height: 120px; }
  #start-modal .start-modal-platforms#start-modal-platforms-wear li svg {
    max-height: 60px; } }
@media screen and (min-width: 84em) {
  #start-modal .start-modal-platforms#start-modal-platforms-mobile li svg {
    max-width: 150px;
    max-height: 150px; }
  #start-modal .start-modal-platforms#start-modal-platforms-wear li svg {
    max-height: 100px; } }
#modal-loader-container.active {
  display: block; }

#modal-content,
#modal-content-submit {
  display: none; }

#modal-content.active,
#modal-content-submit.active {
  display: block; }

#start-modal .svg-container {
  margin: 0 auto;
  text-align: center;
  height: 100%; }

.front, .back {
  width: auto;
  overflow: hidden;
  border-radius: 10px; }

#modal-loader-container.active {
  display: block; }

#modal-content,
#modal-content-submit {
  display: none; }

#modal-content.active,
#modal-content-submit.active {
  display: block; }

#start-modal .svg-container {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  margin-top: 20%; }

.intercom-reset div, .intercom-reset span, .intercom-reset applet, .intercom-reset object, .intercom-reset iframe, .intercom-reset h1, .intercom-reset h2, .intercom-reset h3, .intercom-reset h4, .intercom-reset h5, .intercom-reset h6, .intercom-reset p, .intercom-reset blockquote, .intercom-reset pre, .intercom-reset a, .intercom-reset abbr, .intercom-reset acronym, .intercom-reset address, .intercom-reset big, .intercom-reset cite, .intercom-reset code, .intercom-reset del, .intercom-reset dfn, .intercom-reset em, .intercom-reset img, .intercom-reset ins, .intercom-reset kbd, .intercom-reset q, .intercom-reset s, .intercom-reset samp, .intercom-reset small, .intercom-reset strike, .intercom-reset strong, .intercom-reset sub, .intercom-reset sup, .intercom-reset tt, .intercom-reset var, .intercom-reset b, .intercom-reset u, .intercom-reset i, .intercom-reset center, .intercom-reset dl, .intercom-reset dt, .intercom-reset dd, .intercom-reset ol, .intercom-reset ul, .intercom-reset li, .intercom-reset fieldset, .intercom-reset form, .intercom-reset div.form, .intercom-reset label, .intercom-reset legend, .intercom-reset table, .intercom-reset caption, .intercom-reset tbody, .intercom-reset tfoot, .intercom-reset thead, .intercom-reset tr, .intercom-reset th, .intercom-reset td, .intercom-reset article, .intercom-reset aside, .intercom-reset canvas, .intercom-reset details, .intercom-reset figcaption, .intercom-reset figure, .intercom-reset footer, .intercom-reset header, .intercom-reset hgroup, .intercom-reset menu, .intercom-reset nav, .intercom-reset section, .intercom-reset summary, .intercom-reset time, .intercom-reset mark, .intercom-reset audio, .intercom-reset video, .intercom-reset button, .intercom-reset textarea, .intercom-reset input, .intercom-reset input[type] {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important !important; }

.intercom-sheet-header-minimize-button {
  display: none !important; }

#intercom-container * {
  box-shadow: none !important; }
#intercom-container .intercom-launcher {
  right: 10px !important;
  top: 0 !important;
  right: 0 !important; }
#intercom-container .intercom-launcher-preview::before {
  background: none !important; }
#intercom-container .intercom-launcher-button {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  top: 10px !important;
  right: 10px !important;
  z-index: 5 !important;
  border: 2px solid white !important;
  background: transparent !important;
  height: 42px !important;
  width: 76px !important;
  border-radius: 1000px !important; }
  #intercom-container .intercom-launcher-button:after {
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "Chat" !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important; }
  #intercom-container .intercom-launcher-button.active {
    display: none !important; }
  #intercom-container .intercom-launcher-button:hover, #intercom-container .intercom-launcher-button:active, #intercom-container .intercom-launcher-button:focus {
    background: white !important; }
    #intercom-container .intercom-launcher-button:hover:after, #intercom-container .intercom-launcher-button:active:after, #intercom-container .intercom-launcher-button:focus:after {
      color: #2B3234 !important; }
#intercom-container .intercom-launcher-preview {
  bottom: -7px !important;
  right: 110px !important;
  max-width: 111px !important; }
#intercom-container .intercom-launcher-preview-body {
  position: relative;
  padding-left: 15px; }
#intercom-container .intercom-launcher-preview-body:after {
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #81B566; }

#menu-icons {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  #menu-icons li {
    width: calc(100% / 3);
    box-sizing: border-box; }
    #menu-icons li a {
      display: block;
      text-align: center; }
      #menu-icons li a svg {
        width: auto;
        max-width: 50px;
        height: 100%;
        max-height: 50px; }
        #menu-icons li a svg path, #menu-icons li a svg * {
          -webkit-transition: all 0.15s ease-in;
          -o-transition: all 0.15s ease-in;
          -ms-transition: all 0.15s ease-in;
          -moz-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in; }
    #menu-icons li a:active svg path, #menu-icons li a:active svg *, #menu-icons li a:focus svg path, #menu-icons li a:focus svg *, #menu-icons li a:hover svg path, #menu-icons li a:hover svg * {
      fill: #69B3A5; }

.modal-main-container {
  backface-visibility: hidden;
  background: white;
  height: 100%; }

.download-link-wrapper {
  position: relative;
  height: 40%; }
  .download-link-wrapper section {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .download-link-wrapper #submit-info-loader.svg-container {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center; }
    .download-link-wrapper #submit-info-loader.svg-container.active {
      display: block; }
    .download-link-wrapper #submit-info-loader.svg-container svg * {
      fill: #69B3A5; }
  .download-link-wrapper #post-submit-info-wrapper {
    display: none;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    margin-top: 0;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #69B3A5 !important; }
    .download-link-wrapper #post-submit-info-wrapper .message-content {
      color: #69B3A5;
      font-weight: 600; }
    .download-link-wrapper #post-submit-info-wrapper.active {
      display: block; }
    .download-link-wrapper #post-submit-info-wrapper .ion-checkmark {
      font-size: 200%; }
  .download-link-wrapper #submit-info-button {
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 2%;
    height: calc(100% - 38px);
    color: #69B3A5;
    font-size: 100%;
    font-weight: 400;
    text-align: center !important; }
    .download-link-wrapper #submit-info-button .ion-checkmark {
      color: #69B3A5; }
    .download-link-wrapper #submit-info-button.active.validated .ion-checkmark {
      color: white; }
    .download-link-wrapper #submit-info-button.active {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      background: rgba(105, 179, 165, 0.5); }
    .download-link-wrapper #submit-info-button.active.validated {
      filter: alpha(opacity=100);
      opacity: 1;
      color: white;
      background: rgba(105, 179, 165, 0.75); }
    .download-link-wrapper #submit-info-button.active.validated:hover {
      filter: alpha(opacity=75);
      opacity: 0.75; }
  .download-link-wrapper .email-cta-wrapper, .download-link-wrapper .phone-cta-wrapper {
    display: none;
    height: 100%;
    cursor: pointer; }
    .download-link-wrapper .email-cta-wrapper.active, .download-link-wrapper .phone-cta-wrapper.active {
      display: block; }
  .download-link-wrapper .start-modal-link .start-modal-switcher {
    position: relative;
    z-index: 99;
    text-align: center;
    width: 100%;
    font-size: 36px; }
    .download-link-wrapper .start-modal-link .start-modal-switcher .phone-icon, .download-link-wrapper .start-modal-link .start-modal-switcher .mail-icon {
      filter: alpha(opacity=50);
      opacity: 0.5;
      padding: 0 10px; }
      .download-link-wrapper .start-modal-link .start-modal-switcher .phone-icon.active, .download-link-wrapper .start-modal-link .start-modal-switcher .mail-icon.active {
        filter: alpha(opacity=100);
        opacity: 1; }
  .download-link-wrapper .start-modal-link .material-text-wrapper {
    margin: 0;
    text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper input {
      color: #69B3A5;
      border-bottom: 2px solid rgba(105, 179, 165, 0.5) !important;
      font-size: 150%;
      text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper ::-webkit-input-placeholder {
      color: rgba(105, 179, 165, 0.5);
      text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper :-moz-placeholder {
      color: rgba(105, 179, 165, 0.5);
      text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper ::-moz-placeholder {
      color: rgba(105, 179, 165, 0.5);
      text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper :-ms-input-placeholder {
      color: rgba(105, 179, 165, 0.5);
      text-align: center; }
    .download-link-wrapper .start-modal-link .material-text-wrapper label {
      position: static;
      visibility: hidden;
      color: #69B3A5; }
    .download-link-wrapper .start-modal-link .material-text-wrapper label.active#school-email-input-label,
    .download-link-wrapper .start-modal-link .material-text-wrapper label.active#school-phone-input-label {
      filter: alpha(opacity=70);
      opacity: 0.7;
      visibility: visible;
      text-align: center;
      text-transform: lowercase; }

/*# sourceMappingURL=menu.css.map */
