.margin-20-x {
  margin-left: 20px;
  margin-right: 20px; }

.margin-20-y {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-20-xy {
  margin: 20px; }

.margin-20-top {
  margin-top: 20px; }

.margin-20-bottom {
  padding-bottom: 20px; }

.margin-20-left {
  padding-left: 20px; }

.margin-20-right {
  padding-right: 20px; }

.padding-20-x {
  padding-left: 20px;
  padding-right: 20px; }

.padding-20-y {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-20-xy {
  padding: 20px; }

.padding-20-top {
  padding-top: 20px; }

.padding-20-bottom {
  padding-bottom: 20px; }

.padding-20-left {
  padding-left: 20px; }

.padding-20-right {
  padding-right: 20px; }

.padding-50-x {
  padding-left: 50px;
  padding-right: 50px; }

.padding-50-y {
  padding-top: 50px;
  padding-bottom: 50px; }

.padding-50-xy {
  margin: 50px; }

.padding-50-top {
  padding-top: 50px; }

.padding-50-bottom {
  padding-bottom: 50px; }

.padding-50-left {
  padding-left: 50px; }

.padding-50-right {
  padding-right: 50px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.space-1 {
  letter-spacing: 1px; }

.space-2 {
  letter-spacing: 2px; }

.space-3 {
  letter-spacing: 3px; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.lettercase {
  text-transform: capitalize; }

.bg-white {
  background: white; }

.bg-white-10 {
  background: rgba(255, 255, 255, 0.1); }

.bg-white-20 {
  background: rgba(255, 255, 255, 0.2); }

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5); }

.bg-white-75 {
  background: rgba(255, 255, 255, 0.75); }

.bg-slate {
  background: #40484B; }

.bg-shamrock {
  background: #69B3A5; }

.bg-moola {
  background: #81B566; }

.bg-cerise {
  background: #DB1988; }

.hide {
  display: none; }

.full-width-height {
  height: 100%;
  width: 100%; }

.absolute {
  position: absolute; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

.padding-1em {
  padding: 1em; }

.padding-2em {
  padding: 2em; }

.padding-top-2em {
  padding-top: 2em; }

body {
  font-family: "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #2B3234;
  background: #f9f9f9; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #69B3A5;
  text-decoration: none; }

a:active, a:focus, a:hover {
  color: #DB1988; }

*:focus {
  outline: none; }

#top {
  max-width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center; }
  #top h1 {
    color: #40484B;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: lowercase; }
  #top h2 {
    color: #757575;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase; }

#main {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 50px; }
  #main #main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: -5px 0 50px; }
    #main #main-menu ul li {
      margin: 5px 0;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase; }
      #main #main-menu ul li a {
        display: block;
        position: relative; }
      #main #main-menu ul li .active {
        color: #40484B;
        font-weight: 600; }
        #main #main-menu ul li .active:after {
          border-radius: 1000px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          display: block;
          position: absolute;
          right: 0;
          width: 4px;
          height: 4px;
          background: #40484B; }
  #main #main-content {
    margin-top: -10px; }
    #main #main-content article {
      margin-bottom: 50px; }
      #main #main-content article header h1 {
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 900;
        text-transform: lowercase;
        color: #8A9EA3; }
      #main #main-content article footer {
        margin-top: 10px;
        text-align: right; }
      #main #main-content article#brand img {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 50px;
        box-sizing: border-box; }
      #main #main-content article#brand div:nth-child(1) img {
        background: #40484B; }
      #main #main-content article#brand div:nth-child(2) img {
        background: white; }
      #main #main-content article#brand div:nth-child(3) img {
        background: #69B3A5; }
      #main #main-content article#brand div:nth-child(4) img {
        background: white; }
      #main #main-content article#type #type-font {
        margin-bottom: 25px; }
        #main #main-content article#type #type-font span {
          display: block; }
        #main #main-content article#type #type-font .type-sq {
          margin-bottom: 25px; }
          #main #main-content article#type #type-font .type-sq h1 {
            font-size: 48px; }
          #main #main-content article#type #type-font .type-sq h2 {
            font-size: 18px;
            text-transform: uppercase; }
          #main #main-content article#type #type-font .type-sq span {
            font-size: 14px; }
          #main #main-content article#type #type-font .type-sq#type-sq-200 h1, #main #main-content article#type #type-font .type-sq#type-sq-200 h2, #main #main-content article#type #type-font .type-sq#type-sq-200 span {
            font-weight: 200 !important; }
          #main #main-content article#type #type-font .type-sq#type-sq-300 h1, #main #main-content article#type #type-font .type-sq#type-sq-300 h2, #main #main-content article#type #type-font .type-sq#type-sq-300 span {
            font-weight: 300 !important; }
          #main #main-content article#type #type-font .type-sq#type-sq-400 h1, #main #main-content article#type #type-font .type-sq#type-sq-400 h2, #main #main-content article#type #type-font .type-sq#type-sq-400 span {
            font-weight: 400 !important; }
          #main #main-content article#type #type-font .type-sq#type-sq-600 h1, #main #main-content article#type #type-font .type-sq#type-sq-600 h2, #main #main-content article#type #type-font .type-sq#type-sq-600 span {
            font-weight: 600 !important; }
          #main #main-content article#type #type-font .type-sq#type-sq-700 h1, #main #main-content article#type #type-font .type-sq#type-sq-700 h2, #main #main-content article#type #type-font .type-sq#type-sq-700 span {
            font-weight: 700 !important; }
          #main #main-content article#type #type-font .type-sq#type-sq-900 h1, #main #main-content article#type #type-font .type-sq#type-sq-900 h2, #main #main-content article#type #type-font .type-sq#type-sq-900 span {
            font-weight: 900 !important; }
      #main #main-content article#type #type-headers h1, #main #main-content article#type #type-headers h2, #main #main-content article#type #type-headers h3, #main #main-content article#type #type-headers h4, #main #main-content article#type #type-headers p {
        margin: 0; }
      #main #main-content article#type #type-headers h1, #main #main-content article#type #type-headers h2, #main #main-content article#type #type-headers h3, #main #main-content article#type #type-headers h4 {
        text-transform: uppercase; }
      #main #main-content article#type #type-headers h1 {
        font-size: 36px;
        font-weight: 900; }
      #main #main-content article#type #type-headers aside {
        margin: 5px 0 25px;
        color: #757575;
        font-size: 14px;
        text-transform: uppercase; }
        #main #main-content article#type #type-headers aside:last-child {
          margin-bottom: 0; }
      #main #main-content article#color #color-mute {
        margin-top: 50px; }
      #main #main-content article#color .color-sq {
        position: relative;
        height: 150px;
        color: white;
        text-align: center; }
        #main #main-content article#color .color-sq .color-info {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding-bottom: 20px; }
          #main #main-content article#color .color-sq .color-info span {
            display: block;
            font-size: smaller; }
        #main #main-content article#color .color-sq#color-sq-charcoal {
          background: #2B3234; }
        #main #main-content article#color .color-sq#color-sq-slate {
          background: #40484B; }
        #main #main-content article#color .color-sq#color-sq-taupe {
          background: #757575; }
        #main #main-content article#color .color-sq#color-sq-white {
          background: white;
          color: #2B3234; }
        #main #main-content article#color .color-sq#color-sq-smoke {
          background: #F1F1F1;
          color: #2B3234; }
        #main #main-content article#color .color-sq#color-sq-campus {
          background: #8A9EA3; }
        #main #main-content article#color .color-sq#color-sq-shamrock {
          background: #69B3A5; }
        #main #main-content article#color .color-sq#color-sq-moola {
          background: #81B566; }
        #main #main-content article#color .color-sq#color-sq-lake {
          background: #50A5DD; }
        #main #main-content article#color .color-sq#color-sq-azure {
          background: #55A4B7; }
        #main #main-content article#color .color-sq#color-sq-gold {
          background: #F9D57B;
          color: #2B3234; }
        #main #main-content article#color .color-sq#color-sq-orange {
          background: #E5753C; }
        #main #main-content article#color .color-sq#color-sq-cerise {
          background: #DB1988; }
        #main #main-content article#color .color-sq#color-sq-eggplant {
          background: #9A5BC5; }
        #main #main-content article#color .color-sq#color-sq-shamrock-mute {
          background: #69B3A5; }
        #main #main-content article#color .color-sq#color-sq-moola-mute {
          background: #92AC84; }
        #main #main-content article#color .color-sq#color-sq-lake-mute {
          background: #6F98B5; }
        #main #main-content article#color .color-sq#color-sq-azure-mute {
          background: #7DA7B2; }
        #main #main-content article#color .color-sq#color-sq-gold-mute {
          background: #E8D3A3;
          color: #2B3234; }
        #main #main-content article#color .color-sq#color-sq-orange-mute {
          background: #D99675; }
        #main #main-content article#color .color-sq#color-sq-cerise-mute {
          background: #C56E9C; }
        #main #main-content article#color .color-sq#color-sq-eggplant-mute {
          background: #907D9E; }
      #main #main-content article#icons ul {
        padding: 0;
        margin: 0 -5px; }
        #main #main-content article#icons ul li {
          cursor: pointer;
          box-sizing: border-box;
          position: relative; }
        #main #main-content article#icons ul .icon-sq {
          -webkit-transition: opacity 0.15s ease-in;
          -o-transition: opacity 0.15s ease-in;
          -ms-transition: opacity 0.15s ease-in;
          -moz-transition: opacity 0.15s ease-in;
          transition: opacity 0.15s ease-in;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #F1F1F1;
          background-size: 50% 50% !important;
          border: 5px solid #f9f9f9;
          box-sizing: border-box; }
          #main #main-content article#icons ul .icon-sq[id$="solid"] {
            filter: alpha(opacity=0);
            opacity: 0; }
        #main #main-content article#icons ul li:hover .icon-sq[id$="solid"] {
          filter: alpha(opacity=100);
          opacity: 1; }
        #main #main-content article#icons ul#icons-cat {
          margin-bottom: 50px; }
          #main #main-content article#icons ul#icons-cat #icon-bw-spray {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-001.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-spray-solid {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-002.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-utensil {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-003.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-utensil-solid {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-004.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-cart {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-005.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-cart-solid {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-006.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-sci {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-007.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-sci-solid {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-008.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-book {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-009.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-bw-book-solid {
            background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-010.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-spray-green {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-022.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-spray-green-solid {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-023.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-spray-shamrock {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-025.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-spray-shamrock-solid {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-024.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-utensil-orange {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-026.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-utensil-orange-solid {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-027.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-utensil-gold {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-029.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-utensil-gold-solid {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-028.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-cart-blue {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-030.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-cart-blue-solid {
            background: #2B3234 url("../../../static/gabrielle/svg/icons/icon-031.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-cart-azure {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-033.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-cart-azure-solid {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-032.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-sci-cerise {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-034.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-sci-cerise-solid {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-035.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-book-azure {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-036.svg") no-repeat center center; }
          #main #main-content article#icons ul#icons-cat #icon-co-book-azure-solid {
            background: #40484B url("../../../static/gabrielle/svg/icons/icon-037.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-book {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-011.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-help {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-012.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-help-circle {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-013.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-place {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-014.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-clock {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-015.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-tube {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-016.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-star {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-017.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-home {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-018.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-gear {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-019.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-clip-circle {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-020.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-clip {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-021.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-down {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-054.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-up {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-055.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-left {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-056.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-right {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-057.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-cash {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-058.svg") no-repeat center center; }
        #main #main-content article#icons ul#icons-nav #icon-nav-bw-warning {
          background: #F1F1F1 url("../../../static/gabrielle/svg/icons/icon-059.svg") no-repeat center center; }
      #main #main-content article#button #btn-styles {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: -5px; }
        #main #main-content article#button #btn-styles li {
          box-sizing: border-box;
          padding: 5px;
          text-align: center; }
      #main #main-content article#button #btn-row {
        display: table;
        height: 156px;
        margin-top: 50px; }
        #main #main-content article#button #btn-row div {
          display: table-cell;
          vertical-align: middle; }
      #main #main-content article#button button[class*=btn-sm] {
        margin-top: 40px; }
      #main #main-content article#button #btn-pill {
        margin-top: 50px; }
        #main #main-content article#button #btn-pill ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: table;
          width: 100%;
          height: 98px; }
          #main #main-content article#button #btn-pill ul li {
            display: table-cell;
            vertical-align: middle;
            width: 50%; }

button {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-appearance: none;
  margin: 0 auto;
  border: 0;
  text-align: center;
  text-transform: uppercase; }

button[class*=btn-lg] {
  display: block;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 28px;
  font-weight: 600; }

/* default buttons 375px */
button.btn-lg-pri-normal, button.btn-lg-pri-over:active, button.btn-lg-pri-over:focus, button.btn-lg-pri-over:hover {
  background: #50A5DD;
  color: white; }

button.btn-lg-sec-normal, button.btn-lg-sec-over:active, button.btn-lg-sec-over:focus, button.btn-lg-sec-over:hover {
  background: #757575;
  color: white; }

button.btn-lg-pri-over, button.btn-lg-pri-normal:active, button.btn-lg-pri-normal:focus, button.btn-lg-pri-normal:hover {
  background: #40484B;
  color: rgba(255, 255, 255, 0.3); }

button.btn-lg-sec-over, button.btn-lg-sec-normal:active, button.btn-lg-sec-normal:focus, button.btn-lg-sec-normal:hover {
  background: #8A9EA3;
  color: rgba(255, 255, 255, 0.3); }

/* large buttons 630px */
button.btn-lg-slide-pri-normal, button.btn-lg-slide-pri-over:active, button.btn-lg-slide-pri-over:focus, button.btn-lg-slide-pri-over:hover {
  background: #DB1988;
  color: white; }

button.btn-lg-slide-sec-normal, button.btn-lg-slide-sec-over:active, button.btn-lg-slide-sec-over:focus, button.btn-lg-slide-sec-over:hover {
  background: #50A5DD;
  color: white; }

button.btn-lg-slide-pri-over, button.btn-lg-slide-pri-normal:active, button.btn-lg-slide-pri-normal:focus, button.btn-lg-slide-pri-normal:hover {
  background: #9A5BC5;
  color: rgba(255, 255, 255, 0.3); }

button.btn-lg-slide-sec-over, button.btn-lg-slide-sec-normal:active, button.btn-lg-slide-sec-normal:focus, button.btn-lg-slide-sec-normal:hover {
  background: #40484B;
  color: rgba(255, 255, 255, 0.3); }

/* small buttons 198px */
button[class*=btn-sm] {
  display: inline-block;
  width: 198px;
  height: 38px;
  background: white;
  border: 1px solid;
  border-radius: 2px; }

.btn-sm-orange {
  color: #E5753C;
  border-color: #E5753C; }

.btn-sm-cerise {
  color: #DB1988;
  border-color: #DB1988; }

.btn-sm-lake {
  color: #50A5DD;
  border-color: #50A5DD; }

.btn-row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  border-collapse: collapse;
  width: 530px;
  background: #F1F1F1; }
  .btn-row li {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 98px;
    border: 1px solid #757575;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #8A9EA3; }
    .btn-row li.active {
      background: #50A5DD;
      color: white; }

button[class*=btn-pill] {
  border-radius: 1000px;
  font-size: 24px;
  color: #757575;
  margin: 0 auto; }
  button[class*=btn-pill] img {
    width: 46px;
    height: 43px; }

button.btn-pill-hori {
  width: 156px;
  height: 80px;
  background: white; }
  button.btn-pill-hori span {
    display: table-cell;
    vertical-align: middle;
    width: 78px !important; }
  button.btn-pill-hori span:first-child {
    text-align: right;
    padding-right: 5px; }
  button.btn-pill-hori span:last-child {
    text-align: left;
    padding-left: 5px; }

button.btn-pill-vert {
  position: relative;
  height: 156px;
  width: 80px;
  background: none;
  overflow: hidden; }
  button.btn-pill-vert span {
    position: absolute;
    left: 0;
    display: block;
    height: 78px !important;
    width: 80px;
    background: white; }
  button.btn-pill-vert span:first-child {
    top: 0; }
    button.btn-pill-vert span:first-child img {
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  button.btn-pill-vert span:last-child {
    bottom: -1px; }
    button.btn-pill-vert span:last-child b {
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-weight: 400; }

@media screen and (min-width: 48em) {
  button[class*=btn-lg] {
    font-size: 36px;
    height: 82px; }

  #main #main-menu ul {
    padding-right: 50px; } }

/*# sourceMappingURL=style-guide.css.map */
