@import '../../../shared/css/scss/partials/mixin';
@import 'partials/loader/academic';
@import 'partials/loader/baking';
@import 'partials/loader/photo';
@import 'partials/loader/tech';
@import 'partials/loader/household';

.loader-bob {
	animation: l-head-hover 1000ms linear infinite forwards;
}
.pop-up {
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1);
	animation: l-move-up 1500ms linear forwards;
}
.pop-down {
	animation: l-move-down 1000ms linear forwards;
}
.portal-fadeIn {
	animation: fadeIn 50ms linear both;
}
.portal-open {
	transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	animation: l-portal 1000ms linear forwards;
}
.portal-progress {
	animation: l-progress 3000ms linear both;
}
.portal-logo-move-up {
	animation: l-move-up 1000ms linear forwards;
}
.portal-logo-move-down {
	animation: l-move-down 1000ms linear forwards;
}
.loader-portal-outside {
	z-index: 1;
}
.loader-portal-container {
	transition: all 300ms ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: $slate;
	-webkit-perspective: 1000;
	perspective: 1000;
	transform-style: preserve-3d;
	// .tech-props-container, .household-props-container, .academic-props-container {
	// 	display: none;
	// }
	.loader-portal {
		// border: 1px dashed rgba(white, .1);
		// transform: rotateX(80deg) rotateY(-10deg);
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 400px;
		max-width: 450px;
		z-index: 1;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		transform-style: preserve-3d;
		transform-origin: center center;
		overflow: hidden;
		* {
			transform-style: preserve-3d;
			transform-origin: center center;
		}
		.portal {
			position: absolute;
			bottom: 0;
			left: calc(50% - 100px);
			width: 200px;
			height: 200px;
			transform: translate3d(0,37%,25px) rotateX(75deg);
			> div:not(.mask) {
				width: 100%;
				height: 100%;
				svg {
					circle {
						cursor: pointer;
						// stroke-dasharray: 1207;
					}
				}
			}
		}
		.logo {
			cursor: pointer;
			position: absolute;
			top: 90px;
			left: calc(50% - 65px);
			width: 130px;
			height: 37px;
		}
		.guru {
			position: absolute;
		}
	}
}

.default.loader-portal {
    @include flex;
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $slate;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
	animation: portal-fadeOut 1000ms ease 7400ms forwards;
    .loader-portal-inside {
        @include flex;
        @include flex-center;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 250px;
        transform-style: preserve-3d;
        transform-origin: center center;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn 50ms linear 50ms forwards, portal-scaleUp 1000ms ease 6400ms forwards;
		// fadeOut 500ms ease-out 6400ms forwards
    }
    * {
        transform-style: preserve-3d;
        transform-origin: center center;
    }
    .portal {
        position: absolute;
        bottom: 0;
        left: 25px;
        width: 200px;
        height: 200px;
        transform: translate3d(0, 37%, 25px) rotateX(75deg);
		animation: portal-flip 900ms ease-out 5500ms forwards;
        > div:not(.mask) {
            width: 100%;
            height: 100%;
            transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            animation: l-portal 1000ms linear 500ms forwards;
            svg {
                circle {
                    stroke-dasharray: 1207;
                    stroke-dashoffset: 1207;
                    animation: l-progress 3000ms linear 2000ms forwards;
                }
            }
        }
    }
    .logo {
        position: absolute;
        top: 40px;
        left: 60px;
        width: 130px;
        height: 37px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1);
        animation: l-move-up 1000ms linear 1000ms forwards, l-move-down 1000ms linear 4500ms forwards;
    }
    .guru {
        position: absolute;
        top: 50px;
        left: 60px;
        width: 130px;
        transform: translate3d(0, 50px, 0);
        > div {
            width: 100%;
            height: 100%;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1);
            animation: l-move-up 1000ms linear 1500ms forwards, l-head-hover 1000ms linear 2500ms 5 forwards, l-move-down 1000ms linear 4500ms forwards;
        }
    }
}

@keyframes portal-scaleUp {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 0; }
	100% { transform: scale(50); opacity: 0; }
}

@keyframes portal-fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes l-progress {
	0% { stroke: $shamrock; stroke-dashoffset: 1207; }
	10% { stroke: $robin; }
	20% { stroke: $azure; }
	30% { stroke: $lake; }
	40% { stroke: $cobalt; }
	50% { stroke: $eggplant; }
	60% { stroke: $cerise; }
	70% { stroke: $crimson; }
	80% { stroke: $auburn; }
	90% { stroke: $orange; }
	100% { stroke: $gold; stroke-dashoffset: 0; }
}

@keyframes l-head-hover {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.516, 0, 1); }
	63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.895, 0, 1); }
	85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.516, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/* http://goo.gl/qhW7IK */
@keyframes l-move-up {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1); opacity: 1; }
	4.5% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 180.157, 0, 1); }
	9.01% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.008, 0, 1); }
	13.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30.597, 0, 1); }
	17.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48.726, 0, 1); }
	29.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.3, 0, 1); }
	34.63% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.076, 0, 1); }
	40.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.399, 0, 1); }
	62.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.598, 0, 1); }
	84.68% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.066, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

@keyframes l-move-down {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	49.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.35% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 179.877, 0, 1); }
	54.7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 353.384, 0, 1); }
	57.06% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 456.363, 0, 1); }
	59.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 484.844, 0, 1); }
	62.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 460.219, 0, 1); }
	64.96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 419.036, 0, 1); }
	67.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 391.771, 0, 1); }
	70.52% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 384.329, 0, 1); }
	76.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 396.484, 0, 1); }
	81.63% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 402.895, 0, 1); }
	92.74% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 399.465, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 400, 0, 1); opacity: 1; }
}

/* http://goo.gl/D2fiVA */
@keyframes l-portal {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.3% { transform: matrix3d(0.471, 0, 0, 0, 0, 0.417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.41% { transform: matrix3d(0.756, 0, 0, 0, 0, 0.675, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.61% { transform: matrix3d(1.001, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.61% { transform: matrix3d(1.082, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.81% { transform: matrix3d(1.211, 0, 0, 0, 0, 1.145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.91% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.22% { transform: matrix3d(1.166, 0, 0, 0, 0, 1.156, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.52% { transform: matrix3d(1.082, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.13% { transform: matrix3d(0.983, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.44% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.54% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	58.96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	74.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	89.79% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes l-portal-shrink {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	49.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.35% { transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	54.7% { transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	57.06% { transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.36% { transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	62.16% { transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	64.96% { transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	67.77% { transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.52% { transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	76.08% { transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	81.63% { transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	92.74% { transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	99% { opacity: 1; }
	100% { opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/*-- WARP */
$numberOfRings: 30; // sync with HTML
$numberOfStripes: 24; // sync with HTML
$animationDuration: 8s;

.portal-up {
	animation: warp-transition 2500ms ease-out forwards;
}

.portal-exit {
	animation: portal-flip 900ms ease-out forwards;
}

.portal-transition {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: $charcoal;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.warp {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	transform-origin: center center;
	transform: scale(1.5);
	.ring {
		position: absolute;
		width: 200px;
		height: 200px;
		.stripe {
			@include flex;
			@include flex-center;
			border-radius: 1000px;
			position: absolute;
			height: 2px;
			width: 20px;
			left: 90px;
			top: 99px;
			background: #fff;
		}
	}
	@for $i from 1 through $numberOfRings {
		$nullbase1: $i - 1;
		$timeOffset: $nullbase1 * ($animationDuration / $numberOfRings) * -1;
		.ring-#{$i} {
			animation: ring $animationDuration cubic-bezier(.98,.02,.97,.12) $timeOffset infinite;
			@for $j from 1 through $numberOfStripes {
				$nullBase2: $j - 1;
				$degree: ((360 / $numberOfStripes) * $nullBase2) - (random() * 10);
				$offset: 100 - (random() * 40);
				.stripe-#{$j} {
					transform: rotate(($degree)+deg) translate3d(($offset)+px, 0, 0) scaleX(($offset / 100));
				}
			}
		}
	}
}

@keyframes ring {
	0% {
		transform: scale(0);
		opacity: 0.1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: scale(4);
		opacity: 1;
	}
}

@keyframes warp-transition {
	0% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 19.5%, 25px) rotateX(75deg);
		opacity: 0;
		animation-timing-function: ease-out;
	}
	36%, 80% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	80% {
		animation-timing-function: ease-out;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes warp-flip {
	0% { transform: translate3d(0, 19.5%, 25px) rotateX(75deg); opacity: 0; }
	100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes warp-expand {
	0% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes portal-flip {
	0% { transform: translate3d(0, 37%, 25px) rotateX(75deg); }
	100% { transform: translate3d(0, -75px, 0); }
}

@keyframes tunnel-expand {
	0% {
		-webkit-clip-path: circle(0px at 50% 50%);
		clip-path: circle(0px at 50% 50%);
		opacity: 1;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		opacity: 1;
	}
}

/*-- OTHER */
.hide { display: none; }
.show { display: block; }

//start codrops CSS
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.pageload-overlay.show {
    visibility: visible;
}
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.pageload-overlay svg path {
    fill: #2B3234 !important;
}
.pageload-overlay::after,
.pageload-overlay::before {
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: opacity .15s, visibility 0s .15s;
    transition: opacity .15s, visibility 0s .15s;
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.loader-portal {
    z-index:100000;
}


/* Generated with Bounce.js. Edit at http://goo.gl/t3hX8Z */
@keyframes demo-animation {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); }
  3.4% { transform: matrix3d(0.456, -1.238, 0, 0, 1.249, 0.668, 0, 0, 0, 0, 1, 0, 77.045, 0, 0, 1); }
  4.3% { transform: matrix3d(1.431, 0.275, 0, 0, 0, 1.515, 0, 0, 0, 0, 1, 0, 68.411, 0, 0, 1); }
  4.7% { transform: matrix3d(1.286, 1.04, 0, 0, -0.727, 1.215, 0, 0, 0, 0, 1, 0, 64.313, 0, 0, 1); }
  6.81% { transform: matrix3d(-1.662, -0.012, 0, 0, -0.434, -1.893, 0, 0, 0, 0, 1, 0, 41.397, 0, 0, 1); }
  8.61% { transform: matrix3d(-0.494, -2.095, 0, 0, 1.844, 0.094, 0, 0, 0, 0, 1, 0, 22.096, 0, 0, 1); }
  9.41% { transform: matrix3d(0.58, -1.766, 0, 0, 1.899, 1.258, 0, 0, 0, 0, 1, 0, 14.265, 0, 0, 1); }
  10.21% { transform: matrix3d(1.438, -0.989, 0, 0, 1.47, 1.995, 0, 0, 0, 0, 1, 0, 7.111, 0, 0, 1); }
  12.91% { transform: matrix3d(2.151, 1.422, 0, 0, -0.641, 1.844, 0, 0, 0, 0, 1, 0, -10.949, 0, 0, 1); }
  13.61% { transform: matrix3d(2.045, 1.72, 0, 0, -1.006, 1.575, 0, 0, 0, 0, 1, 0, -14.012, 0, 0, 1); }
  14.11% { transform: matrix3d(1.958, 1.865, 0, 0, -1.208, 1.398, 0, 0, 0, 0, 1, 0, -15.805, 0, 0, 1); }
  17.22% { transform: matrix3d(1.67, 2.076, 0, 0, -1.69, 0.872, 0, 0, 0, 0, 1, 0, -20.584, 0, 0, 1); }
  17.52% { transform: matrix3d(1.676, 2.063, 0, 0, -1.689, 0.872, 0, 0, 0, 0, 1, 0, -20.57, 0, 0, 1); }
  18.72% { transform: matrix3d(1.742, 1.979, 0, 0, -1.625, 0.931, 0, 0, 0, 0, 1, 0, -19.909, 0, 0, 1); }
  21.32% { transform: matrix3d(2.007, 1.657, 0, 0, -1.241, 1.239, 0, 0, 0, 0, 1, 0, -16.23, 0, 0, 1); }
  24.32% { transform: matrix3d(2.229, 1.141, 0, 0, -0.58, 1.594, 0, 0, 0, 0, 1, 0, -10.627, 0, 0, 1); }
  25.23% { transform: matrix3d(2.252, 0.98, 0, 0, -0.378, 1.671, 0, 0, 0, 0, 1, 0, -9.005, 0, 0, 1); }
  28.33% { transform: matrix3d(2.204, 0.486, 0, 0, 0.215, 1.835, 0, 0, 0, 0, 1, 0, -4.281, 0, 0, 1); }
  29.03% { transform: matrix3d(2.177, 0.394, 0, 0, 0.319, 1.855, 0, 0, 0, 0, 1, 0, -3.436, 0, 0, 1); }
  29.93% { transform: matrix3d(2.138, 0.287, 0, 0, 0.437, 1.877, 0, 0, 0, 0, 1, 0, -2.474, 0, 0, 1); }
  35.54% { transform: matrix3d(1.94, -0.1, 0, 0, 0.817, 1.96, 0, 0, 0, 0, 1, 0, 0.8, 0, 0, 1); }
  36.74% { transform: matrix3d(1.92, -0.131, 0, 0, 0.843, 1.975, 0, 0, 0, 0, 1, 0, 1.04, 0, 0, 1); }
  39.44% { transform: matrix3d(1.901, -0.157, 0, 0, 0.861, 2.004, 0, 0, 0, 0, 1, 0, 1.223, 0, 0, 1); }
  41.04% { transform: matrix3d(1.902, -0.152, 0, 0, 0.854, 2.017, 0, 0, 0, 0, 1, 0, 1.173, 0, 0, 1); }
  44.44% { transform: matrix3d(1.923, -0.114, 0, 0, 0.821, 2.029, 0, 0, 0, 0, 1, 0, 0.876, 0, 0, 1); }
  52.15% { transform: matrix3d(1.984, -0.02, 0, 0, 0.744, 2.006, 0, 0, 0, 0, 1, 0, 0.161, 0, 0, 1); }
  59.86% { transform: matrix3d(2.01, 0.01, 0, 0, 0.721, 1.99, 0, 0, 0, 0, 1, 0, -0.078, 0, 0, 1); }
  61.66% { transform: matrix3d(2.011, 0.01, 0, 0, 0.72, 1.991, 0, 0, 0, 0, 1, 0, -0.083, 0, 0, 1); }
  63.26% { transform: matrix3d(2.011, 0.01, 0, 0, 0.721, 1.992, 0, 0, 0, 0, 1, 0, -0.08, 0, 0, 1); }
  75.28% { transform: matrix3d(2.001, 0.001, 0, 0, 0.727, 2.003, 0, 0, 0, 0, 1, 0, -0.007, 0, 0, 1); }
  83.98% { transform: matrix3d(1.998, -0.001, 0, 0, 0.728, 2, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1); }
  85.49% { transform: matrix3d(1.998, -0.001, 0, 0, 0.728, 2, 0, 0, 0, 0, 1, 0, 0.005, 0, 0, 1); }
  90.69% { transform: matrix3d(1.999, 0, 0, 0, 0.728, 1.999, 0, 0, 0, 0, 1, 0, 0.003, 0, 0, 1); }
  100% { transform: matrix3d(2, 0, 0, 0, 0.728, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
