@import '../../../shared/css/scss/partials/mixin';
@import 'partials/loader/academic';
@import 'partials/loader/baking';
@import 'partials/loader/photo';
@import 'partials/loader/tech';
@import 'partials/loader/household';

/*-- SHARED */
.loader-portal-outer, .loader-portal-container, .states.loader-portal, .portal-transition, .portal-transition-container, .portal-end, .portal-page, .warp-items {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader-portal-outer, .loader-portal-container, .portal-end, .warp-items, .warp-letters {
	-webkit-perspective: 1000;
	perspective: 1000;
}

.loader-portal-container, .loader-portal, .loader-portal-inside, .portal-transition, .warp, .warp-letters {
	@include flex;
	@include flex-center;
}

/*-- CONTAINER */
.loader-portal-outer {
	z-index: 999;
}
.loader-portal-container {
	// transition: all 300ms ease-in-out;
	overflow: hidden;
	background: $slate;
	transform-style: preserve-3d;
	.loader-portal {
		// border: 1px dashed rgba(white, .1);
		// transform: rotateX(80deg) rotateY(-10deg);
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 400px;
		max-width: 450px;
		z-index: 1;
		transform-style: preserve-3d;
		transform-origin: center center;
		overflow: hidden;
		* {
			transform-style: preserve-3d;
			transform-origin: center center;
		}
		.portal {
			position: absolute;
			bottom: 0;
			left: calc(50% - 100px);
			width: 200px;
			height: 200px;
			transform: translate3d(0,37%,25px) rotateX(75deg);
			> div:not(.mask) {
				width: 100%;
				height: 100%;
				svg {
					circle {
						cursor: pointer;
						// stroke-dasharray: 1207;
					}
				}
			}
		}
		.logo {
			cursor: pointer;
			position: absolute;
			top: 90px;
			left: calc(50% - 65px);
			width: 130px;
			height: 37px;
		}
		.guru {
			position: absolute;
		}
	}
}

/*-- PORTAL */
.states.loader-portal {
    background: $slate;
    overflow: hidden;
    transform-style: preserve-3d;
    .loader-portal-inside {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 250px;
        transform-style: preserve-3d;
        transform-origin: center center;
        overflow: hidden;
    }
    * {
        transform-style: preserve-3d;
        transform-origin: center center;
    }
    .portal {
        position: absolute;
        bottom: 0;
        left: 25px;
        width: 200px;
        height: 200px;
        > div:not(.mask) {
            width: 100%;
            height: 100%;
            // svg {
            //     circle {
            //         stroke-dasharray: 1207;
            //         stroke-dashoffset: 1207;
            //     }
            // }
        }
    }
    .logo {
        position: absolute;
        top: 40px;
        left: 60px;
        width: 130px;
        height: 37px;
    }
    .guru {
        position: absolute;
        top: 50px;
        left: 60px;
        width: 130px;
        transform: translate3d(0, 50px, 0);
        > div {
            width: 100%;
            height: 100%;
        }
    }
}

/*-- WARP */
.portal-transition {
	z-index: 2;
	background: $charcoal;
	overflow: hidden;
}
.portal-end {
	z-index: 10;
	background: $slate;
}
.portal-page {
	z-index: 1000;
	.portal-page-round {
		width: 100%;
		height: 100%;
		.portal-page-splash {
			width: 100%;
			height: 100%;
			> div {
				@include flex;
				@include flex-center;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.warp {
	-webkit-perspective: 5px;
	perspective: 5px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	position: relative;
	.wrap {
		position: absolute;
		width: 1000px;
		height: 1000px;
		left: -500px;
		top: -500px;
		transform-style: preserve-3d;
		.wall {
			// background: url(http://apod.nasa.gov/apod/image/0512/perseusCluster_crawford_f.jpg);
			background-size: cover;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.wall-right {
			transform: rotateY(90deg) translateZ(500px);
		}

		.wall-left {
			transform: rotateY(-90deg) translateZ(500px);
		}

		.wall-top {
			transform: rotateX(90deg) translateZ(500px);
		}

		.wall-bottom {
			transform: rotateX(-90deg) translateZ(500px);
		}

		.wall-back {
			transform: rotateX(180deg) translateZ(500px);
		}
	}
}
.warp-items {
	> div:not(.warp-letters) {
		width: 100%;
		height: 100%;
	}
}
.warp-object {
	display: none;
	position: absolute;
	z-index: 3;
}
.warp-person {
	width: 100px;
	height: 100px;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}
.warp-vehicle {
	position: absolute;
	transform-origin: center center;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 400px;
	height: 400px;
	z-index: 4;
}
.warp-letters {
	transform-origin: center center;
	transform: scale(0.5);
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 1920px;
	height: 1080px;
	margin-top: -540px;
	margin-left: -960px;
	font-weight: 900;
	> div {
		&:nth-child(1) {
			font-size: 60px;
		}
		&:nth-child(2) {
			font-size: 140px;
		}
		span {
			@include flex;
			@include flex-center;
			position: absolute;
			top: calc(50% - 36px);
			left: calc(50% - 36px);
			width: 72px;
			height: 72px;
			transform-origin: center center;
		}
	}
}

@media screen and (min-width: 768px) {
	.warp-object {
		display: block!important;
	}
	.warp-letters {
		transform: none!important;
	}
}

/*-- ANIMATIONS */
// portal animations
@keyframes travel-shake {
	0% { transform: rotateZ(0deg) }
	5% { transform: rotateZ(3deg) }
	10% { transform: rotateZ(-3deg) }
	15% { transform: rotateZ(3deg) }
	20% { transform: rotateZ(-3deg) }
	25% { transform: rotateZ(3deg) }
	30% { transform: rotateZ(-3deg) }
	35%,100% { transform: rotateZ(0deg) }
}

@keyframes portal-scaleUp {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 0; }
	100% { transform: scale(50); opacity: 0; }
}

@keyframes portal-fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes portal-progress {
	0% { stroke: $shamrock; stroke-dashoffset: 1207; }
	10% { stroke: $robin; }
	20% { stroke: $azure; }
	30% { stroke: $lake; }
	40% { stroke: $cobalt; }
	50% { stroke: $eggplant; }
	60% { stroke: $cerise; }
	70% { stroke: $crimson; }
	80% { stroke: $auburn; }
	90% { stroke: $orange; }
	100% { stroke: $gold; stroke-dashoffset: 0; }
}

@keyframes portal-progress-color {
	0% { stroke: $shamrock; }
	10% { stroke: $robin; }
	20% { stroke: $azure; }
	30% { stroke: $lake; }
	40% { stroke: $cobalt; }
	50% { stroke: $eggplant; }
	60% { stroke: $cerise; }
	70% { stroke: $crimson; }
	80% { stroke: $auburn; }
	90% { stroke: $orange; }
	100% { stroke: $gold; }
}

@keyframes l-head-hover {
	0% { transform: translateY(0px); }
	52.15% { transform: translateY(3.5px); }
	63.26% { transform: translateY(-3px); }
	85.49% { transform: translateY(3.5px); }
	100% { transform: translateY(0px); }
}

/* http://goo.gl/qhW7IK */
@keyframes l-move-up {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1); opacity: 1; }
	4.5% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 180.157, 0, 1); }
	9.01% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.008, 0, 1); }
	13.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30.597, 0, 1); }
	17.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -48.726, 0, 1); }
	29.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.3, 0, 1); }
	34.63% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.076, 0, 1); }
	40.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.399, 0, 1); }
	62.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.598, 0, 1); }
	84.68% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.066, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}

@keyframes l-move-down {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	49.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.35% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 179.877, 0, 1); }
	54.7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 353.384, 0, 1); }
	57.06% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 456.363, 0, 1); }
	59.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 484.844, 0, 1); }
	62.16% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 460.219, 0, 1); }
	64.96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 419.036, 0, 1); }
	67.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 391.771, 0, 1); }
	70.52% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 384.329, 0, 1); }
	76.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 396.484, 0, 1); }
	81.63% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 402.895, 0, 1); }
	92.74% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 399.465, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 400, 0, 1); opacity: 1; }
}

/* http://goo.gl/D2fiVA */
@keyframes l-portal {
	0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.3% { transform: matrix3d(0.471, 0, 0, 0, 0, 0.417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.41% { transform: matrix3d(0.756, 0, 0, 0, 0, 0.675, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.61% { transform: matrix3d(1.001, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.61% { transform: matrix3d(1.082, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.81% { transform: matrix3d(1.211, 0, 0, 0, 0, 1.145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.91% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.148, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.22% { transform: matrix3d(1.166, 0, 0, 0, 0, 1.156, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.52% { transform: matrix3d(1.082, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.13% { transform: matrix3d(0.983, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(0.982, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.44% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.54% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	58.96% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	74.37% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	89.79% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes l-portal-shrink {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
	49.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.35% { transform: matrix3d(0.55, 0, 0, 0, 0, 0.55, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	54.7% { transform: matrix3d(0.117, 0, 0, 0, 0, 0.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	57.06% { transform: matrix3d(-0.141, 0, 0, 0, 0, -0.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.36% { transform: matrix3d(-0.212, 0, 0, 0, 0, -0.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	62.16% { transform: matrix3d(-0.151, 0, 0, 0, 0, -0.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	64.96% { transform: matrix3d(-0.048, 0, 0, 0, 0, -0.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	67.77% { transform: matrix3d(0.021, 0, 0, 0, 0, 0.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.52% { transform: matrix3d(0.039, 0, 0, 0, 0, 0.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	76.08% { transform: matrix3d(0.009, 0, 0, 0, 0, 0.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	81.63% { transform: matrix3d(-0.007, 0, 0, 0, 0, -0.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	92.74% { transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	99% { opacity: 1; }
	100% { opacity: 0; transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

// warp animations
@keyframes ring {
	0% {
		transform: scale(0);
		opacity: 0.1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: scale(4);
		opacity: 1;
	}
}

@keyframes warp-transition {
	0% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 19.5%, 25px) rotateX(75deg);
		opacity: 0;
		animation-timing-function: ease-out;
	}
	36%, 80% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	80% {
		animation-timing-function: ease-out;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes warp-flip {
	0% { transform: translate3d(0, 19.5%, 25px) rotateX(75deg); opacity: 0; }
	100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes warp-expand {
	0% {
		-webkit-clip-path: circle(95px at 50% 50%);
		clip-path: circle(95px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes portal-flip {
	0% { transform: translate3d(0, 37%, 25px) rotateX(75deg); }
	100% { transform: translate3d(0, -75px, 0); }
}

@keyframes tunnel-expand {
	0% {
		-webkit-clip-path: circle(0px at 50% 50%);
		clip-path: circle(0px at 50% 50%);
		opacity: 1;
	}
	99.99% {
		-webkit-clip-path: circle(1000px at 50% 50%);
		clip-path: circle(1000px at 50% 50%);
		opacity: 1;
	}
	100% {
		-webkit-clip-path: none;
		clip-path: none;
		opacity: 1;
	}
}

/*-- OTHER */
.hide { display: none; }
.show { display: block; }

// start codrops CSS
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.pageload-overlay.show {
    visibility: visible;
}
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.pageload-overlay svg path {
    fill: #2B3234 !important;
}
.pageload-overlay::after,
.pageload-overlay::before {
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    // -webkit-transition: opacity .15s, visibility 0s .15s;
    // transition: opacity .15s, visibility 0s .15s;
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
    opacity: 1;
    visibility: visible;
    // -webkit-transition: opacity .3s;
    // transition: opacity .3s;
}

.loader-portal-outer {
	z-index: 999;
    // z-index: 100000;
}

/*-- DEPRECATED */
// .loader-bob {
// 	animation: l-head-hover 1000ms linear infinite forwards;
// }
// .pop-up {
// 	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 21);
// 	animation: l-move-up 1500ms linear forwards;
// }
// .pop-down {
// 	animation: l-move-down 1000ms linear forwards;
// }
// .portal-fadeIn {
// 	animation: fadeIn 50ms linear both;
// }
// .portal-open {
// 	transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
// 	animation: l-portal 1000ms linear forwards;
// }
// .portal-progress {
// 	animation: portal-progress 3000ms linear both;
// }
// .portal-logo-move-up {
// 	animation: l-move-up 1000ms linear forwards;
// }
// .portal-logo-move-down {
// 	animation: l-move-down 1000ms linear forwards;
// }
//
// .portal-up {
// 	animation: warp-transition 2500ms ease-out forwards;
// }
//
// .portal-exit {
// 	animation: portal-flip 900ms ease-out forwards;
// }

/*-- OTHER LOADER STUFF */
.loader-portal-outside {
	z-index: 1;
}
.default.loader-portal {
    @include flex;
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $slate;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
	// animation: portal-fadeOut 1000ms ease 7400ms forwards;
    .loader-portal-inside {
        @include flex;
        @include flex-center;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 250px;
        transform-style: preserve-3d;
        transform-origin: center center;
        overflow: hidden;
        // opacity: 0;
        // animation: fadeIn 50ms linear 50ms forwards, portal-scaleUp 1000ms ease 6400ms forwards;
		// fadeOut 500ms ease-out 6400ms forwards
    }
    * {
        transform-style: preserve-3d;
        transform-origin: center center;
    }
    .portal {
        position: absolute;
        bottom: 0;
        left: 25px;
        width: 200px;
        height: 200px;
        transform: translate3d(0, 37%, 25px) rotateX(75deg);
		// animation: portal-flip 900ms ease-out 5500ms forwards;
        > div:not(.mask) {
            width: 100%;
            height: 100%;
            // transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            // animation: l-portal 1000ms linear 500ms forwards;
            svg {
                circle {
                    stroke-dasharray: 1207;
                    stroke-dashoffset: 1207;
                    // animation: portal-progress 3000ms linear 2000ms forwards;
                }
            }
        }
    }
    .logo {
        position: absolute;
        top: 40px;
        left: 60px;
        width: 130px;
        height: 37px;
        // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1);
        // animation: l-move-up 1000ms linear 1000ms forwards, l-move-down 1000ms linear 4500ms forwards;
    }
    .guru {
        position: absolute;
        top: 50px;
        left: 60px;
        width: 130px;
        transform: translate3d(0, 50px, 0);
        > div {
            width: 100%;
            height: 100%;
            // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 350, 0, 1);
            // animation: l-move-up 1000ms linear 1500ms forwards, l-head-hover 1000ms linear 2500ms 5 forwards, l-move-down 1000ms linear 4500ms forwards;
        }
    }
}
