.guru-bg-img {
  max-width: 33%;
  height:33%;
  margin: 0 auto 0 auto;
}

.verb-modal .icon-wrapper {
    width:100%;
}

.pure-img {
    height:100%;
}

#home-page .button-img {
    background-color:transparent;
}

.left-icon-menu-bar .flex-item-c {
    flex-grow:0;
}

select::-ms-expand {
    display: none;
}

.platform-windowsphone .menu-content{
    margin-bottom:-20px;
}

.max-hourly-container, .late-night-container {
    width:80% !important;
    margin-left:10% !important;
    overflow: hidden !important;
}

.max-hourly-container select, .late-night-container select {
    width:150% !important;
    left:-40px !important;
    text-align: center !important;
}

.windows-top-margin {
    margin-top:88px !important;
    top:0px !important;
}

.item.item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    left:auto !important;
    right: 8px;
    z-index: 3;
    margin-top: -25px;
}

.windows-top-margin .scroll {
    transform:none !important;
    height:100% !important;
}