<view link-data="ui/static/data/docs2.json" link-data-name="docs" render-after-ext-scripts  row  class="docs" type='row' bg="stone" width="100" height="100">

    <!-- Ex#1: try removing keep-name here and see what happens -->
    <!-- <side-bar custom data="docs.data.content" width="25" height="100"></side-bar> -->

    <main class="docs-main overflow-y no-scrollbar" width="75" height="100">
        <header>
            <omnibar custom> </omnibar>
            <ul class="docs-actions">

				<!-- @samir -->
                <action-link list="docs.data.vars.components.actionLinks">
					<!-- Update #1, [11/17]: error with icons fixed, should work as expected so nothing to worry about! -->
				</action-link>

            </ul>
        </header>

        <section class="docs-results">
            <search-result custom data='docs.data.content.css.subcategories[0].topics[2]'> </search-result>
        </section>
		<section class="docs-articles">

            <!-- [Update #2, [11/17]: Before is what you had yesterday early evening & is commented as BEFORE. AFTER is the simpler, more general, + also functioning w/o the repeat -->

            <!--
                AFTER
            -->
			<!-- @samir article-topic, article-example, example-html.tpl -->
            <article-topic list='docs.data.content.css.subcategories[0].topics'>
            </article-topic>

            <!-- BEFORE
            <article-topic custom ng-repeat='topic in docs.data.content.css.subcategories[0].topics track by $index'> </article-topic>
            -->
		</section>
    </main>
</view>
