<view layer="2" type='row' bg="#fadab0" link-src-data="ui/static/data/docs.json" link-data-name="docs" class='full-xy'>
    <item width="100" height="100" class="overflow-auto">
		<div bg="sienna" width="100" class="txt-center p05xy txt-16 semibold">v{{docs.version}}</div>
	    <div>
	        <ul class='full-x p15-grid flex-wrap-center'>
	            <li ng-repeat='(field, data) in docs'><div class="bg-stone p10y-p15x radius-2 txt-20 semibold">{{field}}</div></li>
	        </ul>
	        <div bg="stone" width='100'>
				<ul class="p15-grid">
                    <li class='flex-center-vertical' ng-repeat='(component_name, data) in docs.components'>
                        <div width='20' class="txt-20 semibold">{{component_name}}</div>
                        <div width='80' class="txt-16 semibold">{{data}}</div>
                    </li>
				</ul>
				<div class="p15x">
					<hr class="margin-none border-0 round" width="100%" height="2px" bg="white-50p"/>
				</div>
	            <div ng-repeat='(attr_name, attr_data) in docs.attr' bg="stone">
	                <ul class="p15-grid">
	                    <li class='full-x flex-vertical-center-wrap'>
	                        <div width='30'>
	                            <div width='100' class='txt-36'>
	                                {{attr_name}}
	                            </div>
	                            <div width='100'>
	                                <small class='opacity-50p'>{{attr_data.info}}</small>
	                            </div>
	                            <div width='100'>
	                                <span class='border-1 border-solid p20x p05y txt-1' ng-repeat='tag in attr_data.tags'>          {{tag}}
	                                </span>
	                            </div>
	                        </div>
	                        <div width='70'>
	                            <div width='100' class='flex-vertical-center'>
	                                <div class='border-1 border-solid p20x p05y txt-1' ng-repeat='(example_name, html) in attr_data.examples'>          {{$index + 1}}, {{example_name}}
	                                    <div m-x="20px" ng-bind-html="html"> </div>
	                                    <span ng-bind="html"> </span>
	                                </div>
	                            </div>
	                        </div>
							<hr class="margin-none border-0 round" width="100%" height="2px" bg="white-50p"/>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</item>
</view>
