<view class="docs" type='row' bg="stone" width="100" height="100">
	<aside class="docs-nav overflow-y no-scrollbar" width="25" height="100">
		<nav>
			<ul class="docs-nav-list">
				<li>
					<h1><a u on-click="c:[selected:add]">Attributes</a></h1>
				</li>
				<li>
					<h1><a u on-click="c:[selected:add]">Directives</a></h1>
					<ul>
						<li>
							<h2><a u on-click="c:[selected:add]">Send</a></h2>
							<ul>
								<li>
									<h3><a u on-click="c:[selected:add]">Structure</a></h3>
								</li>
								<li>
									<h3><a u on-click="c:[selected:add]">:public</a></h3>
								</li>
								<li>
									<h3><a u on-click="c:[selected:add]">:self</a></h3>
								</li>
								<li>
									<h3><a u on-click="c:[selected:add]">:children</a></h3>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<h1><a u on-click="c:[selected:add]">CSS</a></h1>
				</li>
				<li>
					<h1><a u on-click="c:[selected:add]">HTML</a></h1>
				</li>
				<li>
					<h1><a u on-click="c:[selected:add]">Bug List</a></h1>
				</li>
				<li>
					<h1><a u on-click="c:[selected:add]">Style Guide</a></h1>
				</li>
			</ul>
		</nav>
	</aside>
	<main class="docs-main overflow-y no-scrollbar" width="75" height="100">
		<header>
			<fieldset class="docs-omnibar">
				<div>
					<nav class="docs-omnibar-actions">
						<a>
							<graphic url='shared/templates/components/svg/main/search-circle.html'></graphic>
						</a>
					</nav>
					<!-- <span>Bug:</span> -->
					<input placeholder="Get Started"/>
				</div>
			</fieldset>
			<ul class="docs-actions">
				<li>
					<a class="docs-action-link" u on-click="c:[selected:add]">
						<graphic url='shared/templates/components/svg/main/search-circle.html'></graphic>
						<h2>Search</h2>
						<div>
							<kbd>Ctrl</kbd>
							<span>&nbsp;+&nbsp;</span>
							<kbd>S</kbd>
						</div>
					</a>
				</li>
				<li>
					<a class="docs-action-link" u on-click="c:[selected:add]">
						<graphic url='shared/templates/components/svg/docs/bug.html'></graphic>
						<h2>Report Bug</h2>
						<div>
							<kbd>Ctrl</kbd>
							<span>&nbsp;+&nbsp;</span>
							<kbd>B</kbd>
						</div>
					</a>
				</li>
				<li>
					<a class="docs-action-link" u on-click="c:[selected:add]">
						<graphic url='shared/templates/components/svg/docs/add-doc.html'></graphic>
						<h2>Search</h2>
						<div>
							<kbd>Ctrl</kbd>
							<span>&nbsp;+&nbsp;</span>
							<kbd>D</kbd>
						</div>
					</a>
				</li>
				<li>
					<a class="docs-action-link" u on-click="c:[selected:add]">
						<graphic url='shared/templates/components/svg/docs/add-ft.html'></graphic>
						<h2>Add Feature</h2>
						<div>
							<kbd>Ctrl</kbd>
							<span>&nbsp;+&nbsp;</span>
							<kbd>F</kbd>
						</div>
					</a>
				</li>
			</ul>
		</header>
		<section class="docs-form">
			<form>
				<div class="docs-form-grid">
					<ul>
						<li>
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">Title</label>
								<div>
									<input type="text" value="Lorem Ipsum"/>
								</div>
							</fieldset>
						</li>
						<li>
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">Description</label>
								<div>
									<textarea placeholder="Describe your problem"/>
								</div>
							</fieldset>
						</li>
						<li>
							<div class="docs-form-section">
								<div class="dropdown auto">
									<div u on-init="s:[dropdown-draw:children:linear-1500, dropdown-load-end:children:1500]">
										<span class="txt-20"
											u init-with="p-op"
											when-dropdown-draw="a:[opacity:0:1:500:easeOutSine:0:1:f]">Gabrielle Wee</span>
										<a init-with="p-op"
											u when-dropdown-draw="a:[opacity:0:1:500:easeOutSine:0:1:f]"
											on-click="s:[dropdown-open:public]">
											<svg viewBox="0 0 100 50">
												<path d="M14,32 L50,68 L86,32"
													u init-with="p:[op:0, tr:none, sdo:102, sda:102]"
													on-init="a:[opacity:0:1:150:linear:0:1:f] | s:[draw-arrow:depth(0):1000]"
													when-draw-arrow="a:[stroke-dashoffset:102:0:450:easeInQuint:0:1:f]"
													when-dropdown-open="a:[rotate:0deg:180deg:150:easeOutBack:0:1:f]"
													when-dropdown-close="a:[rotate:180deg:0deg:150:easeOutBack:0:1:f]"></path>
													<!-- When state bug -->
											</svg>
										</a>
									</div>
									<ul class="perspective-container"
										u init-with="p:[z-index:-1]"
										when-dropdown-open="p:[z-index:99]"
										when-dropdown-close="p:[z-index:-1]">
										<li tabindex
											u init-with="p:[op:0, tr:rotateX(90deg) translateZ(0px)]"
											when-dropdown-open="a:[opacity:0:1:250:easeInOutSine:0:1:f, rotateX:90deg:0deg:250:easeInOutCubic:0:1:f, translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-150"
											when-dropdown-close="a:[opacity:1:0:250:easeInOutSine:250:1:f, rotateX:0deg:90deg:250:easeInOutCubic:0:1:f,translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-450"
											on-click="s:[dropdown-close:public]">
											<span>Jeselle Obina</span>
										</li>
										<li tabindex
											u init-with="p:[op:0, tr:rotateX(-90deg) translateZ(0)]"
											when-dropdown-open="a:[opacity:0:1:250:easeInOutSine:0:1:f, rotateX:-90deg:0deg:250:easeInOutCubic:0:1:f, translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-300"
											when-dropdown-close="a:[opacity:1:0:250:easeInOutSine:250:1:f, rotateX:0deg:90deg:250:easeInOutCubic:0:1:f, translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-300"
											on-click="s:[dropdown-close:public]">
											<span>Samir Makhani</span>
										</li>
										<li tabindex
											u init-with="p:[op:0, tr:rotateX(90deg) translateZ(0)]"
											when-dropdown-open="a:[opacity:0:1:250:easeInOutSine:0:1:f, rotateX:90deg:0deg:250:easeInOutCubic:0:1:f, translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-450"
											when-dropdown-close="a:[opacity:1:0:250:easeInOutSine:0:1:f, rotateX:0deg:90deg:250:easeInOutCubic:250:1:f,translateZ:0px:0px:250:easeInOutCubic:0:1:f]:delay-150"
											on-click="s:[dropdown-close:public]">
											<span>Gabrielle Wee</span>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">Severity</label>
								<div class="docs-form-severity">
									<div>
										<hr/>
										<ul>
											<li>
												<input type="radio"
													u on-click="s:[sev-1:public]"/>
												<div>
													<div class="docs-radio">
														<div>
															<div u init-with="p:[tr:scale(0)]"
																when-sev-2="p:[tr:scale(0)]"
																when-sev-3="p:[tr:scale(0)]"
																when-sev-4="p:[tr:scale(0)]"
																when-sev-5="p:[tr:scale(0)]"
																when-sev-1="p:[tr:scale(1)]">
															</div>
															<span>1</span>
														</div>
													</div>
												</div>
											</li>
											<li>
												<input type="radio"
													u on-click="s:[sev-2:public]"/>
												<div>
													<div class="docs-radio">
														<div>
															<div u init-with="p:[tr:scale(0)]"
																when-sev-1="p:[tr:scale(0)]"
																when-sev-3="p:[tr:scale(0)]"
																when-sev-4="p:[tr:scale(0)]"
																when-sev-5="p:[tr:scale(0)]"
																when-sev-2="p:[tr:scale(1)]">
															</div>
															<span>2</span>
														</div>
													</div>
												</div>
											</li>
											<li>
												<input type="radio"
													u on-click="s:[sev-3:public]"/>
												<div>
													<div class="docs-radio">
														<div>
															<div u init-with="p:[tr:scale(0)]"
																when-sev-1="p:[tr:scale(0)]"
																when-sev-2="p:[tr:scale(0)]"
																when-sev-4="p:[tr:scale(0)]"
																when-sev-5="p:[tr:scale(0)]"
																when-sev-3="p:[tr:scale(1)]">
															</div>
															<span>3</span>
														</div>
													</div>
												</div>
											</li>
											<li>
												<input type="radio"
													u on-click="s:[sev-4:public]"/>
												<div>
													<div class="docs-radio">
														<div>
															<div u init-with="p:[tr:scale(0)]"
																when-sev-1="p:[tr:scale(0)]"
																when-sev-2="p:[tr:scale(0)]"
																when-sev-3="p:[tr:scale(0)]"
																when-sev-5="p:[tr:scale(0)]"
																when-sev-4="p:[tr:scale(1)]">
															</div>
															<span>4</span>
														</div>
													</div>
												</div>
											</li>
											<li>
												<input type="radio"
													u on-click="s:[sev-5:public]"/>
												<div>
													<div class="docs-radio">
														<div>
															<div u init-with="p:[tr:scale(0)]"
																when-sev-1="p:[tr:scale(0)]"
																when-sev-2="p:[tr:scale(0)]"
																when-sev-3="p:[tr:scale(0)]"
																when-sev-4="p:[tr:scale(0)]"
																when-sev-5="p:[tr:scale(1)]">
															</div>
															<span>5</span>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</fieldset>
						</li>
					</ul>
					<ul>
						<li class="double">
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">File</label>
								<div>
									<input type="text" value="lorem.html"/>
								</div>
							</fieldset>
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">Line</label>
								<div>
									<input type="text" placeholder="01"/>
								</div>
							</fieldset>
						</li>
						<li>
							<fieldset class="docs-form-section">
								<label class="docs-form-section-title">Snippet</label>
								<div>
									<textarea placeholder="Describe your problem"/>
								</div>
							</fieldset>
						</li>
						<li>
							<div class="docs-form-section">
								<header class="docs-form-section-title">Tags</header>
								<div class="docs-form-tags">
									<ul>
										<li><a class="chip bg bg-robin">tag</a></li>
										<li><a class="chip bg bg-robin">tag</a></li>
										<li><a class="chip bg bg-robin">tag</a></li>
										<li><input class="chip bg bg-robin" placeholder="add tag"/></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
		</section>
		<section class="docs-results">
			<ul>
				<li>
					<div class="docs-result">
						<a></a>
						<div>
							<h1>flex-direction</h1>
							<div>
								<hr class="docs-article-gradient"/>
								<article class="docs-article">
									<div class="docs-article-main">
										<p>Lorem ipsum <b class="highlight">dolor sit amet</b>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <b class="highlight">consequat</b>.</p>
										<!-- <ol>
											<li>Lorem ipsum dolor sit amet</li>
											<li>Lorem ipsum dolor sit amet</li>
											<li>Lorem ipsum dolor sit amet</li>
										</ol>
										<p>Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
										<ul>
											<li>Lorem ipsum dolor sit amet</li>
											<li>Lorem ipsum dolor sit amet</li>
											<li>Lorem ipsum dolor sit amet</li>
										</ul> -->
									</div>
									<aside class="docs-options">
										<ul>
											<li>
												<h3>Options:</h3>
											</li>
											<li>
												<a class="chip bg bg-robin"
													u on-click="s:[flex-dir-r:public]">row</a>
											</li>
											<li>
												<a class="chip bg bg-robin"
													u on-click="s:[flex-dir-rr:public]">row-reverse</a>
											</li>
											<li>
												<a class="chip bg bg-sienna"
													u on-click="s:[flex-dir-c:public]">column</a>
											</li>
											<li>
												<a class="chip bg bg-robin"
													u on-click="s:[flex-dir-cr:public]"><b class="highlight">column-reverse</b></a>
											</li>
										</ul>
									</aside>
									<div class="docs-example">
										<div>
											<nav>
												<ul>
													<li>
														<a class="selected" u on-click="c:[selected:add] | s:[docs-preview:public]">Example</a>
													</li>
													<li>
														<a u on-click="c:[selected:add] | s:[docs-html:public]">HTML</a>
													</li>
													<li>
														<a u on-click="c:[selected:add] | s:[docs-css:public]">CSS</a>
													</li>
												</ul>
												<a class="docs-example-run">Run</a>
											</nav>
											<section>
												<div class="docs-example-preview"
													u init-with="p:[z-index:-10, op:0]"
													when-docs-preview="p:[z-index:10, op:1]"
													when-docs-html="p:[z-index:-10, op:0]"
													when-docs-css="p:[z-index:-10, op:0]">
													<ul class="p15-grid" style="display:flex"
														u init-with="p:[flex-direction:column]"
														when-flex-dir-r="p:[flex-direction:row]"
														when-flex-dir-rr="p:[flex-direction:row-reverse]"
														when-flex-dir-c="p:[flex-direction:column]"
														when-flex-dir-cr="p:[flex-direction:column-reverse]">
														<li><div class="flex-center width-48 height-48 bg-stone border-2 radius-2 txt-24 semibold">1</div></li>
														<li><div class="flex-center width-48 height-48 bg-cobalt border-2 radius-2 txt-24 semibold">2</div></li>
														<li><div class="flex-center width-48 height-48 bg-eggplant border-2 radius-2 txt-24 semibold">3</div></li>
													</ul>
												</div>
												<div class="docs-example-html"
													u init-with="p:[z-index:-10, op:0]"
													when-docs-preview="p:[z-index:-10, op:0]"
													when-docs-html="p:[z-index:10, op:1]"
													when-docs-css="p:[z-index:-10, op:0]">
													<textarea>&lt;ul class="p15-grid"&gt;
														&lt;li&gt;&lt;div class="bg-stone"&gt;1&lt;/div&gt;&lt;/li&gt;
														&lt;li&gt;&lt;div class="bg-cobalt"&gt;1&lt;/div&gt;&lt;/li&gt;
														&lt;li&gt;&lt;div class="bg-eggplant"&gt;1&lt;/div&gt;&lt;/li&gt;
													&lt;/ul&gt;</textarea>
												</div>
												<div class="docs-example-css"
													u init-with="p:[z-index:10, op:1]"
													when-docs-preview="p:[z-index:-10, op:0]"
													when-docs-html="p:[z-index:-10, op:0]"
													when-docs-css="p:[z-index:10, op:1]">
													<pre>ul {
														<b class="highlight">display: flex;</b>
														flex-direction: column;
													}</pre>
													<!-- u init-with="p:[z-index:10, op:1]"
													when-flex-dir-r="p:[z-index:-10, op:0]"
													when-flex-dir-rr="p:[z-index:-10, op:0]"
													when-flex-dir-c="p:[z-index:10, op:1]"
													when-flex-dir-cr="p:[z-index:-10, op:0]"" -->
												</div>
											</section>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>
		<section class="docs-articles">
			<article class="docs-article">
				<header><h1 class="code">flex-direction</h1></header>
				<div class="docs-article-main">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<!-- <ol>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ol>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ul> -->
				</div>
				<aside class="docs-options">
					<ul>
						<li>
							<h3>Options:</h3>
						</li>
						<li>
							<a class="chip bg bg-robin"
								u on-click="s:[flex-dir-r:public]">row</a>
						</li>
						<li>
							<a class="chip bg bg-robin"
								u on-click="s:[flex-dir-rr:public]">row-reverse</a>
						</li>
						<li>
							<a class="chip bg bg-sienna"
								u on-click="s:[flex-dir-c:public]">column</a>
						</li>
						<li>
							<a class="chip bg bg-robin"
								u on-click="s:[flex-dir-cr:public]">column-reverse</a>
						</li>
					</ul>
				</aside>
				<div class="docs-example">
					<div>
						<nav>
							<ul>
								<li>
									<a class="selected" u on-click="c:[selected:add] | s:[docs-preview:public]">Example</a>
								</li>
								<li>
									<a u on-click="c:[selected:add] | s:[docs-html:public]">HTML</a>
								</li>
								<li>
									<a u on-click="c:[selected:add] | s:[docs-css:public]">CSS</a>
								</li>
							</ul>
							<a class="docs-example-run">Run</a>
						</nav>
						<section>
							<div class="docs-example-preview"
								u init-with="p:[z-index:10, op:1]"
								when-docs-preview="p:[z-index:10, op:1]"
								when-docs-html="p:[z-index:-10, op:0]"
								when-docs-css="p:[z-index:-10, op:0]">
								<ul class="p15-grid" style="display:flex"
									u init-with="p:[flex-direction:column]"
									when-flex-dir-r="p:[flex-direction:row]"
									when-flex-dir-rr="p:[flex-direction:row-reverse]"
									when-flex-dir-c="p:[flex-direction:column]"
									when-flex-dir-cr="p:[flex-direction:column-reverse]">
									<li><div class="flex-center width-48 height-48 bg-stone border-2 radius-2 txt-24 semibold">1</div></li>
									<li><div class="flex-center width-48 height-48 bg-cobalt border-2 radius-2 txt-24 semibold">2</div></li>
									<li><div class="flex-center width-48 height-48 bg-eggplant border-2 radius-2 txt-24 semibold">3</div></li>
								</ul>
							</div>
							<div class="docs-example-html"
								u init-with="p:[z-index:-10, op:0]"
								when-docs-preview="p:[z-index:-10, op:0]"
								when-docs-html="p:[z-index:10, op:1]"
								when-docs-css="p:[z-index:-10, op:0]">
								<textarea>&lt;ul class="p15-grid"&gt;
									&lt;li&gt;&lt;div class="bg-stone"&gt;1&lt;/div&gt;&lt;/li&gt;
									&lt;li&gt;&lt;div class="bg-cobalt"&gt;1&lt;/div&gt;&lt;/li&gt;
									&lt;li&gt;&lt;div class="bg-eggplant"&gt;1&lt;/div&gt;&lt;/li&gt;
								&lt;/ul&gt;</textarea>
							</div>
							<div class="docs-example-css"
								u init-with="p:[z-index:-10, op:0]"
								when-docs-preview="p:[z-index:-10, op:0]"
								when-docs-html="p:[z-index:-10, op:0]"
								when-docs-css="p:[z-index:10, op:1]">
								<pre>ul {
									display: flex;
									flex-direction: column;
								}</pre>
								<!-- u init-with="p:[z-index:10, op:1]"
								when-flex-dir-r="p:[z-index:-10, op:0]"
								when-flex-dir-rr="p:[z-index:-10, op:0]"
								when-flex-dir-c="p:[z-index:10, op:1]"
								when-flex-dir-cr="p:[z-index:-10, op:0]"" -->
							</div>
						</section>
					</div>
				</div>
			</article>
		</section>
	</main>
</view>
