<div class='flex-vertical-center absolute flex-wrap top-0 left-0' u on-init='send:[ui-body-init:public]'>


    <!--  Stage One: Loader Dont render + import internally-->
    <div init-after="ui-body-init" inner-src="'ui/templates/loader.html'"></div>

    <!--  Stage Two: Access -->
    <!-- <div init-after="ui-body-init" inner-src="'ui/templates/access.html'"></div> -->

    <!--  Stage Three: UI Home -->
    <!-- <div init-after="ui-body-init" inner-src="'ui/templates/home.html'"></div> -->

</div>
