<view class="ui-submissions" layer="2" type='row' bg="rose" set="submissions = ui.app.views.submissions">
	<item width="100" height="100" class="overflow-auto">
		<import url="submissions.components.nav.url"></import>

		<main class="ui-collections-main">
			<import url="submissions.components.header.url"></import>
			<ul class="ui-collections-lists">
				<li class="ui-collections-list">
					<header>
						<a>
							<h1>Drafts</h1>
							<span>View All</span>
							<hr/>
						</a>
					</header>
					<ul>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
					</ul>
				</li>

				<li class="ui-collections-list">
					<header>
						<a>
							<h1>Daily UI Challenge 📱</h1>
							<span>View All</span>
							<hr/>
						</a>
					</header>
					<ul>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
					</ul>
				</li>

				<li class="ui-collections-list">
					<header>
						<a>
							<h1>For My Portfolio</h1>
							<span>View All</span>
							<hr/>
						</a>
					</header>
					<ul>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
						<li>
							<a class="ui-collections-list-item"></a>
						</li>
					</ul>
				</li>
			</ul>
		</main>
	</item>
</view>
