<ion-view class='bg-smoke'>
	<main id='desktop-student-home' class="desktop-mode desktop-home student-mode" ng-if='desktopMode'>
		<nav class='main-nav' ng-include="img_base + BASE + 'templates/desktop.nav.html'"></nav>

		<div id='desktop-student-home-main' class="main" >
			<ion-pane id='cta-modal-student-request' class='absolute full-xy hide-display cta-modal bg-charcoal' ng-controller='RequestController'  ng-include="img_base + BASE + 'templates/request.html'"></ion-pane>

			<ion-pane id='cta-modal-content' class='full-xy hide-display cta-modal bg-charcoal' ng-include="img_base + BASE + 'templates/content.general.html'"></ion-pane>

			<ion-pane id='cta-modal-student-courses' class='full-xy hide-display cta-modal bg-charcoal' ng-controller='CoursesController' ng-include="img_base + BASE + 'templates/student.courses.container.html'"></ion-pane>

			<!-- <ion-pane id='cta-modal-messages' ng-controller='MessagesController' class='full-xy hide hide-display cta-modal bg-charcoal' ng-include="img_base + BASE + 'templates/student.messaging.html'"> </ion-pane> -->

			<ion-pane id='cta-modal-billing' class='full-xy hide-display cta-modal'>
				<div class='full-xy absolute top-0 left-0 desktop-forms' ng-controller='PaymentsController'>
					<div class="main" ng-include="img_base + BASE + 'templates/student.payments.html'"></div>
				</div>
			</ion-pane>

			<!-- <ion-pane id='cta-modal-created-requests' class='full-xy hide-display cta-modal'>
				<div class='full-xy absolute top-0 left-0 desktop-forms'>
					<div class="main" ng-include="img_base + BASE + 'templates/student.requests.html'"></div>
				</div>
			</ion-pane> -->

			<ion-pane id='cta-modal-shop' class='full-xy hide-display cta-modal'>
				<div class='full-xy absolute top-0 left-0 desktop-forms'>
					<div class="main" ng-include="img_base + BASE + 'templates/student.shop.html'"></div>
				</div>
			</ion-pane>

			<nav class="home-tabs">
				<ul>
	                <li>
	                    <a>
	                        <span class="notification">0</span>
	                        <span>Billing</span>
	                    </a>
	                </li>
					<li>
	                    <a>
	                        <span class="notification">{{user.student_relationships.length || 0}}</span>
	                        <span ng-click='messagesModal.show()'>Gurus</span>
	                    </a>
	                </li>
					<li>
	                    <a>
	                        <span class="notification">3</span>
	                        <span>Requests</span>
	                    </a>
	                </li>
	            </ul>
			</nav>

			<div class="home-main">
				<div class="home-tiles-top">
					<div class="home-tiles-guru" ng-include="img_base + BASE + 'templates/svg/tour-guru.html'"></div>
					<div class="home-tiles-daily">
						<div class="home-ticket"><div></div></div>
						<ion-slide-box show-pager="false" class="home-ticket-content">
							<ion-slide class="home-ticket-inside">
								<div>
									<h1>You have <u>2</u> Incoming Gurus for CS10.</h1>
									<h2>See more request details about these gurus</h2>
								</div>
								<ul class="home-ticket-guru-bar">
									<li>
										<div class="pf-card-mini large pf-card-mini-academic">
											<div class="pf-card-mini-banner"></div>
											<!-- <span class="user-icon bg-cerise"></span> -->
											<user-icon class="user-icon bg-cerise" size="small" > </user-icon>
											<span class="pf-name">Christopher W.</span>
											<!-- <ul class="rating-stars" data-rating="4" data-half="true" ng-include="::img_base + 'templates/svg/rating.html'"></ul> -->
											<rating class="rating-stars" style="width:70px; height:14px;" avg="4.5"/>
										</div>
									</li>
									<li>
										<div class="pf-card-mini large pf-card-mini-academic">
											<div class="pf-card-mini-banner"></div>
											<!-- <span class="user-icon bg-cerise"></span> -->
											<user-icon class="user-icon bg-cerise"size="small" > </user-icon>
											<span class="pf-name">Christopher W.</span>
											<!-- <ul class="rating-stars" data-rating="4" data-half="true" ng-include="::img_base + 'templates/svg/rating.html'"></ul> -->
											<rating class="rating-stars" style="width:70px; height:14px;" avg="4.5"/>
										</div>
									</li>
									<li>
										<div class="pf-card-mini large pf-card-mini-academic">
											<div class="pf-card-mini-banner"></div>
											<!-- <span class="user-icon bg-cerise"></span> -->
											<user-icon class="user-icon bg-cerise" size="small" > </user-icon>
											<span class="pf-name">Christopher W.</span>
											<!-- <ul class="rating-stars" data-rating="4" data-half="true" ng-include="::img_base + 'templates/svg/rating.html'"></ul> -->
											<rating class="rating-stars" style="width:70px; height:14px;" avg="4.5"/>
										</div>
									</li>
								</ul>
								<button class="bg-lake semibold">See Request Details</button>
							</ion-slide>
							<ion-slide class="home-ticket-inside">
								<div>
									<h1>You created <u>3</u> Student Requests.</h1>
									<h2>Check or edit the status of your requests</h2>
								</div>
								<ul class="home-ticket-icon-bar">
									<li class="academic">
										<span ng-include="img_base + BASE + 'templates/svg/academic-simple.html'"></span>
										<span>1-on-1 Help</span>
									</li>
									<li class="baking">
										<span ng-include="img_base + BASE + 'templates/svg/baking-simple.html'"></span>
										<span>Birthday Cake</span>
									</li>
									<li class="photography">
										<span ng-include="img_base + BASE + 'templates/svg/photography-simple.html'"></span>
										<span>Graduation</span>
									</li>
								</ul>
								<button class="bg-lake semibold">Activate my Student Email</button>
							</ion-slide>
							<ion-slide class="home-ticket-inside">
								<div>
									<h1>You are currently in demo mode.</h1>
									<h2>Activate your UC Berkeley Email to create a real request</h2>
								</div>
								<ul class="home-ticket-icon-bar">
									<li class="academic" ng-include="img_base + BASE + 'templates/svg/academic-simple.html'"></li>
									<li class="baking" ng-include="img_base + BASE + 'templates/svg/baking-simple.html'"></li>
									<li class="photography" ng-include="img_base + BASE + 'templates/svg/photography-simple.html'"></li>
									<li class="household" ng-include="img_base + BASE + 'templates/svg/household-simple.html'"></li>
									<li class="tech" ng-include="img_base + BASE + 'templates/svg/tech-simple.html'"></li>
								</ul>
								<button class="bg-lake semibold">Activate my Student Email</button>
							</ion-slide>
							<ion-slide class="home-ticket-inside">
								<div>
									<h1>You are currently in demo mode.</h1>
									<h2>Activate your UC Berkeley Email to create a real request</h2>
								</div>
								<span class="home-ticket-icon" ng-include="img_base + BASE + 'templates/svg/main/email.html'"></span>
								<button class="bg-lake semibold">Activate my Student Email</button>
							</ion-slide>
							<ion-slide class="home-ticket-inside">
								<div>
									<h1>Make a Referral</h1>
									<h2>Skip the line by inviting a friend to Uguru</h2>
								</div>
								<span class="home-ticket-icon" ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
								<button class="bg-lake semibold">Refer a Friend</button>
							</ion-slide>
						</ion-slide-box>
					</div>
					<div class="home-tiles-powerups home-tiles-container">
						<a class="home-tile gpa">
							<div class="home-tile-inside" ng-include="img_base + BASE + 'templates/svg/gpa.html'"></div>
						</a>
						<a class="home-tile munchies">
							<div class="home-tile-inside" ng-include="img_base + BASE + 'templates/svg/munchies.html'"></div>
						</a>
						<a class="home-tile sound">
							<div class="home-tile-inside" ng-include="img_base + BASE + 'templates/svg/sound.html'"></div>
						</a>
						<a class="home-tile transit">
							<div class="home-tile-inside" ng-include="img_base + BASE + 'templates/svg/transit.html'"></div>
						</a>
					</div>
				</div>
				<div class="home-tiles-main home-tiles-container">
					<div class="home-tiles-main-inside">
						<a class="home-tile" id='cta-box-student-request' ng-click='initRequestDetailsCTA()'>
							<div class="home-tile-inside">
								<div>
									<span ng-include="img_base + 'templates/svg/main/calendar.html'"></span>
									<h1>Request a Guru</h1>
									<h2>Your peers who aced<br/>your current courses!</h2>
								</div>
							</div>
						</a>
						<a class="cta-box home-tile">
							<div class="home-tile-inside">
								<svg class="square" viewBox="0 0 100 100">
			                        <rect x="0" y="0" width="100" height="100"></rect>
			                    </svg>
								<div>
									<span ng-include="img_base + 'templates/svg/main/lightbulb.html'"></span>
									<h1>Quick Solver</h1>
									<h2>Take a photo or<br/>ask a question</h2>
								</div>
							</div>
						</a>
						<a class="home-tile" ng-click='goToDesktopBecomeGuru()'>
							<div class="home-tile-inside">
								<div>
									<span ng-include="img_base + 'templates/svg/main/become.html'"></span>
									<h1>Become a Guru</h1>
									<h2>Done early?<br/>Return the favor!</h2>
								</div>
							</div>
						</a>
						<a id='cta-box-student-courses' class="cta-box home-tile">
							<div class="home-tile-inside">
								<div>
									<span ng-include="img_base + 'templates/svg/main/plus-circle.html'"></span>
									<h1>
										<span class='ng-class:{"hide":user.student_courses.length}'>Add Your Courses</span>
										<span class='hide ng-class:{"show":user.student_courses.length}' data-courses="{{user.student_courses.length}}">
											{{user.student_courses.length}} <b>Course</b> Added
										</span>
									</h1>
									<h2>Discover gurus who have taken<br/>the same courses!</h2>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<section ng-if='!desktopMode' ng-include="img_base + BASE + 'templates/home.mobile.student.html'"></section>
</ion-view>
<!-- <a id="cta-box-content" class='cta-box'>
	<svg viewBox="0 0 100 100">
		<path d="M30,24.8677175 C31.8923771,21.0254081 34.4778855,18.8636487 37.7985936,16.9181834 C41.1193017,14.9727181 44.7586089,14 48.7166246,14 C54.6871906,14 59.802346,16.1299172 64.0622442,20.3898154 C68.3221425,24.6497136 70.4520596,29.664243 70.4520596,35.433554 C70.4520596,41.202865 68.5904785,46.1503104 64.8672604,50.2760386 C61.1440422,54.4017668 54.4442042,56.7664779 49.0103183,57.370243 L49.0103183,68.1373335 C49.0103183,68.8081837 49.015108,70.6862599 49.015108,70.6862599 M49.0289795,82.817968 L49.0289795,83.8786453"></path>
	</svg>
</a> -->
