
<ion-view class="student-home" hide-nav-bar="true" cache-view='false'>

  <ion-tabs class="bottom-tabs tabs-positive" delegate-handle="student-home-tabs-bottom">

    <ion-tab id='bottom-sessions-tab' title="Sessions" badge="user.active_requests.length + user.incoming_requests.length" badge-style='badge-danger' class='session-icon-extra bottom-tabs-home' icon-on="session-icon" icon-off="session-icon">
      <div ng-show="bottomTabsDelegate.selectedIndex() === 0" ng-include="img_base + './templates/student.home.sessions.html'"></div>
    </ion-tab>

    <ion-tab class='bottom-tabs-home'title="Request" icon-on="request-icon" icon-off="request-icon">
      <div ng-show="bottomTabsDelegate.selectedIndex() === 1" ng-include="img_base + './templates/student.home.request-courses.html'"></div>
    </ion-tab>

    <ion-tab class='bottom-tabs-home' title="Settings" icon-on="settings-icon" icon-off="settings-icon" ng-click='goToSettingsTab()'>
      <div ng-include="img_base + './templates/student.settings.html'" ng-show="bottomTabsDelegate.selectedIndex() === 2"></div>
    </ion-tab>

  </ion-tabs>

</ion-view>
