    <ion-header-bar class="bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)">
        <h1 class="title">Find A Guru</h1>
    </ion-header-bar>

    <ion-content style='background-color' class='course-list-container' scroll="false">
      <div class='pure-g-c flex-column flex-space-between'>
        <div class='pure-g'>
          <div class='pure-u-1-2 padding-1em'>
          </div>
          <div class='pure-u-1-2 padding-1em'>
          </div>
        </div>
      </div>

    </ion-content>


