<ion-view hide-nav-bar='true' class='guru-active-session'>
    <ion-header-bar class="header-bar">
        <a class="button button-clear button-back"  nav-direction='back' href='#/home'>Back</a>
        <h5 class="title uppercase">{{session.request.course.short_name}} </h5>
        <a class="button button-clear button-back uppercase positive" ng-click='showOptions()'>Options</a>
    </ion-header-bar>

    <ion-content class="has-header" scroll='false' >
    <div class='pure-g-c flex-column flex-space-between'>
      <div class='flex-item-c'>
        <ion-pane id="map_canvas">
              <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom"  pan="true" options="options">
              </ui-gmap-google-map>
        </ion-pane>
      </div>
      <div class='flex-item-c j-end' style='height:40%;'>
        <div class='pure-u-1'>
          <ul>
            <a class="item item-avatar-right upcoming-session-card"  ng-click="goToGuruProfile(session.guru)">
              <img src="{{session.request.guru.profile_url}}"/>
              <h2>{{session.guru.name.split(' ')[0]}} <br> {{session.request.course.short_name}} Guru</h2>
            </a>
            <li class="item padding-0-4">
              <button class="button button-full button-positive" ng-click="goToSessionMessages(session)">
                Message {{session.guru.name.split(' ')[0]}}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>