<ion-modal-view hide-nav-bar ='true' class='verb-modal'>
  <ion-header-bar class='dark-bg-header mini-header item-button-right'>
      <button class="button button-clear button-header-link submit-button" ng-click='showAttachActionSheet()'>
        Help
      </button>
  </ion-header-bar>
  <ion-content class='white-text dark-bg' scroll='false' >
      <div class='pure-g-c flex-column flex-space-between'>
        <div class='flex-item-c center'>
        </div>
        <div class='flex-item-c'>
            <div class='pure-u-1'>
              <img style='padding:4.5em;' class='pure-img timer-center' ng-src='{{img_base}}./img/verbs/session.svg' />
            </div>

        </div>

        <div class='pure-g'>

          <div class='pure-u-1' style='text-align:center;'>
            <p class='standard' style='font-size:1.5em; margin-top:7%;'>
            The session has started!
            </p>
          </div>

        </div>

        <div class='flex-item-c center'>
        </div>


        <div class='flex-item-c j-end center'>
          <div class='pure-u-1 padding-bottom-2em'>
            <!-- <a class='close-modal-link' id='verb-cancel-button' ng-click='verbModal.hide();'>
              <p class='standard micro-text'>

              </p>
            </a> -->

            <ion-list class='pure-u-1'>

              <ion-item class='padding-1em item-avatar-left dark-bg white-text in-session-person-background'>
                <img class='pure-img can-help-profile-img'  ng-src='{{session.request.guru.profile_url}}'/>
                  <div class='guru-info-wrapper'>
                    <h2>{{session.request.guru.name.split(' ')[0]}} </h2>
                    <p class='uppercase nano-text'>
                      <span ng-show='session.request.guru.university'>{{session.guru.university.title}}  -</span>
                      <span ng-show='session.request.guru.majors'>{{session.guru.majors[0].name}}</span>
                    </p>

                    <div class='pure-u-11-12'>
                      <div class='pure-u-1-12' ng-repeat='number in getNumber(session.guru.guru_avg_rating) track by $index'>
                              <i class='icon ion-star blue'></i>
                      </div>
                      <div class='pure-u-1-12' ng-repeat='number in getNumber(5 - session.guru.guru_avg_rating) track by $index'>
                        <i class='icon ion-star grey'></i>
                      </div>
                    </div>
                  </div>
                </ion-item>
                <div class='pure-u-1 center padding-1em' ng-click='launchStudentSessionDetailsModal()'>
                  <i class='icon ion-chevron-down' style='opacity:0.7;'></i>
                </div>
              </ion-list>

          </div>
        </div>

      </div>
  </ion-content>
</ion-modal-view>