<div class='flex-wrap-center flex-stretch'>
	<div class='start-timer flex-wrap-center' ng-class="{'opacity-20': timer.active}">
		<dropdown ng-model="timerDropdown"></dropdown>
	</div>

	<div class='start-timer flex-center full-x flex-wrap-center flex-start' style='font-size:180px;'>
		<div id='hours' class='txt-white'>
			<div class=''> {{timer.hours || '00'}} </div>
		</div>

		<div id='minutes' class='txt-white'>
			<div class=''> :{{timer.minutes||'00'}} </div>
		</div>

		<div id='seconds' class='txt-white'>
			<div class=''> :{{timer.seconds || '00'}} </div>
		</div>
	</div>
	<div class='action-items absolute bottom-0 left-0 full-x ugrid-3 flex-wrap-center' style='margin-bottom:-100px;'>
		<ul class='bg-slate'>
			<li ng-repeat='item in action_items' class='p20xy txt-6 weight-700 mbottom10' ng-class="{'bg-shamrock': $index === 0, 'bg-shamrock-50p': $index === 1, 'bg-shamrock-25p': $index >= 2}">
				<p style='opacity' class='uppercase'> {{$index + 1}}. {{item}} </p>
			</li>
		</ul>
	</div>
</div>