<style>
    /* @samir - color won't bind, put $slate as a placeholder, pls fix */
    /* {{university.school_color_dark}} */
    /* #023360 */

    #desktop-guru-onboarding, .desktop-forms aside, .signup-modal header.third:before {
        background: {{university.school_color_dark}} url("{{university.banner_url}}") center center / cover!important;
    }
    .desktop-forms aside:after {
        filter: alpha(opacity=50);
        opacity: .5;
        background: {{university.school_color_dark}};
    }
    #desktop-courses, #desktop-skills, .subcategory {
        background: {{university.school_color_dark}}!important;
    }
    
    /* DESKTOP LOGIN/SIGNUP */
    .desktop-signup .main .login-courses-container h2 {
        color: {{university.school_color_dark}};
    }
    .desktop-forms .main .login-courses-container > div .login-backpack svg .backpack-color {
        fill: {{university.school_color_light}};
    }
    .desktop-forms .main .login-courses-container > div .login-backpack b {
        color: {{university.school_color_dark}};
    }
    .desktop-forms .main .login-courses-container > div .login-courses ul li > span {
        color: {{university.school_color_dark}};
    }
    .desktop-forms .main .login-courses-container > div .login-courses ul li > span:after {
        background: {{university.school_color_dark}};
    }
    
    /* MOBILE LOGIN/SIGNUP */
    .signup-modal header.third {
        background: {{university.school_color_dark}};
    }
    .signup-modal header.third:before {
        filter: alpha(opacity=5);
        opacity: .5;
    }
    
    /* DESKTOP GURU ONBOARDING */
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:after {
        background: {{university.school_color_dark}}!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a {
        background: none!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:hover:after,
    #desktop-guru-onboarding .main #guru-onboarding-grid li a:focus:after {
        background: white!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span span:first-child svg path,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span span:first-child svg path {
        stroke: {{university.school_color_dark}}!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(1) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(2) a:focus > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:hover > span,
    #desktop-guru-onboarding .main #guru-onboarding-grid li:nth-child(3) a:focus > span {
        color: {{university.school_color_dark}}!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span {
        border-color: {{university.school_color_dark}}!important;
        color: {{university.school_color_dark}}!important;
    }
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(1) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(2) span svg,
    #desktop-guru-onboarding .main #guru-onboarding-progress .progress ul li:nth-child(3) span svg {
        stroke: {{university.school_color_dark}}!important;
    }
    
    /* COURSES */
    #desktop-courses .main .desktop-search-list .desktop-card-list li a svg path {
        stroke: {{university.school_color_dark}}!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list li a:hover,
    #desktop-courses .main .desktop-search-list .desktop-card-list li a:focus,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a {
        background: {{university.school_color_dark}}!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:hover,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:focus {
        background: #40484B!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:hover svg path,
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:focus svg path {
        stroke: #40484B!important;
    }
    #desktop-courses .main .desktop-search-list .desktop-card-list .selected a:active {
        background: rgba(255,255,255,.25)!important;
        border-bottom: 10px solid rgba(255,255,255,.5)!important;
    }
</style>