 <ion-view hide-nav-bar='true' ng-controller='CoursesController' class='dark-bg'>
  <ion-content class='white-text dark-bg has-header' scroll='false' >


      <h3 class='uppercase white-text semibold center'>
        Tap skills that apply
      </h3>
      <h6 class='uppercase white-text bold center opacity-1-2 nano-text'>
        Make money on errthang.
      </h5>

      <div class='pure-g-c flex-column flex-space-between'>
        <div class='flex-item-c center'>
        </div>
        <div class='flex-item-c center j-start'>

          <div class='pure-g'>


            <div class='pure-u-1 professional-wrapper'>
                <a class='course-tag'>Resume</a>
                <a class='course-tag'>Writing</a>
                <a class='course-tag'>Interviews</a><br>
                <a class='course-tag'>Public Speaking</a>
                <a class='course-tag'>Bullshitting</a>
                <a class='course-tag'>Drinking</a>
            </div>


            <div class='pure-u-1 skilled-wrapper'>
                <span class='course-tag'>iPhone Repair</span>
                <span class='course-tag'>Internet Setup</span><br>
                <span class='course-tag'>Baked Goods</span>
                <span class='course-tag'>Photography</span>
                <span class='course-tag'>Vacuuming</span>
            </div>

            <div class='pure-u-1 chores-wrapper'>
                <span class='course-tag'>Cleaning</span>
                <span class='course-tag'>Dishes</span><br>
                <span class='course-tag'>Laundry</span>
                <span class='course-tag'>Ironing</span>
            </div>

            <div class='pure-u-1 labor-wrapper' >
                <span class='course-tag'>Ikea Assembly</span>
                <span class='course-tag'>Moving Assistance</span> <br>
                <span class='course-tag'>I have a truck</span>
                <span class='course-tag'>Painting</span>
                <span class='course-tag'>Interior Design</span>
            </div>


          </div>
        </div>

        <div class='flex-item-c j-start'>

        </div>
      </div>


  </ion-content>


</ion-view>