<ion-view id='calendar-view' ng-controller='CalendarController'>
    <ion-content class="bg-smoke">
        <section class="calendar-container student">
            <div class='calendar student relative'>
                <div class="cal-week active">
                    <div>
        				<h1 class="cal-month">
        					<span>{{calendar[0].monthLong || 'May'}}</span>
        				</h1>
                        <div class="cal-day-container flex">
                            <ul class="cal-time">
                                <li>
                                    <span>All Day</span>
                                </li>
            					<li>
            						<span>12am</span>
            					</li>
            					<li>
            						<span>1am</span>
            					</li>
            					<li>
            						<span>2am</span>
            					</li>
            					<li>
            						<span>3am</span>
            					</li>
            					<li>
            						<span>4am</span>
            					</li>
            					<li>
            						<span>5am</span>
            					</li>
            					<li>
            						<span>6am</span>
            					</li>
            					<li>
            						<span>7am</span>
            					</li>
            					<li>
            						<span>8am</span>
            					</li>
            					<li>
            						<span>9am</span>
            					</li>
            					<li>
            						<span>10am</span>
            					</li>
            					<li>
            						<span>11am</span>
            					</li>
            					<li>
            						<span>Noon</span>
            					</li>
            					<li>
            						<span>1pm</span>
            					</li>
            					<li>
            						<span>2pm</span>
            					</li>
            					<li>
            						<span>3pm</span>
            					</li>
            					<li>
            						<span>4pm</span>
            					</li>
            					<li>
            						<span>5pm</span>
            					</li>
            					<li>
            						<span>6pm</span>
            					</li>
            					<li>
            						<span>7pm</span>
            					</li>
            					<li>
            						<span>8pm</span>
            					</li>
            					<li>
            						<span>9pm</span>
            					</li>
            					<li>
            						<span>10pm</span>
            					</li>
            					<li>
            						<span>11pm</span>
            					</li>
            				</ul>
                            <div class="cal-main">
                                <ul class="cal-date">
                                    <li ng-repeat='day in ::calendar.days'>
                                        <span>
            								<span>{{::day.dayShort}}</span>
            								<span>&nbsp;</span>
            								<span>{{::day.date}}</span>
            							</span>
                                    </li>
                                </ul>
                                <div class="cal-events">
                                    <ul ng-repeat='day in ::calendar.days' class='cal-day'>
                                        <li class="all-day">
                                            <a></a>
                                            <div>
                                                <svg viewBox="0 0 100 100">
                                                    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                                                </svg>
                                            </div>
                                        </li>
                                        <li ng-repeat='hour in ::day.hours'>
                                            <a></a>
                                            <div>
                                                <svg viewBox="0 0 100 100">
                                                    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal-search" class-on-click="active, null:inject.calendar-container|has-filters">
                <div>
                    <input id="search-events" type="search" placeholder="Search"/>
                    <label for="search-events">
                        <svg viewBox="0 0 100 100">
                            <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
                        </svg>
                    </label>
                    <div></div>
                </div>
            </div>
            <div class="cal-filters">
                <div class="cal-tags tag-list">
                    <ul>
                        <li><a class="chip bg-auburn">Delivery</a></li>
                        <li><a class="chip bg-orange">Freelancing</a></li>
                        <li><a class="chip bg-gold">Baking</a></li>
                        <li><a class="chip bg-moola">Photography</a></li>
                        <li><a class="chip bg-azure">Tech</a></li>
                        <li><a class="chip bg-cobalt">Household</a></li>
                        <li><a class="chip bg-eggplant">Athletic</a></li>
                        <li><a class="chip bg-cerise">Academic</a></li>
                    </ul>
                </div>
                <div class="cal-results">
                    <ul class="p15-grid">
                        <li>
                			<div class="calendar-tile bg-slate">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-taupe">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-campus">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-shamrock">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-robin">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-lake">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-moxie">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-crimson">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-auburn">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-orange">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-gold">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-moola">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-azure">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-cobalt">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-eggplant">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                		<li>
                			<div class="calendar-tile bg-cerise">
                				<h1>February 11</h1>
                				<h2>4pm-6am</h2>
                			</div>
                		</li>
                    </ul>
                </div>
            </div>
        </section>
    </ion-content>
    <div id="dev-spec" class='top-0 left-0 absolute full-x bg-smoke animated slideInDown' style='height: calc(100% - 83px);' ng-if='spec && spec.title && dev.toggleSpec'>
        <div class='full-xy overflow-auto' ng-repeat="use_case in spec.use_cases">
            <div class="bg-slate txt-center">
                <h1 class='bg-cobalt-25p p15xy txt-28 weight-600 height-64 flex-center'><span class="weight-900">{{spec.title}}:&nbsp;</span> {{use_case.title}} </h1>
            </div>
            <ul class='full-x txt-charcoal ugrid-4 flex-stretch' style="height: calc(100% - 64px);">
                <li>
                    <div class="bg-moxie txt-white txt-center">
                        <h1 class='txt-20 semibold p10xy'>{{use_case.columns.static.title}}</h1>
                    </div>
                    <ul class="p15-grid">
                        <li ng-repeat='item in use_case.columns.static.items'>
                            <checkbox value="item.value" label="item.title" class="txt-slate flex-left checkbox-moxie"> </checkbox>
                            <ul ng-if='item.sub_items' class='nested-action-item'>
                                <li ng-repeat='sub_item in item.sub_items'> {{sub_item.text}} </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="bg-robin txt-white txt-center">
                        <h1 class='txt-20 semibold p10xy'>{{use_case.columns.micro.title}}</h1>
                    </div>
                    <ul>
                        <li class='p10xy' ng-class="{'flex-stretch': !item.sub_items && !item.sub_items.length}"  ng-repeat='item in use_case.columns.micro.items'>
                            <checkbox value="item.value" label="item.title" class="txt-slate flex-left checkbox-robin"> </checkbox>
                            <ul ng-if='item.sub_items' class='nested-action-item'>
                                <li ng-repeat='sub_item in item.sub_items'> {{sub_item.text}} </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="bg-azure txt-white txt-center">
                        <h1 class='txt-20 semibold p10xy'>{{use_case.columns.macro.title}}</h1>
                    </div>
                    <ul>
                        <li class='p10xy' ng-class="{'flex-stretch': !item.sub_items && !item.sub_items.length}"  ng-repeat='item in use_case.columns.macro.items'>
                            <checkbox value="item.value" label="item.title" class="txt-slate flex-left checkbox-azure"> </checkbox>
                            <ul ng-if='item.sub_items' class='nested-action-item'>
                                <li ng-repeat='sub_item in item.sub_items'> {{sub_item.text}} </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class='bg-slate-10p txt-slate'>
                    <div class="bg-lake txt-white txt-center">
                        <h1 class='txt-20 semibold p10xy'>{{use_case.columns.icebox.title}}</h1>
                    </div>
                    <ul>
                        <li class='p10xy' ng-class="{'flex-stretch': !item.sub_items && !item.sub_items.length}"  ng-repeat='item in use_case.columns.icebox.items'>
                            <checkbox value="item.value" label="item.title" class="txt-slate flex-left checkbox-lake"> </checkbox>
                            <ul ng-if='item.sub_items' class='nested-action-item'>
                                <li ng-repeat='sub_item in item.sub_items'> {{sub_item.text}} </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="dev-toolbar" class='full-x bottom-0 left-0 absolute bg-slate animated slideInUp' ng-if='!dev.toggleDev'>
         <ul class='bg-cobalt-25p flex-center-vertical-space-between p15-grid'>
            <li class="flex">
                <!-- <a ng-click='dev.toggleSpec = !dev.toggleSpec' ng-class='{"bg-azure": dev.toggleSpec}'>View Spec</a> -->
                <button class="height-36 txt-18 bg-moxie radius-2 normal block m15right" ng-click='dev.toggleSpec = !dev.toggleSpec'>Spec</button>
                <button class="height-36 txt-18 bg-moxie radius-2 normal block" ng-click='openDocInNewTab()'>gDoc</button>
            </li>
            <li class="flex">
            <!-- <li class='flex-wrap-center ugrid-2' ng-class='{"bg-azure": dev.toggleSpec}'> -->
                <div class="m15right" ng-if='codepenData'>
                    <form action="http://codepen.io/pen/define" method="POST" target="_blank">
                      <input type="hidden" name="data" value='{{codepenData}}'>
                      <input class="bg bg-moxie txt-18 height-36 semibold radius-2 p15x" type="submit" id='codepen-input' value="Edit in Codepen">
                    </form>
                </div>
                <div>
                    <button class="height-36 txt-18 bg-moxie radius-2 normal block" ng-click='openCodepenSpec()'>CP Spec</button>
                </div>
            </li>
            <li>
                <h2 class="txt-14 semibold m05bottom">Screen Sizes</h2>
                <dropdown class="reverse hide-header height-32 dropdown-moxie" ng-model="dev.screenSizesDropdown"></dropdown>
            </li>
            <li>
                <h2 class="txt-14 semibold m05bottom">Categories</h2>
                <dropdown class="reverse hide-header height-32 dropdown-moxie" ng-model="dev.environmentsDropdown"></dropdown>
            </li>
        </ul>
    </div>
</ion-view>
