
<ion-modal-view class='side-menu-right' id="side_menu" ng-controller='SignupController'>

  <ion-content ng-show='root.vars.show_account_fields' scroll='false'>
    <ion-header-bar align-title="center" class='dark-bg-header no-background-image'>
      <div class="buttons">
        <button class="button button-clear button-header-link grey-text light nano-text" ng-click='toggleAccountView()'>Cancel</button>
      </div>
      <h1 class="title micro-text">{{headerText}}</h1>
        <!-- <span ng-show='!loginMode'>Sign Up</span> -->
      <div class="buttons">
        <button class="button button-clear button-header-link submit-button" id='done-button' ng-click='signupUser()'>
          <span class='ng-class:{"grey-text":signupForm.email.length === 0 || signupForm.password.length === 0 || signupForm.first_name.length === 0 || signupForm.last_name.length === 0}'>Submit</span>
        </button>
      </div>
    </ion-header-bar>
    <ion-scroll class='has-subheader'>
                <div class='pure-g'>
                  <div class='pure-u-1-2' ng-show='!loginMode'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='first-name-input' ng-model='signupForm.first_name'  placeholder='First Name'></input>
                    </label>
                  </div>
                  <div class='pure-u-1-2' ng-show='!loginMode'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='last-name-input' ng-model='signupForm.last_name' placeholder='Last Name'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="tel" id='email-input' ng-model='signupForm.email' placeholder='Email'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="tel" id='password-input' ng-model='signupForm.password' placeholder='Password'></input>
                    </label>
                  </div>
                </div>

                <div class='pure-u-1 padding-half'>
                  <div class='pure-u-1 padding-half center' ng-show='user && !user.id'>
                      <a class='center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='!loginMode'> or <u>Login</u> Here </a>
                      <a class='center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='loginMode'> or <u>Sign Up</u> Here </a>
                  </div>
                </div>


    </ion-scroll>
  </ion-content>

  <ion-content ng-show='root.vars.show_price_fields' ng-controller='PaymentsController' scroll='false'>
    <ion-header-bar align-title="center" class='dark-bg-header no-background-image'>
      <div class="buttons">
        <button class="button button-clear button-header-link grey-text light nano-text" ng-click='togglePaymentSideBarView()'>Cancel</button>
      </div>
      <h1 class="title micro-text">Add Payment</h1>
      <div class="buttons">
        <button class="button button-clear button-header-link submit-button" id='done-button' ng-click='savePayment()'>
          <span class='ng-class:{"grey-text":card_details.number.length === 0}'>Post</span>
        </button>
      </div>
    </ion-header-bar>
    <ion-scroll class='has-subheader'>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input item-icon-left">
                      <i class="icon ion-card placeholder-icon"></i>
                      <input type="tel" id='card-input' class='sidebar-card-input' ng-model='card_details.number' placeholder='1234 5678 9012 3456'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1-2'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='mm-input' class='sidebar-mm-input' ng-model='card_details.month'  placeholder='MM'></input>
                    </label>
                  </div>
                  <div class='pure-u-1-2'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='yy-input' class='sidebar-yy-input' ng-model='card_details.year' placeholder='YY'></input>
                    </label>
                  </div>
                </div>


    </ion-scroll>
  </ion-content>

  <ion-content class='white-text' scroll='false' ng-show='!root.vars.show_price_fields && !root.vars.show_account_fields'>
    <div class='pure-g-c flex-column flex-space-between'>
        <div class='pure-g-c flex-column height-40 j-end padding-2em'>
            <div class='center no-margin'>
              <div class='pure-u-1 center float-center'>
                <img ng-show='user && !user.id'class='pure-img profile-img sidebar-img inline'  src='https://graph.facebook.com/10152573868267292/picture?width=100&height=100'/>
                <img ng-show='user && user.profile_url' class='pure-img profile-img sidebar-img inline'  src='{{user.profile_url}}'/>
              </div>
            </div>
            <div class='pure-g'>
              <div class='pure-u-1' ng-show='!user.id'>
                <br>
                <p class='micro-text uppercase semibold grey center'>We need proof <br> you're wonderful & human</p>
              </div>
            </div>
            <div class='pure-g'>
              <div class='pure-u-1' ng-show='user && user.name.length > 0'>
                <h1 class='header-text semibold black center user-name'> {{user.name}} </h1>
              </div>
            </div>
            <div class='pure-g center'>
              <div class='pure-u-1' ng-show='user && user.university.title.length > 0 && !user.is_admin'>
                <p class='micro-text uppercase semibold grey'>{{user.university.title}}</p>
              </div>
            </div>

            <div class='pure-g center'>
              <div class='pure-u-1' ng-show='user && user.is_admin > 0'>
                <p class='micro-text uppercase semibold grey'>Uguru University</p>
              </div>
            </div>
          </div>

          <div class='flex-item-c flex-column height-40 j-start' ng-show='user && user.id'>



              <ion-list>


                <ion-toggle ng-model="user.email_notifications" ng-change='emailNotificationChange()' toggle-class="toggle-calm">
                  <p class='nano-text black'>
                    Email Notifications
                  </p>
                  <p class='opacity-6-10 nano-text'> {{user.email}}</p>
                </ion-toggle>
                <ion-toggle ng-change="requestPushNotifications()" ng-show='platform.mobile' ng-model="user.push_notifications" toggle-class="toggle-calm">

                  <p style='padding-bottom:0.5em; padding-top:0.5em'class='black nano-text'> Push Notifications </p>
                </ion-toggle>
                <ion-item  ng-show='user && user.id && user.cards.length === 0' ng-click='togglePaymentSideBarView()'>
                  <p class='nano-text black'> Add Payment Method </p>
                </ion-item>
                <ion-item ng-click='togglePaymentSideBarView()' ng-show='user && user.id && user.cards.length > 0'>
                  <p class='nano-text black'>
                    Payment Card Details
                  </p>
                  <p class='opacity-6-10 nano-text'>{{user.default_payment_card.card_type}} **-{{user.default_payment_card.card_last4}}</p>
                </ion-item>
                <ion-item ng-click='resetAccount()' ng-show='user.is_admin'>
                  <p class='nano-text black'> Reset Account </p>
                </ion-item>

                <ion-item ng-click='logoutUser()'>
                  <p class='nano-text black'> Logout </p>
                </ion-item>

              </ion-list>
          </div>

          <div class='pure-g-c flex-column j-start height-20'>
            <div class='pure-u-1 padding-1em no-padding-bottom' ng-show='user && !user.id'>
              <button class='button button-full button-black micro-text'  ng-click='signupFacebook()'>Continue with Facebook</button>
            </div>
            <div class='pure-u-1 padding-half center' ng-show='user && !user.id'>
              <a class='center grey uppercase semibold nano-text'  ng-click='toggleAccountView()'> or with email </a>
            </div>
          </div>

          <div class='pure-g-c flex-column j-start height-20' ng-show='user.is_a_guru && !root.vars.guru_mode'>
            <div class='pure-u-1 padding-1em no-padding-bottom' >
              <button class='button button-full button-black micro-text' ng-click='goToGuruMode()'>Switch to Guru</button>
            </div>
          </div>

          <!-- <div class='pure-g-c flex-column j-start height-20' ng-show='user && user.id && !user.is_a_guru && !root.vars.guru_mode'>
            <div class='pure-u-1 padding-1em no-padding-bottom'>
              <button class='button button-full button-black micro-text' ng-click='savePayment()'>Save</button>
            </div>
          </div> -->

          <div class='pure-g-c flex-column j-start height-20' ng-show='user.is_a_guru && root.vars.guru_mode'>
            <div class='pure-u-1 padding-1em no-padding-bottom' >
              <button class='button button-full button-black micro-text' ng-click='goToStudentMode()'>Back to student mode</button>
            </div>
          </div>

    </div>

  </ion-content>
  <ion-footer-bar ng-show='root.vars.version' class='side-menu-footer-bar'>
    <div class='pure-u-1 nano-text center'>
        v1.0.{{root.vars.version}}
    </div>
  </ion-footer-bar>
</ion-modal-view>