<main id="student-credits" class="full-xy bg-smoke lyt-1-4-header" ng-if="desktopMode">
    <header class="bg-shamrock flex-center-wrap txt-center">
        <h1 class="txt-48 semibold lettercase full-x">Student Credit Shop</h1>
        <h2 class="margin-none-impt txt-24 semibold full-x">Purchase credits for better deals</h2>
    </header>
    <div>
        <ul class="ugrid-3 max-1030 p15-grid">
            <li>
                <div class="credit-tile bg-azure">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
            <li>
                <div class="credit-tile bg-cobalt">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
            <li>
                <div class="credit-tile bg-gold">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
        </ul>
        <div class="max-1030 txt-center p15-grid">
            <div class="flex-wrap">
                <h3 class="txt-20 semibold full-x txt-slate m10bottom">Preferred Payment</h3>
                <div class="credit-card edit margin-auto">
    				<svg width="240px" height="75px" viewBox="0 0 240 75">
    					<rect fill="none" x="0" y="0" width="240" height="75"></rect>
    				</svg>
    				<div class="credit-card-inside">
    					<a class="edit">Edit</a>
    					<div class="flex">
    						<div class="credit-card-logo" ng-include="img_base + BASE + 'templates/cards/visa-white.html'"></div>
    						<div class="credit-card-number">
    							<span>&bull;&bull;&bull;&bull;</span><span>1234</span>
    						</div>
    					</div>
    				</div>
    			</div>
            </div>
            <div>
                <h3 class="txt-20 semibold full-x txt-slate">1 Credit = 1 Dollar ($1 USD)</h3>
                <h3 class="margin-none-impt opacity-50 txt-20 semibold full-x txt-slate">Still too expensive? Let support know and we will try to provide other options.</h3>
            </div>
        </div>
    </div>
</main>

<main id="student-credits" class="full-xy bg-smoke lyt-1-3-header overflow-auto" ng-if="!desktopMode">
    <header class="bg-shamrock flex-center-wrap txt-center">
        <h1 class="txt-28 semibold lettercase full-x p05bottom">Student Credit Shop</h1>
        <h2 class="margin-none-impt txt-20 semibold full-x">Purchase credits for better deals</h2>
    </header>
    <div>
        <ul class="p15-grid">
            <li>
                <div class="credit-tile bg-azure">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
            <li>
                <div class="credit-tile bg-cobalt">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
            <li>
                <div class="credit-tile bg-gold">
            		<ul>
            			<li class="top">
            				<h2>Starter</h2>
            				<span ng-include="img_base + BASE + 'templates/svg/main/gift.html'"></span>
            			</li>
            			<li class="bottom">
            				<h1>50 Credits</h1>
            				<button class="btn-split"><span>Get Started</span><span>$40</span></button>
            			</li>
            		</ul>
            	</div>
            </li>
        </ul>
        <div class="max-1030 txt-center p15-grid">
            <div class="flex-wrap">
                <h3 class="txt-20 semibold full-x txt-slate m10bottom">Preferred Payment</h3>
                <div class="credit-card edit margin-auto">
    				<svg width="240px" height="75px" viewBox="0 0 240 75">
    					<rect fill="none" x="0" y="0" width="240" height="75"></rect>
    				</svg>
    				<div class="credit-card-inside">
    					<a class="edit">Edit</a>
    					<div class="flex">
    						<div class="credit-card-logo" ng-include="img_base + BASE + 'templates/cards/visa-white.html'"></div>
    						<div class="credit-card-number">
    							<span>&bull;&bull;&bull;&bull;</span><span>1234</span>
    						</div>
    					</div>
    				</div>
    			</div>
            </div>
            <div>
                <h3 class="txt-20 semibold full-x txt-slate">1 Credit = 1 Dollar ($1 USD)</h3>
                <h3 class="margin-none-impt opacity-50 txt-20 semibold full-x txt-slate">Still too expensive? Let support know and we will try to provide other options.</h3>
            </div>
        </div>
    </div>
</main>