<a class='close-popup-link' id='edit-email-close-popup-link'>
    <svg viewBox="0 0 100 100">
	    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
	</svg>
</a>
<div class='uguru-popup-content'>
	<div class='guru-logo-container'>
		<div class='svg-logo-wrapper' ng-include="img_base + 'templates/green-guru-svg.html'"> </div>
	</div>
    <div class='content-wrapper'>
	    <div class="content-body">
	        <h2>Edit Your Email</h2>
			<input class="input-ghost-dark full-x m15top" ng-model='popupInput.editEmail' type='email' id='user-edit-email-input'/>
	    </div>
	    <div class="content-footer">
	        <button class='semibold bg-cerise white-text submit' id='edit-email-save-popup-link'>Save</button>
	    </div>
    </div>
</div>