<ion-modal-view  class='uguru-view faq-modal'>

<section class="full-xy">

    <header class="bg-charcoal">
      <div class="header-nav">
        <a class="header-nav-back" ng-click='termsModal.hide()'>
          <i class='icon ion-chevron-down'></i>
        </a>
        <div class='header-nav-center'>
          <h1 class="text-center">Uguru FAQ</h1>
        </div>
      </div>
    </header>

  <ion-content class='white-bg has-header full-height' scroll='false'>
    <iframe width="100%" height="1000%" style='margin-top:-55%;'name="Uguru FAQ" ng-src="https://www.uguru.me/faq/"></iframe>
  </ion-content>
</section>
</ion-modal-view>