 <ion-view hide-nav-bar='true' class='dark-bg'>
   <div class="bar bar-header dark-bg-header mini-header uppercase relative" style='width:auto;'>
      <div class="buttons">
      <button class="button button-clear button-header-link cancel-button button-left" ng-click='backToEditProfile()'>Back</button>
      </div>
      <h1 class="title bold">My Experiences</h1>
      <div class='buttons'>
        <button style='padding-top:0.1em;'class="button button-clear button-header-link submit-button button-right " id='done-button' ng-click='backToEditProfile(true)'>Save</button>
      </div>
  </div>
  <ion-content class='dark-bg has-header' scroll='false'>

    <div class='pure-g-c flex-column flex-space-between'>
      <div class='flex-item-c pure-g j-start'>
        <div class='pure-u-1 full-width'>
          <ion-list>
            <!-- <ion-item ng-click='launchAddGuruExperienceModal(experience)'>
              Lab Assistant
              <p>
                7 years
              </p>
            </ion-item> -->
            <ion-item ng-click='launchAddGuruExperienceModal(experience)' ng-repeat='experience in user.guru_experiences'>
              {{experience.name}}
              <p>
                {{experience.years}} years
              </p>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <div class='flex-item-c pure-g center j-end'>
          <div class='pure-u-1 padding-1em' style='padding-left:1em; padding-right:1em; margin-top:0.5em;'>
            <a ng-click='launchAddGuruExperienceModal()' style='min-height:3.3em; line-height:3.3em;' class='button button-full light-blue-bg button-footer white-text uppercase no-margin'>Add Guru Experience</a>
          </div>
      </div>
    </div>


  </ion-content>


</ion-view>