<ion-view hide-nav-bar='true'>

    <ion-header-bar class="header-bar">
      <a class="button button-clear button-back" nav-direction='back' href='#/guru-active-session'>Back</a>
      <h5 class="title uppercase">{{session.request.course.short_name}} Session w/ {{session.request.student.name.split(' ')[0]}} </h5>
    </ion-header-bar>

  <ion-content class="padding">
    <div class="container center">
      <span>{{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}</span>
    </div>
    <div class="container" style="position:absolute; width:100%; margin-top:80%;">
      <button class="button button-full button-positive" ng-click="startTimer()" ng-show="!timer.active">
          Start Timer
      </button>
      <button class="button button-full button-positive" ng-click="pauseTimer()" ng-show="timer.active">
          Pause Timer
      </button>
      <button class="button button-full button-positive button-outline" ng-click="setTimer(59,59,59)" ng-show="!timer.active">
          Set Timer
      </button>
      <button class="button button-full button-positive button-outline" ng-click="resetTimer()" ng-show="!timer.active">
          Reset Timer
      </button>
      <button class="button button-full button-positive button-outline" ng-click="submitTime()" ng-show="!timer.active">
          Submit Time
      </button>
    </div>
  </ion-content>
</ion-view>