<ion-view class='uguru-view guru-view bg-charcoal'>
	<section id="guru-home" class="request full-xy student-home">
    <header class="third">
        <h1 class="text-center">Guru Home</h1>
		<div id="guru-ranking">
			<div class="ugrid">
				<div id="guru-chart">
                        <div id='guru-ranking-progress-bar'>
					        <div id="percentile">
						        <div id="percentile-ranking">
                                    {{page.guru_ranking}}
                                </div>
						        <div id="percentile-label">Percentile</div>
                            </div>
					    </div>
                </div>
			</div>
			<div id="guru-stats">
				<div>

                    <!-- credibility percentage -->
                    <h2 class='bottom-0'>

                        <span id='credibility-percent'>{{user.current_credibility_percent}}

                        </span>

                        % cred

                    </h2>

                    <div class='white-round height-10' id='guru-credibility-progress-bar'>
                    </div>

            						<!-- profile percentage -->
                    <h2 class='top-10 bottom-0'><span id='profile-percent'>{{user.current_profile_percent}}</span>% profile</h2>
                    <div class='white-round height-10' id='guru-profile-progress-bar'> </div>

            		<h2>$<span id='hourly-rate'>{{user.current_hourly}}</span>/hour</h2>
                    <div class='white-round height-10' id='guru-hourly-progress-bar'> </div>
            	</div>
            </div>
        </div>
	</header>
	<div id="guru-home-content" class="two-thirds">
		<h2 class="section-header">Your University Guru Ranking</h2>
	    <div class='tip-container text-center p15xy'>
	        <h2 class="m05bottom">Tip of the day</h2>
	        <p>Complete your profile to unlock access to your Guru customizer</p>
	    </div>
	</div>
  </section>

  <button id="btn-edit-profile" class="btn-caps-fixed semibold bottom-0 left-0 bg-shamrock-90p" ng-if='!user.id' ng-click='launchSignupModal()'>Launch My Profile</button>

  <div class="tabs tabs-icon-only guru-tabs bg-slate" id='guru-tab-bar' ng-if='user && user.id'>

    <a class="tab-item active" nav-direction='swap' href='#/guru'>
      <i class='icon ion-home'> </i>
    </a>
    <a class="tab-item" nav-direction='swap' href='#/guru-profile'>
      <i class='icon ion-person'> </i>
    </a>

    <a class="tab-item" nav-direction='swap' href='#/guru-credibility'>
      <i class='icon ion-pricetag'> </i>
    </a>
    <a class="tab-item" ng-click='toggleRightSideMenu()' id='settings-button'>
      <i class='icon ion-gear-a'> </i>
    </a>
  </div>


  <div ng-if='launchWelcomeGuruPopup' ng-click='closeWelcomePopup()'class='uguru-popup' ng-click='closeWelcome' id='home-uguru-popup' ng-include="img_base + 'templates/welcome.guru.popup.html'"> </div>
</ion-view>

