<ion-view class='uguru-view home-view'>
  <a id='side-menu-left-overlay' ng-click='toggleRightSideMenu()' class='ng-class:{"active":sideMenuActive}'></a>
  <section id="request-empty" class="request full-xy student-home bg-white">
    <header class="bg-lake">
       <div class='header-nav'>
        <a class="header-menu" ng-click='toggleRightSideMenu()'>
        	<svg viewBox="0 0 100 100">
			    <path d="M14,77 L86,77 M14,50 L86,50 M14,23 L86,23" stroke="#fff" stroke-width="7" stroke-linecap="round"></path>
			</svg>
        </a>
        </div>
        <h1 class="text-center">Student Home</h1>
      </div>
    </header>
    <div id="request-content">
      <div id="request-message">
        <div>
          <h2>Aww, you haven't made any requests yet.<br/>Need anything?</h2>
          <div><span id='home-content-header'></span></div>
        <div>

        <a id="request-button" ng-click='launchRequestModal()'>
          <span class="m10bottom">
      			<svg viewBox="0 0 100 100">
      			  <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"></path>
      			</svg>
          </span>
          <b>Request</b>
        </a>
      </div>
    </div>
    <button class="home-footer-button btn-caps-fixed-bold left-0 bottom-0 bg-slate" ng-click='goToBecomeGuru()'>Become a Guru</button>
  </section>

  <!-- Make this into a directive -->
  <div ng-click='closeWelcomePopup()'class='uguru-popup' ng-click='closeWelcomePopup()' id='home-uguru-popup' ng-include="img_base + 'templates/welcome.popup.html'"> </div>


</ion-view>