<ion-modal-view class='location-modal' ng-controller='LocationController'>

  <ion-header-bar align-title="center" class='dark-bg-header mini-header no-background-image'>
    <div class="buttons">
      <button class="button button-clear button-header-link" ng-click='closeLocationModal()'>Cancel</button>
    </div>
    <h1 class="title micro-text">Location</h1>
  </ion-header-bar>

  <ion-content class='has-header' scroll='false'>

        <ion-list>

          <ion-item class='dark-bg'>

            <div id='searchBoxParent'>
              <input type="text" id='location-input' placeholder="Enter preferred location" ng-model='location_search_text.value' style='width:100%;'>
            </div>

          </ion-item>

          <ion-item class='item-icon-left current-location-item' ng-click='attemptToGetLocation()'>
            <img   style='margin-top: 0.4em;' class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon' ng-src='{{img_base}}./img/icons/location.svg'>
            <p> Current Location</p>
          </ion-item>
          <ionic-scroll>
            <ion-item ng-repeat='location in root.vars.nearby_locations' class='location-item item-icon-right' ng-click='saveLocationAndClose(location)'>
                <p>{{location.local_name}}<br>
                  <span class='nano-text'>
                    {{location.city_info}}
                  </span>
                </p>
                <!-- <i ng-show='user.recent_position && user.recent_position.coords' class='icon blue ion-navigate icon-small'></i> -->
            </ion-item>
          </ionic-scroll>

      </ion-list>
  </ion-content>
</ion-modal-view>