 <ion-view hide-nav-bar='true' ng-controller='AddMajorController' class='dark-bg'>
    <!-- <ion-header-bar class='bg-transparent dark-bg-header'>
    </ion-header-bar> -->
          <ion-content class='white-text dark-bg has-header' scroll='false' style='z-index:1000;'>
            <div class='pure-g'>
              <div class="list pure-u-1">
                <label class="item item-input bg-transparent university-label no-margin no-border no-box-shadow view-2">
                  <span class='university-input-container relative'>
                      <i class='icon ion-search padding-1em'></i>
                      <input type="search" name="major-input" id='major-input' class="form-control"
                        fast-matcher
                        fast-matcher-source="majors"
                        fast-matcher-output="matchingMajors"
                        fast-matcher-properties="name"
                        fast-matcher-any-word="true"
                        fast-matcher-limit="10"
                        fast-matcher-preserve-order="true"
                        fast-matcher-case-insensitive="true"
                        placeholder="Search {{majors.length}} Available Majors"
                        ng-model="major_search_text"
                        ng-change='updateView(major_search_text)'
                      />
                  </span>
                </label>
              </div>
            </div>
            <ion-list ng-hide='root.vars.hide_list'>
                <ion-item class='item-button-right request-form-item padding-half' ng-repeat="major in matchingMajors" ng-click="majorSelected(major, $event)">
                            <p>{{major.name}}
                            </p>
                </ion-item>
            </ion-list>

            <ion-list ng-show='user.majors.length > 0 && root.vars.hide_list'>
                <div class='item item-divider course-divider'>
                  <p class='uppercase opacity-3-4 micro-text'> My Majors </p>
                </div>
                <ion-item class='item-button-right request-form-item padding-half' ng-repeat="user_major in user.majors">
                    <p>{{user_major.name}}
                    </p>
                    <button class='button button-clear' ng-click='removeMajor(user_major, $index)' style='margin-right: -8px;'>
                        <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon' style='margin-top:-0.3em;' src='{{img_base}}./img/icons/close_icon.svg'>
                    </button>
                </ion-item>
            </ion-list>

            <div class='pure-g-c flex-column flex-space-between'>
              <div class='flex-item-c center'>
              </div>
              <div class='flex-item-c center j-start'>

                <div class='pure-g'>

                  <div class='pure-u-1'>
                    <p class='uppercase semibold nano-text opacity-1-2'>
                      Tap Any Popular Major
                    </p>
                  </div>
                  <div class='pure-u-1'>
                    <a class='course-tag major-tag' ng-click='majorSelected(major, $event)' style='font-size:60%;' ng-repeat='popular_major in static.popular_majors'>{{popular_major.name}}</a>
                  </div>


                </div>
              </div>

              <div class='flex-item-c j-start'>

              </div>
            </div>
        </ion-content>


</ion-view>