

<ion-view hide-nav-bar="true">
  <ion-content class='onboarding-confirm' scroll="false">
    <!-- stretch this -->
    <div class="pure-g-c flex-column">
        <div class="onboarding-confirm-header flex-item-c padding-1em">
            <h1 class='bold center white-text no-margin'> You're all set! </h1>
        </div>
        <div class='container relative'>
            <img ng-src='remote/img/splash-background.png' class="pure-img background-splash-img">
            <img ng-src='remote/img/university-banner.svg' class='university-banner'>
        </div>
        <div class="university-statistics center">
            <div class='pure-g-c'>
                <div class='pure-u-1-3 padding-1em'>
                    <h4 class='semibold no-margin'>24.2K</h4>
                    <h5 class='subheader'>students</h5>
                </div>
                <div class='pure-u-1-3 padding-1em'>
                    <h4 class='semibold no-margin'>11K</h4>
                    <h5 class='subheader'>gurus</h5>
                </div>
                <div class='pure-u-1-3 padding-1em'>
                    <h4 class='semibold no-margin'>100k</h4>
                    <h5 class='subheader'>students</h5>
                </div>
            </div>
        </div>
        <div class='pure-g center'>
            <div class='pure-u-1 padding-quarter popular-courses-header'>
                <h5 class='header white-text'>Popular Courses This Week</h5>
            </div>
        </div>
        <div class='pure-g courses-container center'>
            <div class='row course-row-1'>
                <div class='col course'>CA 110</div>
                <div class='col course'>CA 110</div>
                <div class='col course'>CA 110</div>
            </div>
            <div class='row course-row-2'>
                <div class='col course'>CA 110</div>
                <div class='col course'>CA 110</div>
                <div class='col course'>CA 110</div>
            </div>
        </div>
        <div class="get-started-container flex-item-c">
            <button class="button button-positive button-full" ui-sref='^.student-home'>
                Get Started
            </button>
        </div>
    </div>

  </ion-content>
</ion-view>