

<ion-view hide-nav-bar="true">
  <ion-content class='onboarding-university-wrapper' scroll="false">
    <!-- stretch this -->
    <div class="pure-g-c flex-column">
        <!-- <div class='pure-u-1'> -->
            <div class="padding-1em flex-item-c" style="visibility:none;" id='header'>
              <h5 class="header center">
                Find instant help from your class mates, <br>
                in seconds.
              </h5>
            </div>
            <img class="pure-img" ng-src="{{img_base}}./img/onboarding/guru-love.svg">
            <div class='flex-item-c'>
              <div class="padding-1em button-padding">
                <button class="button button-full button-positive" ng-click="togglePersonGuru()">
                  Find My University
                </button>
              </div>
              <div class='university-mini-logo-container'>
                  <!-- <div class='pure-g-c'>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfColoradoBoulder.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfHouston.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfIlliniosChicago.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfKansas.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfRhodeIsland.png"}}' class="img-pure"/>
                  </div>
                  <div class='pure-g-c'>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfMaine.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfMissouriColumbia.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/univOfNebraska.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfTennMartin.png"}}' class="img-pure"/>
                    <img ng-src='{{img_base + "remote/img/logos/UnivOfNorthCarolinaCharlotte.png"}}' class="img-pure"/>
                  </div> -->
                  <div class='pure-g-c' id='footer_1'>
                    <img ng-src='{{img_base}}./img/logos/UnivOfColoradoBoulder.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfHouston.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfIlliniosChicago.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfKansas.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfRhodeIsland.png' class="img-pure"/>
                  </div>
                  <div class='pure-g-c' id='footer_2'>
                    <img ng-src='{{img_base}}./img/logos/UnivOfMaine.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfMissouriColumbia.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/univOfNebraska.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfTennMartin.png' class="img-pure"/>
                    <img ng-src='{{img_base}}./img/logos/UnivOfNorthCarolinaCharlotte.png' class="img-pure"/>
                  </div>
                  <h6 class='footer'>Now at <u>100</u> universities!</h6>
              </div>
            </div>
    </div>

  </ion-content>
</ion-view>