<section id="request-one" class="request-slide">
	<header>
		<h1>Request Time</h1>
	</header>
	<div class="request-content relative">
		<div class='full-xy'>
			<div class='request-time'>
				<div class='request-form full-x'>
					<h2>I think I will need&nbsp;&nbsp;</h2>
					<div class="custom-dropdown request-hours">
						<div>
							<span>{{request.user.time_estimate.hours}}</span>
							<a ng-click='page.dropdowns.hour = !page.dropdowns.hour'>
								<svg viewBox="0 0 100 100">
									<path d="M14,32 L50,68 L86,32"></path>
								</svg>
							</a>
						</div>
						<ul class="ng-class:{'active':page.dropdowns.hour}">
							<li ng-repeat="_ in maxHourArr" tabindex ng-click="setHourDropdownValue($index + 1)">{{$index + 1}}</li>
						</ul>
						<div class="dropdown-overlay hide ng-class:{'show':page.dropdowns.hour}"></div>
					</div>
					<h2>&nbsp;&nbsp;hr and&nbsp;&nbsp;</h2>
					<div class="custom-dropdown request-minutes">
						<div>
							<span>{{request.user.time_estimate.minutes}}</span>
							<a ng-click='page.dropdowns.minutes = !page.dropdowns.minutes'>
								<svg viewBox="0 0 100 100">
									<path d="M14,32 L50,68 L86,32"></path>
								</svg>
							</a>
						</div>
						<ul class="ng-class:{'active':page.dropdowns.minutes}">
							<li tabindex ng-click='setMinDropdownValue(15)'>15</li>
							<li tabindex ng-click='setMinDropdownValue(30)'>30</li>
							<li tabindex ng-click='setMinDropdownValue(45)'>45</li>
						</ul>
						<div class="dropdown-overlay" ng-click='page.dropdowns.minutes = !page.dropdowns.minutes'></div>
					</div>
					<h2>&nbsp;&nbsp;min</h2>
				</div>
				<!-- <div ng-include="img_base + BASE + 'templates/request-cal.html'"></div> -->
			</div>
		</div>
	</div>
	<button>Next</button>
</section>