<ion-modal-view class='request-modal' ng-controller="RequestController">

  <ion-header-bar align-title="center" class='dark-bg-header mini-header'>
    <div class="buttons">
      <button class="button button-clear button-header-link cancel-button" ng-click='closeRequestModal()'>Cancel</button>
    </div>
    <h1 class="title">{{request_fields.title}}</h1>
    <div class="buttons">
      <button class="button button-clear button-header-link submit-button" id='done-button' ng-click='submitRequest()'>
        <span ng-show='!progress' class='ng-class:{"grey-text":!validateFormVanilla()}'>Done </span>
        <span class='blue' ng-show='progress'>Okay</span>
      </button>
    </div>
  </ion-header-bar>

  <ion-content ng-class='rounded-corners'>
      <ion-list class='standard-bg'>

          <ion-item class='item-avatar-left item-mini course-input-item item-icon-right' ng-click='focusCourseInput()'>
            <img class='pure-img'  src='{{img_base}}./img/verbs/{{request_fields.img}}' class=''/>
            <input type='text' name="course-input" class='light input-lg course-input form-control'id='course-input' ng-click='focusCourseInput()'
                fast-matcher
                fast-matcher-source="root.vars.courses"
                fast-matcher-output="root.vars.matchingCourses"
                fast-matcher-properties="short_name, title"
                fast-matcher-any-word="true"
                fast-matcher-limit="5"
                fast-matcher-preserve-order="true"
                fast-matcher-case-insensitive="true"
                placeholder="{{request_fields.course_placeholder}}"
                ng-model = "course_search_text"
                ng-change = "updateProgress(course_search_text)"

            />

            <!-- ng-change="updateProgress()" -->
            <a ng-click='toggleYourCourses()'>
              <img ng-show='show_student_courses' class='icon ion-plus-custom blue custom-icon pure-img chevron-filled-down' src='{{img_base}}./img/icons/chevron-filled-down.svg'>
              <img ng-show='!show_student_courses && user.student_courses && user.student_courses.length > 0 && root.vars.last_verb_index_clicked !== 2'class='icon ion-plus-custom blue custom-icon pure-img chevron-filled-down' src='{{img_base}}./img/icons/chevron-filled.svg'>
            </a>
          </ion-item>

          <div class='autocomplete-wrapper' ng-show='progress && root.vars.matchingCourses.length > 0'>
            <div class='item item-divider course-divider'>
              <p class='uppercase opacity-3-4 micro-text'> Suggestions </p>
            </div>
            <ion-item class='course-item' ng-repeat='course in root.vars.matchingCourses' ng-click='addSelectedCourse(course, course_search_text)'>
              <span class='course-name'> {{course.short_name}} </span> <span class='course-title'> {{course.title}} </span>
            </ion-item>
          </div>

          <div class='your-courses-wrapper' ng-show='show_student_courses && user.student_courses.length > 0'>
            <div class='item item-divider course-divider'>
              <p class='uppercase opacity-3-4 micro-text'> Your Courses </p>
            </div>
            <ion-item class='course-item' ng-repeat='student_course in user.student_courses' ng-click='addSelectedStudentCourse(student_course)'>
              <span class='course-name blue'> {{student_course.short_name}} </span> <span class='course-title'> {{student_course.title}} </span>
            </ion-item>
            <div class='item item-divider course-divider'>
              <p class='micro-text'>&nbsp;</p>
            </div>
          </div>

            <ion-item class='item-icon-right request-form-item' ng-click='launchLocationModal()' ng-hide='progress || request.address || !request_fields.show_location'>
              <p> Location </p>
            </ion-item>

            <ion-item ng-show='request.address && !progress' class='item-button-right request-form-item'  id='location-filled-item' >
              <a class='request-location-wrapper-link' ng-click='clearLocationButton()'>
                <p>{{request.address}}<br>
                  <span class='nano-text'>
                    <!-- {{request.location.city}}, {{request.location.state}}, {{request.location.country}} -->
                    {{request.city_info}}
                  </span>
                </p>
              </a>
              <button class='button button-clear' ng-click='resetLocation()' style='margin-right: -8px;'>
                <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon' style='margin-top:-0.3em;' src='{{img_base}}./img/icons/close_icon.svg'>
              </button>
            </ion-item>

          <ion-toggle ng-hide='progress || !request_fields.show_urgency' ng-model='request.urgency' class='request-form-item' ng-click='success.show(0, 2000, "Scheduled tutoring sessions coming soon!"); request.urgency = true;'>
            <p> Is this session urgent? </p>
          </ion-toggle>

          <div class='item item-divider' ng-hide='progress || !request_fields.show_divider_one' ng-click='!request.availability_edit || toggleAvailability()'>
          </div>
          <a ng-hide='progress || !request_fields.show_estimate' ng-blur='toggleAvailability()' ng-click='toggleAvailability()' class='item request-form-item'>
            <p class='inline'> How much time do you need?
            </p>
            <p class='align-right blue item-right-text'>{{request.time_estimate.hours}} hours <span ng-show='request.time_estimate.minutes > 0'>{{request.time_estimate.minutes}} min</span></p>
          </a>

          <ion-item  ng-show='request.availability_edit && !progress' class='scroll-availability-section relative item request-form-item' data-tap-disabled="true">
            <div id='test' style='margin-top:238px; margin-left:27%; position:absolute; margin-bottom:-260px;'> </div>
            <div class='pure-u-1 padding-2em'> </div>
            <div class='pure-u-1 padding-2em'> </div>
            <div class='pure-g'>
              <div class='pure-u-3-5 i-think-text'>

                I think I need...

              </div>
              <div class='pure-u-1-5'>

              </div>
              <div class='pure-u-1-5 i-think-text'>
                Hours
              </div>
            </div>
            <div class='pure-u-1 padding-2em'> </div>
            <div class='pure-u-1 padding-2em'> </div>

          </ion-item>

          <ion-item ng-hide='progress || request.urgency || !request_fields.show_availability' ng-click='launchAvailabilityModal()' class='request-form-item'>
            <a style='width:100%; height:100%;'>
              <p class='inline'> When are you available? </p>
              <p ng-show='!request.calendar.start_time.hours && !request.calendar.start_time.minutes'class='align-right blue item-right-text'>Pick a Time</p>
              <p ng-show='request.calendar.start_time.hours || request.calendar.start_time.minutes' class='align-right blue item-right-text'>{{request.calendar.date.formatted_date}}, {{request.calendar.formatted_start_time}} </p>
            </a>
          </ion-item>

          <div class='item item-divider' ng-hide='progress || !request_fields.show_divider_two' ng-click='!request.availability_edit || toggleAvailability()'>
          </div>
          <ion-item class='relative item-icon-right description-item request-form-item' ng-hide='progress' ng-click='launchDescriptionModal()' >
            <div class='empty-description-wrapper' ng-hide='progress || request.description || request.files.length > 0'>
              <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon request-icon' src='{{img_base}}./img/icons/paperclip.svg' style='margin-right: 0.33em; margin-top:0.4em;'>
              <span><p class='white-space-normal' style='padding-right:2em;'> {{request_fields.description_placeholder}}</p></span>
              <div class='pure-u-1 padding-1em'>&nbsp;<br></div>
              <div class='pure-u-1 padding-1em'>&nbsp;<br></div>
            </div>

            <div class='description-wrapper item-icon-right' ng-hide='progress || (!request.description && !request.files.length > 0)' style='margin-right: 0.33em;'>
              <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon request-icon' src='{{img_base}}./img/icons/paperclip.svg'>
              <p class='black white-space-normal' ng-show='request.description'>
                {{request.description}}
              </p>

            </div>


            <div class='pure-g' ng-show='request.files && request.files.length > 0' ng-show='true || request && request.files && request.files.length > 0'>
              <div class='pure-u-1' style='border-top: 1px solid rgba(0,0,0,0.1)'>
                <div class='pure-u-1-4' ng-repeat='file in request.files track by $index'>
                    <div class="attach-img pure-img padding-half" style='background-image:url("{{file.url}}")'>
                    </div>
                </div>
              </div>
            </div>

          </ion-item>
          <ion-item class='item-icon-left' ng-hide='progress' ng-click='launchTagsModal()'>
            <img style='margin-top:0.4em;'class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon' src='{{img_base}}./img/icons/tags.svg'>
            <p class='empty-tags-placeholder' ng-show='!request.tags || request.tags.length === 0'>Add some tags (optional)</p>
            <p class='tags-wrapper'>&nbsp;<span class='blue request-tag' ng-repeat='tag in request.tags'>#{{tag}} </span> </p>
          </ion-item>
      </ion-list>
  </ion-content>

</ion-modal-view>