
<ion-content class='full-height bg-charcoal' scroll='false'>
<section id="account" class="onboarding full-xy">
  <header>
    <div class="header-nav">
      <a class="header-nav-back" ng-click="signupModal.hide()">
        <i class='icon ion-chevron-down'>
        </i>
      </a>
    </div>
    <h1 class="onboarding-message">Just a few more details.</h1>
  </header>
  <div id="account-form" class="onboarding-list bg-slate">
    <input ng-show='!loginMode' class="input-ghost name-input" ng-model='signupForm.full_name' type="text" placeholder="Name">
    <input class="input-ghost" ng-model='signupForm.email' type="email" placeholder="Email">
    <input class="input-ghost" type="password" ng-model='signupForm.password' placeholder="Password">
    <a id="tos" ng-click='launchPrivacyPolicy()'>Terms &amp; Conditions</a>
    <div id="social-login">
      <button ng-show='loginMode'class="weight-600 bg-shamrock" ng-click='loginUser()'>Login</button>
      <button ng-show='signupForm.full_name && signupForm.full_name.length > 0'class="weight-600 bg-shamrock" ng-click='completeSignup()'>Create an Account</button>
      <button ng-hide='signupForm.full_name || signupForm.full_name.length > 0'class="weight-600 bg-fb" ng-click='connectWithFacebook()'>Sign in with Facebook</button>
      <button ng-show="!loginMode" class='weight-600 bg-charcoal'ng-click='loginMode = true;'>Or Login</button>
      <button ng-show="loginMode" class='weight-600 bg-charcoal' ng-click='loginMode = false;'>Or Create an Account</button>
    </div>
  </div>
</section>
</ion-content>

<!-- <ion-header-bar align-title="center" class='dark-bg-header no-background-image'>
      <div class="buttons">
        <button ng-if="!resetMode" class="button button-clear button-header-link grey-text light nano-text" ng-click='goBack()'>Cancel</button>
        <button ng-if="resetMode" class="button button-clear button-header-link grey-text light nano-text" ng-click='toggleBackToLoginMode()'>Back</button>
      </div>
      <h1 class="title micro-text">{{headerText}}</h1>
      <div class="buttons">
        <button class="button button-clear button-header-link submit-button" id='done-button' ng-click='completeSignup()'>
          <span class='ng-class:{"grey-text":signupForm.email.length === 0 || signupForm.password.length === 0 || signupForm.first_name.length === 0 || signupForm.last_name.length === 0}'>Submit</span>
        </button>
      </div>
    </ion-header-bar>

<ion-content>
    <ion-scroll class='has-header' style='overflow:visible'>
              <div class='container' style='padding-left:1em; padding-right:1em; margin-top:-5%;' ng-click='this.style.opacity = 0.1;'>
                <div class='pure-g'>
                  <a class='pure-u-1 padding-1em center micro-text semibold blue' style='padding-bottom:0px;' ng-show="loginMode" ng-click="toggleResetModeFromLogin()">
                      <p>Forgot your password?</p>
                  </a>
                </div>
                <div class='pure-g' style='padding-top:1em;'>
                  <div class='pure-u-1-2' ng-show='!loginMode && !resetMode'>
                    <label class="item item-input item-icon-right">
                      <input type="text" class='capitalized' id='first-name-input' ng-model='signupForm.first_name'  placeholder='First Name'></input>
                    </label>
                  </div>
                  <div class='pure-u-1-2' ng-show='!loginMode && !resetMode'>
                    <label class="item item-input item-icon-right">
                      <input type="text" class='capitalized' id='last-name-input' ng-model='signupForm.last_name' placeholder='Last Name'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="email" id='email-input' ng-model='signupForm.email' placeholder='Email'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g' ng-show="!resetMode">
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="password" id='password-input' ng-model='signupForm.password' placeholder='Password'></input>
                    </label>
                  </div>
                </div>
              </div>

                <div class='pure-g' ng-show='!loginMode && !resetMode'>
                  <div class='pure-u-1' style='padding-left:1em; padding-right:1em;'>
                    <a style='line-height:3.5em' ng-click='completeSignup()' class='button button-full light-blue-bg button-footer white-text uppercase'>Create Account</a>
                  </div>
                </div>

                <div class='pure-g' ng-show='loginMode && !resetMode'>
                  <div class='pure-u-1' style='padding-left:1em; padding-right:1em; margin-top:1em;'>
                    <a style='line-height:3.5em' ng-click='completeSignup()' class='button button-full light-blue-bg button-footer white-text uppercase'>Log In</a>
                  </div>
                </div>

                <div class='pure-g' ng-show='resetMode'>
                  <div class='pure-u-1' style='padding-left:1em; padding-right:1em; margin-top:1em;'>
                    <a style='line-height:3.5em' ng-click='attemptToResetPassword()' class='button button-full light-blue-bg button-footer white-text uppercase'>Reset Password</a>
                  </div>
                </div>


                <div class='pure-g' ng-show="!resetMode">
                  <div class='pure-u-1 padding-1em center' style='padding-top:0em; padding-bottom:0em;'>
                    <div class='pure-u-1 padding-half'>
                      <a class='center grey uppercase semibold nano-text padding-1em'> Or </a>
                    </div>

                    <a class='button button-full button-black uppercase fb-blue-bg'  ng-click='connectWithFacebook()' style='line-height:3.5em; font-size:90%;'>Continue with Facebook</a>

                  </div>
                </div>
                <div class='pure-u-1' style='font-size:150%; padding-left:1em; padding-right:1em;' ng-show='!resetMode'>
                  <div class='pure-u-1 center' id="E2E_SwitchLog" ng-show='user && !user.id'>
                      <a class='button button-full button-stable-outlined center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='!loginMode'> Already have an account? </a>
                      <a class='button button-full button-stable-outlined center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='loginMode'> or Sign Up Here </a>
                  </div>
                </div>
                <div class='pure-u-1'>
                  <a class='padding-1em center micro-text semibold' style='padding-bottom:0px;' ng-show="!loginMode" >
                      <a ng-click='launchPrivacyPolicy()'><p class='regular normal center micro-text'style='opacity:0.4;'> By signing up, you agree to our <strong>terms & privacy policy</strong></p></a>
                  </a>
                </div>


    </ion-scroll>
  </ion-content>
 -->