<ion-view hide-nav-bar='true' class='Signup'>
  <ion-header-bar align-title="center" class='dark-bg-header no-background-image'>
      <div class="buttons">
        <button class="button button-clear button-header-link grey-text light nano-text" ng-click='goBack()'>Cancel</button>
      </div>
      <h1 class="title micro-text">{{headerText}}</h1>
        <!-- <span ng-show='!loginMode'>Sign Up</span> -->
      <div class="buttons">
        <button class="button button-clear button-header-link submit-button" id='done-button' ng-click='completeSignup()'>
          <span class='ng-class:{"grey-text":signupForm.email.length === 0 || signupForm.password.length === 0 || signupForm.first_name.length === 0 || signupForm.last_name.length === 0}'>Submit</span>
        </button>
      </div>
    </ion-header-bar>

<ion-content scroll='false'>
    <ion-scroll class='has-subheader'>
                <div class='pure-g'>
                  <div class='pure-u-1-2' ng-show='!loginMode'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='first-name-input' ng-model='signupForm.first_name'  placeholder='First Name'></input>
                    </label>
                  </div>
                  <div class='pure-u-1-2' ng-show='!loginMode'>
                    <label class="item item-input item-icon-right">
                      <input type="tel" id='last-name-input' ng-model='signupForm.last_name' placeholder='Last Name'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="email" id='email-input' ng-model='signupForm.email' placeholder='Email'></input>
                    </label>
                  </div>
                </div>
                <div class='pure-g'>
                  <div class='pure-u-1'>
                    <label class="item item-input">
                      <input type="password" id='password-input' ng-model='signupForm.password' placeholder='Password'></input>
                    </label>
                  </div>
                </div>

                <div class='pure-u-1 padding-half'>
                  <div class='pure-u-1 padding-half center' id="E2E_SwitchLog" ng-show='user && !user.id'>
                      <a class='center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='!loginMode'> or <u>Login</u> Here </a>
                      <a class='center grey uppercase semibold nano-text'  ng-click='toggleLoginMode();' ng-show='loginMode'> or <u>Sign Up</u> Here </a>
                  </div>
                </div>


    </ion-scroll>
  </ion-content>

</ion-view>
