<div class-on-clear="slideOutUp:animOut"  class='splash-school-search opacity-0 absolute left-0 top-0 full-xy flex-wrap-center' id='splash-university' activate-on-class="show-splash-university" class-on-activate="opacity-1-impt:inject#splash-university [class-on-activate]|activate, opacity-1-impt:inject" class-on-activate-delay="1500" style='overflow:hidden;'>
    <header>
        <h1 class-on-activate="bounceInDown:anim" class="opacity-0">Find Your University</h1>
    </header>
    <div class='splash-map zoom-{{map.zoom}} bg-slate' style="height:calc(100%);" class-on-activate="fadeIn:anim" class-on-activate-delay="400">
        <ui-gmap-google-map id="splash-google-map" class='opacity-0 full-xy absolute top-0 left-0' center="map.center" refresh='map.refresh' bounds="mapBounds" bounces="map.bounds" events="map.events" options='map.options' control="map.control" pan="true" zoom="map.zoom" class-on-activate="fadeIn:anim" class-on-activate-delay="550">
            <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" icon="'icon'" clusterOptions="map.clusterOptions" clusterEvents="map.clusterEvents" doCluster="true">
            </ui-gmap-markers>
            <ui-gmap-window ng-if='false' closeClick="map.window.options.closeclick()" show='map.window.show' coords='map.window.coords' options="map.window.options">
                <div class='university-label'>
                    <a id='university-info-window-close-button' class='absolute top-0 right-0 txt-white high-z-index cta-modal-close close-button m05xy' ng-click='map.window.close()'>
                        <svg viewBox="0 0 100 100" style='height:20px; width:20px;' class='opacity-50'>
                            <path stroke="#FFFFFF" d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                        </svg>
                    </a>
                    <header style="background-image: url('{{map.window.university.banner_url}}')!important;">
                        <div style="background-color: {{map.window.university.school_color_dark}}!important"></div>
                        <h1>{{map.window.university.name}}</h1>
                    </header>
                    <div>
                        <!-- <ul>
                            <li>
                                <h2>Popular</h2>
                                <span>12k</span>
                            </li>
                            <li>
                                <h2>Courses</h2>
                                <span>725</span>
                            </li>
                            <li>
                                <h2>@{{map.window.university.school_tiny_name}}</h2>
                                <span>12</span>
                            </li>
                        </ul> -->
                        <button id='university-info-window-button' class="default" ng-click="selectUniversityFromMap(map.window.university)" style="background-color: {{map.window.university.school_color_dark}};">Go to School</button>
                    </div>
                </div>
            </ui-gmap-window>
        </ui-gmap-google-map>
    </div>
    <div class="splash-zoom opacity-0 absolute high-z-index" class-on-activate="fadeIn:anim" class-on-activate-delay="1000">Tap to Zoom</div>
    <div class="splash-school-search-form" ng-controller="AddUniversityCtrl">
        <div class="opacity-0" class-on-activate="bounceInDown:anim" class-on-activate-delay="1000">
            <form>
                <div class="input-field large white">
                    <i class="material-icons prefix">
                            <svg viewBox="0 0 100 100">
                                <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
                            </svg>
                        </i>
                    <input id='request-search-input' name='request-search-input' autocomplete="off" type="text" fast-matcher fast-matcher-source="universities" fast-matcher-output="filtered_universities" fast-matcher-properties="short_name, full_name, tiny_name, variations"
                        ng-model="search_text.university" ng-focus='focusUniversitySearchInput' />
                    <label for="request-search-input">
                        <span ng-show='universities.length'>search {{universities.length}} supported schools</span>
                    </label>
                    <a class="side-icon desktop-input-close-icon activated" ng-click="search_text.university = '';" ng-if="search_text.university.trim().length > 0">
                        <i class="icon ion-close-circled txt-white"></i>
                    </a>
                </div>
            </form>
        </div>
        <ul class="splash-school-desktop opacity-0" class-on-activate="zoomInDown:anim" class-on-activate-delay="3000">
            <li ng-repeat='university in universities | filter:search_text.university:strict | limitTo: 5 track by $index' ng-click='selectUniversityFromMap(university, true)'>
                <div class="school-card"> <!-- ng-class="{'activate':$index < 5}" class-on-activate="magictime:anim, boingInUp:anim, null:inject.school-card-icon-container|a" -->
                    <svg class="rect" viewBox="0 0 300 200">
                        <rect x="0" y="0" width="300" height="200" fill="none"></rect>
                    </svg>
                    <input type="radio" name="school-card" />
                    <div class="school-card-inside">
                        <div class="school-card-top" style="background-color: {{university.school_color_one}};">
                            <div class="school-card-icon-container">
                                <span class="school-card-icon" style="background-image: url({{university.svg_url || university.seal_url || university.logo_url}}); border-color: {{university.school_color_one}};">
                                    <span class="school-card-icon-bg" style="background-color: {{university.school_color_one}};"></span>
                                    <span class="school-card-state" ng-include="img_base + 'templates/svg/main/check.html'"></span>
                                    <span class="school-card-state" ng-include="img_base + 'templates/svg/main/plus.html'"></span>
                                </span>
                            </div>
                        </div>
                        <div class="school-card-main no-footer">
                            <div class="school-card-map"></div>
                            <div class="school-card-color" style="background-color: {{university.school_color_one}};"></div>
                            <div class="school-card-info">
                                <h1 style="color: {{university.school_color_one}};">{{university.short_name || university.name}}</h1>
                                <h1>{{university.short_name || university.name}}</h1>
                                <h2 style="color: {{university.school_color_one}};"><span>{{university.city}}</span>,&nbsp;<span>{{university.state}}</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="splash-map-stats" ng-controller="AddUniversityCtrl">
        <ul>
            <li class="opacity-0" class-on-activate="bounceInUp:anim" class-on-activate-delay="2200">
                <h4><span>Supported</span><span>Universities</span></h4>
                <h2 id='num-university-counter'>0</h2>
            </li>
            <!-- <li class="opacity-0" class-on-activate="bounceInUp:anim" class-on-activate-delay="2400">
                <h4><span>Available</span><span>Courses</span></h4>
                <h2 id='num-course-counter'>0</h2>
            </li> -->
            <li class="opacity-0" class-on-activate="bounceInUp:anim" class-on-activate-delay="2400">
                <h4><span>Student</span><span>Gurus</span></h4>
                <h2 id='num-guru-counter'>0</h2>
            </li>
        </ul>
    </div>

</div>
