<header>
    <h1>{{hiw.header}}</h1>
</header>
<div class="main">
    <div class="how-scene">
        <div class="how-scene-1" ng-include="::img_base + 'templates/hiw/1-open-24-7-scene.html'"></div>
        <div class="how-scene-2 opacity-0">
            <div class="ugrid-2">
                <div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <h1>Competitors</h1>
                    <h2>$50</h2>
                </div>
                <div>
                    <div ng-include="::img_base + 'templates/hiw/2-affordable-to-all-component.html'"></div>
                    <h1>Uguru</h1>
                    <h2>$25</h2>
                </div>
            </div>
        </div>
        <div class="how-scene-3 opacity-0">
            <ul class="ugrid-5">
                <li ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-guru.html'"></li>
                <li ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-guru.html'"></li>
                <li ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-guru.html'"></li>
                <li ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-guru.html'"></li>
                <li ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-guru.html'"></li>
            </ul>
            <div ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-conveyor.html'"></div>
        </div>
        <div class="how-scene-4 opacity-0" ng-include="::img_base + 'templates/hiw/4-instant-and-in-person-scene.html'"></div>
        <div class="how-scene-5 opacity-0">
            <div class="opacity-0" ng-include="::img_base + 'templates/hiw/5-student-run-placeholder.html'"></div>
            <ul class="ugrid-2">
                <li>
                    <div class="pf-card-outline">
                        <div class="pf-card-top">
                            <span class="user-icon" style="background-image: url('http://en.gravatar.com/userimage/5102999/8d85d1b0830237f7baa8d92405449db7.jpg?size=256')"></span>
                        </div>
                        <div class="pf-card-main">
                            <div class="pf-card-info">
                                <h1 class="verified">
                                    <span>Guru</span>
                                    <span class="inline" ng-include="::img_base + 'templates/credibility.verified.svg.html'"></span>
                                </h1>
                                <h2 class="pf-school">UC Berkeley</h2>
                                <ul class="pf-rating" data-rating="4" data-half="true" ng-include="::img_base + 'templates/svg/rating.html'"></ul>
                            </div>
                            <div class="pf-card-content">
                                <ul class="pf-courses">
                                    <li><span class="pf-course"><span>20 Courses</span></span></li>
                                    <li><span class="pf-course"><span>ART 13</span></span></li>
                                    <li><span class="pf-course"><span>ART 141</span></span></li>
                                    <li><span class="pf-course"><span>ART 301</span></span></li>
                                    <li><span class="pf-course"><span>ART 23AC</span></span></li>
                                    <li><span class="pf-course"><span>FILM 180</span></span></li>
                                    <li><span class="pf-course"><span>VA 180A</span></span></li>
                                    <li><span class="pf-course"><span>ART C179</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pf-card-outline">
                        <div class="pf-card-top">
                            <span class="user-icon" style="background-image: url('http://en.gravatar.com/userimage/5102999/8d85d1b0830237f7baa8d92405449db7.jpg?size=256')"></span>
                        </div>
                        <div class="pf-card-main">
                            <div class="pf-card-info">
                                <h1 class="verified">
                                    <span>Student</span>
                                    <span class="inline" ng-include="::img_base + 'templates/credibility.verified.svg.html'"></span>
                                </h1>
                                <h2 class="pf-school">UC Berkeley</h2>
                                <ul class="pf-rating" data-rating="4" data-half="true" ng-include="::img_base + 'templates/svg/rating.html'"></ul>
                            </div>
                            <div class="pf-card-content">
                                <ul class="pf-courses">
                                    <li><span class="pf-course"><span>20 Courses</span></span></li>
                                    <li><span class="pf-course"><span>ART 13</span></span></li>
                                    <li><span class="pf-course"><span>ART 141</span></span></li>
                                    <li><span class="pf-course"><span>ART 301</span></span></li>
                                    <li><span class="pf-course"><span>ART 23AC</span></span></li>
                                    <li><span class="pf-course"><span>FILM 180</span></span></li>
                                    <li><span class="pf-course"><span>VA 180A</span></span></li>
                                    <li><span class="pf-course"><span>ART C179</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="how-scene-6 opacity-0" ng-include="::img_base + 'templates/hiw/6-everyone-wins-scene.html'"></div>
    </div>
    <ul class="how-props active">
        <li>
            <a>
                <div class="hiw-open-container hiw-svg-container relative full-xy" ng-include="::img_base + 'templates/hiw/1-open-24-7-hover.html'"></div>
                <h1>Open<br/>24/7</h1>
            </a>
        </li>
        <li>
            <a>
                <div class="hiw-affordable-container hiw-svg-container relative full-xy" ng-include="::img_base + 'templates/hiw/2-afforable-to-all-hover.html'"></div>
                <h1>Affordable<br/>to&nbsp;All</h1>
            </a>
        </li>
        <li>
            <a>
                <div class="hiw-beyond-tutoring-container hiw-svg-container relative full-xy" ng-include="::img_base + 'templates/hiw/3-not-just-tutoring-hover.html'"></div>
                <h1>Not&nbsp;Just<br/>Tutoring</h1>
            </a>
        </li>
        <li>
            <a>
                <div class="hiw-instant-container hiw-svg-container relative full-xy" ng-include="::img_base + 'templates/hiw/4-instant-and-in-person-hover.html'"></div>
                <h1>Instant&nbsp;and<br/>In-Person</h1>
            </a>
        </li>
        <li>
            <a>
                <div class="hiw-student-run-container hiw-svg-container relative full-xy" ng-include="::img_base + 'templates/hiw/5-student-run-hover.html'"></div>
                <h1>Student<br/>Run</h1>
            </a>
        </li>
        <li>
            <a>
                <div class="hiw-svg-container hiw-everyone-container relative full-xy" ng-include="::img_base + 'templates/hiw/6-everyone-wins-hover.html'"></div>
                <h1>Everyone<br/>Wins</h1>
            </a>
        </li>
    </ul>
</div>
<!--
    <header>
        <h1 class="how-it-works-header opacity-0" class-on-activate="fadeIn:anim" class-on-activate-delay="400">{{::how_it_works.header}}</h1>
    </header>
    <div class='main'>
        <div class="mobile-postits">
            <ul class="mobile-postit-list">
                <li class="active">
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/anytime.html'"></span>
                        <h1>24/7, Anytime, Anywhere</h1>
                        <p>Request anything. Your peers can help you with biology @2am</p>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/save.html'"></span>
                        <h1 ng-bind-html="::how_it_works.top_half[1].header"></h1>
                        <p ng-bind-html="::how_it_works.top_half[1].content"></p>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/same.html'"></span>
                        <h1 ng-bind-html="::how_it_works.top_half[2].header"></h1>
                        <p ng-bind-html="::how_it_works.top_half[2].content"></p>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/organize.html'"></span>
                        <h1 ng-bind-html="::how_it_works.top_half[3].header"></h1>
                        <p ng-bind-html="::how_it_works.top_half[3].content"></p>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/career.html'"></span>
                        <h1 ng-bind-html="::how_it_works.top_half[4].header"></h1>
                        <p ng-bind-html="::how_it_works.top_half[4].content"></p>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/earn.html'"></span>
                        <h1 ng-bind-html="::how_it_works.top_half[5].header"></h1>
                        <p ng-bind-html="::how_it_works.top_half[5].content"></p>
                    </div>
                </li>
            </ul>
            <ul class="mobile-postit-thumbs">
                <li class="active">
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/anytime.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/save.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/same.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/organize.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/career.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <span ng-include="::img_base + 'templates/svg/splash/earn.html'"></span>
                        <h1>Lorem Ipsum</h1>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="desktop-postit-list">
            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInLeft:anim" class-on-activate-delay="800">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/anytime.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="1200"></span>
                                <h1 ng-bind-html="::how_it_works.top_half[0].header"></h1>
                                <p ng-bind-html="::how_it_works.top_half[0].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInDown:anim" class-on-activate-delay="500">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/save.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="900"></span>
                                <h1 ng-bind-html="::how_it_works.top_half[1].header"></h1>
                                <p ng-bind-html="::how_it_works.top_half[1].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInRight:anim" class-on-activate-delay="900">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/same.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="1300"></span>
                                <h1 ng-bind-html="::how_it_works.top_half[2].header"></h1>
                                <p ng-bind-html="::how_it_works.top_half[2].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInLeft:anim" class-on-activate-delay="700">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/organize.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="1000"></span>
                                <h1 ng-bind-html="::how_it_works.bottom_half[0].header"></h1>
                                <p ng-bind-html="::how_it_works.bottom_half[0].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInUp:anim" class-on-activate-delay="1000">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/career.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="1400"></span>
                                <h1 ng-bind-html="::how_it_works.bottom_half[1].header"></h1>
                                <p ng-bind-html="::how_it_works.bottom_half[1].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='hiw-postit-li opacity-0' class-on-activate="bounceInRight:anim" class-on-activate-delay="600">
                <div>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                    <svg class="tape opacity-0" viewBox="0 0 200 650" class-on-activate="fadeIn:anim" class-on-activate-delay="2000">
                        <path d="M200,0 L175,50 L150,0 L125,50 L100,0 L75,50 L50,0 L25,50 L0,0 L0,650 L25,600 L50,650 L75,600 L100,650 L125,600 L150,650 L175,600 L200,650 L200,0 Z" fill="#FFFFFF"></path>
                    </svg>
                     <div class="postit">
                        <svg class="square" viewBox="0 0 100 100">
                            <rect x="0" y="0" width="100" height="100"></rect>
                        </svg>
                        <div>
                            <div>
                                <span class="hiw-icon opacity-0" ng-include="::img_base + 'templates/svg/splash/earn.html'" class-on-activate="bounceIn:anim" class-on-activate-delay="1000"></span>
                                <h1 ng-bind-html="::how_it_works.bottom_half[2].header"></h1>
                                <p ng-bind-html="::how_it_works.bottom_half[2].content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> -->