<div class="splash-university-selected" ng-if='false'>
	<div class="splash-projector-guru">
		<div class="splash-logo-guru" ng-include="img_base + 'templates/svg/guru-head.html'"></div>
		<svg class="coach active" width="114px" height="98px" viewBox="0 0 228 196">
			 <path d="M48.386161,159.590945 C48.3861609,159.590943 47.5065944,177.922187 23.5796634,188.938294 C63.1658208,201.858782 77.415256,186.935364 86.5812235,178.667782 C146.539697,198.23757 207.421447,176.150125 222.564419,129.334091 C237.707391,82.518058 201.37725,28.7017162 141.418777,9.13192771 C81.4603034,-10.4378608 20.578553,11.6495847 5.43558085,58.4656181 C-6.12740226,94.2137525 12.3218247,134.043527 48.386161,159.590945 L48.386161,159.590945 L48.386161,159.590945 Z" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" opacity="0.9" fill="#40484B"></path>
			 <text transform="translate(116.193148, 94.776332) rotate(24.000000) translate(-116.193148, -94.776332) " font-family="Source Sans Pro" font-size="40" font-weight="normal" line-spacing="40" fill="#FFFFFF">
				 <tspan x="53.1931477" y="93.7763318">looking</tspan>
				 <tspan x="54.2131477" y="133.776332">snazzy!</tspan>
			</text>
		</svg>
	</div>
	<div class="splash-university-content">
		<div class="school-id-card">
			<svg viewBox="0 0 240 160">
				<rect x="0" y="0" width="300" height="175" fill="none"></rect>
			</svg>
			<div class="school-id-inside">
				<div class="school-id-top" style="background: #023360;">
					<span class="user-icon" style="border-color: #023360">
						<svg viewBox="0 0 100 100">
							 <circle fill="#B8B8BF" cx="50" cy="50" r="50"></circle>
							 <path d="M50,100 C64.0354871,100 76.7202586,94.2168993 85.8014664,84.903546 C84.3573333,71.9293333 76.6973333,61.0293333 65.5093333,55.8933333 C69.9226667,51.7493333 72.6986667,45.8826667 72.6986667,39.3653333 C72.6986667,26.8493333 62.516,16.6666667 50,16.6666667 C37.484,16.6666667 27.3013333,26.8493333 27.3013333,39.3653333 C27.3013333,45.8826667 30.0773333,51.7493333 34.4906667,55.8933333 C23.3026667,61.0293333 15.7036269,71.9488808 14.2036269,84.9035475 C23.2844841,94.2190612 35.9671367,100 50,100 Z" fill="#EBEBEF"></path>
						</svg>
					</span>
				</div>
				<div class="school-id-bottom">
					<div>
						<h1 style="color: #023360;">Student Name</h1>
						<h2 style="color: #023360;">UC Berkeley</h2>
						<h2 style="color: #023360;">email@domain.com</h2>
					</div>
					<h3><span style="color: #023360;">SELECTED COURSES</span></h3>
				</div>
				<a class="school-id-link">edit</a>
			</div>
		</div>
		<svg class="coach-edit-school" width="164px" height="64px" viewBox="0 0 328 128">
			<g fill="none">
				<path d="M120.317911,67.7067105 C120.317911,67.7067105 29.2908255,72.944755 12.2541432,2.77544641" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M36.8742458,11.9391835 L12.4081537,2.54753065 L3.01650084,27.0136227" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
				<text transform="translate(230.648024, 76.584107) rotate(7.000000) translate(-230.648024, -76.584107) " font-family="Source Sans Pro" font-size="40" font-weight="normal" line-spacing="40" fill="#FFFFFF">
					<tspan x="133.928024" y="75.584107">click to edit</tspan>
					<tspan x="133.148024" y="115.584107">your school</tspan>
				</text>
			</g>
		</svg>
	</div>
</div>
<div class-on-clear="slideOutUp:animOut"  class='splash-school-search opacity-0 absolute left-0 top-0 full-xy flex-wrap-center' id='splash-university' activate-on-class="show-splash-university" class-on-activate="opacity-1-impt:inject#splash-university [class-on-activate]|activate, opacity-1-impt:inject" class-on-activate-delay="1500" style='overflow:hidden;'>
<header>
<h1 class-on-activate="bounceInDown:anim" class="opacity-0">Find Your University</h1>
</header>
<div class='splash-map zoom-{{map.zoom}} bg-slate' style="height:calc(100%);" class-on-activate="fadeIn:anim" class-on-activate-delay="400">
<ui-gmap-google-map id="splash-google-map" class='opacity-0 full-xy absolute top-0 left-0' center="map.center" refresh='map.refresh' bounds="mapBounds" bounces="map.bounds" events="map.events" options='map.options' control="map.control" pan="true" zoom="map.zoom" class-on-activate="fadeIn:anim" class-on-activate-delay="550">
    <ui-gmap-markers models="map.markers" coords="'self'" options="'options'" icon="'icon'" clusterOptions="map.clusterOptions" clusterEvents="map.clusterEvents" doCluster="true">
    </ui-gmap-markers>
    <ui-gmap-window ng-if='false' closeClick="map.window.options.closeclick()" show='map.window.show' coords='map.window.coords' options="map.window.options">
        <div class='university-label'>
            <a id='university-info-window-close-button' class='absolute top-0 right-0 txt-white high-z-index cta-modal-close close-button m05xy' ng-click='map.window.close()'>
                <svg viewBox="0 0 100 100" style='height:20px; width:20px;' class='opacity-50'>
                    <path stroke="#FFFFFF" d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
                </svg>
            </a>
            <header style="background-image: url('{{map.window.university.banner_url}}')!important;">
                <div style="background-color: {{map.window.university.school_color_dark}}!important"></div>
                <h1>{{map.window.university.name}}</h1>
            </header>
            <div>
                <!-- <ul>
                    <li>
                        <h2>Popular</h2>
                        <span>12k</span>
                    </li>
                    <li>
                        <h2>Courses</h2>
                        <span>725</span>
                    </li>
                    <li>
                        <h2>@{{map.window.university.school_tiny_name}}</h2>
                        <span>12</span>
                    </li>
                </ul> -->
                <button id='university-info-window-button' class="default" ng-click="selectUniversityFromMap(map.window.university)" style="background-color: {{map.window.university.school_color_dark}};">Go to School</button>
            </div>
        </div>
    </ui-gmap-window>
</ui-gmap-google-map>
</div>
<div class="splash-zoom opacity-0 absolute high-z-index" class-on-activate="fadeIn:anim" class-on-activate-delay="1000">Tap to Zoom</div>
<div class="splash-school-search-form" ng-controller="AddUniversityCtrl">
<div class="opacity-0" class-on-activate="bounceInDown:anim" class-on-activate-delay="1000">
    <form>
        <div class="input-field large white">
            <i class="material-icons prefix">
                    <svg viewBox="0 0 100 100">
                        <path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
                    </svg>
                </i>
            <input id='request-search-input' name='request-search-input' autocomplete="off" type="text" fast-matcher fast-matcher-source="universities" fast-matcher-output="filtered_universities" fast-matcher-properties="short_name, full_name, tiny_name, variations"
                ng-model="search_text.university" ng-focus='focusUniversitySearchInput' />
            <label for="request-search-input">
                <span ng-show='universities.length'>search {{universities.length}} supported schools</span>
            </label>
            <a class="side-icon desktop-input-close-icon activated" ng-click="search_text.university = '';" ng-if="search_text.university.trim().length > 0">
                <i class="icon ion-close-circled txt-white"></i>
            </a>
        </div>
    </form>
</div>
<ul class="splash-school-desktop opacity-0" class-on-activate="zoomInDown:anim" class-on-activate-delay="3000">
    <li ng-repeat='university in universities | filter:search_text.university:strict | limitTo: 5 track by $index' ng-click='selectUniversityFromMap(university, true)'>
        <div class="school-card"> <!-- ng-class="{'activate':$index < 5}" class-on-activate="magictime:anim, boingInUp:anim, null:inject.school-card-icon-container|a" -->
            <svg class="rect" viewBox="0 0 300 200">
                <rect x="0" y="0" width="300" height="200" fill="none"></rect>
            </svg>
            <input type="radio" name="school-card" />
            <div class="school-card-inside">
                <div class="school-card-top" style="background-color: {{university.school_color_one}};">
                    <div class="school-card-icon-container">
                        <span class="school-card-icon" style="background-image: url({{university.svg_url || university.seal_url || university.logo_url}}); border-color: {{university.school_color_one}};">
                            <span class="school-card-icon-bg" style="background-color: {{university.school_color_one}};"></span>
                            <span class="school-card-state" ng-include="img_base + 'templates/svg/main/check.html'"></span>
                            <span class="school-card-state" ng-include="img_base + 'templates/svg/main/plus.html'"></span>
                        </span>
                    </div>
                </div>
                <div class="school-card-main no-footer">
                    <div class="school-card-map"></div>
                    <div class="school-card-color" style="background-color: {{university.school_color_one}};"></div>
                    <div class="school-card-info">
                        <h1 style="color: {{university.school_color_one}};">{{university.short_name || university.name}}</h1>
                        <h1>{{university.short_name || university.name}}</h1>
                        <h2 style="color: {{university.school_color_one}};"><span>{{university.city}}</span>,&nbsp;<span>{{university.state}}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
</div>