

<ion-view hide-nav-bar="true" class="student-request-form">

    <ion-header-bar class='header-bar'>
        <button class="button button-clear button-back" ng-click="goBackToGuruType()">Back</button>
        <h1 class="title">Session Length</h1>
        <button class="button button-clear button-back" ui-sref="^.request-calendar">Next</button>
    </ion-header-bar>

    <ion-content class='request-guru-type' scroll="false">
        <div class="pure-g-c flex-column flex-space-between">
            <div class='container'>
                <div class='padding-1em'>
                    <h5> I can meet </h5>
                </div>
                <div class='pure-g padding-1em'>
                    <div class='pure-u-1-2'>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='0'>
                            <div class="item-content">
                              1hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='1'>
                            <div class="item-content">
                              2hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='2'>
                            <div class="item-content">
                              3hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='3'>
                            <div class="item-content">
                              4hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='4'>
                            <div class="item-content">
                              5hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group1" ng-model='root.vars.request._length.hours' ng-value='5'>
                            <div class="item-content">
                              6hr
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                    <div class='pure-u-1-2'>
                        <label class="item item-radio">
                            <input type="radio" name="group2" ng-model='root.vars.request._length.minutes' ng-value='0'>
                            <div class="item-content">
                              0m
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group2" ng-model='root.vars.request._length.minutes' ng-value='1'>
                            <div class="item-content">
                              15m
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group2" ng-model='root.vars.request._length.minutes' ng-value='2'>
                            <div class="item-content">
                              30m
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group2" ng-model='root.vars.request._length.minutes' ng-value='3'>
                            <div class="item-content">
                              45m
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>

                </div>
        </div>
    </ion-content>

</ion-view>
