
<ion-view class='messages' hide-nav-bar = 'true' cache-view='false'>

  <ion-header-bar class="message-header-bar header-bar ng-class:{'bar-dark': user.guru_mode}">
    <a class="button button-clear button-back ng-class:{'button-white': user.guru_mode}"  ng-click='goBack()'>Back</a>
    <h5 class="title">{{message_name}}</h5>
  </ion-header-bar>

    <!-- <ion-nav-buttons side="secondary">

      <button class="button button-clear button-positive" ng-click="getMessagesFromServer(0, true)">
        <i class="icon ion-ios7-refresh-empty"></i>
      </button>
    </ion-nav-buttons> -->
    <!-- <ion-header-bar id="request-location" style="height:30px; text-align:center;" class="bar-subheader bar-dark nav-bar-text bold-font" style="background-color: rgb(43,50,52)" ng-init="init()">

      <div style="margin-top:5px; width:100%; white-space:no-wrap; overflow: hidden; text-overflow: ellipsis;text-transform:none; font-size:12px;">
        Last updated: {{last_updated}}
      </div> -->

    </ion-header-bar>
    <ion-content delegate-handle="message-scroll" ng-click='setUnfocus()' class='white-background message-content'>
        <ion-refresher
          pulling-icon="ion-arrow-down-c"
          spinner="circles"
          on-refresh="doRefresh()">
        </ion-refresher>
      <!-- <ion-scroll class="messages" ng-click="hideKeyboard()"> -->


        <div class='scroll pure-g-c flex-column center full-height message-content' ng-show='!messages || messages.length === 0'>
          <div class='padding-1em padding-1em flex-item-c'> </div>
          <div class='flex-item-c sleeping-guru light-opacity'>
            <img class='pure-img animated swing message-default-image' ng-src='{{img_base}}./img/guru-sleeping.svg' >
          </div>
          <div class='flex-item-c light-opacity padding-1em flex-direction-init '>
            <br>
            No messages yet.<br>
            <br>
            Start one with {{message_name}} now!
          </div>
        </div>

        <ul class="list message-item-list" style='margin-top:1em;'>
            <li class="item {{message.class}} message-item" ng-repeat="message in messages">
              <img ng-src="{{message.profile_url}}" ng-show='message.class === "item-avatar-left"'>
              <div class="text">
                <!-- <span class='sans-semibold' ng-show='message.sender.id !== user.id && message.sender.profile_url === default_profile_url'>{{message.sender.name.split(' ')[0]}}:</span> -->
                {{message.contents}}</div>
                <div class='text-time' ng-show='$index === messages.length - 1'>
                  {{message.formatted_time}} ago
                </div>
              <img ng-src="{{message.profile_url}}" ng-show='message.class === "item-avatar-right"'>
            </li>
        </ul>
      <!-- </ion-scroll> -->
    </ion-content>
    <ion-footer-bar class="bar-footer item-input-inset messages-footer-bar" keyboard-attach>
      <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" name="message-input" class="form-control"
                  placeholder="Enter a message"
                  ng-model="new_message.content"
                  ng-focus="setFocus()"
                  ng-blur="setFocus()"
                  ng-keypress="checkSubmission($event)"
          />
      </label>

      <button class="button button-clear button-positive positive button-search" ng-show="new_message.content.length > 0" ng-click="sendMessage(new_message.content)">
      Send
      </button>
    </ion-footer-bar>
</ion-view>