<ion-view class='bottom-0 bg-smoke full-xy' cache-view='false'>
	<a class='cta-modal-close close-button desktop-header-next absolute top-0 right-0 high-z-index p10xy'>
		<svg viewBox="0 0 100 100" class='p05xy'>
			<path stroke="#2B3234" d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
		</svg>
	</a>
	<main id='desktop-payments' class="desktop-mode full-xy" ng-if='desktopMode'>
		<div class='main absolute full-xy bottom-0'>
			<div id='payments'>
					<div id="payments-sidebar">
						<h1 class='text-center full-x'>My Transactions</h1>
						<ul class='flex-wrap-center opacity-50' ng-if="!(user.student_transactions && user.student_transactions.length)">
							<h2 class='text-center uppercase weight-700 txt-white'>No transactions yet</h2>
						</ul>
						<ul ng-if='user.student_transactions && user.student_transactions.length'>
							<li ng-repeat='transaction in user.student_transactions' class='relative'>
								<a class='flex-wrap full-x' ng-if='transaction._type === 2'  style='max-height:80px;'>
									<div class='payments-icon p05xy' class='p05xy' style='max-width:20%; background-image:url({{user.profile_url}})'> </div>
									<div class='txt-white payments-label weight-400'>
										<p>You purchased <span class='weight-800'> {{transaction.credits}} credits <br></span> for <span class='weight-800'>${{transaction.student_amount}}</span>
										</p>
									</div>
									<div class='transaction-card-wrapper'>
										<span class="card-type" ng-include="img_base + BASE + 'templates/cards/' + user.default_payment_card.card_type + '.html'">
					                    </span>
					                    <small class='txt-smoke'>
					                    	{{user.default_payment_card.card_last4}}
					                    </small>
									</div>
								</a>
							</li>
						</ul>
						<!-- <div id="payments-sidebar-search">
							<label for="payments-sidebar-search">
								<svg viewBox="0 0 100 100">
									<path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
								</svg>
							</label>
						</div> -->
					</div>
					<div id="payments-content" class='relative full-xy'>
						<div class='absolute flex-wrap ugrid-2 top-0 left-0 full-xy'>
							<div class='full-x top-0 left-0 flex-wrap-center relative'>
								<div class='full-xy absolute top-0 left-0 flex-wrap-center'>
									<div class='full-x p20top absolute top-0'>
										<h1 class='txt-charcoal text-center uppercase full-x p20xy'>My cards</h1>
									</div>
									<div class='ugrid-3 desktop-cards-container full-x' ng-class="{'ugrid-4':user.payment_cards.length === 2}">
										<div class='flex-wrap-center' ng-if='user.payment_cards.length <= 2'>
										</div>
										<div name='card' id='student-payment-cards' class='p20xy relative flex-wrap-center' ng-repeat='card in user.payment_cards'>
											<a name='cards-remove' class='credit-card-wrapper full-xy absolute p20xy'>
												<div class='credit-card-remove-link absolute full-xy invisible flex-wrap-center uppercase' ng-click='removeStudentPaymentCard(card)'>
													<h1> Remove </h1>
												</div>
								                <div id="credit-card-visa" class="credit-card cf">
								                  <span  ng-if='(card.is_payment_card || card.is_transfer_card) && card.card_type' class="card-type" ng-include="img_base + BASE + 'templates/cards/' + card.card_type + '.html'"></span>
								                  <span class='card-funding uppercase weight-600 txt-smoke opacity-50'>Debit Card</span>
								                  <div class="card-number">**** **** **** {{card.card_last4}}</div>
								                  <div class="card-name">{{user.name}}</div>
								                  <div class="valid">
								                    <div class="group">Valid<br/>Thru</div>
								                    <div class="expiry">**/**</div>
								                  </div>
								                </div>
								                <div class='default-text text-center bottom-0' ng-if='card.is_default_payment'>
									                <h3 class='p10xy'>
									                  <strong class='uppercase txt-shamrock'>&nbsp;&nbsp;Default Payment Card</strong>
									                </h3>
								            	</div>
								            	<div class='default-text text-center bottom-0' ng-if='!card.is_default_payment'>
									                <div  name='cards-default' ng-click='setStudentCardDefault(card)'>
										                <h3 class='p10xy'>
										                  <strong class='uppercase txt-slate'>Set to default</strong>
										                </h3>
										            </div>
								            	</div>
								            </a>
										</div>
									</div>
								</div>
							</div>
							<div class='student-add-card-container full-x flex-wrap-center'>
								<h1 class='txt-charcoal text-center uppercase'>Add a card</h1>
								<div class='flex-wrap-center desktop-cards-container full-x relative hide p20xy' ng-class="{'show':editStudentPaymentCard}">
									<div class='ugrid-2' style='width:80% left:10%;'>
										<div class='p20xy relative flex-wrap-center'>
											<a class='credit-card-wrapper full-xy absolute p20xy'>
							                  <div id="credit-card-visa" class="credit-card cf relative">
							                      <span ng-if='card.type' class="card-type absolute left-0 top-0 m15xy" ng-include="img_base + BASE + 'templates/cards/' + card.type + '.html'"></span>
							                      <span class="text-right absolute top-0 right-0 m15x m15y card-type txt-slate weight-700 uppercase" style='width:100px;'>
							                          <span style='padding:0;' class='no-padding-y'>Credit/ Debit Card</span>
							                      </span>
							                      <div class="card-number">{{card.number || '**** **** **** ****'}}</div>
							                      <div class="card-name">{{user.name}}</div>
							                      <div class="valid">
							                          <div class="group">Valid
							                              <br/>Thru</div>
							                          <div class="expiry">**/**</div>
							                      </div>
							                  </div>
							              </a>
										</div>
										<div style='width:320px; margin-top:30px;' class='left-0 mtop20 ptop20 flex-vertical-center flex-wrap'>
											<div class="input-field relative full-x">
						                      <input ng-model='card.number' ng-disabled='card.view_only' autocomplete="off" id="card-number" type="tel" class="validate" placeholder="**** **** **** ****"/>
						                      <label for="email" class='active'>Card Number</label>
						                      <a name='number-clear' ng-show="card.number.length" ng-click='card.number = "";' class="desktop-input-close-icon side-icon">
						                          <i class='icon ion-close-circled'> </i>
						                      </a>
						                  	</div>
											<ul class="ugrid-2 full-x">
						                      <li class='p05right'>
						                          <div class="input-field">
						                              <input autocomplete="off" ng-disabled='card.view_only' ng-model='card.exp' id="exp-date" type="tel" placeholder="09 / 17" class="validate" />
						                              <label for="password" class='active'>Expiration Date</label>
						                              <a name='exp-clear' ng-show="card.exp.length" ng-click='card.exp = "";' class="desktop-input-close-icon side-icon">
						                                  <i class='icon ion-close-circled'> </i>
						                              </a>
						                          </div>
						                      </li>
						                      <li class='p05left'>
						                          <div class="input-field">
						                              <input autocomplete="off" ng-model='card.cvc' id="cvv-number" type="tel" class="validate" placeholder='999' />
						                              <label for="password" class="active">CVV</label>
						                              <a name='cvc-clear' class="desktop-input-close-icon side-icon" ng-show="card.cvc.length">
						                                  <i class='icon ion-close-circled' ng-click='card.csv = ""'> </i>
						                              </a>
						                          </div>
						                      </li>
						                  </ul>
						                </div>
					                </div>
					                <div class='full-x uppercase text-center relative'>
					                	<button class='bg-moola txt-white absolute mtop20 ptop20' ng-click='addStudentPayment()' id='student-payment-add' style='max-width:320px;'>
					                		Add
					                	</button>
					                	<a class='cancel-link weight-400 uppercase' ng-click='editStudentPaymentCard = false;'>Cancel</a>
					                </div>
								</div>
								<div class='ugrid-3 desktop-cards-container full-x relative' ng-class="{'hide': editStudentPaymentCard}">
									<div class='flex-wrap-center'>
									</div>
									<div class='p20xy relative flex-wrap-center'>
										<a class='credit-card-wrapper full-xy absolute p20xy' ng-click='editStudentPaymentCard = true;'>
							                <div id="credit-card-visa" class="credit-card cf relative">
							                  <div class='absolute flex-wrap-center full-xy left-0' style='padding-bottom:20px'>
							                  	<svg viewBox="0 0 100 100" class='mbottom20' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style='height:40px; width:40px;'>
												    <path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
												</svg>
							                  </div>
							                </div>
							            </a>
									</div>
								</div>
							</div>
						</div>
						<!-- <div ng-controller='PaymentsController' id='payment-container' ng-include="img_base + BASE + 'templates/student.payments.components.html'">
						</div> -->

					</div>
			</div>

		</div>
	</main>
</ion-view>