  <ion-modal-view hide-nav-bar ='true' class='dark-bg incoming-proposal'>
  <ion-content class='white-text dark-bg has-header visible-overflow' scroll='false' >


        <ion-scroll class='full-height visible-overflow'>
          <div class='pure-g-c flex-column flex-space-between'>
              <div class='flex-item-c pure-g'>
                <!-- 1. create inset list, offset it by -5% margin-top -->
                <ion-list class='list-inset visible-overflow proposal-card-request' >

                  <!-- 2.  padding 2em h1 format bold, SemiBold, relative-->
                  <ion-item class='padding-2em item-avatar-left' style='padding-bottom:1em;'>
                    <img class='pure-img profile-img sidebar-img inline can-help-profile-img'  src='{{incoming_request.student.profile_url}}'/>
                    <h2 class='can-help-text' ><strong>{{incoming_request.student.name.split(' ')[0]}}</strong> can help!
                      <br>
                      <div class='padding-top-half ratings-wrapper'>
                        <div class='pure-u-1-12' ng-repeat='number in getNumber(incoming_request.guru.guru_avg_rating) track by $index'>
                          <i class='icon ion-star blue'></i>
                        </div><div class='pure-u-1-12' ng-repeat='number in getNumber(5 - incoming_request.guru.guru_avg_rating) track by $index'><i class='icon ion-star grey'></i></div>
                        <!-- <div class='pure-u-1-12'>
                          <i class='icon ion-star blue'></i>
                        </div>
                        <div class='pure-u-1-12'>
                          <i class='icon ion-star blue'></i>
                        </div>
                        <div class='pure-u-1-12'>
                          <i class='icon ion-star blue'></i>
                        </div>
                        <div class='pure-u-1-12'>
                          <i class='icon ion-star grey'></i>
                        </div> -->
                      </div>
                    </h2>

                  <!-- 3. Absolute positioning item, jack it from settings -->
                  </ion-item>
                  <!-- 4.  jack dfrom student, put hashtags, icon right-->
                  <ion-item class='item-avatar item-icon-right session course-details'>
                    <img class='pure-img verb-img' ng-src='{{img_base}}./img/verbs/{{incoming_request.verb_image}}' />
                      <h2 class='uppercase course-header'>{{incoming_request.course.short_name}}</h2>
                      <p class='tags-wrapper'>
                        <span class='blue incoming_request-tag' ng-repeat='tag in incoming_request.tags'>#{{tag}}
                        </span>
                      </p>
                    <img class='icon ion-plus-custom blue custom-icon pure-img list-custom-icon incoming_request-icon' src='{{img_base}}./img/icons/paperclip-outline-blue.svg' style='margin-right: 0.33em; margin-top:0.4em;'>

                  </ion-item>

                  <ion-item class='item-avatar-left card-item-left'>
                    <img class='icon ion-plus-custom blue custom-icon pure-img' src='{{img_base}}./img/icons/clock.svg'>
                      <div class='pure-u-1-4'>
                        <p class='inline'>
                          <span ng-show='incoming_request.time_estimate.hours && !incoming_request.time_estimate.minutes'>
                            {{incoming_request.time_estimate.hours}} hours
                          </span>
                          <span ng-show='incoming_request.time_estimate.minutes && !incoming_request.time_estimate.hours'>
                            {{incoming_request.time_estimate.minutes}} min
                          </span>
                          <span ng-show='incoming_request.time_estimate.minutes && incoming_request.time_estimate.hours'>
                            {{incoming_request.time_estimate.hour}}hr {{incoming_request.time_estimate.minutes}}m
                          </span>
                        </p>
                      </div>
                      <div class='pure-u-3-4 micro-text' style='padding-left:1em; opacity:0.8;'>

                        <strong>Thursday</strong>, May 14th, <br>
                        Between <strong>12:00 pm - 3:30 pm </strong>

                      </div>
                  </ion-item>

                  <!-- 5.  Same old but no orange> -->
                  <ion-item class='item-avatar-left card-item-left'>
                    <img class='icon ion-plus-custom blue custom-icon pure-img' src='{{img_base}}./img/icons/marker.svg'>
                    <p class='inline'> Meet up </p>
                    <p class='inline black' style='padding-left:1em'> {{incoming_request.address}} </p>
                  </ion-item>

                  <!-- 5.  Formalize list button-->

                  <div class='pure-u-1'>
                    <div id="map_canvas" style="height:100px;width: 100%;">
                      <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom"  pan="true" options="options">
                      </ui-gmap-google-map>
                    </div>
                  </div>




                  <div class='pure-u-1'>
                      <button class='button button-full button-blue blue-bg button-submit white-text center' ng-click='acceptIncomingGuru()'>
                          Awesome!
                      </button>
                  </div>
                  <div class='pure-u-1'>
                      <a class='close-modal-link' id='verb-cancel-button' ng-click='rejectIncomingGuru()'>
                        <p class='standard micro-text center'>
                          Uh oh! Cancel
                        </p>
                  </div>

                </ion-list>

              </div>

<!--
        <div class='flex-item-c pure-g j-start'>

        </div> -->


    </div>
  </ion-scrolL>


    </ion-content>
</ion-modal-view>