
<ion-view class='student-sessions'>
  <ion-header-bar class='header-bar'>
    <h5 class="title">My Sessions</h5>
    <a class='button button-clear' ng-click="addCourseModal.show()"></a>
  </ion-header-bar>
  <ion-tabs class="tabs-stable tabs-striped tabs-top session-tabs" delegate-handle="student-home-tabs-top">
    <ion-tab title="Upcoming" ng-show="topTabsDelegate.selectedIndex() === 0">
    </ion-tab>

    <ion-tab title="Completed" ng-show="topTabsDelegate.selectedIndex() === 1">
    </ion-tab>
  </ion-tabs>

  <ion-content class='pure-g-c flex-column center' scroll="False" ng-show=''>
    No sessions yet! <br> Try <strong> requesting help </strong> below
  </ion-content>

  <ion-content class='has-subheader'>
    <div class="list">
      <a class="item item-avatar-right upcoming-session-card">
        <img ng-src="{{img_base + '/remote/img/shun.png'}}">
        <h2>Peter, Bio 1A</h2>
        <h4 class='pending'> PENDING </h4>
      </a>
    </div>
    <div class="list">
      <a class="item item-avatar-right upcoming-session-card">
        <img ng-src="{{img_base + '/remote/img/shun.png'}}">
        <h2>Peter, Bio 1A</h2>
        <h4 class='scheduled'> Tuesday at 2:00pm </h4>
      </a>
    </div>
    <div class="list">
      <a class="item item-avatar-right upcoming-session-card">
        <img ng-src="{{img_base + '/remote/img/shun.png'}}">
        <h2>Peter, Bio 1A</h2>
        <h4 class='scheduled'> Tuesday at 2:00pm </h4>
      </a>
    </div>
  </ion-content>

</ion-view>