<ion-view hide-nav-bar='true'>
    <ion-header-bar class='header-bar'>
        <a class='button button-clear button-back' nav-direction="back" href="#/student-request">Back</a>
        <h5 class='title'>Add Your Location</h5>
        <a class="button button-clear button-back bold positive uppercase" nav-direction='forward' href="#/request-description">Next</a>
    </ion-header-bar>

    <ion-content has-header="true" has-footer="false" padding="false" scroll="false" style="bottom:0;">

      <ion-pane id="map_canvas" style="height: 100%;width: 100%;margin: 0px;">
          <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom"  pan="true" options="options">
            <!-- <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box> -->
          </ui-gmap-google-map>
      </ion-pane>
      <!-- <ion-pane id="request-map" class="content-stable map" data-tap-disable="true">
      </ion-pane> -->
    </ion-content>

    <!-- <ion-footer-bar style="height: auto; background-color:transparent; z-index:20;" class="extra-padding-sides">
      <button ui-sref='^.request-description' style="height:4em"class="button button-positive button-full button-positive"><span class="icon ion-navigate"></span>Set Location </button>
    </ion-footer-bar> -->
</ion-view>