

<ion-view hide-nav-bar="true" class="student-request-duration">

    <ion-header-bar class='header-bar'>
        <a class="button button-clear button-back" nav-direction="back" href="#/student-request">Back</a>
        <h5 class="title">Session Length</h5>
        <a class="button button-clear button-back bold positive uppercase" ui-sref="^.request-calendar">Next</a>
    </ion-header-bar>

    <ion-content class='request-guru-type' scroll="false">
        <div class="pure-g-c flex-column flex-space-between">
            <div class='container'>
                <div class='padding-1em'>
                    <h5> This session should last at least </h5>
                </div>
                <div class='pure-g margin-1em scroll-container'>
                        <div class='pure-u-1-2 padding-1em'>
                            <div class='pure-g-c flex-column hour-scroll'>

                                <a class='button button-icon button-clear flex-item-c' ng-click='decrementHour()'>
                                    <i class='icon ion-chevron-up positive'></i>&nbsp;&nbsp;
                                </a>
                                <div class='flex-item-c hours-offset'>
                                    <span ng-show='(root.vars.request._length.hours - 1) >= 0'>
                                    {{(root.vars.request._length.hours - 1)}}</span>&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class='flex-item-c main-hours'>
                                    <strong>{{root.vars.request._length.hours + 0}}</strong>h
                                </div>
                                <div class='flex-item-c hours-offset'>
                                    <span>{{root.vars.request._length.hours + 1}}</span>&nbsp;&nbsp;&nbsp;
                                </div>
                                <a class='button button-icon button-clear flex-item-c' ng-click='incrementHour()'>
                                    <i class='icon ion-chevron-down positive'></i> &nbsp;
                                </a>

                            </div>

                        </div>
                        <div class='pure-u-1-2 padding-1em'>

                            <div class='pure-g-c flex-column min-scroll'>

                                <a class='button button-icon button-clear flex-item-c' ng-click='decrementMinute()'>
                                    <i class='icon ion-chevron-up positive'></i>
                                </a>
                                <div class='flex-item-c minutes-offset'>
                                    <span ng-show='(root.vars.request._length.minutes - 1) > 0'>
                                        {{root.vars.request._length.minutes * 15 - 15}}
                                    </span>
                                    <span ng-show='(root.vars.request._length.minutes - 1) === 0'>
                                        00
                                    </span>
                                    <span ng-show='(root.vars.request._length.minutes - 1) === -1'>
                                        &nbsp;&nbsp;
                                    </span>
                                </div>
                                <div class='flex-item-c main-minutes'>
                                    {{root.vars.request._length.minutes * 15}}m
                                </div>
                                <div class='flex-item-c minutes-offset'>
                                    {{root.vars.request._length.minutes * 15 + 15}}
                                </div>
                                <a class='button button-icon button-clear flex-item-c' ng-click='incrementMinute()'>
                                    <i class='icon ion-chevron-down positive'></i> &nbsp;
                                </a>

                            </div>

                        </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
