    <ion-nav-back-button class="button-clear" style="width:75px;">
          <img src="./img/left-chevron.png" class='uguru-back-button'/>
    </ion-nav-back-button>
    <ion-content>
      <div class="new-setting">
        <div class="space-2">

          <ul class="list">
            <li class="item padding-2-14 center background-black-8" ng-show="user.guru_mode">

              <div class="black-box">
                <div class="profile">

                  <div><img ng-src='{{user.profile_url}}' class="icon"></div>
                  <div class="name">{{user.name}}

                    <span class="guru" ng-show="user.guru_mode">GURU</span>
                    <span class="guru" ng-show="!user.guru_mode">STUDENT</span>
                  </div>

                  <div class="major">{{user.university.title}} <br>
                    <span ng-show="user.majors && user.majors.length > 0">
                      ({{user.majors[0].name}})
                    </span>
                  </div>

                </div>
              </div>
              <div class="message" ng-show="user.guru_mode && user.guru_introduction">{{user.guru_introduction}}</div>
            </li>

            <li class="item padding-2-14 center">
              <div class="sessions">
                <div class="row">
                  <div class="col col-50">
                    <div class="number">{{user.student_sessions.length}}</div>
                    <div class="detail">sessions</div>
                  </div>
                  <div class="col col-50">
                    <div class="number">{{user.student_courses.length}}</div>
                    <div class="detail">classes</div>
                  </div>
                </div>
              </div>
            </li>
            <a class="item gray item-icon-right" ng-click="goToEditProfile()">
              Edit my profile, classes, university
              <i style="font-size:14px;" class="icon item-note ion-chevron-right positive"></i>
            </a>
            <div class="item item-divider" ng-show="user.guru_mode">
              GURU COURSES
            </div>
            <a class="item gray" ng-show="user.guru_mode">
              <div class="courses">
                <span class="bold-font sm-box-orange" ng-repeat="course in user.guru_courses">{{course.short_name}}</span>
                <span class="bold-font sm-box-green" ng-click="addCourseModal.show();">ADD A CLASS</span>
              </div>
            </a>
            <div class="item item-divider" ng-show="user.guru_mode">
              STUDENT COURSES
            </div>
            <a class="item gray" ng-show="user.guru_mode">
              <div class="courses">
                <span class="bold-font sm-box-orange" ng-repeat="course in user.student_courses">{{course.short_name}}</span>
                <span class="bold-font sm-box-green" ng-click="addCourseModal.show();">ADD A CLASS</span>
              </div>
            </a>
            <a class="item item-icon-right gray" ng-click="switchToStudentMode()" ng-show="user.is_a_guru && user.guru_mode">
              Switch to Student Mode
              <i style="font-size:14px;" class="icon item-note ion-chevron-right positive"></i>
            </a>
            <a class="item item-icon-right gray" ng-click="switchToGuruMode()" ng-show="user.is_a_guru && !user.guru_mode">
              Switch to Guru Mode
              <i style="font-size:14px;" class="icon item-note ion-chevron-right positive"></i>
            </a>
            <a class="item gray positive" ng-click="goToGuruMode()" ng-show="!user.is_a_guru">
              Become a Guru
            </a>
            <div class="item item-divider">
              PRIVACY SETTINGS
            </div>
            <a class="item gray" ng-click="goToNotifications()">
              Notification Settings
            </a>
            <div class="item item-divider">
              PAYMENT SETTINGS
            </div>
            <a class="item gray" ng-click="goToCards()">
              Payment / Bank Cards
            </a>
            <a class="item gray" ng-click="goToTransferFunds()" ng-show="user.balance">
              Cash Out <strong class="positive">${{user.balance}}</strong>
            </a>
            <a class="item gray" ng-click="goToTransactions()">
              Transaction History
            </a>
            <div class="item item-divider" >
              ACCOUNT SETTINGS
            </div>
            <a class="item gray" href="#" ng-click="showSignupModal()" ng-show="!user.auth_token">
              Create an Account
            </a>
            <a class="item gray" href="#" ng-click="showLoginModal()" ng-show="!user.auth_token">
              Login
            </a>
            <a class="item gray" href="#" ng-click="logoutUser()" ng-show="user.auth_token">
              Logout
            </a>

            <div class="item item-divider">
              DEV SETTINGS
            </div>
            <a class="item gray" ng-click="clearCache()">
              Clear Cache
            </a>
          </ul>
          </ul>
        </div>
    </div>
  </ion-content>
  <!-- <div class="bar bar-footer uguru-footer">
    <div class="row">
      <div class="col center"><img src='./img/glass.png' class='width'></div>
      <div class="col center"><img src='./img/book.png' class='width'></div>
      <div class="col center border-bottom"><img src='./img/setting.png' class='width'></div>
    </div>
  </div> -->