<ion-modal-view  class='uguru-view bg-charcoal support-modal'>

<section class="full-xy">

    <header class='text-center'>
        <div class="header-nav">
            <a class="header-nav-back" ng-click="supportModal.hide()">
                <i class='icon ion-chevron-down'>
                </i>
            </a>
        </div>
        <h1 class="onboarding-message margin-auto inline-block">Support Q&A</h1>
    </header>

  <ion-content class='white-bg has-header full-height' scroll='false'>
    <div class='intercom-parent-container' ng-include="img_base + 'templates/intercom.default.html'"> </div>
  </ion-content>
</section>
</ion-modal-view>