<ion-view hide-nav-bar='true' class='courses'>
   <div class="bar bar-header dark-bg-header mini-header uppercase relative" style='width:auto;'>
      <div class="buttons">
      <button class="button button-clear button-header-link cancel-button button-left" ng-click='backToStudentEditProfile()'>Back</button>
      </div>
      <h1 class="title bold">Edit University</h1>
      <div class='buttons'>
        <button style='padding-top:0.1em;'class="button button-clear button-header-link submit-button button-right " id='done-button' ng-click='backToStudentEditProfile(true)'>Save</button>
      </div>
  </div>
<ion-content class='dark-bg has-header' scroll='false'>
    <div class='pure-g'>
      <div class="list pure-u-1">
        <label class="item item-input bg-transparent university-label no-margin no-border no-box-shadow view-2">
              <i class='icon ion-search onboarding-search-icon' ng-hide="search_text.length > 0"></i>
              <input id='university-input' type="text" class='ng-class:{"align-left-start":search_text.length > 0}'
              fast-matcher
                      fast-matcher-source="universities"
                      fast-matcher-output="matchingUniversities"
                      fast-matcher-properties="title, keywords"
                      fast-matcher-any-word="true"
                      fast-matcher-limit="5"
                      fast-matcher-preserve-order="true"
                      fast-matcher-case-insensitive="true"
                      placeholder="Search Your University"
                      ng-model="search_text"
                      ng-blur="setFocus()"/>
          <!-- </span> -->
        </label>
      </div>
    </div>
    <ion-list>
      <ion-scroll>
      <ion-item class='item-button-right request-form-item'  id='location-filled-item' ng-repeat="university in matchingUniversities" ng-click="saveUniversityFromStudentProfileSideBar(university)">
                  <p class='semibold'>{{university.title}}<br>
                    <span class='nano-text'>

                      {{university.city}}, {{university.state}}
                    </span>
                  </p>
                <div class='button button-clear' style='margin-right: -8px; font-size:80%' ng-show='university.miles'>
                  {{university.miles}}
                </div>
      </ion-item>
      <ion-item class='item-button-right request-form-item'  id='location-filled-item' ng-repeat="university in static.nearest_universities.slice(0, 8)" ng-click="saveUniversityFromStudentProfileSideBar(university)">
                  <p class='semibold'>{{university.title}}<br>
                    <span class='nano-text'>

                      {{university.city}}, {{university.state}}
                    </span>
                  </p>
                <div class='button button-clear nano-text blue' style='margin-right: -8px; font-size:80%' ng-show='university.miles'>
                  {{university.miles}}m
                </div>
      </ion-item>
    </ion-list>

</ion-content>


</ion-view>
