<ion-view hide-nav-bar ='true' class='university' ng-controller='AddUniversityController'>



  <ion-content class='white-text subdark-bg university-view-2' scroll='false' ng-show='view === 2'>
    <ion-header-bar align-title="center" class='dark-bg-header no-background-image uppercase' ng-show='view === 2'>
      <div class="buttons">
        <button ng-click='toggleView(1)' class="button button-clear button-header-link grey-text light nano-text opacity-1-2" >Cancel</button>
      </div>
      <h1 class="title bold" style='font-size:90%'>Enter My University</h1>
    </ion-header-bar>
    <div class='pure-g' style='margin-top:65px;'>
      <div class="list pure-u-1">
        <label class="item item-input bg-transparent university-label no-margin no-border no-box-shadow view-2">
          <span class='university-input-container relative'>
              <i class='icon ion-search'></i>
              <input id='university-input' type="text"
              fast-matcher
                      fast-matcher-source="universities"
                      fast-matcher-output="matchingUniversities"
                      fast-matcher-properties="title, keywords"
                      fast-matcher-any-word="true"
                      fast-matcher-limit="10"
                      fast-matcher-preserve-order="true"
                      fast-matcher-case-insensitive="true"
                      placeholder="Search Your University"
                      ng-model="search_text"
                      ng-blur="setFocus()"/>
          </span>
        </label>
      </div>
    </div>
    <ion-list>
      <ion-scroll>
      <ion-item class='item-button-right request-form-item'  id='location-filled-item' ng-repeat="university in matchingUniversities" ng-click="universitySelected(university, $event)">
                  <p>{{university.title}}<br>
                    <span class='nano-text'>

                      {{university.city}}, {{university.state}}
                    </span>
                  </p>
                <div class='button button-clear' style='margin-right: -8px;' ng-show='university.miles'>
                  {{university.miles}}
                </div>
      </ion-item>
      <ion-item class='item-button-right request-form-item'  id='location-filled-item' ng-repeat="university in static.nearest_universities.slice(0, 10)" ng-click="universitySelected(university, $event)">
                  <p>{{university.title}}<br>
                    <span class='nano-text'>

                      {{university.city}}, {{university.state}}
                    </span>
                  </p>
                <div class='button button-clear nano-text blue' style='margin-right: -8px;' ng-show='university.miles'>
                  {{university.miles}}m
                </div>
      </ion-item>
    </ion-list>
  </ion-scroll>
  </ion-content>
  <ion-content class='white-text dark-bg' scroll='false' ng-show='view === 1'>
      <div class='pure-g-c flex-column flex-space-between'>
        <div class='flex-item-c center'>
        </div>
        <div class='flex-item-c center j-start'>

          <div class='pure-g'>

            <div class='pure-u-1'>
              <p class='standard university-header'>
                I am a
                <select class='student-width'>
                    <option selected>student</option>
                    <option>professional</option>
                    <option>parent</option>
                    <option>graduate</option>
                </select>attending
              </p>
            </div>


          </div>
        </div>

        <div class='flex-item-c j-start'>
          <div class='pure-g'>
                  <div class="list pure-u-1 padding-half-horizontal">
                    <ion-item class='item-icon-left fake-university-input' ng-click='toggleView(2)'>
                        <i class='icon ion-search'></i>
                        <p class='fake-placeholder-text'>
                          Enter your university
                        </p>
                      </span>
                    </label>
                  </div>
          </div>

        </div>

        <div class='flex-item-c j-end center'>
          <!-- <div class='pure-u-1'> -->
            <button class='button button-full light-blue-bg button-footer white-text' ng-click='getLocation()'>Find My University</button>
          <!-- </div> -->
        </div>

      </div>
  </ion-content>
</ion-view>