#gpa-home {
  background: #F1F1F1;
}

#gpa-home #top-bar {
  background: #40acb8 !important;
}

#gpa-home #top-bar div:nth-child(2) div {
  background: #40acb8 !important;
}

#gpa-home #top-bar div:nth-child(2) #top-logo {
  width: calc(100% - 212px + 64px) !important;
}

/* ---------- HOME */
#home-container #home-gpa h1, #home-container #home-gpa h2 {
  color: #40acb8;
}

#home-container .gpa-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 15px;
  height: 45%;
}

#home-container .gpa-container .gpa {
  font-size: 160px;
  font-weight: 600;
  line-height: 1;
}

#home-container .gpa-container h2 {
  font-weight: 600;
}

#home-container #home-add {
  height: 50%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#home-container #home-add button {
  border-radius: 1000px;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 10px;
}

#home-container #home-add button svg {
  fill: none;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: block;
  width: 100%;
  height: 100%;
}

#home-container #home-add button:hover {
  background: white;
}

#home-container #home-add button:hover svg {
  stroke: #40acb8;
}

#home-container #home-add button:active, #home-container #home-add button:focus {
  background: #338992;
}

#home-container #home-add button:active svg, #home-container #home-add button:focus svg {
  stroke: white;
}

#home-container #home-add span {
  display: block;
  margin: 15px auto 0;
  width: 100%;
  color: rgba(64, 72, 75, 0.4);
  font-weight: 600;
}

#home-container #home-courses {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 60%;
  overflow: auto;
}

#home-container #home-courses #semester-slider {
  display: none;
  background: rgba(64, 172, 184, 0.6);
}

#home-container #home-courses #semester-slider ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#home-container #home-courses #semester-slider ul li a {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 128px;
  height: 90px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

#home-container #home-courses #semester-slider ul li a:not(.nav) {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

#home-container #home-courses #semester-slider ul li a svg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 50px;
}

#home-container #home-courses #semester-slider ul li a:hover, #home-container #home-courses #semester-slider ul li a:active, #home-container #home-courses #semester-slider ul li a:focus, #home-container #home-courses #semester-slider ul li a.active {
  color: white;
  border-bottom-color: white;
}

#home-container #home-courses #semester-slider ul li a:hover svg, #home-container #home-courses #semester-slider ul li a:active svg, #home-container #home-courses #semester-slider ul li a:focus svg, #home-container #home-courses #semester-slider ul li a.active svg {
  stroke: white;
}

#home-container #home-courses #semester-slider ul li a.active {
  font-weight: 900;
}

#home-container #home-courses .semester-list {
  width: 100%;
}

#home-container #home-courses .semester-list .semester-item {
  background: rgba(64, 172, 184, 0.5);
}

#home-container #home-courses .semester-list .semester-item .header-close {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

#home-container #home-courses .semester-list .semester-item .header-close svg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 28px;
  height: 28px;
}

#home-container #home-courses .semester-list .semester-item .header-close svg path {
  fill: none;
  stroke: white;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#home-container #home-courses .semester-list .semester-item:not(.active) ul {
  height: 0;
  overflow: hidden;
  padding-bottom: 1px;
}

#home-container #home-courses .semester-list .semester-item .gpa-container {
  display: none;
}

#home-container #home-courses .semester-list .semester-item.selected {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100%;
  height: 100%;
  background: #9bd6dc;
}

#home-container #home-courses .semester-list .semester-item.selected .header-close {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

#home-container #home-courses .semester-list .semester-item.selected .section-header {
  height: auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
}

#home-container #home-courses .semester-list .semester-item.selected .gpa-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 45px;
}

#home-container #home-courses .semester-list .semester-item:not(.selected) .gpa-container {
  height: 0;
  overflow: hidden;
}

#home-container #home-courses .semester-list .semester-item:not(.selected) ul li {
  display: none;
}

#home-container #home-courses .semester-list .semester-item:not(.selected) ul li:nth-child(1), #home-container #home-courses .semester-list .semester-item:not(.selected) ul li:nth-child(2) {
  display: block;
}

#home-container #home-courses .semester-list .semester-item div .section-header {
  background: #40acb8;
}

#home-container #home-courses .semester-list .semester-item div ul {
  padding-bottom: 15px;
}

#home-container #home-courses .semester-list .semester-item div ul:empty {
  padding-bottom: 1px;
}

#home-container #home-courses .semester-list .semester-item div ul li {
  position: relative;
  margin: 15px 15px 0;
  padding: 20px;
  background: white;
  color: #40acb8;
}

#home-container #home-courses .semester-list .semester-item div ul li h3 {
  font-weight: 600;
  text-align: left;
}

#home-container #home-courses .semester-list .semester-item div ul li .mobile-only {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 58px;
  height: 58px;
  background: rgba(64, 172, 184, 0.75);
}

#home-container #home-courses .semester-list .semester-item div ul li .mobile-only span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 100%;
  color: white;
  font-weight: 600;
  text-align: center;
}

#home-container #home-courses .semester-list .semester-item div ul li .mobile-only .semester-course-grade {
  top: 0;
  padding-top: 10px;
  font-size: 32px;
}

#home-container #home-courses .semester-list .semester-item div ul li .mobile-only .semester-course-credits {
  bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 700px) and (min-height: 575px) {
  #home-container {
    margin-top: 64px;
    height: calc(100% - 64px) !important;
  }
  #home-container #home-gpa {
    height: 35%;
  }
  #home-container #home-gpa div {
    margin-top: -2%;
  }
  #home-container #home-courses {
    height: 65%;
    max-height: 65%;
    overflow: hidden;
    position: static;
  }
  #home-container #home-courses #semester-slider {
    display: block;
  }
  #home-container #home-courses .semester-list {
    background: #40acb8;
    height: calc(100% - 90px);
  }
  #home-container #home-courses .semester-list .semester-item {
    background: none;
  }
  #home-container #home-courses .semester-list .semester-item:not(.active) {
    display: none;
  }
  #home-container #home-courses .semester-list .semester-item .section-header {
    display: none;
  }
  #home-container #home-courses .semester-list .semester-item div ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 0;
  }
  #home-container #home-courses .semester-list .semester-item div ul li {
    display: block !important;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
  }
  #home-container #home-courses .semester-list .semester-item div ul li h3 {
    padding: 15px 15px 0;
    text-align: center;
  }
  #home-container #home-courses .semester-list .semester-item div ul li h3 + span {
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }
  #home-container #home-courses .semester-list .semester-item div ul li div {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(64, 172, 184, 0.5);
    padding: 15px;
    color: white;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
}

/* ---------- GRADE MODAL */
.add-modal section header {
  height: calc(100% / 6);
}

.add-modal button {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  color: #40acb8;
  font-weight: 900;
  text-transform: uppercase;
}

.add-modal .onboarding-search-container ul li {
  position: relative;
  margin-top: 15px;
}

.add-modal .onboarding-search-container ul label {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  margin: 0 15px;
  background: white;
  color: #40acb8;
  font-weight: 600;
  font-size: 20px;
}

.add-modal .onboarding-search-container ul label span {
  display: block;
}

.add-modal .onboarding-search-container ul label span:first-child {
  font-size: 14px;
}

.add-modal .onboarding-search-container ul label span:only-child {
  font-size: 20px;
}

.add-modal .onboarding-search::before {
  display: none;
}

.add-modal .onboarding-search .input-field * {
  color: white !important;
  border-color: white !important;
  outline-color: white !important;
}

.add-modal .onboarding-search .input-field input {
  padding-right: 20px;
}

.add-modal .onboarding-search#course-selected .input-field input, .add-modal .onboarding-search#course-selected .input-field input::-webkit-placeholder {
  font-weight: 900 !important;
}

#grade-options {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 15px 7.5px;
}

#grade-options li {
  position: relative;
  margin: 0 7.5px;
  width: 20%;
}

#grade-options li svg {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}

#grade-options li input {
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#grade-options li label {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: #40acb8;
  font-size: 24px;
  font-weight: 600;
}

#grade-options li input:checked + label {
  background: rgba(255, 255, 255, 0.5);
  color: white;
}

.course-input-form {
  padding: 0 15px;
}

.course-input-form li {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 64px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.1);
}

.course-input-form li > * {
  width: 50%;
}

.course-input-form li a {
  right: 10px;
  width: auto;
  top: 33%;
}

.course-input-form li h1 {
  font-weight: 600;
  line-height: 34px;
  text-transform: uppercase;
}

.course-input-form li input {
  background: transparent;
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  color: white;
}

.course-input-form li input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.course-input-form li input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.course-input-form li input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.course-input-form li input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 700px) and (min-height: 575px) {
  .add-modal section {
    position: static;
    max-width: 830px;
    margin: 0 auto;
  }
  .add-modal section button {
    position: static;
    margin: 0 15px;
    width: calc(100% - 30px) !important;
  }
  .add-modal section header {
    max-width: 830px;
    height: 156px !important;
  }
  .add-modal section header h1 {
    display: none;
  }
  .add-modal section header .header-nav {
    top: 15px;
    height: 36px !important;
  }
  .add-modal section header .header-nav .header-close {
    height: 36px !important;
  }
  .add-modal section header .header-nav .header-close svg {
    width: 36px !important;
    height: 36px !important;
  }
  .add-modal section header .onboarding-search::before {
    display: none;
  }
  .add-modal section header .onboarding-search .input-field * {
    color: white !important;
    border-color: white !important;
    outline-color: white !important;
  }
  .add-modal section header .onboarding-search .input-field input {
    height: 64px;
    width: 100%;
  }
  .add-modal section header .onboarding-search .input-field input, .add-modal section header .onboarding-search .input-field label {
    font-size: 36px;
  }
  .add-modal section header .onboarding-search .input-field label {
    top: 6px;
  }
  .add-modal section header .onboarding-search .input-field label.active {
    font-size: 24px;
  }
  .add-modal section .onboarding-search-container {
    margin-top: -15px;
  }
  .add-modal section .onboarding-search-container ul {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 7.5px;
    width: 830px !important;
  }
  .add-modal section .onboarding-search-container ul li {
    width: calc(100% / 3);
    margin: 0;
  }
  .add-modal section .onboarding-search-container ul li label {
    width: auto;
    margin: 7.5px !important;
  }
  .add-modal section #grade-options {
    margin-top: -15px;
  }
  .add-modal section #grade-options label {
    font-size: 64px;
    font-weight: 900 !important;
  }
}

/* ---------- DEMOGRAPHIC */
#demographic {
  background: #F1F1F1;
}

#demographic header {
  background: #d4edf0;
}

#demographic header::before {
  filter: alpha(opacity=10);
  opacity: 0.1;
  background: url(../../img/hall.jpg) no-repeat center center/cover;
}

#demographic header h1 {
  font-size: 28px !important;
  text-transform: lowercase;
  color: #40acb8;
}

#demographic #demo-grid ul {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%;
}

#demographic #demo-grid ul li {
  position: relative;
  height: 50%;
  font-weight: 600;
}

#demographic #demo-grid ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}

#demographic #demo-grid ul li a svg {
  width: 100%;
}

#demographic #demo-grid ul li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#demographic #demo-grid ul li.demo-hs a {
  background: #9bd6dc;
}

#demographic #demo-grid ul li.demo-college a {
  background: #40acb8;
}

#demographic #demo-grid ul li.demo-alum a {
  background: #62bec9;
}

#demographic #demo-grid ul li.demo-parent a {
  background: #26656c;
}

#demographic #demo-grid ul li a:hover {
  background: #c9e9ec !important;
  color: #40acb8 !important;
}

#demographic #demo-grid ul li a:active, #demographic #demo-grid ul li a:focus {
  background: white !important;
  color: #40acb8 !important;
}

@media screen and (min-width: 700px) and (min-height: 575px) {
  #demographic header {
    display: block;
    height: calc(100% - 445px);
    background: none;
  }
  #demographic header h1 {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 50%;
  }
  #demographic header:before {
    display: none;
  }
  #demographic #demo-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    width: 490px;
    height: 490px;
  }
  #demographic #demo-grid ul {
    padding: 15px;
  }
  #demographic #demo-grid ul li {
    height: 230px;
    width: 230px;
    padding: 15px;
  }
}

@media screen and (min-width: 960px) {
  #demographic header {
    height: calc(100% - 230px);
  }
  #demographic header h1 {
    font-size: 48px !important;
  }
  #demographic #demo-grid {
    width: 100%;
  }
}
