@import 'mixin';

#top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	#top-logo {
		position: relative;
		display: block;
		margin: -10px auto 0;
		text-align: center;
		svg {
			@include transition-type(width, .15s ease-in);
			display: block;
			margin: 10px auto;
			width: 100%;
			height: 100%;
		}
	}
	#top-menu {
		position: relative;
		z-index: 99999;
		padding: 10px;
		box-sizing: border-box;
		ul {
			@include listless;
			display: table;
			width: 100%;
			li {
				display: table-cell;
				vertical-align: top;
				width: 33.33333%;
				&:last-child {
					text-align: right;
				}
			}
		}
	}
	#desktop-start-link {
		display: none;
	}
}

#overlay {
	@include opacity(0);
	position: fixed;
	//z-index: 999999;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($charcoal, .9);
	&.active {
		@include opacity(1);
		z-index: 999999;
	}
}
#start-modal {
	@include opacity(0);
	@include center-xy;
	background: white;
	h1 {
		background: $shamrock;
		color: white;
		padding: 10px;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
	}
	#start-modal-platforms {
		@include listless;
	}
	&.active {
		@include opacity(1);
	}
}
#side-menu {
	@include transition(.15s ease-in);
	@include opacity(0);
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 100%;
	background: rgba($slate,.5);
	&.active {
		@include opacity(1);
	}
	ul {
		@include listless;
	}
	.top-link-menu {
		margin: 10px 10px 20px;
	}
	.top-link-close {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		color: white;
		font-size: 40px;
		font-weight: 400;
		line-height: 1;
	}
	#side-menu-links {
		li {
			a {
				display: block;
				padding: 15px 10px;
				border-right: 4px solid rgba($slate,0);
				color: white;
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;
				cursor: pointer;
			}
			#{$links} {
				background: rgba(white, .1);
				border-right-color: $taupe;
			}
			#link-home:active, #link-home:focus, #link-home:hover {
				border-right-color: $shamrock;
			}
			#link-search:active, #link-search:focus, #link-search:hover {
				border-right-color: $azure;
			}
			#link-earn:active, #link-earn:focus, #link-earn:hover {
				border-right-color: $charcoal;
			}
			#link-work:active, #link-work:focus, #link-work:hover {
				border-right-color: $slate;
			}
			#link-why:active, #link-why:focus, #link-why:hover {
				border-right-color: $campus;
			}
			#link-start:active, #link-start:focus, #link-start:hover {
				border-right-color: $shamrock;
			}
			#link-faq:active, #link-faq:focus, #link-faq:hover {
				border-right-color: $lake;
			}
			#link-manifest:active, #link-manifest:focus, #link-manifest:hover {
				border-right-color: $eggplant;
			}
			#link-team:active, #link-team:focus, #link-team:hover {
				border-right-color: $cerise;
			}
			#link-support:active, #link-support:focus, #link-support:hover {
				border-right-color: $orange;
			}
			ul {
				li {
					a {
						padding: 10px 5px 10px 20px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (min-width:36em) {
	#top {
		#desktop-start-link {
			display: inline-block;
		}
		#mobile-start-link {
			display: none;
		}
	}
}