.body-loading-div {
    z-index:100000000;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction:column;
    flex-direction:column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.body-loading-div svg,
.body-loading-div svg g{
    fill:#69B3A5;
    padding:1em;
}

.body-loading-div svg g {
    width:5em;
}

#search-box-loader {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction:column;
    flex-direction:column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-left: -50px;
    height: 100%;
    margin-top: -35px;
}

#search-box-loader svg{
    fill:#69B3A5;
}

.show {
    display:block;
}

.search-results {
    left:20% !important;
    top:25% !important;
}

#search-box {
    left:15% !important;
    padding: 35px 5% 45px !important;
    -webkit-transform: initial !important;
    -moz-transform: initial !important;
    -ms-transform: initial !important;
    -o-transform: initial !important;
     transform: initial !important;
}

#work-slider {
    position:relative;
}