@import 'mixin';
@import 'default';

* {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
*:focus {
	outline: none;
}

body {
	font-family: $font;
	font-size: 24px;
	font-weight: 200!important;
	color: $charcoal;
	background: $charcoal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	@include transition(.15s ease-in);
	color: $shamrock;
	text-decoration: none;
}
#{$links} {
	color: $cerise-mute;
}

button, a[class*=btn] {
	@include transition(.15s ease-in);
	display: inline-block;
	padding: 10px 20px;
	border: 0;
	background: $taupe;
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
#{$buttons} {
	background: $slate;
	color: white;
}
.btn-ghost {
	border: 2px solid white!important;
	background: transparent!important;
	color: white;
}
.btn-ghost:active, .btn-ghost:focus, .btn-ghost:hover {
	background: white!important;
	color: $slate!important;
}
.btn-round {
	@include round;
}
.btn-shamrock {
	background: $shamrock;
	color: white;
}

#mobile-start {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $shamrock;
	#mobile-inside {
		@include center-xy;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		img {
			display: block;
			margin: 0 auto;
			max-width: 200px;
		}
		p {
			@include tri-down(15, white, 10, 10px 20px);
			font-size: 22px;
			font-weight: 300;
			text-align: center;
			em {
				display: block;
				font-size: 18px;
			}
		}
	}
}

@media screen and (min-width:375px) {
	#mobile-start {
		#mobile-inside {
			img {
				max-width: none;
			}
		}
	}
}

#banner {
	@include opacity(0.5);
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	box-sizing: border-box;
	background: url("../../../static/gabrielle/images/cambridge.jpg") center center / cover;
}

#top {
	#top-logo {
		display: none!important;
		#top-school-banner {
			@include opacity(0);
		}
		svg {
			margin: 0 auto;
			width: 50%;
			height: 50%;
			max-width: 200px;
			min-width: 80px;
			margin: 0 auto!important;
		}
		#top-school-logo {
			@include transition-type(width, .15s ease-in);
			@include pos-xy(1/2, 3/10);
			@include opacity(0);
			position: absolute;
			width: 50%;
			height: 50%;
			max-width: 110px;
			min-width: 80px;
		}
		#top-mobile-logo {
			@include opacity(1);
			@include center-x;
			top: 10px;
			z-index: 9999;
			width: 42px;
			height: 42px;
		}
	}
}

#slide-breadcrumbs {
	display: none;
}

#main {
	position: absolute;
	top: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	.slide {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		overflow-y: hidden;
		.inside {
			@include center-xy;
			display: table;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 20px;
			color: white;
			.inside-text {
				display: block;
				width: 100%;
			}
			h2 {
				margin: 1em 0;
				font-size: 24px;
				font-weight: 300;
				width: 100%;
			}
			p {
				font-size: 20px;
				font-weight: 300;
			}
			.inside-prop {
				@include round;
				margin: 0 auto;
				width: 100px;
				height: 100px;
				background: rgba(white,.2);
			}
		}
	}
	#search {
		display: none;
	}
	#earn {
		background: $charcoal;
		text-align: center;
		.inside {
			.inside-text {
				#earn-categories-desktop {
					display: none;
				}
			}
		}
	}
	#work {
		background: $slate;
	}
	#why {
		background: $campus;
	}
	#start {
		background: $shamrock;
		.inside {
			#start-download {
				margin-top: 30px;
			}
			input {
				display: block;
				width: 100%;
				background: none;
				box-sizing: border-box;
				border: 0;
				border-bottom: 1px solid rgba(white,.5);
				border-radius: 0!important;
				font-size: 18px;
				font-weight: 400;
			}
			::-webkit-input-placeholder {
			   color: rgba(white,.5);
			}
			:-moz-placeholder {
			   color: rgba(white,.5);
			}
			::-moz-placeholder {
			   color: rgba(white,.5);
			}
			:-ms-input-placeholder {
			   color: rgba(white,.5);
			}
			input:focus {
				color: white;
				border-color: white;
				&::-webkit-input-placeholder {
				   color: white;
				}
				&:-moz-placeholder {
				   color: white;
				}
				&::-moz-placeholder {
				   color: white;
				}
				&:-ms-input-placeholder {
				   color: white;
				}
			}
			button {
				margin-top: 15px;
			}
		}
	}
}
.app-phone {
	display: none!important;
}

@media screen and (min-width:35.5em) {
	#mobile-start {
		display: none!important;
	}
	#banner {
		display: block!important;
	}
	#slide-breadcrumbs {
		display: block!important;
		position: fixed;
		bottom: 20px;
		right: 10px;
		z-index: 99999;
		ul {
			@include listless;
			@include flex;
			@include flex-center;
			li {
				@include round;
				display: block;
				margin: 0 7px;
				border: 2px solid rgba(black,.5);
				a {
					@include round;
					position: relative;
					display: block;
					width: 12px;
					height: 12px;
					background: white;
					&:after {
						@include round;
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						position: absolute;
						top: 0;
						margin: 2px;
					}
					&.active:after {
						background: $shamrock;
					}
					&.inactive:after {
						background: $taupe;
					}
				}
			}
		}
	}
	#top {
		display: block!important;
		#top-logo {
			display: block!important;
			#top-school-banner {
				@include opacity(1);
			}
			svg, img {
				width: 100%;
				max-width: 40px!important;
			}
			#top-school-logo {
				@include opacity(1);
			}
			#top-mobile-logo {
				@include opacity(0);
				&.visible {
					@include opacity(1);
				}
			}
		}
	}
	#main {
		.slide {
			.inside {
				padding: 62px 30px 30px;
				p {
					font-size: 24px!important;
				}
				.inside-prop {
					width: 200px;
					height: 200px;
				}
			}
		}
	}
}

@media screen and (min-width:48em) {
//	#banner {
//		background: url("../../../static/gabrielle/images/cambridge@2x.jpg") center center / cover;
//	}
	#top {
		#top-logo {
			@include center-x;
			position: fixed;
			svg, img {
				width: 100%;
				min-width: 0!important;
				max-width: 200px!important;
			}
		}
	}
	#main {
		.slide {
			.inside {
				padding: 62px 50px 50px;
				.inside-prop {
					display: none;
				}
				p {
					font-size: 24px;
					font-weight: 300;
				}
			}
		}
		#search {
			display: block;
			#search-box, .search-results {
				@include transition(.15s ease-in);
				z-index: 999;
				margin: auto;
				width: 60%;
				background: white;
			}
			p {
				margin: 0 0 25px;
				font-size: 36px;
				text-align: center;
			}
			#search-box {
				@include center-x;
				top: 50%;
				padding: 35px 50px 45px;
				border-bottom: 10px solid $cerise-mute;
			}
			.search-results {
				@include center-xy;
				.search-results-top {
					padding: 25px 50px;
					background: $cerise-mute;
					color: white;
					.search-results-header {
						margin: 0;
						font-size: 24px;
						font-weight: 600;
						letter-spacing: 3px;
						text-transform: uppercase;
					}
					h1 {
						color: white;
						font-size: 36px;
						font-weight: 900;
						letter-spacing: 3px;
						text-transform: uppercase;
					}
					button {
						margin-top: 20px;
						padding: 20px 40px;
						font-size: 18px;
					}
					#{$buttons} {
						background: white;
					}
				}
				.search-results-bottom {
					@include flex;
					@include flex-wrap;
					width: 100%;
					> div {
						width: 50%;
						position: relative;
					}
					.search-results-map {
						background: url(../../../static/gabrielle/images/maps.png) no-repeat center center;
						.search-results-gurus {
							@include round;
							@include center-xy;
							display: table;
							background: $cerise-mute;
							width: 175px;
							height: 175px;
							h2 {
								display: table-cell;
								vertical-align: middle;
								line-height: 1;
								color: white;
								b, span {
									display: block;
								}
								b {
									font-size: 60px;
								}
								span {
									font-weight: 400;
									font-size: 18px;
								}
							}
						}
					}
					.search-results-courses {
						ul {
							@include listless;
							@include flex;
							@include flex-wrap;
							width: 100%;
							li {
								width: 50%;
								box-sizing: border-box;
								padding: 10px;
								background: $slate;
								color: white;
								font-size: 18px;
								font-weight: 400;
							}
							li:nth-child(1) {
								background: $shamrock;
							}
							li:nth-child(2) {
								background: $eggplant-mute;
							}
							li:nth-child(3) {
								background: $cerise-mute;
							}
							li:nth-child(4) {
								background: $azure-mute;
							}
							li:nth-child(5) {
								background: $moola-mute;
							}
							li:nth-child(6) {
								background: $orange-mute;
							}
							li:nth-child(7) {
								background: $lake-mute;
							}
							li:nth-child(8) {
								background: $cerise-mute;
							}
							li:nth-child(9) {
								background: $eggplant-mute;
							}
							li:nth-child(10) {
								background: $shamrock;
							}
							li:nth-child(11) {
								background: $orange-mute;
							}
						}
					}
				}
			}
			#search-container {
				position: relative;
				input {
					display: block;
					width: 100%;
					padding: 20px 30px;
					box-sizing: border-box;
					border: 1px solid #ddd;
					font-size: 24px;
				}
				::-webkit-input-placeholder {
				   color: #ddd;
				}
				:-moz-placeholder {
				   color: #ddd;
				}
				::-moz-placeholder {
				   color: #ddd;
				}
				:-ms-input-placeholder {
				   color: #ddd;
				}
				.twitter-typeahead {
					display: block!important;
					width: 100%;
				}
				.tt-dropdown-menu {
					background: white;
					width: 100%;
					.tt-suggestion {
						display: table!important;
						width: 100%;
						cursor: pointer;
						box-sizing: border-box;
						border: 1px solid #ddd;
						border-top: 0;
						background: white;
						h2 {
							font-size: 28px;
						}
						p {
							margin: 0;
							text-align: left!important;
							font-size: 18px!important;
						}
						div {
							display: table-cell;
							vertical-align: middle;
							&:first-child {
								width: 70px;
								img {
									display: block;
									box-sizing: border-box;
									width: 100%;
									padding: 10px 10px 10px 20px;
								}
							}
							&:last-child {
								padding: 10px 30px 10px 10px;
							}
						}
					}
					.tt-suggestion:hover {
						background: $smoke;
					}
				}
				#search-results {
					@include listless;
					display: none;
					position: absolute;
					width: 100%;
					li {
						display: table;
						width: 100%;
						cursor: pointer;
						box-sizing: border-box;
						border: 1px solid #ddd;
						border-top: 0;
						background: white;
						h2 {
							font-size: 28px;
						}
						p {
							margin: 0;
							text-align: left;
							font-size: 18px;
						}
						div {
							display: table-cell;
							vertical-align: middle;
							&:first-child {
								width: 70px;
								img {
									display: block;
									box-sizing: border-box;
									width: 100%;
									padding: 10px 10px 10px 20px;
								}
							}
							&:last-child {
								padding: 10px 30px 10px 10px;
							}
						}
					}
					li:hover {
						background: $smoke;
					}
				}
			}
		}
		#earn {
			.inside {
				.inside-text {
					#earn-categories-desktop {
						@include listless;
						@include flex;
						@include flex-wrap;
						box-sizing: border-box;
						width: 100%;
						margin: -10px 0;
						.earn-category {
							width: 25%;
							box-sizing: border-box;
							position: relative!important;
							padding: 10px;
							.earn-category-inside {
								position: relative;
							}
							.earn-category-front {
								@include border-radius(5);
								overflow: hidden;
								position: relative!important;
								box-sizing: border-box;
								background: $slate;
								padding: 40px 10px;
								h3 {
									margin-top: 5px;
									font-size: 18px;
									text-transform: uppercase;
								}
								.earn-category-overlay {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background: rgba($charcoal, .5);
								}
							}
							.earn-category-back {
								@include border-radius(5);
								background: $slate;
								position: absolute!important;
								top: 0!important;
								box-sizing: border-box!important;
								ul {
									@include listless;
									@include center-xy;
									width: 100%;
									padding: 10px;
									box-sizing: border-box!important;
									li {
										padding: 12px 15px;
										border-bottom: 1px solid $charcoal;
										font-size: 16px;
										font-weight: 400;
										&:last-child {
											border-bottom: 0;
										}
									}
								}
							}
							#earn-category-academic {
								background: url(../../../static/gabrielle/images/category/academic.jpg) no-repeat center center / cover;
							}
							#earn-category-consulting {
								background: url(../../../static/gabrielle/images/category/consulting.jpg) no-repeat center center / cover;
							}
							#earn-category-baking {
								background: url(../../../static/gabrielle/images/category/baking.jpg) no-repeat center center / cover;
							}
							#earn-category-photography {
								background: url(../../../static/gabrielle/images/category/photography.jpg) no-repeat center center / cover;
							}
							#earn-category-household {
								background: url(../../../static/gabrielle/images/category/household.jpg) no-repeat center center / cover;
							}
							#earn-category-technology {
								background: url(../../../static/gabrielle/images/category/technology.jpg) no-repeat center center / cover;
							}
							#earn-category-sports {
								background: url(../../../static/gabrielle/images/category/sports.jpg) no-repeat center center / cover;
							}
							#earn-category-delivery {
								background: url(../../../static/gabrielle/images/category/delivery.jpg) no-repeat center center / cover;
							}
							svg {
								max-width: 80px;
								max-height: 80px;
								path {
									fill: white;
								}
							}
							#category-academic {
								circle {
									fill: $cerise
								}
							}
							#category-consulting {
								circle {
									fill: $orange;
								}
							}
							#category-baking {
								circle {
									fill: $gold;
								}
							}
							#category-photography {
								circle {
									fill: $moola;
								}
							}
							#category-household {
								circle {
									fill: $shamrock;
								}
							}
							#category-technology {
								circle {
									fill: $lake;
								}
							}
							#category-sports {
								circle {
									fill: $eggplant;
								}
							}
							#category-delivery {
								circle {
									fill: $campus;
								}
							}
						}
					}
				}
			}
		}
		#work {
			h2 {
				text-align: center;
			}
			#work-inside {
				display: table;
				width: 100%;
				max-width: 1000px;
				margin: 15% auto 0;
				#work-text, .app-phone {
					box-sizing: border-box;
					display: table-cell!important;
					vertical-align: middle;
					width: 50%;
				}
			}
		}
		#start {
			.inside {
				@include center-xy;
				height: auto;
				#start-download {
					margin-top: 100px;
				}
				input {
					border-bottom: 2px solid rgba(white,.5);
					font-size: 60px;
					font-weight: 300;
				}
				input:focus {
					border-color: white;
				}
				button {
					margin-top: 25px;
					font-size: 24px;
					letter-spacing: 1px;
					padding: 15px 30px;
				}
			}
		}
	}
	.app-phone {
		position: relative;
		.app-wf {
			@include center-y;
			@include border-radius(22);
			right: 15%;
			width: 192px;
			height: 414px;
			border-collapse: collapse;
			border: 2px solid rgba(white,.2);
			.app-wf-top {
				position: absolute;
				top: 0;
				height: 57px;
				width: 100%;
				div {
					@include center-xy;
					@include round;
					width: 36px;
					height: 3px;
					border: 2px solid rgba(white,.2);
				}
			}
			.app-wf-bot {
				position: absolute;
				bottom: 0;
				height: 57px;
				width: 100%;
				div {
					@include center-xy;
					@include round;
					width: 30px;
					height: 30px;
					border: 2px solid rgba(white,.2);
				}
			}
			.app-wf-scr {
				@include center-xy;
				img {
					display: block;
					height: 300px;
				}
			}
		}
	}
}

@media screen and (min-width:84em) {
	#main {
		.inside {
			h2 {
				font-size: 36px!important;
				font-weight: 200!important;
			}
			p {
				font-size: 28px!important;
			}
		}
		#search {
			#search-box {
				padding: 70px 100px 90px;
			}
			.search-results {
				.search-results-top {
					padding: 50px 100px;
				}
				.search-results-bottom {
					.search-results-courses {
						ul {
							@include listless;
							li {
								padding: 15px;
								font-size: 24px;
								width: 50%;
							}
						}
					}
				}
			}
			#search-container {
				.tt-dropdown-menu {
					.tt-suggestion {
						div {
							&:first-child {
								img {
									padding: 20px 10px 20px 20px;
								}
							}
							&:last-child {
								padding: 20px 30px 20px 10px;
							}
						}
					}
				}
				#search-results {
					li {
						div {
							&:first-child {
								img {
									padding: 20px 10px 20px 20px;
								}
							}
							&:last-child {
								padding: 20px 30px 20px 10px;
							}
						}
					}
				}
			}
		}
		#earn {
			.inside {
				.inside-text {
					#earn-categories-desktop {
						.earn-category {
							svg {
								max-width: 120px;
								max-height: 120px;
							}
							.earn-category-front {
								h3 {
									font-size: 24px;
								}
							}
							.earn-category-back {
								ul {
									li {
										font-size: 18px!important;
									}
								}
							}
						}
					}
				}
			}
		}
		#start {
			.inside {
				max-width: 80%;
				input {
					font-size: 96px;
					font-weight: 200;
				}
				button {
					margin-top: 50px;
					font-size: 28px;
					padding: 20px 40px;
				}
			}
		}
	}
	.app-phone {
		.app-wf {
			@include border-radius(30);
			width: 256px;
			height: 552px;
			.app-wf-top {
				height: 76px;
				div {
					width: 48px;
					height: 4px;
				}
			}
			.app-wf-bot {
				height: 76px;
				div {
					width: 40px;
					height: 40px;
				}
			}
			.app-wf-scr {
				img {
					height: 400px;
				}
			}
		}
	}
}

.js {
	#search-box, .search-results {
		display: none;
	}
}