{% macro tutor_billing_form(address_book=None, first_contact=None) -%}                        
{% set keys = address_book.keys() %}
<div id="request-payments" style="display:none">
    <div id='profile' style='padding-right:50px; padding-left:50px'>
        <div class='profile-container reg-text'>
            <div class='row'>
                <div class='col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6='>
                    {% if not keys %}
                    <br>
                    <div class="row">
                        <div style="text-align:center" class="col-xs-12 col-md-12">
                            <div style="margin-bottom:0"class="alert alert-info">This is where you will bill student after a tutoring session.</div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class='row center font-24 margin-top-20 margin-bottom-20'>
                        Bill Your Students
                    </div>

                    <div class='row align-left font-14'>
                        Once you are connected with your students, you can bill them here for every session, scheduled through uGuru or not!
                    </div>

                    <div class='row margin-top-40'>
                        <span class='font-20' style='padding-right:30px'> Student Name: </span>
                        <div class="dropdown inline" id='select-person-to-pay'>
                          <button class="btn btn-default dropdown-toggle" type="button" id="tutor-app-year" data-toggle="dropdown">
                            {% if keys %}
                              <span id="selected-person-to-pay" class="dropdown-elem-{{address_book[first_contact]['conversation_id']}}" style="color:black">
                                {{address_book[first_contact]['student_name']}}
                              </span>
                              {% else %}
                                <span id="selected-person-to-pay" style="color:black">
                                Sample Student
                                </span>
                              {% endif %}
                            <span class="caret"></span>
                          </button>

                          <ul id='tutor-app-dropdown' class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for name in keys %}
                            <li role="presentation"><a id="dropdown-elem-{{address_book[name]['conversation_id']}}"  role="menuitem" tabindex="-1" href="javascript:void(0);">{{address_book[name]['student_name']}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        {% if keys %}
                            <div class='inline' style='padding-left:20px'>
                                <img style="display:show" id="payment-student-img" src="{{address_book[first_contact]['profile_url']}}" class="user-photo">
                                {% for key in keys[1:] %}
                                    <img style="display:none" id="payment-student-img" src="{{address_book[key]['profile_url']}}" class="user-photo">
                                {% endfor %}
                                {% else %}
                                <img style="display:show" id="payment-student-img" src="/static/img/jenny.jpg" class="user-photo">
                            </div>
                        {% endif %}
                    </div>
                    <div class='row-fluid margin-top-40'>
                        <span class='font-20'> Session Length: </span>
                        <span class='green-text font-20'><span id='payment'>2</span> hours </span>
                        <br>
                        <div class='row-fluid margin-top-10 relative'>
                            <div id="time-estimate-slider-payment"></div>
                        </div>
                    </div>
                    <div class='row-fluid margin-top-40'>
                        <span class='font-20'> Hourly Rate: </span>
                        <span class='green-text font-20'>$<span id='price'>15 </span>/hr </span>
                        <br>
                        <div class='row-fluid margin-top-10 relative'>
                            <div id="hourly-price-slider-payment"></div>
                        </div>
                    </div>
                    <div class='row-fluid font-20 margin-top-40 margin-bottom-20 center'>
                        <a id="submit-payment" href="javascript:void(0)">
                            <span class='blue-btn' style='padding:8px 60px'> Confirm and Get Paid </span>
                        </a>
                    </div>
                    <div class='row-fluid margin-top-30'>
                        Your student will confirm the payment and you will get paid. If your student doesn't confirm, the payment will be sent to you automatically after 24 hours.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endmacro -%}