<!-- <ion-view id='splash-view' ng-controller='SplashController as splash'></ion-view> -->

<main class='splash-landing' ng-controller='SplashController as splash'>
	<!-- eval-on-init="splash.activate()" -->
	<section id='splash-home' class='splash-hero'>
		<!-- Background change for category options -->
		<!-- <div class="absolute top-0 left-0 full-xy"
			init-later>
			<div class="full-xy"
				init-default
				init-with="p:[op:.25, bg:transparent, t:all 150ms ease-in-out]"
				when-category-dropdown-click="p:[bg:^hex_color]"></div>
		</div> -->

		<!-- Nav -->
		<div ng-if="splash.state.nav" ng-include src="root.base_url + 'preapp/templates/splash.nav.html'"
			include-replace
			when-search-university-clicked="p:[opacity:0.5, t:all 600ms ease-in-out]"
			when-close-search-university="p:[opacity:1]"
			init-later>
		</div>

		<!-- Powerups -->
		<div ng-if="splash.state.powerups" ng-include src="root.base_url + 'preapp/templates/splash.powerups.html'" include-replace
			init-later></div>

		<!-- Sidebar -->
		<div ng-if="splash.state.sidebar" ng-include src="root.base_url + 'preapp/templates/splash.sidebar.html'" include-replace
			init-later></div>

		<!-- Madlib -->
		<div ng-if="splash.state.madlib" ng-include src="root.base_url + 'preapp/templates/splash.madlib.html'" include-replace
			when-search-university-clicked="p:[opacity:1:0.5:600:easeInOutSine]"
			when-close-search-university="p:[opacity:0.5:1:600:easeInOutSine]">
		</div>

		<!-- Device -->
		<div class="absolute top-0 left-0 full-xy"
			ng-if="splash.state.device" ng-include src="root.base_url + 'preapp/templates/splash.device.html'" include-replace
			init-default
			on-init="p:[z-index:0]"
			when-category-dropdown-toggle-on="p:[opacity:1:0.25:500:easeInOutSine]:delay-50"
			when-category-dropdown-toggle-off="p:[opacity:0.25:1:500:easeInOutSine]"
			when-university-dropdown-toggle-on="p:[z-index:0:5:500:easeInOutSine]:delay-50"
			when-university-dropdown-toggle-off="p:[z-index:5:0:500:easeInOutSine]:delay-50"
			when-search-university-clicked="p:[opacity:1:0.5:600:easeInOutSine]"
			when-close-search-university="p:[opacity:0.5:1:600:easeInOutSine]"
			init-later>
		</div>

		<!-- Map -->
		<div ng-if="splash.state.map" ng-include src="root.base_url + 'preapp/templates/splash.map.html'" include-replace
			init-later></div>

		<!-- School Search -->
		<div ng-if="splash.state.universitySearch" ng-include src="root.base_url + 'preapp/templates/started/university-search.html'" include-replace
			init-later></div>

		<!-- Controls -->
		<!-- <div class='absolute' init-with="p:[opacity:0]">
			<div class="splash-hero-skip opacity-0 rollIn animated">
				<button>Skip</button>
			</div>
		</div> -->

	</section>
</main>
