


<ion-view hide-nav-bar='true' class='onboarding-nearest'>
    <script>mixpanel.track("Onboarding.nearest");</script>

    <ion-header-bar class="header-bar bar-white">

        <div class="buttons">
            <button class="button button-clear button-back">Back</button>
        </div>

        <h5 class="default-header title">{{header_text}}</h5>
    </ion-header-bar>

    <ion-content ng-click='hideKeyboard()'>

        <div ng-hide='search_text.length > 0 || matchingUniversities.length > 0' class="choose-among-container margin-1em padding-top-1-5em">
          <p class='center'> Choose from among <span class='default-positive'>2700+</span> schools <br>
            across the nation </p>
          <div class='pure-g padding-1em select-university-logo-container'>
            <div class='pure-u-1-5 flex flex-row j-center'>
              <img class='pure-img' src='{{img_base}}./img/logos/UnivOfRhodeIsland.png'/>
            </div>
            <div class='pure-u-1-5 flex flex-row j-center'>
              <img class='pure-img' src='{{img_base}}./img/logos/univOfNebraska.png'/>
            </div>
            <div class='pure-u-1-5 flex flex-row j-center'>
              <img class='pure-img' src='{{img_base}}./img/logos/UnivOfTennMartin.png'/>
            </div>
            <div class='pure-u-1-5 flex flex-row j-center'>
              <img class='pure-img' src='{{img_base}}./img/logos/UnivOfMaine.png'/>
            </div>
            <div class='pure-u-1-5 flex flex-row j-center'>
              <img class='pure-img' src='{{img_base}}./img/logos/UnivOfKansas.png'/>
            </div>
          </div>
        </div>

        <div class="list" ng-show='search_active || search_text.length > 0'>
          <a class="item" ng-repeat="university in matchingUniversities" ng-click="nearestUniversitySelected($event, university)">
            <h2>{{university.title}}</h2>
            <p>{{university.city}}, {{university.state}}</p>
          </a>
        </div>

        <div class="list list-inset" ng-show='!search_active && search_text.length === 0'>

            <div class="item item-checkbox pure-g" ng-repeat="n_university in n_universities" ng-click="nearestUniversitySelected($event, n_university)">
                <div class='pure-u-1'>
                    <div class='padding-half'>
                        <label class="checkbox positive">
                           <input type="checkbox">
                         </label>
                        <div class="container relative">
                            <h4 class='name'>{{n_university.title}}</h4>
                            <h4 class='city'>{{n_university.city}}, {{n_university.state}}</h4>
                            <h4 class='absolute miles'>{{n_university.miles}} mi</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="item pure-g" ng-click="addUniversityModal.show()">
                <div class="pure-u-1 padding-half">
                    <h4 class='enter-university'> Or enter your university </h4>
                </div>
            </div> -->

        </div>
    </ion-content>

    <ion-footer-bar class="bar-footer item-input-inset" keyboard-attach>

           <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>

              <input type="search" id='university-input' name="university-input" class="form-control"
                      fast-matcher
                      fast-matcher-source="static.universities"
                      fast-matcher-output="matchingUniversities"
                      fast-matcher-properties="title, keywords"
                      fast-matcher-any-word="true"
                      fast-matcher-limit="10"
                      fast-matcher-preserve-order="true"
                      fast-matcher-case-insensitive="true"
                      placeholder="Search {{static.universities.length}} Available Universities"
                      ng-model="search_text"
                      ng-blur="setFocus()"
              />
          </label>

          <button class="button button-clear button-positive search-button" ng-show="search_text.length" ng-click="clearSearchInput()">
          Clear
          </button>

    </ion-footer-bar>

</ion-view>