@import 'mixin';

$wine: #4D496A;
$rose: #ECACA4;
$ice: #D6F0F8;
$grey: #BEB9C0;
$lavendar: #9DA5BA;
$midnight: #17324A;

$padding: 12px;

$text: "proxima-nova", "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif!important;
$header: "lulu-clean", "Lulo Clean";

#jeselle {
	background: white;
	color: $wine;
	font-family: $text;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	line-height: 1;
	div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
	a {
		cursor: pointer;
	}
	*, *:before, *:after { box-sizing: border-box }
	
	#jeselle-top {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		padding: $padding*2;
		.jeselle-top-home {
			display: block;
			width: 48px;
			height: 48px;
			svg {
				display: block;
				width: 100%;
				height: auto;
				* {
					stroke-width: 8px!important;
				}
			}
		}
		.jeselle-top-projects {
			position: relative;
			display: block;
			height: 48px;
			width: 160px;
			color: $wine;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 2px;
			span, &:before {
				transition: all 150ms ease-out;
				border: $padding/4 solid $wine;
				width: 100%;
				height: 100%;
			}
			span {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				text-align: center;
				position: relative;
				z-index: 2;
				background: white;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				background: lighten($grey, 10%);
			}
			&:hover, &:focus {
				&:before {
					transform: translate3d(6px, 6px, 0);
				}
			}
			&:active {
				color: white;
				span {
					background: $wine;
				}
			}
		}
	}

	.jeselle-project {
		width: 100%;
		height: 100%;
		header {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			flex-flow: row wrap;
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: $padding*2;
			text-align: center;
			div {
				position: relative;
				width: 100%;
			}
			h1, h2 {
				color: white;
				transition: all 150ms ease-out;
				line-height: 1.2;
				width: 100%;
			}
			h1 {
				font-size: 36px;
				font-family: $header;
			}
			h2 {
				opacity: 0;
				position: absolute;
				left: 0;
				font-size: 18px;
				font-weight: 700;
			}
		}
		main {
			padding: $padding;
			width: 100%;
			overflow-x: hidden;
			background: white;
			.jeselle-project-info {
				@include listless;
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				padding: $padding/2;
				> li {
					padding: $padding/2;
					> div {
						border: $padding/2 solid $grey;
						&:not(:last-child) {
							margin-bottom: $padding;
						}
						h1 {
							display: flex;
							align-items: center;
							align-content: center;
							font-size: 28px;
							font-weight: 900;
							border: $padding solid white;
							padding: $padding;
							background: $lavendar;
							color: white;
							span {
								display: block;
								margin-left: $padding;
								font-size: 20px;
								font-weight: 600;
							}
						}
						a {
							color: mix($grey, $lavendar);
							&:hover, &:focus {
								color: mix($lavendar, $wine);
							}
							&:active {
								color: mix($ice, $wine);
							}
						}
						ul {
							@include listless;
							margin-top: -$padding;
							padding: $padding/2;
							li {
								padding: $padding/2;
								strong {
									font-weight: 600;
								}
							}
						}
						div {
							margin-top: -$padding;
							padding: $padding/2;
							p {
								padding: $padding/2;
								line-height: 1.2;
							}
						}
					}
					&.jeselle-project-branding {
						> div {
							border-color: $lavendar;
							> svg {
								display: block;
								width: 100%;
								height: auto;
							}
							> a {
								display: block;
								width: 100%;
								padding: $padding;
								border-top: $padding/2 solid $lavendar;
								font-size: 18px;
								font-weight: 800;
								text-align: center;
								&:hover, &:focus {
									background: rgba($grey, .5);
								}
								&:active {
									background: $lavendar;
									color: white;
								}
							}
						}
					}
				}
				&.jeselle-mobile {
					display: block;
					> li {
						> div {
							h1 {
								justify-content: center;
								margin: 0 (-$padding*2.5);
								text-align: center;
							}
						}
					}
				}
				&.jeselle-desktop {
					display: none;
					> li {
						width: calc(100% / 3);
						&.jeselle-project-details {
							> div {
								h1 {
									margin-left: -$padding*3;
									width: calc(100% + $padding*3);
									text-align: right;
								}
							}
						}
						&.jeselle-project-work {
							> div {
								h1 {
									margin-right: -$padding*3;
									width: calc(100% + $padding*3);
								}
							}
						}
					}
				}
			}
			.jeselle-project-desc {
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				padding: $padding;
				p {
					padding: ($padding/2) $padding;
					font-size: 18px;
					line-height: 1.2;
					img {
						display: block;
						max-width: 100%;
						border: $padding/2 solid $lavendar;
					}
				}
			}
		}
	}

	#jeselle-home {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.jeselle-home-container {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: $padding*2;
			.jeselle-home-coach {
				position: absolute;
				bottom: $padding*2;
				left: 50%;
				margin-left: -100px;
				width: 200px;
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				color: white;
			}
			.jeselle-home-border {
				position: absolute;
				border: $padding/2 solid white;
			}
			.jeselle-home-thumbs {
				@include listless;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				width: 100%;
				height: 100%;
				overflow: hidden;
				> li {
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					align-content: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					.jeselle-home-link {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
					}
					.jeselle-project {
						overflow: auto;
					}
					&.active {
						.jeselle-project {
							header {
								h2 {
									opacity: 1;
									transition-delay: 150ms;
								}
							}
						}
					}
				}
			}
		}
	}

	@media all and (orientation:portrait) {
		#jeselle-home {
			.jeselle-home-container {
				.jeselle-home-border {
					width: calc(90% + #{$padding});
					height: calc(70% + #{$padding});
					left: calc(5% - #{$padding/2});
					top: calc(15% - #{$padding/2});
				}
				.jeselle-home-thumbs {
					> li {
						// clip: rect(15%, 5%, 15%, 5%);
						-webkit-clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
						clip-path: polygon(5% 15%, 95% 15%, 95% 85%, 5% 85%);
						&.active {
							// clip: rect(0, 0, 0, 0);
							-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							.jeselle-home-link {
								z-index: -10;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (orientation:landscape) {
	#jeselle {
		#jeselle-home {
			.jeselle-home-container {
				.jeselle-home-border {
					width: calc(50% + #{$padding});
					height: calc(50% + #{$padding});
					left: calc(25% - #{$padding/2});
					top: calc(25% - #{$padding/2});
				}
				.jeselle-home-thumbs {
					> li {
						transition: all 150ms ease-out;
						// clip: rect(25%, 25%, 25%, 25%);
						-webkit-clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
						clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 25% 75%);
						&.active {
							// clip: rect(0, 0, 0, 0);
							-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
							.jeselle-home-link {
								z-index: -10;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	#jeselle {
		#jeselle-home {
			.jeselle-home-container {
				.jeselle-home-coach {
					bottom: $padding*4;
				}
			}
		}
		.jeselle-project {
			header {
				h1 {
					font-size: 72px;
				}
				h2 {
					font-size: 28px;
				}
			}
			main {
				.jeselle-project-info {
					&.jeselle-mobile {
						display: none;
					}
					&.jeselle-desktop {
						display: flex;
					}
				}
			}
		}
	}
}