#student-home-map-container {
  z-index: 0;
  max-width: 100%;
  height: calc(100%);
  padding: 0px;
  /* ANIMATIONS */ }
  #student-home-map-container .student-home-map-label {
    box-sizing: border-box;
    background: #05F24C;
    box-shadow: 2px 2px 4px #333;
    border: 5px solid #346FF7;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    -webkit-animation: pulse 1s ease 1s 3;
    -moz-animation: pulse 1s ease 1s 3;
    animation: pulse 1s ease 1s 3; }

@-webkit-keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
