<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="static/images/favicon.ico">

	<link rel="stylesheet" href="static/css/style.css">

	
	<title>UGURU</title>
	

</head>
<body>
	
<section id="demographic" class="onboarding">
	<header>
		<div class="demographic-header">
			<h1>Demographic</h1>
		</div>
	</header>
	<div id="demographic-grid" class="onboarding-list">
		<ul>
			<li class="bg-campus active">
				<a href="demographic-selected.html">
					<span class="demographic-icon"><span></span>College</span>
				</a>
			</li>
			<li class="bg-shamrock active">
				<a href="demographic-selected.html">
					<span class="demographic-icon"><span></span>High School</span>
				</a>
			</li>
			<li class="bg-azure active">
				<a href="demographic-selected.html">
					<span class="demographic-icon"><span></span>Instructor</span>
				</a>
			</li>
			<li class="bg-lake active">
				<a href="demographic-selected.html">
					<span class="demographic-icon"><span></span>Parent</span>
				</a>
			</li>
		</ul>
	</div>
</section>


	<!--
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/main.js"></script>
	-->
</body>
</html>