<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="static/images/favicon.ico">
	<link rel="stylesheet" href="static/css/style.css">
	<title>UGURU</title>
</head>
<body>

<section id="school" class="onboarding">
	<header>
		<div class="header-nav">
		</div>
		<div class="onboarding-prop"></div>
		<div class="onboarding-search input-search-ghost">
			<input type="search" placeholder="Search for my university"/>
		</div>
	</header>
	<div id="school-list" class="onboarding-list">
		<ul class="list list-item-border">
			<li class="list-item school-harvard">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/harvard.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Harvard University<i>Cambridge, MA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-stanford">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/stanford.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Stanford University<i>Stanford, CA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-cambridge">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/cambridge.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Cambridge University<i>Cambridge, UK</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-harvard">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/harvard.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Harvard University<i>Cambridge, MA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-stanford">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/stanford.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Stanford University<i>Stanford, CA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-cambridge">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/cambridge.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Cambridge University<i>Cambridge, UK</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-harvard">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/harvard.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Harvard University<i>Cambridge, MA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-stanford">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/stanford.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Stanford University<i>Stanford, CA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-cambridge">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/cambridge.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Cambridge University<i>Cambridge, UK</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-harvard">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/harvard.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Harvard University<i>Cambridge, MA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-stanford">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/stanford.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Stanford University<i>Stanford, CA, USA</i></b>
					</span>
				</a>
			</li>
			<li class="list-item school-cambridge">
				<a href="demographic.html">
					<span class="school-icon list-icon-left">
						<img src="/static/svg/schools/cambridge.svg" alt=""/>
					</span>
					<span class="school-name">
						<b>Cambridge University<i>Cambridge, UK</i></b>
					</span>
				</a>
			</li>
		</ul>
	</div>
</section>


		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script>
		  WebFont.load({
			google: {
			  families: ['Source Sans Pro:200,300,400,600,700,900']
			}
		  });
		</script><!--
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/main.js"></script>
	-->
</body>
</html>