@import 'mixin';

/* ---------- STUDENT HOME */
#desktop-student-home {
	background: $smoke;
	color: $slate;
	#top-bar {
		background: $lake;
		div:nth-child(2) {
			div {
				background: $lake;
			}
			#top-menu-links {
				background: $lake;
				ul {
					li {
						a {
							&:hover, &:active, &:focus {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
						&:last-child {
							a {
								span {
									color: $lake;
								}
								svg {
									stroke: $lake;
								}
							}
						}
					}
				}
			}
		}
	}
	.main {
		.home-tabs {
			background: lighten(mix($slate, $lake, 90%), 20%);
		}
		.home-main {
			.home-tiles-top {
				.home-tiles-daily {
					> div {
						background: white;
						h1 {
							color: $lake;
							&:after {
								background: rgba($lake, .3);
							}
						}
						.home-tiles-upcoming {
							@include flex;
							padding: 7.5px;
							height: calc(100% - 63px);
							> li {
								padding: 7.5px;
								width: 50%;
								height: 100%;
								h2 {
									font-size: 20px;
									font-weight: 600;
									padding-bottom: 15px;
								}
								> ul {
									height: calc(100% - 39px);
									overflow: auto;
									li {
										padding: 7.5px 0;
										&:first-child {
											padding-top: 0;
										}
										&:last-child {
											padding-bottom: 0;
										}
										a {
											position: relative;
											display: block;
											background: rgba($lake, .2);
											border: 2px solid $lake;
											border-radius: 2px;
											padding: 15px;
											width: 100%;
											color: $slate;
											font-size: 16px;
											font-weight: 400;
											h3 {
												width: 100%;
												font-size: 20px;
												font-weight: 600;
											}
											div {
												&:first-child {
													width: calc(100% - 24px);
												}
												&:last-child {
													@include center-y;
													right: 8px;
													svg {
														display: block;
														width: 24px;
														height: 24px;
														* {
															@include prefix(transition, all 150ms ease-in-out, webkit moz ms o);
															@include svg-stroke($slate, 8);
														}
													}
												}
											}
										}
										&.event-urgent {
											a {
												background: $lake;
												color: white;
											}
											div {
												&:last-child {
													svg {
														* {
															stroke: white;
														}
													}
												}
											}
										}
										&.event-delivery {
											a {
												background: rgba($auburn, .2);
												border-color: $auburn;
											}
											&.event-urgent {
												a {
													border-color: darken($auburn, 15%);
													background: $auburn;
												}
											}
										}
										&.event-freelancing {
											a {
												background: rgba($orange, .2);
												border-color: $orange;
											}
											&.event-urgent {
												a {
													border-color: darken($orange, 15%);
													background: $orange;
												}
											}
										}
										&.event-baking {
											a {
												background: rgba($gold, .2);
												border-color: $gold;
											}
											&.event-urgent {
												a {
													border-color: darken($gold, 15%);
													background: $gold;
												}
											}
										}
										&.event-photography {
											a {
												background: rgba($moola, .2);
												border-color: $moola;
											}
											&.event-urgent {
												a {
													border-color: darken($moola, 15%);
													background: $moola;
												}
											}
										}
										&.event-tech {
											a {
												background: rgba($azure, .2);
												border-color: $azure;
											}
											&.event-urgent {
												a {
													border-color: darken($azure, 15%);
													background: $azure;
												}
											}
										}
										&.event-household {
											a {
												background: rgba($cobalt, .2);
												border-color: $cobalt;
											}
											&.event-urgent {
												a {
													border-color: desaturate(darken($cobalt, 15%), 20%);
													background: $cobalt;
												}
											}
										}
										&.event-athletic {
											a {
												background: rgba($eggplant, .2);
												border-color: $eggplant;
											}
											&.event-urgent {
												a {
													border-color: darken($eggplant, 15%);
													background: $eggplant;
												}
											}
										}
										&.event-academic {
											a {
												background: rgba($cerise, .2);
												border-color: $cerise;
											}
											&.event-urgent {
												a {
													border-color: darken($cerise, 15%);
													background: $cerise;
												}
											}
										}
										a {
											&:hover, &:focus {
												background: lighten($slate, 25%)!important;
												border-color: lighten($slate, 25%)!important;
												color: white!important;
												svg {
													* {
														stroke: white!important;
													}
												}
											}
											&:active {
												background: lighten($slate, 15%)!important;
												border-color: lighten($slate, 15%)!important;
												color: white!important;
											}
										}
									}
								}
								&:first-child {
									> ul {
										li {
											a {
												border-left-width: 10px;
												&:hover, &:focus {
													border-color: lighten($slate, 15%)!important;
												}
												&:active {
													border-color: $slate!important;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.home-tiles-powerups {
				@include flex-column;
				height: 100%;
				padding: 7.5px;
				.home-tile {
					height: 25%;
					padding: 7.5px;
					.home-tile-inside {
						border-radius: 2px;
						height: 100%;
						> svg {
							height: 100%;
							width: auto;
						}
					}
					&.gpa {
						.home-tile-inside {
							background: #559AB0;
						}
					}
					&.munchies {
						.home-tile-inside {
							background: #F25A5B;
						}
					}
					&.sound {
						.home-tile-inside {
							background: #9A5BC5;
						}
					}
					&.transit {
						.home-tile-inside {
							background: #81B566;
						}
					}
				}
			}
			.home-tiles-main {
				.home-tiles-main-inside {
					background: $lake;
					.home-tile {
						&:hover, &:focus {
							background: rgba(lighten(mix($slate, $lake, 90%), 20%), .5);
						}
						&:active {
							background: lighten(mix($slate, $lake, 90%), 20%);
						}
						&:not(:last-child) {
							&:after {
								background: mix($lake, white);
							}
						}
					}
				}
			}
		}
	}
}
#desktop-courses.student-mode {
	.input-field {
		.prefix {
			svg {
				stroke: $slate;
			}
		}
		input {
			color: $slate;
		}
	}
	.desktop-header {
		a {
			svg {
				stroke: $slate!important;
			}
		}
	}
	.desktop-search-header {
		color: $slate;
	}
	.desktop-card-list {
		li {
			a {
				background: rgba($slate,.1);
				border-bottom: 10px solid rgba(white,.7);
				&:hover {
					background: $lake;
					span {
						color: white;
					}
				}
			}
			a svg, label svg {
				background: white;
				path {
					stroke: $lake;
				}
			}
		}
		.selected {
			a {
				background: $lake;
				border-color: white;
				span {
					color: white;
				}
			}
		}
	}
}