#profile.guru-profile header {
  position: absolute;
  height: 50px;
  width: 100%; }

#profile.guru-profile header.relative {
  position: relative; }

#profile.guru-profile header a {
  position: relative; }

#profile.guru-profile header a.edit-button h1 {
  position: absolute;
  right: 0; }

#profile.guru-profile header a.save-button h1 {
  position: absolute;
  right: 0; }

.uguru-view.faq-modal {
  /*background-color: whitesmoke !important;*/
  z-index: 1000;
  background-color: white; }
  .uguru-view.faq-modal header {
    overflow: hidden; }
  .uguru-view.faq-modal .ion-chevron-down {
    position: absolute;
    top: 10px;
    left: 10px; }

.white-guru-svg {
  padding: 3px; }

.high-z-index {
  z-index: 1000000000; }
