// TODO flex-box helpers
// TODO GO BACK AND ADD IMAGES


$default-background:rgba(0,0,0,0.04);
$background-color:#3f4a4d;
$header-color:#2b3234;
$dark: rgb(43,50,52);
$tab-bar-color:#363d3f;
$text-color-2: #ffffff;
$positive: #68b2a5;
$negative: white;
$tabs-background: #E6E6E5;
$tabs-text: #4D4D4D;

/* iPhone 6+ */
@media all and (min-width: 400px) and (max-width:500px){
    body {
        font-size: 18px; /* 1.5x default size */
    }
    .onboarding-loading #desk {
      bottom:10%;
    }
}

/* iPhone 6*/
@media all and (max-width: 400px) { /* screen size until 1000px */
    body {
        font-size: 16px; /* 1.2x default size */
        }
    }
    .onboarding-loading #desk {
      bottom:10%;
    }

/* iPhone 4/5*/
@media all and (max-width: 321px) { /* screen size until 500px */
    body {
        font-size: 14px; /* 0.8x default size */
        }

    .onboarding-confirm {
      h1 {
        font-size:200%;
        padding-top:20px;
      }
      .popular-courses-header {
        padding:0em;
      }
      button {
        width:120%;
        left:12%;
      }
    }
    .onboarding-loading #desk {
      bottom:10%;
    }

    // #desk {
    //   left:12%;
    // }

    .onboarding-prompt-location .button-back {
        margin: -15px auto !important;
        color:rgba(255,255,255, 0.7) !important;
    }

    .popup-container #popover-header {
      font-size: 180%;
      margin-top:-30px !important;
    }
    .popup-body {
      p {
        font-size:80%;
        margin:0;
      }
      button {
        margin-top:-5px !important;
      }
      .prompt-cancel {
        margin-top: 15px !important;
        color:white !important;
      }
    }
  }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("../../fonts/OpenSans-Light.ttf"); }

body,
h1,h2,h3,h4,h5,h6 {
    font-family:"OpenSans-Regular";
}

h5 {
  font-size:100%;
}

button {
  text-transform: uppercase;
  font-family:"OpenSans-Semibold";
}

p {

}

.button.button-full.button-positive {
  border-color: $positive;
  background-color: $positive;
  width:90%;
  left:5%;
  color: #fff;
}

.button.button-positive:hover
  {
    color:#fff;
    text-decoration:none
  }

.button.button-positive.activated,
.button.button-positive.active
{
  border-color:#429486;
  background-color:#429486;
  box-shadow:inset 0 3px 5px rgba(0,0,0,.2)
}

.button.button-positive.button-clear{
  border-color:transparent;
  background:0 0;
  box-shadow:none;
  color:#6AB1A5;
}

.button.button-positive.button-icon{
  border-color:transparent;
  background:0 0
}
.button.button-positive.button-outline{
  border-color:$positive;
  background:0 0;
  color:$positive}

.button.button-positive.button-outline.activated,
.button.button-positive.button-outline.active{

  background-color:$positive;
  box-shadow:none;
  color:#fff;
}

.button.button-negative {
  border-color: $negative;
  background-color: $negative;
  width:90%;
  left:5%;
  color: $positive;
}

.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
  background: $positive;
  border-color: $positive;
}

.checkbox input:after, .checkbox-icon:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 35%;
  left: 24%;
  display: table;
  width: 14px;
  height: 8px;
  border: 0.25em solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0;
}

.header {
  line-height:1.75em;
  font-family: "OpenSans-Semibold";
  text-align:center;
}

.center {
    text-align:center;
}

.f-wrap {
  flex-wrap:wrap;
}

.white-nav {
  background-color:white;
}

.spinner.spinner-positive {
  stroke:$positive;
  fill:$positive;
}

.relative {
      position:relative;
}

.white-text {
  color:white;
}

.semibold {
  font-family: "OpenSans-SemiBold";
}

.no-margin {
  margin:0px;
}

.no-padding {
  padding:0px;
}

.subheader {
  color:rgba(0,0,0,0.5);
  margin:0.3em;
}

.pure-g-c {
    display: -webkit-flex;
    display:flex;
    // flex-flow:column-wrap;
    -webkit-align-items: stretch;
    align-items:stretch;

    -webkit-align-content: center;
    align-content:center;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    height:100%;
}

.toast.toast-positive {
  background-color:$positive;
  color:white;
  width:100%;
}

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-item-c {
  -webkit-flex-grow:1;
  flex-grow:1;

  display:flex;
  display: -webkit-flex;

  -webkit-justify-content:center;
  justify-content: center;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.uppercase {
    text-transform:uppercase;
}

.padding-1em {
    padding:1em;
}

.padding-2em {
    padding:2em;
}

.padding-3em {
    padding:3em;
}

.padding-half {
  padding:0.5em;
}

.padding-quarter {
  padding:0.25em;
}
.padding-third {
  padding:0.333em;
}

.no-padding-vertical {
    padding: 0px inherit;
}

.margin-1em {
    margin:1em;
}

.margin-half {
    margin:0.5em;
}

.img-placeholder-lg {
    background-color:black;
    height:200px;
    width:200px;
}

.img-placeholder-sm {
    background-color:black;
    height:50px;
    width:50px;
    display:inline-block;
}

.onboarding-university-wrapper {

  h5.header.center {
    opacity:0.9;
  }

  h5.header {
    font-family: "OpenSans-Regular";
  }

  .guru-logo-container
  img {
      padding-top:0em;
  }
  .button-padding {
    padding:1em 0em;
  }

  .university-mini-logo-container {
  padding:0% 5% 5% %5;
  align-self:center;
    img {
      margin:5px 10px;
      opacity:0.75;
      flex-shrink:1;
      height:2.33em;
      max-width:2.33em;
    }
  }

  h6 {
    font-size:60%;
    text-align:center;
    color:rgba(0,0,0,0.8);
  }
}

.header-bar h5 {
  text-transform: uppercase;
}

.onboarding-nearest {

  .header-bar {
    border-bottom:1px solid rgba(0,0,0,0.1);
    h1 {
      height:auto;
      font-size:120%;
      font-family:"OpenSans-Semibold";
    }

    .button-back {
      font-family:"OpenSans-Regular";
      color:rgba(0,0,0,0.8);
      font-size:13px;
      text-transform: none;
    }

  }

  .container.relative {

    .name {
        font-family: "OpenSans-SemiBold";
        opacity:0.9;
        line-height:1.5em;
        padding-top:5px;
        width:75%;
        white-space:normal;
        font-size:90%;
    }

    .city {
      opacity:0.4;
    }

    .absolute.miles {
      top:8px;
      right:0px;
      color:$positive;
      position:absolute;
      height:115%;
    }

  }

  .enter-university {
      color:rgba(0,0,0,0.4);
  }

}

.onboarding-prompt-location {
  background-color: $positive;
  .button-back {
      font-family:"OpenSans-Regular";
      color:rgba(155,255,255,0.8);
      font-size:13px;
      text-transform: none;
      position:absolute;
      margin: 0 auto;
      bottom: 2%;
      width: 100%;
  }
}

.onboarding-confirm {
  .onboarding-confirm-header,
  .popular-courses-header {
    background-color:#2E3541;
  }

  .courses-container {
    letter-spacing:inherit;
  }

  .row {
    margin: 0;
    padding:0;
  }
  .course-row-1 {
    .course {
      padding-top:8px;
    }

    .course:nth-child(2) {
      background-color: rgba(0,0,0,0.2);
    }
  }
  .course-row-2 {
    .course {
      padding-top:8px;
    }
    .course:nth-child(1),
    .course:nth-child(3) {
      background-color: rgba(0,0,0,0.2);
    }
  }
  .course {
    @extend .white-text;
    background-color: rgba(0,0,0,0.3);
    line-height:1.5em;
  }

  .university-banner {
    position:absolute;
    top:0px;
    width:40%;
    margin:0 auto;
    left:30%
  }

  .onboarding-confirm-header {
    h1 {
      font-family: "OpenSans-SemiBold";
    }
  }

  .container {
    overflow:hidden;
  }

  .background-splash-img {
    opacity:0.7;
  }

}


.onboarding-loading {
  position:relative;
  #desk {
    bottom:10%;
    position:absolute;
    height:64.3%;
    left:8.5%;
    width:83%;
  }
  #_1 {
    top:32.25%;
    right:20%;
    height:4.33%;
  }

  #_2 {
    top:7%;
    right:10%;
    width:12%;
  }

  #_3 {
    bottom:16.5%;
    left: 27%;
    height:4.6%;
  }
  #_4 {
    top:26%;
    left:22%;
    height:10.8%;
  }
  #_5 {
    bottom:40%;
    right:10%;
    height:4.19%;
  }
  #_6 {
    top:50.0%;
    right:17%;
    height:5.9%;
  }
  #_7 {
    left:18%;
    top:41.5%;
    height:18%;
  }
  #_8 {
    top:46%;
    right:29%;
    height:11.0%;
  }
  #_9 {
    top:57%;
    left:50%;
    height:3.3%;
  }
  #_10 {
      top:46%;
      left:45%;
      top:57%;
      height:3.3%;
  }

  .component {
    position:absolute;
    display:none;
  }
  .header {
    display:none;
  }
}

.backdrop.visible.active {
  background-color: rgba(0,0,0,.7)
}

.popup-container
  {

    .popup-header {

    }

    h1 {
      font-family: "OpenSans-Bold";
      color:rgba(0,0,0,.65);
      margin:0px;
      padding:0px;
      margin-bottom:0px !important;
    }

    .call-to-action {
      margin:0;
      padding:0;
    }
    p {
      color:rgba(0,0,0,0.45);
      font-family:"OpenSans-Semibold";
    }

    .button-full
    .button-positive
    .button-prompt {
      width:100% !important;
      left:0px;
      right:0px;
      top:0px;
      margin:0 auto;
    }

    .popup-container
    h1 {
          font-family: "OpenSans-Bold";
          color:rgba(0,0,0,.65);
          margin:0px;
          padding:0px;
          margin-bottom:0px !important;
      }

    #popover-header {
      margin-top:-20px;
    }

    .popup {
      min-width:90%;
      border-radius: 0.5em;
      height: 48%;
      bottom: 0px;
      position: absolute;
      margin: 0 auto;
      bottom: 10%;
      left: 0;
      right: 0;
      opacity:1;
      background-color: rgba(255,255,255,1);
    }
    .popup-body {
      margin-top:-60%;
      opacity:1;
    }

    .popup-head {
      border-bottom:0px;
      margin: 0 auto;
      width: 90%;
      text-align: center;
      font-family: "OpenSans-Bold";
      font-weight:700;
    }

    #popup-positive-btn {
      font-size: 13px;
      font-weight:700px;
    }

    .prompt-cancel {
        position: absolute;
        color: $positive;
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-family: "OpenSans-Semibold";
        line-height: 2em;
        font-size: 13px;
        font-weight: 700;
    }

  }

.confirm-popover-prompt {
  .img-container {
    border-radius:50%;
    background-color:$positive;
    border:5px solid white;
  }
}

.university-modal {
  .bar.bar-header {
    background-color:$positive;
    color:white;
    margin:0em;
    a.button.button-clear {
      color:white;
      font-family:"OpenSans-Regular";
      font-size:14px;
    }
    h1 {
      text-transform: uppercase;
      color:white;
      font-family:"OpenSans-Semibold";
      font-weight:bold;
      font-size:15px;
    }
  }
  .search-button {
    color:$positive !important;
  }
}

.student-home {

  .header-bar {
    border-bottom:1px solid rgba(0,0,0,0.1);

    h5 {
      height:auto;
      opacity:0.8;
      font-size:95%;
      text-transform: uppercase;
      font-family:"OpenSans-Semibold";
    }

    a.button.button-clear {
      font-family:"OpenSans-Regular";
      color:rgba(0,0,0,0.8);
      font-size:13px;
      text-transform: none;
    }

  }

  .tabs-background-positive {
    background-color:$tabs-background;
  }
}

p {
  letter-spacing:0px;
  margin:0px;
  line-height:1.5em;
}

.course-list-container {

  .referral-toast {
    .toast-container {
      width:100%;
      text-align:center;
      p {
        font-size: 80%;
      }
      .icon.absolute {
        right:5%;
        bottom:27.5%;
        font-size:80%;
        position:absolute;
      }
    }
  }

  .list-inset
  .item.course-item {
    margin:0.75em 0em;
    border-width:1px;
    padding:12px;
    h5 {
      font-family:"OpenSans-Bold";
      font-size: 80%;
      margin:0px;
      opacity:0.7;
    }
  }

  .item-icon-right .icon-right {
      right: 0;
      font-size: 80%;
      opacity: 0.4;
  }

  .item.course-item.add-course-item h5 {
    line-height:1em;
    color:$positive;
    opacity:1;
  }
  .item-icon-left .icon-left {
      color:$positive;
      opacity: 1;
      font-size: 80%;
      left:0px;
  }

  .add-course-item {
    color:$positive;
    padding:4px;
    .icon:nth-child(1) {
      opacity:1;
    }
    h5.inline {
      margin-right:10px;
    }
  }
}

.inline {
  display:inline-block;
}

.popover-backdrop.active {
    background-color: rgba(0,0,0,.6);
}

.popover-backdrop {
  padding:1em;
  text-align:center;
  .uguru-popover {
    height:170px;
    box-shadow:0 0 40px rgba(0,0,0,.08);
    border-radius:10px;
  }
  .bar-header {
    border-top-right-radius:10px;
    border-top-left-radius:10px;
  }

  h1.title {
    font-family:"OpenSans-Bold";
    opacity:0.8;
    top:10px;
  }
  p {
    font-size:63%;
    opacity:0.65;
    padding:5px 1.5em;
    line-height: 1.5em;
  }
  .button-popover {
    text-transform:none;
  }
}

.student-request-form {
  .header-bar {
    border-bottom:1px solid rgba(0,0,0,0.1);
    h1 {
      height:auto;
      font-size:100%;
      font-family:"OpenSans-Semibold";
      text-transform: uppercase;
      text-align:center;
    }
  }

  h5.inactive {
    opacity:0.3 !important;
  }

  h5.inline {
    display:inline-block;
  }

  .list-inset
  .item.request-item {
    margin:0.75em 0em;
    border-width:2px;
    padding:12px;
    h5 {
      font-family:"OpenSans-Semibold";
      font-size: 80%;
      margin:0px;
      opacity:0.7;
    }
  }



  #selected-course,
  .green-border {
    border-left:4px solid $positive !important;
  }

  .selected-course {
    border-left:4px solid $positive !important;
  }

  .item-icon-right .icon-right {
      right: 0;
      font-size: 80%;
      opacity: 0.4;
  }

  .button-back {
    font-family:"OpenSans-Regular";
    color:rgba(0,0,0,0.8);
    font-size:13px !important;
    text-transform: none;
  }

}

.bar .button.button-clear {
  font-family:"OpenSans-Regular";
  color:rgba(0,0,0,0.9);
  text-transform: none;
  padding-right:0.5em;
  padding-left:0.5em;
  font-size:90%;
}


.request-guru-type {
  .checkbox {
    width:100%;
  }

  .checkbox-container {
    border:1px solid rgba(0,0,0,0.2);
  }

  .checkbox span {
    width: 80px;
    top: 0.8em;
    margin-left: 1em;
    position: absolute;
    font-family: "OpenSans-Regular";
    color: rgba(0,0,0,0.7);
    font-size: 105%;
  }

  .checkbox input, .checkbox-icon {
    display: inline-block;
  }
  .checkbox input:before, .checkbox-icon:before {
    // display: table;
    // width: 100%;
    // height: 100%;
    border-width: 1px;
    // border-style: solid;
    border-radius: 3px;
    // background: #fff;
    // content: ' ';
    // -webkit-transition: background-color 20ms ease-in-out;
    // transition: background-color 20ms ease-in-out;
  }

  // h5 {
  //   font-size:100%;
  //   margin-bottom:0px;
  // }
}


.auto-margin {
  margin:auto;
}


.student-request-calendar {
  .calendar-subheader {
    background-color:$tabs-background;
  }

  .button-back {
    font-family:"OpenSans-Regular";
    color:rgba(0,0,0,0.8);
    font-size:13px !important;
    text-transform: none;
  }

  .one-day {
    border: 1px solid rgba(0,0,0,0.2);
    padding:1.2em;
    border-bottom:0px;
  }

  .time {
    position:absolute;
    top:7px;
    left:8px;
  }

  .calendar-row .pure-u-1-2{
    border-bottom:0px;
    padding:1.33em;
  }

  .calendar-col {
    border-right:1px solid rgba(0,0,0,0.2);
    position:relative;
  }

  .calendar-col-2 {
    position:relative;
  }

  .calendar-header {
    text-transform:uppercase;
  }

  h5.title {
    text-transform:uppercase;
  }
}

.textarea-container {
  height:30%;
}

.request-description-container {
  .textarea-container {
    border: 1px solid rgba(0,0,0,0.2);
  }
  textarea {
    width:100%;
    padding:0.5em;
    resize:none;
    outline:none;
  }
  .textarea-wrapper {
    padding-top:1em;
  }
  h5 {
    margin:0px;
  }
  .attachment-container {
    height:100px;
    width:75px;
    background-color:white;
    border-color:white;
  }
}

.angular-google-map-container { height: 100%; }

.map-modal{top:  0}


.map-modal .bar .button-block
{
margin: 0;
}

.guru-home
.bottom-tabs.tabs-positive>.tabs, .tabs.tabs-positive
{
      border-color: $dark;
      background-color: $dark;
      background-image:none;
}

.student-home
.bottom-tabs.tabs-positive>.tabs, .tabs.tabs-positive
{
      border-color: $positive;
      background-color: $positive;
      background-image:none;
}

.guru-home {
  .guru-home-content {
    color:white;
  }
  .guru-home-img {
    margin-top:45%;
  }

  ion-content {
    background-color:#4c4c4c;
  }
  .tabs .tab-item .icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../img/tabs-icon-1.svg');
        background-size:contain;
        position: absolute;
        width: 100%;
      }

      .tabs .tab-item .icon.request-icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../img/tabs-icon-3.svg');
        background-size:contain;
        position: absolute;
        width: 100%;
        font-weight:bold;
      }

      .tabs .tab-item .icon.settings-icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../img/tabs-icon-2.svg');
        background-size:contain;
        position: absolute;
        width: 100%;
      }

      .tab-item {
        position:relative;
        padding-top:8px;
        margin-top:-1px;
      }

      .tab-item-active {
        background-color: #609C8F;
      }

      .tab-title {
          text-transform: capitalize;
          font-size: 11px;
      }
}

.student-home,
.bottom-tabs.tabs-positive {

      .tabs .tab-item .icon.session-icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../../img/tabs-icon-1.svg');
        background-size:contain;
        position: absolute;
        width: 100%;
      }

      .tabs .tab-item .icon.request-icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../../img/tabs-icon-3.svg');
        background-size:contain;
        position: absolute;
        // border:2px solid rgba(219,113,51,1);
        width: 100%;
        font-weight:bold;
      }

      .tabs .tab-item .icon.settings-icon
      {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 15px;
        background-image: url('../../img/tabs-icon-2.svg');
        background-size:contain;
        position: absolute;
        width: 100%;
      }

      .tab-item {
        position:relative;
        padding-top:8px;
        margin-top:-1px;
      }

      .tab-item-active {
        background-color: #609C8F;
      }

      .tab-title {
          text-transform: capitalize;
          font-size: 11px;
      }
}

.tabs-striped .tabs {
    border-bottom:0px;
}

.tabs-top.session-tabs {

  .tab-item {
    max-width:100%;
    font-family: "OpenSans-Semibold";
    margin-top: 0px!important;
    padding-top:0px!important;
  }

  .tab-item.tab-item-active {
    background-color:$tabs-background;
    border-width: 0 0 4px!important;
    border-style: solid;
    border-color: $positive;
  }

  .tab-title {
    text-transform: uppercase !important;
    font-size: 100% !important;
  }

  .tabs-striped.tabs-color-dark .tab-item.tab-item-active {
    color:$tabs-text !important;
  }

}

.flip-button {
  -webkit-perspective: 1000;
  perspective: 1000; }
.flip-button .back, .flip-button .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
  width: 90%;
  left:5%; }
.flip-button .back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
.flip-button .front {
  -webkit-transform: rotateY(0deg);
  z-index: 2; }
.flip-button.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
.flip-button.hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }


.signup-form {
  .item.item-input input{
    margin-top:5px;
  }
}

.contacting-guru {
  .sleeping-guru {

    margin:0 auto;
    max-width:100%;
    width:50%;
    padding-top:20%;

  }
  h1 {
    font-size:250% !important;
    font-weight:bold;
  }
}

.student-sessions {
  .list {
      margin-bottom:-5px !important;
  }

  .sleeping-guru {
    max-height:125px;
  }

  .full-height {
    height:100%;
  }

  .main-container {
    margin-bottom:15% !important;
  }

  .upcoming-session-card {
    h2 {
      font-size:125%;
      margin:10px 0px;
    }
    h4.pending {
      text-transform:uppercase;
      color:$positive;
      font-size:100%;
    }
    h4.scheduled {
      text-transform:capitalize;
      color:rgba(0,0,0,0.5);
      font-size:100%;
    }
    img {
      top:28px;
      right:20px;
      max-width:25px !important;
      max-height:25px !important;
    }
  }
  .tabs-striped.tabs-stable .tabs {
    background-color: #E6E6E5;
  }

  .item {
    border-width:0;
  }

}

.request-status {
  .button-light {
    border: 1px solid rgba(0,0,0,0.01);
    width:100%;
    text-transform:initial;
    background-color:#E2E2DE;
    font-family:"OpenSans-Regular";
    padding:0px;
    margin:0px;
  }
  .row-details {
    margin:10px 0px;
  }

  .map-container {
    width:100%;
    background-color:black;
    height:100px;
    display:block;

  }

  .header-bar .title {
    font-size:100%;
    font-weight:700;
  }
}

.j-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.j-start-end, .j-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}


.header-bar.dark-header {
  background-color: rgb(43,50,52);
  color:rgba(255,255,255,0.8);
  h5 {
    color:white;
    font-family: "OpenSans-Bold";
    font-size:105%;
  }
  a {
    color:rgba(255,255,255,0.7);
    font-size:11px !important;
  }
}

.become-guru {
  img {
    width:50%;
    margin-top:10%;
    margin-left:25%;
  }
  button {
    border-width:2px;
    font-size:80%;
    font-family:"OpenSans-Semibold";
  }
  .guru-content {
    h1 {
      font-family: "OpenSans-Bold";
      font-weight:500;
    }
    p {
      color: rgba(0,0,0,0.7);
    }
  }
}

.a-c {
  align-content:center;
  -webkit-align-content: center;
  align-items:center;
  -webkit-align-items: center;
}

.guru-onboarding {
  .item-content-container {
    white-space:normal;
    font-family:"OpenSans-Regular";
    line-height:1.5em;
  }
  .icon {
      font-size:80%;
      color:$positive;
  }
}

.uguru-settings {
  .button-outline {
    border-width:2px;
  }
  .padding-half {
    padding-bottom:0px;
  }
  .become-guru-wrapper {
    padding:0em 1em;

  }
}

.guru-sessions {
  background-color:white;
}

.item-avatar-right
{
  div {
    text-align:right;
  }
  img
  {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.student-request-duration {
  .scroll-container {
    padding:1em 3em;
    border:2px solid rgba(0,0,0,0.2);
  }

  .hour-scroll {
    text-align: right;
    padding-right:1em;
  }

  .flex-item-c {
    padding:0.5em 0em;
    font-size:150%;
    display:inline-block;
  }

  .main-hours,
  .main-minutes {
    border-top:1.5px solid black;
    border-bottom:1.5px solid black;
  }

  .main-hours {
    padding-right:0.95em;
  }

  .icon {
    color:$positive;
    font-size:150%;
  }

  .hours-offset,
  {
    padding-right:0.5em;
    color: rgba(0,0,0,0.4);
  }

  .minutes-offset {
    padding-left:0.75em;
    color: rgba(0,0,0,0.4);
  }

  .main-minutes
  {
    padding-left:0.5em;
  }

  .min-scroll {
    text-align: left;
    padding-left:1em;
  }
}

.hide {
  display:none;
}

.show {
  display:block;
}


#student-web-popover,
#student-request-help-popover {
    left: 7.5% !important;
    width:85% !important;

    .bar-header {
      border-bottom-width:0px;
    }

    h1.title {
      font-size:155%;
      top:8px;
    }

    p {
      font-size:80%;
    }
}

.platform-ios .popover-arrow {
  position: absolute;
  display: block;
  top: -17px;
  width: 30px;
  height: 19px;
  overflow: hidden;
}

tabs-positive>.tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
  background-color: red;
  color: white;
}

.typewriter-text {
    padding:20% 30% 10% 10%;
    line-height:1.5em;
    position:absolute;
    letter-spacing:0.5px;
}

.scroll-content {
  background-color: $default-background;
}

.pure-white {
  background-color:white;
}

.tinted-white {
  background-color:rgba(0,0,0,0.04);
}

.choose-among-container {
  background-color:white;
  border:1px solid #ddd;
  padding:1.5em 0.5em 1em 0.5em;
}

.padding-top-1-5em {
  padding-top:1.5em;
}

.flex-row {
  flex-direction: row;
  -webkit-flex-direction:row;
}

.choose-among-container {
  p {
    font-size:105%;
  }
}

.default-positive {
  color:$positive;
}

.select-university-logo-container {
  margin-top:2em;

  img {
    height:30px;
  }
}

.flex {
  display:flex;
  -webkit-display:flex;
}

.flex-row {
  flex-direction:row;
  -webkit-flex-direction:row;
}

.j-center {
  justify-content:center;
}

#university-input {
  background:white;
  width:100%;
  padding-right:0;
  margin:0;
}

.item-input-wrapper {
  padding:0;
  background:none;
}

.item-checkbox {
  padding-top:0.25em;
  padding-bottom:0.25em;
}

.header-bar h5 {
  @extend .title;
  height: auto;
  font-size: 90% !important;
  font-family: "OpenSans-SemiBold";
  font-weight: 400;
  text-transform:uppercase;
  text-align:center;
}

.list-inset {
  background-color: transparent;
}

.light-opacity {
  opacity:0.4;
}

.mid-opacity {
  opacity:0.6;
}

.dark-opacity {
  opacity:0.8;
}

.flex-direction-init {
  flex-direction:initial;
  -webkit-flex-direction: initial;
}

.bottom-tabs-home
.tab-item.tab-item-active {
  .tab-title {
      text-transform: capitalize;
      font-size: 12px;
      position: absolute;
      left: 31px;
      top: 12px;
      font-family: "OpenSans-SemiBold";
    }
}

.bottom-tabs-home
.tab-item {
  .tab-title {
      text-transform: capitalize;
      font-size: 12px;
      position: absolute;
      left: 34px;
      top: 12px;
      font-family: "OpenSans-Light";
    }
}

.item.settings-divider-item {
  background-color: white;
  font-family: OpenSans-SemiBold;
  line-height: 0;
  padding-top: 27px;
  font-size: 88%;
  color: rgba(0,0,0,0.6);
}

.item.settings-item {
  background-color: inherit;
  color: rgba(0,0,0,0.65);
  font-size: 120%;
  line-height: 0.6em;
  border-bottom-style: inset;
  border-top-style: none;
}

.ion-chevron-right.positive {
  color:$positive;
}

.button.button-positive.button-outline {
  border-color: #68b2a5;
  background: 0 0;
  color: #68b2a5;
  border-width: 1px !important;
}
div.signup-tag {
  text-transform: uppercase;
  font-size: 76% !important;
  font-family: OpenSans-SemiBold;
  margin-top: 3px;
  width: 30px;
}

.signup-form {
  input {
    margin-left: 20% !important;
  }
}

.button.button-positive-outline.button-full {
  border: 2px solid $positive;
  background-color:transparent;
  color:$positive;
  font-family: "OpenSans-Bold";
}

// .button.button-positive-outline.button-full:hover {
//       background-color:$positive ;
//       text-decoration: none;
//       color:white ;
// }

.button.button-positive-outline.button-full.active, .button.button-positive-outline.button-full.activated {
      background-color: $positive;
      border: 0px;
      color: white;
      font-size:14px;
}

.fb-message {
  padding: 2em 0 0 0;
  font-size: 60%;
  font-family: "OpenSans-Bold";
  color: rgba(0,0,0,0.4);
  letter-spacing: 0.5px;
}

.button.button-full.facebook-button {
  width:90%;
  left:5%;
  background-color: #405F97;
  color:white;
}