.ng-enter, .ng-move{
  -webkit-animation: lightSpeedIn 1s;
  -moz-animation: lightSpeedIn 1s;
  -o-animation: lightSpeedIn 1s;
  animation: lightSpeedIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.uguru-popover.ng-enter{
  -webkit-animation: lightSpeedIn 3s;
  -moz-animation: lightSpeedIn 3s;
  -o-animation: lightSpeedIn 3s;
  animation: lightSpeedIn 3s;
}

// .location-header.ng-enter {
//   animation: fadeIn 10;
// }