{% extends 'base.html' %}
{% block content %}

        <div class="panel-heading">
            <h2 style="color:white; text-align:center;">Sorry!</h2>
        </div>
          <div class="panel-body" style="text-align:center;">
               <img class="img-portfolio img-responsive" src="/static/img/guru.svg">
              <div style="align:center">
                <h3>You're just a tad late. This student has already been connected. 
				<br>
				<br>
				We'll continue updating you with emails and/or text notifications (based on your preferences) when students need help in your subjects.</h3>
              </div>
      </div>

 {% endblock %}