{% extends 'base.html' %}

{% block content %}
<div class="page-title">
   <h4 style="color:white;">YOUR ACTIVITY</h4>
  </div>
<div class="light-blue-bar" align:"center">
	<div style="float:left;text-align:right;width:50%;padding-right:30px">
		<a href="/request_tutor/">
			<span style="color:#00a0cf;" class="glyphicon glyphicon-edit" style="padding-top:12px;padding-right:12px;font-size:30px"></span>
			<span class="h4" style="padding-left:15px;color:#00a0cf;"><b>REQUEST A TUTOR</b></span>
		</a>
	</div>
	<div style="float:right;text-align:left;width:50%">
		<a href="/request_payment/">
			<div style="color:#00a0cf;float:left" class="glyphicon glyphicon-edit" style="padding-top:12px;padding-right:12px;font-size:30px">
			</div>
			<span class="h4" style="padding-left:15px;color:#00a0cf;"><b>REQUEST PAYMENT</b></span>
		</a>
	</div>
</div>
<div style="padding:0 20px 20px 20px">
	<a href="/student_request/">
		<div class="notification" align:"center">
			<img src="/static/img/guru.png" class="user-photo" style="float:left">
				<h4><b>Jared</b> requested help in Math 1A</h4>
			<div style="float:right">
				<h6>2 hours ago</h6>
			</div>
		</div>
	</a>
	<div class="notification" align:"center">
		<img src="/static/img/guru.png" class="user-photo" style="float:left">
			<h4><b>You</b> accepted Samir's offer, you are now connected</h4>
		<div style="float:right">
			<h6>2 hours ago</h6>
		</div>
	</div>
	<a href="/tutor_offer/">
		<div class="notification" align:"center">
			<img src="/static/img/guru.png" class="user-photo" style="float:left">
				<h4><b>Samir</b> is interested in helping you with CS10</h4>
			<div style="float:right">
				<h6>3 hours ago</h6>
			</div>
		</div>
	</a>
	<div class="notification" align:"center">
		<img src="/static/img/guru.png" class="user-photo" style="float:left">
			<h4><b>You</b> requested help in CS10</h4>
		<div style="float:right">
			<h6>5 hours ago</h6>
		</div>
	</div>	
</div>

{% endblock %}
