{% extends 'base.html' %} 

{% block content %} 
<body>

<div class='container normal-text reg-text' style='padding:1em 10em'>

<p class="c12 c9">
    <h1 class='center black-text' >Campus Ambassador</h1>
    <!-- <h4 class='reg-text normal-text center' style='margin-top:0px'> (Option One) </h4> -->
</p>
<p class="font-18">
    <span class="c5"><br>
    The campus ambassador position is a 8-week marketing internship role with a focus of carrying out user-acquision focused launch campaigns.
    <br>
    <br>
    As a campus ambassador, you will have the chance to work in the exciting environment of a fast-growing, <a href='http://500.co' class='blue-text'>500 Startups</a> funded company. You will have the luxury of gaining valuable experience without sacrificing school and study time, as you can opt for shifts before/after/between classes. Along with flexibility, we offer our best performers hands-on internship opportunities in the areas of product, marketing, and business development at our office in downtown San Francisco.
    </span>
</p>
<p class="c1">
    <span class="c5"></span>
</p>
<p class="c12" style='margin-top:20px'>
    <span class="font-18 bold black-text">Responsibilities:</span>
</p>
<p class="c12" style='margin-top:10px'>
    <span class="font-18 black-text"> Execute campus launch strategies such as</span>
</p>
<ul class="c11 lst-kix_ek9t4f4plz32-0 start font-16" style='padding-left:2em;'>
    <li class="c6"><span class="c3">Student groups outreach</span></li>
    <li class="c6"><span class="c3">Social media campaign</span></li>
    <li class="c6"><span class="c3">Campus field marketing</span></li>
    <li class="c6"><span class="c3">Referral marketing campaign</span></li>
</ul>
<p class="c12 c13" style='margin-top:20px'>
    <span class="font-18 bold black-text">Qualifications:g</span>
</p>
<ul class="c11 lst-kix_6h6v3x3cntn5-0 start font-16" style='padding-left:2em'>
    <li class="c2"><span class="c3">Work well with teams</span></li>
    <li class="c2"><span class="c3">Strong organizational skills</span></li>
    <li class="c2"><span class="c3">Respond well to direction</span></li>
    <li class="c2"><span class="c3">Enthusiastic and willing to learn</span></li>
    <li class="c2"><span class="c3">Outgoing and comfortable with talking to fellow Cal students</span></li>
</ul>
<p class="c12 font-16">
    <span class="c4 c5"><br>
    If you feel this is a good fit, please take 2 minutes to fill out this  <a href='https://docs.google.com/forms/d/1Cg0YPZKtW3eDJq9fg_5W-w1d5rfs5bcWBPjWD6aVpwk/viewform?usp=send_form' target='_blank' class='blue-text'>application form.<a/>
    <br>
    <br>
    <span> If you have any questions feel free to email </span><span class="c17 c4 c5"><a class="c7" href="mailto:dusty@uguru.me" style='color:blue'>dusty@uguru.me</a></span><span class="c4 c5">. Thanks! </span>
</p>
</div>
</body>
</html>
{% endblock %}