<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
        <meta charset="utf-8">        
        <meta name="description" content="">
        <meta name="author" content="">
        <title>uGuru.me</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <!-- Add custom CSS here -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        {% block header %}
        {% endblock %}
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="general-nav">
            <ul>
                <li class="logo">
                    <a href="/"> uGuru.me</a>
                    <a href="javascript:void(0)" class="menu-trigger"></a>
                </li>
                <li class="general-nav-item first">
                    <a href="javascript:void(0)" id="login-link">Login</a>
                </li>
                <li class="general-nav-item">
                    <a href="/howitworks">How it Works</a>
                </li>
                <li class="general-nav-item">
                    <a href="/settings">Settings</a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer>
                <p>Copyright &copy; uGuru.me 2014</p>
        </footer>
    <!-- Only include JavaScript that is required for every page -->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.10.2.js"><\/script>')</script>
    
    <script>window.jQuery || document.write('<script src="/static/js/bootstrap.min.js"><\/script>')</script>

    {% block footer_scripts %}
    {% endblock %}

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>  
    $(document).ready(function() {
      $('#login, #contact-now').click(function(){
        $(".module-background, .module-unit").addClass("module-active");
      });
      $(".module-background").click(function(){
        $(".module-background, .module-unit").removeClass("module-active");
      });
      $(".menu-trigger").click(function(){
        $(".general-nav").toggleClass("active");
      });
    });
    </script>

    </body>
</html>