<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
  <meta charset="utf-8">    
  <meta property="og:image" content="/static/img/guru.png"/>
  <meta name="description" content="">
  <meta name="author" content="">
  <title>uGuru.me</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300, 100' rel='stylesheet' type='text/css'>
  <link href="/static/css/bootswatch.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/fonts/grand_hotel.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <link href="/static/css/app.css" rel="stylesheet">
  <link href="/static/css/phone-mobile.css" rel="stylesheet">
  <link href="/static/css/tablet-mobile.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  {% block header %}
  {% endblock %}

  {% if environment == 'TESTING'%}
  <link rel="icon" type="image/png" href="/static/img/favicon-testing.png">
  {% else %}
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  {% endif %}

  <!-- Include scripts -->
  {% include 'scripts.html' %}
  {% block scripts %}
  {% endblock %}

  <!-- Include Stylesheets -->
  {% include 'stylesheets.html' %}
  {% block stylesheets %}
  {% endblock %}  

</head>

<body>

  {% include 'navigation.html' %}
  {% block content %}
  {% endblock %}

  <div class="modal-load"></div>
  
  <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.1.min.js"><\/script>')</script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src='/static/js/snippets/calendar.js'></script>
  <script src="/static/js/typeahead.js"></script>

  {% block footer_scripts %}
  {% endblock %}

  <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
  <script>

  $(document).ready(function() {
    $('#login, #contact-now').click(function(){
      $(".module-background, .module-unit").addClass("module-active");
    });
    $(".module-background").click(function(){
      $(".module-background, .module-unit").removeClass("module-active");
    });
    $(".menu-trigger").click(function(){
      $(".general-nav").toggleClass("active");
    });
  });
  </script>
  
  <style>
  #habla_window_div #habla_oplink_a {
    color:white;
  }

  #habla_window_div #habla_topbar_div {
    background: #00a9e5 none repeat scroll 0 0;
  }
  </style>

</body>
</html>