{% extends 'base.html' %}

{% block content %}
<div class="page-title">
   <h4 style="color:white;">PAYMENT REQUESTED</h4>
  </div>

<div class="offer" align="center" style="margin-left:20px;margin-right:20px">
  <img src="/static/img/guru.jpg" class="user-photo">
  <h4 style="text-align:center"><b>Samir</b> has sent you a bill</h4>
  <br>
  <div class="bio" style="padding-bottom:20px">
  <div style="float:left;text-align:right;width:50%;padding-right:20px">
  	<div class="h4"><b>Rate</b></div>
  	<div class="h4"><b>Time</b></div>
  	<div class="h4"><b>Total</b></div>
  </div>
  <div style="float:right;text-align:left;width:50%;">
  	<div class="h4" style="color:#69bf69;">$20</span><span class="h5">/hour</div>
  	<div class="h5">3 hrs</div>
  	<div style="color:#69bf69;font-size:36px">$66</div>
  	<h6>$6 goes to uguru</h6>
  </div>
 </div>
</div>


<div class="btn-request">
	SEND PAYMENT
</div>






{% endblock %}