<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Become a Tutor</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="/home">uGuru.me Home</a></li>
        <li><a href="/howitworks">How It Works</a></li>
        <li><a href="/settings">Account Settings</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->

  <div id="top" class="header">
    <div class="vert-text">
    <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>How It Works</h2>
        </div>
          <div class="panel-body">
                <em>insert steps 1 - 2 - 3 image here</em>
                <h3><u>Students are tutors, tutors are students</u></h3>
                <p>When you need help you're a student. When you help others you're a tutor. As simple as that. Peer to peer at its finest.</p>
                <h3><u>How we validate tutors</u></h3>
                <p>Every tutor begins at a fresh slate at uGuru.me for every skill they've added. If the quality is good, the rate for that tutor will increase. Any tutor below a certain average (around 3 stars) will be much less promoted.
                  <br><br>
                When a tutor is available to help, a student will see the following attributes:
              </p>
              <em>insert star rating image here</em>
                <h3><u>How our pricing works</u></h3>
                <p>Each tutor begins at a certain rate. With more tutoring encounters through uGuru.me and high ratings, we'll market you at a higher rate. Base price is $7/hour.
                  <br><br>
                We may charge a transaction fee in the future. Right now everything is free, <em>no credit card required!</em>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

 <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; uGuru.me 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

   <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
  </body>
</html>