{% extends 'base.html' %}
{% block content %}

 	<!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <div class="main-area" style="display:block">
        	<img class="img-portfolio img-responsive" src="/static/img/guru.jpg">
          <h1>uGuru.me</h1>
          <h3><em>Peer to Peer</em> private tutoring.<br>Affordable. Quick.</h3>
          <a href="/studentsignup1/" class="btn btn-default btn-lg">Need a Tutor?</a>
          <a href="/tutorsignup1" class="btn btn-lg btn-primary">Become a Tutor</a>      
                <h4>or <a href="#" id="login-link" >LogIn</a> </h4>
              <h3>See <a href="/howitworks/">How it Works</a>.</h3>
        </div>
        <div class="login-modal" style="display:none">            
            <div class="row vertical-offset-100">
              <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <button type="button" class="close" id="login-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>Log In</h2>
                  </div>
                  <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                    <fieldset>
                      <div class="form-group">
                          <input class="form-control" placeholder="E-mail" name="email" type="text">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                      </div>
                       <a href="/home" class="btn btn-lg btn-success btn-block" type="submit">Submit</a>
                    </fieldset>
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  <!-- /Full Page Image Header Area -->

{% endblock %}

{% block footer_scripts %}

<script type="text/javascript">
  // Open Login Dialog
  $('#login-link').click(function(){
    $('.main-area').hide('slow'); 
    $('.login-modal').show('slow');
  });

  //Close login dialog by pressing corner x button
  $('#login-close').click(function(){
    $('.login-modal').hide('slow');
    $('.main-area').show('slow');       
  });

  //Close login dialog by pressing escape
  $(document).keyup(function(e) {
    if (e.keyCode == 27) { 
      $('.login-modal').hide('slow');
      $('.main-area').show('slow');        
    }
  });

</script>
{% endblock %}