<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
        <meta charset="utf-8">    
        <meta property="og:image" content="/static/img/guru.png"/>    
        <meta name="description" content="">
        <meta name="author" content="">
        <title>uGuru.me</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
        <link href="/static/css/bootswatch.min.css" rel="stylesheet">
        <link href="/static/css/new_style.css" rel="stylesheet">
        <link href="/static/fonts/grand_hotel.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
        
        {% block header %}
        {% endblock %}

        <!-- Include scripts -->
        {% include 'scripts.html' %}
        {% block scripts %}
        {% endblock %}

    </head>

    <body>
      <div id="login-page">
          <nav class="navbar"margin-right:25px;>
            <div class="container-fluid">
              <div class="navbar-header">
                  <a href="../../" class="navbar-brand" style="font-family: 'grand hotel', cursive; margin-left:5px; font-size: 50px">uguru.me</a>
              </div>
            </div>
          </nav>
          <div class="page-title">
            <div class="row" style="width:100%;text-align:center">
                <div class="col-xs-1 col-sm-1 col-md-1">
                  <a href="/" id="credit-card-back-link" style="text-decoration:none"> 
                    <h4 id="back-button"><span style="color:white; padding-left:10px" class="glyphicon glyphicon-chevron-left"></span> </h4>
                  </a>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10" style="text-align:center">
                  <h4 style="padding-left:5px;color:white;width:100%;font-weight:500">LOGIN</h4>
              </div>
            </div>
          </div>
          <div id="login-fields">              
            <div style="color:grey;text-align:center" class="row">
              <span style="font-size:60px;"class="glyphicon glyphicon-lock"> </span>
              <br>
              SUPER SECRET LOGIN
            </div>
            <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                          <div class="form-group">
                              <input name="login-email" type="email" class="input-signup" id="login-email" placeholder="username@berkeley.edu">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                        <div class="form-group">
                          <input name="login-password" type="password" class="input-signup" id="login-password" >
                        </div>
                        <span id='alert-fields-login' style="color:red;display:None">You fucked up</span>
                        <span id='alert-fields-login-2' style="color:red;display:None">Fill some shit in</span>
                      </div>
                  </div>
              </div>
          </div>
          <div style="margin-bottom:0" class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
              <a id="login-submit" href="javascript:void(0)">
                <div style="margin-left:2.5%"class="main-font" id='submit-login'>
                  <p style="color:white"> GET ACCESS TO HIGH CLASS SHIT </p>
                </div>
              </a>
            </div>
          </div>
      </div>
          <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.1.min.js"><\/script>')</script>
          <script>window.jQuery || document.write('<script src="/static/js/bootstrap.min.js"><\/script>')</script>

          {% block footer_scripts %}
          {% endblock %}


          <script>
          //  Custom JavaScript for the Side Menu and Smooth Scrolling
          $(document).ready(function() {
            $('#login, #contact-now').click(function(){
              $(".module-background, .module-unit").addClass("module-active");
            });
            $(".module-background").click(function(){
              $(".module-background, .module-unit").removeClass("module-active");
            });
            $(".menu-trigger").click(function(){
              $(".general-nav").toggleClass("active");
            });

            // Custom js functions
            $('#login-submit').click(function(){
              //check whether fields are blank
              if (!$('#login-email').val() || !$('#login-password')) {
                $('#alert-fields-login-2').show()
              } else {
                //else get data and send to server
                var data = {
                  'email': $('input[name="login-email"]').val(),
                  'password': $('input[name="login-password"]').val()
                }
                $.ajax({
                  type: "POST",
                  contentType: 'application/json;charset=UTF-8',
                  url: '/login/',
                  data: JSON.stringify(data),
                  dataType: "json",        
                  success: function(result) {        
                    if (result.json['success']) {
                      window.location.replace('/')
                    } else {
                      $('#alert-fields-login-2').hide(); 
                      $('#alert-fields-login').show();     
                    }
                  }
                });      
              }
            });
        });
        </script>
    <style>
    #habla_window_div #habla_oplink_a {
      color:white;
    }

    #habla_window_div #habla_topbar_div {
      background: #00a9e5 none repeat scroll 0 0;
    }
    </style>
  </body>
  </html>