{% extends 'base.html' %}

{% block content %}
<div class='row'>
		<div class="page-title">
		   	<h4 style="color:white;">INBOX</h4>
		 </div>
	</div>
<div id="message-list">
	{% if not user.mailbox.conversations %}
		<div style="text-align:center" class="row-fluid">
			  	<div style="margin-top:10px"class="row">
				  	<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
				  		<div style="margin-bottom:10px"class="alert alert-success">
						  No requests yet! <br>
						  {% if user.verified_tutor %}
						  We will notify you via email when you receive a request.
						  {% else %}
						  Return to your feed to make a request!
						  {% endif %}<br>
						</div>
				  	</div>	
				</div>
				<h5><b>
					{% if user.skills or user.verified_tutor %}
					Once you are matched with a student, a chat box will appear. <br><br>You can coordinate when and where to meet here!
					{% else %}
					Once you are matched with a tutor, a chat box will appear. <br><br>You can coordinate when and where to meet here! 
					{% endif %}
					</b>
					<br>
					<br>
				</h5>
				<div class="row-fluid">
					<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
						<div class="notification" style="margin-top:0;width:100%; cursor:auto"align:"center">
							<img src="/static/img/jenny.jpg" class="user-photo" style="float:left">
							<div style="float:left">
								<h4 style="margin-bottom:0px"><b> Jenny </b></h4>
								<h5 style="margin-top:0px;margin-bottom:0px"> {% if user.skills or user.verified_tutor %} Example Student {% else %} Example Tutor {% endif %}</h5>
								<h6 style="margin-top:5px"><i>Hi! Let's meet at the SLC at 8pm today?</i></h6>
							</div>
							<div style="float:right;margin-top:23px">
								<span class="glyphicon glyphicon-chevron-right" style="color:#40bfec;float:right"></span>
							</div>
						</div>
					</div>
				</div>
		</div>
	{% else %}
	<div style="text-align:center" class="row-fluid">
	  	<div style="margin-top:10px"class="row">
		  	<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
		  		<div style="margin-bottom:10px"class="alert alert-success">
				  Check your messages frequently! <br>We do not send email notifications every time you receive a message.
				</div>
		  	</div>	
		</div>
	</div>
	{% endif %}
	<br>
	<div style="text-align:center"class="container-fluid" id="message-main">
		<div class="row">
			<div id="message-feed"class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
			{% for conversation in conversations|reverse %}
			<a id="conversation-{{loop.index}}" href="javascript:void(0)">
				<div class="new-notification {% if conversation.messages|length == 0 or (not conversation.is_read and conversation.messages[-1].sender_id != user.id) %} unread {% endif %}">
					<div class='notification-picture'>
					{% if conversation.guru_id == user.id %}
						{% if conversation.student.profile_url %}
							<img src="{{conversation.student.profile_url}}">
						{% else %}
							<img src="/static/img/default-photo.jpg">
						{% endif %}
					{% else %}
						{% if conversation.guru.profile_url %}
						<img src="{{conversation.guru.profile_url}}">
						{% else %}
						<img src="/static/img/default-photo.jpg">
						{% endif %}
					{% endif %}
					</div>
					<div class='notification-content reg-text normal-text'>
						{% if conversation.guru_id == user.id %}
							<h4 class='reg-text normal-text left margin-bottom-20'>
								<b>{{conversation.student.name.split()[0]}}</b>
							</h4>
						{% else %}
							<h4 class='reg-text normal-text left margin-bottom-20'>
								<b>{{conversation.guru.name.split()[0]}}</b>
							</h4>
						{% endif %}
						<div class='reg-text font-16 left {% if conversation.messages|length == 0 or (not conversation.is_read and conversation.messages[-1].sender_id != user.id) %} bold {% endif %}'>
						{% if conversation.messages %}
							{{conversation.messages[-1].contents[0:50]}}...
						{% else %}
							Click here to start the conversation
						{% endif %}
						{% if conversation.messages|length == 0 or (not conversation.is_read and conversation.messages[-1].sender_id != user.id) %} 
							<div class='noti_bubble message'>
								1
							</div>
						{% endif %}
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
	</div>
</div>
<div id="messages">
	{% include 'calendar.html' %}
	{% for conversation in conversations|reverse %}
		<div id="conversation-detailed-{{loop.index}}" style="display:none; border:1px">
			<br>
		  	<div class="container-fluid">
		  		{% if conversation.guru in transactions or conversation.student in transactions %}
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3  col-md-6">
						<div style="text-align:center;"class="alert alert-info">
							{% if user.verified_tutor %}
							For your next session with {{conversation.student.name.split(" ")[0]}}, just set up a time and meet up through our messaging! <br>After the session, just bill {{conversation.student.name.split(" ")[0]}} directly through our billing page.
														{% else %}
							For your next session with {{conversation.guru.name.split(" ")[0]}}, <b>you won’t need to submit a request again.</b> <br>Just set up a time, meet up, and have {{conversation.guru.name.split(" ")[0]}} bill you through uGuru.
							{% endif %}
						</div>
		  			</div>
		  		</div>
		  		{% endif %}
				<div style="position:relative" id="default-message-box" class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">		
					<div id="template-message" style="display:none">
						<div class='row message-sender normal-text reg-text'>
							<img class='message-sender-pic' src='{% if conversation.guru_id == user.id %} {{conversation.guru.profile_url}} {% else %} {{conversation.student.profile_url}}{%endif%}'>
							<div class='message-sender-content-container'>
							</div>
							<div class='message-sender-timestamp grey-text font-12 italic thin-text'>
								Just Now
							</div>
							<div class='message-sender-name grey-text bold reg-text'>
										{% if conversation.guru_id == user.id %} 
										{{conversation.guru.name.split(" ")[0]}}
										{% else %} 
										{{conversation.student.name.split(" ")[0]}}
										{%endif%}
							</div>
						</div>
					</div>
					<div class="conversation-messages">
						<div class='start-convo-container'>
							{% if not conversation.messages %}
							<div id='default-message-no-convo'>
								<h4 class='reg-text bold normal-text font-24 align-left'> Start a Conversation! </h4>
								<div class='row-fluid reg-text normal-text font-16'>
									Message {% if conversation.guru_id == user.id %} {{conversation.student.name.split(" ")[0]}} {% else %}
									{{conversation.guru.name.split(' ')[0]}} to confirm meeting time and location. {% endif %}
								</div>
								
							</div>
							{% endif %}
							<div class='margin-top-20'>
								<span class='reg-text normal-text'>Scheduled Meeting Time:</span>
	                              <a id='request-calendar-toggle' href='#' onclick='show_tutor_request_submitted_calendar({{calendars[conversation.requests[0]][0]}}, {{calendars[conversation.requests[0]][1][1]}}, true)'>
		                          	<span class='green-text bold'> See scheduled time: </span> 
		                          	<span class='glyphicon glyphicon-calendar'></span>
		                          </a>
		                    </div>
		                    <div class='margin-top-20'>
								<span class='reg-text normal-text'>Scheduled Meeting Location:</span>
		                          	<span class='green-text bold'> {{conversation.requests[0].location}}</span> 
		                    </div>
						</div>
						{% for message in conversation.messages|sort(attribute='write_time') %}
							{% if message.sender_id == user.id %}
								<div class='row message-sender normal-text reg-text'>
									<img class='message-sender-pic' src='{% if conversation.guru_id == user.id %} {{conversation.guru.profile_url}} {% else %} {{conversation.student.profile_url}}{%endif%}'>
									<div class='message-sender-content-container'>
										{{message.contents}}
									</div>
									<div class='message-sender-timestamp grey-text font-12 italic thin-text'>
										{{pretty_dates[message.id]}}
									</div>
									<div class='message-sender-name grey-text bold reg-text'>
										{% if conversation.guru_id == user.id %} 
										{{conversation.guru.name.split(" ")[0]}}
										{% else %} 
										{{conversation.student.name.split(" ")[0]}}
										{%endif%}
									</div>
								</div>
							{% else %}
								<div class='row message-receiver normal-text reg-text'>
									<img class='message-receiver-pic' src='{% if conversation.guru_id == user.id %} {{conversation.student.profile_url}} {% else %} {{conversation.guru.profile_url}}{%endif%}'>
									<div class='message-receiver-content-container'>
										{{message.contents}}
									</div>
									<div class='message-receiver-timestamp grey-text font-12 italic thin-text'>
										{{pretty_dates[message.id]}}
									</div>

								</div>
							{% endif %}
						{% endfor %}
					</div>
					<br>
					<div id="message-sent" style="text-align:center; color:green; font-size:14px; display: none" class="row">
						Message Saved!
					</div>
					{% if not conversation.messages %}
					<!-- <div id="default-message-no-convo">
						<div id="no-messages-yet" style="margin-bottom:0px;"class="row-fluid">
								<h4 style="margin-bottom:0px;">
									You have no previous message history with this person. <br> Start a conversation now!
								</h4>
						</div>
						<br>
						<div style="text-align:center;"class="row">
							{% if user.id == conversation.guru_id %}
							<img src="{{conversation.student.profile_url}}" class="user-photo">
							{% else %}
							<img src="{{conversation.guru.profile_url}}" class="user-photo">
							{% endif %}
						</div>
						<div style="color:red; font-weight:normal;text-align:center;margin-top:10px; font-size:16px"class="row">
							Fill out a <span style="text-decoration:underline"><a target="_blank"href="http://www.when2meet.com/">When2Meet</a></span> to help coordinate availability between you two! <br><br>
							<span style="color:grey">Once you've created a unique link, post this in your conversation!</span>
						</div>
					</div>
					<br> -->
					{% endif %}
					<div class="saved-message"class="row-fluid">
						Message Sent!
					</div>
					<div class="row-fluid message-send-box-container">
						<div class="message-send-box">
							<input type='text' class='standard-input reg-text' class='input-message'></input>
							<a href='javascript:void(0);' class='submit-message'>
								<img src='/static/img/message-send-icon.png' class='message-send-btn'>
							</a>
							<!-- <div style="display:inline">
								<input class="input-message form-input" style="float:center;outline:none; border-radius:3px; padding:3px;" placeholder="  Type a message here..." style="float:left"></input>
							</div>
							<div style="display:inline">
								<a class="submit-message" href="javascript:void(0);"/> <span style="font-size:18px;"class="glyphicon glyphicon-send"></span> </a>
							</div>  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block footer_scripts %}
	<script src="/static/js/jquery-ui-custom.js"></script>
	<script src="/static/js/messages.js"></script>    
{% endblock %}