{% extends 'base.html' %}

{% block header %}
    <link href="/static/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<ul style="margin:auto;float:center" class="nav nav-tabs">
  <li class='active'><a href="/new-admin/">Today</a></li>
  <li><a href="/admin/tutors/">Tutors</a></li>
  <li><a href="/admin/students/">Students</a></li>
  <li><a href="/admin/courses/">Courses</a></li>
  <li><a href="/admin/requests/" >Requests</a></li>
  <li><a href="/admin/conversations/" >Conversations</a></li>
  <li><a href="/admin/payments/"> Payments</a></li>
  <li><a href="/admin/ratings/"> Ratings</a></li>
  <li><a href="/admin/bank-transfers/" data-toggle="tab"> Bank Transfers</a></li>
  <li><a href="/admin/texts/" data-toggle="tab"> Texts </a></li>
  <li><a href="/admin/parents/" data-toggle="tab"> Parents </a></li>
</ul>




<div class="container">
            
        {% for day in day_stats %}

            <div style="margin:20px; text-align:center" class="row">
            {{day['date']}}
            </div>
            <div class="row-fluid">
                <table class="table table-striped">
                    <tr> 
                        <td>  Student Signups </td>
                        <td> {{day['student-signups']|length}} </td>
                    </tr>
                    <tr> 
                        <td>  Tutor Signups </td>
                        <td> {{day['tutor-signups']|length}} </td>
                    </tr>
                    <tr> 
                        <td>  Student Requests </td>
                        <td> {{day['requests']|length}} </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
</div>


  <div style="text-align:center;color:black" class="row">
    <u><a href="/logout-admin/">Log out of admin</a></u>
  </div>


</div>

{% endblock %}

{% block footer_scripts %}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.js"></script>
{% endblock %}