{% extends 'base.html' %}
{% block content %}

          <div class="panel-heading">
            <!-- Tutor Rating Before Continuing General -->
            <div class="alert alert-danger">You must rate Joseph before you can continue using uGuru.me</div>
            <!-- /Tutor Rating Before Continuing General -->
            <h2 style="color:white; text-align:center;">PLEASE RATE YOUR EXPERIENCE WITH JOSEPH</h2>
        </div>
          <div class="panel-body" style="text-align:center;">
              <div class="star" align="center">
                  <img src="/static/img/star-on.png" alt="1">
                  <img src="/static/img/star-on.png" alt="2">
                  <img src="/static/img/star-on.png" alt="3">
                  <img src="/static/img/star-on.png" alt="4">
                  <img src="/static/img/star-off.png" alt="5">
                </div>
              <br>
              <br>
              <h5>Anything less than a three will make sure you are not paired with Joseph again.</h5>
               <h3>or</h3>
                <a href="/rating_noshow" class="btn btn-lg push_button_default btn-block">I did not end up meeting with Joseph</a>
          </div>

  {% endblock %}