<div class='request-container container-fluid'>
    <div class='row'>
        <div class='col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4'>
            <h1 class='reg-text center bold extra-margin-bottom'>
                Guru Request Form
            </h1>
            <div class='request-form-container'>
                <div id='alert-fields-request-form' class='red-text center normal-text' style='display:none'>
                    Please fill in all fields.
                </div>
                <label for='request-class'>Class</label>
                <input name='skill' id='request-skill' type='text' placeholder='CS10, Writing Help'class='form-control standard-input typeahead'>
                
                {% if not user or (user and not user.phone_number)%} 
                <label style='display:block' for='request-class'>Phone Number (to connect you quickly) </label>
                <input type='text' id='request-phone'class='form-control standard-input' >
                {% endif %}
                
                <label for='request-class'>Description </label>
                <textarea id='request-description' class='form-control standard-textarea request-textarea' placeholder='Please be as SPECIFIC as possible. Provide relevant links to photos, files, or anything else to help the tutor understand your task.'></textarea>

                <label style='display:block' for='request-class'>Let's meet at </label>
                <input type='text' id='request-location'class='form-control standard-input'>
                <input type='checkbox' id='request-remote' class='uguru-checkbox' style='display:inline-block !important;'></input>
                    <span class='reg-text font-14'>
                        The tutor can help me remotely (Skype, Phone, Facetime, Etc.)
                    </span>

                <label for='request-slider'> How Long Would This Session Take? </label>
                <div class='row no-margin'>
                    <div id='request-main-slider'> </div>
                    <span class='green-text bold'id='request-main-slider-val'>2 hrs</span>
                </div>
                <div class='row-fluid margin-top-10' >
                    <input type='checkbox' id='request-urgency' class='uguru-checkbox' style='display:inline-block !important;'></input>
                    <span class='reg-text font-14'>
                        I Need Help ASAP!
                    </span>
                </div>
                <label> Your Offering Price </label>
                <div style='margin-top:5px;' class='row-fluid'>
                    <span id='suggested-or-your-text' class='reg-text font-14'> <span class='red-text'>Midterm Season</span> Suggested Price: </span>
                    <span class='blue-text normal-text'> $<span id='final-offering-price'>18</span>/hr </span>
                    &nbsp;&nbsp;
                    <a id='edit-price-toggle' href='javascript:void(0);'>
                        <span id='request-form-edit-price' class='blue-text glyphicon glyphicon-pencil'>
                        </span>
                        <span id='request-form-remove-price' class='blue-text glyphicon glyphicon-remove' style='display:none'>
                        </span>
                    </a>
                    <div id='edit-price-container' class='row no-margin'>
                        <div id='edit-price-slider'> </div>
                        <span class='green-text bold'id='edit-price-slider-val'>$15/hr</span>
                    </div>
                </div>
                <div class='row-fluid margin-top-40'>
                    <a id='request-form-submit' href='javascript:void(0);'>
                        <span class='blue-btn blue-btn-extra'>
                            Ace It Now!
                        </span>
                    </a>
                    <div id='request-form-options'>
                        <span class='reg-text'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <a href='javascript:void(0);' id='skip-this-step-link'>
                            <span class='blue-text normal-text'>
                                <u> Skip This Step </u>
                            </span>
                        </a>
                    </div>
                </div> 
                <div class='row-fluid light-grey-text font-11  margin-top-10 center'>
                    We offer 100% satisfaction guaranteed policy. Read more <a href='tinyurl.com/uguru-q-a' target="_blank" class='blue-text' > here</a>.
                </div>
            </div>
        </div>
    </div>
</div>