{% extends 'base.html' %}

{% block content %}
<div class="page-title">
   <h4 style="color:white;">REQUEST A TUTOR</h4>
  </div>

<div style="margin:30px 30px 20px 30px" align="center">
		<input class="add-skills" placeholder="I need help in..."></input>
		<hr>
		<h3>URGENCY</h3>
		<span id="ASAP" class="btn-options btn-md">ASAP</span>
        <span id="tomorrow" class="btn-options btn-md">TOMORROW</span>
        <span id="profile-button" class="btn-options btn-md">THIS WEEK</span>
        <h3>FREQUENCY</h3>
		<span id="ASAP" class="btn-options btn-md">ONE TIME</span>
        <span id="tomorrow" class="btn-options btn-md">REGULARLY</span>
        <h3>Time Estimate</h3>
        <select class="customdropdown">
            <option>1 hour</option>
            <option>2 hours</option>
            <option>3 hours</option>
            <option>4 hours</option>
            <option>5 hours</option>
            <option>6 hours</option>
            <option>7 hours</option>
            <option>8 hours</option>
            <option>9 hours</option>
            <option>10 hours</option>
        </select>
        <br>
        <br>
 		<textarea class="bio" style="height:100px" placeholder="Any further description (optional)..."></textarea>
	</div>

</div>







 <div class="btn-request">SUBMIT</div>
{% endblock %}