{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Congrats, you've been connected!</h2>
        </div>
          <div class="panel-body">
               <img class="img-portfolio img-responsive" src="/static/img/guru.jpg">
                <h3><u>What's next?</u></h3>
                <ol>
                  <li>Both of you have been cc'd in an automated email from uGuru.me</li>
                  <li>Please bring your method of payment with you when you meet so Joseph can receive it afterwards.</li>
                  <li>After your session, please rate your experience with Joseph (we'll send you an email).</li>
                </ol>
          </div>
      </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}

