{% extends 'base.html' %}

{% block content %}
<div class="page-title">
   <h4 style="color:white;">BECOME A TUTOR</h4>
  </div>

<div id="account-info" style="padding:20px">
	<div align="center">
		<label for="name" class="h4" style="padding-right:55px;">NAME</label>
		<input id="name" class="input-signup"></input>
		<br>
		<br>
		<label for="email" class="h4" style="padding-right:45px">EMAIL&nbsp;&nbsp;&nbsp;</label>
		<input id="email" class="input-signup" placeholder="@berkeley.edu"></input>
		<br>
		<br>
		<label for="password" class="h4" style="padding-right:10px">PASSWORD</label>
		<input id="password" class="input-signup"></input>
		<hr>
	</div>
	<div id="skills" align="center">
        <div class="input-group">
        <span><input class="add-skills" placeholder="add skill..."></input></span>
        <div class="btn-add" style="float:right;font-size:20px">+</div>
      </div>
        <br>
        <br>
      <div id="current-skills" style="align:center">
        <div class="h4" style="color:#00a0cf;float:left;">CS 10</div>
          <span class="rating">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
          <div class="btn-remove">--</div>
        <br>
        <hr>
        <div class="h4" style="color:#00a0cf;float:left">CS 61A</div>
          <span class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
          <div class="btn-remove">--</div>
          <br>
          <hr>
        <div class="h4" style="color:#00a0cf;float:left">French R1B</div>
          <span class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
          <div class="btn-remove">--</div>
          <br>
          <hr>
        <div class="h4" style="color:#00a0cf;float:left">Chem 3A</div>
          <span class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </span>
          <div class="btn-remove">--</div>
      </div>
      </div>
</div>



<div class="btn-request">SUBMIT</div>


{% endblock %}
