{% extends 'base.html' %}

{% block content %}
<div class="page-title">
   <h4 style="color:white;">BECOME A TUTOR</h4>
  </div>

<div id="account-info" style="padding:20px">
	<div align="center">
		<label for="name" class="h4" style="padding-right:10px">NAME</label>
		<input id="name" class="input-signup"></input>
		<br>
		<br>
		<label for="email" class="h4" style="padding-right:10px">EMAIL</label>
		<input id="email" class="input-signup" placeholder="@berkeley.edu"></input>
		<br>
		<br>
		<label for="password" class="h4" style="padding-right:10px">PASSWORD</label>
		<input id="password" class="input-signup"></input>
	</div>
</div>

<div class="btn-request">SUBMIT</div>


{% endblock %}
