<ion-modal-view id="powerup-gpa-add" hide-nav-bar='true' class='uguru-view add-modal'>
	<ion-content class='full-height' scroll='false'>
		<section id="add-course" class="full-xy opacity-0" class-on-load="fadeIn:anim">
			<header>
				<h1 class="text-center">Add Courses</h1>
				<div class="header-nav">
					<a class="header-close" ng-click='closeModal("course")'>
						<svg viewBox="0 0 100 100">
							<path d="M50,50 L50,14 L50,50 L14,50 L50,50 Z M50,50 L50,86 L50,50 L86,50 L50,50 Z"></path>
						</svg>
					</a>
				</div>
				<div class="onboarding-search opacity-0" keyboard-focus class-on-load="u-bounceInUp-subtle" class-on-load-delay="3500">
					<a ng-click='clearSearchInput();' class="major-input-close side-icon" ng-if='search_text.course.length > 0'>
						<i class='icon ion-close-circled'> </i>
					</a>
			        <form>
						<fieldset class="large with-icon full-x m15bottom">
							<!-- @jason -->
							<!-- needs input with binding for selected course -->
							<input id='course-input-1' class="input-border light" ng-model="search_text.course" type="search" placeholder="search for your courses"/>
							<label></label>
							<span class="input-icon">
								<svg viewBox="0 0 100 100">
									<path d="M42.5,71 C58.2401154,71 71,58.2401154 71,42.5 C71,26.7598846 58.2401154,14 42.5,14 C26.7598846,14 14,26.7598846 14,42.5 C14,58.2401154 26.7598846,71 42.5,71 Z M62.994485,62.994485 L85.6624699,85.6624699"></path>
								</svg>
							</span>
						</fieldset>
			        </form>
				</div>
			</header>
			<!-- stagger each by 250, starting with 1000 -->
			<div class='onboarding-search-container full-xy' ng-show='search_text.course && search_text.course.length'>
				<ul class='full-xy absolute'>
					<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="500"  ng-repeat='course in courses | filter:search_text.course | limitTo:6'>
						<a class="course-card" thr-click='selectCourse(course)'>
							<svg width="240px" height="150px" viewBox="0 0 240 150">
								<rect x="0" y="0" width="240" height="150" fill="none"></rect>
							</svg>
							<div class="course-card-inside">
								<h2 style="color: ;" ng-if="course.title">{{course.short_name}}</h2>
								<h1 style="color: ;">{{course.title || course.short_name}}</h1>
							</div>
							<div class="course-card-hover" style="background: ;"></div>
							<div class="course-card-border" style="background: ;"></div>
						</a>
					</li>
					<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="500"  ng-click='addCourse(search_text.course)' ng-if="!(courses | filter:search_text.course).length">
						<a class="course-card" thr-click='selectCourse(course)'>
							<svg width="240px" height="150px" viewBox="0 0 240 150">
								<rect x="0" y="0" width="240" height="150" fill="none"></rect>
							</svg>
							<div class="course-card-inside">
								<h2 class="full-x" style="color: ;">Add A New Course:</h2>
								<h1 style="color: ;">{{search_text.course}}</h1>
							</div>
							<div class="course-card-hover" style="background: ;"></div>
							<div class="course-card-border" style="background: ;"></div>
						</a>
					</li>
				</ul>
			</div>

			<ul id="grade-options" ng-show='!search_text.course || search_text.course.length == 0'>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1000">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('A')" value="A"><label>A</label></input>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1125" ng-if="user.isCutOffGrade">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('B+')" value="A" />
					<label>B+</label>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1250">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('B')" value="B" />
					<label>B</label>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1375" ng-if="user.isCutOffGrade">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('B-')" value="A" />
					<label>B-</label>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1500">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('C')" value="C" />
					<label>C</label>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="1750">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('D')" value="D" />
					<label>D</label>
				</li>
				<li class="opacity-0" class-on-load="u-slideInLeft" class-on-load-delay="2000">
					<svg viewBox="0 0 100 100">
						<rect fill="none" x="0" y="0" width="100" height="100"></rect>
					</svg>
					<input name="grade" type="radio" thr-click="setGrade('F')" value="F" />
					<label>F</label>
				</li>
			</ul>

			<ul class="course-input-form">
				<li class="opacity-0" class-on-load="u-bounceInUp-subtle" class-on-load-delay="2250">
					<h1>Units</h1>
					<input type="number" ng-model="course.units" placeholder="{{user.defaultCourseUnits}}" min="1" />
				</li>
				<li class="opacity-0" class-on-load="u-bounceInUp-subtle" class-on-load-delay="2500">
					<h1>Year</h1>
					<input type="number" ng-model="course.year" placeholder="{{user.defaultYear}}" min="1"/>
				</li>
				<li class="opacity-0" class-on-load="u-bounceInUp-subtle" class-on-load-delay="2750">
					<h1>Semester</h1>
					<input type="text" ng-model="course.semester" placeholder="{{user.defaultSeason}}" />
				</li>
			</ul>

			<button ng-show='!search_text.course || search_text.course.length == 0' ng-click='submitCourse()' class="opacity-0" class-on-load="u-bounceInUp-subtle" class-on-load-delay="3500">Submit</button>
		</section>
	</ion-content>
</ion-modal-view>