@import '../../../../shared/css/scss/partials/mixin';

.splash-landing:not(.mobile) {
	@media screen and (min-width: 1106px) {
		.splash-toast {
			h1 {
				padding: 0 15px !important;
			}
		}
	}
	@media screen and (min-width: 860px) {
		.splash-burger {
			margin: 0 15px 0 0!important;
			&.powerups-link {
				right: 57px;
				top: 14px;
			}
		}
		.splash-hero-nav {
			&.desktop {
				@include flex-important;
			}
			&.mobile {
				display: none!important;
			}
		}
		.splash-header {
			height: 70px;
			.splash-nav-link {
				padding: 25px 15px;
				&:not(.highlight) {
					width: 165px;
				}
			}
			div[class*="ugrid-"] {
				@include flex;
			}
			.splash-logo {
				height: 100%!important;
				margin: 0 15px!important;
			}
			.right {
				@include flex;
				@include flex-center-vertical;
				@include center-y;
				right: 0;
				.splash-nav-link {
					@include reset-pos;
					right: auto;
					height: auto;
				}
			}
		}
		.splash-sidebar-full {
			.splash-sidebar-menu {
				header {
					height: 70px;
					.splash-logo {
						height: 100%!important;
						margin: 0 15px!important;
					}
				}
			}
		}
		> section {
			&.splash-hero {
				.splash-header {
					height: 70px!important;
				}
			}
		}
	}
	@media screen and (min-width: 768px) {
		.onboarding-success {
			h1 {
				font-size: 48px;
			}
		}
		#next-steps {
			.next-device {
				@include flex;
			}
			.next-content {
				width: calc(100% - 320px);
				padding-left: 15px;
			}
		}
		#splash-hero-nav-mobile {
			display: none!important;
		}
		.splash-toast {
			@include flex-center;
			padding: 30px 15px 15px;
			margin-top: -15px!important;
			text-align: center;
			a {
				top: calc(50% + 7.5px);
    			margin-top: -25px;
			}
			h1 {
				padding: 0 15px 15px !important;
				font-size: 28px!important;
			}
			button {
				@include round;
				margin: 0 15px;
				width: auto;
				padding: 15px 30px!important;
			}
		}
		.splash-header.active {
			@include prefix(transition, all .3s ease-in-out, webkit moz ms o);
			@include opacity(1);
			@include prefix(transform, translateY(0), webkit moz ms o);
			@include animation-name(toast-pop);
			@include animation-duration(.4s);
			@include animation-iteration-count(1);
			margin-top: 94px;
		}
		.splash-footer-link {
			.backpack, .support {
				display: block;
				+ .splash-footer-icon {
					@include center-x;
					top: 19%;
					width: 36px;
					height: 36px;
					stroke-width: 10px;
				}
			}
		}
		.splash-sidebar-full {
			.splash-sidebar-menu {
				width: calc(100% / 3);
				position: relative;
				z-index: 10;
			}
			.splash-sidebar-content {
				@include flex;
				position: relative;
				z-index: 9;
			}
		}
		> section {
			button {
				max-width: 300px;
			}
			> header {
				height: 25%!important;
				h1 {
					font-size: 36px;
					font-weight: 600;
					text-transform: none!important;
				}
			}
			&.splash-hero {
				.splash-hero-markers {
					.splash-hero-marker {
						&:last-child {
							display: none;
						}
						&:not(.splash-hero-marker-mobile) {
							display: block;
						}
						&:nth-child(1) {
							@include prefix(animation-delay, 1700ms, webkit moz ms o);
						}
						&.first {
							@include prefix(transition-delay, 3500ms, webkit moz ms o);
							* {
								@include prefix(transition-delay, 3500ms, webkit moz ms o);
							}
						}
						&.not-first {
							@include prefix(transition-delay, 3500ms, webkit moz ms o);
							@include opacity(.5);
						}
					}
				}
				.coach-scroll {
					bottom: -70px;
				}
				.coach-help {
					&.coach-help-desktop {
						display: block!important;
						&.hide {
							display: none!important;
						}
					}
					&.coach-help-mobile {
						display: none!important;
					}
				}
				.splash-hero-nav {
					top: 15px;
					right: 72px;
					&.desktop {
						@include flex;
					}
					&.mobile {
						display: none;
					}
					> div:first-child, > div:first-child + h2 {
						@include flex;
					}
				}
				.splash-device {
					display: block!important;
				}
				.splash-guru-head {
					.coach-fill {
						top: 80px;
						right: -180px;
					}
				}
				.splash-hero-content {
					.splash-adlib {
						&.animate {
							@include prefix(animation, splash-adlib 500ms ease-in 200ms 1 forwards, webkit moz ms o);
							z-index: 1;
						}
						h1 {
							font-size: 40px;
						}
						.splash-mobile-cta {
							display: none;
						}
						ul {
							max-width: calc(172px * 4 + 30px);
							padding: 15px;
							margin: 0 auto 15px;
							li {
								width: 25%;
								max-width: 172px;
								padding: 15px;
								&:nth-child(7), &:nth-child(8) {
									display: block;
								}
							}
						}
					}
				}
			}
			&#splash-projector {
				.splash-projector-message {
					&.desktop {
						display: block;
					}
					&.mobile {
						display: none;
					}
				}
				.projector-content {
					padding: 15px;
				}
			}
			.splash-school-search {
				.splash-zoom {
					display: none;
				}
				> header {
					display: none!important;
				}
				.splash-school-search-form {
					display: block;
				}
				.splash-map-stats {
					@include flex;
					@include flex-center-vertical;
					@include prefix(justify-content, flex-end, webkit);
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100%;
					> * {
						h1 {
							font-size: 36px;
							font-weight: 600;
						}
						h4 {
							span {
								display: block!important;
								&:first-child {
									font-size: 18px;
								}
								&:last-child {
									font-size: 24px;
								}
							}
						}
						h2 {
							font-size: 28px;
							font-weight: 700;
						}
					}
					> div {
						padding: 15px;
					}
					> ul {
						padding: 7.5px;
						li {
							padding: 7.5px;
						}
					}
				}
			}
			.splash-postit {
				> header {
					height: auto!important;
					h1 {
						padding-top: 0;
						font-size: 36px;
					}
				}
				.main {
					.mobile-postits {
						display: none;
					}
					.desktop-postit-list {
						@include flex;
						li {
							width: calc(100% / 3);
							height: 50%;
						}
					}
				}
			}
			#how-it-works {
				.main {
					ul {
						li {
							&:nth-child(1) {
								> div {
									@include prefix(transform, rotate(5deg) translate(30px, 20px), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
							&:nth-child(2) {
								z-index: 10;
								> div {
									@include prefix(transform, rotate(-7deg) translate(-25px, 60px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										@include rotate(45);
										left: 22.5px;
										top: -15px;
									}
									&:nth-child(2) {
										@include rotate(-45);
										top: -15px;
										right: 22.5px;
									}
									&.animate {
										&:nth-child(1) {
											@include animation-name(tape-1);
										}
										&:nth-child(2) {
											@include animation-name(tape-2);
											@include animation-delay(.25s);
										}
									}
								}
							}
							&:nth-child(3) {
								> div {
									@include prefix(transform, rotate(7deg) translate(0px, 20px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										display: none;
									}
									&:nth-child(2) {
										@include rotate(90);
										top: -35px;
										left: 50%;
										margin-left: -15px;
									}
									&.animate {
										&:nth-child(2) {
											@include animation-name(tape-3);
											@include animation-delay(.5s);
										}
									}
								}
							}
							&:nth-child(4) {
								> div {
									@include prefix(transform, rotate(-2deg) translate(-20px, 5px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										@include rotate(45);
										left: 22.5px;
										top: -15px;
									}
									&:nth-child(2) {
										@include rotate(45);
										bottom: -15px;
										right: 22.5px;
									}
									&.animate {
										&:nth-child(1) {
											@include animation-name(tape-1);
											@include animation-delay(.5s);
										}
										&:nth-child(2) {
											@include animation-name(tape-4);
											@include animation-delay(.75s);
										}
									}
								}
							}
							&:nth-child(5) {
								> div {
									@include prefix(transform, rotate(20deg) translate(-10px, -10px), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
							&:nth-child(6) {
								> div {
									@include prefix(transform, rotate(-5deg), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
						}
					}
				}
			}
			#become-guru {
				.main {
					ul {
						li {
							&:nth-child(1) {
								> div {
									@include prefix(transform, rotate(7deg) translate(0px, 40px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										display: none;
									}
									&:nth-child(2) {
										@include rotate(90);
										top: -35px;
										left: 50%;
										margin-left: -15px;
									}
									&.animate {
										&:nth-child(2) {
											@include animation-name(tape-3);
											@include animation-delay(.5s);
										}
									}
								}
							}
							&:nth-child(2) {
								> div {
									@include prefix(transform, rotate(-7deg) translate(-25px, 60px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										@include rotate(45);
										left: 22.5px;
										top: -15px;
									}
									&:nth-child(2) {
										@include rotate(-45);
										top: -20px;
										right: 30px;
									}
									&.animate {
										&:nth-child(1) {
											@include animation-name(tape-1);
										}
										&:nth-child(2) {
											@include animation-name(tape-2);
											@include animation-delay(.25s);
										}
									}
								}
							}
							&:nth-child(3) {
								> div {
									@include prefix(transform, rotate(5deg) translate(30px, 40px), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
							&:nth-child(4) {
								> div {
									@include prefix(transform, rotate(20deg) translate(-10px, 10px), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
							&:nth-child(5) {
								> div {
									@include prefix(transform, rotate(5deg) translate(0px, 20px), webkit moz ms o);
								}
								.tape {
									display: none;
								}
							}
							&:nth-child(6) {
								> div {
									@include prefix(transform, rotate(-2deg) translate(-20px, 15px), webkit moz ms o);
								}
								.tape {
									&:nth-child(1) {
										@include rotate(45);
										left: 22.5px;
										top: -15px;
									}
									&:nth-child(2) {
										@include rotate(45);
										bottom: -15px;
										right: 22.5px;
									}
									&.animate {
										&:nth-child(1) {
											@include animation-name(tape-1);
											@include animation-delay(.5s);
										}
										&:nth-child(2) {
											@include animation-name(tape-4);
											@include animation-delay(.75s);
										}
									}
								}
							}
						}
					}
				}
			}
			&#splash-footer {
				padding: 36px 15px 72px;
				ul {
					li {
						font-size: 36px;
						&:first-child, &:last-child {
							width: calc(100% - 84px / 2);
						}
						&:nth-child(2) {
							width: 84px;
							height: 84px;
						}
						svg {
							width: 72px;
							height: 72px;
						}
					}
				}
			}
		}
		#cta-modal-team {
			ul {
				height:100% !important;
			}
		}
		#splash-school {
			.splash-university-content {
				.school-id-card {
					@include scale(1.5);
				}
			}
		}
		#splash-access {
			.splash-access-content {
				.splash-access-code {
					max-width: 652px;
					height: 119px;
					font-size: 48px;
					padding-top: 0;
					padding-bottom: 10px;
					+ div {
						.splash-access-bubble {
							&.mobile {
								display: none;
							}
							&.desktop {
								display: block;
							}
						}
					}
				}
			}
		}
		#splash-signup {
			.splash-desktop-buttons {
				@include flex;
			}
			.splash-content {
				padding: 150px 30px 15px;
			}
			.splash-signup-buttons, .splash-signup-buttons-mobile {
				display: none;
			}
			fieldset {
				svg {
					@include svg-stroke(white, 4);
					top: 5px;
					width: 50px;
					height: 50px;
				}
				.form-error {
					margin-top: -25px; //to be close to the input form
					background: $crimson;
					color: white!important;
					padding: 3px 5px;
					border-radius: 2px;
					margin-top: -25px;
					font-size: 14px;
				}
			}
			.splash-login-content {
				.splash-login-inside {
					fieldset {
						&:not(:first-child) {
							margin-top: 25px;
						}
					}
				}
			}
			.splash-signup-content {
				.splash-signup-inside {
					.splash-signup-form {
						width: calc(100% - 240px);
						height: auto!important;
						fieldset {
							margin-left: 30px;
							&:not(:first-child) {
								margin-top: 25px;
							}
						}
					}
				}
			}
		}
		#splash-demographic {
			ul {
				margin-top: 60px!important;
				max-width: 100%!important;
				li {
					padding: 15px;
					a {
						width: 150px;
						height: 150px;
						font-size: 20px!important;
					}
				}
				&.demo-3 {
					margin-top: 0!important;
					li {
						a {
							width: 200px;
							height: 200px;
							padding: 15px;
							font-size: 24px!important;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 414px) {
		#splash-school {
			.splash-university-content {
				.school-id-card {
					@include scale(1.2);
				}
			}
		}
	}
}

.splash-landing.mobile {
	&.max-414 {
		> section {
			&.splash-hero {
				.splash-hero-content {
					margin-top: -15px;
					margin-bottom: 0;
					.splash-guru-head {
						.splash-logo-guru {
							svg {
								@include prefix(transform, scale(.8), webkit moz ms o);
							}
						}
					}
					.splash-adlib {
						margin-top: -10px;
						ul {
							margin: -10px 0 5px;
						}
					}
				}
			}
			&#splash-projector {
				.header-swiper-front {
					padding: 20% 0 30%;
				}
			}
		}
	}
	&.max-360 {
		> section {
			&.splash-hero {
				.splash-hero-device {
					@include prefix(transform, scale(.9), webkit moz ms o);
				}
				.splash-hero-content {
					@include prefix(transform, scale(.9), webkit moz ms o);
					.splash-adlib {
						h1 {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	&.max-768 {
		button:not([class*="btn-ghost"]) {
			font-size: 22px!important;
		}
		.splash-header {
			.right {
				padding-right: 40px;
			}
		}
		> section {
			&.splash-hero {
				.splash-mobile-cta {
					display: block!important;
				}
				.splash-hero-markers {
					.splash-hero-marker {
						&:first-child {
							right: 50%;
							margin-right: -131px;
							bottom: 65px;
						}
					}
				}
				.splash-hero-progress {
					display: none!important;
				}
				.splash-hero-content {
					.splash-adlib {
						h1 {
							line-height: 1.5;
						}
						ul {
							@include prefix(flex-direction, column, wekit moz ms o);
							height: 250px;
						}
					}
				}
			}
			&#splash-projector {
				.swiper-button-next, .swiper-button-prev, .swiper-front-gallery-thumbs#swiper-gallery-nav {
					@include opacity(0);
					z-index: -9;
					visibility: hidden;
				}
				.projector-content {
				    left: 5%;
				    width: 90%;
				}
			}
			.splash-school-search {
				header {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					z-index: 2;
					background: -moz-linear-gradient(top, rgba($slate,1) 0%, rgba($slate,0.9) 100%);
					background: -webkit-linear-gradient(top, rgba($slate,1) 0%, rgba($slate,0.9) 100%);
					background: linear-gradient(to bottom, rgba($slate,1) 0%, rgba($slate,0.9) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$slate', endColorstr='#e640484b',GradientType=0 );
					h1 {
						text-align: center;
						width: 100%;
						text-transform: none;
					}
				}
				.splash-zoom {
					@include tri-down(15, rgba(lighten($slate, 15%),.9), 0, 10px 15px);
					@include center-x;
					top: 40px;
					z-index: 2;
					font-size: 16px;
					font-weight: 600;
					text-transform: uppercase;
				}
				.splash-map-stats {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 20px 0 0;
					> div {
						display: none;
					}
					> ul {
						padding: 7.5px;
						li {
							width: 50%;
							padding: 7.5px;
							text-align: center;
							h4 {
								font-size: 12px;
								span:first-child {
									display: none!important;
								}
							}
							h2 {
								font-size: 18px;
								font-weight: 600;
							}
						}
					}
				}
			}
			.splash-postit {
				> header {
					display: none!important;
				}
			}
		}
		#intercom-conversation {
			width: 100%!important;
			position: fixed!important;
		}
		#splash-signup {
			.btn-ghost bg-white {
				padding-left: 20px;
				padding-right: 20px;
				white-space: nowrap;
			}
			.btn-splash-login {
				display: none;
			}
			.btn-login-fb {
				display: none;
			}
			.splash-projector-guru {
				@include flex-important;
			}
			.splash-signup-buttons, .splash-signup-buttons-mobile {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				@include flex;
				@include flex-wrap;
				@include prefix(transition, all 500ms ease-in-out, webkit moz ms o);
				li {
					width: 50%;
					button {
						font-size: 16px!important;
						font-weight: 600;
						line-height: 1.2;
						height: 50px;
					}
				}
			}
			.splash-login-content {
				.splash-login-inside {
				    padding: 0 15px;
					fieldset {
						&:not(:first-child) {
							margin-top: 15px;
						}
					}
				}
				.splash-desktop-buttons {
					display: none;
				}
			}
			.splash-signup-content {
				.splash-signup-inside {
					@include prefix(align-items, flex-end!important, webkit);
					@include prefix(align-content, flex-end!important, webkit);
					@include flex-wrap;
					padding-top: 0!important;
					height: 100%;
					padding-bottom: 30px;
					.splash-signup-form {
						width: 100%;
						margin-top: 15px;
						fieldset {
							margin-left: 15px!important;
							&:not(:first-child) {
								margin-top: 15px;
							}
						}
					}
				}
			}
		}
	}
	&.max-320 {
		> section {
			&.splash-hero {
				.splash-hero-device {
					@include prefix(transform, scale(.8), webkit moz ms o);
				}
				.splash-hero-content {
					@include prefix(transform, scale(.7), webkit moz ms o);
					.splash-adlib h1 {
						line-height: 2!important;
					}
				}
			}
			&#splash-projector {
				.splash-projector-message {
					padding-top: 45px;
				}
			}
			.splash-school-search {
				header {
					h1 {
						font-size: 18px;
					}
				}
			}
		}
		.splash-projector-guru {
			@include prefix(transform, scale(0.75) translateY(-60%), webkit moz ms o);
		}
	}
}
